[2019-11-09 17:27] mcollina commented on #1930
I’m definitely +1 on this

[2019-11-09 17:53] hassler commented on #1877
Just a comment.

SSE itself is easy. cleanup in fastify when client closes the connection, is not. I resorted to using node http like

[code]

[2019-11-10 04:31] ekoeryanto commented on #1877
this is my current work with sse on fastify,
@hassler, I am confused where to put the _cleanup_.

`reply.res.on('close'` or `request.req.on('close'` ?

[code]

[2019-11-10 15:31] StarpTech commented on #1877
@ekoeryanto @hassler this issue is not about to discuss implementation. Please open a separate issue.

[2019-11-10 15:51] StarpTech commented on #1877
According to https://github.com/lolo32/fastify-sse/issues/12 I didn't get any feedback from the maintainer. It also seems there is a need for SSE. Let's create our own package. We can use https://github.com/trade-platform/fastify-sse-plugin or https://www.npmjs.com/package/fastify-sse as base.

[2019-11-10 23:03] Eomm opened #1931 "Check benchmark on comment"
## 🚀 Feature Proposal

It would be useful to run the benchmark in some branches/PR.

## Motivation

Check in a well known and shared environment if we have more or less performance.

## Example

Maybe a GH action that listens for a defined comment and posts the results in the PR.

The code and the configuration are already defined in this repo:
https://github.com/fastify/benchmarks

It should be p

[2019-11-11 19:40] Svjard opened #1932 "Missing version field in RouteShorthandOptions"
## 🐛 Bug Report

Missing the `version` field for Route options as specified in the documentation at https://www.fastify.io/docs/latest/Routes/

## To Reproduce

Create a route in typescript with the version field and typescript will throw an error: ... 'version' does not exist in type 'RouteOptions<Server, IncomingMessage, ServerResponse, DefaultQuery, DefaultParams, DefaultHeaders, any>'

[code]

[2019-11-11 22:45] ilaif opened #1934 "Allow replacing fast-json-stringify with another output serializer"
## 🚀 Feature Proposal

Allow replacing `fast-json-stringify` with another output serializer through a Fastify API. Similar to `fastify.setSchemaCompiler` we can have `fastify.setResponseSerializer`.

## Motivation

1. Need to wait for Fastify release to get a newer version of `fastify-json-stringify`.
2. I cannot use another serializer. For example, since I have a few added keywords to my `Ajv` in

[2019-11-12 08:51] mcollina commented on #1934
Let's go through things:

1. You can use package alias https://github.com/npm/rfcs/blob/latest/implemented/0001-package-aliases.md that landed in npm 6.9.0 (unfortunately this is not well documented in npm). Yarn supports them as well.

2. I would recommend against validating your responses before sending them. It's a lot of CPU work to validate a response, and you do not need it to protect agains

[2019-11-12 11:45] YouCanKeepSilence opened #1936 "Unnecessary json stringify by content-type"
## 🐛 Bug Report

When i set Content-Type 'application/json' in header and my payload is json-string the framework uses stringify to convert payload to string. So as result i get a twice stringified string.

## To Reproduce

For example: I got json string from Redis and try to send it with Content-Type 'application/json' header, after it sent i get  twice stringified json string in response.

## Ex

[2019-11-12 12:23] delvedor commented on #1936
Hello! You are right!
Would you like to send a pr to fix this?

[2019-11-12 12:27] delvedor commented on #1932
Hello! You are right!
Would you like to send a pr to fix this?

[2019-11-12 12:30] delvedor commented on #1931
It's a nice idea, but I fear that we would get inconsistent results.
At the moment the official benchmarks are taken on a physical machine *(CPU-optimized server (Ubuntu 18.04.2 x64 | 8 vCPUs | 32GB | Node 10.15)* to avoid problems related to shared environments.

[2019-11-12 12:48] RafaelGSS commented on #1931
I think that is a nice idea too. Maybe the inconsistent results can be better explained to the community and provide us a better audit

[2019-11-12 13:20] YouCanKeepSilence commented on #1936
Yes, i created one #1937

[2019-11-12 13:43] Svjard commented on #1932
Was PR #1933, good to close this now.

[2019-11-12 13:44] Eomm commented on #1931
I'm working to create a GH action in order to try and check the results.
The target would be to check if there is some drop in performance (ie: if the start point is 1000 req/sec in master, and the PR is 900 res/sec it is worth to check deeper)

The server would be a virtual server with 2-core CPU and 7 GB of RAM memory [ref](https://help.github.com/en/actions/automating-your-workflow-with-github-

[2019-11-12 13:45] #1932 closed

[2019-11-13 17:23] joanna81 commented on #1932
12.11.2019 14:45 "Manuel Spigolon" <notifications@github.com> napisał(a):

[2019-11-13 21:45] Ethan-Arrowood commented on #1523
I believe #1569 closes this 👍

[2019-11-13 21:45] #1523 closed

[2019-11-14 00:22] Ethan-Arrowood opened #1939 "Use `next` types in V2"
I see a lot of PR's come through with small improvements to the current V2; however, these will eventually get replaced in V3 with #1569. Is there a way we can make the new types available to V2 users as an 'opt-in' feature until V3 is released? I had two ideas:
1. Ship both types (in V2 and allow the user to specify which one to use via some configuration. (more experimentation needed how to impl

[2019-11-14 02:54] Ethan-Arrowood commented on #1712
In case anyone is tracking this issue - started working on the documentation tonight! Really excited to finally get it all down. Here is a snippet of what I have so far:

---

## TypeScript

The Fastify framework is written in plain JavaScript and as such type definitions are not as easy to maintain; however, since version 2 and beyond, maintainers and contributors have put in a great effort to im

[2019-11-14 10:24] kamleshwhite opened #1940 "Max requests per sec allowed in fastify"
Hi,

Today my server got down as I got 429: Too many requests errror.
I searched but didn't find out any solution to increase the limit.
Is this issue with fastify?

[2019-11-14 10:26] mcollina commented on #1939
@Ethan-Arrowood I would just focus on getting v3 out of the door as soon as possible instead of trying to ship them separately. I'd love to target January to drop Node 6 and 8, and this seems feasible - the biggest breaking change are the new types.

I'm not too worried on missing properties on the new types: those will get noticed and added by the community really quickly after we launch.

[2019-11-14 10:27] mcollina commented on #1940
Fastify does not ship with 429 support by default. It's likely due to some other module/plugin that you are using. Can you post a bit of example code?
I'm moving this to the help repo

[2019-11-14 13:24] RafaelGSS commented on #1712
Good job! Really nice @Ethan-Arrowood.

I have one doubt:

why await a non-promise response?

[2019-11-14 14:27] firasdib commented on #1927
@RafaelGSS I copied the one on the page I linked

[2019-11-14 15:44] Ethan-Arrowood commented on #1712
Haha my mistake! I think I originally had just `reply.send` but then switched to `async/await` and forgot I only had to return from the async function instead of using the method. Whoops 🤷‍♀️

[2019-11-14 16:45] Eomm commented on #1934
I think we can archive this feature for v3

I'm working in a refact of the validation and serialization

[2019-11-14 16:52] Eomm commented on #1927
Are you saying that the examples in docs are wrong?

Would you like to send a pr to fix them? 💪🏻

[2019-11-14 22:17] Neur0plasticity opened #1943 "Invalid QueryString validation"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-11-14 22:20] mcollina commented on #1943
You are missing the `required` part in your schema. I'd recommend to use https://www.npmjs.com/package/fluent-schema to generate it.

[2019-11-14 22:20] #1943 closed

[2019-11-15 10:22] mcollina commented on #1877
Would you mind to ask npm to transfer the module to us? https://www.npmjs.com/policies/disputes < feel free to add me in cc.
Il 10 nov 2019, 15:51 +0000, Dustin Deus <notifications@github.com>, ha scritto:

[2019-11-16 18:51] ilaif commented on #1934
Cool, sounds good. LMK if I can be of help

[2019-11-18 02:46] Ethan-Arrowood commented on #1712
https://github.com/Ethan-Arrowood/fastify/blob/typescript-docs/docs/TypeScript.md#getting-started

Holding off on the PR until I get more done!

[2019-11-21 19:12] #1920 closed

[2019-11-21 20:06] #1939 closed

[2019-11-22 02:25] eliecer2000 opened #1949 "The ajv-error add-in does not work from my code."
I have integrated the ajv-error plugin into my project, the strange thing is that the code provided by the documentation only works within the fastify library by editing the package downloaded from Fastify from npm, I add the same piece of code to my project and it does not work .

This is the file I edit to make it work: [here](https://github.com/fastify/fastify/blob/master/lib/validation.js)

It

[2019-11-22 10:50] shanurrahman commented on #242
[code]

[2019-11-22 13:57] eliecer2000 commented on #1949
Excellent, thank you very much it worked perfectly.

[2019-11-22 13:57] #1949 closed

[2019-11-24 13:59] davidmarkclements opened #1952 "move away from the .io TLD"
The UK is an aggressor in the Chagos Islands, it forcefully relocated residents in late 60's early 70's and is now ignoring a UN order return the islands to Mauritius - all the while it is profiting from the .io TLD.

Having talked it over with @mcollina he's asked me to open an issue proposing that we move away from the .io TLD , until/unless the Chagos Islands are restored.

http://www.thedarksi

[2019-11-24 14:16] lmammino commented on #1952
Do we own any alternative domain already? Also we would still need to own and use the .io as a redirect for a while, IMHO...

Finally, I wonder how this might affect Search engine ranking...

[2019-11-24 14:19] davidmarkclements commented on #1952
I believe Matteo has fastify.dev - totally agree on redirect, probably just wait for the io to expire (or renew if situation resolves). As for SEO I’d be willing to write an article about the move for both fastify and pino (which would hopefully be promoted by nf and the foundation even) to at least partially mitigate the temporary redirect situation

[2019-11-24 15:16] mcollina commented on #1952
Currently fastify.dev is a redirect to fastify.io.

So I think we should:

1. have fastify.dev return the full site
2. flip the redirect from the .io domain to the .dev domain.

@lmammino can you check what I’d have to do to get this done?

[2019-11-24 17:37] delvedor commented on #1952
We should update all the URLs also in our social accounts and blog posts.
Regarding the redirect, I fear we'll need to keep `.io` up and running for a while since we have always used it and now you can find it in many places out of our control.

[2019-11-24 17:40] delvedor commented on #1877
Any news on this one?

[2019-11-24 18:53] StarpTech commented on #1877
@delvedor currently no time to work on it.

[2019-11-24 21:06] lmammino commented on #1952
@mcollina, I just had a look now.

Both domains are already available in our domain management and CDN system, so the switch should be just a matter of updating the conf for both domains and updating the build pipeline to use the API KEY of the new domain.

If we are all happy to proceed this way I can do the switch next week.

[2019-11-24 22:24] mcollina commented on #1952
Are there any objections to move to the .dev domain?

[2019-11-24 22:26] jsumners commented on #1952
Same response on Pino applies here https://github.com/pinojs/pino/issues/746#issuecomment-557934502

[2019-11-25 04:53] fralonra opened #1955 "How to avoid duplicated decorators?"
Decorators in different plugins may conflict if they happen to have the same property name in the same scope. For example, if both `plugin-a` and `plugin-b` decorates a property named `c`, only the the first decorator would success.

Is there a way to avoid this issue gracefully?

[2019-11-25 06:07] mcollina commented on #1955
You can’t. I think a better way is to create two plugins to wrap the two parts of your application that need the decorators.

[2019-11-25 11:32] delvedor commented on #1952
cc @fastify/fastify

[2019-11-25 12:19] RafaelGSS commented on #1955
Override in this case sounds good (if already don't do it)

[2019-11-25 17:51] Eomm commented on #1955
The key point is that we don't know if the user is aware or not that a plugin is attaching a decorator to the fastify instance, so the error during development "implement" the user knowledge I think.

Because if we override. plugin-a could be different from plugin-b and add bugs because we think to use the decorator of plugin-a but instead is plugin-b 🤯

[2019-11-25 18:00] RafaelGSS commented on #1955
Yep, display a warning message is nice too

[2019-11-25 18:15] Ethan-Arrowood commented on #1952
I support moving to .dev and redirecting from .io

From my brief time working in web dev, I'm pretty certain that applying a domain management level redirect will have no impact on our SEO. As long as everything redirects correctly (as in we don't create dead links) we should be okay 😁

[2019-11-26 01:45] fralonra commented on #1955
Can we recommend plugin developers to provide an additional option in their plugins if they are using decorators? This option will define the actual property name that attached to the application. So that users can change the property name if they conflict with other plugins.

[2019-11-26 11:36] RafaelGSS commented on #1955
Is a good approach too.

I think that adding to the Plugins section in docs a **note** for it, is needed too.

[2019-11-27 19:09] lmammino commented on #1952
Did we reach an agreement here?

i was thinking about the following possible plan:

  - step 1: Remove the redirect from fastify.dev and publish all the content also on fastify.dev
  - step 2: Enable fastify.io to redirect to fastify.dev

This approach should allow us to do the transition with no downtime 🤞

What do you think?

[2019-11-27 20:07] firasdib commented on #1927
@Eomm I think the typescript types are wrong, not the docs. I don't know for sure, but please do confirm if it works for you.

[2019-11-28 16:38] weiliddat opened #1960 "Schema and route declaration order conflict."
## 🐛 Bug Report

Initially opened at https://github.com/fastify/fastify-cors/issues/47 because upgrading the cors plugin caused shared schemas to fail. I looped through the debugger many times and I think I found the issue.

This was because the `fastify-cors` plugin starting from version 2.2.0 added a default line that hide OPTIONS routes from swagger. [Relevant commit](https://github.com/fastify

[2019-11-28 16:40] mcollina commented on #1960
Thanks for reporting! This looks like a bug. It seems you have done a significant amount of research - would you be able to send a PR to fix this here?

[2019-11-28 16:48] weiliddat commented on #1960
I would like to but I need some help in finding out whether it's a problem of plugin encapsulation, order of route declaration, or schema compilation.

I can't seem to figure it out past that the schema compiler is not being able to get the shared schemas in this case.

[2019-11-28 19:41] Ethan-Arrowood commented on #1668
Hi all! Revisiting this issue hoping I can make some more progress.
- I'm adding an example to my in-progress documentation that demonstrates the external `.json` schemas being transformed into TS interfaces which are then imported into the user's project manually. (This solves and documents one of more popular use cases, but should not be considered a true solution as it doesn't solve the inline

[2019-11-29 06:04] oxyii commented on #749
for search engines: [nullable](https://github.com/fastify/fast-json-stringify#nullable) looks better solution for this

[2019-11-29 07:40] mcollina commented on #1960
It's definitely a problem of the encapsulation of the schemas.

[2019-11-29 07:43] mcollina commented on #1668
This is an awesome update!

[2019-12-01 18:27] ReTWi opened #1962 "Eslint error for async instance"
Eslint gives error to line "async api":

Steps to reproduce the behavior:
[code]

If i change to:
[code]

Error will be gone, but fastify will not run :(

[2019-12-01 19:11] Ethan-Arrowood commented on #1962
You don't return `res.send` just return the payload:
[code]

[2019-12-02 02:07] oxyii commented on #1737
I think fastify can support GET body... e.g. for elasticsearch REST implementation https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html

[2019-12-02 05:46] mcollina commented on #1737
Interesting.. but the above stands. I’d be ok to put it behind an option if somebody would need this.
Il 2 dic 2019, 03:07 +0100, Ruslan Baybekov <notifications@github.com>, ha scritto:

[2019-12-02 07:15] aligator301 commented on #1926
Hi,

When you attempt to make a HTTP2 Push then when you refresh the page very often then it is exceptionally easy to reproduce.

This is a severe bug as it kills the entire server:

`
if (req && req.raw && req.raw.stream && req.raw.stream.pushAllowed) {
        try {
            if (!req.raw.stream.aborted && !req.raw.stream.closed && !req.raw.stream.destroyed) {
                req.raw.stream.pu

[2019-12-02 07:33] mcollina commented on #1926
Great work @aligator301!

@fastify/core I think we should add that as a property of the reply object. What do you think?

[2019-12-02 08:53] ReTWi commented on #1962
@Ethan-Arrowood same error :(

[code]

[2019-12-02 13:24] jsumners commented on #1962
`fastify.register` _either_ accepts an "async function" or a function with the signature `function (fastifyInstance, options, callback) {}`. If you do not supply a function that returns a promise (i.e. an "async function") then you need to invoke the callback.

Please read https://github.com/fastify/fastify/blob/a0ec0e93a1a16af6275de224108daa7344eeb82b/docs/Plugins.md

[2019-12-02 13:24] #1962 closed

[2019-12-02 14:46] firasdib commented on #1927
It seems it stops working when you register plugins/routes. If you use `app.register(myRoutes, { prefix: 'something' });` the typings stop working

[2019-12-02 15:23] Ethan-Arrowood commented on #1927
Just checked out your codesandbox. It is not working because of how you broke up your code. When you define a handler standalone like that you need to specify the types for said handler function. Standalone, the following function is just an anonymous arrow function with parameters `request` and `reply`. TypeScript cannot infer that this function will be used in the Fastify function handler; thus,

[2019-12-02 15:45] firasdib commented on #1927
Thats quite cumbersome. Is there no way to shorten it down, without having to redefine all types?

Having it inline isn’t always optimal, but if there is no other clean solution...

Vänliga hälsningar / Best regards,

Firas Dib

[2019-12-02 17:23] Ethan-Arrowood commented on #1927
This is how TypeScript works. It will infer types, but it needs to be provided the right context. Your `const myHandler` definition provides no type information so there is nothing for TypeScript to infer from.

If you have `strict` enabled in your configuration, technically that definition would be invalid as TypeScript could not be certain the `query` or `send` parameters exist on the respective

[2019-12-02 21:09] oxyii commented on #1737
@mcollina Unfortunately already [replaced](https://github.com/oxyii/mongoosastic-rest#post-dbcollection_aggregate) with `POST`

[2019-12-03 10:09] borabaloglu opened #1965 "Stripe webhooks rawBody"
Hi all,

I have to use stripe's webhooks. At constructEvent function, rawBody has to be given as a parameter. However I couldn't make it. As far as I know, fastify has no option as "rawBody". I tried to use custom body parser. Here is the code that I used:

[code]

Somehow it works. It successfully does all the jobs but some reason that I can't understand I got an error such as:

```net/http: requ

[2019-12-03 10:33] mcollina commented on #1965
You should not use bodyParser. The body is parsed by fastify internally: https://www.fastify.io/docs/latest/ContentTypeParser

[2019-12-03 10:33] #1965 closed

[2019-12-04 13:14] firasdib commented on #1927
thanks for the clarification

[2019-12-04 13:14] #1927 closed

[2019-12-05 03:34] paulogr opened #1967 "Questioin: Register plugin inside a service"
Hello guys, I'm using fastify for a couple of weeks now and have some doubt I want to share with you.

Bellow diagram found at docs Getting Started page I understand I can register my own plugins on service A.

[code]
I tried to accomplish this the bellow way but got the error: `Cannot read property 'get' of undefined`, in other words, the namespace `platforms` are not defined on fastify instance.

[2019-12-05 08:20] mcollina commented on #1967
You should use fastify-plugin and register it only inside service A. fastify-plugin allow you to skip one level of encapsulation.

[2019-12-05 08:20] #1967 closed

[2019-12-08 10:25] mcollina opened #1969 "Remove azure pipelines."
I propose we remove azure pipelines and we just use Github Actions instead.

Anybody objects? cc @fastify/fastify

[2019-12-08 13:10] jsumners commented on #1969
![tenor](https://user-images.githubusercontent.com/321201/70389789-28e16080-1992-11ea-81af-747140703454.gif)

[2019-12-08 15:08] pc-jedi opened #1970 "new scope for fastify plugin"
## 💬 Questions and Help

I try to encapsule the rate-limit plugin to its own fastify instance.

[code]

## Expected behavior

Only the routes `/limit1` and `/limit2` should have the rate-limit plugin "attached".
But currently the route `/broken` is also limited by the rate-limiter, while the `/` is without any rate-limit.

As far as I understood the `.register` function it shall gave you a new sco

[2019-12-08 21:06] mcollina commented on #1970
I’ve transfered the issue on the fastify repo as this looks like a bug in the “onRoute” logic, which seems not encapsulated.

[2019-12-09 04:44] rungta08 commented on #426
How to give a custom validation error format???

[2019-12-09 08:25] delvedor commented on #1970
Confirmed, `onRoute` is not encapsulated:
https://github.com/fastify/fastify/blob/9b53f9a554514f0555da4bf2e2ad5126df4fcbeb/lib/hooks.js#L48-L59

Also `onClose` and `onRegister` are not encapsulated.
For `onClose` it's fine, but probably `onRegister` should be encapsulated as well.  What do you think?

[2019-12-09 09:14] delvedor commented on #1970
Hello! I've opened https://github.com/fastify/fastify/pull/1971 with a fix for this issue. Unfortunately, this will be a breaking change so that the fix will land only in v3.

[2019-12-09 09:21] delvedor opened #1972 "Drop support for EOL Node.js versions"
In v3 we will drop the support for Node.js v6 and v8.
We should do the same for all of our dependencies, `fast-json-stringify`, `find-my-way`, `avvio`...

[2019-12-09 09:23] delvedor opened #1973 "Use Pino v6"
In fastify v3 we will use Pino v6.

[2019-12-09 09:24] delvedor opened #1974 "ESM support"
In Fastify v3 we will have first class ESM support.

[code]

[2019-12-09 09:27] delvedor opened #1975 "Throw an error in case of a hook with the wrong number of parameters."
The code below and the test should be updated accordingly.
https://github.com/fastify/fastify/blob/9b53f9a554514f0555da4bf2e2ad5126df4fcbeb/fastify.js#L369-L378

[2019-12-09 09:30] delvedor opened #1976 "Remove genReqId support from logger options"
The following code and the test should be updated accordingly.

https://github.com/fastify/fastify/blob/9b53f9a554514f0555da4bf2e2ad5126df4fcbeb/fastify.js#L60-L63

[2019-12-09 09:34] delvedor commented on #1976
Closed in https://github.com/fastify/fastify/pull/1750.

[2019-12-09 09:34] #1976 closed

[2019-12-09 09:34] delvedor commented on #1529
Closed in https://github.com/fastify/fastify/pull/1750.

[2019-12-09 09:34] #1529 closed

[2019-12-09 13:40] jsumners commented on #1974
How will this work? ESMs is not synchronous as CJS modules are.

[2019-12-09 13:41] jsumners commented on #1972
Should probably write a bot or something to dump a check list here, or the milestone, for organization modules.

[2019-12-09 13:42] mcollina commented on #1974
See https://github.com/mcollina/avvio/pull/91.
We might be able to ship it even in v2.

[2019-12-09 13:47] jsumners commented on #1974
The core documentation could be improved: https://nodejs.org/dist/latest-v13.x/docs/api/esm.html#esm_code_import_code_expressions

It's very easy to overlook that the example is telling you that `import()` returns a promise. In fact, the whole document is missing a section detailing that ESMs are not synchronous and do not work the same way that CJS modules do. I can tell you that a lot of people

[2019-12-09 19:10] lmammino commented on #1974
Really looking forward to being able to use this feature <3

[2019-12-09 21:27] Ethan-Arrowood commented on #1668
https://gcanti.github.io/io-ts/ this may have what we need for schema typing

[2019-12-10 09:18] theliuk commented on #1975
I'll take it

[2019-12-10 21:04] Eomm commented on #1972
As Christmas present, I will complete [massive-wax](https://github.com/Eomm/massive-wax/tree/first-impl) that let you do these massive tasks to a list of repos:
- clone the project
- edit the project
- open a PR with the changes

example of run:
[code]

[2019-12-10 21:06] Eomm commented on #242
@shanurrahman would you mind publishing a plugin for this code? 💪

[2019-12-10 21:43] Eomm commented on #1926
@mcollina could you elaborate?

I would be really glad to see a snippet like this as a minimal reproducible problem:

[code]

With this code, I get some 404 when I refresh the page 3 click/sec

[2019-12-10 21:46] Eomm commented on #1970
I'm not sure this is a bug since `onRoute` is an application hook [as documented](https://github.com/fastify/fastify/blob/master/docs/Hooks.md#application-hooks):

[2019-12-10 21:50] Eomm commented on #426
Check out here:
https://github.com/fastify/example/tree/master/validation-messages

And right now customizing AJV is even easier:
https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md#ajv-plugins

[2019-12-11 00:47] mrchief opened #1978 "Docs: Highlight role of async in declaring routes"
## 🚀 Feature Proposal

I believe the documentation, especially under "Getting Started" doesn't cover the importance of using `async` keyword in declaring routes.

E.g. consider this snippet from docs

[code]

There is no `await` call in any of the inside functions, so technically, removing `async` should not cause any issues. However, that is not the case. Removing `async` causes multiple problems

[2019-12-11 00:54] mrchief opened #1979 "Docs: Starting your first server section is not clear enough"
## 🚀 Feature Proposal

Under [Getting Started > Your First Server](https://www.fastify.io/docs/v1.13.x/Getting-Started/#your-first-server), it is not clear how to run the example (`node server.js` in this case).

Later on, the docs talk about plugins and rewriting routes as plugins (https://www.fastify.io/docs/v1.13.x/Getting-Started/#your-first-plugin) and then one is introduced to fastify-cli.

[2019-12-11 02:50] RafaelGSS commented on #1978
Well...
[code]

should call `next`. Can show what part of the documentation (with a link) has an error of reproduction?

[2019-12-11 12:30] YouCanKeepSilence commented on #1936
Merged in #1937 MR.

[2019-12-11 12:30] #1936 closed

[2019-12-11 12:58] mcollina commented on #1972
Wooow, awesome. Could you use this to update any file in there?

[2019-12-11 12:59] mcollina commented on #1926
I mean, we might want to add an utility to call pushStream as a decorator in fastify. It can also be a separate plugin

[2019-12-11 13:00] mcollina commented on #1979
Would you like to send a PR on how you'd improve the docs?

[2019-12-11 13:02] mcollina commented on #1978
Plugins should either call the callback or return a promise. Async functions returns a promise. A normal function does not. I'm not exactly sure what you mean from "standard promise behavior", as this seems standard to me.

[2019-12-11 13:15] jsumners commented on #1978
This document does not make it clear why it has opted to use the `async` keyword to create a promise -- https://github.com/fastify/fastify/blob/37fc92d931217e05a80e7c37886a576d3d4e8c3d/docs/Getting-Started.md#your-first-plugin

It merely has an easy to miss link to the route definition documentation which in turn has this section -- https://github.com/fastify/fastify/blob/37fc92d931217e05a80e7c378

[2019-12-11 17:40] Eomm commented on #1972
yes, you can do whatever to any file in the repo (or create new one as well)

[this](https://github.com/Eomm/massive-wax/blob/first-impl/src/processor/greenkeeper.js) is the file the user should create, for example, to add to greenkeeper ignore a module to a list or repo 😂

[2019-12-11 18:30] mrchief commented on #1978
True. Since you're not awaiting anything here, `async` seems redundant. If the intent is to make the handler always return a promise, then it needs to say so explicitly.

By standard behavior, I meant that methods that return a promise can choose to return a resolved value instead of a promise and it would still not break anything. Unless the caller tries to rely on promise semantics and expects t

[2019-12-11 18:32] mrchief commented on #1979
Yes, would love to. I think a few simple additions should do the trick.

[2019-12-11 18:52] mrchief opened #1981 "Docs site truncates text visually"
## 🐛 Bug Report

The docs site doesn't handle breakpoints correctly. As a result, overflowing text is unreadable

![image](https://user-images.githubusercontent.com/781818/70650638-79202300-1c1d-11ea-9774-0e0413de5b42.png)

This issue happens on full screen on a 15in Macbook Pro. To make things worse, horizontal scroll is disabled, so there is really no way to read the content (unless you zoom out

[2019-12-12 00:15] jsumners commented on #1981
The physical size of the display device is irrelevant. Please report the pixel dimensions of the viewport. Use the developer tools in a pop-out window to get the information.

![image](https://user-images.githubusercontent.com/321201/70671583-856ea500-1c4a-11ea-878f-5e3b46ca37db.png)

[2019-12-12 06:43] aligator301 commented on #1926
Hej!

I can reproduce this instantly in my development but so far, cutting it down into a manageable and producible form has proven to be difficult, because it doesn't break! So. I will try to reproduce the error but it may also simultaneously unravel the true cause of the error that kills the server and potentially enlighten me as to how to fix it and why it breaks.

A little insight:

My code is

[2019-12-12 12:58] delvedor commented on #1981
Moving the issue to [`fastify/website`](https://github.com/fastify/website).
cc @lmammino

[2019-12-12 13:10] mcollina commented on #1979
Go ahead and thanks for feedback!

[2019-12-12 13:43] aligator301 commented on #1926
Hi!

I have an update - I have managed to somehow fix the problem... without truely identifying it. However, it seems to be an interesting interaction between the following:

- High load on Fastify
- Fastify Compression Plugin <-- removing this fixed it entirely, now I compress the HTML using zlib "by hand" and have 0 errors
- React DOM RenderToString (SSR) potentially due to AJAX calls back into

[2019-12-12 15:01] theliuk commented on #1975
WIP on #1982, I have to update the docs.

[2019-12-12 17:29] delvedor commented on #1972
Great work @Eomm!!

[2019-12-12 22:15] mcollina commented on #1978
I think you are referring to `await` behavior, and not `Promise` behavior. Anyway, I think we could implement something like that. A PR would be helpful.

[2019-12-13 03:42] mrchief commented on #1978
I haven't made the distinction up until now :) but I get your point.

PR to implement the `await` behavior or just doc updates?

[2019-12-13 15:01] mcollina commented on #1978
about the change in behavior

[2019-12-15 16:31] Denusdv opened #1986 "getting FST_ERR_CTP_INVALID_CONTENT_LENGTH although my request does provide correct body length"
Using  "fastify": "^2.10.0"

I'm struggling with pretty weird error I'm getting.

The server has a post service which is supposed to handle requests of gzipped JSONs body.

When I try to test it using curl or any other http client, I'm getting Request body size did not match Content-Length

My request does provide the Content-Length, the length of compressed file

 curl -v -i http://127.0.0.1:8081

[2019-12-15 16:33] mcollina commented on #1986
Can you please provide a full example on how to reproduce?

[2019-12-16 11:06] Denusdv opened #1987 "The framework instantiate"
I try to create the fastify with logger enabled and https here is my code

[code]

although in my instance is inited with logger disable. I assume it's related to the way I provide init params. Unfortunately I didn't find and sample of init multiple init options sample.

Pls help me to figure it out

[2019-12-16 12:35] jsumners commented on #1987
What is `debug`? Do you have a value for that which equates to `true`?

[2019-12-16 13:24] Denusdv commented on #1986
Server

[code]

curl:

`curl -X POST "http://127.0.0.1:8081/track" -H "accept: application/json" -H "x-api-key: sdsd" -H "Content-Type: application/json"  -H "Content-Length:479" -H "Content-Encoding: gzip"  --data-binary @sampleBatch.json.gz
`

try any binary data

[2019-12-16 17:38] Eomm commented on #1986
Copy answer from [here](https://stackoverflow.com/questions/59345698/fastify-returns-fst-err-ctp-invalid-content-length/59359972#59359972)

You need to change approach because the default content parser doesn't manage compression and will try to parse the `body`.

So to manage the compression you can overwrite the default `addContentTypeParser` and add the decompression logic:

[code]

Note that f

[2019-12-17 09:50] hello2dj opened #1989 "preValidation: req.body is not null"
## 🐛 Bug Report

preValidation req.body has been parsed. but doc says it is null
![image](https://user-images.githubusercontent.com/10645383/70984417-6a41e080-20f5-11ea-887b-ba4fc465f8b5.png)

## To Reproduce

Steps to reproduce the behavior:

Paste your code here:

[code]

curl -XPOST -d '{"count": 123}'  -H 'Content-Type: application/json' localhost:3001/api

## Your Environment

- *node version

[2019-12-17 13:12] RafaelGSS commented on #1989
Good catch! This message should show in `preParsing`.

[2019-12-18 09:47] ncsft opened #1992 "Disable coerce types only on body"
How can i disable fastify coerce types ONLY on body?
/sessions/123 -> it's coerce to int, thats ok
{
session: '123' -> it's coerce to int, thats no ok.
}

[2019-12-18 12:50] #1955 closed

[2019-12-18 15:41] Ethan-Arrowood commented on #1992
Can you please provide more context so we can reproduce your issue?

[2019-12-18 16:11] ncsft commented on #1992
I want to send json body {"uid": 222 } on route /api/1
Params becomes { id: 1 }, body becomes { uid: 222 }, all is good.
But if I send  {"uid": "222" }, I have expected error message about uid is not integer, but it's coerce to integer in body.
Code for reproduce
[code]
Can I disable coerce types on body validation? On querystring, params and headers it's helpful.

[2019-12-18 17:04] delvedor commented on #1974
Closed in https://github.com/fastify/fastify/pull/1984.

[2019-12-18 17:04] #1974 closed

[2019-12-19 04:12] alanlzhang opened #1993 "Under Nodejs v13.5.0, Fastify HTTP2.0 use .finished which could be true when .writableEnded is false"
Maybe it is a nodejs bug, but in handleRequest.js:
function preValidationCallback (err, request, reply) {
  if (reply.sent === true || reply.res.**finished** === true) return
  if (err != null) {
    reply.send(err)
    return
  }
...
function preHandlerCallback (err, request, reply) {
  if (reply.sent || reply.res.**finished** === true) return
  if (err != null) {
    reply.send(err)
    return

[2019-12-19 07:54] delvedor commented on #1989
Closed in https://github.com/fastify/fastify/pull/1991.

[2019-12-19 07:54] #1989 closed

[2019-12-19 10:45] delvedor commented on #1986
Nice example @Eomm we should add it to our docs and/or to our examples directory :)

[2019-12-19 13:08] mcollina commented on #1993
Would you like to send a PR?

[2019-12-19 14:53] thedeveloperr commented on #237
I think I am Facing the same problem.
Using console.log I have ensured that:
**Before closing event the fastify have the mongoose decorator defined.**
[code]

My code:
[code]

[2019-12-19 16:59] Eomm commented on #237
Did you tried `fastify` variable instead of `fastifyInstance`?

[2019-12-19 18:48] thedeveloperr commented on #237
I tried it but then my test timedout.
I removed the fasifyInstance variable from callback argument list completely and used fastify variable then, it worked !!
No idea how.

My current code.

[code]

[2019-12-21 15:08] borodadada opened #1996 "multidomain and redirect"
Hello, i have 2  domains ( first is site http only, second https only )

Need use vhost plug?

Use vhost
[code]

HTTP work
Problem with HTTP2 SSL
Then i go to site2.com -> https://site2.com:3002  site not open, problem with security ( ERR_SSL_PROTOCOL_ERROR )
If open https://site2.com:3002 all fine

And how cretate redirect? http -> https and reverse

[2019-12-23 11:44] hello2dj commented on #1986
how to solve it. It happens all the time on my production service

[2019-12-23 11:54] mcollina commented on #1986
@Eomm we might want to do a plugin/hook to haandle this case

[2019-12-24 12:38] jsumners commented on #1969
Closed by #1985

[2019-12-24 12:38] #1969 closed

[2019-12-24 15:07] delvedor opened #2006 "Avoid calling buildSchemaCompiler for every route"
https://github.com/fastify/fastify/blob/e22492757660152e270f2092d80d0d17d7756ee6/lib/route.js#L221-L242

Related: https://github.com/fastify/fastify/issues/1598

[2019-12-24 15:21] delvedor commented on #1503
I've opened https://github.com/fastify/fastify/pull/2004 and https://github.com/fastify/fastify/pull/2005 to move things forward in https://github.com/fastify/fastify-express/pull/1.

Once the two pr gets merged, `fastify-express` should be ready to go!
We should also create `fastify-middie`, to maintain the current behavior if someone needs it.

[2019-12-26 11:09] delvedor commented on #1578
Closing for now, feel free to reopen if you feel we need to add something to improve this!

[2019-12-26 11:09] #1578 closed

[2019-12-26 11:10] delvedor commented on #1780
What's the status of this one?

[2019-12-26 11:13] delvedor commented on #1829
Closed in https://github.com/fastify/fastify/pull/1850.
Feel free to reopen if the issue still applies.

[2019-12-26 11:13] #1829 closed

[2019-12-26 11:19] delvedor commented on #1587
https://github.com/fastify/fastify/pull/2005 will fix this one thanks to the for loop that we will use behind the scenes.
It will not apply for middlewares tho.

[2019-12-26 11:30] delvedor commented on #1592
Let us start discussing this again, otherwise, we will not be able to make it land in v3 if we decide to adopt it.

Related: https://github.com/fastify/fastify/issues/1049 https://github.com/fastify/fastify/pull/1051 https://github.com/fastify/fastify/pull/1595

[2019-12-26 11:34] delvedor commented on #214
Closing this, if you want to continue the discussion feel free to reopen :)

[2019-12-26 11:34] #214 closed

[2019-12-26 11:43] delvedor commented on #1717
Closing this one, feel free to reopen if you feel there is still something we need to discuss.

[2019-12-26 11:43] #1717 closed

[2019-12-26 11:43] mcollina commented on #1780
I would just change fastify-plugin to use this pattern: https://github.com/pinojs/pino/pull/699#issuecomment-523662498.

[2019-12-26 11:44] delvedor commented on #1747
Closing this one, feel free to reopen if you feel there is still something we need to discuss.

[2019-12-26 11:44] #1747 closed

[2019-12-26 11:45] delvedor commented on #1483
Closing as we'll move to GitHub Actions.

[2019-12-26 11:45] #1483 closed

[2019-12-26 11:47] mcollina commented on #1592
I think we should do this.

[2019-12-26 12:03] delvedor commented on #1917
I'm unassigning this issue, if you or someone else wants to pick it up, go for it!

[2019-12-26 13:48] ToonvanStrijp commented on #1592
I think we should do it as well.

[2019-12-26 15:41] Darking360 commented on #2006
Greetings. I'm new to the code but I've been reading a little bit of how it works right now, I see that it uses `ajv` on the `buildSchemaCompiler ` that comes from `./validation`. But it pulls the `externalSchemas` with this line:

[code]

So I assume that's not changing, so maybe the call for `buildSchemaCompiler` could be moved to a const before and only be called if it doesn't exist? So the sub

[2019-12-26 16:33] jsumners commented on #1996
See https://github.com/fastify/fastify/blob/master/docs/Recommendations.md#use-a-reverse-proxy

[2019-12-26 16:33] #1996 closed

[2019-12-26 16:41] jsumners commented on #1592
My comment at https://github.com/fastify/fastify/pull/1595#discussion_r275134527 still stands.

[2019-12-26 16:43] jsumners commented on #1780
That sounds reasonable. I have not had any time to reduce the bug into an easy to reproduce test case. And I don't see it being a priority for me any time soon, either.

[2019-12-26 19:16] sheplu commented on #1993
Can I take it ?
I am mostly new to fastify but this will let me dive a little bit in the core

[2019-12-26 20:59] mcollina commented on #1993
go for it!
Il 26 dic 2019, 20:16 +0100, Jean Burellier <notifications@github.com>, ha scritto:

[2019-12-27 08:08] imbacc opened #2011 "Invalid register hook?"
## 💬I don't know register hook

**fastify.register(require('./config/intercept'))**

![微信图片_20191227160652.png](https://i.loli.net/2019/12/27/KuH1SQeOmIzXhyU.png)

[2019-12-27 08:41] mcollina commented on #2011
Can you please clarify what you a trying to achieve? Moreover a full, runnable example will be useful.

[2019-12-27 08:43] imbacc commented on #2011
![image](https://user-images.githubusercontent.com/28825000/71509898-f4ddc900-28c7-11ea-81ba-3ada1af45a0b.png)
register interceptor

[2019-12-27 08:47] #2011 closed

[2019-12-27 09:13] borodadada commented on #1793
Work! cool

[2019-12-27 11:56] #1587 closed

[2019-12-27 12:33] MagicFun1241 opened #2012 "body should be object"
## Bug Report

In any case if body validation is enable, the same error appears.

## Example

[code]

Returns:

[code]

## My Environment

- *node version*: 12.13.0
- *os*: Windows

[2019-12-27 13:01] jsumners commented on #2012
You have designated that the `POST` body should be an object. So what is the error? Do you have `propertys` in your actual code? If so, you need to rename it `properties`.

[2019-12-27 15:10] mrchief commented on #1979
not stale

[2019-12-27 15:48] #2012 closed

[2019-12-27 16:03] delvedor commented on #1970
Closed in https://github.com/fastify/fastify/pull/2004.

[2019-12-27 16:03] #1970 closed

[2019-12-27 16:26] Eomm commented on #2006
I took a look some days ago.

This function is not executed for every route, because `this.setSchemaCompiler` is called and will set `this[kSchemaCompiler]`, that avoid the call to `buildSchemaCompiler`.
It is executed for the first context that is being created.

The use case is this:
we need to provide the schemas (added via `addSchema`) to a compiler, but we don't have it.
We can't create it by

[2019-12-27 16:27] Eomm commented on #1972
The tool is ready, I will take care of it for v3 👍

[2019-12-27 18:40] delvedor opened #2013 "Set modifyCoreObjects to false by default in v3"
In Fastify v1 and v2, [`modifyCoreObjects`](https://www.fastify.io/docs/latest/Server/#modifycoreobjects) is `true` by default because we needed to provide full support for middlewares, in v3 this will no longer apply, as an external plugin will provide the middlewares.

We can either decide to  (1) stop entirely modifying the core objects and rely on the plugins to do that themselves or  (2) set

[2019-12-28 13:34] jsumners commented on #2013
We should probably make use of the new deprecation support. It's not fun to keep this stuff around, but we can very easily release new majors that only drop deprecations (keeping our LTS schedule in mind). Plus, I think we are starting to follow along with the _active_ Node core LTS schedule. So these deprecated items will naturally disappear within ~1year of being deprecated.

[2019-12-28 14:03] delvedor commented on #2013
@jsumners so your suggestion is to set `modifyCoreObjects` to `false` by default and log a deprecation warning if the user tries to configure it?

[2019-12-28 14:06] jsumners commented on #2013
Maybe? I don't know. This is not a feature I have ever used so I don't know how to handle it.

[2019-12-28 14:27] delvedor commented on #2013
I agree that normally a deprecation cycle would help, but we have added this feature only for improving the middlewares support, and if the two middlewares plugins will start adding these properties themselves, then I think we are safe enough to remove the feature from here, as from a middleware user nothing will change, where for a not-middleware users, we will execute less code.

[2019-12-28 14:49] delvedor commented on #2013
Just to be clear, this is the lines we are talking about:
https://github.com/fastify/fastify/blob/e922bbf0a528c25a1b8b661ec8d5b9a8b725666a/lib/route.js#L308-L340

[2019-12-28 15:12] mcollina commented on #2013
I think the only blocker is the `trustProxy` option.

I would recommend:

* [ ] implement https://github.com/fastify/fastify/issues/1551
* [ ] move the `trustProxy` implementation inside our `Request` object
* [ ] _drop_ `modifyCoreObjects` altogether

[2019-12-28 16:56] mrchief commented on #1978
Not stale

[2019-12-28 16:57] leodutra commented on #23
Sorry for kicking these ashes, but object mode is not working or requires something not documented.
Any insight on this?

Replication:
I have a stream of JSON, from the resolution of a promises array.
The Readable is unit tested, and it's in object mode.
Whenever I call `reply.send(stream)` I get the same typical error on `stream.push(json)` telling chunk should be string or Buffer.

[2019-12-28 17:29] delvedor commented on #2013
@mcollina so you are suggesting to add `ip`, `ips` and `hostname` to our request object?

How about https://github.com/fastify/fastify/issues/327? Should we start again discussing about it? It looks like these two are connected to me.

[2019-12-28 21:19] mcollina commented on #2013
Yes, we should also support trustProxy. I would add them as getters.

[2019-12-29 12:52] delvedor commented on #327
I've studied a little how this would work, and I think that for now, we should not pursue this path for two main reasons.
1. It's intended to work only for http 1.1, not sure what will happen for http 2 and http 3.
1. It's not compatible with our encapsulation model, as the encapsulation happens after the routing *(so the core request and response object are already initialized)* and we create our

[2019-12-29 15:26] delvedor commented on #2013
@mcollina `ip`, `ips` and `hostname` were already there at the end :P
https://github.com/fastify/fastify/blob/e922bbf0a528c25a1b8b661ec8d5b9a8b725666a/lib/request.js#L10-L12

[2019-12-29 17:38] delvedor commented on #1503
I've opened https://github.com/fastify/middie/pull/36, which transforms Middie in a Fastify plugin to have the same functionality we were providing before.

[2019-12-30 12:38] delvedor commented on #2013
Closed in #2015.

[2019-12-30 12:38] #2013 closed

[2019-12-31 10:33] flaviotulino opened #2019 "Route onReponse hook to contain the payload"
## 👉 [Please follow one of these issue templates](https://github.com/fastify/fastify/issues/new/choose) 👈

Hello all, as per [2.9.0](https://github.com/fastify/fastify/releases/tag/v2.9.0), the route declaration now supports the `onResponse` hook.
According to the documentation [here](https://github.com/fastify/fastify/blob/master/docs/Routes.md) the signature is (request, reply, payload, done) li

[2019-12-31 11:02] delvedor commented on #2019
Hello! You are right, the documentation is wrong:
https://github.com/fastify/fastify/blob/f2078721ba586df2647fe2936bad66f879815352/lib/reply.js#L495-L501

Would you like to send a pr? :)

[2019-12-31 11:54] flaviotulino commented on #2019
Honestly, I think the payload in the `onResponse` is a nice to have.
It would be useful to run something without the overhead the `onSend` causes.

Let's imagine I wanted to cache the payload without passing through the serialisation process that happens in the onSend.

Would this be a feature request?

[2019-12-31 18:28] RafaelGSS commented on #2019
Maybe can be good in this case. But, I don't know if is overhead, because the response serialized should send without the hook.

[2020-01-02 11:06] rahadian347 commented on #932
this helped me

[2020-01-02 14:56] lappalj4 opened #2021 "FST_ERR_SCH_NOT_PRESENT when using string enum containing '#'"
#1301  🐛 Bug Report
The fastify.addSchema method throws an `FST_ERR_SCH_NOT_PRESENT` error when trying to add a schema where one of the `enum` values contains a `#`.

## To Reproduce
Steps to reproduce the behavior:

Attempt to add a schema containing an  `enum` field where one of the values contains a hashtag character, such as the following example with programming languages:

Paste your code he

[2020-01-03 07:35] #1793 closed

[2020-01-03 17:37] delvedor commented on #2019
Currently, we can't add the payload in the `onResponse`, because that hook is being fired in a completely different context and we don't have access to the payload.
Anyhow, running the `onSend` hook doesn't cause any more overhead that the `onResponse` hook causes. If by "overhead" you mean "response time", then you can use a fire and forget function :)

Final note: by your message I fear there is

[2020-01-03 17:37] #2019 closed

[2020-01-03 17:38] delvedor commented on #1551
Closed in #2017.

[2020-01-03 17:38] #1551 closed

[2020-01-03 20:29] Samz851 opened #2022 "Post request with Content-Type application/json set fails"
## 💬 Questions and Help

### Please note that this issue tracker is not a help forum and this issue may be closed.

Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

When sending a Post Request from

[2020-01-03 20:48] Eomm commented on #2022
The middleware interface must be:

[code]

[2020-01-03 20:55] Samz851 commented on #2022
The middleware is unrelated to the issue, it was added later to view the headers.
By fixing it like you suggested, OR removing it completely; the issue still persist..

[2020-01-03 21:11] Eomm commented on #2022
So could you add a complete example to reproduce?

This works as expected:
[code]

[code]

[2020-01-03 21:20] Samz851 commented on #2022
Ok without the middleware
This is my server (index.js):
const swagger = require('./src/config/swagger2');
fastify.register(require('fastify-swagger'), swagger.options);

// parse application/x-www-form-urlencoded
fastify.use(bodyParser.urlencoded({ extended: false }))

// parse application/json
fastify.use(bodyParser.json());

// fastify.use((req, res, next)=>{
//   console.log('request coming')
/

[2020-01-03 21:32] Samz851 commented on #2022
By removing the all body parser middleware, these lines
 `// parse application/x-www-form-urlencoded
fastify.use(bodyParser.urlencoded({ extended: false }))

// parse application/json
fastify.use(bodyParser.json());`

It seems to work.
If this is a proper solution then I'll close this.. Although some explanation would help

[2020-01-03 22:25] #2022 closed

[2020-01-04 09:32] Eomm commented on #2022
The `.use` function is a utility to use some express plugins, but some plugins are [not compatible](https://github.com/fastify/fastify/blob/master/docs/Middleware.md#express-middleware-compatibility)

If you need to parse the body I would suggest giving a check to [fastify-formbody](https://github.com/fastify/fastify-formbody), it should archive what you need.

For this reason, I would suggest sea

[2020-01-04 14:59] Eomm commented on #2021
You are triggering an unwanted ["replace way"](https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md#adding-a-shared-schema) schema behaviour.

Right now I'm not sure there is the possibility to understand if you are tring to replace or use the strict value without another param

[2020-01-05 12:47] mcollina commented on #2021
I feel we should not try to replace # inside enums.

[2020-01-05 13:20] mohammad-khooie opened #2024 "I cant use one schema for two different routes"
🐛 Bug Report

when I want too set my schema to different routs I get this error
FastifyError [FST_ERR_SCH_DUPLICATE]: FST_ERR_SCH_DUPLICATE: Schema with 'querystring' already present!

## To Reproduce

create a schema with query and add it to different routes
[code]
- *node version*: 13.5
- *fastify version*: >=2.11.0
- *os*: Windows

[2020-01-05 17:06] mcollina commented on #2024
Would you mind to upload a snippet that can be run to show this problem?

[2020-01-05 18:44] adrai commented on #2024
Did you also try with addSchema and referencing the schema only?

https://www.fastify.io/docs/latest/Server/#addschema

example: https://www.fastify.io/docs/latest/Validation-and-Serialization/#adding-a-shared-schema

[2020-01-05 21:16] jsumners commented on #2021
I don't think this feature should exist. It breaks the JSON Schema specification. References should be listed under `$ref` keywords. They should be "found" within `enum` values.

I propose eliminating this feature completely and requiring the user to supply their own AJV instance if they need references.

[2020-01-05 21:39] lappalj4 commented on #2021
@jsumners agreed, I think this feature is rather dangerous as it can trigger the replace in some quite unexpected situations. I'll say it took me a pretty good while to figure out where this error is originating from.

Seeing as the "Fastify way" seems to generally be to move everything one might consider an extra feature into a separate plugin, I feel this feature would also be better served as o

[2020-01-06 10:34] mohammad-khooie commented on #2024
[code]

[2020-01-06 10:41] mohammad-khooie commented on #2024
no I did not

[2020-01-06 10:52] Eomm commented on #2024
Right now I can't dig deeper, but this workaround will work for you:

[code]

I think the `addSchema` would not solve the problem because you need to use the same schema configuration in two routes, you are not sharing a complex JSON schema object in 2 different JSON schemas.

[2020-01-06 10:57] #2021 closed

[2020-01-06 16:52] tranzium commented on #1349
Using `import fastify from 'fastify'` will correct this issue.

The original post has the same code as the official documentation.
Reproduce the issue: `import * as fastify from 'fastify'`

[2020-01-06 19:02] Ethan-Arrowood commented on #1349
I can confidently say this issue is resolved with the current types in `next` branch. Documentation is currently in the works to accurately show how to import fastify into a typescript project too.

[2020-01-06 19:02] #1349 closed

[2020-01-06 21:06] Giacomo92 opened #2027 "Deploy fastify app on AWS"
I am trying to deploy my fastify app on AWS. I cannot understand how can I wrap my application on the init function. I have defined my routes in a single file and then I have instanced them in the app.js. The deploy finish with no error, no error also on Cloud Watch but I get this error on browser
![Screenshot_20200106_215606](https://user-images.githubusercontent.com/11694429/71848295-66d7be80-30

[2020-01-06 21:17] StarpTech commented on #2027
Hi @Giacomo92, this issue is really hard to understand. What do you mean with init function? Please post the full logs with stack traces. That message can mean everything.

[2020-01-06 21:24] Giacomo92 commented on #2027
I have followed the fastify docs [here](https://github.com/fastify/fastify/blob/master/docs/Serverless.md#aws-lambda), but my application has different configuration. I have not defined all the route in the main file.

[2020-01-06 23:11] jcaowml opened #2028 "Request serializer throws "TypeError: Cannot read property 'remotePort' of undefined""
## To Reproduce

Steps to reproduce the behavior:

Paste your code here:

[code]

## Expected behavior

Should log the request object, serialized

I have a demo of this at: https://runkit.com/jcwml/runkit-npm-fastify

![image](https://user-images.githubusercontent.com/58958183/71855749-c796d500-3096-11ea-8a3c-f6670161fa6f.png)

[2020-01-06 23:24] mcollina commented on #2028
`req` has a default serializer for node core http request (this will change in Fastify v3)

[2020-01-06 23:26] jcaowml commented on #2028
I see. Thanks!

[2020-01-06 23:26] #2028 closed

[2020-01-06 23:26] mcollina commented on #2028
You should use a different key for that object. You might want to specify a specific serializer.

Note that the request details are already included in the line.

[2020-01-07 03:15] JinHengyu commented on #1494
let me show u the final solution：
listen the uncaughtException on process and then the error won't make the process exit :)
`
process.on('uncaughtException',err=>{
    // err.code === 'ERR_HTTP2_INVALID_STREAM'
    // err.message === 'The stream has been destroyed'
    console.log(`someone is keep pushing F5...`)
})
`

[2020-01-07 04:31] aligator301 commented on #1926
Hi!

It appears to be the following:-

When an ajax/fetch/etc. call is made within SSR on the server back to itself calling HTTP2 and something goes wrong in the SSR. It breaks the server entirely.

This is a horrendous fix:

fastify.server.on('error', function(error) {
    console.log('Issue raised in connection', error);
});

A

[2020-01-07 14:39] Giacomo92 commented on #2027
Hi @StarpTech,
I have added a screen of a full log and I have created two gists with the files I have updated from the teomplate repo with my integration tests.

I hope everything is clearer now.

[2020-01-07 14:43] mcollina commented on #2027
You need to instantiate your fastify app inside the `init` function.

[2020-01-07 14:52] StarpTech commented on #2027
According to https://github.com/fastify/aws-lambda-fastify

you have to change the line to

[code]

to

[code]

[2020-01-07 15:06] Giacomo92 commented on #2027
I have moved all code in the init function as @mcollina said.
I have changed `init` with `init()` as @StarpTech said.

I got Internal Server error with this log:

![Schermata 2020-01-07 alle 15 58 49](https://user-images.githubusercontent.com/11694429/71904992-84586700-3167-11ea-9f18-c1ac3245f8b8.png)

[2020-01-07 15:09] StarpTech commented on #2027
Mongodb connection issue? Does it work without Mongodb? Try to return a simple string and see if it works.

[2020-01-07 19:37] #1975 closed

[2020-01-07 21:19] Ethan-Arrowood opened #2030 "Add generic parameter for Reply send method"
Based on a discussion in https://github.com/fastify/help/issues/125 a good feature for the type system (current and future) would be to add a generic parameter to the `reply.send` method to allow the user to specify the payload type being passed in. It is currently set to `any` see [v2](https://github.com/fastify/fastify/blob/master/fastify.d.ts#L180) and [v3](https://github.com/fastifyf/fastify/b

[2020-01-07 23:17] mcollina commented on #2030
it seems a good idea!
Il 7 gen 2020, 22:19 +0100, Ethan Arrowood <notifications@github.com>, ha scritto:

[2020-01-08 00:25] Giacomo92 commented on #2027
I have removed all Mongodb and swagger line. Now I got Forbidden:
<img width="224" alt="Schermata 2020-01-08 alle 01 17 13" src="https://user-images.githubusercontent.com/11694429/71939947-b348fa00-31b4-11ea-89ad-310183d66618.png">
I can't understand what I'm doing wrong.
In my local environment it's always working even in the first versione of the gist.
If try to use the same code of [docs](https

[2020-01-08 00:35] Giacomo92 commented on #2027
I think Mongodb goes on timeout. I have find this log:
<img width="1016" alt="Schermata 2020-01-08 alle 01 32 04" src="https://user-images.githubusercontent.com/11694429/71940516-e3919800-31b6-11ea-95ff-15247dd55b05.png">
I cannot understand why I am getting this error. In my local environment it's working without any problem
I 'll try to change Mongodb server.

[2020-01-08 09:45] StarpTech commented on #2027
Yes, it's a connection issue with mongodb. I will close this issue since it is no longer related to fastify.

[2020-01-08 09:45] #2027 closed

[2020-01-08 17:30] kandros commented on #1668
@Ethan-Arrowood has there been any progress on that? or code to look at? or just findings that are worth sharing

[2020-01-08 17:32] Ethan-Arrowood commented on #1668
A complete schema guide has been added to the upcoming docs (there’s an open pr and it’s own my fork’s branch typescript-docs). Aside from that there’s nothing else I have to share. There are still some improvements that could be made here from a tooling perspective but I didn’t want to clutter the docs with more dependency reliant examples.

[2020-01-08 20:11] Ethan-Arrowood commented on #2030
Reopening. v3 fix still needed

[2020-01-09 08:31] xpender opened #2036 "fastify behind haproxy results into "read ECONNRESET" errors"
## 🐛 Bug Report

As mentioned in https://github.com/fastify/fastify/blob/master/docs/Recommendations.md we would like to run fastify behind haproxy (for TLS termination and load balancing)

After processing an request proxied over haproxy it throws an ECONNRESET error:

[code]

If I bypass haproxy and call directly the NodeJS process this is not happening:

[code]

Error is triggered via HTTP.Serv

[2020-01-09 09:49] mcollina commented on #2036
That is a debug error because it happens on a truncated socket. Your HAPRoxy is maintaining a live connection to the server which times out at 50s (from your config), which results in `clientError` to be emitted and that error logged at debug level - it's not a real error, but something that you might want to triage/diagnose.

You can get the same value from express or node core by listening to th

[2020-01-09 12:48] jsumners commented on #2036
You probably want to add `option http-server-close` to the `defaults` section. This should also be added to the example config in the recommendations doc. Would you care to send a PR @xpender?

[2020-01-09 19:20] Ethan-Arrowood commented on #2030
Closed by #2032 and #2034

[2020-01-09 19:20] #2030 closed

[2020-01-12 18:54] balaphp opened #2037 "fastify.close not working with tap"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2020-01-12 18:57] mcollina commented on #2037
Please report into the help repo and _fill in the template_.

[2020-01-12 18:57] #2037 closed

[2020-01-12 19:01] balaphp opened #2038 "Tap test case timeout error"
## 🐛 Bug Report

[code]

This test case not finishing and it says timeout error

## To Reproduce

Steps to reproduce the behavior:

app.js

[code]
**test.js**

[code]
// run `npm test`

## Current behavior
This program should quit and test result must be shown.

A clear and concise description of what you expected to happen.
[code]

## Expected Behavior
[code]

## Your Environment

- *node version

[2020-01-12 19:19] mcollina commented on #2038
This example does not run on its own.

[2020-01-12 22:09] snacqs commented on #2024
Hey @Eomm!
I took a look at this issue. It happens [here](https://github.com/fastify/fastify/blob/master/lib/schemas.js#L52) because fastify mutates the original route schema.
Probably we should use [`cachedSchema`](https://github.com/fastify/fastify/blob/master/lib/schemas.js#L63) instead of `routeSchema` everywhere in this function.
It should be an easy fix and I'd like to create a PR for it. Le

[2020-01-13 03:42] balaphp commented on #2038
I have updated. Basically i used the sample program from test page documentation.
All i added is just listen function.

[2020-01-13 03:58] balaphp commented on #2038
This could be the issue from tap.end() is not working but when i call
fastify.close() it should shutdown the process and quit.

[2020-01-13 07:04] mcollina commented on #2038
Try calling await fastify.listen(3000). There might be a race between listen and close.

[2020-01-13 08:29] balaphp commented on #2038
No luck, only the fastify.shutdown i mentioned is only helping.

[2020-01-13 09:09] Eomm commented on #2038
I agree

Try this working solution:

[code]

[2020-01-13 09:13] delvedor commented on #2038
You should either `await fastify.listen` or use a callback. It's very likely that `.listen` and `.close` cause a race condition.

Pro tip: if you are using `.inject`, there is no need to listen. ([docs](https://www.fastify.io/docs/latest/Testing/#testing-with-http-injection))

[2020-01-13 12:20] jsumners commented on #1972
Regarding a checklist: I added a few issues to `fastify-cookie` and labeled them "good first issue" and they got resolved quite quickly by the community. The result being `fastify-cookie` has a `next` branch that is pretty much ready to go for v3 (just needs `fastify-plugin` metadata updates). Maybe the same can be done for other repos?

[2020-01-13 13:32] mcollina commented on #1972
Definitely +1. We might want to write a tiny script to do this for us.

[2020-01-14 19:55] Eomm commented on #2024
I don't understand what you mean by using the cachedschema

I think if you have understood the problem, feel free to give it a shot! 💪🏻
The only advice would be to write a failing test before any change of the code

[2020-01-15 17:10] Ethan-Arrowood opened #2040 "v3 type def clarification for `addHook` method"
I've been fixing the `hooks.d.ts` part of the new types and I've hit a very difficult snag. We have two hooks `onSend` and `preSerialization` that pass through the `payload` argument to the hook handler. For best type safety, we should allow the user to specify what this is via a generic parameter. But because all of the other hook handlers do not require this generic parameter I cannot just add i

[2020-01-15 17:53] corbinu commented on #2040
@Ethan-Arrowood could we maybe add something to the types that casts server.addHook itself to take the generic?

[2020-01-15 18:21] Ethan-Arrowood commented on #2040
My current closest attempt is something like that.

[code]
But not only is this sorta just broken (not entirely sure why), but if it did work this would prohibit the user from setting those hooks without a generic, and ideally they should be able to do so without specifying it when they don't want to

[2020-01-15 19:02] Ethan-Arrowood commented on #2040
I want to highlight [attempt 3 in the gist](https://gist.github.com/Ethan-Arrowood/c0294ae9533a8b1908cf9c1a0e0208c0#attempt-3). I will continue to formulate my thoughts around this whole thing and comment back with more updates/maybe even a blog post later.

[2020-01-15 20:19] corbinu commented on #2040
Well was worth a shot. I think the workaround you have it for now is fine.

[2020-01-16 08:14] mcollina commented on #946
I never had a chance. Would you like to investigate it and send a PR for the serverless docs?

[2020-01-16 12:43] borodadada opened #2041 "http2 + sitemap + google"
Hello, i use http2 protocol and all fine, but problem with sitemap.xml file, google don't see him.

server
[code]

get
[code]
In my browser all work fine, but google and othe webmaster not open url, whats problem?
AND if  i use http1 + ssl all work!!!

[2020-01-16 12:49] mcollina commented on #2041
Try

const fastify = require('fastify')({
  http2: true,
  https: {
    allowHTTP1: true, // fallback support for HTTP1
    key: fs.readFileSync(path.join(__dirname, '..', 'https', 'fastify.key')),
    cert: fs.readFileSync(path.join(__dirname, '..', 'https', 'fastify.cert'))
  }
})

[2020-01-16 13:19] borodadada commented on #2041
thank you mr. mcollina, all work

[2020-01-16 14:17] #2041 closed

[2020-01-16 21:26] #2040 closed

[2020-01-17 08:52] alemagio commented on #1917
Hi, i would like to work on this.
I'm using Fastify but this is my first contributing to the project.
Any hint?

[2020-01-17 08:57] mcollina commented on #1917
Sure thing! You should add to https://github.com/fastify/fastify/blob/master/docs/Testing.md#testing-with-http-injection

The feature is the chainable API in:
https://github.com/fastify/light-my-request

[2020-01-17 13:51] balaphp commented on #2038
This sample code is working fine,
 but if i added db connection mongo then its not working.

[2020-01-17 16:18] mcollina commented on #2038
are you using fastify-mongodb?

[2020-01-17 17:27] Eomm commented on #2038
You need to call `fastify.close()` otherwise, the connection will persist and the process will not end.. and the test will go in timeout

[2020-01-17 18:41] balaphp commented on #2038
It worked but another issue (my be its my mistake).
It didnt work when I used both fastify-mysql and fastify-mongodb
if i remove either one its working.  sorry to trouble you guys.

[2020-01-17 20:56] Eomm commented on #2038
Now, it is difficult to understand the problem. If the error is the same (timeout error) it could be a pending connection still alive: you need to be aware of all the things that keep a node process alive (like timers, connections, other IO)
You could use [this module](https://github.com/mafintosh/why-is-node-running) to find it

It is a pleasure to help 👍

[2020-01-18 02:18] stromcon opened #2046 "Query string validation is not working anymore (Hello World from docs)"
## 🐛 Bug Report

Hello, I took the "Request/Response validation and hooks" from https://www.fastify.io/ and put this in a file, only removed "response" key from "schema", my server contains this :

[code]

## To Reproduce

Run my script `node server.js`

## Expected behavior

I would expect a 400 because query string is not valid when launching http://127.0.0.1:3000 but server returns payload and

[2020-01-18 10:04] Eomm commented on #2046
The 'required' keyword is missing, for this reason the validation is working 👍🏼

[2020-01-18 11:34] #2024 closed

[2020-01-18 15:30] stromcon commented on #2046
Sorry for bad ticket and thanks for reply.

[2020-01-18 15:30] #2046 closed

[2020-01-19 00:51] #1979 closed

[2020-01-19 11:54] davidmarkclements opened #2049 "Schema precompiler toolchain"
## 🚀 Feature Proposal

Normally schemas are compiled at runtime, create an optional compile step for schemas to be optimized prior to server start.

## Motivation

Primarily as a way to reduce serverless init time, but could also be used for non-serverless reasons.

## Example

### CLI

* `fastify-schema-precompiler -d build app.js`
* deploy build

### Webpack plugin

[code]

[2020-01-19 12:13] Eomm commented on #2049
Hi,
I'm thinking right now how it could be by users:

https://github.com/fastify/fastify/blob/a3010963df77a4d717601d69b03bd67b754cf554/lib/schema-compilers.js#L26-L30

The idea is to let devs write plugins around this new signature.

In my mind I have this process:
- the server starts in production for the first time and a ValidatorCompiler plugin will store the generated functions to somewhere
-

[2020-01-19 14:21] jsumners commented on #2049
How would this work if Fastify is not handling the schema container?

[2020-01-20 13:49] #1978 closed

[2020-01-21 17:05] borodadada opened #2051 "static js files to gzip"
Hello, i try use webpack comression, output gzip files.

link rel="preload" href="/dist/4.52e140b28097204e4353.chunk.js" as="script"

js files work, gzip not

image
https://ibb.co/3c45HQM
Webpack created two variants file, js and compressed
sometimes size 1/3 from original, greate time economy

i think this is it
1
"The NginxHttpGzipStaticModule is enabled by adding gzip_static on; to the nginx.co

[2020-01-21 22:24] mcollina commented on #2051
I don't understand what you are trying to achieve and what is the problem.

If I understand correctly, using https://github.com/fastify/fastify-static should solve your problem.

[2020-01-22 00:10] rfgamaral commented on #946
I'm unfamiliar with Fastify's code base and Fastify itself to be honest. So I'm not the right guy for the job. I was under the impression that either @shwei or @nwoltman were close to a solution...

[2020-01-22 02:36] nwoltman commented on #946
@rfgamaral It should work just fine if you set the [`modifyCoreObjects`](https://github.com/fastify/fastify/blob/master/docs/Server.md#modifycoreobjects) option to `false`.

[2020-01-22 07:09] borodadada commented on #2051
sorry, i try understand how use webpack-compress, buy i think no need, fastify static can use compress

this is example and he work
[code]
Can i compress only - dist ?  row number 3.

[2020-01-22 08:04] mcollina commented on #2051
compression is enable automatically with fastify-static if the browser supports it, you do no have to do anything.

[2020-01-22 08:04] #2051 closed

[2020-01-22 15:11] delvedor commented on #1917
Closed in https://github.com/fastify/fastify/pull/2043.

[2020-01-22 15:11] #1917 closed

[2020-01-23 16:33] RezaRahmati opened #2053 "How to use fastify + nestjs + firebase functions"
I am using NestJS and Cloud Functions, because of performance I want to switch to Fastify.

But I have no idea what to pass to `functions.https.onRequest(???)`

My old code for express is:

[code]

And new code is:

[code]

https://docs.nestjs.com/techniques/performance

[2020-01-24 09:12] borabaloglu opened #2054 "Usage of hooks"
Hi all,

I am stuck at a point. I have some pages that needs authentication. I tried hooks, they work but after authentication, I have to attach the username taken from decrypted token to request.body.

There is an example of the code that should run at hook:

[code]

I want to create a function that does this job and pass all the routers that needs authentication. Which hook should I use?

BTW, I

[2020-01-24 09:40] mcollina commented on #2054
I would recommend to attach your `payback` parsing to the `onRequest` hook and assign the value to `request.user`, and then add a second `preHandler` hook to assign it to the body if a body exists.

Can you post a snippet of your hook? I think you are using async and the callback, or calling the callback twice.

[2020-01-24 11:03] mcollina opened #2055 "Log a warning if both promises/async and callbacks are used at the same time"
## 🚀 Feature Proposal

In https://github.com/fastify/help/issues/133#issuecomment-578073158, it's shown that developers have some issues in grasping the use of async/await and callbacks. I think we should protect them by:

* [ ] I propose to add a `log.warn()` in https://github.com/fastify/fastify/blob/d0c976e82549488ecd27c17421cd3b51264468de/lib/hooks.js#L61 to tell the user if the number of call

[2020-01-24 12:45] jsumners commented on #2055
Sounds good to me.

[2020-01-24 13:03] delvedor commented on #2055
I fear I'm missing something, didn't we already address this issue?
In v2 we are logging a warning in case of a hook declared async and with a callback:
https://github.com/fastify/fastify/blob/d0c976e82549488ecd27c17421cd3b51264468de/fastify.js#L369-L381
while in v3 we will throw an error:
https://github.com/fastify/fastify/blob/9dc0207f5df95ff7fbb652f1934127ca7fbf3971/fastify.js#L346-L357

Furthe

[2020-01-24 13:07] delvedor commented on #2053
Hello! We can't answer Nest.js related questions because we are not connected to the project in any way. You should directly ask this kind of question in the Nest.js repository :)

[2020-01-24 13:07] #2053 closed

[2020-01-24 13:08] jsumners opened #2056 "v3 plan"
What is the plan for releasing v3? Do we have a desired timeline?

cc: @fastify/fastify

---

Edit from @mcollina, TODO list:

* [ ] port plugins #2217
* [ ] preparare announcment blog post
* [ ] drop the -rc part
* [ ] change the dist-tag of all the plugins in #2217 from what is in `next` to `latest`

[2020-01-24 13:11] delvedor commented on #2056
As soon as everything in our [milestone](https://github.com/fastify/fastify/milestone/3) is closed :)

Then there are also the following pr, that needs to be merged before we can release v3.
- https://github.com/mcollina/avvio/pull/92
- https://github.com/fastify/fastify-express/pull/1
- https://github.com/fastify/middie/pull/36

[2020-01-24 13:12] jsumners commented on #2056
We need to issue at least a couple of `-pre` releases.

[2020-01-24 13:17] mcollina commented on #2055
Ooh, I totally forgot we already have that done

[2020-01-24 13:17] #2055 closed

[2020-01-24 13:44] Ethan-Arrowood commented on #2056
TypeScript Support is in a ready state. Still work to be done, but I believe any discrepancies from this point can easily be fixed in patch or minor releases. Docs are making good progress too.

[2020-01-26 18:47] mcollina opened #2058 "Set server.timeout to a default value"
## 🚀 Feature Proposal

We currently do not set [`server.timeout`](https://nodejs.org/api/http.html#http_server_timeout) to any value, and the default is `0`.
I propose to set this value to 60s (or more), in this way hanging http requests will be closed automatically.

## Example

[code]

[2020-01-26 22:00] Eomm commented on #1598
After #2023 we can work on this 💪

[2020-01-26 23:09] jsumners commented on #2058
Sounds good to me.

[2020-01-28 03:36] neuronetio commented on #1771
I have the same problem, I need to load plugins with additional routes dynamically from `import` without restarting the app

[2020-01-28 03:42] neuronetio commented on #1771
for example when you want to build CMS you need to add routes to articles dynamically without restarting whole app

[2020-01-28 06:42] mcollina commented on #1771
Can you please articulate more your use case? I’ve literally never had to load routes dynamically. Why do you to load code dynamically?

[2020-01-28 08:01] neuronetio commented on #1771
@mcollina like I sad earlier - good example could be when you create new article in CMS your route is just created dynamically by the user - you don't want to restart an app after that because there may be logged other users as well.
Other example can be if you need to install modules dynamically into your system (downloaded zip) like in prestashop or wordpress) - if you have more than one user -

[2020-01-28 08:15] neuronetio commented on #1771
CMS, CRM, ERP and similar software very often have dynamic categories/subcategories with dynamic content created by the user. routes are created and removed dynamically.

[2020-01-28 08:15] Eomm commented on #1771
why not register parametric URL?

`/product/:productId`
`/plugin/:pluginName`

[2020-01-28 08:16] neuronetio commented on #1771
@Eomm but when you don't know how many parameters will be?

[2020-01-28 08:18] neuronetio commented on #1771
plugin can contain custopm pages with custop routes like plugin for contact page for example
oh come on...

[2020-01-28 08:29] Eomm commented on #1771
I can't know what you want to archive if you don't explain it in one comprehensive message.
Only you know your use cases.

There are many options, but you need to manage the routing by your self, like https://github.com/fastify/fastify-websocket did

[2020-01-28 08:29] neuronetio commented on #1771
you don't know how many pages plugin may register and you don't know how many tree like structures your user will create (categories - subcategories etc)

[2020-01-28 08:32] neuronetio commented on #1771
by the way I've switched to polka... don't bother

[2020-01-28 08:33] neuronetio commented on #1771
It seems like you don't want to understand because it may be hard to implement :P

[2020-01-28 09:42] delvedor commented on #1771
oh come on...

Please, avoid this kind of comments, they are not useful and definitely do not encourage us to spend time helping you.

Regarding your issue, I agree we can do a better job of explaining that you can't add routes dynamically to Fastify, and there is no plan for allowing that in the future. We do so because the addition or the removal of routes can be a source of memory leaks and oth

[2020-01-28 22:44] tolicodes opened #2061 "Can't handle HEAD request properly"
#1301  🐛 Bug Report

When I try to send a `HEAD` request for `sendFile` I get the following error:

[code]

[code]

The way that express handles this is by simply passing through `HEAD` requests to the `GET` method, and then letting `send` (the underlying package that sends responses for both fastify and express) handle it [here](https://github.com/pillarjs/send/blob/ea1748a3b3e00dbcbb0629cf368ced

[2020-01-29 00:10] RafaelGSS commented on #2061
It sounds like an implementation bug for me. Can you provide a code example, without business logic?

[2020-01-29 07:33] mcollina commented on #2061
Note that you should not return the body if it’s a HEAD request.

Then a bunch of quick fixes:

1. remove the try catch and enable the logger on Fastify
2. add a “return reply” at the end of the file if you’d like to mix async/await and send.

[2020-01-29 12:34] jsumners commented on #2061
Fastify does not provide default handlers for any methods. You should provide a handler for the `HEAD` request that does what you want it to do.

[2020-01-29 15:26] tolicodes commented on #2061
Here is simplified code. Now it just hangs...

[code]

[2020-01-29 16:39] jsumners commented on #2061
You have supplied the same handler to both the `GET` and `HEAD` requests. A `HEAD` request should only return headers -- https://tools.ietf.org/html/rfc2616#section-9.4

[2020-01-29 16:41] tolicodes commented on #2061
Solved it. I have to return `        return fs.readFile(uriPath);`

[2020-01-29 16:42] tolicodes commented on #2061
The way it's handled in express is it passes the body and lets `send` handle that [here](https://github.com/pillarjs/send/blob/ea1748a3b3e00dbcbb0629cf368ced575c6ab7d6/index.js#L710)

[2020-01-29 16:44] jsumners commented on #2061
PRs for improvements are welcome.

[2020-01-30 02:00] kevzettler opened #2062 "TypeError View is not a constructor when using Express middleware with fastify-normalize-request-reply"
## 🐛 Bug Report

I'm trying to use an express middleware https://github.com/vcapretz/bull-board in a fastify server.

Fastify is throwing the following error from fastify-normalize-request-reply

[code]

This is stemming from this line:

https://github.com/ericrglass/fastify-normalize-request-reply/blob/master/create-app.js#L119

What does this plugin expect that `app.get('view')` value to be?

[2020-01-30 02:05] kevzettler commented on #2062
meant to file this at fastify-normalize-request-reply repo

[2020-01-30 02:05] #2062 closed

[2020-01-30 14:58] mcollina opened #2065 "Support synchronous routes"
## 🚀 Feature Proposal

I propose we call `reply.send()` in synchronous routes if the returned value is not Promise or a Stream.

## Motivation

It seems a lot of newbies to fastify mistake the use of `async`, and we are not providing them a good developer experience.

## Example

[code]

[2020-01-30 15:14] jsumners commented on #2065
I have not seen this in our issues, or I just don't remember it. Is this really something a lot of people are doing?

[2020-01-30 15:18] mcollina commented on #2065
I've seen this on gitter a few times, as well as people playing with the framework.
They don't know that `async` makes the function return a promise.

[2020-01-30 23:29] RafaelGSS opened #2068 "Organize docs i18n"
Hello all!

I think that we need something to sync updates at original docs to translated docs

How we can generate a debit to translated docs after a merge?

[2020-01-31 01:31] jsumners commented on #2068
😬

🤷‍♂

[2020-01-31 07:23] delvedor commented on #2065
I fear this solution could result in some edge case that is difficult to predict now.
How about throwing an error in the same way we are doing if the user declares an async hook with the `next` callback in the signature?

I think there are two paths we can follow here:
- the one you have suggested, who translates to being smart and trying to understand what the user wants
- throw an error and try

[2020-01-31 09:48] StarpTech commented on #2065
They don't know that async makes the function return a promise.

I would be very careful with such conclusions as long as they can't be verified. What about a twitter pool or any other survey?

Accepting anything to respond feels handy and comfortable to me. On the other side, this can already be archived with an async function.

In the short term, I agree with @delvedor to produce a better error

[2020-01-31 10:04] mcollina commented on #2065
I've seen this happening so many times that is pretty clear that newbie JS developers do not understand the critical differences between `async function` and `function`. This issue originates from that request. I'm not going to do a survey because the sample for that survey are going to be totally skewed.

I'm happy to make Fastify return a 500 and an error in that case. Practically, we should cha

[2020-01-31 14:24] Eomm commented on #2068
Maybe a github action that opens an issue to some "translator" repo when a merge is done and some changes are done in `docs/` dir?

[2020-01-31 21:19] Eomm opened #2070 "Promise rejection without error"
## 🐛 Bug Report

If an async hook returns a `Promise.reject()` the flow continue.
This usage of promise should be avoided at all, let me know if you think this is an `invalid` bug.

Here we should check the `err` param
https://github.com/fastify/fastify/blob/7fa4bddca07aac18e0600cff40d97b95a96ab970/lib/hooks.js#L80-L82

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavio

[2020-02-01 00:10] mcollina commented on #2070
This is totally valid.
Il 31 gen 2020, 22:19 +0100, Manuel Spigolon <notifications@github.com>, ha scritto:

[2020-02-01 11:00] mcollina opened #2071 "Docs rethink"
I think we might want to start thinking on how we can improve our docs.
https://github.com/fastify/website/pull/145 is an example of a better Table of Contents and a change of structure in the Fastify docs. I would like to generalize that a bit.

In our docs, we mix the concept of a guide vs the concept of an API reference. In most cases, we teach how to use the framework but it's not clear where

[2020-02-01 11:09] printjs opened #2072 "About response."
## 💬 Questions and Help

### Please note that this issue tracker is not a help forum and this issue may be closed.

Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

I have issue.
If I hope all resp

[2020-02-01 12:01] Eomm commented on #2071
I would add in Guides:

- Plugin
  - "For sure you are interested in.."
    - Authentication
    - CORS
    - Throws errors (fastify-sensible)

[2020-02-01 12:15] #2072 closed

[2020-02-01 15:35] jsumners commented on #2071
Totally agree. Our docs are quite a mess.

[2020-02-01 17:31] Sambaboy commented on #2071
Yes, Matteo, agree with you it’s too scattered and consolidation in one place would be good.  Agree with Manuel’s addition of Plugin chapter.  From the start tell what is meant by “plugin” in Fastify.

Before the “Getting Started” have a “Why Fastify?” section.  Pitch why’s it better than the competition.  There’s also got to be a place providing examples of when and when not to use Fastify.  (May

[2020-02-01 22:28] Eomm commented on #1960
I had time to check if this bug still lives in #2023 for v3, and it is there 😕

I understood the bug:

The `schema` parameter in the first route, trigger the build of the compiler:
https://github.com/fastify/fastify/blob/7fa4bddca07aac18e0600cff40d97b95a96ab970/lib/route.js#L233

at that stage the `externalSchemas` is empty so the `Ajv` instance is built without the schemas.
This happens because t

[2020-02-01 22:41] Eomm commented on #2065
The `setErrorHandler` will benefit from this feature because it will always be executed regardless it is a sync or async function, it is more homogeneous

[2020-02-01 22:45] mcollina commented on #1960
We can safely move the schema compilation inside `preReady` - there is no harm to it.

[2020-02-01 23:27] Ethan-Arrowood commented on #2071
I have a fair amount of guides / examples in the new TypeScript docs. I’m very happy with them and would love to see them in their own section of the docs.

While we are discussing a documentation redesign, what about a ‘typescript’ toggle similar to the ‘async’ toggle? This would really help boost Fastify as the leading TypeScript web server framework

[2020-02-01 23:39] mcollina commented on #2071
I would love this. However most of the docs are part of the `.md` file in this repo, and the toggle is managed on the website. I'd like to retain a style of the md files that is github-friendly. Could we automate that?

[2020-02-02 01:52] mokevnin commented on #214
here you go: https://github.com/corsicanec82/fastify-method-override

[2020-02-02 10:47] Ravit436 commented on #2070
I would like to give it a try

[2020-02-02 10:49] mcollina commented on #2070
awesome!
Il 2 feb 2020, 11:47 +0100, Raviteja <notifications@github.com>, ha scritto:

[2020-02-02 11:09] Ravit436 commented on #2070
Can you go through my PR #2074
I have resolved the issue @Eomm @mcollina

[2020-02-02 17:19] jsumners opened #2075 "Use symbol to denote early termination of request"
## 🚀 Feature Proposal

Introduce `Symbol.for('fastify.end-request')` to terminate requests prior to reaching the defined request handler. When this symbol is received from a hook, or any function in the request life _prior_ to the defined request handler, Fastify should issue a `res.send()` that sends any headers and content currently attached to `res` to the requesting client.

This should also t

[2020-02-02 19:32] Eomm commented on #2075
Could be a `reply.terminate()` or `reply.interrupt()` more clear?

[2020-02-02 19:48] jsumners commented on #2075
When that object is present in the handler, sure. But see #2073.

[2020-02-02 20:48] mcollina commented on #2075
Why is this more than return reply? It was added exact for that reason.

[2020-02-02 21:54] jsumners commented on #2075
The most documentation I can find on this is https://www.fastify.io/docs/latest/Hooks/#respond-to-a-request-from-a-hook

🤷‍♂ just an idea to clear up ambiguity around terminating requests early.

[2020-02-03 10:16] feugy opened #2078 "Truncated error response when using reply.code(undefined)"
## 🐛 Bug Report

When setting the response status code to `undefined` inside error handler, response returned is truncated.

This bug was unveiled while working on an issue with `fastifh-gql` [default error handler](https://github.com/mcollina/fastify-gql/blob/174ebb5185e0377acefcac0b0c638b3a575e61e3/lib/routes.js#L58), which set the response code to `err.statusCode`, that could be undefined.

##

[2020-02-03 10:44] mcollina commented on #2078
I think the problem is that `reply.code(undefined)` should not be allowed.
I think we should make it throw if a non-valid status code is passed in.

Would that work?

[2020-02-03 10:44] mcollina commented on #2078
@feugy can you also open an issue on fastify-gql? It should not pass an `undefined` status code.

[2020-02-03 21:11] #2070 closed

[2020-02-06 07:48] amit12cool opened #2083 "Modifying the request via callbacks and the next() function does not actually fire [Nestjs and Fastify]"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2020-02-06 07:53] mcollina commented on #2083
I would point you to https://github.com/nestjs/nest/issues/4003#issuecomment-582311707. I don't know Nest, and I do not know how to help.

[2020-02-06 07:53] #2083 closed

[2020-02-06 08:28] amit12cool commented on #2083
@mcollina Thanks fo pointing me to the issue but that is raised by me. I was trying to get some help from you guys if you have any idea.

[2020-02-06 08:42] mcollina commented on #2083
I think the solution is clearly explained in the issue https://github.com/nestjs/nest/issues/4003#issuecomment-582298975.

[code]

Will enable you to parse the body manually instead of using the provided utilities. We recommend to use the provided utilities for doing this as there are lot of edge cases with deep security concerns.

Last note: this is not a support forum for Nest.js, and it's unlik

[2020-02-06 09:46] amit12cool commented on #2083
The solution provided there doesn't work and before me commenting this on that issue the comment option was disabled by the owner of repo. I know its not related to fastify directly. Thanks

[2020-02-06 18:05] #2075 closed

[2020-02-06 20:40] wtgtybhertgeghgtwtg commented on #2049
If `fastify` was altered to take a schema or a compiled schema, you could probably just use `preval.macro` or something.
[code]
[code]
It might be preferable to just make a wrapper macro to avoid strings and maybe caching issues.
[code]

[2020-02-07 15:55] Ethan-Arrowood commented on #2071
I'm also thinking about it now, and most typescript versions of the examples are not different from the javascript version. so maybe a typescript toggle isn't the right thing to use here.

What might be better is to include links from certain parts to the TypeScript details docs of that part (i.e. Routing).

I'm going to split up my current TypeScript pr so that the examples are in their own files

[2020-02-08 22:10] #2038 closed

[2020-02-10 12:47] fas3r opened #2087 "how to set version and name to plugin when using ESM ?"
Hello,

As documented [here](https://github.com/fastify/fastify/blob/master/docs/Plugins.md#esm-support), it's possible to use ESM for the plugin, but how to set version and name for [dependencies](https://github.com/fastify/fastify-plugin#dependencies) ? :

[code]

Can I continue to use `fastify-plugin` for that purpose ?

Thanks.

[2020-02-10 13:03] mcollina commented on #2087
You should be able to, did you encounter any problems?

[2020-02-10 14:01] chenchuraviteja opened #2088 "Keycloak middleware protect"
give me idea to how to use keycloak connect logic for middleware authentication purpose

[2020-02-10 18:39] greenkeeper[bot] opened #2089 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.19.0` to `2.19.1`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2F%40typescript-eslint%2Fparser-2.19.1).

This version is **covered** by your **current version range** and after updating it in your project **the build faile

[2020-02-12 06:21] chengluyu opened #2091 "Inaccurate type of `setErrorHandler`"
## 🐛 Bug Report

Let's see the definition of `setErrorHandler`.

https://github.com/fastify/fastify/blob/14b4e02d3648355987568eccf328a7111558c1b2/fastify.d.ts#L696

As you see, the type of the first parameter is `FastifyError`, which extends `Error` and has two optional properties.

https://github.com/fastify/fastify/blob/14b4e02d3648355987568eccf328a7111558c1b2/fastify.d.ts#L52-L58

However, the

[2020-02-12 07:11] mcollina commented on #2091
Would you like to send a PR to fix?

[2020-02-12 09:17] chengluyu commented on #2091
Hi, I've sent the PR. Please let me know if there is anything I could do next.

[2020-02-13 06:38] SaugataDutta opened #2094 "How to disable the default "incoming request" and "request completed" logging."
## 💬 Questions and Help

### Please note that this issue tracker is not a help forum and this issue may be closed.

Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

[2020-02-13 10:06] mcollina commented on #2094
Hi @SaugataDutta. This information is included in our docs at https://www.fastify.io/docs/latest/Server/#disablerequestlogging.

[2020-02-13 10:06] #2094 closed

[2020-02-13 14:36] delvedor commented on #2058
Closed in https://github.com/fastify/fastify/pull/2086.

[2020-02-13 14:36] #2058 closed

[2020-02-13 15:42] Cristiandi commented on #740
Now days `beforeHandler` is deprecated, instead you must use `preHandler`, but the functionality is the same:
[code]

[2020-02-13 16:50] SaugataDutta commented on #2094
@mcollina  Thanks a lot.

[2020-02-13 19:35] #2078 closed

[2020-02-14 03:10] Grawl commented on #1206
As a workaround I just duplicate my route. Meh.

[2020-02-14 03:46] #2091 closed

[2020-02-14 03:47] chengluyu commented on #2091
Closed because of #2092

[2020-02-14 03:50] lagmanzaza opened #2096 "How to stop parsing data when event 'close' occur on addContentTypeParser()"
In some case, a client cancels an HTTP request, event 'close' occur. I don't know how to stop handling that HTTP request

[2020-02-14 08:58] alemagio commented on #1930
Hi, I would like to work on this.
I believe, following the comment mentioned in the description, that this is already happening on some parts of the framework, so I will take those as examples.

[2020-02-14 11:16] mcollina commented on #1930
Awesome @alemagio, we'll wait for your PR!

[2020-02-14 11:19] mcollina commented on #2096
You should avoid calling the callback or call it with an error if the request is aborted (`'abort'` event).

[2020-02-14 11:46] lagmanzaza commented on #2096
Could you explain why?

[2020-02-14 11:47] lagmanzaza commented on #2096
Are there any techniques to cancel an HTTP request from the client?

[2020-02-14 11:49] mcollina commented on #2096
You should always respond with something, otherwise the client will be left appended or the socket truncated.

[2020-02-14 13:12] lagmanzaza commented on #2096
Oh, I understood.
Thank you, sir.

I have the last question.
Can I send a response data when event 'close' occurs instead of parse the data to the handler 'hook'?

[2020-02-14 13:29] mcollina commented on #2096
call the callback with a custom error, and handle it in the error handler.

[2020-02-14 13:41] lagmanzaza commented on #2096
Thank you, sir

[2020-02-14 13:41] #2096 closed

[2020-02-14 14:16] jsumners opened #2097 "Provide an OpenTelemetry module"
## 🚀 Feature Proposal

The [OpenTracing](https://opentracing.io/) and [OpenCensus](https://opencensus.io/) projects have merged into [OpenTelemetry](https://opentelemetry.io/). I think it would be a good idea for us to provide a module for tracing Fastify based applications. See https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-node for information on the plugin

[2020-02-14 14:26] mcollina commented on #2097
This would be important to add!

[2020-02-14 14:36] jsumners commented on #2097
Maybe this is taken care of by https://www.datadoghq.com/blog/opentelemetry-instrumentation/ ?

It seems implied in https://github.com/DataDog/dd-trace-js/issues/820

Maybe @irabinovitch can provide some clarification?

[2020-02-14 15:44] gyszalai opened #2098 "The HTTPInjectOptions typescript interface does not define the 'cookies' property"
## 🐛 Bug Report

The HTTPInjectOptions typescript interface should define the `cookies` property

## To Reproduce

The following code can not be compiled with typescript (sorry, the code cannot be run as is, but describes the problem well):
[code]

## Expected behavior

The code should be compilable with typescript, but I get the following error:

[code]

## Your Environment

- *node version*: 12

[2020-02-14 18:34] Ethan-Arrowood commented on #2098
Are cookies apart of HTTP Responses natively like that?

[2020-02-14 20:55] irabinovitch commented on #2097
@jsumners We have donated to libraries we use for auto-instrumentation to the OpenTelemetry project.   So far Python and JAVA have been merged, and work on exporters for those languages and .net has begun.  I do not believe nodejs has begun reviewing the donation yet.

[2020-02-15 00:18] jsumners commented on #2097
But does that mean your Fastify module is up for inclusion?

[2020-02-15 10:33] alemagio commented on #1930
After some investigation i found that the default content-type is used a lot of times.
Do you think it should be a config parameter?
For errors, for example, should the user be able to define a default content-type header?

[2020-02-15 12:54] delvedor commented on #1930
@alemagio yes, the user should be able to customize the response completely :)
The best-case scenario is that all these cases were we are returning a json will call the `defaultErroHandler`, so the user can decide what to do.
The problem (you can find many discussions about this) is that often we can't have access to the default error handler.

A good strategy could be to have an option, something

[2020-02-15 23:22] mcollina opened #2101 "More docs for await app.register() and await app.after()"
## 🚀 Feature Proposal

The new `await app.register()` and `await app.after()` are going to be popular. It's important that we documented them well.

https://github.com/fastify/fastify/pull/2093
https://github.com/mcollina/avvio/pull/92

[2020-02-15 23:22] mcollina commented on #2101
cc @delvedor @davidmarkclements

[2020-02-17 09:53] gyszalai commented on #2098
It's not about the response but the injected request. you can pass cookies to the inject function.

[2020-02-17 13:41] jsumners commented on #2101
Any PR should target the `next` branch.

[2020-02-17 16:01] Ethan-Arrowood commented on #2098
Ahh I see! I think the best change would be to use the [`light-my-request`](https://github.com/fastify/light-my-request/blob/master/index.d.ts) types to define the `inject` definition as this is what is being used internally anyways.

Would you like to send a PR?

[2020-02-18 11:46] SkeLLLa opened #2104 "PR-2044 (one schema for multiple routes) introduce breaking change behavior on routes schema resolve."
## 💥 Regression Report

PR https://github.com/fastify/fastify/pull/2044 breaks https://github.com/SkeLLLa/fastify-oas and probably related to https://github.com/fastify/fastify-swagger/issues/224

Consider you have fastify onRoute hook and save the routes like

[code]

Earlier after `.ready()` method is finished his job, e.g. `await app.ready()`, in `schema` in route object was resolved to actual

[2020-02-18 17:19] jeiea opened #2105 "Can't type check tutorial simply"
The following code is modified version of fastify hello world (from getting started).

[code]

It resulted type error, like this.
[code]

I found `app.get` receives `RequestHandler` and its return type was `void | Promise<any>`. Shouldn't `void` be `any`? If not how should I amend the code?

Using async function is blocked by eslint `require-await` rule. Using `Promise.resolve` seems too redundant

[2020-02-18 18:47] Ethan-Arrowood commented on #2105
[code]
Is invalid. If you want to return the inner handler must be async:
[code]

[2020-02-18 19:00] jeiea commented on #2105
Ok, Then it would be better to disable the lint rule.

[2020-02-18 19:00] #2105 closed

[2020-02-18 19:28] alemagio commented on #1930
I created a draft PR to show my idea.
Hope it is useful.

[2020-02-20 12:57] MichielDeMey commented on #1973
Is a v6 release planned for Pino? Can't seem to find any pre-releases or next branch for v6. 🤔

[2020-02-20 13:00] jsumners commented on #1973
@MichielDeMey yes. We just haven't created such things yet. We are still nailing down what constitutes a v6 and, more importantly, trying to find the time/energy to work on those things. Having said that, I do not see it as a big blocker to a Fastify v3.

[2020-02-20 15:30] mcollina commented on #1973
We need pino v6 to be out, mainly because it removes old node versions. Pino options are part of fastify own options, so we are a bit coupled.

I plan to release some alpha version of Fastify before we update pino. Note that I think there is one outstanding thing for pino v6, and I don’t think it’d be a blocker.

[2020-02-20 16:01] mcollina commented on #2104
@SkeLLLa what would be your recommendation? Thanks.

[2020-02-20 17:37] SkeLLLa commented on #2104
@mcollina that's depends actually on that PR and if it could be done in different way.

During that `Object.assign` https://github.com/fastify/fastify/pull/2044/files#diff-bcf1db07025c10e7fdb2d2a49682c010R59 if we have string references to schema they will be "cloned", while earlier they were replaced later in original object.

And after that there's no easy way of getting resolved schemes. So as

[2020-02-20 18:23] #2061 closed

[2020-02-20 18:52] SkeLLLa commented on #2104
I'm actually for option 3, cause Original issue was about *sharing* single schema between two routes. And fastify already has documentation related to *shared* schemes https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md#adding-a-shared-schema

[2020-02-20 19:54] Eomm commented on #2104
I took master and reverted the commit and the issue is still there.
Also check out the v2.11 the `route.schema` is `{ query: 'mySchema#' }` in the hooks

Moreover, the `onRoute` hook is run before compiling the schemas:

https://github.com/fastify/fastify/blob/9b53f9a554514f0555da4bf2e2ad5126df4fcbeb/lib/route.js#L193-L194

So I think the issue is something else

Here the test I tried:

[code]

[2020-02-20 20:37] SkeLLLa commented on #2104
@Eomm

Yes, it does. But afterwars (when app  calls `ready`) those route objects are mutated and if you store them (by reference) somewhere, they will be updated.

I definitely sure that this regression was introduced in 2.11, but I'll doublecheck now if it's was done in that PR.

[2020-02-20 20:45] Eomm commented on #2104
I'm not arguing with that, I think we should triage more this issue 👍

If you have also a little test of your module to share, that was ok with 2.11 and fails with 2.12 it would be helpful (I was unable to find it [here](https://gitlab.com/m03geek/fastify-oas/pipelines) )

[2020-02-20 21:42] SkeLLLa commented on #2104
@Eomm I don't have those tests yet. But probably the same issue https://github.com/fastify/fastify-swagger/pull/226 could help you.

Basically to reproduce the issue:
1. Add on route hook and store routes in some array
2. Add shared schema (for query, for example)
3. Add route that uses that shared schema
4. Here in `onRoute` you'll receive string in `query`.
5. Call fastify's `ready` function and

[2020-02-20 21:51] SkeLLLa commented on #2104
That's what I think about what's happening here.

When you add a route `onRoute` hook is triggered and and you receive object with a route and unresolved schemes.

After that when `fastify.ready` is called, fastify calls https://github.com/fastify/fastify/blob/master/lib/schemas.js#L45.

And there traverse metod is called https://github.com/fastify/fastify/blob/master/lib/schemas.js#L69 and it rep

[2020-02-21 11:32] alinnert commented on #2056
@Ethan-Arrowood may I ask a question about the TypeScript support you mentioned? Does this also tackle issue #1417 in some form? (I think augmenting types is not a real solution. There are several problems with this approach.)

I'm just looking for a framework that is *fully* TypeScript compatible, which is *really* hard (i.e. no `any` type when I access things that should have a known type). I ho

[2020-02-21 12:43] Ethan-Arrowood commented on #2056
@alinnert why do you think type augmentation isn’t a real solution?

Decoration happens at runtime (after compile time). The types you define with TypeScript are stripped out at compile time. The only way to make decorated code type safe is to use type augmentation or type casting. I know these solutions might not be _perfect_ but this is the state of static typing a highly dynamic application.

A

[2020-02-21 13:05] alinnert commented on #2056
@Ethan-Arrowood If you augment the type `FastifyInstance` this is global. But each plugin uses its own instance with different possible decorators. Also, it can be difficult to get all properties and their types if you use 3rd party plugins. You'd need to keep this type in sync with your code and external code.

I haven't used Fastify heavily yet but I put some thought into how to solve this in ge

[2020-02-21 14:13] jsumners commented on #2056
Please take this to the linked issue or another issue about your TS concerns. I consider it off topic for this thread. And, frankly, I prefer to mute any thread about TS.

[2020-02-21 15:33] mcollina commented on #2104
@SkeLLLa would you like to send a PR? I'm a bit lost on what is the proposed fix for this.

[2020-02-21 16:18] SkeLLLa commented on #2104
@mcollina we haven't decided yet :). I'm on reverting that https://github.com/fastify/fastify/pull/2044 cause for sharing schemes between routes fastify already has shared schemes. But I'm not sure if everyone else agree.

[2020-02-21 17:32] Eomm commented on #2104
Now I understand, the test I posted above https://github.com/fastify/fastify/issues/2104#issuecomment-589278142 is wrong because the check should be done after the ready, not in the hook.

I would like to give it another check to understand if we can solve both the issues (this and the #2044)

[2020-02-22 14:57] #2068 closed

[2020-02-22 22:18] alinnert opened #2110 "Ideas for type-safe decorators"
## 🚀 Feature Proposal

This is about making decorators type-safe. There are multiple ways to achieve this so I wrote down a few ideas under "Example".

This is mainly for TypeScript users. But also JavaScript users benefit from this if they use an editor which uses TS under the hood. (e.g. VS Code, and I think also IntelliJ/WebStorm to some extend?, maybe even more)

## Motivation

Decorators curr

[2020-02-23 00:02] Ethan-Arrowood commented on #2110
Great write up- I read through it quickly but I’m currently traveling. I’ll review this better on Monday and reply. Thank you for starting this discussion!

[2020-02-23 10:20] frodoe7 opened #2111 "Advanced / Custom validation"
## 💬 Questions and Help

my POST request , should validate the request body with a certain schema
I revised [these docs](https://www.fastify.io/docs/latest/Validation-and-Serialization)

looks no way to use a custom validation method or even test the input with a regex pattern

for example

[code]

now : 12#xc.com will be accepted but not email
and so on ,,

I have to match the input with a certai

[2020-02-23 12:33] Eomm commented on #2111
You can check the input throug JSON schema.
For your example, you should use [email format](https://json-schema.org/understanding-json-schema/reference/string.html#email-addresses) or the [`pattern`](https://json-schema.org/understanding-json-schema/reference/string.html#regular-expressions) property.

If you need more checks, like accessing a DB or something the JSON schema doesn't support you sh

[2020-02-23 17:23] #2104 closed

[2020-02-24 00:37] mohd-akram opened #2112 "request.hostname isn't set when using HTTP2"
## 🐛 Bug Report

`request.hostname` isn't set when using HTTP2.

## To Reproduce

`index.js`:

[code]

## Expected behavior

Running `fastify start -o index.js` and `curl --http2-prior-knowledge http://localhost:3000` gives:

[code]

## Actual behavior

[code]

## Your Environment

- *node version*: v13.9.0
- *fastify version*: 2.11.0
- *os*: Windows

[2020-02-24 07:01] mcollina commented on #2112
We are currently relying only on the `host` header in https://github.com/fastify/fastify/blob/6f79a90703078451f4571ac3e08b815a26753503/lib/route.js#L310. However I think it's a different header in h2. From https://tools.ietf.org/html/rfc7540#section-8.1.2.3:

      accurately, this pseudo-header field MUST be omitted when
      translating from an HTTP/1.1 request that has a request target in

[2020-02-24 12:10] #2112 closed

[2020-02-24 15:56] Ethan-Arrowood commented on #2110
Hi @alinnert ! As promised, I just got a chance to read through and digest this. You bring up a lot of good points and some great ideas, but one thing to keep in mind is that Fastify is JavaScript first. It is written in JS and we don't plan on changing that. As far as I know, we have not to modified the Fastify API in order to improve the TS experience. That said, if there is a good enough reason

[2020-02-24 19:17] wiredmartian opened #2115 "FST_ERR_DEC_ALREADY_PRESENT: The decorator 'xxx' has already been added!"
I'm trying to decorate a request with the current user's data from the jwt auth token;

[code]

**PROBLEM**

The first request `GET` works, but when I make the same request again, I get this error:

[code]

**Environments**
*node version*: 11.15
*fastify version*: 2.11
*os*: Linux

[2020-02-24 19:20] jsumners commented on #2115
Please see the decorators documentation for how to use decorators -- https://www.fastify.io/docs/latest/Decorators/

You define a decorator prior to starting the server, not within route handlers.

[2020-02-24 19:21] mcollina opened #2116 "Make decorate* methods throw after server is started."
## 🚀 Feature Proposal

In https://github.com/fastify/fastify/issues/2115, the reporter is trying to decorate the global request object within a route. This is not supported by Fastify, and we should throw if `server.decorate()`, `server.decorateRequest()` or `server.decorateReply()` are called after `.ready()`.

[2020-02-24 19:21] #2115 closed

[2020-02-24 19:29] alinnert commented on #2110
I was about to ask if not even solution 1 could be implemented because it's not a change, it's a small addition. But then I've realized you can achieve a similar result to that by adding an index signature to the interface `FastifyInstance`. Just add `[x: string]: any` at the very bottom. This allows any number of additional properties on the fastify instance. It doesn't change the behavior of the

[2020-02-24 20:23] Ethan-Arrowood commented on #2110
I do not like `any`. We can explore the idea of a type signature that points to `unknown` though requiring the use to either declaration merge or type cast. I'd like more maintainers to weigh in on this though as that can lead to poor type safety if the user never actually calls `decorate`.

And yeah I guess you are correct. I've always toyed with the idea of a totally type safe backend framework

[2020-02-24 20:34] wiredmartian commented on #2115
Alright, thanks :). I ended up with the code below.
[code]

Although, I'm not sure how it differs with the example from the docs. What's the difference between decorating the route request and decorating the global request object? Apart from one being defined before the server starts. It almost seems like they're doing the same thing.

[code]

[2020-02-24 20:39] alinnert commented on #2110
Yes, `unknown` was my first intuition. But I couldn't find any occurrences of `unknown` in that `.d.ts` file, but a lot of `any`. So I've chosen `any` as well. Linters actually disallows the usage of `any` at all. So, I thought the usage of `any` is for compatibility reasons. `unknown` definitely makes more sense, if it's supported by the user's TS version.

Do you mean that this typing encourages

[2020-02-24 21:40] jsumners commented on #2115
Using the decorator defines the shape of request objects. See https://mathiasbynens.be/notes/shapes-ics

[2020-02-25 07:14] mcollina commented on #2115
@jsumners we should really link that from the docs.

[2020-02-25 12:36] jsumners commented on #2115
Open an issue and assign it to me. I'll take care of it soon-ish.

[2020-02-25 13:31] mcollina opened #2117 "Add docs for explaining the concept of object shapes"
Using the decorator defines the shape of request objects. See https://mathiasbynens.be/notes/shapes-ics

_Originally posted by @jsumners in https://github.com/fastify/fastify/issues/2115#issuecomment-590562376_

[2020-02-26 07:12] BinaryShrub opened #2120 "Disable logger on specific route"
## 💬 Questions and Help

I want to disable logging on my health route `POST /health` so it doesn't pollute my logs; is there a way to do this?

[2020-02-26 07:31] mcollina commented on #2120
https://github.com/fastify/help/issues/140

This is probably our most _asked_ question. I'd just like to understand more why you was not able to find this info (Which is in the docs and on multiple issues). Where would you expect to find it?

[2020-02-26 10:34] GlenTiki commented on #1592
Should this be treated as a documentation issue, or should the breaking change be made? It _appears_ like this is a contentious issue, as I find @jsumners comment is appropriate and yet the underlying argument to change the code to 302 is also fair.

[2020-02-26 11:49] ToonvanStrijp commented on #1592
@GlenTiki How I see it, if a developer comes from express to fastify this can be an issue that he would end up at. But we can either fix it by adding some clear documentation, or make a breaking change and do it the same as express is doing it. :)

[2020-02-26 12:49] jsumners commented on #1592
So if I do:

[code]

Your assertion is that the result should be?:

[code]

When what I really said to do is:

[code]

[2020-02-26 13:22] ToonvanStrijp commented on #1592
@jsumners yes indeed. The code above can cause a situation where the developer doesn't know here the 303 status was set. So the solution I'm proposing makes this clearer since the developer is required to specify the status code. If not it's the default 302

[2020-02-26 14:10] jsumners commented on #1592
I completely disagree. I, the developer, have explicitly said I want to send a `303` _not_ a `302`. But you're saying that if I do not explicitly chain `reply.status(303).redirect('/foo')` then my desire will be overridden with a `302`. That is not a friendly developer experience, IMHO.

[2020-02-26 15:15] ToonvanStrijp commented on #1592
@jsumners I think either the design or the documentation needs to be changed.

On the other hand `reply.redirect()` ends the request and sends the response. [(https://github.com/fastify/fastify/blob/master/lib/reply.js#L240)](https://github.com/fastify/fastify/blob/master/lib/reply.js#L240). So you basically have two different actions, it either modifies the response or it sends it. Because the `r

[2020-02-26 18:43] jsumners commented on #1592
I'm not opposed to clearer documentation.

[2020-02-26 20:35] ToonvanStrijp commented on #1592
Alright then let's do that anyways cause that won't do any harm ;)

[2020-02-28 11:38] #1592 closed

[2020-03-02 09:05] #1960 closed

[2020-03-02 15:45] allevo opened #2123 "`onRoute` hook doesn't receive the resolved schema"
## 💬 Questions and Help

`onRoute` hook doesn't receive the resolved schema. Is it ok?
NB: [`fastify-swagger`](https://github.com/fastify/fastify-swagger/blob/3a7a67395812c0500f73685a22319baaf0646ded/dynamic.js#L12-L14) registers itself using `onRoute`

### Please note that this issue tracker is not a help forum and this issue may be closed.
[code]

If you want I'm ok to send a PR to fix this. Any

[2020-03-02 18:07] Eomm commented on #2123
This should be fixed in
https://github.com/fastify/fastify/pull/2108

Your check is not working because you need to run it after the fastify.ready

This happens because the onroute is triggered before the evaluation of the schemas (since the beginning, it is not a regression this case)

[2020-03-02 18:29] jhewlett commented on #1668
I've been playing around with a library called `typebox` (https://github.com/sinclairzx81/typebox) that is quite pleasant. You define your schema in a typescript DSL that spits out the JSON Schema for you and also allows you to derive a typescript type from it:

[code]

It's much less verbose to define the schema this way, and it's nice not to have to generate any types at build-time.

[2020-03-02 18:40] mcollina commented on #1668
Nice, I think we could add an example and recommend it in the docs. It's really in line to what I would expect!

[2020-03-03 09:56] allevo commented on #2123
I don't understand: from my point of view, the hook `onRoute` is fired with the route configuration with the resolved schema.

[2020-03-03 10:12] Eomm commented on #2123
The `onRoute` hook is fired before the evaluation of the shared-schema (replace-way):

https://github.com/fastify/fastify/blob/0b50f38df033ae112d5043cdf21297c7562f608e/lib/route.js#L193

after:

https://github.com/fastify/fastify/blob/0b50f38df033ae112d5043cdf21297c7562f608e/lib/route.js#L272

This test shows what I mean:

https://github.com/fastify/fastify/blob/0b50f38df033ae112d5043cdf21297c7562

[2020-03-03 16:40] gyszalai commented on #2098
oops, sorry, I forgot about this one.

[2020-03-03 16:44] gyszalai commented on #2098
The `InjectOptions` interface of light-my-request doesn't declare the `cookies` property either. Shall I file az issue (and a PR) there?

[2020-03-03 16:45] mcollina commented on #2098
Just open a PR there.

Il giorno mar 3 mar 2020 alle ore 17:44 Gyula Szalai <
notifications@github.com> ha scritto:

[2020-03-03 17:05] gyszalai commented on #2098
done

[2020-03-03 21:41] Ethan-Arrowood commented on #1668
That library is so awesome. Would love to see an example of it with Fastify!

[2020-03-04 15:34] #2098 closed

[2020-03-05 02:40] jhewlett commented on #1668
@Ethan-Arrowood Here's a pretty minimal sample showing it used for query and response schemas. It shows off optional fields and a `date-time` format string:

[code]

[2020-03-05 03:45] sinclairzx81 commented on #1668
@jhewlett @Ethan-Arrowood

Hi all, Just to let you know, I have published an updated version of `typebox` to [npm](https://www.npmjs.com/package/@sinclair/typebox), so it's possible to source the dependency from there if you find it easier. The updated version is still a single source file, so copying into your local projects is still an option if you prefer that approach.

Updates include:
- Impr

[2020-03-05 06:09] #2087 closed

[2020-03-05 11:56] yuchi commented on #1680
I don‘t know what you think about a change in semantics in order to support thrown plain objects, but for sure [there’s an error in the documentation](https://www.fastify.io/docs/latest/Reply/#async-await-and-promises) (in bold the relevant parts):

The terms “an object” **does not** imply that an instance of _Error_ or of a subclass of _Error_ is required.

[2020-03-06 16:22] yuchi commented on #1680
Made a PR to propose a docs improvement.
Just let me state that this issue got me too and I checked the docs twice to make sure I could send custom errors. Since I had a custom `HTTPError` class the solution for my case was as simple as `extend Error`.

[2020-03-06 16:39] dnlup commented on #2116
I would like to help here. I'll try put something together in the next days.

[2020-03-08 02:05] #2117 closed

[2020-03-08 19:21] Ethan-Arrowood commented on #1668
Awesome work @jhewlett and thank you for a great project @sinclairzx81

@jhewlett i'm going to test out your example locally soon. And then I'll add it to the documentation I'm working on. Would you like me to add you as a co-author on the commit?

[2020-03-08 19:25] Ethan-Arrowood opened #2129 "Implement #2124 onto next branch"
#2124 makes a great type change for depending on `light-my-request`. This should be added to the types in _next_ if its not already there.

[2020-03-08 20:50] Ethan-Arrowood commented on #2110
Yeah, in general, one of the pain points of this is the fact that when a user decorates the fastify instance with types they usually do so in a separate definition file. Then while they develop their application they call `decorate` with some plugin. There is no check that the things that plugin is claiming it is decorating fastify with is actually happening.

More over, sometimes a user may remov

[2020-03-08 21:16] #2116 closed

[2020-03-09 10:47] delvedor commented on #2056
Hello everyone! I wanted to share some plan for the close future about the v3 release:
We will get merged soon every [semver major](https://github.com/fastify/fastify/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc+label%3Asemver-major) pr in the `next` branch, once we do that, we will cut a 2.x branch from master and make the next branch the new master.
To recap:
`master` => `2.x`
`next` => `master

[2020-03-09 13:11] jhewlett commented on #1668
@Ethan-Arrowood Sure! And feel free to tweak it if you want, the example was somewhat arbitrary.

[2020-03-09 18:55] frodoe7 opened #2130 "How to use a mongoose plugin in fastify ?"
I'm using this plugin https://github.com/alex-ppg/fastify-mongoose
to support mongoose in my project

now - I'd like to add a mongoose plugin like this one : https://www.npmjs.com/package/mongoose-paginate-v2

to paginate my data , which is something required for any big project
how to add this plugin to my project ?

[2020-03-09 19:03] jsumners commented on #2130
Neither of those things are managed by the Fastify organization. You should be asking the plugin author how to use their plugin.

[2020-03-09 19:03] #2130 closed

[2020-03-10 16:13] allevo commented on #2123
Sorry for the delay.
Yeah, reading the code this behaviour is right.
But from developer point of view? I don't know

[2020-03-10 16:38] mcollina commented on #2123
Should we add another event after resolution is completed? How would you fix it?

[2020-03-10 16:54] SkeLLLa commented on #2123
The schemes will be resolved after Fastify's `.ready()` method will be called. That was since fastify v1 and that's why fastify-swagger plugin has `.swagger()` method:
[code]

Maybe all devs just get used to it.

[2020-03-11 13:02] rfgamaral opened #2131 "Can I use 'onResponse' hook without async or done?"
I have small piece of code I need to run on the `onResponse` hook and for now I have it like this:

[code]

Is there anything wrong with this or myabe I should go with:

**Option 2)**

[code]

**Option 3)**

[code]

?

[2020-03-11 13:23] Eomm commented on #2131
yes it is: you are creating a memory leak and blocking the onRequest hooks, check `hello 2`

[code]

If you don't need to use `await`, `done()` callback is little bit faster because you are not creating promises

[2020-03-11 14:11] rfgamaral commented on #2131
Thank you so much for clarifying this for me :)

[2020-03-11 14:11] #2131 closed

[2020-03-12 21:51] #2120 closed

[2020-03-13 15:50] #2111 closed

[2020-03-16 11:58] MaximeBernard commented on #2056
Hi!

Do you plan on doing alpha/beta releases before that?
Do you have any planning forecasts?

I'm currently doing some Typescript benchmarks and V2 fells a bit short with typescript integration. Should I wait for V3 or find workarounds with V2?

[2020-03-16 12:09] mcollina commented on #2056
It's almost done. We hope to issue a first alpha in the coming weeks, and then follow a series of rc.
I would say it's worth waiting for v3 wrt TypeScript, all the types has been rewritten and simplified quite a bit.

[2020-03-16 12:35] allevo commented on #2056
Are there some migration guide lines?

[2020-03-16 12:59] Ethan-Arrowood commented on #2056
@allevo there are currently no direct v2 to v3 migration guides for TS, but the doc update for v3 types includes a bunch of examples and much more detail than before so I hope that makes up for it.

[2020-03-16 13:21] mcollina commented on #2056
A blog post/guide to migrate would be helpful. I find that those are better written by users porting an app rather than authors of the breaking changes.

[2020-03-18 18:54] greenkeeper[bot] opened #2139 "An in-range update of fast-json-stringify is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [fast-json-stringify](https://github.com/fastify/fast-json-stringify) was updated from `1.17.0` to `1.18.0`.

🚨 [View failing branch](https://github.com/fastify/fastify/com

[2020-03-18 19:11] #2139 closed

[2020-03-19 12:26] CnApTaK opened #2141 "original route url"
[code]
i make GET request /test/123 and i want to get original url like '/test/:id' inside handler. how to do that?

[2020-03-19 12:45] kibertoad opened #2142 "TS types do not cover builder-style .inject() usage"
## 🐛 Bug Report

https://github.com/fastify/fastify/blob/master/docs/Testing.md claims that this is legal syntax:

[code]

However, there are only two available types for inject():

[code]

Hence builder-style inject fails to compile in TypeScript.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

TypeScript compiler correctly accepts inject() without parameters and

[2020-03-19 14:14] Eomm commented on #2141
Here you are `reply.context.config.url`

Would you like to improve our docs?
It seems it is [not well documented](https://github.com/fastify/fastify/blob/master/docs/Reply.md#introduction)

[2020-03-19 15:10] delvedor opened #2143 "Expose is404 in request object"
## 🚀 Feature Proposal

In some cases, it might be useful for our users to know if they are inside a 404 handling or not. We can quickly check it internally via the `kFourOhFourContext` symbol, but I think it would be great to expose it in our public API via the request object.

## Motivation

A use case example can be found [here](https://twitter.com/ThisIsMissEm/status/1240644657970806791).
TL;DR

[2020-03-19 15:27] mcollina commented on #2143
I would write this as a getter instead, so we don't have to do set anything on the actual object. All the relevant info is already there.

@delvedor can you post your snippet on how the info can be found?

[2020-03-19 15:30] CnApTaK commented on #2141
OMG! Thank you so much!)

[2020-03-19 15:30] #2141 closed

[2020-03-19 15:33] delvedor commented on #2143
If we want to add this in the request object, it can't be exposed as a getter, as the context object that holds this information lives in the reply object.

The snippet:
https://gist.github.com/delvedor/d560e6805e325c546a21b0b4a97268cd

[2020-03-19 15:33] mcollina commented on #2142
This is fixed by https://github.com/fastify/fastify/issues/2098. It'll be part of the next release.

[2020-03-19 15:33] #2142 closed

[2020-03-19 16:04] ThisIsMissEm commented on #2143
<details>
<summary>So the actual error we saw in our logs was these events, clearly, it's for a route that doesn't exist in a node.js server, as it's a spam/hacking bot in action.</summary>

[code]

[2020-03-19 18:25] santonocito commented on #2143
I'd like to work on this

[2020-03-19 18:30] delvedor commented on #2143
@ThisIsMissEm yes, it looks like so!
I think the best approach would be to expose the `is404` in a nice way and let you handle the issue, or even build a plugin.
I would avoid adding yet another option to the framework itself as we should try to keep them at the minimum and suggest to use a plugin instead :)

[2020-03-19 19:52] Eomm opened #2144 "[next] get compilers only after startup"
In the `next` branch, I wrote a test to count how many AJV instances were being created to be sure to optimize this behaviour and to don't introduce regression about it since it can slow down the startup.

When I merged `master` in `next` I saw that this PR #2077 broken those tests.
This PR has moved the initialization of AJV in the `preReady` event.
This was necessary to let the user run `fastify

[2020-03-19 22:31] kibertoad commented on #2142
@mcollina Thanks! Are there any timelines for the next release?

[2020-03-19 22:58] mcollina commented on #2142
I’ll try to do it tomorrow if I can.

[2020-03-20 00:08] davidmarkclements commented on #2143
are there any other status codes where you would have an overlapping use case? For instance.. what about a 400?

[2020-03-20 02:28] ThisIsMissEm commented on #2143
@davidmarkclements for me, it's really about just rejecting requests from all those automated bots that try to attack & pwn literally any HTTP server on the internet, so for our use case, 404 or route not found could be a very first step: it'd allow us to kill off bot requests very early on in their lifecycle.

I'd be happy with this being a plugin too, but I don't think a plugin should use intern

[2020-03-20 06:57] mcollina commented on #2143
I think the name should be isNotFound because of parity with the serNotFoundHandler.

[2020-03-20 11:21] mcollina commented on #2144
`on('preReady')` and `.ready()` have two different meaning. If this becomes a pattern, we might want to document it more clearly, and I agree that adding one more hook `schemaResolved` would be handy. After that, `validatorCompiler` will be set.

[2020-03-20 11:45] CnApTaK opened #2147 "where is my error?"
[code]
with this code i run request to http://127.0.0.1:8080/test?id=123&value=456
in console i get:

i receive 'just test' as reponse and i see no error anywhere..
but..
if i remove word 'async' in 'onResponse' hook
then i got:

so.. how i supose to catch errors in async hooks?

[2020-03-20 12:03] rburgst opened #2148 "TS type defs for inject query is wrong"
## 🐛 Bug Report

after updating from fastify 2.12.1 to 2.13.0 the typescript definition for `fastify.inject` only supports a `string` for the `query` option.

## To Reproduce

Steps to reproduce the behavior:

Paste your code here:

[code]
now throws a ts compiler error. Previously this was working fine.

The problem appears to stem from wrong typedefs in `light-my-request/index.d.ts` where query

[2020-03-20 13:19] Ethan-Arrowood commented on #2148
Relevant PR here: https://github.com/fastify/fastify/pull/2124

This change needs to be made in the light-my-request repo then we can update the dep here in fastify.

We should also add unit tests to cover this.

Are you interested in sending a PR?

[2020-03-20 13:54] rburgst commented on #2148
created a PR, obviously it fails until its fixed.

[2020-03-20 14:27] Eomm commented on #2147
Why are you confused by this error?

`null` can't have properties so the error it is quite clear `Cannot read property 'test' of null`
[code]

[2020-03-20 14:31] CnApTaK commented on #2147
can you first read the post?
problem is that i dont get error when use async hook.
complete silence from app.. cannot even know that some code is not working since that place where error hapened

[2020-03-20 14:32] Eomm commented on #2148
Would you like to fix it in https://github.com/fastify/light-my-request ?

[2020-03-20 14:36] Eomm commented on #2147
You have hidden your **main question** very well:

![image](https://user-images.githubusercontent.com/11404065/77173759-51fcab80-6ac0-11ea-88ae-07b5109d0571.png)

I will not reply to this kind of sentence.
The solution is in our docs.

[2020-03-20 14:38] CnApTaK commented on #2147
i read your docs. there is no word about this situation

[2020-03-20 16:06] Eomm commented on #2143
At that stage, the body has been already parsed (assuming the schema validation in action)

I would act in a different way, using `reply.statusCode`, since the 404 is a response domain:

In a 404 case I have
[code]

The routing should be already executed at that stage and in the `onRequest` the status code could/should (?) be already set to 404

[2020-03-20 16:21] CnApTaK opened #2150 "can't catch error from 'onResponse' async hook"
i can see that your logger somehow catches my error. but i dont want to use your logger. i want to make my own.
![image](https://user-images.githubusercontent.com/1032312/77183594-3f41a100-6ad7-11ea-8e4f-4ba92539a524.png)

[2020-03-20 16:25] jsumners commented on #2150
So use your own https://www.fastify.io/docs/v2.12.x/Server/#logger

[2020-03-20 16:25] #2150 closed

[2020-03-20 16:26] CnApTaK commented on #2150
how to catch error to use it in mine? )

[2020-03-20 16:29] CnApTaK commented on #2150
'onError' hook does not catch my throw

[2020-03-20 16:29] jsumners commented on #2150
Please read the documentation -- https://www.fastify.io/docs/v2.12.x/Server/#seterrorhandler

[2020-03-20 16:35] CnApTaK commented on #2150
why? does not work
![image](https://user-images.githubusercontent.com/1032312/77185124-8466d280-6ad9-11ea-9ce3-440de6f00461.png)

[2020-03-20 16:38] jsumners commented on #2150
Your attitude is unwelcome here. You were warned a previous thread and in this one you continue making aggressive statements like "LOOK AT CONSOLE!!!". We are not here to take your abuse or do the work for you.

[2020-03-21 14:17] kibertoad commented on #2142
@mcollina Unfortunately, instead of fixing the issue, 2.13.0 made it worse. Not only typings do not allow builder-style injection, but builder-style injection itself stopped working, so aforementioned example from documentation is broken now.

[2020-03-21 14:18] mcollina commented on #2142
Would you like to send a PR to https://github.com/fastify/light-my-request to fix it? Thanks

[2020-03-21 14:20] kibertoad commented on #2142
@mcollina I'll give it a shot, trying to figure out which version of light-my-request broke it...

error is `app.inject(...).get is not a function`

[2020-03-21 14:33] kibertoad commented on #2142
@mcollina Sorry, that was mistake on my part, app not being readied yet, obscured by the fact that app still exposed inject() method.

That said, original issue is still an issue, fastify.d.ts does not have `inject()` definition that would accept zero parameters.

[2020-03-21 14:44] mcollina commented on #2142
The offer to send a PR to fix is still open.

[2020-03-21 16:33] #2147 closed

[2020-03-22 09:39] delvedor commented on #2143
@Eomm that could work, but I fear it is not robust enough. As soon as someone (you or an hook) changes the status code you no longer know that you were handling a 404.

I think we should provide a reliable way to tell the users that they are inside a 404 handling.
In this way also external plugins will be more robust, as we are guaranteeing if it is a 404 handling or not.

[2020-03-23 10:08] rburgst commented on #2148
done, see https://github.com/fastify/light-my-request/pull/76

[2020-03-24 22:34] joelwallis commented on #1986
I gotta work on this same issue this week, and it seems the way you're testing the bug isn't enough. By using cURL's `--data-binary` option, you embed fs-specific metadata into the compressed body of the URL, leading to this unmatch of the body length.

I managed to simulate the correct behavior with a custom Node.js script:

[code]

I'm temporarily solving this by overwriting the default `applica

[2020-03-26 07:25] Eomm commented on #2123
This issue is related to https://github.com/fastify/fastify/issues/2144

I will give the issue a try in the next days 👍

[2020-03-26 07:26] Eomm commented on #2144
I'll try to add it to the v2 first

[2020-03-26 10:46] juriwiens commented on #2148
I would like to add that before the light-my-request types were imported, I was able to provide multiple values for the same key like: `query: { fields: ["a", "b"] }`. As the implementation still allows this, however, the types should be extended accordingly, right?

[2020-03-26 10:49] mcollina commented on #2148
Yes, would you like to send a PR to light-my-request?

[2020-03-26 11:34] juriwiens commented on #2148
Done: https://github.com/fastify/light-my-request/pull/77

[2020-03-26 11:41] rburgst commented on #2148
@juriwiens this has already been fixed in https://github.com/fastify/light-my-request/pull/76 and merged

[2020-03-26 11:41] rburgst commented on #2148
also https://github.com/fastify/fastify/pull/2149 is already merged, the only thing missing is a new fastify release

[2020-03-26 13:11] Ethan-Arrowood commented on #2148
@rburgst I believe @juriwiens is based off of your work and allows for values to be arrays of strings, not just strings 😁

[2020-03-28 16:38] akaRem opened #2164 "Typescript: request decorations don't work with built-in typings"
## 🐛 Bug Report

Type definitions do not accept extended types.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

There should be a way to define and use custom Fastify.FastifyRequest which has custom fields added by hooks and plugins.

## Your Environment

- *node version*: v13.11.0
- *fastify version*: 2.13.0
- *os*: Mac
- *typescript*: 3.8.3

[2020-03-28 18:28] mcollina commented on #2164
@Ethan-Arrowood would types in v3 fix this?

[2020-03-29 00:39] Ethan-Arrowood commented on #2164
Yes it should be.

@akaRem would you be interested in trying this code with the `next` branch of fastify? I believe this would be a nice thing to unit test

[2020-03-29 14:35] Ethan-Arrowood commented on #2056
TypeScript updates including docs have no been merged 🙌from the TypeScript side of things we are ready for a release candidate 🚀

[2020-03-31 06:22] sabit990928 commented on #709
Sorry guys. I'm not using fastify using fastify, but have the same issue. I have my Node JS(Express) server in other heroku pipeline. It works well, but my client side showing the R10 boot error.
Is it mean that there is some trouble with some library and not my project itself?

[2020-03-31 06:50] Eomm commented on #709
Trouble in some library is trouble in your project!

Anyway, this mean that your startup is not working and the general cases are:
- `npm start` command
- lost connections (do you have connection's URL to some DBS?)
- mismatch of nodejs version between your local development and Heroku instance
- very slow startup (prefetching)
- as this issue: wrong binding of the server

[2020-03-31 16:29] sabit990928 commented on #709
@Eomm, thanks for the answer. I have a problem with next.js start. There is was local changes where we remove server.js file(from version 9 it's not needed).
To fix this issue I changed npm start command to
`"start": "NODE_ENV=production next start -p $PORT ./app",`

[2020-03-31 16:41] jsumners commented on #709
@sabit990928 you have stated that you are not using Fastify. Therefore, your issue is outside of our scope. Please file issues with the modules that you are actually using.

[2020-04-01 05:50] chiku opened #2169 "Fastify crashes when reply code is not recognized"
## 🐛 Bug Report

Fastify crashes when reply code is not recognized.

## To Reproduce

Steps to reproduce the behavior:

Run fastify server that returns an exotic response code.

[code]

Make a request to the server
[code]

The application crashes.

The HTTP response code is 500 and the response body is as follows.

[code]

## Expected behavior

The application should not crash

## Your Environment

[2020-04-01 07:56] mcollina commented on #2169
The bug that https://github.com/fastify/fastify/pull/2082 tried to fix is `reply.code(undefined)`.  I think an alternative implementation of https://github.com/fastify/fastify/pull/2082/files#diff-d2fdf63c1d7f1d9f68270b6dfa8c930cR201 can be provided to pass the given unit test that does not crash the above code. I do not think we should have a different behavior between v2 and v3, this is just a r

[2020-04-01 08:01] leorossi commented on #2169
Yes assign it to me please

[2020-04-02 18:25] AmeerTaweel opened #2172 "Types for register() have a problem"
## 🐛 Bug Report

The `register` function expects a `ServerOptions` object as it's second parameter where it should expect a `RegisterOptions` object.

## To Reproduce

Steps to reproduce the behavior:
1. Create a Fastify project using Typescript.
2. Create a route.
3. Try to [register the route with a prefix](https://www.fastify.io/docs/latest/Routes/#route-prefixing).

[code]

## Expected behavio

[2020-04-02 18:26] AmeerTaweel commented on #2172
It works if I only do this:
`app.register(myRoute)`

[2020-04-02 18:28] AmeerTaweel commented on #2172
I think that the problem is in `fastify.d.ts` at line **541**:
[code]

[2020-04-02 18:32] AmeerTaweel commented on #2172
The exact error:
Argument of type **'{ prefix: string; }'** is not assignable to parameter of type **'ServerOptions'**.
Object literal may only specify known properties, and **'prefix'** does not exist in type **'ServerOptions'**. **ts(2345)**

[2020-04-02 18:37] mcollina commented on #2172
would you like to send a PR?

[2020-04-02 18:42] AmeerTaweel commented on #2172
The problem should be in **`fastify.d.ts`** at line **541**:

[code]

This is the only definition of types for the `register` function. The thing is, I see that the parameter `options` has the type `Options` that extends the type `RegisterOptions` which is the correct type.

I'd love to send a PR since this would be my first Open Source contribution but I really don't see the problem in the type d

[2020-04-02 19:00] mcollina commented on #2172
I would recommend to create an example repo to demonstrate your problem. It'd be hard or impossible to help you otherwise.

[2020-04-02 19:04] jadhavajay opened #2173 "Support for Deno"
## 🚀 Feature Proposal

Now that it [has been announced](https://github.com/denoland/deno/issues/2473#issue-453631188) that Deno 1.0 will be released the 13rd of May 2020.

So maybe it's time to consider this?

## Motivation

Another high-performance web-framework made available to Deno.land as well.

## Example
Few existing web frameworks supporting Deno are:
https://deno.land/x/oak/
https://githu

[2020-04-02 19:09] jsumners commented on #2173
Deno !== Node.js. We'd have to write a new framework to support that runtime environment.

[2020-04-02 19:09] #2173 closed

[2020-04-02 19:14] AmeerTaweel commented on #2172
I did that. Here is the [example-repo](https://github.com/AmeerTaweel/fastify-test-repo). The error will be in `src/index.ts` at line 16.

[2020-04-02 22:29] vnazar commented on #2172
The problem is that you are using the wrong option type in your plugin definition. If you see in your   _myRoute.ts_ file, you use `ServerOption` when in reality you shoud use `RegisterOptions<http.Server, http.IncomingMessage, http.ServerResponse>`, like this:

[code]
Regards,

[2020-04-03 09:05] AmeerTaweel commented on #2172
Thank you so much, it worked:clap:

[2020-04-03 09:05] #2172 closed

[2020-04-03 18:35] mkinoshi opened #2175 "Proposal: A way to control the order that multiple hooks are applied for the same hook event"
## 🚀 Feature Proposal

I am proposing a way to control the order that multiple hooks are applied for the same hook event. Let's say you have two `preHandler` hooks that you register in your code. One is registered at the root level, and the other is registered at a specific route level. In the current implementation, I believe the hook registered at the specific route level has higher precedence o

[2020-04-03 19:13] Eomm commented on #2175
This is not true unless you are experimenting a bug in your usage

This simple snipped show the right order:

[code]

Regarding the feature-request, I think it is already doable acting on `onRoute` hook and changing the options

[2020-04-03 19:45] PierBover commented on #1593
What about error managing in an async hook?

The hooks docs specify to use `done(new Error('Some error'))` for non async hooks but there is no info on error handling on an async hook.

https://www.fastify.io/docs/latest/Hooks/#manage-errors-from-a-hook

[2020-04-03 20:10] mkinoshi commented on #2175
@Eomm Yeah, you're right. There was a bug in my code that basically flipped the order of registering :/ It's also good to know that it is possible to do it `onRoute` option. Thank you. I will close this one now.

[2020-04-03 20:10] #2175 closed

[2020-04-04 09:02] Eomm commented on #1593
you need to `throw new Error('something wrong')`,  would you like to add it to our docs?
I would be helpful!

[2020-04-04 15:16] PierBover commented on #1593
Sure why not!

[2020-04-04 15:56] shouhuyou opened #2177 "addHook preSerialization changes the payload to string and still does the serialization"
[code]
output:  "hello"
I checked the source code
in lib/reply.js
[code]

[2020-04-04 16:08] mcollina commented on #2177
I don't understand :/. Can you include a full example that I can run?

[2020-04-04 16:42] shouhuyou commented on #2177
[code]

[2020-04-04 16:49] shouhuyou commented on #2177
I want to decouple  `handle` and `view layer`,

[2020-04-04 22:42] RafaelGSS commented on #2068
Hey guys, only 3 documents are missing to be translated. I will follow the doc tags here, but If I forget some issue, do you can create on `docs-portuguese` please?

However, I did a little search around the Github Actions available and maybe this https://github.com/JasonEtco/create-an-issue/issues/40 can solve our problems :smile:

[2020-04-05 05:00] Olliyze opened #2178 "small typos on Routes page"
I believe there are extra closing parentheses on the lambda expressions on the Routes page https://www.fastify.io/docs/master/Routes/

e.g.
`fastify.get('/example/:userId', (request, reply) => {}))`

[2020-04-05 08:29] Eomm commented on #2178
Yes, it is!
Would you like to send a PR to fix those examples?

[2020-04-05 17:49] mkinoshi commented on #2120
@mcollina @Eomm I initially couldn't find the solution for this either mainly because I was trying to find the solution in the logging section. Once you say it is under the route section, it seems very obvious since it is related to how you configure routes. However, it might be helpful to mention a little bit in the logging section and create a link to the description in the route section.

[2020-04-05 17:53] jsumners commented on #2120
Improvements to docs PRs are always welcome.

[2020-04-05 17:59] mkinoshi commented on #2120
Sounds good, yeah I can work on it!

[2020-04-06 12:04] jsumners commented on #2177
I think the docs are pretty clear (https://github.com/fastify/fastify/blob/055f22069f41933db5443ccb7d1167febf2ee8e1/docs/Hooks.md#preserialization):

You changed the payload to a string. A string does not need to be serialized further. What is the issue?

[2020-04-06 12:44] hvardhan617 opened #2180 "unable to run swagger-stats when using fastify cli"
When using fastify cli in my node js application and trying to register swagger-stats, the route "/swagger-stats/ui" shows 404.
However , when removing fastify ci from package.json, it opens up

Heres, my package.json and app.js for registering the statsplugin.

[code]

[code]

[2020-04-06 21:14] #2178 closed

[2020-04-07 10:05] mcollina commented on #2180
I think you should open an issue on swagger-stats, not in this repo.
It's kind of impossible for us to help without a full repro.

[2020-04-07 10:05] #2180 closed

[2020-04-07 13:59] jlguenego opened #2186 "Declaration error in fastify.d.ts : app.use must accept async middleware"
## 🐛 Bug Report

Small issue, very easy to fix.
Typescript: we cannot use async middleware with linting.
Because it cannot properly check the returned type.
Problem while linting with rule : @typescript-eslint/no-misused-promises

Async middleware must return `Promise<void>`

## To Reproduce

[code]

The code is perfectly working. But if you look at `server.ts`:

[code]
 The middleware `sso.auth()

[2020-04-07 16:37] mcollina commented on #2186
That code has likely a memory leak. Please read it through in https://github.com/mcollina/make-promises-safe.

The types are actually correct and they are helping you avoiding a very nasty bug.

[2020-04-07 16:37] #2186 closed

[2020-04-07 17:01] jlguenego commented on #2186
Do you mean that in fastify all the middleware must be sync ?
I would propose this :

now:
[code]
proposed:

[code]

[2020-04-07 17:24] mcollina commented on #2186
Also in express, all middleware should have a callback. There is no one catching the errors on those promises.

[2020-04-08 09:24] #2169 closed

[2020-04-08 14:31] jlguenego commented on #2186
I have now understood ;) And my middleware is now corrected. Thanks for this ;)

[2020-04-09 08:18] mpetrunic commented on #1877
We made new plugin:
https://www.npmjs.com/package/fastify-sse-v2

Currently, only AsyncIterables are supported but if there is interest we can provide more options.

[2020-04-10 21:59] Eomm commented on #1973
Could we close this or there are some new features we could benefit to add in the fastify's option object?

[2020-04-10 22:01] Eomm commented on #1934
This has been implemented in #2023 and it will be released in v3

[2020-04-10 22:05] Eomm commented on #1926
It seems related to #2190

Whenever it will be released could you check if this issue has been solved for you?

[2020-04-10 22:09] #1973 closed

[2020-04-10 22:09] mcollina commented on #1973
It’s done!

[2020-04-10 22:10] Eomm commented on #1680
Feature ready in v3
Stay tuned for the release!

Closing

[2020-04-10 22:10] #1680 closed

[2020-04-11 21:25] aligator301 commented on #1926
I'm happy to check when it's released!

[2020-04-12 07:00] MacThanos opened #2193 "Failed building the schema for POST"
## 🐛 Bug Report

Can't resolve reference of the id from the JSON schema using the default validation engine

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Would just simply validate the body as I have copied the example in the document but instead got this error in the terminal

[code]

## Your Environment

- *node version*: 14
- *fastify version*: >=2.13.0
- *os

[2020-04-12 08:38] Eomm commented on #2193
I applied a fix here:

[code]

You should use `async` pattern or `next/callback` one, not both, so just remove the async keyword

[code]

Then I cannot reproduce with:

[code]

Could you add more info to replicate or retry with the `module.exports` fix?

I tried with LTS 12 since that version has not been released yet

[2020-04-12 09:40] MacThanos commented on #2193
Hi Manuel,

Thanks for the quick response. I tried to install a fresh version of fastify without any plugins and it works.

I then add in the plugin one by one to see if it throw an error again and it did with the 'fastify-cors'

All I did was to add this in the index entry file

fastify.register(require('fastify-cors'), {
  // put your options here
})

[2020-04-12 09:42] MacThanos commented on #2193
also I'm using node v12 and not v14 :-)

[2020-04-12 09:45] mcollina commented on #1926
Released v2.13.1

[2020-04-12 10:03] mcollina opened #2194 "Test failing due to avvio 6.4.0"
In 6.4.0, https://github.com/mcollina/avvio/commit/307f2dcdb9ed1f713828a4b8024b7f905aa2c940 was merged in. This had the effect of breaking one of the tests in Fastify: https://github.com/fastify/fastify/runs/580417133.

@Eomm can you take a look?

[2020-04-12 10:18] mcollina commented on #2194
Found it, PR to avvio coming soon.

[2020-04-12 13:00] Eomm commented on #2193
I'm still unable to reproduce adding `fastify-cors` to the script above.

I think you are trying to use the schema you have added in `fileA.js` from some `fileB.js`.
'cause of the encapsulation you should add the schema to the root context of both files since it is visible only inside the file/plugin you have added it (unless to use `fastify-plugin` wrapper)

[2020-04-12 13:38] MacThanos commented on #2193
This is my index entry file which load up all my routes in 'routes'  folder. Are you saying that I should write my JSON schema in this file instead?

[code]

[2020-04-12 14:16] Eomm commented on #2193
Yes, this is the fast solution

Have you generated the project with `fastify generate`?
If so, you could just create a file `schemas.js` in `plugins/` folder:

[code]

Then your schema will be available to all the `services/` files.
This is nicer I think

[2020-04-12 14:18] #2194 closed

[2020-04-12 15:36] Gounlaf commented on #1668
Hi there,

Just giving a feedback: using **typebox** (as mentionned https://github.com/fastify/fastify/issues/1668#issuecomment-594998612) is really cool and great
I was using **ts-json-schema-generator** (adding the global schema), but I got lot of issues when using `$ref` definitions =/ (I can't explain or give example, it's kind all new for me).

[2020-04-12 23:21] MacThanos commented on #2193
Your method above works by wrapping the fastify.addSchema inside the ```fastify-plugin```.  I can now reuse  the shared schema ```$ref``` for nested JSON selection.

I just did a manual NPM INIT to create my project but I will give the CLI a go.

Thanks again for your help. I really like Fastify so keep up the good work 😄

[2020-04-13 13:34] delvedor commented on #2056
@fastify/fastify today between 2pm and 3pm UTC I will switch the `next` and `master` branch, please **do not** run any read/write operation during that time.

[2020-04-13 14:16] delvedor commented on #2056
Done!
Now `master` is the active branch for `v3`, while `2.x` is the active branch for `v2`.
Please rebase your prs :)

[2020-04-14 11:08] mokimo commented on #1926
Still persists in fastify@2.13.1 sadly

[2020-04-14 17:56] #2089 closed

[2020-04-14 18:49] samking opened #2203 "Add an onTimeout hook"
## 🚀 Feature Proposal

There are hooks for most events in a request's lifecycle, but I believe that a request that times out doesn't go through the onError or onResponse hooks, so there currently isn't any way to respond to timeouts.  This feature proposal is adding an onTimeout hook (or something similar) that would be invoked whenever a request times out.

## Motivation

In our app, we want to k

[2020-04-14 19:38] mcollina commented on #2203
Would you you like to work on this and send a pull request? I can see this being a useful feature, but it might have some perf impact that we should avoid.

[2020-04-14 19:54] samking commented on #2203
I probably don't have time to do it right now, but if you're open to it, I can look into it in a few weeks!

Thanks!

[2020-04-15 06:37] Eomm commented on #1926
My bad: the fix has been merged in `next` not in the `v2` 🤕

[2020-04-15 10:35] #1926 closed

[2020-04-15 14:35] inikulin commented on #1926
@mcollina Has it been released?

[2020-04-16 12:50] #2177 closed

[2020-04-16 15:24] mikemaccana commented on #707
@delvedor is it possible to have `req.rawBody` and keep the parsed `req.body`? I need to be able to access the `rawBody` (for signature verification of webhooks) but don't want to break `body` for everything else in the route.

I've followed https://github.com/fastify/fastify/pull/785 to https://www.fastify.io/docs/master/ContentTypeParser/#body-parser and the only options seems to be `done(error,

[2020-04-17 07:00] klausbayrhammer opened #2207 "Always return a promise on `server.listen` even when it is called with a callback."
## 🚀 Feature Proposal

Always return a promise on `server.listen` even when it is called with a callback.

## Motivation

When `server.listen` is called with a callback it returns void where `server.listen` without a callback returns a promise. This can lead to confusion when using both in conjunction with `await` because the `await` resolves before the server is actually started/available

## Exa

[2020-04-17 07:22] Eomm commented on #2207
Why not?

[code]

[2020-04-17 12:47] klausbayrhammer commented on #2207
I know there is various ways of solving this - the nicest one probably being

[code]

However it took me quite some time to figure out that `server.listen` with a callback does not return a promise because when using it with `await` it simply resolves. In fact I only found it out when I prepared the example for this issue, because I didn't use `await` but `.then()` which lead to the error `Cannot

[2020-04-17 13:55] jsumners commented on #2207
You should never expect a promise to be returned when you use a callback based API. They are, or at least should be, mutually exclusive.

[2020-04-17 17:28] Eomm commented on #2207
I understand your point but this behaviour is a standard de-facto

For example a user that doesn't use promises, but callback in case of error would see a `unhandled promise rejection` in the console and, if the dev had set the `--unhandled-rejections=strict` the app will crash.

So it is a matter of choice promise or callback: fastify supports both

[2020-04-17 18:23] jsumners commented on #2207
I think this is sufficiently answered.

[2020-04-17 18:24] #2207 closed

[2020-04-18 19:31] kibertoad commented on #2142
@mcollina Sorry it took a while. Finally created a PR in light-my-request repo.

[2020-04-18 19:53] Eomm commented on #2142
The inject function is a wrapper of light my request

https://github.com/fastify/fastify/blob/98328a422cdbd65ea2769c44dca3a2a2fff01332/fastify.js#L306

but this interface `.inject()` is made by fastify and not supported by light my request

[2020-04-18 20:33] kibertoad commented on #2142
@Eomm So you think that https://github.com/fastify/fastify/pull/2208 would be a better way to address it?
Note that https://github.com/fastify/light-my-request/pull/85 prevents it from resolving the problem completely.

[2020-04-21 13:32] gino8080 commented on #2056
how to npm install the v3 version?

[2020-04-21 13:36] jsumners commented on #2056
Wait for an announcement that we have published to npm or do a git based install.

[2020-04-21 14:38] Ethan-Arrowood commented on #2056
Team, my work load has lightened up so please let me know if theres anything I can do to help with V3 😁

[2020-04-21 17:36] delvedor opened #2211 "Update Serverless documentation"
[Zeit is now Vercel](https://vercel.com/blog/zeit-is-now-vercel), our [serverless](https://github.com/fastify/fastify/blob/master/docs/Serverless.md#zeit-now) documentation should be updated accordingly.

[2020-04-21 17:50] mcollina commented on #2056
@Ethan-Arrowood we should be looking for having PRs ready to go for the TS migration in most of the plugins in this org asap, as well as a review of the TS migration docs.

[2020-04-21 22:47] kibertoad commented on #1993
@sheplu Do you need any help with this?

[2020-04-22 08:33] KaKi87 commented on #1586
Hello, any news on this ? Thanks !

[2020-04-22 08:34] mcollina commented on #1993
@kibertoad if you'd like to send a PR, please go ahead. It's unlikely that @sheplu will send one at this point.

[2020-04-22 08:42] mcollina commented on #1586
I'm not sure what you are asking for. This issues is closed. Please open a new one and/or send a PR.
Thanks

[2020-04-22 08:59] KaKi87 opened #2213 "[Feature request] Custom messages for AJV errors"
Hello,

Instead of an English sentence, I'd like to be able to send custom unlocalized error messages on JAV validation errors, such as : `INVALID_MAIL`, `WEAK_PASSWORD`, etc.

This is a duplicate of #1586 in terms of feature, but I've been asked to post a new issue.

Thanks

[2020-04-22 09:13] mcollina commented on #2213
I do not understand what is needed more thank https://github.com/fastify/example/blob/master/validation-messages/custom-errors-messages.js.

Would you like to send a PR adding some docs about this?

[2020-04-22 09:28] KaKi87 commented on #2213
This code allows you to specify an error message for the entire validator but I'd like to specify error messages for each constraint (type, length, range, etc.)

[2020-04-22 09:34] mcollina commented on #2213
https://github.com/epoberezkin/ajv-i18n should do the trick.

[2020-04-22 10:01] KaKi87 commented on #2213
How does `fastify` and `ajv-i18n` work together ?

[2020-04-22 12:02] allevo opened #2214 "Error with `content-lenght` header"
## 🐛 Bug Report

If in a async handler, an error is thrown and `headers` property contains `content-length` key, the response header `content-length` doesn't match the real response body length

## To Reproduce

[code]

## Expected behavior

The response `content-length` should not be propagated to

## Your Environment

- *node version*: v12.16.1
- *fastify version*: = 2.13.1
- *os*: Mac

[2020-04-22 12:41] thomheymann opened #2217 "Fastify v3 plugin upgrade list"
## Upgrade all core fastify plugins to v3

### Upgrade info

There are a number of breaking changes which can be found here:
https://github.com/fastify/fastify/blob/899382d682846b07bb706346a1a3f1165d87e369/docs/Migration-Guide-V3.md

Ensure you use latest version of fastify-plugin to get correct types:

While upgrading a plugin ensure that:

- All warnings are fixed (e.g. request.req -> request.ra

[2020-04-22 13:51] #2214 closed

[2020-04-22 16:49] mcollina commented on #1972
This is done.

[2020-04-22 16:49] #1972 closed

[2020-04-22 19:07] mcollina commented on #2217
`fastify@3.0.3-alpha.1` is on npm as `next` tag.

[2020-04-22 19:23] mcollina commented on #2213
It's definitely possible as Fastify embeds Ajv. It's a matter of doing a bit of discovery and documenting it.

[2020-04-22 19:44] mcollina commented on #2213
This can totally be done. I just do not have a snippet for you to copy and paste.

[2020-04-22 19:46] KaKi87 commented on #2213
You mean the feature was implemented but not documented ?

[2020-04-22 19:47] jsumners commented on #2213
It would be easiest to supply your AJV instance. https://www.fastify.io/docs/v2.13.x/Validation-and-Serialization/#schema-resolver

[2020-04-22 19:49] mcollina commented on #2213
It does not need to be implemented. Just supply your own instance of Ajv.

[2020-04-23 08:31] firasdib opened #2221 "Param schemas are not validated properly"
## 🐛 Bug Report

We are setting schemas for our params in the routes, which should validate them to be of specific types (and exist), but requests are not rejected when required params are discarded or of incorrect type.

## To Reproduce

[code]

## Expected behavior

The request should be rejected when the param is not included or not a number.

## Your Environment

- *node version*: 12
- *fastif

[2020-04-23 11:39] moltar opened #2223 "reply.statusCode is not defined in TS type definitions"
## 🐛 Bug Report

Docs & implementation have a prop `statusCode`, which isn't available via `FastifyReply<HttpResponse>` definition.

Docs: https://www.fastify.io/docs/latest/Reply/#statuscode

Definitions: https://github.com/fastify/fastify/blob/64296c84b57eb8f6f63bf51579febcfd274a97a5/types/reply.d.ts#L8

[2020-04-23 12:07] jsumners commented on #2221
Shouldn't `.required()` be on `.prop()` instead of `.number()`?

[2020-04-23 12:42] Eomm commented on #2221
Can't reproduce

[code]
[code]

Do you have customized ajv?

[2020-04-23 12:50] firasdib commented on #2221
Interesting...

The only customization I have is this:

[code]

[2020-04-23 12:55] Eomm commented on #2221
Do you have an error handler?

[2020-04-23 13:05] firasdib commented on #2221
User error! It works as expected. Please disregard.

[2020-04-23 13:05] #2221 closed

[2020-04-23 15:48] delvedor commented on #2223
Hello! Would you like to open a pr? :)

[2020-04-23 21:50] Ethan-Arrowood commented on #2217
Going to take on the collection of auth related plugins starting with fastify-auth.

[2020-04-23 22:28] Ethan-Arrowood commented on #2217
Are we interested in swapping CI from Greenkeeper to Actions?

[2020-04-23 22:49] mcollina commented on #2217
I would say that we should converge on Github Actions and Dependabot. Greenkeeper is already disabled org-wide.

[2020-04-23 22:51] Ethan-Arrowood commented on #2217
I also just realized I confused Greenkeeper with Travis oops 😂But yes okay i'll move CIs to Actions and i'll look at enabling dependabot

[2020-04-24 05:33] chiku opened #2226 "How to override the default clientErrorHandler?"
#### You have already researched for similiar issues?

I looked into the pull request that added a handler for clientError. (https://github.com/fastify/fastify/pull/105/files).

The documentation for Fastify does not mention how to implement a custom clientError handler

#### What are you trying to achieve or the steps to reproduce?

I expect a way to override the default client error handler.

Cr

[2020-04-24 05:43] dnlup commented on #1993
I ran some tests, and also version `10.20.1` is affected by this. For version `13.5.0`, the proposed fix works like a charm. For version 10, I don't know if we could resolve the problem in a similar way (`writableEnded` is not available there). I would like to do some research. Any suggestion is appreciated.

[2020-04-24 06:23] mcollina commented on #1993
I don't think we'll likely get a backport of `writableEndeded` in v10. Go ahead with the research.

Worst case, we'll do some conditionals based on the Node.js version.

[2020-04-24 08:26] moltar commented on #2223
Done!

[2020-04-24 09:38] #2223 closed

[2020-04-24 17:40] mcollina commented on #707
@mikemaccana thanks for reporting this. I _now_ think that is totally a valid usecase that we should support at our best. I _think_ a route-level `rawBody: true` option would do. It would easily double the memory usage, but that's exactly what is needed.

Would you like to send a PR?

[2020-04-24 20:28] Eomm commented on #2226
What do you want as output? Could you write a demo output?

Your code produce this response, not what you wrote:

[code]

[2020-04-24 20:44] dependabot-preview[bot] opened #2227 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-04-24 22:28] #2227 closed

[2020-04-25 02:18] PierBover opened #2228 "preHandler not triggered on setNotFoundHandler"
## 🐛 Bug Report

The [docs](https://www.fastify.io/docs/v1.14.x/Server/#setnotfoundhandler) on `setNotFoundHandler` say that:

But when you do this, Fastify issues a warning on the console that says:

In any case neither the `beforeHandler` or `preHandler` hooks are being triggered when `setNotFoundHandler` is triggered.

I also tried with other hooks such as `onRequest` which aren't being trigger

[2020-04-25 02:22] PierBover commented on #2228
Jesus, I just noticed I was looking at the v1 docs... thank you Google.

Anyway [the current docs](https://www.fastify.io/docs/latest/Server/#setnotfoundhandler) specify the `preHandler` hook which isn't triggered.

[2020-04-25 04:53] #2164 closed

[2020-04-25 08:53] Eomm commented on #2228
Your script actually works

[code]

[2020-04-25 09:21] mcollina commented on #2228
Is this a doc bug? Would you like to send a PR?

[2020-04-25 10:11] droidMakk commented on #306
@benderTheCrime , You could try something like this. It' working for me.

[code]

[code]

[2020-04-25 10:16] delvedor commented on #2228
I just tried as well your code and it works as expected:
[code]

[code]

I'm using the latest version of Fastify `v2.13.1`.
Regarding the documentation, we should use only `preHandler`.

[2020-04-25 10:57] delvedor commented on #306
@droidMakk there is no need to wrap a register inside another register in your example, the following works as well :)
[code]

Also, in your second snipped, you could just `return` the data since you are using an async function:
[code]

[2020-04-25 15:36] PierBover commented on #2228
Sorry guys.

It's true the script by itself works.

I started disabling custom hooks and plugins on my project and it turns out the issue happens when the `fastify-static` is used. Not sure if it's something I did wrong or a bug in that plugin.

I will investigate and open an issue on the plugin if needed.

[2020-04-25 15:36] #2228 closed

[2020-04-25 18:16] mcollina opened #2229 "reply.callNotFound not triggering hooks"
## 🐛 Bug Report

reply.callNotFound() does not trigger hooks

## To Reproduce

Steps to reproduce the behavior see https://github.com/fastify/fastify-static/issues/126, fastify-static use callNotFound internally.

## Expected behavior

The hooks must be called.

## Your Environment

- *node version*: 10, 12, 13
- *fastify version*: >=2.0.0
- *os*: Mac, Windows, Linux
- *any other relevant informat

[2020-04-25 18:18] mcollina commented on #2229
See https://github.com/fastify/help/issues/178 as well.

[2020-04-26 13:19] mcollina commented on #2123
@eomm are there any news about this?

[2020-04-26 17:41] xeoneux opened #2231 "Cannot get root schema to work from documentation"
## 🐛 Bug Report

After defining the schema and adding it through `fastify.addSchema`, the route method cannot read the defined schema

Example of what fails:
[code]

## To Reproduce

Steps to reproduce the behavior:

https://github.com/xeoneux/fastify-root-schema-issue

## Expected behavior

It should read the root schema

## Your Environment

- *node version*: 12
- *fastify version*: >=2.0.0
- *o

[2020-04-26 18:46] Ethan-Arrowood commented on #2217
I was reading up on TypeScript docs how to best do types for our plugins. Plugins in Fastify are functions so I think its best we follow this template as best as possible: [Template: Function](https://www.typescriptlang.org/v2/docs/handbook/declaration-files/templates/module-function-d-ts.html). Additionally, because these are also plugins we can make use of this tempalte too: [Template: Plugin](h

[2020-04-26 19:39] thomheymann commented on #2217
Whats the advantage of declaring a namespace and exporting that using `export = xyz` rather than simply exporting the interfaces you want using ES6 style exports (`export interface xyz`)?

[2020-04-26 21:08] rtatarinov opened #2232 "PEM routines:get_name:no start line"
Hello. Thanks for your server. I have strange problem. I have certificate and I try connect it to my server. My server code:
[code]
I convinced all paths to cert and key correct. This files correct also. But I try to run my server I get next error:

[code]
Actually, I confused :( because I don't know how I can resolve this issue. Help me please.

[2020-04-26 21:52] rtatarinov commented on #2232
So, I can resolve my problem. I think `path` doesn't work correctly. Than I used `fs` and it works now.
Code for server with http to https redirect:

[code]
I will close this issue.

[2020-04-26 21:52] #2232 closed

[2020-04-27 06:49] Eomm commented on #2231
That code works in `fastify@next` that we will release soon.

To let that code works in `v2` you need to provide a [new valid `$id`](https://www.fastify.io/docs/v2.13.x/Validation-and-Serialization/):

[code]

[2020-04-27 07:42] chiku commented on #2226
@mcollina , consider a scenario where a route has a schema configured.

[code]

As of now there is no way that I can enforce the output schema when a client error happens.

[code]

[2020-04-27 07:45] chiku commented on #2226
@Eomm You have to run the following to get the output from the built-in client error handler.
[code]

Please note that the typo `GE`. This is what causes a client error.

[2020-04-27 07:55] Eomm commented on #2226
I didn't get it, thanks for the clarification

It seems legit to me as feature 👍

[2020-04-27 10:10] mcollina commented on #2226
I don't think that would be possible for the single route, but rather you could customize it for the whole server. Fastify routing works as a combination of path + domain, and schemas are associated with that. When the method is wrong, there is no route.

Anyway, a PR to make the clientError customizable would be nice.

[2020-04-27 10:12] #1993 closed

[2020-04-27 11:20] #2231 closed

[2020-04-27 11:57] jsumners commented on #2226
[code]

[2020-04-27 13:03] Ethan-Arrowood commented on #2217
@thomheymann I don't know for certain, but I believe it stems from the expected output of a standard TS project. As in if fastify plugins were written in TS and then we generate a `.d.ts` file it would be shaped like those

[2020-04-27 15:41] mcollina commented on #2226
@jsumners despite this issue including a route, the problem we are talking about happens _before_ routing is done. We don't have an handler or anything.

[2020-04-27 16:57] delvedor commented on #2056
Hey folks! Now that https://github.com/fastify/fastify/pull/2140 has been merged, we can release rc1!
I'll do it tomorrow 7 am UTC, we will also release a brief announce blog post, stay tuned and thank you for the fantastic work!

[2020-04-27 19:32] mcollina commented on #2217
If any of you would like to push a release to npm, just tag them as `next`

[2020-04-27 19:35] Ethan-Arrowood commented on #2217
We still bump major right?

[2020-04-27 20:00] ProgrammingLife opened #2238 "error TS1259: Module '"/..../project/node_modules/fastify/fastify"' can only be default-imported using the 'esModuleInterop' flag"
Installed fastify with: **npm i fastify --save**. Tried to execute a script from here: https://github.com/fastify/fastify/blob/master/examples/typescript-server.ts

Then I do:
[code]

run **tsc test.ts**:

What do I do wrong?

- *node version*: 13
- *fastify version*: >=2.0.0
- *os*: Linux

[2020-04-27 20:28] ProgrammingLife commented on #2238
I've also tried this code:
[code]

But now I get:

[2020-04-27 20:41] mcollina commented on #2217
yes

[2020-04-27 20:47] mcollina commented on #2238
You are using v2, not v3 which that does refer to. Check out https://www.fastify.io/docs/v2.13.x/TypeScript/

[2020-04-27 20:47] #2238 closed

[2020-04-27 22:57] ProgrammingLife commented on #2238
@mcollina Thanks, that works. But what to use, v2 or v3? Is v3 unstable?

[2020-04-27 22:58] mcollina commented on #2238
We are launching rc1 off v3 tomorrow.

[2020-04-27 23:13] ProgrammingLife commented on #2238
@mcollina Great! When will Fastify-cookie, Fasitify-multipart support Fastify v3?

[2020-04-28 08:39] delvedor commented on #2056
Fastify v3-rc.1 is out!

Make some noise! 🎉
https://medium.com/@fastifyjs/fastify-v3-rc1-is-here-e804fe18cb0e

[2020-04-28 08:59] rlittolff-md commented on #2056
In medium article, link to migration guide (https://github.com/fastify/fastify/blob/migration-guide-v3/docs/Migration-Guide-V3.md) give me a 404 :-/

[2020-04-28 09:07] mcollina commented on #2056
@rlittolff-md thanks! It should be fixed now.

[2020-04-28 09:21] mcollina commented on #900
I'm closing this, as there has been no interested since 2018.

[2020-04-28 09:21] #900 closed

[2020-04-28 10:04] gtolarc commented on #2036
I am having the same issue. However, in my case, this problem occurs when a fastify server is uploaded to kubernetes on the cloud as pod, not on the local haproxy.

The following article may be little related, and the problem is that this happens when the fastify server runs behind proxy. (Of course, I'm using a version of kubernetes where the following issue is resolved.)
https://kubernetes.io/bl

[2020-04-28 10:31] mcollina commented on #2036
@gtolarc Are you trying to capture the `'clientError'` in express? Can you confirm that is not emitted? Uploading the express vs fastify code would be interesting.

---

To provide a bit more context

Because this is not an error. Essentially there is nothing a developer can do as the socket get truncated for whatever reason. Increasing the level will be confusing for most people.

[2020-04-28 10:55] gtolarc commented on #2036
I didn't know that express doesn't listen for clientError events by default.
I just modified the basic example of each framework and put it back on kubernetes.

[code]
[code]

Oh.. as you said, I saw the same error on express.
If these socket disconnection errors are common on the proxy, I think it's probably right to fastify to ignore those errors by default. What do you think? @mcollina

[2020-04-28 11:00] gtolarc commented on #2036
In fact, there are a lot of places that use Kubernetes these days, and even during development, debug logs are turned on and put on the cloud for testing. People like me who are trying to fastify for the first time will be confused from the beginning..

[2020-04-28 11:13] mcollina commented on #2036
The problem is that it’s impossible to know if those are legit problems or not without looking at them. If there are a lot, they imply that there is something to be fixed in the proxy. Even if they happen, they are not really causing production issues.

Fastify is doing the correct thing in logging these out.

[2020-04-28 11:21] Eomm commented on #2217
to do it with `releasify` we just use:

[code]

This will create the **pre** release on github also

[2020-04-28 11:23] gtolarc commented on #2036
I am using ali cloud's managed kubernates service, and even if I create a new kubernates cluster and upload the basic example of the fastify server as pod, the ECONNRESET error occurs immediately in large quantities.

There may be problems with the proxy, so detecting clientError events by default seems to confuse users like me.

[2020-04-28 11:35] mcollina commented on #2036
I think we should move that log messages to the `.trace` level, and then investigate what config needs to be placed in Kubernetes to avoid this.

[2020-04-28 11:40] jsumners commented on #2056
How long are we intending to run RCs?

[2020-04-28 13:26] Ethan-Arrowood commented on #2238
@ProgrammingLife there are already prs to update some of those plugins. Check out this matrix for more: https://github.com/fastify/fastify/issues/2217

[2020-04-28 16:04] mcollina commented on #2056
I would love to get all the org modules ported to v3. If we do not find any major blocker, we can ship as soon as that is done and we have an announcement blog post.

[2020-04-28 16:07] jsumners commented on #2056
My issue is that I would like this to be used in the wild for a while before we cut a final. In particular, I would like to run some tests of my own but just do not have time right now and likely won't for a few weeks.

[2020-04-28 16:36] mcollina commented on #2056
Given how folks are upgrading, it's unlikely people will migrate to v3 before it's out of the RC phase. A few volunteers will, but that's all.

[2020-04-28 16:37] jsumners commented on #2056
😢 I know. But this release is quite significant. Especially around the handling of schema validation. I'll try to get some testing done quickly, but I can't promise anything. I'm in the middle of a big project.

[2020-04-29 04:42] nm-infy commented on #2217
I would like to update fastify-kafka

[2020-04-29 06:09] mcollina commented on #2217
Go for it!

[2020-04-29 17:51] wopol commented on #2036
I had very similar problem with my application behind ingress-controller. I succesded found problem thank to express.js. Fastify on clientError returns always 400 response code, but we have two options in this case: 400 or 431 http code (https://nodejs.org/api/http.html#http_event_clienterror).

@xpender please try to add ``--max-http-header-size`` flag to node, probably in your case haproxy adds

[2020-04-29 21:57] franciscolourenco opened #2246 "Can't customize error message when statusCode is 500"
## 🐛 Bug Report

When setting the status code to 500 in any way, it is not possible to customise the error message.
Most other status codes (400, 501, etc.) works as expected.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The reply to the server should contain the customized error message

## Your Environment

- *node version*: v12.14.0
- *fastify version*: >=2.

[2020-04-30 10:44] chiku commented on #2226
I'll create a PR to make the client error handler configurable over the next few days.

[2020-04-30 18:22] mcollina commented on #2036
Thanks @wopol! I think it makes things pretty clear if increasing the headers make it reliable. We should just document why this is happening and how to fix (increase the headers limit).

[2020-04-30 19:21] jsumners commented on #2036
I have this issue saved to my notifications to address with a PR to the recommendation doc. I _might_ get to it this weekend.

[2020-05-01 07:21] mcollina commented on #2246
Can you please include a full example? What's your error handler?

[2020-05-01 10:20] franciscolourenco commented on #2246
It seems to be `fastify-sensible` fault. Opened a ticket there instead with full example. Closing this one?

[2020-05-01 10:20] #2246 closed

[2020-05-01 17:15] xeoneux commented on #2231
@Eomm  When I do that, I get
[code]

[2020-05-01 17:20] Eomm commented on #2231
Could you add a complete example?

I tried the code above and it work so it should be something else

[2020-05-01 17:37] xeoneux commented on #2231
It happens when I use the [fastify-response-validation](https://github.com/fastify/fastify-response-validation) plugin along

[2020-05-01 19:09] Eomm commented on #2231
Please, provide a complete example to reproduce.
I'm happy to help but building code from scratch **hoping** to reproduce your error it is a waste of time for me and for you.

For example, that plugin acts during serialization for `schema.response` not for validation input with `schema.body`.. for this reason, I don't want to guess the problem.

[2020-05-01 19:26] xeoneux commented on #2231
Hey @Eomm, thanks for all the help so far! I was trying to reproduce the error in the repo above and here's what I was doing: I was registering the response validation plugin BEFORE the routes and that's what caused these error messages. Placing it after the routes did the trick 😄

Thank you!

[2020-05-02 07:44] chiku commented on #2226
I have created a PR https://github.com/fastify/fastify/pull/2249 to allow overriding the default `clientErrorHandler`.

[2020-05-02 08:49] mcollina opened #2250 "Ensure onClose hooks works well with asyncAwait"
## 🚀 Feature Proposal

We currently have no tests to verify that the following works:

[code]

We should add tests and/or do a fix.

[2020-05-02 11:43] jsumners commented on #2250
I couldn't even find where we invoke the hook yesterday. I'm not even sure it gets invoked in two different contexts (cb or promise).

[2020-05-02 12:56] Eomm commented on #2250
Here the test file [close.test.js](https://github.com/fastify/fastify/blob/master/test/close.test.js)

It seems promises are not tested

[2020-05-02 14:03] mcollina commented on #2250
It’s provided by Avvio.

[2020-05-02 19:21] delvedor commented on #2211
Closed in #2251.

[2020-05-02 19:21] #2211 closed

[2020-05-03 20:18] jacargentina opened #2252 "mehtod, url, not accesible on request"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

[code]

Then do:

`curl http://localhost:3030/testing`

Output is currently this:

[code]
## Expected behavior

`method` and `url` should be as docs say, ie.

[code]

I 've put `method1` and `url1` just to show the raw values are there.

## Your Environment

- *node version*: 14

[2020-05-04 09:10] KaKi87 commented on #2213
Okay, I figured out how to supply my own AJV instance.
However, I didn't figured out how can I specify a custom error message for each validation constraint ?
Thanks

[2020-05-04 09:54] delvedor commented on #2252
I fear this is a docs bug, you can access those properties in v3 but not in v2.
Doc page: https://www.fastify.io/docs/v2.14.x/Request/
Related: https://github.com/fastify/fastify/pull/2017

cc @lmammino

[2020-05-04 10:04] mcollina commented on #2213
This is probably what you need: https://github.com/epoberezkin/ajv-errors.

[2020-05-04 10:17] KaKi87 commented on #2213
Yes I did looked at that, but it actually doesn't allow me to provide different error messages for multiple required parameters for exemple.

If I have `required: ['foo', 'bar']`, I must provide the same error message whether `foo` or `bar` is missing.

I need to be able to provide different messages.

Thanks

[2020-05-04 10:28] #2148 closed

[2020-05-04 10:28] mcollina commented on #2148
This was fixed

[2020-05-04 10:52] mcollina commented on #2213
There seems to be a full example about it: https://github.com/epoberezkin/ajv-errors#messages-for-keywords.

[2020-05-04 11:00] KaKi87 commented on #2213
Yes, you can set a different error message for each property's contraints, but you cannot set a different message for each missing required property

[2020-05-04 11:36] jsumners commented on #2213
Closing as this is off-topic at this point. If you have issues with AJV, please consult the AJV project.

[2020-05-04 11:36] #2213 closed

[2020-05-04 11:57] rtatarinov opened #2253 "ERROR: read ECONNRESET at TLSWrap.onStreamRead"
So, I found same issues, but it doesn't have any solution. And I don't understand why these issues closed? Therefore, I decided create new Issue.

I have an app with docker, node, react and fastify. When I run my app in server it work around 12 hours. Then, I get next error:
[code]
My server file:
[code]
I used node version 10.16-alpine

My Dockerfile:
[code]
Dependence:
[code]
My app it is collec

[2020-05-04 12:19] mcollina commented on #2253
What issues are you referring to?

[2020-05-04 12:26] rtatarinov commented on #2253
@mcollina I wrote about problem above. I get server error

[2020-05-04 12:30] mcollina commented on #2253
Can you please check with the latest Node 12, and possibly with Node 14? There have been a few changes to http2 there.

[2020-05-04 13:33] KaKi87 commented on #2213
Okay, here's something on-topic because it's documented on fastify.io : the usage of `ajv.addSchema` specifies that the object contains an `$id` field, and the example value is `urn:schema:foo`. What format is it and how can I use it ? Thanks

[2020-05-04 13:48] jsumners commented on #2213
This is still off-topic for the issue because the issue is about errors. You should open a new issue if you have questions about the documentation.

Regardless, it is a URI. See https://tools.ietf.org/html/rfc3986

[2020-05-04 15:08] chiku commented on #2226
Closed by https://github.com/fastify/fastify/pull/2249

[2020-05-04 15:08] #2226 closed

[2020-05-05 15:06] kibertoad opened #2259 "`started` flag for fastify no longer set in v3 on ready()"
## 🐛 Bug Report

In v3 running `fastify.ready()` no longer sets `fastify[kState].started` to `true`. This results in `lightMyRequest` Chain returned for a builder to be wrapped into a Promise and prematurely resolved, failing with an error.

## To Reproduce

Steps to reproduce the behavior:
https://github.com/fastify/fastify/pull/2257/files

## Expected behavior

Same code would work in v2. Since

[2020-05-05 15:07] kibertoad commented on #2259
@mcollina I would be happy to work on a fix if you could point me in the right direction. I don't see anything firing a `start` event inside `fastify` itself, so I assume this is a regression inside `avvio`.

[2020-05-05 15:39] mcollina commented on #2259
Wow, you found a nice regression.

The problem is that the chainable inject() never worked if the server was not started.

I think the solution is to change those two lines https://github.com/fastify/fastify/blob/master/fastify.js#L336-L337

so that we call `ready()` inside the http handler, like so:

[code]

[2020-05-05 16:07] kibertoad commented on #2259
@Eomm Any ideas how err case should be handled? Simply throwing it doesn't seem to be a correct solution, it breaks three tests.

[2020-05-05 16:25] mcollina commented on #2259
You should be ok in doing `res.emit('error', err)`.

[2020-05-05 16:25] mcollina commented on #2259
[code]

[2020-05-05 16:40] kibertoad commented on #2259
@mcollina
[code]

This fails with `Error: ERR_AVVIO_READY_TIMEOUT: plugin did not start in time`. Am I missing some step that should signal init being completed successfully?

[2020-05-05 16:53] kibertoad commented on #2259
@mcollina Did some experiments, so it only timeouts if this code is invoked prior to calling `inject()`:

[code]

Obviously I can just remove it, but is the behaviour correct? Shouldn't it work if app was readied previously?

[2020-05-05 17:06] mcollina commented on #2259
What fails with this?

[2020-05-05 17:08] mcollina commented on #2259
(please push your solution)

[2020-05-05 17:15] kibertoad commented on #2259
@mcollina Looks like I was doing something wrong with callback-style ready() initialization. Switched to promise style and it works now. Fill cleanup PR now.

[2020-05-05 18:03] mcollina commented on #2253
@ronag @jasnell @addaleax do you know where that ECONNRESET could came from? I have a feeling we are missing an `on('error'` handler somewhere, I just can't figure out where.

[2020-05-05 20:20] Eomm commented on #1877
Would you mind to add it to [Ecosystem](https://www.fastify.io/ecosystem/)?
there is only v1 listed 😀

[2020-05-05 20:52] #2259 closed

[2020-05-06 01:57] #2193 closed

[2020-05-06 04:08] kjmph opened #2261 "Incorrect request.params parsing with atypical routing"
## 🐛 Bug Report

In a very particular setup of fastify, the routing parameter is evaluated to the empty string. If this routing parameter is validated, this causes a 400 status code. This is fixable by turning off the `ignoreTrailingSlash` option.

## To Reproduce

Steps to reproduce the behavior:

In services/root.js:

[code]

In app.js:

[code]

Modify the fastify startup in package.json to incl

[2020-05-06 05:22] mpetrunic commented on #1877
Yeah, sure :smile:

[2020-05-06 06:21] Eomm commented on #2261
Did you try the `default` prop?

[code]

[2020-05-06 08:10] mcollina commented on #1877
@lolo32 would you mind to add us to fastify-sse so that we can publish an updated version?

[2020-05-06 08:21] rtatarinov commented on #2253
So, if I  will try node:12-alpine and I will report the result.

[2020-05-06 08:23] ronag commented on #2253
I will try to dig into this sometime this week.

[2020-05-06 12:36] kjmph commented on #2261
That doesn't work, because the test request is a `GET` of `/goodkey/self`, `key` should be set to `goodkey`. Instead, it is set to the empty string. Thus, even if a default is used, the default is overridden by the empty string, which is still an error when it tests membership in the enum.

[2020-05-06 12:46] Eomm commented on #2261
What is your fastify version? 2.0.0? or the last one?
What is your fastify configuration?

Did you try a minimal reproducible problem?

[code]

[2020-05-06 13:28] #2229 closed

[2020-05-06 13:56] kjmph commented on #2261
As seen in the bug report, I used `npm init fastify` so it is version `2.0.0`. Let me modify your single file version so it fails. Also, note, that setting a default (even if that worked) isn't ideal, because the code this is lifted from is multiplexing on the route param, and there is no such default.

[2020-05-06 13:59] kjmph commented on #2261
Actually, thanks for that minimal server, one line change to get the failure:

[code]

[2020-05-06 15:04] Eomm commented on #2261
What is the output of `npm ls find-my-way`?

This bug should be fixed in 2.2.2
Ref https://github.com/delvedor/find-my-way/pull/146

[2020-05-06 17:54] Eomm opened #2265 "Remove absolute URL"
In our docs, there are some link that refers to `master`

Like https://raw.githubusercontent.com/fastify/fastify/master/docs/Server.md
[code]

I think we should update all those links to relative ones because if a user browsers old tag in GitHub, he would redirect to `master` causing confusion.

Kudos to @lmammino because the fastify.io site already applies this fix 🙌🏻

----

EDIT checklist of fil

[2020-05-06 18:10] rtatarinov commented on #2253
So, I have same error with node 12
[code]

[2020-05-06 18:19] ronag commented on #2253
Can you try v12.16.2

[2020-05-06 19:12] kjmph commented on #2261
[code]

[2020-05-06 19:15] kjmph commented on #2261
I can see that commit in the version of the module installed.

[2020-05-06 20:45] Eomm commented on #2261
I think we have a bug if you comment the patch or the post route, your example works.
Would you like to work on it?

`find-my-way` is ok because this test works, so it must be here in fastify

[code]

[2020-05-06 21:50] adriancerejo commented on #2265
Hey can I try to fix this issue?

[2020-05-06 22:07] Eomm commented on #2265
Yes go for it!

it should be needed only "./Server.md" as example

[2020-05-07 08:34] ronag commented on #2253
I assume this happens on http2?

[2020-05-07 08:42] mcollina commented on #2253
This is http2 related, yes.

[2020-05-07 21:26] kjmph commented on #2261
Hmm, maybe I can simulate the bug in find-my-way via this:

[code]

Because there is a child off the `/goodkey` route?

[2020-05-07 21:43] kjmph commented on #2261
Oh, and now that I understand find-my-way, I can construct a test for it to fail with `ignoreTrailingSlash`:

[code]

[2020-05-07 21:58] Eomm commented on #2261
Great!
You have right, the routing is ok but not the parsing!

We should open an issue on that repo

[2020-05-07 22:13] mcollina commented on #2261
If you have bandwidth, sending a PR to fix would be also nice.

[2020-05-08 07:22] ShogunPanda commented on #2036
While debugging this issue, I think the problem is actually in Node.js itself.

I've tried executing this sample server:

[code]

With the following haproxy configuration:

[code]

And this the tcpdump output I get:

[code]

As you can see, neither haproxy neither node are sending a FIN packet. Haproxy instead sends a RST which results in the client error on the node side.

I've filed the followin

[2020-05-08 07:22] ShogunPanda commented on #2253
This might also be related to https://github.com/fastify/fastify/issues/2036#issuecomment-625677400 and https://github.com/nodejs/node/issues/33302

[2020-05-08 08:55] mcollina commented on #2097
@irabinovitch what's the status of this?
There is a plugin that has started to implement this, should we move forward with it ourselves or are you planning to contribute/develop one from the opentelemetry org?

[2020-05-08 12:51] adriancerejo commented on #2250
Hi could I try and create a test/fix for this? I'm fairly new to contributing to open source so any guidance would be appreciated!

[2020-05-08 13:05] #2036 closed

[2020-05-08 14:38] ShogunPanda commented on #2250
I was currently taking care of this, and I noticed this won't work properly until mcollina/avvio#110 is merged.

I already have a PR ready for this that will be sent once the issue above is fixed.

[2020-05-09 06:02] desmap opened #2272 "[general ux is so-so] example: setting up a proxy"
This is neither a real bug nor a question but some issues I had with using fastify. Coming from Koa, I wanted to give fastify a try because of its fast fastify-gql.

I also needed a proxy middleware which can do http2 and websockets out of the box which is with koa or express just an one-liner. The respective fastify module ('fastify-http-proxy') does not have websockets. Then, there are more modu

[2020-05-09 07:05] mcollina commented on #2272
Thanks for coming and complaining about a “so-so” UX. I would invite you to reflect that you are complaining for something that you are not paying and it is provided for free to you. Anyway, would you like to help in improving it?

As far as I know there is currently no way to proxy a websocket, and the comment “please send a PR” still stand.

[2020-05-09 07:51] desmap commented on #2272
Blaming me who is just *testing* if a lib with barely any downloads and who is thinking putting fastify into production that I am not paying and want stuff for free is... yeah, a great way to start a convo.

In contrast, putting out a proxy (fastify-http-proxy) without websockets support (I mean every dev server needs websocket) *and* pretending fastify has such a rich ecosystem is a bit odd. Then

[2020-05-09 08:03] desmap commented on #2272
to get back to the discussion...

do you mean in fastify-land or in general?

if latter, express' http-proxy-middleware supports ws. So, shouldn't it not be possible to employ that lib paired with fastify's express compatibility libs (middie and that other one, I forgot the name)?