[2019-05-04 15:46] jsumners commented on #1628
Please provide more information. A code snippet would be best.

[2019-05-04 15:53] galuh1300d commented on #1626
I know, but maybe in the future it will fasten the development process.
Because everyone will be used to modern syntax in the future that is es6 and beyond.
i wonder if it in the future will be possible so that developers satisfication will increase.
i hope.

[2019-05-04 16:02] jsumners commented on #1626
Personally, I do not see myself ever using ESM style. It doesn’t offer any benefit to me, just more hassle.

[2019-05-04 16:23] dulesgar commented on #1628
`function(req, reply, next) {
return "hello"
}`

and

`function(req, reply, next) {
reply.send("hello")
}`

[2019-05-04 17:07] jsumners commented on #1628
Your first example is completely invalid. The function would need to be declared `async` for that to work.

Neither function should have a `next` parameter.

The second example is correct for an asynchronous function once the `next` parameter is removed.

[2019-05-04 20:27] jamilservicos opened #1630 "already declared for route '*' on plugin"
register:
[code]

myplugin.js:
[code]

crash:
[code]

How do you solve this?
fastify version: 2.3.0

[2019-05-04 22:42] Eomm commented on #1630
In the first register, did you tried to remove the async?
If you use async you should not use the next function. This could cause unpredictable behavior
So you must choose only one approach

[2019-05-05 05:39] galuh1300d commented on #1626
I see, but as front end developer using react. using esm module will be my great benefits

[2019-05-05 13:09] #1628 closed

[2019-05-05 13:50] mcollina commented on #1626
There are _no benefits_ in using the esm module. In fact, it would make your modules take more time to load, as it's going to transpile the syntax to something that Node.js will understand.

We'll support this once Node.js ships with full "import" support, we are not far away and we are targeting to stabilize it before 12 hits LTS

[2019-05-05 14:05] galuh1300d commented on #1626
Yes, of course. What i meant is for the future of node 12 LTS. Thanks for the response. I know you can do it better than i thought.

[2019-05-05 14:06] #1626 closed

[2019-05-05 15:21] #1624 closed

[2019-05-06 18:18] greenkeeper[bot] opened #1634 "An in-range update of flatstr is breaking the build 🚨"
## The dependency [flatstr](https://github.com/davidmarkclements/flatstr) was updated from `1.0.10` to `1.0.11`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Fflatstr-1.0.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

flatstr is a direct dependency of this project,

[2019-05-06 20:23] Eomm commented on #1634
Fake alarm, [restarting the build all is green](https://travis-ci.org/fastify/fastify/builds/528942158?utm_source=github_status&utm_medium=notification)

the error was due to the installation of the module, the v1.0.11 was not yet published

Closing

[2019-05-06 20:23] #1634 closed

[2019-05-07 04:08] sarneeh commented on #1553
@Eomm I've updated to the latest version with this fix and unfortunately this still can be pretty frustrating to use (like any API that mutates your data).

As the shared-schema API is encapsulated just like the plugins logic - there's really no way to share a schema from with another plugin other than `require`-ing it from each other. Unfortunately, this implicates another issue, because this fix

[2019-05-07 04:19] mcollina commented on #1553
Can you open a new issue with a way to reproduce this? We _are_ be deep cloning this, so maybe there is another latent issue.

[2019-05-07 04:40] sarneeh opened #1635 "Using schemas in route declarations mutates them"
## 🐛 Bug Report

Just like in the title - when you use a schema object, i.e:

`fastify.get('/', { schema: { body: someObj } }, () => {})`

The `someObj` is not cloned and directly mutated (the `$id` property is being deleted).

## To Reproduce

[code]

## Expected behavior

I expect `fastify` to not mutate the data i put into it, especially when the subject are JSON schema definitions (as one woul

[2019-05-07 04:41] sarneeh commented on #1553
@mcollina Sure, here it is: #1635

[2019-05-07 05:15] sarneeh commented on #1635
I wanted to resolve this issue by myself but unfortunately, I didn't manage to do this in the timebox I had. This issue is most probably related to the `validation.build` method which calls `resolveRefs` which in the end clears the `$id`'s. For someone who will take this, here's a failing test case for `validation.js`:

[code]

[2019-05-07 11:56] Eomm commented on #1635
Could you try to put a second `true` parameter here?

https://github.com/fastify/fastify/blob/ec4564abe3df40f4ff6dd27517a5eb721c3c2333/lib/validation.js#L29

[code]

I'm not sure this will pass all the tests

[2019-05-07 16:46] akhilshastri commented on #239
How do i increase default timeout from 1000 to something else ..? https://www.fastify.io/docs/latest/Server/#plugintimeout

[2019-05-07 21:44] Eomm commented on #1635
I'll write down a little analysis of the problem as a memo:
the fix for #1553 assumes that a JSON schema is added using `addSchema` that clone the schema parameter and don't remove the `$id` because someone else will think of it.

Then the user adds the routes and builds the validator function for that is stored in the context.

During this build phase the `resolveRef` function:
- execute the `rep

[2019-05-08 07:54] sarneeh commented on #1635
@Eomm Thank you for this analysis!

I've tried the `#id` solution and it works!

But I'm pretty confused about the standard for `$id` you're mentioning, because the only standard that I'm aware of is - quoting the [docs](https://json-schema.org/understanding-json-schema/structuring.html#id): `It is best practice that every top-level schema should set `$id` to an absolute URI, with a domain that yo

[2019-05-08 16:12] jarcodallo opened #1637 "Objection.js integration plugin"
## 🚀 Feature Proposal

[fastify-objectionjs](https://github.com/jarcodallo/fastify-objectionjs) is a plugin for the Fastify framework that provides integration with objectionjs ORM.

## Motivation

I currently using fastify and Objection.js in two side projects. I'm hate copy/paste code, so i create a simple plugin for use Objection.js cross all my projects.

I want some feedback about this implem

[2019-05-08 16:20] mcollina commented on #1637
Nice work! Would you mind sending a PR to https://github.com/fastify/fastify/blob/master/docs/Ecosystem.md? Thanks!

[2019-05-08 18:42] jarcodallo commented on #1637
Yeah, i will open a PR for that. Thanks.

[2019-05-08 19:51] Eomm commented on #1635
Here you are the sources:
- [$id standard](https://tools.ietf.org/html/draft-handrews-json-schema-01#section-8.2)
- [$id pattern](https://tools.ietf.org/html/draft-handrews-json-schema-01#section-8.2.3)

About the examples.. the possibilities are so many that I found really hard also build that set 😅
If you would like to add some info that would have been useful I appreciate it 👍

[2019-05-08 20:42] jarcodallo commented on #1637
@mcollina i created a PR for this, https://github.com/fastify/fastify/pull/1638

[2019-05-08 21:26] jamilservicos commented on #1630
Yes, I already did these tests? before opening the issue

[2019-05-08 21:39] Eomm commented on #1630
So I can't help you if you don't provide a complete example of your issue.

This snippet built starting from your code works:

[code]

[2019-05-09 17:37] tommuhm commented on #1352
just had the same problem and found that you can do pretty much the same as in express by accessing the underlying req object:
[code]

Note: the `onError` hook is not called when the client connection is lost!

[2019-05-10 06:56] rajatjindal commented on #1623
Hi @Ethan-Arrowood

I've implemented the suggestion and it looks great after adding summary to tweet. so thank you for the suggestion.

Requesting you to consider installing the app now.

Many thanks
Rajat Jindal

[2019-05-10 10:28] dalisoft commented on #1239
You can checkout [my dev env](https://github.com/dalisoft/fastify-dev-env) which supports `turbo-http`.
_It's looks like i'm promoting my dev env, but it's not true_

[2019-05-10 17:48] Ethan-Arrowood commented on #1623
Nice work. I'll let @fastify/leads decide if they'd like to enable this or not!

[2019-05-11 01:46] #1637 closed

[2019-05-15 15:58] smartiniOnGitHub opened #1647 "Drop support for Node.js 6.x in Fastify v3"
Hi all,
below you can find the proposal, for Fastify v3, as discussed in [PR#1618](https://github.com/fastify/fastify/pull/1618).

## 🚀 Feature Proposal
Drop support for Node.js 6.x , from documentation, CI build configurations, etc.

## Motivation
Because that release is no more under support, and the majority of installations now seems to be with Node.js 8.x or 10.x .
This would even improve the

[2019-05-16 06:02] #1510 closed

[2019-05-16 08:21] WilhelmErasmus opened #1650 "Report-To handler"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-05-16 08:32] Eomm commented on #1650
Could you add some code? How do you implemented the [ContentTypeParser](https://github.com/fastify/fastify/blob/master/docs/ContentTypeParser.md)?

[2019-05-16 13:42] smartiniOnGitHub commented on #1647
Note: for code cleanup/update to Node.js 8.x (since its LTS release I think, right ?) I'll open another issue, because changes could be managed in a different way (and maybe not by me).

[2019-05-16 15:15] greenkeeper[bot] opened #1652 "An in-range update of flatstr is breaking the build 🚨"
## The dependency [flatstr](https://github.com/davidmarkclements/flatstr) was updated from `1.0.11` to `1.0.12`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Fflatstr-1.0.12).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

flatstr is a direct dependency of this project,

[2019-05-16 15:34] mcollina commented on #1647
Definitely +1! This should be a target for Fastify v3!

[2019-05-16 19:34] #1652 closed

[2019-05-17 08:17] smartiniOnGitHub opened #1654 "Update/simplify code to use Node.js 8.x features as minimum, in Fastify v3"
Hi all,
this proposal is related to the other issue (about documentation/general discussion on the same topic) seen in [issue#1647](https://github.com/fastify/fastify/issues/1647), but this is related to code updates/simplifications.

## 🚀 Feature Proposal

Update and simplify code to use at least Node.js 8.x (since its LTS release) features.

## Motivation

Because previous releases are no more u

[2019-05-17 11:37] WilhelmErasmus commented on #1650
I'm switching to Lambda - I think that fastify is overkill for this use.

[2019-05-17 11:37] #1650 closed

[2019-05-17 13:30] t4nz commented on #1494
Hi guys, any news about this issue? Thanks

[2019-05-17 13:32] mcollina commented on #1494
This is going to be solved by https://github.com/nodejs/node/pull/27682.

Can you upload a script to reproduce so I can verify that solves the actual issue?

[2019-05-17 17:11] ReTWi commented on #1494
I don't really know what part of my server to take for example :/  Simple fastify server don't want to produce error. I will try to add some file read or await in code and see if error will come up.

[2019-05-17 19:42] mcollina opened #1655 "Investigate class based plugins and TypeScript and JavaScript decorators"
## 🚀 Feature Proposal

TypeScript support decorators, and what you can do with them is pretty amazing (see https://www.npmjs.com/package/fastify-decorators).
The JavaScript language is actually getting decorators as well in https://github.com/tc39/proposal-decorators.

I think we should investigate class-based plugins to be able to better support language decorators.

## Example

[code]

[2019-05-17 20:21] smartiniOnGitHub commented on #1654
Is it good to set as requirement its LTS release 8.9.0 as seen in the announce [here](https://nodejs.org/en/blog/release/v8.9.0/) ?
Just for info, next LTS main line is for Node.js 10 is 10.13.0, as per related announce [here](https://nodejs.org/en/blog/release/v10.13.0/).

[2019-05-17 21:24] jsumners commented on #1655
![image](https://user-images.githubusercontent.com/321201/57956673-cde9fe00-78c7-11e9-8917-a4927d2bf5c6.png)

I implemented annotations in [laic](https://github.com/jsumners/laic#annotations). It was dumb; that library was dumb. Annotations introduce mystery and magic into the code. I would rather they stay in Java and C# where they belong.

[2019-05-17 21:38] SerayaEryn commented on #1655
I have experimented with decorators, too.
I wrote decorators for the http methods and decoratos that allow me to access information from the request (cookies, params, ...).

That allows me write a plugin like this:
[code]
My decorators store metadata on the class using `reflect-metadata`. I use the metadata in a separate step to create a plugin that can be registered on a fastify instance. That wa

[2019-05-18 09:38] dalisoft opened #1656 "Make logs (errors, warnings) useful"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-05-18 15:01] allevo commented on #1591
The PR has been merged. Closing this issue.

[2019-05-18 15:01] #1591 closed

[2019-05-18 16:15] mcollina commented on #1656
I don't understand this issue. What do you mean by "make logs useful"?

[2019-05-18 17:04] dalisoft commented on #1656
@mcollina

For finding from where goes the warning, i spend more than hour, it's because i am not PRO debugger and like me a lot and almost all of these use Fastify (yes yes, Fastify not fastest one, but balanced between performance and features, functionality).

Maybe we just add these lines and about warnings more information will we get. Would be best for both developers (Fastify developer/auth

[2019-05-18 17:08] jsumners commented on #1656
I do not agree with code that inspects the environment. It’s fine, to a degree, for an application, but it has no place in a library.

[2019-05-18 17:19] mcollina commented on #1656
I think we should move https://github.com/fastify/fastify/blob/dd059016134f97fa8b8509e373dbc0b8194455a4/fastify.js#L501-L504 to https://github.com/fastify/fastify/blob/dd059016134f97fa8b8509e373dbc0b8194455a4/fastify.js#L397.

I'll send a PR.

[2019-05-18 17:21] StarpTech commented on #1656
Any reason why we use `process.warning` rather `log.warn(msg, err.stack)` as in the other places like https://github.com/fastify/fastify/blob/dd059016134f97fa8b8509e373dbc0b8194455a4/fastify.js#L603?

[2019-05-18 17:24] dalisoft commented on #1656
@StarpTech I'd like your idea, would be great

[2019-05-18 17:29] mcollina commented on #1656
@StarpTech because this is a deprecation warning rather than a runtime warning.

[2019-05-18 17:31] mcollina commented on #1654
Those are going to error in yarn. I'm happy to set them in v3 if we want to.

[2019-05-18 17:37] StarpTech commented on #1656
Doesn't it depends on the context?

[code]

I see no reason why a user has to maintain multiple places. This issue is a good example for that.

[2019-05-18 23:57] mcollina commented on #1656
I just followed the same pattern that Node.js follows for deprecations. It seems worthwhile to keep consistency.

[2019-05-19 00:27] mcollina commented on #1655
I kind of like `app.register(new MyPlugin(...myArgs))`. I don't exactly know how that could work. Would the actual fastify instance be store as `this.app`? Otherwise, how would a user access fastify decorators?

---

@jsumners I feel you. This is the direction JS is going anyway, so we might offer our users the possibility to use this type of API, while keeping support for the more functional styl

[2019-05-19 03:48] Ethan-Arrowood commented on #1655
I like this idea. I also think extra documentation will be needed because it definitely is not a beginner friendly language feature

[2019-05-19 07:41] SerayaEryn commented on #1655
There could be decorators that allow to decorate the fastify instance, request and reply. Furthermore there could be a decorator to declare hooks.

Maybe like this:

[code]

[2019-05-19 10:13] #1656 closed

[2019-05-19 10:28] dalisoft commented on #1656
Thanks everyone who helped us fix this bug :)

[2019-05-19 10:38] mcollina commented on #1656
Thank you for reporting!

[2019-05-19 19:05] Ethan-Arrowood opened #1658 "Remove Travis CI from next branch"
As title says. I think the azure-pipelines CI is much better than Travis; I see no reason to continue using the service going forward.

[2019-05-19 21:09] #1475 closed

[2019-05-19 21:16] Eomm commented on #1658
We should check only the config of the service (email alerting) and permissions because I don't have access to Azure and I can't do anything right now 😅 ( I can restart only failed jobs from GitHub)

[2019-05-20 00:00] khpatel4991 commented on #1367
What about using an integration test? instead of setup and teardown of mongo connection.

I have something like following.

[code]

[2019-05-20 08:21] mcollina commented on #1367
I would actually not recommend that type of test, mainly because it's not really checking your application is working, just that you are calling your database driver API with certain parameters.
Those tests are useful to check for error conditions.

[2019-05-20 10:04] dalisoft opened #1659 "`app.register` not called in AWS Lambda / Serverless"
## 🐛 Bug Report

In AWS Lambda / Serverless framework it not works as excepted

**Note**: _The reason of use Serverless framework it's ecosystem, flexibility and support for many providers, not only AWS Lambda, what works in AWS Lambda or in localhost, works on almost every Serverless provider (Azure, GCloud)_

## To Reproduce

Steps to reproduce the behavior:
1. Clone [this](https://github.com/da

[2019-05-20 10:12] dalisoft commented on #1655
@mcollina I like current way, so please, keep current way in another branch for basic users (like me). I've seen already NestJS or similar, but Fastify is clean and very fast

[2019-05-20 10:49] mcollina commented on #1659
I'm a bit lost. I don't understand what is the problem, and how to reproduce it. Specifically step 3 is definitely something that I do not know what to do. Can you provide clearer instructions?

The only official docs regarding Lambda are in https://www.fastify.io/docs/latest/Serverless/. Note the disclaimer.

[2019-05-20 10:51] dalisoft commented on #1659
You can run Serverless in localhost, all scripts are prepared, just run `npm run dev:serverless` and local Serverless will be runned.
Serverless framework manipulates almost same as AWS Lambda / GCloud / Azure Functions env

[2019-05-20 10:59] mcollina commented on #1659
@lmammino would you mind taking a look?

[2019-05-20 15:38] Ethan-Arrowood commented on #1655
@dalisoft you don't need to worry, I'm quite certain we will not be removing the current Fastify API design. This would be an additional feature

[2019-05-20 15:40] dalisoft commented on #1655
Wow, then great 👍

[2019-05-20 19:47] lmammino commented on #1659
I'll have a look in few hours

[2019-05-20 20:36] lmammino commented on #1659
@dalisoft just downloaded your repo and honestly there's a bit too much stuff to test your use case in isolation.

Can you provide a more minimalistic way to reproduce the error? I hope it's possible to do that with just one JS file and a serverless.yml :)

[2019-05-21 05:45] dalisoft commented on #1659
Sorry, bug caused by [this](https://github.com/fastify/fastify-compress/issues/60) module

[2019-05-21 05:45] #1659 closed

[2019-05-21 18:53] pdrgds commented on #1586
Is it ok if I send a PR to do this? I need translated error messages for a project I'm on.

[2019-05-21 19:24] Eomm commented on #1586
@pdrgds Take a look [here](https://github.com/fastify/example) first, you should find an example about how to customize error messages and maybe it is worth to extend that example and refer the example in docs

[2019-05-21 20:15] pdrgds commented on #1586
ajv-errors is made to create custom messages for each schema.

ajv-18n takes an array of ajv error messages and replaces them with translated versions. This should be done before returning at line 71 of lib/validation.js

[2019-05-21 22:41] Eomm commented on #1586
If you have already in mind how to solve feel free to open a PR

Consider that the validation function can be customized, so edit that part must keep in mind this aspect

[2019-05-22 05:57] divyanagrath opened #1660 "Response time"
Is there a way to log API response time?

[2019-05-22 05:59] divyanagrath opened #1661 "Client ip address"
I need to log the client ip address from where the request is coming. How to access that?

Already tried 'request.ip' and 'request.ips'. But it returns server ip.

[2019-05-22 06:10] delvedor commented on #1661
What do you mean with "server ip"? Are you testing in localhost?

This is how we detect the client ip address:
https://github.com/fastify/fastify/blob/ff5bfddf3dcd828e77fef74de245b414384b63da/lib/route.js#L282-L311

[2019-05-22 06:15] delvedor commented on #1660
Hello! If you enable the logger you should be able to see the response time in the logs.
[code]

Otherwise, you can calculate your own with the `onRequest` and `onResponse` hooks.

[2019-05-22 06:18] delvedor commented on #1658
We can remove Travis directly in `2.x`, it is not a breaking change and the builds are stable enough.

@Eomm you should be able to login with Github and manage jobs directly from the Azure UI.

[2019-05-22 06:32] divyanagrath commented on #1660
I want the time taken to execute a particular API.

[2019-05-22 06:36] divyanagrath commented on #1661
No, not in localhost. 'request.ip' returns the server IP address, but not of the client who has made the request. So basically if from my computer I'm making a request to server, then it should return my computer's IP address.

[2019-05-22 06:37] delvedor commented on #1660
The answer is the same :)
If you want to measure only one API, use the hooks approach might be better.

[2019-05-22 06:39] divyanagrath commented on #1660
Got it. Thanks a lot

[2019-05-22 06:41] divyanagrath commented on #1660
Instead of console, is there a way I can write this info in a file?

[2019-05-22 07:28] divyanagrath commented on #1660
Or can I access these params like responseTime, time, statusCode?

[2019-05-22 09:20] dalisoft opened #1662 "Git folder was included in v2.4.0"
Hi!

In v2.4.0 NPM package `.git` folder was included and this can cause 2 issue
- Security issue (may be?)
- Installation fails (after installing fastify v2.4.0)

You can see direct NPM folder online at [here](https://unpkg.com/fastify@2.4.0/)

Have a nice day!

[2019-05-22 09:29] delvedor commented on #1662
Reported also in https://twitter.com/wa7son/status/1131116436087287808.
It's weird, I thought npm would automatically ignore that. Apparently, it doesn't.

[2019-05-22 09:33] dalisoft commented on #1662
Yea, for my libraries also same thing happened few week ago. This bug applies only after Node.js 8+ (as i see this after Node.js 8+ on my libraries)

[2019-05-22 09:37] #1662 closed

[2019-05-22 09:45] dalisoft opened #1665 "Using uWebSockets.js as HTTP and WS Router"
## 🚀 Feature Proposal

Using [uWebSockets.js](https://github.com/uNetworking/uWebSockets.js) as Router system

## Motivation

There some benefits
- Performance will be like speed of the light (very fast)
- Out-of-the-box `WebSocket` compatibility
- Memory efficient (for HTTP and WS)
- Lower latency

Also some things need be done
- wrapping their methods (as they different from Fastify)
- add plugi

[2019-05-22 10:54] mcollina commented on #1665
I’m -1 in making this a default choice. However providing a module that add this capability would be amazing. From a technical perspective, We might use our inject method to provide this capability.

[2019-05-22 10:55] dalisoft commented on #1665
Yes, not default choice, but making as optional is much better than not compatible :)

[2019-05-22 14:18] Ethan-Arrowood commented on #1658
I’ll send a pr for this soon!

[2019-05-22 14:44] jsumners commented on #1658
I just tried to login for the first time with my GH account and got this:

![Sign in to your account - Vivaldi 2019-05-22 10-43-31](https://user-images.githubusercontent.com/321201/58184116-7f00e780-7c7e-11e9-88f9-d27f3b1ae2f8.png)

[2019-05-22 18:06] ReTWi commented on #1494
Checked in node.js 12.3.0 - all fine, thanks!

[2019-05-22 18:06] #1494 closed

[2019-05-22 18:43] Eomm commented on #1661
Could you show your code and the logs you get?

[2019-05-22 18:48] Eomm commented on #1483
I can't restart a build

[2019-05-22 19:34] Ethan-Arrowood commented on #1658
I think @martinwoodward was helping us set this up originally. Maybe he or @fastify/leads could make sure everyone has access

[2019-05-22 21:51] martinwoodward commented on #1658
Well that's not very friendly.  Let me dig into that and get back on this issue. The team are adding GH invite's and GH group support soon which will help a bunch.

[2019-05-22 22:19] jsumners commented on #1658
Here’s the thing. It picked up that I have other existing accounts due to my previous employer being on O365. I imagine it saw the emails from the list of emails associated with my GitHub account and then tried to do something with those.

[2019-05-23 05:56] divyanagrath commented on #1661
I have added console.log(request.ip) in 'prehandler' hook.  In logs I get same ip for all the API hits from different clients.

[2019-05-23 09:21] mandaputtra commented on #1660
There is `fastify.reply.startTime`  maybe you could use that. However, I'm still not trying it, the way fastify  logs `responeTime` are like this, [as follow on this code](https://github.com/fastify/fastify/blob/073f7476ccecb9eed28ccaae26c5351a0406d148/lib/reply.js#L478)

[code]
Maybe you want to use it in `onResponse` hooks

[2019-05-23 12:02] divyanagrath commented on #1660
Unable to access 'fastify.reply.startTime', results in undefined

[2019-05-23 15:07] fox1t opened #1667 "TypeScript RouteOptions interface generics missing defaults"
## 🐛 Bug Report

Working with routes definition I found  that `RouteOptions` interface hasn't default generics declared. (https://github.com/fastify/fastify/blob/master/fastify.d.ts#L266) as opposed to `RouteShorthandOptions`(https://github.com/fastify/fastify/blob/master/fastify.d.ts#L230) that it extends from.
Is this a wanted behavior? I think this is too verbose since it forces to pass every t

[2019-05-23 15:09] Ethan-Arrowood commented on #1667
Yes this change would be valid (in fact it is almost identical to the upcoming v3 types just using different generics). Would you like to send a pr to update this on master?

[2019-05-23 16:54] Ethan-Arrowood opened #1668 "TypeScript Schema Example Documentation"
## 🚀 Feature Proposal

The upcoming type refactor #1569 references a documentation example of how to declare strict schema types. This issue will track that documentation addition. (It'll also be the start to the next stage of v3 types which is improving the TS docs and examples).

## Motivation

TypeScript support 🎉

## Example

Copied from PR comment:

[2019-05-23 16:57] fox1t commented on #1667
Done.

[2019-05-23 17:26] Ethan-Arrowood opened #1671 "Azure Pipelines is not running on PRs targetting next branch"
As title says. I believe this is a quick fix in the azure-pipeline configs or on the Azure Dev Ops portal. Will look into it and follow up.

cc @fastify/leads

[2019-05-23 17:29] Ethan-Arrowood commented on #1671
Based on the configuration I believe this is a change in the repo or dev ops settings so it'll probably need to be fixed by a lead.

[2019-05-24 13:22] fox1t opened #1672 "Setting ignoreTrailingSlash and prefixTrailingSlash prevents avvio from throwing an error"
## 🐛 Bug Report

Setting `ignoreTrailingSlash: true` on main Fastify instance and registering a plugin with tralingSlash prefixed path (`prefix: '/attendances/'`), prevents avvio from crashing on startup with `AssertionError [ERR_ASSERTION]: Method 'GET' already declared for route '/v1/attendances/'` error.

As you can see on [repro repo](https://github.com/fox1t/afterRouteAdded-swallowed-error),

[2019-05-24 13:24] mcollina commented on #1672
Would you mind sending a PR to fix this? It sound a nasty bug/edge case.

[2019-05-24 13:28] fox1t commented on #1672
Yea I'll open a PR, but we need to agree on what is the fix here.  The problem is that avvio checks `completed` before checking for `err` (plugin.js#L98)[https://github.com/mcollina/avvio/blob/master/plugin.js#L98]. Is it safe to swap the two checks?

[2019-05-24 13:29] #1667 closed

[2019-05-24 13:30] mcollina commented on #1671
I don't know how to do that. It's not obvious.
I've added you as an admin. Would you mind sorting it out?

[2019-05-24 13:32] mcollina commented on #1672
It's not safe to do that. Essentially the callback will be called twice if we did that. This needs to be fixed here.

[2019-05-24 13:38] fox1t commented on #1672
I assumed it was so. Do you have any suggestions on how to fix it?

[2019-05-24 13:42] mcollina commented on #1672
I think we should identify when this route is defined, and crash at that point. Essentially crash as soon as possible.

[2019-05-24 13:44] mcollina commented on #1483
You are in now. You should try to log in using behemoth89@gmail.com.

[2019-05-24 14:24] mcollina commented on #1668
Awesome! Keep up with the good work!

[2019-05-24 14:45] Ethan-Arrowood commented on #1671
@martinwoodward I've looked into this further. We don't have any configured `pr` or `trigger` lines in the YAML files; however, Azure Pipelines isn't triggering on my PR's against the `next` branch #1670 and #1569 . The Dev Ops docs says that it should default to all PRs regardless of the branch.

Any ideas?

[2019-05-24 16:41] delvedor commented on #1665
We heavily depend on Node.js http core module, the main requirement to support other http servers is that the API must be the same.

[2019-05-24 16:43] dalisoft commented on #1665
But we can somehow make it work with fastify? if it's possible, would great (and ws out-of-the-box will be supported)

[2019-05-24 16:48] delvedor commented on #1665
You should use the [`serverFactory`](https://www.fastify.io/docs/latest/Server/#serverfactory) option, and then find the methods not supported by your custom http server. Once you find them, you can patch it and make it compatible with Fastify.

[2019-05-24 16:49] dalisoft commented on #1665
Ah, i tried, but can't make it work. I think i should try from scratch :)

[2019-05-24 16:49] #1665 closed

[2019-05-24 21:28] Eomm commented on #1483
Confirmed ✌

[2019-05-25 07:46] fox1t commented on #1672
After looking into this again, I think that "as soon as possible" is where it tries to crash right now [lib/route.js#L228](https://github.com/fastify/fastify/blob/master/lib/route.js#L228). find-my-way it is the one that knows about routes and it is correct that it throws if there are any collisions

[2019-05-26 06:54] rajatjindal commented on #1623
Requesting feedback again. Hope it will remove stale tag.

On Sun, May 26, 2019 at 12:15 AM stale[bot] <notifications@github.com>
wrote:

--
Rajat Jindal |  Pune |  https://rajatjindal.com |  rajatjindal83@gmail.com

[2019-05-26 10:13] mcollina commented on #1623
I'm +1 for installing. @delvedor?

[2019-05-26 10:30] mcollina commented on #1672
This is a full stacktrace, if anybody needs that:

[code]

[2019-05-26 10:35] mcollina commented on #1672
I think this issue is not on find-my-way.
It's caused by these two lines: https://github.com/fastify/fastify/blob/1958c74a2bc2e96d3892254904f485985bc57330/lib/route.js#L144-L145. That's where the double route gets registered. They need to be made `ignoreTrailingSlash` aware. Would you mind sending a PR?

[2019-05-26 10:53] fox1t commented on #1672
Yes, no find-my-way issue here. I just wanted to point out that the combination of throwing on already defined route and then bubbling the error to avvio makes the error being swallowed.
I can absolutely make a PR, I just wanted to understand what’s the right fix. Can we say that in the case of ignoreTrailingSlash the “both” option as default is the wrong one?

[2019-05-26 11:09] mcollina commented on #1672
I think we should only register one.

[2019-05-28 07:21] fox1t commented on #1668
@Ethan-Arrowood  using `json-schema-to-typescript` is a nice idea: if you need any help, I can definitely help you. Let me know.

[2019-05-28 12:07] Ethan-Arrowood commented on #1668
I should be okay for now. I think I'll have time for this within the next week. If not I'll definitely open it up!

[2019-05-28 16:25] fox1t commented on #1668
Ok. 👌
If you want something to play with, I just published a POC: https://www.npmjs.com/package/jsonschema-to-interface

[2019-05-28 17:28] Ethan-Arrowood commented on #1668
Sweet, can't wait to check it out. I was thinking of implementing something similar; good work.

[2019-05-29 16:43] Ethan-Arrowood commented on #1671
@mcollina I've tried digging around the Azure Pipelines side of things and I can't seem to find anything.

From the Azure Pipelines [triggers](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml) documentation:

and

So I'm really not sure why it wouldn't be running.

@fastify/leads are there any Azure Pipelines settings thing on the GitHub side? Like

[2019-05-29 16:48] mcollina commented on #1671
I would go with that path. Only those branches are needed.

[2019-05-29 16:56] Ethan-Arrowood commented on #1671
Looks like pipelines is triggering the CI on 1.x and greenkeeper branches. So I think this issue is strictly with pull requests.
<img width="508" alt="Screen Shot 2019-05-29 at 12 54 43 PM" src="https://user-images.githubusercontent.com/16144158/58575850-fac7da80-8210-11e9-930e-fa253c54e058.png">

---

I'll update the configuration and see if that gets us anywhere.

[2019-05-29 19:20] Ethan-Arrowood commented on #1671
Figured it out 🎉

It *is* on Azure. I'm going to document the steps here in case it ever needs to be updated in the future.

From Pipelines View select the fastify.fastify pipeline
<img width="1317" alt="Screen Shot 2019-05-29 at 3 14 17 PM" src="https://user-images.githubusercontent.com/16144158/58584774-13da8680-8225-11e9-9042-1586621ee704.png">

Select the **Edit** button
<img width="1318" alt=

[2019-05-29 19:30] Ethan-Arrowood commented on #1671
Just need to push a commit to the open PRs targeting `next` and `1.x` and they pipeline will be ran!

[2019-05-29 19:30] #1671 closed

[2019-05-29 19:54] Ethan-Arrowood opened #1678 "next and 1.x branch is currently failling CI build"
See this manual pipeline execution: https://dev.azure.com/fastify/fastify/_build/results?buildId=1699&view=results

The error is TypeScript related: https://dev.azure.com/fastify/fastify/_build/results?buildId=1699&view=logs&j=bf7c6fb2-34e3-5d65-0f4a-49158f2ba27b&t=3357be4a-1360-5b27-f34e-4cd70356d9a8&l=8278

[code]

Self assigning. Will fix this asap (also investigating stability of 1.x)
Property

[2019-05-29 22:41] RafaelGSS opened #1679 "How to access Reply in tests ?"
Hello!

How I can access the Reply object in tests?

I have the follow plugin:
[code]
and my test:
[code]

[2019-05-30 12:32] StarpTech commented on #1679
Hi @RafaelGSS the best place is to looking in our tests e.g
https://github.com/fastify/fastify/blob/37dde53dea4f6363db5cc26fceb4868d5944fc53/test/decorator.test.js#L84
I recommend it to check it inside a route handler.
https://github.com/fastify/fastify/blob/37dde53dea4f6363db5cc26fceb4868d5944fc53/test/decorator.test.js#L101

[2019-05-30 12:35] #1679 closed

[2019-05-30 13:57] Ethan-Arrowood commented on #1678
@fastify/core pinging core team to be aware of this. Both errors are the same. Manual CI builds for both `1.x` and `next` branches can be found below.
- [1.x](https://dev.azure.com/fastify/fastify/_build/results?buildId=1700&view=results)
- [next](https://dev.azure.com/fastify/fastify/_build/results?buildId=1699&view=results)

[2019-05-30 13:59] Ethan-Arrowood commented on #1678
😕 Looks like master is also failing because of this TypeScript issue: https://dev.azure.com/fastify/fastify/_build/results?buildId=1702&view=results

I have class for another hour then I'll be able to investigate this. I'm worried as to why this wasn't caught before

[2019-05-30 14:04] Ethan-Arrowood commented on #1678
Replicate by:
- Locally pull any of 3 main branches
- Clear `node_modules` and run `npm install`
- Run `npm run typescript`

[2019-05-30 14:26] Ethan-Arrowood commented on #1678
This commit to @types/node may be the cause of the issue: https://github.com/DefinitelyTyped/DefinitelyTyped/commit/2bc45778bfff152d720477d9f8a09a5bb9ce7e8a

Regardless, I believe the fix will come as a type update on our end.

[2019-05-30 14:33] pushpa446 opened #1680 "Error thrown from a hook is not propagating to custom error handler"
If you throw an error from a hook it is not propagated to the custom error handler.

## To Reproduce

[code]
```curl --request GET --url http://localhost:3000/```
## Expected behavior
The error should propagate to custom `errorHandler` and respond with 401 in this case.

## Current behavior
Not propagated error handler and responding with 200 `{ detail: "Token is not valid" }` as the body.

## Env

[2019-05-30 14:45] Ethan-Arrowood commented on #1680
Based on the [docs](https://www.fastify.io/docs/latest/Hooks/#the-onerror-hook) I believe this is intended:

It is not intended for changing the error, and calling reply.send will throw an exception.

[2019-05-30 15:47] Ethan-Arrowood commented on #1678
PRs open for all branches. CI is running for all of them as well 😄

Crossing my fingers that everything passes. After that some rebasing will need to be done on my other open prs and we can start getting stuff merged and closed 😄

[2019-05-30 17:57] pushpa446 commented on #1680
I guess, the above is only for `onError` hook.

[2019-05-31 08:14] delvedor commented on #1680
The error should be an instance of Error :)
https://github.com/fastify/fastify/blob/7f274d1be8ed27e32662a29a5940194b602086e8/lib/reply.js#L98-L101

[2019-05-31 13:14] #1678 closed

[2019-06-01 17:13] lowmemory opened #1686 "Requests body is not logged in POST request"
## 🐛 Bug Report

Hello,
I cannot see the request body in my logs when I do POST requests to my test server.

## To Reproduce

[code]

## Expected behavior

The request body in the logs:
[code]
## What I get
[code]

## Your Environment

- *node version*: 11
- *fastify version*: = 2.4.1
- *os*: Windows

[2019-06-02 12:32] lopatnov opened #1687 "Could you add my sample to examples list?"
## 💬 Questions and Help

Hello, developers!

I wrote the starter project: https://github.com/lopatnov/fastify-server-starter
It's a simple demo of fastify (js) + babel + webpack + typescript model.
Could you add this project to https://github.com/fastify/example list?

Best regards,
Oleksandr

[2019-06-02 12:57] i0natan opened #1688 "May I contribute to testing (specific features are listed below)?"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-06-02 21:01] mcollina commented on #1688
Thanks for the offer! We like to take all the help we could get.

Improving readability on our tests would be awesome. Would you like to start there, maybe one file at a time?

Regarding the other points, I’m pretty sure we do not need to use test-all-versions here, but it would be nice to use it in dependencies. Our integrations already do a) code coverage measurements b) vulnerability checks - I

[2019-06-03 07:23] Eomm commented on #1687
Yes, I think we could address it adding a new table with the title `External Project` (as per `Project` paragraph).

I will update my https://github.com/fastify/example/pull/11 to fix it so then you could add your project

[2019-06-03 11:11] dalisoft commented on #1665
@mcollina @delvedor I ended up with making another server framework, which didn't want at start (but it gives some xp about perf, anyway, i love fastify).

@mcollina uWebSockets.js can't be ported at plug-in level, it should be at core-level

[2019-06-03 12:18] pushpa446 commented on #1680
Thanks @delvedor. Got it.
But, if I throw from any place other than hook using this `throw { detail: "Token is not valid" }`  it is going to `errorHandler`. That's where my confusion started.

[2019-06-03 13:39] mcollina commented on #1680
I think the confusion is something that we should address. IMHO it's either enabled somewhere or not.

I _think_ we should only support throwing actual `Error` objects, however I see why developers tend to not do that. What do you think folks?

[2019-06-03 14:29] hhwang39 opened #1689 "Missing caseSensitive options in fastify.d.ts"
## 💬 Questions and Help
We are using nestjs and using Fastify as middleware. When we pass `caseSensitive` option to Fastify, it shows ts-error since `ServerOptions` in `fastify.d.ts` does not have `caseSensitive` option.
It looks like `ServerOptions` in fastify.d.ts needs `caseSensitive` option added to the code.

[2019-06-03 15:29] mcollina opened #1690 "alias schema.query to schema.querystring in route definition"
## 🐛 Bug Report

When defining a route, it's easier to `schema.query` be automatically copied into `schema.querystring`, mainly because `request.query` is what we use to access the querystring, and simmetry here would be good.

Moreover, we should look into doing some stricter validation of those properties to catch this type of errors.

## To Reproduce

[code]

## Expected behavior

`schema.query

[2019-06-03 15:31] jsumners commented on #1690
Agree. My org’s Fastify wrapper does this: alias querystring to query.

[2019-06-03 16:42] Eomm commented on #1689
Yeah, there are some parameters that are missing from `ServerOptions`:

https://github.com/fastify/fastify/blob/master/fastify.d.ts#L180

Would you mind to send a PR?

(that has been fixed in an open PR that will be merged in `next` branch)

[2019-06-03 16:53] i0natan commented on #1688
Sounds like the right way to go. I'll pick one test file where I can apply a few enhancements, get the team feedback and once we fill it's solid - I'll refactor the rest

I went over a few of the fastify projects and didn't see the flag --worker, maybe I missed it. Anyway, let's re-visit other ideas as we progress 👍

[2019-06-03 17:02] hhwang39 commented on #1689
I just made one. https://github.com/fastify/fastify/pull/1691. Not sure if I need to add the test.

[2019-06-03 17:13] mcollina commented on #1688
We are using `-J` _in this project_. That runs tests on all available cores.

[2019-06-03 18:10] i0natan commented on #1688
@mcollina Yeah, missed that tiny mini J there :)

[2019-06-03 19:04] lopatnov commented on #1687
Great! Thanks!

[2019-06-03 20:08] Eomm commented on #1680
The custom error works only in `preSerialization` and `onSend` hooks for what I tested.
Maybe new tests should be added after the discussion.

I think that `Error` is less confusing for the reader and can be easily extended but, if ECMAScript admits it, we should support it. (checking the code it should not be painful, we already know if the handler has been rejected or not, we must provide that i

[2019-06-04 07:13] rajatjindal commented on #1623
gentle reminder ping @delvedor

[2019-06-04 07:53] mcollina commented on #1686
This happens because the request is serialized when we create the child logger. At that time, the body is not parsed yet. So, the approach described in https://www.fastify.io/docs/latest/Logging/ is __wrong__.

In order to log the body, you would have to log it manually with:

[code]

I'm tagging updating this issue as a "good first issue", updating the docs for this should be easy enough.

[2019-06-04 10:28] raghavmac commented on #1690
Hi, I would like to fix this issue but I would like to clarify that `schema.query` and `schema.querystring` should have same behaviour right?
Because the **default** value is not working for `schema.query` due to validation!

[2019-06-04 11:25] mcollina commented on #1690
What do you mean?

[2019-06-04 12:14] raghavmac commented on #1690
If used `schema.query` without actually passing any query, the `default: "world"` will not getting in response, instead it does works when using `schema.querystring`.
You can reproduce from your above schema example as well.

[2019-06-04 15:22] lowmemory commented on #1686
Ok.
Thanks @mcollina !

[2019-06-04 15:36] #1672 closed

[2019-06-04 15:38] delvedor commented on #1623
Yes, I guess we can try.

[2019-06-04 17:01] mcollina commented on #1690
`schema.query` is not currently supported. Adding support is the key part of that issue.

[2019-06-04 18:40] RafaelGSS opened #1693 "Validation Array with unique index invalid"
## 🐛 Bug Report
Hello everyone, thanks for reading this issue.

I have the following `schema`:
[code]

So, when sending just one element: `{ url }/?hello=1` they not parse to `[1]`, throw a error of validation: `"querystring.hello should be array"`.

If it's, really a bug, I can try to fix it. Thanks

## To Reproduce

[code]

## Expected behavior

Expected parse the `hello` to [item]

## Your Envi

[2019-06-04 20:09] Ethan-Arrowood commented on #1689
Lets keep this open until your PR is merged

[2019-06-05 09:34] raghavmac commented on #1690
Can you please assign this issue to me?

[2019-06-05 18:59] rajatjindal commented on #1623
thank you very much. documentation on how to install is here: https://github.com/rajatjindal/goodfirstissue#how-to-install

looking forward to it.

[2019-06-05 20:59] RafaelGSS commented on #1693
Oh well... the fastify uses `ajv` to compile schemas, and needs send another compiler for that case. Or set type like `string`.

Closing.

[2019-06-05 20:59] #1693 closed

[2019-06-06 08:05] smartiniOnGitHub commented on #1647
Sorry for the delay, I'll start to do some changes for this soon (in the 'next' branch), and post here some update. Bye

[2019-06-06 15:21] ljieyao commented on #1308
It is not working for me, anyone can help?

[2019-06-06 18:13] Eomm commented on #1308
Could you open a new issue with all the info to provide you help?

[2019-06-06 23:29] RafaelGSS commented on #1686
Hello @mcollina, this issue is just to update docs ? or change the order of parser body...

If I remember, the child logger is instantiated in the creation of fastify.build... It may not make sense a approach for it. I believe it's just the documentation.

[2019-06-07 06:09] mcollina commented on #1686
Yes!

[2019-06-07 13:11] RafaelGSS commented on #1690
If user passed `query` and `querystring` on schema could throw an error, right? Because, based on the last commit, the `querystring` is overwrite by `query`

[2019-06-07 16:31] #1686 closed

[2019-06-08 11:23] naseemali925 opened #1698 "How to access `reply` object inside decorateReply?"
Hi,
I am trying to use the reply object inside decorateReply?
[code]
I have a use case where I need to decorate a function to reply object that will send the response. Any help would be appreciated

[2019-06-08 11:28] mcollina commented on #1698
fastify.decorateReply('json', function (source, context, variables, operationName) {
  this.send() // this is the Reply object.
   //The Response Needs To Be Sent From Here.
  });

[2019-06-08 11:32] #1698 closed

[2019-06-08 13:13] mcollina commented on #1690
Yes it could!

Il giorno ven 7 giu 2019 alle 15:11 Rafael Gonzaga <notifications@github.com>
ha scritto:

[2019-06-09 15:52] rajatjindal commented on #1623
kind ping/reminder @delvedor @mcollina

[2019-06-09 17:17] mcollina commented on #1623
Done!

[2019-06-09 17:17] #1623 closed

[2019-06-09 20:35] greenkeeper[bot] opened #1699 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `1.9.0` to `1.10.0`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-1.10.0).

This version is **covered** by your **current version range** and after updating it in your project **th

[2019-06-09 20:39] greenkeeper[bot] opened #1700 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `1.9.0` to `1.10.0`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2F%40typescript-eslint%2Fparser-1.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed

[2019-06-09 22:01] #1690 closed

[2019-06-10 07:06] #1700 closed

[2019-06-10 07:06] #1699 closed

[2019-06-10 15:29] RafaelGSS opened #1702 "Handler error without async functions"
## 🚀 Feature Proposal

Hello!

Recently I reading a lot of source code fastify and docs and I saw this:

Why not catch uncaught errors in routes sync?

If we (or us, hehe) manipulate the response of handler by another handler safely, could catch that error and send to default errorHandler fastify.

Obs: I already see the `fastify-sensible`. But, why not integrate by default in fastify ?

Thanks al

[2019-06-10 15:33] mcollina commented on #1702
Because it's a false friend. Doing that would _immediately_ have people asking "why don't you do it for callback apis". It's not possible to do that safely. In a callback-based application the best thing you can do in case of an error is to crash.

I don't understand this sentence.

That's not true.

[2019-06-10 15:41] RafaelGSS commented on #1702
@mcollina Thanks for the fast answer.

So, I understand that is not possible to make a handler of error safely. So, create all routes in async mode, is the best thing to catch uncaught errors? If "yes", why not advise people to **more** use async mode?

[2019-06-10 16:03] mcollina commented on #1702
It's not possible in Node.js, the following does not work as expected:

[code]

That's essentially what that paragraph is about.

[2019-06-10 16:12] RafaelGSS commented on #1702
Oh well... My mistake

Closing, thanks!

[2019-06-10 16:12] #1702 closed

[2019-06-11 14:07] mcollina opened #1703 "Errors with typescript"
## 🐛 Bug Report

I'm seeing the following on Node.js CITGM:

[code]

Full logs in https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/1871/nodes=fedora-latest-x64/testReport/junit/(root)/citgm/fastify_v2_4_1/.

## To Reproduce

Clone and run `npm test`

## Expected behavior

Test passes

## Your Environment

- *node version*:  master
- *fastify version*: 2.4.1
- *os*: Mac, Windows, Linux
- *

[2019-06-11 14:08] mcollina commented on #1703
cc @Ethan-Arrowood

[2019-06-11 14:32] Ethan-Arrowood commented on #1703
This is the same error we were having in the CI. This was updated in #1681 #1682 and #1683

Was it potentially not included in a new release of Fastify?

[2019-06-11 19:09] delvedor commented on #1703
I'll try to cut a release tomorrow.

[2019-06-11 19:10] delvedor commented on #1689
Closed in #1691.

[2019-06-11 19:10] #1689 closed

[2019-06-11 19:12] Ethan-Arrowood commented on #1703
Should be a patch fix when you do @delvedor

[2019-06-12 10:48] delvedor commented on #1703
[`v2.5.0`](https://github.com/fastify/fastify/releases/tag/v2.5.0) is out.

[2019-06-12 17:42] Ethan-Arrowood commented on #1668
Ha I'm the worst; forgot about this issue. I'm going to start work on it today.

[2019-06-12 20:06] RafaelGSS opened #1705 "reply.send inside async function 2019 ?"
Hello everyone!

Reading the docs about async function in handlers, I see that the return by promise/async is automatically set to the payload. Works fine. But, I have the following `decorate` that needs works on async/sync handlers.

[code]

So in handlers, I just call: `reply.success({})`.

My question is:
- Is wrong call `reply.send` inside the async function?
- Return `return reply.success({})

[2019-06-13 17:39] Ethan-Arrowood commented on #1668
@fastify/core could you please share with me your current process of using schemas.

Do you define them inline or separate files?
If you define them in separate files do you atomize it or have one very large JSON file containing all the various schemas?

For the parts that aren't validated with a Schema, do you expect that to be null or any?
- For example: if you have a `GET` request and defined a

[2019-06-13 18:24] fox1t commented on #1668
@Ethan-Arrowood May I suggest you to use unknown instead of any?

[2019-06-13 18:29] Ethan-Arrowood commented on #1668
Goo input @fox1t I like that default a lot!

[2019-06-14 07:01] mcollina commented on #1668
I _prefer_ inline because I think that the validation and the code for an handler _should stay together_, as they will *change together*. To know how an handler work, I would have to look up into two files, jumping around. I cannot know for sure that a parameter is validated by looking at one file, I would need to look it up somewhere else.

A lot of folks use external files that are loaded in, an

[2019-06-14 13:22] delvedor commented on #1703
@mcollina the issue appears to be fixed, but there is a new failure which it seems not related to us.
https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/1875/nodes=win-vs2017/testReport/junit/(root)/citgm/fastify_v2_5_0/

[2019-06-14 13:37] mcollina commented on #1703
That's ok!

[2019-06-14 13:37] #1703 closed

[2019-06-15 01:58] Ethan-Arrowood commented on #1668
I restored the generic types for request object properties for the `route` method and the shorthand's i.e. `get`. So now, if the user has types of its schema's they can pass them through and have access to them in their respective `request` instances. I have a local demo that is using the json-schema-to-typescript library and its working pretty well. I want to hash some more of this out and then I

[2019-06-15 07:51] mcollina commented on #1668
I think we will still have to pass the JSON schema as an option to the method, or can this be done automatically by the TypeScript compiler?

[2019-06-15 12:00] zsimo commented on #1396
Hello, a real-world scenario in which Header keys case mismatch can be a problem is:
Introduce Fastify in an already running API service, having customers who make case sensitive checks on header keys.

By the way, a quick solution can be to use Node Http core methods to set headers:
[code]
In this way, the case will be maintened.

Thanks!

[2019-06-15 19:45] fas3r opened #1707 "Question : fastify.decorate() works at runtime, can we use it ?"
## 💬 Questions and Help

I notice that `fastify.decorate()` works at runtime if we set / get from the same scope (meaning that it will not work if we create/set the decorator in plugin A and get it  from plugin B, but it will work if we set/get in the pluginA as there are no dependency needed).

Example :

[code]

For the simplicity I did not do any check like `fastify.hasDecorator('...')` execpt

[2019-06-15 22:20] RafaelGSS commented on #1707
This is not true when you bootstrap the application, the `avvio` is responsible to make the async bootstrap order, and when found a `decorate` method, they call [this](https://github.com/fastify/fastify/blob/master/lib/decorate.js#L15) method, to set inside the **current** instance of fastify.
What happens with your example, is because they have defined inside the **handler**, that is executed jus

[2019-06-16 08:44] delvedor commented on #1707
You can do it, but I would not recommend it.
You should declare decorators outside routes with an empty value, and then populate them.
Your code can be rewritten as follows:
[code]

[2019-06-16 12:54] fas3r commented on #1707
Hello @delvedor ,

ok thanks.

[2019-06-16 12:54] #1707 closed

[2019-06-17 02:08] Ethan-Arrowood commented on #1668
Still working on that part. I'm playing around with it all still. The json-schema-to-typescript library works like a charm (generating type files from the JSON schemas). I'm working on making sure files are generated into the correct directories so compilation works, as well as the schemas being included in the code so fastify can use them as designed.

[2019-06-17 14:53] mcollina opened #1708 "Make ./server.sock in test random / and ensure it's removed at the end"
## 🐛 Bug Report

In CITGM, we have spurious failures because of:

[code]

## Expected behavior

No failures

## Your Environment

- *node version*: master
- *fastify version*: >=2.5.0
- *os*: Linux

[2019-06-18 07:00] adrai opened #1709 "schema: nullable option not working on string with format or pattern"
## 🐛 Bug Report

Seems there is the option to mark a property in a schema (I tried body schema) as nullable like this:
[code]
But if the property defines a format or a pattern the nullable option is ignored.

## To Reproduce

For example this will **not** work:
[code]

As a **workaround** it can be declared like this (see the type value):
For example this **will** work:
[code]

example: https://gi

[2019-06-18 10:35] mcollina commented on #1709
Can you provide a full example? I don't understand if it's a Ajv issue or a fast-json-stringify issue.

Which one is not working?

[2019-06-18 11:15] adrai commented on #1709
I hope this helps: https://github.com/adrai/fastify-schema-example

I don't think it's an issue of fast-json-stringify

[2019-06-18 11:55] RafaelGSS commented on #1709
@adrai Try just set a `default: null`. Check if helps

[2019-06-18 11:58] Eomm commented on #1709
You should use:
[code]
because the `nullable: true` field is not a standard JSON schema, it is a OpenAPI specification.

I don't know if AJV 6.9.2 support it out of the box. Would you like to check?

[2019-06-18 12:25] adrai commented on #1709
this brings: "TypeError: Cannot use 'in' operator to search for 'anyOf' in null" on start

[2019-06-18 12:26] adrai commented on #1709
this is exactly the workaround I described ;-)

[2019-06-18 13:08] RafaelGSS opened #1710 "Add parse type default on schema"
## 🚀 Feature Proposal

Hello everyone.

Currently, I working with `fastify` and have the follow schema:
[code]

But, all of the parameters received I need parse to array even if it is the only index

So, I do this in my handler:
[code]
So... I think about add a `parserType` in cases that `type` is greather than 1

## Example

[code]

[2019-06-18 13:26] RafaelGSS commented on #1710
I found something that works inside [ajv](https://github.com/epoberezkin/ajv/blob/master/COERCION.md).
In my case, add coerceTypes to `array` works... But in fastify, is not able to send these parameters.

I can send the PR. But, have the following comment:
`//// it should not be customized or used`
[here](https://github.com/fastify/fastify/blob/master/lib/validation.js#L149)

[2019-06-18 16:55] Eomm commented on #1709
It is not a workaround, it is how the JSON schema should be configured.

[Here](https://npm.runkit.com/ajv) you can try that Ajv doesn't support that field:

[code]

[2019-06-18 17:06] adrai commented on #1709
@Eomm in these tests (in the ajv repo) I see the opposite: https://github.com/epoberezkin/ajv/blob/master/spec/options/nullable.spec.js

[2019-06-18 17:12] adrai commented on #1709
Seems this is too complex to handle => https://github.com/epoberezkin/ajv/issues/919

[2019-06-18 17:29] adrai commented on #1709
fyi: if passing "global" Ajv option nullable: true, it will work => https://github.com/fastify/fastify/pull/1711/files

[2019-06-18 18:43] fas3r commented on #805
Hello @mcollina ,

Following your example, would it be possible to `stream` the request as a buffer without rewriting the request ( header, body, qs, ..) ? Similar to what you do in `fastify-reply-from`  before forwarding the request to the backend server .

I'm wondering if it could be possible to stream the request in a Duplex stream or a Transform using `readable-stream` to add what need to be

[2019-06-18 19:33] brodybits commented on #1688
??

[2019-06-18 19:57] Eomm commented on #1709
Great! For sure, this will help someone that will encounter the same issue.
Thank you for checking deeper 👍

[2019-06-18 20:22] Ethan-Arrowood commented on #1668
Quick update:

`json-schema-to-typescript` doesn't support directories or multiple file input/output so I've created a PR to add that to their CLI. https://github.com/bcherny/json-schema-to-typescript/pull/238

@fox1t is this something your module solves? I wasn't sure looking at your docs.

With this PR in place, users can use `json-schema-to-typescript` to compile multiple json schemas into type

[2019-06-18 20:34] Eomm commented on #1710
Did you try the [schema compiler](https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md#schema-compiler)?
What trouble do you have set up?

[2019-06-18 21:19] fox1t commented on #1668
@Ethan-Arrowood yes my POC support any glob as input. Actually is support many of them. I use it to watch specific paths in my project and then regenerate the interfaces on change. (`npm run dev` script runs both dev server and schema compilation watcher).
I use `src/**/schema.json` as glob and compile all of them to specific`schema.ts` (my folder structure is src/services/service-name/ and every

[2019-06-18 21:32] RafaelGSS commented on #1710
I do not have a problem setting a new `schemaCompiler`. But my question is, why not send config of ajv default by fastify instance?

[2019-06-18 21:46] Eomm commented on #1710
I didn't write that part at the beginning but I could dare some design considerations:
- if you control the all the option keys you can validate them
- separation of domains: the ajv configuration is part of the ajv realm, it should not involve the HTTP server
- encapsulation: if you set up a config in the main instance, you would have always the same config
- avoid lockin: if some module doesn't

[2019-06-19 02:22] Ethan-Arrowood opened #1712 "Add TypeScript Update Guide"
Things are changing in the `next` branch for Fastify's types. These are breaking and so a guide to update from 2 to 3 should be created. This guide will also have information for updating plugins

[2019-06-19 02:28] Ethan-Arrowood commented on #1668
Ahh I see. I've also used file names for splitting things up. I'll try your POC to see if it supports file based globs not just directory ones. There seems to be many edges cases here so maybe using a library likes yours is better than trying to get glob pattern support added to `json-schema-to-typescript` itself.

[2019-06-19 03:00] RafaelGSS commented on #1710
I agree with that point.

But for now, fastify only set the `schemaCompiler` one time (If you don't pass any schemaCompiler).
So, always use the same config once the default `schemaCompiler` is added

[2019-06-19 08:09] smartiniOnGitHub commented on #1654
Running unit tests in the 'next' branch I see some deprecations, like the following:
`
(node:33412) Warning: Using 'genReqId' in logger options is deprecated. Use fastify options instead. See: https://www.fastify.io/docs/latest/Server/#gen-request-id
(node:33412) Warning: basePath is deprecated. Use prefix instead. See: https://www.fastify.io/docs/latest/Server/#prefix
(node:33453) Warning: The ro

[2019-06-19 08:12] mcollina commented on #1654
We should drop those options in v3.
Would you like to send some PRs that:

1. remove the deprecated functionalities (those where added in v1 and deprecated in v2)
2. enable http2 everywhere, dropping support for Node 6.

[2019-06-19 10:39] smartiniOnGitHub commented on #1654
sure, I'm already doing this in two different issues (with related PR); today I'll open the PR for the first part (the other issue) but I need some feedback on it , so see you soon ;-) . thanks for now

[2019-06-20 18:36] i0natan commented on #1688
Is this targeted to me? if yes, I plan to start after next week

[2019-06-20 21:02] allevo opened #1714 "Avoid return 503 after closing fastify"
## 🚀 Feature Proposal

Currently while fastify is shutting down, all APIs returns 503.
I would like to make this behaviour configurable.

## Motivation

In Kubernetes, when a deployment is updated, the process receives a SIGTERM. After that, your container continues to receive incoming requests. With the current behaviour all those responses are 503, even if the process is able to serve them.

So,

[2019-06-21 00:20] RafaelGSS commented on #1714
Sounds good. But, maybe `default: false`? Because this problem sounds like a bug. Why this problem did not occur on dev `nodemon`?

[2019-06-21 13:07] mcollina commented on #1714
I think this sounds like a bug to me. Maybe we can fix it without a flag. Would the following work?

[code]

[2019-06-21 14:11] fox1t commented on #1668
This was the main motivation of not making PR to `json-schema-to-typescript`, but going with a POC. :D
I think that if you find that this is a viable way to have optimal types support, we can integrate it in Fastify/Fastify plugin directly.

[2019-06-21 15:40] delvedor commented on #1714
I'm sorry, but I'm missing why this functionality does not work for you.
The idea is that if you call `fastify.close`, Fastify should stop accepting new requests and try to close currently opened one.

Following the implementation:
https://github.com/fastify/fastify/blob/901911c553bea62a21799ec7df34d5e36d2bacd0/lib/route.js#L266-L282

[2019-06-21 16:41] mcollina commented on #1714
@delvedor what is happening is that we call `.close()`, however some calls are still getting in while the async close operation is happening. By moving the `router.closeRoutes()` and setting `closing` inside the callback, those request will actually get through. I've updated the snippet:

[code]

[2019-06-21 16:58] einnjo opened #1715 "Child is missing from logger interface in TypeScript definitions."
## 🐛 Bug Report

Cannot create child loggers without circumventing TypeScript due to missing `child` method in the logger interface. The method is there, it's just not typed.

## To Reproduce

[code]

## Expected behavior

Child should be present in type Logger.

## Your Environment

- *node version*: 12.4.0
- *fastify version*: 2.5.9
- *os*: Mac

[2019-06-21 17:01] Ethan-Arrowood commented on #1715
Good find; should be defined. Do you want to send a PR?

[2019-06-21 17:22] mcollina commented on #1715
We decided not to for a reason.
I would recommend to cast that to an instance of pino instead.

[2019-06-21 18:07] einnjo commented on #1715
Just sent the PR 😅 , I'll close it then.

[2019-06-21 18:17] #1715 closed

[2019-06-21 19:02] Ethan-Arrowood commented on #1715
I believe I added this in the next types. I’ll make note of this and see what needs updating; I’ll also make a note to add this to a future TypeScript documentation update

[2019-06-22 14:37] allevo commented on #1714
The close method avoids new incoming connection.
If your application lives behind a proxy, your connection may be with 1.1 http version. This imply that all tcp connections are 'keep alive'. So the current connections can be used for new http requests. Currently all those requests receive 503

The next step, in my mind, is to make a plug-in that register a sigterm handler that invokes stop and for

[2019-06-23 11:15] StarpTech opened #1717 "Provide proper HTTP cache support"
## 🚀 Feature Proposal

While Fastify is a fully working http framework in my opinion it lacks in some basic http caching features:

- Check for response freshness like [`fresh`](https://github.com/jshttp/fresh) package based on `etag` and `if-none-*` headers to avoid sending content twice.

- Automatic `etag` header generation

The plugin [fastify-caching](https://github.com/fastify/fastify-cachin

[2019-06-23 13:16] mcollina commented on #1717
I’m +1 in having this as a plugin. I think it could be be easily implemented, would you like to give it a shot?

The problem with generating etags come from how express implements them: it uses md5 hashing algorithm under the box. Doing this operation tanks Node perf. I’m not sure if there is a more performant algorithm for this, maybe we shuld check how nginx implements this?

[2019-06-23 13:18] jsumners commented on #1717
The `fastify-caching` plugin matches the goal of Fastify: provide a fast REST framework. Delivering etags for representations is _not the same_ as providing etags for files, e.g. `style.css`. Such work is much better handled by static assets servers and proxies like nginx.

[2019-06-23 17:24] StarpTech commented on #1717
I agree but I talking about (representations) the use case to deliver html pages or provide a REST API. Has `fastify-caching` not been designed for that?

[2019-06-23 17:44] StarpTech commented on #1717
@mcollina the common apprach in proxys is to generated the hash based on `Last-Modified` header + content-length.

[2019-06-23 19:25] jsumners commented on #1717
Yes. And it is left up to the user of the plugin to provide the hashing, or unique id, for the representation. The plugin merely facilitates checking if it has already been cached or not.

[2019-06-23 20:44] StarpTech commented on #1717
This is what I would like to improve. Etag generating and freshness check should happen automatically.

[2019-06-24 07:58] mcollina commented on #1714
That's the idea. 503 a usually handled and they mean "send this request somewhere else". Note that the shutdown sequence of fastify means that _we cannot guarantee_ that those requests could be handled at all, because a database connection could have been stopped for example.

Tracking all connections is also very expensive, and the framework has been designed in this way to have a safe/sane behav

[2019-06-24 08:11] smartiniOnGitHub commented on #1647
@mcollina now I remember that there are even some dependencies that could be updated now that we require Node.js 8 LTS, same PR or a new one (cleaner, after the merge of the first PR) ?

[2019-06-24 09:22] mcollina commented on #1647
A follow-up PR would be good, I think this is already a significant PR!

[2019-06-24 16:10] #961 closed

[2019-06-24 18:08] allevo commented on #1714
Are you sure?
Using the change mentioned before, I thought that all TCP connections are closed before any 'onClose' hook handlers are fired because the hook handlers are called in sequence. Or Im wrong?

[2019-06-24 19:14] delvedor commented on #1717
@StarpTech I think you can open a pr to `fastify-caching` (instead of creating a new plugin) and add an option to also generate etgas and freshness checks.
I 100% agree with @mcollina that this feature should live outside core.

Closing the issue since the discussion can continue in https://github.com/fastify/fastify-caching/issues/16.

[2019-06-24 19:17] delvedor commented on #1658
Closed in https://github.com/fastify/fastify/pull/1670.

[2019-06-24 19:17] #1658 closed

[2019-06-24 19:54] romansavchenko opened #1720 "Has anyone tried to instrument New Relic with Fastify?"
http://newrelic.github.io/node-newrelic/docs/tutorial-Webframework-Simple.html

It seems like new relic expects a server to be set up more like [Restify or Express](https://github.com/newrelic/node-newrelic/blob/master/lib/instrumentation/restify.js), where the top level object has most of the methods for the server instead of the instance of the server having those methods.
Anyone have ideas or e

[2019-06-24 20:36] mcollina commented on #1717
IMHO I think it’d be extremely good to have another plugin that does exactly as you describe.

[2019-06-25 06:27] mcollina commented on #1714
Calling .close on a server closes it, meaning there will be no new incoming TCP connections. It does nothing on all connected clients unfortunately.

[2019-06-25 06:38] #1709 closed

[2019-06-25 07:41] delvedor commented on #1717
Maybe I'm missing something.
Why have two plugins? I fear that will lead to confusion.
`fastify-caching` and `fastify-caching-but-with-etag`? 😄

[2019-06-25 08:10] mcollina commented on #1717
The two things have completely different purposes.

[2019-06-25 08:12] mcollina commented on #1717
- fastify-caching is currently enabling storing things in a cache for responses that already have an `etag`.
- this-new-plugin will be about generating those etags

The two requirements are cross-cutting concerns, and they both fall under the topic of "http caching". It makes sense to just generate the etags, mainly because it could be used _without_ any other caching mechanism, simply relying on

[2019-06-25 08:28] StarpTech commented on #1717
@mcollina thanks for intervention it's right. `fastify-cache` it's a statefull cache store which rely on HTTP caching headers for the keys but it is different from regular http caching. Caching should happen stateless. As mentioned in the linked issue expressjs and koajs provide it for years and this is what we really need in production IMHO.

[2019-06-25 08:33] mcollina commented on #1714
Actually I have been wrong. From https://nodejs.org/api/net.html#net_server_close_callback:

Essentially when the `close() ` callback fires, there are no more connections lingering around.

@allevo would you mind sending a PR to disable the 503 behavior? We should still be sending the "connection: close" headers anyway on response

[2019-06-25 09:10] mcollina commented on #1717
In all my experience in putting Node.js applications in production, I think it's not a good approach for deailing with caching: it is a complex matter, and it should not be automated away. Moreover, there a lot of tradeoffs in various solutions, and backing one in the framework seems a bit too far.

I think it would be good to have that as a plugin. How about we call this `fastify-auto-etag`?

[2019-06-25 10:25] delvedor commented on #1717
`fastify-etag` sounds better.

[2019-06-25 15:24] StarpTech commented on #1717
I agree in general but not for etag handling I mentioned. It's a very simple and efficient method to save bandwidth. I vote for the name `fastify-etag` and I propose to rename `fastify-cache` to `fastify-etag-store` because it's confusing.

[2019-06-25 19:29] #1687 closed

[2019-06-25 20:34] allevo commented on #1714
I'll fire asap

[2019-06-26 19:45] Eomm commented on #1720
Personally, I didn't use it before.

Are you working on it? Would you like to share your experience and add `instrumentation` to new relic repo?
For sure if you need help to start we could start together 💪

[2019-06-27 10:16] allevo commented on #1714
Fired!
https://github.com/fastify/fastify/pull/1723

[2019-06-27 10:21] smartiniOnGitHub commented on #1654
I just found that in Fastify sources, there are many usage of the 'var' keyword to define variables, do you think it would be good to try to change (for what is possible) to 'const' or 'let' ?
If yes I could try to do some changes, but in another PR (to link to this issue) ...

[2019-06-27 12:06] xtx1130 commented on #1654
@smartiniOnGitHub About why use `var`, please see this discussion. https://github.com/fastify/fastify/pull/1625#discussion_r283170034

[2019-06-27 12:18] StarpTech commented on #1654
@smartiniOnGitHub @xtx1130 verify it before using `var` Node 8 has significant improvements.

[2019-06-27 12:55] xtx1130 commented on #1654
@StarpTech emmm... I have made an benchmark about `var` and `let`, case is here:
[code]
In node v8.16.0, result is almost the same:
[code]
Only in node v6, `var` has significant improvements than `let`:
[code]
I think is ok to use `let` instead of `var` in node v8+.

[2019-06-27 13:18] smartiniOnGitHub commented on #1654
@StarpTech @xtx1130 thanks for the info and the draft benchmark :-) . In general (on JVM) I prefer immutable variables, so here in a similar way I could try to use 'const' as much as possible and otherwise use 'let' (and of course check with benchmarks); do you think it would be good as strategy (in its own PR) ?

[2019-06-27 13:26] mcollina commented on #1654
There are still some cases in Node 8 where let is worse than var.

[2019-06-28 17:27] RafaelGSS opened #1726 "Are able to join fastify team ?"
## 💬 Questions and Help

Reading [here](https://github.com/fastify/fastify/blob/master/CONTRIBUTING.md#onboarding-collaborators), the fastify are accepting new members?

If yes, maybe I can be util. I would like to join to fastify team.

Thanks.

[2019-06-28 19:31] #1726 closed

[2019-06-29 10:00] mcollina commented on #1717
I've created https://github.com/fastify/fastify-etag to work on this.

[2019-07-01 07:59] delvedor commented on #1726
Hello! Take a look at [CONTRIBUTING.md](https://github.com/fastify/fastify/blob/master/CONTRIBUTING.md) ;)

[2019-07-01 15:40] RafaelGSS commented on #1726
Hello @delvedor. I checked it, and I also sent the link in issue. Are able for everyone?

[2019-07-01 15:56] RafaelGSS commented on #1726
I can send the PR with "username, and email to the team you have chosen"?

[2019-07-01 15:59] mcollina commented on #1726
Hi @RafaelGSS, I would recommend start sending PRs/and fixing bugs first. Take a look at https://github.com/fastify/fastify/issues

[2019-07-01 16:02] RafaelGSS commented on #1726
Sure.

[2019-07-01 16:06] RafaelGSS commented on #1710
Closing that issue. But maybe, a flag to set `schemaCompiler` defaults for each route can be util. Sure, when not have any changes, uses the default.

[2019-07-01 16:06] #1710 closed

[2019-07-01 23:40] greenkeeper[bot] opened #1729 "An in-range update of semver is breaking the build 🚨"
## The devDependency [semver](https://github.com/npm/node-semver) was updated from `6.1.3` to `6.2.0`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Fsemver-6.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

semver is a devDependency of this project. It **might not b

[2019-07-02 10:04] mcollina commented on #1729
Flaky CI.

[2019-07-02 10:04] #1729 closed

[2019-07-02 10:43] akaNightmare opened #1730 "Support ajv-merge-patch"
Hello,

I am wondering if there any way to use $merge, $patch custom keywords from the https://github.com/epoberezkin/ajv-merge-patch repo from the box?

Thanks.

[2019-07-02 10:52] mcollina commented on #1730
You can use `setSchemaCompiler` to pass in your custom instance of Ajv: https://www.fastify.io/docs/latest/Validation-and-Serialization/#schema-compiler.

[2019-07-02 10:52] #1730 closed

[2019-07-02 21:48] delvedor commented on #1654
I don’t think we should move to let, even if there is no perf gain.
var is not bad, and our entire codebase has been written with var. I’m quite sure that move to let will break some code due to the block scoping.
There is no reason to use let unless you need the different scoping rules.
Just because is the new syntax it does not mean that you should use it ;)

[2019-07-03 10:05] smartiniOnGitHub commented on #1647
time for the other PR now: update dependencies of all tools that was kept for compatibility with Node.js 6 (give me some days) ...

[2019-07-05 03:58] simo-eskalera commented on #703
Hi, just another user coming here to weigh in :)
I don't think breaking words makes sense. Breaking paths would make sense. I'm sure you'll find the output below a bit painful to read?

[code]

[2019-07-05 08:16] Sionarch commented on #842
Hi. As I couldn't get the i18next-express-middleware working, I implemented it as a Fastify plugin: [fastify-i18next](https://www.npmjs.com/package/fastify-i18next)

[2019-07-05 15:39] ericmacfa opened #1733 "Lifecycle is not interrupted when onSend executes asynchronously"
## 🐛 Bug Report

When an instance `onSend` hook executes asynchronously, responding from a route hook does not always prevent the route handler from being called.

## To Reproduce

#### Setup

1.  `npm init -y && npm i -S fastify@2.6.0`
2.  Add the code from [this gist](https://gist.github.com/ericmacfa/e5331a632464ec4530c7a42617b67f45) to index.js
    <details>
    <summary>Bare-bones snippet</su

[2019-07-05 16:44] dgonzalez commented on #1714
My 2 cents: on SIGTERM stop taking requests by returning the appropriate http code on the readiness probe (if you return anything >=300 k8s will stop sending you traffic). Then, wait for all the current requests to be processed and then, close the server. Would that work?

[2019-07-06 15:00] mcollina commented on #1717
@StarpTech @delvedor please review https://github.com/fastify/fastify-etag and open issues.

[2019-07-06 15:35] Eomm commented on #1733
Hi,
thank you for reporting. Would you like to give it a shot?

Otherwise, you could apply the following workaround right now:

[code]
NB: this will not trigger the `fastify.setErrorHandler` function 👍

[2019-07-07 07:54] sarneeh opened #1734 "Why is reply.request not documented?"
Like in the title. I was looking for a way to use `decorateReply`, but still have access to the `Request` object. I didn't see any information in the `Reply` documentation, so I started digging and doing some `console.log`s, and actually, there IS a `Request` object under `reply.request`. So my question is: is it not documented by purpose (maybe because it's not a good practice to use it), or just

[2019-07-07 17:14] Eomm commented on #1734
I think that documenting it could be noisy because where you have the replay object, you have also the request itself and that `reply.request` is the same instance.

It is not clear to me the use case for `decorateReply`, could you argue more?

[2019-07-07 17:32] sarneeh commented on #1734
@Eomm I wanted to make use of [send](https://github.com/pillarjs/send) which needs Node's Request and Response object to process. Actually, it's also being used the same way in `fastify-static`:

https://github.com/fastify/fastify-static/blob/0e48bf2d219a984b81f328c37352bf0d26fc047a/index.js#L107-L109

[2019-07-07 19:37] Eomm commented on #1734
I understand now, thank you 👍
I change my mind: if it already used in other plugins we should document it and provide support for it.
There are also tests that cover that property.

Before I was meaing that a user, without checking the code, could add a decorator that accept the request as a parameter (for sure this solution is less elegant).

[2019-07-08 07:43] delvedor commented on #1734
I'm not sure if is not documented on purpose or we just missed it. @mcollina do you recall something?

[2019-07-08 07:55] mcollina commented on #1734
I think we should just document that at this point.

[2019-07-08 08:27] Eomm commented on #842
Hi @Sionarch, it would be great if you could add some tests and a CI check to add your plugin to the [ecosystem](https://github.com/fastify/fastify/blob/master/docs/Ecosystem.md) 💪

[2019-07-08 12:38] ericmacfa commented on #1733
I'd like to tale a look, but I'm still wrapping my head around the fastify codebase, so don't wait up for me 😄.
If I find the source of the bug before someone else opens a PR, then I'll go ahead and submit it 👍

[2019-07-09 07:25] smartiniOnGitHub commented on #1647
All done for this issue. Thanks to all for the help.

[2019-07-09 07:25] #1647 closed

[2019-07-09 22:20] RafaelGSS opened #1736 "What about cpp code in router http ?"
## 🚀 Feature Proposal

I thinking about writing the HTTP router in C++ Addons to improve performance of fastify.

I can make some tests with it. (Maybe, the C++ Addon can be not has more performance than actual coded)

## Motivation

Following the motivation of Fastify - Fast and low overhead framework http.

[2019-07-09 22:24] RafaelGSS commented on #1736
But, the point is:

- The fastify really needs it?
- Can be another repo like plugin. And send it in fastify instance instead of _find-my-way_:
[code]

[2019-07-10 00:50] Ethan-Arrowood commented on #1736
Hi @RafaelGSS this seems like a cool idea; however, as I understand it, the _find-my-way_ router is the so-called "secret-sauce" of Fastify. The radix tree routing algorithm is a part of what makes Fastify faster than other libraries such as Express and Hapi. The other key part of Fastify is it's plugin based design (which is powered by [Avvio](https://github.com/mcollina/avvio)).

Because of its

[2019-07-10 01:18] corbinu commented on #1736
@RafaelGSS Maye a wrinkle how would you feel about working with me to port find-my-way into Rust. That way it could be easily loaded into fastify as WASM?

[2019-07-10 09:45] funswe opened #1737 "GET request validated scheme body?"
I defined a routing that supports GET and POST methods. In scheme, querystring and body are both defined, but the body is also validated when the request method is GET.

then document writes :
![image](https://user-images.githubusercontent.com/50731295/60958944-e4e22500-a339-11e9-849b-2c6a5e2e332e.png)

From the documentation point of view, I don't think the body is validated when the request is a

[2019-07-10 10:09] mcollina commented on #1737
I'm not sure I understand fully. Would you mind adding a self-contained example that we can run to trigger this behavior?

[2019-07-10 10:18] mcollina commented on #1736
You'd need to match the find-my-way API in this new module. I think you could:

1. implement the radix-prefix-tree in Rust, similar to how we do things in find-my-way
2. store the JS objects that identifies a route (function, context object, etc), in a side map/array and have the radis-prefix-tree return indexes to be looked up there.

The problem with this approach is that the transition cost bet

[2019-07-10 10:21] funswe commented on #1737
[code]

When I request using the GET method, return  “{"statusCode":400,"error":"Bad Request","message":"body should be object"}”

[2019-07-10 10:23] funswe commented on #1737
In my opinion, GET requests should not validate body

[2019-07-10 10:24] funswe commented on #1737
In my opinion, GET requests should not validate body
![image](https://user-images.githubusercontent.com/50731295/60962041-f7f7f380-a33f-11e9-821f-7af7bbcac469.png)

[2019-07-10 10:28] mcollina commented on #1737
Are you sending a GET request with a body? What's the client for that server?

[2019-07-10 10:37] funswe commented on #1737
Because I'm not sure whether the client sends GET or POST requests, I add querystring and body to the scheme. What I hope is that whether GET or POST, the parameter `name` can be validated.

[2019-07-10 11:12] mcollina commented on #1737
Would you mind adding a client written in Node.js that demonstrate the error you are seeing, and what would be your expected behavior?

[2019-07-10 12:18] delvedor commented on #1736
I agree with everything @mcollina said. Plus, I don't think we should ship with a native dependency by default.
Anyhow, the routing provides good performances already, our "bottleneck" is the body parsing and the validation (which is quite fast already).

[2019-07-10 12:37] RafaelGSS commented on #1736
Sounds good. @corbinu. Just for tests

@mcollina  Yeah, I understand it, the V8 often turns out to be faster than a WASM, just because the transition has some cost. But provide it like a plugin like an example above, can be util for the application that uses many routes?

@delvedor Well, do not you see something in which compilation for a native code can help in fastify? I'll make some tests with

[2019-07-10 12:50] jsumners commented on #1736
I am staunchly against shipping a native dependency by default.

[2019-07-10 13:30] RafaelGSS commented on #1737
I think that understand him @mcollina. In doc the "body" just validate POST and PUT request, but if you try make GET request on this schema, they provide the error above.

[2019-07-10 14:15] mcollina commented on #1737
I think we should just throw an error in that case, adding a `body` schema to a GET route should not be valid.

[2019-07-10 14:20] RafaelGSS commented on #1737
Sure, but in these cases, create a route that accepts GET and POST should be thrown an error too?

[2019-07-10 14:28] mcollina commented on #1737
I wouldn't do that. It's mostly related to the `body` validation that cannot be applied to `GET`. We might want to write a wildcard route that just forward the request to another service for example.

[2019-07-11 07:12] Eomm commented on #1737
I think that this behaviour should be chosen by the programmer that is creating the API because someone accepts a body in a GET request as [elasticsearch does](https://www.elastic.co/guide/en/elasticsearch/guide/current/_empty_search.html) referring to the RFC that doesn't deny to parse the body explicitly.

This use case could be just implemented two different routes that use the same handler or

[2019-07-11 15:45] smartiniOnGitHub commented on #1654
In next days I should be able to start to work on this (a feature branch fromm next, to target next), by removing deprecated calls (as seen in unit tests), and maybe other ... tell me if there is something to do on this topic.

[2019-07-11 16:54] delvedor commented on #1737
I think that we should not allow defining a body in a GET route.
Elasticsearch does that for compatibility reason with legacy code, and I would not use it as an example.

Furthermore, you want to use the validation in a route so you can safely access the data afterward. If you declare a route with both GET and POST you will miss that, and you will encounter a bug in your code eventually.

[2019-07-12 12:50] nettemsarath opened #1742 "how to enable content security policy using fastify-helmet"
## 💬 Questions and Help

### Please note that this issue tracker is not a help forum and this issue may be closed.

Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

[2019-07-12 16:07] Ethan-Arrowood commented on #1742
Transferring to fastify/help

[2019-07-12 19:04] #1688 closed

[2019-07-12 19:28] Ethan-Arrowood opened #1744 "Remove Travis from master"
Travis has already been removed from the 1.x and next branches. Azure Pipelines has been working very well. It’s time to remove Travis from master, and disconnect it from the repository as a whole.

[2019-07-13 06:39] nettemsarath opened #1745 "assertion Error Methods already declared for Route *"
## 💬 Questions and Help

### Please note that this issue tracker is not a help forum and this issue may be closed.

Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

[2019-07-13 06:39] nettemsarath commented on #1745
iam geting this error :
 AssertionError [ERR_ASSERTION]: Method 'OPTIONS' already declared for route '*'
    at Router._insert (/home/sarathnettem/FASTIFY/app3/node_modules/find-my-way/index.js:275:9)

[2019-07-13 06:40] nettemsarath commented on #1745
[code]

[2019-07-13 06:41] nettemsarath commented on #1745
this is my app.js file

[2019-07-13 06:48] #1745 closed

[2019-07-13 06:49] nettemsarath commented on #1745
this is solved... i just registered one of my module twice.. thats the issue

[2019-07-13 22:14] jineshshah36 commented on #946
We just spent a considerable amount of time trying to get fastify running on google cloud functions, and then we discovered google cloud run which shares many of the benefits of cloud functions but works much more easily with fastify. You just specify a docker file and cloud run will run your dockerized fastify server like a serverless function. It took 10 minutes to setup and required no major co

[2019-07-14 11:04] kharandziuk opened #1746 "Status code on return"
## 🐛 Bug Report
Can't set a status code like described here:
https://github.com/fastify/fastify/blob/master/docs/Reply.md#async-await-and-promises

or maybe the documentation is misleading. Everything work with send
## To Reproduce

[code]

## Expected behavior

expect status code 401, but receive 200

## Your Environment

- *node version*: 6,8,10
- *fastify version*: >=1.0.0
- *os*: Mac, Windows,

[2019-07-14 11:22] StarpTech commented on #1746
Hi @kharandziuk the example is wrong would you like to send a PR? You can only return the final payload not the status code. We should also show two examples one with `reejct` and one with `resolve`:

[code]

[2019-07-14 11:30] StarpTech commented on #1736
@RafaelGSS Preoptimization is the root of all evil. What's the issue here? Why do you think that the current performance has to be improved? What's your use case?

[2019-07-14 13:33] RafaelGSS commented on #1736
Hi @StarpTech
I don't have anyone use case, I just create this discussion for maybe help the fastify.
If the fastify phase is: "Fast", I just have some ideas.

[2019-07-14 13:33] #1736 closed

[2019-07-14 15:18] delvedor commented on #1746
Hello! Thee documentation is correct, I agree that we can make it a little bit more explicit.
In the meantime, I suggest you take a look to the [`setTimeout`](https://developer.mozilla.org/ro/docs/Web/API/window.setTimeout) documentation, it might help you better understand what's happening there :)

[2019-07-14 16:42] kharandziuk commented on #1746
@delvedor you are right documentation is correct. it's my bad.  But... on a glance, it doesn't feel like correct.
Obviously, I just copy-pasted the example and after that tried to change the status code(number 200) without thinking about the overall construction.

I would prefer to have everything simpler
[code]

but it's up to you guys. I can create a PR, or you can just close the issue

[2019-07-14 17:22] kharandziuk commented on #1746
also, looks like my second  example is wrong btw

[2019-07-15 06:48] kharandziuk opened #1747 "The server swallows error logs in a case of async function"
## 🐛 Bug Report

The server swallows error logs in a case of async function.

## To Reproduce

bellow

[code]

## Expected behavior

I expected that the error logs should be the same but, they are different

[code]

[2019-07-15 07:02] mcollina commented on #1747
These are not really a _bug_ per se, but a byproduct of how error handling works in Fastify. The error is catched, and we return a 500 instead. We might want to rethrow certain type of errors and crash the process (`RefererenceError` and others). @fastify/fastify wdyt?

As a stopgap solution, you might want to set the log level to `'error'` or less to get the stacktrace in the log.

[2019-07-15 08:47] StarpTech commented on #1746
@delvedor it's not. It's very confusing to use a status code as timeout value :confused: that's why we are here.

[2019-07-15 10:20] mcollina commented on #1746
I think it's very confusing. We should not use `setTimeout` at all, but rather use `const sleep = promisify(setTimeout)` instead.

This would clarify all the examples, and it would encourage a best practice (never use `new Promise`).
Would you like to send a PR?

[2019-07-15 15:36] delvedor commented on #1747
We already discussed this in #850 and #1078. I fear that decide which error to catch and which not might be tricky and introduce some weird behavior.
IMHO the user should decide what to do and use a custom error handler to specify the behavior.

[2019-07-15 19:00] Eomm commented on #1747
I agree; I think users should manage the errors "by design" and the error management of a promise and a handler execution are different.

Do @kharandziuk think the [Errors.md](https://github.com/fastify/fastify/blob/master/docs/Errors.md#error-handling) doesn't explain this behaviour well?

[2019-07-15 19:22] Eomm commented on #1680
I think we should support it because [`throws`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/throw) accepts any kind of types, so the users expect correctly to manage an error throwing "something".

WDYT?

[2019-07-15 21:23] smartiniOnGitHub commented on #1654
@delvedor sorry I wasn't aware of performance differences between 'var' and 'let'/'const', good to know; main reason for trying to use 'const' was to promote immutability ... anyway let's see in the future :-) ... thanks again for all the info.

[2019-07-15 21:43] kharandziuk commented on #1747
the whole point of `async/await` to make it look the same, right?

It kinda describes it, but the actual behavior is cryptic. The problem: in my case, I just changed a function to `async` function and in some point realized that I don't see error stacks anymore. And I noticed it at the moment when the error appears, so It was hard to figure out the reason.
Also, now I need to set up two separate w

[2019-07-16 09:59] smartiniOnGitHub commented on #1654
Sorry for the same reasons (performances) it's better to not upgrade request id generator to generator functions (sync or async), right ?
So I think we can safely close this issue as resolved.
Thanks to all for the help. Bye

[2019-07-16 10:08] mcollina commented on #1654
Exactly

[2019-07-16 10:08] #1654 closed

[2019-07-16 10:12] delvedor commented on #1654
Be aware that `const` does not promote immutability, it only avoids value reassignment and double declaration.

[2019-07-16 20:02] Eomm commented on #946
@jineshshah36 would you like to add your finding in the [Serverless.md](https://github.com/fastify/fastify/blob/master/docs/Serverless.md)?

This would help the community for sure 💪

[2019-07-17 13:35] greenkeeper[bot] opened #1753 "An in-range update of pino is breaking the build 🚨"
## The dependency [pino](https://github.com/pinojs/pino) was updated from `5.12.6` to `5.13.0`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Fpino-5.13.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pino is a direct dependency of this project, and **it is very likel

[2019-07-17 14:28] mcollina commented on #1753
Flaky CI

[2019-07-17 14:28] #1753 closed

[2019-07-17 14:47] greenkeeper[bot] opened #1754 "An in-range update of helmet is breaking the build 🚨"
## The devDependency [helmet](https://github.com/helmetjs/helmet) was updated from `3.18.0` to `3.19.0`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Fhelmet-3.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

helmet is a devDependency of this project. It **might no

[2019-07-18 09:54] kharandziuk commented on #1746
@mcollina we can resolve it and link to https://github.com/fastify/fastify/pull/1751

[2019-07-18 16:10] Eomm commented on #1747
I think yes because the following use case cannot be caught without creating a sandbox.

[code]

Without changing the API, the only solution that I know for this example is to add:

[code]

that is really dangerous to me catching all these errors in a node process.

Even Node.js manage the promise rejection in a different manner because a rejected Promis doesn't let the process crash (unless you u

[2019-07-18 19:10] RafaelGSS opened #1755 "Fastify timeout route ERR_EMPTY_RESPONSE"
## 💬 Questions and Help

In my work, I have some hard processing data inside the database and may take more than 2 minutes. Something like:

[code]

And I receive the ERR_EMPTY_RESPONSE in chrome, I think because the process takes a long time.

## Reproduce code
[code]
- This is expected ?

- I took a look at [this](https://github.com/fastify/fastify-server-timeout) plugin, but I did not test yet.

[2019-07-18 20:33] RafaelGSS commented on #1737
I'll make the PR for throw a error when pass `schema.body` inside `GET` requests... We need it?

If yes: :+1:
If no: :-1:

[2019-07-18 20:44] sandro-pasquali opened #1757 "expose find-my-way interface"
## 🚀 Feature Proposal

Reflect the API of `find-my-way` on `fastify` api.

## Motivation

I'd like to dynamically disable routes (and re-enable them). So if I could get to this https://github.com/delvedor/find-my-way#offmethod-path somehow

## Example

fastify.off(`/route/`);

[2019-07-18 20:54] allevo commented on #1757
Do you mind to allow enable and disable route on the fly? If the server is already started?

[2019-07-19 00:49] funswe commented on #1737
I think it's better to ignore ```schema. body``` when GET request.

[2019-07-19 06:38] mudivili opened #1758 "SyntaxError: Unexpected token %"
I face this error with fastify. I am not able to debug as well.
Any one else faced this issue. I am able to debug till that the issue is not specific to fastify. But, to a module called `flatstr`.

Here is the error message:
[code]
This issue happens randomly.

In `reply.js`, at lines 104 & 345, stringified payload is passed to something called `flatstr`.

That throws this error. The `%` is in the

[2019-07-19 06:59] mcollina commented on #1758
What’s your setup? are you transpiling by any chance? If you could provide a “npm ls” or a script to reproduce it would be fantastic.

This has been fixed by later changes in flatstr, we might just need to bump the dependency.

[2019-07-19 07:26] delvedor commented on #1757
We don't expose the `.off` interface because Fastify "compiles" all your configuration into an internal fast data structure, and the only way to change it is by stopping and rebooting the server again.

What you can do, however, is to create a hook that returns 404 on the routes you want to disable based on a logic chosen by you.
The result for the end-user will be the same.

[2019-07-19 07:31] delvedor commented on #1755
Yes, it's expected, you can use [fastify-server-timeout](https://github.com/fastify/fastify-server-timeout) to solve your issue :)

[2019-07-19 14:23] #1755 closed

[2019-07-19 18:52] kharandziuk commented on #1747
you don't understand my question.

[code]

this case works exactly as I expect: it just fails with the propper error
[code]

the thing which I'm asking: How can disable default handling error for async functions?

[2019-07-19 19:02] jsumners commented on #1747
No. The point is to provide syntactic sugar around the combination of promises and generators. See https://web.archive.org/web/20190405035312/https://www.promisejs.org/generators/

Do not mix `async function () {}` with callbacks. If you do, then the only viable method is:

[code]

[2019-07-20 05:16] treykaws opened #1760 "Schema validation error handling"
I thought this would be the best place to ask this question but if it is not feel free to lock it and tell me to skedaddle.

I am looking for a cleaner solution to dealing with validation errors with requests that have multiple requirements. For instance I have 2 patterns that need to be matched via RegEx defined in the schema. Customizing the error for each one has proven to not be clean. What wo

[2019-07-20 13:02] mohammad-khooie opened #1761 "how can I diagnose ajv validation error in custom error handler"
Hi
I want to diagnose ajv validation error in my custom error handler
this is first way that I test
I add this if block in my custom error handler
`
if(err instanceof Ajv.ValidationError){  do some things  }
`
but its dosent work for me
whats the best way?

fastify 2.6.0

[2019-07-20 13:09] #1761 closed

[2019-07-22 02:56] mudivili commented on #1758
Operating System(Issue appears in 2 machines, same OS):
[code]
Node:
[code]
[code]

Usual Node.js setup. No trans-piling is happening. I have not yet found a way to reproduce the issue consistently. It happens randomly. I copied the string that throwed error & passed it to `flatstr` for a while. The issue did not appeared at all.

[code]

[2019-07-22 06:27] mcollina commented on #1758
This is fixed in the latest version of flatstr. Update your dependencies (remove node_modules and remove package-lock.json).

[2019-07-22 06:27] #1758 closed

[2019-07-22 07:36] Eomm commented on #1761
Hi, why did you close the issue? Do you have found a solution?

[2019-07-22 07:39] Eomm commented on #1760
Hi,
I think https://github.com/Eomm/fastify-schema-constraint/ fits your needs

Using standard json schema you can choose to apply the validation or not based on your business logic

[2019-07-22 12:21] jsumners opened #1763 "Missing `.catch`?"
https://github.com/fastify/fastify/blob/421f214e55f0878317a22a331053ba8937498a28/fastify.js#L306

Is this missing a `.catch` for a reason?

[2019-07-22 12:23] mcollina commented on #1763
We return the promise, there is no need fo catching there.

Il giorno lun 22 lug 2019 alle 14:21 James Sumners <notifications@github.com>
ha scritto:

[2019-07-22 12:47] jsumners commented on #1763
What ultimately ends up handling that promise? I am debugging an update from Fastify v1 to Fastify v2 and adding the following there really helped me:

[code]

[2019-07-22 12:59] mcollina commented on #1763
when you do `await fastify.inject()`, you'll see that error bubble up.

[2019-07-22 13:21] #1763 closed

[2019-07-22 18:37] treykaws commented on #1760
Hi Eomm,

Thanks for the suggestion. I will take a look at fastify-schema-constraint to see if I can leverage it for my use case. I will be back here to let you know how it works.

[2019-07-23 04:39] jineshshah36 commented on #946
Yes, keep forgetting to do this. Will try to send a PR this weekend!

[2019-07-24 14:59] mcollina commented on #1754
Flaky CI?

[2019-07-24 14:59] #1754 closed

[2019-07-25 10:30] delvedor commented on #1737
The problem with ignoring is that is not explicit.
There are two solutions, log a warn or throw an exception. I'm fine with both of them.

[2019-07-25 10:33] delvedor commented on #1747
@kharandziuk you can't, but if you use the [`setErrorHandler`](https://www.fastify.io/docs/latest/Server/#seterrorhandler) API you can override our default behavior.

[code]

[2019-07-25 10:33] delvedor commented on #1746
Closed in https://github.com/fastify/fastify/pull/1751.

[2019-07-25 10:33] #1746 closed

[2019-07-25 10:35] delvedor commented on #1635
Can we close this?

[2019-07-25 10:38] delvedor commented on #1598
Can we close this?

[2019-07-25 10:39] delvedor commented on #1541
This should be fixed now, if not, feel free to reopen!

[2019-07-25 10:39] #1541 closed

[2019-07-25 16:15] jsumners opened #1767 "Schema builder is mutating schemas"
## 🐛 Bug Report

After a route is added a function `afterRouteAdded` is invoked which in turn invokes `validation.build` => `schemas.getSchemaAnyway` (via `schema.resolveRefs`) to build out schemas. This `getSchemaAnyway` function is injecting new properties into the schema object before passing the schema to the defined schema compiler. If said schema compiler does not recognize these newly added

[2019-07-25 16:55] jsumners commented on #1767
Replication:

[code]

[2019-07-25 17:03] jsumners commented on #1767
Note that this reproduction script works under Fastify v1.14.6 without any changes.

[2019-07-25 17:44] sarneeh commented on #1635
@delvedor Yes! Sorry, I forgot about this issue. Closed.

[2019-07-25 17:44] #1635 closed

[2019-07-25 19:02] mcollina commented on #1598
Yes and no, there is still work to do in dependencies.

Il giorno gio 25 lug 2019 alle 12:38 Tomas Della Vedova <
notifications@github.com> ha scritto:

[2019-07-25 19:50] jsumners commented on #1767
Commit 4c4f77517c8ecc1dd7cb63215dedfcd862674f8b is the one that introduces the bug.

[2019-07-25 21:59] jsumners commented on #1767
Fixed in #1768

[2019-07-25 21:59] #1767 closed

[2019-07-26 01:44] xtx1130 opened #1769 "It waste a lot of time in pre-commit hooks"
## 🚀 Feature Proposal

It will waste a lot of time in pre-commit hooks when I want to submit code. I think we can just run the important test cases in pre-commit

## Motivation

Improve submit efficiency

## Example

[code]

[2019-07-26 04:50] jineshshah36 commented on #946
Done: https://github.com/fastify/fastify/pull/1770

[2019-07-26 04:52] areese159 opened #1771 "Fastify will not allow route registration after ready"
## 🐛 Bug Report

Calling `fastify.ready()` causes errors to be thrown if you attempt to add routes after it finishes. Specifically, it will throw `Cannot add route when fastify instance is already started!` which seems like undesired behavior. This seems to be caused by Avvio emitting the `start` event when calling ready, since ready comes from Avvio. When `start` is emitted fastify appears to no

[2019-07-26 06:33] Eomm commented on #1769
You could use the `-n` flag to skip the pre-commit hooks: `git commit -nm 'my comment``

[2019-07-26 06:39] mcollina commented on #1769
I disagree, the checks are there to verify the linting and other things -
pushing those checks to CI is just a waste of resources.

Il giorno ven 26 lug 2019 alle 08:33 Manuel Spigolon <
notifications@github.com> ha scritto:

[2019-07-26 07:11] delvedor commented on #1769
I agree with @mcollina. If you really need to skip them, as said by @Eomm, you can use `-n`.

Usually what I do is to run the hook only for the first commit I need to send:
[code]

[2019-07-26 07:18] delvedor commented on #1771
It is the wanted behavior :)
Before start listening for requests, Fastify will "compile" all of your plugins and routes *(which are a special kind of plugin)* to a fast data structure, so it can be accessed later very quickly.
To allow this, we can't accept new plugins after the invocation of `.ready`.

The question is, why you need to register more routes after calling `ready` or `listen`?

[2019-07-26 07:20] delvedor commented on #1769
Closing the issue as this behavior will not change, thank you anyway for the proposal and contributing to the project!
I hope our answers are helpful :)

[2019-07-26 07:20] xtx1130 commented on #1769
Thanks for your advice!

[2019-07-26 07:20] #1769 closed

[2019-07-26 12:53] areese159 commented on #1771
I was trying to have a plugin that would dynamically load the routes. I was trying to call ready so the plugin could do its work and then listen after all the routes were there but there are other ways to handle this. As for the ready issue, would it be possible to update the documentation so its more clear once ready is called nothing else can be added?

[2019-07-27 09:58] delvedor commented on #1714
Closed in #1723.

[2019-07-27 09:58] #1714 closed

[2019-07-27 10:16] delvedor commented on #1771
Sure! Would you like to send a pr?

Not sure I'm following you, the plugin system should already take care of loading in order and assuring you that everything will be loaded before start listening..

[2019-07-27 14:51] catastrop opened #1772 "write an implementation that uses Deno"

[2019-07-27 15:14] areese159 commented on #1771
Yeah, I would be more than happy to submit a PR, ill try and get to that this weekend. As to the other point, I'm trying to make a decorator library. I know one already exists but I don't like that it has to know your folder structure or the fact that it using fs to load all your files. So I was trying to pre-load the plugin before you create your "controllers" so it can decorator them appropriate

[2019-07-27 16:21] RafaelGSS commented on #1737
If we go ignore the `schema.body` when GET request, I think that throw an exception is good. For two reasons:
- We go to minimize future issues.
- Don't need to think about how to ignore it in future releases.

[2019-07-27 18:00] StarpTech commented on #1772
Hi @catastrop fastify uses Node.js and there is no plan to support Deno as runtime. Please always eloborate your concern why that change is required in your point of view.

[2019-07-27 18:00] #1772 closed

[2019-07-27 20:19] mohammad-khooie commented on #1761
Hi I decided to move this issue to fastify/help repo
however I did not get my answer
so I decide to re open the issue
thanks for for your attention

[2019-07-27 20:32] mohammad-khooie opened #1773 "diagnose ajv validation error in my custom error handler"
Hi
I want to diagnose ajv validation error in my custom error handler
this is first way that I test
I add this if block in my custom error handler
if(err instanceof Ajv.ValidationError){ do some things }
but its dosent work for me
whats the best solution?

node version: 10
fastify version: 2.6.0
os: Windows

[2019-07-27 21:25] RafaelGSS commented on #1773
Can you provide a code reproduction?

[2019-07-27 21:52] mohammad-khooie commented on #1773
this is my error handler class
[code]
and this is set error handler code
[code]

[2019-07-28 12:56] Eomm commented on #1773
Would you mind to provide a complete and minimal reproducible case?
This will speed up us to give you help 👍

Anyway if I have understood this is what is expected:

[code]

But the AJV-errors are managed here, wrapping in a generic `Error`

https://github.com/fastify/fastify/blob/c1cf60486fd722c5ce07460ee3cc03ab81a25fbf/lib/validation.js#L119

I must check if there is some workaround using custom

[2019-07-29 15:46] mohammad-khooie commented on #1773
I guessed that fastify wrap ajv error but why?
also I can not use attachValidation and catch ajv validation error in my handler because I have some
hooks that need some property that should be validated first
anyway I would be  so happy if you give me a solution
thanks

[2019-07-30 07:39] tobspr opened #1776 "async preValidation hook does not abort request"
## 🐛 Bug Report

When calling `reply.send` within an async preValidation hook, this does not abort the request and thus emits a `Response has already been sent` error. Related: #677

According to the linked issue and pr, it should have been fixed, however it doesn't seem to be (At least for me):

## To Reproduce

Hook:
[code]
Handler:
[code]

## Expected behavior

The handler should not get called

[2019-07-30 11:11] dbauszus-glx opened #1777 "How do you determine the protocol schema (i.e. http / https) from request object?"
Is there a way of knowing the protocol schema from the request object? I would like to know whether a request is http or https.

At the moment I assume that all requests are https unless specified as http in an environment variable to the process.

I use this for example to fetch templates from other sources.

[code]

I could possible use an URL parameter to define the protocol schema but ideally

[2019-07-30 12:16] mcollina commented on #1777
I don't understand the problem. Are you executing `fetch()` in the browser? inside Node.js? Can you articulate your use case a bit more?

[2019-07-30 12:24] dbauszus-glx commented on #1777
Inside the handler in node I try to fetch the html template.

I have now solved the problem like so but feel that this is not the most elegant solution.

[code]

Here I try to fetch from https and if that fails try to fetch from http.

I would like to check whether the request object which is passed into the handler does know whether the protocol is http or https.

[2019-07-30 12:26] mcollina commented on #1777
I think this is the wrong approach. You should not be calling your Node.js process from the same process. Also, check out https://www.fastify.io/docs/latest/Testing/#inject.

[2019-07-30 12:26] #1777 closed

[2019-07-30 12:29] mcollina commented on #1776
Would you mind uploading a full example? That use case is currently covered by our unit tests, so maybe there is something off somewhere else.

[2019-07-30 12:43] SerayaEryn commented on #1776
This might be the same problem as reported with #1733.

[2019-07-30 12:56] jsumners commented on #1777
The process is either a TLS enabled process or it isn't. The only information available on the request is the parsed URL from the received header. This is typically in the format `GET /foo?bar=baz`. So when it is parsed the result is `protocol: null`. See https://nodejs.org/dist/latest-v10.x/docs/api/http.html#http_message_url

[2019-07-30 20:11] tigt commented on #1457
I would especially like this for those pesky at-root assets that get requested, like `/favicon.ico`, `/robots.txt`, `/apple-touch-icon.png`, and anything inside `/.well-known` — that way I can reuse `fastify-static` by rewriting the request URL to include my static asset prefix in front of the requested file.

[2019-07-31 07:59] #1733 closed

[2019-07-31 07:59] #1776 closed

[2019-07-31 14:07] tobspr commented on #1776
Thank you for the quick fix! Any plans when it will be included in an official release?

[2019-08-01 13:32] thynson opened #1780 "fastify should be peerDependencies of its plugins"
## 🐛 Bug Report

This is not a bug of fastify itself, but many fastify plugin packages maintained by this orgnization. In most situation plugin packages are installed together with fastify itself, and works well when they're installed by npm.
However, when used inside [pnpm] workspace, plugin packages cannot require fastify pacakge.
To properly fix this bug, these plugin packages, including but no

[2019-08-01 13:35] jsumners commented on #1780
The issue is in `fastify-plugin` -- https://github.com/fastify/fastify-plugin/blob/3d3ca8cf67c431528fd4f6709ec6792608159f54/index.js#L57-L62

I have ignored it for literal years now. It's just a console message that means nothing.

At least, I assume that is what you are talking about. You haven't provided a full description of the issue and I'm not going to download a random zip file when a GitHu

[2019-08-01 13:37] delvedor commented on #1780
Fastify is a development dependency of our plugins. If you install them with `--production` you will not encounter any issue.

[2019-08-01 13:43] thynson commented on #1780
@jsumners pnpm use fancy links to organize the node_modules, so plugin packages cannot require fastify even if you already install them. I'm trying to use fasitify in a monorepo managed by pnpm workspace, and I encounter bugs due to this reason.

[2019-08-01 13:47] thynson commented on #1780
I see that all plugins depends on fastify-plugin, so only fastify-plugin need to be fixed.

[2019-08-01 13:47] jsumners commented on #1780
I am aware of how pnpm works. It is my primary package manager. I have encountered no other issue that `fastify-plugin` not being able to detect that `fastify` is in the scope of Node's `require` function even though it actually is. If you are encountering actual bugs, i.e. functionality not working, please describe them.

[2019-08-01 14:04] thynson commented on #1780
@jsumners, Hmm, still digging my bug, but seems not related to this one.

[2019-08-01 16:33] mcollina commented on #1780
@jsumners I think we should be moving that check into fastify itself for v3. Would you mind opening an issue about that?

[2019-08-01 16:35] jsumners commented on #1780
Sure. Will get to it soon.

[2019-08-02 08:17] nigelhanlon opened #1781 "fastify.register inside an after function causes avvio exception"
## 💥 Regression Report

Using `fastify.register` inside an [after function](https://github.com/fastify/fastify/blob/master/docs/Server.md#after) causes an avvio exception on startup. This worked fine on the 1.x series but not on 2.x.

## Last working version

Worked up to version: 1.13.2

Stopped working in version: 2.0.0

## To Reproduce

Steps to reproduce the behavior:

1. Create a new folder w

[2019-08-02 13:34] #1781 closed

[2019-08-02 13:54] greenkeeper[bot] opened #1782 "An in-range update of avvio is breaking the build 🚨"
## The dependency [avvio](https://github.com/mcollina/avvio) was updated from `6.2.1` to `6.2.2`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Favvio-6.2.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

avvio is a direct dependency of this project, and **it is very li

[2019-08-02 14:24] mcollina commented on #1782
Flaky ci

[2019-08-02 14:24] #1782 closed

[2019-08-03 10:19] mcollina commented on #1737
Would you like to send a PR about throwing when `GET` route is defined with a `body` schema? I'll do this in fastify v3, to avoid any possible breakages.

[2019-08-03 11:18] borodadada opened #1784 "'Multipart: Boundary not found"
i use "fastify": "^2.7.1", node js 12.7.0

Hello, my server down

Error

[code]

Server

[code]
i send data on this server use axios, and bahhh... always

[2019-08-03 11:41] mcollina commented on #1784
Can you add a full example? You should probably use fastify-multipart instead of express-fileupload.

[2019-08-03 12:09] borodadada commented on #1784
[code]

[2019-08-03 12:12] jsumners commented on #1784
A full example of your server, not your request. Just a bare minimum amount of code to replicate the failing server code.

[2019-08-03 12:20] borodadada commented on #1784
update first comment, all that i have

[2019-08-03 13:23] mcollina commented on #1784
I would recommend you to open this issue in https://github.com/huangang/fastify-file-upload or use fastify-multipart instead.

fastify-file-upload is not maintained by us.

[2019-08-03 14:50] borodadada commented on #1784
i tested, result
`
let formData = new formdata();

                axios.post( 'http://localhost:3000/load', formData, {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'multipart/form-data'
                    }
                })
`
formData not work. Data does not come to the server

[2019-08-03 18:23] sandro-pasquali commented on #1757
Thanks. As necessity often does, this constraint led me to simply use a proxy for route handlers, such that the proxy could decide whether to handle the route or not. (Also allows hot reloading of route handlers, btw).

[2019-08-03 18:23] #1757 closed

[2019-08-05 18:17] techyrajeev opened #1789 "Microservices based example using fastify"
## 💬 Questions and Help
Please provide an example for below project structure implementation using fastify or create using scaffold by fastify-cli.

└── plugins (from the Fastify ecosystem)
└── your plugins (your custom plugins)
└── decorators
└── hooks and middlewares
└── your services
    │
    └──  service A
    │     └── plugins (from the Fastify ecosystem)
    │     └── your plugins (your cus

[2019-08-06 13:50] RafaelGSS commented on #1789
I did not understand what you want. Sounds for me that you want that we make your work.

The Fastify team did some example with [Twitter](https://github.com/fastify/fastify-example-twitter)
And I did some example with microservices for a talk. [Here](https://github.com/RafaelGSS/microservices-example)

Maybe these links can help you.

[2019-08-06 14:44] techyrajeev commented on #1789
Thanks for your time to reply. Let me clarify, I don't want you to do mine work. After reading the docs It's quite unclear how to proceed with fastify as framework since structure is quite different with express or hapi. Just wanted some examples elaborating above structure which I couldn't find anywhere in docs.

[2019-08-06 16:36] RafaelGSS commented on #1789
Oh well... Maybe you can test the [fastify-cli](https://github.com/fastify/fastify-cli)
In my work, we are using the [napd package](https://github.com/RafaelGSS/napd) to generate the structure of our microservices.

But it is more general, you should choose the structure based on the problem that you need solving.

[2019-08-07 10:00] adrai commented on #1789
There is not just “one way” to use Fastify and this is really awesome.
Some time ago I switched a whole app from express to Fastify in an hour or so... and then added step by step more cool Fastify stuff... like validation.

Personally, I think this is a great starting point: https://www.fastify.io/docs/latest/Getting-Started/

...and if you have some ideas or advices to make it even better feel f

[2019-08-09 17:48] francisbrito commented on #1734
Hello,

I too realized this while building a plugin for paginating responses. I think it would make sense to add TypeScript definitions for the field also.

Is it OK if I write-up a PR for adding the documentation and type definitions of this field?

[2019-08-09 19:24] mcollina commented on #1734
please do!

Il giorno ven 9 ago 2019 alle 19:48 Francis Brito <notifications@github.com>
ha scritto:

[2019-08-10 10:01] borodadada opened #1793 "Error: read ECONNRESET"
Hello, why my server down, when i use seo scaner site's?
my server http2  "fastify": "^2.7.1"

ERROR

events.js:180
      throw er; // Unhandled 'error' event
      ^

[code]

LOG FILE

[code]

[2019-08-10 11:00] mcollina commented on #1793
Can you add an example to reproduce?

Il giorno sab 10 ago 2019 alle 12:01 borodadada <notifications@github.com>
ha scritto:

[2019-08-10 11:07] borodadada commented on #1793
server use COMODO SSL

[code]

[2019-08-10 11:14] mcollina commented on #1793
how can we reproduce the crash?
Which version of Node are you using?

Il giorno sab 10 ago 2019 alle 13:07 borodadada <notifications@github.com>
ha scritto:

[2019-08-10 11:45] borodadada commented on #1793
any site SEO cheker example
https://www.seotesteronline.com/
Node js 12.7.0, 12.8.0

[2019-08-10 12:00] jsumners commented on #1793
You should really enable logging _somewhere_ so you can see what request is causing the problem

[2019-08-10 12:10] borodadada commented on #1793
fastify logger: true

[code]

[2019-08-10 16:14] delvedor commented on #1734
Closed in https://github.com/fastify/fastify/pull/1792 .

[2019-08-10 16:14] #1734 closed

[2019-08-11 08:17] mcollina opened #1795 "Integrated websocket support"
Currently WebSockets are a second-class citizen in Fastify. However, they are now a key part of the modern web.

If you look at the changes done to [fastify-websocket](http://npm.im/fastify-websocket), you can see that it has its own router and a lot of other goodies. It even allows to write websockets routes using the standard “.route()” syntax of fastify.

I think we should integrate _some_ webs

[2019-08-11 13:45] chengluyu commented on #1668
It seems that everybody is thinking about generating TypeScript type definitions from JSON schema. What if we do in a reverse way?

I made [a simple example](https://github.com/chengluyu/fastify-interface-to-schema-example). In this example, you just need to type query, params, header and body by declaring interfaces. At the runtime, JSON schema is generated from source code by parse the source co

[2019-08-12 01:54] Ethan-Arrowood commented on #1668
I would be very open to supporting both ways. We arrived on this method because of the idea that schemas are being written in external JSON files for use with other tools (such as swagger). I do like your method because as @mcollina stated, one of the ways he defines his schemas are inline with the handler itself. In this case a solution like yours would be better!

I'm wrapping up the new type sy

[2019-08-12 08:58] mcollina commented on #1668
I'm +1 to both approaches as well. IMHO the typings here should be flexible enough to support both as external plugins.

On a side note... would it be possible to generate them during _compilation_ with a macro/plugin of sort? That'd be rad and very debuggable (I can just read the generated code). Maybe something like this can help: https://levelup.gitconnected.com/writing-a-custom-typescript-ast-

[2019-08-12 14:36] RafaelGSS commented on #1795
Great feature. I will follow this feature

[2019-08-12 14:44] tobiasmuehl opened #1796 "Can't bind to public interface"
## 🐛 Bug Report

Binding to interface `0.0.0.0` or `::` does not make the server accessible from the public internet

## To Reproduce

[code]

[code]

[code]

## Your Environment

- *node version*: 11.15.0
- *fastify version*: 2.3.0
- *os*: Linux

[2019-08-12 14:45] tobiasmuehl commented on #1796
The request from the external box doesn't show up in the fastify logs either

[2019-08-12 14:50] jsumners commented on #1796
Works here on Node 12.8.0. Node v11 is deprecated.

[2019-08-12 14:51] tobiasmuehl commented on #1796
Okay, will upgrade node. Found more issues, likely a problem with the local config. Closing for now because most likely not an issue with fastify

[2019-08-12 14:51] #1796 closed

[2019-08-12 15:05] tobiasmuehl commented on #1796
Fucking typo in the IP. Just user error.

[2019-08-13 12:40] RafaelGSS commented on #1720
Hi guys, what do you think about make an example with NewRelic?

[2019-08-13 18:24] chengluyu commented on #1668
[Here](https://github.com/chengluyu/fastify-auto-schema-example) I made a simple example by customizing the TypeScript transformer. The transformer locates the invocation of route methods, and generate JSON schema from type arguments then inject into function arguments. Thus you can see the [generated schema](https://github.com/chengluyu/fastify-auto-schema-example/blob/6a01ffa79faa36f55cf6d493e70

[2019-08-14 07:30] TzachiSh opened #1800 "Getting protocol from request"
Is there a way of knowing the URL protocol, In express i can extract from req.protocol

But i didn't find a way to extract protocol in fastify...

Thanks!

[2019-08-14 08:50] mcollina commented on #1800
It should be request.raw.protocol.

[2019-08-14 09:42] Eomm commented on #1773
@mohammad-khooie There are many ways to do it really.

One of those is wrapping the validation:

[code]

Otherwise, you could create a plugin for this purpose.
The plugin should:

1. listen to the `onRoute` hook
1. for the route that is being created and:
    1. delete the `.schema` key
    1. create an ajv instance using the schema just removed
    1. add a `preValidation` hooks that use the ajv

[2019-08-14 11:59] TzachiSh commented on #1800
i tried that key but is undefined

`
fastify.get('/', async (request, reply) => {
  return {
    protocol:request.raw.protocol
  }
})
`

[2019-08-14 13:26] RafaelGSS commented on #1800
@mcollina we set the protocol? or is take by _find-my-way?

I don't find where we set the protocol inside context/reply

[2019-08-14 13:32] RafaelGSS commented on #1800
@TzachiSh do you want to check if is HTTP or HTTPS, right?

[2019-08-14 20:08] #1773 closed

[2019-08-15 03:38] greenkeeper[bot] opened #1803 "An in-range update of standard is breaking the build 🚨"
## The devDependency [standard](https://github.com/standard/standard) was updated from `13.1.0` to `14.0.0-1`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Fstandard-14.0.0-1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

standard is a devDependency of this project. I

[2019-08-15 04:47] JemarJones opened #1804 "Add better typing for JsonSchema type definition"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-08-15 06:43] mcollina commented on #1804
We have had bad experiences in shipping types from DefinitelyTyped because of the increase in the module size.
Maybe we can add some docs that would explain how to use those instead?

[2019-08-15 07:24] TzachiSh commented on #1800
Correct
its need to be something like this :
`
let proto = this.connection.encrypted
    ? 'https'
    : 'http';
`

[2019-08-15 12:18] RafaelGSS commented on #1800
Please see #1556
But I think that we should expose to API the "protocol". (will make it even easier for a redirect plugin)

[2019-08-15 12:28] mcollina commented on #1800
Please send a PR! We’ll be happy to review it.

Il giorno gio 15 ago 2019 alle 14:18 Rafael Gonzaga <
notifications@github.com> ha scritto:

[2019-08-15 16:09] Eomm commented on #1720
Do you know the effort?

I think it could be a good project for fastify/example repo

[2019-08-15 16:19] #1789 closed

[2019-08-16 00:28] TzachiSh commented on #1800
Expose raw protocol in the API [#1805](https://github.com/fastify/fastify/pull/1805)

[2019-08-16 00:45] JemarJones commented on #1804
I see, is that an issue with the types themselves, or with installing DefinitelyTyped packages? Because if it's just an issue with DefinitelyTyped, perhaps this specific type could simply be copied over (with attribution, since DefinitelyTyped is MIT).

[2019-08-16 08:02] mcollina commented on #1804
Mainly with the DefinitelyTyped packages. You are right, we could potentially vendor that dependency. Note that I would recommend to use http://npm.im/fluent-schema instead.

[2019-08-16 12:12] #1760 closed

[2019-08-17 08:07] zuohuadong commented on #1523
typescript+ 1

[2019-08-17 09:37] nocord opened #1809 "why not using semi-colon `;`"

[2019-08-17 09:46] StarpTech commented on #1809
Because we use [standardjs](https://standardjs.com/) style.

[2019-08-17 09:46] #1809 closed

[2019-08-17 19:44] borodadada commented on #1793
i tryed use ubuntu 18 but no result, error exist

this is enter point

[code]

render is
[code]

site killer https://sitechecker.pro/

i dont understand, wft :)

[2019-08-18 15:39] #1771 closed

[2019-08-19 06:41] Eomm commented on #1793
The server crash with some curl requests?
I don't see the require for serveStatic(path.join(serverDirectory

Could you use https://github.com/fastify/fastify-static instead?

[2019-08-19 06:55] borodadada commented on #1793
"The server crash with some curl requests?" - yes
I use serve-static npm, i will try use fastify-static and reply later, thanks man.

[2019-08-19 13:30] mcollina opened #1812 "Support for static plugin load"
## 🚀 Feature Proposal

In `fastify-autoload`, the `require` of plugins is done after the first "tick" of the event loop, i.e. during the asynchronous boot of fastify.
I think it would be good to support an optional function that can be called synchronously _before the plugin is loaded_, so that it can perform certain actions.

## Motivation

The goal for this change is to provide _better error rep

[2019-08-19 13:38] delvedor commented on #1812
I like the idea, so we can enable direct use of a plugin in the next line without the need to use `after`.
I think we should build this in `avvio`, I fear that add this feature directly into Fastify could cause side effects because we are “tricking” `avvio`.

[2019-08-19 13:50] RafaelGSS commented on #1812
I agree with @delvedor if in the future Fastify uses another lib to register async plugins, we are don't need to make any modification in our API. (Or just Throw/Warning if "new lib" not support register sync)

[2019-08-19 16:17] chengluyu commented on #1668
AFAIK there's no decent way to do that.

TypeScript doesn't append any typing information to runtime according its [design goals](https://github.com/Microsoft/TypeScript/wiki/TypeScript-Design-Goals), so all interfaces are eliminated during compilation. If we want to generate schema from interface during compilation, the only way is to tweak the compiler.

[2019-08-21 19:30] TzachiSh opened #1817 "The X-Forwarded-Host HTTP header is always trusted"
On request, trusted proxy validation by IP list does not seem to work
The hostname can be changed by the header **X-Forwarded-Host** from every remoteAddress

[code]
On my tests, the fn proxyAddr(req, proxyFn) returning always IP

If IP is not trusted  return remoteAddress
In case that IP is trusted return X-Forwarded-For

[2019-08-21 21:02] RafaelGSS opened #1818 "docs say that prefix works with fastify-plugin"
## 🐛 Bug Report

Hello, [here](https://github.com/fastify/fastify/blob/master/docs/Plugins.md#plugin-options) is talking that one of the options that work with `fastify-plugin` is `prefix`, but we know that it not works. And it already documented [here](https://github.com/fastify/fastify/blob/master/docs/Plugins.md#route-prefixing-option).

Should be removed from list initial? or I forgot somethin

[2019-08-21 21:27] mcollina commented on #1818
It should be removed from the list.

Il giorno mer 21 ago 2019 alle 23:02 Rafael Gonzaga <
notifications@github.com> ha scritto:

[2019-08-21 21:28] mcollina commented on #1817
Could you send a PR?

Il giorno mer 21 ago 2019 alle 21:30 Tzachi Shirazi <
notifications@github.com> ha scritto:

[2019-08-24 05:25] mcchrish opened #1821 "No way of knowing which context the validation error came from?"
## 💬 Questions and Help

I'm looking through the docs and also inspecting the error objects everywhere but there's no way of easily knowing the context of the validation error whether it is caused by params, body etc.

https://www.fastify.io/docs/latest/Validation-and-Serialization/#error-handling

Maybe related code:
https://github.com/fastify/fastify/blob/master/lib/validation.js#L96-L123

### P

[2019-08-24 14:36] sarneeh opened #1822 "Hello world with a error handler throws 404"
## 🐛 Bug Report

I've created a simple "Hello World" `fastify` example with a errorHandler, and it always throws a 404. Why?

## To Reproduce

[code]

## Expected behavior

The response is sent successfully so I'd not expect any errors here, especially a 404.

Paste the results here:

[code]

## Your Environment

- *node version*: 12.6.0
- *fastify version*: 2.7.1
- *os*: Linux

[2019-08-25 16:36] #1784 closed

[2019-08-26 09:18] mcollina commented on #1822
I think you should use https://www.fastify.io/docs/latest/Server/#setnotfoundhandler.

[2019-08-26 09:21] mcollina opened #1823 "Do not create an Error for the default 404 route"
## 🚀 Feature Proposal

Creating an `Error` is costly, and we should be able to avoid that in https://github.com/fastify/fastify/blob/d48c6a21f21d72b7683808aa88b3fdcd2e0478db/lib/fourOhFour.js#L53. Moreover, it complicates debugging (see #1822 for details).

[2019-08-26 09:42] mcollina commented on #1821
This will be fixed in https://github.com/fastify/fastify/pull/1808.

[2019-08-26 11:05] sarneeh commented on #1822
@mcollina I know I could use `setNotFoundHandler`, my question is why this error has been thrown in the first place? The request has been completed with a 200, and I get a 404 error in my logs. This is weird :smile:

[2019-08-26 11:16] jsumners commented on #1822
Did you issue the test request with a web browser? If so, the error is probably a favicon request.

[2019-08-26 11:39] jsumners commented on #1823
I think it would just be better if that error included some context, e.g. the request path that led to the error.

[2019-08-26 13:30] RafaelGSS commented on #1823
How we can get the stack trace on this code?

[2019-08-26 15:23] SerayaEryn commented on #1823
I can take a look at this.

[2019-08-26 15:36] mcollina commented on #1823
Thanks!

Il giorno lun 26 ago 2019 alle ore 17:23 Denis Fäcke <
notifications@github.com> ha scritto:

[2019-08-26 16:36] greenkeeper[bot] opened #1825 "An in-range update of fluent-schema is breaking the build 🚨"
## The devDependency [fluent-schema](https://github.com/fastify/fluent-schema) was updated from `0.7.4` to `0.7.5`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Ffluent-schema-0.7.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

fluent-schema is a devDependency of thi

[2019-08-26 18:17] sarneeh commented on #1822
@jsumners Oh god! You're right. I guess I need to stop creating GitHub requests while my brain is off already :sweat_smile: Sorry for this!

[2019-08-26 18:17] #1822 closed

[2019-08-27 13:39] yonathan06 commented on #1655
I created an experimental typescript decorators: [https://github.com/yonathan06/fastify-ts](https://github.com/yonathan06/fastify-ts)
I currently use them in a personal project, so this is very experimental.
My inspiration is from Angular (which provided a robust module management and organization with decorators).
I was looking at NestJs, but felt it is over complicating server functionalities, a

[2019-08-28 03:57] RafaelGSS opened #1828 "Add hook onResponse by route"
## 🚀 Feature Proposal

Based on a conversation in gitter today (at 00h52 AM - São Paulo - Brazil), a user of fastify reported to me that would like create a stopWatch metric for each route.

The fastest solution that I found for her is:
[code]

But if we expose something like:

[code]

What do you think? Overhead?

[2019-08-28 07:51] mcollina commented on #1828
It would have no overhead whatsover. In fact, see https://github.com/fastify/fastify/issues/1587!

Would you like to send a PR?

[2019-08-28 13:06] #1823 closed

[2019-08-28 13:28] mcollina commented on #1828
I think it's a trivial change to add that, as _they are encapsulated per route already_ - we are just not exposing them.

[2019-08-28 18:33] LW2904 opened #1829 "Fixing issues regarding grammar etc. in the docs"
Reading through the docs, I've come across a number of grammatical and structural issues.

I'm willing to proofread them, but I thought I'd create this issue in case anyone else is already working on this, or you don't want project outsiders to mess with your documentation.

I should note that I am not a native speaker, but my writing skills could probably be considered to be on the level of one.

[2019-08-29 16:51] mcollina opened #1830 "Expose the current plugin name"
## 🚀 Feature Proposal

Add the metadata of the current plugin name that is registering a route.

## Motivation

For debugging purposes, it is helpful to know which plugin is registering a given route. This would be useful for providing a better usage experience.
See the discussion in https://github.com/fastify/fastify/pull/1808#discussion_r315879503 for more details.

### Example

We could add an

[2019-08-29 16:51] mcollina commented on #1830
cc @StarpTech

[2019-08-29 19:50] StarpTech commented on #1830
@mcollina thanks. I will see if I room to play with it.

[2019-08-30 08:14] jhechtf opened #1831 "presence of skip-override ignores prefix."
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-08-30 08:25] mcollina commented on #1831
This is documented, and a feature: https://www.fastify.io/docs/latest/Plugins/#route-prefixing-option.

[2019-08-30 08:25] #1831 closed

[2019-08-30 10:42] bittukr20 opened #1834 "Is it a good practice to do decorateRequest the DB client?"
- I am writing the route handlers in different files as there are many routes and writing in same file it's make it bulky.
- So I wanted to know instead of doing "fastify.decorate(db, 'dbConnectionObject')", If I am doing "fastify.decorateRequest(db, 'dbConnectionObject')", then I will be getting dbClient by "request.db" itself, will it be a good practice or not.
- is there will be any performance

[2019-08-30 11:12] allevo commented on #1834
Hi!
Fastify internally uses the JavaScript prototype Request so the connection pool is not assigned to every Request instance.
I don't if the object creation time depends on how its prototype is heavy (I think not).

In some plugins (mongodb, redis etc...) the connection pool connected to the database is directly attached to fastify.
This is because the fastify instance lives "forever".

Are there

[2019-08-30 12:31] bittukr20 commented on #1834
Thanks, I forgot callee of the handler function is "fastify", and inside the handler(if I am not using arrow functions) I can use decorators using "this.someDecorator". It's solved my problem.

[2019-08-30 12:43] bittukr20 commented on #1834
Tomas also told not to use the decorateRequest as it will increase the burden on request object on every request.
https://github.com/fastify/fastify-mongodb/issues/9#issuecomment-335079761

[2019-08-30 13:33] allevo commented on #1834
Yeah. This is why I wrote
'I don't know if the object creation time depends on how its prototype is heavy (I think not).'

Fastify create a new Request instance for every incoming message. The Request object has a prototype decorated with all declared decorations (the pool for example).
Maybe if the Request prototype has many properties, the Request object creation takes time (and memory).

This i

[2019-08-30 19:33] Eomm commented on #1825
Flacky

https://dev.azure.com/fastify/fastify/_build/results?buildId=2344&view=logs&j=ca661fb6-ec5b-5d34-eee7-6d2f7f1fb009

[2019-08-30 19:33] #1825 closed

[2019-08-30 19:34] Eomm commented on #1803
Fixed #1816

[2019-08-30 19:34] #1803 closed

[2019-08-31 16:02] bittukr20 commented on #1834
Great I agree, Got my answer. Thanks a lot

[2019-08-31 16:02] #1834 closed

[2019-09-01 09:43] mcollina commented on #1812
@SerayaEryn I think part of your work in #1673 is somewhat related to this. Maybe you would like to send a PR for this as well?

[2019-09-01 11:16] SerayaEryn commented on #1812
Yes, I can do that. I‘ll take a look at this next week.

[2019-09-04 00:26] RedactedProfile commented on #1367
my issue with this particular document, is that I have zero understanding of what consists of `./app`

Im just serving a graphql endpoint, so my entire fastify server is loced in `index.js` in my apps root directory. But when I do

[code]

Tap complains

[code]

also that `fastify.inject` is not defined, as well as `fastify.close`

[2019-09-04 11:53] Eomm commented on #1793
I think we should investigate then.
It would speed up a lot if you could create a repo with the error so we can dig the root cause

[2019-09-04 12:40] mfbx9da4 opened #1840 "Typescript types not working for http2"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-09-04 12:45] mcollina commented on #1840
@evanshortiss @Ethan-Arrowood would you mind taking a look?
I do not know the answer to this problem.

I'm pretty sure that our next branch (v3) will solve this beautifully.

[2019-09-04 13:23] RafaelGSS commented on #1367
If display warning when `app` is closed outside API(`close`)?

[2019-09-04 22:09] evanshortiss commented on #1840
@mfbx9da4 change this line:

[code]

to this:

[code]

I think that will do the trick :)

[2019-09-05 05:37] Ethan-Arrowood commented on #1840
@evanshortiss answer looks like the valid solution to me.

Using v3 types should require you to only declare the http2 server generic:
`const server = fastify<http2.Http2SecureServer>({ http2: true })` also be sure to toggle the http2 option for the server instance (new v3 types should throw a type error if you don’t). Also v3 types are only available in the experimental `next` branch

[2019-09-05 09:14] mfbx9da4 commented on #1840
@evanshortiss solution works for now. Is there a way to install `next` version or should I do something like

[code]

Or just way until v3? How long will that be?

[2019-09-05 09:17] mcollina commented on #1840
v3 is coming out before the end of the year. We might cut an alpha version on npm sooner than that.

[2019-09-05 16:23] mfbx9da4 commented on #1840
That would be great 🙏 Appreciate the speedy response

[2019-09-08 06:45] SerayaEryn commented on #1812
I opened a PR in the avvio repository.

[2019-09-09 14:46] weiliddat opened #1844 "Custom AJV instance throws schema building error for $ref-way style shared schema references"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-09-09 15:24] mcollina commented on #1844
Ouch, this looks like a bug. Would you like to send a PR to fix it?

[2019-09-09 16:25] Eomm opened #1845 "Serializer per context"
## 🚀 Feature Proposal

I would like to have the possibility to customize the logger serializer per context so,
in one context I can log a user with the serializerA, and in another context I can use the serializerB.

Pino support the [`serializers`](https://github.com/pinojs/pino/blob/master/docs/api.md#bindingsserializers-object) configuration in the child logger, where you can overwrite the seria

[2019-09-09 17:05] Eomm commented on #1844
I'm not sure it is a bug, it could be an optimization and maybe we need to add some code and break things to let it work I think, we could plan it for the v3.
I had already worked in a refactor. I could open a draft PR for that.

The trick is here:

https://github.com/fastify/fastify/blob/8891ae8701633503e6732e84de4f7e2d3f4b8451/lib/validation.js#L178-L180

You need to add to your code:

[code]

W

[2019-09-09 20:18] RafaelGSS commented on #1845
I can do this on the weekend. If add serializers by route?

[2019-09-10 05:38] mcollina commented on #1845
nice! This needs to be well documented.

[2019-09-10 07:10] weiliddat commented on #1844
Ah right. I had an assumption that addSchema works as a general wrapper for ajv's addSchema, but I guess that's only if I'm using the default validator.
So I guess it's not really a bug, but just documentating this on the validation page under the part for custom compiler?

[2019-09-10 07:12] weiliddat commented on #1844
Added a PR at https://github.com/fastify/fastify/pull/1846

[2019-09-10 16:33] Eomm commented on #1845
I would start with the context.
A serializer for route could be verbose as the first step

If you need help feel free to ask or open a draft PR 👍
thks

[2019-09-10 16:35] mcollina commented on #1828
Done in https://github.com/fastify/fastify/pull/1838.

[2019-09-10 16:35] #1828 closed

[2019-09-10 16:38] mcollina opened #1847 "Leverage Github Actions"
## 🚀 Feature Proposal

We have Github Actions enabled in this repo! What can we do with them?
One thing that would be nice is to move the trigger to CircleCI for deploying the website.
Moreover, we can actually redo the automation for the [website](https://github.com/fastify/website) using actions!

@lmammino and maybe others, would it be nice to have these here?

[2019-09-10 17:19] jsumners commented on #1847
I really wish they would get enabled for the ldapjs org. I want to do all of my CI stuff there with them.

How long did it take this org to get approved?

[2019-09-10 18:48] mcollina commented on #1847
We have been on the first batch

Il giorno mar 10 set 2019 alle 19:19 James Sumners <notifications@github.com>
ha scritto:

[2019-09-10 18:56] StarpTech commented on #1847
Lets make a plan I would like to evaluate them.

[2019-09-11 08:16] #1844 closed

[2019-09-13 10:37] Eomm opened #1851 "Question: log response after response has been sent"
## 💬 Questions and Help

I would like to understand if this code is an overengineering or not.
I don't have run benchmark right now - I'm not so fast to build them 😅

Target: I have a big JSON object to log.
The logger is configured to write to elastic (with pino-elasticsearch)
I don't want to add overhead to the route.

Assumptions:
+ pino is formatting the object in sync via [quick-format-unesca

[2019-09-13 11:21] mcollina commented on #1851
I don’t think it matters much if you log before or afterwards. If you are under significant load it is going to impact the next request, and if you have no load.. it won’t matter.

[2019-09-13 20:49] Eomm commented on #1851
Thank you 👍

[2019-09-13 20:49] #1851 closed

[2019-09-13 20:51] Eomm commented on #1847
I think another action could be an auto-label when some template issue is used, like questions to start

[2019-09-13 21:48] mcollina commented on #1847
That would be handy!

Il giorno ven 13 set 2019 alle ore 22:51 Manuel Spigolon <
notifications@github.com> ha scritto:

[2019-09-14 23:48] numfin opened #1852 "Add ability to change route config interface"
## 🚀 Feature Proposal

Im using typescript and i stuck in a problem where i cant change global interface declarations.
![image](https://user-images.githubusercontent.com/8134947/64914791-25f31d00-d761-11e9-8ac5-52e2d054b580.png)

## Motivation

I want to have intellisense in my ide

## Example

[2019-09-15 08:54] Eomm commented on #1821
Merged and released in 2.8

[2019-09-15 08:54] #1821 closed

[2019-09-15 10:26] mcollina commented on #1852
Would you like to send a PR? Note that we are changing our types in v3.

Il giorno dom 15 set 2019 alle 01:48 Numble Fingers <
notifications@github.com> ha scritto:

[2019-09-15 12:21] StarpTech commented on #1847
AS inspiration https://github.com/sdras/awesome-actions

[2019-09-15 21:03] numfin commented on #1852
Actually i dont know how to make it beautifull with current declarations.
Instead i solved my problem with this:
![image](https://user-images.githubusercontent.com/8134947/64927535-c22a2c00-d814-11e9-86ab-5004c6700045.png)

I don't know if it solves an actual problem, but i hope it will help people. struggling with this.

I also leave some keywords for people struggling with this:
`Subsequent prop

[2019-09-16 15:37] RafaelGSS commented on #1845
Guys, sorry for the delay, I'll take this issue only on next week(busy), have a problem? If anyone would like to take this issue, feel free to it :smile:

[2019-09-16 18:18] Eomm commented on #1845
Nevermind, you work on OSS only when you want to 💪

[2019-09-17 11:49] frodoe7 opened #1854 "Migrating a ready project from another framework"
## 💬 Questions and Help

My project already built on a framework called [Actionhero](https://www.actionherojs.com) , for some reasons I found this framework is not suitable and has many issues.

Now , I'm planning to migrate my ready project to Fastify.

As there's no a magical button to do this step , I have to make this step manually , this require studying the structure of both frameworks.

som

[2019-09-17 21:05] jsumners opened #1855 "Using custom AJV breaks resolving references"
## 🐛 Bug Report

When using a custom AJV instance as described in the documentation (https://www.fastify.io/docs/latest/Validation-and-Serialization/#schema-compiler) one cannot provide a schema with references as a response schema.

## To Reproduce

[code]

## Expected behavior

The route should register and resolve references correctly.

Paste the results here:

[code]

## Your Environment

- *n

[2019-09-17 21:06] jsumners commented on #1855
I'd also accept being able to supply an already compiled schema for route schemas.

[2019-09-17 21:26] Eomm commented on #1855
To solve you need to add the schema to fastify:

[code]

The response serializer cannot be customized, for this reason we need to get the schemas from the user:

https://github.com/fastify/fastify/blob/13a228331af956573bff071df305f0c5d2d1791e/lib/validation.js#L14

I was thinking that an `onAddSchema` hook could ease the dev-life and create new opportunities for plugins

[2019-09-17 21:32] jsumners commented on #1855
I’m not storing anything other than route schemas on the Fastify instance. My custom AJV instance is populated by reading a directory of schemas in another module and AJV does not expose the list of registered schemas. When Fastify has a custom complier it should be using that compiler to look up references.

[2019-09-17 21:33] jsumners commented on #1855
Also, I am not customizing the response serializer. Merely providing a schema for the standard one.

[2019-09-17 22:03] Eomm commented on #1855
We should integrate this automation then:

[code]

But we can't use the `.setSchemaCompiler` because its value is only a function and not an instance of an object.

Maybe a `fastify.setSchemaResolver(fn)`, where fn is `function($ref): JSON schema` could solve this for v2

[2019-09-17 22:38] jsumners commented on #1855
That sounds like a fair solution.

[2019-09-17 22:46] jsumners commented on #1855
If you’re able to get to it before me then feel free. The _earliest_ I’ll even be able to look at it is Saturday. And I’m not very familiar with the code around validation.

[2019-09-18 06:39] delvedor commented on #1708
Closed in https://github.com/fastify/fastify/pull/1856.

[2019-09-18 06:39] #1708 closed

[2019-09-19 11:21] deveshrawat opened #1859 "Fastify Reply method not returning objects while strings ?"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-09-19 11:24] mcollina commented on #1859
Can you please include a full, runnable example to reproduce your problem?

[2019-09-19 12:34] deveshrawat commented on #1859
When I try to reproduce and by changing the file structure using direct methods instead of router it is working fine i think this is issue with my own file structure , i opened it coz m getting it in my two api i think nothing is there like bug , sorry for wasting your time.

[2019-09-19 12:34] #1859 closed

[2019-09-20 09:47] bneigher commented on #1855
Can you guys patch fastify v1 with this? :)

[2019-09-20 10:25] bneigher opened #1860 "<Schema> Unable to return arbitrary JSON object"
Referencing: https://github.com/epoberezkin/ajv/issues/1089

## 🐛 Bug Report

It seems I cannot define a schema with an object type with a loose definition of the properties on sed object.  The serializer strips out the non-specified properties

## To Reproduce

Steps to reproduce the behavior:

Ajv config:
[code]

I also tried modifying the source: https://github.com/fastify/fastify/blob/34573973

[2019-09-20 13:29] mcollina commented on #1860
output serialization is provided by [fast-json-stringidfy](http://npm.im/fast-json-stringify), not AJV. This is documented here: https://www.fastify.io/docs/latest/Validation-and-Serialization/#serialization.

This should likely work:

[code]

[2019-09-20 13:29] #1860 closed

[2019-09-20 13:31] #1847 closed

[2019-09-20 18:03] bneigher commented on #1860
thanks @mcollina

[2019-09-21 08:30] StarpTech opened #1864 "Async style with reply.send"
## 🐛 Bug Report

`repl.send` inside an async function has created a lot of headache.

- https://github.com/fastify/fastify/issues/238
- https://github.com/fastify/fastify/issues/238
- https://github.com/fastify/fastify/issues/548
- https://github.com/fastify/fastify/issues/1131

with https://github.com/fastify/fastify-static/issues/110 we have another issue. The issue ist that an error is logged b

[2019-09-21 10:02] StarpTech commented on #1744
This can be closed we use GitHub action for now.

[2019-09-21 10:02] #1744 closed

[2019-09-21 12:28] SerayaEryn opened #1866 "Replace .npmignore with files whitelist in package.json"
## 🚀 Feature Proposal

At the moment we are using the `.npmignore` as a blacklist of files that should not be included in the npm package.
I propose to replace the `.npmignore` file with the `files` field in the package.json:
https://docs.npmjs.com/files/package.json#files

## Motivation

Prevent new files being included in the package.json if they shouldn't be included. For example the `build/bui

[2019-09-21 12:49] mcollina commented on #1866
Unfortunately files in package.json causes significant issues when adding new files to the project, resulting in a broken module. A missing entry in .npmignore just increase the zipped size and it does not cause any sort of runtime issues. It is essentially safer.

That file is shipped because we ship the full development experience, so that an “npm install” would be sufficient for developing the

[2019-09-21 12:59] SerayaEryn commented on #1866
Thanks for the explanation. :) I'll just close the issue then.

[2019-09-21 12:59] #1866 closed

[2019-09-21 13:04] jsumners commented on #1864
I am a strong 👎 on removing support for:

[code]

The only reason I use `async` handlers is to work with promise based functions before issuing the reply.

[2019-09-21 16:44] StarpTech commented on #1864
@jsumners if you use only promises you don't need `async/await`

[code]

if you use `async` you should use the corresponding `await` style
[code]

if you use `callback-style` you can just use `.send`
[code]

but as soon as you try to mix different styles it gets hairy very fast and this is what I'm talking about. We recommend/support different styles.

[2019-09-21 17:58] jsumners commented on #1864
The async operations have nothing to do with _sending_ the response, only building the response. I’m not listing a complete example here because it is beside the point. Which is: `reply.send` should work regardless of the function declaration.

[2019-09-23 15:25] StarpTech commented on #1864
@jsumners removing support for `reply.send` is not my intention. I'd like to start a discussion because a combination of callback and async/await has lead to confusions in the community.

I don't know if I understood you correctly but with the use of `async/await` or `promises` the control flow should be stay in the promise chain not by a callback. That's how it should work.

[2019-09-23 15:36] StarpTech commented on #1864
The best example how it should work is Hapi.js :smiley_cat: They always returned a `Response` object which is build by the request `tooklit` OR a javascript value.

[2019-09-23 16:30] jsumners commented on #1864
[code]

That's the simplest I can make it. *There are use cases* for using `reply.send` in an `async` function. Simply returning the resolution, or rejection, of a promise *is not sufficient* in all cases.

[2019-09-23 16:44] StarpTech commented on #1864
That's no real use case it's your favorite way to write code.

You can just return the value and in case of error you can return the value with an rejected promise.

Hapi removed callback style in route handlers and Hapi is driven by a big community and enterprise users and this significant.

[2019-09-23 17:10] jsumners commented on #1864
Amazing. I can't even begins to respond in a cordial manner to this.

[2019-09-23 17:22] StarpTech commented on #1864
I don't want to be rude. I just want to convince you. You talked about use cases which can be handled only with reply.send which ones?

[2019-09-23 18:49] mcollina commented on #1864
I think using `reply.send()` within async functions is a pretty solid case, however I agree that the developer experience it's currently not there yet.

How about we support:

[code]

This would be possible by making reply a thenable. This would be possible just by implenting [`then`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/then)

[2019-09-23 20:12] StarpTech commented on #1864
@mcollina what's the motivation of using `reply.send()` in an async function? Just to allow mixing different styles? I don't get it :confused:

Only to ensure: I'm talking about the future fastify v3-4 not to patch the current codebase. I also created a [PR](https://github.com/fastify/fastify/pull/1868) to improve the documentation around Promise/async-await usage.

[2019-09-24 06:57] mcollina commented on #1864
When interacting with other library it's almost impossible to avoid. The proposed syntax will not work with the `sendFile` issue for example, as we will have to wait anyway for `send` to finish. By making `reply` awaitable, we can provide an escape hatch for all those cases without making any significant change to our APIs.

[2019-09-24 07:07] delvedor commented on #1864
I agree with @mcollina, there are some cases where you need to use `reply.send`, and Fastify is designed to allow you to use both callbacks and promises style.
Another case that we will fix with this change, is to enable an easier support for async style handlers with [`point-of-view`](https://github.com/fastify/point-of-view).
Making `reply` a thenable might bot be the perfect solution, but it so

[2019-09-24 07:15] StarpTech commented on #1864
@mcollina OK you are talking about scenarios to avoid promisify things right? I'm fine with that proposal even when it makes the api more complicated.

[2019-09-24 07:22] mcollina commented on #1864
Yes. This is both the case of `point-of-view` and `fastify-static`. Promisifying is often an all-or-nothing choice, and there are plenty of cases where it's impractical.

[2019-09-24 08:20] delvedor opened #1870 "Coveralls GH action posts too many comments"
Currently, the coveralls GitHub action is posting too many comments in the pull request. I've checked our coveralls configuration, and the comments are disabled. I'm not even sure that problem is caused by the [coveralls GitHub action](https://github.com/coverallsapp/github-action).

A couple of examples of pr with too many comments: https://github.com/fastify/fastify/pull/1869 https://github.com/

[2019-09-24 08:36] StarpTech commented on #1870
I think this happens because we run coveralls on every different OS/node.js build

[2019-09-25 11:22] aliksend opened #1871 "Creates invalid schema"
## 🐛 Bug Report

Fastify with fastify-swagger creates invalid swagger schema. It should not contain $id fields.

## To Reproduce

https://repl.it/repls/HoarseCoolEditor

And you'll got

[code]

Notice the `responses.200.schema.items.$id`. Swagger generates error like
[code]

## Your Environment

- *node version*: 8
- *fastify version*: 2.8.0
- *os*: Linux

I plan to create PR with fix a bit later

[2019-09-25 12:01] #1864 closed

[2019-09-25 12:18] jsumners commented on #1864
Thank you @mcollina for stepping in here. I appreciate a level head recognizing the problem and offering up an excellent solution.

[2019-09-25 12:21] mcollina commented on #1864
Thanks!

[2019-09-25 15:36] #1871 closed

[2019-09-25 18:25] DrachovDmytro commented on #1793
Hey there, basically **ECONNRESET** error means that peer closed connection https://nodejs.org/api/errors.html .

There are might exist a lot of reason why connection could be closed by peer.
Since we don't know how site scanners work it will be difficult to find root of cause.

Basically I've reproduced an issue on local environment:
[code]

I've created self-signed certs with command `openssl re

[2019-09-25 19:15] StarpTech commented on #1830
I close it dueo to #1836

[2019-09-25 19:15] #1830 closed

[2019-09-26 13:33] DrachovDmytro commented on #1598
Hey @mcollina
I am going to try [bytenode](https://www.npmjs.com/package/bytenode) with fastify.
I'll share my results.

[2019-09-26 23:20] Alexufo opened #1873 "Timeout on resizing in Hook"
I use default template of fastify-cli structure. In services I use static plugin
https://github.com/fastify/fastify-static
 and use onSend hook as shown in example.

I install sharp https://www.npmjs.com/package/sharp
and try to resize jpg image on get request

## 🐛 Bug Report

I get 5 seconds timeout on every request.
I check profiler an see this.
https://i.stack.imgur.com/VhSZX.png
At the end of

[2019-09-27 06:40] mcollina commented on #1873
One of the things that you currently have is a memory leak, as `payload` should be a stream and you are not consuming it. However I don't think that's the main cause of your problem, or why the process is crashing.

Can you upload a minimal example to reproduce the problem somewhere? Thanks.

[2019-09-27 08:55] #1855 closed

[2019-09-27 11:11] mcollina commented on #1793
@DrachovDmytro would you mind pushing all of that in a repo so it's easy to reproduce?

[2019-09-27 14:16] RafaelGSS opened #1875 "Add hacktoberfest flag with issues"
What do you think about create the flag "hacktoberfest" in some quick issues? Can be great for new people to know fastify
## Motivation

https://hacktoberfest.digitalocean.com/

[2019-09-27 14:23] StarpTech commented on #1875
Sounds awesome!

[2019-09-27 17:43] StarpTech opened #1877 "Server-Sent Events for HTTP and HTTP/2"
## 🚀 Feature Proposal

I would like to see [Server-Sent Events](https://www.html5rocks.com/en/tutorials/eventsource/basics/https://www.html5rocks.com/en/tutorials/eventsource/basics/) in fastify core because it allows to establish a one-way pub/sub connection to the client with native browser capabilites. The SSE api is supported in all browsers. SSE is often a good choice for dashboards to pull d

[2019-09-28 07:00] mcollina commented on #1877
SSE are pretty fantastic. Is https://www.npmjs.com/package/fastify-sse so much out of date? We might want to revamp that and decide based on adoption to add it to core.

[2019-09-28 09:35] StarpTech commented on #1877
Oh, I've never recognized that plugin. I will check it out.

[2019-09-28 10:25] StarpTech commented on #1877
@mcollina The code looks good but the availability of the maintainer seems not.
https://github.com/lolo32/fastify-sse/issues/3#issuecomment-453391460
The plugin can only be used with fastify o.x. Should we moved it to the core?

[2019-09-28 10:56] mcollina commented on #1877
I think we could ask to take maintainance over and move it to the org. What do you think? As long as it is easy to have it in a plugin, it should probably stay there.

[2019-09-28 11:36] StarpTech commented on #1877
I'm fine with that. I will open an issue. Let's have a ETA of 2 weeks before fork it.

[2019-09-29 11:34] StarpTech commented on #1598
@nahtnam what is the baseline? Which Node.js version? Did you use a SSD? Which processor? I would like to exclude that you use an unoptimized hardware setup.

@mcollina What's slow in your opinion? Bootstraping a framework and running a http server under 200ms seems pretty fast to me. Here some refefernces for hello world programms in other languages e.g [scala needs 800ms](https://github.com/choc

[2019-09-29 11:47] StarpTech commented on #1598
For a more realistic comparison hapi.js took around ~245ms to start based on my setup above.

[2019-09-29 17:59] nahtnam commented on #1598
Unfortunately I dont remember the node version but it was one of the 8's I believe. Im running a 2015 MBPro with 16GB ram, SSD, and "2.2 GHz Intel Core i7"

[2019-09-29 18:34] StarpTech commented on #1598
I think after @mcollina improvements the performance is very aligned with the others. @nahtnam could you retest it with Node 10 or higher?

(Node 10.16.3)
Koa (router): ~50ms
fastify: ~115ms

(Node 12.11.0)
Koa (router): ~45ms
fastify: ~86ms

[2019-09-30 07:32] mcollina commented on #1598
We are slow compared to others. We might call it that we are “fast enough”, considering that our main bottleneck is regexp parsing and compiling.

If we are happy with the current performance on Node 12 we can close this.

[2019-09-30 07:43] StarpTech commented on #1598
Which others? You really want to compare Koa or micro with fastify? I compared Hapi with fastify and it's 100% slower.

[2019-09-30 08:49] mcollina commented on #1598
All things considered, I’m striving to have as low cost as possible for startup time as it make fastify more viable in serverless environments.

We could experiment with https://www.npmjs.com/package/v8-compile-cache and maybe use it in fastify-cli.

[2019-09-30 11:25] DrachovDmytro commented on #1793
@mcollina For sure. I am going to make more deep investigation.

@borodadada Could please write down concrete version of fustify instead of ^2.7.1?
And as solution for now you could add error handler on server to avoid crash.

[2019-09-30 13:12] DrachovDmytro commented on #1598
@StarpTech

Basically the reason of that you have not make a cache inside for fastify itself.
The reason of that it how require and node js [Module works](https://github.com/nodejs/node/blob/c42ab99/lib/internal/modules/cjs/loader.js#L854).

Regarding your question "What's slow in your opinion?" - basically as @mcollina mentioned it makes sense only for serverless environment. Therefore in scope o

[2019-09-30 13:29] StarpTech commented on #1598
I was expecting that using `bytenode` would already make the difference because it skips the parsing and bytecode generation step. My idea is that "lazy-evaluation" is faster in that scenario.

Is it worth the efforts? [We](https://github.com/fastify/fastify/issues/1598#issuecomment-483055861) didn't even know that we will support such use-cases.

[2019-09-30 13:44] mcollina commented on #1598
Likely no. But I would not mind being extremely fast booting as well tbh :).

[2019-10-01 07:11] Eomm commented on #1598
Maybe we could think a utility to save the compiled schemas to use on startup instead of compiling it?
A sort of `--extreme-mode`?

[2019-10-01 07:35] mcollina commented on #1598
We could potentially do this with fastify-cli.
However,It won’t help with the ipv6 regexp unfortunately. Moreover the tool for doing that compilation is not well maintained.

[2019-10-01 10:07] olivierto opened #1880 "Overwrite default logger by child logger after authentication?"
Hello!
Let me explain you a bit my situation.
After a successfull authentication I wan't the logger to attach some user for every log behind (in the handler for example) .
I'm using a custom auth plugin to verify AWS cognito JWT, and i'm forcing inside the plugin the fastify logger to be replaced by a child logger but it's not working as expected.

[code]

Do you have any idea on how to do ?
May b

[2019-10-01 18:15] jsumners opened #1881 "Broken JSON Schema resolution"
## 🐛 Bug Report

When using a reference to a full schema definition, instead of to a sub resource of the referenced schema, Fastify's schema resolution incorrectly mutates the reference name. The result is that it cannot find the referenced schema.

## To Reproduce

Steps to reproduce the behavior:

Paste your code here:

[code]

## Expected behavior

The `urn:schema:foo` reference should resolve

[2019-10-01 18:34] jsumners commented on #1881
Note, if you change the second schema to:

[code]

You will encounter a second error inside of `fast-json-stringify`. Basically, this change will cause the schema to be resolved, but the resolved object (the first schema) will not have the "definitions" property. So https://github.com/fastify/fast-json-stringify/blob/e2b5d3524d99b8c366ec8e7b87af6a487b058b6c/index.js#L516 will generate `return sche

[2019-10-01 19:06] mcollina commented on #1881
Is this a regression or old bug?

Il giorno mar 1 ott 2019 alle 20:34 James Sumners <notifications@github.com>
ha scritto:

[2019-10-01 19:35] Eomm commented on #1881
Arg, it is a new bug for the new feature

[2019-10-02 09:03] mcollina commented on #1880
We do not have a single `fastify` instance for each request.

You should do:

[code]

instead.

[2019-10-02 10:05] olivierto commented on #1880
Thanks for your answer mcollina,  it fixes the problem.
I wasn't aware that the fastify instance wasn't shared accross all the requests.  :)

[2019-10-02 10:05] #1880 closed

[2019-10-03 15:03] delvedor commented on #1881
It might be worth considering if it does make sense to refactor the whole schema handling since we have added a lot of features in the past months.

[2019-10-03 15:16] delvedor commented on #1598
I agree that this kind of optimizations could live in `fastify-cli` especially something like https://www.npmjs.com/package/v8-compile-cache.

[2019-10-03 15:37] njlr opened #1883 "Simple example with babel-node does nothing"
## 🐛 Bug Report

When I try to launch the server, the program finishes immediately with no output.

[code]

## To Reproduce

`.babelrc`

[code]

`index.js`

[code]

## Expected behavior

The server should start, console output should appear.

Paste the results here:

Nothing!

## Your Environment

- *node version*: v11.15.0
- *fastify version*: ^2.9.0
- *os*: Linux

`package.json`

[code]

[2019-10-03 16:01] Eomm commented on #1881
I totally agree, I'm working to ease this part but it will be a PR for the `next` branch since there could be some breaking changes

[2019-10-03 16:25] mcollina commented on #1883
I've never used `babel-node`, this seems to be a problem there. Can you run `babel-node` without passing through `yarn`? Can you compile your code with `babel` and run it?

[2019-10-03 16:51] StarpTech commented on #1883
The example is not complete. `yarn babel-node` runs a package script but you didn't define it in the example. Have a look at this [example](https://hackernoon.com/using-babel-7-with-node-7e401bc28b04).

[2019-10-03 17:16] njlr commented on #1883
I am able to do `yarn babel-node ./file.js` and it works for other examples.

[2019-10-04 03:37] RafaelGSS commented on #1875
Go? Hacktoberfest already initialized

[2019-10-04 06:29] Eomm commented on #1875
@fastify/fastify do you agree to flag some "good first issue" with the flag `hacktoberfest`?
So users can [search them](https://github.com/search?q=label%3Ahacktoberfest+state%3Aopen+is%3Aissue&type=Issues)

[2019-10-04 08:18] mcollina commented on #1875
Yes!

Il giorno ven 4 ott 2019 alle ore 08:29 Manuel Spigolon <
notifications@github.com> ha scritto:

[2019-10-04 09:08] Eomm opened #1884 "404 with not encoded URI path parameter"
## 🐛 Bug Report

If I send a wrong path parameter without appling an `encodedURI` I get a 404 response and a warn:

[code]

## To Reproduce

[code]

[code]

All work with an encoded path param:

[code]

## Expected behaviour

I wouldn't expect a 404.

With a plain server, the URL is:

[code]

[code]

## Your Environment

- *node version*: 12
- *fastify version*: 2.9
- *os*: Windows

[2019-10-04 11:48] mcollina commented on #1884
This looks like a bug that might originate from find-my-way.

cc @delvedor

[2019-10-04 12:03] delvedor commented on #1884
This happens because [fast-decode-uri-component](https://github.com/delvedor/fast-decode-uri-component) instead of throwing an error returns `null`, and because of that `find-my-way` [will call the default route](https://github.com/delvedor/find-my-way/blob/8cb73484d39d531ee7cf5b6735323e6b80985014/index.js#L334-L340).
Then in Fastify, we call the 404 handling, which can't handle that route as well

[2019-10-04 12:54] StarpTech commented on #1884
According to https://en.wikipedia.org/wiki/Percent-encoding

so the request path is wrong and 404 is fine.

**But** `%` is part of ASCII and can be used in the URI e.g `http://localhost:3000/%=+`. `%` is only relevant as escape char.

The significant change I made to make it work was in `fast-decode-uri-component`

[code]

[2019-10-04 13:25] Eomm commented on #1884
I know the URL was wrong, but with some path param, it is hard to spot if the variable is a business domain value that I wasn't aware of.

I would prefer a "500 unparsable path params" to avoid confusion instead of 404

[2019-10-04 13:40] StarpTech commented on #1884
Just for references: Hapijs has the exact same behaviour as fastify and expressjs throws an error `URIError: Failed to decode param '%deded'`. I agree with @Eomm we should produce a different error.

[2019-10-04 15:02] delvedor commented on #1884
I agree that we should produce an error, but it's not our fault, so it should be in the 4xx family *(400 should work)*.

[2019-10-04 15:08] dougwilson commented on #1884
FWIW Express sends back a 400 for the Express error listed above.

[2019-10-04 16:17] jsumners commented on #1884
`400` makes sense because the request is not valid. But I think `500` also makes sense because the server encountered an error when parsing. 🤷‍♂

[2019-10-04 16:20] mcollina commented on #1884
I would go with a 400.

[2019-10-05 08:32] borodadada commented on #1793
i use
`
    "fastify": "^2.9.0",
    "fastify-cookie": "^3.1.0",
    "fastify-favicon": "^2.0.0",
    "fastify-static": "^2.5.0",
`

`
fastify.get('*', (request, reply) => {
    reply.code(200).send( {name: 'mongodb', status: 1 } )
})

fastify.listen(443, '0.0.0.0', (err, address) => {
    if( err ){
        fastify.log.error(err)
        process.exit(1)
    }
    fastify.log.info(`server listenin

[2019-10-05 09:46] Eomm commented on #1818
Closing since pr has been merged 🤟

[2019-10-05 09:46] #1818 closed

[2019-10-05 10:17] Eomm commented on #1875
## [Link to search all the hacktoberfest issues in the fastify org](https://github.com/search?q=label%3Ahacktoberfest+state%3Aopen+is%3Aissue+org%3Afastify&type=Issues)

Hope someone will jump in 🤟

[2019-10-05 11:58] RafaelGSS commented on #1875
good job!!

[2019-10-05 11:58] #1875 closed

[2019-10-05 16:04] #1881 closed

[2019-10-06 14:29] delvedor commented on #1884
I've opened https://github.com/delvedor/find-my-way/pull/134, which is the first step for supporting this feature in Fastify core.
Give it a look!

[2019-10-07 15:58] delvedor commented on #1884
I've opened https://github.com/fastify/fastify/pull/1888 with the fix, let's continue the discussion there :)

[2019-10-07 21:41] #1852 closed

[2019-10-09 08:50] tobiasmuehl opened #1889 "Incoming requests are not "seen" after running fastify for 10 minutes"
## 🐛 Bug Report

Fastify works fine for the first 10 minutes, then doesn't "see" incoming requests, resulting in a 100% timeout rate.

The project is a pretty basic JSON API, previously running on PHP (Slim 3), that has been rewritten in TypeScript using Fastify.

After some time, the fastify server does not respond to requests anymore, because requests are sent into a black hole. This only happen

[2019-10-09 10:50] tobiasmuehl commented on #1889
Considering running instance of fastify per API endpoint, to see if this problem is limited to a specific endpoint

[2019-10-09 18:28] mcollina commented on #1889
I think this is a bug in your application. If you think it's a bug in the framework, please open an issue with an example on how to reproduce.

[2019-10-09 19:16] simo-eskalera opened #1893 "Allow custom log properties"
I would like to modify the logger to add a global property `type` that has 4 possible values:
`TxnStart`, `TxnLog`, `TxnEnd`, `TxnLog`. Each corresponds to a specific log type: request log, response log, error log and normal log.

I'm not sure this is currently possible without supplying a custom child logger and then some more hooks. Would you think of a way to enable this capability? Perhaps a p

[2019-10-10 06:34] XhmikosR commented on #1870
You could and should definitely limit where coveralls runs on. I mean, if you test 12 different things you don't need coveralls to run on all of them :)

That being said, there is that coveralls action bug that does result in PR comments even if one has disabled them on coveralls.

[2019-10-10 06:36] XhmikosR commented on #1870
This is how I do it personally:

https://github.com/validator/grunt-html/blob/24632c8900dc4b179536b16ec0744e8db63b0d33/.github/workflows/test.yml#L38

[2019-10-10 07:45] cionnescu opened #1894 "setErrorHandler is not working starting with v2.8.0"
setErrorHandler is not working anymore. My particular case is for resources that does not exists - error 404 (Not found). With Fastify 2.7.0, setErrorHandler is called, but with Fastify 2.8.0, setErrorHandler is not called.

Worked up to version: 2.7.0
Stopped working in version: 2.8.0

I would expect setErrorHandler to be called.

- *node version*: 8
- *fastify version*: >=2.6.0
- *os*: Mac

[2019-10-10 19:45] Ethan-Arrowood commented on #1893
Fastify uses [pino](https://github.com/pinojs/pino) underneath the hood for logging. If you would like to add properties to it I'd recommend looking at how to extend a Pino logger and passing that to the Fastify log property (as a custom logger)

[2019-10-10 19:48] Ethan-Arrowood commented on #1894
Can you please provide steps to reproduce with example code. This will help us help you quicker!

[2019-10-11 19:33] aung-san-i opened #1895 "express.js compatibility"
Can I use express.js module with this FW?

Such as:

https://www.npmjs.com/package/express-uws
https://github.com/jaredhanson/passport

Many Thanks

[2019-10-12 12:29] ekoeryanto commented on #1877
waiting for this

[2019-10-12 21:47] #1840 closed

[2019-10-13 01:42] underfin opened #1896 "Wildcard path dont work"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-10-13 01:43] underfin commented on #1896
nestjs#3149

[2019-10-13 07:52] Eomm commented on #1896
Good catch!
The docs are [wrong](https://github.com/fastify/fastify/blob/master/docs/Middleware.md#restrict-middleware-execution-to-a-certain-paths). We should fix it.

After digging a bit you must write your middleware like this to let it works:

[code]

Under the hood, we use [path-to-regexp](https://www.npmjs.com/package/path-to-regexp#unnamed-parameters) for the `.use` method since it is a uti

[2019-10-14 14:13] RafaelGSS opened #1897 "About Register sync"
## 🚀 Feature Proposal

I have an application that is loaded by modules, something like:
[code]
And using `fastify-autoload` I can load just `index` inside each module. So my index.js is something like:
[code]

But, see that `fastify.authenticate` is added **after** register `brands` because this route does not need authentication. But the `fastify.authenticate` is called, because it is the same co

[2019-10-14 14:49] jsumners commented on #1897
Order is already preserved by way of using plugin encapsulation. Simply register the authenticated routes in a context that includes the authenticator and other routes in another context.

[2019-10-14 16:33] RafaelGSS commented on #1897
@jsumners sure, but do you know the complexity to make it sync? I think that can do the things more clean... Do you think that is over engineering?

[2019-10-14 16:52] mcollina commented on #1897
It's not possible to make it sync. Otherwise the database adapters would not be able to connect to the database on time.

Note that your example can be rewritten as:

[code]

And it will work as expected.

[2019-10-14 20:08] RafaelGSS commented on #1897
Thanks!

[2019-10-14 20:34] RafaelGSS commented on #1897
@mcollina the example not works as expected.

[code]

Both routes call `Passed Here`

[2019-10-14 20:36] RafaelGSS commented on #1897
Another solution is like @jsumners said:

[code]

[2019-10-14 20:53] #1897 closed

[2019-10-15 10:58] tobiasmuehl commented on #1889
Alright, closing until I can scope this better

[2019-10-15 10:58] #1889 closed

[2019-10-15 18:15] Krystofee commented on #1896
I'll take this issue.

[2019-10-15 22:26] mcollina commented on #1896
Thanks!

Il giorno mar 15 ott 2019 alle 20:15 Kryštof Řeháček <
notifications@github.com> ha scritto:

[2019-10-16 23:15] tomsvogel commented on #1556
@mcollina can you take a look at ? https://github.com/tomsvogel/fastify-https-redirect

[2019-10-17 10:54] mcollina commented on #1556
Fastify does not offer to listen to multiple ports. If we want to support http -> https redirects, we would need to support multiple ports, one for http and one for https.
I think the plugin should support an “httpPort” option, and it should start another sub-server listening on that port with the sole logic to send that redirect.

[2019-10-17 11:56] tomsvogel commented on #1556
so the plugin should add the second fastify server not the developer starts a second server with the plugin for the redirect ?

[2019-10-17 12:27] mcollina commented on #1556
I would say so, yes. I think you might use pure Node core as well.

Il giorno gio 17 ott 2019 alle 13:56 Thomas Vogel <notifications@github.com>
ha scritto:

[2019-10-17 23:26] mcchrish opened #1900 "Fluent Schema not shown in documentations?"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-10-18 16:20] mcollina commented on #1900
It needs to be added in this list: https://github.com/fastify/fastify#documentation. Would you like to send a PR?

[2019-10-19 11:25] #1873 closed

[2019-10-19 19:30] #1900 closed

[2019-10-20 09:21] smsshiva commented on #1028
fastify.use(['/'], serveStatic(path.join(__dirname + '/dist/userapp')));

[2019-10-21 22:24] tomsvogel commented on #1556
@mcollina i did a fixup... https://github.com/tomsvogel/fastify-https-redirect

[2019-10-23 08:23] mcollina commented on #1556
Perfect! Would you mind sending a PR to add it to the ecosystem list?

[2019-10-23 09:18] tomsvogel commented on #1556
yes.

[2019-10-23 16:54] real-artswan opened #1909 "Customize log object"
Is there a way to remove "msg" and "v" (and even "level", optionally) from log object using Pino logger?

Now I use
[code]
but still get something like
`{"level":30,"reqId":2,"req":{"method":"GET","url":"/api/company/user-app-settings"},"msg":"incoming request","v":1}`
where "level", "msg", and "v" are the same all the time.
I would like to be able to remove these keys since they are useless to me

[2019-10-24 11:14] mkhoussid opened #1913 "Unable to communicate with Fastify when developing with React Native"
Hello,

How can I hit the backend with Fastify? With Express I would have to specify the IP address of my machine, instead of `localhost`. How can this be achieved with Fastify? I'm getting responses with Postman when making requests to `localhost:5000/test` but not with `http://192.168.10.1:5000/test`

TIA

[2019-10-24 11:17] jsumners commented on #1913
https://github.com/fastify/fastify/blob/8fc4d9dd2774d77e75d44b8b5980d1eb4dd14975/docs/Server.md#listen

[2019-10-24 11:31] #1913 closed

[2019-10-24 13:41] patoi opened #1914 "TypeScript FastifyError inherits from Error instead of ErrnoException"
## 🐛 Bug Report

`FastifyError` inherits from `Error` (JavaScript type), but it can hold other properties as `NodeJS.ErrnoException` (Node.js Error type) defined.

`ErrnoException` in:

Node.js v6:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/node/v6/base.d.ts#L327

Node.js v8: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/node/v8/base.d.ts#L375

[cod

[2019-10-24 17:12] mcollina commented on #1914
I think we need to support both. It can be an `Error` or a `ErrnoException`. We should also add `code` to `FastifyError`.

[2019-10-25 10:47] real-artswan commented on #1909
Yes I've seen Pino config, I wouldn't say that level and msg fields are useless at all, I meant that they are useless in my case and would be good to be able to disable. Anyway thanks for info, probably I'll just disable automatic logging.

[2019-10-25 14:14] #1845 closed

[2019-10-25 19:59] #1883 closed

[2019-10-25 23:07] dunklesToast opened #1916 "Cap speed for connection"
## 💬 Questions and Help

Is there any possibility to cap the speed for one single connection?
In a specific project I don't want one client use more than 50MBit/s. Is this possible with fastify or is do i need nginx for this?

[2019-10-26 08:02] mcollina commented on #1916
Check out https://github.com/fastify/fastify-rate-limit. It does not limit bandwidth, but it might be possible to adapt it by using the Content-Length header.

[2019-10-26 08:04] dunklesToast commented on #1916
I also found this module but I need bandwidth limit so it's not going to work for me since - if i understand it correctly - will just block the access if a custom give Content-Length was exceeded. Will use nginx then since I'm using it anyway for proxieng!

[2019-10-26 08:04] #1916 closed

[2019-10-26 10:11] #1884 closed

[2019-10-27 09:39] delvedor opened #1917 "Mention chainable method of inject in the docs"
With the latest release of `light-my-request`, our utility that enables the `inject` functionality, there is the support for the chainable API.
We should update the test and doc to mention this :)

Example:
[code]

Related: https://github.com/fastify/light-my-request/pull/53

[2019-10-28 07:11] tomsvogel commented on #1556
close this?

[2019-10-28 07:28] #1556 closed

[2019-10-28 07:29] mcollina commented on #1556
yes, thanks

[2019-10-28 08:18] cionnescu commented on #1894
const app = fastify();

/* Error handlers */
app.setErrorHandler((error, _request, reply): void => {
    // do something (maybe print a log)
});

Try to reach a resource that does not exist to generate an error.

[2019-10-28 09:17] mcollina commented on #1894
I need a full/working example to reproduce this issue. This feature is tested in code, so there is likely some edge case that you are currently hitting.

[2019-10-28 10:01] cionnescu commented on #1894
test.ts
`import fastify from 'fastify';

const app = fastify();

app.setErrorHandler((error, _request, reply) => {
    console.log('LOGG');
    reply.res.end();
});

app.listen(8889, '127.0.0.1');
console.log('Started');`

tsconfig.json
`{
    "compilerOptions": {
      /* Basic Options */
      "target": "ES2018",                         /* Specify ECMAScript target version: 'ES3' (default), 'ES5

[2019-10-28 13:12] RafaelGSS commented on #1894
I think that `errorHandler` should not enter in cases of 404. I think that is a fixture :smile:

[2019-10-28 13:34] cionnescu commented on #1894
Until v2.7.0 it worked this way.

[2019-10-28 14:17] mcollina commented on #1894
This was discussed in https://github.com/fastify/fastify/pull/1826. In hindsight, that change was likely semver-major in essence. We will be more conservative in the future.

[2019-10-28 14:21] Eomm commented on #1894
The problem is due to these lines:

https://github.com/fastify/fastify/pull/1826/files#diff-ed3193908b09ad88d2dadcdd99beb273L52-L53

Avoiding to send the error the `setErrorHandler` is not called.

You can add this workaround right now:

[code]

[2019-10-29 08:03] teorossi82 commented on #1917
@delvedor can I take care of this change? I would go adding the mention/example of the `chainable API` method in the doc and use it in the `test.js` file. What do you think?

[2019-10-29 08:54] delvedor commented on #1917
@teorossi82 go for it! :)

[2019-10-30 08:33] hassler commented on #1877
Native SSE support in fastify would be great. Or just an example on how to implement efficient SSE.
Given that the reply "stream" is not visible in fastify, to my knowledge its impossible to write efficient multi client sse, as you would like to multipex sse data on as low level as possible.

[2019-10-31 23:46] RafaelGSS commented on #1793
Hi @borodadada do you have a reproduction code? I would like to see it

[2019-11-01 07:18] borodadada commented on #1793
Hello RafaelGSS, How i can do it? Send full code? Or minimal project example?

[2019-11-01 12:45] RafaelGSS commented on #1793
Just a reproduction example

[2019-11-01 14:53] borodadada commented on #1793
i create simple project, all work = bug work, you need cert's if you want test with seotesteronline.com or google or etc, localhost https include
//zip google disk
https://drive.google.com/file/d/1Mm9VS15hxxt4vSKM16mp9ewGJ6ZtmwX1/view?usp=sharing

[2019-11-02 11:13] Eomm commented on #1593
Closing thanks to improved docs by @RafaelGSS 💪

[2019-11-02 11:13] #1593 closed

[2019-11-02 21:07] #1870 closed

[2019-11-03 00:51] BarryRufer opened #1919 "Add fastify-sphinxsearch"
Hello.

Your have fastify-elasticsearch, but maybe added fastify-sphinxsearch?

http://sphinxsearch.com/
https://github.com/SiroDiaz/sphinxql

[2019-11-03 09:50] mcollina commented on #1919
I've transfered the issue to the main repo. It would be nice to have such a module... would you like to contribute one?

[2019-11-04 22:19] BarryRufer commented on #1919
Yes, I would like to try to be of service.

[2019-11-05 00:24] blacksmoke26 opened #1920 "UnhandledPromiseRejectionWarning: RangeError"
## 🐛 Bug Report

I was redirecting from one URL to another. I can't describe it now because I am still investigating this issue. Once done, I will try to write the steps.

[code]

## Your Environment

- *node version*: 12.11.1
- *fastify version*: >=2.10.0
- *os*: Linux

[2019-11-05 08:55] nm-infy opened #1921 "Add missing typescript types"
I will send PR's shortly to include below missing types for Server Options:

- [x] requestIdHeader
- [x] requestIdLogLabel
- [x] serverFactory

[2019-11-05 09:32] mcollina commented on #1920
It would be very helpful to have a way to reproduce this. It's a bit hard to fix without a repro.

[2019-11-07 09:43] mokimo commented on #1494
I'm on node 12.12.0 and still regularly getting this problem:

[code]

### Your Environment
node version: 12.12.0
fastify version: >=2.9.0
os: macOS High Sierra

[2019-11-07 09:48] ReTWi commented on #1494
@mokimo I don't have this error anymore, so I suggest you to open a new bug, with link here.

[2019-11-07 09:58] mokimo opened #1926 "The stream has been destroyed - ERR_HTTP2_INVALID_STREAM"
## 🐛 Bug Report

App crashing often with http2

Related Issue: https://github.com/fastify/fastify/issues/1494

[code]

## To Reproduce
TODO find out how to consistently reproduce / minimal project

Hoped that does it, but nope: _If you push F5 in the browser few times too fast / working in multiple tabs this bug often occurs:_

## Expected behavior
It should be ignored or logged instead of crashin

[2019-11-07 17:28] Eomm commented on #1926
I cannot reproduce with:

[code]

and F5 constantly pressed `https://localhost:3000/`

Could you arrange a minimal project that reproduces the error?
Maybe you could try also others node 12 versions?

[2019-11-08 13:09] firasdib opened #1927 "Fastify typings not infered properly"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-11-08 13:55] mokimo commented on #1926
I just tested it with `node 13.1.0` still reproduces with the same error as posted initially, can't get a minimal example working sadly.

[2019-11-08 14:16] RafaelGSS commented on #1927
Hi @firasdib, can provide a code example?

[2019-11-08 16:20] Eomm commented on #1926
I don't understand.
Is your handler sending a stream (file or whatelse) not a simple json?

[2019-11-09 09:44] #1921 closed

[2019-11-09 12:48] jsumners opened #1930 "Allow defining error responses"
## 🚀 Feature Proposal

As discussed in https://github.com/fastify/fastify/pull/1888#discussion_r332106310  we have several points in the framework where it is assumed a response will be `content-type: application/json`. However, people use Fastify for more than just that one content type. So it would be appropriate to allow them to define how these responses should be constructed and sent.