[2018-01-10 22:01] StarpTech commented on #644
What do you think about to be more concrete with the names?

`onRouteAdd`
`onServerClose`

IMO the other hooks point out that they extend the request-cycle.

- onRequest
- preHandler
- onResponse
- onSend

[2018-01-10 22:26] nwoltman commented on #644
I like the idea of keeping the other hooks separate from the request handling hooks, although I'm not sure that `addFastifyLifecycleHook` is the best name because "lifecycle" makes me think of the [request lifecyle](https://www.fastify.io/docs/latest/Lifecycle/).

[2018-01-10 23:41] jsumners commented on #644
Very much like the idea. Would `addProcessHook` fit better?

[2018-01-11 14:57] mcollina commented on #644
I don't like the new name, and I have no good idea, let's keep bikeshedding. I have no opinion on separating them or not. I'd like to keep a "small API surface" on Fastify itself, but those are truly two separate concerns.

Given we have `fastify.onClose()`, can we add `fastify.onRoute()` and be done with it? If we want to add new methods, this might be simpler to understand. This is in contrast t

[2018-01-11 20:54] trivikr opened #649 "Making typings in fastify.d.ts available under npm @types/fastify"
**EDIT**:
The original issue was "About moving fastify type definitions to DefinitelyTyped"
I've renamed it to "Making typings in fastify.d.ts available under npm @types/fastify"

#### You have already researched for similiar issues?
Yes.
* The feature request for creating TypeScript definitions was created in #174
* The typings.d file was added in PR #182

#### Are you sure this is an issue with

[2018-01-11 21:26] jsumners commented on #649
I 100% support moving the types out of core.

[2018-01-11 21:31] allevo commented on #644
I'll fire a PR this evening for continuing the discuss

[2018-01-11 21:41] StarpTech commented on #644
@allevo after my PR ? 😄

[2018-01-11 21:44] allevo commented on #644
@StarpTech yeah, you are right. Sorry man, I'm too tired

[2018-01-11 21:46] StarpTech commented on #644
Same here GMT +1 😃

[2018-01-11 22:06] mcollina commented on #649
What’s the best way to interface with the TypeScript community? We would like to support you folks, but we are getting mixed inputs on where it’s the best spot to place the definitions.

[2018-01-12 01:26] trivikr commented on #649
The best spot to place the definitions is in [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/)

All libraries have their individual folders in DefinitelyTyped, for example:
- [node](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/node)
- [express](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/express)
- [hapi](https://github.com/Defi

[2018-01-12 01:36] dougwilson commented on #649
My understanding is that DefinatelyTyped wants the definitions to be in the projects, and not in that repo. Here is their guide on publishing the types: https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

The project removes ones that include their own typings (see https://github.com/DefinitelyTyped/DefinitelyTyped/issues/13364). There is a lot of discussions in there a

[2018-01-12 05:29] trivikr commented on #649
Thanks @dougwilson for the documentation and the issue link.
My question if just about making the fastify typings available in `@types/fastify`, the location of typings file is not important.

For example project babylonjs from DefinitelyTyped/DefinitelyTyped#13364:
* Typings are defined in [babylon.d.ts](https://github.com/BabylonJS/Babylon.js/blob/master/dist/preview%20release/babylon.d.ts)
* Th

[2018-01-12 05:31] dougwilson commented on #649
I see the down vote so my post must not have been helpful.

[2018-01-12 05:39] trivikr commented on #649
I came across DefinitelyTyped/DefinitelyTyped/pull/15634 in which babylonjs provides it's own types by defining their typingsPackageName in [notNeededPackages.json](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/0ae62b869b05630354cd304be381e02035b99a10/notNeededPackages.json#L129-L134)

As of now, we can add the following code so that fastify typings are available under `@types/fastify` o

[2018-01-12 05:42] dougwilson commented on #649
The README in DefinatelyTyped has the following here https://github.com/DefinitelyTyped/DefinitelyTyped#removing-a-package:

Not sure if they would take that change, but doesn't hurt to just do it anyway.

[2018-01-12 05:51] nwoltman commented on #649
If you install the latest version `@types/babylonjs` you'll find that the package does not contain any typings. DefinitelyTyped/DefinitelyTyped#15634 was done to remove the typings from the `@types/babylonjs` package so that the only place to get typings in the future would be from the `babylonjs` package.

Also, from the [TypeScript Handbook](http://www.typescriptlang.org/docs/handbook/declaratio

[2018-01-12 05:52] trivikr commented on #649
Looks like individual packages have to publish their typings to npm under `@types/packagename` if they decide to bundle types with their package
For example, [types-publisher](https://github.com/Microsoft/types-publisher) publishes types from DefinitelyTyped to npm

[2018-01-12 06:28] trivikr commented on #649
After going through several resources online on publishing types to npm, the only suggestion is to add a `main` and a `types`/`typings` property to package.json ([Example post](http://blog.bigfont.ca/add-typescript-definition-files-to-the-npm-types-organization/))

fastify already has them added in it's package.json
https://github.com/fastify/fastify/blob/e3b8f8e3d1d547f2569da9d4528d0a904c94011b/p

[2018-01-12 06:40] trivikr commented on #649
A [comment](https://github.com/IdentityModel/oidc-client-js/issues/135#issuecomment-269537760) from @andy-ms in one of the discussions

Since typings are bundled with fastify, they need not be published under `@types/fastify`
This issue can be resolved

[2018-01-12 06:58] trivikr commented on #649
Confirmed with [trivikr/test-fastify-typescript-server](https://github.com/trivikr/test-fastify-typescript-server) that fastify bundled typings work and they're not required to be published under `@types/fastify`

[2018-01-12 07:24] mcollina commented on #649
I’m wondering if we need to ship @types/node within the project, or if we can skip it.

[2018-01-12 07:37] trivikr commented on #649
As per the recommendation in the [documentation](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html), it's advisable to ship type definitions within the project. This way declarations and JavaScript always travel together.

[2018-01-12 12:11] jsumners commented on #649
@dougwilson don't mind me. I'm just not a fan of the things. I would have use a ☹️ instead of a 👎, but that isn't possible without a full reply. And a full reply would have been more intrusive to the actual conversation.

[2018-01-12 14:42] mcollina commented on #229
After https://github.com/fastify/fastify/pull/651, we are ready to go.

I think we should come up with rc candidates now for a couple of weeks, and then release?

[2018-01-12 14:43] delvedor commented on #644
Personally I prefer to leave the api as is.
We are always talking about hooks, the documentation should be enough to explain to the users where and why the hooks are executed.

[2018-01-12 14:45] delvedor commented on #229
👍

[2018-01-12 14:46] jsumners commented on #229
Agreed on a couple RC releases. I'm also going to make an attempt at resolving my issue with options. Hopefully within the next day or two.

[2018-01-12 14:49] #460 closed

[2018-01-12 15:48] nwoltman commented on #649
We don't really need to ship within the project, it's just recommended. There are some positive points for moving the typings to `@types/fastify`:

+ We wouldn't need to worry about updating typings when making changes or when releasing a new version of Fastify since that can be done separately (although this could mean TypeScript users will have to wait for updates to the typings after a new rele

[2018-01-12 16:29] allevo commented on #229
I'd like to wait till a nicer solution to avoid https://github.com/mcollina/avvio/pull/36#issuecomment-357260628 is provided.

[2018-01-12 17:01] allevo opened #653 "`register` execution order"
I'd like that this example works:

[code]

node v8.9.0
[code]

@mcollina I've posted a complete example. If you need a test, please let me know

[2018-01-12 17:05] allevo commented on #653
Simplest example
[code]

[2018-01-12 17:49] trivikr commented on #649
@jsumners made a good point in related discussion at pinojs/pino/issues/344

Adding to it the reasons added by @nwoltman above, and since most popular JavaScript projects maintain their typings in DefinitelyTyped it could be better to move typings to `@types/fastify`

However, the disadvantages of adding type definitions to DefinitelyTyped:
* It's difficult to compare if Typings are in sync. They

[2018-01-12 19:44] allevo commented on #653
Yeah! sorry, My bad.

[2018-01-12 19:44] #653 closed

[2018-01-12 19:48] allevo commented on #644
I'm closing this issue.

After this comment, I'm convinced.

[2018-01-12 19:48] #644 closed

[2018-01-12 20:46] allevo opened #657 "Force to break the encapsulation"
Hi!
yeah, the title is very bad.

## The context
I've to create an a simple HTTP API. That API should make a query to mongo with a specific logic and return the result.
In order to split the bootstrapping, the HTTP layer and the business logic:
Business logic:
[code]

HTTP layer
[code]

Bootstrapping
[code]
With this configuration, we have split the business logic from the network layer.

An examp

[2018-01-13 08:42] mcollina commented on #657
Here is the problem MyBusinessLogicClassInstance should not exists.
Divinding your application into horizontal layers do not scale in complexity. Having singleton services do not scale in complexity.

You should split your applications into vertical layers, by features. Put everything in modules, and instatiate them in your plugins. You can even decide to split one of your plugins and run it indep

[2018-01-13 14:08] jsumners commented on #649
I like the argument made in https://github.com/pinojs/pino/issues/344#issuecomment-357381053

Basically, Fastify is a Javascript project. There is no reason to include non-Javascript within the project. Therefore, I vote the typings be removed.

[2018-01-13 14:52] allevo commented on #657
Are you suggesting to avoid the class usage at all preferring single functions?

Like:
[code]

[code]

[code]

repeating the last code lines for each modules?

[2018-01-13 15:42] mcollina commented on #657
I mean to not (never) expose business logic as singletons within fastify. Re-instantiate things if needed, fastify is for web routes.

[2018-01-13 16:15] NoNameProvided commented on #649
Wow, that's so short-sighted. So basically you say, you don't care about the dev experience of the typescript devs because you use javascript and this repo was written in plain JS.

As a developer who writes everything in TS, I kept an eye on this discussion. I think with all this listing of pros and cons, this discussion is not about the right topic, you can keep throwing pros and cons into this

[2018-01-13 16:30] mcollina commented on #649
@NoNameProvided as you can see, this project includes typings. However it was asked to remove them and move somewhere else by another Typescript user. As I said, I’m
puzzled because it thought we were doing our best to support TS, and yet we are having this conversation. Is there any issues with the current typings? If you think that what we ship are bad typings, feel free to send a PR.

I think w

[2018-01-13 16:33] jsumners commented on #649
@NoNameProvided just because the typings are in the core project doesn't mean they will stay synchronized. Regardless of where they are housed, someone has to maintain them. Thus, they can be bad typings here or bad typings there (`@types`).

Why would the types being excluded from this repository exclude TS people? I don't think it would. They are used to getting types from a third party anyway.

[2018-01-13 17:51] trivikr commented on #649
Hey guys, I think we had enough discussion about where typings should exist.
Here's a general summary about any project:
1. if it's a TypeScript project, no separate typings are necessary.
2. if it's a JavaScript project
  a. if any of the maintainers is a core TypeScript user, typings will be bundled with the project and they'll be kept updated
  b. if all maintainers are JavaScript users, the ty

[2018-01-13 17:58] jsumners commented on #649
Personal opinion: yes. I can't read them and have no use for them. So they only frustrate me.

I suppose? I really have no idea since I never use them.

I imagine that's what would happen, yes.

[2018-01-13 18:03] allevo commented on #657
[code]

Better?

[2018-01-13 18:08] jsumners commented on #657
I think so, yes.

[2018-01-13 18:22] nwoltman commented on #649
1 / 2 - I don't mind as long as someone else maintains the typings (or if someone reminds me to update the typings if I'm about the make a change that will break them).

3 - That's up to whoever has release privileges, but yes that probably would happen.

[2018-01-14 00:55] jeromemacias opened #659 "What about including req in all logs (instead of only reqId)"
This is just a question but why don't you include the complete request in all logs instead of only `reqId` ?

I try to get better logs as possible using Sentry as tracking software (Pino specific logger will be publish as soon as possible).

On error logs, if I don't have the request and my log level is set on `error`, It's impossible to get any request details (if I'm not wrong ?)

We can replace

[2018-01-14 01:53] jsumners commented on #659
You really just need a `req.log.info(req)` somewhere in your request path. It's a lot of information to log by default. It should be left up to the author of an app to log the whole request if that is what they desire.

[2018-01-14 10:55] mcollina commented on #659
That has been removed from performance reason. What we might do is including the full response only for errors.

[2018-01-14 11:05] jeromemacias commented on #659
You’re right, req is not needed for every log.

But, is there a way to add request object only for errors ? As the error handler only receive `res` and I did’nt find any way to override this handler (

[2018-01-14 11:39] mcollina commented on #659
there is an handleError function in the reply.js file. Add it there.

[2018-01-14 13:29] jeromemacias commented on #659
Sorry, but I didn't found a way to add `req` to the logger before error was sent as the `customErrorHandler` in the `handleError` is called after and there is no other hook.

The only way I found for the moment is to to add req into the logger in the `onRequest` hook (which seems ok in my case, I want to only send error logs).

[2018-01-14 14:44] mcollina commented on #659
I mean that we should change fastify to support this.

[2018-01-14 15:58] jtlapp commented on #649
FWIW, I landed here to evaluate whether to use Fastify. I made the decision to only develop server-side with static type checking and decided on Typescript. Were the typings maintained by a third party, as they are with HAPI, they would be 2nd-class citizens, as they are with HAPI, and I'd be inclined to find a project that's making assurances about whether it works with Typescript.

I think it's

[2018-01-14 16:07] jsumners commented on #649
We have someone responsible for the types, @evanshortiss. But they still get out-of-sync. The majority of regular contributors do not use Typescript. Thus the types usually don't get updated until someone comes along and points out an issue with them. At which point Evan is pinged and some things happen.

It is my opinion that *the current situation is equivalent* to the types being in the Definit

[2018-01-14 16:17] jtlapp commented on #649
Gotcha. The reason I'm looking for 1st-class support is exactly so that they are in sync. Including them in the distro doesn't by itself solve that problem.

If people want Typescript to tell them when they've got a type wrong, they have to include the `--noImplicitAny` compiler option. Otherwise failures to type quietly pass as properly typed. When this option is set, every import of a package wi

[2018-01-14 16:19] jsumners commented on #649
Was that a "yes" or a "no"?

[2018-01-14 16:20] jtlapp commented on #649
Yes.

No.

No.

[2018-01-14 16:30] jtlapp commented on #649
This is an aside, but to help you understand why people use Typescript, I'll explain.

Many of us who use Typescript come from a background in Java, C++, or other strongly-typed language. There are many classes of errors that a compiler will find and report before the program ever runs that you only encounter at runtime (or in tests) in plain Javascript. We find that really annoying and a huge was

[2018-01-14 16:44] jtlapp commented on #481
@yamalight, I'm evaluating whether to go with Fastify. What's the verdict on its support for async/await for making simpler, more readable code?

[2018-01-14 16:56] yamalight commented on #481
@jtlapp as you can see from the discussion above - all suggested improvements were implemented and shipped. So, I'd say it's pretty good?

[2018-01-14 17:59] jtlapp commented on #481
Thanks @yamalight. Fastify is looking very nice -- a simpler HAPI. I'll give it a shot, though I'll be doing it from Typescript.

[2018-01-14 18:15] allevo commented on #657
Nice!
thanks @mcollina and @jsumners .
I'll update the `fastify-example-twetter` a soon as possible.

[2018-01-14 18:15] #657 closed

[2018-01-14 18:30] jtlapp commented on #520
Another use case. I typically add an `xregexp` keyword to AJV to validate with [`XRegExp`](http://xregexp.com/), so that I get classes of Unicode characters, which the JSON Schema spec [does not permit](http://json-schema.org/latest/json-schema-validation.html#rfc.section.4.3).

I typically do this to ensure client strings are clean: `XRegExp("^[^\\p{C}\\p{Zl}\\p{Zp}]+$")`.

[2018-01-14 19:27] allevo opened #663 "Add typescript definition in checklist in PR template"
as titled.

👍  yes
👎  no

@fastify/fastify ?

[2018-01-14 20:31] jsumners commented on #663
👎

I am not being facetious when I say that I can't read them.

[2018-01-14 22:12] jeromemacias commented on #659
What I do actually is redirect all logs into std out, as it's, IMO, the philosophy of Fastify / Pino, and send logs to Sentry (I'm working on a `pino-raven` which works like `pino-socket` for example) so I really want to rely on framework logs as much as I can.

[2018-01-14 23:03] allevo commented on #663
Oki 😃  the result is clear! Closing...

[2018-01-14 23:03] #663 closed

[2018-01-15 03:51] zenflow commented on #493
@delvedor Thanks for your response. I've looked at #167, #187 and #253, and I still can't understand why allowing this kind of configuration (without resorting to setSchemaCompiler) should not be allowed.

It makes perfect sense that you would want to avoid leaking Ajv's API through fastify; if Ajv is swapped out for something else in the future, it would cause breaking changes.

But considering t

[2018-01-15 09:07] StarpTech commented on #605
Merged with https://github.com/fastify/fastify/pull/642

[2018-01-15 09:07] #605 closed

[2018-01-15 09:09] StarpTech commented on #517
Closing due to inactivity.

[2018-01-15 09:09] #517 closed

[2018-01-15 13:48] jsumners commented on #649
Okay, I'm calling for a vote. As of this writing https://github.com/fastify/fastify/pull/635 has been open for a week without any response, and this discussion merely looping around.

@fastify/fastify and community, please cast your vote on this comment by 2018-01-17 14:00 UTC.

👍 => remove the types from this repository and move them to the `@types` repository
👎 => keep the types in this reposito

[2018-01-15 15:31] jtlapp commented on #649
My take: keeping typings in fastify proper gives Typescript devs like me the warm-and-fuzzy that there is a serious commitment to keeping typings in sync, that it is safe to in turn commit to fastify.

My experience is that 3rd parties often quietly stop maintaining typings.

[2018-01-15 15:43] delvedor commented on #649
I don't have a strong opinion on this. I'm not a Typescript user.
If have the typings in this repo will keep typescript devs *"warm-and-fuzzy"* it's ok for me keeping the types here. But it must be clear that **we do not guarantee** that the types will always be in sync. If someone wants to send a pr to update them we will happily accept it and release a patch update.

[2018-01-15 15:51] StarpTech commented on #649
It's easier to move them out of fastify so we don't have to deal with them. Any contributor can create a PR in @types repo.

https://github.com/DefinitelyTyped/DefinitelyTyped#make-a-pull-request

[2018-01-15 15:58] mcollina commented on #649
I prefer if they are left in here, as they will create a warm and fuzzy environment for typescript users.

However I would remove @types/node and @types/pino. That simplify maintenance for us.

[2018-01-15 16:12] NoNameProvided opened #666 "Add `api change` label for PRs modifying the public api"
The title says it mostly, as it seems in #649 that typings will stay, can you guys add a label saying `API change` (or something like that)?

If this label is added to the PRs (for every public api change) it would make it easier to check on which PR-s need attention from the ones who maintain typedefs. Without these, every change must be read to see if it requires a change in typedef or not.

I t

[2018-01-15 16:14] jsumners commented on #666
While the vote on #649 is not completed, I don't see a reason this label shouldn't exist. I have created it.

[2018-01-15 16:14] #666 closed

[2018-01-15 16:17] NoNameProvided commented on #666
Thanks, should be it added to the PR template as a checklist item?

[code]

[2018-01-15 16:26] delvedor commented on #666
@jsumners I think the `breaking change` api is enough.

[2018-01-15 16:30] jsumners commented on #666
Okay.

[2018-01-15 16:42] #659 closed

[2018-01-15 16:45] nwoltman commented on #649
I'm going to abstain from voting. I don't have a strong opinion in either direction.

[2018-01-15 16:47] jsumners commented on #623
@mcollina I like how that document gives a clear outline of what one has to do to be considered for being made a "collaborator". I will think on it some more and make a proposal (unless someone else beats me to it).

[2018-01-15 17:26] jtlapp commented on #649
Another point to consider, from the [DefinitelyTyped FAQ](https://github.com/DefinitelyTyped/DefinitelyTyped#faq):

At least there's a chance for in-repo typings to stay in sync with changes.

[2018-01-15 17:31] jsumners commented on #649
At this point, please just cast a vote on https://github.com/fastify/fastify/issues/649#issuecomment-357687748.

[2018-01-15 18:15] NoNameProvided commented on #666
No, that's not enough if I understand you correctly. When you add a new parameter to a function or add a new option to a config object it won't be a breaking change, but the typing still needs to be updated.

[2018-01-15 18:45] trivikr commented on #649
@jtlapp About pull requests getting merged in DefinitelyTyped as per [FAQ](https://github.com/DefinitelyTyped/DefinitelyTyped#faq)

It depends, but most pull requests will be merged within a week.

This depends on how fast the type definition maintainers review the incoming PRs.
* Example PR DefinitelyTyped/DefinitelyTyped/pull/22865 was reviewed by type definition maintainers and merged on the sa

[2018-01-15 18:54] StarpTech commented on #649
Allow me to summarize:
- No one in the Fastify Team works with Typescript.
- We don't want to update the definitions.

We develop Fastify in Javascript because it's idiomatic and minimal. Typescript is a superset of Javascript you don't need a definition file for everything it is the pressure of a typescript user.

**Conclusion:**
IMHO we should maintain the definition files until 1.0 was released

[2018-01-15 19:11] jtlapp commented on #649
@delvedor wrote:

I think keeping the typings in the repo is a decision to make an effort to reach out to Typescript people to keep typings in sync with the releases.

I think that's the question: Are the maintainers willing to make an effort to keep the typings in sync?

If the answer is no, the typings do not belong in the repo. It creates the wrong expectations, sends the wrong message about th

[2018-01-15 20:22] mcollina commented on #649
@evanshortiss can you please chime in?

[2018-01-16 07:01] mcollina commented on #649
This is the wrong question. As the asnwer is no, because the maintainers are not willing to make an effort on maintaining anything. Software is provided as-is, as the license states.

What is emerging from this discussion is that there are a significant number of people in the TS community that would like to have the typings, but they would not like to spend the time maintaining them. I am a bit p

[2018-01-16 07:11] jtlapp commented on #649
The way it works in other repos where the maintainers are not adept at Typescript is that they reach out to known contributors who are adept to get a check on whether things are up-to-date.

That's all "making an effort" needs to mean.

What "making an effort" precludes is publishing a new version of the Fastify API without checking with anyone to see if the Typings need to be updated.

"Making an

[2018-01-16 07:31] mcollina commented on #649
Why they should be pinged and should reach out? Can TS people watch the repo and review PRs and help as everybody else? I think no one will complain if someone add a note saying how to fix the types. Or send a PR themselves?

I am not blocking a release or a merge waiting for someone to check if the types are ok. Bugs happens all the time, and this is no different. Why would you be entitled to any

[2018-01-16 07:32] jtlapp commented on #666
I agree that "breaking change" isn't quite what we need to signal a change in the typings.

The typings are a definition of the public interface. The typings change whenever the public interface changes, even when the change is backward-compatible.

[2018-01-16 07:38] mcollina commented on #666
I think we should remove the breaking-api label, and adopt semver-* labels. Anything above patch, would need to be reviewed. I think that’s simple enough and it will help with generic maintenance.

[2018-01-16 07:38] jtlapp commented on #649
Yes of course. If you have someone keeping tabs on things, you won't need to reach out.

When someone knows that something breaks, they tend to report it to the person who can fix it. Changing the public API breaks the typings. As with anything else, report it to whoever can fix it, if that person isn't already on top of it.

I'm feeling pretty queasy about now.

[2018-01-16 08:07] jtlapp commented on #666
There you go, and if you can't get a Typescript dev to commit to reviewing each bump in minor version prior to publication, drop the typings.

[2018-01-16 08:27] mcollina commented on #666
Would you commit to it @jtlapp?

[2018-01-16 08:52] NoNameProvided commented on #649
That's not true (at least from my side), as it's visible from this conversation. I do care and as I Typescript user I am willing to "do my best" to keep typings up-to-date. Thats why I opened #666 for example.

_opinion with personal feelings:_

I really appreciate the work the fastify team does, it's a fascinating piece of software, and I am really looking forward to using it and after some exper

[2018-01-16 09:03] mcollina commented on #649
It seems to me the exact opposite. It seems we would like to provide typescript support, and there are very few people willing to help and they just complain about it. Currently there are no open issues about the typings having bugs, so what is the problem?

[2018-01-16 09:19] NoNameProvided commented on #649
The vote on moving it to `@types/fastify`, that is a one-way road, once you moved it you can never move it back without causing a lot of confusion. (Because the package cannot be removed from npm.)

[2018-01-16 09:25] StarpTech commented on #649
@NoNameProvided everybody can create a PR in DefinitelyTyped and it will be published. We should go one way but document it.

[2018-01-16 12:18] delvedor commented on #666
I agree with @mcollina. We will keep the `breaking change` label until version 1. Then we will use `semver-*`.

[2018-01-16 12:32] jtlapp commented on #666
Happily, but right now I'm evaluating whether or not to build on Fastify. I won't even able to start looking at it in earnest until later this week. If I'm still around in a few weeks you can count on me to do it. I just can't commit to doing it before I've definitively committed my project to Fastify.

(I only just started prowling around here to evaluate Fastify. For some reason, Fastify never l

[2018-01-16 12:36] jtlapp commented on #666
But I can offer this now: I'll submit the PRs I need to get the typings working, should they be out of sync.

I just can't make a commitment to do this on an ongoing basis yet.

[2018-01-16 13:08] delvedor commented on #649
I've opened  a pr with @fastify/core's proposal.
https://github.com/fastify/fastify/pull/669

[2018-01-16 13:28] jsumners commented on #649
Given the above mentioned PR, I am closing the poll. At this time it is tied 3 to 3.

I will also say that you don't have "to be a member of the community" to submit fixes via a PR. There are plenty of times that I submit a fix to a project while evaluating it and never even go back to it.

[2018-01-16 13:34] jtlapp commented on #649
I'll start porting my server to Fastify later this week and will offer typings PRs for anything I notice that's out of sync. I'm very much looking forward to it, as it means peeking at the internals.

[2018-01-16 13:52] jsumners commented on #229
Are we ready for rc1?

[2018-01-16 19:18] StarpTech commented on #584
@delvedor could you answer my last question?

[2018-01-16 19:23] Mat-thieu commented on #229
So if I understand this thread correctly, v1.0.0 is basically ready but until the docs are updated it won't be released?

[2018-01-16 19:24] Ethan-Arrowood commented on #229
@Mat-thieu I'm pretty sure docs are nonblocking but I could be wrong

[2018-01-16 19:46] Mat-thieu commented on #229
@Ethan-Arrowood According to the list they aren't, picked up this framework today and I really like it, but I'm afraid to use it in production at this version so I was wondering what the status is

[2018-01-16 19:50] jsumners commented on #229
The docs refactor would be a cherry on top of a v1.0.0 release. But, unless any other @fastify/fastify  member says otherwise, we are ready to cut a v1.0.0-rc1 release. Which is to say, the current master (and published version) is what you should expect in v1.0.0.

[2018-01-16 19:51] Mat-thieu commented on #229
@jsumners Sweet!

[2018-01-16 21:15] mcollina commented on #229
There are a few breaking changes in master, plus a couple of outstanding PRs.
I would issue another minor with what we have on master + outstanding PRs, and then some RCs.
We should figure out some LTS strategy.

[2018-01-16 21:46] Ethan-Arrowood commented on #229
Something I discovered recently is that travis.ci lets you have build stages now so we could run the unit tests in multiple version of node in order to maintain LTS

[2018-01-16 21:50] jsumners opened #670 "LTS strategy"
As mentioned in https://github.com/fastify/fastify/issues/229#issuecomment-358108181, it would be a good idea to have a published LTS strategy. Even if it is as simple as "we only support the active X release of semantic version X.Y.Z releases."

Use this issue to hash it out.

[2018-01-16 22:12] delvedor commented on #584
@StarpTech sorry for the delay.
I quote myself:

If you use express, `/test/` and `/test` are treated as equals, while if you use hapi they are not.

I have an opinion about this, but it looks like there is no common rule.
If we want to support both approaches we can do it (see @jsumners [comment](https://github.com/fastify/fastify/issues/584#issuecomment-355134797)).

[2018-01-16 22:39] allevo commented on #629
May this be an `avvio` issue?

See https://github.com/mcollina/avvio/blob/master/boot.js#L53

[2018-01-16 23:34] allevo commented on #304
@StarpTech can we consider this outdated?

[2018-01-16 23:36] allevo commented on #207
Close for inactivity. Please reopen it if you need it!

[2018-01-16 23:36] #207 closed

[2018-01-17 00:18] StarpTech commented on #304
yes, we can.

[2018-01-17 00:18] #304 closed

[2018-01-17 00:23] nwoltman opened #672 "Proposal: Run onSend hooks after serialization"
I was recently about to write an `onSend` hook in my application when I realized that my hook would need the serialized payload to work properly. I checked out [`fastify-compress`](https://github.com/fastify/fastify-compress) to see how it handles this problem and found that it [serializes the payload itself](https://github.com/fastify/fastify-compress/blob/671d3731d1e32f5572d52abf1413107850a19fc4

[2018-01-17 04:38] evanshortiss commented on #649
Unfortunately I find myself agreeing with this. Multiple TS users seem to have found issues but not offered solutions; **some** being key here, others have been helpful. We can only speculate as to the reason for this, but it's a problem.

I believe deprecate is an option to resolve this. `@types/commander` has done so and you'll receive warnings as a result.

[This PR](https://github.com/fastify/

[2018-01-17 04:42] evanshortiss commented on #649
As to the vote for decoupling definitions, I will vote in favour of whatever is easiest for the core maintainers here i.e if the majority of core say remove then I would not object.

TypeScript users will be able to develop just fine if the types are bundled with fastify, or separately, it's just convenient to bundle them but not if it is causing pain for the primary maintainers.

[2018-01-17 05:07] nwoltman commented on #584
It looks like there are really 2 issues here.

@jsumners Has solved the issue of how to configure routes that will match requests both with and without a trailing slash.

However, @StarpTech's issue about how route paths should be concatenated with the `prefix` option and whether or not paths should always start with a `/` has not been decided on yet.

My opinion on that is to mostly do nothing, b

[2018-01-17 05:19] jtlapp commented on #649
@evanshortiss, do you know how we'd arrange to have the typings publish concurrently with publications of new Fastify releases? Would it just need an owner who approves (and hopefully provides!) typings PRs in a timely fashion, so that we're not waiting on DefinitivelyTyped folks to approve and merge the PRs -- which I don't see how they'd be qualified to do that anyway.

If both scenarios require

[2018-01-17 07:00] trivikr commented on #649
@evanshortiss Actually, my knowledge about typings has evolved over this issue as follows:
* the issue was originally cut as I was not able to find typings for `@types/fastify` as compared to other competitors like express, koa, hapi etc (as explained in [comment](https://github.com/fastify/fastify/issues/649#issuecomment-357115864))
* then I realized it was my mistake. The bundled typings also wo

[2018-01-17 07:14] evanshortiss commented on #649
@trivikr thank you for the clarification; I think the large number of comments made it hard to follow the thought process, but this makes sense now 😄

@jtlapp this is more or less how I feel. And reasons highlighted by here by @nwoltman are solid arguments among other things. If we were talking about Babel etc. I'd probably share @jsumners frustrations since, unlike TS, I think they don't add valu

[2018-01-17 09:57] greenkeeper[bot] opened #673 "An in-range update of semver is breaking the build 🚨"
## Version **5.5.0** of [semver](https://github.com/npm/node-semver) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Fsemver-5.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      semver
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Ve

[2018-01-17 10:07] mcollina commented on #673
This is a CI issue.

[2018-01-17 10:07] #673 closed

[2018-01-17 10:48] delvedor commented on #584
Agree with this, someone wants to send a pr? :)

[2018-01-17 10:52] delvedor commented on #672
We have discussed about this in https://github.com/fastify/fastify/pull/330 and https://github.com/fastify/fastify/pull/447, at the end we have decided to allow payload changes inside the `onSend` hook.

[2018-01-17 11:20] mcollina commented on #672
It seemed a good idea at the time, but maybe we were wrong. Are there any other opinions?

An alternative option could be to expose the current serializer as `reply.serializer`, and leverage that during compression.

[2018-01-17 11:57] mcollina commented on #629
Yes definitely. Would you like to send a PR there?

[2018-01-17 13:25] jtlapp commented on #649
@evanshortiss wrote:

We'd need pre-release tagging too, me thinks, such as `1.1.0-alpha`, `1.1.0-beta`, maybe `1.1.0-rc`. Some clue that the API has stabilized but the release has not yet been made.

[2018-01-17 13:49] mcollina commented on #670
I would like to call 1.0.0 LTS (supported) for a 6 month timeline minimum. And maintenance (security fixes) for another 6 months.

All semver-major work should happen in master but we would issue backport PRs to a 1.x.x branch.

And we need semver-* tags.

I would also note that we should start squashing commits when landing, because that would simplify backporting.

[2018-01-17 13:58] jsumners commented on #670
I can get onboard with all of those suggestions.

[2018-01-17 16:30] #594 closed

[2018-01-17 18:56] delvedor commented on #649
Closed by https://github.com/fastify/fastify/pull/669.

[2018-01-17 18:56] #649 closed

[2018-01-17 20:03] jsumners opened #677 "End request in async preHandler"
Let's assume you have a plugin that supplies a `preHandler` hook. This plugin does some validation of incoming requests and returns an error response (401) if the request fails validation and terminates the request chain. With the traditional interface this looks like:

[code]

But what do we do if the hook is an `async` function?

[code]

In this case we will get an error informing us that the re

[2018-01-17 21:11] nwoltman commented on #677
A possible solution would be:

[code]

Unless you're trying to avoid running the [error handling code](https://github.com/fastify/fastify/blob/4d6e827347e633a24aeeb316ea60ae17bfd798a5/lib/reply.js#L180-L235).

[2018-01-17 21:58] mcollina commented on #677
IMHO I think that we should stop processing `preHandler` hooks if `reply.send()` gets called, i.e. if `reply.sent` is `true`. I think this a bug.

[2018-01-17 22:59] #493 closed

[2018-01-17 23:00] nwoltman commented on #677
It looks like @mcollina's suggestion would be as simple as adding a `reply.sent` check between these two lines:
https://github.com/fastify/fastify/blob/fd1b24550bec63c1167a277a1e65be5439773b4e/lib/handleRequest.js#L151-L152

[2018-01-18 00:01] nwoltman commented on #520
Closed by #674

[2018-01-18 00:01] #520 closed

[2018-01-18 03:40] jsumners commented on #630
@fastify/fastify anyone else have an opinion?

[2018-01-18 03:42] jsumners commented on #463
Closing this due to inactivity. If you'd like to discuss it further, feel free to reopen.

[2018-01-18 03:42] #463 closed

[2018-01-18 03:43] jsumners commented on #336
@StarpTech given the above repo and @allevo's Twitter clone project, can this be closed?

[2018-01-18 03:48] jsumners commented on #584
Are we leaving this open until someone adds the configuration item for trailing slashes or has this been solved by #676?

[2018-01-18 04:21] nwoltman commented on #630
I've never used them, never seen them used, and I'm not sure if I'll ever need to use them.

[2018-01-18 05:56] nwoltman commented on #584
I think #676 should be enough to close this. The trailing slashes configuration should probably be implemented in `find-my-way`.

[2018-01-18 09:55] StarpTech commented on #336
It's not exactly the same. https://github.com/fastify/exampleis empty and the twitter example does not issue recommendations. Please let it open.

[2018-01-18 10:17] mcollina commented on #511
Closing because of https://github.com/fastify/fastify/pull/674.

[2018-01-18 10:17] #511 closed

[2018-01-18 10:17] mcollina commented on #630
Closing for now, but we can revisit anytime!

[2018-01-18 10:18] mcollina commented on #610
We can close this because of https://github.com/fastify/fastify/pull/669

[2018-01-18 10:18] #610 closed

[2018-01-18 10:19] mcollina commented on #609
This is fixed.

[2018-01-18 10:19] #609 closed

[2018-01-18 14:04] #584 closed

[2018-01-18 14:07] jsumners commented on #670
@fastify/fastify do you agree with the proposal set for by @mcollina?

[2018-01-18 15:57] nwoltman commented on #670
Absolutely :)

[2018-01-18 17:12] delvedor commented on #677
Agree, should we do the same for `onRequest` and middlewares?

[2018-01-18 17:18] mcollina commented on #677
I _think_ so.

[2018-01-18 17:25] greenkeeper[bot] opened #678 "An in-range update of find-my-way is breaking the build 🚨"
## Version **1.9.0** of [find-my-way](https://github.com/delvedor/find-my-way) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Ffind-my-way-1.9.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      find-my-way
    </td>
  </tr>
  <tr>
    <th align=le

[2018-01-18 17:29] delvedor commented on #678
It should be a CI error:
https://ci.appveyor.com/project/mcollina/fastify/build/1.0.1008/job/ond26e98w5i5bjkx

[2018-01-18 18:26] jsumners commented on #678
The #679 PR I just opened updates `find-my-way` and the tests are all passing there.

[2018-01-18 19:50] jsumners commented on #678
Closed by #679

[2018-01-18 19:50] #678 closed

[2018-01-18 21:46] delvedor commented on #672
While we can discuss if upload the payload could be useful or not you are right about

We should find a solution about this.

[2018-01-18 22:45] nwoltman commented on #672
I have read through #330 and #447 and I didn't find any strong reasons for being able to change the unserialized payload. If anyone does have a good use case for modifying an unserialized payload though, then I would rethink my stance on this proposal.

@delvedor Has a good [point](https://github.com/fastify/fastify/pull/330#issuecomment-334081794) in #330 about how modifying the unserialized payl

[2018-01-19 13:33] #670 closed

[2018-01-19 16:06] nwoltman commented on #672
Sure thing 👍

[2018-01-19 17:11] PavelPolyakov opened #684 "regex matched routes"
In the documentation it's stated that it's possible to declare routes like this:
[code]

I tried, the one from the example but was not able to match it. Always 404. I started to look for example and found that `find-my-way` router is used. In the documentation of which the same route is used, BUT in the tests the regex is slightly different:
https://github.com/delvedor/find-my-way/blob/master/test

[2018-01-19 17:32] nwoltman commented on #684
Hey @PavelPolyakov! Thanks for using Fastify.
In the simple server you put together, the route matching is actually working properly, but you wrote your handler as if it were an async handler but didn't add the `async` keyword to the function. This would work:

[code]

When you're handler isn't `async`, you need to use `reply.send()`.

[code]

As for the example from the documentation:

[code]

Th

[2018-01-19 18:29] jsumners opened #686 "Plugin needs to know its full path"
Sometimes a plugin needs to be able to compose the full URL to the handlers it defines. For example, when working with SAML you must tell the remote IdP the callback URL to use when it POSTs back to you. If the SAML communication is implemented in a plugin, then that plugin could be mounted with a prefix that is itself under another prefix. But the plugin only has access to its *immediate* prefix.

[2018-01-19 19:22] allevo commented on #686
:+1:

[2018-01-19 19:45] PavelPolyakov commented on #684
@nwoltman
you are right, missing `async` did the mess. Everything is working as expected.

Thanks for the help! 👍

[2018-01-19 19:45] #684 closed

[2018-01-20 14:26] #686 closed

[2018-01-20 14:29] jsumners commented on #677
Would someone more familiar with the inner working of the lifecycle than me like to take this on?

[2018-01-20 14:30] delvedor commented on #677
I'm working on this :)

[2018-01-20 16:02] #672 closed

[2018-01-20 22:59] nwoltman commented on #569
I think this would replicate the old boom error handling:

[code]

[2018-01-21 10:25] StarpTech opened #693 "Schema validation with specific response code fails"
According to this section https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md#serialization we are able to define different schemas for different status codes.

[code]

Respond this with status code 200 but I expect 400 with an error payload.
[code]

[2018-01-21 10:40] mcollina commented on #693
I'm a bit lost in your example, when are you returning a 404?

[2018-01-21 10:45] StarpTech commented on #693
My response schema expects an `integer` but no error is thrown or 404 is set.

[2018-01-21 10:49] mcollina commented on #693
So, this is confusing and possibly the behavior is not correct.
`fast-json-stringify` is trying to render an integer and it is failing.
It should _really_ be throwing, and you'd get a 500 or a process crash.

[2018-01-21 11:05] StarpTech commented on #693
It looks like that this behavior is already known
https://github.com/fastify/fastify/blob/master/test/output-validation.test.js#L59

[2018-01-21 11:17] mcollina commented on #693
yeah. I’m not really conviced it’s the right thing to do.

[2018-01-21 11:41] StarpTech commented on #693
As a user, I expect a `number` that my handler responds with a number when not an error should be thrown. Aren't you convinced? When you do this in input-validation you will get a `400` with an error payload.

[2018-01-21 11:46] StarpTech opened #694 "querystring schema-shortcut does not work"
Behaviour is documented [here](https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md#validation)

Calling `/?hello=foo` Returns `200` with `{"hello":"world"}`
[code]
Calling `/?hello=foo` Returns `400` with `{"statusCode":400,"error":"Bad Request","message":"[{\"keyword\":\"type\",\"dataPath\":\".hello\",\"schemaPath\":\"#/properties/hello/type\",\"params\":{\"type\":

[2018-01-21 11:49] allevo commented on #693
The issue is here https://github.com/fastify/fast-json-stringify/blob/60fc96faae51bea13570b946d1a43f7d8ef670b3/index.js#L147-L154

Your schema doesn't define `hello` nullable and returning `null` breaks the output.

[2018-01-21 11:51] allevo commented on #694
What do you expect?

[2018-01-21 11:52] StarpTech commented on #693
@allevo thanks for the pointer but an error should be thrown `null` can't represent an `integer`

[2018-01-21 11:54] StarpTech commented on #694
The same behavior with the full schema description.

I expect that both returns `400` with the schema error payload.

[2018-01-21 12:02] mcollina commented on #693
I tend to agree, this should be a PR against fast-json-stringify.

[2018-01-21 12:04] allevo commented on #693
As I said, `null` breaks the interface. And this is an issue.

[2018-01-21 12:04] mcollina commented on #694
Would you mind firing a PR to fix this?

[2018-01-21 12:06] mcollina commented on #693
This is a bug indeed! Would any of you send a PR against fast-json-stringify?

[2018-01-21 12:07] StarpTech commented on #694
Sure

[2018-01-21 12:12] allevo commented on #694
I don't understand: the first example define `hello` as a string; the second one as an `integer`

[2018-01-21 12:13] StarpTech commented on #693
@allevo already familiar with this? I working on https://github.com/fastify/fastify/issues/694

[2018-01-21 12:15] StarpTech commented on #694
This was a typo the issue is the same.

[2018-01-21 13:00] StarpTech commented on #694
This is not a bug it's badly documented. We have to wrap it inside `schema` property.

[2018-01-21 13:04] StarpTech commented on #694
I will create a PR to improve the examples.

[2018-01-21 13:08] StarpTech commented on #694
https://github.com/fastify/fastify/pull/695

[2018-01-21 17:19] allevo commented on #336
@StarpTech  Please add them!

[2018-01-21 19:57] #694 closed

[2018-01-21 21:15] nwoltman opened #696 "Inconsistency between registering hooks and middleware inside a plugin"
#### Steps to reproduce

[code]

#### What was the result you received?

Start the server and navigate to `http://localhost:80/`. You'll see this in your console:

[code]

#### What did you expect?

Either both the hook and the middleware should run or neither should run.

I can open a PR to make it so that middleware are added to routes the same way that hooks are (so that in this example the mid

[2018-01-21 21:17] allevo commented on #696
This is a bug. Please fire a PR!

[2018-01-21 21:21] delvedor commented on #696
Probably there is an issue in the encapsulation model here
https://github.com/fastify/fastify/blob/500ad8ff391ab2e59145bcc6cb313c057a47c7c3/fastify.js#L312-L340

The weird thing is that all these test are not failing:
https://github.com/fastify/fastify/blob/500ad8ff391ab2e59145bcc6cb313c057a47c7c3/test/middleware.test.js#L153-L188

[2018-01-21 21:56] nwoltman commented on #696
@delvedor Those tests are passing because they're not using `fastify-plugin` and they register the middleware _before_ the handler.

[2018-01-21 22:21] delvedor commented on #426
Closing this, feel free to reopen if you have more questions :)

[2018-01-21 22:21] #426 closed

[2018-01-22 14:47] mcollina opened #700 "document that for decorators to work across plugins you have to use fastify-plugin"
ref: https://github.com/fastify/fastify/pull/699 (and others)

[2018-01-22 14:49] delvedor commented on #700
This behavior is documented [here](https://github.com/fastify/fastify/blob/master/docs/Plugins-Guide.md). Probably we just need to highlight it better.

[2018-01-22 20:44] #677 closed

[2018-01-22 20:57] #700 closed

[2018-01-23 11:21] delvedor opened #703 "Feature: toString method"
As discussed in #702 could be a nice feature expose a `toString` method.
It should print the routes, the decorators/hooks/middlewares for every encapsulation level as well as custom error handlers and not found handlers.

I think it could be an amazing feature, extremely useful for debugging and see the "size" and complexity of your application visually.
@fastify/fastify what do you think?

Exampl

[2018-01-23 11:40] timwis opened #704 "Fails with supertest"
#### What are you trying to achieve or the steps to reproduce?

I'd like to use [supertest](https://github.com/visionmedia/supertest) to test my fastify app. This worked fine with version `0.9.0` last year but I upgraded and it started failing.

#### What was the result you received?

[code]
Reproduction available at [timwis/fastify-supertest-demo](https://github.com/timwis/fastify-supertest-demo)

[2018-01-23 13:36] jsumners commented on #703
Also mentioned was adding a custom `util.inspect` method. So might as well round off the set and add https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/toStringTag.

I'd really like to see `.toJSON` added at the same time. While the described `.toString` behavior would be fine for debug purposes, I can guarantee you that someone will end up using it in producti

[2018-01-23 14:38] delvedor commented on #704
Hi! Thank you for checking out Fastify!
From version [`v0.39.0`](https://github.com/fastify/fastify/releases/tag/v0.39.0) the function returned by the factory is no more the "classic" http handler, with request and response objects.
The http handler used by node is now an internal function, `router.lookup`, which calls the function that is returned by the factory.

Why this change?
Our router buil

[2018-01-23 15:02] timwis commented on #704
Really helpful response - thanks!

[2018-01-23 15:02] #704 closed

[2018-01-23 16:09] nwoltman commented on #704
@delvedor Is there any reason for fastify to not be compatible with `supertest`? It could be done by changing only a few lines of code.

[2018-01-23 16:13] delvedor commented on #704
@nwoltman I guess we could expose `router.lookup` in some way.
The question is "do we want to expose an api just to support an external testing library"?
Do not forget that will be another thing to maintain and that we could break in the future.
That's why we dropped the direct support to `Boom` and `Joi`.

[2018-01-23 16:18] jsumners commented on #147
@marcbachmann would you be able to provide an example that includes using a session?

[2018-01-23 16:20] #696 closed

[2018-01-23 16:21] jsumners commented on #704
I'm 👎 on exposing stuff just to support such a library. At least without significant demand. And the library in question looks to not be maintained (no update in a year and >100 issues).

[2018-01-23 16:28] nwoltman commented on #704
It's not really any extra maintenance for us. All we need to do is expose a different function as the "fastify object". Currently I don't see any particular reason for [this function](https://github.com/fastify/fastify/blob/ef2215711ca4e348f91b32c8c413d1779692bebd/fastify.js#L187) to be the "fastify object" returned by `require('fastify')()` anyway.

[2018-01-23 19:33] rpedela opened #707 "Support rawBody or override JSON parser"
In #643, it was decided to have a separate discussion/PR for supporting ```rawBody```. I would like to start that discussion. An alternative that doesn't increase memory usage is having an option to override the JSON parser for specific routes. I know the fastify community has done a lot of work to make JSON parsing fast which is awesome, but sometimes you just need to do it yourself. Why? Int64 a

[2018-01-24 13:48] PavelPolyakov commented on #703
+1 for `.toJSON`, I expect it to be more useful for developers.

[2018-01-24 13:49] #569 closed

[2018-01-24 14:02] PatrickHeneise opened #709 "Web process failed to bind to $PORT"
With the update to v0.4.0 our heroku deployment broke. The server starts up properly, but the port binding fails.

#### What was the result you received?

That's with `v0.40.0`
[code]
#### What did you expect?

That's with `v0.39.1`
[code]

#### Context

* *node version*: 8
* *fastify version*: =0.4.0
* *any other relevant information*: Heroku

[2018-01-24 14:08] jsumners commented on #709
What happens if you supply either `0.0.0.0` or `::` for the listening address?

[2018-01-24 14:08] mcollina commented on #709
You should change:

[code]

to

[code]

[2018-01-24 14:16] PatrickHeneise commented on #709
we currently use:

[code]

as specified in the readme. Why is the additional parameter required?

[2018-01-24 14:30] jsumners commented on #709
We aren't saying that it is *required*, but your environment does not seem to like the shorthand method. We are asking you to test that the full declaration works as expected.

This is related to https://github.com/fastify/fastify/pull/667 which is outlined in https://github.com/fastify/fastify/releases/tag/v0.40.0.

[2018-01-24 14:43] PatrickHeneise commented on #709
That worked! Will check how that change affects the other systems apart from Heroku.

Since it's breaking a platform, this could be considered a breaking change, no?

[2018-01-24 14:45] jsumners commented on #709
@PatrickHeneise yes, that is why it is labeled as a breaking change both on the issue and the releases page.

[2018-01-24 14:47] ACXgit commented on #709
This also happened to me yesterday night on a dev VM with the network interface configured as NAT. Adding '0.0.0.0' fixed the problem.

[2018-01-24 15:04] jsumners commented on #709
I don't think there is anything to do here. If your system isn't allowing you to bind to ports on `127.0.0.1` then either/both:

1. You are attempting to bind on a privileged port (e.g. < 1024) without sufficient privileges
2. Your system is non-standard

Fastify is working as intended: defaulting to binding on the localhost interface.

[2018-01-24 15:04] #709 closed

[2018-01-24 16:19] PatrickHeneise commented on #709
@jsumners didn't see the breaking changes part in the Changelog and didn't look for it, as it was numbered as _minor version_ update. greenkeeper updated the package, tests all worked fine, merged, deployed, heroku production environment blows up, 2 devs debug for 2 hours, not cool. Wouldn't have happened if it was a 1.0.0.

[2018-01-24 16:26] allevo commented on #709
See `Default to listening on 127.0.0.1 - #667` in "Breaking changes" section

[2018-01-24 16:30] delvedor commented on #709
@PatrickHeneise sorry about the hard time you had.
As you can see we are still in beta (`v0.x.y`), so breaking changes can happen at any time, and the only way to see them is to check the release notes.
As far as I know greenkeeper shows them to you.

In any case we are very close to the `v1.x.y` release, after that every breaking change will be released as semver major.

Thanks for understanding

[2018-01-24 16:39] nwoltman commented on #709
@PatrickHeneise See point 4 in the [semver spec](https://semver.org/#semantic-versioning-specification-semver).

[2018-01-24 17:01] PatrickHeneise commented on #709
@nwoltman thanks!

It's all resolved now, looking forward to 1.0 though and not running into these issues again ;). Will definitely look for breaking changes in the Changelog next time.

[2018-01-24 17:11] allevo commented on #709
@PatrickHeneise  Anyway feel free to open other issue if the release notes are not clear!

[2018-01-24 17:32] jsumners commented on #229
It's clear in #709 that we definitely need to get this issue resolved. It looks like we have one bug outstanding (#693), and it doesn't seem to be affecting many people. I think we should be issuing an rc release promptly.

[2018-01-25 01:28] mcollina opened #712 "Squash commits before merging"
I would like to disable "allow merge commits", and leave only squashing.
This should help with LTS.

Is anybody against this?

[2018-01-25 01:29] jsumners commented on #712
Works for me.

[2018-01-25 01:45] mcollina commented on #229
@jsumners that should be solved in the RC phase.

[2018-01-25 01:59] nwoltman commented on #712
I am in favour of this 👍

[2018-01-25 09:26] StarpTech commented on #712
Jep :+1:

[2018-01-25 09:29] delvedor commented on #712
👍

[2018-01-25 09:42] mcollina commented on #712
Done

[2018-01-25 09:42] #712 closed

[2018-01-25 14:17] olnazx opened #713 "beforeHandler for NotFoundHandler"
[setNotFoundHandler](https://github.com/fastify/fastify/blob/master/docs/Server-Methods.md#setnotfoundhandler) description says

But actually `beforeHandler` is missing in the lifecycle, because there is no way to set it.

[2018-01-25 14:20] delvedor commented on #713
The `beforeHandler` is an option that you can add to a specific route.
If you have two routes, A and B, and only B has the `beforeHandler`, A will not get into it.
The *before* handler technically is not part of the lifecycle since works on a single route level.

[2018-01-25 16:06] nwoltman commented on #713
@olnazx Is there any reason why you can't put your `beforeHandler` logic inside your not-found handler? While the not-found handler is similar to a route, it's a special case and currently does not allow setting the options that a normal route does.

[2018-01-25 16:57] olnazx commented on #713
@nwoltman the main reason is that it leads to code duplication. I have several not-found handlers and I have to put the same `beforeHandler` into each of them.

As I see `setNotFoundHandler` accepts options object as a first argument (not mentioned in the docs though). I'm not really sure why it's not allowed to set `beforeHandler` option (maybe it will break something), but implementation of `bef

[2018-01-26 08:29] mcollina commented on #713
I see no harm in adding this. Would you like to send a PR @olnazx?

[2018-01-29 09:51] avaragado opened #720 "[0.40.0] breaking change with plugin registration after avvio@5.0.0 upgrade"
Upgrading to v0.40.0, which includes an upgrade to avvio@5.0.0 (#651), breaks plugin registration in some cases.

Before v0.40.0, you could register an array of plugins with one call to `fastify.register`. Now, you can't: `fastify.register` registers one plugin at a time. This is a breaking change.

#651 removes the documentation for the old array case, but that doesn't help those of us that alrea

[2018-01-29 10:41] delvedor commented on #720
Hi! Thank you for spotting it!
I'll update the release notes and and the correct label.
Sorry for the bad time!

[2018-01-29 10:42] #720 closed

[2018-01-29 13:53] jweboy opened #722 "Whether to consider adding a Chinese document?"
I'm using Fastify, but at the moment there is only an English document, which is not very convenient for someone who is not good at English, so I translated it with Google on a Chinese translation. Would you suggest adding a Chinese document or I would like to contribute a Chinese document for you. In conjunction with Google Translate, I will speak more semantic and straightforward about document

[2018-01-29 13:54] jsumners commented on #722
Are you suggesting use Google Translate for the initial translation followed up by you modifying that translation to be correct? Automatic translations are usually quite terrible.

[2018-01-29 14:07] PavelPolyakov opened #723 "returning undefined from async/await"
#### What are you trying to achieve or the steps to reproduce?
According to the documentation, we can declare `async/await` handlers and simply `return` from them.
https://www.fastify.io/docs/latest/Routes/#async-await

BUT, it appeared that one can not return `undefined` or `return;`, `fastify` will not send this payload to the user.

This was already partly touched [here](https://github.com/fast

[2018-01-29 14:57] mcollina commented on #723
I think this is a doc-bug. Would you like to send a PR to document the current behaviour? In the first example we should add a note that `processed`  __must__ not be `undefined`.

The underlining reason for this is to provide async-await, promise support and callback support throughout the framework. Unfortunately, it's not possible to detect if there is a promise that returns `undefined`  if we n

[2018-01-29 15:12] PavelPolyakov commented on #723
@mcollina
clear

In the documentation it's also stated that if you use `return reply.send()` first one executed will win. Can't the same kind of rule be applied for the `return;` vs `send()` case? The way that `then` of the promise has priority, if it was called - do not wait for possible `reply.send()`.

here is the docs update:
https://github.com/fastify/fastify/compare/master...PavelPolyakov:pa

[2018-01-29 15:34] jweboy commented on #722
Maybe I did not express clearly. My awareness is assisted by Google Translate, through my personal translator and interpreter, which makes my document translation more understandable and understandable, making it easier for developers looking at Chinese documents to get started quickly.

[2018-01-29 16:31] nwoltman commented on #722
There could be a folder for each translated language inside the `docs` folder (like `docs/zn-cn` and `docs/it`). @lmammino Could this be integrated into the website easily?

[2018-01-29 16:47] delvedor commented on #723
Closed in async/await return specification improved #725. Thanks!

[2018-01-29 18:49] Ethan-Arrowood opened #726 "Parsed request query should support bracket and indexed array formats"
It seems like the parsed query parameter on the Request object uses default query-string array behavior. After researching the proper way to pass arrays of information through the query string it seems like this parse function should also support bracket and indexed notation.

- Bracket notation: `/api?foo[]=bar&foo[]=fuzz&foo[]=buzz`
  - should be => `{ foo: [bar, fuzz, buzz] }`
  - currently is

[2018-01-29 18:57] jsumners commented on #726
There isn't a standard for supplying arrays via a query string. Trying to figure out which format has been sent in is too expensive. A plugin could be written to handle this.

[2018-01-29 18:58] Ethan-Arrowood commented on #726
Sounds good to me. You can mark this as good-first-issue in case someone else wants to take a stab at it before I get around to it

[2018-01-30 20:36] jsumners commented on #229
I think v1.0.0-rc1 should be released this week. What say you @fastify/fastify ?

[2018-01-30 20:45] allevo commented on #229
@jsumners A breaking-change issue is opened #718. #727 is another breaking-change.

[2018-01-30 21:56] delvedor commented on #229
I'd love to release a rc as soon as possible, but currently we have two breaking changes proposed. That's too much. I think that if in a week we do not found anything that could cause a breaking change, then we can release an rc and consider the api stable enough.

[2018-01-30 22:25] allevo commented on #229
Apparently, it seems a bit difficult 😃

[2018-01-30 22:29] delvedor commented on #229
@allevo that's not a problem, we do not have any fixed date, we just want to deliver a good and stable api before release v1 and I think no one can complain with this.

[2018-01-30 22:36] jsumners commented on #229
The issue is that we can come up with a breaking change every week. We, as programmers, will always see a better way to do a thing we have already done and seek to change it. No, there isn't a date set for release (I'd argue that there *should* be one), but as has been shown in the past couple of weeks, there are people already relying on Fastify with its current API. We need to lock it down *very

[2018-01-30 22:41] Ethan-Arrowood commented on #229
I don't know sort of plans you have for releasing 1.0.0, but if we are interested in publishing a blog post I have a good relationship with the FreeCodeCamp publication on Medium and could help facilitate a release article. (Would be happy to help write it as well).

[2018-01-31 01:55] jsumners commented on #327
Update: this might be merged within the next two days from the time of this comment.

https://github.com/nodejs/node/pull/15752#issuecomment-361794346

[2018-01-31 07:32] mcollina commented on #229
I think we can do as many rcs as we like. Let’s target next monday.

[2018-01-31 08:04] mcollina commented on #327
This is meat for a future release before it's available in all of our supported Node.js LTS lines.
It might simplify some of our internals, or maybe we can reengineer some code to actually leverage that.

[2018-02-01 09:05] mcollina commented on #693
In the end we opted to _not throw_ in fast-json-stringify because it would cause a significant throughput regression. However, the field is skipped (so at least it does not break the interface).

[2018-02-01 10:35] jimmiehansson commented on #629
Could perhaps send both to destruct as needed?

[2018-02-01 11:01] mcollina commented on #629
@jimmiehansson what do you mean?

[2018-02-01 12:07] jimmiehansson commented on #629
I missed the **if** in your description, can ignore my comment. I was suggesting to pass the cb and fn instance in a destructable object instead for versatility on the user facing end to defer the logic to the next iteration but that would be a rather bad proposal.

[code]

[2018-02-01 13:22] jsumners commented on #327
Right. I was just providing an update to keep people informed. This is in no way a blocker for v1.0.0

[2018-02-01 14:04] delvedor commented on #573
Fixed in `find-my-way` [`v1.10.1`](https://github.com/delvedor/find-my-way/releases/tag/v1.10.1).

[2018-02-01 14:04] #573 closed

[2018-02-02 03:28] guotie opened #740 "How to add a middleware to authenticate some request, but not all requests?"
I found the middleware is apply to all the request, if I want authenticate some request, how to do?

In some framework, you can do this like

[code]

[2018-02-02 05:27] nwoltman commented on #740
You can do something very similar by using the `beforeHandler` route option:

[code]

Be aware though that `beforeHandler` functions receive the Fastify [`Request`](https://github.com/fastify/fastify/blob/master/docs/Request.md) and  [`Reply`](https://github.com/fastify/fastify/blob/master/docs/Reply.md) objects (not Node's `req` and `res` objects, although they can be accessed as `request.req` an

[2018-02-02 07:07] guotie commented on #740
thanks.

[2018-02-02 07:07] #740 closed

[2018-02-02 09:07] delvedor commented on #740
The best thing to do is to register the middlewares (I assume express middlewares) with the `use` api and encapsulated them with a plugin.

[code]
Checkout out our [plugins guide](https://github.com/fastify/fastify/blob/master/docs/Plugins-Guide.md) :)

[2018-02-02 09:35] jimmiehansson opened #742 "onProcessExit handler for process shutdown events in respect to service cleanup"
#### You have already researched for similiar issues?

Yes

#### Are you sure this is an issue with the fastify or are you just looking for some help?

This is a mere suggestion rather than issue that may need to be addressed

#### Is this a security related issue?

Not on the application layer

#### What are you trying to achieve or the steps to reproduce?

To gracefully inform the second-party s

[2018-02-02 09:41] delvedor commented on #742
We discussed about this in the past and we decided to not have process events in core.
You can implement your own and call `fastify.close` or use [`fastify-graceful-shutdown`](https://github.com/hemerajs/fastify-graceful-shutdown).

[2018-02-02 18:21] nwoltman opened #744 "Accessing the Request object in an error handler"
Sometimes it's necessary access the Fastify `request` object inside an error handler ([`fastify.setErrorHandler`](https://github.com/fastify/fastify/blob/master/docs/Server-Methods.md#seterrorhandler)) such as to check request headers.

This can currently be done by accessing `reply.request`, but this may not be the best API (will `reply` always have the `request` property in the future?).

My que

[2018-02-02 18:43] jsumners commented on #744
I like `B`. But you're going to hear about #169 in this thread.

[2018-02-02 19:08] mcollina commented on #744
I like A. reply.request is not going away, and I would like to avoid another breakage and release 1.0.0-rc1.

[2018-02-02 19:16] delvedor commented on #744
@mcollina I agree that another breaking change is not the best thing, but expose also `request` makes the api more consistent with other apis such as the not found handler.

[code]

[2018-02-02 19:21] mcollina commented on #744
I’m ok. Can one of you send a PR? let’s get it done before Monday.

[2018-02-02 19:22] nwoltman commented on #744
I can do it 👍

[2018-02-02 20:20] jimmiehansson commented on #742
Thank you for the quick response @delvedor
Why is it necessary for the `fastify-graceful-shutdown` to implement a separate behavior though? Hence not be a default or standard.
Should the default behavior imply to support more signals in the event of interruption? Please clarify and thank you for the help 👍

[2018-02-02 20:31] delvedor commented on #742
I can do more, I can point you to the actual discussion! ;) https://github.com/fastify/fastify/issues/260

[2018-02-02 20:31] #742 closed

[2018-02-02 20:42] jimmiehansson commented on #742
Thanks for the clarification and quick response. In future for questions that may need more clarification where would I turn? Hence closing the question.
I'm partially asking this question to evaluate how the workflow and feedback is being received incase of contribution.
I'm currently in an enterprise environment where weigh and balance between proper discussions and quality assessment is of majo

[2018-02-02 20:49] delvedor commented on #742
We have just created the help repo! [fastify/help](https://github.com/fastify/help)

I'm not sure I've understood what you mean here

[2018-02-02 21:00] jimmiehansson commented on #742
Thanks :) I wasn't aware I'll look into that repo in the future 👍

In the case a process gets trapped because of paging faults, drive failure or mapping faults in memory the system will respond with other signals than those currently implemented. If this should be handled by inversion control as per plugin, the chances are larger that it will never get caught in time.

[2018-02-02 21:12] jsumners commented on #742
@jimmiehansson as you can see in the issue @delvedor linked, I'm not a fan of having a generic plugin. This is something that is *very* specific to each application. Most of them can get away with a simple:

[code]

But there are plenty of situations where your shutdown logic is going to be much more complicated. Thus, each app should have its own logic for handling shutdown.

As another example,

[2018-02-02 21:37] jimmiehansson commented on #742
Thanks for your detailed response @jsumners May I be missing how the construction of the plugin catches this in time for `fastify-graceful-shutdown` though? I will have to look further, a lot of questions since I just started looking at the code. I certainly agree that the design makes the most sense in this case since it operates very declarative.

[2018-02-02 21:39] jsumners commented on #742
I don't know anything about `fastify-graceful-shutdown` for the reasons I outlined above.

[2018-02-02 21:44] jimmiehansson commented on #742
@jsumners It makes more sense, thanks for the help!

[2018-02-02 21:54] #744 closed

[2018-02-04 02:08] nwoltman opened #748 "Consider using `.after()` inside `.addHook` and `.use` calls"
Here's a summary of the bug from fastify/fastify-cookie#5:

[code]

Since plugins are registered asynchronously, the user's call to `fastify.addHook` happens before `fastify-cookie` calls `.addHook`, so even though it looks like the user added their hook after `fastify-cookie`, it actually gets added before the cookie hook.

This could be fixed by using `this.after()` inside `.addHook` so that the

[2018-02-04 09:18] mcollina commented on #748
I think this is a good idea. @delvedor what do you think?

[2018-02-04 09:58] trivikr commented on #365
**FYI**: @valentinvichnal tested fastify with µWS in [VPS benchmarks](https://github.com/valentinvichnal/vps-compare-upcloud-linode-digitalocean#4---http)

[2018-02-04 10:03] trivikr commented on #365
uws is supported in [fastify-ws](https://github.com/gj/fastify-ws) plugin

[2018-02-04 10:06] mcollina commented on #365
Unfortunately not completely. uws also provides http equivalents, and it would be good to add support for them in here too.

[2018-02-04 13:26] jsumners commented on #748
Makes sense to me.

[2018-02-04 13:51] allevo commented on #748
It is ok for me.

**NB:** In the "hook pattern", each listener has to be independent from each other.

[2018-02-04 18:27] trivikr commented on #365
There was some discussion [on twitter](https://twitter.com/trivikram/status/960088957689065472) about this support.

[2018-02-04 20:28] jimmiehansson commented on #365
Awesome initiativ this is something that would be an excellent addition!

[2018-02-04 22:24] nwoltman commented on #748
I've been trying to implement this and now I have a question.

Since this change means that handlers—and not-found handlers—will only run hooks/middleware that are defined before the handler, what do we do about the default not-found handler? Currently it gets set when the `fastify` instance is created, which means that it won't run any hooks or middleware. Is that okay? Or should we make it a spe

[2018-02-04 23:07] mcollina commented on #748
I don't think this should be the correct plan, ideally all hooks and middlewares defined "at the same level" should all be executed. I think we might want to keep things the way we are for 1.0.0, and rethink the encapsulation model a bit for 2.0.0.

[2018-02-04 23:57] nwoltman commented on #748
In that case, we'll need to document the `fastify.after()` method.

[2018-02-05 00:36] nwoltman commented on #748
Although a problem currently is that the levels aren't consistent. For example:

[code]

We'll need to explain in the documentation to always register plugins before routes that need them and to use `.after()` for hooks/middleware that need to come after plugins.

[2018-02-05 05:59] jeromedecoster opened #749 "Null or optional response schema property"
Hi,

It is possible to have a defined or null property ?

Below, the property `HERE` define an object :
[code]
Below, the property `HERE` define a `null` :
[code]

I also saw a related old issue about optional properties https://github.com/fastify/fastify/issues/32 but nothing in actual documentation.

Thanks.

[2018-02-05 08:11] mcollina commented on #87
I've made some progress here: https://github.com/mcollina/fastify-reply-from.

I'll code a full blown solution as soon as possible.

[2018-02-05 08:21] trivikr opened #753 "error.status/error.statusCode should prevail over res.statusCode in reply"
#### You have already researched for similiar issues?
Yes, this issue was noticed in the refactor PR #750

#### Are you sure this is an issue with the fastify or are you just looking for some help?
Yes, this is an issue with fastify

#### Is this a security related issue?
No

#### Context
* *node version*: N/A
* *fastify version*: >=0.43.0
* *os*: N/A

[2018-02-05 08:22] trivikr commented on #753
This issue was discussed in https://github.com/fastify/fastify/pull/750#pullrequestreview-93892867

[2018-02-05 08:33] mcollina commented on #753
Can you show some code to reproduce? What would you expect?

BTW, this might not be an issue at all, because making `err.statusCode` prevail could cause infinite loop (I stumbled upon this).

Anyway, this needs a patch to the docs.

[2018-02-05 08:40] mcollina commented on #87
@fastify do you think we should move that to the org ^

[2018-02-05 08:42] mcollina commented on #749
Have you checked the http://json-schema.org/ documentation?
What should be the expected output for you?
Can you produce an example?

[2018-02-05 09:27] jeromedecoster commented on #749
Hi,

Thanks for the quick reply. Sorry if my question was not clear.

It's simple `127.0.0.1/api/?s=a` returns
[code]
and `127.0.0.1/api/?s=b` returns

[code]
Without schema, I can output whatever I want. But if I add a schema, it seems there is no possibility to have a "defined" or "null" result.

My actual solution is to returns an array with nothing

[code]

or "filled" with my object `{"id":12

[2018-02-05 09:32] delvedor commented on #87
@mcollina if you are ok with it, I'm 👍 !

[2018-02-05 09:41] mcollina commented on #749
You can see https://github.com/fastify/fast-json-stringify/blob/85f1e0ef5a87a0538c12d587bdf1d61c191f0e36/test/anyof.test.js how to specify different types (`"null"` included).

[2018-02-05 09:44] jeromedecoster commented on #749
`anyOf` ! Yes thank you very much

[2018-02-05 09:44] #749 closed

[2018-02-05 10:16] delvedor commented on #748
I agree that we should update the docs and make a recommendation on how register the components of the application.

[code]

I'll work on this.
Regarding the internal usage of `after` to register hooks and middlewares I'm 👍 .

[2018-02-05 13:29] jsumners commented on #87
Sounds good to me.

[2018-02-05 13:54] sarneeh opened #755 "Unhandled promise rejection on async plugin"
#### Steps to reproduce
[code]

#### What was the result you received?
The code above after running returns a `(node:21922) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code.` message.

#### What did you expect?
I expect the `async` plugin function rejection

[2018-02-05 14:50] mcollina commented on #755
You are rethrowing inside after, which is not an async function. What is weird is that it get caught within a promise, and it should not do that.
I know what's going on and I'll file a PR for this.

[2018-02-05 15:04] sarneeh commented on #755
@mcollina Uhm, yeah, well, I am rethrowing it inside `after` for a reason. I missed my case in this example, let me explain exactly what I wanted to achieve:

[code]

I have this kind of situation:
* `module1` does some setup, let's say database connection
* `module2` uses what `module1` creates

In the code above the error that I'm getting is `'nestedValue` is undefined`, but what I really wanted

[2018-02-05 15:56] nwoltman commented on #87
Sure 👍

[2018-02-05 16:29] #755 closed

[2018-02-05 17:00] mcollina commented on #755
This should be fixed in the latest avvio, 5.1.0. Please reinstall and let us know if it's ok.

[2018-02-05 17:06] zhenruyan opened #756 "I would like to add plug-ins to the official list"
[fastify-juicer](https://www.npmjs.com/package/fastify-juicer)

[2018-02-05 17:12] delvedor commented on #756
Why not add [`juicer`](https://www.npmjs.com/package/juicer) support to `point-of-view`?

[2018-02-05 17:16] mcollina commented on #756
juicer docs is mostly in chinese.

Why don't you send a PR to the ecosystem doc page?

[2018-02-05 17:28] sarneeh commented on #755
@mcollina Yup, it fixed the Promise deprecation issue! Thanks!

I have just one more question: please take a look at my previous comment - could you please explain me why in this example the error that is being thrown is the one from the second register (rather than the first one?). How can I solve this kind of dependency?

[2018-02-05 17:34] mcollina commented on #755
That might be another issue. Can you open a different thread?
I think @allevo studied a lot this use case.

[2018-02-05 17:44] nwoltman commented on #748
@delvedor If we internally use `after` when registering hooks and middleware then the result of my example will be `AB`. I think this would be a better developer experience because linear ordering is easier to work with (it's also how Express and Koa register middleware), but I'm wondering if you agree?

[2018-02-05 17:47] mcollina commented on #748
I think we might want to improve a bit the situation. Instead of generating an hook and middleware runner for every route, we should generate them for every plugin, after the plugin has finished loading. This should solve most of the issues. I remember we implemented them in this way in the beginning, but I do not remember why we changed them.

[2018-02-05 17:52] delvedor commented on #748
@mcollina to do what you suggest we should figure out a way to understand when a plugin has finished to load (can we do that outside avvio?) and then register hooks - middlewares - routes (in this order).
Basically we should popolate the context object and register the routes only at the end of the plugin work (how will this work top level?).

We add hook and middlewares for every route because we

[2018-02-05 17:53] mcollina commented on #748
No. I mean that the route context links to a plugin context, which includes all those details which will be shared.

[2018-02-05 17:56] nwoltman commented on #748
@mcollina That makes sense. It was probably changed because of this:

[code]

They're all at the same level, but `plugin-2` gets registered after the `get('/1')` route is already set up.

[2018-02-05 18:15] nwoltman commented on #748
@mcollina A solution would be to have hooks/middlware use `after` and then have routes use `ready`. That way, routes will be set up once all of the plugins/hooks/middleware for the Fastify instance are ready. However, this is only possible if `ready` doesn't automatically start the boot process.

[2018-02-05 18:23] mcollina commented on #748
Let’s just document what we have and ship 1.0.0. Then we can focus on this issue

[2018-02-05 21:17] delvedor commented on #229
The first release candidate is out! 🎉
https://github.com/fastify/fastify/releases/tag/v1.0.0-rc.1

[2018-02-06 10:15] sarneeh opened #757 "Plugin loading order - throwing exceptions"
Hey!

I'm coming with another issue. I have a problem with (understanding?) the plugin loading order.

Consider this example:

* I have a `module1` which i.e. initializes the database and decorates fastify `fastify.db`
* I have `module2` which uses `fastify.db.doSomething()`
* Obviously, plugin `module2` depends on `module1`

And now let's say that in `module1` the connection to database didn't wo

[2018-02-06 11:05] jimmiehansson commented on #757
They're running in different contextual cycles, your first plugin is set to await a timed result that will not be executed in the same context, which is also a blocking call. To my knowledge there is no implementation for Fastify to create a DI hook based on the awaited results. This is the power of the node core. I might have completely misunderstood the issue, but how could you otherwise catch t

[2018-02-06 11:10] allevo commented on #757
I've opened a PR on `avvio` (the fastify plugin system) here https://github.com/mcollina/avvio/pull/45
There I've only added a failing test.

Consider those lines:
[code]

If `moduleA` registration fails, the registration of the `moduleB` is performed anyway.

I'm looking for a solution inside `avvio` to make this behaviour configurable.
If you want, please file another PR!!

[2018-02-06 11:22] mcollina commented on #757
This addresses the issue https://github.com/mcollina/avvio/pull/48, without compromising `.after()`.

Check it out.

[2018-02-06 14:34] mcollina commented on #748
This was regressed in https://github.com/fastify/fastify/pull/474. This is caused by the hookRunner (and before that fast-iterator) creating a closure inside `.after` from within `.route`. Note that this happens only when plugins are involved, otherwise after takes care of them.

This is a test that reproduces the problem:

[code]

[2018-02-06 15:11] #757 closed

[2018-02-06 15:26] delvedor commented on #748
The problem is generated here:
https://github.com/fastify/fastify/blob/efc4525236b1d2831521fd3735001d110efc83dd/fastify.js#L490

Since we use concat we loose the reference to the instance hooks and we don't get any further updates. If you run the same test with `onRequest` everything will work as expected.
I'll work on a solution.

[2018-02-06 16:04] sarneeh commented on #757
Thank you!  👍

[2018-02-07 19:08] jsumners opened #763 "Plugins cannot specify a satisfactory version range"
Currently, with `v1.0.0-rc.1` available, it is not possible to boot a Fastify instance that relies on versioned plugins, e.g. `fastify-cookie`. The issue is that `fastify-plugin` can't determine a range that includes 0.y.z releases along with rc release. This is because the `semver` package *does not follow the semver spec*. From the spec:

https://semver.org/#spec-item-11

From the `semver` packa

[2018-02-07 21:37] mcollina commented on #763
I think fastify-plugin should be a little bit smarter than what it does right now, mainly drop `-rcX`  from `1.0.0` prefixed releases. It would fit our need.

I also plan to change all the plugins from `>= 0.43.0` to `^1.0.0`, which means they will support only one major, and they will require a new release when we bump the major.

[2018-02-07 21:47] jsumners commented on #763
I have been planning to wait for 1.0.0 before issuing updates to the plugins I write.

[2018-02-07 21:48] smartiniOnGitHub opened #764 "Missing plugin for use i18n labels"
#### You have already researched for similiar issues?
Yes, but din't find anything.
Thre are many for Express, and some generic like [i18next](https://github.com/i18next/i18next), [i18n-node](https://github.com/mashpie/i18n-node), etc.

#### Are you sure this is an issue with the fastify or are you just looking for some help?
This mainly is a discussion (already posted in Fastify Gitter Chat) to u

[2018-02-07 21:53] delvedor commented on #763
I agree with @mcollina, but I think we should print a warn about this.

[2018-02-08 00:41] zenflow commented on #511
@mcollina I think this may have been closed in error. This is not related to configuring Ajv, and is not Ajv-specific. It is a completely different issue than #493.

[2018-02-08 00:51] zenflow commented on #511
The same statement applies to computers in general - they add a completely new layer of complexity for some (very much) convenience.

I think perhaps you underestimate *how much* convenience this would add. Being able to contain the business logic of json validation in a single place (json schema), rather than duplicating it in two places (front-end and back-end) would be *very* convenient, and (1

[2018-02-08 01:17] zenflow commented on #511
@delvedor What type of overhead are you concerned about? Performance, complexity, and or something else? I want to prepare a PR, and make sure that there is no overhead in terms of performance, and next to no overhead in terms of complexity (I think this is possible). Are there any other concerns you have that would prevent you from approving such a PR?

I have concerns about the approach of (maki

[2018-02-08 09:08] mancioshell opened #767 "Fastify listen missed backlog parameter"
Is it possibile to support backlog parameter to fastify listen method?
server.listen from http module support it:
[code]
It seems fastify support only port, host and callback as listen parameters.

[2018-02-08 09:20] delvedor commented on #767
At the moment is not supported.
Would you like to send a pr? :)

[2018-02-08 09:22] delvedor commented on #756
Closing due to inactivity.

[2018-02-08 09:22] #756 closed

[2018-02-08 09:23] delvedor commented on #748
Closed by #762.

[2018-02-08 09:37] mcollina commented on #707
Yes, definitely.

`rawBody`  is not feasible, due to increased memory usage I am very against exposing this.
I'm very open to add a way to skip the default JSON parsing completely, both as route-level option and as an encapsulatable plugin option.

If it does not cause significant performance regressions I'm also ok in _removing_ the inlined json parsing, and just setup a contentTypeParser for JSO

[2018-02-08 09:38] delvedor commented on #511
@zenflow there is no way to support sync and async validation at the same time.
The validator would become a function with a `done` callback, then we should handle errors and add a new layer in our optimized path.
Async-await? Same thing, you should handle the promise and compromise again the optimized path.
Our validation system is designed to be extremely fast and not add any overhead to (y)our

[2018-02-08 16:34] nwoltman commented on #748
With the fix from #762 the result of my [example](#issuecomment-362954220) will be `BDAC`. @delvedor are you no longer interested in using `after` to make the result `ABCD`?

[2018-02-08 20:51] mcollina commented on #229
Fastify has come a long way! Should we pick a date and release then? I do not want to keep the rc going for more than 2-3 weeks.

[2018-02-08 20:54] jsumners commented on #229
March 1?

[2018-02-08 20:56] mcollina commented on #229
I like March 1!

[2018-02-08 21:30] allevo opened #768 "Move all (?) examples into fastify/example"
We have https://github.com/fastify/example repo.

Should we use it for keeping the examples?

All examples?

If yes, we should rethink `npm run bench` script .

Please vote! 👍 for moving, 👎  for keeping it there.

cc @fastify/fastify

[2018-02-09 06:47] mcollina commented on #768
I am -1

[2018-02-09 09:42] delvedor commented on #768
I think we should keep them here.
Maybe add a `npmignore` could be a nice thing to do.

[2018-02-09 10:17] delvedor commented on #748
Currently I have no time for that, but if you can, fire a pr! :)

[2018-02-09 12:03] mancioshell commented on #767
Hi, @delvedor i'have just published #769 pull request for this issue. This is my first pr, so i hope i haven't done wrong things :)

[2018-02-09 17:06] mcollina commented on #767
Fixed.

[2018-02-09 17:06] #767 closed

[2018-02-09 17:07] mcollina commented on #763
This should be fixed in https://github.com/fastify/fastify-plugin/pull/21

[2018-02-09 17:07] #763 closed

[2018-02-09 17:21] mancioshell commented on #767
Is it possible to publish a new version on npm ?

[2018-02-09 17:23] delvedor commented on #767
@mancioshell the next rc release is scheduled on next monday. We should wait for https://github.com/fastify/fastify/issues/748.

[2018-02-09 22:23] mcollina commented on #294
I think we should codify this. Anyone willing to do a draft?

[2018-02-11 22:19] rpedela commented on #707
I noticed that when adding a new content parser, the user needs to handle the body stream. While that is certainly useful if you need a streaming parser, I think the most common use case is to collect the entire body and then parse. Should ```addContentTypeParser()``` return a buffer instead and then the user can decide how to parse the buffer? It would be similar to how the ```raw``` parser works

[2018-02-11 23:28] mcollina commented on #707
@rpedela considering it's very easy to collect all the data coming from a stream, how about we document how to do that?

There are various ways to do this, and a generic approach would definitely have more overhead than the fast path we have for strings right now. Parsing a JSON from buffers would slow us down significantly. There are too many cases, and I would like to keep our API tidy, and docu

[2018-02-11 23:32] mcollina commented on #87
Here it is: https://github.com/mcollina/fastify-http-proxy.

Should I move this as well?

[2018-02-11 23:44] rpedela commented on #707
I don't agree it is "very easy". It certainly isn't hard either. In order to do it correctly, there are several error cases which need to be handled which ```jsonBody()``` already does. It is something that every user will have to implement themselves the same way. Why force that on users? Besides if you remove ```JSON.parse()``` from ```jsonBody()```, you have the generic, just as fast, body hand

[2018-02-12 00:04] nwoltman commented on #707
It is "very easy" if you use the [`raw-body`](https://www.npmjs.com/package/raw-body) module:

[code]

[2018-02-12 00:24] jsumners commented on #87
I believe the consensus is "yes".

[2018-02-12 01:00] charlesread opened #777 "AssertionError cannot be caught"
Good day, I am trying to do some integration testing and have found what I think is a bug somewhere along the lines.  I can't seem to catch an `AssertionError` in the code below, it always throws the `AssertionError` also listed below.

[code]

[code]

* *node version*: 8
* *fastify version*: >=1.0.0-rc.1
* *os*: Mac

[2018-02-12 01:46] jsumners commented on #777
See #778

[2018-02-12 14:06] jsumners commented on #229
Looks like people have voted that March 1 be the v1.0.0 target date.

[2018-02-12 14:11] yamalight commented on #229
@jsumners maybe it's also worth releasing RC versions for all official extensions?
at least some of them are currently [incompatible](https://github.com/fastify/fastify-auth/issues/9) with 1.0-rc1

[2018-02-12 14:28] jsumners commented on #229
@yamalight it's up to the maintainers of the plugins to do that. I released updates yesterday for the ones I maintain. PRs to currently incompatible plugins would be helpful. Basically, they need:

[code]

And after the rc phase, they should change the minimum version to `^1.0.0`.

[2018-02-12 16:13] Ethan-Arrowood commented on #229
@jsumners I'll make some prs against the JWT libraries later today

[2018-02-13 06:06] amitguptagwl opened #780 "hasContentTypeParser API documentation is missing"
While looking for the solution for handling [multiple contenttype for parsing](https://github.com/fastify/help/issues/1), I found that documentation for `hasContentTypeParser` API is missing from the [example](https://github.com/fastify/fastify/blob/master/examples/parser.js) as given on page [ContentTypeParser](https://github.com/fastify/fastify/blob/master/docs/ContentTypeParser.md)

[2018-02-13 08:08] delvedor commented on #780
Hi! Would you like to send a pr to fix this? :)

[2018-02-13 08:54] amitguptagwl commented on #780
I would love to do that. But I couldn't find it's documentation or example anywhere that I can document. However let me check the code and see how can I figure out that.

[2018-02-13 08:55] delvedor commented on #780
Here :)
https://github.com/fastify/fastify/blob/master/docs/ContentTypeParser.md

[2018-02-13 09:13] delvedor commented on #87
Yup!
And maybe add it to the ecosystem list!

[2018-02-13 10:03] amitguptagwl commented on #780
I just tried this in my code and found that it returns true/false if there is a parser handling given content type .

[code]

[2018-02-13 10:10] amitguptagwl commented on #780
PR raised. @delvedor feel free to reject the PR if it looks better to combine in single example instead of having multiple code examples.

[2018-02-13 10:10] #780 closed

[2018-02-13 14:02] cortopy opened #783 "Response headers validation"
I would like to define response headers for two reasons:
- response full validation (headers are still optional so no performance penalty if users don't want it)
- swagger documentation of responses

This is currently not possible in fastify since there is no headers object in the default reply serializer.

Ideally, there would be something like this instead of the current object definition:

[cod

[2018-02-13 14:24] mcollina commented on #783
My preference would be for this to be done with an ecosystem plugin. I'm not sure this 100% possible.
This is useful metadata for swagger anyway, so we should provide a way to add the info, even if we do not act on it.

Side note: we do not validate the response. The response is serialized according to a schema, but a full validation is not performed, i.e. we do not throw if it does not match the

[2018-02-13 15:02] cortopy commented on #783
If `headers` would only act as metadata, then a plugin could be written without changing anything in fastify. Adding a headers object to a response definition doesn't throw, and plugins could parse that.

But if the response doesn't comply with the schema, an Error is thrown.

If I have this schema:

[code]

and then I send `reply.code(200).send({})` I get:

[code]

Perhaps I didn't understand thi

[2018-02-13 15:05] mcollina commented on #783
It performs some _basic_ validation, but it's not a fully compliant json-schema validator.

[2018-02-13 21:34] #87 closed

[2018-02-13 21:52] jsumners commented on #723
I'm re-opening this. I think the reason *why* the return value cannot be `undefined` needs to actually be explained in the documentation. Simply stating that the return value cannot be `undefined` is not sufficient.

[2018-02-13 22:06] mcollina commented on #707
@jsumners how about:

[code]

[2018-02-13 22:20] jsumners commented on #707
That looks like a good API.

[2018-02-14 07:36] allevo commented on #723
If you set the status code to 204, works fine.

[2018-02-14 12:11] delvedor commented on #707
I'm working on this.

[2018-02-14 17:49] allevo opened #786 "Router bug"
#### What are you trying to achieve or the steps to reproduce?

[code]

#### What was the result you received?

The second assertion throws. `response2.statusCode === 200`

#### What did you expect?

`response2.statusCode === 404`

#### Context

* *node version*: 8
* *fastify version*: "8aa6b1d" (master)
* *os*: *
* *any other relevant information*: maybe it is a `find-my-way`

I'll file a PR in o

[2018-02-14 17:50] mcollina commented on #786
If you do not use fp, the prefix is automatically handled for you.

[2018-02-14 17:56] rpedela commented on #707
@delvedor Thanks!

[2018-02-14 18:48] allevo commented on #786
@mcollina yeah.

CURLing to `POST /aa/bulk`, 200 is returned.
CURLing to `POST /bulk`, 404 should be returned, but 200 is returned. This is a bug

The test fails on the second check.

[2018-02-15 12:30] #748 closed

[2018-02-15 12:31] mcollina opened #788 "Use symbols to avoid exposing internal properties in fastify main object"
As an example, `fastify._hooks` should become `fastify[hooksKey]` where `const hooksKey = Symbol('fastify.hooks')`.

[2018-02-16 10:52] greenkeeper[bot] opened #789 "An in-range update of pino is breaking the build 🚨"
## Version **4.11.0** of [pino](https://github.com/pinojs/pino) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Fpino-4.11.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      pino
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2018-02-16 10:54] mcollina opened #790 "Skip appveyor from greenkeeper"
As titled.

[2018-02-16 10:57] delvedor commented on #790
While I generally agree because AppVeyor is **really** slow, why?

[2018-02-16 11:16] mcollina commented on #790
It failed a greekeeper run for pino on one of the versions.

[2018-02-16 14:44] jsumners commented on #790
Fine by me.

[2018-02-16 14:51] jsumners commented on #788
I was concerned this might make debugging more difficult, but setting a break point within the `listen` callback of `examples/hooks.js` shows that it will not be so:

![2018-02-16 09-49-59 hooks js fastify](https://user-images.githubusercontent.com/321201/36313256-fb92bcc8-12fe-11e8-9aff-4d489ff1fae2.png)

I'm 👍 with this idea.

[2018-02-16 22:00] mcollina commented on #777
Fixes in avvio 5.4.0. Just updated your dependencies and it should pick it up automatically.

[2018-02-16 22:00] #777 closed

[2018-02-17 04:14] charlesread commented on #777
Thanks!

[2018-02-17 10:45] alizahid opened #791 "Memory leak with RC 2"
Upgraded from RC 1 to RC 2 today, and got this error

I also have `cors` 2.8.4 and `fastify-multipart` 0.4.1 if that may matter

I have my app setup like this

### index.js

[code]

### routes/users.js

[code]

The weird thing I've noticed is that if I only have two routes exported out of my module, eg, `createUser` and `updateUser`, the error doesn't throw. But any more than two triggers the warn

[2018-02-17 15:37] delvedor commented on #791
Should be fixed by https://github.com/mcollina/avvio/releases/tag/v5.4.1.
Can you reinstall your dependencies and try again?

[2018-02-17 16:44] StarpTech opened #793 "Validate fastify config objects"
I think it's a very useful feature when the user receives immediate feedback when he uses a wrong configuration schema. It would also serve as a source of documentation. Hapi does it and it was a great feedback when experimenting with it for the first time. This could be easily solved with json-schemas.

We should also document all fastify options at a central place instead to scatter them on diff

[2018-02-17 16:48] mcollina commented on #793
I think it would be a valuable feature. However plugins might need to extend those, and we might have to provide a way to ensure estensibility.

Would you like to give it a spin? Bear that it might be a disruptive change, and we might decide to park it (March 1st!).

[2018-02-17 16:56] StarpTech commented on #793
Yes, I can work on it.

This is no problem because we could enable "additionalProperties" at some places while validating the core options.

[2018-02-17 18:36] jsumners commented on #793
Do you mean? https://github.com/fastify/fastify/blob/1ee7439d0a6fc1110db68c888f2fdcf5b370fdb5/docs/Factory.md

[2018-02-17 18:41] StarpTech commented on #793
@jsumners never saw it. We should add it to the index and rename it to `Options`

[2018-02-17 19:55] jsumners commented on #793
It's linked from https://github.com/fastify/fastify/blob/master/docs/Server-Methods.md#server-methods because

[2018-02-17 21:19] Imtnt opened #794 "application/json parser should attach the raw body content"
For signature verification purposes, I need the raw unparsed content of the body on a request using application/json.  Could either this be added to the built in parser, or could overriding the json parser be supported?

[2018-02-17 21:55] astesio commented on #791
I had a similar problem, although my project structure is different, I have a logic that makes the reading of routes automatically, and I got the same error. More routes normally work, just notice the warning on the terminal.
`node:20910) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 preReady listeners added. Use emitter.setMaxListeners() to increase limit`

[2018-02-17 22:17] jsumners commented on #794
See #785

[2018-02-18 11:13] delvedor commented on #794
From the latest version ([`v1.0.0-rc.2`](https://github.com/fastify/fastify/releases/tag/v1.0.0-rc.2)) you can overwrite the default json parser, as shown [here](https://www.fastify.io/docs/latest/ContentTypeParser/).

[2018-02-18 11:15] delvedor commented on #791
It should be fixed in the latest version of `avvio`, can you please reinstall your dependencies and try again?

[2018-02-18 13:16] alizahid commented on #791
Reinstalling dependencies didn't help. I even tried installing `avvio` v5.4.1 as a peer dependency, but the warning remains.

Did you mean something else?

[2018-02-18 13:20] delvedor commented on #791
I'll run some more test.
In the meantime do not worry about the warning, is an internal event that we are using during the bootstrap of the application and will not cause any problem during the normal lifecycle.

[2018-02-18 13:40] mcollina commented on #791
Can you upload a full example that exhibits that behavior? Which versions of Node and NPM are you using?

[2018-02-18 14:06] alizahid commented on #791
@delvedor Weirdly, when I tried to replicate this from scratch, I couldn't. I think it was my `yarn.lock` which prevented `avvio` from updating properly.

@mcollina This is the full example anyway.

Node v9.5.0
NPM v5.6.0
Yarn v1.3.2

[code]

[2018-02-19 08:50] delvedor commented on #791
@alizahid so when creating the project from scratch the warning does not appears anymore?

[2018-02-19 08:51] delvedor commented on #783
Closing this, if you have more questions feel free to reopen :)

[2018-02-19 08:51] #783 closed

[2018-02-19 08:52] delvedor commented on #707
Closing this, if you have more questions feel free to reopen :)

[2018-02-19 08:53] delvedor commented on #294
Closed by #774.

[2018-02-19 08:53] #294 closed

[2018-02-19 10:43] alizahid commented on #791
@delvedor No. All looks good! Thank you. 👍

[2018-02-19 10:43] #791 closed

[2018-02-19 10:44] delvedor commented on #791
Perfect, thanks!

[2018-02-20 13:25] PavelPolyakov opened #799 "only pino supported as logger"
#### What are you trying to achieve or the steps to reproduce?

I wanted to try to use my custom logger, according to the documentation I can pass any, which matches the certain format.

Here is my code:
[code]
I believe problems are there because of `child` thing, but it doesn't work with the `noop` function or `pino.child` without any binding.

What have I missed? And how would you achieve the t

[2018-02-20 14:24] jsumners commented on #799
Your "expected" lines look very much like the second line of the "result received" example.

I don't the title is quite right. You are supplying a Pino instance, but one that you have modified. Fastify is dutifully using that logger as you have shown in your examples.

I don't understand this statement:

Please show an example of what you mean.

[2018-02-20 14:37] PavelPolyakov commented on #799
@jsumners
Thanks for looking into the 2nd of my issues, I was wrong with copying expected result.

I expect that `fastify` will use `updated` logger, therefore in each of the logged events `serviceName`,`environment`, `@timestamp`, `@version` would be present. While the log which `fastify` does is "short", looks like it's done NOT by my logger object, but with the default one.

if I do this:
[code

[2018-02-20 17:14] nwoltman commented on #799
This isn't an issue with Fastify. The problem is with how you're creating a child logger.

[code]

That doesn't work because you're binding pino's `child` method to `pino`, so it will create a new child of `pino` and not a child of your `logger` object.

[code]

That also doesn't work because you're trying to use pino's `child` method on your `logger` object, but that's not possible because the me

[2018-02-20 17:50] PavelPolyakov commented on #799
@nwoltman
Thanks, this solves my issue with timestamp. Honestly I was searching for this in the docs, but thought these is only a dance around `time`.

But one question still remains, is it possible to provide a wrapper instead of the pino instance? It seems that `fastify` heavily relies on `pino`, especially it's `child` method (and further the road I saw the errors of missing `_setLevel` etc.

[2018-02-20 17:58] jsumners commented on #799
The `_setLevel` error was internal to Pino because your wrapping broke the Pino instance.

As you quoted originally, Fastify supports any logger that matches the API of Pino. That includes having a `child` method.

[2018-02-20 18:07] nwoltman commented on #799
@PavelPolyakov Yes it certainly is possible to provide a wrapper instead of a pino instance. Here's how you'd write your original example to make it work:

[code]

[2018-02-20 18:12] PavelPolyakov commented on #799
@nwoltman @jsumners
Thanks, you are the best!

Hope this thread helps somebody.

[2018-02-20 18:12] #799 closed

[2018-02-20 19:42] jsumners opened #801 "Audit documentation and website"
Prior to issuing v1.0.0, we need someone who is familiar with the website generation process to audit the documentation and website to determine what fixes need to be implemented. For example, on https://www.fastify.io/docs/latest/Server-Methods/ click the "Fastify factory function" link. Notice that it does not work.

I really have no idea how we are supposed to write the documentation such that

[2018-02-20 19:57] delvedor commented on #801
cc @lmammino

[2018-02-21 18:42] corbinu commented on #623
@jsumners Thanks for taking this on. If I can give my two cents. I really admire/like the way the eslint project is run. Might be good to take a bit from their documentation on how they handle this.

[2018-02-21 19:01] jsumners commented on #623
I need to get back to this. I'll look at the eslint stuff when I do.

[2018-02-21 19:28] simoroshka commented on #161
can backpack work with fastify now, or do you need to integrate it first?

[2018-02-21 21:51] goriunov opened #804 "HTTP.createServer().on('request', fastify) does not work"
Hello, i am just wondering if it is possible to use `fastify` together with `createServer()` from standard Node.js http/https, for example:

[code]

If yes then how can i do it, and if no it would be good to have this functionality.

I know that we can do it with `express` and `koa`. Thank you.

[2018-02-21 23:07] jsumners commented on #804
What benefit would that give?

[2018-02-21 23:11] goriunov commented on #804
For example i will be able to use fastify with libraries such as socketcluster or clusterws (i am a developer of clusterws)

[2018-02-22 00:31] nwoltman commented on #804
Fastify doesn't support that format because it's initialization process is asynchronous.

However, what you can do is use the [`fastify.server`](https://github.com/fastify/fastify/blob/master/docs/Server-Methods.md#server) property:

[code]

[2018-02-22 01:34] mihao2002 opened #805 "It is possible to send chunked response from fastify service?"
I am trying to see if it is possible to send chunked response (Transfer-Encoding : chunked) from a fastify service.

I read the fastify code, and it seems to me that the only way to send response is to call "reply.send(payload)", but when it is called, the service response will be ended, leaving no chance to append another chunk to the response stream.

Please advise.

Thanks

[2018-02-22 07:33] mcollina commented on #805
Currently it is not. You cannot do subsequent calls to .send() during a single route/hook. I think you can achieve what you need by passing a Readable stream to send.

Can you add some code that uses either node core or express so that I understand what you want to achieve?

[2018-02-22 11:08] mcollina commented on #161
I think backpack is not related to fastify, so you should be able to use it.
However I'm not recommending anyone to use that.

[2018-02-22 13:39] smartiniOnGitHub opened #806 "Add fastify-favicon to community plugins list"
Checklist
run npm run test and npm run benchmark
tests and/or benchmarks are included
documentation is changed or added
commit message and code follows [Code of conduct](https://github.com/fastify/fastify/blob/master/CODE_OF_CONDUCT.md)

[2018-02-22 13:44] smartiniOnGitHub commented on #806
To ensure it really works (other than usual tests and example) I just used it in a sample webapp: [fastify-example](https://github.com/smartiniOnGitHub/fastify-example)

[2018-02-22 13:51] smartiniOnGitHub commented on #806
Related PR is: [PR#807](https://github.com/fastify/fastify/pull/807)

[2018-02-22 17:17] mihao2002 commented on #805
Our web service needs to send large volume of data back to client, and we want to pipe portion of data to client whenever it is ready. So ideally, what I want to achieve can be illustrated by the following pseudo-code:

onPost = (req,res)=>
{
 ...
    while (!data.End)
    {
        var readyPortion = data.GetDataReadyAndNotProcessed();

       // This one will send the portion of data back to cli

[2018-02-22 17:22] jsumners commented on #805
Sending a stream is the way to do what you want. HTTP is a stream protocol, after all.

[2018-02-22 18:26] mihao2002 commented on #805
Then how can I deal with the missing content-length header in the response? Meanwhile, without the "transfer-encoding: chunked" support, client has no idea on the boundary of each chunk.

[2018-02-22 20:03] nwoltman commented on #805
When sending a stream, the `Transfer-Encoding: chunked` header is automatically set.

If Fastify's [`reply.send()`](https://github.com/fastify/fastify/blob/master/docs/Reply.md#send) method doesn't suit your needs though, you can always use Node's native [`res`](https://nodejs.org/dist/latest-v8.x/docs/api/http.html#http_class_http_serverresponse) object which is available on [`reply`](https://git

[2018-02-23 11:48] mcollina commented on #805
Can you please add some javascript code on how you are doing this right now without Fastify?

[2018-02-23 21:21] goriunov commented on #804
That is not really appropriate solution unfortunately. But any way thank you.

[2018-02-23 23:47] mcollina commented on #804
I think it should be possible to expose this through a promise/callback, or making this available _only after `ready()` is called.

@nwoltman @delvedor would that work for you?

[2018-02-24 04:54] nwoltman commented on #804
That's certainly alright with me. @goriunov Would that solve your problem?

[2018-02-24 07:07] goriunov commented on #804
Yes this will be good way, for example `koa` does the same  with `app.callback()
`

[2018-02-24 09:30] mcollina commented on #804
PR?

[2018-02-25 17:29] nwoltman commented on #806
Closing since #807 was merged.

[2018-02-25 17:29] #806 closed

[2018-02-26 10:03] shuperry opened #810 "Shorthand routes options support handler function"
Can we support handler in options at Shorthand routes.

[2018-02-26 10:12] mcollina commented on #810
I'm a bit lost why this is needed. It is possible to add such support, but I do not know why it would be good to do so.

[2018-02-26 10:49] smartiniOnGitHub commented on #806
Thanks a lot :-)

[2018-02-26 11:30] shuperry commented on #810
When handler can put into options, and we collapse code, our code will be much more cleaner like this:/Users/perry/Desktop/D680BE75-D62A-4F85-9B30-3A30FE542D18.png

[2018-02-26 11:46] mcollina commented on #810
This is something easy, maybe would you like to do a PR?

[2018-02-26 14:30] shuperry commented on #810
All right, I will do a PR.

[2018-02-27 12:52] jsumners commented on #801
@lmammino do you have any input here?

[2018-02-27 20:16] mcollina opened #817 "drop node 4 support for 1.0.0"
Node 4 is going EOL in two months. I think we can stop supporting it right now and not wait for _our_ next LTS cycle.

@fastify?

[2018-02-27 20:20] jsumners commented on #817
Yes!

[2018-02-27 20:33] corbinu commented on #817
Totally agree!

[2018-02-27 22:03] allevo commented on #229
I'd like to wait for https://github.com/delvedor/find-my-way/issues/60

[2018-02-27 22:07] delvedor commented on #229
If someone wants to give a try to that issue be my guest!
I'll give it an eye asap, but at the moment I'm stuck at work.

[2018-02-28 00:45] mihao2002 commented on #805
Here is it. I verified that node core can support chunked http response. Bellow is the sample server code:

var http = require('http');
var stream = require('stream');

http.createServer((req, res) => {
	res.writeHead(200, { 'Content-Type': 'text/html' });

	// Create a buffer to hold the response chunks
	var buffer = new stream.Readable();
	buffer._read = ()=>{};

	// Pipe the buffer to the respo

[2018-02-28 08:44] delvedor commented on #817
Agree.

[2018-02-28 09:18] mcollina commented on #805
This is working as expected:

[code]

[2018-02-28 19:15] lmammino commented on #801
Sorry for the very late reply, I have been very busy lately 😞

The issue with that specific example is that it does not use the markdown markup for the link (see https://raw.githubusercontent.com/fastify/fastify/master/docs/Server-Methods.md)

[code]

We should change it to proper markdown in order for the current build process to pick it up and be able to update the link so that it works inside t

[2018-02-28 19:54] lmammino commented on #801
If it's just a matter of styling here, wouldn't this markdown generate the same result:

[code]

---

**Preview**:

[**`Fastify factory function`**](https://github.com/fastify/fastify/blob/master/docs/Factory.md).

[2018-02-28 20:01] jsumners commented on #801
I think what it comes down to is we should have a style guide we can easily reference.

[2018-03-01 13:45] jsumners commented on #794
Closing because I think this has been answered. Please re-open if you have further questions.

[2018-03-01 13:45] #794 closed

[2018-03-01 14:02] #789 closed

[2018-03-02 21:50] delvedor commented on #786
Fixed in https://github.com/delvedor/find-my-way/pull/65 :)

[2018-03-02 21:50] #786 closed

[2018-03-02 21:55] delvedor commented on #229
The router bug has been fixed.
The `v1.0.0` release is planned for the 5th of march! *(unless very serious bugs comes out)*

[2018-03-03 01:52] greenkeeper[bot] opened #824 "An in-range update of find-my-way is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **1.10.2** of [find-my-way](https://github.com/delvedor/find-my-way) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Ffind-my-way-1.10.2">Bui

[2018-03-03 05:31] nwoltman opened #825 "reply.serialize() is untested"
Currently, there is only one test that touches `reply.serialize()` and all it does is check that it's a function.

https://github.com/fastify/fastify/blob/bebddc5817d6e23c4a802d9449525f27b618e65a/test/internals/reply.test.js#L22

[2018-03-03 11:27] delvedor commented on #824
Fixed in https://github.com/delvedor/find-my-way/pull/68.

[2018-03-03 11:27] #824 closed

[2018-03-03 18:05] MathieuDoyon opened #826 "Logger responseTime is null on 1.0.0-rc.3"
on *version 1.0.0-rc.3* the logger responseTime return null.

this line return `undefined` instead of the current time
https://github.com/fastify/fastify/commit/f545accb2976d54a63a573cc187a0b0472cba972#diff-20da0b6140a4768d182af0d9b185ac28R208

[code]

[2018-03-04 09:13] mcollina commented on #826
cc @allevo

[2018-03-04 09:13] mcollina commented on #826
Good spot!

[2018-03-04 19:02] #826 closed

[2018-03-05 16:51] thearegee opened #830 "Extendable response received logs"
When using Fastify logging with level set to `info` on a request you get both `incoming request` and `request completed`.

`request completed` contains a responseTime metric (although currently has a bug https://github.com/fastify/fastify/issues/826)- this could be useful for reporting on application performance per route. However it currently doesn't contain the URL, this can be found within the

[2018-03-05 17:24] mcollina commented on #830
This seems to ask for three different things at the same time:

* [ ] expose `res._responseTime` as a more consumable API
* [ ] provide a flag to change level of the default request logging
* [ ] document how to use the above two points inside an hook to actually do custom logging

Most of those would qualify as good-first-issue, so would you like to send a PR?

[2018-03-06 10:19] thearegee commented on #830
@mcollina sounds great, will look into it, might need pointing in the right direction

[2018-03-06 10:22] mcollina commented on #830
@thearegee let me know if you have specific questions, or just open a quick PR with your ideas if it's easier to flash out in code.

[2018-03-06 10:27] thearegee commented on #830
Ok great... I'm going to implement the feature that will use it, then work on this.

[2018-03-06 16:09] smartiniOnGitHub commented on #623
Hi all, some useful reference:
- [PMCs - Apache](http://www.apache.org/foundation/governance/pmcs.html)
- [How Apache Works](https://www.apache.org/foundation/how-it-works.html)
on a biger scale ... where core Fastify Team Members could be seen as the PMC.
Hope this helps. Bye

[2018-03-06 16:10] mcollina commented on #623
@smartiniOnGitHub this is on my list post 1.0.0.

[2018-03-06 16:47] delvedor commented on #229
I guess we can close this one :)

https://medium.com/@fastifyjs/fastify-goes-lts-with-1-0-0-911112c64752

[2018-03-06 16:47] #229 closed

[2018-03-06 17:40] smartiniOnGitHub commented on #623
@mcollina great !! If I can help tell me (I have some experience at Apache :-) ).

[2018-03-06 18:49] israeleriston opened #833 "Using fastify with babel"
#### You have already researched for similiar issues?
It's not uncommon that somebody already opened an issue or in best case it's already fixed but not merged. That's the reason why you should [search](https://github.com/fastify/fastify/issues) at first before submitting a new one.

#### Are you sure this is an issue with the fastify or are you just looking for some help?

Issues should only be p

[2018-03-06 19:22] mcollina commented on #833
You will have to instantiate the framework.

[code]

[2018-03-06 19:22] #833 closed

[2018-03-06 20:04] israeleriston commented on #833
@mcollina thank's so much!!!

[2018-03-06 21:21] jsumners opened #834 "Cannot set multiple headers of the same name"
After this change: https://github.com/fastify/fastify/blame/5c29591ed64618b7428e0ccf8158d84c539e84b1/lib/reply.js#L83-L86

It is impossible to set multiple instances of the same header name. In turn, this makes impossible to send multiple cookies in one request (a totally valid thing to do). Additionally, it also makes the following check always return false -- https://github.com/fastify/fastify-c

[2018-03-06 21:26] mcollina commented on #834
Would you like to send a PR for this?

[2018-03-06 22:37] vforv opened #835 "Serialization and arrays"
Some of my responses should return array, like this:

[code]

this is schema response validator.

but when I put type as array I am getting error:

[2018-03-06 22:43] delvedor commented on #835
Hi! Thank you for checking out Fastify!
I suggest you to read [understanding-json-schema](https://spacetelescope.github.io/understanding-json-schema/reference/array.html), it is a nice guide!
When declaring an array you **must** use the `items` property:
[code]

[2018-03-06 23:21] vforv commented on #835
Thanks, I will check it.

[2018-03-06 23:21] #835 closed

[2018-03-07 11:47] #768 closed

[2018-03-07 11:49] delvedor commented on #753
Closing due to inactivity, feel free to reopen :)

[2018-03-07 11:49] #753 closed

[2018-03-07 11:52] delvedor commented on #693
Can we close this?

[2018-03-07 11:53] delvedor commented on #208
https://github.com/fastify/fastify-elasticsearch

[2018-03-07 11:53] #208 closed

[2018-03-07 13:04] #834 closed

[2018-03-07 13:26] #693 closed

[2018-03-08 05:29] rabbitmeow opened #840 "require querystring"
hello? how to do that?

[2018-03-08 08:08] mcollina commented on #840
it is not clear what you want to achieve. Can you please make an example?

[2018-03-08 13:58] rabbitmeow commented on #840
[code]
I want property remember also be required.

[2018-03-08 14:01] delvedor commented on #840
You should use the full json schema declaration.
[code]

[2018-03-08 14:04] rabbitmeow commented on #840
oops, I thought querystring cannot be set to object because it's not a json. Thank you.

[2018-03-08 14:11] delvedor commented on #840
When you access the request `query` object you are accessing an `Object`.
The json schema defines that object, you used the shorthand version, but you can always use the full declaration.

[2018-03-08 14:11] #840 closed

[2018-03-08 16:40] mcollina opened #841 "document fastify.after()"
`fastify.after()` is not documented in https://www.fastify.io/docs/v1.1.x/Server-Methods/

[2018-03-12 01:21] Ethan-Arrowood commented on #825
Can I give this a shot?

[2018-03-12 06:10] nwoltman commented on #825
@Ethan-Arrowood Of course! :)

[2018-03-12 19:00] torloneg opened #842 "use the library Netxjs and i18next with fastify"
hi
I am trying to use the library  i18next, nextjs into a fastify project

i'm new on fastify, i found this example with express
https://github.com/zeit/next.js/blob/canary/examples/with-react-i18next/server.js

How can I replace the function *use* in fastify ??

   // enable middleware for i18next
        server.use(i18nextMiddleware.handle(i18nInstance))

[2018-03-12 19:38] delvedor commented on #842
As you can see from our [documentation](https://github.com/fastify/fastify/blob/master/docs/Middlewares.md), we do support `express` middlewares.
If it does not work for you, you can [write a fastify plugin](https://github.com/fastify/fastify/blob/master/docs/Plugins-Guide.md).

If you have never used Fastify before, you can read our [getting started](https://github.com/fastify/fastify/blob/master

[2018-03-12 20:55] torloneg commented on #842
work fine !
Thank you very much

[2018-03-12 20:55] #842 closed

[2018-03-13 14:26] edsamonte opened #844 "[Bug] Custom thrown 404 error not showing on prefixed routes"
I'm using a Service Layer design pattern for my app and would want to decouple my controller and the services. I have this particular piece of code:
[code]

And I've set an ErrorHandler and NotFoundHandler for my app. Unfortunately, I keep getting:
[code]

I'm building a REST API backend and would like to add context to my 404 errors (i.e. App not found, Device not found, User not found, etc.). Pu

[2018-03-13 15:42] nwoltman commented on #844
This seems like a bug. @edsamonte would you be able to provide a minimal test case that reproduces this issue? Right now this is working as expected with a very simple case:

[code]

Also, make sure that your not-found handler isn't throwing a `NotFound` error. Doing that is supposed to trigger the warning you're getting because a custom not-found handler isn't allowed to call itself by throwing a

[2018-03-13 16:51] edsamonte commented on #844
Looks like a bug with the `prefix` option of the `fastify.register`.

Error occurs:
[code]

Error does *not* occur:
[code]

[2018-03-13 19:08] nwoltman commented on #844
@edsamonte This should be fixed with `fastify@1.1.1`. Could you see if the problem still happens with that version?

[2018-03-13 19:53] israeleriston opened #845 "Best way for injecting into request"
#### You have already researched for similiar issues?
It's not uncommon that somebody already opened an issue or in best case it's already fixed but not merged. That's the reason why you should [search](https://github.com/fastify/fastify/issues) at first before submitting a new one.

#### Are you sure this is an issue with the fastify or are you just looking for some help?

Issues should only be p

[2018-03-13 19:58] jsumners commented on #845
Please remove the the irrelevant portions of the template and only post what is relevant to your question. It is unclear what you are asking.

[2018-03-13 20:08] israeleriston commented on #845
@jsumners was redone, thank's!

[2018-03-13 20:10] jsumners commented on #845
See the documentation on decorators: https://github.com/fastify/fastify/blob/70ac47ab8a74d1be753fc82872b02c6fa5d9264c/docs/Decorators.md

[2018-03-14 01:04] edsamonte commented on #844
Confirming that the issue has been fixed with `fastify@1.1.1`. Thanks, @nwoltman.

[2018-03-14 01:04] #844 closed

[2018-03-14 05:33] nwoltman commented on #844
@edsamonte This is a very interesting point. Automatically routing 404 errors to the not-found handler may not be the best thing to do. I'm going to open a separate issue to start a discussion about this.

[2018-03-14 06:19] nwoltman opened #848 "Real 404 Errors Get Lost"
#727 was implemented mainly so that 404 errors on streams from the `send` module could cause the not-found handler to be invoked (which helped complete the API for `fastify-static`). This also introduced a new API where users could manually invoke the not-found handler by "sending" a 404 error:

[code]

However, [this comment](https://github.com/fastify/fastify/issues/844#issuecomment-372870211) f

[2018-03-14 07:49] mcollina commented on #848
I think things should be left as they are. The notFound handler is generic, and the problem you are describing is route-specific, so I think the route-specific behavior should be handled within the route itself. This stands also from a REST perspective, as the notFound handler would have the request path.

[2018-03-14 08:17] nwoltman commented on #848
@edsamonte care to weigh in? You already have access to the request path (`request.raw.url`) in your not-found handler.

[2018-03-14 08:31] edsamonte commented on #848
I'm not really an expert in REST API designs but would love to share my two-cents. In my case, I'm using a Service-layer approach:
Controllers -> Services -> Repositories

Say for example, you want to add a pair of two models through a pivot table: A _User_ using an third-party _Client_ wants to add a _Pet_. Normally we have a table called `user_pets`, which has related keys to `users` and `client

[2018-03-14 08:38] edsamonte commented on #848
As per [Wikipedia](https://en.wikipedia.org/wiki/HTTP_404), 404 is missing resource. A resource could be anything (i.e. User, Pet, Client). I guess it would be best to *describe* to the API consumer what is missing rather than just a generic 404 especially if you have a REST docs saying that the endpoint really exists.

[2018-03-14 12:27] jsumners commented on #848
It is correct to interpret a 404 as the resource, _not_ the endpoint, being missing. But that would be if the same endpoint can point to multiple resources, e.g. `/foo?query=bar`. To solve that problem, the route should be something like `/foo/bar`. In this case, a generic 404 imparts all of the necessary information: `bar` does not exist.

[2018-03-14 14:49] edsamonte commented on #848
I would somehow agree with @jsumners. But for a case like `/foos/1/bars/20`, in the current framework structure, it is hard to know if it is a _foo_ resource that is missing or a _bar_.

Also, there are cases you would want to stick with max of 2 levels for URLs. Which means that 3 or more related resource would complicates the URL (i.e. `/clients/1/users/20/pets`). So for this case, you might wan

[2018-03-14 14:56] jsumners commented on #848
`/foos/1/bars/20` is supposed to uniquely identify a resource. Therefore, it doesn't matter which part of the path is "not found," only that the unique resource requested cannot be found.

[2018-03-14 15:21] edsamonte commented on #848
@jsumners, I do agree with that. But would it make sense to add a little more "context" to the error rather than just a plain not-found message?

[code]
versus
[code]

[2018-03-14 15:24] edsamonte commented on #848
And by the way, we're not only pertaining to GET method. It should also apply to POST/PATCH/PUT methods as well which does not uniquely identify a resource (i.e. `/clients/10/users/20/pets`).

[2018-03-14 16:39] jsumners commented on #848
I'm merely commenting on your reference to what a 404 really means. For me, receiving a 404 status code is enough. But I can understand why you would want to display a standardized error JSON response.

I'm not very clear on the APIs involved here, so I'm not trying to voice any support for one method or another.

[2018-03-14 17:45] nwoltman commented on #848
From the perspective of an API user, the extra error information could be pretty helpful:

+ `404 Not Found: /clients/10/users/20/pets`
  + "Why am I getting a 404? My code seems right..."
+ `404 Not Found: /clients/10/users/20/pets - User does not exist`
   + "Why does the user not exist? Oh I'm using the wrong ID!"

[2018-03-14 20:10] mcollina commented on #848
@nwoltman I agree on that point, however from a code perspective you will end up with:

[code]

It creates a brittle dependency between a generic component (the not found or error handlers) and route-specific things. This pattern should be discouraged and not encouraged.
(It is possible to do it right now with the error handler already, and it's a part that I do not necessarily like - even thought

[2018-03-15 05:58] edsamonte opened #849 "Errors are silenced on encapsulated instances"
Example of all good:
[code]
Good output:
[code]

Example of bad:
[code]
Bad output:
[code]

Executed using: `node index.js | pino`

**Context:**
node@8.10.0
fastify@1.1.1
fastify-plugin@0.2.2

No error printed. Just that the erratic routes (or plugins) are not showing even the good ones. Could this be an error with Node?

[2018-03-15 07:42] nwoltman commented on #849
The error is getting passed to the `ready()` callback and you're just not handling it:

[code]

[2018-03-15 07:46] edsamonte commented on #849
Damn. You're right. Silly mistake. My bad.

[2018-03-15 07:46] #849 closed

[2018-03-16 17:19] jsumners opened #850 "Should we handle uncaught errors in handlers?"
I encountered a tricky problem earlier. I made a change that caused this test in my project to fail: https://github.com/jscas/cas-server/blob/fastify/test/integration/v3server.test.js

The failure was caused by https://github.com/jscas/cas-server/blob/41ae00c81d4176b624f451a05b61091346f9dff9/lib/routes/login.js#L16-L18

This conditional caused the following stack to be thrown:

[code]

This was tr

[2018-03-16 17:58] delvedor commented on #850
I don't like the idea to wrap the entire handler inside a try catch, because we will certainly deoptimize the code. Furthermore what we should catch? Every errors? Only RangeError? Syntax?
We have discussed this in https://github.com/fastify/fastify/pull/617.
For now my opinion is to leave it as is, but I'm open to change my mind.

It's strange the error that you are getting in `req.query`, we nev

[2018-03-16 18:22] jsumners commented on #850
It's set in two places:

https://github.com/nodejs/node/blob/96cb4fb795808aa2774e842974aeb411c5d3dd94/lib/url.js#L432
https://github.com/nodejs/node/blob/96cb4fb795808aa2774e842974aeb411c5d3dd94/lib/querystring.js#L262

I do wish people would stop creating objects that way.

I'm really not sure what to do. I was clearly not expecting this error to occur. And it was very difficult to track down bec

[2018-03-16 23:04] mcollina commented on #850
I think that the bug we should fix is why the stacktrace was not the correct one.
I’m -1 on adding that, as we cannot catch all errors if the user is not using async/await.

[2018-03-20 05:28] israeleriston commented on #577
great!! this is going to be amazing, I'm ready to help.

[2018-03-20 07:20] greenkeeper[bot] opened #854 "An in-range update of find-my-way is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **1.11.0** of [find-my-way](https://github.com/delvedor/find-my-way) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Ffind-my-way-1.11.0">Bui

[2018-03-20 07:26] delvedor commented on #854
This is failing for the reason already explained by @nwoltman in https://github.com/fastify/fastify/pull/851#issuecomment-374041498.
I'll update the test to fix this.

[2018-03-20 08:50] #854 closed

[2018-03-20 20:29] cyberwombat opened #856 "Missing payload should return 400 not 500"
I am running some tests and this is my schema:

[code]

My test code:
[code]

I would expect this to return a 400 error which is what I get if I pass either an empty payload or missing parameters. However this yields a 500 so I suspect there is something breaking when no payload object is found.

So:
[code]

* *node version*: 9
* *fastify version*: 1.1.1
* *os*: Mac

[2018-03-20 20:33] mcollina commented on #856
Can you please upload a full example to reproduce, using inject would be fantastic.

[2018-03-20 20:36] Ethan-Arrowood commented on #577
I've lost my vision for this update. If someone wants to pick it up feel free to. I think slowly adding bits and pieces to the documentation where we notice things are missing is better than trying to overhaul the entire thing. for example ref #841

[2018-03-20 20:37] jsumners commented on #577
I think that was my original suggestion 😉.

[2018-03-20 21:11] cyberwombat commented on #856
Argh... Seems ok when I reproduce. Must be something in my more complex code. Ill reopen if I can recreate easily. Sowee bout that.

[2018-03-20 21:11] #856 closed

[2018-03-20 23:02] tinchoz49 commented on #365
Hi everyone! quick question...the idea is to define a boolean option to support `uws.http` or would you prefer something like:

[code]

with this second approach, we can use in the future another `http` modules like `turbo-http`

[2018-03-21 00:35] Ethan-Arrowood commented on #703
I like this idea and interested in working on it.

[2018-03-21 06:32] mcollina commented on #703
Fantastic!

[2018-03-21 07:35] mcollina commented on #365
A better approach would be to expose our handler (what we pass to http createServer). However I fear it wouldn’t be that easy, as some methods would be different.

[2018-03-21 19:29] tinchoz49 commented on #365
Well, I was playing with `fastify` and `turbo-http` and I get this result:

![screenshot_2018-03-21_16-25-42](https://user-images.githubusercontent.com/819446/37732703-9c0895da-2d24-11e8-8010-0065007726a4.png)

Of course, benchmarks are always a relative number it depends on many things but what can I say? fastify with turbo-http can be really awesome to keep experimenting :smiley:

I have to fork

[2018-03-21 19:31] mcollina commented on #365
@tinchoz49 support turbo-http with fastify would be truly awesome. Send a PR to turbo-http on it.

[2018-03-21 20:08] alexhultman commented on #365
@tinchoz49 for reference, could you run that same test but with uws.http. Should be a lot faster than turbo-http.

[2018-03-21 21:41] mafintosh commented on #365
@tinchoz49 you wanna send a PR for those missing features btw? :)

[2018-03-21 21:53] tinchoz49 commented on #365
Hi @mafintosh, yes I will do it :+1:

[2018-03-21 22:01] tinchoz49 commented on #365
Hi @alexhultman, how are you? I tested fastify with uws and this is what I got:
[code]

I have to add some noop functions to ignore errors for missing features: `res.hasHeader()`, `server.removeListener()` and `server.address()`

[2018-03-22 00:28] Ethan-Arrowood commented on #703
What are the properties that need to be printed? Should this be its own plugin or can I add this to fastify core?

[2018-03-22 06:46] ShogunPanda opened #858 "addContentTypeParser and hasContentTypeParser missing from TypeScript definitions"
#### What are you trying to achieve or the steps to reproduce?

Being able to write:

[code]

in a Typescript file

#### What was the result you received?

`Property addContentTypeParser does not exist on type FastifyInstance``

#### What did you expect?

No errors

[2018-03-22 10:03] PavelPolyakov commented on #636
Hello,

I've also met the issue when the health check route is spamming the logs.
I see the PR from @delvedor, good that we have it merged, but first I thought that this `logLevel` will actually set the log level of the route log. Like if I set `{logLevel:'health'}` (my custom log level) than it will log all requests as `health`.

But it appeared that the `logLevel` is min log level for this parti

[2018-03-22 10:28] mcollina commented on #858
Would you mind sensing a PR for this?

[2018-03-22 10:43] ShogunPanda commented on #858
Yup, will try to send it today.

[2018-03-22 10:45] mcollina commented on #703
I think it would be good to have it in fastify itself, because we are likely not keeping track of all the info atm.

We should print:

1. plugins
2. hooks registered for every lifecycle phase
3. routes
4. middlewares (ideally)

[2018-03-23 08:09] delvedor commented on #636
@PavelPolyakov if you pass `logLevel` as route option you will get the specific log level PER route, it is documented [here](https://github.com/fastify/fastify/blob/master/docs/Routes.md#full-declaration) :)

[2018-03-23 08:28] PavelPolyakov commented on #636
@delvedor you are right. But what I meant was a little bit different, like force logger to use certain level and log `on request` and `on response` logs using that certain level.

But at the end I think current functionality should be enough.

[2018-03-23 13:01] StarpTech opened #859 "inputSchemaError does not exist"
As titled [here](https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L11) and [here](https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L110).

I can create a PR but what's the expected behaviour?

[2018-03-23 13:06] StarpTech commented on #859
My fault. [Octolinker](https://github.com/OctoLinker/OctoLinker) has an issue it redirects me to `schemas.js` 😸

[2018-03-23 13:06] #859 closed

[2018-03-23 18:29] cyberwombat commented on #794
Can an example be posted of getting raw body?  Some things are unclear - "Fastify adds automatically the parsed request payload to the Fastify request object, you can reach it with request.body." - so what happens to the default JSON body that is already in `request.body`?  And how do I get this for just one route?

I have tried (V 1.1.1) to add:
[code]
as well as other variations. I have added th

[2018-03-23 20:20] cyberwombat commented on #794
Ah... Ok I am thrown off by how light-my-request works.  If I do my payload like:
[code]
Then the contentTypeParser does not work (or at last the body that is available in the route is `{ foo: 'hello' }`. If, on the other hand, my payload in my test is `foo=hello` then the body in my route is ''why no workie?' as in above.  Is this intentional? I may be misunderstanding the process.

[2018-03-24 08:06] Ethan-Arrowood commented on #703
Spent some time on this today. Not complete yet but I think its a good start. Check out my notes on the PR for more details and maybe we can continue the implementation discussion over there.

[2018-03-24 23:12] #825 closed

[2018-03-25 15:23] weivea opened #863 "about the log"
i really hope you can remove the logger in fastify?
it's  Tightly coupled with fastify,  This leads to that we can't do more design on logger ,
and every request print two logs : incoming request   / request completed .
it's not elegant
please，please，please，please，please，please，please，please，please，please，please，please
remove the logger

[2018-03-25 15:36] mcollina commented on #863
Logging is the easiest way to slow down your application. It is also a very important non-functional requirement of every application.

Feel free not to use it, and roll out your own using our hooks.

[2018-03-25 17:08] delvedor commented on #863
@weivea the logger is integrated inside the framework by design because is really expensive, we worked a lot to optimize it and even more did @mcollina and the pino team in https://github.com/pinojs/pino.
The integrated logger is here to stay, but if you build a logger with a compatible api you can use one of your own as documented [here](https://github.com/fastify/fastify/blob/master/docs/Logging

[2018-03-25 17:08] #863 closed

[2018-03-30 14:38] StarpTech opened #867 "Second 'close' listener receive fastify instance"
As titled. For me, it feels like a bug. I think this is the case https://github.com/mcollina/avvio/blob/master/boot.js#L317
I expect that both functions have the same interface.

[code]

[2018-03-30 14:47] jsumners commented on #867
I'm confused. Why are you invoking `.close()` twice?

[2018-03-30 14:50] StarpTech commented on #867
I'm not talking about a use case it's handled by avvio.

[2018-03-30 14:55] jsumners commented on #867
Huh?

[2018-03-30 14:56] StarpTech commented on #867
Fastify based on avvio and in avvio it is allowed to add multiple close listeners.

[2018-03-30 14:59] jsumners commented on #867
What is your point? Fastify _uses_ avvio, it isn't based upon it per se. In Fastify sending multiple `.close()` calls is wrong.

[2018-03-30 15:01] StarpTech commented on #867
My point is that we don't handle that. I expect an error and in avvio I expect the same interface.

[2018-03-30 18:58] StarpTech commented on #867
It's totally valid to define multiple `close` handlers because avvio provided it.
After https://github.com/mcollina/avvio/pull/56 we can close this issue.

[2018-03-31 09:44] StarpTech commented on #867
@jsumners a `close` handler is just an `onClose` hook with the difference that the **close** routine is triggered and some parameters differ. That's why it's legitimate.

[2018-03-31 10:02] allevo commented on #867
From my point of view, this behaviour is right: your code is closing fastify twice.

The function signature is wrong: `(err, instance)` should be nicer

[2018-03-31 10:17] StarpTech commented on #867
@allevo it won't close fastify twice it will just add another two `close` handler to the queue.

[code]

This already fixed in https://github.com/mcollina/avvio/pull/56

[2018-03-31 10:50] allevo commented on #867
The close method shuts the server down and attaches the function to the onClose event. Like listen method does on the start up.

Calling close twice is wrong

[2018-03-31 10:57] StarpTech commented on #867
Discussion https://github.com/mcollina/avvio/issues/57

[2018-03-31 11:43] danielberndt opened #868 ""onSend" hook is not being called when handler rejects with {status: 404}"
We had a discussion [here](https://github.com/fastify/help/issues/5)

Here's the code to reproduce the issue:

[code]

Rejecting with `{status: 404}` won't call the "onSend" hook. Any other status I've tested will though.

[2018-03-31 17:07] nwoltman commented on #868
I can work on a fix for this.

[2018-04-01 08:52] delvedor commented on #868
For the records, if you wait a few seconds inside the autocannon callback the result will be slightly different, because when autocannon finishes probably there are still some request running.

[2018-04-01 22:09] delvedor commented on #848
Personally I think that the current behaviour is confusing.
[code]
I think is confusing because if a just use another status code the payload will be the same
[code]

Have this edge case is really confusing and I don't think we are handling it correctly.
Personally I prefer to have a custom api to call the 404 handler, such as `reply.notFound` or `reply.callNotFound` and leave the error work as ex

[2018-04-03 05:47] mcollina commented on #848
This behavior allows us to support the send() module and be generally more compatible with Express. In other terms, fastify-static relies on this heavily.
I’m not necessarily fond of this, but I do not think removing this functionality helps Fastify in any way, as it makes harder to move applications to Fastify.

Possibly, our default for a 404 is not a good one as well.

[2018-04-03 07:33] #868 closed

[2018-04-04 16:50] saikatharryc commented on #463
@jsumners is there anything like `express-generator` that generates project dirs and files with `fastify`?

[2018-04-04 16:52] mcollina commented on #463
@saikatharryc you can run  `npm init; npx fastify-cli gen` inside a new folder to generate a project.

[2018-04-07 11:22] feugy opened #872 "Port validation error cannot be caught"
**_Warning:_** given the stack trace, I'm not entirely sure it's a Fastify issue.

#### Steps to reproduce

When awaiting for the `listen()` function with inappropriate port parameter, and inside a proper `try-catch` block, the validation error should be caught.

Run the following in node CLI:
[code]

#### What was the result you received?
You'll get the following output:
[code]

#### What did you

[2018-04-08 19:50] #872 closed

[2018-04-08 20:12] delvedor commented on #848
I don't think we should remove it, but we should be more flexible.
[code]
In this way the user can overwrite the default message and send one of its own.
Usually the 404 status is ok, but maybe a user wants to display a custom user friendly message from the server (which is the reason of the `message` field in the error responses).

[2018-04-09 07:36] mcollina commented on #848
[code]

Will lead to:

[code]

Also, are we __always__ passing a Error here, even when the routing is not matching?

[2018-04-09 15:06] Siilwyn opened #875 "Return URL from listen method?"
:wave: hi there, I'm wondering if you would consider returning either the http instance and/or the address the server is listening on.

Currently doing this:
[code]

Would be nice to just do:
[code]

[2018-04-09 15:11] mcollina commented on #875
Seems a good idea. PR?

[2018-04-09 15:12] delvedor commented on #875
Like it, but to avoid breaking changes in the future I would return an object with an `url` field.

[2018-04-09 16:12] Siilwyn commented on #875
Okay, the logger covers my use-case of logging the address on start, thanks!

Think it would still be nice to return the address so that it's possible to use it programmatically:
[code]
Using `address` instead of `url` because it's close to the naming core `http` uses. When I find time I'll create a PR. When this is added I think it would also be good to mention that logging will return the addres

[2018-04-09 16:57] jsumners commented on #875
It's shown in the examples throughout the documentation, but an explicit note in the `.listen()` documentation would make sense.

[2018-04-10 15:02] ianwalter commented on #764
Hi, I tried out a basic implementation of `i18n-node` last night and it works pretty well if you use the raw request, e.g.
[code]

[2018-04-10 15:24] delvedor commented on #764
@ianwalter Hi! Do you want to create a plugin for it? :)

[2018-04-10 15:41] ianwalter commented on #764
@delvedor Sure, but do you think it's worth it? What would the plugin do? Just add a `decorateRequest('locals') so that the locals/locale object and methods can be accessed without going into the raw request?

[2018-04-10 15:43] delvedor commented on #764
@ianwalter that's a good start :)

[2018-04-10 15:55] delvedor commented on #848
We should always pass an error, if a route is not matching a `new Error('Not Found')` is enough.

I think we need to fix this, even if the solution is not the best one.
Currently a client has not way to know if the error is a 404 because it mistyped the route or because the data it's searching for is not present.

[2018-04-10 15:58] delvedor commented on #848
We are doing it in any case.
https://github.com/fastify/fastify/blob/47f295f605d98ddc9dffec3a2ec3cd204b613f0a/fastify.js#L715-L717

If you have a better solution I'm all ears!

[2018-04-10 17:45] ianwalter commented on #764
Actually just realized that if you add i18n in a `preHandler` hook like:
[code]
The locale information/methods are on the root of the Request object and there's no need to use raw, so I don't think a plugin is necessary unless I'm missing something.

[2018-04-11 03:57] guotie opened #880 "typescript compile error"
#### What are you trying to achieve or the steps to reproduce?
when use typescript ,  cannot pass argument to fastify()

server.ts:

[code]

#### What was the result you received?
TSError: ⨯ Unable to compile TypeScript
server.ts: Argument of type '{ logger: boolean; }' is not assignable to parameter of type 'ServerOptionsAsSecureHttp2'

#### What did you expect?
typescript compile ok

#### Contex

[2018-04-11 06:39] #858 closed

[2018-04-11 07:50] delvedor commented on #764
@ianwalter I would not use the `preHandler` to decorate request, for two reasons:
1. there is the [`decorateRequest`](https://github.com/fastify/fastify/blob/master/docs/Decorators.md) method.
1. By using the `preHandler` as you did, you will re-initialize the library for every request that comes in, which is not very performant.

I don't know how `i18n` works, but probably the best solution is to

[2018-04-11 09:56] smartiniOnGitHub commented on #764
Hi all and thanks for the feedback (and inital implementation) ... I don't have knowledge on i18n-node, but if I could help tell me (at least in additional plugin content like an example, review of documentation, etc).

[2018-04-11 12:06] ianwalter commented on #764
@delvedor I don't think `i18n-node` works like that. I think the name is misleading and that the `init` method is meant to be used as middleware. Initially I was using `fastify.use(i18n.init)` as `i18n-node` usage directed for Express but it added the locale to the raw request. I wasn't sure how to use `decorateRequest` for this because the middleware needs to read the `Accept-Language` header on

[2018-04-11 14:58] #880 closed

[2018-04-12 15:35] delvedor commented on #810
Closed in https://github.com/fastify/fastify/pull/843

[2018-04-12 15:35] #810 closed

[2018-04-16 11:28] StarpTech commented on #723
This PR https://github.com/fastify/fastify/pull/887 will log a warning message to inform about this case.

[2018-04-16 11:30] StarpTech commented on #723
In https://github.com/fastify/fastify/pull/885 you can find useful information to write a better documentation.

[2018-04-17 18:17] StarpTech commented on #723
Anybody working on this?

[2018-04-17 19:58] StarpTech commented on #723
Please check https://github.com/fastify/fastify/pull/889

[2018-04-18 19:10] #723 closed

[2018-04-18 19:16] StarpTech commented on #867
Original issue was fixed with https://github.com/mcollina/avvio/pull/56

[2018-04-18 19:17] #867 closed

[2018-04-19 14:14] mcollina opened #893 "reply.send() should support Buffer"
As titled.

Currently `Buffer` objects are rendered as JSON.

[2018-04-19 14:24] mcollina commented on #893
https://github.com/fastify/fastify-compress/issues/28

[2018-04-20 12:55] jweboy opened #894 "delete method must have body"
I remember that http delete method supports sending header information to complete a request without sending the body of the request body. However, when sending a delete request with fastify, it is found that it must take the body. Otherwise, there will be json error. The error is as follows:
[code]
I would like to ask if this is a bug or design?

[2018-04-20 13:05] mcollina commented on #894
IMHO it's a bug.

[2018-04-20 13:29] jsumners commented on #894
Bug.

[2018-04-20 13:45] mcollina commented on #894
Would you like to send a PR?

[2018-04-21 22:09] #894 closed

[2018-04-22 22:06] lean opened #897 "any example project?"
I'm looking for a couple of example projects but I did not find. Just the twitter example and a few simple issues.

[2018-04-22 22:57] jsumners commented on #897
There's https://github.com/fastify/fastify-example-twitter and my own project https://github.com/jscas/jscas-server.

[2018-04-22 23:43] lean commented on #897
I found your project much more clarifying than the other one. Thanks @jsumners!

[2018-04-23 13:12] smartiniOnGitHub opened #899 "Add fastify-webhook to community plugins list"
#### You have already researched for similiar issues?
Yes, but this is a new plugin, so no changes to existing code.

These are plugin features:
In this plugin my concern was to provide a simpler way to define a webhook customizable:
without options something will be published and a simple response will be provided; otherwise it will be possible to define a custom url and change the handler functi

[2018-04-23 13:12] smartiniOnGitHub commented on #899
Related PR is: [PR#898](https://github.com/fastify/fastify/pull/898)

[2018-04-23 17:28] Smithx10 opened #900 "Feature Request: Add DTrace Probes"
Would fastify be interested in adding DTrace probes similar to those in restify?

https://github.com/restify/node-restify/blob/master/lib/dtrace.js

I think it would be a big win :)

[2018-04-23 17:43] jsumners commented on #900
My personal response: no thank you.

[2018-04-23 17:52] bradjonesca commented on #900
My personal response: Absolutely! It would be a HUGE win, especially when running under SmartOS and Triton ... furthermore I can see massive benefits incorporating Fastify into some kind of reference application that also makes use of Containerpilot.

[2018-04-23 17:53] Smithx10 commented on #900
Care to elaborate on why not?

[2018-04-23 17:58] jsumners commented on #900
They are an extraneous native module.

[2018-04-23 19:32] delvedor commented on #900
We should definitely investigate if it is possible to create a plugin for it.

[2018-04-23 20:48] mcollina commented on #900
I’m -1 on adding any binary dependency to the project. Supporting dtrace via a plugin would be very nice.

Another solution might be detecting if dtrace is in the dependencies already, and then use it if it’s there.

Considering that dtrace is coming to Linux soon, it might be a good to provide some support.

What use case are you looking for when using dtrace? Which OS are you using? can you prov

[2018-04-24 07:59] smartiniOnGitHub commented on #899
As seen in PR comments probably it doesn't make sense to try to generalize this (many times specific) in a plugin.

[2018-04-24 07:59] #899 closed

[2018-04-24 10:09] benbender commented on #875
Just for reference - this is already possible:

[code]

[2018-04-25 21:55] addityasingh opened #908 "Fastify Typescript definition conflict with exisiting node definition"
#### You have already researched for similiar issues?
Yes.

#### Are you sure this is an issue with the fastify or are you just looking for some help?
This issue is because `fastify` packages TS definitions (`"@types/pino": "^4.7.1",`) is a `dependency` and is not either a `devDependency` or decoupled  from `fastify`

#### Is this a security related issue?
No

#### What are you trying to achieve o

[2018-04-25 22:31] mcollina commented on #908
Thanks for the report! It seems you have researched the issue deeply, and my knowledge of typescript is very limited. What would you recommend?

[2018-04-26 06:32] addityasingh commented on #908
Preferrably, moving out the `"@types/pino": "^4.7.1"` from `dependency` and bundling the `fastify` type definition into `@types/fastify` would be the ideal solution. I can take a jab at trying this but I might need help in doing that

[2018-04-26 08:28] mcollina commented on #908
I think it's a yarn/lockfile problem. Try to update your deps: https://github.com/addityasingh/node-snippets/blob/39257139b24a7d737ecbbebf46e919cc2491b176/yarn.lock#L15-L21.

the latest pino defs should definitely resolve to the same `@types/node` definition.

[2018-04-26 13:09] StarpTech opened #909 "Use errors codes for fastify errors"
Hi,
when a user wants to customize the error response he must to do something like this:

[code]

`error.validation` indicates the ajv error

it would be much cleaner to use error codes to avoid collisions and be more expressive.

[code]

We could add following error-codes:

* `ERR_VALIDATION`: Internal validation lib [returns an error](https://github.com/fastify/fastify/blob/44b68625efdfc08e19776

[2018-04-26 16:30] delvedor commented on #909
I agree that have some well defined error codes could be a nice feature to have.

[2018-04-26 21:33] mcollina commented on #909
Definitely yes. However we should think this through very well.

The code should be namespaced, something like `ERR_FST_REQUEST_VALIDATION`, or ` FST_ERR_`. Something that identify this error code univocally (`ERR_` prefix is used by node).

We plan to write a userland implementation of the error code system that we have in core for readable-stream@3. I think we should use that here too. This migh

[2018-04-26 21:45] StarpTech commented on #909
👍 Agree `FST_ERR_*` is great

[2018-04-26 21:50] StarpTech commented on #909
I will prepare a PR.

[2018-04-28 19:28] israeleriston commented on #841
I can help with this problem, I will provide documentation of this method

[2018-04-29 12:32] addityasingh commented on #908
@mcollina Thanks a lot. Seems installing the new version of fastify resolved the error. But I still think that decoupling the Type definitions out of the dependencies would be more scalable and with less such issues (related to types) created in this repo. Thoughts?

[2018-04-29 12:36] jsumners commented on #908
See https://github.com/fastify/fastify/issues/649

[2018-04-29 13:06] addityasingh commented on #908
Closing this  in lieu of #649

[2018-04-29 13:06] #908 closed

[2018-04-29 14:20] StarpTech opened #913 "Use UTF8 as default charset for Text and JSON"
Hi, when I return a string like `ÄÜÖ` the browser is interpreted as
[code]
fastify will respond with
[code]
it's obvious that I use the wrong charset but UTF8 is defacto standard and should be used as default.
[code]

References:
* https://www.w3.org/International/questions/qa-choosing-encodings
* https://www.w3.org/International/articles/http-charset/index#charset

[2018-04-29 14:40] nwoltman commented on #913
`application/json` is `utf-8` by default, but Fastify could use `text/plain; charset=utf-8` here:
https://github.com/fastify/fastify/blob/2907be7c5352926eda073c5a4be7701f7de39006/lib/reply.js#L66

[2018-04-29 14:47] StarpTech commented on #913
I recommend to enforce utf8 for json due to security reason

https://github.com/shieldfy/API-Security-Checklist/issues/25

[2018-04-29 16:35] StarpTech commented on #913
I will prepare a PR or already done? @nwoltman 😄

[2018-04-29 16:36] nwoltman commented on #913
Nope. Go ahead @StarpTech 👍

[2018-04-30 10:26] delvedor commented on #77
The `onSend` hook is you best shot, otherwise you can try something with `onResponse`, but I'm not sure it will work.

[2018-04-30 11:32] #913 closed

[2018-05-01 00:27] addityasingh opened #917 "Fastify should not suppress 405 HTTP status code"
#### You have already researched for similiar issues?
Yes

#### Are you sure this is an issue with the fastify or are you just looking for some help?

Yes. Fastify suppresses `405 Method Not Allowed` status codes and instead returns 404

#### Is this a security related issue?
No

#### What are you trying to achieve or the steps to reproduce?

Create a server with a route handler for only `GET, POS

[2018-05-01 08:39] delvedor commented on #917
This is the correct behavior, our router supports all HTTP methods, so if an handler has not been registered for a given method the answer will always be a 404 and not 405, because all HTTP methods are allowed.

If you need a workaround for this you can add an `onRequest` hook and close every incoming request with the methods you don't want to support.

[code]

[2018-05-01 09:04] addityasingh commented on #917
@delvedor I agree with the workaround using `preRequest`. I also used the below as a workaround for now:

[code]

But based on the definition of **405** below, if I have a route definition for a resource with subset of methods and not all the methods, then I should get 405.

[405](https://httpstatuses.com/405)

E.g. If I defined a route `/graphql` with allowed methods as `[GET, POST]` only, any re

[2018-05-01 15:29] nwoltman commented on #917
I tend to agree with @addityasingh. That's why I implemented automatic `405` responses in [`medley`](https://github.com/medleyjs/medley). It's not easy to implement though because this functionality is not directly supported by [`find-my-way`](https://github.com/delvedor/find-my-way).

[2018-05-01 17:27] mcollina commented on #917
@jsumners @StarpTech @allevo what do you think?

[2018-05-01 17:37] allevo commented on #917
I'm 👍 for responding 405 instead 404: it is more appropriate.

I have investigated but it is not simple to do.

[2018-05-01 20:00] StarpTech commented on #917
I'm 👍 for 405 because the router capabilities don't express the user implementation. When the client request for `DELETE` but it's not available I expect a `405`.

   received in the request-line **is known by the origin server but not
   supported by the target resource**. The origin server MUST generate an
   Allow header field in a 405 response containing a list of the target
   resource's curr

[2018-05-02 11:36] jsumners commented on #917
Returning a 405 would be more complete. I don't think it is necessarily *wrong* to return a 404, but the 405 definitely gives the client more information to work with. I am neutral on the change.

[2018-05-02 13:34] cortopy commented on #850
I was just revising the error handler for my application, and I bumped into this issue. It seems errors in handlers are not handled at all.

A typo like this would cause the whole application to crash and a reboot of fastify would be required:

[code]
At a more general level doing this also causes the application to crash:

[code]

I guess fastify could be launched with something like [forever](ht

[2018-05-02 14:42] mcollina commented on #850
It shouldn't. if it crashes in this way, you will likely be leaking memory or file descriptor, and your application will start to misbehave. You can use async/await instead, and that correctly wraps things, as long as you await promises.

[2018-05-02 16:26] mcollina commented on #850
I would recommend you to try throwing in an express route. Your process will crash.

Fastify works very similarly to what all the others do. If you are using callbacks, you need to pass the error to send(). If you are using promises, this is handled for you.

[2018-05-02 16:27] mcollina commented on #850
The docs can be clearer, would you like to send a PR?

[2018-05-02 16:29] cortopy commented on #850
I just tried with an express application where an error handler is registered using `server.use` to be sure. It didn't crash, but returned a 500.

I would happily send a PR but I just don't understand how fastify handles errors, since the global error handler won't always get called

[2018-05-02 16:36] mcollina commented on #850
How do you throw an error with express?

[2018-05-02 16:38] cortopy commented on #850
I did:

[code]

[2018-05-02 17:06] nwoltman commented on #850
Looks like express uses a `try-catch`:
https://github.com/expressjs/express/blob/3ed5090ca91f6a387e66370d57ead94d886275e1/lib/router/layer.js#L94-L98

[2018-05-02 17:09] mcollina commented on #850
Interesting, I didn't know! However

[code]

will crash your process.

This lead to a lot of unexpected crashes, because express taught its user that they were catching some errors. To me, it's either you catch them all or you don't catch any. Because of the domain snafu we cannot really catch them all right now, so it's way better to not catch any errors (see https://nodejs.org/en/docs/guides/dom

[2018-05-03 03:50] israeleriston commented on #841
@mcollina can close the issue

[2018-05-03 04:55] israeleriston opened #921 "Awesome Fastify"
Hello everyone, I took liberty and created a repository to add all modules of the fastify ecosystem, third-party module, plugins, lectures, articles, video conferences, actually all about fastify and join only in a single repository, this week I will create a series of articles about fastify in portuguese and popular fastify by the brazilian community!

If there is already a similar repository or

[2018-05-03 04:59] mcollina commented on #921
Awesome! This is a a good initiative! Please include my talk https://www.youtube.com/watch?v=gltzZjKYK1I and this article https://thenewstack.io/introducing-fastify-speedy-node-js-web-framework/.

Also https://medium.com/the-node-js-collection/fastify-goes-lts-with-1-0-0-911112c64752 article.

[2018-05-03 04:59] mcollina commented on #921
@delvedor what's your video?

[2018-05-03 05:00] israeleriston commented on #921
@mcollina i will include your talking

[2018-05-03 05:04] israeleriston commented on #921
if any of the contributors have articles, talks, anything, leave as a comment, that I will gradually translate, so we can have material in Portuguese for the Brazilian community.

[2018-05-03 07:52] delvedor commented on #921
Wow! Thanks!
This is awesome :D

[This](https://www.webexpo.net/prague2017/talk/what-if-i-told-you-that-http-can-be-fast/) is the talk I gave the past year :)

[2018-05-03 08:06] israeleriston commented on #921
@mcollina and @delvedor could ask/advise the contributors/team to publish the links of the materials here, to be able to add in this awesome

[2018-05-03 09:48] jweboy commented on #894
My problem has been solved, thank you.

[2018-05-03 18:38] BastienAr opened #922 "schema with key or id already exist"
When reusing a schema added with `fustily.addSchema` directly in response, fastify throw `Error: schema with key or id "UserDisplay" already exists`. It works if I try to encapsulate the result in `{type:'array', items: 'ref#'}`

[code]

#### What was the result you received?
`Error: schema with key or id "UserDisplay" already exists`

#### What did you expect?
Route registered with success

####

[2018-05-03 18:53] delvedor commented on #922
I can reproduce it, I'll investigate. Thank you for reporting!

[2018-05-03 19:35] ACXgit opened #923 "Very slow startup on ARM with Joi validation"
#### You have already researched for similiar issues?
Yes

#### Are you sure this is an issue with the fastify or are you just looking for some help?
Fastify performs very well without Joi, so not sure where the issue is

#### Is this a security related issue?
No

#### What are you trying to achieve or the steps to reproduce?
I have a fairly complex app (120 routes 😮) which is targeted to ARM proc

[2018-05-03 19:39] StarpTech commented on #923
Joi is in general not optimized for performance. Use the inbuilt Ajv JSON-schema module or split your server on multiple node instances to benefit from your quad-core.

[2018-05-03 19:41] allevo commented on #923
Hi!
Thanks for reporting this issue!

I'm not an Joi expert but have you tried to build only 120 Joi schemas on your Rpi2 without importing fastify at all?

[2018-05-03 19:45] #922 closed

[2018-05-03 19:56] delvedor commented on #922
It should be solved now, you just need to update your dependencies.
I've opened a pr with your test case, thanks for reporting!

[2018-05-03 20:02] delvedor commented on #923
The code [looks](https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md#schema-compiler) correct.
It should be related to `Joi` itself. Is there any `Joi` user able to confirm this behavior?

[2018-05-03 20:41] ACXgit commented on #923
I did a quick test, not sure if it's the right way to actually build the schemas:

[code]

and the result is `validation: 1.048ms` on the Rpi2.

[2018-05-03 21:55] BastienAr commented on #922
Yep, works with the new version of fast-json-stringify. Thanks !

[2018-05-04 02:42] israeleriston commented on #921
@delvedor adding all you talk and articles, what else can adding in repo?

[2018-05-04 04:56] israeleriston commented on #713
@mcollina will addin into documentation to set NotFoundHandler or will implemented suggestion the @olnazx ?

[2018-05-04 05:15] israeleriston commented on #923
it's like you @StarpTech said, `Joi` not so performatic, use the same method that @ACXgit developed with `Joi` and apply using `Ajv` JSON-schema

[2018-05-04 19:16] mcollina commented on #713
It would be awesome to get a PR for this!

[2018-05-05 03:05] israeleriston commented on #713
I understood @mcollina , I just wanted to understand, what needs to be done.

[2018-05-05 10:00] mcollina commented on #713
Add a beforeHandler option to the setNotFoundHandler. Or I have not understood the question.

[2018-05-07 05:38] israeleriston commented on #713
I'll get a PR for this. I just need a confirmation the @olnazx , if that's what it's supposed to do.

[2018-05-07 06:04] jweboy opened #928 "When I set header to 'application/json; charset=utf-8', I got TypeError with payload."
I added a custom header in the reference document, and then set the Content-Type to application/json; charset=utf-8.

[code]
But I got the following error message.

    ^

    at onSendEnd (/Users/jweboy/GitRepo/node-server/node_modules/fastify/lib/reply.js:196:11)
    at onSendHook (/Users/jweboy/GitRepo/node-server/node_modules/fastify/lib/reply.js:158:5)
    at _Reply.Reply.send (/Users/jweboy/

[2018-05-07 06:10] israeleriston commented on #928
Hi @jweboy try this _**application/json;charset=utf-8**_ instead of _**application/json; charset=utf-8**_ ?

[2018-05-07 06:14] israeleriston commented on #928
Other question by default fastify working that way see https://github.com/fastify/fastify/blob/master/docs/ContentTypeParser.md

[2018-05-07 06:40] israeleriston commented on #928
@jweboy in the tests I did (follow code) I get the same problem.
[code]

[2018-05-07 08:25] Ethan-Arrowood commented on #921
This is awesome @israeleriston! I think we should link this on the fastify site so that when new things are created (plugins, videos, blog posts) users can submit a PR directly to your `awesome-fastify` repo.

[2018-05-07 08:55] israeleriston commented on #921
@Ethan-Arrowood , think it's perfect !!! I'm available, we have to talk to @mcollina , and @delvedor  to know what they think

[2018-05-07 09:06] lependu commented on #928
Hi! I think this related to #913 and #914 . It seems we do not need to set the charset anymore. I checked the [docs](https://www.fastify.io/docs/latest/Reply/) and it seems to me, that it reflects this change.

[2018-05-07 10:14] lependu commented on #928
The [first example](https://github.com/fastify/fastify/blame/747ce5c5f7b82ea1d855dac7b53c504c245cd565/docs/Reply.md#L20-L26) shows how to set the header with the charset. It is the same as your passing case, so it works.

The [type](https://github.com/fastify/fastify/blame/747ce5c5f7b82ea1d855dac7b53c504c245cd565/docs/Reply.md#L78-L84)does not mention the charset.

So, based on the doc and the lin

[2018-05-07 10:33] delvedor commented on #928
This is actually a bug, I'll look into it, thank you for reporting!
The issue is here:
https://github.com/fastify/fastify/blob/747ce5c5f7b82ea1d855dac7b53c504c245cd565/lib/reply.js#L74-L78

[2018-05-07 11:44] Ethan-Arrowood commented on #921
You could do it yourself by opening a PR on the [website repo](https://github.com/fastify/website) itself 😉

[2018-05-08 19:00] ACXgit commented on #923
So I finally decided to try to convert my `Joi` schema to JSON-schema using [joi-to-json-schema](https://www.npmjs.com/package/joi-to-json-schema). The startup time is now **~420ms** 😮

So there's obviously something (very) wrong with `Joi` here. Feel free to close the issue if it doesn't have anything to do with Fastify.

[2018-05-08 20:26] mcollina commented on #923
I think this is not really an issue with Joi. Maybe Joi is hitting some sort of slow-path on ARM for V8.

[2018-05-09 05:03] israeleriston opened #930 "Get all routes"
Hi, I'm working on a new plugin for fastify, and would like to know if there is any way to fetch all routes already loaded in fastify, something like fastify.getAllRoutes(), something like that, would help me a lot.

[2018-05-09 05:07] israeleriston commented on #921
Awesome! @Ethan-Arrowood i will provide PR for this :smiley:

[2018-05-09 09:10] allevo opened #931 "JSONSchema in typescript definition is not a JSONSchema"
[code]

Is not a JSONSchema. The fields are

[2018-05-09 11:56] jweboy opened #932 "mocha test with error 'Promise may not be fulfilled with 'undefined' when statusCode is not 204'"
When I used mocha for fastify multipart file upload tests, I encountered the wrong message. Here is my code:

[code]
The error message is as follows:

    Error: Promise may not be fulfilled with 'undefined' when statusCode is not 204

I checked the source code to find the corresponding code:

[code]
The reply to my request returned 200, but the source code was judged to be 204. Then I read the co

[2018-05-09 12:43] cortopy commented on #850
Thanks @nwoltman and @mcollina ! This is what I needed to understand what's going on. I would like to write a section on error handling in fastify if I may. But I have a couple of questions first.

I think it would useful to compare fastify with Express since most people would have it as a reference. Would you say this would be an accurate description to start with?

I'm not too sure what the best

[2018-05-09 20:27] #928 closed

[2018-05-09 22:28] mcollina commented on #932
Thanks for reporting! Would you mind sending us a full example? I'm pretty interested in how `/api/upload/picture` look like.

[2018-05-09 22:41] mcollina commented on #931
is there a good typescript definition of a json schema around?

[2018-05-09 23:26] allevo commented on #931
I mean, JSONSchema is not the right name. That is not a jsonschema, each child are.
Maybe `HandlerScema` or something like that is better. I'm not good at choosing names.

[2018-05-10 01:09] nwoltman commented on #931
How about `RouteSchema`?

[2018-05-10 01:57] jweboy commented on #932
Okay, so here's the code for my POST part:

[code]

The upload function is the upload operation for the seven niuyun:

[code]

The land travel section is registered on the global stage:

[code]

[2018-05-10 03:04] nwoltman commented on #932
If you remove `async` from your route handler, the error message should go away.

[code]

A function only needs to be `async` if it contains an `await` expression. In your case, the `await` is inside the `handler` function (not your anonymous route function).

Also, a good rule to follow is if you're using `reply.send()`, your route handler shouldn't be `async`.

[2018-05-10 07:06] allevo commented on #931
After #933 I'll fire a PR

[2018-05-10 09:11] delvedor commented on #930
You can register an [`onRoute`](https://github.com/fastify/fastify/blob/master/docs/Hooks.md#application-hooks) hook.

[2018-05-10 12:04] zhuqiuyang opened #934 "Default sever host different from node net module."
[code]

[2018-05-10 12:05] #934 closed

[2018-05-10 12:53] mcollina commented on #850
Fastify follows a more all-or-nothing approach, whereby until processing all uncaught errors is possible, the developer is responsible for making sure errors are handled properly. We recommend not to wrap every route in a try-catch, and actually fix programmer errors. Application errors should be catched and handled properly: most of those are a result of unexpected input data, so we recommend to

[2018-05-11 01:52] jweboy commented on #932
Well, I saw the point where the problem was, I removed the await but kept the async, resulting in this function becomes a Promise. Your opinion is very valuable and I will further optimize my function.thank you~

[2018-05-11 12:02] israeleriston commented on #930
@delvedor thanks, worked! issue closed.

[2018-05-11 12:02] #930 closed

[2018-05-11 13:31] #932 closed

[2018-05-12 17:01] lagmanzaza opened #935 "Fastify is not working when I use it on Docker"
I cannot blind Fastify port on Docker
How to solve it ?
* *node version*: 8
* *fastify version*: >=1.4.0
* *os*: Mac

[2018-05-12 17:15] allevo commented on #935
Hi!
  it may depends on which user are you using inside docker when fastify is trying to bind the port.
Which port are you binding?

NB: insider docker you have to bind the port on the `0.0.0.0` interface. https://www.fastify.io/docs/latest/Getting-Started/#your-first-server

[2018-05-12 17:29] allevo commented on #935
If you are looking for why there's that behaviour https://unix.stackexchange.com/questions/16564/why-are-the-first-1024-ports-restricted-to-the-root-user-only

[2018-05-14 01:23] benoneal commented on #365
Any further progress on this? It looks very promising (and valuable, for my use case), and I'd prefer not to have to maintain my own fork of fastify.

[2018-05-14 05:34] mcollina commented on #365
This is a project made by volunteers, and there is no official roadmap. We have repeatedly asked if somebody wanted to contribute a PR for this, but none has come yet. Would you like to?

You threaten to fork fastify if we do not implement this instead of sending a PR. The chances that the maintainers implement a feature under such a threat are zero. I would argue that sending a PR is a better way

[2018-05-14 05:52] finefun55 opened #936 "add content-length check when method is delete"
### better compatibility
My service user added ```content-type=application/json``` for each request, even if the method is DELETE without body, of course, they got 400 error.
I have added some codes to avoid the problem
[code]
works fine, but i think that will be much better to  ignore content-type when content-length is undefined

[code]

[2018-05-14 06:15] nwoltman commented on #936
Could you elaborate on how this would provide "better compatibility"? Is there a particular issue you're having?

Also for future reference, code examples are easier to read when they're inside a [highlighted code block](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code).

[2018-05-14 08:25] benoneal commented on #365
@mcollina Your first paragraph is reasonable, but I feel you've dramatically misinterpreted my comment. @tinchoz49 commented on the 22nd Mar that he was volunteering to submit a PR for this, then later that day (the post immediately above mine) posted preliminary performance stats on his work so far into doing that. Then nothing for 7 weeks. My comment, being the very next comment, was merely aski

[2018-05-14 09:02] delvedor commented on #365
Probably you didn't meant that, but it sound like a threat (not to the project itself, but to the maintainers). Thank you for clarifying that :)

I don't know if @tinchoz49 will continue to work on this, I did some work on my computer but there are some compatibility issues with some api.
I'll open  a pr soon to show my findings.

[2018-05-14 12:09] tinchoz49 commented on #365
Hi everyone! @delvedor @benoneal Yes, I had started to work on a PR for fastify, basically to do something like this:
[code]

But I didn't continue it and I never publish it because first I want to see if we can merge the PR that I made for turbo-http to work with fastify. https://github.com/mafintosh/turbo-http/pull/18

@delvedor If you want, I will happy to help you with your PR :smiley:

[2018-05-14 12:16] delvedor commented on #365
@tinchoz49 ops, I missed that, sorry!
Great work!
If it is ok for you, since I've already opened the pr, we can work there. I'll be very happy to have a review also from you :)

[2018-05-15 08:12] paulZzhang commented on #921
A demo like [Symfony Demo](https://github.com/symfony/demo)

[2018-05-15 12:35] tinchoz49 commented on #365
@delvedor don't worry and I'm ok to keep working in your PR :relaxed: . I will try to do a review today.

[2018-05-15 21:02] #931 closed

[2018-05-16 05:28] Larry850806 commented on #788
Is there anyone working on this ? Maybe I can do this.

[2018-05-16 05:42] Larry850806 commented on #726
I just recently dealt with a similar problem. Maybe I can help writing this plugin.

[2018-05-16 05:43] Ethan-Arrowood commented on #726
Go for it! I’d be happy to mentor / review it for you if you’d like.

[2018-05-16 07:57] Larry850806 commented on #726
I am working on this. I think using `req.query` to get parsed query string is a good way, but `req.query` is used by default query object. Is there any good way I can over overwrite it?

[2018-05-17 19:52] chrismpettyjohn opened #942 "Allow middleware to be added to routes when defined"
Example
[code]

or

[code]

**Current Behavior**
First example doesn't work at all and considers it an option.  Second example will return
```{ AssertionError [ERR_ASSERTION]: Method 'GET' already declared for route```

[2018-05-17 20:17] chrismpettyjohn commented on #942
Currently handling this issue with a hook (preHandler)
[code]

[2018-05-17 21:09] delvedor commented on #942
Hi, thank you for contributing to Fastify!
Personally I would not support this feature, even if we do support Express-style middlewares, Fastify is not a middleware oriented framework, you should use the `use` api.

If you want that a middleware to run just for one route you could encapsulate it inside a plugin:
[code]

In this way that specific middleware will run only inside that nested plugin.

[2018-05-17 21:52] chrismpettyjohn commented on #942
Hey,
I looked into the documentation more and realized that Fastify has a beforeHandler() function which works perfectly for my situation!

Much appreciation for this project

[2018-05-17 21:52] #942 closed

[2018-05-18 21:21] xemasiv opened #943 "Wildcard (*) issue"
#### You have already researched for similiar issues?
 YES

#### Are you sure this is an issue with the fastify or are you just looking for some help?
YES

#### Is this a security related issue?
NOPES

#### What are you trying to achieve or the steps to reproduce?
[code]

#### What was the result you received?
`{"statusCode":404,"error":"Not Found","message":"Not Found"}`

#### What did you expect

[2018-05-18 21:29] allevo commented on #943
Hi!
thanks for checking out fastify!

Have you tried the following code?
[code]

[2018-05-18 21:46] xemasiv commented on #943
@allevo yes sir, I'm getting the same thing:

`{"statusCode":404,"error":"Not Found","message":"Not Found"}`

[2018-05-18 23:40] mcollina commented on #943
This is very likely a bug. Would you like to work on a fix?

[2018-05-19 04:51] xemasiv commented on #943
I would love to, but I'm unfortunately too occupied so I'll leave it open for now.
Will try to if I find the time :100:

[2018-05-19 10:00] StarpTech commented on #943
I can't reproduce it. Are you sure that no other server is running on the same port?

[code]

#### Context

* *node version*: 10.1.0
* *fastify version*: 1.4.0
* *os*: Windows

[2018-05-19 10:42] delvedor commented on #943
I can't reproduce it as well.

**Context**
- node version: v8.11.1
- fastify version: v1.4.0
- os: MacOS

[2018-05-19 13:54] Ethan-Arrowood commented on #726
Sorry for the late response. Let me look into this now and see what i can find.

[2018-05-20 03:37] Ethan-Arrowood commented on #726
See if there is something on the main Fastify object you can decorate. If `req.query` is forced to use `default query object` then you may need to edit the Fastify source itself.

[2018-05-20 09:00] lependu commented on #943
I can't reproduce it either.

##Context
    node version: docker node-alpine-[6,8,9,10]
    fastify version: v1.4.0
    os: debian linux

[2018-05-20 10:13] delvedor commented on #943
@xemasiv are you running another Fastify process on the same port but inside a Docker container?

[2018-05-21 02:07] xemasiv commented on #943
Sorry for late response. As that time I was running two instances in the same script. One instance at port 80 then another one at port 443.

It was like:
[code]

[2018-05-21 08:03] endigo opened #946 "How to deploy on Firebase Functions/Google Cloud Functions"
How to run the server from cloud functions?

in express
[code]

[2018-05-21 10:13] mcollina commented on #623
Given that I’ve not had the time in the last 6 months, I’d really love some help ;).

[2018-05-21 22:36] jsumners commented on #623
At this point, I think anyone that can provide a fair proposal is going to get heard. I just don't have the time.

[2018-05-22 02:11] nwoltman commented on #946
This is not possible currently. #804 is a similar issue.

[2018-05-22 02:52] hadwin2017 opened #947 "fastify-session error"
Hello,
Have anyone meet this problem?
After npm install and npm run dev, an error comes:

[code]

[2018-05-22 07:53] delvedor commented on #946
We are working on that feature in https://github.com/fastify/fastify/pull/937.

[2018-05-22 10:28] cortopy commented on #850
I'm sorry but I still don't see how that's best practice. Somehow it reads as if the recommendation is: "in order to handle bugs please make sure there are none".

I can imagine many situations where "fixing programming errors" is just not possible like, for example, when the error is in a npm dependency out of the control of the developer.

[2018-05-23 01:02] #943 closed

[2018-05-23 07:22] saikatharryc opened #950 "Error Handling with `next()`"
*migrating an express app to fastify*
in express we i use to pass error in a particular route to `next()` and handle it to the `app.js` and loging it and also after processing sending error response.
 tried the same here, but unfortunately,
[code]
here next is not available.

is there any way to handle error ? without sending it directly to the response like
`res.send(error);`
or to get `next()`

[2018-05-23 11:34] mcollina commented on #950
There is no `next()`  in route handlers, you do `reply.send(err)`  instead.

The error will be routed to the error handler and it can be plugin specific.

[2018-05-23 13:39] #950 closed

[2018-05-25 00:40] smartiniOnGitHub commented on #623
Some more info:
Another important thing done at Apache is for PMC Members of a Project to be at least 3 (more welcome) with binding/veto vote when needed (like vote for releases or for important code modifications).
Then, to ensure real independence usually a good practice is to have a mixed list of members/contributors belonging to different companies ... but don't think it's a problem here.
For

[2018-05-25 07:14] mcollina opened #951 "basic auth plugin"
I think we should be writing a basic auth plugin.

Is there anybody that wants to help?

[2018-05-25 08:48] delvedor commented on #951
I have already written the code for another project, I'll do it.

[2018-05-26 00:25] smartiniOnGitHub opened #952 "Plugin for serializing events in the CloudEvents Specification format"
Hi all,
I'm looking for a way to expose any kind of event from a Fastify webapp to the outside, and the new CloudEvents standard seems very interesting, see [here](https://github.com/cloudevents/spec).
So I think that I could write a plugin for start to serialize events (Fastify standards exposed via hooks, and even custom at application level) in that standard way, at least to try to be more futu

[2018-05-26 09:36] mcollina commented on #952
This seems very interesting. I currently have not time availability to work on this, but I'll be happy to review!

[2018-05-26 16:45] mcollina commented on #623
This is a great writeup.

I’m -1 to adding a CLA for the time being, but we might decide to enforce the DCO that we already have (there is a bot for that).

What is a PMC? This seems something similar to what we already have, minus one member. Would you mind writing something up?

Can you cover also new collaborators individuals that have mostly contributed to plugins of the org? I’d like to share

[2018-05-27 12:35] vincent178 opened #953 "cause ECONNRESET when proxy get request with body"
Hi,

I found an issue when using `fastify-reply-from` plugin. I proxy a `GET` request to a target server with message body (I input the body by mistake, but I think http allow us to send get request with body).

But fastify don't parse the body when it's a GET request, source code: https://github.com/fastify/fastify/blob/c21a45f29e0fe55b4f025519a21c2683f97c4969/lib/handleRequest.js#L17-L20

For `f

[2018-05-27 12:54] mcollina commented on #953
I think the example is missing the configuration of fastify-reply-from. Can you please add it?

[2018-05-27 13:05] vincent178 commented on #953
@mcollina sure, added, to use this example, send a http `GET` request with a message body.

[2018-05-27 13:29] jsumners commented on #953
https://tools.ietf.org/html/rfc2616#section-9.3 Would mention at least in passing if a body should be expected during a GET request. Since it doesn't, we can assume that one should not be present.

[2018-05-27 13:34] mcollina commented on #953
I think this is a bug in fastify-reply-from, and the content-length needs to be reset if it's a GET response. Or we might want for `fastify-reply-from` to throw an error.

I'm also ok in returning a 400 status code in fastify if there is a Content-Length property != 0 in a http GET.

[2018-05-27 13:35] mcollina commented on #953
@vincent178 would you like to send a PR to fastify-reply-from?

[2018-05-27 13:42] vincent178 commented on #953
I think at least we should not return a 400 in `fastify`. According to https://tools.ietf.org/html/rfc2616#section-4.3

[code]
any thoughts?

@jsumners @mcollina

[2018-05-27 14:01] jsumners commented on #953
Read the last clause in your quote:

   does not include defined semantics for an entity-body, then the
   message-body SHOULD be ignored when handling the request.

[2018-05-27 14:10] vincent178 commented on #953
@jsumners Yes, I saw it, thanks.

I'm heading to bed now, if there's no objection, I could send a PR to `fastify-reply-from` tomorrow to reset the `content-length`.

[2018-05-27 14:11] mcollina commented on #953
Node.js automatically dump the uncosumed request body when endind a
response.
Il giorno dom 27 mag 2018 alle 16:01 James Sumners <notifications@github.com>
ha scritto:

[2018-05-27 14:11] mcollina commented on #953
Go ahead and send a PR.
Il giorno dom 27 mag 2018 alle 16:10 Matteo Collina <
matteo.collina@gmail.com> ha scritto:

[2018-05-27 23:05] vincent178 commented on #953
Here's the PR: https://github.com/fastify/fastify-reply-from/pull/12/files
@jsumners @mcollina

[2018-05-28 07:49] mcollina commented on #953
Thanks for the PR! Released as 0.4.3.

[2018-05-28 07:49] #953 closed

[2018-05-28 12:37] smartiniOnGitHub commented on #952
Ok, thank you very much for now. I need some week probably, but I'll keep you updated. Bye

[2018-05-29 07:35] smartiniOnGitHub commented on #623
Hi, the definition and duty of PMC is [here](http://www.apache.org/dev/pmc.html); in short it's the governance team of the project, with binding votes on releases (that here doesn't apply) and technical decision (like currently). In this case maybe here only we'd need at least another PMC Member (but could be even more, depinding on core contributors to the project).

At Apache external collaborat

[2018-05-30 07:09] mcollina commented on #623
This seems sound. I think we should have at least 3 members there to avoid tie breaks. @delvedor what do you think?

Question: someone already tried to think if/how the project could converge to the Node.js Foundation ? Does it makes sense ?

I do not think this will ever happen. This project should set up its own governance.

From a technical point of view I think that on Plugins the only real pr

[2018-05-30 08:18] smartiniOnGitHub commented on #623
Would you like to send a PR that edits our https://github.com/fastify/fastify/blob/master/CONTRIBUTING.md?
@mcollina who is the "you" here ? maybe I know the anwswer, but just to be sure :-) ... anyway I'd be happy to help, I only need some time.

Sorry on the license compatibility on dependencies, this applies even for Fastify and its core plugin, but there is something already in place (as a too

[2018-05-30 09:55] mcollina commented on #623
I’m +1 if you want to help with this. Up to this point no one contributed in this regard, so if you think you can do some edits it would be good.

I think manual checking is ok. We should just document the process and the checks we do for adding a package to the org (official) or the ecosystem page. I think this is substantially different from the project governance of those modules too. Maybe we

[2018-05-30 09:56] mcollina commented on #623
@fastify what do you think?

[2018-05-30 12:04] jsumners commented on #623
Ugh, no.

I think my original posting on this issue still covers everything I would be concerned with. I don't think this needs quite as much bureaucracy as an Apache project. Just a clear outline of who can do what and why.

[2018-05-31 01:03] fralonra commented on #722
Many developers in China dont't even want to try Fastify for there is English documents only.
So I suggest adding translations for other languages not only Chinese.

I can help translate the documents into Chinese if translation is needed.

[2018-05-31 07:38] delvedor commented on #722
Hi @fralonra, thank you for stepping in!
If you want to translate our documentation in Chinese would be awesome, but it requires a big effort because you should keep it in sync with all future changes.
Since no one of our team knows Chinese, we can’t guarantee that the documentation will always be in sync and from my point of view it is better one thing done well than two done badly.

Do you want

[2018-05-31 12:53] vincent178 commented on #722
I can help as well.

[2018-05-31 13:01] mcollina commented on #722
I will set a repo for this doc effort and add both of you as members. Is that ok?

[2018-05-31 13:07] vincent178 commented on #722
sure, thanks @mcollina

[2018-05-31 13:32] fralonra commented on #722
ok, thanks @mcollina

[2018-05-31 14:39] delvedor commented on #722
Thank you folks! :)

[2018-05-31 17:56] allevo commented on #951
Can this be closed?

[2018-05-31 19:39] delvedor commented on #951
Yup! :)

[2018-05-31 19:39] #951 closed

[2018-06-02 16:11] mcollina commented on #722
I've created the repo at https://github.com/fastify/docs-chinese. I've sent you an invite for a team that has admin rights on the repo!

Let us know when it's populated. We can add a link into our docs to that repo and close this issue then.

[2018-06-02 18:17] lmammino commented on #722
That's awesome! I love the idea of being able to reach a wider world wide community and the challenge of figuring out what would be the best way to deal with multi-language documentation.

Maybe we should also start to figure out how to integrate this with the current website.

It would be very nice to have the website support multiple languages, but i am not sure just yet how to do so.

Just a co

[2018-06-02 19:04] StarpTech commented on #722
I use https://github.com/facebook/Docusaurus for all my opensource projects. The documentation is generated based on the markdown files too. It supports:

* Versioning
* Localization (with [crowdin](https://crowdin.com/) support)
* Blog posts
* One-liner to integrate free Algolia search
* Customized via React

I like it very much and I think it could save us much time to standarzize things and to

[2018-06-03 07:47] lmammino commented on #722
@StarpTech, I will have to have a look at it, never used it before. If we are going to switch only because of the localization support, let's make sure that it works in a way that it is convenient for us.

Of course, if you have any experience with this particular feature I'd be happy to have some concrete advice on how we should organise the files/repos to adopt it at best.

[2018-06-03 08:02] mcollina commented on #722
I'm somewhat reluctant in having a different infrastructure. I really like the current one, and before committing to i18n we need to have a good case for those.

I think we cannot commit to multi-language docs at this point, there are too few of us. If some members of our community want to help, having a separate repo would be ok for now. I know there is a problem of stale docs, but shipping multi