[2020-09-19 05:23] mcollina commented on #2563
I don't really understand this issue, can you please clarify it a bit?

Maybe @fastify/typescript can help.

[2020-09-19 05:25] #2557 closed

[2020-09-19 18:35] Shair17 commented on #2563
I have tried typescript, it works correctly.
My issue is when I am using javascript with babel to get the latest features, etc.

For example when I use `fastify.register (require ('./ routes'))` in `routes.js` it should export by default a function that receives as parameters (instance, options, done) according to the fastify documentation (https: //www.fastify.io/docs/latest/Plugins/#create-a-plu

[2020-09-19 18:36] Shair17 commented on #2563
@mcollina by the way https://github.com/orgs/fastify/teams/typescript throw me 404 error

[2020-09-19 18:44] kibertoad commented on #2563
@Shair17 I think this is a non-issue. Autocomplete in JavaScript is mediocre at best and is completely up to how good IDE is at guessing things. You can try WebStorm, I think it has best-in-class implementation.

If you want good autocomplete, definitely consider using TypeScript.

[2020-09-19 18:44] #2563 closed

[2020-09-19 18:45] kibertoad commented on #2563
@Shair17 Link that Matteo gave is not something that is supposed to be open, it's just a way to tag a group of people so that they would get a notification and potentially comment.

[2020-09-19 18:49] kibertoad commented on #2563
@Shair17 One more thing: occasionally I got better autocomplete in JavaScript when using ES6 imports instead of CommonJS require. Since you are using Babel anyway, try if it improves things for you.

[2020-09-20 12:18] GogaRUFI opened #2565 "Fastify request file call never returns"
## 🐛 Bug Report

If multipart form data fields aren't appended in a specific order, the `request.file()` never returns.

## To Reproduce

Steps to reproduce the behavior:

CLIENT:

[code]

SERVER:

[code]

## Expected behavior

The file call bellow returns either a failed promise with a meaningful error message or resolves successfully.

[code]

## Your Environment

- *node version*: 12.16.3
- *fa

[2020-09-20 16:15] mcollina commented on #2565
@StarpTech wdyt? You added the new API.

I think it should reject in this case.

[2020-09-21 08:56] greguz opened #2567 "Strange behavior with route reusage"
## 🐛 Bug Report

By reusing the same route inside more than one plugins, I've noticed that the second time the route is registered, its URL is somehow prefixed by the previous plugin. I'm not sure if this behavior is intentional or a bug.

## To Reproduce

[code]

## Expected behavior

I was expecting this output:
[code]

I got this instead:
[code]

And I can "fix" that by cloning the `route` obje

[2020-09-21 09:11] raaymax opened #2568 "Support for async ajv schemas"
## 🚀 Feature Proposal

Ajv supports async schema with ability to define your own keywords for validation. But Fastify is not handling async validation properly.

## Motivation

My motivation is to clearly define all request validations in one place (in schema).

## Example

[code]
Send test query
[code]
Logs of the query
[code]

[2020-09-21 19:42] jsumners opened #2571 "Graceful shutdown via `fastify.close()`"
## 🚀 Feature Proposal

[code]

## Motivation

Prior discussions on such a feature revolved around intercepting signals. See:

+ https://github.com/fastify/fastify/issues/260
+ https://github.com/fastify/fastify/issues/582

As highlighted in the proposal, there are cases when the application will encounter trappable errors that should generate a hard exit. However, we don't really want to terminate

[2020-09-21 20:41] Noor0 commented on #2566
I'd like to take this but I don't know where to start. I'm unfamiliar with the framework code

[2020-09-21 21:09] mcollina commented on #2571
what would graceful: true or graceful: false do?

[2020-09-21 21:55] jsumners commented on #2571
`true` would stop accepting new connections and drain the current ones. `false` is the same behavior as currently implemented.

[2020-09-22 00:12] RafaelGSS commented on #2571
I'm +1 on this. [Here](https://github.com/fastify/fastify/issues/260#issuecomment-331724065) we have a plugin to deal with it. However, seems to have a huge effort to maintain as previously mentioned by @jsumners.

But, keeping it on fastify core we need to document/mantain it as well. So, the motivation is not clear for me.

[2020-09-22 00:47] jsumners commented on #2571
That plugin is about handling interrupts. And I'm honestly not clear what it actually does upon receiving one of those signals.

[2020-09-22 06:02] mcollina commented on #2571
I _thought_ we implemented `true` with the caveat that we drain only current requests, not pipelined requests.

Anyway, can you send a PR? You likely have a clear view of the behavior you'd like to achieve.

[2020-09-22 08:57] mcollina commented on #2566
https://github.com/fastify/fastify/blob/master/lib/contentTypeParser.js#L207-L223 should be exposed as a top-level function in `fastify.js` (`module.exports`) and a test for it added.

[2020-09-22 08:58] VigneshMurugan commented on #2566
I am on it @mcollina

[2020-09-22 08:59] mcollina commented on #2568
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-09-22 10:58] rburgst opened #2572 "Typescript types for `setValidatorCompiler` mismatch"
## 🐛 Bug Report

Typescript typings no longer work for setting ajv as a schema validator (even when using the code sample from the README).

## To Reproduce

Steps to reproduce the behavior:

[code]

This yields:

[code]

It would be nice to get an up to date sample on how to configure fastify with different ajv settings.

## Expected behavior

Typescript compilation succeeds

## Your Environment

[2020-09-22 11:10] jsumners commented on #2571
I should check the docs before creating issues. https://www.fastify.io/docs/v2.15.x/Server/#close

[2020-09-22 11:10] #2571 closed

[2020-09-22 11:54] jsumners commented on #2566
@mcollina is that the appropriate solution to this issue? The way I read it, they would just like to supply a config option that says "register these content types to the default parser as well." Something like:

[code]

If we are going to expose the default parser so that anyone can register it as many times as they like on their own, then I wonder if the better approach is to create a new plugin

[2020-09-22 11:55] jsumners commented on #2446
Leaving myself a note to consider https://github.com/fastify/fastify/issues/2568 as part of this.

[2020-09-22 13:27] mcollina commented on #2572
cc @fastify/typescript

[2020-09-22 13:30] mcollina commented on #2566
It can also be extracted as a separate module. The case here is for somebody that wants to parse JSON but do some other things on top, so they can reuse the type.

I'd also be ok in the option you are defining.

[2020-09-22 13:48] jsumners commented on #2566
Not so. They want to reuse the parser function as it is written. They just want to attach new incoming content type values to it.

[2020-09-22 14:05] #2567 closed

[2020-09-22 14:11] mcollina commented on #2566
Then your approach is likely better!!

[2020-09-22 14:25] Eomm commented on #2566
I thought the same: it would be like a plugin that registers a content type parser

[2020-09-22 20:33] danechitoaie commented on #1428
Just had same issue with app not working when deployed to Heroku. Adding "0.0.0.0" fixed the issue. Thanks @mcollina

[2020-09-22 21:19] jsumners opened #2575 "Deprecated API usage"
https://github.com/fastify/fastify/blob/c15e8381b23176bc20c390324941e6abceaf318d/lib/request.js#L119-L122

See https://nodejs.org/api/http.html#http_request_connection

[2020-09-23 00:44] humphd commented on #2575
I thought I'd try this, but when I did the obvious thing it seems that the `Request` object doesn't always have a `.socket` property.  When I switch to `return this.raw.socket` I fail 4 tests:

[code]

And they all fail like this:

[code]

When that happens, the `Request` looks like this:

[code]

Did you want a fallback to `this.raw.connection` if `this.raw.socket` doesn't exist?  Or is there mor

[2020-09-23 01:09] humphd commented on #2575
Is this a problem with test data only?  I don't understand it all, but wondered if it was coming from https://github.com/fastify/light-my-request/blob/b416dd64d97bf431fab14f7b19bf62edb15b757f/lib/request.js#L67-L69.

[2020-09-23 06:15] mcollina commented on #2575
@humphd yes, it's a test problem. I think a fix is needed light-my-request.

[2020-09-23 07:03] L2jLiga commented on #2572
I'll take it

[2020-09-23 08:03] #2572 closed

[2020-09-23 11:45] jsumners opened #2577 "Add `.protocol` getter to Fastify's request object"
Attempts have been made, with https://github.com/fastify/fastify/pull/2222 being the closest to acceptable. But that issue was closed at the author's request.

[2020-09-23 12:59] fox1t commented on #2563
What you are asking for doesn't even work in TS: `export default function(fastify, opts, done) { // herefastifyshould have autocomplete, but it doesn't }` will never have TS based on where it is used. You have to add them manually during the function declaration.

In addition to that you are using require to "import" an ESM file and that is not recommended at least: you are using babel only featur

[2020-09-23 13:33] humphd commented on #2575
OK, thanks.  Changing it in light-my-request breaks other code (e.g., the forwarded module), which still depend on `connection` vs. `socket`:

[code]

It seems like this might require some advice on how best to make the switch so it lessens impact on other code.  I see that there is an issue at https://github.com/fastify/light-my-request/issues/87 already.

[2020-09-23 13:36] mcollina commented on #2575
You need to _keep_ both in `light-my-request`.

[2020-09-23 21:14] jstayton commented on #2346
This has also been quite confusing to me.

I've registered a custom error handler with `setErrorHandler` because I want to reply with JSON that's different than the default error handler. I expected the `onError` hook to still be called, but it seems to only be called when you `reply.send` with an actual `Error` (as the default error handler does) – right?

In other words, the `onError` hook _isn'

[2020-09-23 21:33] MetCoder95 commented on #2577
I would like to address this one, can help me to enforce the codebase knowledge

[2020-09-23 23:20] dound commented on #401
@mcollina @sebdeckers  This behavior surprised me!

I had a bug in my code. My code was using the AWS SDK and failed to catch one of the exceptions it could throw. I was confused because when that exception was thrown (and uncaught) my API response code was 400 -- I had expected an uncaught exception to trigger a 500 error. After some digging, I realized the uncaught AWS exception happened to have

[2020-09-24 00:44] jsumners commented on #2577
Go for it.

[2020-09-24 04:27] x0us opened #2578 "logger serializers need all properties?"
I'm a learner programmer and trying to custom logger, i follow the [guide](https://www.fastify.io/docs/v3.4.x/Logging/). however, the following code got error due to " missing the err, req properties", i also found the source code in logger.d.ts define serializers need 3 properties.

I don't know is this a bug? or it's designed like this. please suggestion, thank you.

[code]

the defination of se

[2020-09-24 06:02] mcollina commented on #2578
Maybe @fastify/typescript can help, the code you wrote should work in JavaScript.

[2020-09-24 06:19] mcollina commented on #401
Would you like to send a PR? This behavior is needed is to support https://www.npmjs.com/package/http-errors as Express does.

[2020-09-24 07:36] fox1t commented on #2578
Since `req`, `err`, and `res` properties are optional as we can see in https://github.com/fastify/fastify/blob/df9fbc183fa05fa1a23781b3f11fbf81f6854033/lib/logger.js#L76 this should be a typings bug.

@x0us would you like to send a PR? The fix should be an easy one
[code]

[2020-09-24 15:22] zekth opened #2580 "Typescript : add readonly"
Currently we ship the typings with the library and one thing came to my mind. For example for the `FastifyRequest` we have the current typing:

[code]

My proposal is to move it to:
[code]

So here what's the concern? The fact that we push readonly makes sense as any modification on those properties would not change anything in the request/response lifecycle (as far as i know). @fox1t brought up t

[2020-09-24 15:46] mcollina commented on #2580
cc @fastify/typescript

[2020-09-24 17:10] Ethan-Arrowood commented on #2580
If any of these properties can be modified then they shouldn't be `readonly`. If a properties has "writable: false" then it is appropriate to use `readonly`

[2020-09-24 17:23] fox1t commented on #2580
I agree with you. We should track them and make them readonly. It would be also a nice way of documenting them.

[2020-09-24 17:28] zekth commented on #2580
Not sure there is lot of properties created with `writable: false` currently but some might definitely better have this attribute.

[2020-09-24 18:43] kevbook commented on #2577
I am using this logic on my app

[code]

[2020-09-25 09:31] theGlenn opened #2581 "Shorthand declaration with options.handler throwing "handler.apply is not a function""
## 🐛 Bug Report
The shorthand declaration Sample doesn't seem to work.
Querying the url throws:

[code]

## To Reproduce

Steps to reproduce the behavior:

Simply run the following example: https://www.fastify.io/docs/latest/Routes/#shorthand-declaration

[code]

## Expected behavior

A clear and concise description of what you expected to happen.

[code]
Response
[code]
## Your Environment

- *no

[2020-09-25 09:34] mcollina commented on #2581
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-09-25 09:37] mcollina commented on #2581
I normally use the following:

[code]

This is actually more natural, however we should also support the above..

[2020-09-25 09:40] mcollina commented on #1598
I don't think there is much more than we can do here as most of the time is spent in booting Ajv due to the massive ipv6 regexp :/.

[2020-09-25 09:40] #1598 closed

[2020-09-25 09:42] mcollina commented on #1457
Closing for no activity/interest. Feel free to reopen!

[2020-09-25 09:42] #1457 closed

[2020-09-25 10:50] fox1t commented on #2581
Why putting the route handler inside the opts object should be something we want to do?

[2020-09-25 11:36] mcollina commented on #2581
We currently say we support this in our docs :/. We can fix the doc and add a better error message for this?

[2020-09-25 11:59] delvedor commented on #2581
I think the behavior is intended 🤔
This is a documentation issue and not a code one.

[2020-09-25 12:35] Eomm commented on #2581
I use this pattern every day, I cannot reproduce:

[code]

[2020-09-25 13:30] Eomm commented on #2581
It is useful to build many endpoints programmatically (I create an array of `opts`)

[2020-09-25 13:53] fox1t commented on #2581
Never thought about doing this!

And why not mapping also the URL in every opts object and then using it with `.route(`? 🤔

[2020-09-25 14:36] Eomm commented on #2581
Just to don't declare the METHOD - it would be less readable 😅

Yes, you can, but I had many trick-shot with this feature like:

Handler overwriting:
[code]

A lot of proxy:

[code]

[2020-09-26 08:43] zekth commented on #2580
I'd add if this property has attribute `writable: false` or has a getter without a setter.

[2020-09-26 11:51] theGlenn commented on #2581
@Eomm this is weird, what version on fastify are you on ?

[2020-09-26 12:32] Eomm commented on #2581
The last one and the v2 too

Did you tried my snippet? It it works for you the issue should been hidden in some other code

[2020-09-28 06:33] drieshooghe opened #2586 "TypeError: lru is not a function"
## 🐛 Bug Report

When bundling lambda functions with webpack (for Node) through lerna/yarn workspaces we get the following error:
[code]
However, copying the content of `tiny-lru.cjs.js` into `tiny-lru.esm.js` and into `tiny-lru.js` seems to fix this.
Could it be this dependency doesn't work?

## Your Environment

- *node version*: v12.18.2
- *fastify version*: ~2.15
- *tiny-rlu version*: ^7.0.2
-

[2020-09-28 07:36] fox1t commented on #2586
Can you please provide a minumum repro repository?

[2020-09-28 11:28] drieshooghe commented on #2586
@fox1t here you go: https://github.com/drieshooghe/fastify-issue-2586

When you start the functions using `lerna run --parallel start --` and try to visit e.g. `http://localhost:4001/1/graphql`
You'll see the error.

[2020-09-28 14:43] kibertoad opened #2587 "Plugin for Dependency Injection"
## 🚀 Feature Proposal

Provide an official `fastify` plugin that would allow injection dependency within fastify app lifecycle.

## Motivation

Provide first class, fastify-aware dependency injection experience for teams that prefer applying the inversion of control.

## Example

Managing app-scoped singletons and request-scoped service, repository, client and other entity instances.
Exact API wou

[2020-09-28 14:45] kibertoad commented on #2587
I would be interested in working on this, if there is greenlight to proceed from the `fastify` team.

[2020-09-28 14:49] Ethan-Arrowood commented on #2587
Seems like a great idea! I've found success creating a plugin first in a personal repo and then proposing it to the team when its ready if they'd like to move it into the fastify org or not.

[2020-09-28 14:51] kibertoad commented on #2587
@Ethan-Arrowood Yup, I would definitely go that route, but it's always nice to gauge the initial interest in something prior to spending time and effort on it. And on that stage exact implementation and API are not that important.

[2020-09-28 14:57] mcollina commented on #2587
I think `fastify-autoload` already has 95% of what you'd need. How would this be different?

[2020-09-28 15:07] mcollina commented on #2586
The problem is really on your webpack config.

[2020-09-28 15:11] kibertoad commented on #2587
@mcollina Please correct me if I'm wrong, but I think that all `fastify-autoload` does is load all plugins. This might work as a very rudimentary DI engine, since potentially you can access other plugins exposed via decorators either on apps, or on requests, but there are several limitations to that approach:

1) Decorators are exposed as a single global state, basically. So if you have 100 module

[2020-09-28 15:23] jsumners commented on #2587
I highly recommend against this. I have implemented this exact thing in an internal wrapper. It's much easier to use native JavaScript for DI.

[2020-09-28 15:26] kibertoad commented on #2587
@jsumners What were the issues that you have encountered? People seem to be using things like https://www.npmjs.com/package/awilix-koa, although there doesn't seem to be anything like that for fastify.

[2020-09-28 15:44] StarpTech commented on #2587
I have currently no opinion about that in the context of fastify but DI is more than accepting any type. It's about inversion-of-control. A consumer is not responsible to

- define the lifetime,
- service instantiation
- contract-fulfillment.

This can't be archived with fastify-autoload or native Javascript.

[2020-09-28 15:46] mcollina commented on #2587
I'm +1 to all what @StarpTech said.

[2020-09-28 15:52] kibertoad commented on #2587
@mcollina Then it sounds to me like this is more of a philosophical question that each team has to answer for itself, whether or not they want to use DI; but there is an existing gap in functionality that this plugin would fill, hence enabling teams to pick to themselves.

That said, considering that majority of core team is indifferent to DI, with one in favour and one against, would including a

[2020-09-28 15:55] kibertoad commented on #2587
@jsumners Points raised by @StarpTech and myself still stand, though. This definitely provides a certain barebones version of dependency management, but full-blown DI engine provides functionality not available when following this approach.

[2020-09-28 16:28] mcollina commented on #2587
What @jsumners and myself are saying is that what Fastify provides already is "good enough" for our use cases. A more complex use case would probably need a bigger library. Building a new plugin for this would be nice.

[2020-09-28 16:43] RafaelGSS commented on #2587
I'm +1 on this plugin. On `nestjs` we have this approach in an elegant way.

[2020-09-28 16:49] #2580 closed

[2020-09-28 17:19] kibertoad commented on #2587
@RafaelGSS I'm currently prototyping it, let's see if this can be done in a not entirely intrusive way!

[2020-09-29 07:00] delvedor commented on #2587
One of the core design concepts of Fastify is: _if something could be a plugin, it should_.
The idea behind this is that you can assemble the plugins you need to have a tailor made framework, without sacrificing security or performance.

[2020-09-29 12:59] jsumners opened #2588 "Docs: link points to missing anchor"
https://github.com/fastify/fastify/blob/bc23290f699d9092b98037fb99eb7e48d07c856d/docs/Validation-and-Serialization.md#L201

This is meant to link to the "ajv" option in the server options. It is not doing so. This is easily seen by trying to follow the link at https://www.fastify.io/docs/v3.4.x/Validation-and-Serialization/#ajv-plugins

[2020-09-29 13:06] bartkalanski commented on #2588
Do you mind if I do this for hacktoberfest ?

[2020-09-29 13:07] jsumners commented on #2588
Go for it.

[2020-09-29 13:08] bartkalanski commented on #2588
I appreciate it, thank you!

[2020-09-29 14:10] KaKi87 commented on #1800
Hello,
Any news on this ?
Thanks

[2020-09-29 14:22] Ethan-Arrowood commented on #1800
@KaKi87 looks like it was abandoned, feel free to pick up the linked PR and complete it!

[2020-09-29 14:27] kibertoad commented on #1800
https://github.com/fastify/fastify/pull/2582 is not the same?

[2020-09-29 14:29] Ethan-Arrowood commented on #1800
Oh ignore me then, looks like this may be able to be closed!

[2020-09-29 15:14] #1800 closed

[2020-09-29 16:20] KaKi87 commented on #1800
Okay, any ETA to NPM release ? Thanks

[2020-09-29 17:12] Ethan-Arrowood commented on #1800
You can pull directly from the master branch of the repo if you need access to it immediately; otherwise, the release will come when the the lead maintainers are available.

[2020-09-29 20:52] RafaelGSS commented on #2577
This could be closed @jsumners ?

[2020-09-29 20:54] RafaelGSS commented on #2507
How about this issue? The PRs above close it?

[2020-09-29 20:58] RafaelGSS commented on #2448
Closing since PR was merged. Feel free to open if it not solve all the issue.

[2020-09-29 20:58] #2448 closed

[2020-09-29 21:14] #2507 closed

[2020-09-29 21:14] mcollina commented on #2507
yes

[2020-09-29 21:14] #2577 closed

[2020-09-30 01:10] Ethan-Arrowood opened #2589 "Use TypeScript Template Literal Types"
😊 TypeScript 4.1 introduces something really awesome, template literal types.

In short, they are incredible and should make our types much easier to manage (and without any breaking changes). One of the immediate things I see we can update is improving our hooks as many have the exact same type definition just slightly different names. Similarly the `get`, `post`, etc. methods all have the same d

[2020-09-30 01:14] Ethan-Arrowood commented on #2589
Also, i'm not entirely sure how yet but this may also be a huge gain for enabling implicit json schema typing.

[JSON Parser](https://www.typescriptlang.org/play?ts=4.1.0-pr-40336-88#code/C4TwDgpgBACghgJwM4QQUQQg9ggPAFSggA9gIA7AEySiWAQEtyBzAPigF4oBvIzHAFxR6AV2gBfKADIo+AFChIUNHGAB1ABYMySMHADGEXAGVgq6CTJUadRi3Yc5UWvSbMipCtSinzT51AA-LCIKOj8eABEKupaOnqGUMxYwEkUqAz6LnbuihCRrP7OQr5kHlbeAAZQACTcTABmqD5mZ

[2020-09-30 09:42] theGlenn commented on #2581
@Eomm I tried your snippet and it works, but when removing the `addHook` part I get the same `handler.apply is not a function` error again

[2020-09-30 09:57] Eomm commented on #2581
In your first message, there is not an `addHook` call, so, would you mind to add a complete script that we can run to replicate?

[2020-09-30 12:41] theGlenn commented on #2581
@Eomm I'm not sure to understand the use of `addHook` it looks more like hack to me doesn't it?

[2020-09-30 12:46] Eomm commented on #2581
My comment here https://github.com/fastify/fastify/issues/2581#issuecomment-698966213 was just to show to @fox1t how this feature could be used, it is not a suggestion to solve, sorry for the off-topic.

Right now the state of this issue is: we can't replicate.
For this reason, we need a snippet to reproduce the problem that you are experiencing

[2020-09-30 19:48] KushalBhanot commented on #2588
Hey! I'm not able to follow the issue. Can you please guide me?

[2020-09-30 21:21] indranil-tiwary commented on #2588
I suppose this is a issue in https://github.com/fastify/website/blob/master/src/website/layouts/docs_page.html. Is it correct?

[2020-10-01 14:55] miwnwski commented on #2304
Am I the only that still have this issue, even post upgrade to v3.5?

[2020-10-01 14:57] #2588 closed

[2020-10-01 14:58] kibertoad commented on #2304
@miwnwski Can you share a minimum reproduction code?

[2020-10-01 15:07] miwnwski commented on #2304
@kibertoad sure, sorry, I just assumed OPs would suffice.

[code]

[2020-10-01 15:10] miwnwski commented on #2304
Was the fix only merged for v2 maybe? I haven't really dug through the source, wanted to know if this was intended or not for fastify v3.x.

[2020-10-01 15:13] mcollina commented on #2304
Can you send a PR for v3?

[2020-10-01 23:21] ElianCordoba opened #2593 "Router agnostic"
Related #1736

## 🚀 Feature Proposal

Being able to instantiate fastify with a find-my-way-compatible router. Code was taken from the issue above

[code]

## Motivation

I'm trying to migrate a firebase function's based backend to use fastify. Firebase generates all `static` `POST` endpoints, since I know that all of them are static I was thinking of writing my own super simple router (basically a

[2020-10-02 02:01] Ethan-Arrowood commented on #2593
You may be preoptimizing here. The radix tree is already pretty fast.

That said, it wouldn't hurt to make fastify more extensible; maybe there is something to gain by interchanging the router for a specific use case.

If you'd like to give it a shot, go for it! Never hurts to try 😄

[2020-10-02 05:52] delvedor commented on #2593
The router code is coupled with Fastify, making it agnostic looks like a massive amount of work for a very little gain. Matching static routes is already *very* fast.
You are free to experiment, but I don't think such pr would be accepted, as a big chunk of `find-my-way` features are written for Fastify.

[2020-10-02 06:36] jackneer commented on #2561
Hi, may I help this? thanks!

[2020-10-02 06:54] mcollina commented on #2561
Go for it!

[2020-10-02 13:46] ElianCordoba commented on #2593
Wouldn't be the first time lol

I will take a look at it, just to see what I can come up with. Would you say that using `autocannon` against the server running locally it's a good real-world performance indicator?

[2020-10-02 14:03] mcollina commented on #2593
@ElianCordoba if you'd like to work on the router, you can investigate a rewrite generating code instead of using a radix tree: see https://github.com/delvedor/find-my-way/pull/89 for some example.

[2020-10-02 14:06] raaymax commented on #2568
Nope, sorry. Your stack is quite different from what I used to and I have now deadlines coming ahead.
Nevertheless, I can share with you my workaround for this problem:

First, define ajv validator with defined async keyword:
[code]

Then recreate the validation functionality of fastify with the use of async/await and put it as `preHandler`:
[code]

[2020-10-02 14:09] mcollina commented on #2568
Great workaround!

[2020-10-03 14:19] #2561 closed

[2020-10-03 17:30] StarpTech opened #2598 "Ensure that fastify Request is encapsulated"
## 🚀 Feature Proposal

Fastify `Request` object is bound to the HTTP request lifecycle.

As a developer, I would expect that fastify creates a new `Request` object for every new request. While this is the case, fastify keeps object references across requests. This is due to the nature of prototype inheritance [here](https://github.com/fastify/fastify/blob/810f88aeeb0878551bb5c9289d7175edc391ff98/l

[2020-10-03 19:44] mcollina commented on #2598
It is not possible to achieve this reliably and in a performant way (I already stumbled on this a few times unfortunately). I think we should document this for v3 and maybe add a better API in v4.

[2020-10-04 03:35] #2535 closed

[2020-10-04 11:16] mcollina opened #2599 "Fix FST_LIGHTMYREQUEST_DEP01 warnings."
When running tests, there are 3 warnings to be movbed to `req.socket` instead.

[code]

[2020-10-04 11:17] mcollina commented on #2599
cc @humphd

[2020-10-04 14:03] humphd commented on #2599
I can look at this as part of #2594.

[2020-10-04 20:26] #2575 closed

[2020-10-04 20:27] #2599 closed

[2020-10-05 08:06] Eomm commented on #2598
We could support a `factory` option that will run for each request?

[code]

[2020-10-05 08:59] mcollina commented on #2598
That'd slow things down considerably. Moreover, we have hooks for this kind of work and it's as is as adding an `onRequest` hook. Now, we could have the `factory: true` option to do all the boilerplate for us (using `'onRequest'`).

[2020-10-05 15:46] BboyAkers opened #2600 "Add File Path Support For fastify.listen()"
## 🐛 Bug Report

Wanting fastify.listen()  to support string paths.

https://nodejs.org/api/net.html#net_server_listen

This shows a path can be listened to instead of a number. Does Fastify support IPC?
## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Should be able to support file paths.

## Your Environment

- *node version*: 10, 12, 13
- *fastify version*: 3
- *

[2020-10-05 15:48] Ethan-Arrowood commented on #2600
Will be pairing on this with Austin 😄

[2020-10-05 15:49] Ethan-Arrowood commented on #2600
Some more relevant info:

Fastify does support IPC: https://github.com/fastify/fastify/blob/3709671b73c9109ef54fa1e85de0d7b7f7946226/test/listen.test.js#L186

The intended change is probably typescript only, adding string to the list of allowed port types

[2020-10-05 23:06] #2600 closed

[2020-10-06 21:41] agramian opened #2603 "Plugin registration no longer works with webpack"
## 💥 Regression Report

The change from #2549 has caused plugin registration to error when using fastify with webpack.

Previously when checking the version of fastify against the version supported by plugins, the fastify version was being derived from the `fastify/package.json` explicitly in [this block](https://github.com/fastify/fastify-plugin/blob/master/plugin.js#L93-L123).

With the change f

[2020-10-06 22:34] ElianCordoba commented on #2593
@mcollina oh I remember that PR will definitely take a look at the benchmarking code used there, thanks!

Also, now that you mentioned that PR I remembered that I have a PoC of a compiler-based router somewhere haha, give me a little bit of time so that I can clean up the code it up and I will share the repo.

[2020-10-07 10:02] fox1t commented on #2589
I agree that introducing them would be awesome! I'll be glad to review the related PR in the future!

[2020-10-07 14:25] Ethan-Arrowood commented on #2589
I've already spent some time experimenting with it; unfortunately, some of the template literal tricks don't translate as well to our type definitions (they seem to be better used in TS source rather than definition files). The JSON stuff tho is going to be really cool if i can get it to work. I'm trying to watch what others come up with too as its a pretty obvious idea to use these things to do i

[2020-10-07 15:34] #2603 closed

[2020-10-07 17:39] agramian commented on #2603
This issue is not resolved via #2605 and should be reopened per my comment https://github.com/fastify/fastify/pull/2605#discussion_r501179125.

If the desired approach is to skip the version check entirely then I can open a PR or if you would rather handle it let me know and I'll hold off.

Keep in mind if the version is derived from the `package.json` then there needs be some logic to make sure t

[2020-10-07 20:18] mcollina commented on #2603
A PR would be likely welcomed.

[2020-10-07 21:47] zekth commented on #2603
This is because you're running you process in this kind of scaffolding?
[code]

[2020-10-07 22:32] agramian commented on #2603
Yes I understand why the issue is occurring.  It is a regression from the previous behavior of fastify.

Even independent of using webpack, as I indicated at https://github.com/fastify/fastify/pull/2605#discussion_r501179125 the logic for using `fs.accessSync` is incorrect as it would throw an uncaught error rather than return `undefined` as you intended.

I will open a PR later today.

[2020-10-07 23:25] bewong89 commented on #2430
Hello! I'm keen to make my first contribution here and this looks like a something I could do. Is it ok if I take this issue?

Reading the discussion above it sounds like we want to add the context field into the error object as it sounds like a bug that it's not here (according to the docs). Is that right?

[2020-10-09 15:00] matthiasg commented on #469
fastify.log is still undefined while request.log is defined when using a custom pino logger instance (pino 6.7.0)

[2020-10-09 18:23] mehmetegemen commented on #2334
Do you still need help? I can.

[2020-10-09 19:00] jsumners commented on #2334
You are very welcome to dig in.

[2020-10-10 07:33] Eomm commented on #2334
This is related to fastify v2: do we release not security patch for that version?

[2020-10-10 07:55] mcollina commented on #2334
We should if there is a vulnerability

[2020-10-10 09:52] jsumners commented on #2334
If the community wants to provide a PR against v2 I don't see any reason we can't consider it.

[2020-10-11 11:09] VigneshMurugan commented on #2566
I think this issue can be closed now.

[2020-10-11 11:13] #2566 closed

[2020-10-12 09:04] cmarcondes opened #2613 "Typescript doesn't recognize new properties added using decorators."
## 🐛 Bug Report

I'm creating a new plugin that should add a new property in the FastifyRequest called `currentUser`, I'm following this doc https://www.fastify.io/docs/latest/TypeScript/#creating-a-typescript-fastify-plugin. The property is added correctly, but the problem is that typescript doesn't recognize this property, when I call `request.currentUser` it fails saying that this property does

[2020-10-12 09:08] delvedor commented on #2613
cc @Ethan-Arrowood @fox1t

[2020-10-12 09:24] cmarcondes commented on #2613
@delvedor done!

[2020-10-12 12:45] Ethan-Arrowood commented on #2613
Can you make sure you have installed your node modules? I've seen that cause this before. Otherwise it _looks_ fine so I'd have to take a closer look later.

[2020-10-12 12:51] cmarcondes commented on #2613
Hi @Ethan-Arrowood , thanks for your message. Yes all dependencies are installed.

[code]

[2020-10-12 12:54] Ethan-Arrowood commented on #2613
Hmm, if I get a chance today I'll pull down your gist locally and see what's up.

[2020-10-12 12:58] cmarcondes commented on #2613
If you need a more concrete example you can install https://github.com/fastify/fastify-flash, it also adds some properties to the request, but Typescript doesn't recognize it too.

[2020-10-12 14:38] Ethan-Arrowood commented on #2613
can you try adding an `"includes"` glob to your tsconfig? Something like `**/*.ts`

[2020-10-12 15:08] cmarcondes commented on #2613
Nothing changed after I added it. I restarted TS to make sure it gets the changes.
[code]

[2020-10-12 15:18] Ethan-Arrowood commented on #2613
I was able to clone your gist and run `npm run build` with no issues. My VSCode intellisense also picked up the currentUser type as `string`.

[2020-10-12 15:55] Ethan-Arrowood commented on #2613
No worries! Glad you were able to fix it 😁

[2020-10-14 01:14] jstayton opened #2616 ""Premature close" when serving favicon.ico"
## 🐛 Bug Report

Ever since launching a Fastify app to production yesterday, I've seen 8 of the following error (reproduced in development):

[code]

This app has received very little traffic, so 8 isn't some minuscule number in the grand scheme of things. All of them appear to be requests for `/favicon.ico`.

Thanks in advance for any help you can provide!

## To Reproduce

I've been able to repr

[2020-10-14 05:46] mcollina commented on #2616
Could you upload a runnable script to reproduce the error? You can create that in a repo and add a link here and possibly use http://npm.im/autocannon to fire a huge amount of requests.

Somehow either the stream reading the file or the client socket is closed before the file is sent.

[2020-10-14 07:38] mehmetegemen commented on #2334
Guys I got corona and having terrible days cause of it, so I have to take back my offer, sorry for that.

[2020-10-14 10:07] jefjos opened #2618 "Handle null input"
The REST API I have written takes a payload optionally. Each field in the payload is optional. So I have a schema configured that validates the fields if they are sent in payload.

[code]
However I want users to be able to call the API with no payload at all. This is the error I get when I call the API without a payload -

POST http://localhost:3000/api/resources

[code]
Is there a way to treat nu

[2020-10-14 10:33] Eomm commented on #2618
Could you add a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)?

Without it, we are unable to help you.

[2020-10-14 12:09] SimenB opened #2619 "Automatically handle `HEAD` requests in `GET` handler unless explicit `HEAD` handler exists"
## 🚀 Feature Proposal

Fastify does not automatically handle `HEAD` requests in `GET` handlers, unlike Express.

From [`express`' docs](https://expressjs.com/en/api.html#app.METHOD)

I think it makes sense for Fastify to do the same (possibly via some option?).

From [Wikipedia](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol#Request_methods)

As mentioned in https://github.com/fastify/f

[2020-10-14 14:25] RafaelGSS commented on #2619
I'm +1 on this. However, this feature should have a great doc and able to unsubscribe the HEAD requests for some reason.

[2020-10-14 15:26] SimenB opened #2620 "`request.url` is mutated between `onRequest` and `onResponse`"
## 🐛 Bug Report

`request.url` is different in `onRequest` vs `onResponse`.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

This will log the following

[code]

## Expected behavior

I'd expect the logged output to be

[code]

If not that, at least access to the original URL. It's on `req.raw.originalUrl` due to `fastify-express` putting it there during an `onRequest`, but that

[2020-10-14 16:35] mcollina commented on #2618
Maybe we should add a FAQ?

[2020-10-14 16:36] jsumners commented on #2618
I go back to my argument that we should just accept an empty body as valid. It seems to be common for people to want to ping a `POST`/`PUT`/etc with an empty body as an RPC invocation.

[2020-10-14 16:39] mcollina commented on #2618
Let's do that. Validation would fail then, but it's a more meaningful error.

[2020-10-14 17:09] mcollina commented on #2620
It's express that is changing `req.raw.url`, as we do not copy this value to save memory: https://github.com/fastify/fastify/blob/a7948798fb88a2054c65f123996f53714ef2b1da/lib/request.js#L108.

This must be fixed in fastify-express to reset that value after express has finished executing.

I'm moving this to fastify-express as it's a bug there!

[2020-10-15 10:25] jstayton commented on #2616
Thanks for the quick reply, @mcollina!

Here's a minimal Fastify app to reproduce the error with: https://github.com/jstayton/fastify-premature-close-debug

[2020-10-15 14:14] #2430 closed

[2020-10-15 15:47] Ethan-Arrowood commented on #2589
Experiment: [wrap server based generics in an object](https://www.typescriptlang.org/play?ts=4.1.0-dev.20201015#code/JYWwDg9gTgLgBACxjMcBmUIjgciSnAKFElkWTACZ1Ns8LKiTp58wBnGrXN9owmAE8wAUzgBlEVABuUgKoA7YBAVwAvORQA6STKlwAPpo46psqIeOUtACQa7zlttbspKkgMYBXKCIdTCAWExACURAEcAHkI4CTgRAA8YEQUAE05-KEVlVQ02Uz0oQgA+dTjE5LTOfMynCnYCxwB+Yy0ASQUPLGAFAHMAWRF2dgBDXpEYuAAucqSU9KtbezN9I2clt08fPxWLFvXXKkyw8K8hmEnYmYUR

[2020-10-15 20:35] Eomm commented on #2619
Would a plugin be a solution?

A plugin could decorate the `fastify` instance with a new method:

[code]

that does the boring work:

- register the routes
- manage the content-length header

[2020-10-15 21:11] delvedor commented on #2619
I like the idea, but I think it should definitely live in a plugin that does this behind the scenes, very likely by using the `onRoute` hook.

[2020-10-15 21:40] mcollina commented on #2619
I agree with @delvedor, this can be implemented in a plugin that defines a new route for every get defined. It can alter the body via a custom `onSend` header or by calling the other route via `inject()`.

[2020-10-16 13:25] jsumners opened #2624 "Do not mutate error objects with easy to collide properties"
## 🚀 Feature Proposal

https://github.com/fastify/fastify/pull/2622#pullrequestreview-509413965

We are attaching public properties to error objects that could collide with user properties. We should establish a well known semi-private API for this instead.

## Motivation

Leave user objects alone, mostly, so we don't step on any toes.

[2020-10-16 15:02] mcollina commented on #2624
Can we document all the cases where we are doing it?

[2020-10-17 12:56] Cosbgn opened #2627 "Schema is validated also for GET requests"
## 🐛 Bug Report

The `schema.body` should validate *only* POST & PUT requests as per docs. Fastify now is validating also GET requests.
An live example is here: https://codesandbox.io/s/hungry-stonebraker-o03t6?file=/src/build.js

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

I should be able to get the route without an error.

## Your Environment

- *node versio

[2020-10-17 13:17] Cosbgn commented on #2627
A temporary solution to this issue is to add `nullable:true` in the schema like this:
[code]
However this is not a real solution since the `POST` can not be `null` and the `GET` request should not be validated at all, I can't allow all my schemas to be `null` just for the `GET` requests.

[2020-10-17 18:54] ElianCordoba commented on #2593
Finally, I got my act together, [here](https://github.com/ElianCordoba/aot-router) is the rough PoC of my router, definitely not a drop-in replacement to find-my-way but perhaps an interesting idea. Would appreciate some thoughts on it if you have any 😄

[2020-10-18 10:56] mcollina commented on #2593
Interesting idea @ElianCordoba - I feel that would be too diverging from the http standard to be useful for existing users.

[2020-10-18 11:06] mcollina commented on #2627
The schema is used as a protection of the handler. Your handler can accept a request with and without a body - so the body can be nullable.

I find the behavior and the proposed solution correct.

What's your use case? I find a bit unusual have the GET and POST implementation on the same handler when using a schema.

[2020-10-18 11:19] Cosbgn commented on #2627
My use case is something like this:
[code]
Pretty much have a route where I can fetch all the data for a user **and** post some new data.
Then I have a different route like `/todos/:todo_id` where I can DELETE or PUT a todo. The logic of the routes seems to make sense for me.

In my opinion the schema should protect the handler only if it's a POST or PUT, it doesn't make sense to validate the body

[2020-10-18 12:17] mcollina commented on #2627
The recommended way would be to remove that if and define two handlers. You essentially have two handlers in one.

---

The advantage is to avoid a few if branches in the validation phase which is already quite expensive.

[2020-10-18 15:28] plaanupam commented on #2618
Can I try this? Just wanted to start contributing.
As I understand, we have to accept the body as a null/undefined object too, in methods except get.

[2020-10-18 16:42] mcollina commented on #2618
go for it!

[2020-10-18 19:05] Cosbgn commented on #2627
Ok, if this way the handler is faster it makes sense to have it this way. Thanks for the explanation.

[2020-10-18 19:05] #2627 closed

[2020-10-19 04:23] botstar-quang opened #2629 "logSerializers is missing in typescript (3.6.0)"
## 🐛 Bug Report

logSerializers is mentioned in docs but can find it in typescript code and I tried to workaround with any type but it didn't log my custom field, please have a check.

https://www.fastify.io/docs/latest/Routes/#custom-log-serializer
https://www.fastify.io/docs/latest/Routes/#routes-option

## Your Environment

- *node version*: 14
- *fastify version*: 3.6.0
- *os*: Mac

[2020-10-19 05:50] mcollina commented on #2629
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-10-19 09:44] botstar-quang commented on #2629
Unfortunately not in these weeks, I'm doing a MVP product so I'll try to workaround atm. Thanks great framework btw!

[2020-10-19 12:35] jsumners commented on #2618
Correct. Basically, this should work:

[code]

[2020-10-19 13:17] zekth opened #2631 "[TypeScript] Avoid the use of type any"
Like mentionned in : https://github.com/fastify/fastify/pull/2626#discussion_r507721261

The use of type `any` is not a good thing.

We want to have proper types.

[2020-10-19 13:23] Ethan-Arrowood commented on #2631
I support this change; stricter the better imo

[2020-10-19 13:58] #2629 closed

[2020-10-20 08:35] mcollina commented on #2616
Fixed in https://github.com/fastify/fastify-static/pull/149

[2020-10-20 08:35] #2616 closed

[2020-10-20 20:29] Jelenkee opened #2633 "[Minor] Wrong anchor link in Docs"
In der [Docs](https://www.fastify.io/docs/latest/Reply/) for Reply the anchor link for _Redirect_ does not work.
* Link: `#redirectdest`
* actual id: `redirectcode--dest`

I don't know how to fix that. Seems like a problem with the markdown-to-html conversion.

[2020-10-21 01:56] matthsena opened #2634 "Property use does not exist on type FastifyInstance"
## 🐛 Bug Report

I'm trying to use cors middleware in my project, with middie and Typescript, but have a problem with **fastify.use** type, return this error:

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Don't show this issue

## Your Environment

- *node version*: v14.12.0
- *fastify version*: ^3.7.0
- *typescript version*:  ^3.9.5
- *middie version* : ^5.1.0

[2020-10-21 02:41] Ethan-Arrowood commented on #2634
I believe there is a PR on middie to add the use type

[2020-10-21 06:31] mcollina commented on #2634
I'll ship a new release of Middie and fastify-express today.

[2020-10-21 15:18] mcollina commented on #2634
middie and fastify-express shipped.

[2020-10-21 15:18] #2634 closed

[2020-10-22 09:05] aggarwaldev commented on #2379
@mcollina Node.js v15 (Current) supports QUIC.

Ref: https://github.com/nodejs/node/releases/tag/v15.0.0

[2020-10-22 10:07] mcollina commented on #2379
I'd be happy to review some (external) modules/plugins etc that can enable us to use QUIC/HTTP3 internally. There is no HTTP/3 in core, nor any binary of Node.js with Quic enabled.... because we need a patch on top of OpenSSL that they are not adding: https://www.openssl.org/blog/blog/2020/02/17/QUIC-and-OpenSSL/.

[2020-10-22 12:27] AviBueno opened #2639 "Hooks docs issue"
The [Hooks documentation (latest v3.7.x)](https://www.fastify.io/docs/v3.7.x/Hooks/) contains examples that end with an empty `return` call.
How do you guys feel about removing those?

---

Examples:

https://www.fastify.io/docs/v3.7.x/Hooks/#onrequest

    fastify.addHook('onRequest', async (request, reply) => {
      // Some code
      await asyncMethod()
      return
    })

https://www.fastify

[2020-10-22 12:28] jasnell commented on #2379
@aggarwaldev ... The quic support in Node.js 15 is still under active development, is not yet officially supported, and still has a long way to go, not to mention the fact that it relies on an unofficial patch to openssl that is unsupported. I'm currently exploring a few options to move things forward, but, given that the Openssl omc has decided not to pick up official quic support until well afte

[2020-10-22 12:55] ElianCordoba commented on #2593
Yeap that's the main downside, but to be honest, could node process, let say, 50% more request per second that what Fastity is now outputting? @lukeed gave me his thoughts on the topic [here](https://github.com/lukeed/trouter/issues/15#issuecomment-637994244) and wasn't very optimistic 🙈

[2020-10-22 13:02] mcollina commented on #2593
The router is currently the main bottleneck of Fastify. There is still a gap between Fastify and frameworks without a router in term of performance, and we could lower that. The returns are probably minimal anyway - that's the reason why no one has worked on this yet.

[2020-10-22 13:48] mcollina commented on #2639
go for it.

[2020-10-23 11:30] mcollina commented on #2397
@fastify/typescript is this something you plan to address? This has been open for a while.

[2020-10-23 11:34] fox1t commented on #2397
I think this issue was just due to the change that TS introduced in 3.9 version.
The specific issue was fixed, as far as I know.

We should close this.

[2020-10-23 11:53] #2397 closed

[2020-10-23 14:14] thomasthiebaud opened #2644 "Support case insensitive query parameters"
## 🚀 Feature Proposal

Could it be possible to support an optional case insentive option for query parameters?  Adding the option `caseSensitive: false` does not seems to impact query parameters

## Motivation

For backward compatibilitites you sometime need to support multiple casing

## Example

With that code

[code]

Both tests below should pass

[code]

[2020-10-23 16:02] MetCoder95 commented on #2619
Is there any process to create a plugin repo? I would like to contribute more often and this sounds like a good weekend project if it's not already done

[2020-10-23 18:04] mcollina commented on #2619
Take a look at one of the examples in this org... https://github.com/fastify/fastify-cookie is a great example.

[2020-10-23 18:14] mcollina commented on #2644
Yes of course! Would you like to send a PR?

Note that you can work around this pretty easily by overwriting https://www.fastify.io/docs/latest/Server/#querystringparser, which would by recommended fix, e.g. call `toLowerCase()`  if `caseSensitive` is set to `false`.

[2020-10-23 18:36] thomasthiebaud commented on #2644
I won't be able to access my computer next week, so if someone wants to fix it before they are more than welcome. Otherwise I'll have a look in a week time

[2020-10-24 10:27] korobaka commented on #202
Reopening this thread, I have the same eerror with the latest version of fastify and fastify formbody. Here is my session.js code:
`
const
    bcrypt = require('bcrypt'),
    umodel = require('../../db/models/users');

module.exports = (req, res) => {
    console.log(req.body);
    const { username, password } = req.body;
    if (!username || !password) {
        let url = "/login?message=Some%20f

[2020-10-24 10:51] mcollina commented on #202
I'd recommend you opening a new issue on fastify-formbody with an example we can run. Thanks!

[2020-10-24 10:53] julesnuggy commented on #2644
I'm happy to take a look into this today :-)

[2020-10-24 12:17] mcollina commented on #2644
Great, thanks!

[2020-10-24 13:12] korobaka commented on #202
Okay, gonna do this

[2020-10-24 14:04] pgcalixto commented on #2578
I assume this was fixed in https://github.com/fastify/fastify/pull/2579 and can be closed, right?

[2020-10-24 14:35] #2578 closed

[2020-10-24 20:47] pgcalixto commented on #2618
I've spent some time inspecting the code to implement the option for the object to be nullable: https://github.com/fastify/fastify/pull/2646.

However, by the end of writing the code of this PR, I realized:
wouldn't it be enough to use `type: ['object', 'null']` instead of `type: 'object'`, without the need for a PR to do it?

I ran some local tests with the example provided by @jefjos and it work

[2020-10-24 20:48] pgcalixto commented on #2618
Also, I set the PR as a draft, for it to be closed it `type: ['object', 'null']` resolves this issue.

[2020-10-24 23:13] MetCoder95 commented on #2619
Thanks! I used it as a starting point!
I've played for a while on it and I'm a little bit stuck. I'm seeing from [here](https://github.com/fastify/fastify/blob/e29411bd7e2f448ad7edd8ceec18e593816a02e6/lib/reply.js#L389) that "organically" (returning or calling `reply.send` In the handler or calling `done()` from the `onSend` hook) there's no way to manually set the `content-length` header by eithe

[2020-10-25 01:00] RafaelGSS commented on #2618
Since `body.type` can be an array with `null`. We should check if validation has the same behavior and add a test to `body.type` null

[2020-10-25 10:58] pgcalixto commented on #2618
Good idea, @RafaelGSS! I just added 2 tests to validate it: https://github.com/fastify/fastify/pull/2648

Also, I saw that not only `body.type` can be `['object', 'null']`, but ajv also allows a `type: 'object'` with an extra property `nullable: true`. The documentation already has these details:

https://www.fastify.io/docs/latest/Validation-and-Serialization/#validation

[2020-10-25 12:24] mcollina commented on #2619
You found a bug in Fastify! Good spot. Would you like to send a PR to add `req.method === 'HEAD'` as part of that conditional?

[2020-10-25 14:10] pgcalixto commented on #2644
Hey, guys, I've just opened a PR to address this issue but there are some things to consider about this, which I commented in the PR: https://github.com/fastify/fastify/pull/2649

[2020-10-25 14:10] julesnuggy commented on #2644
Looks like someone else beat me to it 😑

[2020-10-25 14:13] pgcalixto commented on #2644
I'm sorry, @julesnuggy :(
I've created a PR more to be a point of discussion about what I commented there, than to take someone's credit. You're more than welcome to discuss the problem that I commented in the PR.

[2020-10-25 18:53] pgcalixto commented on #2639
I assume this issue can be closed now, since it was solved in https://github.com/fastify/fastify/pull/2643, right? :)

[2020-10-25 18:54] pgcalixto commented on #2633
I assume this issue can be closed now, since it was solved in https://github.com/fastify/fastify/pull/2640, right? :)

[2020-10-25 20:59] #2633 closed

[2020-10-25 22:33] MetCoder95 commented on #2619
Oh wow, amazing! Sure, I'll open a PR with the proper tests then 😄

[2020-10-26 07:02] #2639 closed

[2020-10-26 12:20] jsumners commented on #2618
🤔

[code]

Issuing `curl -v -X POST 127.0.0.1:3000` results in:

[code]

I'm not sure that is correct. `null` is a valid JSON body. So it is ambiguous if the user posted a `null` or the framework has supplied a `null` default. The default should be `undefined` in my opinion.

[2020-10-26 13:02] mcollina commented on #2618
I agree

[2020-10-26 13:50] pgcalixto commented on #2618
One thing that we should consider is that `null` is a more interchangeable format. `undefined` is a format strict to JavaScript.

If we need to reply the request body back in the response (e.g.: `res.code(200).send({ requestBody: req.body })`), and the user tried to JSON.parse it, it would crash, since JSON.parse does not support undefined.

I am not saying that Fastify shouldn't use undefined whe

[2020-10-26 14:00] jsumners commented on #2618
If someone is writing a handler wherein the expect to receive empty payloads, then it is very common practice in JavaScript to at least use a coercion check like `if (!req.body) {}`. It is also very common to differentiate the absence of a value and a valid "null" value by checking for `undefined` like so: `if (req.body !== undefined) {}`.

What I'm saying is, we should document that the the empty

[2020-10-27 12:39] sergiz opened #2653 "reply.sent is false in setErrorHandler"
## 🐛 Bug Report

reply.sent property is supposed to indicate, if .send() was already used, but it does not work properly in .setEventHandler(). It will be false, even if .send() was used in the route handler. It will only turn true, if .send() was used in .setEventHandler().

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

I would expect to see "true" printed in my

[2020-10-27 13:17] jsumners commented on #2653
You didn't `await reply.send` so the execution order is non-deterministic.

[2020-10-27 15:12] sergiz commented on #2653
Just tested, and it doesn't make a difference.

"reply.raw.writableEnded" and "reply.raw.writableFinished" are both true under setErrorHandler, while "reply.sent" is false.

[2020-10-27 23:50] mcollina commented on #2653
This is a bug both in Fastify and your own code. In Fastify the error handler should not be called at all, as you are throwing after having already replied. The error handler is to respond with an error... and there is nothing to respond here.

Note that your code should not be rely on forking the promise chain with that internal call to .send(). It is side-effect logic with can lead to hard to tr

[2020-10-28 12:10] mcollina commented on #2618
@jsumners To clarify, this is just lacking some docs? Where'd you put them?

[2020-10-28 12:11] jsumners commented on #2618
@mcollina no, it is lacking in implementation as well. We currently default to `null` for `req.body`.

[2020-10-28 16:01] #2395 closed

[2020-10-28 18:45] suchcodemuchwow opened #2658 "query params with '+' removed from req.query"
[code]

When I tried to send `?user_phone=+467325+44690` in handler `req.query.user_phone` returns **" 467325 44690"** which shows "+" is replaced with "  " (blank) somehow. Is this some security feature or a bug ?

If it's security feature, how can I override this behaviour I couldn't find information around that in docs.

[2020-10-28 18:47] mcollina commented on #2658
This is the first result from Google: https://stackoverflow.com/questions/6855624/plus-sign-in-query-string. It's a good answer.

[2020-10-28 18:47] #2658 closed

[2020-10-28 18:53] suchcodemuchwow commented on #2658
Ouch I was testing from postman and assumed it transformed "+" to "%2B" which didn't when I manually . Sorry for taking time :(

[2020-10-28 19:48] RafaelGSS commented on #2653
This behavior only occurs because your route handler returns a promise, so:
[code]

[code]

This is definitely a bug, I discovering this issue and the problem occurs because [here](https://github.com/fastify/fastify/blob/master/lib/wrapThenable.js#L37) we are setting `replySent = false`. But, it seems as expected behavior on this code path. @mcollina Do you have an idea where the fix should be pla

[2020-10-28 20:00] sergiz commented on #2653
Well my use case is actually this:
[code]

I want to run some code after reply is sent. Now in setErrorHandler I check, if reply was already sent and if it was crash the nodejs process. If it was not, I reply with an error. I could refactor that to not use async function as a handler, but then I cannot easily log which request crashed the node. Therefore, I don't really see setErrorHandler being c

[2020-10-29 11:46] quiro91 opened #2659 "Error validating schema after Fastify upgrade"
## 🐛 Bug Report

After upgrading from Fastify 2.11.1 to 2.12.1 (but the issue persists in Fastify 2.15.3) I get the following error:
[code]

I know this is probably not enough to understand what's going on, but the validation schema looks fine to me and it was previously working. Any suggestion about how I can further debug this?
## Your Environment

- *node version*: 12.9.0
- *fastify version*: >

[2020-10-29 12:44] RafaelGSS commented on #2659
Can you provide a reproduction code? Without it, we can't figure out what's going on.

[2020-10-29 21:58] quiro91 commented on #2659
Hey @RafaelGSS , I'm trying to put together a reproduction sample, but in the meantime I've got some more detail on the cause of the bug. I believe it's because in our schema we have something like:
[code]
it appears that while `items: { anyOf: ['objectId#'] }` was supported in Fastify 2.11.1, it isn't anymore. If I put the content of the schema with id `objectId`, then it works. Is this expected?

[2020-10-30 12:50] RafaelGSS commented on #2659
Not sure @quiro91. It's hard without a simple reproduction code to proves that it's been working as expected.

However, if your code runs properly on Fastify@2 and crashes on Fastify@3 seems a breaking change on `fast-json-stringify`

[2020-10-30 16:36] MetCoder95 commented on #2619
Waiting for #2651 to be able to continue with the plugin

[2020-10-30 22:52] sergiz opened #2664 "Async handler doesn't support all HTTP response codes that don't require content"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

There are more HTTP response codes than 204, which do not require any content to be returned. For example 202 or 205. Fastify only supports using 204 and returning "undefined". However, you can use .send() method with others and it's working. For ex

[2020-10-31 01:03] MetCoder95 commented on #2619
Sure! I'll continue it during the weekend 🙂

[2020-10-31 09:37] mcollina commented on #2664
Wow, good spot!
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-11-01 20:15] MetCoder95 commented on #2619
I almost finish the plugin, it's just about finishing testing 😄
Just a couple of questions:

- Should I make a repo in my profile and upload it or how should I handle this part?
- How should we handle streams, it's not possible to know the full length without waiting for it to finish, or do I'm missing something?

[2020-11-02 08:03] mcollina commented on #2619
Go ahead and create a fresh repo! Use fastify-cookie as a guideline if you need one.

Streams without a Content-Length implies a chunked transfer encoding. They should definitely be handled... I think we'd need to call .resume() on the stream and count how many bytes flow through.

[2020-11-02 09:07] SimenB commented on #2619
Streams shouldn't set `content-length` at all, should they?

[code]

[code]

Seems `express` does not set `content-type` at all. But the difference in `express` between `GET` and `HEAD` seems to be that `HEAD` does _not_ include `Transfer-Encoding`.

[2020-11-02 11:17] mcollina commented on #2619
Then ok, we don't need to count. We should still call `.resume()` on the stream.

[2020-11-02 12:39] SimenB commented on #2619
Yep and remove `Transfer-Encoding`?

[2020-11-02 13:31] mcollina commented on #2619
I think that is set by Node.js internals, so we should not worry about it.

[2020-11-02 15:51] Ethan-Arrowood commented on #2589
Adding discussion since this will only be added when 4.1 is officially released and there is more stability in the template literal api

[2020-11-02 16:35] dependabot-preview[bot] opened #2671 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-11-02 16:36] #2671 closed

[2020-11-02 22:45] MetCoder95 commented on #2619
Got it, thanks a lot for the input I'll move it in that way then 👍

There's not `transfer-encoding` at all at the response when removing the body from the response body. e.g.
[code]

So, I think we're good then. I'm going to also remove the `content-type` to follow the Express response

[2020-11-03 09:20] piavgh commented on #2587
I tried to apply the Clean Architecture to my Fastify project:

The concrete implementation of `RepositoryInterface` will be injected in `Controller`, something like this:

[code]

But using this way, it's hard to unit test the Controller or Route.

I'm thinking about this IoC container https://github.com/jeffijoe/awilix to solve this problem.

Is it a good approach? Or force applying Clean Archit

[2020-11-03 09:46] L2jLiga commented on #2587
I think it's time to advertise my plugin 😄

I'm working for a while on [`fastify-decorators`](https://github.com/L2jLiga/fastify-decorators) library which provides set of typescript decorators for writing controllers, services and dependency injection

You can find example with `typeorm` [here](https://github.com/L2jLiga/fastify-decorators/tree/v3/examples/typeorm)

[2020-11-03 09:53] piavgh commented on #2587
Thank you for the plugin, I will check it.

But can you please tell me what is the reason for using `Decorator` in your plugin?

[2020-11-03 09:59] L2jLiga commented on #2587
It's relying on TypeScript with `emitDecoratorsMetadata` enabled and `reflect-metadata` to make dependency injection works.

[2020-11-03 10:31] mcollina commented on #2653
I highly recommend _not_ to do that. it's an antipattern. Your response will already be sent when the async function resolves, and you are 1) keeping all the req/reply (and related node core objects) alive until the function finishes 2) make it impossible to report an error to the user, breaking the "transactionality" of the request/response pattern of HTTP.

[2020-11-04 12:28] sergiz commented on #2653
Thanks for the notice, I refactored my handler now.

Then I guess that in such case unhandledRejection should be thrown instead of it being routed to the SetErrorHandler.

[2020-11-04 22:25] MetCoder95 commented on #2619
I already opened a small [PR](https://github.com/MetCoder95/fastify-get-head/pull/1) with the first implementation. I didn't implement any CI or issue template but will do it in different PRs. Of course, all feedback is welcome (also name change, I'm not totally sure about the name 😅 ). Thanks!

[2020-11-05 08:34] zekth commented on #2631
We fixed most the cases. Closing

[2020-11-05 08:34] #2631 closed

[2020-11-05 16:03] simoneb commented on #2347
NearForm has contributed a couple of fastify plugins for Casbin:

- https://github.com/nearform/fastify-casbin
- https://github.com/nearform/fastify-casbin-rest

Hope it helps!

[2020-11-05 16:10] mcollina commented on #2347
Can you send a PR to update our ecosystem page?

[2020-11-05 16:17] simoneb commented on #2347
https://github.com/fastify/fastify/pull/2675

[2020-11-05 16:41] #2347 closed

[2020-11-08 13:37] erfanium opened #2680 "Fastify simply considers any object literal as ajv schema"
I want to use `fastest-validator` with fastify as custom validator, but fastify recognizes `fastest-validator` schemes as Ajv schema and manipulates them.

This's what happens here: https://github.com/fastify/fastify/blob/11757779acecf58c5caee1143348523b6c3591aa/lib/schemas.js#L66
There should be an option to force disable this behavior

## To Reproduce

Steps to reproduce the behavior:

[code]
##

[2020-11-08 18:06] Eomm commented on #2680
That syntax has been introduced to ease the input definition of the schema, and as you pointed out the check is this one:

https://github.com/fastify/fastify/blob/master/lib/schemas.js#L115

We could:
- avoid augmentation when a custom validator has been set (this would be a breaking change)
- add an option to be stricter

Right now, the only way I see to avoid this behaviour on v3.x would be to a

[2020-11-08 18:29] erfanium commented on #2680
@Eomm Thanks, I currently use `schema.properties` in `validatorCompiler` and works fine so far. but as you say, some how we should disable augmentation when using custom validator

[2020-11-09 22:33] #2581 closed

[2020-11-10 21:49] MetCoder95 commented on #2619
Hi! Thanks again for the full support during the process! I think the plugin it's done, feel free to take a look here: https://github.com/MetCoder95/fastify-get-head

Also, feel free if at some point you want to take it into fastify org 👍

Is there anything remaining? 😄

[2020-11-10 23:02] mcollina commented on #2619
Would you mind to send a PR to update the ecosystem page?

[2020-11-11 07:38] anushakumarib commented on #1599
ERROR:  schema "auth" does not exist , how to resolve it

[2020-11-11 14:13] erfanium commented on #777
@charlesread @Eomm
I still have a problem like this in fastify@^3.7.0
[code]
output:
[code]
Is it related to this? Another problem is that every time I see this error, I should check every route urls manually to find out what's wrong, because stack trace doesn't give me enough information to find the source of the error

[2020-11-11 14:27] mcollina commented on #777
Open a new issue in help, this behavior is long fixed.

[2020-11-11 19:58] RafaelGSS commented on #2423
We should keep it open? If yes, any idea to add to the tracking issue at the top?

[2020-11-11 21:07] #2423 closed

[2020-11-11 21:07] mcollina commented on #2423
Ok for me!

[2020-11-11 22:06] MetCoder95 commented on #2619
Sure, I'll do it 👍

[2020-11-11 22:54] jasonwilliams opened #2683 "Support for Early Hints (103) ?"
This is more of a question than a request to implement a feature.

How possible is it to send a 103 response with a Link header before sending the main response back to the browser?

From what I understand once a response sends something the state of that response is “sent”.

## Motivation

HTTP/2 Server Push has been killed off and removed from Chrome. https://groups.google.com/a/chromium.org/g/b

[2020-11-11 23:01] mcollina commented on #2683
You could write directly to `reply.raw.socket` an HTTP response with 103 status code.

[2020-11-11 23:06] jasonwilliams commented on #2683
@mcollina thanks I was not aware of that!

[2020-11-12 14:19] zekth commented on #2683
like so?
[code]

returns
[code]

[2020-11-12 16:18] mcollina commented on #2683
That'd be the idea, yes

[2020-11-12 20:39] zekth commented on #2683
it's an interesting feature and we can make a plugin for that. I'll make a draft repo for it.

[2020-11-12 23:09] zekth commented on #2683
Here is the draft repo i've written: https://github.com/zekth/fastify-early-hints
Feel free to comment / contribute.
Also for testing, it seems that i can't acces the full HTTP message throught the `reply.raw`, i might need to spawn a `curl` process to check the message. Any other idea?

[2020-11-13 07:43] delvedor commented on #2683
I love so much the Fastify plugin system ❤️

[2020-11-13 08:28] mcollina commented on #2683
Amazing work @zekth! Is it on npm yet? PR to the ecosystem page?

[2020-11-13 08:46] Eomm commented on #2683
I think 103 status is not supported yet by the node core (cause it is still in draft IMHO).
For example there the `100-Continue` is supported by the [`http` client](https://nodejs.org/api/http.html#http_event_continue) but 103 doesn't emit any events and [searching on the nodejs repo](https://github.com/nodejs/node/search?q=HTTP_STATUS_EARLY_HINTS) there isn't such test.

So spawn+curl seems the o

[2020-11-13 08:50] zekth commented on #2683
@mcollina currently i'm facing some issues with the write operation to the response or to the socket. For example we don't wait the end of the write operation to close the response with fastify, leading to errors. I'm fixing this. Once everything is fixed with the first draft and tests are implemented a first release on npm is thinkable yes.

@Eomm will have to dig on http2 yes.

[2020-11-13 21:53] erfanium commented on #2680
@Eomm I would like to make a PR for this, My idea is to add a option argument to `setValidatorCompiler` method:
[code]
Do you think that's good?

[2020-11-14 03:18] multiwebinc opened #2686 "Router schema validation is bypassed if the content type is text/plain"
## 🐛 Bug Report

If you send a POST request with the request header `Content-Type: text/plain`, it ignores the schema validation in the router and executes the handler function anyway.

## To Reproduce

Steps to reproduce the behavior:

Server:

[code]

Send request:

[code]

## Expected behavior

I would expect the schema validation to fail and the handler function to not be executed.

## Your En

[2020-11-14 06:47] erfanium commented on #2686
@multiwebinc The problem is with your schema, root level schema must have `type` key
[code]

[2020-11-14 10:28] mcollina commented on #2686
Note that Fastify does not parse `text/plain`. What you'd get as a `req.body` would be a string. If you want your body to be parsed as JSON, set the content-type appropriately.

[2020-11-14 10:28] #2686 closed

[2020-11-14 12:18] StarpTech commented on #2598
IMO this issue is really important. I'd always prefer correctness over absolute speed. @mcollina do you mean that `fastify.decorateRequest('array', [])` register a shared `onRequest` hook to reset the data?

[2020-11-14 13:01] zekth commented on #2598
i'd assume that :
[code]
will result in subsequent
[code]

[2020-11-14 13:37] mcollina commented on #2598
The problem is that we can't know how to creat a new instance identical to the value as can be of any custom type or class... and the only solution would be an unreliable (and slow) deep copy.

I think we should deprecate `decorateRequest(prop, value)` with any value that is not `null` or `undefined`. There is really no valid use case for that.

We could potentially add a new API that allows to se

[2020-11-14 17:07] jsumners commented on #2598
I think we should deprecate decorateRequest(prop, value) with any value that is not null or undefined. There is really no valid use case for that.

Defaulting to an empty string is totally valid. Really, any primitive is valid. Why do you say it isn't?

[2020-11-14 18:01] mcollina commented on #2598
Right! All value types are good, including functions. It's really objects, arrays, set and maps that are problematic.

[2020-11-14 18:36] Eomm commented on #2680
The call we need to fix is this one:

https://github.com/fastify/fastify/blob/a927f5d08092ae916a8e64d45ae83730286b14e8/lib/route.js#L263

(it happen before the checks of the validatorCompiler)

I like your proposal 👍

--

I was thinking if something like this was fair enough to be able to turn on/off this syntactic sugar in each route but maybe it is useless really.

[code]

[2020-11-14 18:48] erfanium commented on #2680
@Eomm Another solution is to add `originalSchema` (I don't know if it's a good name or not) field to route `context`
[code]

[2020-11-14 18:49] Eomm opened #2687 "Custom error properties via schemas"
## 🚀 Feature Proposal

Right now setting the schema response of errors doesn't enhance the default error handler.

[code]

## Motivation

The user may customize the default error handler properties just defining the output schema.
This will:

- improve the benefit of using schemas
- spread the pattern to throws `Error` and not object ( #2134 )
- easier way to add custom param to an error object on

[2020-11-14 18:56] Eomm commented on #2680
In this case, we could add a `Symbol` to the enhanced schema itself.

[code]

That the `validatorCompiler` could easily check

[code]

[2020-11-14 19:00] Eomm commented on #2598
Agree on emitting a warning per these types

[2020-11-14 19:28] erfanium commented on #2680
@Eomm I don't understand, why symbol is needed? There's no need to modify schema itself (by adding a symbol for example)
https://github.com/erfanium/fastify/commit/dd80f8494287442547044828ac1606b573899657
That's what I meant

[2020-11-14 19:31] erfanium commented on #2680
Also, there's another schema manipulating in `validation.js` file for headers schema, (due headers case-insensitivity)

[2020-11-14 19:57] Eomm commented on #2680
That would give to users the possibility to understand if the schema has been augmented.
Notice that is not a change, since we are linking the original schema in a new object (where we can add what we need) without changing the original one.

Good spot, I forget it!
But notice that all the headers will be lowered case when submitted to a fastify endpoint, so if you avoid that I think the validatio

[2020-11-14 20:16] yigitkurtcu commented on #2664
If this bug still exists, I can take a look at this.

[2020-11-14 20:24] erfanium commented on #2680
It's not a good idea, for two reasons:
1- Schema augmentor is an internal API, If it changes its behavior, it can easily cause a breaking change for users
2- In typescript, schema type is `unknown`, so `originalSchema = schema.properties` wont work, Unless we change the type, Which is probably not easy

Yes, But It's the responsibility of the user to check that the custom validator has no problem

[2020-11-14 20:41] erfanium commented on #2680
I think Fastify core depends a lot on Ajv and proper support for custom validators without breaking changes is hard, It's better to solve these problems more completely in a major refactor

[2020-11-14 21:36] mcollina commented on #2664
go for it!

[2020-11-15 12:22] mcollina commented on #2687
My recommendation for any application is to implement their own error handler and to no rely on the default one. I think we should not really make it smarter. However this functionality looks great and something that I'd like to use in any error handler. How could we make those easier to implement? In other terms, how could we make writing error handlers route-aware?

[2020-11-15 15:05] yigitkurtcu commented on #2664
Should async handler support all HTTP codes to return zero-length payload? Can you give me some ideas for solving to issue? @mcollina

[2020-11-15 15:31] mcollina commented on #2664
https://github.com/fastify/fastify/blob/master/lib/wrapThenable.js should be adapted to check for the other status codes with no body.

[2020-11-15 20:42] Eomm commented on #2687
I would try to think why a custom error handler is needed and, in my opinion, the use cases are:

- return a well-known (json) format --> the user set a response.5xx schema
- log and tracing --> it could be done by an `onError` hook
- obfuscate the error message --> it should be doable by managing the fastify config
- I18N/translation

has someone other use cases?

The error handler has the reques

[2020-11-15 22:46] mcollina commented on #2687
would you send a PR @Eomm?

[2020-11-16 11:50] sergiz commented on #2664
Even after reading docs and the code (wrapThenable.js and reply.js in particular) multiple times, I still don't understand what's the matter with promise resolving with undefined. At what point does payload of "undefined" changes the execution flow?

[2020-11-16 11:50] sergiz commented on #2664
Even after reading docs and the code (wrapThenable.js in particular) multiple times, I still don't understand what's the matter with promise resolving with undefined. At what point does payload of "undefined" changes the execution flow?

[2020-11-16 11:52] mcollina commented on #2664
Handling `undefined` makes sure that the following is possible:

[code]

[2020-11-16 12:20] sergiz commented on #2664
That is actually incorrect. The error will still be thrown

The proper example is in the docs: https://www.fastify.io/docs/latest/Routes/#async-await
You have to await or return reply in such case.

Technically your example works, but the error is throw every time, so I would say such usage is discouraged and undocumented. The docs have shown the proper example at least since Fastify 2.9 (https://

[2020-11-16 12:56] jsumners commented on #2680
Please do not introduce another case where the original schemas are mutated.

[2020-11-16 13:00] jsumners commented on #2664
I would check if `undefined` is returned _and_ an empty response code has been set. Leave the current `undefined` handling behavior in all other cases.

[2020-11-16 13:50] sergiz commented on #2664
That would be an option, but there is currently no "undefined handling behavior" as I showed. If someone was doing that, it would mean that he is spamming his logs with that error on every request.

[2020-11-16 14:06] jsumners commented on #2664
The documentation is was written specifically to highlight the case you are describing as _not supported_. Whereas returning `undefined` _is_ supported.

[2020-11-16 14:24] sergiz commented on #2664
Which case are we talking about now?

It is true that the documentation says:

However, the code clearly says that this can't work:
https://github.com/fastify/fastify/blob/528a5f74dbf4ecae0ffd33096bc9ab44599a9293/lib/wrapThenable.js#L29-L31

[2020-11-16 15:11] MetCoder95 commented on #2619
The PR is merged :)

[2020-11-16 15:43] SimenB commented on #2619
I've found a bug with it. The bug itself is pretty straightforward, but I wonder if there's also a bug in Fastify here?

The bug is `reply.code(200).send();` - i.e. no body at all. Changing this line

https://github.com/MetCoder95/fastify-get-head/blob/a0818b9d2772bb561273fe625b9df2989464672b/index.js#L23

to `function onSendHandler (req, reply, payload = '', done) {` "fixes" that issue (dunno if

[2020-11-16 16:34] mcollina commented on #2619
No :/, this is not covered in hooks.

[2020-11-16 17:38] sergiz commented on #2664
Which case are we talking about now?

It is true that the documentation says:

That is true, so we do not run into the following problem:

However, this does not apply, if we want to send response outside the promise chain. Documentation also shows us two examples (https://www.fastify.io/docs/v3.4.x/Routes/#async-await) how to handle such case;; we can either await or return reply, and then safely

[2020-11-16 18:00] SimenB commented on #2619
WRT this not being default behavior - I still think that's a mistake.

- Express does it by default: https://expressjs.com/en/api.html#app.METHOD
- Koa does it by default: couldn't find docs, but run https://www.digitalocean.com/community/tutorials/how-to-build-a-hello-world-application-with-koa
- Spring does it by default: https://docs.spring.io/spring-framework/docs/current/reference/html/web.ht

[2020-11-16 18:10] erfanium commented on #2680
I found a simple way to solve this problem, which seems to be enough for users:
[code]
With encapsulating the schema, schema prototype is not equal to `Object` and augmentation will ignored.

Feel free to close this issue.

[2020-11-16 18:25] mcollina commented on #2619
I'm happy to revise this decision in v4 - it's definitely a semver-major change.

[2020-11-16 18:27] SimenB commented on #2619
That makes sense - thanks @mcollina!

[2020-11-16 18:28] mcollina commented on #2619
Would you like to send a PR that implements it for v4 (target the `next` branch).

[2020-11-16 20:58] MetCoder95 commented on #2619
In that case, should I move the implementation to `fastify` then?
Also, I'll change the plugin to only support fastify `>= 3.8 && < 4` just to let others still use the plugin. Sounds good?

[2020-11-16 21:27] mcollina commented on #2619
yes!

[2020-11-16 22:15] MetCoder95 commented on #2619
Make the fix for the plugin, please have a look 😄
I'll start with the implementation in `next` over the week

[2020-11-17 09:55] SimenB opened #2692 "Errors in `onSend` makes fastify not respond"
## 🐛 Bug Report

If an `onSend` handler (hook?) throws, the error does not bubble up to the application and the response never finishes.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

It should return a 500 error. Changing `onSend` to

[code]

fixes the error. I think those 2 approaches should behave the same.

## Your Environment

- *node version*: 14.15.1
- *fa

[2020-11-17 09:55] SimenB commented on #2619
Thanks @MetCoder95!

I opened up a separate #2692 for the `onSend` bug

[2020-11-17 10:20] mcollina commented on #2692
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-11-17 16:52] mcollina commented on #2664
I think code trumps discussions... so maybe would you like to send a PR to discuss further? I think the code is the way it is to cover for certain use cases. We could always ship breaking changes in v4.

[2020-11-17 17:41] sergiz commented on #2664
Sure. I will open a PR tomorrow and we can continue the discussion there then.

[2020-11-18 10:54] mgcrea opened #2694 "Fastify does seem to swallow error traces for async plugins init"
## 🐛 Bug Report

When an error is thrown inside an async plugin during the init step, somehow the error is swallowed and you loose the trace. Maybe I've got something mis-configured, might be related to #850.

## To Reproduce

Steps to reproduce the behavior:

[code]

You end up with only the error message with no trace without the try catch block being called.

[code]

And that's it, no trace and

[2020-11-18 11:05] zekth commented on #2694
in this case `server.ready()` should reject.

[2020-11-18 11:09] mcollina commented on #2694
Confirmed, this is a bug:

[code]

It does not include a stacktrace:

[code]

[2020-11-18 11:29] zekth commented on #2694
Isn't due to pino 6 ? https://github.com/pinojs/pino/releases/tag/v6.0.0

` server.log.error(err)` outputs:
[code]

[2020-11-18 11:55] mcollina commented on #2694
We are using pino v6: https://github.com/fastify/fastify/blob/2f46d9a4b957a9b1c30d380eb2df9e2fd374a4ce/package.json#L180.

I guess we are doing something odd somewhere and we just do:

[code]

[2020-11-18 16:09] AyoubElk commented on #2694
I'd like to work on this, any thoughts on where I should start looking?

[2020-11-18 16:17] mgcrea commented on #2694
Regarding the proper behaviour, I'd rather have a thrown Error thrown out that a logged but "silent" plugin failure. Not sure if everyone agrees.

[2020-11-18 17:15] mcollina commented on #2694
I'm sorry, this is not a problem in Fastify.

The problem is the following line:

[code]

Note that pino does handle multiple arguments only for format-like purposes (i.e. printf).

Instead do:

[code]

or

[code]

[2020-11-18 17:15] #2694 closed

[2020-11-18 23:40] mgcrea commented on #2694
@mcollina thanks ! indeed it does work correctly, sorry for the noise.

[2020-11-19 15:20] RafaelGSS opened #2697 "Add support to diagnostics_channel to core"
## 🚀 Feature Proposal

Hey folks!

The diagnostics_channel was landed on v15 and seems fair to think about to include it on fastify core, since that it will help the APM vendors and self-analysis.

@Qard made nice work there and I mentioned here to help us if needed.

For further information, check the PR [here](https://github.com/nodejs/node/pull/34895) and the changelog [here](https://nodejs.org

[2020-11-19 15:51] mcollina commented on #2697
It'd be good to have an official plugin for it. All the critical information should be available for plugins to consume anyway.

[2020-11-19 17:08] AyoubElk commented on #2697
I'd be interested in working on this plugin. What kind of information do you think would be nice to have published?

[2020-11-19 17:25] mcollina commented on #2697
Not entirely sure :). Maybe @Qard can help!

[2020-11-19 17:38] Qard commented on #2697
The main thing I'd see APMs wanting to know from fastify is middleware and routing transitions. Having a name for the middleware and method + routing pattern for the routes would be perfect. I'd need to take a closer look to see if there's anything else interesting in there, but that's a good place to start.

[2020-11-19 17:40] mcollina commented on #2697
Out that could be implemented is by adding a hook in `onRoute`. That will have all the lifecycle hooks registered for a given route, so you can essentially wrap all of them.

[2020-11-19 19:06] Qard commented on #2697
It'd also help to know when a response is sent. Basically, an APM will want to produce a "span" around each middleware or route, so the transitions can be the start of a new span and then the end is either when another transition happens or a response is started.

[2020-11-19 19:13] RafaelGSS commented on #2697
A plugin seems a better choice since the information needed is available through hooks. In case of the response sent, we have the `onSend` hook available.

My worry is because the hooks need to be called immediately after the event, to get the elapsed time and metrics around it. At this time, I believe that a plugin is enough.

[2020-11-20 17:21] MetCoder95 commented on #2619
No worries 🙏

I opened a PR #2700 to close the issue. Sadly it has collateral damage to other tests, I'll adjust them even that there's a couple that I'm quite missed why it's failing. Please have a look and let me know your feedback 🙂

[2020-11-21 01:42] nhhockeyplayer commented on #1793
I get this on my tomcat 9 server running http2 and I do not use fastify

[code]
could be from sitting server ?

[2020-11-22 08:57] RishabhJain96 commented on #1668
With Typescript 4.1, it might be possible to generate a typescript model from the JSON schema. If people are interested, check out this library (still in beta): https://github.com/RishabhJain96/json-schema-type

[2020-11-22 12:15] sauravexodus commented on #1263
This saved me! I was using NestJS with Fastify and spend hours on the issue.

[2020-11-23 17:02] RafaelGSS commented on #2697
Base repo created. Tonight, I'll adjust the foundation to create the plugin https://github.com/fastify/fastify-diagnostics-channel.

[2020-11-23 18:16] kibertoad opened #2705 "Plugin for functional programming support"
## 🚀 Feature Proposal

New plugin would be aware of common functional containers, such as Either and Task, and would resolve their values for response purposes automatically.

## Motivation

Reduce amount of boilerplate needed for the fully functional fastify routers to work. This is a highly desired feature from adidas dev team, represented by their solutions architect @OrahKokos.

## Example

[c

[2020-11-24 06:06] mcollina commented on #2705
The plugin is really nice! Is anything specifically missing?

[2020-11-24 14:14] Ethan-Arrowood commented on #2705
Love this! Nice work 😄

[2020-11-24 14:35] kibertoad commented on #2705
@mcollina Well, probably more structures could be supported, but I guess that can be done in follow-up releases in a non-breaking way if there is demand. Other than that, I would appreciate if someone went over the code, but it should be fairly production ready.

After there is greenlight to do so, I'll transfer the plugin to `fastify` organization, it should already be implemented in a way, consi

[2020-11-24 14:36] kibertoad commented on #2705
Oh, and if someone has a better name for the plugin, that would also be great :D

[2020-11-24 14:38] jsumners commented on #2705
Does it need to be transferred to the org? Putting things in the org immediately burdens others with the responsibility of maintainership. I think that should be reserved for truly "core" plugins to the ecosystem. If this is such a plugin, so be it. But we should think about this each time we consider bringing code into the org.

[2020-11-24 14:42] kibertoad commented on #2705
@jsumners Would be helpful to define the criteria for what makes a core plugin then. At least for me personally this feels like a rather foundational thing that simplifies using the whole programming paradigm together with `fastify`, but then again, I'm not entirely sure why `nextjs` plugin qualifies for core, and `apollo-graphql` one does not, so I guess it is complicated.

[2020-11-24 14:43] Ethan-Arrowood commented on #2705
_funky-fastify_ 🕺

(funky... like **func**tional)

[2020-11-24 14:45] Ethan-Arrowood commented on #2705
Good point @jsumners - i'm also not sure what the qualifications of that should be. What I've always seen in the past is if a fastify core contributor authors a plugin, we merge that into the core plugins list since we trust the contributor knows how to and will maintain the plugin.

Like all open source repos, if something looses support or becomes unmaintained we can always deprecate, close out,

[2020-11-24 14:59] jsumners commented on #2705
Unfortunately, I don't have a good suggestion for guidelines. It's really up to the individual author and the team to come to a consensus on a case-by-case basis. Personally, I do not propose a module I author for org membership unless I think it is simple enough for others to maintain _and_ it fills a significant gap in the ecosystem. My go to examples are `fastify-cookie` and `fastify-server-ses

[2020-11-25 13:47] iMoses opened #2707 "schema validation error on an async response does not trigger the error handler"
## 🐛 Bug Report

When using response schema validation on a route with an async handler errors are not caught by the error handler set using `setErrorHandler`, unlike params schema validation.

### Update
This happens only when an async `preSerialization` handler is also present.

## To Reproduce

Let's take a simple working example:
[code]

Now what happens if we mess it up?
1. let's replace the

[2020-11-25 15:14] salmanm commented on #2707
Just copied your above code into [this sandbox](https://codesandbox.io/s/fastify-2707-4ougx) and I'm seeing response as expected.

`{"message":"\"id\" is required!","error":"Error"}`

[2020-11-25 16:23] iMoses commented on #2707
one more part needed, as can be seen here: https://codesandbox.io/s/fastify-2707-forked-1ompq?file=/src/index.js

[code]

[2020-11-25 18:02] kibertoad commented on #2705
Should we do the voting on whether this belongs to the org then?

[2020-11-25 18:18] jsumners commented on #2705
Sure. I shall sit out and let the team majority decide. Just wanted to wake us up as a whole for going forward. We can't expand infinitely with our current structure.

[2020-11-25 20:21] Eomm commented on #2707
This plugin should help you: [fastify-response-validation](https://github.com/fastify/fastify-response-validation)

I think that the `preSerialization` should not impact this snippet, since it runs before the error.
Anyway this use case worth a triage for sure

[2020-11-25 21:37] RafaelGSS commented on #2697
@Qard Span API block this PR? Otherwise, how do you think that is better to provide the information? I mean, some basic rules as:

- For every route registered send a message through a channel.
- For every request send these X info

Therefore, we have some _best pratices_ to create a channel name or something like that?

[2020-11-26 00:27] iMoses commented on #2707
After a bit of debugging...

`hooks.js` line #204
[code]
the issue is that id an error occurs within the `handleResolve` then no one catches it.

[2020-11-26 06:41] Qard commented on #2697
For now, I would just add transition events and not worry about spans. Spans can be added later, if we eventually decide on an API for that.

For comparison, here's the changes I did for express: https://github.com/pillarjs/router/pull/96. It doesn't have spans, just a single event when the transition happens with (hopefully) sufficient metadata to identify the full routing path. (The routing path

[2020-11-26 07:37] Eomm commented on #2707
That syntax [`p.then(onFulfilled[, onRejected]);`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/then) manage the error already

I think the problem could be in the `reply.js` file

[2020-11-26 08:37] iMoses commented on #2707
@Eomm I know, and it's a bug.. Trust me on this one
The issue is that in your current configuration if an error is thrown from within the handler then it will not be catched, and this is exactly what is happening, I debugged it already.

[2020-11-26 09:22] mcollina commented on #2705
Adding a new plugin to the ecosystem adds more work because of issues, help requests, releases and when doing semver-majors. We do not have enough people involved in all the above.

My general rule is that if one of us wants something in, it should be in as long as they are willing to work on it (or it became critical, such as fastify-cookie or fastify-static).

[2020-11-26 09:37] kibertoad commented on #2705
@mcollina Obviously I would be supporting the plugin in the long run as well, so I don't think it would increase load of the other fastify team members in a significant way. Slightly off-topic, but since you've mentioned that - are there any core plugins that you find to be more neglected than the others right now? I think I could adopt one or two.

[2020-11-26 13:34] ShaulEngler opened #2711 "FastifyInstance interface doesn't expose errorHandler"
## 🐛 Bug Report

While documentation states that `FastifyInstance` has a `errorHandler` method:
https://www.fastify.io/docs/latest/Server/#errorhandler
And it is indeed implemented that way, but when trying to implement in TypeScript with strict compilation it fails as `FastifyInstance` doesn't expose this method:
https://github.com/fastify/fastify/blob/de94d314e940fba2c7021b0e180445a814d4d068/typ

[2020-11-26 20:46] iMoses commented on #2707
@Eomm i understand your comment about `reply` now, as it seems that the issue can also be fixed by wrapping this line in a `try...catch` [#349](https://github.com/fastify/fastify/blob/master/lib/reply.js#L349)

`preserializeHookEnd` executes internally the `serialize` method which may throw an error in case of validation errors.
as it seems, this method can end up as the callback (`cb`) of `onSend

[2020-11-26 20:57] Eomm commented on #2705
I think yes:

- https://github.com/fastify/fastify-citgm (this would be really useful on major releases)
- https://github.com/fastify/fastify-swagger/ (I would like to do more here 😭 )

Some repo-tutorials that some colleagues were looking at some month ago:

- https://github.com/fastify/fastify-example-twitter
- https://github.com/fastify/fastify-example-todo

There are some empty repo too:

- ht

[2020-11-26 21:10] kibertoad commented on #2705
@Eomm Oooooh, the sftp. The sleepless nights I spent trying to make that one work in Node.js properly. Do we still want that one or should it downright killed, if there was no interest?

`fastify-swagger` is a bit more than I can chew at the moment, but I'll take a look into refreshing tutorials, and see what's going on with citgm.

Thanks!

[2020-11-26 21:27] Eomm commented on #2707
With this minimal code I can replicate it:

[code]

I play it a bit and I agree that the `onSendHookRunner` has the bug, but it is not a matter of promises, since the hook is not throwing, but this works for me (hooks.test.js is green aswell):

[code]

Checking the `onError` hooks are executed once as well but for sure we need a bunch of tests here

Would you like to push forward your PR?

[2020-11-26 21:34] Eomm commented on #2705
Personally, I had to deal with sftp too but it was not strictly related to fastify or HTTP

[2020-11-26 21:36] kibertoad commented on #2705
@Eomm What was the idea for fastify plugin? Is there some kind of state that it is desirable to maintain? Not sure how the whole thing ties in into fastify lifecycle. If it's just a stateless client, doesn't need to be integrated with fastify.

[2020-11-26 21:53] kibertoad commented on #2705
@Eomm I get `Permission to fastify/fastify-example-todo.git denied to kibertoad.` when pushing to branch for `https://github.com/fastify/fastify-example-todo`. Do I need membership in another group for it?

[2020-11-27 09:26] fox1t commented on #2711
Can you please provide a repro repository that we can look into?

[2020-11-27 09:29] fox1t commented on #2711
I am asking for a repro since we have that handler exposed here: https://github.com/fastify/fastify/blob/de94d314e940fba2c7021b0e180445a814d4d068/types/route.d.ts#L31

[2020-11-27 14:05] #2707 closed

[2020-11-28 10:00] Eomm commented on #1934
Released in v3!

[2020-11-28 10:00] #1934 closed

[2020-11-28 10:02] Eomm commented on #2006
I think this could be closed since it has been optimized in v3:

https://github.com/fastify/fastify/blob/db39fa74c0d9d5ead9371e414f533f33c2bfd5b5/lib/schema-compilers.js#L16

[2020-11-28 10:04] #2006 closed

[2020-11-28 10:06] Eomm commented on #1952
Could we push forward this issue?

[2020-11-28 10:11] Eomm commented on #1436
I think this is the `onError` hook.
What feature does not it covers?

[2020-11-28 10:11] mcollina commented on #1952
Yes, we should do it. @lmammino could you lead the way?

[2020-11-28 10:17] #2711 closed

[2020-11-28 11:25] Eomm commented on #2455
This should be fixed in #2474

@zekth are you suggesting to deepcolne all the `options`?

[2020-11-28 12:19] #2455 closed

[2020-11-29 03:07] Roms1383 commented on #1436
Honestly this discussion is 1 year and 9 months old, and I have completely lost the thread so I'll let you guys discuss it and decide whether it should be closed or further investigated 🤷‍♂️

[2020-11-29 09:05] Eomm commented on #1436
I understand.

We build up an ["error lifecycle"](https://github.com/fastify/fastify/blob/master/docs/Lifecycle.md#reply-lifecycle) that should help devs to implement an effective error management

Maybe we could close this issue when the snippet https://github.com/fastify/fastify/issues/1436#issuecomment-462675319 will be moved in a plugin 👍

[2020-11-29 10:31] #2687 closed

[2020-11-29 15:34] Sidd27 opened #2715 "Type Support for Stream in Logger Object"
# Bug Report

Type Error on passing stream option to logger instance of fastify when using with typescript

## To Reproduce

npm init -y
npm i fastify
npm i -D typescript @types/node

[code]

## Expected behavior

Stream Property should be part of FastifyLoggerOptions interface

## Your Environment

- *node version*: 14
- *fastify version*: >=3.8.0
- *os*: Mac

[2020-11-29 17:36] Ethan-Arrowood commented on #2715
Install @types/pino and augment the logger; should work. There should also be docs explaining this in either the logger or typescript sections

[2020-11-29 17:48] #2715 closed

[2020-11-29 17:56] Sidd27 commented on #2715
@Ethan-Arrowood Before closing this you should atleast try using only stream option without passing the complete pino instance I have already referred to both section. before raising this and apart from stream other options works

[2020-11-29 17:59] Ethan-Arrowood commented on #2715
Yes, this is intended. We do not maintain Pino types so we don't support it 100% in our own types. We have implemented what we decided was the default use case for the logger, and if users want to introduce the pino types into their project that is an opt-in decision

[2020-11-29 18:03] Sidd27 commented on #2715
@Ethan-Arrowood After install only `Install @types/pino` it doesn't works for stream option the only way is to install pino and create a pino instance and pass it. Is this intended ???

[2020-11-29 18:08] Sidd27 commented on #2715
@Ethan-Arrowood What I'm trying to say that with typescript the below example is not possible to achieve.

This is example is taken from official docs https://www.fastify.io/docs/latest/Logging/

[code]

[2020-11-29 18:10] Ethan-Arrowood commented on #2715
https://www.fastify.io/docs/latest/TypeScript/#fastify

Look at example 5

[2020-11-29 18:14] Sidd27 commented on #2715
@Ethan-Arrowood That's what I have done as of now, But when I m using in JS I don't have to import pino and create and instance and pass it but only for Typescript I have to choose this option. So don't you think the experience is different for typescript and javascript user

[2020-11-29 18:16] Ethan-Arrowood commented on #2715
Yes the experience is different, JS and TS are not the same; though we try as hard as we can to make it as seem less as possible. You don't have to create your own pino instance if you don't want to, you can use the logger generic parameter on the server instance to augment as well.

[2020-11-29 18:33] Sidd27 commented on #2715
@Ethan-Arrowood Thanks for your valuable time But I want to use the stream option to write logs in file.

[2020-12-01 05:26] josteph commented on #2534
hi @Eomm can you confirm if this is working with fastify v3 ?

[2020-12-03 03:53] workflow2 commented on #1367
Hi guys i have found that in your docs https://www.fastify.io/docs/latest/Testing/#testing-with-a-running-server in the example test-listen.js the package Request is deprecated, maybe you can change it with a valid one.

Do you have any valid source on what and how exactly to test?, i'm new to testing in general

[2020-12-03 14:45] RafaelGSS commented on #1367
You can change to `supertest` @workflow2.

[2020-12-03 21:18] voxpelli opened #2719 "preHandlerCallback() catches err, but reply.send() masks as "Reply already sent""
## 🐛 Bug Report

I had an error thrown in my code by `fastify-secure-session` (`Error: "k" must be crypto_secretbox_KEYBYTES bytes long`), but my logs instead logged: `FastifyError: Reply was already sent.`

Reason, the error is catched here:

https://github.com/fastify/fastify/blob/d044549a20ddb4324f6f76c9d7f9032807cbff93/lib/handleRequest.js#L123-L128

Then when it tries to send, but is then ins

[2020-12-03 21:23] voxpelli commented on #2719
A bit more info:

So what happens is that in `fastify-secure-session` there's an `onSend` hook that sets a cookie: https://github.com/fastify/fastify-secure-session/blob/b5795e6663989e9c1cfd2fa5216cb9167cbf153e/index.js#L175-L179

And when doing so, I have it wrongly setup so sodium throws the `Error: "k" must be crypto_secretbox_KEYBYTES bytes long` error here: https://github.com/fastify/fastify-

[2020-12-03 21:32] mcollina commented on #2719
This is weird because in https://github.com/fastify/fastify/blob/43ea177527d535cc17ed168dd479e07cc61db19d/lib/reply.js#L356-L373 we are routing the error to the error handler. We are not automatically logging the error as far as I know. Are you logging errors in your error handler?

I think a full repro would be really helpful

[2020-12-04 07:22] workflow2 commented on #1367
@RafaelGSS thanks, i just wanted to point it out so you can update the docs with a valid one like the one that you mentioned, thank you so much!

[2020-12-04 20:31] brianorwhatever commented on #2572
I think the type signature is still broken in v3.9.1

In the docs it says

however the type declaration of the "FastifySchemaCompiler" is a function that returns a "FastifyValidationResult"

[2020-12-04 20:42] brianorwhatever commented on #2572
Sorry, I just realized this issue is for the validator and not the serializer. The validator is working fine now however the serializer is having the same problem. I will create a new issue for the serializer

[2020-12-04 20:45] brianorwhatever opened #2722 "Typescript types for `setSerializerCompiler` mismatch"
## 🐛 Bug Report

Similar to #2572 the serializer does not like the type signatures it is given even when using the code sample from the readme.

## To Reproduce

Steps to reproduce the behavior:

[code]
![image](https://user-images.githubusercontent.com/7122708/101213066-a6d05a00-362e-11eb-97fb-30c165acb8d9.png)

## Expected behavior

Typescript accepts the types it is given

## Your Environment

[2020-12-05 12:32] delvedor commented on #2722
Thanks for reporting! Would you like to send pr with the fix? Remember to update the test as well :)

[2020-12-05 15:36] kibertoad commented on #2705
@OrahKokos has confirmed that current implementation of the plugin satisfies their needs completely, so I'm getting ready to make the first public release.
So should we vote on whether or not this belongs to the core? If I understand correctly, @jsumners abstains, @Ethan-Arrowood and @mcollina are in favour. @Eomm ? @fox1t ?

[2020-12-05 18:13] zekth commented on #2705
I really like this kind of implementation but like @mcollina mentionned; it would add work to the team. I'd personnaly let it sit outside like `fastify-session`

[2020-12-06 05:09] yinguangyao opened #2723 "'file' does not exist in type 'FastifyLoggerInstance | FastifyLoggerOptions<Server, IncomingMessage, ServerResponse>'"
## 🐛 Bug Report

When I entered the path of the log file, ts reported an error.

## To Reproduce

Steps to reproduce the behavior:

[code]
![image](https://user-images.githubusercontent.com/16210045/101272086-fa27e100-37c3-11eb-9f39-3e27a619e76f.png)

## Expected behavior

Typescript accepts the types it is given

## Your Environment

- *node version*: 12.14.0
- *fastify version*: 3.9.1
- *os*: Ma

[2020-12-08 13:16] fox1t commented on #2705
I think we can put it in the org.

[2020-12-08 13:17] kibertoad commented on #2705
@mcollina What's your final call, given the comments so far?

[2020-12-08 13:32] jsumners commented on #2705
I'd also like to hear from @delvedor.

[2020-12-08 16:05] delvedor commented on #2705
As long as there is someone of the org who would like to maintain the package I don't see why we should have it in the org :)

If in the future we can no longer maintain a plugin, we can either send out a call for maintainers or deprecate it.

[2020-12-08 16:20] kibertoad commented on #2705
@delvedor "Should" or "should not" :D?

[2020-12-08 16:21] delvedor commented on #2705
Should not, comment fixed 😅

[2020-12-08 16:26] kibertoad commented on #2705
Thanks!

[2020-12-09 10:51] codyzu commented on #402
In case anyone stumbles upon this when looking to generate 404 responses, fastify now has a `reply.callNotFound()`, https://www.fastify.io/docs/latest/Reply/#callnotfound

[2020-12-09 17:48] kibertoad commented on #2705
https://github.com/fastify/fastify-funky -> it's alive! Will publish to npm soon.

[2020-12-09 17:48] #2705 closed

[2020-12-09 18:03] kibertoad commented on #2705
Can someone remind me, what is our npm setup procedure? Which users should I add with admin permissions?

[2020-12-09 18:24] mcollina commented on #2705
add me and I'll add it to the npm org.

[2020-12-09 18:28] kibertoad commented on #2705
@mcollina Done! (https://www.npmjs.com/package/fastify-funky quick link to the package on npm)

[2020-12-09 21:35] MetCoder95 commented on #2618
If the default changes to `null`, that will be a `major` change or just `minor`?
Currently working on a PR

[2020-12-09 22:11] jsumners commented on #2618
Not clear. Maybe major?

[2020-12-09 23:29] dlydiard commented on #2634
I get the same error `Property 'use' does not exist on type 'FastifyInstance<Server, IncomingMessage, ServerResponse, FastifyLoggerInstance> & PromiseLike`.  Should `use()` be in the definition file?
using:

+ fastify 3.9.1
+ middie 5.2.0
+ typescript 3.3.7
+ node 14.4.0

[2020-12-10 10:23] mcollina commented on #2705
done

[2020-12-11 14:27] airhorns commented on #1350
FYI `fastify-passport` is a thing now and exists here: https://github.com/fastify/fastify-passport

[2020-12-12 20:28] tlhunter commented on #1396
I have worked with systems in the past that were unable to understand response headers that didn't follow the exact case they expect. For example, I had wrote a server that provided a response header of `content-type` , but the client couldn't understood it as it was hard-coded to look for `Content-Type`.

In this case, the client didn't follow the second rule of the [Robustness principle](https:/

[2020-12-12 21:25] mcollina commented on #1396
TL;DR

I do not expect this to be changed anytime soon because it is following the HTTP spec and there are no known compatibility problem.

---

The way we handler headers in Fastify and Node.js in general is to have them in a key/value map. However, the same header could appear multiple times, and they can all have different casing due to spec requirements. We must detect duplicates.

Lowercasing

[2020-12-12 21:33] jsumners commented on #1396
Also, I believe we use the headers as provided by Node core. And our outgoing headers are similarly handled.

[2020-12-13 18:45] voxpelli opened #2736 "Have default request id generation generate unique id:s"
## 🚀 Feature Proposal

Currently request id:s default to an auto-incremented number, but that number is generated locally in each instance, meaning that if one run two or more instances of Fastify, or restarts a single Fastify instance, then the default generated id:s will be duplicated between between two or more requests:

https://github.com/fastify/fastify/blob/453028bbfbb34a240bddb146549d91261

[2020-12-13 18:49] fox1t commented on #2736
Is this a proposal to make this  https://www.fastify.io/docs/latest/Server/#genreqid the new default?

[2020-12-13 19:00] voxpelli commented on #2736
Yes, make the suggestion there the new default:

[2020-12-13 19:54] zekth commented on #2736
Regarding distributed systems we usually use the `Trace-Id` like mentionned here: https://www.w3.org/TR/trace-context/#trace-id and those IDs are generated with another process (like nginx for example); offloading fastify.

One thing would be to identify the instance itself to add request-id in correlation with the instance ID. I faced this issue and add an uuid to the instance.

[2020-12-13 20:02] kibertoad commented on #2736
Is hyperid faster than nanoid?

[2020-12-13 20:03] voxpelli commented on #2736
I think this is pretty much what hyperid does. It generates a unique id for the instance and an auto-incremented id to those, thus getting the speed of auto-increments with the uniqueness of UUIDs. (I think it refreshes the unique ID every once in a while as well, to eg not run out of ID:s in long running instances)

[2020-12-13 20:07] voxpelli commented on #2736
On tracing id:s: I would say they are meant for tracing services in particular, like AWS XRay, Jaeger, OpenTelemetry, and can identify a sub-trace within the larger request trace, whereas request id:s are more general purpose and always identifies the original request and is mostly used for eg logging.

[2020-12-13 20:08] zekth commented on #2736
The point is having possibility to identify the instance itself and not the request in what i'm saying, to use the ID of the instance on other purposes. Which for example in a log viewer would lead to a query like:
[code]

[2020-12-13 20:28] fox1t commented on #2736
The “instance” part is easy: you can add name to the logger instance.

[2020-12-13 21:04] voxpelli commented on #2736
I feel that any identifying of instances is out of scope of this issue in particular and the request id itself in general – one can never assume that the request id will be generated by this piece of code and it will only ever be able to identify the instance that generated the id and I don’t see how that’s very useful?

Maybe open a new issue dedicated to any such wish?

[2020-12-14 06:28] delvedor commented on #2736
Not sure if I'm missing something, but I think the current implementation is fine.
If you want to have unique request ids you should override the default implementation.
The reason why currently it is a incremental integer, is that if you don't need that feature, it will cost you close to nothing the fact that we are running it :)

We could improve the documentation section to highlight this. What

[2020-12-14 10:00] voxpelli commented on #2736
What's the point of a request id that isn't unique?

If I don't have use for a unique request id, when would I ever have use for a non-unique request id?

I would say: Either remove the current default all together and default to have no request id:s, or implement proper request id:s. Sounds like of those two choices you would prefer removing the feature @delvedor?

[2020-12-14 12:55] jsumners commented on #2736
I'm with @delvedor. The feature should remain as it is. Request id generation and propagation is far more complicated that just slapping a UUID on new requests. Providing the feature as it is, offers those who need to customize it can and aids developers locally with an easy to follow id.

I suspect that most people who care about this feature will already be using some sort of OpenTracing/OpenTel

[2020-12-14 13:52] rackaam opened #2738 "404 error with prefixed plugin"
## 🐛 Bug Report

Fastify returns a 404 that doesn't seem right.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
[code]

The first 3 work fine but `http://localhost:9999/abc/search123/stuff` returns a 404.
When the `/abc/search` or `/:foo/bar` routes are removed, the `/abc/:id/stuff` route works fine.
~When the same 3 routes are declared without using a prefixed plu

[2020-12-14 13:57] jsumners commented on #2738
https://github.com/delvedor/find-my-way/blob/d7c712819f11046eabbc3c599e07d26d907ca5fc/README.md#L183-L185

[2020-12-14 14:50] rackaam commented on #2738
My bad,  for some reasons I thought it was related to the plugin route prefixing so I didn't checked the find-my-way issues.
I found one very similar https://github.com/delvedor/find-my-way/issues/101

I will close this issue.

[2020-12-14 14:50] #2738 closed

[2020-12-14 15:25] Ethan-Arrowood commented on #2723
You need to augment the logger type for fastify. See the TypeScript documentation page under the Server api definition. One the examples should show how.

[2020-12-14 15:28] #2723 closed

[2020-12-15 10:27] mgcrea commented on #2736
Also one other downside would be a bit harder to read logs by default, which are already quite verbose, I think it is best to keep it very straightforward by default.

[2020-12-15 10:31] mcollina commented on #2736
This feature is "good enough", in the sense that non-unique request ids could be easily made unique from context when a _human_ is reading the logs. Note that we have `hostname` and `pid` to disambiguate. I've _never_ had a use for unique ids in non-tracing scenarios (and then those are governed by the span/trace mechanism).

[2020-12-15 10:33] fox1t commented on #2736
My 2 cents on this: In a microservice/distributed world it is very important to have unique reqids and to propagate them thru the services in order to have a proper inspection of the req/res cycle. I really like that fastify supports it. On the other side, I am not sure that making this the default would benefit newcomers. If someone needs to have unique reqids across multiple replica of the servi

[2020-12-15 12:08] voxpelli commented on #2736
Ok, so no hyperid request id generation in core then, but how about making the default at least be something that looks and feels like the string it is rather than is an auto-incremented integer?

Just changing from `1` to `req-1` would help clarify the nature of it + if you want to keep it less verbose, then the number could be formatted in hexadecimal or base64 representation to ensure it stays

[2020-12-15 12:38] jsumners commented on #2736
I think that is a fair compromise.

[2020-12-15 14:17] fox1t commented on #2634
I suppose that fastify-express should decorate the Fastify namespace with the `.use` method as per https://github.com/fastify/fastify-express/blob/master/index.d.ts#L9

Can you provide a repro repo to check against?

[2020-12-16 01:36] dlydiard commented on #2634
Here you go https://github.com/dlydiard/fastify-express-ts-issue

[2020-12-16 02:20] lmeyerov opened #2739 "[bug] POST -> Premature close stream"
## 🐛 Bug Report

Cross-posting of an unclear `got` <- arrow stream -> `fastify` bug: https://github.com/sindresorhus/got/issues/1556

Any pointers as we try to refine this one would be appreciated. While we finally have a user input that is deterministically reproducible with our broader system, it's going to be awhile to keep chiseling away at a tiny reproduction. Our guess is it is how we are ha

[2020-12-16 12:11] RafaelGSS commented on #2697
PR created: https://github.com/fastify/fastify-diagnostics-channel/pull/3

[2020-12-16 12:12] mcollina commented on #2697
I think this could be closed for now.

[2020-12-16 12:12] #2697 closed

[2020-12-16 12:15] mcollina commented on #2739
This needs a full example to reproduce. There can be many cases - likely there is something off in the Node.js stream implementation of arrow.

[2020-12-16 15:20] adminy commented on #2379
Suppose Node.js releases a final working quic with nothing experimental could fastify core benefit from Quic out of the box or will the api have to be exposed in a certain manner to benefit from it?

[2020-12-16 15:51] jasnell commented on #2379
Out of the box, no, there would need to be some work in fastify to enable it because it would be a different set of APIs. Once that internal work is done, however, for end users of fastify it should require nothing more than a configuration option.

[2020-12-16 18:05] lmeyerov commented on #2739
Thanks! We're working on narrowing + extracting , starting with identifying if a version change of got/fastify/arrow, and then to more precise reproduction. If anything is sparking ideas meanwhile, would be appreciated.

[2020-12-16 18:28] mcollina opened #2742 "Ajv@7 upgrade plan"
Ajv@6 will be discontinued at 28/2/2021, well before we retire Fastify v3. We are at the early stages of Fastify v4 right now, so there might be 6+ months of potentially unsupported validator against security vulnerabilities. However the code in Ajv@6 is really battle tested, so there might be a small chance of that happening.

I see a couple of options.

### Option 1

Quickly release a Fastify v4

[2020-12-16 18:53] kibertoad commented on #2742
Isn't there also an option to release fastify 4 in due time, ignoring the fact that v3 will have unsupported validator, which, as you've already said, is exquisitely well battle-tested, and likely to be way more stable than ajv7 for a while?

[2020-12-16 18:55] jsumners commented on #2742
I think this is truly solved by resolving #2446. I _intend_ to get to that in a couple weeks over holiday. Basically, my plan is to accept an object that conforms to the interface Fastify uses internally to access schemas. This would allow _any_ validator to be used. In turn, that would mean we can remove the direct dependency on `ajv` from Fastify core, and replace it with a `fastify-validator` (

[2020-12-16 18:57] mcollina commented on #2742
I've added it to the list. I'm not convinced that's the best course of action because there might be a security vulnerability in Ajv@6 that will go unpatched.

[2020-12-16 18:57] Ethan-Arrowood commented on #2742
I was going to say something very similar to @jsumners

essentially - can we enable users to plug in their own validator, default to ajv6, and release that as a feature to v3? Then tell users "hey if you want, plug in ajv v7 into fastify v3 like so". then in fastify v4 we change the default to ajv 7?

[2020-12-16 18:58] Ethan-Arrowood commented on #2742
If a security vulnerability is reported for ajv@6, then we should update to ajv@7 in fastify@3 even if its breaking (since its security related)

[2020-12-16 18:59] kibertoad commented on #2742
@Ethan-Arrowood Great point, that makes strong case for Option 2.

[2020-12-16 19:00] Ethan-Arrowood commented on #2742
I think this is the crucial part to Option 2

[2020-12-16 19:59] Eomm commented on #2742
I was thinking the same: I would be able to work on for a couple of days the next week if you agree to work together on a branch targeting Fastify v4.

Regarding **Option 2** I agree on ship it in v3 only if there is a security vulnerability and drafting a PR for this event.
Then release Fastify v4 when we are ready (in my mind after the nodejs 16 release)

[2020-12-16 20:01] StevenLangbroek opened #2743 "Our server keeps crashing with SIGPIPE"
## 🐛 Bug Report

Hey folks, I'm not even sure whether this is actionable by you but I'm not quite sure where else to start. I'll try to provide an appropriate amount of context, but if something is missing please let me know and I'll expand.

We're running exclusively NestJS services in our cluster of services. They're composed through an Apollo Gateway, also NestJS, but given the amount of traffi

[2020-12-16 20:01] jsumners commented on #2742
I intend to target v3. Done correctly, it's a feature addition, not a reinvention of the whole system.

[2020-12-16 20:22] RafaelGSS commented on #2743
Hey!

Unfortunately without reproduction code is hard to figure out what's happening. How was the upgrade? I mean, from `fastify@2` to `fastify@3`?

[2020-12-16 20:43] Eomm commented on #2446
Regarding the interface of the `setSchemaContainer` I would point out these issues I had in past:

- when you define a new fastify's context the schemas of the instance are cloned to the new one to grant the encapsulation

https://github.com/fastify/fastify/blob/6b64483acc1f27202b393dc5a22ab7bb96e2623c/lib/pluginOverride.js#L46

- all the schemas of a fastify instance are stored in the `[kSchemas]

[2020-12-16 20:56] jsumners commented on #2446
😕

If we have to go semver-major, so be it. I'm not opposed to skipping v3 (I cannot use v3 until this is solved). But if we go with a major change, then we should take some time to work out what the container interface should be. My work on this specific issue would probably be a very minimal hack just to make things work. I'm really not familiar with all of the pieces of schema code within Fasti

[2020-12-16 21:09] Eomm commented on #2446
As you said in the AJV7 issue, I totally agree that moving AJV out of the dependencies with an abstraction layer would improve and simplify a lot the usage of schemas and the customization of validation/serialization!

I don't want to be harsh here or slow down your idea on how to solve this specific issue

--

PS: when I worked on it for v3 my target was to avoid the tons of `$ref` issues caused

[2020-12-16 21:40] jsumners commented on #2446
I'm not offended. The only thing I'm disappointed about is not yet being able to prioritize fixing this "on the clock" and having to do it on my own time.

If you get an itch to work on this before I push up a branch, feel free. But I am not expecting anyone to work on this other than myself.

[2020-12-17 04:00] BlackGlory opened #2744 "JSON schema oneOf not working"
## 🐛 Bug Report

JSON schema `oneOf` not working.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Your Environment

- *node version*: v12.19.0
- *fastify version*: 3.9.2
- *os*: WSL1

[2020-12-17 06:01] StevenLangbroek commented on #2743
@RafaelGSS yeah I understand, I just don't know how to generate that information. I can't find good information about how to figure out what socket or pipe it was trying to write to.

We were using NestJS's express adapter before, switching from express to fastify was painless. I've updated fastify from 2 to 3 in other projects and it was pretty smooth (just had to wait for some other dependencies

[2020-12-17 07:25] climba03003 commented on #2744
I think it is not a bug but is the intend behavior of ajv.

You can see in this [line](https://github.com/fastify/fastify/blob/master/lib/schema-compilers.js#L31), ```ajv``` is enabled ```coerceTypes```.
When ```coerceTypes``` is enabled, ```ajv``` will try his best to convert the data according to the specified type in schema.

"123" will convert to both "string" and "number", so ```oneOf``` cann

[2020-12-17 08:09] BlackGlory commented on #2744
@climba03003 Thanks, this problem is indeed related to `coerceTypes`.
Why is `coerceTypes: true` the default option for fastify?

[2020-12-17 08:09] #2744 closed

[2020-12-17 09:41] #2722 closed

[2020-12-17 12:44] jsumners commented on #2446
I don't think this is accurate. I think the schema container needs to provide schemas, full stop. It is Fastify's responsibility to acquire schemas from that container and use them in whatever context it deems necessary. For input validation, this is rather simply a case of `getSchema('id')` to get a compiled validation function. The tricky bit is for output serialization. In that case, we need th

[2020-12-17 14:44] RafaelGSS commented on #2743
We don't support officially (as far I know) the `@nestjs/platform-fastify`. I would say that is not a problem with `fastify` so far since you are using a third-party library to use `fastify` as router.

When you can reproduce this behavior, I can take a look to understand which side the problem is on.

Some notes that probably you know:

- This behavior occurs when you try to write to a socket tha

[2020-12-17 15:49] delvedor commented on #2743
Hello! We are not affiliated with Nest, nor we support the fastify-nest connector.
I suggest you open an issue in the nest repository :)

[2020-12-17 15:49] #2743 closed

[2020-12-17 15:58] delvedor opened #2746 "Serverless as first class citizen"
## 🚀 Feature Proposal

Currently, we are advertising that Fastify is not best suited for serverless environments.
This is true, any kind of support needs to have some workaround, see our [serverless docs](https://www.fastify.io/docs/latest/Serverless/).

I think we should address this, and provide better support for serverless environments,  instead of relying on external packages or workarounds.

[2020-12-17 18:14] StevenLangbroek commented on #2743
Out of curiosity, what kind of code would cause an error like this? Forgetting to listen to `end` event on a stream?

[2020-12-17 20:11] mcollina commented on #2743
A missing 'error' handler on a stream, but I have never had to debug one.

[2020-12-18 02:02] lmeyerov commented on #2739
As a brief update:

* We updated to fastify 3.9.2, just in case
* We updated node 14.14 -> 14.15.2 b/c https://github.com/nodejs/node/pull/35941
* We narrowed down the conditions to:

[code]
+

[code]

Two interesting things in the above:
* The `await(eos(stream))` successfully finishes, yet 5s later, the `Timeout` propagates back
* If we change `reply....compress(stream)` to `reply....send(stream

[2020-12-18 09:23] mcollina commented on #2739
Can you make a runnable example?

[2020-12-18 15:35] mcollina opened #2748 "Automate releases"
https://github.com/babel/babel/pull/12526 is a clear implementation on how Babel is going to safely implement automated releases. I think this would be great.

If somebody would like to work on the implementation, I can likely ask preview access to Github.

[2020-12-18 16:06] MetCoder95 commented on #2748
Sounds fun, I can give it a try. I'll need to dig deep into how it works as this stills in preview, they have any documentation to follow?

[2020-12-18 16:16] mcollina commented on #2748
I don't know much about it tbh.

[2020-12-18 16:20] kibertoad commented on #2587
Here is the candidate plugin to provide an unopinionated, pure-JS solution to the DI problem: https://github.com/kibertoad/fastify-awilix.

In the end I decided to diverge from the original plan and instead of introducing additional abstractions, and expecting certain code structure from the end user, embraced an existing solution, [awilix](https://www.npmjs.com/package/awilix), plugging it into t

[2020-12-18 16:39] MetCoder95 commented on #2748
It seems that everything needs to be done in the `environment` config step. So far [this](https://devblogs.microsoft.com/devops/i-need-manual-approvers-for-github-actions-and-i-got-them-now/) is what I found to have it done. Seems easy but it requires to be part of the beta and being an admin of the repo to setup the environment with that feature

[2020-12-18 16:39] mcollina commented on #2748
I would recommend experimenting on your own github first.

[2020-12-18 16:40] MetCoder95 commented on #2748
Sure, I'll give it a try 👍

[2020-12-18 16:41] jsumners commented on #2587
Does that mean the container does not respect the encapsulation context it was registered in?

https://github.com/kibertoad/fastify-awilix#plugin-options <== has `disposeOnClose` described twice.

[2020-12-18 16:45] jsumners commented on #2748
There is also https://github.com/googleapis/release-please

[2020-12-18 16:55] kibertoad commented on #2587
@jsumners Depends on what do you mean.
When you try to dispose of modules, it only affects modules contained in the specified container, not touching anything coming from the above or defined below.
When you try to resolve a module from the container, it can access all the modules from specified container and its parents, but not from sibling or children containers. I would say that this is a deli

[2020-12-18 18:05] jsumners commented on #2587
Merely unclear about the relationship between the di container and Fastify encapsulation.

[2020-12-18 18:14] kibertoad commented on #2587
@jsumners Got it. Actually, "Child can see parent, but not vice versa" is consistent with how Fastify encapsulation works. Other than that, I don't think there are any inherent incompatibilities between fastify encapsulation and how DI works. If you add DI decoration deep in the grandchild context, you won't be able to access scoped modules from the grandparent, because you won't have `diScope` on

[2020-12-18 18:21] nicolo-ribaudo commented on #2748
I think is now in public beta and you don't need to request access - I was able to test it in a personal repo without explicitly opting in.

Other docs pages that _might_ be useful are https://docs.github.com/en/free-pro-team@latest/actions/reference/environments and https://docs.github.com/en/free-pro-team@latest/actions/reference/encrypted-secrets

[2020-12-18 20:03] mcollina commented on #2748
I would prefer to have OTP support.. what'd you need to change in https://github.com/mmarchini-oss/npm-otp-publish/?

[2020-12-18 20:10] Eomm commented on #2748
The issue is that we can't receive the URL where input the OTP: the idea was to receive a message on discord, input the OTP and continue the flow

Details here: https://github.com/mmarchini-oss/npm-otp-publish/issues/66

[2020-12-18 20:49] jsumners commented on #2587
Sounds good to me.

[2020-12-18 21:46] lmeyerov commented on #2739
Yes, we need to get the hotfix out with the workaround (dropping `fastify-compress` <> `got` for streams), and then will revisit

[2020-12-19 10:56] zekth commented on #2748
I'd rather wait for the environment feature to be released to add it in combination with OTP tokens.

[2020-12-19 13:37] voxpelli commented on #2719
Sorry for not responding, I tried to find some time to reproduce, decided to squeeze it in quickly now, but can't reproduce it right now, so I'm closing it and will open a new one if I run into this again and is able to reproduce it.

[2020-12-19 13:37] #2719 closed

[2020-12-21 02:46] climba03003 opened #2752 "migrate pre-commit to husky"
In this comment https://github.com/fastify/fastify-jwt/pull/128#discussion_r545066309, jsumners suggest move ```pre-commit``` to ```husky```

## 🚀 Feature Proposal

Migrate ```pre-commit``` to ~~```husky```~~ [```fastify/pre-commit```](https://github.com/fastify/pre-commit)

~~Common configuration adding to ```package.json```~~
[code]

## Motivation

```pre-commit``` is not updated for a long time

[2020-12-21 09:29] zekth commented on #2752
Are all `pre-commit` using command `npm test` ? If so we can write a script to create the branches and PR like we did for the `stale bot`.

[2020-12-21 10:32] climba03003 commented on #2752
Yes, ```pre-commit``` is simply just add a hook to execute the ```npm test``` command.
Note that some of the package is missing ```pre-commit``` in ```package.json```, so you need to make sure the automation can handle it.

Steps for automate script:
1. Check if ```pre-commit``` exist in ```package.json```, remove it when it exist.
3. Add ```husky``` as ```devDependencies```

[2020-12-21 12:50] jsumners commented on #2752
Please see https://github.com/fastify/fastify/pull/1265.

My comment on the other repository was because that repository wasn't already using either of these packages. Therefore, it could easily be switched to `husky` over `pre-commit`. The problem with migrating repositories that currently use `pre-commit` is updating the installed hooks on contributor systems.

For a long time, Husky provided no

[2020-12-21 13:59] kibertoad commented on #2752
@jsumners What's the preference for the projects that currently don't have any pre-commit hooks installed? Do we want to keep them as-is or add `husky`?

[2020-12-21 14:31] jsumners commented on #2752
My opinion is `husky@4` for projects that do not currently have a hook manager.

[2020-12-21 14:34] kibertoad commented on #2752
@jsumners Gotcha. I'll prepare some PRs in the evening then.
Considering that husky 5 will likely require an update again, why use 4? Considering how simple our use-case is, it's unlikely that we'll break anything.

[2020-12-21 14:39] jsumners commented on #2752
Simply because I haven't tested v5 and I don't know how it will work. I know that v4 works exactly as we are accustomed to with `pre-commit`.

But be my guest to investigate v5 and report your findings. Also, v5 isn't yet marked as current on npm.

[2020-12-21 15:28] Eomm commented on #2659
Yes, it is: you may check the [migration guide](https://github.com/fastify/fastify/blob/master/docs/Migration-Guide-V3.md#changed-schema-substitution-2023) to check how to upgrade your schemas

[2020-12-21 16:07] climba03003 commented on #2752
I have updated the checklist to show which packages currently using ```pre-commit``` and none of them. You can better visualize which need to add ```husky``` and which one need to wait for ```husky@5``` (maybe).

[2020-12-21 16:24] RafaelGSS commented on #2752
Good work! I've add a new package to the tracking list.

[2020-12-21 22:32] kibertoad commented on #2752
@jsumners Well, it works, but feels a bit intrusive :-/ (https://github.com/fastify/fastify-funky/pull/5/files). Then again, I guess this is our future, highly unlikely they will redesign the whole thing within v5.

[2020-12-22 00:43] jsumners commented on #2752
🤢

That's what I feared. Unfortunately, no one else is maintaining anything better.

[2020-12-22 16:16] mcollina commented on #2742
After chatting with @epoberezkin he said he will fix security issues in v6 unless they require massive refactoring. I think we are safe keeping fastify@v3 on ajv@v7.

Anybody would like to send an upgrade PR against `next` branch?

[2020-12-22 17:07] kibertoad commented on #2742
@mcollina Do you mean keeping fastify 3 on ajv6?

[2020-12-22 17:17] mcollina commented on #2742
That's the idea, yes.

[2020-12-22 17:32] Eomm commented on #2742
My idea is to do it after #2755 👍

[2020-12-22 21:14] epoberezkin commented on #2742
Let me know any questions about migration - it’s a relatively big change, release notes should help. There’s been very few issues reported though, all fixed. V6 is on v6 branch, and if any security release is needed, it would be on v6 npm tag. By supporting until the end of Feb 21, I meant fixing any core functionality issues / edge cases that may be discovered; happy to fix any security issues a

[2020-12-23 14:47] jsumners opened #2760 "Report actual plugin requiring decorator"
https://github.com/fastify/fastify/blob/c2c5cfca689234864d5a208301dde10cefab9804/lib/pluginUtils.js#L82-L85

The above assertion isn't too helpful. If a plugin asks for the "foo" decorator on the "fastify" object, then it gives a message like the following when that decorator is not found:

The stack trace ends up looking something like:

[code]

Notice that none of this information gives me any h

[2020-12-23 15:00] XERXES-MOUSAVI opened #2761 "[FST_LIGHTMYREQUEST_DEP01] When I run my test units"
## 🐛 Bug Report

When I run my test units , i get [FST_LIGHTMYREQUEST_DEP01] deprecation warning.

I use jest for testing and request injetcion:

#sample.spec.js
[code]

My tests passed successfully but I got this deprecation warning:

[code]
I want to know why it happened? and what should I do?

## My Environment
- *node version*: 12.18.3
- *fastify version*: >=3.9
- *os*: ubuntu 20.04
-  jest: 2

[2020-12-23 15:05] kibertoad commented on #2761
Doesn't warning say anything there is to know? `request.connection` is deprecated and will eventually stop working, use `request.socket` instead.

[2020-12-23 15:07] kibertoad commented on #2761
What is `FastifyOpenApi`?

[2020-12-23 15:24] kibertoad commented on #2761
I've checked sources for `light-my-request`, and by itself it is not calling `request.connection` anywhere, so my assumption is that there is some code in your codebase that does it. Could you check?
Alternatively you can set a breakpoint inside `light-my-request` `lib/request.js`
[code]
and see where it is being called from, maybe it's some plugin that needs updating.

[2020-12-23 15:53] kibertoad commented on #2761
@XERXES-MOUSAVI Btw, unrelated, but we've just published plugin for awilix, you might want to check it out: https://www.npmjs.com/package/fastify-awilix

[2020-12-24 16:28] aalfiann opened #2765 "async await return reply.send() but still executed code line below"
## 🐛 Bug Report

I'm not sure this is a bug or not because I still new with Fastify, My problem is I have already return reply.send() but fastify still executed the code line below. Is there a way to stop reply.send() immediately if I have already sent it?

## To Reproduce

Steps to reproduce the behavior:

this is the router.
[code]

## Expected behavior

I was thinking if I have already return r

[2020-12-24 17:07] L2jLiga commented on #2765
This happens because you catch (swallow) error inside your `catch` block and this doesn't stop execution.

[2020-12-24 18:19] aalfiann commented on #2765
yes I know it.

I mean is there a feature to skip execution if fastify reply.send() has already sent?

[2020-12-24 18:28] jsumners commented on #2765
Don't mix and match callback/promise handler style with `async...await`:

[code]

[2020-12-24 18:32] aalfiann commented on #2765
OMG, why I forgot about try catch?

Thank you @jsumners

[2020-12-24 18:32] #2765 closed

[2020-12-24 20:54] lmeyerov commented on #2739
@mcollina  I think we're good to close this

More of a writeup here: https://github.com/sindresorhus/got/issues/1556 . There's a lingering `fastify-compress`-relevant issue on why `br` is getting picked despite encodings order,  so we'll be digging into that on one of our next perf sweeps.

[2020-12-25 09:24] #2739 closed

[2020-12-28 18:06] #2619 closed

[2020-12-30 12:17] mcollina opened #2767 "Allow onRoute to alter options without side effects"
## 🚀 Feature Proposal

The way the `onRoute` hook can be used is to derive some info from the route settings (for swagger for example), or to __mutate the route definition itself__. However in certain cases Fastify creates two routes from the same definition  (see https://github.com/fastify/fastify/blob/834a4e58de86d7996b50a4663fbf2b0fac4686ee/lib/route.js#L163-L170).

I propose to update the `onR

[2020-12-30 12:18] mcollina commented on #2767
This is another example of this problem: https://github.com/fastify/fastify-rate-limit/issues/120.

[2020-12-30 14:42] MetCoder95 commented on #2760
I can take a look into it, will basically just enhance the report hiding the stack trace of the error object, or keep everything as it is just appending which plugin is having mismatches?

[2020-12-30 14:43] MetCoder95 commented on #2748
Then should we wait for the release of the feature and combine it with OTP tokens?

[2020-12-30 21:37] jsumners commented on #2760
I'd try to keep everything as it is but add a report of the actual plugin causing the error. But I suspect that is going to be quite difficult. So whatever works is fine by me.

[2020-12-30 21:39] jsumners commented on #2760
To be clear, it's a plugin defined like so that causes the error:

[code]

[2020-12-30 21:42] jsumners commented on #2767
👍

[2020-12-30 23:59] zekth commented on #2748
Yes.

[2020-12-31 15:31] MomenNano commented on #2767
can we just remove the second `afterRouteAdded.call`  here in line 168
🤔

https://github.com/fastify/fastify/blob/834a4e58de86d7996b50a4663fbf2b0fac4686ee/lib/route.js#L163-L170

[2020-12-31 15:47] mcollina commented on #2767
Unfortunately no. That's needed to support the `ignoreTrailingSlash` option.

Moreover, it would still be a bug, consider the following case:

[code]

You'd see the exact same problem.

[2020-12-31 17:44] delvedor opened #2770 "preSerialization won't be exeecuted in case of a custom serializer."
If you define a custom [reply serializer](https://www.fastify.io/docs/latest/Reply/#serializerfunc), the `preSerialization` won't be executed.
I think this is a leftover of previous implementations and it should considered a bug.

https://github.com/fastify/fastify/blob/834a4e58de86d7996b50a4663fbf2b0fac4686ee/lib/reply.js#L146-L147

To reproduce:

[code]

[2020-12-31 21:01] MSE99 commented on #2770
I have a question, a custom serializer is supposed to only work when an application content type was specified via `reply.type` right ?

[2021-01-01 12:59] AyoubElk commented on #2692
I think this should be closed.

[2021-01-01 13:08] #2692 closed

[2021-01-01 13:40] shaikh-shahid opened #2771 "ReferenceError: globalThis is not defined"
i took this benchmark code to test out fastify for my new project.

[code]

and got this error upon running

[code]
My node version is v11.15.0

[2021-01-01 14:24] jsumners commented on #2771
Node v11 is unsupported both by us and Node core.

[2021-01-01 15:41] Eomm commented on #2771
The error doesn't seem triggered by fastify: that script actually works

[2021-01-01 16:45] shaikh-shahid commented on #2771
Ok, updating Node.

[2021-01-01 16:47] #2771 closed

[2021-01-01 16:47] shaikh-shahid commented on #2771
Yup, was the version issue.

[2021-01-03 01:44] Eomm commented on #2748
Meanwhile, I have done the discord notifier, if the maintainer of the action will ship it, we will have this feature done 🎉

[2021-01-03 18:33] kibertoad commented on #2653
Isn't there still value in at least logging the error that has occurred in a centralized way, even if you are not going to send any reploy anymore?

[2021-01-03 18:46] mcollina commented on #2653
There is value. How would you solve this then?

[2021-01-03 18:49] kibertoad commented on #2653
@mcollina Usually we handled that in our applications by doing `reply.sent` check inside errorHandler itself, to determine if to send reply or not, and logged always. After the #2774 that will no longer be an option.

[2021-01-03 19:27] AyoubElk commented on #2767
I'd like to work on this @mcollina, can you clarify the desired behavior for me?

[2021-01-03 22:56] juanr2001 opened #2775 "fastify with Docker"
## 🐛 Bug Report

Dockerizing a project to listen on port 3000, `::` must be specified.
I am not 100% sure why, but in express it does not need `::`

## To Reproduce

Steps to reproduce the behavior:

Dockerfile
[code]

The index.js
[code]

// On your terminal execute following commands
[code]

NOTE:
**There is not an error thrown, because everything happens inside the docker container. Upon checki

[2021-01-03 22:59] StarpTech commented on #2775
Hi, this is already documented here https://github.com/fastify/fastify/blob/master/docs/Recommendations.md#kubernetes.

Fastify listen by default on `127.0.0.1` but express on `0.0.0.0`.

[2021-01-03 23:07] #2775 closed

[2021-01-03 23:08] juanr2001 commented on #2775
@StarpTech

FML, thanks for the link

 Thank you thank you!

[2021-01-03 23:17] jsumners commented on #2775
It's more fully documented in https://github.com/fastify/fastify/blob/5e0e674823642d851fefb73d78fc590325c880b2/docs/Server.md#listen

This is a security feature.

[2021-01-04 05:31] wpbjiuy opened #2776 "logger 日志输出中文乱码"
在日志输出中，中文显示的是乱码。请问是不支持中文吗？

[2021-01-04 07:30] mcollina commented on #2776
I'd recommend you to open an issue at https://github.com/fastify/docs-chinese. None of the maintainers for this repo can speak Chinese, as far as I know.

[2021-01-04 07:30] #2776 closed

[2021-01-04 18:01] mcollina commented on #2767
No. Let's think of `onRoute` as a `reduce` operation: we register only the last.

[2021-01-05 08:34] #2770 closed

[2021-01-05 13:09] AyoubElk commented on #2746
I'd like to work on this.

The current implementation idea I have is to add `serverlessMode` option to fastify that would allow skipping all non-necessary operations in a serverless context, but I still don't have a full view on what needs to be skipped besides:
- creating a server and listening on a port
- sending a response use `res` object & setting response listeners (I presume this would need

[2021-01-05 13:32] AyoubElk commented on #2767
Got it!

Do you think a deep copy is more appropriate in this context instead of `Object.assign()`?

[2021-01-05 15:07] mcollina commented on #2767
I would leave this to the implementor of the hook. It might just be 2 levels (main object and hooks), or a partial tree.

[2021-01-06 11:28] simoneb commented on #2767
I'm having a look at this and wondering if there isn't an existing fundamental issue in the handling of the trailing slash.

https://github.com/fastify/fastify/blob/834a4e58de86d7996b50a4663fbf2b0fac4686ee/lib/route.js#L163-L170

If the conditional is entered, we have two async operations calling the same callback, right? I understand it may not in practice lead to big issues, but it doesn't look

[2021-01-06 11:43] RafaelGSS commented on #2767
@simoneb Actually there will have two routes: `/path` and `/path/`.

[2021-01-06 11:45] simoneb commented on #2767
Yes I can see that, but both are calling the same `done` callback.

[2021-01-06 11:57] simoneb opened #2779 "Logo in github dark mode is almost invisible"
It looks like this

![image](https://user-images.githubusercontent.com/20181/103766201-b45a7480-501e-11eb-89b3-6bac0692645a.png)

[2021-01-06 12:09] mcollina commented on #2779
How should we fix it? :(

Can we include an alternate image for dark mode in an img tag?

[2021-01-06 12:10] mcollina commented on #2767
That's correct and expected. That's how we support the trailing slash.

[2021-01-06 12:13] RafaelGSS commented on #2746
Also, the https://github.com/fastify/benchmarks/pull/139 should give us better visibility on it.

[2021-01-06 12:13] simoneb commented on #2779
I guess using svg with media queries may work, but the attempt made here doesn't seem successful to me https://github.com/jamiebuilds/dark-mode-github-readme-logos. In dark mode it's invisible anyway

[2021-01-06 12:17] Eomm commented on #2779
Github does let you to set a different logo when the user set the dark mode AFAIK

Could we add an outline border for now?

[2021-01-06 12:32] simoneb commented on #2767
I guess I'm missing something then, I don't understand how calling the `done` callback twice is correct. I tried tracing back to where that callback comes from and it's buried somewhere in the avvio package so I lost track of how it's handled. Conceptually, that callback is used to communicate to the caller that the async operation is completed and the caller may be waiting for that before continu

[2021-01-06 14:47] jsumners commented on #2767
@simoneb only one route will be hit for a request. So the `done` is only invoked once per route handled. `'/foo' == '/foo/'` in terms the handler.

[2021-01-06 16:16] simoneb commented on #2767
It looks like I'm not explaining myself. This is not something that happens when the routes are hit, but when they are registered.

https://github.com/fastify/fastify/blob/834a4e58de86d7996b50a4663fbf2b0fac4686ee/lib/route.js#L163-L170

This causes the `done` callback to be called twice. I traced it back to [this function in avvio](https://github.com/fastify/avvio/blob/24c4ff1d163f8264d8714dfe9ca6

[2021-01-06 17:24] #2760 closed

[2021-01-06 17:30] jsumners commented on #2760
Thank you for solving this @MetCoder95

[2021-01-06 18:42] salmanm commented on #2767
I'd like to present my take on the original issue.

The way we prevented acting twice in https://github.com/fastify/fastify-compress/pull/141 was by adding a property to the `routeOptions`. However, if we somehow knew in `onRoute` if it's being called for the same route as before but just for prefixing a slash then we'd be able to avoid adding custom property right?

How do you guys feel if we get

[2021-01-06 19:27] RafaelGSS commented on #2767
I might be wrong, but for me, the hook is working properly since it adds two routes when `ignoreTrailingSlash = true`. But yeah, the use case is quite complex.

I would change to a different approach, instead of adding a property to identify if the route has the same handler as others. How complex should be register the route only once but on lookup we transform `/path/` to `/path`? I mean, this i

[2021-01-07 12:54] MetCoder95 commented on #2760
Glad to be helpful 🙏

[2021-01-07 13:11] gustawdaniel opened #2781 "FST_ERR_CTP_INVALID_MEDIA_TYPE for 'application/zip'"
## 🐛 Bug Report

I have error when I am trying to upload zip file.

## To Reproduce

Using `httpie` (or curl)

1. Try send JPG file

[code]

2. Try send ZIP file

[code]

In `app.ts` type:

[code]

## Expected behavior

I should see response from controller on path `/upload` in both cases.

Because of `application/zip` is correct mimetype and is defined in my content type parser.

![Screenshot fro

[2021-01-07 13:15] gustawdaniel commented on #2781
My mistake. I did not reloaded server. Sorry.

[2021-01-07 13:15] #2781 closed

[2021-01-07 17:38] mcollina commented on #2767
This will slow us down :(

[2021-01-08 04:02] naseemkullah commented on #2644
Looking at closed PRs it seems like this should change to a docs PR to recommend using qs for case insensitivity.

[2021-01-08 14:18] jsumners commented on #2644
Correct. Would you like to create that PR?

[2021-01-08 15:30] naseemkullah commented on #2644
Sure!

[2021-01-11 16:52] ronag opened #2787 "test: failure on Node master"
The following test will timeout on node master:

[code]

Refs: https://github.com/nodejs/node/pull/36816

[2021-01-11 16:52] ronag commented on #2787
It's a little unclear to me why this happens. If I try to rewrite the test to use a regular `http.createServer` it passes.

FYI @dnlup

[2021-01-11 17:20] ronag commented on #2787
My mistake, only happens on https://github.com/nodejs/node/pull/36816

[2021-01-11 17:20] #2787 closed

[2021-01-11 23:27] luckstech commented on #303
@delvedor I'm getting `FastifyDeprecation: You are decorating Request/Reply with a reference type. This reference is shared amongst all requests. Use onRequest hook instead.`
Is decorating the request still the best option?

[2021-01-12 00:15] RafaelGSS commented on #303
@luckstech Not sure of your usage. But, likely the [fastify-request-context](https://github.com/fastify/fastify-request-context) may help you.

[2021-01-12 00:18] jsumners commented on #303
See https://github.com/fastify/fastify/pull/2688

[2021-01-12 06:41] salmanm opened #2788 "Creates incorrect HEAD route when using exposeHeadRoute"
## 🐛 Bug Report

As discovered in https://github.com/fastify/fastify/pull/2782#discussion_r554836505, when a route is set up with `exposeHeadRoute: true` with `prefix` and `prefixTrailingSlash`, a mysterious `HEAD` route is created.

Needs more investigation.

## To Reproduce

Steps to reproduce the behavior:

[code]

Creates following routes

- `GET /prefix`
- `HEAD /prefix/prefix` (incorrect)

W

[2021-01-12 08:54] mcollina commented on #303
The correct example is:

[code]

[2021-01-12 22:06] MetCoder95 commented on #2746
Any idea of how the API should look like and the configs as well?

Also, how do we benefit from V8 snapshots, it's there a way to trigger them from Node.js on runtime?

[2021-01-13 09:51] patarapolw opened #2792 "Setting status to 400 or 404 ignore return when async; however, setting 201 does not"
## 🐛 Bug Report

Setting status to 400 or 404 ignore return when async; however, setting 201 does not.

A temporary solution is to `throw { statusCode: 400, ...msg }` instead of return.

## To Reproduce

[code]

## Expected behavior

Throwing is not the only way to return statusCode > 300 or < 200.

## Your Environment

- *node version*: Electron 11.1.1
- *fastify version*: 3.9.2
- *os*: Xubuntu 2

[2021-01-13 12:01] ThisIsMissEm commented on #2743
I think we've resolved the issue: we switched from having `yarn` as our docker entrypoint/cmd to just bare `node` and the sigpipes subsided.

[2021-01-13 18:18] mcollina commented on #2792
This looks a lot like a bug!
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-01-16 10:18] delvedor opened #2799 "Rename `master` branch to `main`"
As titled.
It should not be a problem here, but the documentation build should be updated.

Related: https://github.com/github/renaming

/cc @lmammino

[2021-01-16 10:19] mcollina commented on #2799
Go for it!

[2021-01-16 12:51] jsumners commented on #2799
This is just a solution in search of a problem. And implementing it is going to cause problems for everyone who has the code forked.

[2021-01-16 13:40] delvedor commented on #2799
@jsumners I don't agree, if you are maintaining a fork for a pr changing the base branch is the same as changing it when targeting the wrong branch or when we switch from `next` to `master`.
Once we do this, we'll ping the authors of every open pr (again, like we did when we switched from `next` to `master`) to let them know that they need to rebase on a new branch (with zero breaking changes in t

[2021-01-16 15:00] mcollina commented on #2799
The tooling provided by github is going to do all the rebasing automatically, it would also allow the old references to continue working. We can also wait for Node.js core to switch for example and validate the approach.

[2021-01-16 16:12] zekth commented on #2799
Those references need to be changed:
https://github.com/fastify/fastify/blob/master/.github/workflows/website.yml#L6
https://github.com/fastify/fastify/blob/master/.github/workflows/package-manager-ci.yml#L6

[2021-01-16 16:15] zekth commented on #2799
Not even sure it is necessary

[2021-01-17 23:33] kibertoad commented on #1107
Since there still doesn't seem to be anything for fastify to cover this, I'll pick this one up.

[2021-01-18 09:39] nigelhanlon commented on #2792
Do you have a custom error handler defined that may not be included in the example? The code above is helpful but so far I cannot reproduce this error. A working example would help narrow down the issue if you have the time to provide one?

[2021-01-18 13:09] mcollina commented on #2792
@patarapolw a full runnable example that demonstrate the problem would be nice.

[2021-01-18 15:55] patarapolw commented on #2792
Not reproducible. Maybe I will close for now.

[code]

This works.

[2021-01-18 15:55] #2792 closed

[2021-01-18 20:30] janispritzkau opened #2805 "Missing function return type for `validatorCompiler`"
## 🐛 Bug Report

The current type definition for the validator compiler is missing the function type return type.

[code]

It should look more like this to reflect the current JavaScript code:

[code]

Also I'm not sure why the `errors` field exists on the validator function.

## To Reproduce

Steps to reproduce the behavior:

[code]

Resulting type error:

[code]

## Your Environment

- *node ver

[2021-01-18 22:29] kibertoad commented on #2587
Closing since plugin was implemented.

[2021-01-18 22:29] #2587 closed

[2021-01-18 22:44] kibertoad commented on #1107
@jsumners node-schedule seems pretty dead. I've pinged their maintainer offering help, but if they don't react, there doesn't seem to be any decent libraries offering hybrid cron and non-cron scheduling, so I'm currently considering https://github.com/jakubroztocil/rrule as the main scheduling engine. Do you think that not having cron support will be a dealbreaker for many users? Should we use two

[2021-01-18 22:54] jsumners commented on #1107
Wow! I did not know that package exists. Finally, someone other than me that got fed up with the antiquated and mysterious cron syntax and actually did something about it. If someone is dead set on using cron syntax in their application, let them write a utility to convert that syntax in to the object to pass in.

[2021-01-18 23:01] MetCoder95 commented on #2618
Shall we close it as #2731 was merged?

[2021-01-18 23:13] MetCoder95 commented on #1563
Stills open or needed, I can spend time on it :)

[2021-01-18 23:51] #2618 closed

[2021-01-19 22:29] delvedor commented on #2799
Latest GitHub news about this:

https://github.blog/changelog/2021-01-19-support-for-renaming-an-existing-branch/

[2021-01-20 11:25] StevenLangbroek commented on #2743
@mcollina in cae you're interested; @ThisIsMissEm and I managed to narrow it down to an interaction between Contrast Security's runtime agent and fastify. Working with their team to resolve but it might take a while, I'll update here.

For future readers; starting your server through a `yarn` command from Docker obscured the source of the error, change it from `CMD ["yarn", "start"]` to `CMD ["nod

[2021-01-20 12:33] zekth commented on #2743
I personnaly suggest using
[code]

[2021-01-20 13:49] #1107 closed

[2021-01-20 14:32] mcollina commented on #2743
@StevenLangbroek I guess that agent is messing with some globals that pino does not like. https://github.com/mcollina/sonic-boom or https://github.com/pinojs/pino/blob/eca5800eb924788e987900a762a48f78d12d57e8/lib/tools.js#L344-L346 might be good entry points.

[2021-01-20 17:17] StevenLangbroek commented on #2743
@mcollina yeah seems both their agent and the instana one use `shimmer` as a transitive dependency, which is causing all sorts of havoc.

[2021-01-20 17:19] mcollina commented on #2743
This does not surprise me at all.

[2021-01-20 17:29] jsumners commented on #2743
Leave 👏 prototypes 👏 you 👏 do 👏 not 👏 own 👏 alone 👏

[2021-01-20 17:30] StevenLangbroek commented on #2743
Prototypes are people too.

[2021-01-21 00:25] mmarti commented on #2602
@mcollina Could you verify whether the fix was released? It looks like it was merged to the next branch, but has been sitting there ever since.  Is there still any outstanding items that need to be taken care of before it can be merged in with master / released through a new npm version? Thanks.

[2021-01-21 06:21] wpbjiuy opened #2812 "ajv options?"
https://www.fastify.io/docs/latest/Validation-and-Serialization/ -> Ajv Plugins -> Refer to ajv options to check plugins format

[2021-01-21 11:31] mcollina commented on #2602
@mmarti it will be part of the Fastify v4, shipping as soon as that is ready.

[2021-01-21 21:18] mmarti commented on #2602
Ah, I wasn't aware there was an upcoming major version release. Pardon if there is information elsewhere, but was there a timeline or a place I could follow that progress? Thanks.

[2021-01-21 23:31] mcollina commented on #2602
Closing this issue as it's done.

We have no formal plan right now. There will be one prepared in the coming months.

[2021-01-22 17:54] matthyk opened #2811 "Content negotiation support"
## 🚀 Feature Proposal

Support content negotiation at route definition.
It should be possible to define several handlers for one route. Routing among the handlers should be based on the *Accept* and the *Content-Type* Header. This feature is similar to the existing feature for Versioning.

## Motivation

This function is very helpful if, for example, you provide an admin view and a user view for t

[2021-01-22 18:56] mcollina commented on #2811
This would become possible after https://github.com/delvedor/find-my-way/pull/170 lands.

[2021-01-23 10:48] ettancos opened #2813 "Validation tries to set headers but its not possible"
## 🐛 Bug Report
Hi people, while upgrading to v3 I've noticed a strange behavior.

#2426 has changed headers to be a getter, but `validateParam` (https://github.com/fastify/fastify/blob/master/lib/validation.js#L74) does try to assign it if the validation result contains the `value`. This does not come up with ajv because it mutates the original headers if `coerceTypes` is set. Joi returns the mod

[2021-01-23 16:55] airhorns opened #2815 "Facility for getting the rich Fastify request/reply from a raw one"
## 🚀 Feature Proposal

Add a way to access the Fastify `Request` or `Reply` object with all their handy doodads when all you have in scope is an `http.IncomingMessage` or `http.ServerResponse`.

## Motivation

Many modules within the node.js ecosystem at large expect to deal with `http.IncomingMessage` requests so they interoperate as many other modules as possible. Things like `helmet.js` or `nex

[2021-01-23 16:58] jsumners commented on #2815
We are unlikely to mutate the core objects. That was a mistake made by other frameworks that this one has consciously avoided.

[2021-01-23 17:27] airhorns commented on #2815
Checks out. Otherwise though, do you think this is a good idea?

[2021-01-23 17:48] jsumners commented on #2815
I'd rather hear from @mcollina.

[2021-01-23 19:53] sheldhur opened #2816 "JSON-string in the query support"
## 🚀 Feature Proposal
OpenAPI schema has keyword `content` in parameters, that say that this parameter will contain json.

## Motivation

Sending a JSON-string in the query:
`filter={"someField":{"gte":"10"}}`

## Example

[code]

[2021-01-23 20:12] jsumners commented on #2816
Please provide some more information. It is not at all clear what you are asking.

[2021-01-23 20:26] jsumners commented on #2813
I think you would be better off waiting for us to land https://github.com/fastify/fastify/pull/2755. I am _almost_ done with my testing. So hopefully it isn't too far off.

But, other than that, can you provide a `package.json` to accompany your reproduction? It's not clear which version of Joi you are using.

[2021-01-23 20:35] sheldhur commented on #2816
How i can validate deep object what will be sent as json string in query?
`/somepath?filter={"someField":{"gte":"10"}}`

https://swagger.io/docs/specification/describing-parameters/#schema-vs-content

[2021-01-23 20:42] jsumners commented on #2816
I'm going to guess that you're providing a schema definition for a route handler. Further, I'm going to guess that you are asking why your schema definition does not work.

Route handler schemas are JSON Schema. The _are not_ OpenAPI descriptions. See https://stoplight.io/blog/openapi-json-schema/ for an explanation of the difference.

[2021-01-23 20:56] sheldhur commented on #2816
Thanks, that problem is in fastify-oas

[2021-01-23 20:56] #2816 closed

[2021-01-23 23:00] ettancos commented on #2813
Right, sorry I forgot the joi version, I was just using the latest from https://github.com/sideway/joi but its the same with older versions too (was testing first on `hapi/joi@14` then I upgraded it to make sure)
[code]

[2021-01-24 09:45] woobione commented on #946
To this day, the issue @devotox mentions is present.
When running Fastify as a Google Cloud Function (firebase-functions), using the suggested serverFactory approach, all `POST` and `PATCH` requests will just never return anything, as long as the `Content-Type header application/json` is present. Thought I would share my findings for anyone else having the same issue.

The root of the problem is i

[2021-01-24 11:14] Eomm commented on #2813
I think this needs a bugfix because the use case is to set to the fastify's `request` headers object with a new value object that would not be possible with that PR

I have a draft for it 👍

[2021-01-24 11:25] Kikobeats commented on #1401
Hey @delvedor, can you clarify why a worker per every request is not recommended?

[2021-01-24 11:29] delvedor commented on #1401
@Kikobeats because as far as I know worker threads are limited, you should use them carefully.
Take a look at [piscinajs](https://github.com/piscinajs/piscina) and its [fastify integration](https://github.com/piscinajs/fastify-piscina).

[2021-01-24 12:30] mcollina commented on #2815
not adding properties to req and res is one of the key reason of why fastify is _fast_. We could potentially create our own class with those properties in and pass it to https://nodejs.org/api/http.html#http_http_createserver_options_requestlistener. That could create a few problems with our
`createServer`
 API.

[2021-01-24 16:50] airhorns commented on #2815
That makes sense! I feel like that'd likely be the fastest manner of doing this, but somewhat invasive as well. Is the WeakMap manner of implementing going to be too slow do you think?

[2021-01-24 17:01] mcollina commented on #2815
You'd have to try the various approach and benchmark them. We can also add a link back for some specific plugins, e.g. fastify-next.

[2021-01-24 18:11] wenesay commented on #2053
Hi Below is my code for NestJS + Fastify + Firebase Functions. The issue with my code is that Headers are not received from client to fastify handler.

<pre>
...

import { Logger, NestApplicationOptions, ValidationPipe } from '@nestjs/common';
import { NestFactory } from '@nestjs/core';
// import * as compression from 'compression';
import { AppModule } from './app/app.module';
import Fastify from

[2021-01-24 21:10] zekth commented on #2815
I think i can create more problems than it could fix. Unfortunately

[2021-01-25 04:20] airhorns commented on #2815
Can you explain more what you mean? This being possible or the poor implementation?

[2021-01-25 09:49] #2788 closed

[2021-01-25 14:59] airhorns commented on #2811
@matthyk happy to guide you through writing a new constraint for `find-my-way`, it'd be great to share that with the Fastify community if you do!

[2021-01-25 19:42] zekth commented on #2815
I was mostly thinking about confusion this can lead to. Because in a sense you'd be able to access rich fastify objects with the node `raw` object. One thing would be to create a flag for this feature to enable or not.

[2021-01-25 19:56] airhorns commented on #2815
Can you describe a situation in which a user could make a mistake with this new API that they couldn't before?  I feel like this feature doesn't change any semantics, and `request.raw` / `reply.raw` are already present and available and endorsed. We're just switching from a one directional link to a two way one which should slot in fine to users mental models, the cardinality or relationship betwe

[2021-01-25 20:11] zekth commented on #2815
I don't have a true illustrated example right now. Just mixing those objects per default can be dangerous and ca lead to potential issues when people are not used to see the difference between them.
An example is the manipulation of the FastifyReply and the node.raw.reply on the same flow.
Technically wise i'm totally ok with this approach if it does not impact the performances if it fixes the pro

[2021-01-26 06:13] YuriFontella commented on #1784
I have a question related to FormData but without this error message.
I was making the request using FormData ()

[code]

I get the data like that, and the upload was going perfectly. However, the body data client_id was not coming.

[code]

Checking the documentation, I realized that I had to add the object ```{ attachFieldsToBody: true }``` to the fastify-multipart register parameter.

Now I hav

[2021-01-26 09:13] mcollina commented on #1784
You should use https://github.com/fastify/fastify-multipart#handle-multiple-file-streams-and-fields.

[2021-01-26 10:03] sinclairzx81 opened #2818 "Update fast-json-stringify version 2.4.x"
## 🚀 Feature Proposal

Update `fastify` to use `fast-json-stringify@2.4.1`.

## Motivation

Recently I've been getting a few issues posted to the TypeBox repository where users of Fastify are experiencing various problems with the schemas produced by TypeBox. The two main issues appear to be non-resolvable `Symbol` properties which TypeBox uses for tagged unions in the schemas (but the Symbols are

[2021-01-26 10:21] mcollina commented on #2818
The semver range in https://github.com/fastify/fastify/blob/d1f7754635b9f9c4e714953fdd0c152ac426ea41/package.json#L174 includes v2.4.1. Updating this is not needed.

[2021-01-26 10:29] sinclairzx81 commented on #2818
@mcollina Awesome thanks :) I wasn't sure if the semver was working from the `revision` or the `minor` component. Happy to have this issue closed off.

[2021-01-26 11:26] #2818 closed

[2021-01-26 13:12] kibertoad commented on #2818
@mcollina Aren't explicit version bumps still helpful when package-lock is involved?

[2021-01-26 17:28] mcollina commented on #2818
Nope. Users should update their dependency with `npm update --depth 9999` or by recreating their lock files from scratch. If they decide to _not_ do so is their choice.

Unless a bump on a dependency is needed for a fix or a new feature. In that case it should be bumped.

[2021-01-26 23:26] salesh commented on #2812
This basically not working for every page where there is a link to another .md file with an anchor for that file.
Because the way how the website is built https://github.com/fastify/website

[code]

Anchor disappear from a link on the building website from Markdown with Metalsmith so it will be like this

[code]

I believe that this has something with Metalsmith/Markup https://github.com/github/ma

[2021-01-27 04:11] thatsnotright commented on #2818
@sinclairzx81 These are great PRs, and I thank you for the excellent work.  It's really helped me out a lot.  @mcollina Thank you for merging.  These have solved so many issues for me.

[2021-01-27 09:17] mcollina commented on #2812
cc @lmammino

[2021-01-27 09:46] lmammino commented on #2812
Thanks a lot, @salesh. I'll look into that shortly!

[2021-01-28 15:42] sergiz commented on #2653
I think that the https://github.com/fastify/fastify/pull/2774 introduces a breaking change since the error (after reply already being sent) is silently discarded now. I imagined that the fix here would be to have reply.sent value fixed (so it would be true in ErrorHandler, if the reply was already sent (so you would have to depend on reply.raw properties).

[2021-01-28 16:53] mcollina commented on #2653
It is not _silently_ discarded, it's logged: https://github.com/fastify/fastify/pull/2774/files#diff-6e48f882e844850ff4f1e19b8b75c410e8ea1625000a4b05d3a90edd396c08f8R34.

[2021-01-28 18:19] theGlenn opened #2822 "Expose isError in request/reply"
## 🚀 Feature Proposal
It appears there is to discriminate errors response in hooks callbacks.
It would quite handy to have a `isError` property on reply

## Motivation
When disabling `disableRequestLogging` users might want to setup their own logging logic using hooks, in that context you might not want to treat "errored" response the same way as others.

Taking the following example I'd like to a

[2021-01-28 18:33] mcollina commented on #2822
What's your code in the error handler? From the point of view of `onResponse`, if `reply.statusCode >= 500` then we have an error response.

If you want to implement this functionality yourself, it's pretty straightforward.

[code]

I don't really see a reason to add this in core.

----

I'm also slightly concerned that you do:

[code]

This should not be possible/work with pino without tweaking.

[2021-01-29 09:32] sergiz commented on #2653
It's true that it is logged, but from programming standpoint there is no way to act on it (unlike if an error was thrown).

[2021-01-29 09:37] mcollina commented on #2653
What's the use case of acting on the error? a response we already sent and the goal of the error handler is to generate one.

[2021-01-29 12:23] AyoubElk opened #2823 "Route level hooks validation"
## 🐛 Bug Report

Fastify currently doesn't validate route-level hooks:
- Property name typos go unnoticed
- Hooks can both be async and use done callback

## To Reproduce

Steps to reproduce the behavior:

[code]

## Output

[code]

## Expected behavior
Regarding the use of both async/done, I would expect fastify to validate route level hooks the same way it does for shared hooks added using `fast

[2021-01-29 13:05] mcollina commented on #2823
I'm not convinced we should validate the options as it allows other plugin developers to add their custom options. I agree that this is a problem - maybe adding a `hooks` prefix is right approach, would you mind sending a PR? I would recommend we don't remove the current behavior.

(note that your prevalidation hook is wrong, it has both async and a callback).

[2021-01-29 13:12] AyoubElk commented on #2823
Will send a PR.

Yes I explicitly used both since that is also an issue I believe. Users sometimes [make the mistake of using both](https://github.com/fastify/fastify-postgres/issues/74).
We already validate the hook params [when added using](https://github.com/fastify/fastify/blob/master/fastify.js#L461-L473
) `fastify.addHook()`, I think we should do so for route-level hooks as well.

[2021-01-29 20:16] salesh commented on #2812
We can close this one same, the issue is resolved

[2021-01-29 20:20] #2812 closed

[2021-01-30 13:43] #2767 closed

[2021-01-30 14:41] agarwalarjun123 opened #2825 "Incorrect typings for FastifySchemaCompiler"
Schema Validator should return function with data parameter but instead returns FastifyValidationResult type.

**snippet of code from fastify:**
export type FastifySchemaCompiler = (routeSchema: FastifyRouteSchemaDef) => FastifyValidationResult

Expected Code:

export type FastifySchemaCompiler = (routeSchema: FastifyRouteSchemaDef) => (data: any) => FastifyValidationResult

## Your Environment

-

[2021-01-30 16:45] mcollina commented on #2825
cc @fastify/typescript

[2021-01-30 16:51] climba03003 commented on #2825
Please check #2805
It should be fixed when this landed

[2021-01-30 17:08] agarwalarjun123 commented on #2825
is there an estimated ETA on this @climba03003.

[2021-01-30 17:17] climba03003 commented on #2825
The PR #2807 is there, it only need someone in @fastify/typescript to approve the change.
I tagged the wrong one in first comment.

[2021-01-30 17:22] agarwalarjun123 commented on #2825
cool thanks!! will check the PR for updates.

[2021-01-30 17:22] #2825 closed

[2021-02-02 01:34] Crypt0Graphic opened #2829 "No IntelliSense"
Why intellisense does not show fastify objects? It only shows what is in that page. Is that a bug? Very annoying.

![Screen Shot 2021-02-02 at 04 30 43](https://user-images.githubusercontent.com/9743846/106539787-aad60680-650f-11eb-98ff-fecd3ce05509.png)

When i use default then it seems like work:

`const fp = require('fastify-plugin').default;`

![Screen Shot 2021-02-02 at 04 38 57](https://user

[2021-02-02 08:34] mcollina commented on #2829
cc @fastify/typescript

This seems a good reason to create a VSCode extension.

[2021-02-02 08:38] mcollina commented on #2829
I'm sorry I might have been too brief. IntelliSense is provided via Typescript typings. The first problem is about `.default`: for some obscure reason, it only picks the typing up when you access it via `.default`, even if it should not be the case. This might be depending on some (default?) Typescript settings I always get confused about. There might be a bug.

The second problem is about the lac

[2021-02-02 08:39] simoneb commented on #2829
@Crypt0Graphic in your last example I believe it's currently not possible, at least unless we provide some hint to the IDE about what type the `fastify` variable might be. You have a plain function there and VS cannot possibly figure out that just because you name one of the parameters `fastify` then it is an instance of the fastify type.

[2021-02-02 08:40] simoneb commented on #2829
The first issue instead is definitely something wrong with the types

[2021-02-02 16:17] mcollina commented on #2829
I think we should use https://code.visualstudio.com/api/language-extensions/language-server-extension-guide#adding-additional-language-features to add some code completion for editing fastify plugins.

[2021-02-02 16:19] climba03003 commented on #2829
The typings is provided by `typescript`, but there are a known limitation for `typescript`. `typescript` cannot mix the exportation of typing between `commonjs`, `amd` and `esm`.

`typescript` itself use `export default`, and it is normal to be typed only when you use `require('fastify-plugin').default` as it is by design.

[2021-02-02 16:21] fox1t commented on #2829
This is due to the fact that we use "infamous triplet" and TS doesn't understand it in the CJS context. It understands it in the ESM and TS contexts though.

We should add this to our docs since many developers are starting to rely on IntelliSense in the CJS context.

@mcollina I agree that the lang server is the final solution for these issues and it provides the best DX.

[2021-02-02 17:27] #2805 closed

[2021-02-02 23:17] jonasfj opened #2831 "Broken image in docs/master/Encapsulation/"
Images appears broken in both master and latest:
 * https://www.fastify.io/docs/master/Encapsulation/
 * https://www.fastify.io/docs/latest/Encapsulation/

But the src of the image is `https://www.fastify.io/docs/latest/Encapsulation/resources/encapsulation_context.svg`
I'm guessing this is because of the trailing slash, so markdown works on github, but not after you build to have a trailing slash

[2021-02-02 23:26] jsumners commented on #2831
https://github.com/fastify/website/issues/225

[2021-02-03 12:00] jonasfj commented on #2831
ah, closing as duplicate.

[2021-02-03 12:00] #2831 closed

[2021-02-03 16:35] #2822 closed

[2021-02-03 23:23] MetCoder95 commented on #1563
I'm working on the plugin, will be nice if you can take a look before merging :)
This is the [PR](https://github.com/MetCoder95/fastify-download/pull/1)
Please let me know your thoughts about it

[2021-02-04 03:08] charsleysa commented on #2829
Correct me if I'm wrong, but isn't the code that @Crypt0Graphic posted JavaScript as opposed to TypeScript? If so, I wouldn't expect typings to work everywhere as it's not possible to determine the typings in many situations in JavaScript.

I think creating a VSCode extension is overkill. If you want typings, code with TypeScript.

[2021-02-04 07:36] simoneb commented on #2829
I disagree. We're talking about intellisense/autocomplete. Typings provide that to the editor. Because it's not always possible to infer them, an extension to the IDE would help.

[2021-02-04 07:42] mcollina commented on #2829
Developer experience is a priority of this project. As the vast majority of developers _could_ use a VSCode Language Server, I think it's not an impossible task. As an example, it's possible to use language servers with Vim.

[2021-02-04 09:17] charsleysa commented on #2829
@mcollina an extension may improve developer experience but I wouldn't deem a VSCode extension to be a priority.

Code can already be annotated with types, even in JavaScript. So for @Crypt0Graphic's case, they would only need to add the following comment to their function as shown in the last image in order to have intellisense work:
[code]

[2021-02-04 09:25] mcollina commented on #2829
Oooh, this is very nice! I didn't know that would work. Maybe we should update the docs?

[2021-02-04 09:27] leorossi opened #2833 "Fastify Instance has `any` value"
## 🐛 Bug Report

Importing fastify

## To Reproduce

Steps to reproduce the behavior:

[code]

`{ fastify }` has the correct type

![Screenshot 2021-02-04 at 08 31 40](https://user-images.githubusercontent.com/604220/106872158-4b285880-66d3-11eb-8812-f77f9d768cd1.png)

*First symptom*: `fastify({})` seems returning a `any` (but if you dig into the declaration file, no overloads returns a `any`)

!

[2021-02-04 09:28] leorossi commented on #2833
Maybe related to #2829 ?

[2021-02-04 09:33] mcollina commented on #2833
cc @fastify/typescript

[2021-02-04 10:04] L2jLiga commented on #2833
From my end I'm also import fastify with by name as well in TypeScript and don't face with such issues, my instance typed properly

| package | version |
|----------|---------|
| fastify    | 3.11.0  |
| typescript | 4.1.3 |

*tsconfig.json*:
[code]

[2021-02-04 10:44] mcollina commented on #2833
This is in _JavaScript_, not typescript.

[2021-02-04 11:06] L2jLiga commented on #2833
Oops, sorry then most probably related to #2829 as @leorossi mentioned

[2021-02-04 11:29] leorossi commented on #2833
@L2jLiga using a `.ts` file works as expected, but VSCode should infer correct types even in plain JS

[2021-02-04 12:00] fox1t commented on #2833
I am going to look into this ASAP. Any suggestions @leorossi ?

[2021-02-04 14:44] leorossi commented on #2833
It's unclear to me , I am not very familiar with this TS internals. I would focus on the second screenshot: fastify declaration files defines 4 overloads for the "contructor", and every one returns a `FastifyInstance`, why then it resolves to `any`?

[2021-02-04 15:14] fox1t commented on #2833
I've just tried to reproduce without success: it is working for me
<img width="1027" alt="image" src="https://user-images.githubusercontent.com/1620916/106913120-f7823300-6703-11eb-9021-a0c1c82aa0bc.png">
Can you please provide a repro repo?

[2021-02-04 15:34] climba03003 commented on #2833
Maybe it is cause by `vscode` itself, the language server sometimes broken. I cannot reproduce the same case.
![image](https://user-images.githubusercontent.com/23028015/106915869-82355300-6741-11eb-9009-b058dc8f5e86.png)

[2021-02-04 16:38] mcollina commented on #2833
@leorossi can you try updating your vscode?

[2021-02-04 17:37] leorossi commented on #2833
I can confirm that it was the language server.

Tried with a fresh directory, `npm init -y` and stuff... type was resolved correctly.

Deleted `.vscode` on the "failing" project, refreshed `node_modules` and type was resolved correctly.

[2021-02-04 17:38] #2833 closed

[2021-02-04 20:19] jonasfj commented on #2761
This might be worth reopening, I have the stack trace:
[code]

And if I disable `trustProxy: true,` option then it works fine.

[2021-02-05 05:09] Crypt0Graphic commented on #2829
This works very well. Enough for me. Thank you very much.

Because of Fastify is written in plain Javascript, I don't want to force it to use Typescript. I prefer to use the framework defaults whenever possible because I can access more resources with this. This is also important while Fastify already has a small community. It needs more input on StackOverFlow. :)

[2021-02-05 09:01] Crypt0Graphic opened #2834 "Error Message for Decorators"
I'm using the structure that came with fastify-cli (2.7.0).

I set decorators under plugins folder so as i understood there is no need manual plugin creation. Am i right? :/

When i call a plugin in app.js after plugins autoload, no problem:

![Screen Shot 2021-02-05 at 11 57 02](https://user-images.githubusercontent.com/9743846/107011844-46ce6f00-67a9-11eb-99ba-fc2198818f81.png)

But if i call it

[2021-02-05 10:33] Eomm commented on #2834
I would expect a `initPool is not a function` error. Is your server starting?

[2021-02-05 10:43] dmateiu opened #2836 "Logger option genReqId not considered"
## 🐛 Bug Report

The `genReqId` function specified within the standard Pino Logger options object is not considered, when generating identifiers for incoming requests.

## To Reproduce

[code]

This bug was fixed here https://github.com/fastify/fastify/commit/526e3a5fc243984270ab4cf22609c79c5de409ba, but got reintroduced.

## Expected behavior

According to the docs, the logger's `genReqId` functi

[2021-02-05 11:31] mcollina commented on #2834
Unfortunately JavaScript does not allow to intercept missing properties (for example, Ruby supports it).

[2021-02-05 11:31] #2834 closed

[2021-02-05 11:39] mgcrea opened #2837 "Consider using prettier for code formatting"
## 🚀 Feature Proposal

Use prettier for code formatting, add a `.prettierc` file and actively check for proper formatting on commit.

## Motivation

Currently looking into writing some unit tests and having to manually adapt the code styling to prevent eslint errors is a pain! Imo prettier is such a net positive for developer experience that it feels like a no-brainer.

Looks like you actively gua

[2021-02-05 11:49] mcollina commented on #2837
(Copied from https://github.com/fastify/fastify/pull/2269)

FYI: standard --fix does this for you. You can configure your editor to do it as well.

You probably have prettier configured as plugin in your editor to automatically lint every possible JS file it encounters. This is such a bad practice and have caused so much traffic in my repos because valid contributions completely changed the format

[2021-02-05 11:51] mcollina commented on #2837
I'm not opposing adding a prettier config that will cause _minimal_ changes to the repo (<100 lines, lesser is better). I don't think it's possible.

[2021-02-05 12:12] jsumners commented on #2837
Please see the guide to be added by https://github.com/fastify/fastify/pull/2610

[2021-02-05 12:18] mcollina commented on #2836
That type of usage in the logger was deprecated long ago: https://github.com/fastify/fastify/pull/1166/files, and then remove https://github.com/fastify/fastify/pull/1750.

This should work:

[code]

Where did you find that info about `genReqId`?

[2021-02-05 12:26] dmateiu commented on #2836
I got it from these docs https://www.fastify.io/docs/latest/Server/#logger.

[2021-02-05 12:32] mcollina commented on #2836
https://github.com/fastify/fastify/blame/master/docs/Server.md#L136 < should be removed.

[2021-02-05 12:46] dmateiu commented on #2836
Awesome. Thanks for the quick reply and fix!

[2021-02-05 13:10] Crypt0Graphic commented on #2834
Yes i got that error and server does not start.

But what would happen if decorator was not a function? A warning like "Fastify Has Not Such a Decorator" would be cleaner. Not an issue.

[2021-02-05 13:14] jsumners commented on #2834
`fastify-plugin` provides the ability to denote a plugin requires specific decorators to be present.

[2021-02-05 13:39] Crypt0Graphic commented on #2834
I have no trouble with plugins/decorators out app.js. But in app.js it's different. Another example:

![Screen Shot 2021-02-05 at 16 29 40](https://user-images.githubusercontent.com/9743846/107040019-b8211880-67cf-11eb-9cc0-cd633ff1620b.png)

`process.once('SIGTERM', fastify.closePoolAndExit()).once('SIGINT', fastify.closePoolAndExit());`

This works at startup and close connection. Normally it sh

[2021-02-05 13:53] jsumners commented on #2834
Please see the docs for `.once` -- https://nodejs.org/dist/latest-v14.x/docs/api/events.html#events_emitter_once_eventname_listener

You should supply an anonymous (lambda) function as the second parameter.

[2021-02-05 14:06] mgcrea commented on #2837
No I don't have my vscode configured to auto-prettify every js file, I agree this is a bad practice. It only ever runs if there is a prettier config file in the project (which obviously might/should be the default).

However I do have an eslint extension that runs when there is an eslint config file in the project, which is the case here and that nags me (rightfully) for not respecting the code fo

[2021-02-05 14:41] mgcrea commented on #2837
Ok back from my testing, indeed the changes were in the thousands and not in the hundreds.

Main line-diff contributing issues were:
- standard `space-before-function-paren` that is not configurable in prettier.
-  function block indentation issues that moves indentation of whole blocks.
- semicolons used inconsistently across the project (~300 lines with semicolons).

I personnaly think that pret

[2021-02-05 14:47] jsumners commented on #2837
Standard relies on automatic semi-colon insertion except for the few cases where that is not viable.

[2021-02-05 14:52] Crypt0Graphic commented on #2834
Thank you. This worked:

`process.once('SIGTERM', () => fastify.closePoolAndExit()).once('SIGINT', () => fastify.closePoolAndExit());`

[2021-02-05 14:55] jsumners commented on #2837
This would be a drastic change to many people's workflow. It also wouldn't account for the _many_ other repositories within the overall ecosystem. I do not see this as a "net benefit" for the project.

The reality is that different projects have different styles. When contributing to a project it is incumbent upon the contributor to accept that fact and conform their contributions to said style. A

[2021-02-05 15:02] #2837 closed

[2021-02-05 15:03] mcollina commented on #2837
Thanks for the discussion @mgcrea! I think you bring us so many valid points - I guess we'll stick with standard but it's good to keep talking about why.

[2021-02-05 15:33] Aex12 commented on #2446
I'm experiencing the same issue while trying to use my own AJV instance. I need to define a custom keyword in AJV, and seems like its impossible to do so.

[2021-02-05 15:50] makuzaverite commented on #2836
May I fix this one @mcollina

[2021-02-05 15:56] mcollina commented on #2836
Go for it!

[2021-02-05 17:39] mgcrea commented on #2837
I totally understand, thanks for the quick feedback and openness to discussion 👍 .

[2021-02-05 17:53] #2836 closed

[2021-02-07 17:23] arnaduga commented on #2094
Hello

I'm sorry, but I have an issue with this option: even if activated, I still have the incoming request and request completed log message.

[code]

[code]

Is there anything I'm doing not correctly?

[2021-02-07 17:32] arnaduga commented on #2094
Damn... Forget about it. I applied this setting to logger, not to server. Sorry.

[2021-02-07 20:44] bluenote10 opened #2841 "Array support in querystring validation"
## 🚀 Feature Proposal

Validating arrays in query strings either has a bug or is a missing feature.

## Motivation

Using a schema involving `type: "array"` for `querystring` currently doesn't work properly. The only solution I have found so far is to not use `type: "array"` at all in `querystring` and do a manual validation of the array items, which defeats the purpose of having a validation sche

[2021-02-08 08:00] zekth commented on #2841
Good catch. Could you send a PR for this?

[2021-02-08 16:28] bluenote10 commented on #2841
I had a quick look into it, and it looks like it is a bit tricky. The problem is that currently the extraction of the query object is based on [`querystring.parse`](https://nodejs.org/api/querystring.html#querystring_querystring_parse_str_sep_eq_options), which doesn't know anything about the schema. So its behavior simply is:
- `ids=foo&ids=bar` produces `{ ids: ["foo", "bar"] }`
- `ids=foo` prod

[2021-02-09 07:08] delvedor opened #2842 "Improve errors user experience"
Fastify has many assertions around in the codebase to make sure that the user didn't misconfigure something, for instance, it checks if a route has been declared twice or if a plugin is not a function.
This is great, we vastly reduce the possibility of weird runtime issues, but for historical reasons the errors we are emitting are everything but user friendly.

We should improve this situation, as

[2021-02-09 07:34] gajus commented on #161
Note that `webpack-dev-middleware` does not work with webpack v5.

[2021-02-09 08:51] mcollina commented on #2842
This is as much of a problem in avvio as it is fastify itself. I think the biggest problem is that we are doing these assertions in the wrong places: we should do them _synchronously_, we the user call those APIs.

I think we should also identify the most common problems and start patching them/moving the error definitions as near the end user as it's possible.

[2021-02-09 09:01] mcollina commented on #2841
Fastify allows for a custom query parser to be specified. We use Node.js core one to maximize compatibility. You should be able to write a new query string parser that knows about the schema... however you might have to adjust our internal APIs first, as I don't think we are passing the schema through that step.

---

You can also use https://www.npmjs.com/package/qs as a querystring parser that w

[2021-02-09 09:13] penx commented on #2829
A language server extension would need to know which files are deemed to be fastify plugins and then apply a type to the function argument of the export.

e.g. for a file containing:

I'm not 100% how a vscode could determine to apply the types to these function arguments, particularly without having false positives elsewhere. Perhaps a [triple slash directive](https://www.typescriptlang.org/docs/

[2021-02-09 09:34] L2jLiga commented on #2841
As workaround it's also possible to use `preValidation` hook:

[code]

[2021-02-09 09:59] mcollina commented on #2829
Exactly. I think detecting if the export function matches that signature would be a good first step.

[2021-02-09 10:08] delvedor commented on #2842
I agree, but in some cases is possible, such as the plugin type check, but in other, like the route declaration, it's not happening synchronously, so we could have false positives.

[2021-02-09 10:14] mcollina commented on #2842
We should move those checks to be synchronous.

[2021-02-09 11:01] mcollina commented on #2761
Given that `forwarded` has not been updated in the last 3 years, I do not expect an update is coming soon.

We should either

1. internalize `proxy-addr` and `forwarded` inside fastify (or this org)
2. revert the deprecation notice in light my request

Any good idea?

[2021-02-09 11:06] simoneb commented on #2829
I like this idea, what do you think of this plan:

- enhance the docs to document how to immediately enable autocompletion via jsdoc as described [above](https://github.com/fastify/fastify/issues/2829#issuecomment-773156664)
- start looking into a vs code language server extension which tries to detect if a module contains a fastify plugin and provide autocompletion. we need to figure out the heur

[2021-02-09 13:36] jsumners commented on #2761
Why would `forwarded` need to be updated?

[2021-02-09 13:55] mcollina commented on #2761
forwarded is using the deprecated (by node core) `req.connection` property. It needs to be updated, but that module has not been released in last 3 years.

[2021-02-09 14:00] jsumners commented on #2761
Well, I was going to suggest we attempt to get it solved via a PR, but I see one was created back in October and it has no response. Unfortunately, I think that answers the question: bring the modules into the org as forks.

[2021-02-09 19:48] bluenote10 commented on #2841
Yes, thanks for the input, these are good work-arounds indeed.

It should be noted that this probably also cannot support the form `ids=foo&ids=bar`, but relies on the user to give the query parser a "schema hint" via using `ids[]=foo&ids[]=bar`.

So the question becomes if the following issues need to be solved:

- Fastify's default query parser + default schema handling don't work well together.

[2021-02-10 08:26] zekth commented on #2841
I agree that adding this feature in core is adding a lot of checks on querystring parsing for a really tiny use. (of a really sketchy design)
I wonder if it's worth giving it a shot to make this work as a plugin with the kind of code @L2jLiga provided.

[2021-02-10 11:02] mcollina commented on #2841
Do you know about a query string parser for Node.js that have the implementation that you are asking for?

We are not in agreement. I would say that __Fastify does not support passing arrays as part of the query string__, some workarounds are possible but they do not look great.

[2021-02-10 13:32] bluenote10 commented on #2841
No, because they don't start with a schema. Fastify can have schemas, which makes the situation slightly different.

No disagreement ;) that is a perfectly fine conclusion as well. I was merely summarizing the small problems that this would leave, but these problems may indeed be preferable over the added complexity of entangling query parsing with validation.

Currently, the documentation suggest

[2021-02-10 13:37] zekth commented on #2841
In here is was meaning the specs of arrays is Querystrings.

[2021-02-10 13:39] mcollina opened #2847 "Timeline for ESM migration"
Do you think we should port Fastify (and plugins) to ESM? or stick to CJS as far as we can?

Most notably, Sindre recently said he will port most of his modules to ESM.

We are not in a hurry, as Fastify already loads well with ESM to the shim layer Node.js provides.

[2021-02-10 13:41] jsumners commented on #2847
What benefit does this provide? To whom? How will affect users who use CJS?

[2021-02-10 14:12] mcollina commented on #2847
It is essentially a marketing operation. Forcing people to use modern patterns will help growth.
The main technical benefit could happen when/if a dependency we use as CJS become ESM.
At that point we will be stuck on the old version until we move ourselves.

It would create some minor annoyances, as `require('fastify')` becomes `import('fastify').then( ... )`.

---

Another alternative is to _jus