[2018-06-03 08:09] lmammino commented on #722
Good point @mcollina. Let's see what happens with this new translation repo and then we can decide whether it makes sense to have an integrated localised website or not.

[2018-06-03 10:51] StarpTech commented on #722
@lmammino It's not only about localization it provides a complete package. In the current state, we will face with other problems too.

* [ ] How to version the whole website?
* [ ] Do we want to provide blog posts on our website?
* [ ] How to integrate a search?
* [ ] _How to localize in multiple languages?_
* [ ] How to ensure structure and maintainability when the website get bigger or more com

[2018-06-03 14:50] mcollina commented on #722
@StarpTech the main advantage of our current system is that it enables us to have the documentation of multiple version of our docs published at the same time. I do not see this possible with docusaurus. More importantly, I do not see how this would be possible with the website living in this repo.

[2018-06-03 16:50] StarpTech commented on #722
Could you elaborate this? Docusaurus also allows to publish multiple versions, rename versions, update versions, provide `/next/en` param to point to the current state and so on.

References:
* https://docusaurus.io/docs/en/versioning.html

[2018-06-04 13:27] vincent178 commented on #946
One more PR https://github.com/fastify/fastify/pull/960

[2018-06-05 08:13] delvedor commented on #722
@mcollina I think it is better to create a `docs` repo with all the languages inside divided per folders, in this way we will more future proof and maybe it will be easier build the website (@lmammino?).

[2018-06-05 08:15] mcollina commented on #722
@delvedor I'm -1 until the Chinese docs are done. I fear about them getting out of sync.

[2018-06-05 08:28] delvedor commented on #722
@mcollina what I meant is to create a brand new repository named `docs` or `documentation`, and inside add a folder for every language. Not inside the main Fastify repository (where we will continue to support just english docs).

[2018-06-05 15:59] jsumners opened #961 "Output validation"
Currently, route configurations sort of overload the `schema` configuration. It doubles as input *validation* and for output *serialization*. This is confusing to users expecting it to be solely for *validation* of all potential targets. Thus, when combined with the ability to supply alternate validators, e.g. Joi, we encounter a situation where the user will write an output validation that causes

[2018-06-05 21:39] allevo commented on #947
Hi!
thanks for reporting the issue.

Could you copy-paste the piece of your code? Which `fastify` and `fastify-session` versions are you using?

Please consider to report this issue to the right repository (https://github.com/SerayaEryn/fastify-session) too.

[2018-06-06 07:01] lmammino commented on #722
@mcollina I think docosaurus supports multiple versions of docs, but I haven't played with it so far so I am not sure how to achieve that and, most importantly, if it makes sense to spend our energies in switching build system right now.

Regarding how to manage multiple languages i agree with the idea of having a separate repo for now and see what happens.

For now we can just put a link (maybe a

[2018-06-07 10:06] mcollina commented on #722
The approach docosaurous is taking requires we heavily change how docs are built. We would need to go back and publish the docs _for every version_ of Fastify that we have published so far. I'm not very comfortable in doing that change right now, but we might do it in the future if wee need more of these features.

[2018-06-08 03:58] poppinlp opened #962 "[QUESTION] How can i catch an error throw from a plugin when i use inject to test it"
#### What are you trying to achieve or the steps to reproduce?

Just throw an error from a plugin and try to catch it. But seems no where got it.

[code]

#### What was the result you received?

An error throw from that plugin which dose not catched by any `catch`.

#### What did you expect?

Catch that error.

#### Context

* *node version*: 10.4.0
* *fastify version*: 1.5.0
* *os*: Mac
* *fastif

[2018-06-08 06:19] delvedor commented on #962
Fastify uses an asynchronous plugin model, since `try catch` is synchronous it won't work.
If one of your plugins needs to *throw* an error you can do it in two ways:
[code]
Then you can find the error in the next `after` block, inside `ready` or `listen`:
[code]

Checkout our [server methods](https://www.fastify.io/docs/latest/Server-Methods/) documentation!

[2018-06-08 16:19] StarpTech commented on #722
No! Please check it. In the current state, we have to download all releases and build the docs. In docosaurous there is a `versioned_docs` folder with all previous versions in markdown (Only changes are tracked in a new docs release). The migration process would be not so hard and can be automated. Therefore it allows us to keep docs much easier in sync, you don't have to make a git release for ea

[2018-06-08 16:56] mcollina commented on #722
The current approach is deliberate. We do not want any docs to be published if they are not part of a release.

I’ll check out docusaurus as soon as I can (likely not soon, what we have works).

[2018-06-08 16:59] StarpTech commented on #722
Allright, I just want to ensure that we all on the same page :)

[2018-06-08 19:08] mcollina commented on #961
Would the following be sufficient?

[code]

[2018-06-08 20:00] delvedor commented on #961
@mcollina that could be a solution, but the payload is already serialized at that point.

[2018-06-08 20:02] delvedor commented on #722
Personally I really like our current system, @lmammino did a great job and it is working perfectly, I don't see a reason to change it :)

[2018-06-08 21:44] jsumners commented on #961
How does that work with the non-JSON-schema response description on the route?

[2018-06-09 15:38] akhilshastri commented on #500
How can I map REST call to Websocket..?

[2018-06-09 15:58] mcollina commented on #500
What do you mean?

[2018-06-10 13:22] Ethan-Arrowood opened #968 "npm install causes linter to fail but yarn does not"
#### What are you trying to achieve or the steps to reproduce?

1. Clone `fastify` to local machine (or delete node_modules)
2. Run `npm install` (nodejs = 10.4.0, npm = 6.1.0)
3. Run `npm run lint` or `npm run test` or `npm run lint:typescript`
    - All three commands result in `Resolve error: unable to load resolver "node"` (see below).

[code]

_Alternatively_

1. Clone `fastify` to local mach

[2018-06-10 16:28] zhaoyao91 opened #969 "How to destroy resources initialized in plugin?"
In the great docs I know how to init a mongo connection. But where can I register a stop or destroy callback? Otherwise the test won't finish correctly since there is open tpc connection.

[2018-06-10 16:30] #969 closed

[2018-06-10 16:30] mcollina commented on #969
You should use "onClose" hook: https://github.com/fastify/fastify/blob/master/docs/Hooks.md#application-hooks.

[2018-06-10 16:32] mcollina commented on #968
Which version of npm are you using? Is this a bug about npm or yarn? It's not really clear what's the problem.

Can you add step-by-step instructions on how to reproduce?

[2018-06-10 16:47] zhaoyao91 commented on #969
@mcollina Thanks. I should have read it more carefully :)

[2018-06-10 17:06] mcollina commented on #961
My bad, we really need a way to override the default serializer.

[2018-06-10 17:08] mcollina commented on #790
Closing, it seems things are ok now.

[2018-06-10 17:08] #790 closed

[2018-06-10 17:10] mcollina commented on #848
Did we reach some conclusion here?  This issue is rather long, and I would like either a) get a PR b) close it.

[2018-06-10 17:11] mcollina commented on #848
If you all agree that we should pass the error to `notFound`, that's ok for me.

[2018-06-10 17:12] mcollina commented on #850
I think this discussion has gone its course, feel free to reopen if you think otherwise.

[2018-06-10 17:12] #850 closed

[2018-06-10 17:53] yuriy-yarosh opened #970 "Propagating HttpServer / HttpRequest / HttpResponse types"
So, I'm impl some basic TS typings for `fastify-static` in here [#66](https://github.com/fastify/fastify-static/issues/66). I've made a PR but @mcollina asked me explicitly to make fastify a development dependency. I'll have to propagate fastify.Plugin type from the `fastify-plugin` package, but it takes HttpServer / HttpRequest / HttpResponse as generic type parameters, which are not exported fro

[2018-06-10 21:00] akhilshastri commented on #500
If you see with SailsJS, a controller can be used as a REST service with HTTP or with Websocket; I am trying to implement with fastify.. Any clue on how to start ..?

[2018-06-11 00:10] Ethan-Arrowood commented on #968
Updated now @mcollina

[2018-06-11 01:50] nwoltman commented on #848
That's not my favourite approach, but that's probably better than doing nothing.

[2018-06-11 05:57] mcollina commented on #500
I think you have to combine fastify.inject (the method) with fastify-websocket, and develop a new plugin on top.

[2018-06-11 07:03] akhilshastri commented on #500
Thanks, I am very new fastify, will try this

[2018-06-11 07:16] mcollina commented on #848
@nwoltman what would be your favourite approach?

[2018-06-11 07:27] mcollina commented on #968
I can't reproduce. Might be an npm bug. Remove `package-lock.json`  if you have one, and also the `.npm` folder in your home directory.

[2018-06-11 07:32] Ethan-Arrowood commented on #968
Must've been the package-lock.json file. I'll keep this in mind going forward if I run into similar errors. Closing this now.

[2018-06-11 07:32] #968 closed

[2018-06-11 07:56] mcollina commented on #970
I do not know _why_ they are needed. I think we should re-export those and stick with the current typing scheme.

One of our typescript users might be of help here.

[2018-06-11 07:58] delvedor commented on #970
cc @evanshortiss

[2018-06-11 10:24] greenkeeper[bot] opened #971 "An in-range update of fastify-plugin is breaking the build 🚨"
## Version **1.1.0** of [fastify-plugin](https://github.com/fastify/fastify-plugin) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Ffastify-plugin-1.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>fast

[2018-06-11 20:10] nwoltman commented on #848
I would prefer for all errors passed to `reply.error()` to go to the error handler (`fastify.setErrorHandler()`). That keeps the error API consistent.

Passing 404 errors to the not-found handler helps make Fastify and `fastify-static` compatible with the `send` module, but in general the `send` module is not very compatible with Fastify and we've had to add a bunch of hacks to make it work proper

[2018-06-11 20:19] mcollina commented on #848
Basically you are proposing that all errors passed to `reply.send(err)` to got to the error handler? And we add back a `reply.notFound()` to route it to the not found handler (which is shared by the router)?

[2018-06-11 20:53] nwoltman commented on #848
Yes. So that would be #__2__ from the original issue description.

[2018-06-11 21:01] mcollina commented on #848
I'm happy to get a resolution on this issue.
I'm happy with 2 or 4 (do nothing).

[2018-06-12 00:56] nwoltman commented on #848
Option 2 be a semver-major change. What does everyone think @fastify/fastify?

[2018-06-12 07:43] delvedor commented on #848
👍 for solution **2** for the next major an **4** for the current version.

[2018-06-12 12:19] lgertel opened #976 "fastify-cli + nodemon?"
It's possible to use nodemon with fastify-cli?
[code]
It would be awesome if the server auto restarts on change, but I'm not sure how to do it :)
Thanks

[2018-06-12 12:24] delvedor commented on #976
From the [nodemon](https://github.com/remy/nodemon#usage) documentation:
[code]

It just works :)
If you want the development setup of `fastify-cli`just swap `start` and `dev` scripts.

[2018-06-12 12:24] #976 closed

[2018-06-12 14:28] lgertel commented on #976
Great! Here is the command to run without the need to swap values:

[code]

[2018-06-13 08:13] greenkeeper[bot] opened #977 "An in-range update of avvio is breaking the build 🚨"
## Version **5.5.1** of [avvio](https://github.com/mcollina/avvio) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Favvio-5.5.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>avvio</code>
    </td>
  </tr>

[2018-06-13 08:22] mcollina commented on #977
Flaky CI.

[2018-06-13 08:22] #977 closed

[2018-06-13 16:35] lgertel opened #978 "Call endpoint inside fastify."
Hello everyone. It could be a simple answer, but i'm a little lost on how to do it.
I have two files (not plugins at this moment), each one exposes one http method. How to call one endpoint inside other?

This one:
[code]
Should call this one

[code]

The idea is to call the endpoint from one to populate the other one.
Thanks!

[2018-06-13 16:39] delvedor commented on #978
You can use the [`inject`](https://github.com/fastify/fastify/blob/master/docs/Server-Methods.md#inject) API, it is suitable also for production.

[2018-06-13 16:56] lgertel commented on #978
Great!
It gets the response with the payload string.
How to use it as JSON?

Response:
[code]

I would like to access it as payload.history for example

[2018-06-13 17:09] delvedor commented on #978
`JSON.parse` 😉

[2018-06-13 17:11] #978 closed

[2018-06-14 10:10] dbauszus-glx commented on #386
I believe the question here is how to set the basepath. I am just trying to get the same done.

[2018-06-14 10:14] delvedor commented on #386
@dbauszus-glx probably what you need is [route prefixing](https://www.fastify.io/docs/latest/Routes/#route-prefixing) :)

[2018-06-14 10:49] dbauszus-glx opened #980 "Setting the basePath / _routePrefix property on a fastify instance"
I am not sure I understand the concept of basePath / _routePrefix in fastify.

Not a big problem... I currently set all route URL like so:

[code]

This works a-ok but I have a feeling that there is a better way of doing this.

Ideally I would like something where I register the basepath which then works for each and every route in the instance.

[2018-06-14 12:12] dbauszus-glx commented on #386
I did see this... But I struggle to get this working.

All the examples use the shorthand route description. I need the long form since I am using a beforeHandler for the authentication.

[code]

[2018-06-14 12:15] dbauszus-glx commented on #980
Unfortunately, not a-ok as my endpoint definitions in the client side requests won't work like this.

[2018-06-14 12:36] delvedor commented on #386
You should pass the `prefix` option to `register`:
[code]

[2018-06-14 12:38] delvedor commented on #980
As said in https://github.com/fastify/fastify/issues/386, you should pass the `prefix` option to `register`:
[code]

Internally Fastify will concatenate the prefix and the route.

[2018-06-14 14:09] #971 closed

[2018-06-14 21:01] delvedor commented on #804
This has been closed in https://github.com/fastify/fastify/pull/937

[2018-06-14 21:01] #804 closed

[2018-06-14 22:42] nwoltman commented on #936
@finefun55 Thanks for fixing up the issue description. Sorry I didn't notice you had done that (GitHub only sends notifications for new comments, not edits).

This seems reasonable to me if the OPTIONS and DELETE cases are separated (since the [HTTP 1.1 spec](https://tools.ietf.org/html/rfc7231#section-4.3.7) says that for OPTIONS requests, the Content-Type header indicates that the request includ

[2018-06-14 22:48] nwoltman commented on #713
This issue should probably stay open. It is a very reasonable feature request. It just needs someone to make a PR.

[2018-06-15 07:29] delvedor commented on #336
I think [`fastify-cli`](https://github.com/fastify/fastify-cli) generator gives some useful recommendations.

If someone wants to prepare a presentation I'll be happy to review it.

[2018-06-15 07:29] #336 closed

[2018-06-15 08:55] smartiniOnGitHub commented on #952
Hi all and sorry for the delay ... I pushed in the repo some content but it's still a work-in-progress.
Anyway is someone want to take a look, sources are at: [fastify-cloudevents](https://github.com/smartiniOnGitHub/fastify-cloudevents).
Then I want to add some more feature like serialize in JSON and in other formats with user provided functions, and basic support for sendind events somewhere.
Ad

[2018-06-15 09:17] delvedor commented on #952
Hi @smartiniOnGitHub!
Since you are already working on it there is no need to add the label `plugin suggestion`.
Actually we can close this issue since you are already working on it and once you are done you can open a pr to add it to our ecosystem, then one member of our team will review your plugin :)

[2018-06-15 09:17] #952 closed

[2018-06-16 09:37] #147 closed

[2018-06-16 12:58] jsumners commented on #629
I really don't care for this stale bot business. This issue is important and shouldn't be closed just because someone hasn't had time to get around to it. Plus, *when* will it be closed if no further activity occurs? Right now it just says "it will be closed" without any indication of the threshold.

[2018-06-16 13:00] jsumners commented on #921
Unfortunately, @israeleriston will no longer be able to work on this issue due to his untimely death. If someone would like to pick up his work in the future, that would be great. Until then, there is no reason to keep this issue open.

[2018-06-16 13:00] #921 closed

[2018-06-16 13:02] delvedor commented on #629
@jsumners 7 more days after it is marked as *stale*.
You can flag this issue with one of the tags present [here](https://github.com/fastify/fastify/blob/master/.github/stale.yml) and it won't be marked as stale anymore.

[2018-06-16 13:02] jsumners commented on #875
Again, this bot thing is too broad. This issue is being actively worked on in PR #964. There is no reason to close this issue until that PR is resolved.

[2018-06-16 13:06] jsumners commented on #848
I concur with @nwoltman in https://github.com/fastify/fastify/issues/848#issuecomment-396370631.

[2018-06-16 13:09] jsumners commented on #788
@Larry850806 we would love it if you would work on this.

[2018-06-17 02:17] #897 closed

[2018-06-18 08:59] #875 closed

[2018-06-18 18:26] lgertel opened #984 "Suggestion to challenges: ACL and AUDIT"
Hello everyone!
Right now on my application I'm thinking in ways to handle audit log and user acl. In the current version I'm using Firebase Auth + Firestore.

Anyone have some suggestion to integrate plugins or features with fastify?

Thanks!

[2018-06-19 13:36] delvedor commented on #946
@endigo in the latest version of Fastify (`v1.6.0`) you can use the [`serverFactory`](https://github.com/fastify/fastify/blob/master/docs/Factory.md#serverfactory) option. It should help you.

Closing this, please feel free to reopen if you have other questions :)

[2018-06-19 13:36] #946 closed

[2018-06-19 14:30] lgertel opened #988 "Global variable?"
Hello everyone. Simple question:

I need to create a global variable that will be changed by many services that is created.
What's the best way to deal with it using fastify?

Thanks

[2018-06-19 14:34] delvedor commented on #988
Use global variables is **never** a good idea in JavaScript, you should avoid them at any cost.

If you need a variable accessible in all your plugins (which is not *global*, but is part of the Fastify instance) you can use the `decorate` API at the root of your app.

[code]

https://www.fastify.io/docs/latest/Decorators/

[2018-06-19 16:02] #988 closed

[2018-06-19 18:27] dbauszus-glx opened #989 "Server listening on 127.0.0.1 / localhost only"
I can run fastify without fuss on my local machine but I am unable to connect to the application when I deploy to a server on which other node.js applications happily run.

I enable default logging and get one line before the server comments from the successful listen action.

{"level":30,"time":1529431933954,"msg":"Server listening at http://127.0.0.1:3000","pid":16779,"hostname":"node-xyz","v":1

[2018-06-19 18:34] dbauszus-glx commented on #989
I really should have put more attention to the note in the getting started document in this regard.

[2018-06-19 18:34] #989 closed

[2018-06-21 03:51] Larry850806 commented on #788
Ok, I will finish it soon.

[2018-06-21 21:01] #577 closed

[2018-06-22 16:29] track0x1 opened #992 "Compare performance with `polka`"
Add a performance comparison of fastify and [polka](https://github.com/lukeed/polka).

[2018-06-22 16:32] delvedor commented on #992
Hi, thank you for checking out the project!
As you can see [here](https://github.com/fastify/benchmarks) polka is already part of our benchmarks.

[2018-06-22 16:32] #992 closed

[2018-06-24 07:17] vincent178 commented on #722
Hi all,

As the translations are going on, to keep doc in sync, it would be great to at-mention @fralonra and me when there's a doc change.

The other proposal is that, we do translation when there's a big release.

When do you guys think?

Thanks

[2018-06-25 12:14] mhf-ir opened #994 "Route not match on long unicode"
:+1:
[code]
---
:cry:
[code]
---
[code]

When i use small tag it's matches seems be the problem is for long params.

#### What was the result you received?
404
#### What did you expect?
match the route and load the route method

#### Context

* *node version*: v8.11.3
* *fastify version*: ^1.6.0
* *os*: Ubuntu, Docker Container

[2018-06-25 12:22] delvedor commented on #994
I guess you are working with a dynamic routes, so the declaration should be something like `/tag/:tagId`.
If so, Fastify has a configurable maximum length of the dynamic parameters, which is 100.
You can change it with [`maxParamLength `](https://github.com/fastify/fastify/blob/master/docs/Factory.md#maxparamlength) :)

[2018-06-25 12:32] #994 closed

[2018-06-25 14:39] mhf-ir opened #995 "fastify NODE_ENV production seconds request for pug template text/html"
Everithing is ok but when i run app using NODE_ENV=production
On second request response header will be `text/html; charset=utf8`

[code]

#### What was the result you received?
First check will be ok then second response is

#### What did you expect?
Always using same header for response `text/html`

#### Context

* *node version*: v8.11.3
* *fastify version*: ^1.6.0
* *os*: Ubuntu, Docker Contai

[2018-06-25 14:54] mcollina commented on #995
Can you please provide a full example to reproduce?
Il giorno lun 25 giu 2018 alle 16:39 Muhammad Hussein Fattahizadeh <
notifications@github.com> ha scritto:

[2018-06-25 16:54] mhf-ir commented on #995
Try this coide:
[code]

[2018-06-25 20:34] delvedor commented on #995
The "problem" happens because of [this](https://github.com/fastify/point-of-view/blob/75bf6da8c3cc0e24c16017aadaa4fe34b512f46f/index.js#L86-L92).
You should not use `.header('Content-Type', 'application/xml')`, `.view` will do it for you.

[2018-06-26 07:46] mhf-ir commented on #995
so how can i have pug view with my custom header ?

[2018-06-26 07:55] #995 closed

[2018-06-26 10:10] yuriy-yarosh commented on #970
I haven't found a way to implement proper fastify TS/Flow typings.
So, It's better, for me personally, to assume that fastify will not get decent TypeScript support whatsoever...

[2018-06-26 12:54] mcollina commented on #970
@yuriy-yarosh I'm sorry to hear that you are giving up. We are doing our best to support Typescript, and we would be very happy to improve our typescript support, but very few of us are Typescript users. If you look at our CONTRIBUTING.md file, we give commit access to any individual that do valuable contributions. So, would you like to improve our types?

[2018-06-26 15:17] yuriy-yarosh commented on #970
@mcollina Thank you for your concern.
It's not that I'm giving up, it's just TypeScript typings are insufficient for some of the Fastify's API.
Although flow typings should be usable in future releases of the flowtype afaik.

[2018-06-26 15:54] lgertel opened #998 "Issue after update"
Hello everyone! My application just stopped working after update fastify!

[code]

[2018-06-26 15:56] #984 closed

[2018-06-26 16:00] delvedor commented on #998
Can you paste some more code?
Especially the one you have at `at /Users/lgertel/nomikos/plugins/mongoose.js:9:13`.

[2018-06-26 17:30] lgertel commented on #998
[code]

[2018-06-26 21:21] jsumners commented on #998
It's the `fastify.decorate('mongoose')` line. You are decorating with `undefined` which by definition will not have any properties.

Does it make sense to decorate the server with an `unrefined` value? If so, we need to patch this area of the code to verify `fn` is defined.

[2018-06-26 21:36] delvedor commented on #998
@jsumners probably a truthy check can be useful, a user can add also `null` or a boolean value.

[2018-06-27 19:10] delvedor commented on #998
Fixed in #999

[2018-06-27 19:10] #998 closed

[2018-06-28 18:05] greenkeeper[bot] opened #1004 "An in-range update of find-my-way is breaking the build 🚨"
## Version **1.14.1** of **find-my-way** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Ffind-my-way-1.14.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/delvedor/find-

[2018-06-28 18:08] mcollina commented on #1004
This is Travis not completing the build. I'm closing this.

[2018-06-28 18:08] #1004 closed

[2018-06-28 23:42] dbauszus-glx commented on #534
I am struggling to get this working.

I have an endpoint which calls a module to handle images being uploaded to the server.

[code]

Following the first example I see the data but done(data) doesn't seem to call the route.
[code]

Following the second example the route is called but the body is empty and I wouldn't know how to handle the stream.
[code]

[2018-06-29 00:46] dbauszus-glx commented on #534
This seems to work...

Just need to figure a way to set the encoding to binary.

[code]

[2018-06-29 00:56] dbauszus-glx commented on #534
Might be me doing something wrong but the only way I could create the binary buffer was like so...

[code]

The body can then be transformed to a base64 string for upload to cloudinary et al.

Might be helpful to someone coming from express like me and trying to convert their backend to fastify.

[2018-06-29 11:29] lependu commented on #713
If nobody works on it, I am happy to create a PR.

[2018-06-29 11:31] mcollina commented on #713
Go for it!
Il giorno ven 29 giu 2018 alle 13:29 Akos Kovacs <notifications@github.com>
ha scritto:

[2018-06-29 16:29] lependu opened #1006 "test/beforeHandler.test.js duplicate test case"
Hi! Just a nit:

https://github.com/fastify/fastify/blame/2f96a8033152bc4977c14cd2f5eb8a25bff75316/test/beforeHandler.test.js#L126-L153

https://github.com/fastify/fastify/blame/2f96a8033152bc4977c14cd2f5eb8a25bff75316/test/beforeHandler.test.js#L155-L182

test cases are the exact same tests with different label.
Do we need both of them?

[2018-06-29 16:40] mcollina commented on #1006
No we don't! Would you like to send a PR?

[2018-06-29 16:45] thearegee opened #1007 "Case insensitive routes?"
For a project I'm working on using Fastify, there are a collection of routing keywords.

- content
- shop
- product
...

Due to URLs that are out in the wild these could be also be requested in sentence case.

With this simple example:

[code]

I noticed the routes are case sensitive.

[code]

I was unaware of this before, I looked at [find-my-way](https://github.com/delvedor/find-my-way) but coul

[2018-06-29 16:55] mcollina commented on #1007
This has not been implemented because we did not think about this feature. How are you dealing with it right now?

Would you need this for all routes, or just a few?

I think the best approach would be to add this feature to https://github.com/delvedor/find-my-way in the form of an option that makes all paths lowercase, both during insert and lookup. Ideally this should not have a performance impa

[2018-06-29 16:55] mcollina commented on #1007
cc @delvedor

[2018-06-29 17:01] thearegee commented on #1007
So I actually just discovered this by chance in testing, so currently not handling it but thought about creating regex route as a workaround.

It would be a case of maybe 10 to 20 routes, however each of those routes has a parameter in them before the routing word.

[2018-06-29 21:31] jsumners commented on #1007
Really this should be handled at the proxy. Only non-conforming servers are case insensitive.

[2018-06-30 09:42] thearegee commented on #1007
Rightly or wrongly, this is an option in express: https://expressjs.com/en/api.html#express.router

[2018-06-30 12:40] jsumners commented on #1007
It is wrong:

   syntax equivalence rules always apply; namely, that the scheme and
   host are case-insensitive and therefore should be normalized to
   lowercase.  For example, the URI <HTTP://www.EXAMPLE.com/> is
   equivalent to <http://www.example.com/>.  The other generic syntax
   components are assumed to be case-sensitive unless specifically
   defined otherwise by the scheme

https://too

[2018-06-30 13:55] mcollina commented on #1007
@jsumners I think we should support this, but keep it disabled by default. Case insensitive routes are supported (and enabled by default) in Express: a large of developers expects this features to be available.

Here is a PR: https://github.com/delvedor/find-my-way/pull/84

[2018-06-30 14:05] mcollina opened #1010 "Create a starter project and link it in the README"
We definitely need a starter project linked from the website and the README.

It should be generated from `fastify-cli`, and have a database layer on top, with a couple of routes, maybe a login, and it should a couple of our plugins.

[2018-06-30 14:05] mcollina opened #1011 "Link to fastify-cli in the README"
As titled. We should have a quick-start using `fastify gen` as well.

[2018-06-30 15:17] jsumners commented on #1007
Okay.

[2018-06-30 17:21] rodrigooler opened #1012 "Possibility of accepting an array of routes?"
I was checking the documentation to see if it would be possible to send an array of options as shown below.

[code]

I have not found a way to do the above example in the documentation and from what I looked at in the source code currently only one correct object is supported?

Would you be able to switch to an array in the future?

[2018-06-30 18:10] jsumners commented on #1012
This feature was dropped in favor of simply iterating the source array.

`routes.forEach(r => fastify.register(r))`

[2018-06-30 19:08] rodrigooler commented on #1012
@jsumners thanks for the tip, I'll do it here in my application. I think it would be nice to have this documented would not it make sense?

[2018-06-30 20:20] jsumners commented on #1012
Sure. A PR would be most welcome.

[2018-06-30 21:22] rodrigooler commented on #1012
@jsumners I'm going to apply here and I already send a PR by modifying the .md and putting more details of it, thank you!

[2018-06-30 21:45] rodrigooler commented on #1012
@jsumners could you look at the PR and check it out please?

https://github.com/fastify/fastify/pull/1014

[2018-07-01 01:34] antux opened #1015 "Decorators are not accessible between plugin"
Hi team.

I dont know if it there a bug, but the decorators are not accessible between plugin, only if is it defined outside.

I trying shared the models, from one plugin to others, but the decoratos is undefined.

example:
[code]

Any idea, thanks.

[2018-07-01 15:15] rodrigooler commented on #1012
@jsumners thank you for clarifying the doubt.

[2018-07-01 15:15] #1012 closed

[2018-07-02 02:12] unisqu opened #1016 "Can have a section on fastify users?"
Would like to know who are the major users using fastify. Thanks. I can't seem to find the section or to add to it.

[2018-07-02 04:49] antux commented on #1015
Thanks @lependu @StarpTech, i have resolved.

[2018-07-02 04:49] #1015 closed

[2018-07-02 08:58] mcollina commented on #1016
Definitely! I would prefer this page to live on the website: https://github.com/fastify/website.

[2018-07-02 09:56] delvedor commented on #1015
Hi! I highly recommend you to read https://www.fastify.io/docs/latest/Plugins-Guide/ :)

[2018-07-02 10:39] delvedor commented on #1006
Closed in #1008

[2018-07-02 10:39] #1006 closed

[2018-07-02 10:39] delvedor commented on #713
Closed in #1005

[2018-07-02 10:39] #713 closed

[2018-07-02 15:17] dbauszus-glx commented on #386
@delvedor  thanks, that works.

I updated my example with the prefix:

[code]

[2018-07-02 15:21] dbauszus-glx commented on #980
all good. this works.

below is the updated example from original post for reference.

[code]

[2018-07-02 15:21] #980 closed

[2018-07-02 15:36] antux commented on #1015
Perfect.

Recently i found this framework y i love the combination express + hapi.

Thanks.

[2018-07-02 16:24] thearegee commented on #830
@mcollina what do you think about me adding in the url into request complete:

[code]

Adding in url (currently in incoming request)and the statsId (https://github.com/fastify/fastify-routes-stats/pull/5), so would look like this:

[code]

I feel like with `fastify-routes-stats` - this is no longer needed but thought would check incase anyone wants to be able to easier log and graph on every reque

[2018-07-02 16:31] mcollina commented on #830
Closing then!

[2018-07-02 16:31] #830 closed

[2018-07-02 17:13] dbauszus-glx opened #1018 "Where do the logs go?"
I have been trying to setup some simple logging. Initially I would be happy to just see the routes which have been requested.

Unfortunately I am yet to see any log. Coming from an express/morgan background I was expecting the logs to be written to the process STDOUT by default ({ logger:true }) but this doesn't seem to be the case.

Still stuck on the first example from the documentation. I assum

[2018-07-02 20:20] allevo opened #1019 "`printRoutes` doesn't print anything"
Hi folk!

I don't like `printRoute` API name. It suggests a "print" of the representation to stdout or a memory buffer. But `printRoute` returns a string that could be printed to stdout.

I thinks the name is misleading. Or not?

[2018-07-02 21:04] delvedor commented on #1019
I agree that it *could* be misleading, but it is a small utility used just for debugging, the effort to change the name is higher than the benefits IMHO.

[2018-07-02 21:12] mcollina commented on #1019
I think we should just remove it once we have toString() implemented.
Il giorno lun 2 lug 2018 alle 23:04 Tomas Della Vedova <
notifications@github.com> ha scritto:

[2018-07-02 22:48] jsumners commented on #1019
My argument was for `toString` from the beginning. However, this is now actually used out in the wild (I know this personally). Removing it will be a breaking change.

[2018-07-02 22:50] jsumners commented on #1018
It should be going to `stdout` when you enable the logger. You should not have to specify `stream: stream` in the options.

[2018-07-02 23:05] mcollina commented on #1019
I totally agree. I think we should deprecate this in 2.0.0, and then remove in 3.0.0. Or just remove in 2.0.0.

[2018-07-03 07:31] delvedor commented on #1019
I agree to remove it in 2.0.0.

[2018-07-03 09:55] dbauszus-glx commented on #1018
Ok... I just run a quick test in my terminal and see the logs. Same example run in VS Code no output to the terminal. This is odd. Doesn't the pino logger use process.stdout.write like console.log or the Morgan logger? These do appear in the Visual Studio Code terminal.

[2018-07-03 10:00] mcollina commented on #1018
it uses the same `process.stdout.write` as all the others.

[2018-07-03 10:04] dbauszus-glx commented on #1018
Aha... It's a Visual Studio Code issue. Fortunately somebody found a workaround for this just yesterday and posted in the pino issue log. Let me change the title of this post and close issue.

https://github.com/pinojs/pino/issues/441

[2018-07-03 10:04] #1018 closed

[2018-07-03 11:40] #1007 closed

[2018-07-03 22:08] vincent178 commented on #722
@fastify/docs-chinese has completed, would it be ok to add a link in @fastify/fastify navigate to @fastify/docs-chinese ?

[2018-07-04 07:38] mcollina commented on #722
definitely. Send a PR. I'd also recommend an edit to https://www.fastify.io/!

[2018-07-05 06:37] cabrinoob opened #1022 "Strange behavior at first call and after 5s"
#### Context

* *node version*: 10.0.0
* *fastify version*: ^1.6.0

Hi,

I'am using fastify through a small nestjs project. I have a single GET REST method.

Using Fastify, the first call takes 500ms at minimum and if I continue calling the same method, the response time falls arround 4ms.

BUT, if I wait 5 seconds between 2 calls, the second call replies after 500ms again.

I do not see this prob

[2018-07-05 06:40] mcollina commented on #1022
Can you please include a snippet to reproduce your problem?

[2018-07-05 08:17] mcollina commented on #722
I think this is done. 🎉

[2018-07-05 08:17] #722 closed

[2018-07-05 11:34] astesio commented on #1011
Now, this issue can be closed.

[2018-07-05 11:56] #1011 closed

[2018-07-05 12:11] astesio commented on #1010
What do you think to generate a new project with fastify-cli and using the [couchbase](https://www.couchbase.com/) and JWT ?

[2018-07-05 12:22] mcollina commented on #1010
That'd be cool, yes! You can use https://github.com/nigelhanlon/fastify-couchdb.

[2018-07-05 14:39] yamalight opened #1023 "Fastify never responds to POST with body when proxied with node-http-proxy"
#### What are you trying to achieve or the steps to reproduce?

I'm trying to proxy a fastify service with node-http-proxy, here's the simple case that reproduces the behaviour:

[code]

[code]

You can find a running example [here on glitch](glitch.com/edit/#!/fastify-http-proxy-body-issue).

#### What was the result you received?

Normal GET and empty POST requests work as expected, i.e.:

[code

[2018-07-05 14:46] mcollina commented on #1023
I would recommend you to use https://github.com/fastify/fastify-http-proxy instead.
node-http-proxy is very low level and tied to Node.js http req/res object and state management.

[2018-07-05 15:03] yamalight commented on #1023
@mcollina ah, thanks! somehow missed it.

Just tried it - seems to work for basic example, but fails when I try to use `/api/thing` as prefix, e.g. this results in 404:
[code]

I've also tried to use set it inside a plugin with a prefix, like so:
[code]
Which also results in 404.

Is that something that's possible to do with it?

[2018-07-05 15:14] mcollina commented on #1023
Can you please open a bug there with a full example?

[2018-07-05 15:16] yamalight commented on #1023
@mcollina sure, will do in a minute. thanks for help!

[2018-07-05 18:03] #1023 closed

[2018-07-06 10:36] TheNoim opened #1025 "Expose default not found handler"
Hi,

At the moment it is already possible to set a new notFound Handler. But sometimes when I use it, I set the notFound handler just to handle some cases. It would be great if there is the possibility to use the default NotFoundHandler again. The same for the error handler.

[code]

[2018-07-06 10:41] delvedor commented on #1025
Once you use `setNotFoundHandler` you are overriding the default one.
A solution could be decorate the reply object and use that decorator:
[code]
Otherwise you can use [`fastify-sensible`](https://github.com/fastify/fastify-sensible) which adds the `notFound` decorator (and many more!) for you :)

[2018-07-06 16:18] TheNoim commented on #1025
Thanks, didn't know this plugin

[2018-07-06 16:18] #1025 closed

[2018-07-09 01:37] ccython opened #1028 "Hosting an Angular 6 App with fastify"
#### You have already researched for similiar issues?

Yes i have, haven't found any helpful resources.

#### Are you sure this is an issue with the fastify or are you just looking for some help?

This is an approach not documented with fastify or a usecase that i haven't seen yet, so it's
a bit of both?

#### Is this a security related issue?

No.

#### What are you trying to achieve or the steps

[2018-07-09 01:53] ccython commented on #1028
Fixed this myself, sorry.
the order of route declarations had to go like this:
* `/admin/`
* `/admin/*`
* `/admin/:filename`

Its now working flawlessly.

[2018-07-09 04:47] zhaoyao91 opened #1029 "Duplicate req id in incoming request log"
The default logger output request id twice in the "incoming request" log record. As the request id may be not so short, this is a waste of log size.

A sample log is below, where the req id is generated by `nanoid` module.

[code]

I think the `req.id` field could be removed to retain the `reqId` field to keep accorded with "request completed" log.

#### Context

* *node version*: 10
* *fastify ve

[2018-07-09 05:34] PratapDessai commented on #709
Could you update this in doc. It's definitely a miss or else make it default

You should change:

.listen(process.env.PORT)
to

.listen(process.env.PORT, '0.0.0.0')

[2018-07-09 09:31] mcollina commented on #1028
@delvedor is this working as expected, or is this a bug in find-my-way? Should parametric routes be higher priority than the wildcards?

[2018-07-09 09:39] mcollina commented on #1029
I think we can drop the `req.id` property in the serializer (https://github.com/fastify/fastify/blob/master/lib/logger.js#L43). Would you like to send a PR?

[2018-07-11 06:53] zhaoyao91 opened #1035 "Req id should not be a feature of logging"
I noticed that the req id generator is set in logging options, this is a strange design, since we could get req.id in route handlers, and the req.id feature does not rely on logging.

#### Context

* *fastify version*: >=1.7.0

[2018-07-12 11:01] delvedor commented on #1028
The current order of execution is:
[code]

We can change it and put wildcard as very last, it is not a breaking change IMHO.

[2018-07-12 12:22] mcollina commented on #1028
@delvedor I think we should fix this in find-my-way.

[2018-07-12 19:48] triadium commented on #1028
but is multi parametric less specific? Maybe better this order:
static
parametric
multi parametric
parametric with regex
wildcard

[2018-07-12 23:51] eljefedelrodeodeljefe commented on #1035
I agree. Also, this results in bulkiness, when I want to override it. I know it's a performance decision not to use uuids. But reality is that logs without uuids in distributed system are very ops time expensive.

[2018-07-13 07:57] zhaoyao91 commented on #1035
@delvedor Sorry about this. To solve this problem, it seems we should have some high-level and global consideration, design and refactoring. As I am not a deep developer of this project and have other works to do, it would be hard to submit a PR.

[2018-07-13 08:52] delvedor commented on #1035
Actually I would prefer to stick with the current solution, and give the user the free choice about which strategy to use.

[2018-07-13 08:54] delvedor commented on #1029
Closed in #1032.
This feature will land in the next major release of the framework :)

[2018-07-13 08:54] #1029 closed

[2018-07-13 08:54] delvedor commented on #1022
Closing due to inactivity, feel free to reopen!

[2018-07-13 09:51] cabrinoob commented on #1022
Ok, I don't know how to reopen it, so I post here :

[code]

I just start this basic doc sample on my local computer (Windows 10, nodeJS v10.0.0)

Then I simply open postman and call `http://localhost:3000`

The very first call takes 500+ ms
Immediates next calls take 2ms

And then, if you wait 5 seconds, the next call takes 500+ ms (as if it was the first one)

[2018-07-13 10:02] delvedor commented on #1022
I'm not able to reproduce this under macOS. @StarpTech can you try this?

[2018-07-13 10:04] cabrinoob commented on #1022
I've tried on another teammate computer, also on windows10 but under nodeJS v8.x and he has the same behavior (with fiddler4 client).

[2018-07-13 11:30] mcollina commented on #1022
I cannot reproduce this on Windows either. Might it be some antivirus/firewall? It might also be a client issue, have you tried with postman?

We disconnect keepalive connections after 5s.

[2018-07-13 12:10] cabrinoob commented on #1022
I have the same behavior with fiddler4 and postman. I also disabled my firewall. Still the same behavior.

So it seems to be the 5s timeout on keep-alive connections that is the cause of this problem?

[2018-07-13 12:56] mcollina commented on #1022
@cabrinoob do you experience the same thing with Chrome? Can you check with Node 10.6.0 if it has the same issue? We inherit that behavior from Node.js core, see https://nodejs.org/api/http.html#http_server_keepalivetimeout.

Does Node 8 has the same problem?

[2018-07-13 13:13] cabrinoob commented on #1022
@mcollina : I do not experience exactly the same behavior with Chrome. If I wait 6 or 7 seconds between 2 calls, it responds fast (about 20ms in the console). But if I wait more than 10s it responds in 300+ ms.

So, with chrome I do not exactly see the same thing.

After that, I tried with nodejs 10.6.0 and I did not see any change : same behavior with fiddler4/postman than before, and same behavi

[2018-07-13 13:13] mancioshell commented on #894
This problem has been solved in 1.8.0 ?

[2018-07-13 13:14] mcollina commented on #1022
Does Node 8 has the same issue?

[2018-07-13 17:02] delvedor commented on #894
@mancioshell yes, but we are updating the solution in https://github.com/fastify/fastify/pull/1027.

[2018-07-15 14:52] SkeLLLa opened #1042 "Querystring schema shorthand breaks usage of"
Querysting schema shorthand applies always when `properties` property isn't set directly.

#### What are you trying to achieve or the steps to reproduce?

[code]

#### What was the result you received?

[code]

#### What did you expect?

Schema `'mySchemaFilter#'` successfully applied to querystring

#### Context

* *node version*: 9
* *fastify version*: 1.8.0

[2018-07-15 15:39] mcollina commented on #1042
Is allOf supported by ajv itself? Have you tried specifying a single schema
defined in the route (non inheritance)?

Can you please include a full example and sample requests (ideally using
fastify.inject) to test?
Il giorno dom 15 lug 2018 alle 15:52 Alexander Kureniov <
notifications@github.com> ha scritto:

[2018-07-15 16:08] SkeLLLa commented on #1042
@mcollina Ajv supports `allOf`. However actually `allOf` support in fastify is done in https://github.com/fastify/fast-json-stringify/blob/4aaaff670f4437cdf8070370ad1363105b4490e0/index.js#L469.

I don't think that example requests will help, because an application will not start with such schemas and will crash with error described above.

So the main problem I think is if `properties` prop missi

[2018-07-15 16:31] SkeLLLa opened #1043 "Schema with key or id already exists"
Related issue #922. @delvedor.

I don't know if it's a bug. Or may be it's just a limitation of schemas.
Seems the root cause is quiet similar. If there are 2 or more schemas that depend on each other are defined using `allOf`, e.g.:
[code]

then if `first` schema will be used after `second` fastify will throw exception:
[code]
If schema "usages" will go in sequential order, then app will start wi

[2018-07-15 16:55] mcollina commented on #1042
Can you please include a full stacktrace then? It was not clear from the
original description.
Il giorno dom 15 lug 2018 alle 17:08 Alexander Kureniov <
notifications@github.com> ha scritto:

[2018-07-15 16:56] mcollina commented on #1043
Can you please include a full stacktrace? Would you like to try sending a
Pull Request to fix this?
Il giorno dom 15 lug 2018 alle 17:31 Alexander Kureniov <
notifications@github.com> ha scritto:

[2018-07-15 17:17] SkeLLLa commented on #1042
[code]

[2018-07-15 17:20] SkeLLLa commented on #1043
[code]

I think, let's wait for @delvedor and hear what he thinks about this, because he's already fixed very similar issue. Probably he'll have some good ideas about the way of fixing this.

[2018-07-15 20:02] Zaseth opened #1044 "Enable trust proxy?"
Hello.

How can I enable trust proxy to get the ip with x-forwarded-for like in Express.js?

[2018-07-15 21:46] mcollina commented on #1044
Can you please explain this with a bit more detail? What code are you trying to port?

[2018-07-15 21:51] Zaseth commented on #1044
I'm not trying to port something. Express has a function to enable trust proxy and with that I can get the person's ip address using req.ip. Is this possible in fastify?

[2018-07-15 23:40] mcollina commented on #1044
No it does not. It should be trivial to add.

[2018-07-16 09:09] Zaseth commented on #1044
I do want to say that when enabling trust proxy without running the app behind a proxy like nginx, the header x-forwarded-for can be spoofed. Express disables trust proxy by default.

[2018-07-16 09:18] mcollina commented on #1044
@Zaseth definitely. I think we should add a `trustProxy` option to fastify and use https://www.npmjs.com/package/proxy-addr in a similar way to how express uses it.

Some pointers: https://github.com/expressjs/express/blob/b97faff6e2aa4d34d79485fe4331cb0eec13ad57/lib/request.js#L292-L324 https://github.com/expressjs/express/blob/c0136d8b48dd3526c58b2ad8666fb4b12b55116c/lib/utils.js#L212-L239

[2018-07-16 11:21] SkeLLLa opened #1045 "Response filtering not working properly with schemas using allOf"
Response filter doesn't respect fields that are set through schemas using `allOf` when there is 3 or more interherence levels. Possibly related issue: #922

Steps to reproduce:
1. Code:
[code]

2. Send request:
[code]

**Expected result**:
Returns object:
[code]

**Actual result**:
[code]

* *node version*: 9
* *fastify version*: 1.8.0

[2018-07-16 11:30] mcollina commented on #1045
this looks like a bug between fastify and fast-json-stringify. Would you like to send a PR with a fix?

[2018-07-16 11:31] mcollina commented on #1042
Would you like to send a PR with the fix?

[2018-07-16 11:31] mcollina commented on #1043
Would you like to send a PR with the fix?

[2018-07-16 11:47] SkeLLLa commented on #1043
@mcollina now I'm working on fastify-swagger adding support for OAS-3. So for now I don't have enough time.

[2018-07-16 11:50] Zaseth commented on #1044
This could be a very useful feature. There should be a note for the proper configuration for the nginx config when using this feature, but I assume that you already know about this.

[2018-07-16 11:50] SkeLLLa commented on #1045
@mcollina Yes, it's seems that bug is in fast-json-stringify and probably caused by https://github.com/fastify/fast-json-stringify/pull/94 or at least related to it.

However now I'm working on fastify-swagger adding OAS-3 support, so I don't have enough time for now investigating and fixing this issue. Probably later, if noone will take this.

[2018-07-16 12:30] delvedor commented on #1045
Could also be a bug caused by how we traverse the schemas while resolving the refs.
https://github.com/fastify/fastify/blob/master/lib/schemas.js

[2018-07-17 04:31] justintime4tea commented on #1022
I am experiencing this as well with node 8 (my own project, similar scope):

node v8.9.0
Windows 10 both on WSL and native.

Going to test later under Linux because as long as it doesn't happen there it's a moot point for me.

[2018-07-17 07:42] mcollina commented on #1022
Does this happens with https://github.com/fastify/benchmarks/blob/master/benchmarks/bare.js?

I cannot reproduce this at all.

[2018-07-17 08:32] cabrinoob commented on #1022
@mcollina : using `bare.js` I cannot see the problem. I have some fluctuations between 2ms and 20ms, but nothing compared to the gap 2ms - 500ms observed with fastify.

[2018-07-17 08:39] mcollina commented on #1022
Unfortunately I cannot reproduce on Windows, Linux or Mac OS X. It seems very much system dependent.

I'll be happy to review a PR that fixes this problem (if it's a problem with fastify).

[2018-07-17 10:03] mcollina commented on #1016
Closed for https://github.com/fastify/website/issues/73.

[2018-07-17 10:03] #1016 closed

[2018-07-18 14:51] justintime4tea commented on #1022
I cam reproduce this issue with the minimal fastify example posted here by @cabrinoob but the issue is not reproducible by the bare.js posted by mcollina. This is the case whether I'm using WSL or Windows (have not tested under Linux, doing this next)

[2018-07-18 14:53] delvedor commented on #1022
Can you reproduce it with https://github.com/fastify/benchmarks/blob/master/benchmarks/fastify.js?
(no async await)

[2018-07-18 14:56] cabrinoob commented on #1022
@delvedor : Yes, I reproduce the 500ms lag with your code.

[2018-07-18 15:03] StarpTech commented on #1022
@delvedor I will try to reproduce it tonight and report.

[2018-07-18 15:34] mcollina commented on #1022
I can reproduce the problem. If I open `http://localhost:3000` I get the delay. If I open `http://127.0.0.1:3000` I do not get the delay.

@justintime4tea @cabrinoob

Moreover I can reproduce it with plain core:

[code]

Then opening `http://localhost:3000` will have the delay.

It seems that _just_ adding that 2nd property in `.listen()` slows down Windows for some reason.
This looks like a bug o

[2018-07-18 15:41] justintime4tea commented on #1022
@mcollina You are awesome! Thank you so much for the feedback on this! We're using Linux in production so it's good to know we won't be seeing this in production. Good ol' Winderz >_<

[2018-07-18 16:36] #970 closed

[2018-07-19 06:32] cabrinoob commented on #1022
Ok, great!
For the fun, I've just tested with `server.listen(3000)` (without forcing the 127.0.0.1) and make requests with postman on 127.0.0.1 and it works like a charm.

switching on localhost brings up the problem.

[2018-07-19 07:39] mcollina commented on #1022
Confirmed it's a WIndows problem. The following does not cause the slowdown:

[code]

This is happening because you have IPv6 enabled on your machine, and `localhost` is first resolving to `::1` (`localhost` in IPv6), and _then_ to `127.0.0.1`. On Mac OS X, `localhost` resolves to `127.0.0.1`. I assume this is the same for Linux.

As for solving this bug, I see two possible ways:

1. lookup what `

[2018-07-19 07:47] mcollina commented on #1022
The 1. approach is implemented in https://github.com/fastify/fastify/pull/1047.

[2018-07-19 12:32] vincent178 opened #1048 "fastify-formbody don't respect fastify global bodyLimit options"
[code]

with this simple code, the fastify-formbody still use 1MiB as the default bodyLimit

### Expected behavior
unless we specify the bodyLimit on plugin level, the fastify-formbody should use global bodyLimit which is `1024 * 1024 * 1024` here.
If we specify the bodyLimit on plugin level, the plugin should use its own bodyLimit
[code]

I think this is a bug for fastify-formbody, what do you gu

[2018-07-19 12:39] delvedor commented on #1048
Yes, it is a bug in `fastify-formbody`, would you mind to open a pr there?

[2018-07-19 12:45] vincent178 commented on #1048
@delvedor https://github.com/fastify/fastify-formbody/pull/18

[2018-07-19 22:57] vincent178 commented on #1048
Thank you guys for the fast response, problem solved in https://github.com/fastify/fastify-formbody/releases/tag/v2.0.1, I'm going to close this issue.

[2018-07-19 22:57] #1048 closed

[2018-07-19 23:15] jsumners commented on #1022
As I say in #1047, I think the solution is:

3. Add a note to the documentation explaining that "localhost" usually references multiple addresses which can cause name resolution delays. Fastify explicitly binds to `127.0.0.1`. Thus, to avoid name resolution delays, requests should be made to `http://127.0.0.1...` instead of `http://localhost...`.

[2018-07-20 10:54] #1022 closed

[2018-07-21 10:32] Zaseth opened #1049 "Redirecting POST turns it into GET"
Hello.

I have a very weird problem and I tried a few things before filling in this issue. I want to redirect a POST request, PChat.ASP to PChat.php, but Fastify seems to turn it into a GET request. PChat.ASP contains POST data that I want to retrieve, obviously.
Better explained:

/PChat.ASP(POST - 302 FOUND) => /PChat.php(GET - 404 NOT FOUND)

The route for PChat.php is very simple and looks lik

[2018-07-21 17:53] mcollina commented on #1049
You can pass an status code to redirect. However, there is a bug in the redirect code, if a status code is set it shouldn’t overwrite it. Would you like to send a PR?

[2018-07-21 18:39] Zaseth commented on #1049
I have no idea how to fix the bug with the redirect code myself.

[2018-07-22 16:42] delvedor commented on #1045
Given your schemas, our internal refs resolver builds the following object:
[code]

It is not related to https://github.com/fastify/fast-json-stringify/pull/94 since we are always passing to `fast-json-stringify`a full object.
Does the above object looks good to you? If so, then the issue is in `fast-json-stringify` and should be fixed there.

[2018-07-22 16:50] delvedor commented on #1043
Confirmed, I'm working on this.

[2018-07-23 11:18] delvedor commented on #1045
Feel free to send a pr!

Regarding the massive use of `allOf` I don't know if in this case `fast-json-stringify` is still faster than `JSON.stringify`. @mcollina what do you think?

[2018-07-23 12:35] #1043 closed

[2018-07-23 12:36] delvedor commented on #1042
Closed in #1050

[2018-07-23 12:36] #1042 closed

[2018-07-23 12:36] delvedor commented on #936
Closed in #1027

[2018-07-23 12:36] #936 closed

[2018-07-23 13:29] SkeLLLa commented on #1045
If using `allOf` will result in performance degradation probably it's better just to add that note to the docs and recommend users to use alternative approach like defining schemas in js objects, and if they to create a new schema from existing then just do `Object.assign` and pass new object to `addSchema` method.

[2018-07-23 13:32] mcollina commented on #1045
We would need to write a benchmark for it. We never did. @SkeLLLa would you like to contribute one to https://github.com/fastify/fast-json-stringify?

[2018-07-23 13:36] delvedor commented on #1045
@SkeLLLa we should write a benchmark, I fear that a massive use (many nested *allOf*) **could** not be that fast.

Actually the use of *allOf* is not needed given how `fast-json-stringify` works, because if a key is declared in the schema and that key is not present in the object to serialize, it will not be present in the final string :)

[2018-07-23 14:17] ShraddheyaS commented on #1049
Hey, I would like to take this up. I believe [this function](https://github.com/fastify/fastify/blob/fd8fb5e55aa7d20e48892a426a49fcb575d6cec6/lib/reply.js#L144) needs to be changed so that if `code` is already set, then don't override `code` with 302.

[2018-07-23 14:19] mcollina commented on #1049
Yes exactly! Go for it!

[2018-07-23 14:57] ShraddheyaS commented on #1049
I think that the test for `reply` will also have to be edited. Specifically, [this](https://github.com/fastify/fastify/blob/36960965710756148cd86bc040d2c6f25ee4d04d/test/internals/reply.test.js#L195) and [this](https://github.com/fastify/fastify/blob/36960965710756148cd86bc040d2c6f25ee4d04d/test/internals/reply.test.js#L214).
Can you tell me what should be done to fix them?

[2018-07-23 15:00] mcollina commented on #1049
https://github.com/fastify/fastify/blob/36960965710756148cd86bc040d2c6f25ee4d04d/test/internals/reply.test.js#L195 should ideally stay the same.

https://github.com/fastify/fastify/blob/36960965710756148cd86bc040d2c6f25ee4d04d/test/internals/reply.test.js#L214 would need to be amended.

[2018-07-23 15:31] ShraddheyaS commented on #1049
The problem seems to be that the variable `this.res.statusCode` is always set (to 200) inside the function `redirect`. I can't seem to understand why. Also, in which case, what should be done to fix this?

[2018-07-23 15:32] delvedor commented on #1049
I think because `200` is the default value of the Node's core `statusCode`.

[2018-07-23 15:33] mcollina commented on #1049
IMHO We should track if https://github.com/fastify/fastify/blob/master/lib/reply.js#L123-L126 has been called.

[2018-07-23 15:34] delvedor commented on #1049
@mcollina or handle the `statusCode` in the same way we are handling the headers.

[2018-07-23 15:39] ShraddheyaS commented on #1049
@delvedor - How are you handling the headers?

Also, how feasible it is to change the prototype of the function `redirect` so that it used the already set `statusCode` and takes *only* one argument, i.e. the URL.
This will mean that the call to `redirect` will need to be after a call to `code`.

[2018-07-23 15:42] delvedor commented on #1049
We are storing them inside an object:
https://github.com/fastify/fastify/blob/36960965710756148cd86bc040d2c6f25ee4d04d/lib/reply.js#L90 and we send them with `writeHead`.
https://github.com/fastify/fastify/blob/36960965710756148cd86bc040d2c6f25ee4d04d/lib/reply.js#L188

You can do the same.

This will mean that the call to redirect will need to be after a call to code.

Unfortunately this will int

[2018-07-23 15:52] Zaseth commented on #1049
I have created a GIST to demonstrate the bug. https://gist.github.com/Zaseth/b52d119297980b36d6f751b2dea4f3b9

[2018-07-23 16:23] ShraddheyaS commented on #1049
I've put in a PR #1051 resolving this. I wasn't sure on how to include the testing and benchmarking results.

[2018-07-24 07:31] SkeLLLa commented on #1045
Yes. I'll submit PR.

[2018-07-24 13:16] delvedor commented on #1049
Closed in https://github.com/fastify/fastify/pull/1051.

[2018-07-24 13:16] #1049 closed

[2018-07-24 13:17] delvedor commented on #764
Closed in https://github.com/fastify/fastify/pull/915.

[2018-07-24 13:17] #764 closed

[2018-07-25 15:02] Zaseth opened #1052 "Redirect doesn't work for .swf files"
Hello.

I want to redirect `/join/join.swf` to `/register.html`. The file `Chat.swf` contains a button to load `/join/join.swf`, but when I want to redirect that, nothing happens!

GIF here: (click to enlarge)

![2018-07-25_16-59-35](https://user-images.githubusercontent.com/24899039/43209146-3de5ad88-902c-11e8-9a21-41a29bd5da1e.gif)

You can see in the network tab that I am getting redirected, bu

[2018-07-25 15:03] delvedor commented on #1052
Can you share some code?

[2018-07-25 21:21] #1045 closed

[2018-07-26 23:04] roozg opened #1056 "Validation Error response has the wrong 'Content-Type'"
I'm making a simple POST request using Postman. My request header has both 'Content-Type' and 'Accept' set to 'application/json' but if the validation fails the response comes in the form of plain text with Content-Type 'text/plain; charset=utf-8'.

I expected it to be a JSON response. Is this the expected behavior? If so how do I make it return a JSON response?

I'm not using any special plugins

[2018-07-27 07:45] StarpTech commented on #1056
Hi @roozg could you post a reproducible example?

[2018-07-27 07:54] StarpTech commented on #1056
I can't reproduce it. Here is my postman collection:
[Fastify.postman_collection.zip](https://github.com/fastify/fastify/files/2234971/Fastify.postman_collection.zip)

Example:

[code]

[2018-07-27 09:57] roozg commented on #1056
@StarpTech Thank you for the quick reply. I've tried again with a fresh Node project with only Fastify installed and no Typescipt and it is working as expected. So it's going wrong somewhere in my main project and I need to figure out where.

[2018-07-27 09:57] #1056 closed

[2018-07-27 10:13] allevo opened #1057 "Rename `Server method` documentation"
The `Server method` documentation doesn't describe only "methods"

https://github.com/fastify/fastify/blob/92f474ea8c981bca64f46427383ed56d50d40998/docs/Server-Methods.md#basepath
https://github.com/fastify/fastify/blob/92f474ea8c981bca64f46427383ed56d50d40998/docs/Server-Methods.md#log

Which name could fit better?

[2018-07-27 13:20] #1010 closed

[2018-07-27 13:44] mcollina commented on #1057
Server? And we merge it with Factory?

[2018-07-28 10:45] #1052 closed

[2018-07-30 09:28] sarneeh opened #1058 "JSON Schema definitions"
#### What are you trying to achieve or the steps to reproduce?

I'd like to use JSON Schema `definitions` for my fastify endpoints validation and serialization. After reading the [docs](https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md) I'm not sure if fastify supports completely the JSON Schema format or not. The docs recommend it, but it doesn't work as I'd expe

[2018-07-30 10:10] delvedor commented on #1058
Hi! Thank you for checking out Fastify!
For the incoming request validation, we do support full JSON schema specification thanks to [ajv](https://github.com/epoberezkin/ajv), while for the `response` part we do not, since we are using the JSON schema to improve the performances of the serialization (see [fast-json-stringify](https://github.com/fastify/fast-json-stringify)).

Because of this, the J

[2018-07-30 14:07] lgertel opened #1059 "Logging: Passing object"
Hello everyone!
I know that with pino is possible to pass a full object to the log.info but seems that this doesn't work as default for fastify.

I would like to use something like:
[code]

This command print out undefined but the object has a lot of information.
Thanks!

[2018-07-30 14:23] sarneeh commented on #1058
@delvedor Hmm... It's a pity that this API is not encapsulated. I love the `fastify` plugin system and this would be cool if this would be encapsulated also. Although it's not something critical to have 😄 I'll check out the API, thanks for the fast reply! 😄

[2018-07-30 14:29] delvedor commented on #1058
Before talking about the PR, do we want to support encapsulated schemas?

[2018-07-30 14:32] mcollina commented on #1059
I'm not getting `undefined` just by testing this quickly. Would you mind adding a full example to reproduce?

[2018-07-30 14:45] lgertel commented on #1059
Got it working this way:

[code]
Maybe because it's inside onRequest?

And one point: i'm using pino-elasticsearch on a docker container.
My app is starting with the command fastify start -l info app.js | pino-elasticsearch

[2018-07-30 16:30] allevo commented on #1059
Hi!
Thank you for checking out Fastify!

According with the documentation (https://www.fastify.io/docs/latest/Hooks/) the `onRequest` hook receives `req` and `res` (and `next`) parameters that are instances of `IncomingMessage` and `ServerResponse`. That properties aren't set in that instances.

Instead, if you register your handler on `preHandler` hook, the first two parameters are instance of `f

[2018-07-30 17:31] greenkeeper[bot] opened #1060 "An in-range update of http-errors is breaking the build 🚨"
## Version **1.7.0** of **http-errors** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Fhttp-errors-1.7.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/jshttp/http-erro

[2018-07-30 17:32] dougwilson commented on #1060
Looks like the error was just that the build stalled during `npm install`.

[2018-07-30 18:29] mcollina commented on #1060
Thanks @dougwilson for checking this out!

[2018-07-30 18:29] #1060 closed

[2018-07-31 16:23] lgertel opened #1061 ".inject() with Bearer Authentication"
Hello everyone!
I'm developing a big application and inside of it we have a lot of .inject methods to call specific functions.

Now we have implemented Authentication and my requests need to deal with Bearer Tokens.
How to pass it with inject?

Currently my method is:
[code]

My authentication middleware handle requests this way:
[code]

Anyone can help me?
Thanks

[2018-07-31 16:45] lependu commented on #1061
Hi!
What about passing `headers` object with inject?.
[code]

[2018-07-31 17:14] delvedor commented on #1061
Hi! 👍  for the @lependu 's answer.
For the future, if you have questions that are not issues or feature request I would suggest you use our [help](https://github.com/fastify/help) repo! :)

[2018-07-31 17:14] #1061 closed

[2018-07-31 18:15] armandopadilla commented on #704
just want to revisit this. Another use case to expose the function. This is also affecting running fastify on AWS lambda using aws-serverless-express.  require('fastify')() ,  returns an object yet the library is looking for a function.

[2018-07-31 18:58] mcollina commented on #704
Can you open up a new issue? I’m happy to revist, but we should really track this  as a new bug/feature.

[2018-08-01 03:05] mcollina commented on #704
I think we need to add a section to our document on how to run on lambda.
Il giorno mar 31 lug 2018 alle 19:19 Nathan Woltman <
notifications@github.com> ha scritto:

[2018-08-01 14:51] #1059 closed

[2018-08-03 21:00] #1028 closed

[2018-08-05 11:36] guyisra opened #1064 "http2 expectations"
how does fastify expects the entire system to behave when working in http2?

fastify support http2 and fallback to http1 but only when using https

I don't really want node to handle https, but rather some other dedicated proxy to do it, but then - what is expected of me? To create a self signed certificate and allow it in the proxy? or use h2c (http2 over plaintext) between node and proxy, but th

[2018-08-05 16:36] mcollina commented on #1064
All of these are very interesting questions, and we don’t have many answers for them yet. From an API perspective, we added http2 because we could. The heavy lifting is done by Node core, and not within fastify. Node core http2 support is experimental, and so is fastify’s.

[2018-08-05 16:58] guyisra commented on #1064
alright, not having an answer is also an answer :)

thanks 👍

[2018-08-05 16:58] #1064 closed

[2018-08-07 13:47] sarneeh opened #1068 "Decorating raw request object"
#### What are you trying to achieve?

I'm using `fastify` with [next.js](https://github.com/zeit/next.js). `Next` has a functionality to use Node `request` object in the `React` component to generate initial props, like this:

[code]

What I'd like to achieve is to decorate the request with user data. Unfortunately, `fastify` has only API to decorate `fastify` `Request` and `Reply` objects - and I

[2018-08-07 13:51] mcollina commented on #1068
how are you wiring things up with next.js? Can you provide a full example so that we can take a look?

[2018-08-07 14:00] sarneeh commented on #1068
So I've created a helper plugin to decorate Fastify `Reply` object with Next [render](https://github.com/zeit/next.js#custom-server-and-routing) method.

[code]

Then I have my custom Fastify server:

[code]

[2018-08-08 07:25] rodrigooler commented on #326
@wuchuwei use `fastify.use(cors()).`

https://github.com/fastify/fastify/issues/326#issuecomment-333533755

[2018-08-08 10:29] mcollina commented on #326
I think we should do a plugin for cors.

If you look at: https://github.com/expressjs/cors#enabling-cors-pre-flight, you can see how they define the options route for a request.

IMHO our plugin should define `fastify.enableCors('*')` (or a specific path) that goes and creates that options route.

Side note, the following might just work together with the `cors` widdleware:

[code]

@zhaoyao91 let

[2018-08-08 16:15] helixion opened #1071 "Can't set response header"
#### What are you trying to achieve or the steps to reproduce?

Trying to send an authorization header in a response from an async function route handler.  The json gets through fine, but the header I assign to the response doesn't not.

`reply.code(200).header("Authorization", "Bearer " + token).send("OK");`

#### What was the result you received?
The body of the response, but not the authorizati

[2018-08-08 16:52] #1071 closed

[2018-08-08 16:54] mixecan opened #1072 "Thrown errors processed by the errorHandler are logged as 500 even if status code is altered"
Whether a `reply.send(new CustomHTTPError())` or `throw new CustomHTTPError()` is used, the default logger always logs it at error level even if the error does not correspond to an internal error (e.g. NotFound or Unauthorized).

In my specific async/await situation I'm throwing Boom errors and I'm processing them through the errorHandler to return the correct HTTP error to the client (like "fasti

[2018-08-08 17:06] mcollina commented on #1072
I think we should fix this. Would you like to send a PR?

I couldn't really follow the rest of the issue. What would be your expected output?

[2018-08-08 19:47] sarneeh commented on #1068
I've just used a `onRequest` hook for this. This is second time when Fastify own request and response objects brought some problems to me (the need to access `request.req` and `reply.res`). Of course it doesn't mean that it's a bad approach - just wanted to share a thought 😄

Can be closed!

[2018-08-08 20:07] mixecan commented on #1072
The main issue is that if you want to encapsulate HTTP errors in objects that do not have  `statusCode` they are always logged as error.
`statusCode` is required as per [docs](https://github.com/fastify/fastify/blob/master/docs/Reply.md#errors).

In case an errorHandler function is provided that can process those objects and return the expected HTTP codes to the client the expected behaviour would

[2018-08-09 06:11] OhIAmFine commented on #326
Thanks for your advices, we made it successfully. @mcollina

In our practice, when we send a preflighted request  by XMLHttpRequest in client, it will  first send an options request, so we make it successfully by using  [cors](https://www.npmjs.com/package/cors) and fastify.options in our plugins .

[code]

[2018-08-09 09:58] mcollina commented on #1072
I would make this even stricter: if it's not an error, fastify should crash badly. We should use `Error` (or descendants) as errors, and not just random objects. Boom errors descend from `Error`, so I don't understand why this applies to this issue.

Would you like to send a PR to have it logged as INFO if `res.statusCode && res.statusCode !== 500`?

[2018-08-09 10:33] mixecan commented on #1072
Boom errors have `statusCode` inside `output` property so `res.statusCode` is defaulted to 500.

https://github.com/fastify/fastify/blob/ea3f220261af85ffe62aa24151fea81a938b6daf/lib/reply.js#L266-L288

Moreover there is no check on the instance type. A simple object `{ statusCode: 401 }` is valid for `handleError` function.

I can do it, but I think that:
1. errors should be logged after customErr

[2018-08-09 10:43] mcollina commented on #1072
I agree on all the above.
Note that boom support was removed in https://github.com/fastify/fastify/pull/558/files#diff-d2fdf63c1d7f1d9f68270b6dfa8c930cL42.

I agree we should wait for the customErrorHandler to complete, and check the statusCode of the response instead of the one inside the error itself.

In https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L84-L116. At least we s

[2018-08-09 11:43] mixecan commented on #1072
Yep, that's the reason for fastify-boom.

I'm struggling on how to implement it. Something like this?
1. handleError: throw new Error()
2. handleRequest: catch error, log.fatal, reply.code(500).send(), process.exit(...)

I'd like to call `onClose` hook from `handleRequest` so that everything else (e.g. db connection) closes safely but I have no clue how to call it. maybe `this.close()`? (I read th

[2018-08-09 12:04] mcollina commented on #1072
First let's resolve this issue about boom support, then let's do the other one.

[2018-08-11 13:06] delvedor commented on #326
I'm working on a plugin :)

[2018-08-11 22:26] jsumners commented on #1057
I agree.

[2018-08-15 13:04] delvedor commented on #326
Closed in https://github.com/fastify/fastify/pull/1076 :)

[2018-08-15 13:04] #326 closed

[2018-08-16 12:50] sarneeh opened #1078 "Handling unexpected errors in request processing"
#### What are you trying to achieve or the steps to reproduce?

So basically: i'd like to catch somewhere all unexpected errors and handle them somehow.

Giving an example, I'd like this test to pass:

[code]

#### What was the result you received?

[code]

#### Question

Do I really have to `try { } catch(error) { reply.send(error) }` in all the routes to achieve that?

[2018-08-16 12:54] sarneeh opened #1079 "setErrorHandler and setNotFoundHandler encapsulation"
So I've been playing around with the `setErrorHandler` and found out, that it's being encapsulated even while using `fastify-plugin`. And this is great!

My question is: why can't `setNotFoundHandler` also be encapsulated like that? It would be very handy to have!

[2018-08-16 12:59] allevo commented on #1078
Hi!
fastify doesn't catch uncaught error for you. So, yes you should envelope the throwable code inside a `try / catch`.

NB: your handler is a plain function, not an `async` one. If your route is declared as `async`, the error is caught by the promise and handles by fastify well.

[2018-08-16 13:01] #1068 closed

[2018-08-16 13:11] delvedor commented on #1068
@sarneeh from the next major of Fastify every hook will have the Fastify own `Request` and `Reply` objects! https://github.com/fastify/fastify/pull/1066
We are using our own because it is faster, and decorate the Node core objects is very expensive.

[2018-08-16 13:15] sarneeh commented on #1068
@delvedor Oh! Good to know. Thanks for info 👍

[2018-08-16 13:15] delvedor commented on #1079
Hi! Can you please paste some code to reproduce this?
It should not happen (I'm referring to the `setErrorHandler`).

[2018-08-16 13:56] sarneeh commented on #1078
@allevo Hmm so if you're catching promise rejection why you're not catching uncaught errors? 🤔

[2018-08-16 14:03] sarneeh commented on #1079
@delvedor Yeah I've been surprised too as `fastify-plugin` makes the `fastify` instance shared if I'm understanding this properly.

Check out this test (it passes):

[code]

[2018-08-16 14:07] sarneeh commented on #1079
@mcollina I didn't use it with a prefix, I've been just messing around with "addon" plugins using `fastify-plugin`. But I guess that the topic doesn't matter anymore as `setErrorHandler` should NOT be encapsulated using `fastify-plugin`. So maybe I found a bug or something 🤔

[2018-08-16 14:13] delvedor commented on #1078
@sarneeh you can checkout a complete answer in https://github.com/fastify/fastify/issues/850 :)

[2018-08-16 14:44] sarneeh commented on #1078
@delvedor Huh, that makes sense :) I got convinced by the arguments :D Thanks for clarifying things up!

[2018-08-16 14:44] #1078 closed

[2018-08-17 13:28] sarneeh commented on #848
I've also just stumbled upon this issue and I do agree that having the ability to handle all the errors in the `errorHandler` and just having a `.notFound()` method for the `notFoundHandler` would be great 👍

Btw. Do you have any plans/estimates when will the next major come live?

[2018-08-18 08:29] mcollina commented on #848
@delvedor would you like to get a PR in for "solution 2"? Or maybe someone else?

@sarneeh when it's ready :D. Expect some release candidates before that.

[2018-08-20 19:23] jbergstroem opened #1085 "Expose connection.remoteAddr to request?"
Was looking for a way to use client ips (`remoteAddr`) for compaing incoming request against a simple whitelist/blacklist and ran short. It looks like it is attached to a `onRequest` hook but I can't help but feel this should exist on a `request` object as part of the normal request/response cycle. I saw that https://github.com/fastify/fastify/issues/1044 seems to address this but felt that the XF

[2018-08-20 19:28] allevo commented on #1085
Hi!
You can access to the nodejs IncomingMessage using [`raw` attributes](https://www.fastify.io/docs/latest/Request/)

[2018-08-20 19:34] jbergstroem commented on #1085
Ah, of course. Apologies.

[2018-08-20 19:34] #1085 closed

[2018-08-21 18:56] mcollina opened #1087 "Do not store properties on node core req and res"
The only downside of this is that they would not be available inside of middlewares.

This should include the logger.

[2018-08-21 18:58] #1044 closed

[2018-08-21 19:02] delvedor commented on #1087
I completely agree with this, but this would mean drop middlewares support.

[2018-08-21 19:04] mcollina commented on #1087
would it? which properties are needed for the middlewares?
As an example, the helmet suite does not rely on any of our added properties.

[2018-08-21 19:17] delvedor commented on #1087
`log` for example.
A solution could be to provide a plugin that adds the properties that could be needed by a middleware. In this way, we make even more clear that the middlewares support is just a compatibility layer and if a user wants to create a new way to interact with the lifecycle should use a Fastify hook.

[2018-08-24 16:55] spcfran opened #1089 "Better typings for https options"
The typings for the `https` options:

https://github.com/fastify/fastify/blob/22bf64c041fe9c067f0c847ccfbeeff614cf298f/fastify.d.ts#L98

only consist of `key`/`cert` of type `Buffer`. However the code in fastify using this option are just relaying this object to the `https.createServer`/`http2.createSecureServer` functions:

https://github.com/fastify/fastify/blob/22bf64c041fe9c067f0c847ccfbeeff61

[2018-08-24 17:00] mcollina commented on #1089
Would you like to help out and send a PR?
Il giorno ven 24 ago 2018 alle 18:55 Fran Rodriguez <
notifications@github.com> ha scritto:

[2018-08-24 18:43] mcollina opened #1090 "Make plugintTimeout default be X seconds in v2"
as titled

[2018-08-24 19:58] spcfran commented on #1089
With pleasure! I'll do it over the weekend

[2018-08-25 12:57] sarneeh opened #1093 "additionalProperties json schema option doesn't work"
#### What are you trying to achieve or the steps to reproduce?

I just wanted to use the `additionalProperties` option in my JSON schema for a server route. Here's a test that fails:

[code]

I've also checked if this is not an `ajv` issue, but this one passes:

[code]

Any ideas what's wrong?

#### Context

* *node version*: 9.11.2
* *fastify version*: 1.8.0
* *os*: Mac

[2018-08-25 13:05] mcollina commented on #1093
We use these options in fastify https://github.com/fastify/fastify/blob/28436d1e92db07d3644730772191aff484be5a13/lib/validation.js#L155-L165

[code]

The `removeAdditional` option make sure that the route does not return a 400, but rather the spurious properties are removed.

I think we should add some more documentation about this.

[2018-08-25 13:07] sarneeh commented on #1093
Woah! I've noticed your default configuration but didn't know that `removeAdditional` creates such behaviour. Thanks for info!

[2018-08-25 13:50] sarneeh commented on #1093
@mcollina I'd love to but not right now 😢 I'm near the deadlines and have not even a little of spare time. I could do this like in a month, so if it's something that can wait this long you can assign me to this so I'd remember.

[2018-08-26 07:24] trivikr opened #1099 "Suspected dead code in listenPromise"
#### You have already researched for similiar issues?
Yes

#### Are you sure this is an issue with the fastify or are you just looking for some help?
This seems to be a dead code in fastify

#### Is this a security related issue?
No

#### What are you trying to achieve or the steps to reproduce?
I was trying to add a test for covering the following line https://github.com/fastify/fastify/blob/6bce

[2018-08-26 09:35] mcollina commented on #1099
Go ahead and remove it, it seems a duplicate!

[2018-08-26 14:50] cemremengu opened #1100 "Suggestion: JSON based plugin configuration"
I am currently using the framework [eggjs](https://eggjs.org/). The `AutoLoader` of this framework checks a specific folder called [config](https://github.com/eggjs/egg/blob/master/docs/source/en/basics/config.md) and looks for the files `config.js` and and `plugin.js` where the complete configuration of plugins is specified. For packaged plugins downloaded from npm, fastify can do a similar thing

[2018-08-26 17:11] trivikr commented on #1099
The `address = address || 'localhost'` supposedly fixed the 500ms delay issue on Windows which was discussed and fixed in #1047

However, the current issue existed when the fix was introduced

Should `'127.0.0.1'` change to `'localhost'` on line 351?
https://github.com/fastify/fastify/blob/6bce249e04c60914280b5919efdb4ded6a745925/fastify.js#L351

[2018-08-26 17:17] jsumners commented on #1100
How would you support encapsulation doing this?

[2018-08-26 20:28] mcollina commented on #1100
I think this could be built as a plugin on top, if you think you would need such a feature.
I recently wrote https://github.com/fastify/fastify-autoload, more or less to simplify project setup.

[2018-08-26 21:02] cemremengu commented on #1100
Nice, fair enough. Looks like fastify is infinitely modular/extensible :smile:

[2018-08-26 21:02] #1100 closed

[2018-08-26 21:12] delvedor commented on #1100
That's one of our design goals :)

[2018-08-26 21:57] trivikr commented on #1099
Fix posted in PR #1102

[2018-08-26 22:52] #1057 closed

[2018-08-26 22:52] #1099 closed

[2018-08-27 07:45] sarneeh opened #1104 "getSchemas is undefined"
#### Problem
The `getSchemas` method is not defined on `fastify` instance. According to the [docs](https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md#retrieving-a-copy-of-all-shared-schemas) it should be there.

#### Test

[code]

#### Result

[code]

#### Context

* *node version*: 9.11.2
* *fastify version*: 1.8.0
* *os*: Mac

[2018-08-27 07:52] sarneeh commented on #1104
Uh, just noticed it was introduced in `1.9.0` while I use `1.8.0`. Sorry! 😄

[2018-08-27 07:52] #1104 closed

[2018-08-27 12:52] peteyycz opened #1105 "beforeHandler and schema validation order"
Currently all schema validation (like body, params, query) are performed **before** the `beforeHandler` hook is called, therefore authentication cannot be performed before the schema validation which might expose some sensitive information about the schemas of protected resources.

[2018-08-27 13:00] delvedor commented on #1105
Hi! As you can see in our [lifecycle](https://github.com/fastify/fastify/blob/master/docs/Lifecycle.md) documentation, the validation always happen before `preHandler` hooks and the `beforeHandler` (which is just a route specific `preHandler`).
If needed you can run your authentication logic in the `onRequest` hook :)

[2018-08-27 13:02] mcollina commented on #1105
I think we should swap that order, and execute `beforeHandler` _after_ validation, or add a new hook.

[2018-08-27 13:06] peteyycz commented on #1105
What I'm trying to achieve here is the following:

[code]

[2018-08-27 13:42] jsumners commented on #1105
A new hook would be least disruptive. `beforeValidation` seems appropriate.

[2018-08-27 13:47] cemremengu commented on #1105
I think another hook may cause a hook bloating though and (maybe) leak abstraction. The framework should also prevent `[exposing] some sensitive information about the schemas of protected resources.` by default and not leave it to user understanding of the framework.

[2018-08-27 13:49] delvedor commented on #1105
@jsumners me and @mcollina where discussing the same thing, we should add a new hook that runs before the authentication bu after the middlewares.
I'll continue the work started in https://github.com/fastify/fastify/pull/955.

[2018-08-27 20:33] cemremengu opened #1107 "Plugin: fastify-schedule"
Some of the frameworks I came across has a schedule plugin like [here](https://github.com/miaowing/nest-schedule) and [here](https://github.com/eggjs/egg-schedule). They usually benefit from [node-schedule](https://www.npmjs.com/package/node-schedule) or wrap their own scheduler around [cron-parser](https://github.com/harrisiirak/cron-parser).

I am thinking of attempting a plugin like this. I wil

[2018-08-27 20:36] mcollina commented on #1107
Go for it!

[2018-08-27 21:17] jsumners commented on #1107
I think https://twitter.com/jsumners79/status/775391136802336768 applies.

[2018-08-27 21:33] jsumners commented on #1107
I said the point of the post applies: the cron syntax for specifying scheduled jobs is archaic. No one can remember that garbage 5 minutes after they read the man page; and if someone says otherwise they are lying.

There is absolutely *no reason* a modern scheduling system should need to support that syntax. Especially when you have easy access to objects like:

[code]

[2018-08-27 22:16] cemremengu commented on #1107
Yes, you are definitely right about that. To be honest, I sometimes don't understand cron schedules even while looking at the man page to decipher it 😄 However, it's the most expressive way to represent schedules so far. For example how would you represent `last 3 days of every month` or `every week except second` in that object notation you mentioned (yes we have clients that request schedules li

[2018-08-27 22:59] jsumners commented on #1107
All I'm saying is to think about it.

[2018-08-28 05:48] guotie opened #1108 "Need expose a API function to handle raw req, res, like express router"
In some case, we have to handle the raw request, so Need expose a API, like express router, to handle all requests.

[2018-08-28 06:00] guotie commented on #210
same request, some time we have to use the router API to do with other framework, such as nuxt

[2018-08-28 08:08] mcollina commented on #210
@guotie isn't this requirement fullfilled by:

[code]

[2018-08-28 08:17] guotie commented on #210
nuxt serverMiddleware need something like this:

[code]

[2018-08-28 08:29] mcollina commented on #210
Can you point me to the docs or an example?

[2018-08-28 08:34] delvedor commented on #210
@guotie I guess you need something like https://github.com/fastify/fastify-react.
Otherwise there is https://github.com/lyquocnam/fastify-nuxt :)

[2018-08-28 08:40] guotie commented on #210
like

https://nuxtjs.org/examples/auth-routes

the api/index.js

[2018-08-28 08:41] guotie commented on #210
@delvedor fastify-nuxt Not work, I have try

[2018-08-28 15:19] mcollina commented on #1108
Can you please make an example of how you would like to use it?

[2018-08-29 07:13] guotie commented on #1108
same question with #210

[2018-08-29 07:13] #1108 closed

[2018-08-29 13:47] jsumners opened #1115 "`npm run lint` does not work with pnpm installed dependencies"
[code]

This results in git commits failing:

![image](https://user-images.githubusercontent.com/321201/44791782-6b51a600-ab70-11e8-917e-1405da7f4628.png)

However, running `standard | snazzy` will work just fine. The issue is with the TypeScript linting.

[2018-08-29 13:49] mcollina commented on #1115
Can you try?

[code]

I would like to check if it's a pnpm bug.

[2018-08-29 13:50] jsumners opened #1116 "Remove decoration code duplication"
As mentioned in #1114 there is code duplication in the decoration API. There is a primary decoration function: https://github.com/fastify/fastify/blob/d99cd61f246b9d505ae0e0a26819008b65a5afe1/lib/decorate.js#L3-L22

But this is duplicated later at:

https://github.com/fastify/fastify/blob/d99cd61f246b9d505ae0e0a26819008b65a5afe1/lib/decorate.js#L52-L76

Since these request and reply specific decor

[2018-08-29 13:52] jsumners commented on #1115
I did that before filing the bug and it works as expected. I do not think that indicates a pnpm bug. pnpm does not create a flat structure like npm does. So it is likely there is some dependency somewhere in the TypeScript setup that is broken.

[2018-08-29 14:38] fox1t opened #1117 "No more logs when using setErrorHandler after 1.10.0 patch"
Hi to all.
I have a problem with this specific [1073 fix](https://github.com/fastify/fastify/pull/1073): it completely breaks errors logging. Here's a dummy repository that show the problem:

https://github.com/fox1t/fastify-errors-handler-test

[code]

On fastify 1.8.0 it worked and still works as expected.
[code]

The only solution for me seems to add explicit call to `req.log.error(err)` inside

[2018-08-29 14:38] jsumners commented on #1115
cc: @zkochan

[2018-08-29 14:50] mcollina commented on #1117
No it's a bug. I'll work on a fix.

[2018-08-29 14:56] #1115 closed

[2018-08-29 15:11] fox1t commented on #1117
I think i found it,
https://github.com/fastify/fastify/pull/1073/commits/482c534ea64a7635edd67cbdb9b6878c2e1646b8?utf8=%E2%9C%93&diff=unified#diff-d2fdf63c1d7f1d9f68270b6dfa8c930cL307
there is a return if customErrorHandler is set. Is it correct?

[2018-08-29 15:14] mcollina commented on #1117
That needs to return, but we should log the thing somewhere else as well.

[2018-08-29 15:18] fox1t commented on #1117
Yea, we agree on that return. :)

[2018-08-29 15:50] #1117 closed

[2018-08-29 17:13] cemremengu commented on #1116
Would it break if the following part `decorate` function is changed to

[code]

and then just do

[code]

[2018-08-29 17:39] jsumners commented on #1116
It's possible the change will require touching other parts of the code. I think it is clearer if the function does not rely on `this` being the object manipulated. `decorate(instance, name, value)` (or similar) is preferable in m opinion.

[2018-08-30 08:49] mixecan commented on #1117
Another solution would have been to `reply.send` the Error instance with the expected properties.
Here's your errorHandler with the last line changed
[code]

[code]

[2018-08-30 12:13] fox1t commented on #1117
I think that this is not user friendly at all: you have to explain to someone why he needs to send a response with merged error, only if custom error handler is set.
:/

[2018-08-30 12:18] cemremengu commented on #1093
I think this can be closed. @sarneeh do you think the updated readme is more helpful now on this topic?

[2018-08-30 12:27] #1093 closed

[2018-08-30 13:55] sarneeh commented on #1093
@cemremengu It nicely emphasizes the default configuration which was not obvious to find. Although my main problem was that I didn't really know **what kind of behaviors do those default values create**. So how about a short comment next to each of the default property describing what does it do to our schemas?

[2018-08-30 14:03] cemremengu commented on #1093
@sarneeh see #1124

[2018-08-30 15:46] sarneeh commented on #1093
@cemremengu Awesome, thank you! 👍

[2018-08-30 16:19] cemremengu commented on #1116
Landed in #1120

[2018-08-31 16:53] bradjonesca commented on #900
@mcollina I just realised that no one answered your questions here, at least about which OS. My and I believe @Smithx10 interest is for the SmartOS environment.  There are a lot of new developments occurring in that world which will go mainline in the next month or two and along with the upcoming Fastify 2.0 should make for a powerful conbination

[2018-08-31 16:58] mcollina commented on #900
@bradjonesca do you think it would be possible to implement this as a plugin?

Or would you like to send a PR that meet those three criteria:

1. does not introduce any overhead when disabled
2. does not add a dependency to any binary addons
3. it is well documented and the use cases are extremely clear.

[2018-08-31 17:17] bradjonesca commented on #900
@mcollina I am not a developer but I will endeavour to get the right person to address this and once Fastify 2.0 lands and the correct course of action is agreed upon by you and your team then I will look to sponsor the PR.  I have great confidence in you and the team here and enjoy watching the well thought out approach you all take in approaching problems and formulating solutions.

[2018-08-31 17:32] mcollina commented on #900
Awesome!

[2018-08-31 17:33] mcollina commented on #900
Fastify 2.0 lives in https://github.com/fastify/fastify/tree/next.

@fastify/fastify what do you think? Is https://github.com/fastify/fastify/issues/900#issuecomment-417728109 feasible?

[2018-08-31 17:45] allevo commented on #900
I'm 👍  with https://github.com/fastify/fastify/issues/900#issuecomment-417728109

[2018-08-31 17:57] mcollina commented on #917
I'm going to propose that we close this issue. I've looked into this and it is going to be very costly adding . API-wise where a 405 request will be routed? To the generic not found handle, but that's just for 404s.
Moreover this information is not readily available in the router, and it will require a major refactor of find-my-way-

I think the proposed fix:

[code]

I think we should just docume

[2018-09-01 11:46] jsumners commented on #900
A plugin implementation would be ideal in my opinion.

[2018-09-01 18:03] cemremengu opened #1129 "Hook exceptions crash Fastify"
Not sure if this is a desired behavior (user should handle exceptions instead) but having something like

[code]

on any hook will crash Fastify. Should it just handle the exceptions and return `500` (or at least log them and not crash) ? I think this can be patched via something like below but maybe there is a better solution

[code]

[code]

[2018-09-01 18:16] jsumners commented on #1129
Same discussion as #850

[2018-09-01 18:29] mcollina commented on #1129
Would you like to add this section to the docs? A set of fresh eyes might help.

[2018-09-01 18:33] cemremengu commented on #1129
Sure, definitely. I will gather the comments from the previous issue as well.

[2018-09-03 04:45] mannyluvstacos commented on #151
Hi @delvedor and @mcollina!

Taking from @nfishe's example and modifying it slightly, would it be useful for `route` to take in an Array of objects which are each full declarations of routes?

[code]

This would be similar to how Hapi.js handles multiple route registrations:
https://github.com/hapijs/hapi/blob/master/API.md#-serverrouteroute

Currently,  I am registering multiple routes via a `for

[2018-09-03 05:27] mcollina commented on #151
Would you like to send a PR?

[2018-09-03 05:56] mannyluvstacos commented on #151
I would love to!
I'll start working on it. :)

[2018-09-03 12:30] jsumners commented on #151
I'm pretty sure this was a feature that was removed as a "don't need to maintain this code" removal.

[2018-09-03 12:32] mcollina commented on #151
Oh really? I don't really remember.

@delvedor?

[2018-09-03 12:34] delvedor commented on #151
Yeah, I also remember we decided to drop this :)
You can achieve it easily with:
[code]

[2018-09-03 12:34] mcollina commented on #151
My bad, sorry @mannyluvstacos.

[2018-09-03 12:34] #151 closed

[2018-09-03 12:36] mcollina commented on #917
So, we should just document this.

[2018-09-03 14:06] mixecan opened #1131 "Using "reply.send()" in async error handler throws "Reply already sent" error"
In async route handlers `reply.send` can be used if no data is returned.
The same does not apply to the error handler function where this situation produces the log "Reply already sent".

[code]
[code]

[2018-09-03 15:05] addityasingh commented on #917
@mcollina I am using the workaround currently inside the `apollo-fastify-plugin` change. If we all agree that due to performance degradation that the method doesn't need to be supported, I can create a PR to add this workaround to the docs as a *Note*

[2018-09-03 15:07] mcollina commented on #917
@addityasingh got for it, there seem to be generic agreement that supporting 405 would be too costly.

[2018-09-03 18:00] mannyluvstacos commented on #151
:) Not a problem, @mcollina!

Thank you, @jsumners and @delvedor for the context and guidance!

[2018-09-04 09:30] greenkeeper[bot] opened #1133 "An in-range update of avvio is breaking the build 🚨"
## Version **5.9.0** of **avvio** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Favvio-5.9.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/mcollina/avvio>avvio</a>

[2018-09-04 10:06] #1133 closed

[2018-09-04 11:06] mcollina commented on #1131
To be correct, **this is not throwing**, this using an `async`  function calls the `reply.send()` function one time too much.

[2018-09-04 12:19] mixecan commented on #1131
You're right.
Bad choice of words 😄

https://github.com/fastify/fastify/blob/cce1a8558196f23070a803150bfe9da4439535f5/lib/reply.js#L43-L46

[2018-09-05 12:05] mcollina opened #1136 "use jitson for fast JSON parsing in fastify"
I think we should consider integrating [jitson](https://www.npmjs.com/package/jitson) in v2.

@fastify/fastify what do you think?

[2018-09-05 13:08] trivikr opened #1138 "inject.test.js is failing on master"
#### You have already researched for similar issues?
Yes. I couldn't find this issue at https://github.com/fastify/fastify/issues

#### Are you sure this is an issue with the fastify or are you just looking for some help?
Yes.

#### Is this a security related issue?
No, this is not a security issue

#### What are you trying to achieve or the steps to reproduce?
Run `npm run test` on fastify master

[2018-09-05 13:09] mcollina commented on #1138
you'll need to update your dependencies, this requires the latest version of avvio.

[2018-09-05 13:09] #1138 closed

[2018-09-05 13:15] StarpTech commented on #1136
Do you mean as a default parser but you won't replace it with [fast-json-stringify](https://github.com/fastify/fast-json-stringify) right?

IMO usually, the schema of an endpoint is fixed. I don't know how we can benefit from such just-in-time approach. I think we can avoid this complexity and use the native JSON api and in all other cases we can still go with fast-json-stringify.

I could also mi

[2018-09-05 13:19] trivikr commented on #1138
My bad.

To update my dependencies, I ran
* `rm -rf node_modules`
* `npm install`
* `npm run test`

However, the error was still appearing.
I removed fastify from the workspace and cloned it again, which fixed the issue. Is there a different way to update dependencies? Also, can we add a way to check if dependencies are updated before the tests are run?

[2018-09-05 13:34] mcollina commented on #1136
fast-json-stringify is used when we send data. jitson is for parsing. The benefit of using jitson everywhere is that it would increase parsing JSON _even if_ a schema is not defined. Moreover, certain parts of JSON.schema are really hard to optimize in this way.

[2018-09-05 13:36] cemremengu commented on #1136
This will be great

[2018-09-05 13:54] StarpTech commented on #1136
Nevermind, I mixed up the things 😄

Parsing -> Ajv
Stringify -> fast-json-stringify

Both use JSON-Schema

In my updated view it would only make sense when we use jitson when no json schema was passed. Do you also consider to support the [turbo-json-parse](https://github.com/mafintosh/turbo-json-parse) as an alternative to JSON-schema?

[2018-09-05 14:02] StarpTech commented on #1136
Nevermind, I mixed up the things 😄 For clarification:

[code]

new way when using jitson

[code]

[2018-09-05 14:04] mcollina commented on #1136
Yes!

[2018-09-05 15:12] delvedor commented on #1136
I would love to see some benchmarks!

[2018-09-05 17:46] allevo commented on #1136
Why should not we integrate turbo-parse-json directly?

[2018-09-05 18:27] mcollina commented on #1136
Not really, as supporting anyOf and other advanced part of the spec would
be extremely hard.
Il giorno mer 5 set 2018 alle 19:46 Tommaso Allevi <notifications@github.com>
ha scritto:

[2018-09-05 19:08] cemremengu commented on #1136
Is it possible to make stringify faster when _response_ schema is not defined or `JSON.stringify` is as fast as we can get?

[2018-09-05 19:49] mcollina commented on #1087
I think this is a bad idea.

[2018-09-05 19:49] #1087 closed

[2018-09-05 21:02] jsumners commented on #1136
I’m okay with it as long as the current mechanism for supplying your implementation remains.

[2018-09-06 06:37] cemremengu commented on #788
Landed in #1128

[2018-09-06 06:38] mcollina commented on #788
Thanks!

[2018-09-06 06:38] #788 closed

[2018-09-06 06:42] cemremengu commented on #1116
Ping for closing

[2018-09-06 06:43] #1116 closed

[2018-09-06 08:22] poppinlp opened #1143 "Got `404` response for router with `version` option in some case."
Here's a simple case to reproduce:

[code]

Start this app to listen on `12345` port and send some requests by postman with correct url and `Accept-Version`. But the `/t1` got 404 response and `/t2` got correct response.

These requests will works fine if i remove the `version` option in router and `Accept-Version` header.

I have checked [your doc](https://www.fastify.io/docs/latest/Routes/#versi

[2018-09-06 08:58] mcollina commented on #1143
Does this happens if you do not use plugins/register/prefix, but just a single file?

[2018-09-06 09:31] poppinlp commented on #1143
@mcollina
Sry for my making it complicated. I use those two router just for showing the differences.
I have updated the issue description to show the minimum reproduction case.

Yes, it's still happens.

[2018-09-06 09:48] cemremengu commented on #1090
Ohh that X is actually roman number 10 now it makes sense :smile:

[2018-09-06 10:49] mcollina commented on #1143
I think this is really an issue in https://github.com/delvedor/find-my-way or https://github.com/delvedor/semver-store.

[2018-09-06 16:39] mcollina commented on #1131
This is fixed in 1.11.2 https://github.com/fastify/fastify/pull/1134

[2018-09-06 16:39] #1131 closed

[2018-09-07 15:18] #1079 closed

[2018-09-09 14:38] cemremengu commented on #1090
Landed in next via #1145

[2018-09-09 15:40] #1090 closed

[2018-09-10 07:28] mcollina commented on #629
The implementation of this is semver-major, and we should include it in v2.0.0

[2018-09-10 07:28] mcollina commented on #629
https://github.com/mcollina/avvio/pull/76 should solve this.

[2018-09-10 11:00] mcollina commented on #1089
Fixed in #1109

[2018-09-10 11:00] #1089 closed

[2018-09-11 07:14] mcollina opened #1155 "Add API to iterate over all the routes"
We added route iteration in https://github.com/fastify/fastify/commit/e93ea55e63f03f6e8a97fa551b6d926f7ad1f0d5, and  removed route it in https://github.com/fastify/fastify/pull/642.

However, it's one of the things that gets asked in gitter or in the issue tracker very often. I think we should add that back in.

[2018-09-11 08:50] geeksambhu commented on #1155
@mcollina Can I look into this issue?

[2018-09-11 09:05] mcollina commented on #1155
Go for it!

[2018-09-11 21:27] mcollina commented on #801
I think we can close this.

[2018-09-11 21:27] #801 closed

[2018-09-12 22:49] #534 closed

[2018-09-14 20:03] rama41222 opened #1158 "Fastify Joi header validation failed"
[code]
generates the following error

[code]

if I use header validation in the following manner;
[code]
generates this output.
[code]
Need some help of figuring out what's happening

[2018-09-15 03:14] rama41222 commented on #1158
no it doesn't work. it also generates the similar issue after calling this route
[code]

[2018-09-17 08:15] mcollina commented on #1158
@rama41222 can you please add a self-contained example of this issue?
Which version of Joy are you using?

[2018-09-17 10:38] delvedor commented on #1155
In my opinion, every feature that is **not essential** for the framework should be released as a separate plugin. In this case is also very easy thanks to the `onRoute` hook.
Why should we have this directly in core?

[2018-09-17 11:01] cemremengu commented on #1155
There is a plugin for this which prints to _console_
Maybe it can be enhanced for this functionality

https://github.com/PavelPolyakov/fastify-blipp

[2018-09-17 12:41] #1129 closed

[2018-09-18 03:38] poppinlp commented on #1143
It's fixed in find-my-way. So close this issue.

[2018-09-18 03:38] #1143 closed

[2018-09-20 10:07] poppinlp opened #1174 "About handle `text/plain` content type."
Hi.

I have made a really simple server by fastify and send a request to that with `POST` method and `text/plain` content type. Then i got a 415 response:

[code]

Seems there's no default handler for `text/plain` request body content type. And i have read [contentTypeParser.js](https://github.com/fastify/fastify/blob/master/lib/contentTypeParser.js) which dose not have it actually.

I'm intereste

[2018-09-20 10:39] delvedor commented on #1174
We have decided to support only `application/json` natively, everything else needs you to add a custom content type parser, as shown in the [documentation](https://www.fastify.io/docs/latest/ContentTypeParser/).

[code]

[2018-09-20 14:16] poppinlp commented on #1174
Thanks. So, seems it's deliberately designed like this.
But why not support that? I think it's the most basic type. Although `application/json` is more popular in real world.  But `application/x-www-form-urlencoded` and `multipart/form-data` are also popular. And they are both in plugins. So the decision to only support json natively seems interesting. :)

[2018-09-20 14:27] delvedor commented on #1174
@poppinlp general speaking the rule is: *every feature that can be a plugin, should be a plugin.*
In this way is easier to handle future breaking changes and API redesigns.
We decided to keep `application/json` in core (but you can override it) because we want to make sure that is used correctly (read: avoid bad usage of `try catch`) and in the future, we might want to implement some more performa

[2018-09-20 14:39] poppinlp commented on #1174
OK. Thanks.

[2018-09-20 14:39] #1174 closed

[2018-09-20 15:27] sarneeh opened #1175 "Protecting express apps/middlewares"
#### What are you trying to achieve or the steps to reproduce?

Job scheduling libraries like [agenda](https://github.com/agenda/agenda) or [kue](https://github.com/Automattic/kue) provide an Express middleware/application to get some cool GUI for the scheduling system. As `fastify `supports Express middlewares I guess it would be ok to just do:

`fastify.use(middleware);`

But! I'd like to protec

[2018-09-20 15:33] delvedor commented on #1175
Hi! You can run the authentication before the middlewares in two ways:
1. Use the `onRequest` hook
1. Register an authentication middleware *before* your middleware

You can the lifecycle of every request [here](https://www.fastify.io/docs/latest/Lifecycle/) :)

[2018-09-20 15:44] sarneeh commented on #1175
Well... You're right :D

But I can't do that with a typical `fastify` plugin (i.e. `fastify-basic-auth`) as they most often rely on `preHandler` or `beforeHandler` (as it's the best place to do those kind of things). Am I right? :)

[2018-09-20 15:56] delvedor commented on #1175
You are right, but only with the current version of Fastify. From version 2 we will standardize all the hooks, so you will be able to use the same code both in `preHandler` and `onRequest`.

See https://github.com/fastify/fastify/pull/1066 :)

[2018-09-20 16:11] sarneeh commented on #1175
That will be freakin' amazing :) Thanks for your help!

[2018-09-20 16:11] #1175 closed

[2018-09-20 18:42] cemremengu commented on #1035
Staged for v2.0.0 with #1164 and #1166

[2018-09-20 18:42] #1035 closed

[2018-09-20 20:34] cemremengu commented on #1158
@mcollina Here is failing/working sample with Joi@latest (13.6.0). I am failing to see so far why it fails but maybe `schema` loses it's prototype when passed to compiler?

[code]

[2018-09-20 20:47] cemremengu commented on #1155
This functionality is provided via a plugin. See: https://github.com/cemremengu/fastify-routes

[2018-09-20 20:47] #1155 closed

[2018-09-21 09:51] cemremengu opened #1177 "Drop node 6 support"
Fastify is a considerably new framework so I am assuming that it is used mainly for greenfield projects. Given that, I think it will be safe to support node >= 8 (including plugins) in version v2.0. It can simplify code and writing unit tests.

[Node10 is also becoming LTS in October 2018 and Node6 will reach end of life on April 2019](https://github.com/nodejs/Release)

What do you think?

[2018-09-21 09:55] delvedor commented on #1177
We support the same versions that are currently supported of Node.js.
We have discontinued the support for Node v4 in [Fastify v1](https://github.com/fastify/fastify/releases/tag/v1.0.0-rc.3), and we will discontinue the support for Node v6 once it reaches the EOL (which means Fastify v3).

[2018-09-21 10:58] cemremengu commented on #1177
Fair enough, cant wait for this :smile

[2018-09-21 10:58] #1177 closed

[2018-09-21 12:48] #1158 closed

[2018-09-22 08:12] mcollina opened #1182 "rename fastify.basePath to fastify.prefix"
`fastify.basePath` is really _unintuitive_, and we use `prefix`  as the option for plugins. I think the terms should match.

I propose we deprecate `basePath` and add `prefix`  in v2.

If somebody wants to pick it up, target the next branch.

[2018-09-24 08:29] cemremengu opened #1184 "Routes Plugin"
Per the discussion in #1155, I created [this plugin](https://github.com/cemremengu/fastify-routes).

I think that this is better suited as a core plugin since it offers a solution for a frequently requested functionality. It should also requires minimal maintenance.

If everyone agrees, I would be happy to transfer the ownership to the organization (both github and npm)

@fastify/fastify  Please l

[2018-09-24 08:39] mcollina commented on #1184
I think that should be the path forward. If we agree, remember to add me or @delvedor as owners, so that we can add the module to the npm org.

[2018-09-24 11:16] allevo commented on #1184
Or move it under fastify GitHub organisation if you want

[2018-09-24 13:18] cemremengu commented on #1184
@allevo That's actually what I mean by transferring the ownership. Is there another way?

[2018-09-24 16:15] aaronshaf opened #1185 "How does one do a "rest parameter"-like route?"
I'd want it to satisfy `/one/two/three/four` and `/one/two/three/four/five`, etc.

I have tried

`fastify.get("/:foo/:bar/:baz+", require("./routes/baz"))`

and

`fastify.get("/:foo/:bar/(.*)", require("./routes/baz"))`

to no avail. Any ideas?

[2018-09-24 16:35] delvedor commented on #1185
You can use a wildcard, eg:
[code]

[2018-09-24 18:38] aaronshaf commented on #1185
To all the lurkers who needed this stupid question to be asked,

https://media.giphy.com/media/EfHmlClbuNAGc/giphy.gif

[2018-09-24 18:38] #1185 closed

[2018-09-25 08:46] delvedor commented on #1185
No question is a stupid question :)

[2018-09-26 15:13] #161 closed

[2018-09-26 15:47] cemremengu commented on #1184
Let's move forward with this. Transferred repo to Fastify org and gave maintainer access to @mcollina on npm.

Let me know if there is anything else that needs to be done

[2018-09-26 17:18] #1184 closed

[2018-09-28 09:52] #1182 closed

[2018-09-28 13:10] samuelgjabel opened #1193 "Variables per request"
Is some method how to create variables per request?  Like express response.locals['your_param']? Thank you.

[2018-09-28 13:18] cemremengu commented on #1193
I think you can use `config`

See https://github.com/fastify/fastify/blob/master/docs/Routes.md if that helps

[2018-09-28 13:29] samuelgjabel commented on #1193
Hm. Thanks but i mean some sharable data (only) per request.

Example: you have authorization middleware (check if user exist in db / verify token). From this step you have user data - or user_id from db & if you have another middleware or get user - route, I want to share data from first step (authorization middleware) - so I dont need to do another DB request.

Its this possible? :)

[2018-09-28 13:34] cemremengu commented on #1193
I see, you can use [Decorators](https://github.com/fastify/fastify/blob/master/docs/Decorators.md) for this kind of things in general.

Checkout https://github.com/fastify/fastify-jwt for an example

[2018-09-28 13:34] delvedor commented on #1193
Sure!
You have two ways to achieve that:
1. Add a property to the request object:
[code]

2. Same as above, but use also the `decorateRequest` API, to achieve the best performances :)
[code]

[2018-09-28 13:36] samuelgjabel commented on #1193
Thanks a lot guys! I think i found what i want :p

Closing this.

[2018-09-28 13:36] #1193 closed

[2018-10-02 09:43] cemremengu opened #1195 "Create an API built in fastify"
Some of the people on gitter has mentioned that they wanted to have a look at an `open source api built in fastify`.

I think we should do a small app with authentication to demonstrate. Maybe a classical todo list app? We can do it step by step so that it would serve as a tutorial too.

We should also try to showcase as much functionality as possible.

What do you think @fastify/fastify ?

[2018-10-02 10:20] StarpTech commented on #1195
We already provide an example https://github.com/fastify/fastify-example-twitter but there is still room for improvement regarding docs, code structure...

[2018-10-02 10:29] cemremengu commented on #1195
@StarpTech oh I missed that one I think it's great. I will go over the TODO list and see how we can improve/polish it.

[2018-10-02 15:55] #1195 closed

[2018-10-02 18:53] allevo opened #1197 "Produces/Consumes line json"
Who do `fastify` and `fastify` ecosystem support the [line json](http://jsonlines.org/)?

For example, the validation with the swagger description or the serialization with the swagger description?

[2018-10-02 18:58] mcollina commented on #1197
what do you mean support? I do not think there is any real support for this atm, we should probably write a plugin.

[2018-10-02 19:34] allevo commented on #1197
In that plugin we ca register the new parser in order the use the request stream directly and piping it to `split2(JSON.parse)`, to ajv object check.
For example:
[code]

For the serialization part:
[code]

The above code doesn't work

[2018-10-02 19:43] mcollina commented on #1197
Why don't you start a repo? I would avoid `setSchemaCompiler` for this.

[2018-10-04 15:05] Ethan-Arrowood commented on #703
Hello, in spirit of the upcoming JS Interactive conference and hacktoberfest i'd like to try and finish what I started here. Can someone bring me up to speed on current expectations for this feature?

#861 is very much behind master (100 something commits). Is it worth trying to rebase that branch, or should I start a new one and cherry pick any relevant commits over?

[2018-10-04 15:13] cemremengu commented on #703
Hello! I think rebasing looks fine and will save you some time. Only `package.json` is in conflict. Try and see if it works.

For expectations, others will know better :)

[2018-10-04 17:48] Ethan-Arrowood commented on #703
Good point @cemremengu 😄

[2018-10-04 20:36] delvedor commented on #703
I'm not 100% convinced about this feature, IMHO it falls in the "nice to have but a nightmare to maintain" section.

@fastify/fastify thoughts?

[2018-10-05 14:40] Ethan-Arrowood commented on #703
@delvedor mentioned using `node-archy` to revamp how `find-my-way` pretty prints routes. Maybe that would be a more worthwhile contribution?

[2018-10-05 15:05] mcollina commented on #327
I don't think we should really target this for v2, as we can't really backport it to Node 6.

[2018-10-05 15:16] delvedor commented on #327
@mcollina Roadmap for `v3.0.0`?

[2018-10-05 15:18] delvedor commented on #703
@Ethan-Arrowood `find-my-way` internals will probably change a lot in the future.
I'm not sure if supporting `prettyPrint` will be feasible.

[2018-10-05 15:27] jsumners commented on #703
I really prefer having a JSON representation that I can format any way I desire.

[2018-10-05 16:59] mcollina commented on #629
Fixed in https://github.com/fastify/fastify/pull/1201.

[2018-10-05 16:59] #629 closed

[2018-10-06 16:54] nwoltman commented on #703
Having a `toJSON()` method could also reduce the amount of maintenance needed because then a `toString()` method could be implemented in a plugin.

[2018-10-08 07:28] cemremengu opened #1202 "Custom request validation error responses"
Currently, `ajv` is bailing immediately when there is an error in the request schema sending back the default error message.

As also stated in one of the `gitter` conversations, we need a way to override this behavior for custom error messages/responses.

[2018-10-08 07:33] mcollina commented on #1202
Agreed. We have three options:

1. route-specific validation error handler
2. forward the error to our default error handler
3. add another instance handler for validation errors.

I think option 1) could be implement in v1 as a semver-minor. Option 2) and option 3) are mutually exclusive.  Considering our decision for 404s in v2, option 2 _might_ be slightly better as there would need to be some

[2018-10-08 08:35] trygve-lie opened #1203 "Support for an array of middlewares in .use()"
I am currently in the process of porting a couple of applications written in express to fastify. I can mostly reuse different middlewares but I have encountered a small difference between express and fastify in the `.use()` method which would be nice if they where aligned.

Express supports taking an array of middlewares on `.use()` like this:

[code]
In fastify this does not work.

This is actual

[2018-10-08 08:59] trygve-lie commented on #1203
Note: Helmet did previously use Connect internally to bundle multiple middlewares into one middleware. They have now [switched to just returning an Array](https://github.com/helmetjs/helmet/commit/421dcdf92cf4b2415770298c859aee2db207a6d5) with the different middlewares.

[2018-10-08 09:43] mcollina commented on #1203
Sure go for it, PRs are always welcome!

Il giorno lun 8 ott 2018 alle 10:59 Trygve Lie <notifications@github.com>
ha scritto:

[2018-10-09 11:31] trygve-lie commented on #1203
I found the logical place to solve this to be in middie so I made a PR there: https://github.com/fastify/middie/pull/24

[2018-10-09 11:45] delvedor commented on #1203
Hi! Sorry for the delay!

You can easily use `middlewares.forEach(fastify.use)` and you will accomplish the same result while supporting it internally introduces more logic that is not needed.
Furthermore, we are trying to maintain a similar interface across the various API, and since we don't have any that accepts an array of elements, we should keep it in this way (see also https://github.com/fa

[2018-10-09 13:57] simoneb opened #1206 "Support for optional route parameters"
It seems that optional route parameters are not supported in fastify routing mechanism, or at least they're supported in an uncommon way.

If I write a route like:

[code]

`GET /some/param` with match and give `{ param1: 'some', param2: 'param' }`, as expected.

Not so expected, also `GET /some/` with match and give `{ param1: 'some', param2: {some falsy value} }`.

(Note that I didn't actually c

[2018-10-09 17:08] Blaconix commented on #1195
Those are exactly my thoughts. I've been taking a look at https://github.com/fastify/fastify-example-twitter/, but then noticed this issue https://github.com/fastify/fastify-example-twitter/issues/24#issuecomment-393343391.

I also, was unable to run the example. To be honest, I think it would be really appreciated to get a more polished version of this. I am currently learning the in and outs of

[2018-10-09 20:44] StarpTech opened #1208 "Add github issue templates"
Add GitHub issue templates like in

https://github.com/Prettyhtml/prettyhtml/issues/new/choose

because they look 😲

[2018-10-09 22:12] Ethan-Arrowood commented on #703
Okay so it seems like a `toJSON()` method would be better than `toString()`. And I think someone said it before; the information from `toJSON()` could be used in a `toString()` implementation (plugin or not) too.

Should I go forward with this?

[2018-10-09 22:33] mcollina commented on #1208
That is amazing. We should do this!

[2018-10-10 20:11] cemremengu commented on #1203
Landed in https://github.com/fastify/middie/pull/24

[2018-10-10 20:11] #1203 closed

[2018-10-10 21:21] andrewzey commented on #909
Any progress on this? It would be great to be able to handle internal fastify errors separately.

[2018-10-10 22:20] cemremengu commented on #909
@andrewzey yes very soon :) see #1168

[2018-10-16 14:56] cemremengu opened #1213 "Enabling windows testing for sub-repos"
Travis recently began beta windows testing https://blog.travis-ci.com/2018-10-11-windows-early-release.

I encountered problems on 2 repos when testing on windows so far so I suggest we enable windows testing for all repos except the main repo which is using appveyor. Once travis is out of beta, we can switch the main repo as well if desired.

Although CI runs will take a bit more time I think its

[2018-10-16 15:31] StarpTech commented on #1213
Why do we need this change when appveyor works fine? We only need to maintain a simple yaml file which is touched one time per year?

[2018-10-16 15:35] cemremengu commented on #1213
Sorry I couldnt make my point. I am actually meaning the sub-repos we have that don't have windows testing. Although it can be changed in the future, I am fine keeping appveyor on the main repo.

[2018-10-16 15:38] mcollina commented on #1213
AppVeyor is often a source of problems and failed builds. Moreover it has a
weird auth model, and it seems I am the only one that can restart builds.
I’m keen to just use Travis if it works.

Il giorno mar 16 ott 2018 alle 17:35 Cemre Mengu <notifications@github.com>
ha scritto:

[2018-10-16 15:59] StarpTech commented on #1213
If this is the case I agree. From my experience I never had real problems with appveyor. Let's just try it.

[2018-10-16 17:22] tony-gutierrez opened #1214 "Expose url without query string in router"
In express you can do req._parsedUrl.pathname to get the current url sans query string.

I am not seeing anything equivelant in fastify's router.

[2018-10-16 17:47] cemremengu commented on #1214
It's a plugin https://github.com/fastify/fastify-url-data

See #387

[2018-10-16 17:52] tony-gutierrez commented on #1214
Cool, so been discussed. closing.

[2018-10-16 17:52] #1214 closed

[2018-10-17 08:34] #1208 closed

[2018-10-17 14:20] delvedor commented on #1213
I don't think we should enable Windows on all of our repos, but just a few of them until Windows support is out of beta.

[2018-10-17 14:37] cemremengu commented on #1213
Added mongodb and compression for now. End of spam :). Let me know if there are more suggestions.

[2018-10-17 15:46] cemremengu commented on #1213
Oh no I think I just opened a huge can of worms :smile:

[2018-10-19 09:26] dbauszus-glx opened #1216 "Awaiting for multiple register to finish. How to use Promise and Promise.all().then() with register()."
I need to establish several database connections with fastify-postgres from which I need to pull data before I can start the fastify instance.

With a single register I could use a callback to call the next step of the init process.

I read in another issue that .ready() on the register will return a promise but I wasn't able to make this work.

With async / await not working as hoped for I would

[2018-10-19 09:30] mcollina commented on #1216
Just add a `.after(fn)` after you have registered both plugins.

[2018-10-19 09:36] kolbma opened #1217 "plugin register addContentTypeParser doesn't work as expected"
I register multiple plugins which provide content parsers.
But only the content parser of the last registered plugin is recognized.

## 🐛 Bug Report

[code]

With 1st register we get parsers
["application/tlsrpt+json","application/json"]
With 2nd register we get
["application/tlsrpt+gzip","application/json"]

Why it always starts from the beginning?

## Your Environment

- *node version*: v8.12.0

[2018-10-19 10:00] dbauszus-glx commented on #1216
The function in .after() seems to be only ever called after I initialize fastify.listen(). Is this the expected behavior?

[2018-10-19 10:06] delvedor commented on #1217
I'm not sure I've understood the question.

If you want to use your newly added content type parsers outside the plugin, you are registering them you should use [fastify-plugin](https://github.com/fastify/fastify-plugin).
I suggest you also to take a look at our [plugins guide](https://www.fastify.io/docs/latest/Plugins-Guide/) :)

[2018-10-19 10:30] dbauszus-glx commented on #1216
I see... This works.

[code]

But I still need to wrap multiple connections and only run the after functions after all connections have been registered.

[2018-10-19 10:42] mcollina commented on #1216
if you register multiple plugins, this could be achieved by using `.after()`

[2018-10-19 10:45] dbauszus-glx commented on #1216
The problem is that I don't know how many connections are required. This is dependent on the environment settings. For this reason I need to put fastify.register into an iterator.

[2018-10-19 10:58] dbauszus-glx commented on #1216
Yes. I got there in the end. I didn't understand .after() and .ready() before.

I now have a forEach iterator generating promises which resolve on the after().

I can thus use Promise.all().

[code]

Thanks for your help. I will close this.

[2018-10-19 10:58] #1216 closed

[2018-10-19 11:02] cemremengu commented on #1216
Maybe we can enrich docs with this info?

[2018-10-19 17:51] kolbma commented on #1217
delvedor: I don't like to use them "outside" the plugin. Thay just should stay registered. I'd like to support additional content-types with the "plugins". Something which shouldn't be so questionable and magic. ;-)

[2018-10-19 18:15] kolbma commented on #1217
Seems that a `parser[Symbol.for('skip-override')] = true;` does the magic. But why is this not the default?

[2018-10-19 20:09] StarpTech opened #1218 "Switch to Azure pipelines for CI"
## 🚀 Feature Proposal

We should switch to Azure pipelines for CI

## Motivation

* Free for opensource with 10 Parallel Jobs
* Support for Mac, Windows and Linux
* Easy installation as with Travis
* Much better configuration and debugging experience
* Full Github integration
* Cross platform builds are much faster than in travis right now.

## Example

![image](https://user-images.githubuserconte

[2018-10-19 20:29] cemremengu commented on #1218
How is the integration with other services like `coveralls` for example? I am personally a bit negatively biased against microsoft products for these kind of things but nevertheless I am neutral against the change

[2018-10-19 20:32] StarpTech commented on #1218
@cemremengu there exists no "native" coveralls integration on ci level. You only need to run another command. You know that Microsoft owns Github right? 😄

[2018-10-19 20:35] StarpTech commented on #1218
Yes

[2018-10-19 20:38] cemremengu commented on #1218
Yes and I fear that one day we will wake up to `Github 365` 😄

Joking aside, considering that and the future, it may be a good idea to switch though. I think MSFT products will integrate much better with Github as you suggested.

[2018-10-19 20:47] StarpTech commented on #1218
It's for free! and it will make our CI much simpler and more transparently. I don't care whom it belongs. Fastify is 100% opensource nothing to care about.

[2018-10-20 14:16] mcollina commented on #1218
As I said elsewhere, I’m open for experimentation if it means we can provide a better experience for our contributors. I’ll see if I can enable it next week.

[2018-10-21 08:17] mcollina commented on #1217
The default is to encapsulate things to foster reuse. By marking it explicit, the amount of things that are altering the parent is limited and explicit.

Anyway, I think we are past the time to change the default.

[2018-10-21 08:17] #1217 closed

[2018-10-22 08:33] lee-morris opened #1221 "Fastify is not compatible with custom Express middleware"
I have custom middleware developed for express that is used in several of our projects. It makes use of express's res.set and res.status methods. When I try to use this middleware with fastify.use(myMiddleware()), I get errors from Fastify saying that res.set and res.status are not functions.

So, if Fastify is compatible with Express middleware, how do I make my middleware work in Fastify without

[2018-10-22 17:11] kaylangan commented on #1218
I'm a Program Manager on Azure Pipelines. Let me know if you have any questions or suggestions. I'm happy to help and excited that you're considering trying us out!

[2018-10-22 17:36] mcollina commented on #1218
I'll be happy to test this out and see how this goes alongside what we already have. A single CI for Windows/Linux/Mac is what we need really.

WDYT @delvedor?

@kaylangan is there any specific steps we would have to do to add this? Should I just add it from the Github marketplace?

[2018-10-22 17:46] cemremengu commented on #1218
@kaylangan I took a quick look but couldn't see any simple way to setup services like in travis:

[code]

looks like we need a dockerfile for this kind of things? Another problem was that I have to logout from my company's microsoft account to login to devops :)

[2018-10-22 17:52] delvedor commented on #1218
I agree that a single CI for Windows/Linux/Mac would be awesome.
But we should also consider how is easy to use for external contributors, the thing that I most love about Travis, is that the user experience is excellent!
I will give this a try soon :)

[2018-10-22 20:24] delvedor opened #1224 "Add `onError` hook"
## 🚀 Feature Proposal

Add a new application hook called `onError`, which a developer can use to track all the errors that Fastify is sending to the user.

## Motivation

Currently, we can't do that easily, because the `setErrorHandler` can be overwritten and the `onSend` hook receives the already serialized payload.
At the moment there is no way to get the error object and be sure at 100% that yo

[2018-10-22 20:31] mcollina commented on #1224
+1

[2018-10-22 23:49] nwoltman commented on #1221
The [middleware documentation](https://github.com/fastify/fastify/blob/09e9021dc4b7bcfd44f5b100eeceea5bf9b3a138/docs/Middlewares.md#middlewares) states:

So Fastify is compatible with the format of Express middleware, but it isn't fully compatible with Express's prototype-extended `req` and `res` objects.

The best solution would be to turn your custom middleware into a [Fastify hook](https://gith

[2018-10-23 08:13] mcollina commented on #1202
@cemremengu would you like to send a PR for implementing option 2?

[2018-10-23 09:32] delvedor commented on #1202
Agree for option 2.

[2018-10-23 16:40] cemremengu commented on #1202
Will this be similar to #1084 accompanied by a `setValidationErrorHandler` ?

[2018-10-23 16:48] mcollina commented on #1202
Similar to #1084 but _without_ a `setValidationErrorHandler`.

[2018-10-23 17:06] cemremengu commented on #1213
I think this will be superseded by #1226. Should we close?

[2018-10-23 17:11] mcollina commented on #1213
Let's wait and assess before calling it a deal.

[2018-10-23 21:20] jsumners commented on #1218
I agree with @cemremengu. I'm not very pleased that I have to have a unique Microsoft account to use this service. Travis just uses GitHub's OAuth provider which makes things easy.

[2018-10-23 23:03] mcollina commented on #1218
Some notes:

- It seems to be extremely better than AppVeyor for WIndows. I'm not sure about Travis, but it seems way faster.
- Can you access/configure the CI? Who has a microsoft account that I could try to add, or are permissions managed automatically?
- I cannot configure Travis from my account anymore due to a bug (ETOOMANY orgs) in GitHub itself and the new marketplace integration. I hope th

[2018-10-24 00:11] kaylangan commented on #1218
Sorry for the delay. It looks like you were able to get it set up--the GitHub app/marketplace are both good options.

We are currently working on integrating with GitHub identities, but you are correct--that support does not yet exist. For now, you need an MS identity to first set up the pipeline. But after it's been set up, anyone can view build results publicly without an MS identity. Additional

[2018-10-24 08:53] cemremengu commented on #1202
I didnt want to bother you by asking questions but here I am 😄 So at the moment, if I am correct, you can set a custom handler for errors like below:

[code]

What I can do on top is return the validation result (here)[https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L63] so the user can handle it in request but this should be opt-in for the user which I am not sure how to make

[2018-10-24 08:57] mcollina commented on #1202
I don't think you can. Does it work? In that case we should probably just document it.

[2018-10-24 10:04] cemremengu commented on #1202
This test passes:

[code]

[2018-10-24 10:06] mcollina commented on #1202
Then I do not think how the above statement is true, or maybe I misunderstood you completely.

[2018-10-24 10:14] cemremengu commented on #1202
It seems like he wanted to treat the validation error inside the body so return [here](https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L63) instead of sending response back.

![image](https://user-images.githubusercontent.com/1297759/47423754-8286cb80-d78e-11e8-860f-aeaffd4f8f39.png)

[2018-10-24 11:11] cemremengu commented on #1202
On top off my head:
We can add a request option like `breakOnValidationError: true`. If false we attach the validation to request to be processed else respond automatically.

[2018-10-24 11:25] cemremengu opened #1230 "Remove `simple-get` from tests"
Current we have `simple-get` and `fastify.inject` being used interchangably. It looks like we can refactor tests to use `fastify.inject` only.

I will prepare a PR if agreed.

[2018-10-24 11:34] mcollina commented on #1230
IMHO I like having some tests using simple-get, mainly because it validates and verifies that the full setup is working. If they break on a new Node.js version, we know there is something off.
How many are needed? Probably not that many.

[2018-10-24 11:41] cemremengu commented on #1230
I see fair enough, I was just thinking if could get rid of the dependency and make testing approach consistent. Currently used in 30 files.

[2018-10-24 11:57] delvedor commented on #1230
I think we should keep both.
`inject` does not perform a complete http request :)

[2018-10-24 12:09] #1230 closed

[2018-10-24 13:29] mcollina commented on #1202
I think the first step is to document the current behavior in https://www.fastify.io/docs/latest/Validation-and-Serialization/. I'm also ok for a flag to attach validation error to the Request.

[2018-10-24 15:31] cemremengu commented on #1206
Maybe this issue is really for `find-my-way` ?

[2018-10-24 19:26] andrewlinfoot opened #1235 "Need some extra dev help on Fastify?"
## 💬 Questions and Help

Hey Fastify team,

I am reaching out because I saw Fastify on a list of repos with good first-time contributor communities. 🙂

I run a startup where we teach software engineers in India how to be effective remote employees and then help them break into international tech careers via full-time remote jobs.

For the last 4 weeks of training, students complete an open-source

[2018-10-24 23:00] mahdisml commented on #365
i tested fastify with uws
`
const fastify = require('fastify')({
    createServer (httpHandler, options) {
      return require('uws').http.createServer(httpHandler)
    }
  })`
But there was no performance effect.Was my code wrong?

[2018-10-25 15:05] mcollina commented on #1136
I think we concluded not to do this for v2, to be explored in a plugin.

[2018-10-25 15:35] kaylangan commented on #1218
Just to close the loop on this. We're currently working on the syntax for this. In the meantime, yes, you can `docker run` your own stuff.

[2018-10-25 17:02] mcollina opened #1237 "Move all _ prefixed properties to Symbols in next"
In the `next` branch, there are a bunch of properties in `Reply` (and maybe `Request`) that are still prefixed with `_` and are not using symbols. They should be migrated to symbols.

[2018-10-26 14:40] andrewlinfoot commented on #1235
**When will they start?**

Our current batch of students will start their projects on the week of November 5th - 9th, 2018. And will choose their projects on Monday/Tuesday next week.

Our next batch will start projects in late January. From there we will be running one batch per month so new projects will be selected monthly.

**What is the student background?**

Students typically have a CS degr

[2018-10-26 17:06] mcollina commented on #1235
@fastify/fastify Do we have something meaningful for a junior dev to do for a month? I do not think we have so many “good first contributions” tasks.

 I very likely won’t have the time to do timely PRs either because I’ll be on an intense travel schedule.

[2018-10-26 17:18] alexhultman commented on #365
@ansarizafar I don't think that's fastify-realted enough to be discussed in this fastify repo.

I think it makes more sense to close this issue, since the new direction uws is taking differs and is not suited for fastify-like wrappers.

[2018-10-26 17:18] #365 closed

[2018-10-26 17:24] cemremengu opened #1239 "Use turbo-http"
Since #365 is closed, we can track the status from this issue separately

https://github.com/mafintosh/turbo-http/pull/18

cc @tinchoz49

[2018-10-27 18:40] qnoox commented on #1237
Hello,

Would like to help on this but could you explain a little more on this topic just so that i'm clear on what is the outcome that your looking for or if you could point to an example.

[2018-10-27 18:58] jsumners commented on #1237
The `pino` library implements private properties/methods via symbols. Take a look at its source code.

[2018-10-28 20:58] cemremengu commented on #1105
Landed in #1153

[2018-10-28 20:58] #1105 closed

[2018-10-29 00:15] jsumners commented on #1235
I think it's a flattering offer, but I agree, there isn't much here for a junior to work on.

[2018-10-29 00:17] jsumners commented on #1224
APM support would be welcome.

[2018-10-29 19:23] HugoLiconV commented on #1237
in which files are you using symbols? just for reference

[2018-10-29 20:05] cemremengu commented on #1237
@HugoLiconV checkout https://github.com/fastify/fastify/blob/next/fastify.js

[2018-10-29 21:20] StarpTech opened #1240 "Support for Apollo GraphQl"
## 💬 Questions and Help

There is only [one](https://github.com/nfishe/fastify-apollo) plugin for fastify which bring GraphQl to fastify but it was archived. Does anybody know the current state of it? @mcollina I have heard that you are working on a performance optimized graphql implementation?
Therefore I miss fastify [here](https://github.com/apollographql/apollo-server/tree/master/packages) 😞

[2018-10-29 21:35] StarpTech commented on #1240
Nice! I didn't mention it.

[2018-10-29 21:45] cemremengu commented on #1240
There is #1210 #1126 #1156 mentioning some progress/plugins but nothing solid so far I think

[2018-10-29 22:15] HugoLiconV commented on #1237
I've never used symbols. Can you tell me why I use them in this case?

[2018-10-29 22:33] jsumners commented on #1237
Symbols do not get iterated as own enumerable properties. See https://gist.github.com/jsumners/0a586bf6c3dcb835d692251347a0e730

`Symbol('foo') !== Symbol('foo')` so they are a great way for indicating internal API methods/fields.

`Symbol.for('foo') === Symbol.for('foo')` so they are useful for API methods/fields that are usable by external users if they are comfortable with advanced scenarios.

[2018-10-30 16:31] #1202 closed

[2018-10-30 22:03] cyberwombat commented on #848
I'm using 1.12.x - seems like these changes have been merged but I am not sure how it's supposed to work. The notFound error swallows all my messages and replaces them with 'Not Found'.
[code]
Results in this in the log
[code]
I have tried setting the `setNotFoundHandler` but there is only a reply and request and nothing about the error that was thrown. Can you elucidate on how I am supposed to lo

[2018-10-31 01:09] greenkeeper[bot] opened #1241 "An in-range update of typescript-eslint-parser is breaking the build 🚨"
## The devDependency [typescript-eslint-parser](https://github.com/eslint/typescript-eslint-parser) was updated from `20.0.0` to `20.1.0`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Ftypescript-eslint-parser-20.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

type

[2018-10-31 06:40] sarneeh commented on #848
@cyberwombat This change has been merged to the `next` branch which aims for `fastify@2.0.0` version. Fastify team - correct me if I'm wrong.

[2018-10-31 08:10] delvedor commented on #848
@sarneeh you are correct :)

[2018-10-31 16:31] #1241 closed

[2018-11-01 18:06] HugoLiconV commented on #1237
I'm working on this

[2018-11-01 22:17] andrewlinfoot commented on #1235
No worries. That makes sense. If you ever work on any projects that could use some help, don't hesitate to reach out :)

[2018-11-01 22:17] #1235 closed

[2018-11-02 06:30] HugoLiconV commented on #1237
I've just made a PR #1245

[2018-11-06 17:55] dimisus commented on #935
Just for everybody suffering with **502 bad request** after deploying, as I did.

127.0.0.1 as well as 0.0.0.0 did not pass the traffic to my application.

The general empty IP specification did the job:

`fastify.listen(80, (err, '::',address) => {`

[2018-11-06 18:59] delvedor commented on #935
If you use fastify-cli it will automatically handle this for you :)

[2018-11-07 06:52] Matschik opened #1246 "Add benchmark NodeJS 10.13.0"
Can you add NodeJS 10.13.0 requests/sec benchmark to the README ?

[2018-11-07 07:11] cemremengu commented on #1246
Coming soon, in the meantime you can refer to https://github.com/fastify/benchmarks/blob/master/README.md

[2018-11-07 17:09] nwoltman commented on #1221
I believe this question has been sufficiently answered. Closing.

[2018-11-08 21:34] SkeLLLa opened #1249 "[types] Fastify error fields"
Now in `fastify.d.ts` routes, middleware and so on use `Error` type. However, as far as I know, Fastify could have couple additional properties like `statusCode` or `validation`.

So it's better to introduce custom interface or class that extends `Error` and use it. Also it will be easier to extend that interface in plugins if they add some new fields to the Error type.

I could try make PR, but I

[2018-11-08 22:06] mcollina commented on #1249
the problem is that the error could come from everywhere. Any application code can add its own property. I don't know how to handle that case with typescript.

[2018-11-09 06:51] SkeLLLa commented on #1249
If Error will be interface, then it can be done with [declaration merging](https://www.typescriptlang.org/docs/handbook/declaration-merging.html).
Just like it's done here for example: https://github.com/fastify/fastify-mongodb/blob/master/index.d.ts#L47

So if you need to extend Error model with some properties, you can do like with `FastifyInstance`, declare fastify module, and describe interfac

[2018-11-09 07:02] mcollina commented on #1249
Send over a PR!

Il giorno ven 9 nov 2018 alle 06:51 Alexander Kureniov <
notifications@github.com> ha scritto:

[2018-11-09 08:18] SkeLLLa commented on #1249
@mcollina are there any other fields besides `statusCode` and `validation` used in Fastify?

[2018-11-09 08:30] mcollina commented on #1249
Let’s start adding those.

[2018-11-09 08:30] delvedor commented on #1206
Sorry for the delay.
There is no support for this and it is not planned. I fear that support it would impact the performances too much.

This is a longer discussion around how trailing slashes should behave. Take a look at https://www.fastify.io/docs/latest/Server/#ignoretrailingslash :)

[2018-11-11 15:17] gjabelAmbitas opened #1251 "Access-control-allow-origin. Bug or....?"
Have serve-api app and frontend app.

I set access-control-allow-origin on server - development / localhost:3002.

**Also i have set app.register(require('fastify-cors'), { origin:true,  });**

But if i make request from development frontend site with fetch  api (localhost on other port 3001)
with post method, chrome says:

`Access to fetch at 'http://localhost:3002/login' from origin 'http://loca

[2018-11-11 15:39] gjabelAmbitas commented on #1251
same response....:(

Access to fetch at 'http://localhost:3002/login' from origin 'http://localhost:3001' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.

[2018-11-11 15:39] gjabelAmbitas commented on #1251
but i forgot mentioned that when i use postman for testing API, it works!

[2018-11-11 16:04] cemremengu commented on #1251
If it doesnt work only for `POST` method, you can try including it in `Access-Control-Allow-Methods`

[2018-11-11 16:33] gjabelAmbitas commented on #1251
Doent work too...
but its definetely problem with fastify becouse on simple express app it works!

Here simple express app:
[code]

So how to implement this on fastify???

[2018-11-11 17:16] gjabelAmbitas commented on #1251
ok. fast-cors doesnt work, i found the way how to avoid allow-origin error:

When i try to set header via
`fastify.use(function(req, res, next) {
    reply.header("Access-Control-Allow-Origin", "*");
    reply.header("Access-Control-Allow-Headers", "Origin, X-Requested-With, Content-Type, Accept, Access-Control-Allow-Origin, Cache-Control");
    next()
  });`
or via
`  fastify.addHook('onSend', (r

[2018-11-11 17:37] mcollina commented on #1251
Can you please:

a) include a full application that demonstrate the problem
b) a clear description of what you are trying to achieve
c) simple steps to reproduce the problem

---

Very likely this is a bug in https://github.com/fastify/fastify-cors.

[2018-11-11 17:46] gjabelAmbitas commented on #1251
ok. Here is full code of simple application where first part is **express.js** simple app which is working. And second uncommented part is **fastify** part which doesnt work on any POST requests. GET method work fine as well.

`// const express = require('express')
// const app = express()
// const port = 3002
// app.use(function(req, res, next) {
//     res.header("Access-Control-Allow-Origin", "

[2018-11-11 18:11] mcollina commented on #1251
How are you sending POST requests?

[2018-11-11 19:34] mcollina commented on #1251
If you are sending a POST with content-type JSON, you have to provide a body. A JSON is at least 2 bytes.

We should probably provide a better error mesage for this case.

[2018-11-11 19:53] gjabelAmbitas commented on #1251
Ok, it works.
I used query params instead of body params. Thanks for help!

[2018-11-11 19:53] #1251 closed

[2018-11-11 20:10] cemremengu commented on #1251
@mcollina error message or set request body to `{}` if it is empty?

[2018-11-12 10:06] #1237 closed

[2018-11-14 18:52] #1213 closed

[2018-11-15 08:48] delvedor commented on #1224
Closed in #1236.

[2018-11-15 08:48] #1224 closed

[2018-11-16 21:10] thomasyuan opened #1256 "When will `preValidation hook` be released?"
Just trying to create a test for my REST API today, and found that the schema validation gets executed before authentication which is exactly the #1105.
I'm so happy that #1153 fixed this issue and get merged on Oct 1. But then I realized that it's not included in 1.13.0.

Quick question, when will we release the next version or this feature?

[2018-11-16 21:14] thomasyuan commented on #1256
Or, just curious, should I use 'onRequest' for now? I believe it's not a perfect solution otherwise we won't create #1153.  What's the problem if I use 'onRequest' ?

[2018-11-19 10:05] ramachandranvenkat opened #1258 "header Content deposition not working as for file download"
I am not able to return my response as file download using below code.
it's gives me normal string response rather than downloaded file.

let me know what needs to be done in order to get this to work.

[code]

## Your Environment

- *node version*: 10,12.0
- *fastify version*: >=v1.12.1
- *os*: Windows

[2018-11-19 10:14] cemremengu commented on #1258
Can you try setting the type `application/octet-stream` instead of text or maybe not setting it at all?

[2018-11-19 10:15] mcollina commented on #1258
Can you please include a full repro? Something that does not rely on `req.body` would be very hepful as well.

[2018-11-19 10:31] ramachandranvenkat commented on #1258
@mcollina
my code is not it git and it's private project, I am trying to download html templates generated using moasico. everything working fine except content disposition, whereas i can able to get response as normal html string.
@cemremengu  i tried application/octet-stream but not working.

[2018-11-19 12:39] jsumners commented on #1258
He didn’t ask for your private code. He asked for a reproduction of the issue. What plugins are loaded? What sort of input is involved? These are questions not answered by your snippet but would be answered if you provide a sample script that reproduces the problem.

[2018-11-20 00:31] ramachandranvenkat commented on #1258
This is my server side code

[code]
client side code

[code]
let me know how can i get download  html as file.

[2018-11-20 01:02] cemremengu commented on #1258
This works for me (from localhost). On top of my head, it may be getting filtered via cors. Can you configure the cors plugin as:

[code]

[2018-11-20 16:37] mandaputtra commented on #163
for sending all the type can i do this? `this.type().send(stream)`

[2018-11-20 16:52] chameleonbr opened #1259 "Return 404 on slow function execution"
I have a slow function which sometimes takes up to 200 seconds and exactly in 60 seconds fastify return to browser 404 not found.

To isolate this behavior I used setTimeout and had the same result, testing with GET and register/route.

[code]
Is there any way to increase connection timeout?
I did not find anything in the documentation or issues.

[2018-11-20 17:43] chameleonbr commented on #1259
I using node v10.13.0, I have discovered that it is not a flaw of fastify but a timeout of the http module.
fastify.server.timeout = 300000;
but http connection after this time apparently restarts any times showing on console:
hello
world
hello
world...

and browser continues loading ever.

[2018-11-20 18:37] delvedor commented on #163
@mandaputtra what do you mean with "all the type"?

[2018-11-20 23:45] ramachandranvenkat commented on #1258
it's working, thanks

[2018-11-20 23:45] #1258 closed

[2018-11-21 08:50] mcollina commented on #1019
What's the status of this? This is the last thing remaining for 2.0.0.
Should we remove this?

[2018-11-21 10:15] cemremengu commented on #1019
I think this should be removed as part of `3.0.0` once `toJSON` is implemented. IF it is highly used in the wild, it can make people stay away from 2.0.0

[2018-11-22 15:12] mcollina commented on #1246
See https://github.com/fastify/benchmarks/pull/78 for more details.

[2018-11-22 15:20] Marsup commented on #848
Does it really need to wait for 2.0? Any way to work around this in 1.x?

[2018-11-22 15:31] mcollina commented on #848
@Marsup it's semver-major :/. I hope we can get a release candidate out as soon as possible. That changes break quite a few of our plugins unfortunately.

[2018-11-22 15:33] Marsup commented on #848
Thanks for the quick response. So 1.x is stuck with this with no possible workaround? (I'm not complaining, just asking :slightly_smiling_face:)

[2018-11-22 15:38] mcollina commented on #848
Yes and it’s essentially my fault as we had a very similar behavior in the beginning.
This breaks fastify-static specifically.

[2018-11-22 20:17] delvedor commented on #848
@mcollina is not your fault, we all agreed on that change in https://github.com/fastify/fastify/pull/727 :slightly_smiling_face:
Back then it seemed a good idea, and the time has revealed the contrary. We have already fixed it, and v2 will be out really soon.
Make everything right at the first try is not just impossible but also weird :wink:

[2018-11-23 14:47] lgertel opened #1263 "Fastify inside GCP App Engine Standard"
Hello, I have a working application using fastify inside GCP using Docker containers and Flexible environment.

I'm trying to test inside flexible but it doesn't works....
It's a simple application.

[code]

My app doesn't responds when inside App Engine Standard.
Anyone working in GCP to help me?
Thanks

[2018-11-23 15:01] lependu commented on #1263
I know very little about  GCP and Flexible, but if it runs inside docker container I suspect it should be:
[code]

[2018-11-25 20:23] delvedor opened #1268 "Custom querystring parser"
## 🚀 Feature Proposal

Currently, we are using the Node.js's core query string parser, it would be nice to expose an option to support a custom parser, such as [`qs`](https://www.npmjs.com/package/qs).

## Motivation

One of the main design goals of Fastify is *flexibility*, and since we do support a custom body parser, we should support a custom query string parser as well.

## Example

[code]

[2018-11-25 20:44] StarpTech commented on #1268
Different body-parser are needed to support different content but the query string parser has a sole purpose. This looks for me like a 100% great use-case for a plugin.

[2018-11-25 20:45] ACXgit commented on #1268
Thumbs up for the idea, I hit my nose on this issue today https://github.com/fastify/fastify/issues/726 and having a custom query string parser would solve it without dirty hacks.

[2018-11-25 21:00] delvedor commented on #1268
@StarpTech the problem is that currently there no way to do that, even with a plugin, unless you do some nasty update via a hook in the request object.

[2018-11-25 21:06] jsumners commented on #1268
Sounds like a good idea. What about `queryStringParser` for the option name? It’s more descriptive of what is being specified.

[2018-11-25 21:42] mcollina commented on #1268
I'm kind of -1. I think we should switch to `new URL()` for Fastify v3, and that include automatic query parsing. We would end up doing the work twice.

(`url.parse` will get deprecated in Node 12).

[2018-11-25 22:06] StarpTech commented on #1268
@mcollina How is it related to the feature to plug&play a custom query parser?

[2018-11-25 22:10] delvedor commented on #1268
Why? I think this would be very useful. We should decide if we want it as a configuration option or expose an API to allow encapsulation.

Should we think about remove it during Fastify v2 RC phase?

[2018-11-25 22:18] mcollina commented on #1268
I kind of talked it through with @delvedor. I'm ok with it (I was being paranoid about utf8 security).

[2018-11-25 22:24] lfurzewaddock opened #1269 "Question: Has a text/plain content parser plugin been published?"
## 💬 Questions and Help

If not, what's best practice? Should we roll our own or try to use express body-parser?

Thanks

[2018-11-25 22:31] jsumners commented on #1269
You can simply use the built-in parser (https://www.fastify.io/docs/latest/ContentTypeParser/#body-parser):

[code]

[2018-11-25 22:40] lfurzewaddock commented on #1269
Thanks for the quick response @jsumners. I think it would be worth including your snippet in the docs to avoid people like me looking for a quick fix, asking silly questions. ;-)

[2018-11-25 23:45] jsumners commented on #1269
PRs for improved documentation are always welcome.

[2018-11-26 04:22] ramachandranvenkat opened #1272 "Cannot drag and drop images after html download."
1.  I create template with some blocks and images.
2. once i download to html again i try to do drag and drop of images (insert/update).
I do get error in the browser console as
Uncaught TypeError: Failed to execute 'getComputedStyle' on 'Window': parameter 1 is not of type 'Element'.

I think it's because of jquery, is there any way to fix this issue?

[2018-11-26 04:24] #1272 closed, assigned to nobody

[2018-11-26 08:10] vagisha-nidhi opened #1273 "Test reports are not being published to Azure Pipelines"
Tests are running in the pipeline, but results are not being published for reporting. Azure Pipelines provides excellent reporting capabilities that help you with:

Easy analysis and troubleshooting for failed tests - the test reports show all relevant details (error message, stack trace, failing for how long, etc.) to make it easy to analyze failed tests.
Timing analysis - Test duration informati

[2018-11-26 08:12] mcollina commented on #1273
Sure, PRs are welcomed!

[2018-11-26 09:05] mcollina commented on #1269
Maybe we should just ship this? I don't remember why we shouldn't.

[2018-11-26 11:11] lfurzewaddock commented on #1269
I could publish a plugin if that helps? Otherwise I could just add the snippet to the docs, but most people would abstract that away into a plugin anyway.

Its great that everything is low level and can be customised but something like this may give the wrong impression to new users early on during evaluation that it is just harder to use than you would expect, or worse, that it is unfinished and

[2018-11-26 11:12] mcollina commented on #1269
+1 on having a plugin!

[2018-11-26 11:15] cemremengu commented on #1269
Isn't a plugin somewhat overkill for this? 🤔

[2018-11-26 12:40] cemremengu commented on #1269
@lfurzewaddock I agree with you so I think that we should bake this into the core for convenience, since it's very basic, instead of a plugin. Not sure if this was discussed before, I personally expect the framework to come with batteries-included for these kind of things.

@fastify/fastify  WDYT ?

[2018-11-26 12:41] mcollina commented on #1269
I'm +1 on adding this to core.

@delvedor?

[2018-11-26 16:19] KidkArolis opened #1275 "Expose route pattern for monitoring"
## 🚀 Feature Proposal

Expose the pattern of the route on the request object so that monitoring tools could automatically breakdown data by route.

## Motivation

I was attempting to use `fastify-metrics` which is linked in the Ecosytem page for monitoring my application. I noticed that it's not grouping requests by route pattern. And furthermore, I realised fastify doesn't expose the route patter

[2018-11-26 16:27] frostpuppet opened #1276 "Questions about mounting Express App"
## 👉 [Please follow one of these issue templates](https://github.com/fastify/fastify/issues/new/choose) 👈

#### You have already researched for similar issues?
yes i have similar problems are present but Im looking for more of an example since I cant get things working right.

#### Are you sure this is an issue with the fastify or are you just looking for some help?
https://github.com/fastify/fast

[2018-11-26 16:38] KidkArolis commented on #1275
Ok, nevermind, fastify-metrics is doing it correctly! Phew, it's using the (undocumented?) feature where it grabs reply.context.config.url, which happens to be the pattern. I think I was just being thrown off by hitting a 404.

[2018-11-26 16:42] KidkArolis commented on #1275
Yeah, I was just hitting a 404, which probably shouldn't be labeling metrics with the full URL as well, as that can explode Prometheus. But that's something for the plugin and not for fastify to worry about.

Sorry for a false alarm!

[2018-11-26 16:42] #1275 closed

[2018-11-26 17:14] jsumners commented on #1275
It would be great if you can submit a PR to improve documentation if you have found it lacking.

[2018-11-26 17:29] mcollina commented on #1276
That cannot work. We provide connect-like middleware compatibility. However Express modifies the prototype of the node core Request and Response object heavily, and we cannot guarantee that compatibility.

We should possibly update our docs.

[2018-11-26 17:56] delvedor commented on #1268
Closed in #1270.

[2018-11-26 17:56] #1268 closed

[2018-11-27 09:34] mcollina opened #1278 "Add clarification on where the code for supported lines lives"
We need to amend our README.md or CONTRIBUTING.md to explain that the code for v1 lives in https://github.com/fastify/fastify/tree/1.x.

[2018-11-27 10:01] delvedor commented on #1269
Let's add it to core 👍

[2018-11-27 10:02] delvedor commented on #848
Fastify v2 has just been published :)

[2018-11-27 10:02] #848 closed

[2018-11-27 10:03] delvedor commented on #1256
Fastify v2 has just been published, and the `preValidation` hook with it :)

[2018-11-27 10:03] #1256 closed

[2018-11-27 10:04] cemremengu commented on #1269
@lfurzewaddock would you like to send a PR for this?

[2018-11-27 10:05] delvedor commented on #726
Fastify v2 has just been published, and with it the `querystringParser` option, that will also address this issue :)

[2018-11-27 10:05] #726 closed

[2018-11-27 11:57] KidkArolis opened #1279 "Plugin route prefixing doesn't work in 2.0.0-rc.0"
## 💥 Regression Report

The { prefix: "/prefix" } option has no effect when used in combination with a `fastify-plugin`.

## Last working version

Worked up to version: latest in series 1.

Stopped working in version: 2.0.0-rc.0

## To Reproduce

Try this:

[code]

I have it running over here:
https://glitch.com/edit/#!/roan-echidna

## Expected behavior

Opening `/prefixed/bar` should work, but o

[2018-11-27 12:14] mcollina commented on #1279
prefix never worked with `fastify-plugin`. fastify-plugin skips encapsulation, and prefix will just be a pass-through option.

[2018-11-27 12:16] delvedor commented on #1279
Are you sure this is working in Fastify v1? It should not.
https://www.fastify.io/docs/latest/Routes/#route-prefixing

[2018-11-27 12:51] KidkArolis commented on #1279
🤦‍ Ok, sorry for the noise, I must have just gotten confused when migrating some of my app's code into a module. I wrapped it into a plugin, but probably didn't need to.

Been just learning the framework, wrapping my head around the plugins, scoping, hooks and all that. I switched to v2 to use the new error hook (although I realise I could have probably used the old way to do what I needed).

Anyw

[2018-11-27 12:51] #1279 closed

[2018-11-27 13:14] delvedor commented on #1279
No worries, hope you are enjoying use Fastify! :)

[2018-11-27 13:15] lfurzewaddock commented on #1269
OK @cemremengu, I'll have a look.

[2018-11-27 14:57] lfurzewaddock commented on #1269
@cemremengu, I'm ready to commit my changes but 7 unit tests are failing in pre-commit. These tests (see below) are related to the http2 module and were failing before I made any changes to source, so I believe they are unrelated. I expect they're failing as I'm on Windows 10, but using bash in WSL (Windows Subsystem for Linux).

Will you accept the PR if I force (--no-verify) the commit? I expect

[2018-11-27 15:03] cemremengu commented on #1269
@lfurzewaddock sure, send in the PR for review and we will take a look :)

[2018-11-27 15:17] lfurzewaddock commented on #1269
@cemremengu, PR #1280 ready

[2018-11-27 18:39] thomasyuan commented on #1256
Cool!

[2018-11-29 07:30] greenkeeper[bot] opened #1281 "An in-range update of ajv is breaking the build 🚨"
## The dependency [ajv](https://github.com/epoberezkin/ajv) was updated from `6.5.5` to `6.6.0`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Fajv-6.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ajv is a direct dependency of this project, and **it is very likely

[2018-12-01 09:50] #1206 closed

[2018-12-02 04:03] bgbruno opened #1290 "login with url header"
Hello - I play with fastify and today with auth - and I love that simple code
https://github.com/fastify/fastify-basic-auth

and I want use known format to auto login
http://username:password@example.com

but browser still show me dialog window to username and password

by this it should be achieved by adding authenticate header "WWW-Authenticate: FormBased"
https://stackoverflow.com/a/19102200/13

[2018-12-02 07:48] mcollina commented on #1290
I would recommend not to use basic auth for anything but quick tests.

I don’t know the answer to your question, if you figure it out, let us know and send a PR.

[2018-12-02 11:35] jsumners commented on #1290
I’m fairly sure that format is a browser thing. It should be filling in the `authorization` header accordingly and sending it to the server.

[2018-12-02 11:42] delvedor commented on #1290
@jsumners I think you are right, if you use the WHATWG URL constructor that value will automatically be extracted.

[2018-12-02 14:08] jsumners commented on #1290
Regarding URL formatting:

https://tools.ietf.org/html/rfc3986#section-3.2.1

   deprecated.  Applications should not render as clear text any data
   after the first colon (":") character found within a userinfo
   subcomponent unless the data after the colon is the empty string
   (indicating no password).  Applications may choose to ignore or
   reject such data when it is received as part of a

[2018-12-02 14:08] #1290 closed

[2018-12-02 15:07] lynxionxs opened #1293 "Error: /usr/bin/env: ‘node\r’: No such file or directory"
When installing the cli via npm, ```sudo npm install fastify-cli --global``` and running ```fastify generate``` i get the following error ```/usr/bin/env: ‘node\r’: No such file or directory```
What is wrong?

OS: Ubuntu 18.04
NPM VERSION: v5.4.2
NODE VERSION: v8.7.0

[2018-12-02 15:34] cemremengu commented on #1293
This issue should be moved to `fastify-cli`

@mcollina I think we should remove [this line](https://github.com/fastify/fastify-cli/blob/f34ed67536505a144f70074ad0a4c51e14093998/cli.js#L1) completely since it changes between different environments

[2018-12-02 15:47] cemremengu commented on #1293
Continued in https://github.com/fastify/fastify-cli/issues/138

[2018-12-02 15:47] #1293 closed

[2018-12-02 16:05] lynxionxs commented on #1293
I cannot remove that line . I dont know where that package is installed to

[2018-12-02 16:08] mcollina commented on #1293
I think a \r slipped in somehow. Use dos2unix to convert and fix it (and test on a Linux system).

That line is necessary.

[2018-12-02 16:14] lynxionxs commented on #1293
Thats crazy. All the files have windows line endings

[2018-12-02 16:18] cemremengu commented on #1293
@lynxionxs yet it is :) patch coming in

[2018-12-02 16:19] lynxionxs commented on #1293
@cemremengu ok good

[2018-12-02 16:36] lynxionxs commented on #1293
I changed all the fastify-cli files line endings to Unix. Only the node_modules directories kept the Unix line endings. It is now working when i do ```fastify generate```

[2018-12-02 22:40] bhavayAnand9 opened #1295 "error while installing"
I was installing fastify globally and at the end, it looks like it got installed successfully but there are some errors logs in between.

[code]
node version: 11.1.0
npm version: 6.4.1

Thanks

[2018-12-02 23:10] cemremengu commented on #1295
Could you please open this issue under `fastify-cli` repo?

[2018-12-02 23:10] #1295 closed

[2018-12-03 08:47] #1246 closed

[2018-12-03 13:10] evheniy opened #1297 "YEPS benchmark"
Hi

I tested with my own framework and I got an interesting results:

$ autocannon -c 100 -d 5 -p 10 localhost:3000
Running 5s test @ http://localhost:3000
100 connections with 10 pipelining factor

[code]

Req/Bytes counts sampled once per second.

243k requests in 5.06s, 28.5 MB read

and test:

[code]

Could you please add it to your benchmark.
Thank you!

[2018-12-03 13:15] mcollina commented on #1297
Please send a PR to https://github.com/fastify/benchmarks. We list only a subset of the frameworks in the readme.

[2018-12-03 13:15] #1297 closed

[2018-12-03 15:05] evheniy commented on #1297
I created a PR
https://github.com/fastify/benchmarks/pull/82

[2018-12-04 07:03] evheniy opened #1298 "Apache benchmark apr_socket_connect"
Hi

When I try to run apache benchmark I see an error:

[code]

And test:

[code]

[2018-12-04 08:30] mcollina commented on #1298
Here is the code we use for plain http: https://github.com/fastify/benchmarks/blob/master/benchmarks/bare.js.
As you can see, you are not calling JSON.stringify, nor writing the full content-type.

The benchmarks are independently maintained, and they are not run by anybody on the fastify team. They have also been validated by the maintainers of other frameworks.

Please open an issue there.

[2018-12-04 08:30] #1298 closed

[2018-12-05 04:32] dashie opened #1300 "Wrap JSON response"
## 💬 Wrap JSON response

I need to wrap any JSON response in a standard and known schema like this:

[code]

How can I implement this? There is any hook that give me the possibility to wrap the response without deserializing and re-serializing it?

[2018-12-05 05:11] 0xsuid commented on #1278
Created pull request to fix this #1301 :)

[2018-12-05 08:18] cemremengu commented on #1300
I would suggest to override the reply serializer https://www.fastify.io/docs/latest/Reply/#-serializer-func-

@mcollina I remember there was a global way for this but couldnt see it in the docs now

[2018-12-05 10:55] AsimRamay opened #1302 "SyntaxError: Unexpected token P in JSON at position 0"
hi , i m new to fastify , im getting a SyntaxError: Unexpected token P in JSON at position 0 - 500 (Internal Server Error)
im using fastify-postgres and pg native (tho ive tried turning this off and there is no change)

i think ive misunderstood something when it comes to doing a PUT request

{"level":30,"time":1543981552459,"msg":"incoming request","pid":29156,"hostname":"AsimPC","reqId":1,"req":

[2018-12-05 10:59] mcollina commented on #1302
Can you add:

1. the full stacktrace
2. a full example to reproduce

[2018-12-05 11:17] delvedor commented on #1302
Quick tip, you don't need to use `decodeURIComponent`, we are already doing it for you internally, and with super performances! :)

[2018-12-05 11:36] AsimRamay commented on #1302
**Console Output**

{"level":30,"time":1543981542855,"msg":"Server listening at http://127.0.0.1:3101","pid":29156,"hostname":"AsimPC","v":1}
server listening on 3101
{"level":30,"time":1543981552459,"msg":"incoming request","pid":29156,"hostname":"AsimPC","reqId":1,"req":{"id":1,"method":"PUT","url":"/Customers/Update/62960/Wecare%20NSW%2F/Fred%20Ridgeway-Right/32%20Saint%20Andrews%20Street%20Mai

[2018-12-05 11:38] AsimRamay commented on #1302
ahh ok ill change that i didn't originally have it but i added it thinking maybe my url was cuasing missformed sql or something so just added it in chase that was the problem

[2018-12-05 18:29] lynxionxs opened #1304 "Multiple requests issue"
When i run any route on fastify there are 3 requests made to the same route, each with different ```"reqId": x```
Even a simple Hello World it happens.
I tried reinstalling fastify but the issue persists.
I tried different browsers like Chrome, Firefox, Opera, and curl , the issue remains.

When i created a route to add something to the database that query was called 3 times
When i use the Fastifi

[2018-12-05 18:47] delvedor commented on #1304
Hello! This is the correct behavior, the request id does not identify the route, but the single request :)
If you need custom id generation, you can use the [`genReqId`](https://www.fastify.io/docs/latest/Server/#genreqid) option :)

[2018-12-05 19:11] lynxionxs commented on #1304
@delvedor  Even with the ```genReqId``` the same request is still run 3 times. When i do ```/user/add``` that query is run 3 times, 3 different records are created in the database

[code]

[2018-12-05 19:14] mcollina commented on #1304
Are you sure your browser is not actually doing 3 requests for some reasons?

Have you tried with postman or curl?

[2018-12-05 19:18] lynxionxs commented on #1304
@mcollina on Curl and postman the request runs only once.  But when i run in any browser Firefox, Chrome, Opera address bar it makes 3 requests. Not sure whats going on. On Express it works as expected there

[2018-12-05 19:44] cemremengu commented on #1304
@lynxionxs I tried your code and couldn't reproduce the issue using chrome, it works fine

[2018-12-05 20:04] lynxionxs commented on #1304
@cemremengu it seems the duplicate requests is a chrome only issue. After reinstalling the other browsers works correctly now. So its not a Fastify issue. Thanks guys

[2018-12-05 20:04] #1304 closed

[2018-12-05 22:59] smartiniOnGitHub opened #1305 "Add some helper (getter) functions to request, for Fastify v2"
## 🚀 Feature Proposal

Add some useful get function (already present in reply) even in request.

## Motivation

In response/reply there are some utility functions like `getType` (to get the content-type), `getHeader` and `hasHeader` to get/check for a specific header ... so do you think it makes sense to have them even in request (for v2.x) ?

Sometimes I use and could be useful to have, even to b

[2018-12-06 03:31] greenkeeper[bot] opened #1306 "An in-range update of tiny-lru is breaking the build 🚨"
## The dependency [tiny-lru](https://github.com/avoidwork/tiny-lru) was updated from `4.0.3` to `4.0.4`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Ftiny-lru-4.0.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tiny-lru is a direct dependency of this project, and **

[2018-12-06 05:50] AsimRamay commented on #1302
for 2, did i need something more than the section of code i used or is what i posted above enough ?

[2018-12-06 06:50] PranjalAgni opened #1307 "Fastify.use() to define the routes."
## Using fastify.use() to define routes.
Hii there 😃, I was playing  with Fastify, and  I wanted to do something like
`fastify.use('/mail', require('mail-service.js'));`

Such that all the type of requests starting from endpoint ( '/mail' ) go to the 'mail-service' file as we can do in express. How can we achieve this in fastify.

I tried  to do that using fastify.use() but it's not working.

[2018-12-06 07:59] delvedor commented on #1307
Hello!
If your need is to prefix all the routes registered inside `require('mail-service.js')` with `/mail`, you can do that with the [route prefix](https://www.fastify.io/docs/latest/Routes/#route-prefixing) :)

[code]
[code]

Now all the routes registered inside `mail-service.js` will be reachable with `/mail/...` :)

[2018-12-06 08:02] mcollina commented on #1302
It’s a problem either in fastify-postgres or in the pg library itself. There is an error that is happening on the error path.

I’d recommend to use a the inspector/debugger and find out exactly what is the issue.

[2018-12-06 09:36] cemremengu commented on #1306
Flaky CI

[2018-12-06 09:36] #1306 closed

[2018-12-06 10:44] mcollina commented on #1302
I'll move this to fastify/help, you can keep using this issue.

[2018-12-06 11:01] mcollina commented on #1305
I think this is already part of [fastify-sensible](https://github.com/fastify/fastify-sensible#requestis). Do you think we should promote that module more?

[2018-12-06 11:05] delvedor commented on #1305
I agree with @mcollina, `fastify-sensible` is already providing many of this features, and we will continue to do so. Fastify core should provide a lightweight API, while plugins should enrich it.

Probably we can advertise `fastify-sensible` better.

[2018-12-06 12:03] smartiniOnGitHub commented on #1305
@mcollina @delvedor ah ok, good to know :-) ... I agree that some more info on `fastify-sensible` could be useful. Thanks again. Now I close the issue.

[2018-12-06 12:03] #1305 closed

[2018-12-06 15:43] lynxionxs opened #1308 "Errors not logged to file"
When i add the ```file:``` option to the logger it does'nt log to a file
v1.13.1
[code]

[2018-12-06 15:58] #1307 closed

[2018-12-06 16:04] cemremengu commented on #1308
It should be `request.log` see https://www.fastify.io/docs/v1.13.x/Logging/

[2018-12-06 16:06] jsumners commented on #1308
Where did you learn that `file` is a valid configuration option? It is not as far as I am aware.

[2018-12-06 16:08] lynxionxs commented on #1308
@cemremengu even with ```request.log``` it does'nt output to the file , just the console

[code]

[2018-12-06 16:09] lynxionxs commented on #1308
@jsumners https://github.com/fastify/fastify/blob/master/docs/Logging.md

[2018-12-06 16:23] jsumners commented on #1308
Those docs are invalid. Pino has never accepted a `file` option. You can pass a stream that writes to a file, though.

[2018-12-06 16:32] lynxionxs commented on #1308
@jsumners i still cant get it to log errors to file with @cemremengu 's link
[code]

[2018-12-06 16:46] jsumners commented on #1308
You passed a function, not a stream for the `stream` parameter. That is not valid.

Please review the Pino 4.x.x documentation if you are using Fastify 1.x -- https://github.com/pinojs/pino/blob/v4.x.x/docs/API.md

Or the Pino 5.x.x documentation if using Fastify 2.x -- https://github.com/pinojs/pino/blob/a871790f882e4853b2b2d20c158740318544cd74/docs/api.md

[2018-12-06 16:57] cemremengu commented on #1308
@jsumners Strange, a few days ago exactly this section was updated via #1292

[2018-12-06 17:07] lynxionxs commented on #1308
I can't get this to work . It's so simple but you made it complicated. An option like ```{ logFile: "/path/to/logfile.log" }``` would be better.
Can i create a file logger into Fastify namespace like, ```fastify.myLogger.log("message...")``` to use it anywhere in the application ?

[2018-12-06 17:16] jsumners commented on #1308
https://github.com/fastify/fastify/blob/b8de32b1dd1ad2524f93ac04e7f41dca453a922a/package.json#L121

Fastify v1 uses Pino v4. Pino v4 only accepts custom streams.

Fastify v2 uses Pino v4. Pino v4 supports a `destination` parameter than can be a string to a file path -- https://github.com/pinojs/pino/blob/a871790f882e4853b2b2d20c158740318544cd74/docs/api.md#destination

Now that I'm at a computer i

[2018-12-06 17:47] lynxionxs commented on #1308
@jsumners even with Fastify v2 and Pino v5 i cannot figure out how to connect the Pino logger to fastify stream

[code]

[2018-12-06 17:51] jsumners commented on #1308
In that example you created a completely new Pino instance and passed it as the stream. That is incorrect. You would:

[code]

[2018-12-06 18:00] lynxionxs commented on #1308
@jsumners i did it like this. It works good now , thanks :)
[code]

[2018-12-06 18:01] #1308 closed

[2018-12-07 23:10] yadroRus opened #1310 "Problems with dynamic URLS binding (url="/*") to the single handler function"
## 💬 Problems with dynamic URLS binding (url="/*") to the single handler function

### Hi there! Thanks for bringing fastify in the World!

I'm trying to achieve a dynamic URLs binding by the values i get from DataBase (DB).
### Example:
We have a site with news, each news has a _**server URL**_ and _**human friendly URL**_ (stored in DB).
	_**SITE.com/news1**_  - server URL (has route in applicat

[2018-12-08 11:06] mcollina commented on #1310
All lifecycle should happen for 404s.
Can you please upload a full example that shows what is not run?

This should be the preferred way. Can you please upload a full example that shows how?

[2018-12-08 18:59] yadroRus commented on #1310
As i found during creation an example, the root of the problem was **fastify-static** plagin and it's option - **prefix** (by default it's '/'). this plagin has a code:
[code]
which breaks creating a custom GET route with '/*' URL. Workaround is adding prefix different than '/' to above plagin, but in that case we have too add for each static resource in markup this prefics too -> increase html si

[2018-12-08 19:01] #1310 closed

[2018-12-09 20:56] xyz-mtl opened #1312 "Fastify-Cron"
Some Nodejs framework have a Scheduler (cron) component.
It's very interesting to process "something" in a background process.

Can you add this part as a new plugin 🚀 , please ?

Thank you

[2018-12-09 21:09] mcollina commented on #1312
Thanks! I’ve tagged this as good first issue, if you or anybody else would like to give a writing this new plugin a shot, let us know!

[2018-12-10 08:48] lynxionxs commented on #1312
Something like Node-Cron https://www.npmjs.com/package/node-cron. Or wire node-cron into a fastify plugin

[2018-12-10 09:12] StarpTech commented on #1312
In which way is a scheduler related to a http framework? I'm not happy to manage such requests it will lead to much noise and it could encourage people to focus on fastify only instead to write and practice modular software.

[2018-12-10 09:16] mcollina commented on #1312
I agree with you. However, if somebody write that plugin and maintains it outside of this org, I don’t see any issue. I’m happy to review it in fact.

[2018-12-10 11:09] #1249 closed

[2018-12-10 23:45] xyz-mtl commented on #1312
@StarpTech & @mcollina 👍  Good point but my main idea is to process background task without impact on any http request.
[https://docs.totaljs.com/latest/en.html#api~Framework~F.worker](url) An example with Totaljs.

[2018-12-10 23:47] xyz-mtl opened #1314 "To Do List example"
Hi,
💬 Do we have a To Do List example using Fastify with Rest API ?
Thank you

[2018-12-11 06:42] cemremengu commented on #1314
There is a `twitter` example available https://github.com/fastify/fastify-example-twitter

[2018-12-11 07:30] mcollina commented on #1314
Would you like to work on it @xyz-mtl?

[2018-12-11 08:39] mcollina commented on #1312
How does this relate to Fastify? Fastify is a web framework.

Can you make an example of the API you'd like to have?

[2018-12-11 08:52] StarpTech commented on #1312
More interesting, what kind of tasks are you trying to execute? A cron which managed IO stuff like requesting other services or CPU intensive tasks? In the second case node is a bad choice because it's single threaded.

https://link.medium.com/mmlvWzbzyS

[2018-12-11 09:18] cemremengu commented on #1312
I am assuming they are looking for functionality like https://github.com/eggjs/egg-schedule/blob/master/README.md

I personally used this in the past and I think it is not a good idea

[2018-12-11 11:01] MaxVinogradov opened #1316 "Response payload in default pino logger"
##  Hi! How can I log response payload using default pino logger?

##### For now I have next config:

[code]

Thanks!

[2018-12-11 11:08] mcollina commented on #1316
Does that not work?

[2018-12-11 13:59] MaxVinogradov opened #1317 "Run Fastify in AWS Lambda"
## How can I run Fastify in AWS Lambda?

For now I'm using `aws-serverless-express`, with next code:

[code]

Then I run serverless-local, send request to endpoint, and see ` !!!###`, but I haven't any response.
+  I see warning in the console:
[code]

Could you please check, what's wrong?

[2018-12-11 14:02] MaxVinogradov commented on #1316
@mcollina

For now req works correctly, but I need to show response info - payload, headers, etc.

[2018-12-11 14:02] mcollina commented on #1317
There is no mention of `user-news` in your example.

@lmammino should be working on some docs on how to run fastify on lambda. What's the status of that?

[2018-12-11 14:03] MaxVinogradov commented on #1317
Sorry, small code update, but it still not working!
[code]

[2018-12-11 14:03] mcollina commented on #1317
Have you tried

[code]

[2018-12-11 14:03] MaxVinogradov commented on #1317
const awsServerlessExpress = require('aws-serverless-express')
const Fastify = require('fastify')

const fastify_app = Fastify({
  serverFactory: function (handler) {
    return awsServerlessExpress.createServer(handler)
  }
})

fastify_app.get('/1',  (req, reply) => {
  console.log('!!!###');
  return reply.send({ hello: 'world' });
});

exports.handler = async (event, context) => {
  await fasti

[2018-12-11 14:04] MaxVinogradov commented on #1317
Wait a moment, please

[2018-12-11 14:06] MaxVinogradov commented on #1317
[code]

[2018-12-11 14:11] MaxVinogradov commented on #1317
Just tried next:
[code]

The same result - no response

[2018-12-11 14:12] MaxVinogradov commented on #1317
@mcollina it's only lambda endpoint name in serverless  framework

[2018-12-11 21:59] greenkeeper[bot] opened #1318 "An in-range update of pino is breaking the build 🚨"
## The dependency [pino](https://github.com/pinojs/pino) was updated from `5.9.0` to `5.10.0`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Fpino-5.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pino is a direct dependency of this project, and **it is very likely

[2018-12-11 22:05] delvedor commented on #1318
Flaky build.

[2018-12-11 22:05] #1318 closed

[2018-12-11 22:54] MaxVinogradov commented on #1317
Strange, but works correctly
[code]
+

[code]
@mcollina Thank you, but maybe it will be great to add this into the docs.

[2018-12-11 22:55] #1317 closed

[2018-12-11 22:59] cemremengu commented on #1317
@MaxVinogradov would you like to send a PR for adding this to docs?

[2018-12-12 00:02] xyz-mtl commented on #1312
@mcollina : Quick example:
During the signup of new user, you can start a background process to send an email to confirm the account.

@StarpTech : kind of tasks:
- email confirmation
- security process
- database process : rebuild index ...
- archive files expired
- ...

[2018-12-12 00:04] xyz-mtl commented on #1314
Good example using services but for the beginner may be an example less complex is welcome. 👍

[2018-12-12 01:21] jsumners commented on #1312
Seems like a separate, queue backed, service to me.

[2018-12-12 07:35] MaxVinogradov commented on #1317
@cemremengu okay, I'll try to add it later

[2018-12-12 08:09] greenkeeper[bot] opened #1319 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `12.1.0` to `12.1.1`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Ftap-12.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not break yo

[2018-12-12 08:39] mcollina commented on #1312
Can you make an example with code?

[2018-12-12 09:10] mandaputtra commented on #262
Error happen even if a fuction with fastify-cli?

db-connector.js
[code]
app.js
[code]

[2018-12-12 09:16] mcollina commented on #262
It shouldn't happen. Can you upload a full project that shows the behavior?

[2018-12-12 09:19] cemremengu commented on #1317
@jsumners Maybe we should a have FAQ for these kind of info that we don't want to add to docs but still want to keep around for referencing later if needed?

[2018-12-12 11:26] #1276 closed, assigned to nobody

[2018-12-12 12:06] jsumners commented on #1317
Yes, that would be appropriate.

[2018-12-12 18:16] mcollina commented on #1316
You'll need to add a `res` serializer:

[code]

[2018-12-12 18:17] mcollina commented on #1316
Would you like to send a PR to https://github.com/fastify/fastify/blob/master/docs/Logging.md to add an example?

[2018-12-13 10:03] arniu opened #1321 "`@types/pino` should not be in `dependencies`"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2018-12-13 10:19] mcollina commented on #1321
Can you please articulate why?

[2018-12-14 01:06] corbinu commented on #1321
@mcollina I don't believe this is true. The fastify types reexport the pino.Logger so it should be a dependency as it is now.

[2018-12-14 05:00] evanshortiss commented on #1321
+1 for @corbinu. This [SO post](https://stackoverflow.com/questions/45176661/how-do-i-decide-whether-types-goes-into-dependencies-or-devdependencies) explains it.

[2018-12-14 08:05] fralonra opened #1324 "Doc: add Errors.md to the document content"
Since we have a good article about error codes, why don't we just add [this doc](https://github.com/fastify/fastify/blob/master/docs/Errors.md) to the content of document and let all users know about it?

[2018-12-14 08:07] mcollina commented on #1324
I don't understand what you would like to do?

Can you add a link to Errors.md in the Readme https://github.com/fastify/fastify#documentation?

[2018-12-14 09:10] cemremengu commented on #1269
Landed in #1280

[2018-12-14 09:10] #1269 closed

[2018-12-14 09:15] #1281 closed

[2018-12-14 11:07] poppinlp commented on #1324
I guess what he wanna do is to add an error codes doc in [this table](https://www.fastify.io/docs/latest/). :)

[2018-12-14 11:10] mcollina commented on #1324
I think that's picked up from the README.

[2018-12-14 11:10] mcollina commented on #1324
cc @lmammino

[2018-12-14 12:31] fralonra commented on #1324
What I mean is to add a link to README

[2018-12-14 12:32] marcobiraghi opened #1325 "Response validation error breaks reply lifecycle"
## 🐛 Bug Report

If response validation fails, `reply.send()` will thrown an Error (as expected), but the error is not handled by Fastify and it breaks the response lifecycle.

This is the code of `reply.send`. I commented the 2 important lines.

[code]

When `serialize(this.context, payload, this.res.statusCode);` throws an error, `onSendHook` is never called, but `this.sent` remains `true`. This

[2018-12-14 12:36] mcollina commented on #1325
Would you like to send a PR to fix this bug?

[2018-12-14 12:50] cemremengu commented on #1324
@fralonra would you like to send a PR for it?

[2018-12-14 13:02] fralonra commented on #1324
@cemremengu Sure https://github.com/fastify/fastify/pull/1326

[2018-12-14 13:15] marcobiraghi commented on #1325
@mcollina yes, sure 😃

[2018-12-14 23:23] mcollina opened #1329 "Document the use of fluent-schema"
We are receiving some questions about JSON schema in gitter and github. I think it’s time we start documenting:

https://www.npmjs.com/package/fluent-schema

in this repo. I think it has a more mnemonic API.

[2018-12-15 07:13] Sanjayjeyavel commented on #1136
Hey guys! I would like to work on this. My understanding is that we need to create a new plugin that will parse all requests with jitson. Is there anything else I need to be aware of before getting started?

[2018-12-15 12:04] delvedor commented on #1136
@Sanjayjeyavel thanks! Nope, you are free to go :)
You can use a [custom content type parser](https://www.fastify.io/docs/latest/ContentTypeParser/) and it should work! :)

[2018-12-15 13:09] StarpTech commented on #1312
@xyz-mtl @jsumners has right. You need delivery guarantee. I can recommend https://github.com/nats-io/node-nats-streaming I have really good experience with that and it is much easier to maintain in comparison with a rabbitmq cluster. You can use it directly in your handlers. You don't need to create a separate api.

[2018-12-15 15:26] mcollina opened #1330 "Do not allow the `reply.sent` property to be overwritten"
Currently we allow the reply.sent property to be overwritten by a user.
it should be protected by a getter, and accessed directly via a symbol inside `Reply`.

This will likely conflicting with: https://github.com/fastify/fastify/pull/1328, so let's wait for that to land.

I propose we land this in v2.0.0-rc.3.

[2018-12-15 16:41] StarpTech opened #1331 "Provide a fastify plugin readme template"
This is an rudimentary example. The good part is almost everything can be generated automatically.

---
# {NAME}

Short description of the purpose of your plugin.

## Install

[code]

## Example

[code]

## Plugin

### Encapsulated
- [X] Yes

### Decorators

#### Fastify
(Is defined in typescript because it's well known and easy to write.)
- `hello(name: string): void`
#### Reply
- `hello(name: st

[2018-12-15 18:03] mcollina commented on #1330
https://github.com/fastify/fastify-react/pull/46#issuecomment-447586644

[2018-12-15 18:39] millette commented on #1330
For reference, `reply.sent = true` is used in the [nextjs fastify example](https://github.com/zeit/next.js/blob/canary/examples/custom-server-fastify/server.js).

[2018-12-15 21:09] mcollina commented on #1331
Definitely +1. Should we should provide this as part of a template repo, or in the docs of this one?

[2018-12-16 10:17] delvedor commented on #1331
I like the idea of a template repo a lot 👍.

[2018-12-16 10:41] StarpTech commented on #1331
@mcollina I would like to provide it as a command in fastify-cli

[2018-12-16 10:47] StarpTech commented on #1331
Something like

[code]

which has to be executed inside the plugin repository and it will use all plugin and package metadata to generate the readme.

[2018-12-16 10:52] mcollina commented on #1331
IMHO even better, generate-plugin ;)

[2018-12-16 15:44] xyz-mtl commented on #1314
May be we can create a new resource page as https://github.com/feathersjs/awesome-feathersjs/blob/master/README.md#examples

More example using the framework can be useful...

[2018-12-16 23:57] goliatone commented on #791
I'm hitting a similar scenario while load testing my project with:
`npx autocannon -c 100 -d 5 -p 10 localhost:3003`

Error:
[code]
node: v9.2.0
npm: 5.5.1

My code is a bit more involved because I'm embedding Fastify in a bigger application. The Fastify code only has one router tho:
[code]

[2018-12-17 08:34] goliatone opened #1332 "Memory leak with 1.13.2"
## 🐛 Bug Report

Memory leak under load testing. Error:

[code]

## To Reproduce

[code]

The Fastify router:

[code]
## Environment

- *node*: v9.2.0
- *npm*: 5.5.1
- *fastify*: ^1.13.2
- *fastify-static*: ^1.0.0
- *os*: Mac

[2018-12-17 08:38] cemremengu commented on #1332
I didn't test but suspecting whether this can be due to node `v9.2.0` (regardless of this please note that Fastify only *officially* supports LTS releases of nodejs)

[2018-12-17 08:50] mcollina commented on #1332
Node 9 is not supported by Node.js anymore. However we support it, mainly because it was released during our LTS cycle. This means we support the latest (ever) version of Node.js 9, which is 9.11.2. I would recommend you to upgrade to the latest Node 10 anyway (10.14.2), as it contains some important security vulnerabilities fix.

Can you please provide a full example to reproduce it? A github rep

[2018-12-17 11:48] #1324 closed

[2018-12-17 16:36] piranna opened #1333 "Multi-level routes"
Disclaimer: fastify newcomer here.

With Express, I use to have a similar scheme as Fastify router plugins, where I write a module that export a `Router` middleware, and later with `.use()` I can be able to define the path where to mount it. I can use parametriced routes too with the [mergeParams](http://expressjs.com/es/4x/api.html#express.router) option, so I can have a multi-level decoding of t

[2018-12-17 17:48] StarpTech commented on #1331
I created a PR https://github.com/fastify/fastify-cli/pull/144

[2018-12-17 20:10] delvedor commented on #1333
Hello!

Can you provide an example to replicate the issue?

You should be able to add url parameters in the `prefix`:
[code]

[2018-12-17 20:15] piranna commented on #1333
A repo or something? My current code is fairly initial, I think I could try to arrange something and see if I can create one to replicate and isolate it...

That was exactly what I was doing when I got the crash... :-( Does it pass the `id` param to all `./route` handlers?

[2018-12-17 20:18] delvedor commented on #1333
A repo is ok as well :)

Yes, as you can see here, we have a test that verifies that: https://github.com/fastify/fastify/blob/1ad553df56f6833048a7e105fb500ac6db60ce2f/test/route-prefix.test.js#L120-L138