[2020-05-09 09:19] mcollina commented on #2272
There are a lot of different ways to give good feedback and ask for a feature, and this was definitely not one.

This is dismissive of all the work that is needed to build and maintain a production-grade proxy. Again, I urge you to reflect on this sentence and how you could have framed this better. I know how much time I spent on getting it done and I know how much time http-proxy took to be devel

[2020-05-09 11:39] #2272 closed

[2020-05-09 12:12] rtatarinov commented on #2253
I have same problem with node 12.16.3. Could you help me with this problem?

[2020-05-09 15:31] Eomm commented on #2250
Thanks for taking care of it!

Avvio has been released 👍

[2020-05-09 15:40] Eomm commented on #2265
Updated first post with files checklist

[2020-05-09 17:48] mcollina commented on #2250
I think this can be closed @Eomm

[2020-05-09 17:48] #2250 closed

[2020-05-10 12:46] joobisb commented on #2217
@mcollina i've updated it for fastify-elasticsearch please have a look
https://github.com/fastify/fastify-elasticsearch/pull/28

[2020-05-10 22:31] ivandevp commented on #2265
Can I help with the update in main `README.md`?

[2020-05-11 04:05] kjmph commented on #2261
I found the time to read through the code. One may be able to devise the ability to recognize when the child of the currentNode is a '/' prefix, indicating the optional trailing slash in the radix tree. Then, we can fix up the path to supply `/goodkey/self` to the parametric matching, thusly achieving `goodkey` for the `:key` parameter.

However, we can easily devise a route tree that defeats this

[2020-05-11 05:45] mcollina commented on #2261
I would recommend 1, e.g. the docs path.

The router is greedy because speed and we did not add backtracking because it will definitely cost precious CPU time and memory. If it’s possible to add it without a decrease in throughput, it’s definitely a better fix.

[2020-05-11 05:49] mcollina commented on #2265
Sure, go ahead!

[2020-05-11 05:49] kjmph commented on #2261
Would you like to see a proposed fix for simply catching the additional `/` in the filed bug? I don't win awards for cleanliness, however, it does give you the idea:

[code]

[2020-05-11 05:51] kjmph commented on #2261
Note, I'll ponder the backtracking speed, yet no promises I'll find the time to think through it. Do you want to handle the README update? Or, shall I open a pull request for that change in `find-my-way`?

[2020-05-11 06:44] mcollina commented on #2261
If you can send a PR for the README update it would be fantastic. Also here in Fastify. You have a clear understanding of the problem and you would really provide a much better explanation.

[2020-05-11 12:29] xnerhu commented on #1022
Same with Node `v12.16.3` on Windows.

[2020-05-11 12:34] mcollina commented on #1022
Very likely it’s a different bug or you are doing something odd on your end.

[2020-05-11 15:33] mcollina commented on #2217
Removing good-first-issue label because it's mostly done.

[2020-05-11 17:58] mcollina commented on #2056
I've updated the plan at the top. I think we are close to release, so if there are things you'd like to look into it's time.

[2020-05-11 20:03] ronag commented on #2253
@mcollina: Would it be possible to use async hooks to get the stack from the point where `destroy` was invoked for these kind of errors? Would make these things easier to debug.

[2020-05-11 20:07] ronag commented on #2253
As far as I can see the only path where we don't register an error handler is https://github.com/nodejs/node/blob/master/lib/internal/http2/core.js#L2838. But I'm sceptical whether that is relevant in this case...

[2020-05-11 20:10] ronag commented on #2253
@rtatarinov can you try node v14 as well? We did some change to how errors are propagated from stream_base_commons which might make a difference.

[2020-05-12 19:47] rtatarinov commented on #2253
So, I seem I found problem, It's problem only `alpine` version. I use node 12.16.3 and it's work 3 days already without errors) I think, I will close this issue, because this problem resolved for me.

[2020-05-12 19:47] #2253 closed

[2020-05-14 10:39] nsisodiya commented on #2173
I love fastify. Deno is really cool. I don't think, porting to deno will be hard because deno support typescript and await is first class.

[2020-05-14 10:40] nsisodiya commented on #2173
I request to keep the issue open.

[2020-05-14 10:52] mcollina commented on #2173
It would be extremely hard to port. We are leveraging Node.js APIs everywhere, across all of our dependencies.

I might be considering it if you have a significant budget to invest in making it happen.

[2020-05-14 13:48] ahgentil opened #2279 "Can't getSchema() even though getSchemas() "has it""
## 🐛 Bug Report

Schema added inside plugin can't be fetched using getSchema('someid')

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

A clear and concise description of what you expected to happen.

[code]

## Your Environment

- *node version*: 12
- *fastify version*: >=3.x
- *os*: Mac

[2020-05-14 14:56] mcollina commented on #2279
Good spot @ahgentil! Would you like to send a us a PR?

[2020-05-14 19:44] #2279 closed

[2020-05-15 16:18] irvifa commented on #935
By default `fastify` will bind to localhost, so we should mentioned `0.0.0.0` explicitly. See:

[code]

In this [link](https://www.fastify.io/docs/latest/Getting-Started/#your-first-server)

[2020-05-15 16:30] jsumners commented on #935
Sorry, what are you asking?

[2020-05-16 04:09] patarapolw opened #2281 "Failed building the schema for ONLY RESPONSE. due error Cannot find reference 'definitions'"
## 🐛 Bug Report

Failed building the schema for ONLY RESPONSE. due error Cannot find reference 'definitions'

## To Reproduce

This works

[code]

But not this,

[code]

## Expected behavior

Should work without errors.

## Your Environment

- *node version*: 12
- *fastify version*: 2.14.1
- *os*: macOS Catalina

[2020-05-16 09:02] Eomm commented on #2281
Please, provide a minimal reproducible example with the issue or we are unable to help you

[2020-05-16 09:47] bln7 opened #2282 "fastify.setErrorHandler is not working."
## 💥 Regression Report

fastify.setErrorHandler  is not working.

## Last working version

That's my first version. I'm new guy here.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

didn't catch the Error

[code]

## Your Environment

- *node version*: 10, 16, 0
- *fastify version*: >=2.0.0
- *os*:Windows

[2020-05-16 09:53] Eomm commented on #2282
I think you have fastify-sensible installed, if so, you should register it like this

[code]

Because it is hiding your error handler.

Moreover, you should throw error `throw new Error('my error!')` in async functions

[2020-05-17 08:17] joobisb commented on #2265
@Eomm @mcollina
i've raised PR for the rest of the pending docs..seems like build is failing could you please help me to figure this out

[2020-05-17 13:58] mcollina commented on #2265
It’s done

[2020-05-17 13:59] #2265 closed

[2020-05-18 10:52] sarfarazengglb opened #2285 "EC2 Hosting"
## 🐛 Bug Report

I have hosted Simple Fastify App running on port 3000 in EC2 server it is working fine within server.However it is not accessible from Outside.All the Port are open and Security Group Configured properly.To verify i hosted sample nodejs app with same port in express it was working fine and Website was avaliable from outside at port 3000
## To Reproduce

Steps to reproduce the beha

[2020-05-18 11:16] Eomm commented on #2285
You need to specify `0.0.0.0` https://github.com/fastify/fastify/blob/master/docs/Server.md#listen

[2020-05-18 11:24] sarfarazengglb commented on #2285
Thank you for your response.It was mistake from my side.

The above examples, and subsequent examples in this document, default to listening only on the localhost 127.0.0.1 interface. To listen on all available IPv4 interfaces the example should be modified to listen on 0.0.0.0 like so:

fastify.listen(3000, '0.0.0.0', function (err, address) {
  if (err) {
    fastify.log.error(err)
    process.e

[2020-05-18 11:24] #2285 closed

[2020-05-18 18:09] digitalmio opened #2287 "Add `preRouting` hook to allow URL rewriting"
## 🚀 Feature Proposal

Add `preRouting` hook in order to modify the original Node req.url object. This will allow to create route rewrite.

## Motivation

Discussed on the `find-my-way` repo: https://github.com/delvedor/find-my-way/issues/150
This hook will allow to change native `req.url` object and in the long run, rewrite URLs. This is technique used in Express. Example middleware: https://gith

[2020-05-18 20:36] mcollina commented on #2287
Unfortunately it will not be possible to add it as a hook, but rather something like:

[code]

[2020-05-19 07:39] moeinrahimi commented on #2024
I had this issue on 2.11.0, updating to higher version solved it.

[2020-05-19 09:39] mcollina commented on #1503
This is done in v3.0.0-rc.1 and following, closing.

[2020-05-19 09:39] #1503 closed

[2020-05-19 13:49] robcresswell opened #2288 "Possible type regression from v2 to v3"
## 💥 Regression Report

It appears that the type definition for route handlers (`RouteHandlerMethod` in v3) no longer has a binding for `this`. I may be entirely misunderstanding the new types though; the abundance of generics is quite clever, but a little hard to quickly grasp.

## Last working version

Worked up to version: 2.14.1

Stopped working in version: 3.0.0-rc.2

## To Reproduce

This is

[2020-05-19 13:53] robcresswell commented on #2288
Please let me know if I've been unclear or missed anything; or indeed if you have any recommendations on improving what I've done! I've grown fond of centralising my route definitions and then putting the handlers in separate files, which results in the code above.

And finally, thanks so much for the work on Fastify and v3! Aside from the above bug, it cleared up all the minor issues I had with v

[2020-05-19 14:05] mcollina commented on #2288
We are glad to ear!

[2020-05-19 15:40] zmeyc opened #2289 "TS logger options"
## 🐛 Bug Report

Documentation at https://github.com/fastify/fastify/blob/master/docs/TypeScript.md recommends passing pino.Logger as template parameter when constructing fastify instance. I think it should be pino.LoggerOptions, because the former resolves to "BaseLogger" in which "redact" and other fields are missing.

[2020-05-19 16:15] mcollina commented on #2289
Would you like to send a Pull Request to address this issue? Remember to add unit tests for the example.

[2020-05-19 17:51] zmeyc commented on #2289
Do you mean to add an example using @types/pino with more complex logger config (to /examples) + unit test for it?

[2020-05-19 19:34] mcollina commented on #2289
That'd be perfect. It might just be in the docs.

[2020-05-19 20:10] Ethan-Arrowood commented on #2289
@mcollina a unit test for this would require adding the pino types to dev deps. Is that okay? If so then i'm +1 for adding a test for pino types

[2020-05-19 20:30] mcollina commented on #2289
Yes, exactly. I’m ok in having them as devDeps

[2020-05-20 21:27] dyanakiev commented on #2217
https://github.com/hemerajs/fastify-error-page
This one needs update

[2020-05-21 21:58] wolfejw86 commented on #707
is there a more elegant way to workaround this than something like:
[code]
I am stuck on it because of webhook-type use cases as well, although I still have to JSON.parse the body if i need to use the fields with this method.

[2020-05-22 06:38] mcollina commented on #707
Sending a PR to implement this feature :).

[2020-05-22 06:53] Eomm commented on #707
I think this PR #2286 would close this issue too

[2020-05-22 14:11] zmeyc commented on #2289
I need help with this, I tried:
[code]
Then run it with:
[code]
This works. Then I add empty dictionary to fastify():
[code]
And getting type errors:
[code]
Now fastify.log is FastifyLoggerOptions and not logger instance.

Same problem when passnig pino.LoggerOptions. fastify.log becomes pino.LoggerOptions.

From JS code it looks like the internal logic is: if parameter contains an object with a s

[2020-05-22 15:29] zmeyc commented on #2289
In other words,  it's currently not possible to pass options to built-in pino:

This works:
[code]
This doesn't (both with default 4th template arg or with pino.LoggerOptions)):
[code]

[2020-05-22 15:52] Ethan-Arrowood commented on #2289
From [example 5](https://www.fastify.io/docs/master/TypeScript/#fastify) of the fastify function typescript docs you should be able to set pino options like so:

[code]

[2020-05-22 15:53] Ethan-Arrowood commented on #2289
If this is broken please let me know so we can fix

[2020-05-22 15:53] zmeyc opened #2293 "TypeScript: FastifyReply: res missing"
## 🐛 Bug Report

`FastifyReply` doesn't have `res` field typings.

## To Reproduce

Steps to reproduce the behavior:

Latest master:

[code]

Create bug.ts:
[code]

Run:
[code]

## Expected behavior

## Your Environment

- *node version*: 13
- *fastify version*: v3.0.0-rc.3
- *os*: Mac

[2020-05-22 16:19] zmeyc commented on #2289
@Ethan-Arrowood The example above works.

The one below doesn't work (because it types fastify.log with configuration object):
[code]

[code]

[2020-05-22 16:24] zmeyc commented on #2293
I'm sorry, nevermind. This was my mistake.

[2020-05-22 16:24] #2293 closed

[2020-05-22 16:25] Ethan-Arrowood commented on #2289
Yes this is by design. If you don't specify the logger generic you only can set logger options available to default fastify: https://github.com/fastify/fastify/blob/8b8485ac5ff56d1ead387f6dd76384f996a2cf8e/types/logger.d.ts#L30

If `messageKey` or anything else is missing from that base option interface then we need to fix that.

If this is a custom property that you want to add you'll want to use

[2020-05-22 16:27] zmeyc commented on #2289
@Ethan-Arrowood I understand, but the problem is you can't call server.log.info() after this, because server.log becomes FastifyLoggerOptions object (without info() etc).

[2020-05-22 16:36] Ethan-Arrowood commented on #2289
Based on the tests: https://github.com/fastify/fastify/blob/master/test/types/logger.test-d.ts

You pass in the interface to that generic to be able to call those methods. I see how this can be confusing. Definitely better docs are required here, but also like you said maybe we should look at how the core logging works in fastify (regardless of typescript). Maybe the type definitions can be improv

[2020-05-22 16:40] Ethan-Arrowood commented on #2289
I do remember writing the types for this being difficult. Are you interested in helping solve this @zmeyc ?

[2020-05-22 17:39] zmeyc commented on #2289
@Ethan-Arrowood  I am, but I don't fully understand how to fix this.

[code]

Imo this check is not correct, log should always be FastifyLoggerInstance.
JS code checks if options are passed in `logger` field and constructs logger instance, otherwise it uses the passed logger instance 'as is'. So fastify().log should always be logger instance and never contain original options. Is my understanding

[2020-05-22 17:49] zmeyc commented on #2289
Imo cleaner solution is splitting logger into two fields, but this is a breaking change:
1) 'logger' field to pass custom logger instance to replace built-in pino. 4th template parameter should have type of this logger (i.e. FastifyLoggerInstance by default, can be overridden to be pino.Logger).
2) 'loggerOptions' field of type FastifyLoggerOptions to override built-in pino options (if `logger` is

[2020-05-22 18:08] Ethan-Arrowood commented on #2289
These are great. Thank you! I think the solution you identified is correct, but I'll look at the source code to be certain.

@fastify/core Read @zmeyc last comment. Regardless of the typescript issue (which we can solve) do y'all have any input on the proposed decoupling of the logger option? If there is a reason why it is the way it is that is useful information as well! Might be worth documentin

[2020-05-22 18:16] Ethan-Arrowood commented on #2289
In the mean time can you send a PR that updates that type and the corresponding tests too @zmeyc ? Would be good to also include the pino test at that time if you can

[2020-05-23 03:32] patarapolw commented on #2281
Tried, but cannot reproduce with [minimal repo](https://github.com/patarapolw/ts-openapi-fastify). Still,

- I have found new problem with `fastify-oas`, regarding $ref in RESPONSE.
- Problem still persists in the main repo; but I can escape with [$RefParser](https://github.com/APIDevTools/json-schema-ref-parser)

[code]

[2020-05-23 09:25] mcollina commented on #2281
Closing, this is a fastify-oas bug.

cc @Skella

[2020-05-23 09:25] #2281 closed

[2020-05-23 09:36] mcollina commented on #2289
I don't understand the question :(. If it's asking to change the relationship between Fastify and Pino, I think it's really ok as it is right now. It helps people and it enables folks to pass some of the logger options down. I concur it relies on duck typing and opaque payloads.

I'm totally fine if this does not apply to TypeScript users, as trying to support duck typing and opaque payloads seems

[2020-05-23 12:20] Cosbgn opened #2294 "request.method is undefined"
Hello, I have a simple fastify app with the following route:

[code]
In my handler, I need to know if it's a `post` or a `put` request.
How can I do that?

[2020-05-23 12:23] Cosbgn commented on #2294
I found it. It's `request.raw.method`

[2020-05-23 12:23] #2294 closed

[2020-05-24 16:58] zmeyc commented on #2289
@Ethan-Arrowood PR ready. I didn't add support for augmenting built-in logger's options with 'pino.LoggerOptions', imo benefit is not worth added complexity of typings (and it breaks encapsulation), it's probably better to add more fields to FastifyLoggerOptions in the future.

https://github.com/fastify/fastify/pull/2297

Btw, you did an awesome job with these typings! Interesting idea with gener

[2020-05-25 10:32] #1986 closed

[2020-05-26 08:58] kibertoad opened #2298 "Asynchronous local storage support"
## 🚀 Feature Proposal

Support for AsyncLocalStorage via an official plugin. If user enables this functionality, then fastify will automatically create ALS scope for every new request that could be populated within standard hooks.

## Motivation

Certain cross-cutting functionality (logging, monitoring, authentication) benefits from threadlocal-like functionality.

`cls-hooked` can be used as a fa

[2020-05-26 10:31] mcollina commented on #2298
I think having an official module would be good. I would not put it inside the framework as it will slow things down significantly.

https://github.com/thorough-developer/fastify-http-context is an example of such integration.

[2020-05-26 10:44] kibertoad commented on #2298
@mcollina Considering that https://github.com/thorough-developer/fastify-http-context already exists, what could I contribute from my side to push forward the idea of having an official module?

[2020-05-26 10:49] mcollina commented on #2298
@thorough-developer wdyt?

cc @jsumners @delvedor @davidmarkclements ?

[2020-05-26 11:43] jsumners commented on #2298
🤷‍♂️

I haven't invested any time to research the API. It seems primarily targeted at things like OpenTelemetry. I have no opinion of a module for this.

[2020-05-26 13:02] Ethan-Arrowood commented on #2289
Thank you! Taking a look at both of your PRs this morning. Sorry it is not sooner, spent some time away from coding this weekend 😁

[2020-05-26 19:49] Eomm commented on #2097
I started looking at this and for what I understand:

- the nodejs API for tracing: [@opentelemetry/node](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-node) is now in beta stage
- the org opentelemetry is providing support to trace nodejs core modules ([http/https/grpc](https://github.com/open-telemetry/opentelemetry-js#core))

I'm not sure to completely un

[2020-05-27 13:11] delvedor opened #2301 "ES modules support"
With Node.js `v12.17.0` ES modules are out without the flag (even if they are still experimental).
Fastify should support ES modules as well while keeping the CJS syntax.

Related: https://nodejs.org/en/blog/release/v12.17.0/

[2020-05-27 13:18] mcollina commented on #2301
We only export a function as default. There is _nothing_ that we should do. Quite notably, https://github.com/fastify/fastify-autoload/pull/76 needs a review.

[2020-05-27 13:44] mcollina commented on #2097
@Eomm looking at your example, I would do something differently. I would hook into Fastify hooks and provide a bit more guidance on the various steps.

[2020-05-27 14:33] #2289 closed

[2020-05-27 14:51] PierBover commented on #935
I used `0.0.0.0` and `::` as suggested in [the docs](https://www.fastify.io/docs/latest/Getting-Started/#your-first-server) but for some reason when running on Docker the Fastify server starts on `127.0.0.1` anyway.

[code]
When starting from Node I get `Server listening on http://0.0.0.0:3000` or `Server listening at http://[::]:3000`.

When starting from Docker I get `Server listening at http://

[2020-05-27 16:27] mcollina commented on #935
Can you please post a full example (maybe in a linked repo)? This works really well here.

[2020-05-27 16:31] PierBover commented on #935
@mcollina it's really just this:

https://gist.github.com/PierBover/ec87144fafa9b4ee65c1937e13364de1

I'm using `"fastify": "^2.14.1"`.

[2020-05-27 16:35] jsumners commented on #935
Can you show your Docker command and or `Dockerfile`?

[2020-05-27 16:36] PierBover commented on #935
I start it with:

[code]

And this is the `Dockerfile`:
[code]

[2020-05-27 16:39] jsumners commented on #935
Your code indicates that you are listening on all IPv6 addresses. Have you enabled IPv6 for Docker? https://docs.docker.com/config/daemon/ipv6/

[2020-05-27 16:40] PierBover commented on #935
@jsumners I mentioned in a previous comment that I've used `0.0.0.0` with the same result.

[2020-05-27 16:54] jsumners commented on #935
[code]

[code]

I copied and pasted all of your example code. I'm not able to reproduce the problem. I'm on macOS.

[2020-05-27 17:09] PierBover commented on #935
Oh Jesus I'm an idiot, I forgot to rebuild the Docker image.

I'm sorry for spamming you all.

It works now with `0.0.0.0`.

[2020-05-27 20:44] Ethan-Arrowood commented on #2301
Our exports changed a little bit in v3. We still only export a function, but we export it as default and under the `fastify` property too

https://github.com/fastify/fastify/blob/12daa3c98340ba79d6e4a3041362eca6b22b5e82/fastify.js#L606

Does this have any impact?

[2020-05-27 22:54] mcollina commented on #2301
Not really for me.
We might introduce an exports property in package.json to handle accessing fastify through a named property.. but I would not know what would be the advantage.

[2020-05-28 00:18] jsumners commented on #2301
I vote leaving it alone. The feature is still experimental and getting it wrong will lead to a mess.

[2020-05-28 12:22] greguz opened #2304 "Wrong context inside the error handler"
## 💥 Regression Report

The binding to the Fastify instance is no longer accessible inside the error handler without a manual `.bind()` call.

## Last working version

Worked up to version: X.X.X (not sure at the moment)

Stopped working in version: 2.14.1

## To Reproduce

Steps to reproduce the behavior:

[code]

And request `/test`.

[code]

## Expected behavior

The fastify instance is accessi

[2020-05-28 12:42] jsumners commented on #2304
If you do not supply a fat arrow function for the handler?

[2020-05-28 13:17] greguz commented on #2304
Redid the test using an `async` function, same result. Just updated the example code.

[2020-05-28 13:25] Eomm commented on #2304
Could you check the version where it works?

Tried on fastify@2.12.0 and it is failing as well

[2020-05-28 13:50] greguz commented on #2304
I've tried any minor version down to the 1.9, and I can confirm that this behavior is consistent between all versions. So, in conclusion, this is not a regression, and I'm not sure if the Fastify instance is intended to be accessible inside the error handler.

[2020-05-28 14:00] mcollina commented on #2304
It would be to support this. Would you like to send a PR?

[2020-05-28 14:05] greguz commented on #2304
Sure.

[2020-05-29 07:17] bluebrown commented on #242
You really want to add a dependency to your project for this? Its litterrally a wrapper around two lines of code. Retrieving the server and passing the server to socket.io. Fastify is using just the standard server under the hood and that is what socket.io expects as argument.

[2020-05-29 13:06] Ethan-Arrowood commented on #2288
Can we verify this was fixed in #2290? @robcresswell can you try with the latest release candidate?

[2020-05-29 13:09] robcresswell commented on #2288
@Ethan-Arrowood Will do! Should have time later this evening

[2020-05-31 02:11] saulotoledo opened #2307 "Fastify does not support custom JSON Content-types"
##  🐛 Bug Report

Fastify does not support custom JSON Content-types such as `application/ld+json`, `application/hal+json` and `application/vnd.api+json`, required by HATEOAS specifications. Setting the header will result in a FST_ERR_REP_INVALID_PAYLOAD_TYPE error.

This happens because [this code](https://github.com/fastify/fastify/blob/v2.14.1/lib/reply.js#L141-L144) in fastify never runs and n

[2020-05-31 03:59] Ethan-Arrowood commented on #2307
You can provide your own serializer if you want to specially handle these formats.

[2020-05-31 08:33] mcollina commented on #2307
A better support for custom content-types JSON serializers would be really nice. Something that could be specified alongside the schema.

[2020-05-31 08:43] Eomm commented on #2307
If we expose this factory in some way:

https://github.com/fastify/fastify/blob/09e3ffb0af1666bb681b8644300e7a8aa97ac219/lib/contentTypeParser.js#L205

the user could just write

[code]

[2020-05-31 13:30] saulotoledo commented on #2307
I still think it could be easier. Something like @Eomm's suggestion. I've also tried `fastify.addContentTypeParser()` without success in [this sample project](https://github.com/saulotoledo/nestjs-fastify-content-type-issue) (I am new with Fastify, could you guide me if I did something wrong?)

I was, however, thinking on something like https://github.com/fastify/fastify/pull/2309/files since they

[2020-06-01 14:48] robcresswell commented on #2288
@Ethan-Arrowood Yep, seems to have worked! Worth noting it wasn't part of rc3; that was cut without #2290, but running against master its fixed. Thanks!

[2020-06-01 14:48] #2288 closed

[2020-06-01 16:30] Ethan-Arrowood commented on #2288
Sounds good @robcresswell it'll be included in rc4 and the eventual v3
Thank you!

[2020-06-01 20:21] kibertoad commented on #2298
@mcollina Since there is no response from @thorough-developer, I went ahead and built a somewhat more idiomatic fastify plugin using decoration instead of explicit context export: https://github.com/kibertoad/fastify-request-context

If there is interest, I am open to contributing it to `fastify` umbrella, but it would be great to get a review first.

(and I still need to write proper documentatio

[2020-06-01 21:45] jsumners commented on #2298
It being written in TypeScript, I will vote against it being added to the org. In my opinion, everything in the org should be JavaScript.

[2020-06-01 21:48] kibertoad commented on #2298
@jsumners It's a very small amount of code, I am perfectly fine to rewrite it in JavaScript if that's the only thing preventing it from being adopted to org.

[2020-06-01 22:03] kibertoad commented on #2298
@jsumners Aaaaand it's done. Project was fully converted to JavaScript.

[2020-06-02 06:10] Pruxis opened #2313 "res.sent inconsistency."
## 🐛 Bug Report

When having a long running process on an API call and completing the response immediatly, then inside the errorHandler res.sent is false when the response has already been sent.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

res.sent should be true in errorHandler.

## Your Environment

- *node version*: 12.14.0
- *fastify version*: >=2.14.1
- *o

[2020-06-02 09:00] mcollina commented on #2313
I think the bug is even worse than .sent being false. The problem in your code is that re.send() should be the last action in your function.

the error handler purpose is to send a response when when one is not sent. Given your snippet, we might not even want to go there.

[2020-06-02 09:56] Pruxis commented on #2313
Why should it be the last invocation? Ofcourse it's solvable by wrapping the content of the remaining handler in a promise and not awaiting it.
It seems wrong to me that a boolean is out of sync as the sole purpose of it is to track if send has been called or not.
I see that the reply instance is not shared as mutating sent does not update the value in the errorHandler.

[2020-06-02 10:21] mcollina commented on #2313
Invoking a http route can have 3 outcomes, either it succeeds, it fails or it times out. After a successful response is sent, there is no other way to communicate to the other side that something is failed, leading to all possible bugs and data loss scenarios.

The meaning of `reply.sent` is to track that `reply.send()` can be called. The purpose of the error handler is to return an error to the o

[2020-06-02 10:27] mcollina commented on #2298
@kibertoad can you add some docs on how that would be used?

https://github.com/kibertoad/fastify-request-context/blob/b7e443bcff6d2008272ff73479fbd0d61c861d5e/test/requestContextPlugin.spec.js#L23-L25 would need to be fixed as `new Promise(async` leads to infinite amount of bugs and should not be promoted.

[2020-06-02 10:41] Pruxis commented on #2313
I get the design behind it, but for starting long running processes such as processing a few gigabytes of files we often complete just after starting such process/stream.

I was using the errorHandler as a reporting handler aswell to log errors of these long running processes but this all can be solved with just wrapping it in a seperate promise and a generic catch function.

[2020-06-02 10:46] kibertoad commented on #2298
@mcollina Yup, coming up next, just ran out of time.
Does the comment about `new Promise(async` apply to tests as well? In either case, I do need to rewrite it not to use `await` to make tests runnable in Node 6, now that TS transpilation is out, either way, though.

[2020-06-02 11:33] jsumners commented on #2313
I think it's an incompatible design decision on your part. You seem to be mixing a synchronous HTTP endpoint (returns `200`) with an asynchronous one (returns `204` or similar). Basically, you should do something like:

[code]

[2020-06-02 11:36] jsumners commented on #2298
Given that the plugin states it supports Fastify v2, and the discussion is about bringing the module into the org, I'd say yes.

[2020-06-02 11:42] #2313 closed

[2020-06-02 19:26] Ethan-Arrowood opened #2316 "Validate this context for fastify errorHandler"
## 🚀 Feature Proposal

Original issue: https://github.com/fastify/fastify/issues/2304

#2306 binds the instance to the errorHandler. We should validate this works in TypeScript land and also include a unit a test. It may require a type fix; it may not - that is the purpose of the validation.

[2020-06-03 04:03] ashareye opened #2317 "url wildcard error"
fastify-static don't support static gzip files, so I have to write some wildcard url,  like ...

[code]

## Expected behavior

when I used one of them, it is ok, but both of them would be wrong,

[code]

It seems that only one '/:' can be used?  so I try to use``` '/:(.*\.(js|png)$)', ```but it can only match *.js file，not png, how can I write a right wildcard url to match png, js, css and others?

[2020-06-03 08:33] mcollina commented on #2298
`new Promise(async fn)` does not do what you think does. if the fn throws, the error goes to unhandled rejection. This is bad in the module and bad in the tests as well.

[2020-06-03 10:23] delvedor commented on #2317
This is expected, you can't declare two dynamic routes at the same level, as the router can't tell the difference.
The regex code is executed after matching a route, so the code you wrote would not work, and is the same as write:
[code]

I would recommend writing a single route that internally figures out what it should send back.
While this seems a limitation, it improves the performances by an o

[2020-06-03 12:50] hemanth8759 commented on #1258
can a txt file be download after creating temporarily?

[2020-06-03 16:28] xnerhu opened #2318 "Fastify doesn't work on Linux"
## 🐛 Bug Report

The same node app using Fastify works on Windows but doesn't work on my Linux server. Firewall is disabled. When I use Express.js it works fine.

## To Reproduce

[code]

## Your Environment

- *node version windows*: v12.16.3
- *node version linux*: v12.18.0
- *fastify version*: 2.14.1
- *os*: Windows 10, Debian 9

[2020-06-03 16:34] jsumners commented on #2318
Please read the documentation -- https://github.com/fastify/fastify/blob/39e23753240eb18d4f86af736c65e192b4071248/docs/Server.md#L497-L518

[2020-06-03 16:34] #2318 closed

[2020-06-04 16:27] kibertoad commented on #2298
@jsumners @mcollina Rewrote tests to rely just on native promises, added Node 6 to the test matrix.

Next stop: documentation. Is anything else needed?

[2020-06-05 06:23] mcollina commented on #2217
I think we are ready to ship v3?

[2020-06-05 11:14] jsumners commented on #2298
Not that I'm aware of.

[2020-06-05 11:15] jsumners commented on #2217
Need to get #2308 resolved first.

[2020-06-05 13:00] fredmaggiowski opened #2319 "disableRequestLogging disables an error log in onResponse hook"
## Question

By reading the doc about [disableRequestLogging](https://www.fastify.io/docs/latest/Server/#disablerequestlogging) option I've understood that the two default logs `incoming request` and `request completed` are disabled but reading the code there's actually another log that gets disabled at [this line](https://github.com/fastify/fastify/blob/667d4644eab09f27bc30cad6e7378f5fc82cb9e8/li

[2020-06-05 13:13] mcollina commented on #2319
Yes, it is intended. Would you mind to send a PR to make the docs more clear?

[2020-06-05 13:17] fredmaggiowski commented on #2319
Alright, I will do it asap, thanks for the prompt response

[2020-06-05 20:02] kibertoad commented on #2298
@mcollina Documentation added. I believe plugin is fully prepared for the inclusion into the org.

[2020-06-07 09:23] moeinrahimi commented on #387
won't req.raw.url help?

[2020-06-07 10:12] mcollina commented on #387
sure, this is a3y old issue, a lot has changed

[2020-06-07 19:10] #2282 closed

[2020-06-08 14:09] mcollina commented on #2298
@kibertoad I've invited you to the org,can you please move the repo? Also, can you add me on npm so I can add it there as well?

[2020-06-08 21:25] kibertoad commented on #2298
@mcollina Done!

[2020-06-08 23:20] jcao219 opened #2325 "reply.request is missing from the TypeScript declarations"
On the RC of v3

## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

`reply.request` should be defined on the declaration

( https://github.com/fastify/fastify/blob/master/types/reply.d.ts )

## Your Environment

- *node version*: 12
- *fastify version*: 3 release candidate
- *TS version*: very curre

[2020-06-08 23:21] Ethan-Arrowood commented on #2325
This should be included in https://github.com/fastify/fastify/pull/2299

[2020-06-08 23:24] jcao219 commented on #2325
Thanks for the ultra-rapid response!

Is it on purpose that there's no analogous `request.reply`?

[2020-06-08 23:30] Ethan-Arrowood commented on #2325
I'm not the best person to ask about that. Let me see if I can find the commit that added `reply.request` - it might provide some insight

[2020-06-08 23:33] Ethan-Arrowood commented on #2325
https://github.com/fastify/fastify/commit/95767ad7b35d7769b67b0de33b1dfa9a17e8e2f0

Looks like it was added before I was even a maintainer. @fastify/leads any ideas why we don't also have `request.reply`?

[2020-06-09 05:50] mcollina commented on #2325
It was added this way to avoid a ciclic dependency between these two objects. I'm not sure if it has any real perf impact.

[2020-06-09 07:08] greguz commented on #2304
Both [merge](https://github.com/fastify/fastify/pull/2305) [requests](https://github.com/fastify/fastify/pull/2306) are now merged. I'm closing this issue. Thanks everyone.

[2020-06-09 07:08] #2304 closed

[2020-06-09 11:24] #2298 closed

[2020-06-09 15:19] ashareye commented on #2317
thanks a lot

[2020-06-09 15:19] #2317 closed

[2020-06-09 17:50] jcao219 commented on #2325
I think in the past, garbage collectors with a reference-counting algorithm would be unable to identify unreachable objects if they have circular dependencies. These days, at least for V8's handling of memory usage, such objects will not cause a memory leak, at least.

I'm not sure if there's any performance impact.

The specific use case: somehow, a function only gets the `request` passed in, but

[2020-06-09 18:25] mcollina commented on #2325
I would just pass `reply` in.

The current design come from an _long_ discussion on the phone between @delvedor and me discussing if we should do `ctx` similar to Koa or a two object pattern. That's where we settled.

[2020-06-09 18:44] #2325 closed

[2020-06-10 23:16] mcollina commented on #1367
The example in https://github.com/fastify/fastify/issues/1367#issuecomment-453206962 is quite fitting.

I would not rely on snapshot testing unless tests were written long after the code of the app is. I'd recommend TDD, so check the payload.

Note that you can do `res.json()` on what is returned from`await app.inject()`.

[2020-06-12 07:39] droidMakk commented on #306
![image](https://user-images.githubusercontent.com/20293708/84477752-c739e000-acad-11ea-98d7-0b42285642a2.png)

@delvedor  This is what's happening when I try to do that...

[2020-06-12 07:44] mcollina commented on #306
In the previous example it seems you have a typo `prefx` instead of `prefix`.

[2020-06-12 14:27] delvedor commented on #2307
Closed in #2315.

[2020-06-12 14:27] #2307 closed

[2020-06-12 22:29] mcollina commented on #2217
Second list for updating to rc.4 (which had some unfortunately breaking change on the types):

### Blocker for release

- [x] fastify-compress
- [x] fastify-cookie
- [ ] fastify-cors
- [ ] fastify-cli
- [ ] fastify-helmet
- [ ] fastify-reply-from
- [ ] middie
- [ ] point-of-view
- [ ] under-pressure
- [ ] fastify-etag
- [ ] fastify-express
- [ ] fastify-accepts
- [ ] fastify-auth
- [ ] fastify-aut

[2020-06-13 07:56] kibertoad commented on #2217
@mcollina I can take some. What is the fastify way to distribute work that reduces chances of effort duplication?

[2020-06-13 11:37] mcollina commented on #2217
Do a PR on a module and paste the link in this issue :). It should take at most 5-10 minutes to do one.

[2020-06-13 15:14] lazycoder9 opened #2331 "Fastify app instance become thenable"
## 🐛 Bug Report
Hello folks!
We are using `fastify` as on of the core components of our [framework](https://github.com/nodosjs/nodos). We have a part of code, where we are building fastify app - creating an instance of fastify, configuring it, and return a configured instance of fastify. This builder method is asynchronous and we are calling it like
[code]
Everything worked well in version `2.14.1

[2020-06-13 15:45] kibertoad commented on #2331
Aren't you supposed to call `await app.ready()` instead of `await app`?

This works: https://github.com/kibertoad/canned-enterprise-node/blob/master/fastify-service-template/src/app.ts

[2020-06-13 16:17] lazycoder9 commented on #2331
@kibertoad many thanks buddy, it works 🎉

[2020-06-13 17:43] #2331 closed

[2020-06-13 19:21] joelwass commented on #707
a route-level `rawBody: true` option would be a life saver

[2020-06-13 21:38] vrushti-mody commented on #1367
Should I create a pull request by adding the code you mentioned in your comment to the doc? Could you guide me about the same?

[2020-06-13 21:40] vrushti-mody commented on #2071
How about splitting it into four sections as mentioned in this documentation guide? https://documentation.divio.com/

[2020-06-14 09:56] mcollina commented on #2071
I agree with said structure.
I think a good inspiration should be https://www.gatsbyjs.org.

[2020-06-14 09:56] mcollina commented on #1367
Go for it!

[2020-06-15 17:45] Sambaboy commented on #2071
Speaking as a tech writer, the quad section structure vrushti-mody is a good conceptual prompt.  Agree w/ mcollina that the Gatsby is a good framework.  "Quick Start" is good way to start off after an Intro.  Splitting Libraries into labels: Starter and Plugin (maybe for Fastify call it "Options" since 'plugin' has a special meaning in Fastify jargon.  Gatsby has a Cheat Sheet section with a PDF d

[2020-06-15 18:31] jsumners opened #2334 "Fastify 2 is mutating route schemas"
[schema-ref-test.zip](https://github.com/fastify/fastify/files/4782205/schema-ref-test.zip)
## 🐛 Bug Report

Fastify is mutating schema definitions by removing their `$id` properties.

## To Reproduce

See the attached zip file with an example project. Start the project and issue two requests:

[code]

In the first request, a log will be issued like:

[code]

In the second request, the log will be

[2020-06-16 06:13] mcollina commented on #2334
Good spot. Is this happening also on v3? The heavy refactor we applied in that area should have removed this problem.

I guess we should just do a deep clone of the schema?

[2020-06-16 07:06] Eomm commented on #2334
I would start debugging from here if you change the `false` to `true` the id is not removed:

https://github.com/fastify/fastify/blob/655f28fcc36679b4538e0120eecb1f5524325298/lib/validation.js#L31

(without calling `fastify.addSchema` the schema is not cloned too)

I remember some test that checks for removed $id

[2020-06-16 11:28] jsumners commented on #2334
I don't know. I have not had any time to test v3 at all. But I don't think so because I didn't see the `cleanId` function in `lib/schemas` on the v3 branch:

https://github.com/fastify/fastify/blob/655f28fcc36679b4538e0120eecb1f5524325298/lib/schemas.js#L134-L143

Why would that boolean need to exist? Can that `cleanId` method just be removed on the v2 branch?

I'm not so familiar with how the sch

[2020-06-16 16:28] Eomm commented on #2334
No, it cannot be removed because it is needed for the $ref "replace way" since the same $id would throw an error later during the compile of the schema

[2020-06-16 16:33] jsumners commented on #2334
Then what would you suggest to fix this?

[2020-06-16 17:12] mcollina commented on #2334
We should do a deep copy when registering a route as well (similar to what we do in addSchema)

[2020-06-16 17:32] vrushti-mody commented on #1367
Should the PR be for this repo or the example repo? Also, should I add a new folder for this or is there an existing folder you want me to add it to?

[2020-06-16 18:00] mcollina commented on #2217
fastify-nextjs has some errors, it would be great if somebody could check it out.

[2020-06-16 18:37] Eomm commented on #2334
I would clone the schema in the ref resolver user's function. It should work aswell

[2020-06-16 19:02] mcollina commented on #1367
In the example repo!

[2020-06-17 02:32] L2jLiga commented on #1914
@mcollina any updates on it? I do not see any `code` field :(

[2020-06-17 06:09] mcollina commented on #1914
This needs a PR. Would you like to send one @L2jLiga ?

[2020-06-17 12:45] jsumners commented on #2334
Using `lodash.clonedeep` and updating the code to this still results in the error:

[code]

[2020-06-17 13:26] Ethan-Arrowood commented on #2217
looking to update fastify-nextjs today.

[2020-06-17 13:48] svarogaden commented on #355
Hello .

Hello! Could you give some advice on how to use an SSL certificate like PFX? I try this, but it does not work

const fastify = require('fastify')({
    https: {
      key: fs.readFileSync('certificate.pfx'),
      cert: 'sskey'
    }
  })

[2020-06-17 14:09] jsumners commented on #355
The `https` options are directly passed to `https.createServer()`. So you'd need to supply:

[code]

See https://nodejs.org/dist/latest-v12.x/docs/api/https.html#https_https_createserver_options_requestlistener

[2020-06-17 15:05] svarogaden commented on #355
Can you modify the example from the documentation for use with a pfx certificate?
===========================================================
'use strict'

const fs = require('fs')
const path = require('path')
const fastify = require('fastify')({
  http2: true,
  https: {
    key: fs.readFileSync(path.join(__dirname, '..', 'https', 'fastify.key')),
    cert: fs.readFileSync(path.join(__dirname, '.

[2020-06-18 02:45] L2jLiga commented on #1914
Sure

[2020-06-18 19:21] #1914 closed

[2020-06-20 23:53] imrishabh18 commented on #2252
Hey @delvedor , Can you guide me in fixing this bug. As I am new to this thing.

[2020-06-20 23:54] imrishabh18 commented on #2101
Hey @mcollina , Can I take up this issue ?

[2020-06-21 09:05] mcollina commented on #2101
Go for it!

[2020-06-21 09:16] delvedor commented on #2252
Hello @imrishabh18, thank you for showing interest!
I fear this is a bug in our website, as the documentation in the repository is correct, isn’t it?

[2020-06-21 10:14] imrishabh18 commented on #2252
Ohk, I just got confused with the documentation label.

[2020-06-22 11:53] nckcol opened #2346 "Trigger onError hook while sending html error page to user"
#### You have already researched for similiar issues?
yes

#### What are you trying to achieve or the steps to reproduce?
I want to log errors while sending html error to the user with error statusCode (>= 500).
Purpose of `onError` hook, described in docs, totally covers my case:

But there is problem with "sends an error back to the user":

So the question is how to create such response in `erro

[2020-06-22 23:15] andykais opened #2341 "allowHttp1 does not work when https is enabled"
## 🐛 Bug Report

A clear and concise description of what the bug is.
going off of the example http2 server, plain http requests fail despite the claim

## To Reproduce
generating a cert and using the sample code:
[code]
curl responses look like this:
[code]
and `h2url` just hangs forever
[code]

## Expected behavior
the server should respond with `{"hello": "world"}` like it does when using https

[2020-06-23 10:47] mcollina commented on #2341
You _must_ use https when using http2 and http1 on the same port.

[2020-06-23 10:47] #2341 closed

[2020-06-23 20:11] #707 closed

[2020-06-24 11:01] m-ronchi opened #2343 "typescript definition for ready() is wrong"
## 🐛 Bug Report

fastify.ready() resolves with no value, but d.ts declares to return Promise<FastifyInstance>

## To Reproduce

Steps to reproduce the behavior:

[code]
this code compiles, but `server` is undefined

## Expected behavior

Either:
1. TS fails to compile (fix the signature to be Promise<void>)
1. or `ready()` resolves with the correct instance (fix the implementation)

## Your Enviro

[2020-06-24 11:05] m-ronchi opened #2344 "inject() returns undefined if called before ready()"
## 🐛 Bug Report

fastify.inject() returns undefined if called before ready, causing subsequent chai to fail with unhelpful error

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

inject() returns a valid object even if called before ready().
if it is not possible, throw an error explaining that ready() must be called first

## Your Environment

- *node version*: 12

[2020-06-24 13:54] tandrewnichols commented on #598
So . . . the docs for middleware says, "Fastify provides an asynchronous middleware engine out-of-the-box, which is compatible with Express and Restify middleware." I feel fairly strongly, based on this issue, that you should remove that claim  (I mean the compatibility part). Express provides its own version of request and response to each middleware, so things like `req.get()` and `res.redirect(

[2020-06-24 13:59] Ethan-Arrowood commented on #2343
Would you like to send a PR fixing the types? Thank you for pointing this out!

[2020-06-24 20:02] Eomm commented on #2344
The issue happens for the chaining usage

[code]

As a workaround, till a fix, the usage of the options works

[code]

[2020-06-24 22:49] mcollina commented on #2344
I think this should be fixed on master.

[2020-06-25 16:40] mcollina opened #2347 "Casbin plugin"
## 🚀 Feature Proposal

[Casbin](https://casbin.org/) provides a common language for defining access policies.

[code]

## Example

I don't have one, but I would expect to have a `casbin` option added via `onRoute` hook that adds a `preHandler` hook that validates that enforces the given policy.

[2020-06-25 19:28] andykais commented on #2341
@mcollina if I want to provide both http1 without https and http2, do I need to run two separate servers?

[2020-06-25 19:53] Eomm commented on #2252
Looking the docs https://www.fastify.io/docs/v2.15.x/Request/ it seems fixed now

![image](https://user-images.githubusercontent.com/11404065/85789014-2a0b8c80-b72e-11ea-9069-0eccb0f6c3a2.png)

Thks for reporting

[2020-06-25 19:53] #2252 closed

[2020-06-25 20:44] Eomm commented on #2334
If you change the $id to `$id: '#urn:schema:bar'` the field will not be removed.

We are in this case:

https://github.com/fastify/fastify/blob/65d0e5b15769f67881c37aed8d84b802adf44106/lib/schemas.js#L136

where the `urn:schema:bar` doesn't match the pattern.

The pattern follows [this spec](https://tools.ietf.org/html/draft-handrews-json-schema-01#section-8.2.3):

   URI reference with a plain na

[2020-06-25 22:57] chasingSublimity commented on #2217
I think fastify/fastify-compress#113 resolves the `rc.4` incompatibility for `fastify-compress`. Will try and grab a few more tonight. 🚀

[2020-06-25 23:10] chasingSublimity commented on #2217
So, if `fastify@3.0.0-rc.4` is installed and there aren't any type or test failures, is it reasonable to assume that there are no further compatibility issues? If so, `fastify-compress` and `fastify-mongodb` should be good to go.

[2020-06-26 10:34] jcao219 commented on #2347
To understand the idea of what we want out of Casbin...
Routes are the "resources" to be protected, am I correct? Then "operation" must be the REST verb.
How do we define "user"?

[2020-06-26 13:16] mcollina commented on #2347
as an example https://github.com/fastify/fastify-jwt set a user object in `request.jwt`.

[2020-06-26 16:56] jsumners commented on #2334
If I get some time I'll try to dig in.

[2020-06-27 16:48] mcollina commented on #2341
yes, you need tls to differentiate between http/1.1 and http/2.
Note that browsers cannot conenct to http/2 servers without tls.

[2020-06-28 09:55] jcao219 commented on #2316
i think this is done? pun intended...

[2020-06-28 19:23] dalisoft opened #2356 "netlify-lambda: lru is not a function"
## 🐛 Bug Report

I recently updated and migrated to latest technologies (as possible) all my Development Environments, but **fastify** took much longer because of more breaking change, incompatibility and i hope i got last issue, which i self cannot fix

I getting error `Function invocation failed: TypeError: lru is not a function` on **netlify-lambda** serve url at http://localhost:9000/graphql

[2020-06-28 22:39] mcollina commented on #2356
This seems a webpack problem.. have you tried removing that?

[2020-06-28 22:43] dalisoft commented on #2356
Removing webpack breaks my lambda function.
I think too bug related to webpack, i just reported to let you know it has some bugs with netlify lambda compatibility.

If you think it’s (netlify lambda compatibility ) not important , you can close issue.

Thanks for very nice framework

[2020-06-29 06:23] mcollina commented on #2356
If you are a customer, I would recommend contact Netlify support to get help. You are trying to use their product, they make money out of it, and we do not make money out of Fastify. As a result, they are in the best position to help. If they don't, it's not that we have a bug: as you can read in https://www.fastify.io/docs/latest/Serverless/, we do not have instructions for Netlify Lambda because

[2020-06-29 08:32] sudokzt opened #2357 "pino library occur error at the sever starting"
## 🐛 Bug Report

[code]

The used logger 'pino' error.

## To Reproduce

I tried the fastify basic tutorial.
1. `yarn add fastify`
2. import fastify and start server

By the way, I used `typescript: 3.9.5`

## Expected behavior

Starting the server without this error and well work with logs.

## Your Environment

- *node version*: v12.8.0
- *fastify version*: 2.15.0
- *os*: mac
- *pino*: 5.17.0

[2020-06-29 08:35] sudokzt commented on #2357
I installed `pino-pretty: 4.00`. It works well.
Maybe it needs PR for pino-pretty. What do you think about?

[2020-06-29 08:38] mcollina commented on #2357
It really tells you what to do: install pino-pretty. We do not ship it as it's a development tool and therefore it should not be shipped in production.

[2020-06-29 08:38] #2357 closed

[2020-06-29 08:56] sudokzt commented on #2357
Thank you for replying 👍
Shouldn't install it as dev dependencies in fastify's package.json?

[2020-06-29 12:09] temsa commented on #2343
@Ethan-Arrowood @m-ronchi @mcollina up to 2.14.0 the `ready()` type was correct as the server instance was returned.

Since `2.15.0` and the different implementation for `onReady` , the server is not reaturn when the promise resolves, and a such it feels more like a *breaking change*. The best behavior would be ( if not releasing a `3.0.0` for this ) to release a `2.15.1` returning the server inst

[2020-06-29 12:28] mcollina commented on #2343
@Eomm can you please help here? You did the backport.

[2020-06-29 12:46] simoneb commented on #2343
@mcollina @Eomm I would suggest reverting to the previous behavior returning a Promise from the `ready()` method. This change is a breaking one otherwise.

[2020-06-29 12:51] Eomm commented on #2343
It seems an unwanted feature since the doc doesn't mention it in the [async/await](https://www.fastify.io/docs/v2.14.x/Server/#ready) statement and I remember that for the #2345 I looked for tests for this but there was not (for this I thought it was a typing issue)

It would be helpful if someone could start a PR with tests and I will check later.

As a workaround it should be enough to write:

[

[2020-06-29 12:51] simoneb commented on #2343
Yes, this worked for us.

[2020-06-29 13:43] dalisoft commented on #2356
Thanks @mcollina

I sure, i try create issue in their repo.
You are right, Fastify open source, well maintained without any sponsors.
I always love projects with best maintainers.

Thank you again for googling.
I hope they fix it.

I will submit PR once i can successfully fix the bug

[2020-06-29 13:43] #2356 closed

[2020-06-29 15:14] persona0591 opened #2358 "Error: Property 'setReplySerializer' does not exist on type 'FastifyInstance'"
## 🐛 Bug Report

I'm trying to use setReplySerializer() in my Fastify-powered TypeScript project. However, an error is thrown:

`error TS2339: Property 'setReplySerializer' does not exist on type 'FastifyInstance<Server, IncomingMessage, ServerResponse, FastifyLoggerInstance>'.`

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

No TypeScript error

## Your Environme

[2020-06-29 16:05] dalisoft commented on #2356
I fixed it finally, anyone if wants can use my finalized **Fastify** dev-env at [here](https://github.com/dalisoft/dev-env/tree/master/backend/fastify).
Works on all 4-environments: Serverless AWS, Netlify Functions, Vercel (before Zeit Now) and HTTP Server

[2020-06-29 16:06] dalisoft commented on #2356
If anyone interested how i fixed, [here](https://github.com/dalisoft/dev-env/commit/b1ba86b2cc16232765653b1f895c9539a1c0717c) is commit

[2020-06-29 16:06] kibertoad commented on #2356
@dalisoft Would you consider contributing documentation with example?

[2020-06-29 16:07] dalisoft commented on #2356
@kibertoad I will do once make sure all of those mode works in Production (live)

[2020-06-29 16:15] dalisoft commented on #2356
Yep, works in Netlify Lambda, result [here](https://fastify-dev-env.netlify.app/.netlify/functions/graphql), i will add guide as soon as i can get time

[2020-06-29 16:24] mcollina commented on #2358
Good spot! That's totally missing from our types. Would you like to send a PR?

[2020-06-29 16:29] dalisoft commented on #2356
See #2359

[2020-06-29 17:32] Eomm commented on #2343
What is the use case to get the server with the `ready` method?
Because the `ready` is resolved [before the HTTP server is started](https://github.com/fastify/avvio/tree/v6.x#ready).

The old `ready` exposed in 2.14, was the `avvio` function. it returns the fastify instance that just started since the [interface with a callback with 3 param is](https://github.com/fastify/avvio/tree/v6.x#appreadyfu

[2020-06-29 19:22] persona0591 commented on #2358
A PR is a bit out of my league, I'm afraid - I've just started experimenting with Fastify.

My guess is that a new declaration should be added to `types/instance.d.ts`. For example:

[code]

But I'm a bit unsure about the tests in `test/types/instance.test-d.ts`. I'd say that the tests for `setSerializerCompiler` or `setValidatorCompiler` are quite similar to those of `setReplySerializer`, but I c

[2020-06-29 23:31] chasingSublimity commented on #2358
Hi all! I can take a swing at this in the next day or so.

[2020-06-30 06:17] persona0591 commented on #2358
Hi Blake, thanks in advance!

[2020-06-30 12:34] Eomm commented on #2343
Clear, but it seems strange that this works since

[code]

could you recheck since if I would apply the change to return the fastify instance as it was before

[2020-06-30 12:44] simoneb commented on #2343
I'm not sure what you're asking but this is the change we had to do to make our code work with 2.15:

![image](https://user-images.githubusercontent.com/20181/86127401-15d5df80-bae0-11ea-9476-743155c4fc4b.png)

From this, I assume that `ready()` was returning a promise that resolved to `fastify`

[2020-07-01 18:51] mauriceLC92 commented on #2129
@Ethan-Arrowood could I take this on?

[2020-07-01 19:11] Ethan-Arrowood commented on #2129
Go for it!

[2020-07-01 19:44] mauriceLC92 commented on #2129
Thanks! Will check it out

[2020-07-01 19:58] mauriceLC92 commented on #2129
@Ethan-Arrowood The types exist in `2.x` but not in `master`
So does that mean no work here is required? Or is it needed in `master` as well?

[2020-07-01 20:28] Ethan-Arrowood commented on #2129
No it is needed in master

[2020-07-01 20:40] andykais commented on #2341
Thank you, I was aware of that. I am building a local web app though so certs are more of a pain to deal with for users. I wanted to give an option to use http1 if they so desired

[2020-07-01 21:58] mcollina commented on #2341
Given that each server run on a single port, you need two fastify instances.

[2020-07-02 13:54] andykais commented on #2341
turns out it is possible! https://github.com/masx200/http-https-http2-polyglot but I will likely still run two separate servers. This seems kind of hacky

[2020-07-02 14:05] jsumners commented on #2341
I highly recommend doing the TLS termination at your edge instead of in the app -- https://www.fastify.io/docs/v2.15.x/Recommendations/#reverseproxy

[2020-07-02 14:21] andykais commented on #2341
Its a local web app. One of the goals is to run it without any external processes (like a reverse proxy). Like I said, I will likely just run separate web servers, or make http2/http1 a command line parameter.

[2020-07-03 07:49] thomasthiebaud opened #2367 "Change generic parameters order for FastifyRequest"
## 🚀 Feature Proposal

Is it possible change the order of generic parameters of `FastifyRequest` so it is easier to use?
Can it be change so it is order agnostic?

## Motivation

Right now `FastifyRequest` the type looks like

[code]

that I can use like

[code]

It works but it is anoying to have to respecify the default parameters

## Example

Ideally I would like to do something like

[code]

o

[2020-07-03 08:28] mcollina commented on #2367
I think this is already implemented in fastify v3. You can install it with `npm i fastify@next`. We are at rc.5 and it will likely be the last.

[2020-07-03 08:58] thomasthiebaud commented on #2367
I'm using `fastify@next`. From the [migration guide](https://github.com/fastify/fastify/blob/master/docs/Migration-Guide-V3.md#changed-typescript-support) I can see that `fastify.get` supports it, but I did not managed to do the same wiith `FastifyRequest`

[2020-07-03 09:09] mcollina commented on #2367
Would you like to send a PR?

cc @Ethan-Arrowood

[2020-07-03 09:11] thomasthiebaud commented on #2367
I can have a look next week probably

[2020-07-03 16:36] Ethan-Arrowood commented on #2367
Yes I’d love to see this. Please try and use the same pattern the get, post, etc methods use.

[2020-07-05 06:20] rqbazan opened #2372 "Unexpected cookies behaviour"
## 🐛 Bug Report

When the ServerResponse instance (`reply.raw`) is used to respond to the client after setting a cookie, the cookie doesn't appear in the browser.

## To Reproduce

Reproducible example: https://codesandbox.io/s/adoring-solomon-n61yz?file=/src/build.js:589-592

1. Go to the provided server on CodeSanbox: https://n61yz.sse.codesandbox.io/
3. Open the dev tools and enter the cookies

[2020-07-05 08:00] mcollina commented on #2372
It works as planned. Cookies as stored inside fastify own `Reply` object. If you use `reply.raw`, you are sidestepping all of fastify.

This likely needs some docs.

[2020-07-05 14:59] rqbazan commented on #2372
Hey @mcollina, thanks for the answer. Let me know if I could contribute to clarify the docs ✋

[2020-07-05 17:15] mcollina commented on #2372
Go for it! Contributions are always welcome!

[2020-07-05 20:55] IljaDaderko commented on #1877
It is possible to use `sse` in express without middleware i.e. through setting some headers and then just `writing` data (https://stackoverflow.com/a/59041709/911930). Is something like this achievable with fastify as well (without plugins above)?

I looked at examples and there are various cases that use 'stream' package, but if it is possible to achieve this through just setting correct headers

[2020-07-06 01:50] rqbazan opened #2374 "Initialization error in v3.0.0-rc.5"
## 🐛 Bug Report

When I use an asynchronous factory function to create a Fastify instance, the return value from the promise is always `undefined`. Btw, this problem is not present in the v2.15.1

## To Reproduce

I've created a repo (https://github.com/rqbazan/fastify-issue-async) to illustrate the issue, and compare it with v2

[code]

## Expected behavior

Start the server without initializatio

[2020-07-06 05:23] thomasthiebaud commented on #2367
PR #2373 is ready. I tried to keep the same pattern

[2020-07-06 07:32] delvedor commented on #2374
Hello! Thank you for reporting, I confirm it's a bug.

[2020-07-06 07:43] delvedor commented on #2374
If you return the app wrapped in an object from `buildApp`, the problem disappears.
[code]
I think the reason is that `app` has a `then` method, which will be resolved to `undefined` by the async function.

[2020-07-06 17:58] #2374 closed

[2020-07-06 18:44] mcollina commented on #1877
you can just sidestep this all and use `reply.raw.write()`.

[2020-07-06 23:48] eadmundo opened #2377 "Calling fastify.getSchema in v2.15.1 throws error fastify.getSchema is not a function"
## 🐛 Bug Report

Calling [`fastify.getSchema`](https://www.fastify.io/docs/v2.15.x/Server/#getschema) in v2.15.1 throws error `fastify.getSchema is not a function`

It looks like installing `2.15.1` via `npm install fastify` installs `lib/schemas.js` from the [`2.x` branch](https://github.com/fastify/fastify/blob/2.x/lib/schemas.js), which does not contain the method `getSchema`, whereas the versi

[2020-07-07 02:06] Ethan-Arrowood opened #2378 "Investigate how to support `const app = fastify(); await app;` in TypeScript"
Related to https://github.com/fastify/fastify/pull/2376

See the test in the PR.

How do we type this behavior?

If its not possible (which I sorta expect but don't know for sure), then we should provide some type-cast option like:

[code]

[2020-07-07 06:35] Eomm commented on #2377
The site shows the wrong doc, check out the `/docs` in github;
This issue is related to https://github.com/fastify/website/issues/174 , so the site is wrong cause the tag! Nice spot!

The v2.15.1 tag is wrong, the [v2.15.0](https://github.com/fastify/fastify/commits/v2.15.0) it is ok. @mcollina could you check it?

To get your schemas, you need to use [getSchemas](https://github.com/fastify/fastif

[2020-07-07 07:22] mcollina commented on #2377
I fixed the tag, my bad!

[2020-07-07 07:22] #2377 closed

[2020-07-07 07:54] #2367 closed

[2020-07-07 09:20] aggarwaldev commented on #2056
I don't know if you guys have acknowledged it but nodejs just merged QUIC initial implementation with master branch.
https://github.com/nodejs/quic/issues/390

QUIC shall be essential for implementation of HTTP/3 and node is working hard on this:
https://github.com/nodejs/node/issues/23064

I request you to consider a draft implementation for QUIC and HTTP/3 since node.js implementation is experim

[2020-07-07 09:58] mcollina commented on #2056
@aggarwaldev there is still no official binary with the Quic implementation and as a result it's too late to ship an implementation. Note that Quic is the _basis_ for http/3 and there is not an http/3 implementation in core. I think it's too early right now: v3 is coming out this week (today maybe).

Would you like to open a separate issue to discuss?

[2020-07-07 11:24] aggarwaldev commented on #2056
@mcollina I am so sorry. I wasn't aware about ship date of V3.

Yes, I do acknowledge that and that's why I wrote **shall be essential**.

Sure. On it.

[2020-07-07 11:36] aggarwaldev opened #2379 "QUIC implementation"
## 🚀 Feature Proposal

Implementation of QUIC https://tools.ietf.org/html/draft-ietf-quic-transport-27

For more details:
- https://blog.cloudflare.com/the-road-to-quic/
- https://blog.cloudflare.com/http3-the-past-present-and-future/

This shall pave way for implementation of HTTP/3 since HTTP over QUIC is proposed to be called HTTP/3. QUIC will likely be used for transporting more than just HTTP

[2020-07-07 12:52] mcollina commented on #2379
A few interesting points: Fastify was the first framework for Node.js to support HTTP/2 and this was part of the initial idea of using our own custom `Request` and `Reply` objects. I was one of the devs that added HTTP/2 support on Node.js. I expect we add HTTP/3 support as soon as it lands on core. We have little to do here until that happens.

I would recommend you to join the discussion in core

[2020-07-07 13:56] aggarwaldev commented on #2379
@mcollina Thank you so much for considering me. I would love to take this opportunity. Do let me know if you need any help

[2020-07-07 15:55] mcollina opened #2381 "100% code coverage"
We are at 99.1% right now, going to 100% is within reach!

[2020-07-07 15:58] delvedor commented on #2217
Modules that still need to be bumped from next to latest:
Second list for updating to rc.4 (which had some unfortunately breaking change on the types) or just checks that they do not use `FastifyRequestInterface` or `FastifyReplyInterface`:

### Blocker for release

- [ ] fastify-compress
- [ ] fastify-cookie
- [ ] fastify-cors
- [ ] fastify-cli
- [ ] fastify-helmet
- [ ] fastify-reply-from - http

[2020-07-07 17:07] adrai commented on #2217
https://github.com/fastify/aws-lambda-fastify/commit/73cf70b5f247c38b8a20487259d195f4a8bb02b3

[2020-07-07 21:04] nikitamarcius opened #2382 "[bug] ReferenceError: $asNumber is not defined"
Error occurs only when start building the script (not in dev). Using Webpack 4  + Babel 7.

[code]

package.json

[code]

webpack.config.js

[code]

babel.config.json

[code]

main.js

[code]

[2020-07-07 22:15] mcollina commented on #2382
I’m going to close this as “not a bug”. Unfortunately you have some issue with your transpiler and it’d be impossible to test all combinations of those (with their relative settings). Overall I think fast-json-stringify does not like to be bundled, but I don’t know why.

If you figure out and you would like to send a PR, go ahead :).

[2020-07-07 22:15] #2382 closed

[2020-07-08 08:43] thomasthiebaud opened #2385 "Type `FastifyReply` body"
## 🚀 Feature Proposal

The `send` method from `FastifyReply` accepts a generic parameter `T` ([code here](https://github.com/fastify/fastify/blob/master/types/reply.d.ts#L25)), but it is not used anywhere else

Could we make that `T` parameter part of the `FastifyReply` parameters? `express` is doing something similar here https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/expres

[2020-07-08 08:52] delvedor commented on #2056
Closing this as [v3 is out](https://medium.com/@fastifyjs/fastify-v3-released-da4601d79a5)!

[2020-07-08 08:52] #2056 closed

[2020-07-08 08:52] delvedor commented on #2217
Closing this as [v3 is out](https://medium.com/@fastifyjs/fastify-v3-released-da4601d79a5)!

[2020-07-08 08:52] #2217 closed

[2020-07-08 08:55] delvedor commented on #2385
I think it could be done. @Ethan-Arrowood what do you think?

[2020-07-08 13:23] Ethan-Arrowood commented on #2385
Yeah this is good, you could also look to add this to the .get method generic so it passes through like the request generics are.

Would you like to send a PR?

[2020-07-08 13:26] thomasthiebaud commented on #2385
Yes, I can have a look this week

[2020-07-08 16:12] lludol opened #2388 "PrettyPrint for logger doesn't work in v3 [TypeScript]"
## 💥 Regression Report

The logger doesn't accept anymore the prettyPrint option with TypeScript.

## Last working version

Worked up to version: 2.8.0

Stopped working in version: 3.0.0

## To Reproduce

Steps to reproduce the behavior:

[code]
[code]

## Expected behavior

A pretty logger and not this json log:
[code]

## Your Environment

- *node version*: 12
- *fastify version*: 3.0.0
- *os*:

[2020-07-08 16:33] Eomm commented on #2388
Does [this guide](https://github.com/fastify/fastify/blob/2f56e10a24ecb70c2c7950bfffd60eda8f7782a6/docs/TypeScript.md#example-5-specifying-logger-types) work for you?

I found a comment in the source:

https://github.com/fastify/fastify/blob/3ac821266171afbf0f290c64610d78009a948484/types/logger.d.ts#L34-L36

[2020-07-08 16:44] lludol commented on #2388
@Eomm Thank you!! 😍

Now it works!

[code]

[2020-07-08 17:28] Ethan-Arrowood commented on #2388
This could use better documentation. Maybe a section under the logger page and even the server page under the logger option. Would you be interested in contributing?

[2020-07-08 17:56] thomasthiebaud commented on #2385
I pushed a PR with a first commit.

Question: If I want to add the `ReplyPayload` to get, post, .... I can either make it as a second generic parameter or I can change the first parameter to include both `Request` and `Reply` payloads. Do you have any preferences? If I go for the second option I'll have to rename `RequestGeneric extends RequestGenericInterface` to something else. Do you have a pre

[2020-07-08 23:08] mcollina commented on #2388
I think we can include the `prettyPrint` option as well, it’s very common!

[2020-07-09 01:12] PabloDinella opened #2390 "Documentation: bad link in Errors section"
## 🐛 Bug Report

The link that should point to Server#setErrorHandler is broken.
![image](https://user-images.githubusercontent.com/2482730/86985374-7c55a000-c167-11ea-9a5a-8907084086e0.png)

## To Reproduce

Steps to reproduce the behavior: access https://www.fastify.io/docs/latest/Errors/ and click on **setErrorHandler**

## Expected behavior

The link should point to https://www.fastify.io/docs

[2020-07-09 05:51] mcollina commented on #2390
@lmammino how could this be fixed? Thanks!

[2020-07-09 09:25] patarapolw opened #2392 "TypeScript typings for, e.g. `server.get<>()`, from docs are wrong."
## 🐛 Bug Report

This is wrong.

[code]

Instead, the correct version is

[code]

## Expected behavior

[code]

I also expect this,

[code]

## Your Environment

- *node version*: 12
- *fastify version*: ^2.13.1
- *os*: Mac

[2020-07-09 10:23] pc-jedi opened #2393 "broken links in release notes of v3"
Just a minor thing. In the release note of [v3.0.0](https://github.com/fastify/fastify/releases/tag/v3.0.0) all links to markdown files in the docs folder are broken since they point to `blob/v3.0.0/....md` rather then `blob/v3.0.0/docs/....md`. The **docs** is missing in the link.

[2020-07-09 12:02] mcollina commented on #2392
It seems the docs for 2.15.x are correct: https://www.fastify.io/docs/v2.15.x/TypeScript/. You are referring to the docs of v3.

[2020-07-09 12:02] #2392 closed

[2020-07-09 14:01] jk1z opened #2394 "Use route prefix feature and route version feature in conjunction"
## 🚀 Feature Proposal
Use `route prefix` to prefix the route path with versions like v1.1, v2, v3.1 and use `route version` to do the smart routing and fallback by the path prefix in the client's request object.

## Motivation

The motivation behind this is that our company and many others are using route path prefix for versioning purpose. It would be cool to use these 2 features in conjunction t

[2020-07-09 14:05] jk1z commented on #2394
Another way to retro fit this is to use smart reverse proxy to trim off version prefix and adds the version to the header, but it's less optimal. I would like to do this in Fastify

[2020-07-09 14:12] jsumners commented on #2394
That is all handled by the router, [`find-my-way`](https://www.npmjs.com/package/find-my-way). Routing happens before any hook is available in [the lifecycle](https://www.fastify.io/docs/v3.0.x/Lifecycle/).

If you don't want to rewrite the request in your proxy, then you might be able to finagle it via the [`onRoute` hook](https://www.fastify.io/docs/v3.0.x/Hooks/#onroute).

[2020-07-09 14:25] jk1z commented on #2394
Hmm it probably won't happen, but is it possible for fastify add a lifecycle stage before the routing happens? So the hook can tap into it....that feels like a major change on framework..

[2020-07-09 14:33] jsumners commented on #2394
The way routing is handled in Fastify is a pillar of its speed. We are unlikely to add hooks into the routing step after the tree has been built.

[2020-07-09 14:51] jk1z commented on #2394
All good, thanks for the timely reply.😊 I think I will just do some preprocessing in the proxy level.

[2020-07-09 14:51] #2394 closed

[2020-07-09 15:37] Ethan-Arrowood commented on #2388
Creating an issue for this documentation improvement. @lludol you get first dibs on it if you'd like; otherwise I'll mark it as good-first-issue and let someone else go for it. Please let us know promptly if you'd like to work on it :smile:

[2020-07-09 15:40] Ethan-Arrowood opened #2395 "Improve documentation on using `prettyPrint` option in the logger [TypeScript]"
Ref #2388

It would be great if we can improve the documentation for the `prettyPrint` option in our logger. With the v3 type changes users now have to specify `pino.Logger` in order to use that property (https://github.com/fastify/fastify/issues/2388#issuecomment-655632103).

We should document this in multiple places.
- In server.md under the logger option
- In logging.md
- in typescript.md (it

[2020-07-09 15:43] mcollina commented on #2395
I would actually add that property in our types.

[2020-07-09 15:46] Ethan-Arrowood commented on #2395
This may cause an issue with custom loggers if they don't implement that property themselves. I'd say its worth an investigation for sure!

[2020-07-09 18:13] Ethan-Arrowood commented on #2358
quick bump for @chasingSublimity are you still interested in sending a PR for this? Let me know if you'd like any help contributing :smile:

[2020-07-09 18:18] chasingSublimity commented on #2358
@Ethan-Arrowood Yes, so sorry! I'd love a bit of help with the types test. I'll create a PR today and tag you in it, if that's ok. :)

[2020-07-09 18:19] Ethan-Arrowood commented on #2358
Feel free to do so! Happy to help

[2020-07-09 19:43] lludol commented on #2388
@Ethan-Arrowood it's okay, we can close this one and continue on the new one.

[2020-07-09 20:19] #2388 closed

[2020-07-10 12:23] rburgst opened #2396 "querystring validation ignores additional parameters"
## 🐛 Bug Report

Schema validation for querystrings allows additional properties, even if `additionalProperties` is set to `false`.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

If I send the following request

[code]

I would expect a 400 since the parameter `test2` is not known. Instead I get 200.

## Your Environment

- *node version*: 12.13.0
- *fastify vers

[2020-07-10 14:58] rkaw92 commented on #2223
Hi, going by the info displayed by GitHub in the commit, this fix should be included in `v2.14.0`: https://github.com/fastify/fastify/commit/2e9994d1c3cb0c61424d624674ec517360542c26

However, upon installing v2.14.0, I find that the type file, `fastify.d.ts`, still lacks the `statusCode` property in the FastifyReply type. Am I missing something? Is the type file built in a way that can result in a

[2020-07-10 15:02] wolfejw86 opened #2397 "Easier access to FastifyPlugin types"
## 💥 Regression Report

FastifyPlugin not typing function arguments correctly.

## Last working version
2.14

Stopped working in version: 3.0

## To Reproduce

Steps to reproduce the behavior:
In fastify 2.14 I had made a quick and easy access type for myself to quickly and easily type a fastify plugin in a separate file.
see
[code]

I fully expected this to break somehow in 3.0 and am not asking

[2020-07-10 17:30] delvedor commented on #2397
cc @Ethan-Arrowood

[2020-07-10 17:48] delvedor commented on #2396
Hello! The behavior might be confusing, what happens is that in the `request.query` object you will not find any other property but the one you have declared.
You can verify it with the following code:
[code]

@fastify/core do you remember why we ended up with this behavior?

[2020-07-10 20:16] Ethan-Arrowood commented on #2397
Yes this is intended (and needs to be document better).

We've had lengthy discussions on this in particular. Essentially, when a plugin is used, it should not make any assumptions on what kind of fastify instance is being passed to it. If it requires a specific method or property then it should verify that the passed in instance has it first. Thus we have made the types reflect that position. Thi

[2020-07-10 20:18] Ethan-Arrowood opened #2398 "Improve documentation on plugins with TypeScript"
ref #2397 (but also multiple other issues and prs i'll try to dig up later)

~We need to improve the documentation around plugins and typescript. some decisions have been made around why the instance type is as generalized as it is, and the docs do not reflect that decision nor give the user the recommended solution. I'm assigning this to myself and will contribute the change next week.~

Update,

[2020-07-10 20:23] mcollina commented on #2397
@Ethan-Arrowood I think the `app` can be typed, but we cannot assume it is HTTP/1.1 or HTTP/2. They will both be an instance of Fastify. As a user, you can't assume that.

[2020-07-10 20:24] mcollina commented on #2397
@Ethan-Arrowood this seems typed correctly in here: https://github.com/fastify/fastify/blob/fbe073884494676419ac5f5ba7c44ad0054a3abe/types/plugin.d.ts#L12, or am I reading this wrong?

[2020-07-10 20:25] Ethan-Arrowood commented on #2397
Yes you're correct @mcollina , it is correctly typed. I don't why @wolfejw86 code-sense is saying that is `any`; i'll need to investigate that further. Still requires some better documentation imo

[2020-07-10 20:33] Ethan-Arrowood commented on #2398
Related: https://github.com/fastify/fastify/pull/2350

[2020-07-10 20:45] #2316 closed

[2020-07-10 21:10] mcollina commented on #2396
That's how our default config of Ajv works. We ship with `removeAdditional`: https://github.com/ajv-validator/ajv#filtering-data.

You can customize your  ajv instance. See https://www.fastify.io/docs/latest/Validation-and-Serialization/#validator-compiler for more details.

[2020-07-10 21:10] #2396 closed

[2020-07-10 21:12] wolfejw86 commented on #2397
Yes, I get it needs to be a "generic" fastify instance but it seems wrong to be typed as `any` right?

[2020-07-10 21:17] mcollina commented on #2397
@wolfejw86 this seems typed correctly here, see https://github.com/fastify/fastify/blob/fbe073884494676419ac5f5ba7c44ad0054a3abe/types/plugin.d.ts#L12. Apparently this does not work as expected.

[2020-07-10 21:18] wolfejw86 commented on #2397
Oh I see.  I will continue to take a look at it as well.

[2020-07-10 21:26] mcollina commented on #2397
@wolfejw86 if you would like to send a PR, it would be awesome.

[2020-07-10 21:31] mcollina commented on #2393
Thanks, they should be fixed now!

[2020-07-10 21:31] #2393 closed

[2020-07-11 09:57] wolfejw86 commented on #2397
This one was slightly tricky.  After some more investigation, I noticed the following conflicting definition with the `fastify-swagger` package - I got there while trying to type out `FastifyInstance` manually -

fastify 3.0
![image](https://user-images.githubusercontent.com/22133869/87221350-639ce400-c339-11ea-8bc1-e59b745c9638.png)
fastify-swagger 3.1.1
![image](https://user-images.githubusercon

[2020-07-11 10:26] mcollina commented on #2397
I would recommend that, yes.

[2020-07-11 12:57] fox1t commented on #2397
@wolfejw86 unlucky (or not?) there is no way that you can use older plugins on the > 3.0.0 fastify version. Witch TS 3.9 is even harder to have intersection mismatch since it is more strict when checking them. Try to update all plugins and please report back if you still have issues :)

[2020-07-11 12:58] fox1t commented on #2398
I am not sure if the instance is really any. Can you provide a reference of the definition here?

[2020-07-11 14:09] wolfejw86 commented on #2397
Yep already done and it’s working as expected now. Now I just need to address why fastify-autoload is being so strict with how it allows typescript but that doesn’t belong here 😅

Is there a WIP documentation somewhere that we can add this information to? It may be more obvious to others but definitely wasn’t to me

[2020-07-11 15:16] songdongsheng opened #2402 "HTTP2 crash on h2spec check"
## 🐛 Bug Report

HTTP2 (h2) or HTTP2 in plain text (h2c) crash on h2spec test

h2c crashed after running h2spec up to three times.

h2 crashed rarely.

## To Reproduce

1. run the demo h2c (or h2) code

[code]

Use fastify  "3.0.1":

[code]

2.  run h2spec up to three times

- https://github.com/summerwind/h2spec/releases/tag/v2.5.0

[code]

3. nodejs crashed

[code]

## Expected behavior

h2spec

[2020-07-11 15:25] songdongsheng commented on #2402
This issue similar to nodejs issue [http2 crash on h2spec check](https://github.com/nodejs/node/issues/34311).

But nodejs is easy to reproduce both h2 and h2c crash, fastify easy to reproduce h2c crash, hard to reproduce h2 crash.

[2020-07-11 15:38] StarpTech commented on #2402
I have a different result with the sample example but I can reproduce the internal crash on some runs.
Btw: I'd always recommend using a proxy like NGINX, Traefik to offload HTTP2.

[code]

[2020-07-11 16:14] mcollina commented on #2402
I’m closing this because there is little we can do. Node.js itself is crashing and all of http2 is implemented there unfortunately.

[2020-07-11 16:14] #2402 closed

[2020-07-11 16:18] mcollina commented on #2397
We should include it in the blog post and the release notes.

cc @delvedor.

[2020-07-11 17:21] hongyiweiwu opened #2403 "ESM-style plugin import doesn't pass TypeScript type check."
## 🐛 Bug Report

## To Reproduce

Pick any Fastify plugin (I'll use `fastify-formbody` for now):
[code]

TypeScript compiler gives the following error:
[code]

## Expected behavior

There should be no errors.

We can use `as any` to bypass this problem but not sure it's the best thing to do.

## Your Environment

- *node version*: 14
- *fastify version*: 3.0.1
- *os*: Mac

[2020-07-11 18:32] sinai-doron opened #2404 "Typescript error This expression is not callable."
## 🐛 Bug Report
I am getting the following error even when using fastify examples from the documentation.
`src/dist-server.ts:3:16 - error TS2349: This expression is not callable.
  Type 'typeof import("/Users/......./node_modules/fastify/fastify")' has no call signatures.`

## To Reproduce

Try running a fastify app with typescript 3.9.6

tsconfig.json
[code]

## Expected behavior

A clear and co

[2020-07-11 18:34] mcollina commented on #2403
Interesting one! What’s the type of `import()?`? I don’t think Typescript can detect this automatically.

[2020-07-11 18:35] mcollina commented on #2403
cc @Ethan-Arrowood

[2020-07-11 18:39] mcollina commented on #2404
We'll need a script to reproduce to help you.

[2020-07-11 21:02] hongyiweiwu commented on #2403
It's a special import type, and there doesn't seem to be a way to type what's actually imported.

This really goes back to the argument of whether to support es6 modules. I understand that Fastify doesn't yet, but it allows mimicking behaviors of es6 modules by setting `fastify.default = fastify` in the javascript file and `export default Fastify` in the typing file, so in Typescript I can just do

[2020-07-11 21:28] jsumners commented on #2334
Shoo bot!

[2020-07-11 21:38] mcollina commented on #2403
This is incorrect as it totally does, there are even unit tests that verifies that. The fact that you can `app.register(import('foobar'))` was added to support native esm. Fastify does not support _faux modules_, which is the transpiled output of TS and babel.

This is only a typescript issue.

[2020-07-11 21:56] hongyiweiwu commented on #2403
Sorry about this -- since I only use typescript, I only saw how these modules behave on typescript compiler outputs. When I do
[code]

TypeScript transpiles it to
[code]

Because most of the plugins haven't manually set the `default` property that point to itself while having declared `export default` in the type declaration files, this problem can't be caught during compile time. During runtime w

[2020-07-11 23:15] mcollina commented on #2403
I might also be ok to support _faux modules_, i.e. look for the default property if it’s there.

[2020-07-12 02:23] huming2207 opened #2406 "Fastify v3 register() scope seems to be wrong?"
## 🐛 Bug Report

Hi there,

Firstly, again, here's my repo: https://github.com/huming2207/datasheep-api

It has these handlers with this kind of hierarchy:

- `AuthHandler`
- `ProtectedRequests`
  - `ProjectHandler`
  - `KanbanHandler`
  - `EventHandler`

In the `ProtectedRequests`, it has an `onRequest` hook for verifying JWT token in the beginning, then register the three other protected handler

[2020-07-12 05:57] sinai-doron commented on #2404
I opened a git repo:
https://github.com/sinai-doron/fastify-typescript

I am getting the following errors when running `npm run build`:

[code]

[2020-07-12 07:48] mcollina commented on #2406
Is this a problem only with fastify-oas or the with the actual routing?

[2020-07-12 07:58] fox1t commented on #2404
HI @sinai-doron! I've just checked your repository and you have to rewrite the import like this:
[code]

However, I have a question for @Ethan-Arrowood: are we sure that we want to drop the use of `export =` as the entry point for fastify module? Removing it signals TypeScript that it is not a CommonJS module and therefore it makes it unsusable by `import * as fastify from 'fastify'`. Is this a wa

[2020-07-12 08:00] fox1t commented on #2404
@sinai-doron I have another question: why are you setting `allowSyntheticDefaultImports` and `esModuleInterop` both to false?

[2020-07-12 08:01] mcollina commented on #2406
Confirmed, this a is a bug in the new `await app.register()` support. if you remove `await app.register()` and just do `app.register()` if should all work well.

[2020-07-12 08:03] huming2207 commented on #2406
Hi @mcollina yes I think it's a `register()`'s bug, not fastify-oas's bug.

I've also tried disabling the fastify-oas and problem still exists.

Jackson

[2020-07-12 08:09] mcollina commented on #2406
as I said, you can sidestep this by removing the `await` in front of `app.register()`, it should unblock you.

[2020-07-12 08:10] sinai-doron commented on #2404
@fox1t Thank you for the fast reply, that did solve the issue.

In this case the documentation needs an update.

To your question, there is no reason, probably a leftover from trying to figure the issue.

[2020-07-12 08:14] fox1t commented on #2404
Nice! I agree that that docs need an update for TS users only.

Speaking about `esModuleInterop`, I highly encourage everyone to always enable it (you don't need to use `allowSyntheticDefaultImports` explicitly since esModuleInterop activates it) because makes life easier and has not any downsides (usually).

[2020-07-12 08:17] mcollina commented on #2406
I'll work on a fix

[2020-07-12 08:18] mcollina commented on #2404
Would you like to send a Pull Request to add this to the docs?

[2020-07-12 08:20] sinai-doron commented on #2404
Sure, I'll be glad

[2020-07-12 08:21] fox1t commented on #2404
Actually the docs are correct: https://github.com/fastify/fastify/blob/master/docs/TypeScript.md

Maybe we can put an additional "alert" to point this out?

[2020-07-12 08:42] huming2207 commented on #2406
Yep understood. I was also typing that reply when you sent yours. 😀

[2020-07-12 17:53] #2406 closed

[2020-07-12 18:02] mcollina commented on #2406
You can update your dependencies, avvio@7.1.1 fixes this.

Good spot!

[2020-07-12 18:29] mcollina commented on #2404
I would add a sample `tsconfig.json` file at the top.

[2020-07-12 23:13] huming2207 commented on #2406
@mcollina Thanks! I can confirm it's fixed!

[2020-07-13 15:55] Ethan-Arrowood commented on #2404
No I'd like to not break that at this time. I'm still trying to catch up with all the new issues; is this a proposed change?

[2020-07-13 15:57] Ethan-Arrowood commented on #2403
I'm confused about what issue is happening here.

If `import plugin from 'some-fastify-plugin'` works as expected why does it break when you do `import
('some-fastify-plugin')` inline? Is `import()` different than `import from`?

[2020-07-13 15:58] Ethan-Arrowood commented on #2404
We at least tried to solve most of the import scenarios at the beginning of the work on v3. This part of the documentation covers whats available: https://github.com/fastify/fastify/blob/master/docs/TypeScript.md#how-to-import

If something is wrong here lets identify it and try to solve it

[2020-07-13 16:37] Ethan-Arrowood commented on #2398
Sorry you're right. Ammending that now!

[2020-07-13 20:39] hongyiweiwu commented on #2403
Let's say in the `.d.ts` file of the plugin you have `export default plugin` where `plugin` is of type `FastifyPlugin`. Then when you do `import plugin from 'plugin'` the variable `plugin` has type `FastifyPlugin`. On the other hand if you do `const a = import('plugin')` then `a` will have a special import type `typeof import('plugin')` which isn't equal to any of the normal types.

So it would se

[2020-07-13 20:47] Ethan-Arrowood commented on #2403
I honestly wish I knew more about whats happening here but this is really melting my brain.

Is this comment related? https://github.com/fastify/fastify-swagger/pull/264#issuecomment-656924808

I'd really like it if someone can lead up how to fix this. Plugins was (and still appears to be) the hardest part of the whole v3 types.

Are these two things options? Or items apart of the same solution? I

[2020-07-13 22:11] pruginkin opened #2409 "Add validationErrors property to request object when using attachValidation option"
![Screenshot_20200714_010820](https://user-images.githubusercontent.com/51276573/87358612-d8a52f00-c56e-11ea-9498-02b4da840a00.png)

* *fastify version*: >=3.0.2
* *os*: Linux

[2020-07-13 22:20] hongyiweiwu commented on #2403
I wish I'm a better explainer... But this entire import/export system is quite hopeless.

I'm not an expert on such things but this might be a way to solve the problem. We put in the official doc that plugins should be exported in this way:
[code]

[code]

Now when I want to import the plugin:
[code]

[2020-07-13 23:48] Ethan-Arrowood commented on #2403
You are a very good explainer. Like I said this is really hard and I appreciate you sharing this information with us. It is very valuable and helpful!

---

What about plugins defined with `fastify-plugin`? Does all of the above processes still work?

[2020-07-14 06:04] mcollina commented on #2403
Would it help if `app.register({ default })` would load `default` as the plugin?

[2020-07-14 06:06] #2358 closed

[2020-07-14 10:07] pruginkin commented on #2409
If I add type any - the error disappears
![Screenshot_20200714_130239](https://user-images.githubusercontent.com/51276573/87413426-f7d5a800-c5d2-11ea-93e5-abf9db9b456e.png)

[2020-07-14 13:29] Ethan-Arrowood commented on #2409
One (complex) solution idea here is to create an extended interface of the existing request object types that is loaded when a route options object contains that property. This will use discriminant unions I believe.

One (less complex) solution is to just add `validationErrors` as an optional property to the request object and add a comment that in order for it to be used the user should ensure t

[2020-07-14 13:55] hongyiweiwu commented on #2403
Always a pleasure!

It should work. The process described above works for all function exports.

I don't think so. The problem is that the plugin authors are not exporting the default property, not that the plugin consumers are not using this property.

[2020-07-14 15:17] mcollina commented on #2409
Both approach seems fine to me.

[2020-07-14 15:20] mcollina commented on #2403
I think a PR to `fastify-plugin` could alleviate most of the problems and set the `default` property on the function.
Also some docs PR to explain this.

[2020-07-14 22:00] fox1t commented on #2404
Ok, I get it. What I was trying to point out is that since Fastify exports a CJS namespace that is also callable the correct way to express it in TS is with export =. All of the other ways of doing it can't cover 100% cases that are possible with CJS. On the other hand we can "force" TS users to always import without *.

[2020-07-14 22:01] fox1t commented on #2404
No it is not. It was just me making a suggestion on how to support imports with *. Sorry for the confusion! 🙏

[2020-07-14 23:46] simihartstein opened #2411 "Cannot listen on a port after closing the server. Error is misleading."
## 🐛 Bug Report

I am trying to temporarily swap out my main fastify server instance with a maintenance server while I handle some background processes.
When I try to swap back to my main server that was previously closed, it throws an error saying `Fastify is already listening`

I'm not sure if this is a bug or not supported since the documentation is unclear.

I have already worked around this b

[2020-07-15 00:52] zhangwinning commented on #2411
[code]
node version : 12.18.1
fastify version: master
os : mac os

I can reproduce the error through smaller example.

[2020-07-15 01:11] zhangwinning commented on #2411
I think it's a bug. close the server, when the fastify[kState].listening = true, should modify fastify[kState].listening  = false.  https://github.com/fastify/fastify/blob/733f53544109511d4dd58fedbdb936f86f3b97da/fastify.js#L279

if I guess it's no problem. I want go it for fix the bug (*❦ω❦).

[2020-07-15 06:23] zhangwinning commented on #2344
hi @Eomm, I run above this example, it's no problem, the question have solved ?

[2020-07-15 06:52] Eomm commented on #2344
I didn't work on it: it could be useful if someone could send a PR with a test to avoid regression 👍

[2020-07-15 07:50] zhangwinning commented on #2344
@Eomm, the pr  https://github.com/fastify/fastify/pull/2257 solve it, and the test unit add too.

[2020-07-15 08:14] Eomm commented on #2344
Yeah, but this issue is referring to Fastify v2, that one was on v3

The issue is still here https://runkit.com/embed/lj0xf1catkj1 😞

[2020-07-15 09:17] zhangwinning commented on #2344
Hey @Eomm, thanks for the answer. it's seems not a problem, while I don't  know how to modify it, I should modify specific

v2 version?  if I only modify 2.15.2 version code, 2.15.1 may have errors. so please give me guide, if I know it. I'd like to work on this.

[2020-07-15 12:35] mcollina commented on #2411
Would you like to send a Pull Request to address this issue? We should throw a better error. Remember to add unit tests.

[2020-07-15 13:13] zhangwinning commented on #2411
Hey @mcollina , thanks for the answer. I'll try to polish the patch and submit a fix PR.

[2020-07-15 14:23] #2385 closed

[2020-07-15 18:27] MomenNano opened #2414 "duplicated url slashes "//" when register router with prefix"
## 🐛 Bug Report

duplicated url slashes "//" when register router with empty path `fastify.get('/')` with prefix option set

## To Reproduce
app.js
[code]
dir/index.js
[code]
## Expected behavior
register only
`/v1`
`/v1/`

## Actual behavior
it register
`/v1/`
`/v1//`
![image](https://user-images.githubusercontent.com/22351955/87581557-6dc43700-c6d9-11ea-8d28-7346cfe1593b.png)

## Your Environmen

[2020-07-15 18:52] darkgl0w commented on #2414
Hi,

You don't need to put the slash at the end of your prefix ^^
Doing this will work as intended :)
[code]

[2020-07-15 19:03] MomenNano commented on #2414
I tried it and it works. but this solution will not work with autoload see this [issue ](https://github.com/fastify/fastify-autoload/issues/91), you need -in autoload- to add the end slash or it will merge the two path "v1/ and /test"
![image](https://user-images.githubusercontent.com/22351955/87584957-9d297280-c6de-11ea-86dc-8ae39396bb76.png)

[2020-07-15 19:13] darkgl0w commented on #2414
Can you set a repo that I can clone to reproduce the issue ?

[2020-07-15 19:35] MomenNano commented on #2414
yeah :),
[Here](https://github.com/MomenNano/fastify-reproduce)

[2020-07-15 19:40] MomenNano commented on #2414
I'm ready and will be happy to send a PR to fix this issue, if you confirm it's a bug

[2020-07-15 21:16] mcollina commented on #2414
https://github.com/fastify/fastify/issues/2414#issuecomment-658947411 this problem is definitely in autoload. The / should not be needed.

[2020-07-15 21:56] Eomm commented on #2344
You need to fork this repo and checkout the "v2.x" branch.
Then do the changes to the code with tests and push the code.
At the end you can open a pr from your fork project to this one to merge your changes.

I think the pr you linked could be a good inspiration to apply the changes to v2 too 👍🏼

[2020-07-16 01:45] zhangwinning commented on #2344
Good to know, thanks! I will solve it this tonight

[2020-07-16 10:05] fox1t commented on #2403
Hi to all. I really want to fix all of the issues that are popping out on the TS side. Actually we have a simple solution for all of our problems and it is not really that hard to support all of the methods that TS/ES2015/CJS have and we don't have to find any compromise. I want to do a small recap on the topic here.

Let's start from the beginning: Fastify is a CJS module written in JS. We need t

[2020-07-16 13:55] mcollina opened #2416 "Move ip, ips and hostname from fields in Request to getters"
## 🚀 Feature Proposal

In https://github.com/fastify/fastify/blob/d06287a9a612d218d26e3a94b248b5035d5c44cb/lib/request.js#L27-L29 there are the `ip`, `ips` and `hostname` properties that are currently set to `null`. Those are 3 pointers of 64 bytes each that we are carrying around with no specific needs as most code does not need them.

Those are defined and set in https://github.com/fastify/fasti

[2020-07-16 13:59] jsumners commented on #2416
I'm okay with them being getters. But I want them to continue being present. They are used quite frequently by people that need to verify the advertised source of requests, e.g. those who need to comply with GDPR or CCPA.

[2020-07-16 14:53] hongyiweiwu commented on #2403
Hey @fox1t thanks for the post! This is probably the best way to go about this right now -- however since you're using `export =`, you can only export the plugin itself. This won't work if the plugin also wants to, say export an options type or some other helper method, which might be necessary. At that point we may have to resort to the scenarios in the post I made above.

I think after combining

[2020-07-16 14:57] fox1t commented on #2403
I have some more context about dynamic`import()` in TypeScript. It seems that it plays very bad with `esModuleInterop: true` and CJS exported modules (even if they have a .default prop). Even with all the knowledge i have about TS, I can't figure out why it works like this. It doubles `.default` prop and types check doesn't pass!
<img width="642" alt="image" src="https://user-images.githubusercont

[2020-07-16 15:01] fox1t commented on #2403
Using `export =` doesn't prevent you exporting other things:
<img width="685" alt="image" src="https://user-images.githubusercontent.com/1620916/87687232-ca7d2b80-c785-11ea-8b35-28836896e837.png">
What you can do in exports.module, you can do it also using `export =` syntax
<img width="679" alt="image" src="https://user-images.githubusercontent.com/1620916/87687396-f7314300-c785-11ea-9634-63773772

[2020-07-16 15:03] #2411 closed

[2020-07-16 15:05] fox1t commented on #2403
Here we need also to ask @Ethan-Arrowood and @delvedor what they think on all of this.

If needed I can write a doc that sum-ups all of this, since I can understand that it is not easy to follow, but we surely need to make a decision to prevent happening again what is happening after the v3.

[2020-07-16 15:06] mcollina commented on #2416
They should not go anywhere.

[2020-07-16 15:08] mcollina commented on #2403
I think a write up would be useful. I also don't understand if this was broken in v3 or it was always there.

[2020-07-16 15:08] hongyiweiwu commented on #2403
Oh yes, but not anything on TypeScript level, like a type or an interface, if I understand correctly?

[2020-07-16 15:21] hongyiweiwu commented on #2403
This most likely is because when enabling the `esModuleInterop` TypeScript automatically enables `allowSyntheticImport` which automatically adds a default property to your export. You can enable `esModuleInterop` and then disable `allowSyntheticImport` and then it would work.

[2020-07-16 15:22] hongyiweiwu commented on #2403
This most likely is because when enabling the `esModuleInterop` TypeScript automatically enables `allowSyntheticImport` which automatically adds a default property to your export. You can enable `esModuleInterop` and then disable `allowSyntheticImport` and then it would work.

[2020-07-16 15:34] Ethan-Arrowood commented on #2403
A write up would be appreciated. The `esModuleInterop` and `allowSyntheticImport` properties should be included as this is hard to follow. I think all in all we need to figure out a recommended process for** creating a typed fastify plugin** (either written in TS or an accompanying type definition file). Our users should not be expected to understand all of this stuff just to create a plugin for f

[2020-07-16 15:35] fox1t commented on #2403
It is not that simple: `esModuleInterop: true` makes work both `import swagger from 'fastify-swagger` and `import * as swagger from 'fastify-swagger`. If what you said was correct also `import swagger from 'fastify-swagger` wouldn't work :)

It is an issue just with import() that doesn't check for `.default` prop before adding it.

[2020-07-16 15:36] fox1t commented on #2403
As I said 100% of `module.exports` functionalities are covered!

[2020-07-16 15:43] fox1t commented on #2403
I agree 100% with you. Here i am trying to find a consensus on what we consider to be the correct implementation and support regarding CJS, ESM and TS. Unfortunately this never were stable in the Fastify's ecosystem and I think that now we are mature enough as project to fix all of these issues. :)

[2020-07-16 16:19] fox1t commented on #2403
TS `import()` "bug" reference: As supposed it acts differently from the ES2020 one here and I think that, since typeof is used here, creates also types our mismatch: https://github.com/microsoft/TypeScript/issues/27678

Here is another reference that explains non-consistent behavior of the current implementation: https://mariusschulz.com/blog/dynamic-import-expressions-in-typescript

[2020-07-16 18:34] darkgl0w commented on #2414
Hello,

your issues should be solved with this [PR](https://github.com/fastify/fastify-autoload/pull/94) :smiley:

[2020-07-17 03:44] #2414 closed

[2020-07-17 09:06] paolochiodi commented on #2416
I can work on a PR for this

[2020-07-17 09:46] delvedor commented on #2416
@paolochiodi go for it! 🚀

[2020-07-17 14:08] fox1t commented on #2403
I've just discovered that even if you can export a typeof something when you try to import it, TS considers it as executable code and not just type alias: that's it, it thinks that there is a bar variable. So you were right here, we are not going to use `export =`. (this is just a tease of a document I am preparing, but kudos to you @hongyiweiwu :) )

[2020-07-17 14:24] hongyiweiwu commented on #2403
Glad to be of help! In this way what do you think you'll be using to export this stuff?

[2020-07-18 05:43] #2346 closed

[2020-07-18 07:38] #2416 closed

[2020-07-19 10:26] iandrc opened #2421 "Redirecting Errors on the Docs page"
## 🐛 Bug Report

Some redirections on the [Fastify docs page](https://www.fastify.io/docs/latest/) are broken (actually, the majority of them if not all).

We can observer an error only for the following versions:
* `v3.0.x`
* `master`
* `latest`

I guess those errors were introduced by [PR #2283](https://github.com/fastify/fastify/pull/2283), and, respectively, the root cause of the problem is th

[2020-07-19 10:28] iandrc commented on #2421
@Eomm @mcollina what do you think about this? Should we change it back?

[2020-07-19 10:59] mcollina commented on #2421
I think so yes! Would you like to send a big PR?

[2020-07-19 12:24] Eomm commented on #2421
I don't think all the links will be fixed because we had mixed relative links and absolute ones.
The issue with absolute is that if you navigate a version 2.x.x, you will be redirected to `master` in the github doc

I think we should fix this step in the remapping (since is not doing what is intended for):
https://github.com/fastify/website/blob/b75acffb399c7fcdfa734a082e365c2c21889aad/src/scripts

[2020-07-19 12:57] Eomm commented on #2343
Fixed

[2020-07-19 12:57] #2343 closed

[2020-07-19 16:39] Krutsch commented on #1877
@mpetrunic Thanks for the new plugin, but it does not work with the latest version of fastify.
I implemented it via headers (looks correct, but I am no expert) @IljaDaderko  - https://github.com/Krutsch/sse-node-fastify

I noticed, that the fastify `reply.send` within setInterval is responding way above the 500ms (given timeout). Probably around 1s. Node.js is doing it in 500ms cycles. Ye I know..

[2020-07-19 18:45] mcollina commented on #1877
You should not use reply.send() and use reply.raw.write instead. Also, set the headers directly on rely.raw.

[2020-07-20 01:27] afenghy commented on #242
Mobile devices is not supports **websockets** , I tried longtime ago.

[2020-07-20 08:23] mpetrunic commented on #1877
Haven't tried with fastify@3.x will checkout soon and update

[2020-07-20 08:40] mcollina commented on #242
According to https://caniuse.com/#feat=websockets websockets are available everywhere.

[2020-07-20 15:05] mpetrunic commented on #1877
@Krutsch fastify-sse-v2@2.0.0 has support for fastify@3.x

[2020-07-20 21:37] #2409 closed

[2020-07-20 22:03] mcollina opened #2423 "Refactor internals"
## 🚀 Feature Proposal

I think we should plan for our a refactor of Fastify internals. Currently the `lib/` folder is really hard to understand for newcomers. I also find it hard to understand if I need to edit `lib/route.js` `lib/handleRequest.js` `lib/server.js` or maybe just `fastify.js`. Most of the time, I need to edit a few of those at the same time.

Fastify grew organically.. maybe it's ti

[2020-07-20 22:26] jsumners commented on #2423
Agree.

[2020-07-20 22:32] Ethan-Arrowood commented on #2423
This seems very inline with the already in progress refractors of error, warning, etc.

[2020-07-21 13:15] kbkk commented on #2378
@Ethan-Arrowood Could you explain why wouldn't it work?

You can await anything in JS/TS, not just promises - it'll just return the awaited value.

So, given the above, this compiles/works just fine:

[code]

[2020-07-21 13:32] mcollina commented on #2378
The fastify instance is a _Thenable_, it implements a `then()` method that will be called by `await`. This custom method will load all the plugins so far.

[2020-07-21 14:01] Ethan-Arrowood commented on #2378
Understandable, but if I'm not mistake, this issue is specific to the promise behavior of the main fastify function. As a TS dev, if I `await` something I'm expecting that it's type is a promise as well

[2020-07-21 17:40] fox1t commented on #2378
This is really a great point @Ethan-Arrowood and I somehow agree with you.

[2020-07-21 21:05] MetCoder95 commented on #2381
Hi! Stills open, I would like to help :)

[2020-07-21 21:37] mcollina commented on #2381
go for it! Ask questions if you are stuck.

[2020-07-22 02:33] L2jLiga commented on #2378
@Ethan-Arrowood correct me if I'm wrong but can't we use types union? f.e.:

[code]

[2020-07-22 02:48] lmeyerov opened #2429 "Incomplete migration info for custom ajv $ref shared schema handling"
## 🐛 Bug Report

The migration docs for supplying a custom ajv instance are pretty opaque around supporting $ref for shared schema. It seems, overall, the idea is fastify can no longer resolve through a shared ajv, so you need to skip fastify more than the docs make it seem. In particular, in addition to

[code]

We ended up also adding:

[code]

And then rewrote:

[code]
and
[code]

Improving the

[2020-07-22 03:25] zhangwinning commented on #1197
Hi! still open pr , I would like to help :)

[2020-07-22 06:23] mcollina commented on #1197
Awesome, ping us when it's done, we'll review!

[2020-07-22 06:24] lu-zen opened #2430 "ValidationErrors without validationContext"
## 🐛 Bug Report

Validation errors from a custom validator (yup in the case) aren't wrapped with a validationContext.

## To Reproduce

Steps to reproduce the behavior:

1. error throws inside a custom validator
[code]

2. the validation error reaches this function
https://github.com/fastify/fastify/blob/a2a3726d7f932fa3a03f92900561ddd0d2a9b19f/lib/validation.js#L97-L105

3. return without context

[2020-07-22 06:42] Eomm commented on #2430
Where do you want to read that field?
In the response or in a custom error handler?

[2020-07-22 06:52] lu-zen commented on #2430
Custom error handler

[2020-07-22 06:54] Eomm commented on #2429
When you customize the validator compiler, all is under the control of the dev and fastify doesn't know anything about what validator the dev has chosen.

Customizing `ajv` as a validator, right now, it is not necessary thanks to the [ajv config](https://github.com/fastify/fastify/blob/master/docs/Server.md#ajv).

This solution works for your use case since it doesn't cover:

- encapsulation
- run

[2020-07-22 07:14] Eomm commented on #2430
You can write:

[code]

We should think if we could improve this code as you pointed out:

[code]

The logic was to don't change the original `Error` here

[2020-07-22 07:38] lu-zen commented on #2430
Thanks, it works. I think it's good to add the context field into 3rd party Error objects, it's the intended behavior no?

Or even remove this responsibility from the framework ([formatting custom messages as well](https://github.com/fastify/fastify/blob/a2a3726d7f932fa3a03f92900561ddd0d2a9b19f/lib/validation.js#L122)) and let user add the context manually to catch the error/format the message.

[2020-07-22 09:48] zhangwinning commented on #1197
@mcollina Hey, the works of this plugin wheather transform request params to line json type params, or not another meaning?
the above example I have misunderstood a bit.

[2020-07-22 13:22] edoparo opened #2431 "relativeContext is not defined"
## 💥 Regression Report

We are getting the following error, after running `npm install` with `fastify@2.8.0`:

[code]

## Last working version

Worked up to version:
 - `fastify`: 2.8.0
 - `avvio`: 6.4.1

Stopped working in version:
 - `fastify`: 2.8.0
 - `avvio`: 6.5.0

## To Reproduce

Steps to reproduce the behavior:

[code]

The problem appears to happen when using `Promise` on `fastify.listen

[2020-07-22 13:28] jsumners commented on #2431
The latest release in the v2 line is v2.15.1. Have you tried this version? I am unable to reproduce this error with v2.15.1.

[2020-07-22 13:43] edoparo commented on #2431
Hello James, thank you for your immediate reply.

Yes, with the 2.15.1, the example is working fine. However, in our production env, we are running 2.8.0 and, as you might know, is not so simple to upgrade to 2.15.1. We saw that `avvio` has been upgraded to 6.5.0 few days ago, and it seems this upgrade made the error occur, not actually related to fastify.

Is there any chance to make it working a

[2020-07-22 13:56] edoparo commented on #2431
Yes, with 2.15.1, the example is working fine. Didn't try other versions, since 2.8.0 is the one we're currently using in production. We believe that this problem is caused by the new version of avvio 6.5.0 released few days ago.

As workaround we're gonna return a Promise which wraps the result of the callback of `fastify.listen`. Hope this might help someone else.

[2020-07-23 07:13] edoparo commented on #2431
In any case, is there any chance to get it fixed? Currently our pipelines are broken due to this issue since fastify's package-lock entry needs avvio ^6.2.2 and the version downloaded is 6.5.0

[2020-07-23 08:58] mcollina commented on #2431
We do not support old version of fastify nor avvio or any combinations of those that are not the latest in the dependent semver-major range.. Upgrade to the latest fastify (this is the simplest path).

I'd be happy to review a PR to avvio if you want this fixed. Anyway, I'm closing this as it's not a fastify problem.

[2020-07-23 08:58] #2431 closed

[2020-07-23 09:11] mcollina commented on #1197
Both:

1. receive and parse newline delimited json as part of the body of a request
2. "stream" down to the client newline delimited json

[2020-07-23 19:57] tt-official opened #2433 "Configure separator for validation error message"
## 🚀 Feature Proposal

Allow configurability of separator for schema validation errors message. Currently when there are multiple errors it is a comma separated string.

https://github.com/fastify/fastify/blob/master/lib/validation.js#L124

## Motivation

1. We require using custom error messages that have commas in them ex: 'should only contain letters, numbers or a hyphen'
2. When there are mult

[2020-07-23 21:27] MetCoder95 commented on #2381
Hi! I have one, related to this function in `lib/warning.js`:
[code]

There's any chance to fall into any of the if's? When the function is called to instantiate an object with the `new` keyword a few lines below, it seems like is not as we're always instantiating without any arg

[code]

And actually this file is the one with less coverage, with 81% 😅

[2020-07-23 22:59] #2378 closed

[2020-07-24 09:55] mcollina commented on #2381
We are moving the warnings to a separate module in https://github.com/fastify/fastify/pull/2354.

[2020-07-24 12:01] Kiougar opened #2435 "Add `reply.context` documentation"
## 🚀 Feature Proposal

Add documentation for the `reply.context` API (including the nested attributes such as `reply.context.config`).

## Motivation

I had a need recently to read the router URL (i.e. the user defined url to match, NOT the resolved path URL) from the router handler. After a bit of digging I realized that I could find that information in `reply.context.config.url`. However, I simp

[2020-07-24 12:09] jsumners commented on #2435
I thought this was better documented, but it looks like all we have is:

https://github.com/fastify/fastify/blob/474c57384ad973c1988be5652df28ab6c3d1de55/docs/Routes.md#L386-L404

The actual definition of what the route context is, is defined at:

https://github.com/fastify/fastify/blob/474c57384ad973c1988be5652df28ab6c3d1de55/lib/route.js#L204-L224

[2020-07-24 12:48] Arnovsky commented on #2433
If accepted, I'd like to take this.

[2020-07-24 13:52] #2421 closed

[2020-07-24 21:08] mcollina commented on #2433
I think it would be better to let the user provide a function instead. I can see a million ways these could be concatenated and it's better to give control to the user.

[2020-07-24 21:13] mcollina commented on #2435
I would say that `Context` it's our internal object that represent a route. It's _mutable_ and shared between all invocation of a given route.

It's part of why Fastify is fast: we do not reallocate a lot of request metadata.

To answer your questions:

There are a few things that are possible _only_ using this objects. It's our internal representation of a route.

No, it's there to stay

No, I th

[2020-07-25 23:26] dractw opened #2436 "Parametric routes length"
## 🐛 Bug Report

Sometimes parametric routes with long params returns `404`, but if param is several times shorter - all goes ok.

## To Reproduce

Steps to reproduce the behavior:

[code]

Request:
`
curl "http://localhost:3000/route/DdzFFzCqrhsjpg5q8KXsB2dkCRinth9h5DSaFQjmVkN9EQASkSfWLJ8S8hNac53JDFMJmSFNxCo3UutQGpQP55gPHfmASrqZ3XxdbjQX"
`

Response:
```{"message":"Route GET:/route/DdzFFzCqrhsjpg

[2020-07-26 00:48] jsumners commented on #2436
This is documented https://github.com/fastify/fastify/blob/master/docs/Server.md

[2020-07-26 00:49] #2436 closed

[2020-07-26 09:35] Radiergummi commented on #9
@mcollina @delvedor, as far as I can see in the documentation, `CONNECT` and `TRACE` are not supported? I'm building sort of a custom proxy protocol and would like to add a `CONNECT` endpoint to establish a bi-directional tunnel. I can do that with a separate `net` socket, but having all the HTTP stuff in fastify would definitely be more desirable :)

[2020-07-26 09:47] Arnovsky commented on #2433
@mcollina Should I make a PR? If so, should I attach this new setting to the 'Context' object? Or is there another way to access options from the reply flow?

[2020-07-26 09:49] mcollina commented on #2433
I think so.

[2020-07-26 09:49] mcollina commented on #9
@Radiergummi would you like to send a PR?

[2020-07-26 14:24] RafaelGSS commented on #1930
Hey there, this issue is already fixed?

[2020-07-27 07:58] zekth opened #2438 "server.Inject() unexpected behaviour on deprecation warning"
## 🐛 Bug Report

The `FastifyDeprecation` message makes `server.inject` crashes while the runtime is properly working. In runtime shows this in std out:
[code]

But when running the same sequence in `server.inject()` i end up having this:
[code]
[code]
[code]

## To Reproduce

Just trigger the deprecation flag in a hook and run the `server.inject()` in a test.

## Your Environment

- *node version

[2020-07-27 08:20] mcollina commented on #2438
Can you paste a full example to reproduce? I thought we caught all of them? Otherwise, can you run the example with `--trace-warnings`?

[2020-07-27 08:25] zekth commented on #2438
Haven't recopied the code because it's embedded in a way bigger project but i can setup a example project for this purpose.

[2020-07-27 08:43] zekth commented on #2438
[code]
[code]
[code]
[code]

[2020-07-27 09:16] mcollina commented on #2438
You have a bug in your code:

[code]

[2020-07-27 09:36] zekth commented on #2438
Sorry example was wrong. Even corrected `preHandler` still go the error:

[code]

[2020-07-27 11:36] Radiergummi commented on #9
I didn't peek into the fastify source yet, but I'll give it a go. Depends on the scope you'd image though:
 - `TRACE` calls are [described by MDN like this](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/CONNECT):

   This is something I guess fastify could do out of the box, unless otherwise suppplemented with a custom implementation by the user. Meaning fastify should probably return

[2020-07-27 12:06] #1930 closed

[2020-07-27 12:39] mcollina commented on #2438
You must change your code:

[code]

There is a bug in jest that causes the warning to throw :/

[2020-07-27 14:08] zekth commented on #2438
Ok i wanted to know if it was expected or not. Unfornatunately i can't change the code as it's in a package, there is currently a PR for it: https://github.com/SerayaEryn/fastify-session/pull/109

Closing. Thanks!

[2020-07-27 14:08] #2438 closed

[2020-07-27 16:07] zmeyc opened #2439 "TypeScript: addHook'a 'onSend' callback typings"
## 🐛 Bug Report

addHook('onSend') disallows next() without arguments.
## To Reproduce

[code]

Error:

[code]
## Expected behavior

Code compiles, payload not modified.

## Your Environment

- *node version*: 12
- *fastify version*: >=3.0.3
- *os*: Mac

[2020-07-27 16:10] mcollina commented on #2439
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-07-27 20:47] komarnitskyi opened #2440 "Empty array as default value in schema doesn't work"
## 🐛 Bug Report

When I use an empty array `[]` as default value for some field, the one is not present in response at all.
When I use any other value - everything works fine. Field returned with defined default value.

## To Reproduce

- Create response schema with at least one field:
[code]
- In route handler return  `adminSettingsId: undefined`

## Expected behaviour

`adminSettingsId` has to b

[2020-07-27 21:02] Eomm commented on #2440
Could you add a complete example?

I cannot reproduce with this code (since the serialization is done with FJS)

https://runkit.com/embed/ee7i7u9m1ob1

[code]

[2020-07-27 21:13] Eomm commented on #9
I agree, a plugin for this it is already doable

Right now the stream are consumed by the content type parser, so in this case, we should skip this setup and it is doable in a plugin, but the plugin must add a content type parser that could lead to security issues (and I would not force the user to add a content type parser if it is not need at all)

So for this usage, I think it would impact a bi

[2020-07-27 21:27] mcollina commented on #9
I think we should support 'TRACE' and 'CONNECT' as methods but not add any route, possibly creating a plugin that is spec compliant instead. I see most of our users not needing those.

[2020-07-28 09:29] hnzxb opened #2442 "printRoutes may be output as JSON"
printRoutes may be output as JSON, like
printRoutes({json:true})

[2020-07-28 11:12] Eomm commented on #2442
There is this discussion already #1019
And a plugin to archive this: https://github.com/fastify/fastify-routes

[2020-07-28 11:12] #2442 closed

[2020-07-28 11:49] jsumners commented on #2442
Also see https://github.com/fastify/fastify/issues/1581#issuecomment-480586372

[2020-07-28 13:27] #1780 closed

[2020-07-28 17:38] wandersonwhcr opened #2462 "CORS is breaking Schemas"
#  🐛 Bug Report

If I define a schema inside a plugin, `fastify-cors` breaks the application when `preflight` is enabled.

## To Reproduce

I created a simple repository showing the problem.

https://github.com/wandersonwhcr/fastify-cors-problem

## Your Environment

- *node version*: 14
- *fastify version*: >=3.1.1
- *os*: Linux

[2020-07-28 22:08] MetCoder95 commented on #2381
I see I'll move to the next files then. Thanks!

[2020-07-29 21:35] jsumners opened #2446 "Schema absolute references failure"
## 🐛 Bug Report

When registering routes with schemas that include properties with absolute references to other schemas the following error is generated:

[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The route schema should resolve any references without crashing.

## Your Environment

- *node version*: 12
- *fastify version*: >=3.1.1
- *os*: Mac

[2020-07-30 02:12] naseemkullah opened #2447 "Make types a little less wordy by removing the Fastify prefix"
e.g. FastifyReply could just be Reply and so on

[2020-07-30 02:19] naseemkullah commented on #2447
@Ethan-Arrowood  thoughts? Could we maybe have alias exports at least? (Instance, Request, Reply, etc. without the Fastify prefix)

[2020-07-30 06:39] delvedor commented on #2447
I think the idea about having verbose names is to be sure to not cause conflicts with other type definitions.
In another project I'm working on I got the exact same issue, but in the other way around "make the names more verbose".

TL;DR naming is hard and the TypeScript community is never happy 😜

[2020-07-30 07:55] ahsandev2019 commented on #487
i know this is old issue but i get same problem too, i solve with this

[code]

[2020-07-30 09:16] seriousme opened #2448 "hasContentTypeParser does not know about buildin parsers"
## 🐛 Bug Report

The [documentation](https://www.fastify.io/docs/latest/ContentTypeParser/) says that hasContentTypeParser() can be used to check if a specific content type parser is available.
This works for parsers you add yourself but not for parsers already build in: `application/json` and `text/plain`

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Based on h

[2020-07-30 09:33] mcollina commented on #2448
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-07-30 09:39] mcollina commented on #2446
Given that you are not using `addSchema` from fastify itself fast-json-stringify does not know about your added schemas. You might want to override https://www.fastify.io/docs/latest/Server/#serializercompiler as well to provide fjs your references.

[2020-07-30 10:20] naseemkullah commented on #2447
If using Fastify you are unlikely using another web framework in the same project/file and so there should not be a conflict with `Request` for example generally. 😄

What's the other project btw? It might be valid in that case but I would need more context.

[2020-07-30 10:51] Radiergummi commented on #9
I'm actively working on a PR right now, but a single test is failing for `TRACE` requests for me... In `# Subtest: TRACE returns 413 - Payload Too Large`, fastify returns a 400 instead of a 413. Stepping through the tests with the debugger, I noticed after the 413 is correctly sent, something somewhere throws a `FST_ERR_CTP_EMPTY_JSON_BODY`, right after that node prints
[code]

The test file is co

[2020-07-30 11:37] seriousme commented on #2448
I'm happy to give it a go, but the question is what logic you want to retain ?

Currently you can't override any parsers you have added yourself:

https://github.com/fastify/fastify/blob/af77198d0e7c290cd74286fba1e804ce62e4b54d/lib/contentTypeParser.js#L36-L43

but you can override the build in ones as hasParser contains special logic to differentiate between native and custom:

https://github.com

[2020-07-30 11:40] jsumners commented on #2446
Actually, that doesn't mesh with our docs:

1. Indicates that setting a serializer compiler is for overriding which serializer is used, i.e. if you want to use the standard `JSON.stringify` over `fast-json-stringify` -- https://www.fastify.io/docs/v3.1.x/Validation-and-Serialization/#serializer-compiler

2. We make no mention of needing a "serializer compiler" in the documentation for bringing you

[2020-07-30 11:41] mcollina commented on #2448
Yes

https://github.com/fastify/fastify/blob/af77198d0e7c290cd74286fba1e804ce62e4b54d/lib/contentTypeParser.js#L58-L66
and I was wondering whether that was intentional ?

Yes

[2020-07-30 11:42] mcollina commented on #9
You can skip git hooks with `git commit -n`.

[2020-07-30 13:02] Eomm commented on #2446
Unfortunately, the footnote is right for the "serializer compiler" too.

I think it would simple to implement, here:

https://github.com/fastify/fastify/blob/61e836108944e2d86b174205e8f59a89a06cb47b/lib/route.js#L270

we should write `sBucket.getSchemas() || this[kValidatorCompiler].getSchemas()`:

But it is not doable (right now) because:

- the *compilers are agnostic functions, so the user shou

[2020-07-30 13:33] Kiougar commented on #2435
Thanks for the responses @jsumners and @mcollina!

Since this is a mutable object, do we expect people to start using this object to put stuff that they might also need to "share" across all invocations of a route?

Or do we simply want to keep this mutable within the framework itself (apart from the `config` attribute which is "created" by the definition of the route handler)?

[2020-07-30 13:54] Eomm commented on #2435
I think there are decorators for this purpose.

We could create a getter in the request for a limited set of data: URL, method.. nothing more

[2020-07-30 14:09] jsumners commented on #2446
It sounds to me like we have a broken feature.

As I suggested in https://github.com/fastify/fastify/pull/2023#issuecomment-570948907, I think we should define an API contract for user supplied schema containers. Something like:

[code]

Where `containerInstance` must look something like:

[code]

[2020-07-30 18:14] Ethan-Arrowood commented on #2447
From my experience, typescript libs with simple names require me to often us `import whatever as SomethingWhatever` because `whatever` conflicts with some other import or something I defined. When authoring these types I found it very valuable to just name everything `FastifyWhatever`.

@delvedor got it right though. Naming things is hard and no solution is ever perfect.

I'm not against adding na

[2020-07-30 21:32] Eomm commented on #2440
fast-json-stringify works https://runkit.com/embed/ukgc7l3kdgld

The issue is that the generated schema doesn't contain the `default` keyword

[code]

It seems a fluent-schema issue /cc @aboutlo

[2020-07-30 21:38] Eomm commented on #9
This is throw when the content type of the response is application/json but the `reply.send()` has been run

After the commit open a PR so we could help you to check it 👍

[2020-07-31 03:34] mfpopa opened #2452 "v3 not working without esModuleInterop"
## 💥 Regression Report

Fastify v3 + TypeScript does not work without `"esModuleInterop": true`. The TSC complains when importing fastify like this: `import * as fastify from 'fastify'`, which by the way is the default way to import things in TypeScript because `"esModuleInterop": false` by default.

I checked `fastify.d.ts` and noticed that `export = fastify` is missing. This used to be there in

[2020-07-31 03:47] mfpopa commented on #2452
Ah, just realised there was another issue opened about this, #2404

[2020-07-31 03:47] #2452 closed

[2020-07-31 05:16] patarapolw opened #2453 "`originalMsg` is exposed in production, when using custom pino logger"
## 🐛 Bug Report

`originalMsg` is exposed in production, when using custom pino logger; therefore all request headers.

This is both a GPDR risk and bloats the log.

## To Reproduce

[code]

## Expected behavior

At least, please add how to safely use custom logger in Fastify.

## Quick Fix

Luckily, the fix is as simple as

[code]

## Your Environment

- *node version*: 12
- *fastify version*: ^3

[2020-07-31 05:35] patarapolw commented on #2453
I followed <https://getpino.io/#/docs/help?id=mapping-pino-log-levels-to-google-cloud-logging-stackdriver-serverity-levels>.

Removing `log(message) { return { message } }` seems to help and works without `redact`.

[2020-07-31 06:49] mcollina commented on #2404
what's the conclusion on this? There are more and more reports about this problem with ts on our modules.

What is the fix that we should apply everywhere?

[2020-07-31 07:17] Radiergummi commented on #9
Draft PR is open, see #2454.

[2020-07-31 07:37] Eomm commented on #2453
I don't understand your issue.
What is the `originalMsg`?

This script doesn't log any `originalMsg`:

[code]

[2020-07-31 08:07] delvedor commented on #2447
@naseemkullah the module is the ELasticsearch client, see https://github.com/elastic/elasticsearch-js/issues/1105.

Given that you can import types as aliases with TypeScript, I would recommend doing so :)

[2020-07-31 08:35] patarapolw commented on #2453
It's reproducible; however, it is `pino`'s doc specific

[code]

Output:

[code]

The fix is still,

Not sure if it is `fastify`'s issue. More like outdated `pino`'s doc. I will close this for now.

[2020-07-31 08:36] mcollina commented on #2453
This was introduced in pino in https://github.com/pinojs/pino/pull/876. Essentially if you specify a `msg` property as well as a 2nd argument, it adds the first as `originalMsg`.

Can you please clarify how this is a GDPR violation?

[2020-07-31 08:39] patarapolw commented on #2453
It logs all headers.

[code]

[2020-07-31 08:46] #2453 closed

[2020-07-31 08:52] mcollina commented on #2453
The problem is caused by the following options:

[code]

Which is applied _before_ the serializers are kicked in. This __might be a bug in pino__.

This does the trick:

[code]

[2020-07-31 08:52] mcollina commented on #2453
What do you think @jsumners?

(I don't think this has anything to do with `originalMesage`.

[2020-07-31 11:44] jsumners commented on #2453
I think https://github.com/pinojs/pino/pull/876 should be reverted. It is easily implemented by the user:

[code]

[2020-07-31 11:57] mfpopa commented on #2404
The fix is `export = fastify` and `export = fastifyCookie` and so on.

I see it has been suggested to use the `"esModuleInterop": true` flag, but I don't see the advantage. Actually, I have never built or worked on a code base where the flag has been set to true. I am curious why I would ever want to enable the flag, since it is disabled by default.

I think not supporting the **star** import make

[2020-07-31 12:35] mcollina commented on #2453
Let's go for that then. It won't fix this problem anyway. Have you got time to send a PR @jsumners ?

[2020-07-31 12:48] naseemkullah commented on #2447
I see....

Fair enough! Thanks everybody.

[2020-07-31 12:48] #2447 closed

[2020-07-31 13:08] jsumners commented on #2453
Maybe after work or sometime this weekend.

[2020-07-31 15:21] Eomm commented on #2440
@komarnitskyi I just found that the issue is related to fluent-schema but v1.0.2 fix it.
So you need to update that module to solve.

[2020-07-31 15:21] #2440 closed

[2020-08-01 09:41] #2390 closed

[2020-08-01 10:46] mcollina commented on #2404
Can somebody make me an example on how to fix `fastify-websocket` for example? https://github.com/fastify/fastify-websocket/issues/72. I have tried a few things and _nothing_ works, there are always errors.

[2020-08-01 18:09] stalniy opened #2455 "Fastify must not mutate passed in options"
## 🐛 Bug Report

Fastify mutates passed in options

## To Reproduce

This is mimalistic example to reproduce the issue but the actual issue happens when trying to pass configuration using `config` npm package as options to `fastify` function:

[code]

This code throws:

[code]

## Expected behavior

Fastify should not mutate passed in options object

## Your Environment

- *node version*: 12.17.0

[2020-08-01 20:33] jsumners commented on #2455
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-08-01 20:47] stalniy commented on #2455
Unfortunately not in the nearest future, I'm pretty occupied by my own OSS projects right now

[2020-08-01 21:03] jsumners commented on #2453
`pino@6.5.0` has been published. Re-install modules and this issue should disappear.

[2020-08-02 01:58] zhangwinning commented on #2455
I'm willing to try to work on submit a fix PR.

[2020-08-02 04:53] mfpopa commented on #2404
I just realised that the fastify function is a named export, so doing `import { fastify, FastifyInstance } from 'fastify'` will work fine regardless if the `esModuleInterop` flag is on or off.

To solve my problem, I chose to turn on the `esModuleInterop` flag and refactor all other library imports where necessary. There are still some fastify plugins that have not been upgraded to v3 (e.g. Seraya

[2020-08-02 10:11] zekth commented on #2203
Giving it a shot. Just to be clear, this hook will only be called on the `node httpserver timeout` which results not having acces to the fastify request. (Regarding the example provided)

[2020-08-02 15:02] mcollina commented on #2404
Can both things be used at the same time? Last time I tried I was getting errors.

[2020-08-02 17:08] mcollina commented on #2404
If I write the following code:

<details>

[code]

</details>

I get:

[code]

This does not seem to be possible.

[2020-08-02 17:17] mcollina commented on #2404
Can any of you check if https://github.com/fastify/avvio/pull/120 would resolve the problem?

[2020-08-03 03:03] mfpopa commented on #2404
Hmm, not sure why this did not flag up until I tried both export forms on `fastify-websocket`. Funny that VSCode does not flag this issue up when it comes to other plugins; e.g. `fastify-static`

![image](https://user-images.githubusercontent.com/1562939/89136992-3f928400-d52e-11ea-87b6-eeabc42541b6.png) ![image](https://user-images.githubusercontent.com/1562939/89137008-520cbd80-d52e-11ea-96d7-04

[2020-08-03 07:43] sdevalk opened #2458 "Question: call custom error handler in case of an error?"
Hi all!

#### What are you trying to achieve or the steps to reproduce?

If an error occurs in a route handler, I would like Fastify to call my custom error handler, but I cannot get this to work. How can I change this?

[code]

#### What was the result you received?

If I call my endpoint using cURL...

`curl -i localhost:3000/ping`

...an error occurs:

`TypeError [ERR_INVALID_ARG_TYPE]: The fir

[2020-08-03 07:46] mcollina commented on #2404
I have released `avvio@7.2.0`, it supports passing in objects with a `default` properties as plugins. Can somebody check if this is still an issue? Thanks.

[2020-08-04 20:23] Eomm commented on #2462
I don't think so because in that case the `addSchema` is not executed so there is a missing reference from `fast-json-stringify` to the custom ajv instance.

I think your last comment on the issue could be a solution

[2020-08-04 20:44] jsumners commented on #2462
Yes. I will hopefully get the ability to work on it soon, but it's an unknown.

[2020-08-05 07:12] #2462 closed

[2020-08-05 16:28] TiredFalcon commented on #1747
I was trying to figure out why my errors were not being logged when I found this issue. Similarly, I'm also using `async` for all my plugins and routes.

The [official documentation](https://www.fastify.io/docs/v3.1.x/Server/#seterrorhandler) says that fastify has a default error handler that does this:

[code]

So I would expect any error to at least be logged, but no error is being logged.

I th

[2020-08-06 02:33] ethanwu10 opened #2466 "TypeScript defintion for set*Handler does not accept async functions"
## 🐛 Bug Report

The [type definitions](https://github.com/fastify/fastify/blob/v3.1.1/types/instance.d.ts#L223) for `setNotFoundHandler` and `setErrorHandler` only accept handler functions returning `void`, and not functions returning promises. This results in warnings in the recommended TypeScript ESLint preset when providing an async function as a handler, since the methods are not marked as su

[2020-08-06 10:32] JSteunou opened #2469 "Validation issue with enum"
## 🐛 Bug Report

Fastify through an error if the validation schema contains an enum without enforced type.

[code]

## To Reproduce

1. add a route with this validation schema

[code]

## Expected behavior

no error at sever start

## Your Environment

- *node version*:  12.18.3
- *fastify version*: 3.1.1
- *os*: Linux
- *any other relevant information*

The only way to avoid this issue for now is

[2020-08-06 11:06] StarpTech opened #2470 "Failing close-pipelining tests on Windows"
## 🐛 Bug Report

Runs in a timeout.

## To Reproduce

[code]

Result:
[code]

## Expected behavior

Run tests without an error

## Your Environment

- *node version*: 14.5 **and** 13.0.0 **and** 12.8.3
- *fastify version*: >=3.1.1
- *os*: Windows

[2020-08-06 11:11] fox1t commented on #2469
I've encountered this error in the past using https://github.com/sinclairzx81/typebox to generate schemas and, yes, it is not compliant with the spec.

[2020-08-06 12:06] JSteunou commented on #2469
This is exactly while using this library that I  have spotted this error. When you say *it is not compliant with the spec*, do you refer to fastify or typebox?

To me typebox is compliant here, `type: xxx` is not mandatory with `enum` per the spec. It should only be here when you need to enforce a single type within the enum.

[2020-08-06 12:15] fox1t commented on #2469
I think this is a json-fast-stringify not being compliant to that spec (It is used internally by fastify).

The spec itself is ok.

[2020-08-06 12:22] JSteunou commented on #2469
Ok I understand better, thank you.

[2020-08-06 12:35] #2203 closed

[2020-08-06 12:59] fox1t commented on #2469
This is the line that has that problem `https://github.com/fastify/fast-json-stringify/blob/master/index.js#L134` Would you like to make a PR?

[2020-08-06 13:18] JSteunou commented on #2469
I could try, but what should be the `default` then? Should `{enum: [...]}` be a special case, or every object without `type` should have the same logic? For example `{}` which is totally empty and the result of TypeBox `Type.Any()` should throw or pass?

[2020-08-06 13:35] JSteunou commented on #2469
Naïve question ahead:

Why cannot AJV be used as the serializer instead of fast-json-stringify? Just for speed reasons?

Because testing

[code]

compiles and validates very fine with AJV. As it is already used for input validation, maybe it could be used for output serialisation, would avoid maintenance and double work?

[2020-08-06 13:41] jsumners commented on #2469
AJV is not a serializer. It is only a validator.

[2020-08-06 14:39] JSteunou commented on #2469
Makes sense.

I though it, or some part of it, could be reuse for the serialisation part.

[2020-08-06 15:10] fox1t commented on #2403
Check this repository for a possibile solution: https://github.com/fox1t/modules-playground

[2020-08-06 15:48] jsumners commented on #2469
Both modules work the same way: they read the JSON Schema DSL and generate code from it. In the case of the serializer, the generated code is a function that "knows" the shape of data to be returned from it. AJV returns a function that verifies the shape is what it is supposed to be. Subtle but significant difference.

[2020-08-06 16:38] Eomm commented on #2469
I think [the spec](https://tools.ietf.org/html/draft-handrews-json-schema-validation-01#page-8) helps to decide what to do in these cases.

But we need to remember that we are a **serializer**, not a validator, and if you want to serialize an object you must know what the output is, otherwise we would be like `JSON.stringify()`.

The `enum` aims to **validate** that the output of the server is fin

[2020-08-06 17:16] fox1t commented on #2469
@Eomm nice idea! I agree with you!

[2020-08-06 17:42] mcollina commented on #2470
Which version of fastify is this on?

It's very weird that CI/github actions are passing :(.

[2020-08-06 19:38] KaKi87 commented on #1206
Hey @delvedor, are you sure implementing optional parameters costs more performance than duplicating a route ?...

[2020-08-06 20:57] delvedor commented on #1206
@KaKi87 fairly sure, adding routes is rather cheap with find-my-way, while adding a complete new logic in a critical piece of code will slow down everything else.

We could support the declaration of multiple paths with the same method at the same time (in the same way we are supporting multiple methods).
@mcollina what do you think?

[code]

[2020-08-06 21:00] mcollina commented on #1206
Tbh, we could duplicate the route in find-my-way transparently.

[2020-08-06 21:01] KaKi87 commented on #1206
I actually were going to say that : if this duplication behavior is acceaptable, then why not keeping it under the hood and let the user use `:foo?`

[2020-08-07 03:30] L2jLiga commented on #2470
Btw I also have same experience in my windows 10 machine

[2020-08-07 07:05] mcollina commented on #1206
Happy to review such a PR!

[2020-08-07 07:16] KaKi87 commented on #1206
Sorry I know how to do JS with elegance but not with performance 😅

[2020-08-07 08:07] StarpTech commented on #2470
@mcollina I updated the issue.

[2020-08-07 08:09] mcollina commented on #2470
Could any of you work on a PR?

[2020-08-07 08:10] StarpTech commented on #2470
Executing with `node test/close-pipelining.test.js` works :flushed:

[2020-08-07 08:44] StarpTech commented on #2470
It's not a fastify or tap issue. The suite just takes too long. When I increase the timeout when running `tap -t 40 -J test/close-pipelining.test.js` it works! I suggest increasing the timeout to 60s. In tap you can't set the timeout for a specific suite.

[2020-08-07 08:47] mcollina commented on #2470
That same test takes 2s on Mac, there is definitely a bug that leave it running for so long.

[2020-08-07 08:47] StarpTech commented on #2470
@mcollina the close-pipelining tests running 4x-10x longer on Windows.

[2020-08-07 08:50] mcollina commented on #2470
I think there are some issues on the config of the TCP stack on desktop machines that are causing problems. One of such difference is the implementation of ipv6 and ipv4. I think we might want to set the `host` when listening to `127.0.0.1` and use that in place of `localhost`. Can you give it a spin?

[2020-08-07 09:10] StarpTech commented on #2470
Same results with `127.0.0.1`

[2020-08-07 10:03] Eomm commented on #2470
It should be supported:

[code]

[2020-08-07 11:00] StarpTech commented on #2470
If it works it could be a workaround for now.

[2020-08-07 11:49] StarpTech commented on #2470
It doesn't work when running all tests. I will investigate but I'm open for ideas 😄

[2020-08-07 12:02] jsumners commented on #2470
`t.test('test', { timeout: 40000 }, t = {})` governs the time out for the single subtest.

Using `t.setTimeout(40000)`, where `t` is the top-level test object, will apply the timeout to all subtests in the suite file -- https://node-tap.org/docs/api/#tsettimeoutn . This might resolve the issue of the tests timing out on Windows, but as @mcollina said, it is merely hiding the problem.

[2020-08-07 12:53] mcollina commented on #2470
I'm happy with the local timeout but let's leave this open as it might hide some other bug

[2020-08-07 15:22] jefjos opened #2475 "fastify schema trim not working"
## 🐛 Bug Report

I want to accomplish 2 things with my schema - I want to trim the input and I want to validate that the trimmed input has minLength = 1. I tried all the different configurations I came across for doing this, but none of them have worked so far. I am using fastify version 3.0.0, and I believe it uses ajv validator for doing the transform and validation. The validation part is worki

[2020-08-07 15:37] mcollina commented on #2475
I don't understand what is the `trim` transform. Is this supported by Ajv?

[2020-08-07 15:42] jefjos commented on #2475
Yes -> https://github.com/ajv-validator/ajv-keywords#transform

[2020-08-07 15:45] mcollina commented on #2475
Have you added ajv-keywords? https://www.fastify.io/docs/latest/Validation-and-Serialization/#ajv-plugins

Can you include a full example?

[2020-08-07 15:51] mcollina opened #2476 "Refer to tsconfig/bases in typescript docs"
## 🚀 Feature Proposal

https://github.com/tsconfig/bases includes the default examples for the fastify configuration. We should recommend it in our typescript documentation, and possibly use the relevant one across all of our plugins.

[2020-08-07 15:58] jefjos commented on #2475
Thank you. Adding ajv-keywords fixed it.

[2020-08-07 15:58] #2475 closed

[2020-08-07 16:12] StarpTech commented on #2470
I created a PR https://github.com/fastify/fastify/pull/2477

[2020-08-08 06:28] Tundeh commented on #2458
can i take this? I'm new here

[2020-08-08 06:58] sdevalk commented on #2458
Hi @Tundeh, please do so :)

[2020-08-08 11:13] jsumners commented on #2429
I think this will be solved by the resolution of #2446

[2020-08-08 20:17] Tundeh commented on #2458
Ok, thanks @sdevalk

[2020-08-09 03:28] zhangwinning commented on #2143
Is there need a 404 plugin now, if need, I will work for it 😁

[2020-08-09 16:16] mcollina commented on #2143
No, we need a fresh PR that implements https://github.com/fastify/fastify/pull/2153.

[2020-08-10 10:28] fox1t commented on #2404
@mfpopa in order to be independent of `esModuleInterop` setting we can export the plugins like this:
https://github.com/fastify/fastify-swagger/pull/282

It supports all the contexts: CJS, ESM (only for default namespace import), and TS.

[2020-08-10 10:30] mcollina commented on #2404
I definitely think we can add it as a part of our docs.

[2020-08-10 15:17] fox1t commented on #2476
I think that [node12](https://github.com/tsconfig/bases/blob/master/bases/node12.json) is perfect, not only for us but also for our users.

[2020-08-10 15:32] L2jLiga commented on #2476
I'm voting for [node10](https://github.com/tsconfig/bases/blob/master/bases/node10.json) due to "engine" property in "package.json"

https://github.com/fastify/fastify/blob/e4d8773421a00ff16290b8f83d7270e931c40513/package.json#L101-L103

[2020-08-10 15:33] mcollina commented on #2476
I would go with node12, but also node10 is ok.

[2020-08-11 08:04] fox1t commented on #2404
I think we can consider this issue as resolved. @mfpopa and @sinai-doron do you still have any issues?

Speaking of the documentation part, we need to fix these chapters:
- https://www.fastify.io/docs/latest/TypeScript/#creating-a-typescript-fastify-plugin
- https://www.fastify.io/docs/latest/TypeScript/#creating-type-definitions-for-a-fastify-plugin

[2020-08-11 08:05] mcollina commented on #2404
I would prefer to close this after we land the docs change.

(Good work everbody!)

[2020-08-11 16:22] #2470 closed

[2020-08-11 18:22] zekth commented on #2455
What if instead of:
https://github.com/fastify/fastify/blob/master/fastify.js#L51-L53
we do this:
[code]

[2020-08-11 19:37] jsumners commented on #2455
It should be a deep clone so that Fastify can retain a clean copy. But I think someone had arguments against that at some point; I'm not sure, though.

[2020-08-11 19:46] stalniy commented on #2455
It can be a shallow clone in places where you to set default values.

[code]

[2020-08-11 19:52] stalniy commented on #2455
First of all guys, thanks for your work! But I must to leave my negative feedback about implementation of the fix at line: https://github.com/fastify/fastify/blob/master/lib/logger.js#L86

This doesn’t look better than a deep clone, probably slower, harder to read and not future proof. If somebody will try to set default values for another deeply nested property in the future, we will have the sam

[2020-08-11 21:01] zekth commented on #2455
indeed `Object.assign` won't work with versionning for example.

What about rewriting this:
https://github.com/fastify/fastify/blob/master/fastify.js#L94-L100
and make an inner `option` object and using spread operator when needed like suggested @stalniy ?

[2020-08-12 05:13] ferco0 commented on #242
Some mobile networks don't allow websocket connections.

[2020-08-12 06:44] adityapatadia opened #2487 "Wildcard route does not parse semicolon correctly"
## 🐛 Bug Report

Wildcard parameter in URL does not parse semicolon correctly.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Your Environment

- *node version*: 12.8.3
- *fastify version*: >=3.2
- *os*: Mac, Windows, Linux

[2020-08-12 07:20] delvedor commented on #2487
Hello! The reason this is happening is that some systems do not follow RFC and separate the path and query string with a `;` character, e.g. `/foo;jsessionid=123456`.
Thus, we need to split on `;` as well as `?` and `#`.
This is the code causing your issue: https://github.com/delvedor/find-my-way/blob/fb334f238e2cbda03a3482dacdea06447185cfe3/index.js#L605-L616

[2020-08-12 07:35] adityapatadia commented on #2487
Understood, is there any way to prevent this behaviour?

[2020-08-12 07:37] adityapatadia commented on #2487
How can I encode URL before the route module parses it? Is there any way to achieve with hook?

[2020-08-12 08:03] #2439 closed

[2020-08-12 08:36] zekth opened #2488 "doc: Add discord badge"
## 🚀 Feature Proposal

To promote the use of discord to make the community grow, the addition of a badge within the others on the README can be a plus. Here is how to setup it : https://shields.io/category/chat
(needs admin permission to allow it on discord side)

## Motivation

Promote the discord server

[2020-08-12 08:46] zekth commented on #2487
In the current state of art you can't as the routing is the first part of the lifecycle of the request. Your client need to encode the filename before sending the request. eg:
[code]

[2020-08-12 08:52] adityapatadia commented on #2487
My issue is that I don't have any control over request because client requests are directly handled by NodeJS. I would find some other way but, it would be great to get a pre-routing hook which allows this.

[2020-08-12 08:55] zekth commented on #2344
Seems like this issue can be closed now?

[2020-08-12 08:59] zekth commented on #2487
Look at this workaround so: https://github.com/fastify/fastify/issues/2287#issuecomment-630421865

[2020-08-12 09:15] mcollina commented on #2488
I don't know how to do that, there seems to be no instructions there (just the markdown sample). Can you send a PR?

[2020-08-12 09:33] adityapatadia commented on #2487
This works! Thanks.

[2020-08-12 09:33] #2487 closed

[2020-08-12 11:50] RafaelGSS commented on #2455
I don't see any problem with it. Since most of these properties could be deeply changed in the future, sounds good to make a copy of it (considering that is not a hot path)

[2020-08-12 13:13] delvedor commented on #2487
The `preRouting` hook works, but you should really send url encoded request.
In other words, your clients are doing the wrong thing, url should always be encoded :)

[2020-08-12 13:14] delvedor commented on #2287
Closed in https://github.com/fastify/fastify/pull/2290.

[2020-08-12 13:14] #2287 closed

[2020-08-12 13:38] #2488 closed

[2020-08-12 17:06] fox1t commented on #2404
This can be closed now.

[2020-08-12 17:24] #2404 closed

[2020-08-12 21:29] #2403 closed

[2020-08-13 08:21] fox1t commented on #2476
We can close this since https://github.com/fastify/fastify/pull/2484/files#diff-17177d7eb9ef1a38f00590c051d2b873R41 resolved it.

[2020-08-13 08:23] fox1t commented on #2301
PR: https://github.com/fastify/fastify/pull/2480

[2020-08-13 13:38] #2476 closed

[2020-08-14 18:18] devotox commented on #946
So for anybody who is having trouble on google cloud functions or firebase functions use this in your package.json

[code]

The problem with POST requests was that functions-framework already attached a body parser

[2020-08-15 09:20] bluebrown opened #2495 "Expose function signature/types on custom modules when registering via plugin."
When using fastify without any build steps for a better module resolution. So, using node require. The plugin system masks the function signature of the custom modules.

This image shows that vscode knows the function signature of custom modules.
![image](https://user-images.githubusercontent.com/39703898/90309350-d9b7dc00-dedf-11ea-8e60-6ae716748aef.png)

But after registering it as plugin
![imag

[2020-08-16 08:35] fox1t commented on #2495
This particular issue is not fixable. Decorate function adds a runtime property to an already created object (fastify instance). The only way we have to let TS knows about it is to use [module augmentation](https://www.typescriptlang.org/docs/handbook/declaration-merging.html#module-augmentation). In this case, you've written the function and decorated the instance, but since you are using JS the

[2020-08-16 08:39] fox1t commented on #2495
Fun fact n.2: if you use the decorated function in the same file where it is declared and the same name, VS Code tries to be smart and fakes the types:
<img width="668" alt="image" src="https://user-images.githubusercontent.com/1620916/90330399-b7d85b00-dfac-11ea-9e3a-b420d3f4c760.png">

XD

[2020-08-16 12:49] weiliddat commented on #2398
Hey @Ethan-Arrowood do you need help here? I was already dealing with plugin types on some projects, between using TS in fastify 2 and fastify 3.

Though as of now, declaring a plugin as a `FastifyPlugin` seems to give the right type for the `FastifyInstance` passed into the function to be called.

![image](https://user-images.githubusercontent.com/899658/90334667-9dfc3f80-dfcf-11ea-890e-680c6ec10

[2020-08-16 13:44] mcollina commented on #2398
I think this might be mostly done now.

cc @fox1t

[2020-08-16 13:53] weiliddat commented on #2495
Yeah you could use module augmentation, which is the most straightforward, but could be problematic if you only declare/use a decorated function in one route and not in another (because it would appear as valid on every FastifyInstance).

Ideally, we would be able to:
1. Decorate and concretize some kinda generic type union of FastifyInstance and some GenericDecoratedInstance, perhaps using guards

[2020-08-16 16:58] Ethan-Arrowood commented on #2398
Yes I believe so too. Feel free to close if we are all happy with the new documentation contributions!

[2020-08-16 23:34] #2398 closed

[2020-08-17 11:08] RafaelGSS opened #2497 "Run a lighter benchmark on Pull Requests"
## 🚀 Feature Proposal

Hey! I don't know if this has been discussed before, so feel free to close if there is already an issue for that.
How Fastify has a big effort on performance always in the PR's I review I try to check comparison between current PR and the `master`. However, this is a manual job without visibility, could be better transferred to a CI.

Maybe this could have been thought of be

[2020-08-17 11:57] Eomm commented on #2497
I started here https://github.com/fastify/fastify/pull/2152 with the same target.

The idea was:
- on a `strict` comment
- run benchmark on PR-branch
- run benchmark on master-branch
- post the results in a message

The issue was that the action didn't check out the PR branch cause of `ref`

[2020-08-17 11:58] jsumners commented on #2497
Dupe: https://github.com/fastify/fastify/issues/1931
https://github.com/fastify/fastify/pull/2152

[2020-08-17 14:05] airhorns opened #2498 "Host based routing"
Is there a way to restrict some fastify handlers to only match on certain request hosts? Similar to the Rails router's `constraints: { host: "somehost.com" }` piece that lets you scope certain routes to only match if certain conditions met.

My use case is the classic one-subdomain-per-customer setup where I have a wildcard DNS setup that points `*.airhorns.dev` to my Fastify instance , so that cu

[2020-08-17 15:37] fox1t commented on #2398
I agree that this is ok for the moment.

[2020-08-17 15:56] fox1t commented on #2495
@weiliddat This issue is about JS source code and VS Code auto-completion on JS files. It is not fixable for the user since there is not a real TS interface (since the code is written in JS).

Returning to your suggestion, I could agree that would be nice to achieve that, but this is a TS limitation: it is not possible to extend a namespace/instance of an already created object only in some part o

[2020-08-17 17:41] cage1618 opened #2499 "shound't serialize payload when preserialize hook return a string"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

[code]
I get the response "{\\"data\\":\\"abc\\"}"

## Expected behavior

A clear and concise description of what you expected to happen.

[code]

## Your Environment

- *node version*: 14
- *fastify version*: 3.2.0
- *os*: Mac
- *any other relevant information*

[2020-08-17 19:35] weiliddat commented on #2495
You're right my bad. I overlooked that this particular case is in JS and so there is no TS declaration that you can add to this (well you can use JS docs each time you use FastifyInstance but it's probably too verbose and brittle to update all the time).

About the more general case of automatic type signatures for decoration, this is exactly the issue I face when using fastify for work projects (

[2020-08-17 20:46] mcollina commented on #2499
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-08-17 21:14] Noor0 commented on #2458
I did a little bit of digging and no error callbacks are being called on the streams which is a bit strange. I even added one error callback on `payload.pipe(res)` inside `sendStream` and it still crashed. Did I go in the wrong direction?

[2020-08-17 23:21] jsumners commented on #2498
Route the domains to different servers and launch the servers with configuration that indicates which domain it should be processing (e.g. via an environment variable). See https://github.com/fastify/fastify/blob/7ac9da63f7d0ab03dd0548fdb52db03d3295f3e7/docs/Recommendations.md#reverseproxy

[2020-08-18 01:49] FallingSnow commented on #2356
For anyone who comes across this, this was actually fixed for me by using cjs `tiny-lru`. I have no idea why.

[code]

[2020-08-18 03:46] naseemkullah commented on #2395
Is pino-http used as fastify's logger? If so is there a way to just link to pino-http types? But I don't think it is cause fastify's built in logger does not quite have all the same options as pino-http if I'm not mistaken.

[2020-08-18 06:21] mcollina commented on #2395
no

no

They have the same features. fastify does not have some features related to skip paths because they are not needed here.

[2020-08-18 10:55] RafaelGSS commented on #2497
Oh! I forgot @Eomm, sorry. So, the hacky that @jsumners paste in the PR could work?

Otherwise, we have other options to deal with it?

[2020-08-18 11:11] RafaelGSS commented on #2498
Like the document above says. Why you don't do this at reverse proxy?

[2020-08-18 11:20] RafaelGSS commented on #2499
I don't see any bug here. Could explain the really possible bug here?

[2020-08-18 11:34] Eomm commented on #2499
[From docs](https://github.com/fastify/fastify/blob/master/docs/Hooks.md#preserialization):

So the `preSerialization` is not called if you write `reply.send('this is a string')` for example.

@cage1618 I think the [`setReplySerializer`](https://github.com/fastify/fastify/blob/master/docs/Server.md#setreplyserializer) would fit your needs

[2020-08-18 13:10] jsumners opened #2500 "Improve developer experience around server listening"
## 🚀 Feature Proposal

Document or formalize notifying when the Fastify server is listening for and accepting requests.

## Motivation

I have encountered a need to know when the server is listening for and accepting requests. This is different from our `onReady` hook (which is really `onReadyToListen`). Basic premise is, I have to work with a third party API that requires OAuth 2.0 authorization

[2020-08-18 13:23] airhorns commented on #2498
FWIW I already have a reverse proxy as well and agree with many of the justifications in that document -- I use it for SSL termination and load balancing and no downtime deploys and all that other goodness.

At a minimum though I want my server instance to handle requests for more than one domain because the domains aren't known in advance. I can't pass in all the subdomains via an environment var

[2020-08-18 14:29] mcollina commented on #2498
Those are all valid motives. I would say no one of us had the need to implement this - or maybe the cost of development time vs possible savings was too steep to justify.

Note that what you need it's not pretty but it's 100% achievable by having multiple fastify instances on the same Node.js process. This will have some added memory cost, but likely smaller than running multiple processes. Check

[2020-08-18 14:30] mcollina commented on #2500
what should happen to incoming requests while you process the ACG flow?

[2020-08-18 14:33] jsumners commented on #2500
If we try to explicitly support this ridiculous use case: the server would only respond to the callback endpoint until a token has been acquired. But I think that is too big of an ask. We just need to document how to use this event or create a hook wrapper on top of it.

[2020-08-18 14:38] mcollina commented on #2500
Do we really need a hook? I think we should just document the node core event. Remember to not use the `async` function in your example, as there won't be anybody catching it.

[2020-08-18 15:30] jsumners commented on #2500
Documentation is fine.

[2020-08-18 17:37] Noor0 commented on #2458
@sdevalk In your example, If `stream.push(null)` is removed then the error handler works and I also found that Node streams do not operate with null values since it means something else internally. [Stream docs](https://nodejs.org/docs/latest-v12.x/api/stream.html#stream_object_mode)

[2020-08-18 17:51] jsumners commented on #2500
@mcollina regarding the async function as the listener callback:

Yeah, I realize that's not right. However, I'm not sure how to resolve this case. I can't do:

[code]

Because it's a plugin and Fastify needs them to start up in a millisecond or two versus potential literal seconds with the round-trip ACG requests.

[2020-08-18 19:40] Eomm commented on #2500
If the plugin doesn't start, the `listening` event should never be emitted. Is this snippet working?
Is your token with an expiration?

[2020-08-18 19:45] jsumners commented on #2500
@Eomm I'm saying the easy fix for leaking an uncaught exception by passing a promise as an event handler does not work here because it would cause the plugin to block the server from finish its load.

[2020-08-18 20:02] airhorns commented on #2498
Oh, I always thought this was a pretty common pattern? Shopify, Webflow, Vercel, Netlify, Heroku, Slack, etc etc all provision one subdomain per customer like this, and some have their own corporate stuff running on the same TLD as their customer stuff.

Out of curiosity, has anyone thought through what a good API for this might be? Is that part of why it's been a wontfix for now is that it's diff

[2020-08-18 20:07] jsumners commented on #2498
It's not a "wontfix". It's a feature request. Regardless, issues are resolved primarily by those who are interested in seeing the issue addressed. Given that no one on the core team has experienced a need for this feature, it is unlikely anyone on that core team will take time to address it. But we are very willing to review PRs for it.

If it's not something you have the time to work on yourself,

[2020-08-18 20:08] airhorns commented on #2498
My mistake! I thought thats what you meant with the reverse proxy solution, my bad.

[2020-08-18 20:09] weiliddat commented on #2495
After mulling over this, I think approach 2 should be the recommended solution, since decoration is a runtime (startup, but still runtime) addition to Fastify instances, and having an runtime assertion + compile time type guard would be helpful.

If you think this could be helpful, I could open a PR against the docs in the TypeScript section in addition to declaration merging.

@Ethan-Arrowood, ma

[2020-08-18 20:19] fox1t commented on #2495
I still have hard time figuring out how this could work into the wild: there are many plugins that are written just in plain JS and others that are written by the community. How can we enforce all plugin developers to expose always that assert function? Probably, it would be more helpful to expose it on fastify instance itself, same as for https://www.fastify.io/docs/latest/Decorators/#hasrequestd

[2020-08-18 20:50] weiliddat commented on #2495
I don't think you could/should enforce this on all plugin developers, just like how you cannot enforce using TS or providing type declarations on plugin developers. This is merely a guide, just like how adding augmentations is a guide.
The intention here is, I think that polluting the global FastifyInstance interface is not a good idea in larger codebases, and this is a solution for dealing with i

[2020-08-18 21:08] fox1t commented on #2495
I disagree about to enforcement statement: we need a standard way to deal with type decoration and using the one that is provided by TS itself (interface augmentation) is the most safe choice here. For the last point you are, again, suggesting to do something at the user code level, but we need it at fastify/fastify-plugin level. As far I as know there is no way to make TS aware of "decoration con

[2020-08-18 22:03] weiliddat commented on #2495
I don't understand what's the disagreement about — type augmentation is TS, but so is extending an interface, guarding, and intersection types. Also, isn't writing an interface augmentation something that plugin developers or users have to do anyways? Isn't that already additional code that someone has to write?

I agree that TS has its limits right now regarding contextual augmentation (or changi

[2020-08-18 22:07] fox1t commented on #2495
Sorry for not being clear, here. I am not suggesting that we should not look for solutions. We already looked for many of them and this seemed the best solution.
If you want you can make a PR and we can discuss more about the solution you are proposing. However, we need to remember our constraints:
1. it has to work when a plugin is imported from node_modules
2. decorate modifies an already instan

[2020-08-19 12:32] jsumners commented on #2500
I updated the original example with a solution.

[2020-08-19 13:59] mcollina commented on #2500
Considering your problem, I would:

1. have the `/status` health probe for your LB not go "green" until you have finished the ACG flow
2. store the ACG token in Redis or analog and refresh when needed using some external tool
3. if any of the routes where the ACG token is needed is called while processing the request issue a 503 response so the load balancer can route the request to another server

[2020-08-19 14:03] mcollina commented on #2498
They do not serve their whole system through the same Node.js (or any other language) process. They use load balancer and infra to handle this case.

[2020-08-19 14:53] airhorns commented on #2498
I actually used to work on Shopify and Shopify does it with the Rails router, but I don't know about the rest of the internal implementations. It made lots of things easier to have the different domains served by the same process at Shopify especially as users were being redirected between the different domains for things like session bootstrapping. If you're forwarding someone from a global auth

[2020-08-19 22:53] mcollina commented on #2498
I think the starting point must be a PR to find-my-way, our router.

[2020-08-20 07:11] delvedor commented on #2498
Very likely the most performant solution to this problem is a similar approach that we use for versioned routes. We need a fast algorithm that can handle the host header and compre it with the host configuration passed by the user.
Once we find a good algorithm for doing this, the integration should be easy enough :)

[2020-08-20 13:55] airhorns commented on #2498
I am happy to take a stab at that PR but before diving in I wonder what the right developer-facing interface would be for restricting certain routes to certain hosts. Would you folks imagine it in another option passed to `.route` or as part of the `url` parameter passed to the route shorthand methods? I feel like it might be kind of tricky to make the URL parsing logic completely unambiguous such

[2020-08-20 14:35] mcollina commented on #2498
no. We want the route to be fully decided by the router itself. This is a key principle in find-my-way.
As @delvedor said, the approach that best match what would be needed is the one we use for versions. See how that is implemented.

[2020-08-20 14:39] airhorns commented on #2498
What's the intention with this principle? Just to keep performance high?

[2020-08-20 15:20] mcollina commented on #2498
Yes, exactly.

[2020-08-21 02:57] gabemeola commented on #1668
Had some issues using TypeBox with defaults. Created an issue here: https://github.com/fastify/fast-json-stringify/issues/251

[2020-08-21 08:50] mcollina opened #2507 "Move the version check from fastify-plugin to fastify itself"
## 🚀 Feature Proposal

Move this check https://github.com/fastify/fastify-plugin/blob/78539fe08010a039f1d16e34f42807b51e240242/plugin.js#L109-L111 from fastify-plugin to fastify itself.
This would have the consequence of adding `semver` as a dep, but I think it does not matter much (fastify-plugin is ubiquitous anyway).

The check must happen at the beginning of https://github.com/fastify/fastify/

[2020-08-21 08:51] mcollina commented on #2507
cc @adrai @fox1t

[2020-08-21 08:55] adrai commented on #2507
lamda info: https://github.com/fastify/fastify-plugin/pull/102/files#r474542157
[code]

[2020-08-21 09:34] eadsjr opened #2508 "Server attempts to parse [object Object] on post. "Unexpected token o in JSON at position 1""
## 🐛 Bug Report

When sending a JSON object from the client to a post method on a Fastify server, a JSON parse error occurs if the Content-Type header is set.

## To Reproduce

Client
[code]

Server
[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Apparent Solution

Remove this line.
[code]

## Context

The same client code works with the following express code:
[code]

The cur

[2020-08-21 09:47] #2508 closed, assigned to nobody

[2020-08-21 22:19] eadsjr opened #2510 "stripe method call causes FastifyError - Promise may not be fulfilled with 'undefined' when statusCode is not 204"
## 🐛 Bug Report

When attempting to make a call on the stripe package API, a FastifyError is thrown, though the call appears to work.

## To Reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Your Environment

- *node version*: v14.8.0
- *fastify version*: 3.2.1
- *os*: Mac OS X 10.15.3
- *browser*: Chrome Version 84.0.4147.125 (Official Build) (64-bit)

[2020-08-22 14:42] zmeyc opened #2511 "TypeScript: logger type is being lost in routes"
## 🐛 Bug Report

FastifyInstance is defined as:
[code]

In most other places when FastifyInstance is returned, Logger type is not propagated and lost.

For example, fastify/types/route.d.ts

[code]

^ returned FastifyInstance is using default logger type.

This needs to be checked across entire codebase.

Plugins also augment incomplete type and need to be fixed if fastify core is updated. For exa

[2020-08-22 23:34] kibertoad opened #2512 "Stop running CI on Node 13"
EOL for Node 13 was on 2020-06-01. We probably should stop running CI for it, same as we stopped running it for Node 11. Thoughts?

[2020-08-23 08:16] #2512 closed, assigned to nobody

[2020-08-24 02:46] naseemkullah opened #2514 "logger customLogLevel as per pino-http"
## 🚀 Feature Proposal

Add a `customLogLevel` option to fastify's built-in request logger.

## Motivation

https://github.com/pinojs/pino-http/blob/0b35a2c14de4bbb941f0ac004746e9f8863941c5/logger.js#L70 is  a great configuration option as it allows the user to configure log levels based on criteria such as respone status code.

## Example

Exactly as used in pino-http, NB the end goal is to contro

[2020-08-24 05:54] mcollina commented on #2514
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-08-24 14:02] naseemkullah commented on #2514
Sure @mcollina , but before it seems like we are duplicating more and more from `pino-http`, is there a way to embed `pino-http` in fastify directly?

[2020-08-24 14:10] mcollina commented on #2514
It's not possible as pino-http works on node core objects. Ours works on fastify objects.

[2020-08-24 15:13] fox1t commented on #2511
Would you like to send a PR to fix this?

[2020-08-24 19:00] zmeyc opened #2515 "Types tests not running"
## 🐛 Bug Report

In commit f47b3d2e174d71c2443c9425cb3eddf7f63815fb there was a switch from eslint to standardjs and TS tests don't seem to do anything since then.
[code]

I'm not sure how to fix this because standardjs is not customizable 'by design'. Possible fix is rolling back to eslint and using eslint-config-standard for base rules, but this won't work with VSCode standardjs plugin.

## To R

[2020-08-24 19:22] zmeyc opened #2516 "TypeScript: hooks types"
## 🐛 Bug Report

In hooks.d.ts:

[code]

It's not possible to use async function without `done` param as `preHandler` hook. Also I think return value should be `Promise<void>`.

Similar changes need to be made in other hooks.

I can fix this, but need to get tests working first: https://github.com/fastify/fastify/issues/2515
This issue seems to be already partially covered by tests.

## Your Envir

[2020-08-24 20:49] mcollina commented on #2516
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-08-24 20:50] fox1t commented on #2515
Actually I suppose that tests still run but linting isn't running. Am I wrong?

[2020-08-24 22:51] mcollina commented on #2515
I think you are correct.

[2020-08-25 10:58] eadsjr commented on #2510
When creating a better example I found the issue did not persist, so I dug deeper.

It turns out this isn't related to Stripe at all... it's the result of allowing a route to terminate and sending a response asynchronously.

## To Reproduce

[code]

## Apparent Solution

[code]

Is this worthy of a more specific error message?

[2020-08-25 11:00] jsumners commented on #2510
`await reply.send`. This is all documented.

[2020-08-25 11:00] #2510 closed

[2020-08-25 11:01] fox1t commented on #2510
I think the message is already specific enough:
Here you are returning `undefined`:
[code]
and it is used as the response payload.

[2020-08-25 11:37] jsumners commented on #2510
https://www.fastify.io/docs/v3.2.x/Routes/#async-await

[2020-08-25 11:39] #2097 closed

[2020-08-26 09:11] SagaviS opened #2522 "Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch"
I need help my Discord bot turns off after some time I made it a long time ago and I don't remember why I need a database in this bot, how to delete this database, when I deleted it, the bot did not working.
Index https://hastebin.com/yonebuquba.js
Error on heroku https://hastebin.com/umesiqubiq.js
Error on computer https://hastebin.com/eqevopojex.css

[2020-08-26 09:34] mcollina commented on #2522
I don't understand why you are opening this here.

[2020-08-27 15:47] Ethan-Arrowood commented on #2515
https://standardjs.com/index.html#typescript

Relevant that might help here

[2020-08-27 19:23] niklasgrewe commented on #2379
i would also be happy if fastify is one of the first web frameworks for nodejs that support QUIC 👍 As I have seen, iOS 14 seems to have implemented QUIC experimentally.

![1606B76F-AF10-43F0-8BFE-7ED1D5BCEB53](https://user-images.githubusercontent.com/61348836/91485650-72206a00-e8ab-11ea-86ce-86965717622a.jpeg)

[2020-08-28 22:13] gustawdaniel commented on #2062
This is good general question:

[2020-08-29 19:14] #2466 closed

[2020-08-29 19:14] #2469 closed

[2020-08-30 17:29] gustawdaniel commented on #2038
[code]

??

Rather `listen`.

[2020-08-30 23:44] #2429 closed

[2020-08-31 11:03] ErisDS commented on #1771
I completely understand why you'd not want to allow routes to be added after ready, but I would have the same use case and maybe I can explain it better purely for interest. I'm not asking for anything, just stumbled across this thread whilst reading about fastify.

In a CMS style environment (decentralised, multi-install application), it's common for there to be settings that are changed whilst t

[2020-08-31 11:07] neuronetio commented on #1771
@ErisDS I've created polka fork with this functionality (dynamic routes) https://github.com/neuronetio/polonez

[2020-08-31 11:38] delvedor commented on #1771
@ErisDS thank you for the detailed answer! :)

I don't foresee this behavior to change in the future, as the reason why it's happening are deeply written into Fastify (mainly optimization and caching).

A possible solution could be to have two fastify instances, the first one forwards requests to the second one, which is rebooted every time is needed (or in a A/B deployment fashion), guaranteeing

[2020-08-31 11:41] jsumners commented on #1771
@ErisDS you could register a fallback `/*` route and essentially implement your own request time router. The short answer is, though, that Fastify wasn't designed for this sort of scenario. It's an REST-ful API framework first.

[2020-08-31 12:01] ErisDS commented on #1771
I ended up here from playing with fastq (now using in production) and avvio (still figuring this bit out) - so using components rather than the whole framework is definitely a workable approach for me.

Intention behind my message is purely for interest - I def have a use case for the REST-ful API framework part fastify, but I equally have the dynamic use case - so thought I'd share.

One addition

[2020-08-31 13:29] mcollina commented on #1771
Registering (and deregistering) routes is something that would likely lead to leaked memory somewhere at worst and increase jn memory usage at best. I'm definitely up for adding an option that enables this for advanced users that knows what they are doing. As long as it's disabled by default and comes with adeguate warnings, I'm ok.

[2020-08-31 14:07] RafaelGSS commented on #2062
We have this answer on the [doc middleware](https://github.com/fastify/fastify/blob/master/docs/Middleware.md#middleware)

[2020-09-01 05:45] zmeyc opened #2529 "TypeScript: reply.send validates against argument's type, not route method payload's type"
## 🐛 Bug Report

If RouteShorthand method is configured with a specific Reply type, i.e.

[code]

reply.send won't detect a typing error because it uses a type of it's argument, not the type it should be validating against (i.e. Topics).

Using `return` form also doesn't detect the error because it's typed as unknown.

## To Reproduce

Configure Reply and pass incompatible type to reply.send() or

[2020-09-01 07:40] mcollina commented on #2529
cc @fox1t @Ethan-Arrowood

[2020-09-02 08:32] AlexLeung commented on #805
People need to stop recommending that you build an in-memory buffer by appending chunks, then sending the total concatenated string. If you're streaming a 10GB file, this strategy will try and add the entire 10GB into memory, which completely defeats the purpose of streaming.

Instead just pipe `reply.raw`.

[2020-09-02 14:05] fox1t commented on #2529
Fixed by https://github.com/fastify/fastify/issues/2529

[2020-09-02 14:05] #2529 closed

[2020-09-02 18:39] Eomm commented on #805
This issue is quite old, and the suggestion was to use the stream (that will not load all the data into memory).

Right now you don't need to manage the raw response since you may write

[code]

and this will stream the file without filling the memory.

[2020-09-02 19:20] Eomm opened #2531 "Chaining setNotFoundHandler"
`setNotFoundHandler` doesn't support chaining calls:

[code]

As does `setErrorHandler` and `setValidatorCompiler` etc..

https://github.com/fastify/fastify/blob/21578f56dea6bfd3de1c9a4df497fd535d174221/fastify.js#L499-L503

_Originally posted by @Eomm in https://github.com/fastify/fastify/pull/2467#discussion_r466178333_

[2020-09-02 19:25] Eomm commented on #2522
[Heroku turn off](https://devcenter.heroku.com/articles/free-dyno-hours#dyno-sleeping) free server after 30 minutes of inactivity

[Heroku discontinued](https://devcenter.heroku.com/changelog-items/1823) the previous version of mongodb (mlab) since July

We can't help you further

[2020-09-02 19:25] #2522 closed

[2020-09-02 19:39] Eomm commented on #2507
Just to chat: how would you implement this?

- a getter that will `require(package.json)`
- with a script that runs `prerelease` and updates a `const` in the code
- do you have other crazy ideas?

[2020-09-03 07:09] junbao520 opened #2534 "Can I user log4js Record Log （generated by fast log）"
Can I user log4js Record   Log （generated by fast log）？

can i use log4js instead of fast log?

[2020-09-03 07:46] mcollina commented on #2507
I prefer if we use fs.readFileSync and JSON.parse. In this way we do not hold package.json in memory forever.

[2020-09-03 12:46] #2531 closed

[2020-09-03 20:10] Eomm commented on #2534
Yes you can

You need to provide the logger with [this interface](https://stackoverflow.com/questions/55264854/how-can-i-use-custom-logger-in-fastify) as parameter.

[Detailed docs](https://github.com/fastify/fastify/blob/master/docs/Logging.md)

[2020-09-03 20:10] #2534 closed

[2020-09-04 00:46] hunterInt opened #2535 "Fastify lags at "Incoming request""
## 🐛 Bug Report

When I make a `POST` request to my Fastify server, oftentimes (but not always even for the same route) Fastify just is stuck at "Incoming request":

![image](https://user-images.githubusercontent.com/14793417/92186861-5241f680-ee15-11ea-91e2-cc4e1c89be89.png)
[code]

This lag takes sometimes 5 or more minutes to get past. I have no idea what is causing this, as I have tested it wi

[2020-09-04 07:53] zekth commented on #2535
Sorry but this looks incomplete to me. Have you tried to look into your `auth` hooks for `authenticate` and `validate` ?

[2020-09-04 09:35] Eomm commented on #2535
I would check with [`clinic flame myserver.js`](https://clinicjs.org/flame/) where the code is stuck to understand where to focus

[2020-09-04 11:54] jsumners commented on #2535
I would use the https://nodejs.org/dist/latest-v12.x/docs/api/perf_hooks.html API to liberally coat the affected code path with metrics to determine where the code is getting stalled.

https://medium.com/the-node-js-collection/timing-is-everything-6d43fc9fd416

[2020-09-04 12:12] JSteunou commented on #2469
Can this issue be re-opened plz?

[2020-09-04 16:55] btilford opened #2566 "Import the default (json) content type parser?"
#### You have already researched for similiar issues?
It's not uncommon that somebody already opened an issue or in best case it's already fixed but not merged. That's the reason why you should [search](https://github.com/fastify/fastify/issues) at first before submitting a new one.

#### What are you trying to achieve or the steps to reproduce?

I have an external caller that I can't change sendi

[2020-09-04 21:03] cmawhorter opened #2538 "definition for request hostname is incorrect"
## 🐛 Bug Report

in the docs request `hostname` is defined as providing the hostname -- which is very incorrect for [what it actually does](https://github.com/fastify/fastify/blob/f2982a245e55f6c9d0a88837434e8423db6cc0ae/lib/request.js#L74-L81).

what it actually does:
- if request.headers['x-forwared-for'] exists, the value is returned. (i believe this could be an array?)
- host header as-is (so

[2020-09-05 09:41] Eomm commented on #2497
I think there could be another solution thanks to GH that I wasn't aware 👍

https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/checking-out-pull-requests-locally

From the repo `fastify` you can check out a PR with the snippet:

[code]

Since the event has the id that can be referenced with ` ${{ github.event.issue.number }}`

So if we write action like that one I wrote

[2020-09-05 10:06] mcollina commented on #2497
The problem of using CI is that CI is virtualized. Actual human-run benchmarks can be more reliable. Using CI would not replace the need for human-based checks :(.

[2020-09-05 11:58] jsumners commented on #2497
Agreed. The CI run checks are useful to get an idea if something is off. They are not a "true" benchmark run.

[2020-09-05 18:39] manasmishra commented on #946
Any small working example will help the community a lot. How and where to use the above line?
Thanks.

[2020-09-05 21:08] RafaelGSS commented on #2497
If we add self runners this could work?

[2020-09-06 09:33] mcollina commented on #2538
Thanks for reporting! Would you like to send a Pull Request to address this issue?

[2020-09-06 09:44] zekth commented on #2497
This can add significant load on the runner. I'd suggest to run the benchmark on a label addition by a contributor or something like this. Having it running on each PR is pretty overkill.

[2020-09-06 21:56] RafaelGSS commented on #2497
Yep. But, the problem is where to run the benchmark, as said in previous answers, using the CI is indeterministic.

[2020-09-07 08:58] zekth commented on #2538
This case is only when you're using `trustProxy` attribute  otherwise it uses this code:
https://github.com/fastify/fastify/blob/f2982a245e55f6c9d0a88837434e8423db6cc0ae/lib/request.js#L129-L133

[2020-09-07 13:03] gustawdaniel commented on #2037
But I expected this error, not only for tap but other test frameworks.

It is connected with `bull-fastify` plugin.

Different plugins that have open connections can be the reason for this. I would like to see any docs about debugging this topic.

[2020-09-08 05:00] chenchuraviteja opened #2541 "throw new FST_ERR_MISSING_MIDDLEWARE()"
Any one help me, how to use keycloak middleware in  fastify 3 version

[code]

## Expected behavior

I need to execute the keycloak middle-ware in execute time. i am trying code like(below) this also getting same error

[code]

## Your Environment
- *node version*:  12
- *fastify version*: >=3
- *os*: Linux

## getting error
/home/ibytecode/git-repos/sub-pjt/iam/iam-api/node_modules/fastify/fastif

[2020-09-08 09:36] fox1t commented on #2541
I think that the error message is pretty straightforward: "You must register a plugin for handling middlewares, visit [fastify.io/docs/latest/Middleware/](fastify.io/docs/latest/Middleware/) for more info"

As of version 3 you need to install a plugin in order to be able to use middlewares.

[2020-09-08 09:41] #2541 closed

[2020-09-08 13:06] briceruzand opened #2543 "Invalid content-length in custom ErrorHandler"
## 🐛 Bug Report

I add a custom error handler to add some extra data to my api answer (stack, ...).
- I send a request too an elasticsearch server, which reply an answer (an error) with a content-length of 335 bytes.
- In my error handler, I answer with bigger body (more than 335 bytes content-length).

## To Reproduce

If a thrown error have headers.'content-length' properties it is propagated to

[2020-09-08 13:07] mcollina commented on #2543
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-09-08 13:12] briceruzand commented on #2543
I don't know how too reproduce it in a smaller env than the one I have provided.
May be an internal point of view you will find the cause.

[2020-09-08 13:19] airhorns commented on #2498
Is anyone aware of any other feature requests similar to this one but for other route constraints? The `find-my-way` code currently treats versions in a really special way, and it feels like adding host based routing is going to make it significantly more complicated and hard to follow. If there was a 3rd or a 4th special thing like this it might make sense to refactor all of the special things to

[2020-09-08 13:24] briceruzand commented on #2543
It looks like #2214

[2020-09-08 13:30] briceruzand commented on #2543
After looking at #2214 :
I found simpler way to reproduce it, like in #2214 with an errorHandler.

[code]

[2020-09-08 14:01] mcollina commented on #2543
Would you like to send a PR?

[2020-09-08 14:12] mcollina commented on #2498
If there is a generic way that does not slow things down, go for it.

[2020-09-08 14:27] briceruzand commented on #2543
I provide only test case for the bug not the fix  in PR #2545

[2020-09-09 14:26] #2515 closed

[2020-09-09 15:29] #2543 closed

[2020-09-10 02:30] cmawhorter commented on #2538
so that's true about x-forwarded-host (shame on me for not looking at context) but it remains true the host is not the hostname and probably worth mentioning in the docs.

i can send a PR to change it to "'host' or ':authority' header value or (if one exists)", if you'd like

[2020-09-10 06:03] mcollina commented on #2538
Also mention `trustProxy`.

Thanks!

[2020-09-10 13:16] CodeAnomalies opened #2551 "Adding content type parser not accessible while route is called even though addContentTypeParser called"
## 🐛 Bug Report

After calling addContentTypeParser for 'application/x-www-form-urlencoded' it still give error of `Unsupported Media Type: application/x-www-form-urlencoded`

## To Reproduce

fastify v3.3.0

My file:

[code]

When calling `/test` with `Content-Type: application/x-www-form-urlencoded` body: `id=564160757931&name=ironman` I get and error `Unsupported Media Type: application/x-www-f

[2020-09-10 14:24] mcollina commented on #2551
Would you mind to add a script to execute to reproduce the problem? curl or node.js would be ok, thx.

[2020-09-10 14:25] mcollina commented on #2551
You should probably define your content type parser before your post route.

[2020-09-10 15:39] CodeAnomalies commented on #2551
@mcollina defining  content type parser before post route did not change anything.

curl -d "param1=value1&param2=value2" -H "Content-Type: application/x-www-form-urlencoded" -X POST http://localhost:4000/test

`fastify.hasContentTypeParser('application/x-www-form-urlencoded')` return `true` so it is added.

When request arrives I believe it tries to parse at that time `this.customParsers['applica

[2020-09-10 16:02] CodeAnomalies commented on #2551
@mcollina I tried using `fastify-formbody` also but getting same response in that too.

[2020-09-10 16:09] mcollina commented on #2551
You are sending your payload to the wrong port... you are listening to 3000 not 4000.

The following works as expected:

[code]

[2020-09-10 16:39] CodeAnomalies commented on #2551
@mcollina thanks. Now it's working if I define route in same file but if I use `fastify-autoload` and load route in different file then it is not working.

[2020-09-10 16:53] #2551 closed

[2020-09-10 16:54] mcollina commented on #2551
It's clearly not a bug :).

You need to define the content-parser before you register your routes with autoload.

[2020-09-10 17:07] CodeAnomalies commented on #2551
@mcollina I finally figured it out. I was not exporting routes as plugin in my autoload folder. Just in case someone else gets stuck in this. Thanks for the help and quick response.

[2020-09-11 03:30] #2495 closed

[2020-09-11 03:30] #2499 closed

[2020-09-11 04:30] zmeyc commented on #2516
Not stale, I'll get back to it soon.

[2020-09-11 07:05] zekth commented on #2423
Do you have an idea of scaffolding? Move the content of `fastify.js` to `lib/factory.js` for example?

[2020-09-11 16:00] mcollina commented on #2423
I think that would be the very last step.

Something that can be done now is to extract the logic that handles 404s from https://github.com/fastify/fastify/blob/master/fastify.js#L462-L513 to its own file.

Also create some internal doc on the responsibility of all the fies.

[2020-09-12 12:41] zekth commented on #2514
Adding this capability in fastify implies checking if the `customLogLevel` method is implemented and use it or not at each request, which in the case of no use would be having a bool test on each request like so:
[code]

Wouldn't it be better in this case to use `options.disableRequestLogging` to false and add a hook onResponse like so:
[code]

[2020-09-12 13:42] jsumners commented on #2514
Agreed.

Closing as this is too costly and is possible with the current API as outlined.

[2020-09-12 13:42] #2514 closed

[2020-09-12 13:47] naseemkullah commented on #2514
Thanks!

Ooc and off topic: why was this not implemented as such for pinohttp? is it because express does not offer a post response mechanism?

[2020-09-13 08:18] zekth commented on #1896
Can we close this one?

[2020-09-13 10:07] #1896 closed

[2020-09-13 10:07] mcollina commented on #1896
yes!

[2020-09-13 11:19] Eomm commented on #2065
Released in v3

[2020-09-13 11:19] #2065 closed

[2020-09-14 13:31] #2372 closed

[2020-09-15 00:15] RafaelGSS commented on #2423
I'm strongly +1 on this. Maybe, we can create a tracking issue for these paths?

[2020-09-15 05:34] mcollina commented on #2423
Feel free to edit the this one at the top!

[2020-09-16 03:02] mmarti opened #2602 "Fastify's default error handling can serve unexpected responses"
## 🐛 Bug Report

I'm not sure if this is a bug or intended behavior (it is documented to some extent, but it seems like setting your own error handler should disable it), so apologies in advance if this should be a feature request versus a bug report.

Fastify's default error handling checks for properties like `status`, `statusCode`, and `headers` [1] on the error that is thrown and then uses the

[2020-09-17 09:04] simonplend opened #2557 "Declaration merging broken for FastifyRequest and FastifyReply"
#### What are you trying to achieve or the steps to reproduce?

I've followed the steps for [Creating a TypeScript Fastify Plugin](https://www.fastify.io/docs/latest/TypeScript/#creating-a-typescript-fastify-plugin) exactly (twice), but when I reach step 6 and execute `npm run build` in my terminal I receive four errors from TypeScript (version 4.0.2).

#### What was the result you received?

[cod

[2020-09-17 15:23] Ethan-Arrowood commented on #2557
Oh this is weird. I can reproduce your issue in a standalone repo. But when I create a test file inside of fastify it allows me to merge with `FastifyRequest` and `FastifyReply` directly.

[2020-09-17 15:25] Ethan-Arrowood commented on #2557
Figured it out :) You need to install Node types `npm i -D @types/node`

But i think this uncovers a different issue; our types are dependent on these so we need to make them a dep or peer dep or use triple slash reference. Or at a minimum document that users need to also install node types.

[2020-09-17 19:51] simonplend commented on #2557
@Ethan-Arrowood Thanks for looking into this and putting together a fix so quickly! :raised_hands:

[2020-09-17 21:54] sergiz opened #2561 "Error code when throwing from a hook"
#### You have already researched for similiar issues?
Yes, I have.

#### What are you trying to achieve or the steps to reproduce?

[code]

#### What was the result you received?
The response with status code 500 was sent out.

#### What did you expect?
I would expect the client to get response code 400.

I read https://www.fastify.io/docs/latest/Lifecycle/ and https://www.fastify.io/docs/latest/H

[2020-09-18 10:28] mcollina commented on #2561
The docs are wrong. Both `onRequest` and `preHandler` forward the error to `reply.send()` without doing anything special.

[2020-09-19 04:32] Shair17 opened #2563 "Inherit fastify instance on register"
I've registered a plugin with

`
app.register(require('./routes'))
`

In routes.js

`
export default function(fastify, opts, done) {
  // here `fastify` should have autocomplete, but it doesn't
}
`

## Your Environment

- *node version*: 12
- *fastify version*: 3.4.1
- *os*: Windows