[2021-08-12 11:24] gugu commented on #3251
Calling socket.destroy() instead of socket.end() in onClientError solves the problem. I have no idea why https behaves as it behaves but I think it would be great either to update documentation or add clientError handler to the server

[2021-08-12 11:26] climba03003 commented on #3251
I think we already have an clientError handler attached to the server.
https://github.com/fastify/fastify/blob/main/fastify.js#L400

The default one only call `.end` when the socket is writable.

[2021-08-12 11:31] gugu commented on #3251
@climba03003 yes, you are right. It this use case `socket.writable` is equal to false. I have a proposal to call socket.destroy() if the socket is not writable

[2021-08-12 11:50] gugu commented on #3251
monkey patching fastify and removing onClientError handler also solves the problem

[2021-08-12 13:00] Eomm commented on #3251
Was not possible to set a custom [clientErrorHandler](https://www.fastify.io/docs/latest/Server/#clienterrorhandler)?

This seems good 👍🏽 Great spot!

[2021-08-12 19:43] gugu commented on #3251
More investigation.
Adding clientErrorHandler removes standard node error handler, which you can see here:

https://github.com/nodejs/node/blob/6ca23d7846cb47e84fd344543e394e50938540be/lib/_http_server.js#L666

[2021-08-13 02:30] tlhunter opened #3255 "Following docs using $id with addSchema() gives "data.properties should be object" error"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.20.1

### Plugin version

_No response_

### Node.js version

16.3.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

5.10.13

### Description

I'm using the following example from the [Fastify d

[2021-08-13 04:09] climba03003 commented on #3255
You are using `1.13.x` document but using `3.20.1` for the package.

[2021-08-13 04:09] #3255 closed

[2021-08-13 04:27] tlhunter commented on #3255
Whoops! Thanks DDG
![2021-08-12_21-26-59](https://user-images.githubusercontent.com/551402/129304843-82a710c3-8884-487b-a639-17888449516d.png)

[2021-08-13 09:32] #3251 closed

[2021-08-13 10:35] runeh opened #3257 "Value of `request.url` when using `.inject` differs from a real server"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.20.1

### Plugin version

_No response_

### Node.js version

v14.17.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

When using `app.inject` in a test, the value of `re

[2021-08-13 10:46] mcollina commented on #3257
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-08-13 10:47] mcollina commented on #3257
The required fix might need to be done in light-my-request.

[2021-08-13 10:51] runeh commented on #3257
I'll give it a try over the weekend.

[2021-08-13 11:30] climba03003 commented on #3257
It is basically related this line.
https://github.com/fastify/light-my-request/blob/master/lib/parseURL.js#L17

`//foo` will be parsed as `http://foo/` because url starting with `//` will respect the page protocol when parsing.

It should be a correct behavior for `url` option but not `path`.

[2021-08-13 20:12] danthegoodman1 opened #3258 "Fastify silently exits if conflicting routes"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.2

### Plugin version

_No response_

### Node.js version

14.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

big sur

### Description

If there are 2 conflicting routes inside of a `server

[2021-08-13 21:22] mcollina commented on #3258
Can you please include a full example to reproduce?

[2021-08-13 21:23] mcollina commented on #3258
From your example, the first argument to listen() is an error if it is there. You are actually ignoring it.

[2021-08-13 21:48] danthegoodman1 commented on #3258
See that would make sense… thanks!

[2021-08-13 21:48] #3258 closed

[2021-08-13 22:09] mcollina commented on #2860
I'm preparing a PR to address encapsulation of error handlers and cascading errors between them.

[2021-08-16 07:16] artur-ma opened #3260 "max requests on a socket"
## 🚀 Feature Proposal

In keep-alive response header, there is a posibility to define the timeout and max requests for the connection
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Keep-Alive

I would like propose the functionality on the server, that will count requests per socket and send "connection: closed" header and actually close the connection when it reached the maximum value

[2021-08-16 07:54] mcollina commented on #3260
My understanding is that those two config options should be enough and remove idle connections. Can you please make a code example on why they are not enough?

[2021-08-16 08:42] artur-ma commented on #3260
@mcollina Thanks, but the problem is that I do not want to handle idle connection, I want to handle active connections, I want to force rebalancing by closing active connections
as far as I understood this is exactly what "max" property on "keep-alive" header is doing, defining max requests per connection

[2021-08-16 09:21] mcollina commented on #3260
The keep-alive header is managed by Node.js core, not Fastify. It should be managed there (similarly to the timeout property).

I'm not exactly sure how this property would work and/if the load balancers will interpret it

[2021-08-16 09:47] artur-ma commented on #3260
Oh, I guess I did not explain myself properly, adding "max" option to keep-alive header is only one part (which is not actually required for this feature)

My suggestion is to "cut" the connection when it reached the maximum number of requests,

for example

[code]

[2021-08-16 10:08] mcollina commented on #3260
It seems it could live in a plugin, why would you like to add it to Fastify proper?

I'm not really sure what's the goal of this feature, why would you want to recycle the connection?

[2021-08-16 10:26] artur-ma commented on #3260
When we have a spike of high traffic, we see that autoscaling does not help since there are already opened connections to existing pods that never closed to be assigned to new scaled pods

I don't know if its a good practice for a plugin to destroy(!) sockets that are managed by fastify

[2021-08-16 10:36] mcollina commented on #3260
It's ok, there are no side effects.

Anyhow, I'm not sure this would lead to the results you want.

[2021-08-16 10:57] artur-ma commented on #3260
Thanks, closing

[2021-08-16 12:47] jsumners commented on #3260
This is better handled at the reverse proxy by setting appropriate headers and configuration there. Your application should not have to worry about load balancing logic.

[2021-08-16 16:19] #2144 closed

[2021-08-17 10:25] mashpie commented on #2955
coming from `express` --to--> `fastify`
still reminds me of stepping from `apache` --to--> `nginx`

[2021-08-17 12:16] jsumners opened #3262 "[docs] Add an example illustrating how to set schema validators per validation type"
To anyone that finds this from a google search, here's my solution as of v3.19.1

[code]

_Originally posted by @KrakerXyz in https://github.com/fastify/help/issues/128#issuecomment-897617445_

[2021-08-17 21:41] MetCoder95 commented on #2811
Taking a look into the issue and PR made, shall this be closed or stills active?

[2021-08-17 22:00] #2811 closed

[2021-08-17 22:00] mcollina commented on #2811
I think closed

[2021-08-17 23:55] matthyk opened #3266 "GET request payload validation error"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.20.1

### Plugin version

_No response_

### Node.js version

14.15

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.6

### Description

Fastify currently parses the request payload from `D

[2021-08-18 06:29] mcollina commented on #3266
I think the behavior we actually want is to throw/error if the definition of a GET route includes a schema for the incoming payload.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-08-18 06:30] mcollina commented on #3266
In case you or anybody else would like to take this work, target the next branch.

[2021-08-18 07:03] matthyk commented on #3266
I take over this work.
Or should we parse the payload of `GET` requests just like `DELETE` requests so that we treat `GET` and `DELETE` requests identically?

[2021-08-18 07:05] mcollina commented on #3266
Definitely not. GET should not have bodies.

[2021-08-18 07:10] matthyk commented on #3266
Alright, then I will throw an error if a GET route includes a schema 👍

[2021-08-18 07:17] mcollina commented on #3266
You might want to do it for HEAD as well.

[2021-08-18 09:03] climba03003 commented on #3266
We should behave like what the [document](https://github.com/fastify/fastify/blob/main/docs/Validation-and-Serialization.md#validation) said `validates the body of the request if it is a POST, PUT, or PATCH method.`.

If the method is not `POST, PUT or PATCH` and it specify a `body` schema. We can consider it as wrong usage and throw an error.

[2021-08-18 12:31] jsumners commented on #3266
Agreed.

[2021-08-18 15:48] matthyk commented on #3266
Then we should change the documentation for `DELETE` and `OPTION` and throw an error for `GET` and `HEAD` if a schema is specified?

[2021-08-18 15:52] mcollina commented on #3266
Yes, that's my idea.

[2021-08-20 18:39] jessekrubin commented on #2955
I wrote and published a plugin that might help resolve this issue: https://github.com/jessekrubin/fastify-shitty

Feedback/thoughts/tips appreciated.

[2021-08-20 23:16] cpeisert commented on #2634
I resolved the Typescript error by importing `middie` instead of using `require`.

**Before (error)**

[code]

**After**

[code]

[2021-08-21 05:36] LobRockyl commented on #3257
Could I have a stab at it?

[2021-08-21 08:04] mcollina commented on #3257
Go for it!

[2021-08-21 16:35] LobRockyl commented on #3257
So I am doubting if this is related to this: https://github.com/fastify/light-my-request/blob/master/lib/parseURL.js#L17
I did a few logs and tweaks
So doing this change in the code:
`

          module.exports = function parseURL (url, query) {
          let x=new URL(url,BASE_URL)
          x.pathname='//foo'

          const result = typeof url === 'object'
            ? Object.assign(x, url)

[2021-08-21 16:51] mcollina commented on #3257
Have you tried adding a unit test just in light-my-request to reproduce the issue?

[2021-08-21 17:08] climba03003 commented on #3257
@LobRockyl The problem is exactly how `URL` parse the input.

You can see the result from below snippet.

[code]

[code]

[2021-08-21 17:58] LobRockyl commented on #3257
So I changed that line to

`
        let x=new URL(url,BASE_URL)
         x.pathname=url

         const result = typeof url === 'object'
           ? Object.assign(new URL(BASE_URL), url)
           : x
          console.log("url here "+ url)

`

![Screenshot 2021-08-21 at 11 24 38 PM](https://user-images.githubusercontent.com/45710269/130330859-1e39c778-7d1a-4e67-a67b-934f5b4a7221.png)

[2021-08-22 05:30] LobRockyl commented on #3257
No. I am using the repo https://github.com/runeh/fastify-inject-tc and it has a jest to test the file where the request is made with app.inject , should I add it?

[2021-08-22 07:42] Eomm commented on #3257
Ues, it is a good process to create the test before changing the code, so you can focus on what you set and the output you expect

If you do the code changes (test + implementation) on the light-my-request code base, then you could arrange a PR and share your work with the whole community 🔝

[2021-08-22 09:10] LobRockyl commented on #3257
Sure, I will raise a PR

[2021-08-22 12:26] vithalreddy commented on #2955
fastify ecosystem :heart:

- swagger
- ajv
- error handling
- ....

[2021-08-22 12:28] LobRockyl commented on #3257
One more query is that about the already existing tests in light-my-request. Some of them are not working :
![Screenshot 2021-08-22 at 5 57 07 PM](https://user-images.githubusercontent.com/45710269/130355118-d9607af9-bb61-436b-a72f-082a3f3bc6eb.png)

So the change I have done in light-my-request is
![Screenshot 2021-08-22 at 5 58 33 PM](https://user-images.githubusercontent.com/45710269/130355178-

[2021-08-22 15:37] climba03003 commented on #3257
I would suggest doing the below one.

[code]

[2021-08-22 17:00] LobRockyl commented on #3257
Hi, thanks for that. It solved it tests which were already there arer running no problems but the test I created is not working somehow. Basically this repo https://github.com/runeh/fastify-inject-tc I pulled and did the changes and it works no problems but here jest unlike the one used in light-my-request(here tap is used). Is my test code correct?

![Screenshot 2021-08-22 at 10 27 23 PM](https:/

[2021-08-22 17:55] runeh commented on #3257
@LobRockyl Thanks for picking up this! I only got as far as adding some failing tests, but feel free to grab those if you want. Added them as unit tests for just the parse function. https://github.com/runeh/light-my-request/commit/9a8131ac747d5e919730e0ee38b06ffa4fa5b57f

[2021-08-22 17:57] runeh commented on #3257
Related, renaming the function to `parsePathOrUrl`, or something along those lines, might make sense?

[2021-08-22 18:34] LobRockyl commented on #3257
So I could pass the tests but somehow code coverage is less. Can someone help:
![Screenshot 2021-08-23 at 12 03 00 AM](https://user-images.githubusercontent.com/45710269/130366117-69005428-86f0-4f75-81b0-eb0ea2dc6d3d.png)

[2021-08-22 18:36] LobRockyl commented on #3257
I will keep these in mind. Thanks!

[2021-08-22 18:47] mcollina commented on #3257
You need to write a test that covers line 16.

[2021-08-22 21:38] LobRockyl commented on #3257
Finally it's solved all tests passed, additional tests by @runeh was added and passed.
Please check this PR : https://github.com/fastify/light-my-request/pull/156

[2021-08-23 07:53] #3257 closed

[2021-08-23 08:45] artur-ma commented on #3260
@jsumners this is internal traffic inside k8s cluster, when some pods are scaled up, other pods does not reconnect, it can be handled by some sidecar like LinkerD or Istio but they have other issue and overhead

this are the results BTW

![image](https://user-images.githubusercontent.com/57314588/130417967-3d2eec5f-756d-4e3e-ad00-ec232c913a0e.png)

CPU distribution across pods before/after

[2021-08-23 12:26] #3266 closed

[2021-08-27 06:23] Turbine1991 opened #3282 "Docs: Ensure everyone who uses HTTP2 knows http2SessionTimeout will cripple their performance"
## 🚀 Feature Proposal

Make `http2SessionTimeout` more prominent to users who enable the https2 flag.

## Motivation

I'm developing a website which is hosted in the US (210ms from me).

After 5 seconds of being idle, the next request would take around a second, instead of being nearly instant.

Hours of debugging later on different OS's & browsers - I noticed the `http2SessionTimeout` attribute.

[2021-08-28 02:35] petef19 opened #3283 "Bug: Setting content-type on reply object does not work correctly and/or hangs server"
## 💬  Bug report

It seems that `fastify` tries to force guess the `content-type` of the response, and does ONLY allow to override it on the `reply` object if it matches what it has guessed/determined, but even that does not work correctly all the time.

example 1
[code]
this works b/c `.send` is sending a text string, hence `fastify` will take the override in `.headers()`. Btw, the override also

[2021-08-28 04:13] climba03003 commented on #3283
We do have 2 test-case against the invalid payload, however it is checked inside the `handler` which do not ensure the client always get the error response.

https://github.com/fastify/fastify/blob/a04f4c952731c57e79c6ca3794a62959a43731ed/test/reply-error.test.js#L398-L445

[2021-08-28 05:04] petef19 commented on #3283
what is confusing about this is that `fastify` usually converts objects automatically to `json` - in example 2, if I omit setting the header, it automatically stringifies the object and then sets `application/json` - but I guess it doesn't do it when I set 'plain/text';

ok, hopefully that is in the docs somewhere.
But, what is confusing is, that with `plain/text` content-type  (set by user) `fast

[2021-08-28 08:52] iamdevelopergirl commented on #3283
I understand the problem and I want to work on this issue. Can I take it?

[2021-08-28 09:28] mcollina commented on #3283
go for it!

[2021-08-28 12:38] iamdevelopergirl commented on #3283
Thanks.

[2021-08-28 15:18] csvan commented on #2261
@kjmph did you get anywhere with this and can I help out? Running into the exact same issue:

[code]

The above will always yield

[code]

[2021-08-29 07:24] Turbine1991 commented on #3282
Is there anything wrong with having an open connection threshold, where it'd start closing the first in the queue?

Would that solve exploiting a high `keepAliveTimeout` ?

[2021-08-29 12:52] mcollina commented on #3282
Not having a timeout is a significant security risk for DoS attacks. A server could keep open only a limited amount of sockets: if all of them are idle, no new requests could be served.

[2021-08-29 18:08] siemah opened #3284 "[FSTDEP004] FastifyDeprecation"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.20.2

### Plugin version

3.0.0

### Node.js version

12.22.3

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7

### Description

I tried to call `preParsing` hook using the async way as s

[2021-08-29 19:41] climba03003 commented on #3284
I cannot reproduce your problem.
https://replit.com/@climba03003/fastify-issue-3284

[2021-08-30 09:29] siemah commented on #3284
Hey @climba03003  check this code for the `server.ts`:

[code]

and this is `package.json`

[code]

**Note:**

This warning printted when i use fastify with ts-node and typescript

[2021-08-30 10:17] Eomm commented on #3282
I used to set timeouts to 90s, so increasing it by default LGTM

[2021-08-30 10:36] climba03003 commented on #3284
@siemah
I cannot reproduce it by using TypeScript.
![image](https://user-images.githubusercontent.com/23028015/131326948-1fd08bc5-bf17-45dc-9d2e-391d036f4c32.png)

[2021-08-30 15:13] o-t-w commented on #2301
A whole year later, ES Modules are no longer experimental. Can this be reconsidered now? As somebody from a frontend background I have been writing all my Node code with ESM imports and it does seem like that is where all Node code is heading.

[2021-08-30 21:27] mcollina commented on #2301
You can use ESM modules with Fastify, it's all supported and this issue can be closed.

[2021-08-30 21:27] #2301 closed

[2021-08-31 00:52] Turbine1991 commented on #3282
And if it starts to close them off when a threshold is met?

[2021-08-31 01:10] RafaelGSS commented on #3282
+1 increasing the default.

[2021-08-31 07:31] siemah commented on #3284
@climba03003
I create this [repos](https://github.com/siemah/fastify-hook-warning) to produce the same warning i got

[2021-08-31 07:41] climba03003 commented on #3284
It should be the TypeScript transpile problem.

We test the function against `AsyncFunction` constructor and your target is `es5` which do not have `AsyncFunction`.

[2021-08-31 07:45] #3284 closed

[2021-08-31 08:03] #3158 closed

[2021-08-31 10:39] siemah commented on #3284
@climba03003
I think the documentation need to be updated to inform devs to update `target` to "es2017" after generating the tsconfig using `npx tsc --init`

[2021-08-31 11:30] climba03003 commented on #3284
@siemah Feel free to send a PR for the documentation improvement.

[2021-08-31 15:54] zekth commented on #3236
Closing as it was answered.

[2021-08-31 15:54] #3236 closed

[2021-08-31 20:01] flawnn commented on #2379
How is it looking as of today with QUIC?

[2021-08-31 20:49] mcollina commented on #2379
Same as 9 months ago.

[2021-09-01 06:06] kiyadotdev opened #3286 "Suggestion: Adding an official Supabase Plugin"
## 🚀 Feature Proposal

I am proposing an official [Supabase](https://supabase.io/) Plugin for Fastify. This would be similar in nature to the likes of the following official database plugins:
- [fastify-postgres](https://github.com/fastify/fastify-postgres)
- [fastify-mysql](https://github.com/fastify/fastify-mysql)
- [fastify-mongodb](https://github.com/fastify/fastify-mongodb)

## Motivation

[S

[2021-09-01 06:59] climba03003 commented on #3286
You can create the plugin and add it under `Ecosystem.md`  Community.

[2021-09-01 07:01] kiyadotdev commented on #3286
@climba03003 awesome, thanks! 🙏🏾

[2021-09-02 20:34] Dec- opened #3287 "How can i extend fastify schema? (ajv)"
How can i extend fastify schema with custom validator for email or use ajv-format?

https://gist.github.com/robintan/b72b6c483d7dadd227fe1b67243e19be?fbclid=IwAR1KiQ6Ebut4LY0-Q-H7ByEi7qO9hXQyK7_hUB5CxX23C8z_GLbw8nX-J0U

This is not working for me.

[2021-09-02 21:40] MetCoder95 commented on #3260
Just curious, these are the results when having a finite number of sockets active on code?
Looks pretty stable and nice being honest, but I'm wondering if it really needs to be handled by the service itself

[2021-09-03 06:54] mcollina commented on #3260
This seems something we might want to add in Node.js, as it's the one managing the keep-alive logic.

In the meanwhile, would you like to add that logic to a fastify plugin?

Really good results @artur-ma!

[2021-09-03 06:56] mcollina commented on #3260
@ronag wdyt? Should we add "maxRequestPerConnection" or analog to HTTP/1.1 keep-alive?

[2021-09-03 07:15] ronag commented on #3260
I'm good with `maxRequestPerConnection` if it is included in the keep-alive hint as `max`. The default should be Infinite. IMO.

[2021-09-03 08:44] mcollina commented on #3260
@artur-ma would you like to open an issue (or even a PR) on Node.js core?

[2021-09-03 10:20] Eomm commented on #3287
What is the error?

The email format is supported right now

[2021-09-03 12:25] kibertoad commented on #3101
Blocked until 7.0.0-rc.4 is released.

[2021-09-03 18:09] climba03003 commented on #3101
I think we can target to `github:pinojs/pino` until `pino` is release a stable `7.0.0` version.

[2021-09-04 08:39] itsmingjie opened #3293 "Improving ease of contribution for beginner student contributors"
Dear Fastify maintainers,

We're reaching out on behalf of an ongoing partnership between California State University Monterey Bay's [Computing Talent Initiative](https://computingtalentinitiative.org/) and [CodeDay](https://www.codeday.org/), a nonprofit organization. We're working on a program for college students who are new to contributing to open-source software, and we'd love to invite them

[2021-09-04 10:09] govind2404 commented on #3293
hey! I am new to open source and I would love to get started. What should I do?

[2021-09-04 11:08] Dec- commented on #3287
Its supported? how can i use it?

[2021-09-04 11:14] Dec- commented on #3287
im getting this error:

[code]

and when using:

[code]

i'm getting: Failed building the validation schema for POST: /api/auth/token, due to error ajv is not defined

[2021-09-04 11:16] jsumners commented on #3293
We have a contributor guide at https://github.com/fastify/fastify/blob/aa9a44d86fd42ef8a25d4283bfa2b5ce4ca4056d/docs/Guides/Contributing.md

Maintainer time is provided as available and according to each contributor's schedules, desires, and goals.

[2021-09-04 11:32] zekth commented on #3293
I'm available these times, i'll send you an email. Also i think it's a good initiative indeed.

[2021-09-04 11:35] mcollina commented on #3293
We welcome every contribution however it will be unlikely we will have time to explain how to fix something step-by-step. We will expect the program organizers to help with the basics, e.g. how to run tests & the other tools, write a test and identify the initial place to start the fix.

We usually review PRs pretty quickly and there are plenty of "good first issues" tasks here and in plugins.

I

[2021-09-04 22:29] kibertoad commented on #3282
+1 to use same default as nginx does.

[2021-09-04 22:31] kibertoad commented on #3101
This is done. We will just need to update to pino 7 final when it is available.

[2021-09-04 22:31] #3101 closed

[2021-09-04 22:33] kibertoad commented on #2511
@zmeyc Is this still reproduceable in `next`?

[2021-09-04 22:38] kibertoad commented on #3026
@sayem314 Ping. Could you please check latest version?

[2021-09-04 22:56] d3-fidrya-andrey commented on #2511
@kibertoad From what I see in https://github.com/fastify/fastify/blob/next/types/route.d.ts in RouteShorthandMethod, Logger is still not customizable and not propagated to FastifyInstance. All other places where FastifyInstance is used also need to be checked for presence of Logger.

[2021-09-04 22:57] zmeyc commented on #2511
@kibertoad From what I see in https://github.com/fastify/fastify/blob/next/types/route.d.ts in RouteShorthandMethod, Logger is still not customizable and not propagated to FastifyInstance. All other places where FastifyInstance is used also need to be checked for presence of Logger.

[2021-09-05 07:17] itsmingjie commented on #3293
Thank you @zekth and @mcollina! I'm happy to help with the next steps -- starting an email thread to start coordinating things! Will post progress/updates under this issue periodically for transparency as well.

[2021-09-05 07:55] #3026 closed

[2021-09-06 11:48] targos opened #3296 "Adapt test to support V8 9.3"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

There is one test that will fail with Node.js >= 16.9.0, because V8 changed an error message:

https://github.com/fastify/fastify/blob/02d17b006082553ac628a9b97581502e52f90a26/test/schema-feature.test.js#L207

See https://ci.nodejs.org/

[2021-09-06 12:36] mcollina commented on #3296
Thanks!

[2021-09-06 12:36] #3296 closed

[2021-09-06 17:20] climba03003 commented on #3287
Your example is not for the latest `fastify` version and you should follow the official document.

https://www.fastify.io/docs/latest/Validation-and-Serialization/#validator-compiler

If you face any issue, please specify the version of package you use and provide a reproducible code.

[2021-09-06 17:20] #3287 closed

[2021-09-07 12:02] mcollina opened #3300 "NGINX docs"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

In https://github.com/fastify/fastify/pull/3298, we added some docs on NGINX. However the config file is not well documented. Add more inline comments on the NGINX configs.

### Motivation

_No response_

### Example

[2021-09-07 12:02] mcollina commented on #3300
cc @jsumners

[2021-09-08 19:43] kibertoad opened #3303 "RouteHandlerMethod return type is too strict"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.15.1

### Plugin version

_No response_

### Node.js version

16

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

Currently `RouteHandlerMethod` requires returned valu

[2021-09-08 19:43] kibertoad commented on #3303
@fastify/typescript

[2021-09-08 19:59] kibertoad commented on #3303
Looks like it's already possible: https://github.com/fastify/fastify-funky/pull/50

[2021-09-08 19:59] #3303 closed

[2021-09-10 16:46] artur-ma commented on #3260
@mcollina Sorry for a the delay, sure I will give it a try! Thanks!

Yeap, we are limiting number of active sockets

[2021-09-11 16:01] RaenonX opened #3305 "Bump dependency version of `pino` to `^6.13.2`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.21.0

### Plugin version

_No response_

### Node.js version

14.17.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

I found that the required `pino` version of `fas

[2021-09-11 16:22] climba03003 commented on #3305
I can only see you are using an exact version for `pino` and which is not related to `fastify`.

[2021-09-11 19:47] #3305 closed

[2021-09-11 20:52] RaenonX commented on #3305
Yeah because I want to reproduce the error. Fresh install will install 6.13.2 which does not cause this error.

The reason I raised this issue is that for some existing application that bumps the dependency, such `pino` dependency prerequisite for `fastify` won't bump the existing `pino` dependency, which could cause this naughty error.

But I guess if this is kind of a rare case, then we can just

[2021-09-11 22:39] jsumners commented on #3305
This is not a Fastify issue. Fastify does not depend on any version of `pino-pretty`. Applications that do are responsible for paying attention to semver major release changes and acting accordingly.

[2021-09-12 00:33] cjsewell opened #3306 "Schemas are mutated"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.21.0

### Plugin version

_No response_

### Node.js version

14.17.3

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

Given an example like in "Steps to Reproduce" I

[2021-09-12 04:06] josnin opened #3307 "Slash wildcard doesn't work (Method 'GET' already declared for route '/*')"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.21.0

### Plugin version

_No response_

### Node.js version

14.17.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Fedora 31

### Description

$ npm start

{"level":50,"time":16314194565

[2021-09-12 05:12] josnin commented on #3307
Seems that the fastify-static having the same wildcard and just only need to turn off

Solved by doing this

[code]

[2021-09-12 05:12] #3307 closed

[2021-09-12 06:49] mcollina commented on #3306
cc @Eomm

[2021-09-12 07:48] Eomm commented on #3306
Duplicates https://github.com/fastify/fast-json-stringify/issues/242

[2021-09-12 08:24] #3306 closed

[2021-09-12 11:47] jsumners commented on #3262
Yeah, a test or two wouldn't be a bad idea.

[2021-09-12 11:49] jsumners commented on #3283
I think this can be closed as resolved by #3285.

[2021-09-12 11:49] #3283 closed

[2021-09-12 11:52] jsumners commented on #3293
Is this issue resolved?

[2021-09-12 12:14] zekth commented on #3293
Closing as everything continues through emails.

[2021-09-12 12:14] #3293 closed

[2021-09-14 14:56] #2887 closed

[2021-09-14 16:34] vgmadhu commented on #2404
I have this same issue with fastify: 3.20.2

[code]

Here's my tsconfig.json
[code]

[2021-09-14 18:28] chasebrewsky opened #3316 "Are conditionally set decorated properties deoptimized?"
Over the past week or so I started to learn how V8 optimizes property access through shapes and inline caches by following the blog post link in the decorators documentation ([Shapes and IC](https://mathiasbynens.be/notes/shapes-ics) + [Optimizing Prototypes](https://mathiasbynens.be/notes/prototypes)). After reading this and other information I found about this topic, I was curious if the followi

[2021-09-15 12:16] jakearchibald opened #3314 "Docs mention "parsed querystring" but the format is not documented"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

latest

### Plugin version

_No response_

### Node.js version

N/A

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

N/A

### Description

From https://github.com/fastify/fastify/blob/main/doc

[2021-09-15 12:21] jakearchibald commented on #3314
I guess docs should point out it's specified by https://github.com/fastify/fastify/blob/37a0ebdd5aac640e12112a3deb1b1467a6d2835d/docs/Server.md#querystringParser

[2021-09-15 12:51] mcollina commented on #3314
Thanks for the good spot! Let me know how do you find the framework @jakearchibald

[2021-09-15 13:09] jakearchibald commented on #3314
Enjoying it so far, but right now I'm just building little demos to test browser behaviour 😄

[2021-09-16 10:36] mcollina commented on #3316
@chasebrewsky take a look at https://github.com/fastify/fastify/pull/3317.

[2021-09-16 11:14] meehawk commented on #3300
Can I take this up @mcollina. Would need help to figure what needs to be done since I am not sure!

[2021-09-16 11:37] jsumners commented on #3300
See my comment in the linked issue.

[2021-09-16 12:32] #3316 closed

[2021-09-17 12:15] rubiagatra commented on #2511
Hello @zmeyc, If I want to help with this issue I need to.

1. Logger must be checked across the entire codebase.
2. Add `Logger = FastifyLoggerInstance` to every interface
3. Checkout the plugins that affected

[2021-09-17 12:22] rubiagatra commented on #2538
so the PR should update the definition of hostname in this https://github.com/fastify/fastify/blob/main/docs/Request.md, right? @mcollina @cmawhorter.

I can help with this

[2021-09-17 13:08] meehawk commented on #3300
@jsumners does the task require any prerequisite knowledge? If so can you refer me to those so that I can add appropriate docs?

[2021-09-17 13:16] jsumners commented on #3300
https://github.com/fastify/fastify/pull/3298#pullrequestreview-747886738

[2021-09-17 13:35] mcollina commented on #2538
Yes, thanks!

[2021-09-17 13:43] darkgl0w opened #3323 "[Bug] Registering multiple named instances of this module fail."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.21.2

### Plugin version

3.6.0

### Node.js version

14.17.6

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

ArchLinux (kernel 5.14.5-arch1-1)

### Description

Since https://github.com/fa

[2021-09-17 14:21] darkgl0w commented on #3323
I have tested if `fastify-jwt` crashes too when registering 2 named instances and it run just like it should.
I even have a fix here https://github.com/darkgl0w/fastify-postgres/tree/fix-decorator-bug for this package if you want to look at it before I submit a pull request.

[2021-09-17 14:33] climba03003 commented on #3323
As I mention, it is a bug from `fastify`. The fix should be inside the main repo.

[2021-09-17 14:38] mcollina commented on #3323
@climba03003 do you understand why this is happening? Could you send a PR to fix? I can ship a release if the code is there.

[2021-09-17 14:41] darkgl0w commented on #3323
ok, that's nice if you are already working on a fix ^^
Ping me if you need some help :)

PS: sorry I read your previous message too fast and missed the point of it :d

[2021-09-17 14:56] #3323 closed

[2021-09-17 15:15] mcollina commented on #3323
Fixed in v3.21.3.

[2021-09-17 16:28] Gamote opened #3326 "The `+` sign is replaced by a ` ` (whitespace) inside the query params"
### Prerequisites

- [x] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.21.3

### Plugin version

_No response_

### Node.js version

14.17.2

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6

### Description

If we make a request to a `GET` route, all the `

[2021-09-17 16:38] Gamote commented on #3326
Never mind, I'm tired. I totally forgot that I need to encode the `+` sign in the query params. 🤦‍♂️

[2021-09-17 16:38] #3326 closed

[2021-09-17 18:00] jsumners commented on #3326
`+` is a reserved character and should be encoded if you need a literal `+` in the processed value -- https://datatracker.ietf.org/doc/html/rfc3986#section-2.2

[2021-09-17 18:40] Gamote commented on #3326
Yeah 😅 minutes after posting the issue I realised. But thank you anyway.

[2021-09-17 18:40] chasebrewsky commented on #3316
That's awesome. Good job on the quick turnaround, and I'm glad I could unintentionally point out a bug!

[2021-09-18 00:35] aggmoulik commented on #3286
@kiyadotdev are you still working on the plugin?

[2021-09-19 06:30] #2644 closed

[2021-09-19 06:30] #3314 closed

[2021-09-20 05:21] climba03003 commented on #3260
@mcollina Does it need a plugin? I think it should be resolved by https://github.com/nodejs/node/commit/4e8f11dee3b7dcea7472058f4182ddd36b86c781 in core.

[2021-09-20 06:36] mcollina commented on #3260
it will need a PR against Fastify once that is released

[2021-09-20 07:05] #2538 closed

[2021-09-21 07:56] climba03003 opened #3328 "CI with Coveralls"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Make use of `continue-on-error` to prevent future impact on `coveralls` maintenance.
The tools like `coveralls` should never be the blocker for CI.

It should be applied to the repo that using `coveralls` inside the or

[2021-09-21 09:48] mcollina commented on #3328
I would also say that we should remove coveralls from all repos that have enforced 100% code coverage.

[2021-09-21 10:06] climba03003 commented on #3328
I am good with both remove it or keep it.
But the important point is not blocking the CI.

[2021-09-21 10:30] mcollina commented on #3328
Yes, exactly

[2021-09-21 10:53] sudhay23 commented on #3328
Hello, can I work on this if it's open for fixes? Can you please guide me with some more information about the same?

[2021-09-21 10:56] runeh opened #3329 "Type definitions missing for "redact" config"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.21.3

### Plugin version

_No response_

### Node.js version

14.17.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04.3 LTS

### Description

There are no TypeScript typings fo

[2021-09-21 11:17] Fdawgs commented on #3328
Probably best to keep it across all to have a consistent CI config across the repos, but yeah stopping it from blocking is a good idea!

[2021-09-21 17:12] climba03003 commented on #3328
Feel free to open PR for the fixing it in other repo.
I have add the comment on how it works.
[code]

[2021-09-21 21:11] JoCat commented on #3056
`const { fastify } = require("fastify");` works for me

[2021-09-21 21:39] moonmeister opened #3331 "ignoreTrailingSlash doesn't work with wildcard routes"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.21.1

### Plugin version

4.2.3

### Node.js version

14.17.6

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6

### Description

I want to listen on all routes under `/app` including  `

[2021-09-21 22:13] mcollina commented on #3331
Would you like to work on this bug? How would you fix it?

[2021-09-21 22:16] moonmeister commented on #3331
I can probably work on it. Haven't delved into the code to figure out where the issue lies. I guess I wanted to confirm what I expected to happen was reasonable. Sounds like you agree, any suggestions on where to start looking in the code?

[2021-09-22 06:41] mcollina commented on #3331
I agree that there needs to be a way to make work what you are trying to do. However I'm not sure about the actual fix

I don't understand this at all.

I think the best next step is to write a small example with a few example http calls to explain what you would like to achieve.

[2021-09-22 09:34] SimenB opened #3332 "Decorator assertion broken in 3.21.2 & 3.21.3"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.21.2 and 3.21.3

### Plugin version

_No response_

### Node.js version

14.17.6

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6

### Description

Using decorator assertions broke in w

[2021-09-22 11:06] mcollina commented on #3332
My mistake, this was not updated: https://github.com/fastify/fastify/blob/36f4b67b5940d89d12f1eefc733bbd0d7f5e1afb/lib/decorate.js#L98 to use the request and reply check methods.

[2021-09-22 12:57] #3332 closed

[2021-09-22 14:07] kjmph commented on #2261
Hmm, I didn't make any forward progress. I reconstructed my routes to eliminate the problem, and while the API looks the same externally, internally there is a little duplication.

[2021-09-22 22:56] voxpelli commented on #3260
And `16.10.0` is released with this: https://nodejs.org/en/blog/release/v16.10.0/

[2021-09-23 16:13] #3260 closed

[2021-09-23 17:50] RafaelGSS commented on #703
Closing, because it looks like was solved by: https://github.com/fastify/fastify/pull/2997. Feel free to re-open in case of a mistake.

[2021-09-23 17:50] #703 closed

[2021-09-24 05:29] climba03003 commented on #3262
Resolved by #3310

[2021-09-24 05:29] #3262 closed

[2021-09-24 05:35] climba03003 commented on #2129
I will close it as it seems to be resolved.
https://github.com/fastify/fastify/blob/a454883afbd12871aef426ea43480d61240c11cf/types/instance.d.ts#L1

cc @Ethan-Arrowood If you think it is not resolved, free feel to re-open the issue.

[2021-09-24 05:35] #2129 closed

[2021-09-24 05:52] climba03003 commented on #1737
Resolved by #3274 which target to `4.x`

[2021-09-24 05:52] #1737 closed

[2021-09-24 06:00] climba03003 commented on #1804
Resolved by #2863
https://github.com/fastify/fastify/blob/a454883afbd12871aef426ea43480d61240c11cf/types/schema.d.ts#L7-L13

[2021-09-24 06:01] #1804 closed

[2021-09-24 09:43] Mitch-i opened #3338 "fastify(nestjs) + nuxt not work"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.20.1

### Plugin version

_No response_

### Node.js version

14.17

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

I try to use nest+fastify+nuxt+any orm and not wo

[2021-09-24 10:25] climba03003 commented on #3338
Why combining three framework together?

[2021-09-24 10:50] Mitch-i commented on #3338
nestjs work with express or with fastify. to work only with fastify I don't want.

[2021-09-24 12:51] VBetsun commented on #3338
it is not `fastify` related problem. You have some misconfigurations of your `nestjs` application. It looks to me like you are configuring `sequilize` module in the same way as a `typeorm` one. I bet if you do everything like described in the [documentation](https://docs.nestjs.com/recipes/sql-sequelize#sql-sequelize) you will solve your issue.

[2021-09-24 14:31] #3338 closed

[2021-09-24 18:00] ShadiestGoat opened #3339 "FastifySchema should be a generic & comply to the json schema standart"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

What I'm trying to ask for is FastifySchema type to be generic & work within a route. This way, it's a lot easier to setup a schema using generics.

### Motivation

This just makes everything for typescript users a lot

[2021-09-24 18:12] RafaelGSS commented on #3339
I'm not sure if I understand your question, but looks like you are trying to mix javascript object with Typescript, it's not possible by Javascript itself. Perhaps https://github.com/sinclairzx81/typebox is something that can come close to what you want.

[2021-09-24 18:22] ShadiestGoat commented on #3339
No haha, I'm using typescript. The function's generic options should be translated onto the schema type.

[2021-09-24 18:23] ShadiestGoat commented on #3339
What should happen in `route.d.ts`:

[code]

[2021-09-24 18:26] ShadiestGoat commented on #3339
Ah, wait nevermind

[code]

[2021-09-24 18:26] #3339 closed

[2021-09-24 18:31] moonmeister commented on #3331
Here's an example server with tests:

[code]

[2021-09-24 19:16] climba03003 commented on #3331
I do not see it will create a infinite loop from your example.

Some snippets below and full repro and test case on [replit](https://replit.com/@climba03003/fastify-3331)
[code]

1. `/test` is properly redirect to `/test/` and no loop back to `/test`.
2. `/test/` and `/test/*` provide content correctly.

[2021-09-24 19:18] moonmeister commented on #3331
Now enable `{ ignoreTrailingSlash: true })`

[2021-09-24 19:18] RafaelGSS commented on #3331
I'm not sure if it is expected to work when `ignoreTrailingSlash = true` in my point of view it should match only when:

- `/test/`
- `/test/example`
- `/test/example/`

[2021-09-24 19:21] moonmeister commented on #3331
This is fine if `ignoreTrailingSlash = false`.

But the I think it should also have - `/test` when `ignoreTrailingSlash = true`. Even if we decide this isn't the pattern we want I should be able to add the redirect...but that loops. I'll work on a demo for that.

[2021-09-24 19:24] climba03003 commented on #3331
I think your assumption for `ignoreTrailingSlash` is wrong.

`/test` should never be able to redirect to `/test/`, it is by decide they are identical if `ignoreTrailingSlash` is enable.
To make it works you need to redirect to the path like `/test/<something>`, it should not be empty.

[2021-09-24 19:39] moonmeister commented on #3331
How I want my API to work is my business. I need `/test` and `/test/` to be the same, and have the option of passing in a route param. I just want to be able to implement it. Right now I can't. https://replit.com/@moonmeister/fastify-3331 show's why not.

[2021-09-24 19:46] climba03003 commented on #3331
1. Please understand `ignoreTrailingSlash` is the option of `find-my-way`.
The nature of `ignoreTrailingSlash` are auto register `/test` when you registered `/test/` and auto register `/test/` when you registered `/test`.

2. I don't know why you need to `.redirect('/test/')` for both `/test` and `/test/` (it is what you means the same?) If not shouldn't the below one enough?

[code]

[2021-09-24 19:57] moonmeister commented on #3331
yes, this SHOULD work. But as the repl shows as soon as you add `ignoreTrailingSlash` it stops working because the `/test` redirect ignores the trailing slash and now applies to `/test/` too. My entire application needs `ignoreTrailingSlash` so I can't disable it. It breaks by ability to do this redirect but doesn't just automatically handle `/test` so i need a redirect...but that's broken...I tri

[2021-09-24 20:10] RafaelGSS commented on #1877
Closing once that `fastify-sse-v2` solves the issue and we don't get an answer about `fastify-sse`.

[2021-09-24 20:10] #1877 closed

[2021-09-24 20:11] climba03003 commented on #3331
When you understand the nature of `ignoreTrailingSlash`. It is very clear why your problem appear and all behavior is well documented.

1. `ignoreTrailingSlash` is the option of `find-my-way`, the additional route is added in there.
2. `prefixTrailingSlash` is the option of `fastify`, it cannot override the `ignoreTrailingSlash` setting.

If it really need a fix to the problem of mixing `ignoreTra

[2021-09-24 20:14] moonmeister commented on #3331
Sure, docs are always helpful. I can appreciate as someone who's intimately familiar with how fastify is built that this makes sense. To everyone who uses this package this is all fastify configs that should be modifying the same thing and aren't. Either way. That was just one attempt I made at resolving the underlying issue.

[2021-09-26 07:03] chasebrewsky opened #3341 "Property access is deoptimized in hooks defined closer to the root of the application"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.21.6

### Plugin version

_No response_

### Node.js version

14.7.6

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6

### Description

This bug is related to a similar bug I found rece

[2021-09-26 07:26] zekth commented on #3341
In the current case the shape difference is only (i think) the encapsulated instance of fastify in the `request`.

In a practical case this would also change properties in `request` / `response` and even the encapsulated `instance`. In my opinion if the request/responses have the same shape within an encapsulated context it's ok.

To have the same shape within all contexts i'm not sure it's doable

[2021-09-26 09:01] zekth opened #3342 "Ecosystem plugins integration testing"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

With the same approach as https://github.com/fastify/fastify/blob/main/.github/workflows/benchmark.yml , adding integration testing on PRs to ensure it does not break anything.

Using labels in the first step as we don

[2021-09-26 09:08] mcollina commented on #3341
I'll give it a try and see if my hunch is correct. There are probably some good optimizations that we can apply for this case.

(Note that this is a much better scenario than the previous issue as the shape is determined by ahead-of-time definition vs at-request-time.)

[2021-09-26 09:11] mcollina commented on #3342
My colleague @dominykas worked on this problem for quite a while:

* https://github.com/nodejs/package-maintenance/issues/84#issuecomment-559614256 - this is the initial idea for the implementation
* https://github.com/pkgjs/wiby/blob/main/docs/github-workflow.md - this is the current installation instructions (but I'm reworking the comments bit, because Github Actions have a bug that's not been f

[2021-09-26 09:26] dominykas commented on #3342
👋 ohai!

I'm happy to chat about this or give some demos or help set this up - the documentation is quite lacking there (and it does require some setup which does not have any automation right now).

I gave a quick demo some 6 months ago of the current state: https://www.youtube.com/watch?v=m4SMPUshtzY - happy to give it again! I'm also somewhat available on the Node.js and OpenJS Foundation slack

[2021-09-26 09:28] Eomm commented on #3342
We have this repo to revamp
https://github.com/fastify/fastify-citgm

[2021-09-26 09:34] climba03003 commented on #3007
Resolved by #2862

https://github.com/fastify/fastify/blob/main/docs/Server.md#serializeropts

[2021-09-26 09:34] #3007 closed

[2021-09-26 09:40] mcollina commented on #3342
That repo is far from being great unfortunately, it's very hacky and ad-hoc that we have used when doing semver-major releases.

[2021-09-26 09:55] climba03003 commented on #3282
Resolved by #3304

[2021-09-26 09:55] #3282 closed

[2021-09-26 09:56] #3059 closed

[2021-09-26 10:08] zekth commented on #3342
After checking the video of @dominykas it explains way better what we can achieve. Using label triggers it would make less noise with all the PR we can have, also easier for prototyping the integration. One thing is we would also want to implement the cleaning process.

I'm definitely interested in working on this.

[2021-09-26 19:24] chasebrewsky commented on #3341
I brought it up because I think it has the potential to become an issue the larger an application becomes due to the fact that its natural to break out bloated pieces of an app into smaller pieces. For example, for an application I made that became pretty large I broke up each API endpoint into the objects that it handles, so it looks similar to this:

[code]

The original file used to hold all th

[2021-09-26 20:40] mcollina commented on #3341
I spent some time investigating the issue. The cost of this megamorphism is roughly 10% throughput, which is significant.

I _think_ it's possible to fix this by completely rewriting the whole decorator logic. I'm not convinced the added complexity is worth it, as decorating a value will break things anyway.

Anyway I have learned my lesson and I would not ship this in v3, but rather try to get it

[2021-09-26 20:53] chasebrewsky commented on #3341
Oh that's good to know!

[2021-09-27 15:58] darkgl0w commented on #3286
Hello,

I have a working [`fastify-supabase`](https://github.com/coopflow/fastify-supabase) plugin, but the `fastify-supabase` name is currently used for a dummy package on npmjs.

I have contacted the current owner through his twitter and I am waiting to see if it is keen to transfer the ownership of the package name to my npmjs account.

Regards.

[2021-09-28 13:48] jakearchibald commented on #9
I had to switch back to using expressjs for a project because fastify doesn't support adding routes for arbitrary HTTP methods. The thing I was working on was a lower-level test thing, so maybe that's fine. Just thought I'd let you know!

[2021-09-28 13:51] mcollina commented on #9
What methods did you need to add that were not there?

[2021-09-28 16:07] jakearchibald commented on #9
I might be talking shit here, I'm not sure express supports _any_ method either, it might just support more 😄

[2021-09-28 18:50] mcollina commented on #9
We support the ones Node support in the router: https://github.com/delvedor/find-my-way/blob/c561d220e6c0c93b76b72a7461dcdc8620158ba2/index.js#L102, not sure how we can support more 😅.

Maybe there is some specific behavior that we are missing?

[2021-09-28 22:13] MetCoder95 commented on #3121
I'm currently working on this but I'm quite curious, why are you suggesting the `#bucket`?
It shouldn't be enough with just the `compilersFactory`?

Also, there's missing documentation about `setSchemaController`. I'm dropping it here in case somebody wants to open a PR for the docs, otherwise, I'll do it Maybe tomorrow 🙂

[2021-09-29 08:09] jakearchibald commented on #9
Maybe I'm reading it wrong, but `require('http').METHODS` is:

[code]

Whereas fastify only supports a subset of that https://github.com/fastify/fastify/blob/main/lib/route.js#L7.

But yes, you're ultimately restricted by Node here. My new plan is to use Deno which doesn't seem to have that restriction, but I might be talking shit again.

Sorry for the noise!

[2021-09-29 08:10] Radiergummi commented on #9
Well according to the HTTP spec, the method can be an arbitrary string: [RFC 7231, section 4.1](https://datatracker.ietf.org/doc/html/rfc7231#section-4.1).

[2021-09-29 08:11] jakearchibald commented on #9
That's what we're talking about.

[2021-09-29 08:20] mcollina commented on #9
I _think_ we can relax those checks, they are mostly for developer experience. I don't think there are any _actual_ limitations in supporting those.

I can add an option if you'd like.

[2021-09-29 09:47] jakearchibald commented on #9
🤷‍♂️

The thing I'm building ended up needing something lower level than Node was able to support, so I'd totally understand if you didn't see this as a good fit for fastify.

[2021-09-29 09:59] mcollina commented on #9
It's likely not the main use case, but it would be good for the framework to be flexible enough.

[2021-09-29 12:08] ruanmartinelli commented on #3286
Done! Good work on the plugin @darkgl0w, seems like you were faster than me 😄

[2021-09-29 13:54] #3286 closed

[2021-09-29 21:51] MetCoder95 commented on #3121
But I think the issue is referring to the Ajv instance as it is, isn't it? I might be getting it wrong
Then, should be enough by just checking if the `httpPart` matches a custom Ajv instance set for the route, or maybe the encapsulated instances?

[2021-09-30 07:47] petef19 opened #3351 "Get Response Size"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I've searched but not found anything. Would be very useful to get the size of the response (and possibly the request) in bytes in order to track traffic.

### Motivation

Monitor traffic.

### Example

_No response_

[2021-09-30 08:35] hionnode commented on #3300
If this is still up for grabs,can I add docs for nginx, the current docs are too short, should I include full instructions for setting up nginx as reverse proxy for fastify, I've set up nginx for my personal projects so hopefully I'll be able to add something here.

[2021-09-30 08:36] rkaw92 commented on #3260
Hi! I saw the original motivation for this change being to force rebalancing. As far as I can tell, it fulfills a similar function to an HTTP/2 ALTSVC frame (or an Alt-Svc header for both HTTP/1.1 and 2) - telling clients they should possibly go to another server, although the technical implementation of this transition is completely different. The two are not related in any way, right? The new op

[2021-09-30 09:18] climba03003 commented on #3300
@hionnode
I would say the current is enough but lack of explain for each setting.
But, feel free to add more on top of it. I am happen to review it.

[2021-09-30 09:25] climba03003 commented on #3351
I think you can only get the payload size, it is not much advantage to compute the size of a stream.

For `request`, you can check the `header` in `onRequest` hook.
https://github.com/fastify/fastify/blob/main/docs/Hooks.md#onrequest

[code]

For `response`, you can check the `header` in `onResponse` hook.
https://github.com/fastify/fastify/blob/main/docs/Hooks.md#onresponse

[code]

[2021-09-30 11:49] jsumners commented on #3300
Please read the linked discussion. They should be similar to the HAProxy docs.

[2021-09-30 11:51] meehawk commented on #3300
@hionnode feel free to work on it. I figured I'm decent in NGINX but not much so to be able to doc this

[2021-09-30 11:54] mcollina commented on #3260
It fullfil the same purpose of ATLSVC frame. The flag it is only HTTP/1.1.

I don't understand the question.

[2021-09-30 15:37] weiliddat commented on #3300
Ah sorry @hionnode I just realized that you wanted to solve this. Feel free to add your PR and use whatever I've added if it's useful to you.
I guess we were working in parallel and I didn't realize you wanted to solve this issue.

[2021-09-30 20:27] MetCoder95 commented on #3351
Assuming that you might be using a reverse proxy (like `Nginx`), this can be traced from there. Most of the time is recommended to do it in that way. Or you can better use some libraries which implement tracing (like OpenTelemetry) for such things. But not sure what's your situation

[2021-09-30 21:13] #3300 closed

[2021-09-30 21:13] petef19 commented on #3351
@MetCoder95
we do use Nginx but the free version, and the `nginx-exporter` Docker image does not provide that metric, only the commercial `Nginx plus` version provides that metric... or am I missing something ?

Thanks.

[2021-10-01 15:14] kjmph commented on #2261
Sorry, should probably explain with more detail, I had a sub-route like `/:root/documentation` but in my case, I created new route entries for `/abc/documentation` and `/def/documentation`. In short, I was able to enumerate the list of routes in my case, and code split the get handlers. Does this help @csvan?

[2021-10-01 15:27] csvan commented on #2261
@kjmph indeed, that is very helpful! Thanks 🙂

[2021-10-02 16:55] josh-hemphill commented on #3083
Sorry it's been a while, I've been transitioning jobs and finally have some time to get back to this stuff.

Do you mean like a full fastify project using JTD?

[2021-10-03 00:51] CalogeroMandracchia commented on #3123
Hello! Sorry for writing in a closed issue. I didn't understand if top-level string is not supported at all or it should be supported if a schema is given and content-type is set to json.

I wrote this code and if I didn't make any mistake, it's not supported at all.

[code]
I would be happy to try to implement a solution with a little help!

[2021-10-03 09:01] Eomm commented on #3123
The serialization is skipped if the object that is being sent is a string|buffer|stream or null.
So, the fast-json-stringify function is not executed.

The rationale here is that: all the payloads that are not ready to be transmitted through the HTTP response must be serialized.

So the assumption is that, if the user is sending a string|buffer|stream or null, the serialization phase work can be a

[2021-10-03 09:45] CalogeroMandracchia commented on #3123
Thank you!! `reply.serialize()` works like a charm!
I do return strings sometimes and even if your explanation makes perfect sense I find it a little error-prone but I guess there is no way around it, it must be this way.
Now I have one more reason to use `jest-json-schema` for matching the API response with its own schema :)
Thank you again for answering me on Sunday!

[2021-10-03 10:15] #3123 closed

[2021-10-04 09:59] Eomm commented on #3083
No really, just some real use cases that may chack if the feature works as expected in a more complex situation

I would like to test it more before closing since the integration is done

[2021-10-04 12:08] mav-rik opened #3356 "encoding/decoding uri is confused and misconfigured"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.0

### Plugin version

_No response_

### Node.js version

14

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

The framework doesn't take care of decoding URLs bef

[2021-10-04 13:15] mcollina commented on #3356
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

I would recommend to target the `next` branch as it seems quite a breaking change.

[2021-10-04 13:18] mcollina commented on #3356
You have likely researched this better than anybody else.

[2021-10-04 16:09] Eomm commented on #3356
The decoding is already done into the router:

https://github.com/delvedor/find-my-way/blob/master/index.js#L17

The issue could be related to the static path resolution or how the path is stored in the router's tree

https://github.com/delvedor/find-my-way/blob/c561d220e6c0c93b76b72a7461dcdc8620158ba2/index.js#L440-L447

[2021-10-04 17:25] mav-rik commented on #3356
@Eomm indeed then the issue is on find-my-way side. I'll debug it deeper.
But do you agree that the example I mentioned should work?

[2021-10-04 19:15] mav-rik commented on #3356
@Eomm here's what I found.
The `fast-decode-uri-component` works identical to `decodeURIComponent` but has different behavior comparing to `decodeURI`.
For instance `fastDecode('%23') === '#'`, but `decodeURI('%23') === '%23'`.
Few more differences that I identified: `%2f`, `%3f`, `%3d`.

It means that it is incorrect to use `fast-decode-uri-component` instead of `decodeURI` (and `find-my-way` bar

[2021-10-05 07:29] Eomm commented on #3356
I'm not 100% settle.
I agree that there is an issue and we should define a well-defined behaviour based on the RFC https://datatracker.ietf.org/doc/html/rfc2616#section-3.2.1

For example, quoting the spec:

      http://abc.com:80/~smith/home.html
      http://ABC.com/%7Esmith/home.html
      http://ABC.com:/%7esmith/home.html

My understanding here is that we should block the user while register

[2021-10-05 17:56] mav-rik commented on #3356
@Eomm I want to notice that `'/[...]/a .md'` and `'/[...]/a%20.md'` aren't duplicated routes. The `%` is used intentionally as it is possible and it is allowed to have such URIs.
For instance the file name may contain `%` which should be encoded as `%25` in URI to be properly processed. That's the whole point of this issue: currently it's impossible to have such two routes at all. To fix it we mus

[2021-10-05 18:33] Eomm opened #3360 "New alias: fastify.plugin()"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I would expose a new API: `fastify.plugin()` that would be a `register` alias

[code]

This feature could be integrated into core to improve documentation readness, but it can be added into the `fastify-plugin` as deco

[2021-10-05 18:49] mcollina commented on #3360
Sure thing, PR? Maybe target `next`.

[2021-10-05 19:35] moonmeister commented on #3356
@mav-rik I'm not finding the `find-my-way` issue, can I get a link? Sorry if I'm missing something obvious.

[2021-10-05 20:28] MetCoder95 commented on #3360
The main difference will be `plugin` will do what registering a plugin with the `Symbol['plugin-override']` does?
If I can add my small two cents here, I've had the confusion already when creating small plugins for an app, when the plugin doesn't decorate the parent instance because either I forgot to use `fastify-plugin` (maybe plugin soo small) or forgot to set `Symbol['plugin-override']`, but a

[2021-10-05 20:35] mav-rik commented on #3356
Sure, I was writing [it](https://github.com/delvedor/find-my-way/issues/206) :)

[2021-10-06 07:17] Eomm commented on #3360
Does `fastify.module()` sound better?
Or do you think an alias is not worth it?

Yes, if it is not already set of course

This would be a huge change that impacts a lot to the whole community, I would consider that only if necessary.

Because it does not show by default: https://github.com/Eomm/grokking/blob/master/test/misc/symbol.test.js

[2021-10-06 12:16] jsumners commented on #3360
As a new user, which do I use and why? How do we effectively explain the seemingly subtle, but really vast, difference between `register` and `plugin`? Don't they both "register" "plugins"?

Right now, encapsulation is the default unless you have thoroughly read the docs and opt out via the symbol/plugin. I firmly believe encapsulation to be the defining feature of Fastify and would not want to ma

[2021-10-11 22:55] petef19 commented on #3351
@MetCoder95
thanks for that but am currently looking to cover this via `Prometheus` metrics

[2021-10-12 05:53] bkyerv commented on #2120
in the documents it says that the logger can be turned off when instance of fastify object is initiated like so 'const fastify = require('fastify').({logger:false}). However there are cases when the whole project structure is auto generated using cli or 'npm init fastify' command, how do we turn off the logger in this case? in general where can we find the root file where 'fastify' object is initi

[2021-10-12 06:51] zekth commented on #3351
Closing as we're out of scope now :)

[2021-10-12 07:35] climba03003 commented on #2120
Please check the document of `fastify-cli` and if you have any issue, open in there.
You can start with `fastify start -l silent xxx.js` change the log level to `silent`.

[2021-10-12 10:58] bharadiasharad opened #3363 "ServerResponse for HTTP 200 and 201 different"
### Prerequisites

- [x] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.0.22

### Plugin version

_No response_

### Node.js version

12.22.4

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

[code]

output:
[code]

-----------------

[code

[2021-10-12 12:45] bharadiasharad commented on #3363
Correct, here, I meat that the Configuration Json should not be empty in the case of HTTP 200 response.

Please find the steps to reproduce below,

[code]

create an API with the above data. You should be able to reproduce it by changing response code from 201 and 200

[2021-10-12 16:19] Eomm commented on #3363
@jsumners is right, we the code

But I bet you are looking for this: https://www.fastify.io/docs/latest/Validation-and-Serialization/#serialization

[code]

[2021-10-12 20:00] paulocoghi opened #3364 "Possibility of using JustJS for (almost) native C/C++ performance"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I would like to open the discussion about changing the runtime (maybe in a distant future), from NodeJS to [JustJS](https://github.com/just-js/just) (v8, minus libudev, plus custom "std libs").

This issue is, by no me

[2021-10-12 20:58] davidkjackson54 opened #3365 "[FSTDEP006] FastifyDeprecation: You are decorating Request/Reply with a reference type. This reference is shared amongst all requests. Use onRequest hook instead. Property: config"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

34.22.0

### Plugin version

websocket 4.0.0

### Node.js version

16.4.2

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

I have this defined to augment FastifyRequest:

[2021-10-12 21:00] mcollina commented on #3364
Fastify also focuses on development experience and Jusr is way behind what the nodejs+npm combo could do right now.

I would also wonder how could we make Node faster.

[2021-10-12 21:03] MetCoder95 opened #3366 "Documentation and TS Types missed for FastifyInstance#setSchemaController"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.x.x.

### Plugin version

_No response_

### Node.js version

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

Any

### Description

While working on issue #3121, I was looking for a way to s

[2021-10-12 21:23] #3365 closed, assigned to nobody

[2021-10-13 07:07] #3363 closed, assigned to nobody

[2021-10-13 09:08] PhilipWee opened #3367 "Automatic Generics TS support for JSON Schema"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Right now when using typescript you have to specify the type of the request/response twice, first for getting strict types in the handler and second in the json schema

Can we instead just derive the request/response t

[2021-10-13 14:30] climba03003 commented on #3367
Duplicate of #3178

The reason is that it cannot provide a good experience to achieve what you mention.
See my comment here https://github.com/fastify/fastify/issues/3178#issuecomment-873940875

Instead of getting a broken experience, I will go for keep the current behavior.

[2021-10-13 14:30] #3367 closed, assigned to nobody

[2021-10-14 07:12] re-thc opened #3371 "Cannot bundle using esbuild"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.0

### Plugin version

_No response_

### Node.js version

14.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Amazon Linux 2

### Description

`readable-streams` depends on `string_dec

[2021-10-15 03:43] robmcguinness commented on #3371
Same when using esbuild to bundle fastify for lambda deployment. As a workaround:

[code]

[2021-10-17 08:52] zekth opened #3377 "ci: Add esbuild in package pipeline"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Following: https://github.com/fastify/fastify/issues/3371

Would be nice to have `esbuild` in the CI for bundlers.

[2021-10-17 14:04] lewispham opened #3378 "Requests hang when response body is large enough"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.0

### Plugin version

_No response_

### Node.js version

15.10.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

Big Sur 11.6

### Description

Requests hang when the response body is

[2021-10-17 14:12] lewispham commented on #3378
Closing this issue as it's wrongly reported.

[2021-10-17 14:12] #3378 closed

[2021-10-17 14:14] nmggithub commented on #946
I second this. I am experiencing the same issues.

[2021-10-20 02:35] climba03003 opened #3382 "Example for Firebase Functions / Google Cloud Functions"
I think the below solution should be documented in the `Serverless.md`.

-------------------------------------------------------------------------------------------------------------------------

To this day, the issue @devotox mentions is present.
When running Fastify as a Google Cloud Function (firebase-functions), using the suggested serverFactory approach, all `POST` and `PATCH` requests will

[2021-10-20 21:59] kibertoad opened #3384 "ajv override documentation seems outdated"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.0

### Plugin version

_No response_

### Node.js version

16

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

Documentation (https://www.fastify.io/docs/latest/Val

[2021-10-21 03:26] climba03003 commented on #3384
Are you using `ajv@6` or `ajv@7`. The current typings is strictly bind to `ajv@6`.

[2021-10-22 09:44] mcollina opened #3389 "Improve getting started documentation to include req.body"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Improved our documentation so it’s immediate for newcomers that the case described in https://github.com/fastify/fastify/discussions/3388 is not needed at all.

### Motivation

_No response_

### Example

_No response_

[2021-10-22 11:49] chenyulun opened #3390 "middiePlugin error"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

8.1.1

### Plugin version

middie

### Node.js version

16.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

3.10.0-957.el7.x86_64 #1 SMP Thu Oct 4 20:48:51 UTC 2018 x86_64 x86_64 x86_64 GNU/

[2021-10-22 20:38] #3390 closed, assigned to nobody

[2021-10-23 07:25] sinclairzx81 opened #3391 "Enhanced TypeBox support for Fastify"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hi. I'm writing to submit a possible enhancement for Fastify + TypeBox users.

Given that the TypeBox library sees a fair amount of use in Fastify projects, I thought I'd see if there were ways to enhance the TypeBox user experience spe

[2021-10-26 09:16] akaNightmare opened #3396 "Add possibility to change req/reply log level on runtime (at least per request)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Hello,

Sometimes the request log level should be changed due to different reasons such as logging only 5% off all logs (including request chain) and etc.

Thanks.

### Motivation

_No response_

### Example

[code]

[2021-10-26 09:39] #3396 closed, assigned to nobody

[2021-10-28 13:32] mcollina opened #3399 "Update find-my-way for v4"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Update!

### Motivation

_No response_

### Example

_No response_

[2021-10-28 21:25] Eomm opened #3402 "Double schema bucket"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Right now, running `fastify.addSchema()` add a JSON schema for both our schema consumer:

- validator: ajv
- serializer: fast-json-stringify

Ajv supports the JSON Schema Spec 07, 2019-09 and 2020-12

FJS supports 07 i

[2021-10-29 20:00] Eomm commented on #3402
It should support both as ajv does

You can switch between one or the other using the $schema property

[2021-10-30 12:54] RafaelGSS opened #3403 "Include type provider to Typescript section"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

The PR https://github.com/fastify/fastify/pull/3398 added a new feature in typescript that's `Type Providers`. We should add a link in `Typescript.md` to point to `Type-Providers.md` or even merge both documents as suggested here:   htt

[2021-10-31 04:06] jonnyn commented on #2261
Get exactly the same issue
`server.get("/product/:id", { schema: getProduct }, async (request, reply) => {...})`

I always get
`request.params.id === ''`

[2021-10-31 09:13] mcollina opened #3404 "Create fastify-type-provider-* modules"
Yes, I'd expect `fastify-type-provider-json-schema-to-ts` and `fastify-type-provider-typebox` would both belong as packages of the Fastify org. Each would take a direct dependency on `json-schema-to-ts` and `@sinclair/typebox` respectively as well as Fastify V4, likely as a peer dependency.

Each provider package would contain a single module that exports an implementation of `FastifyTypeProvider`

[2021-10-31 09:14] mcollina commented on #3404
cc @sinclairzx81

[2021-10-31 10:06] artur-ma opened #3405 "Provide requestTimeout feature"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Didn't find description in docs how to set `requestTimeout`, which will limit the time for each request.
I think it is important to add this.

I can send a PR later today if you accept this proposal.

### Motivation

T

[2021-10-31 11:13] antoniogamizbadger opened #3406 "Fastify response gets stuck when using HTTP2"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.1

### Plugin version

_No response_

### Node.js version

14.17.3

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.5.2

### Description

I'm trying to setup a HTTP2 server but the con

[2021-10-31 12:43] mcollina commented on #3406
Unfortunately express is not compatible with Node.js core HTTP/2 module, so fastify-express is not compatible either.

[2021-10-31 12:51] mcollina commented on #3405
Go for it!

[2021-10-31 18:52] #3405 closed

[2021-10-31 18:55] anker2000 opened #3408 "Host Constraints not working when http2 enabled"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.1

### Plugin version

_No response_

### Node.js version

16.13.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

21.0.1

### Description

Host constraints will give a 404 error regardl

[2021-10-31 20:08] climba03003 commented on #3408
It is an upstream issue and related to the below line.
https://github.com/delvedor/find-my-way/blob/master/lib/constrainer.js#L95

[2021-10-31 21:28] michael-melodyarc opened #3409 "Document special case for setting 'set-cookie' header"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

This issue is to confirm the existing behavior is intended and if so, a request to better document the behavior.

Fastify's docs for `reply.header(key, value)` are quite concise and only say the following:

If you click through to the o

[2021-10-31 21:39] zekth commented on #3409
Technically the browser takes in consideration only the latest reference of a key for set-cookie header. The fact that this is done this way is to avoid parsing the `set-cookie` header when you add it in the reply. This indeed might looks odd but speeds up the serialization of the reply. I think @mcollina can confirm.

A documentation PR is welcome.

[2021-10-31 21:39] jsumners commented on #3409
https://github.com/fastify/fastify/pull/1359 implemented this without updating the documentation.

[2021-10-31 22:34] mcollina commented on #3408
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-10-31 22:46] RafaelGSS commented on #3404
Just as a reminder. Let's use the `@fastify` prefix for those packages.

[2021-11-01 05:23] galvez opened #3410 "Petition to join Fastify Core Team"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hey there — as some of you know I've been working on a project called Terix, which aims to provide improved frontend tooling for Fastify applications, especially SSR applications.

Right now this project has accumulated the following re

[2021-11-01 08:16] zekth commented on #2683
Just a heads-up, this is now supported as an experimental feature in Chromium 95: https://chromium.googlesource.com/chromium/src/+/refs/heads/main/docs/early-hints.md

[2021-11-01 13:06] yukha-dw commented on #3260
Hello, i'm trying to build high througput API and believe this feature could be the solution for one of my problem. But, sadly maxRequestPerSocket is not supported on TypeScript yet. By any chance, will you want to push an update soon?

[2021-11-01 13:25] jsumners commented on #3260
Why isn't is supported? Can you explain this statement?

[2021-11-01 13:30] yukha-dw commented on #3260
Apparently it just added on master branch, not on released tag such as https://github.com/fastify/fastify/blob/v3.22.1/fastify.d.ts

[code]
This snippet will return an error due to unknown property maxRequestsPerSocket

[2021-11-01 13:41] mcollina commented on #3260
A PR would be needed to update the typescript files.

[2021-11-01 13:52] climba03003 commented on #3260
It already added on https://github.com/fastify/fastify/pull/3407

[2021-11-01 14:07] yukha-dw commented on #3260
So no it's only the matter of time before it's released on version 3.22.2? Anyway, thank you for your contribution, i hope it will solve my problem.

[2021-11-01 15:29] juanarbol opened #3411 "Re-definitions of routes are not being validated when using `fastify.ready` method"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.1

### Plugin version

_No response_

### Node.js version

14.18.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

21.04

### Description

You expect to throw an exception when you decla

[2021-11-01 15:42] MetCoder95 commented on #3411
Hi! I think this is solved in the `next` branch, I think I touched on while moving the route definition from sync to async, can you give it a try on the `next` branch? 🤔

[2021-11-01 15:50] mcollina commented on #3411
The ready callback has an error as first argument: that’s your error.

[2021-11-01 15:54] juanarbol commented on #3411
Yeap :( sorry :facepalm:

Anyway, it's fixed in the next branch:

[code]

Closing, this is a misuse of the API and it's fixed in `next` branch

[2021-11-01 15:54] #3411 closed

[2021-11-01 15:55] Eomm commented on #2261
Closing since this issue is caused by https://github.com/delvedor/find-my-way/issues/149

[2021-11-01 15:55] #2261 closed

[2021-11-01 23:46] moonmeister opened #3412 "Async handler throws "no undefined" error when used with `fastify-static` and sendFile."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.1

### Plugin version

4.4.2

### Node.js version

14.18.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6

### Description

I've been running into an error where my 404/500 respons

[2021-11-02 01:51] climba03003 commented on #3412
#2702 is on `next` branch. It is expected you cannot have `undefined` return on `async` reply.

I think the below code should solve your problem.
[code]

[2021-11-02 02:09] moonmeister commented on #3412
Thanks, that indeed solves the issue. Is there docs I missed on this? Or is there a way we could more clearly communicate this in the error?

[2021-11-02 08:15] mcollina commented on #3412
Given this is going to be fixed in v4 (for good), I'm not sure we should spend time documenting this further.

This is the piece of docs you heve been looking for: https://www.fastify.io/docs/latest/Routes/#promise-resolution.

[2021-11-02 08:16] #3412 closed

[2021-11-02 20:44] conor909 commented on #3384
@climba03003 I'm experiencing this with `ajv@8`, do we need to write our own definitions?

[2021-11-02 22:59] mcollina commented on #3410
I think this would be a good idea. However I don't think you have enough contributions to Fastify proper to join the core team.. how about the plugin team? Or maybe you can rank up a few PRs there too.

[2021-11-02 22:59] mcollina commented on #3410
cc @delvedor

[2021-11-02 23:36] jsumners commented on #3410
I share Matteo's concern. But I'm also concerned about adding several new modules for the team to maintain. Particularly since they are in an area unfamiliar to backend focused developers.

[2021-11-02 23:42] galvez commented on #3410
Fair enough re: joining Plugin team instead, I didn't realize there were multiple teams — but FWIW I'd be taking full responsibility over shaping up all packages to be well documented and tested enough to facilitate the job of others maintaining them as well.

[2021-11-02 23:43] galvez commented on #3410
The main packages would be **fastify-vite**, **fastify-api**, **manifetch** and **vite-plugin-blueprint**.

[2021-11-03 07:56] delvedor commented on #3410
I agree with @mcollina and @jsumners. Unfortunately (as far as I know) there are no experts in frontend-tooling among us, which means that you'll be the only person responsible for these plugins. This also means that if someday you'll need to stop maintaining them for any reason, those plugins will become unmaintained.

[2021-11-03 08:46] anker2000 commented on #3408
I'd love to, but I've never done a unit test before. Would you be able to help me out with what I need to do?

[2021-11-03 09:35] mcollina commented on #3410
I think they will be a good addition to the ecosystem. Specifically because they are in the line of fastify-next and fastify-hotwire.
If we cannnot maintain them anymore, we will deprecate them.

Overall I'm +1 to add them in the repo.

[2021-11-03 11:07] BUddha10 commented on #2634
//util file

async function dbconnector(fastify, options) {
	try {
		await client.connect()
		console.log('db connected succesfully')
		fastify.decorate('db', { client })
	} catch (err) {
		console.error(err)
	}
}
module.exports = fastifyPlugin(dbconnector)

//index file
const dbconnector = require('./utils/db')
fastify.register(dbconnector)

but whenever i try to do "fastify.db" it shows the belo

[2021-11-03 11:17] galvez commented on #3410
fastify-vite already has users and contributors, I'm sure it's on the verge of having many more. I'd propose the compromise of adding them to Fastify namespace in a trial status, if it turns out it does get traction and more potential maintainers, you keep it, otherwise transfer back to my @galvez username.

I've decided to deprecate the name Terix regardless.

Let me know if I should transfer the

[2021-11-03 11:51] mcollina commented on #3410
I'm +1 with that plan.

[2021-11-03 12:10] jsumners commented on #3410
@fastify/core what say you?

[2021-11-03 12:50] zekth commented on #3410
+1 with the mentionned plan.

[2021-11-03 13:06] RafaelGSS commented on #3410
I'm overall +1, however, I'm not sure if all those packages should be transferred:

- https://github.com/terixjs/fastify-api (it could be a community plugin)
- https://github.com/terixjs/fastify-apply (the readme tell it as experimental)
- https://github.com/terixjs/fastify-walk (pretty similar to all other community plugins)

[2021-11-03 13:10] galvez commented on #3410
Fair enough. These can wait until they're a little more shaped up.

Had no idea there were similar packages for fastify, can you point me to one of them?

But it's a key supporting package of fastify-vite.

[2021-11-03 13:11] climba03003 commented on #3410
I am generally against any mix of frontend and backend, or frameworks.
But as I am using `vite` in some of my project, I may helps on maintaining `fastify-vite` if it under the organization.

About joining the team, I'm +1 if it is plan to transfer at least one repo inside the organization.

[2021-11-03 13:12] RafaelGSS commented on #2634
When you decorate a plugin, is had better to use the declaration merging to add that property to `FastifyInstance`. See at: https://www.fastify.io/docs/latest/TypeScript/

[2021-11-03 13:31] climba03003 commented on #3408
I will be helping you if you face any problem.

[2021-11-03 13:51] Eomm commented on #3410
We have already some repositories that are mainly maintained by one single maintainer so I think it is not an issue.

I would just create a `@fastify/frontend` team grouping those repositories that belong to this domain. This should help during PR review requests (instead of tagging `@fastify/plugin` team).

Generally, I'm happy about this proposal because I think vite is a great growing project a

[2021-11-04 00:18] N00nDay commented on #356
Optional parameters in the middle of the url may not be possible but at the end they work. For example:

Route:
`/something/something-else/:optional`

You can access this route with the following two examples:
`/something/something-else/anything-you-want`
and
`/something/something-else/`

As long as you use the slash at the end it will still hit that end point.

[2021-11-04 11:35] askart opened #3416 "decorateRequest issue (The decorator 'X' has already been added!)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

3.21.5

### Stopped working in version

3.21.6

### Node.js version

16.13.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### 💥 Regression Report

`The decorator 'X' has

[2021-11-04 11:54] climba03003 commented on #3416
From my point of view, the current behavior is correct. It should throw when you register `A` first.
A do not create new context, so it is modifying its parent.
B is using the modified parent, it must throw error.

The reverse order of A and B should solve your issue.

[2021-11-04 11:55] Eomm commented on #3416
The regression you are reporting was the issue 😄
In fact, in fastify 3.21.4 you have the same behaviour of 3.21.6
https://runkit.com/eomm/regression/2.0.0

The X is defined in the root scope (due to the `wrap plugin A in fastify-plugin`) and the B plugin must inherit the X decorator from A in this way.

[2021-11-04 11:59] Eomm opened #3417 "Decorator check is not working for functions"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.1

### Plugin version

3.0.0

### Node.js version

16

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12

### Description

I can add multiple decorators to the request and reply object.

[2021-11-04 12:04] askart commented on #3416
Thx, how i can overwrite inherited value X?

[2021-11-04 12:17] askart commented on #3416
@climba03003, i've tried reverse order, and it's working. But i don't understand why? and where i can read about this in documentation?

@Eomm, if it's inherited, can i overwrite it without using decorateRequest?

[2021-11-04 13:27] #3416 closed

[2021-11-04 15:49] codeflyer opened #3419 "The server crashes if the socket is undefined and try to access attributes"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.1

### Plugin version

_No response_

### Node.js version

14.15.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Docker image node:14

### Description

The app restart randomly with th

[2021-11-04 16:22] zekth commented on #3419
Interesting, i wonder why the `socket` is undefined in this context. I'm running into K8s too and never experienced this.

[2021-11-04 16:29] #3419 closed

[2021-11-04 17:47] mcollina commented on #3417
This is expected!

[2021-11-04 17:47] mcollina commented on #3417
Not a bug really, functions are ok.

[2021-11-04 17:47] #3417 closed

[2021-11-04 19:02] Eomm commented on #3417
Could you elaborate?

I did not read about this different behaviour on docs compared to other primitives datatypes.

Checking docs I read:

So, a child context decorator overwrite the parent one only for functions?

[2021-11-05 13:51] Jnig opened #3421 "Typebox example from documentation throws error strict mode: unknown keyword: "kind""
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0

### Plugin version

_No response_

### Node.js version

14.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

5.10.70

### Description

Hi,

I'm trying to use the new Type Providers exa

[2021-11-05 14:14] sinclairzx81 commented on #3421
@Jnig Hi, you need to setup the AJV validator to allow the `kind` and `modifier` keywords when using TypeBox. The following is the typical setup for TypeBox when using AJV 7 in isolation.

Note: the `Type.Strict()` function will strip out these keywords.

[code]

Hope that helps
S

[2021-11-05 14:36] Jnig commented on #3421
Thanks for the quick reply! Everything is working as expected with your provided snippet.

[code]

[2021-11-05 14:59] RafaelGSS commented on #3421
@sinclairzx81 could you add that information in the docs?

[2021-11-06 07:16] sinclairzx81 commented on #3421
@RafaelGSS I'm wondering if there is a way to make this easier for users. As mentioned by @Jnig, the TypeBox `Type.Strict(...)` function removes the `kind` and `modifier` properties on the schema by serializing then deserializing the schema. This works because the `kind` and `modifier` properties are defined as Symbols which are non-serializable. The resulting schema is AJV 7 friendly.

The follow

[2021-11-06 15:43] Eomm commented on #3421
[code]

The `formats` should be already added in fastify v4, so I think this should work

Not sure about it, is it not enough to set the `strict` ajv parameter to `log`?
https://ajv.js.org/options.html#strict

[2021-11-07 04:10] sinclairzx81 commented on #3421
@Eomm Yeah, that looks like a leaner candidate to include in the documentation.

As for culling non-serializable properties such as `Symbol` and `Function`, I guess my take on that is that, while it would be safe to cull any property that can't be represented in JSON; I do actually feel it would better for users explicitly opt into additional keywords if it's easy to do so. This to avoid implicit

[2021-11-08 08:16] mcollina commented on #3410
I have created a frontend team and invited @galvez.

[2021-11-08 16:30] #3410 closed

[2021-11-09 10:25] #3391 closed

[2021-11-09 11:12] rburgst opened #3425 "jest unit tests hang when using jest.useFakeTimers"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.23.1

### Plugin version

_No response_

### Node.js version

14.18

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

Monterey

### Description

When using fastify in a jest unit test calling

[2021-11-09 11:17] mcollina commented on #3425
I don't know why this is happening. It's likely because of Jest own environment.

I personally won't have time to work on this, but a PR would be highly appreciated.

(Generically I do not recommend to use Jest for testing Node.js applications)

[2021-11-09 11:58] jstayton opened #3426 "Validation defaults like `removeAdditional` no longer set"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.23.1

### Plugin version

_No response_

### Node.js version

16.13.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6.1

### Description

In the "Validation and Serialization" docs, [i

[2021-11-09 12:00] climba03003 commented on #3426
`removeAdditional: true` will remove the properties only when `additionalProperties: false` inside the schema.

[2021-11-09 12:00] #3426 closed

[2021-11-10 07:44] Jnig commented on #3421
The ajv custom options work fine, including the log parameter.
Here is a small repo with fastify v3 and v4 for testing: https://github.com/Jnig/fastify-v3-v4

I'm wondering if it could be an issue for other plugins that the symbols are not longer removed. I'm thinking of fastify-swagger for instance and will test that in the next days.

[2021-11-10 09:12] mcollina opened #3428 "Test issue in CITGM (node.js v17)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

latest

### Plugin version

_No response_

### Node.js version

v17.1.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Red Hat

### Description

See https://ci.nodejs.org/view/Node.js-citgm/

[2021-11-10 17:46] Jiri-Mihal opened #3429 "Object serialization problem against JSON schema in response"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.23.1

### Plugin version

_No response_

### Node.js version

16.3.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7

### Description

Serialization the route response against the J

[2021-11-10 18:47] climba03003 commented on #3429
I think it is the expected behavior.
https://github.com/fastify/fast-json-stringify#additional-properties

[2021-11-10 18:47] #3429 closed

[2021-11-10 18:52] Jiri-Mihal commented on #3429
This problem does not affect `additionalProperties`. Please see `obj_two` where this problem lies. For simplicity, use this code:
[code]

[2021-11-10 18:58] climba03003 commented on #3429
As it is a `object`, it do not has `additionalProperties` and `properties`. The `additionalProperties` will set to `false`, then no output will be expected for `obj_two`.

This rule do not apply to only the `root` context.

[2021-11-10 19:03] climba03003 commented on #3429
This is the working example for your case. You need to explicitly set `additionalProperties` for `obj_two`. Otherwise, it will treat it as `additionalProperties: false`.
[code]

[2021-11-10 19:05] Jiri-Mihal commented on #3429
I see it now, thank you.

[2021-11-11 09:19] thomaschaaf opened #3430 "Calling Reply.getResponseTime() multiple times results in different times"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.0

### Plugin version

_No response_

### Node.js version

14.18.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6.1

### Description

Calling Reply.getResponseTime() multiple times

[2021-11-11 09:23] mcollina commented on #3430
Thanks for reporting. The [documentation](https://www.fastify.io/docs/latest/Reply/#getresponsetime) states:

This is correct and matches the implementation you are describing.

When are you calling `getResponseTime()`? How could it possibly be the same independently on when are are calling it?

[2021-11-11 09:44] thomaschaaf commented on #3430
@mcollina I am calling it in my application to report a metric to prometheus and there is also a log by fastify: https://github.com/fastify/fastify/blob/main/lib/reply.js#L659 these times now differ. I don't understand why that value is not persisted to the request like the status code but needs to be calculated twice.

[2021-11-11 09:50] mcollina commented on #3430
At what point in the request lifecycle are you collecting the data to send to prometheus?

Are you asking if we could set the response time once the response is sent with?

[2021-11-11 09:54] thomaschaaf commented on #3430
We are using nestjs and have an Interceptor (listener attached to the on finish and error event of fastify) Thus after the request is finished we want to execute some code. I did some async stuff (talking to a different server) before collecting the metric from the fastify reply and the numbers were just completely wrong. If of course fetching the value is the first thing I do everything is correc

[2021-11-11 10:31] mcollina commented on #3430
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-11-12 16:18] Jnig commented on #3421
I've created https://github.com/fastify/fastify/pull/3437 to extend the documentation and therefore close the issue.

[2021-11-12 16:18] #3421 closed

[2021-11-12 21:08] #3430 closed

[2021-11-13 07:23] #3389 closed

[2021-11-13 12:09] sinclairzx81 commented on #3404
@RafaelGSS Possible suggestion for the `fastify-type-provider-typebox` provider. As AJV 7+ requires the `kind` and `modifer` keywords to be configured by the user. Perhaps the provider package could simply export a default configuration as follows.

### Current

[code]

### Proposed

[code]

For future consideration

[2021-11-13 13:21] delvedor commented on #3399
`find-my-way` v5 has been released.

[2021-11-14 05:21] brwnll opened #3440 "Can't connect on AWS EC2 T4G"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.23.3

### Plugin version

_No response_

### Node.js version

16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Amazon Linux 2 AMI (HVM), SSD Volume Type (ARM processor)

### Description

[2021-11-14 05:25] #3440 closed

[2021-11-14 12:12] xacrimon opened #3441 "ajv JSON serialization"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Replace the current schema JSON response serialization system with validation and serialization introduced in newer ajv versions.

### Motivation

ajv recently introduced support for serializing JSON with some impressi

[2021-11-14 12:21] Eomm commented on #3441
It should be already doable with the actual `schemaCompiler` interface.
Did you try it?

[2021-11-14 12:28] mcollina commented on #3441
As written in th Ajv docs, they support serialization only for JTD, not JSON Schema

[2021-11-16 09:09] sf3ris opened #3448 "Instance listen method definition - callback's Error should be nullable"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.0

### Plugin version

_No response_

### Node.js version

14.18.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04.3 LTS

### Description

After registering a new [FastifyIn

[2021-11-16 09:11] sf3ris commented on #3448
If the issue is confirmed, I can try to fix it opening a PR.

[2021-11-16 09:31] mcollina commented on #3448
Yes, confirmed.

[2021-11-16 18:46] #3448 closed

[2021-11-18 07:26] joshuaavalon opened #3457 "Wrong TypeScript definition for validatorCompiler"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.23.1

### Plugin version

_No response_

### Node.js version

14.17.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

First, [buildValidator](https://github.com/fasti

[2021-11-18 07:51] climba03003 commented on #3457
There must be a TypeScript error, because we use `ajv@6` and the typings for `ajv@6` and `ajv@8` is not compatible.

[2021-11-18 08:16] Eomm commented on #3457
Could you try this blog post too: https://www.nearform.com/blog/upgrading-fastifys-input-validation-to-ajv-version-8/ ?

[2021-11-18 08:42] joshuaavalon commented on #3457
Yes, fastify does ship with ajv@6. However, the [official guide](https://www.fastify.io/docs/latest/Server/#schema-controller) states that you can replace the custom validator via server config, including ajv@8. There also examples in `@fastify/ajv-compiler`'s REMAME.

I don't have any problems if I casts the types to `any`.

My problems are the TypeScript definition is not the same as the impleme

[2021-11-19 00:22] a-a-GiTHuB-a-a opened #3461 "Clear error reporting?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I feel that a clearer error reporting system would be helpful, especially in routing and logging.

### Motivation

I once tried logging a subset of the `req` object, not understanding the serializer. Then I got an erro

[2021-11-19 01:02] climba03003 commented on #3461
`cannot get property 'accept-version' of undefined` is throw by `nodejs`. How can we modify this message case by case?

I propose to update this line
https://github.com/fastify/fastify/blob/48a99a470f82461c711a2c914e8221e49c731b07/lib/logger.js#L53
to `req.headers && req.headers['accept-version']`

[2021-11-19 01:17] climba03003 commented on #3457
It is hard to tell is the TypeScript definition is matching the real case or not.

When you use a custom validator builder, it should be stated that the option is matching `ajv` options. By eliminating the an extra level of `customOptions`, because most of the user would not need it when using a custom validator, the typing using `Ajv.Options` is totally acceptable in my side.

If it need to match

[2021-11-19 08:08] Eomm commented on #3428
Relates to https://github.com/nodejs/node/pull/40858

[2021-11-19 08:46] mcollina commented on #3461
Let's do that!

[2021-11-19 11:05] climba03003 commented on #3382
Resolved by #3445

[2021-11-19 11:05] #3382 closed

[2021-11-19 12:32] genzyy commented on #3409
Can I work on this issue? If yes , in which branch I should add the documentation for this?

[2021-11-19 12:40] mcollina commented on #3409
Go for it. Work on a branch of your chosing and send a PR against main?

[2021-11-19 12:58] #3461 closed

[2021-11-19 13:24] iagocalazans commented on #3077
I think they are [developing something](https://github.com/SoftwareBrothers/admin-js-fastify) like this.

[2021-11-19 15:50] endstatedev opened #3469 "Adding 304 code via onSend hook does not work"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.24.0

### Plugin version

2.1.0

### Node.js version

16

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.3

### Description

Adding 304 code via onSend hook does not seems working as des

[2021-11-19 18:14] endstatedev commented on #3469
Closing this, since I found out it's a visualization problem in Chrome. `304` status is properly sent but for some reason in the developer console, chrome shows it as `200`.

[2021-11-19 18:14] #3469 closed

[2021-11-19 21:11] meerkat999 commented on #1043
Any solution for this?

[2021-11-19 21:20] meerkat999 commented on #2914
Any solution for this? I had to downgrade to 3.11.0 to get it to work my code

[2021-11-19 21:24] jsumners commented on #2914
Please open a new issue with a minimal reproduction.

[2021-11-19 23:53] coolaj86 opened #3471 "Can't pipe streams"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

Similar to https://github.com/fastify/fastify/issues/534

### Fastify version

3.24.0

### Plugin version

N/A

### Node.js version

14.18.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.0.1

### Description

[2021-11-20 04:58] climba03003 commented on #3471
How can the data be passed through when it is already `drain`?

[2021-11-20 07:48] Eomm commented on #3471
Did you try?

[code]

[2021-11-20 07:51] Eomm commented on #1043
This is my 3rd message in a row:

Could you add a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)?

**Without it, we are unable to help you.**

[2021-11-21 04:16] Uzlopak commented on #3178
Is there already some openapi to fastify cli?

It would make sense to use openapi schema to create a fastify app with stubs. Like you take the petstore and scaffold the app. Would make it necessary to give each route a operationId, and as the openapi schema should be complete, we also use refs. As refs usually have names, we can use them to map them to types.

Only stuff like versioning of paths w

[2021-11-21 10:45] #3409 closed

[2021-11-22 19:32] coolaj86 commented on #3471
[code]

I had copied from a few different examples and left in `parseAs: 'buffer'`. I thought this was just indicating content-type (like `encoding`, e.g. "It's okay that this in not UTF-8"). I didn't realize that, without taking any imperative action, it was consuming the buffer.

[2021-11-22 19:32] #3471 closed

[2021-11-22 19:34] coolaj86 commented on #3471
FYI: If that had made a difference, it would definitely be a bug. Promises are synchronous unless they have something async, IIRC, and a Stream should not start "flowing" until `stream.resume()`, `stream.uncork()`, or `stream.on('readable', fn)`.

[2021-11-23 20:07] meerkat999 opened #3478 "Schema with key or id already exists since version 3.12.0 and even 3.24.0"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.24.0

### Plugin version

_No response_

### Node.js version

14.17.4

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

Hello everyone, I'm trying to generate the schem

[2021-11-23 20:24] mcollina commented on #3478
cc @Eomm

[2021-11-23 20:36] meerkat999 commented on #3478
@jsumners

[2021-11-23 21:23] MetCoder95 commented on #3478
I think the issue is not related directly with fastify itself but with a dependency, in specific `@fastify/ajv-compiler`, as I notice that in the version `v1.0.0`, the dependency is not checking if the schema already exists, causing the chance to collide by trying to add the same schema twice (which is happening in this case).

But, on the most recent version `>v2.0.0`, this is already fixed, but

[2021-11-23 22:25] Eomm commented on #3478
I think this issue could be a duplicated https://github.com/fastify/fast-json-stringify/issues/308

[2021-11-23 22:45] #3478 closed

[2021-11-24 02:26] Grubba27 commented on #3366
Can I do this ? i wrote the code and I'm starting the PR. I never done anything to open source I could use some help :)

[2021-11-24 08:56] mcollina opened #3481 "Refactor Context constructor and avoid positional arguments"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

In the `next` branch, the `Context` constructor has a lot of positional arguments that make the code hard to read.
This should be moved to use an option object: https://github.com/fastify/fastify/blob/fd8503a60623613a5

[2021-11-24 09:55] mcollina opened #3482 "Fastify v4 release coordination"
This is an issue to coordinate the release of Fastify v4. It will be updated as soon as it progresses.

---

* [x] release new major of fast-json-stringify https://github.com/fastify/fast-json-stringify/releases/tag/v3.0.0
* [x] create type providers modules https://github.com/fastify/fastify/issues/3404
* [x] finish off all outstanding issues and PRs labeled v4: https://github.com/fastify/fastify

[2021-11-24 09:57] mcollina commented on #3341
Fixed by #3479

[2021-11-24 09:57] #3341 closed

[2021-11-24 09:59] #2860 closed

[2021-11-24 09:59] mcollina commented on #2860
Closing as I think this was handled in https://github.com/fastify/fastify/pull/3261

[2021-11-24 10:03] zekth commented on #3482
Shouldn't we make a proper documentation review before landing v4? I know there were several corrections regarding phrasing / misleading sentences.

[2021-11-24 10:58] mcollina commented on #3482
I don't think it's feasible. We need to ship a v4 release to get on the latest Ajv and Pino bandwagon, otherwise we are keeping ourselves further behind. Moreover there are quite a few improvements sitting in the next branch. I would also like to phase out Node v10 support asap (and possibly v12).

[2021-11-24 12:53] jsumners commented on #3482
Agreed that docs shouldn't block (despite the mess). Just drop 12 and below. Our release cycle is too slow to carry that forward.

[2021-11-24 12:59] jsumners commented on #3482
I think we decided to move to `@fastify/`. So the list is: all of them. Which means I need help with https://github.com/fastify/deprecate-modules

Here's the thing: I am surfing the edge of burnout. I'm doing what I can to stay in the game at work, but OSS in my free time is really hard right now (I suspect the same is true of several of us). There's a mountain of things I want to get done here, i

[2021-11-24 13:28] mcollina commented on #3482
Thanks for the transparency @jsumners! I think a lot of us are in the same mindset at the minute.

[2021-11-24 14:23] rhadamez opened #3484 "Duplicate routes finish the server without any warning"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.24.0

### Plugin version

_No response_

### Node.js version

v16.5.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04

### Description

Using duplicate routes, the server just

[2021-11-24 14:37] #3484 closed

[2021-11-24 14:39] rhadamez commented on #3484
As verified, inside the parameter "error" of the server, it is possible to get the current error about duplicate routes.

[code]

[2021-11-24 19:45] Fdawgs commented on #3482
+1 on dropping support for node 10 and 12. Can mass remove them from CI workflows etc. if/when needed.

[2021-11-24 20:40] simoneb commented on #2779
https://github.blog/changelog/2021-11-24-specify-theme-context-for-images-in-markdown/

[2021-11-25 05:58] climba03003 commented on #3482
Do anyone in @fastify/typescript have time to investigate on merging generic params for `FastifyInstance` and the others?
If nobody have time to do so, I think it should be left for the next main version.

[2021-11-26 03:24] haoadoresorange opened #3487 "serializerCompiler documentation misleading ?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hi,

I'm not really sure about this but it seems that the documentation for the `serializerCompiler` [here](https://www.fastify.io/docs/latest/Validation-and-Serialization/#serializer-compiler) saying that

is a little bit misleading. Y

[2021-11-26 03:53] climba03003 commented on #3481
Resolved by #3483

[2021-11-26 03:53] #3481 closed

[2021-11-26 03:57] climba03003 commented on #3371
As the problem is related to `readable-streams` and we dropped it.
I assume it as resolved.

[2021-11-26 03:57] #3371 closed

[2021-11-26 04:00] climba03003 commented on #3356
It should be resolved by https://github.com/delvedor/find-my-way/pull/207
Note that it will only be available on `fastify@4`

[2021-11-26 04:00] #3356 closed

[2021-11-26 04:04] climba03003 commented on #3056
As the current typing system and IntelliSense rely on TypeScript typing.
It is impossible to support both `CJS` and `ESM`.

[2021-11-26 04:04] #3056 closed

[2021-11-26 08:47] mcollina commented on #3487
Good spot! Would you like to send a PR to fix the sentence?

[2021-11-26 16:07] moonmeister commented on #3356
When will fastify 4 be released?

[2021-11-26 16:38] climba03003 commented on #3356
Please subscribe this issue https://github.com/fastify/fastify/issues/3482

[2021-11-26 16:41] mm1995tk commented on #3487
Hello.
If you don't mind, I'd like to submit a PR.

[2021-11-26 19:15] Eomm commented on #3487
Go for it!

[2021-11-27 01:37] lachlancollins opened #3492 "Restructure docs folder with major version subfolders"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hi, I thought it would be best if I added this as an issue separate from #3474 to better gather opinions. One of the big goals of moving to a newer website compiler (such as Docusaurus) is link validation to ensure we aren't pushing bro

[2021-11-27 04:42] haoadoresorange commented on #3487
Nice ! Thank you in advance @mm1995tk !

[2021-11-27 05:07] climba03003 commented on #3487
Resolved by #3490

[2021-11-27 05:07] #3487 closed

[2021-11-27 05:19] climba03003 commented on #3492
I am not a fan on keeping the old docs in `main` repo.
The old docs can be merged to `1.x` and `2.x` branch. Then pull the docs on those branch.

[2021-11-27 05:26] lachlancollins commented on #3492
Oh amazing - I didn't notice this repo had 1.x and 2.x branches, that's a much better solution. Thanks @climba03003!

[2021-11-27 05:26] #3492 closed

[2021-11-27 10:58] luisorbaiceta commented on #3408
Hi @anker2000, do you have any plans to work on this? If not, I'll be happy to address this issue and send a PR with unit tests.

[2021-11-27 13:06] jsumners commented on #3492
Yes, maintaining the docs on their version branches is the proper way to do this. The proposal would have introduced a much bigger maintenance burden than we already face.

[2021-11-28 13:40] Eomm commented on #3408
Go for it!

[2021-11-28 20:54] i-coderdev opened #3497 "How to use class-validator & class-transformer in fastify as alternative of ajv?"
### Prerequisites

- [ ] I have written a descriptive issue title
- [ ] I have searched existing issues to ensure the issue has not already been raised

### Issue

_No response_

[2021-11-29 00:03] L2jLiga commented on #3497
Hey, I think this issue can be helpful https://github.com/L2jLiga/fastify-decorators/issues/565

Btw you can't use it instead of AJV but can with

[2021-11-29 05:54] i-coderdev commented on #3497
I really don't like the ajv, I think if fastify team remove this kind default validation then it can be more perfect to use.

[2021-11-29 10:03] dgg opened #3498 "Worse performance when response schema specified"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.20.2

### Plugin version

_No response_

### Node.js version

14.17.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

Mojave/Monterey

### Description

We have a service written in fastify

[2021-11-29 10:15] zekth commented on #3498
Interesting. That might be an issue in https://github.com/fastify/fast-json-stringify

We did not include huge JSON files to serialize like yours. Worth creating more benchmarks.

[2021-11-29 10:45] danechitoaie opened #3499 "XSS reported by Nessus. Is this a valid concern or false positive?"
Hi,
We had IT running a Nessus security scan over an app we developed and we got this warning:

[code]

Is this a valid concern or a false positive?

[2021-11-29 10:55] zekth commented on #3499
How is it supposed to be a XSS vulnerability? Definitely false positive to me.

[2021-11-29 11:17] Eomm commented on #3498
From docs:

We should be more clear about what it means `small` in KB, but 7MB is not small for sure.

It should be possible to write a circuit-breker logic where we skip the json-schema serialization and run the `JSON.stringify` one 🤔
I think it is useful to set up a schema (for documentation at least) without using it

[2021-11-29 12:56] dgg commented on #3498
Well, that depends if you are generating your docs (let's say your OpenAPI spect) from fastify metadata, you are not going to get the information about the schema if you don't use it.

I was not aware of that piece of documentation.
As I see it, not only the advantage shrinks, using fast-json-stringify turns into a "not an advantage at all" for larger payloads.

[2021-11-29 13:22] mcollina commented on #3498
Good spot. Could you upload a reproducible example so that we can see if there is some unoptimized path that is causing trouble.

[2021-11-29 13:48] mcollina commented on #3499
I'm not exactly sure how to exploit a 404 page so no clue there.

[2021-11-29 13:48] #3499 closed

[2021-11-29 14:13] dgg commented on #3498
@mcollina do you mean a repo with the files that I included in the bug description? the schema, the server and the data that is returned?
That would be easy to provide.

[2021-11-29 14:15] mcollina commented on #3498
Something that we can benchmark.

[2021-11-29 14:43] dgg commented on #3498
Here it goes: https://github.com/dgg/fastify-large-serialization
Let me know if there is anything missing.

[2021-11-29 15:05] Fdawgs opened #3500 "`middie` missing from ecosystem docs"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Should [middie](https://github.com/fastify/middie) be included in the core section?

[2021-11-29 15:13] danechitoaie commented on #3499
That's what I thought as well 😊
Just wanted to have some "backup/confirmation" from you guys as well.

Thanks.

[2021-11-29 15:19] mcollina commented on #3500
It should! Would you like to send a PR?

[2021-11-29 15:49] mcollina opened #3502 "Remove app.use()"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I think we should be removing `app.use()` in the `next` release, i.e. https://github.com/fastify/fastify/blob/a17482959d4a4a9fab31926d0443ecd13d078c99/fastify.js#L327-L330.

### Motivation

We should not be encouraging

[2021-11-29 15:53] mcollina opened #3503 "Alias preParsing to onRequest hook. Deprecate preParsing"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Currently we have `onRequest` and `preParsing` that happens together. I think `preParsing` should be removed.

[code]

### Motivation

_No response_

### Example

_No response_

[2021-11-29 15:54] #3500 closed

[2021-11-29 16:04] luisorbaiceta commented on #3408
Hi @anker2000, are you testing your http2 server over a secure connection?

[2021-11-29 17:48] anker2000 commented on #3408
Yes, was testing over a secure connection. Just a heads up that using inject to test this doesn't expose the issue.

[2021-11-29 17:53] jsumners commented on #3502
Please do this. I wouldn't be upset if we also deprecate `middie` and `fastify-express` with v4.

[2021-11-29 17:55] anker2000 commented on #3408
I messed up my initial attempt at doing a PR because I'm an idiot and I don't know how to do unit tests, but running a forked version that works right now, which basically just changes line 95 in constrainer.js from this:
`          lines.push('   host: req.headers.host,')`
to this:
` lines.push('   host: req.headers.host || req.headers[\':authority\'],')`

[2021-11-29 17:57] luisorbaiceta commented on #3408
I am sorry but I am not able to replicate the problem, everything is working fine in my end, are you sending the correct host header along with the browser request?

Here is my response (taken from postman):

![image](https://user-images.githubusercontent.com/44276180/143918543-eb538b1a-69b5-44ec-9cd7-7c6e5d870519.png)

And here is my code:

[code]

If I remove the host header, I get the 404 as ex

[2021-11-29 18:00] anker2000 commented on #3408
I think what you are seeing is similar to what I was experiencing using inject. If you use some platform to simulate a request it the host header will be included, however if you do a real life example using a browser like Chrome you'll find that header.host is empty.

[2021-11-29 18:01] jsumners commented on #3503
Can you discuss how this would affect https://github.com/fastify/fastify/pull/1377 and https://github.com/fastify/help/issues/37?

[2021-11-29 18:46] luisorbaiceta commented on #3408
How are you binding the provided host name with your server? Is your server deployed and visible behind the provided domain?

You need to set a proxy or find a way to add the host header to the request (like I am doing with postman). But I don't think there is any way you can make the browser resolve to a random domain without tweaking the request, or the host file in your computer...

All of this

[2021-11-29 19:00] luisorbaiceta commented on #3408
I assume you are binding the host name to your server IP, is that right? Sorry for so many questions but I just want to narrow down all possible scenarios

[2021-11-29 19:08] anker2000 commented on #3408
I had this issue with my local dev setup, which just uses /etc/hosts to point the domain to my local server ip. I've also replicated the issue on my live server, which also just has a domain pointing directly to the server IP. There's no in-between proxy, however I am using iptables to redirect port 443 requests to port 1443.

[2021-11-29 19:09] mcollina commented on #3503
In essence we refactored the lifecycle of a request between v2 and v3 and we removed the internal middleware support in v3.
A long time ago, onRequest happened before routing, and we had middlewares between onRequest and preParsing.

At this point we have two hooks running one after another with no real benefit.

We could also alias preParsing into onRequest and deprecate it.

[2021-11-29 19:09] mcollina commented on #3502
I think they are useful plugins, we should keep having them but reduce their visibility.

[2021-11-29 19:15] jsumners commented on #3503
This is a good approach.

[2021-11-29 20:02] luisorbaiceta commented on #3408
I have replicated the issue and can confirm that this fixes it. @anker2000 do you want to open the PR in the `find-my-way` repo, or do you want me to proceed?

[2021-11-29 20:11] genzyy commented on #3502
Can I take this? How should I go about this like removing `use` will do it I guess but deleting entire line will be better or am I missing something here?

[2021-11-29 20:16] jsumners commented on #3502
First thing we should probably do is issue a new v3 minor that adds a depreciation warning.

[2021-11-29 20:21] genzyy commented on #3502
For this should the docs be updated [here](https://github.com/fastify/fastify/blob/main/docs/Middleware.md)?

[2021-11-29 20:24] anker2000 commented on #3408
Please, if you can proceed that would be great. I don't have the necessary skills to do it.

[2021-11-29 20:25] i-coderdev commented on #3497
I use typeorm so I don't like to use ajv I want to use classt-validator in typeorm entitie file, and also some important plugins are not support schema validation like fastify-multer.
So it is important to remove default validation way.

[2021-11-29 20:29] jsumners commented on #3502
That would be part of it. The main thing would be adding a new deprecation error and triggering it when the method is invoked.

[2021-11-29 21:30] mcollina commented on #3502
it's already throwing an error, we can just remove it.

[2021-11-29 21:31] mcollina commented on #3497
I don't think this is going to happen, closing.

[2021-11-29 21:31] #3497 closed

[2021-11-29 22:11] luisorbaiceta commented on #3408
Done.

Please don't say this. Two years ago I didn't even know what a PR or a unit test was. Learning is a fun, never ending process, and there is always a first time for everything. Keep up the good work!

[2021-11-29 22:19] skoniks commented on #1018
You can use builtin console to fix that problem.
My solution for typescript:

`const server = fastify({
    logger: config('app.debug') ? new class Logger {
      private args;
      constructor(...args: never) { this.args = args }
      info = (msg: unknown) => console.info(msg);
      error = (msg: unknown) => console.error(msg);
      debug = (msg: unknown) => console.debug(msg);
      fatal =

[2021-11-29 22:29] jsumners commented on #1018
This is unnecessary. Set your VSCode debugger profile to use `"outputCapture": "std"` -- https://github.com/microsoft/vscode-docs/blob/56f5a65c45b509f648a4150b9fe1a5b9bb1afa57/docs/nodejs/nodejs-debugging.md?plain=1#L132

[2021-11-29 22:33] skoniks commented on #1018
Using "outputCapture": "std" brokes debbuging in other modules that uses builtin console. It`s usefull only when you use fastify  standalone, without anything else.

[2021-11-30 03:22] kerm1it commented on #3503
can I work for this?

[2021-11-30 03:27] RafaelGSS commented on #3503
Go for it!

[2021-11-30 04:20] genzyy commented on #3502
Should I make this change on a new branch while keeping `next` as a base and make a pull request to `next` branch?

[2021-11-30 05:33] climba03003 commented on #3502
Yes

[2021-11-30 06:42] genzyy commented on #3502
Hey, so to fix this I made a new branch while keeping `next` as the base. But when I run `npm run test`, it gives me some errors. How should I commit the changes?

[2021-11-30 06:57] climba03003 commented on #3502
You need to remove the corresponding test for `.use`.

https://github.com/fastify/fastify/blob/0ae362b7d81b0e823fa7c9c87fc6d4655569d822/test/middleware.test.js#L10-L20
https://github.com/fastify/fastify/blob/0ae362b7d81b0e823fa7c9c87fc6d4655569d822/test/middleware.test.js#L50-L58

[2021-11-30 08:41] genzyy commented on #3502
Removed these tests but I still have errors from multiple test files
![image](https://user-images.githubusercontent.com/48408336/144013746-2a911757-2d2b-4e3d-afe1-fb51530cbe10.png)

[2021-11-30 08:44] mcollina commented on #3502
`git commit -n` to skip the pre-commit hooks.

---

Looking at your errors, I would recommend to `rm -rf node_modules; npm i` as it seems you are missing some deps (joi).

As for the rest, you'd need to look why they are failining.

[2021-11-30 10:28] genzyy commented on #3502
Okay, I got here somehow
![image](https://user-images.githubusercontent.com/48408336/144029849-411906d8-db37-4ce2-88aa-136874dc6709.png)

What  about this one?
I removed the two test function mentioned above but I guess more needs to be removed.

[2021-11-30 10:30] climba03003 commented on #3502
Update the `t.plan` to match the actual test number.

[2021-11-30 10:46] genzyy commented on #3502
Fixed all of the above
But I got these errors popped up

[code]

[2021-11-30 10:55] darkgl0w commented on #3482
I am +1 on dropping support for Node.js 10 and 12.

[2021-11-30 11:07] darkgl0w commented on #3503
Some packages will be affected by this change (to keep track of the packages that will need changes) :
- [ ] `fastify-compress` (adds `preParsing` hooks)
- [ ] `fastify-cookie` (adds `preParsing` hooks)
- [ ] `fastify-caching` (references in tests)
- [ ] `fastify-request-context` (should investigate but it seems to add `preParsing` hooks and there are references in tests)
- [ ] `fastify-websocket`

[2021-11-30 11:14] climba03003 commented on #3502
It is expected to be fail as https://github.com/pinojs/pino/pull/1195 introduce the type breaking in certain area.
You can submit the PR, it should be fixed in another PR.

[2021-11-30 11:20] mcollina commented on #3503
Not that those modules would not directly break but rather they'll see a deprecation warning as we settled into this approach:

IMHO I think we can move most of them to onRequest, there is no actual reason to keep them on preParsing.

[2021-11-30 11:32] darkgl0w commented on #3503
I agree, I think that was the consensus when `preParsing` has been deprecated and since then `onRequest` has been my go to.

[2021-11-30 11:38] genzyy commented on #3502
Got it!
Also we need to add a note in the current version stating the deprecation of `app.use()` in the next release right?

[2021-11-30 11:43] kerm1it commented on #3503
I also think so. We should deprecate it first, otherwise it will cause break change.

[2021-11-30 11:49] darkgl0w commented on #3503
It is already deprecated.
Adding a `preParsing` hook currently trigger this warning :
[code]

[2021-11-30 13:15] jsumners commented on #3502
Issues like https://github.com/fastify/fastify-express/issues/61 are why I think we should deprecate the `middie` and `fastify-express` modules. People are not using them to "migrate" to Fastify. They're keeping their old Express stuff around indefinitely because we continue to support it. This is going to continue to cause problems and maintenance burden as these users continue to try and add mor

[2021-11-30 13:54] galvez commented on #3503
fastify-vite does not use it directly, just allows it to be passed to route definitions via the wrapper. I'll remove it.

[2021-11-30 15:49] Ethan-Arrowood commented on #3482
@climba03003 do you have something I can look at for

[2021-11-30 23:22] climba03003 commented on #3482
For example

https://github.com/fastify/fastify/blob/08877f173c3c3cd9e3883c97ca3285736d33832f/fastify.d.ts#L29-L34

should be changed to

[code]
I don't know if it is possible, but a single interface here provide better DX if user want to override `Logger` only.

[2021-12-01 09:54] TzachiSh commented on #1352
the event on close triggered me when the socket close

This events not worked for me
On close event and end event trigger when request ended normally.

The best practice for me:
`request.raw.on("error", function(error) {
   if( code = 'ECONNRESET'){
    // on close logic
   }

}`

[2021-12-01 13:17] kerm1it commented on #3503
And what should I do？Remove it directly？ because I see this is feature for 4.0.0

[2021-12-01 13:22] darkgl0w commented on #3503
you should alias `preParsing` to `onRequest` hook and keep the current deprecation message in place.

[2021-12-01 13:36] jsumners commented on #3503
@kerm1it that deprecation was about the _signature_ of the `preParsing` hook. This issue is about deprecating the hook entirely. So @darkgl0w is correct about the course of action.

[2021-12-01 14:27] kerm1it commented on #3503
Thanks, I already have a todo list about this issue, everyone can help me review it. If no problem,  I will follow it to do.

- [ ] move `preParsing` to `onRequest` and run it for compatibility
- [ ] remove  `preParsing` from hooks
- [ ] update warning message
- [ ] test  `preParsing` whether can work as before
- [ ] test warning message whether update
- [ ] remove `preParsing` hook related messag

[2021-12-01 15:38] mitul45 commented on #3403
Hi! I'm trying to work on this issue and wanted to open an MR for some discussion but it seems the pre-commit hook is failing due to failed tests. This is strange because my change only affects `*.md` files.

[code]

But when I try to commit, here's the list of tests that fail:

[code]

Do you see something obvious or should I dig deeper and try to fix the tests?

[2021-12-01 17:41] climba03003 commented on #3403
If your changes is doc related only, you can skip the test using `git commit -m "xxx" -n`

[2021-12-01 18:16] kgoedecke commented on #3384
@climba03003 is support for AJV 7 or 8 currently planned?

[2021-12-01 18:19] Eomm commented on #3384
It is in fastify v4

You can already use it in v3 actually:
https://www.nearform.com/blog/upgrading-fastifys-input-validation-to-ajv-version-8/

[2021-12-01 22:39] Ethan-Arrowood commented on #3482
Ahh yeah i've tried that once before and couldn't get it to work; maybe I'll try it again (but other folks should feel free to give it a shot + we don't have to block v4 for it)

[2021-12-03 08:25] mcollina commented on #3503
@kerm1it go for it!

[2021-12-04 15:02] mcollina commented on #3498
I've done some investigation in this case and come out through a few conclusions.

The first - maybe not obvious - is that these routes are _slow_ in both cases. On my machine the one without the schema can do about 14 req/sec vs 4 req/sec of the one with the schema. From an architecture perspective these kind of data dumps are better generated by a queue and downloaded asynchronously.

The second

[2021-12-04 15:26] mcollina commented on #3498
A few more interesting pieces.

Flamegraph without schema:
![Screenshot 2021-12-04 at 16 24 28](https://user-images.githubusercontent.com/52195/144715049-d5a3f5c0-5b90-4c69-a0f2-f9fe48b9ffa0.png)

Flamegraph with schema:
![Screenshot 2021-12-04 at 16 24 37](https://user-images.githubusercontent.com/52195/144715053-6716cf41-0b06-48d8-9d24-7b95c801cb91.png)

[2021-12-04 15:37] mcollina commented on #3498
On second though, it might also be related to: https://github.com/fastify/fast-json-stringify/blob/master/index.js#L1075-L1110 and how we huge arrays of many primitives.

[2021-12-04 15:55] zekth commented on #3498
This is worth creating an issue and add huge array in the benchmark too. I wonder if it's the `[].map` which makes this issue.

[2021-12-04 16:12] mcollina commented on #3498
The solution to this case is to have this block: https://github.com/fastify/fast-json-stringify/blob/a46425478630325478646d7e131cd131e016a8fd/index.js#L1055-L1068

replaced with a `JSON.stringify(obj)` in case the types specified are all natives (like the one in this example). Note that this will lose any removal or check if the data is the right type (which fjs partially do) but it might be the r

[2021-12-05 11:12] #3408 closed

[2021-12-06 08:25] yunfan commented on #1686
i had a related issue oon this
i found i cant got a way to record the responsed body
because in my code i dont use `reply.send` but return the object directly(i am developing a json api service)

when customizing the serializer in logger, i found `reply.body` is not available

[2021-12-06 08:28] climba03003 commented on #1686
@yunfan Please open your own issue. Your question is totally unrelated to this one.

[2021-12-06 19:06] hp8wvvvgnj6asjm7 commented on #935
bloody hell! cost me 8 hours to find this.

[2021-12-07 13:48] rocha-vitor commented on #3482
Fastify is amazing, I'm using in some projects where I work, but I still can't implement in others projects I would like. The reason why is about the types. I really support that in the next version, has a comprehensively support for all features in fastify with consistent types, because somethings is very generics.

extra: the newer version of ajv has a support to serialization and seems be very

[2021-12-07 13:49] jsumners commented on #3482
If you have a new issue, please a new issue.

[2021-12-07 16:00] meisly opened #3517 "Dependency checking fails for non-function type Request Decorators starting in version 3.21.6"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.21.6 and after

### Plugin version

_No response_

### Node.js version

11.10.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Centos 6.10

### Description

Currently (in fastify versions

[2021-12-08 10:13] climba03003 commented on #3517
I think updating the below line can resolve the issue
https://github.com/fastify/fastify/blob/aec2ac770036a34ce5a426037ef02070f07ca8ea/lib/decorate.js#L102

Would you like to send an Pull Request to address this issue? Remember to add an unit test.

[2021-12-08 15:51] anonrig commented on #3428
I've added most of the issues related to Node 17 on my latest pull request https://github.com/fastify/fastify/pull/3515. When that pull request is merged, I think we can close this issue.

[2021-12-08 17:24] #3428 closed

[2021-12-09 13:15] #3404 closed

[2021-12-09 20:04] JoshuaRamsamooj commented on #805
I was able to solve a similar problem by setting the `filename` parameter. Maybe FormData is not able to deduce the filename from a passthrough stream?

[code]

[2021-12-09 20:17] anonrig commented on #3399
Can we close this issue, since find-my-way is bumped to 5.1.0?

[2021-12-09 20:17] #3399 closed

[2021-12-10 13:37] akaNightmare opened #3520 "Add GETOnly to Server options"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

It would be great to add `GETOnly`(fiber analog) to pass GET requests only

### Motivation

Rejects all non-GET requests if set to true. This option is useful as anti-DoS protection for servers accepting only GET reque

[2021-12-10 13:49] mcollina commented on #3520
Thanks for suggesting this! I think this could be easily achieved by using a onRequest (send a standard response for non-gets) o onRoute (throw when a non-get is registered) hook.

I'm going to mark this as a "plugin" issue.

[2021-12-10 21:38] PS1TD opened #3521 "addContentTypeParser Request does not have isMultipart property"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.24.1

### Plugin version

_No response_

### Node.js version

16.12.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

21.04

### Description

While setting up apollo with fastify using the

[2021-12-10 21:40] jsumners commented on #3521
We do not have any affiliation with the Apollo project. It sounds like you should be filing an issue with them.

[2021-12-10 22:15] PS1TD commented on #3521
I get that apollo probably needs to update their docs, however, it seems that the issue is related to typescript definitions being different from what actually seems to work. If there is a way to write it so that typescript does not complain, I would love to know.
P.S I will open an issue with apollo as well.

[2021-12-10 22:21] climba03003 commented on #3521
https://github.com/apollographql/apollo-server/blob/main/packages/apollo-server-fastify/src/ApolloServer.ts

I can see that it never use `fastify-multipart` or any other multipart parser packages.
It is true that no `isMultipart` should exist on the `request` object.

[2021-12-11 00:14] #3521 closed

[2021-12-11 01:39] PS1TD commented on #3521
Would including fastify-multipart be the solution?

[2021-12-11 08:07] galvez opened #3522 "Config Option Proposal: logger.useLocalhost"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Add an optional flag, say,`logger.useLocalhost` to determine the local bind address should be displayed as `localhost` instead of `127.0.0.1`.

### Motivation

Right now, running a Fastify server locally binds to 127.0

[2021-12-11 08:17] climba03003 commented on #3522
I do not understand the problem. What services in particular allow `localhost` but not `127.0.0.1`?
https://github.com/fastify/fastify/blob/9814c3828ff020a90bcb364cea06d2cee5f4b1bc/lib/server.js#L128

The address is actually provided by `http` / `https`.

[2021-12-11 08:24] galvez opened #3523 "Proposal: `env` option for Server, built-in `dev` flag"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

1) Allow Server to receive a precomputed `env` option, which is exposed as `instance.env`.

2) Automatically determine if `process.env.NODE_ENV` is not `production` via a `fastify.dev` flag.

### Motivation

This has b

[2021-12-11 08:30] galvez commented on #3522
**Adyen**, **Firebase** etc come to mind instantly — there are others.

[2021-12-11 08:39] zekth commented on #3523
In your example `dev` is not a flag it's a whole object. I'm not really into this way of managing env; because in the case you're showing you're only making a difference between `dev` and `prod` which lacks of customization. What about a config factory for example? I think lot of people like i do, have written their own config factory for plugins based on environment variable. Like `dev/staging/ex

[2021-12-11 08:46] mcollina commented on #3522
Unfortunately this is not doable in the current state of things.

Fastify adopts a secure pattern by  _always_ listening to 127.0.0.1 (ipv4 address), not 0.0.0.0. On Windows, localhost resolves to ::1 (ipv6 address) and then ::1. When a browser try to open localhost, if it tries ::1 first... they will have 1s wait, completely destroying the user experience.

Given the DNS change in v17/v18, I thin

[2021-12-11 08:58] mcollina commented on #3523
This is a fundamental antipattern which causes significant problems in production for a lot of people.

A few modules in the express family turns on some optimizations only if NODE_ENV is set to production. Then, some folks started using NODE_ENV to load their app config file. The end result is that the deployed staging/qa/etc environments run different code than production.

I'm happy if you'd li

[2021-12-11 09:11] galvez commented on #3523
Got it. Come to think of it this can be addressed elegantly by using a config factory like @zekth suggested.

Would be nice still to be able to set a `dev` option to true explictly, so plugins can make informed decisions on when to turn on some specific DX features. This would be different from only enabling features in production, which I imagine can be troublesome like you said — rather this wou

[2021-12-11 10:15] mcollina commented on #3523
It's not really different unfortunately. As soon as we do that, we'll start seeing issue of folks that run them on production servers.. because they want some behavior on a plugin. It's something we should avoid.

[2021-12-11 13:18] jsumners commented on #3523
I am staunchly against this for the reasons Matteo listed. I wish this was never introduced into the community. An application should assume it is running in production unless explicitly specified otherwise.

[2021-12-11 13:54] galvez commented on #3523
Got it. This is a solid argument, it's a spot between a rock and a hard place to introduce something like this directly in Fastify. Maybe `fastify-cli` is really the place to be looking at, indeed.

I'm closing this issue, thanks everyone for the great feedback.

[2021-12-11 13:54] #3523 closed

[2021-12-11 14:41] asaid-0 commented on #3517
I can reproduce the issue using this:

[code]

The issue in `decorateRequest` and `decorateReply` as well and it's related to this change: #3337
https://github.com/fastify/fastify/blob/aec2ac770036a34ce5a426037ef02070f07ca8ea/lib/decorate.js#L53

we need to do the same idea as `checkRequestExistence` inside `checkDependencies` function as it calls `checkExistence` not  `checkRequestExistence`:
[co

[2021-12-12 00:15] galvez commented on #3522
Got it. Probably better to try and always get `127.0.0.1` whitelisted then.

[2021-12-12 00:15] #3522 closed

[2021-12-12 07:53] mcollina commented on #3522
I think we'd have to do the double binding I described above anyway.

[2021-12-12 23:18] #3517 closed

[2021-12-13 11:58] RafaelGSS opened #3529 "Declaration Merging over scopes in the documentation"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

In the documentation, we have some sections approaching the [`declaration merging`](https://github.com/fastify/fastify/blob/main/docs/TypeScript.md), however, looks reasonable to add a declaration merging over scopes a

[2021-12-13 12:00] RafaelGSS commented on #3529
@fastify/typescript do you know if it's possible to use declaration-merging over scopes by just a configuration in the tsconfig? Looks like a barrier.

[2021-12-13 12:10] simoneb commented on #3529
It would be interesting to understand how declaration merging actually works here.

Please correct me if I'm wrong but I believe that the `fastify.jwt` decorator is shown in autocompletion because it's exported by the `fastify-jwt` package, meaning that as soon as you require that package in your code typescript will assume that any occurrence of `FastifyInstance` in your code will have that decor

[2021-12-13 13:17] jsumners commented on #3529
If anyone tackles this before #3474 is merged, please branch from it and target that branch in the PR.

[2021-12-14 07:55] Eomm commented on #3502
Done in https://github.com/fastify/fastify/pull/3506

[2021-12-14 07:55] #3502 closed

[2021-12-14 10:22] mcollina opened #3536 "Listen to both 127.0.0.1 and ::1"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Fastify adopts a secure pattern by always listening to 127.0.0.1 (ipv4 address), not 0.0.0.0. On Windows, localhost resolves to ::1 (ipv6 address) and then ::1. When a browser try to open localhost, if it tries ::1 fir

[2021-12-14 10:23] mcollina commented on #3536
@jsumners the alternative to this change is to go back listening to all interfaces, which is something that we would like to avoid.

[2021-12-14 13:09] #3121 closed

[2021-12-14 13:13] jsumners commented on #3536
Ugh. https://nodejs.org/dist/latest-v16.x/docs/api/net.html#serverlisten does not support multiple bind addresses. So we'd have to update the following in some convoluted way:

https://github.com/fastify/fastify/blob/33ad2fcfe63ac7779e02203a323c9429dcf9e5fe/lib/server.js#L17-L30

[2021-12-14 13:21] mcollina commented on #3536
Exactly that.

[2021-12-14 15:29] RoXioTD opened #3538 "Several Documentation links not found (404)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.0

### Plugin version

_No response_

### Node.js version

16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

Some Documentation links are currently pointing into

[2021-12-15 00:47] erulabs commented on #2379
Are the any behind the scenes happenings now that Node.js 17 uses OpenSSL 3.0? https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V17.md#openssl-30 - seems this can move forward? It's possible I can find some time to work on this, but not sure if there are efforts im not privy to

[2021-12-15 02:25] MetCoder95 commented on #3536
Sounds a little bit funny (but messy), happy to work on it.

But overall, what's the proposed solution exactly? Listen to both hosts based on a flag or OS? Just to double-check my understanding of the problem and proposed way.

[2021-12-15 03:37] jsumners commented on #3536
Passed in configuration would dictate what hosts are listened to. The default would be to listen on both `127.0.0.1` and `::1`.

[2021-12-15 08:44] Teiem opened #3540 "Lots of links to the documentation from google are 404"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hey,

when i google "fastify route" the first result i get is "https://www.fastify.io/docs/latest/Routes/" which seems to not exist anymore. The is true for nearly every other google link to any part of your documentation.

[2021-12-15 08:47] climba03003 commented on #3540
The documents are re-organized recently and it take some time for Search engine to reflect the changes.

[2021-12-15 08:47] mcollina commented on #3540
How did you reach that link?

[2021-12-15 08:59] Teiem commented on #3540
I basically reach those links no matter what i google, e.g. "fastify route" or "fastify ssl"

[2021-12-15 09:18] luisorbaiceta commented on #3540
There are two options for this.

1. Wait until site gets crawled again by google
2. Request a crawl in the google search console (someone with credentials)

[2021-12-16 02:31] MetCoder95 commented on #3536
Perfect!

[2021-12-16 17:45] climba03003 opened #3544 "throwing Error inside `onReady` hook cannot be catch"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.24.1

### Plugin version

_No response_

### Node.js version

16.8.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 18.04.5 LTS

### Description

When throwing inside the `onReady`

[2021-12-16 18:21] climba03003 commented on #3544
Finally, I see the problem is on my own code. I throw the `Error` inside sync function.

[2021-12-16 18:21] #3544 closed

[2021-12-18 11:55] DanieleFedeli commented on #3520
I am working on this,

It simply add an hook on preRequest, if it is different from 'GET' it respond with a custom status code.
Now I am updating the README.

This is my first time contributing to an open source project, so any advice is welcome.

https://github.com/DanieleFedeli/fastify-get-only

[2021-12-18 15:05] RafaelGSS commented on #3520
@DanieleFedeli could you add this plugin to our [Ecosystem](https://github.com/fastify/fastify/blob/main/docs/Guides/Ecosystem.md#community)?

[2021-12-18 15:31] DanieleFedeli commented on #3520
I have just created a [pull request](https://github.com/fastify/fastify/pull/3548)

[2021-12-18 16:35] #3520 closed

[2021-12-20 05:41] emfomy opened #3550 "Double colon route breaks default fallback when there is another route with a common prefix."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.0

### Plugin version

_No response_

### Node.js version

16.13.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.3.1

### Description

I register two routes:

- `GET /hello`
- `GET

[2021-12-20 06:07] climba03003 commented on #3550
I can confirm it is a bug. And it related to the infinite loop in `.find` method.

https://github.com/delvedor/find-my-way/blob/695654cdd452d2993ada90cc87bdf8d695aee076/index.js#L497-L505

[2021-12-20 07:19] mcollina commented on #3550
Can you open an issue on find-my-way with a reproducible example?

[2021-12-20 14:12] mittche opened #3555 "[NESTJS BUG] Request context not working when using FastifyAdapter"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.0.0

### Plugin version

1.0.0

### Node.js version

14

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

https://github.com/iamolegga/nestjs-pino/issues/546
https://g

[2021-12-20 14:14] jsumners commented on #3555
Closing due to lack of information and the title indicating this lies with a completely separate project. If you feel otherwise, please provide some actual detail in the report and, ideally, a minimal reproduction.

[2021-12-20 14:14] #3555 closed

[2021-12-21 05:46] yurtaev opened #3558 "Regression in 3.25.0 for dependency checking`decorateReply`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

3.24.1

### Stopped working in version

3.25.0

### Node.js version

16.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6.2

### 💥 Regression Report

I've got error after upg

[2021-12-21 08:28] yurtaev commented on #3558
I created the pull-request #3559 with changes for the test case. That happens only if decorated value is function.

[2021-12-21 10:24] mcollina commented on #3558
Thanks, this is fixed in https://github.com/fastify/fastify/pull/3560

[2021-12-21 10:24] #3558 closed

[2021-12-21 10:52] mcollina commented on #3562
Moved

[2021-12-21 12:44] luisorbaiceta opened #3563 "Add website build "on release" to website.yml workflow"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I think as part of the current workflow, we could add a website build as suggested in the title everytime something in `docs` has been changed.

### Motivation

Keep in sync the `docs` with the website

### Example

_N

[2021-12-21 20:12] jsumners opened #3566 "First timers only label?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

This was brought to my attention through a work conversation on open source -- https://www.firsttimersonly.com

In short, it advocates for a `first-timers-only` label that indicates:

1. this is a good issue for someone new
2. this is a

[2021-12-22 05:53] delvedor commented on #3566
I like the idea, but don't we have that already with the `good-first-issue` label?

[2021-12-22 06:39] B5nan opened #3567 "Nest + Fastify + AsyncLocalStorage middlewares"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.24.1

### Plugin version

_No response_

### Node.js version

14/16/17

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

The middlewares are not working if fastify (ad

[2021-12-22 06:47] luisorbaiceta commented on #3567
Fastify does not have middleware pattern behavior out of the box. This issue should be opened in the Nest repo as It is related with how nest adapts the fastify instance

[2021-12-22 06:57] B5nan commented on #3567
https://github.com/nodejs/node/issues/41278
https://github.com/nodejs/help/issues/3661
https://github.com/nestjs/nest/issues/8843
https://github.com/B4nan/nest-fastify-als
https://github.com/mikro-orm/mikro-orm/discussions/2531#discussioncomment-1822709

[2021-12-22 07:03] mcollina commented on #3567
Please, use Nest [Discord](discord.gg/NestJS) channel (support) for such questions.

[2021-12-22 07:04] #3567 closed

[2021-12-22 07:08] B5nan commented on #3567
@mcollina pino not work also https://github.com/iamolegga/nestjs-pino/issues/546

[2021-12-22 07:17] B5nan opened #3568 "Pino. Request context not working when using FastifyAdapter - People are struggling 3 month because programmers have nothing to do"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.0.0

### Plugin version

_No response_

### Node.js version

14

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

Request context not working when using FastifyAdapter

[2021-12-22 07:29] mcollina commented on #3567
I'm not a nest user and I do not have time to invest in maintaining it.

[2021-12-22 07:34] climba03003 commented on #3568
I don't know why you repeatedly sending the same issue.
I am glad to help if you can minimize the issue with `fastify` and `pino` only, otherwise it is too wide for debugging and I would consider it as the `nestjs` bug only.

[2021-12-22 07:36] climba03003 commented on #3568
And you are spamming the same issue in `fastify`, `nestjs` and `node`. It is not a good habit for seeking help.

[2021-12-22 07:53] mcollina commented on #3568
@B5nan if you continue spamming the Fastify repositories you you'll be blocked.

I'm closing this as it is not a bug or problem with Fastify.

[2021-12-22 07:53] #3568 closed

[2021-12-22 07:55] jmcdo29 commented on #3568
The "issue" here is that when adding a middleware to a nest application, nest uses middie for nest-fastify applications to have a unified middleware interface, and to keep the middleware path based. However, as fastify passes the unwrapped request and response objects (as documented) to the middleware, when that is saved to an AsyncLocalStorage instance, it's actually fastify's req.raw.

The solut

[2021-12-22 08:03] climba03003 commented on #3568
Thanks for clarifying.

[2021-12-22 12:12] jsumners commented on #3566
No. That label is saying "this is a good first issue for anyone looking to contribute to the project." This proposed label is more specific to people having never contributed to OSS before at all.

[2021-12-22 12:30] jsumners commented on #3566
I think if we were to add this one someone would have to sponsor each issue with the label. They'd be saying: "I'm willing to spend extra time to help coach the person who works on this."

[2021-12-22 12:39] mcollina commented on #3566
I don't think I would have the bandwidth for that :(.

[2021-12-22 13:00] B4nan opened #3570 "Async context is broken for POST requests when its created inside 'onRequest' hook"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.1

### Plugin version

5.3.0

### Node.js version

16.10

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.0

### Description

When `next` handler is executed inside `AsyncLocalStorage`

[2021-12-22 13:11] mittche opened #3569 "AsyncLocalStorage"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

[code]

### Fastify version

3.25.1

### Plugin version

_No response_

### Node.js version

16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

The data loaded from AsyncLocalStorage is  u

[2021-12-22 13:28] #3566 closed

[2021-12-22 13:34] zekth commented on #3569
There is a mistake in your code
[code]
In this case you're calling the next callback twice in 2 different ways.

[2021-12-22 13:35] mittche commented on #3569
ok will try

[2021-12-22 13:37] luisorbaiceta commented on #3569
fastify/middie#124

[2021-12-22 13:38] mittche commented on #3569
but with post not work

[2021-12-22 13:40] kibertoad commented on #3569
see https://github.com/fastify/fastify-request-context/pull/12 and issue linked in it.
can you try using fastify-request-context and see if it helps?

[2021-12-22 13:44] mittche commented on #3569
seems to work storage.enterWith({ id });

[2021-12-22 13:49] #3569 closed

[2021-12-22 14:16] jsumners commented on #3566
To clarify the closing of this issue: we welcome contributions from first timers. Unfortunately, we, as a team, do not have the time to coach first timers directly. We always provide constructive feedback through the pull request process, though. So please do not be put off by the closure of this proposal.

[2021-12-22 17:36] mcollina commented on #3570
Here is the Node core issue about this: https://github.com/nodejs/node/issues/41285.

[2021-12-22 17:41] B4nan commented on #3570
Thanks a lot for additional debugging and escalating this!

[2021-12-22 21:35] luisorbaiceta commented on #3570
If you need to handle the lifetime of your async context you can extend the [`AsyncResource`](https://nodejs.org/api/async_context.html#class-asyncresource) class and `bind` your storage functions to that context. Hope this helps

[2021-12-23 09:40] #3563 closed

[2021-12-23 11:40] #3570 closed

[2021-12-24 04:59] emfomy commented on #3550
The bug is fixed on `find-my-way` release [v5.1.1](https://github.com/delvedor/find-my-way/releases/tag/v5.1.1).

[2021-12-24 05:07] emfomy commented on #3550
Is `fastify` compatible with `find-my-way` v5 rather than v4?

[2021-12-24 05:51] climba03003 commented on #3550
`find-my-way@5` on the branch `next`. You may need to backport the fix to `find-my-way@4`.

[2021-12-26 18:47] MSE99 commented on #3402
Did someone implement this feature ?, i have some free time and I'd like to take it up.

[2021-12-26 20:41] jsumners commented on #3402
@MSE99 go ahead. FJS should recognize the `$schema` property and support the specs accordingly.

[2021-12-28 07:44] emfomy commented on #3550
`find-my-way` has released [v4.5.1](https://github.com/delvedor/find-my-way/releases/tag/v4.5.1) with this bugfix.

Will fastify update the package.json file?

[2021-12-28 07:48] luisorbaiceta commented on #3550
Do you want to send a PR @emfomy ?

[2021-12-28 07:49] emfomy commented on #3550
OK, I'll do it.

[2021-12-28 07:57] climba03003 commented on #3550
There is no need to update the `package.json` in here. We do not lock the version of `find-my-way`.
Just reinstall your local environment packages, `npm` or `yarn` will fetch the latest.

[2021-12-28 07:57] #3550 closed

[2021-12-28 08:14] luisorbaiceta commented on #3550
Yep, but in my opinion, it's a good thing for developers contributing to fastify to signal which is the currently used version, even if the version is not locked

[2021-12-28 14:38] tcharlat commented on #2901
Hi @Eomm ,
I have an issue with the serializer.
It may be trying to add schemas already added beforehand eg:

`
UnhandledPromiseRejectionWarning: Error: schema with
key or id "Date" already exists
    at checkUnique
`
I can track down the issue in the lib by deactivating the serializer

[code]

I had to disable it in my application

[code]

The issued started to appear when I use a $ref in my resp

[2021-12-29 08:37] radiorz commented on #2019
Thanks bro. What is the fire and forget function? What should I do?
If you could give an example I will apreciate it.

[2021-12-30 16:07] mariusa opened #3580 "Thank you and Happy new year!"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Dear Matteo & team,

Just wanted to say Thank you for a professional set of packages, critical for node web app development! And thanks for the awesome docs and support provided every time :)

Happy new year!

[2021-12-30 16:17] mcollina commented on #3580
Thank you @mariusa!

[2021-12-30 16:17] #3580 closed

[2022-01-02 06:59] michael-melodyarc opened #3581 "Clarification on async/await and `Reply.send()`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I've looked at a handful of issues, and the docs also make some mention, but trying to do a sanity check on if this is correct.

I have a simple async function that is a decorator on reply (it's basically a super simplified `reply.sendF

[2022-01-02 21:20] sergiz commented on #3581
Both examples are functionally the same.

The reply object (that will be returned from res.sendFile) has "then" method and will be handled the same as your async function which returns a Promise.

[2022-01-02 23:02] michael-melodyarc commented on #3581
I was getting tripped up a bit on part of the docs, but I think I was misinterpreting it:

And:

I think I was taking that too literally, because I'm technically returning a value (e.g. a promise that resolves to undefined) from the arrow function with the implicit return.

Anyhows, appreciate the confirmation; feel free to close this out.  Thanks.

[2022-01-03 13:08] Eomm commented on #3402
Feel free to open a draft PR if you need some support

[2022-01-03 13:08] #3360 closed

[2022-01-03 13:10] Eomm commented on #3010
Done https://www.fastify.io/docs/latest/Reference/Server/#server-methods

[2022-01-03 13:10] #3010 closed

[2022-01-03 14:55] sergiz commented on #3581
I explained it wrong. Your both examples would have the same result since you are returning a promise that resolves to undefined. The problem is your decorator that would introduce a race condition. You need to await for reply.send before letting the promise to resolve, so you either return that line in your decorator or await for it. It's hard to notice this in v3, but will be much easier in v4.

[2022-01-03 15:42] mcollina opened #3589 "Remove .writableEnded fallback for Node v12"
https://github.com/fastify/fastify/blob/c56828bcfb7bccdfb00cdd7af890435e62c9a57b/lib/reply.js#L70-L78

should become

[code]

and tests adjusted/removed.

https://github.com/fastify/fastify/blob/c56828bcfb7bccdfb00cdd7af890435e62c9a57b/test/internals/reply.test.js#L1804-L1818

_Originally posted by @sergiz in https://github.com/fastify/fastify/issues/3532#issuecomment-1001109950_

[2022-01-03 17:42] michael-melodyarc commented on #3581
Okay, so putting that together, would the following be correct?

[code]

[code]

I really appreciate helping me wrap my head around this.  I'd like to think I have a good mental model of Fastify, but this one use case through me for a bit of a loop, haha.

[2022-01-03 18:19] sergiz commented on #3581
These two examples would work as well:

[code]

And contrary to your belief, this would work as well 😅

`res.send` works as a `callback` when used in non-promise context.

[2022-01-03 18:21] michael-melodyarc commented on #3581
The first two make sense; the last one would definitely still get me :P Anyways, I think that about answers my questions, so feel free to close this out.  Thanks again :)

[2022-01-04 05:51] #3589 closed

[2022-01-04 13:55] #3581 closed

[2022-01-04 15:57] Eomm commented on #3503
@kerm1it are you working on this?

[2022-01-04 16:21] Eomm commented on #3503
@darkgl0w regarding the:

I think we are blocked by this issue: right now the `onRequest` does not have the ability to manipulate the payload (as the `preParsing` hook does).

So, I think we need to wait this feature before proceeding on that side.
Do you agree with that or have you another idea?

[2022-01-05 02:14] kerm1it commented on #3503
I'm so sorry for this.
I can't work for this because of supporting a emergency project of my company for a long time suddenly.

[2022-01-05 04:46] climba03003 commented on #3540
I think it can be closed safely. I have searched in google, it display the correct links already.

[2022-01-05 04:46] #3540 closed

[2022-01-05 13:49] #3217 closed

[2022-01-05 22:16] mcollina commented on #3503
Turns out this is actually a bad idea and we need preParsing as it fulfill a need.

This explains why we need this: https://github.com/fastify/fastify/pull/2286.

[2022-01-05 22:16] #3503 closed

[2022-01-06 08:17] #2852 closed

[2022-01-06 09:10] kobik opened #3600 "redact prop is missing from FastifyLoggerOptions and Logger interfaces"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.3

### Plugin version

_No response_

### Node.js version

16.13.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.0.1

### Description

Hi,

When I try to set `redact` prop in the lo

[2022-01-06 13:03] darkgl0w commented on #3503
Sorry for the somewhat late response, I was between 2 flights and I couldn't take the time to respond due to a very tight schedule.

Regarding `fastify-compress` the `preParsing` hook is in fact needed because we need to manipulate the request payload and with the `onRequest` hook it is currently impossible.

@mcollina > As it is now abandoned should we revert the changes that where pushed to `fas

[2022-01-06 14:05] mcollina commented on #3503
I would keep those changes. `onRequest` should have been used in all cases anyway.

The approach @Eomm had is great. It's just that I'm not sure it's worth the breakage in the first place. The current preParsing hook does its job.

I forgot why we added it in the first place. It's also a bit confusing for people.

I thought one

[2022-01-07 05:41] climba03003 commented on #3600
Duplicated #3329

Please see comment in https://github.com/fastify/fastify/pull/3330#issuecomment-945414326
It is intended to not include the complete type of `pino`.

[2022-01-07 05:41] #3600 closed

[2022-01-07 09:44] darkgl0w commented on #3503
Ok nice, that makes sense in terms of DX having a dedicated hook is more intuitive than having one with multiple functionalities :)

Regarding the aforementioned packages in my previous comment I will add back the `preParsing` test cases at least to make sure that future PRs won't introduce any problem ^^

[2022-01-08 17:04] mcollina opened #3607 "Use fast-uri with Ajv to speed up cold start"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

A long time ago we identified the dependency uri-js as the main performance bottleneck for cold start (see https://github.com/garycourt/uri-js/issues/40). Unfortunately the maintainers did not want to work in improving

[2022-01-09 09:22] Eomm commented on #2901
@tcharlat you have hit this issue https://github.com/fastify/fast-json-stringify/issues/242

[2022-01-10 15:54] simoneb commented on #2748
We have built https://github.com/nearform/optic-release-automation-action which we are now using to release our packages, gh actions and applications

[2022-01-10 15:59] simoneb commented on #3003
anybody working on this?

[2022-01-10 16:14] mcollina commented on #3003
I don't think so

[2022-01-10 16:41] jsumners commented on #3003
I will now that we have guides support.

[2022-01-10 18:37] Eomm commented on #2748
I have started to use it in some repositories of mine and I love it:
https://github.com/Eomm/fastify-overview/blob/main/.github/workflows/release.yml

I would apply the multi-user feature provided by optic in a "custom way".

I think the Fastify organization should:
- define an organization npm user (such as [octokitbot](https://www.npmjs.com/~octokitbot) )
- produce the NPM_TOKEN to add to the re

[2022-01-10 19:12] mcollina commented on #2748
Unless the last step can be automated, this is a no-go :(. We have too many repositories.

[2022-01-10 21:45] simoneb commented on #2748
I believe that one of the limitations of the npm registry is that you can't have organization tokens. Tokens are personal. This limitations reflects in the complexity of setting this up in an org like fastify.

[2022-01-11 06:59] Eomm commented on #2748
As solution, an GH-App that stores the secretes and centralize them.
Then the GHA should execute an HTTP request to get the secrets, without the burden to configure every single repository

[2022-01-11 07:18] simoneb commented on #2748
@Eomm I don't think that repo secrets can be retrieved. They can only used directly in workflows, there isn't a way to get them out of GitHub

[2022-01-11 07:19] mcollina commented on #2748
Storing all tokens in a shared database looks like a massive security risk.

How about storing it inside the mobile app and transfering it encrypted so that only the action can decode it with an on-the-fly generated key?

[2022-01-11 08:16] Eomm commented on #2748
What I'm thinking is like this:

[code]

The org `github_token` should provide the grant to access the user's tokens

I was not thinking about a DB actually, but building the API on-top of a security vault.
I think that to do not store the GH secret into every repo, we should find a way to relate a `secrets.github_token` to a service that returns the NPM and OPTIC tokens

[2022-01-11 10:50] mcollina commented on #2748
IMHO all of this should be included inside a Github App.

[2022-01-11 13:27] jsumners opened #3610 "Update prototype poisoning doc"
I think you should remove all the non-technical relevant stuff and instead of the strong attribution, simply replace it with "Based on the article ... by Eran Hammer". I'm giving you full permission to use this text as you find useful. Don't be shy to change it.

_Originally posted by @hueniverse in https://github.com/fastify/fastify/issues/3609#issuecomment-1009638148_

[2022-01-11 13:29] jsumners commented on #3610
@Fdawgs maybe you'd like to take a stab at this? It's going to be a while before I can do it myself.

[2022-01-11 14:20] nuragic commented on #3003
For some reason this issue is still opened but it should have been closed by the mentioned PR 🤔

[2022-01-11 14:26] #3003 closed

[2022-01-11 16:36] nuragic commented on #2101
I'm not sure but maybe this issue could be closed, we already have docs here:
https://www.fastify.io/docs/latest/Reference/Server/#register
https://www.fastify.io/docs/latest/Reference/Server/#after

[2022-01-11 16:37] #2101 closed

[2022-01-11 22:39] cooliopas opened #3614 "Issue with Schemas when using Typebox Nullable"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hi!

I have this Typebox type:
[code]
that results in this Schema:
[code]

It works fine to validate this data ('String' is because both date properties are strings, as required):
[code]

Running
[code]
Works as expected.

When using th

[2022-01-12 02:05] ghost opened #3615 "Support constraints when registering plugins"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

When registering a plugin, you can currently pass a prefix that apply to all routes in the plugin.  It'd be awesome to have that same functionality, but with a version or host constraint instead of a path prefix.  I do

[2022-01-12 02:59] climba03003 commented on #3614
I think you have something wrong in your assumption.
`request` is using `ajv` for `validation` and `response` is using `fast-json-stringify` for `serialization`.

[2022-01-12 07:07] climba03003 commented on #3614
I think it is the expected behavior. When it is non-nested schema, we try to serialize every property inside.
But when it comes to `anyOf`, we check if it match the `schema` before trying to serialize every property inside.

In your case, the `Date` object one will never fulfill either of the schema on `ajv.validate`. So, it will be fallback to `null`.
[code]

[2022-01-12 09:01] mcollina commented on #3615
This would be awesome to add. Would you like to send a PR?

[2022-01-12 09:44] Fdawgs commented on #3610
I can have a go but it won't be until March at the earliest unfortunately, quite busy for the next year as the public healthcare provider I work for is merging with the other one in the county.

[2022-01-12 14:14] cooliopas commented on #3614
Thanks @climba03003 for clarification on how it works and for taking the time to confirm its working as expected.

Best regards.

[2022-01-12 14:14] #3614 closed

[2022-01-12 19:21] michael-melodyarc commented on #3615
I'm slammed this month, but I can definitely take a stab hopefully sometime early February.  Do you have any pointers or guidance on where or how it should be implemented?  Would it work similar to how the prefixes work, or do you think it would be different?  Or would we want to implement it in a more generic way so you could actually pass any route options during register versus specific ones (I

[2022-01-12 22:46] Eomm commented on #3615
This is already doable within a plugin that listens for the `onRoute` hook and add the `constraints` property when necessary.

[code]

I have always been afraid to add new `fastify's private field names` to the plugin's options object to avoid collisions.

https://www.fastify.io/docs/latest/Reference/Plugins/#plugin-options

[2022-01-13 01:50] michael-melodyarc commented on #3615
@Eomm Very interesting! I've actually never used the `onRoute` hook before, so never even occurred to me that was possible.  Would this be seen as the "official" or recommended way of doing it, or is this still slightly a hack?  I think it'd still be a cool feature to have for simplicity sake, but this is also still lightweight / easy to understand, so I could also see leaving this in userland and

[2022-01-13 07:20] mcollina commented on #3615
Good spot! All of this could a also be automated with a combo of `onRegister` and `onRoute`. It looks like it is a good plugin to be developed.

[2022-01-13 12:37] #3377 closed

[2022-01-13 19:46] jsumners opened #3617 "Draining connections on close"
Given the simple service:

[code]

We can start the server and then issue the following request to it:

[code]

Subsequently, we send `SIGINT` to the server to indicate we want it to shutdown. At this point, we will see that the server _does not_ shutdown before the keep-alive has completed. Our tests show that new connections are not possible, and re-usage of the existing connection should be met

[2022-01-13 20:06] luisorbaiceta opened #3618 "Categorize Fastify Plugins"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Add every registered Fastify plugin to a category (e.g. Databases, Authentication...)

### Motivation

Given the increasing number of plugins (core or community) that fastify has, I think it would be a good idea to sta

[2022-01-13 20:06] luisorbaiceta commented on #3618
cc @fastify/plugins

[2022-01-13 20:14] RafaelGSS commented on #3618
+1

[2022-01-13 22:21] Eomm commented on #3615
Not at all: it is the infinite possibilities fastify offers

[2022-01-14 07:42] mcollina commented on #3617
I have researched this in great detail and it is at odds with one of our goals, performance.

The problem is that in order to close immediately we need to track the state of all sockets, e.g. adding them on a list when they are idle/keepalive and remove them when they are active. This _was_ unfortunately slow a few years back.

I think we would have much more success in implementing this in Node i

[2022-01-14 10:52] anttti opened #3620 "A change in Fastify hook types broke our hooks"
## 💬  A change in Fastify hook types broke our hooks

When upgrading Fastify we encountered strange problems with our `preHandler`-hooks. Narrowing down, the problem was introduced when upgrading from 3.18.0 to 3.18.1, and more specifically it was this change: https://github.com/fastify/fastify/pull/3143/files

Given a custom hook
[code]

and using it like this
[code]

we get this error
[code]

I

[2022-01-14 12:44] jsumners commented on #3617
Something must be keeping track of theses connections in order to reuse them.

[2022-01-14 13:52] jsumners commented on #3617
What do we think about this?:

[code]

[2022-01-14 13:59] jsumners commented on #3617
I am really confused about what `fastifyInstance.close()` actually does to initiate shutdown. Stepping through it takes me through `avvio` methods `.close`, `.boot`, `.ready`, and `.start`. I never see where we actually do `fastifyInstance.server.close()`.

[2022-01-14 14:21] climba03003 commented on #3617
https://github.com/fastify/fastify/blob/93fe532986b96ae28a087b2ec385a8abb16cce55/fastify.js#L369-L381

[2022-01-14 14:31] jsumners commented on #3617
Thanks. That makes the waters a little less murky. Unfortunately, adding a `instance.server.unref()` in there does not alleviate the root problem :(

[2022-01-14 16:28] mcollina commented on #3617
Nothing. Some more bytes pops up on the socket, those are parsed by Node's HTTP parser, this is then translated to a `request` event being emitted on the server instance.
The sockets have a reference to the server, not vice versa.

[2022-01-14 16:37] jsumners commented on #3617
That _really_ complicates being able to clean up a process on shutdown.

[2022-01-14 17:29] mcollina commented on #3617
As far as I recall adding that tracking cost 30% of throughput to Hapi back in the days

[2022-01-15 16:52] Eomm opened #3621 "CI: run lint once"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Refactor the package.json scripts and the CI to run the linter only once.
(now it runs for every node version and OS)

This will:

- speed up a bit the pipeline
- improve the readability

### Motivation

This output is

[2022-01-15 17:04] jsumners commented on #3621
💯

[2022-01-15 17:15] mcollina commented on #3620
@darkgl0w can you open a fix?

Also @siberex  wdyt?

[2022-01-15 18:05] darkgl0w commented on #3620
@mcollina > I am on my way to home, I will take a look as soon as possible.

But I have the feeling that updating all the changes that were made to the file `hooks.d.ts` in the aforementioned PR with something like this will do the trick to type `this` :

[code]
WDYT @fastify/typescript ? is it valid ?

PS: I am on my phone, sorry if there are typos/spelling errors or copy/paste issues :d

[2022-01-15 18:17] siberex commented on #3620
Yeah, you absolutely right, @darkgl0w. I will land PR right in a moment...

[2022-01-15 18:25] darkgl0w commented on #3620
@siberex > it's ok I could make the changes from my phone thanks to `github.dev` vscode ^^

[2022-01-15 21:18] luisorbaiceta commented on #3618
I think we could start by including them in our `Ecosystem.md` file to avoid fetching the data from every package in our current build process (It's already taking quite a while... 😬) and then add the option to filter them

[2022-01-16 14:17] #3621 closed

[2022-01-16 16:00] BlackGlory opened #3625 "Accept-Version is always undefined"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.3

### Plugin version

_No response_

### Node.js version

16.13.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04.3 LTS

### Description

I don't want to use [constraints](

[2022-01-16 16:13] climba03003 commented on #3625
I cannot reproduce your problem. It is probably something is wrong on your end or you do not provide the correct repro.
Here is what I use to test.
[code]

![image](https://user-images.githubusercontent.com/23028015/149667998-b935779a-ad27-41a4-a62c-7641a2a13247.png)

[2022-01-16 16:32] BlackGlory commented on #3625
What? You changed my example and said it can't be reproduced? If you can't get the `Accept-Version` without adding `.get(...)`, then it's already a problem.

[2022-01-16 16:52] climba03003 commented on #3625
Your word can be more polite. And as I am changed the repro, that's why I also posted inside the comment.
It is true that without a actual route added, it will be `undefined`.

[2022-01-16 16:55] BlackGlory commented on #3625
If I give an example, you should reproduce that example, isn't it?

[2022-01-16 17:00] mcollina commented on #3625
Would you like to send a PR to fix this? Thanks!

[2022-01-16 17:19] climba03003 commented on #3625
@mcollina I think it is an intended behavior?

https://github.com/fastify/fastify/blob/ae3320de7fd9ba2e6d68349c89f28de643b49f16/fastify.js#L577-L582

[2022-01-16 17:34] mcollina commented on #3625
I do not have a clue. After the above (rude) messages from the OP, I'm not willing to engage in this issue, nor I think it's worth our time. I'm willing to see a PR that makes this behave like the OP want and then make a call. I do not think that's likely to come from them and I'm ok for the stalebot to close this without further discussion.

[2022-01-16 17:36] BlackGlory commented on #3625
No problem, would love to see this issue exist in v4.

[2022-01-16 18:34] darkgl0w opened #3626 "test (ci): `custom-parser.test.js` is randomly failing with a 503 Service Unavailable"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hello.

Following this https://github.com/fastify/fastify/pull/3622#issuecomment-1013895770 - [Failed CI Run Log](https://github.com/fastify/fastify/runs/4833023509?check_suite_focus=true#step:6:1720).

This test is randomly failing on

[2022-01-17 08:23] #3625 closed

[2022-01-17 13:07] #3626 closed

[2022-01-17 14:01] jhonrocha commented on #2511
This is fixed on v4, soon to be released.

[2022-01-17 14:14] #2511 closed

[2022-01-17 15:38] angus-88 opened #3633 "Register Type does not support extended servers or request types"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.3

### Plugin version

_No response_

### Node.js version

14.17.5

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

I have a Custom Request type that extends http.

[2022-01-17 18:04] RafaelGSS commented on #3633
The request body should be defined in the `RouteGenericInterface`.

[code]

See https://www.fastify.io/docs/latest/Reference/TypeScript/#using-generics

[2022-01-17 18:55] #3620 closed

[2022-01-17 19:05] jsumners opened #3634 "Coverage not 100% due to SSL cert check issue"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I'm getting a lack of coverage error on #3619. It seems to be because some checking of certificates is failing:

![image](https://user-images.githubusercontent.com/321201/149825174-2c989234-380d-4d1d-b9bb-d4efb6e056a4.png)

@darkgl0w yo

[2022-01-17 19:30] jsumners commented on #3634
Invalid.

[2022-01-17 19:30] #3634 closed

[2022-01-17 20:36] angus-88 commented on #3633
Thanks for the reply Rafael, I was trying to extend the root Request type, rather than the headers or body of the request?

Is this possible or discouraged?

[2022-01-17 20:42] RafaelGSS commented on #3633
I'd say it's discouraged. What is your use case? I mean, the type system was designed to solve it easier by just passing the expected data in `Body`/`Params`/`Query.

[2022-01-17 21:04] angus-88 commented on #3633
That's fair enough, it's to hold complex objects with requesting user information. I can add it to the request `Headers`, I was just trying to keep the server added information separate from the headers from the original request.

[2022-01-18 15:45] #3617 closed

[2022-01-18 16:20] radomird commented on #2602
@mcollina Should we close this issue?

[2022-01-18 17:17] mcollina commented on #3633
You should _not_ customize the raw node core objects. That's one of the main performance issues in other frameworks.

[2022-01-18 17:17] #2602 closed

[2022-01-18 21:43] RafaelGSS opened #3636 "Add TypeProvider generic to FastifyPluginAsync"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

@RafaelGSS This seems to be working as expected

[code]
I think there was some plans to make it a bit easier to supply the provider as a generic argument across `FastifyInstance` and `FastifyPluginAsync` types, which w

[2022-01-18 23:25] sinclairzx81 commented on #3636
@RafaelGSS Just had a bit of a deeper look at this. From the original issue https://github.com/fastify/fastify-type-provider-typebox/issues/2#issue-1105737990, the user is reporting a problem registering plugin where both instance and plugin are mapped to use the same provider. Original code as follows.

[code]
I would expect the above to work as both `instance` and `plugin` are mapped to the same

[2022-01-19 11:04] rubenferreira97 commented on #3636
The ability to supply only some generics would allow a lot of customizability and "manual correction" where TS inference does not work as expected.

@sinclairzx81 @RafaelGSS I have found some difficulties coming with a generic preValidation for a set of routes that might be related with this issue. This problem is not plugin specific and the variables type are assumed as never (which I think is no

[2022-01-19 12:00] sinclairzx81 commented on #3636
@rubenferreira97 Try the following

[code]
The issue is due to the hooks needing the same type information specified on the route. So, you can pull the schema out from the route so it can be shared with the handler. You can use the `typeof schema` to infer the correct type context for the hook. The only changes here are to your `TypeBoxPreValidation` which I've updated to be generic enough to supp

[2022-01-19 12:21] anttti commented on #3620
Thank you for such a quick response! ❤️

[2022-01-19 17:54] bompus commented on #3617
I'm putting my example, which I've been using prior to this feature being available, here for discussion, since the new `forceCloseConnections` option does not handle in-progress connections.

[code]

but then of course, I have to add some sanity to my graceful shutdown process so a client connection can't keep it from closing down forever...

[code]

[2022-01-19 18:09] jsumners commented on #3617
Thank you. But two things:

1. We will not rely on internals for a supported feature
2. That check seems to only be good for outbound requests

[2022-01-19 18:27] bompus commented on #3617
Thanks for the feedback. It seemed to work for my use case, but I wrote that a year ago and haven't looked at it since.

I was mainly just trying to start some discussion on how to use the newly supported feature alongside some type of detection for in-progress requests to allow some time for them to gracefully close before forcefully closing them. Reviewing the PR, the way the new feature is writ

[2022-01-19 18:35] jsumners commented on #3617
Please subscribe to https://github.com/nodejs/node/issues/41578

If that feature gets implemented, we would deprecate this feature in Fastify and replace it with direct core support. The implementation in core _should_ consider if connections have active requests and allow them to finish before terminating the connection.

As noted in the docs with this feature in Fastify, it is a _very_ forceful

[2022-01-19 20:24] RafaelGSS commented on #3636
@rubenferreira97 Looks like a different issue even correlated. Could you create a new issue for the types hooks?

[2022-01-19 22:40] sinclairzx81 commented on #3636
@rubenferreira97 That's ok. And yeah you're quite right that if you do need to share the same hook across different routes, constraining to one set of schemas will be a problem.

Possibly the easiest approach here is to just change `typeof schema` to `any` which will enable the hook to be added to varying routes. However, you would be trading type safety on the `body` (as the assumption here is th

[2022-01-21 17:46] m-ronchi opened #3643 "Recursive schema definition causes infinite recursion"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.0

### Plugin version

_No response_

### Node.js version

16

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7

### Description

if I try to use a schema with a recursive definiti

[2022-01-21 18:39] mcollina commented on #3643
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-01-22 08:28] eladchen opened #3645 "Drop querystring in favor of URLSearchParams"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

The docs says the default query string parser is the [querystring](https://nodejs.org/api/querystring.html) node module, which is deprecated.

I suggest using URLSearchParams instead.

### Motivation

_No response_

##

[2022-01-22 08:52] mcollina commented on #3645
Unfortunately URLSearchParams is significantly slower. We'll have to develop something ourselves but that's not high in priorities. querystring is so widespread that's not going away.

[2022-01-23 08:57] Eomm opened #3648 "should throw for non-string route URL"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

This snippet starts correctly:

[code]

There is one error: the regExp on the route's URL.
In this case, I think we should throw an error.

Note that find-my-way is receiving a string because we are composing its route input checking th

[2022-01-23 09:18] mcollina commented on #3648
Definitely!

[2022-01-23 10:22] mikicho opened #3649 "Fastify doesn't respect $ref default value"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.0

### Plugin version

_No response_

### Node.js version

16.13.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7 (19H2)

### Description

Fastify doesn't respect `$ref` default

[2022-01-23 10:35] zekth commented on #3649
Are you using your own `ajv` instance ? like using `setValidatorCompiler` ?

[2022-01-23 10:42] mikicho commented on #3649
No, im using the default one:
`const fastify = Fastify()`