[2022-06-14 13:32] vasilianeugen opened #4017 "Empty response when validation is used"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.2

### Plugin version

3.0.1

### Node.js version

16.14.2

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

I have a schema that previously worked on Fastify 3.x

ex

[2022-06-14 13:51] mcollina commented on #3874
Could you include a reproducible example? or maybe you'd like to send a PR?

We can definitely fix the types!

[2022-06-14 14:22] mcollina commented on #4017
Thanks for reporting!

Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-06-14 14:36] vasilianeugen commented on #4017
It seems that the use of oneOf is response is the problem. If I use only one validation it works. Also other endpoints that have simple response validations work correctly.

This one works:
export const userLogInSchema: FastifySchema = {
  tags: ['user'],
  description: '[Cognito] - User login',
  body: S.oneOf([S.ref('UserLoginRequest'), S.ref('RefreshTokenRequest')]),
  response: {
   200: S.ref

[2022-06-14 18:36] #4007 closed

[2022-06-14 19:24] Eomm commented on #4017
To replicate your issue we need your schemas or a minimal reproducible code that we can run.
We do not have the whole schema here:

[code]

the new version adheres more strictly to the JSON schema spec, so I suspect that you have some `$id`s to update

[2022-06-14 20:22] wieringen opened #4018 "Stream replies not working when async preHandler hook is defined."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0

### Plugin version

_No response_

### Node.js version

16.0.0

### Operating system

Mac OS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6.5

### Description

When defining an async preHandler, all routes w

[2022-06-14 21:56] mcollina commented on #4018
You can:

[code]

This is a documented semver-major change documented in https://medium.com/@fastifyjs/fastify-v4-ga-59f2103b5f0e.

[2022-06-14 22:28] aboqasem commented on #3874
I tried just that, but similar to `string | "hi"` is `string`, `void | Promise<void> /* or anything */` is `void`.

https://github.com/fastify/fastify/issues/3874#issuecomment-1121360492

[2022-06-14 22:44] heathprovost commented on #3874
I'm not sure what you mean exactly, but you can easily test this:

- install eslint version 8 (or just the latest version)
- write a function that returns an AsyncHookHandler (preValidation for example)
- try to assign it to a route like in my example

When you lint your code eslint will complain with the error I posted.

[2022-06-14 23:24] aboqasem commented on #3874
I am not saying that there is no linter error, I am pointing out that the solution you suggested would not work.

[2022-06-14 23:29] heathprovost commented on #3874
It does for this specific version of eslint. I’m not claiming it is the correct solution, just that it definitely made the linter stop complaining.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mohammad Al Zouabi ***@***.***>
Sent: Tuesday, June 14, 2022 6:24:56 PM
To: fastify/fastify ***@***.***>
Cc: Heath Provost ***@***.***>; Comment ***@***.***>
Subject: Re

[2022-06-14 23:46] aboqasem commented on #3874
Oh! I would love to see the solution if you push it.

[2022-06-15 10:39] mcollina commented on #4018
That should totally not happen, you have found a nice bug!

[2022-06-15 10:48] climba03003 commented on #4018
Why return `reply.` ? It should be syntax error.

[2022-06-15 10:50] jcbbb commented on #4018
@climba03003 Yeah, it was a typo.

[2022-06-15 10:58] mcollina commented on #4018
I confirm this is crashing Fastify and it should not happen.

[2022-06-15 16:51] #4018 closed

[2022-06-15 18:10] bitmage commented on #2847
Here is a use case that I'm currently relying on CommonJS for:

[code]

I suppose I could rely on a compilation step for this.  But I prefer *not* having the additional complexity of build tools on my server side code.  Being able to set up file structure conventions like this in my `index.js` gets me much of the productivity of an opinionated framework while still keeping my code concise and main

[2022-06-16 03:31] markwainwright opened #4025 "Route config is lost when `reply.callNotFound()` is called"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.3

### Plugin version

_No response_

### Node.js version

16.15.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3.1

### Description

After `reply.callNotFound()` has been called, `

[2022-06-16 04:15] climba03003 commented on #4025
Not a direct answer to your question, but here is the workaround.
[code]

[2022-06-16 04:53] avin-kavish commented on #4002
Hey, I'm a bit tight on time, so I'm glad to see it got picked up :)

[2022-06-16 06:17] AveryBibeau commented on #3994
I've been running into this issue, but have not been able to produce it locally, only in a remote server. This error is thrown for me when calling `reply.redirect` after changing session data with @fastify/session.

The stack trace points to these two lines:
https://github.com/fastify/session/blob/master/lib/fastifySession.js#L164
https://github.com/fastify/session/blob/master/lib/session.js#L135

[2022-06-16 06:41] climba03003 commented on #3994
Can you try if `4.0.3` fixed the problem? It may be cause by the same reason of https://github.com/fastify/fastify/pull/4021

[2022-06-16 06:49] mcollina opened #4027 "Provide a one-line log format as a pino transport"
I would like to customize this log line,
[code]

Ideally I would like to have this,

[code]

_Originally posted by @avin-kavish in https://github.com/fastify/fastify/discussions/4026_

---

We should either build a custom config on top of pino-pretty or build a new [pino transport](https://getpino.io/#/docs/transports)

[2022-06-16 06:52] mcollina commented on #3994
@AveryBibeau could you send a PR with https://github.com/AveryBibeau/fastify/commit/0965ee8b204ff4ccd4f92b170f6170ab56bac639 and a test? Thanks!

[2022-06-16 11:15] qqilihq opened #4028 "Schema errors since Fastify 4"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.3

### Plugin version

_No response_

### Node.js version

16.13.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6.6

### Description

First: Thank you for your work on Fastify 4. Th

[2022-06-16 12:18] jsumners commented on #4028
I don't use the schema container you are referencing. So I don't know what you're stating. It sounds like either:

1. You have duplicate schema ids.
2. You are registering the same schema multiple times under the assumption each will be registered in a different schema encapsulation context.

A reproduction repo would be most helpful.

[2022-06-16 12:45] ikrestov opened #4029 "Race condition / response termination when using async and responding with a stream"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

3.x.x

### Stopped working in version

4.0.0-4.0.3

### Node.js version

16-18

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Arch 202206

### 💥 Regression Report

Undere some co

[2022-06-16 13:49] jsumners commented on #4028
@fastify/typescript

cc: @sinclairzx81

[2022-06-16 15:53] mcollina commented on #4029
The return statement is crucial and part of the documented breaking changes. You have to do:

[code]

[2022-06-16 17:26] climba03003 commented on #4028
It is not related to `TypeScript` and actually related to how `fast-json-stringify` treat the `$ref` key.
If you move the `response` to `querystring`, that means it used by `ajv`.
The server can be started successfully.

Minimal repro extracted from https://github.com/qqilihq/fastify-issue-4028
[code]

[2022-06-16 17:33] sinclairzx81 commented on #4028
@jsumners I had a quick look at this, and wasn't able to reproduce the duplicate ID error through Fastify, so for example, the following is ok.

[code]
But was able to get `fast-json-stringify` throwing duplicate ID errors if configuring both `ajv` and the `schema` options (which maybe indirectly configured somehow). I believe the preference is to configure `schema` only.
[code]
Not sure if the se

[2022-06-16 18:40] #4029 closed

[2022-06-16 18:41] ikrestov commented on #4029
Apologies for the bug.

~We didn't see it anywhere, .i.e. https://www.fastify.io/docs/latest/Guides/Migration-Guide-V4/ does not mention it.
I didn't see any deprecation in v3, so that is v4 breaking change right?~
I see it was documented on routes page since v1 :(.

Should Typescript typings exclude undefined return type from handlers to help catch these issues? e.g.
`T extends Promise<infer I> ?

[2022-06-17 05:43] tlhunter opened #4030 "Routes with period next to param confuse route parser"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

3.29.0

### Stopped working in version

4.0.3

### Node.js version

18.4

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Linux 5.15.23-051523-generic #202202110435 SMP Fri Feb 11

[2022-06-17 05:57] climba03003 commented on #4030
I think this use-case should be a valid one.
And it can achieve by the workaround, changing the `param` to `regex`.

@ivan-tymoshenko wdyt?

[2022-06-17 06:45] joshuaavalon opened #4031 "Can fastify exclude .eslintrc in the publish package?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

fastify includes `.eslintrc` in its publish package, which is the following:

[code]

This cause a error pop-up in VSCode everytime when I try to check the types of fastify.

I do not use `standard` and do not have it installed. However

[2022-06-17 12:55] stefee opened #4032 "FastifyRegister type does not propagate type provider generic to plugin type"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.x.x

### Plugin version

_No response_

### Node.js version

16.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6

### Description

The `FastifyRegister` type (of `fastify.register` fu

[2022-06-17 13:07] slemac opened #4033 "process.env.VALUE not work"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.3

### Plugin version

_No response_

### Node.js version

16.15.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

is not reading system environment variables.
This

[2022-06-17 13:16] ivan-tymoshenko commented on #4030
It started work differently after this PR https://github.com/delvedor/find-my-way/pull/237.
 - `/:code.png` is parsed using a regular expression `/^(.*?).png$/`.
 - `/:code` is parsed as non regexp param
They are both parametric nodes now that have `/v1/foo/:` template.

I will think about the special case when we have different static ending in the multi-parametrical nodes. Technically it's possi

[2022-06-17 13:18] marcelfranca commented on #4006
Hi! I'll be taking this issue

[2022-06-17 16:41] mhamann commented on #3988
One thing that's unclear to me from the Medium post is whether it's possible to migrate to Fastify v4 without converting your entire app to ESM? Based on the new way plugins are shown to be imported `async import('module")`, it feels like this is going to cause a ton of pain for v3.x users who are still largely doing CJS. Maybe I'm missing something?

[2022-06-17 17:11] jsumners commented on #3988
No. We are not ESM only and likely never will be.

[2022-06-17 18:46] jcbbb opened #4035 "Fastify flash messages not cleared when using streams"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.3

### Plugin version

_No response_

### Node.js version

15.8.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.5

### Description

When you submit the form on non-streaming version,

[2022-06-17 19:31] RafaelGSS commented on #4032
@stefee the repository seems private, can you move it to the public so I can see the reproduction?

[2022-06-17 19:32] stefee commented on #4032
@RafaelGSS Fixed!

[2022-06-17 21:19] climba03003 commented on #4035
`async` handler behavior is not what you expect.
When ever you call `reply.send` it will start sending the reply to client.
Since, `flash` is using `cookie` to store. `reply.flash()` after the `reply.send()` will never be able to update the cookie.

Please move the `reply.flash()` before `reply.send()`.

[2022-06-17 21:19] #4035 closed

[2022-06-17 21:23] climba03003 commented on #4033
Please provide the repro in `Github Pepository`, `Github Gist` or `write it inside the issue`.
It is not a good idea for developer to download a anonymous zip file.

[2022-06-18 01:41] phasetr opened #4036 "Deprecation warning descriptions in docs/Guides/Database.md"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

(I posted a related issue in [fastify / fastify-mysql](https://github.com/fastify/fastify-mysql/issues/96).)
In the newest [docs/Guides/Database.md](https://github.com/fastify/fastify/blob/main/docs/Guides/Database.md), we have a descri

[2022-06-18 07:40] mcollina commented on #4036
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-06-18 09:12] #4030 closed

[2022-06-18 10:17] mcollina commented on #4031
This file is needed to successfully run the tests. However I would like to know more and confirm this with other users of vscode. Is this a problem for you too?

[2022-06-18 10:21] phasetr commented on #4036
I see. I will make a pull request.

[2022-06-18 13:08] mcollina commented on #3994
I've opened a PR to implement this feature: https://github.com/fastify/fastify/pull/4037.

We should really do this change in fastify-sensible.

[2022-06-18 15:09] keysking commented on #4032
I have the same problem
Can you tell me how you solved it?

[2022-06-18 15:20] keysking commented on #4032
Sorry, I didn't just see that PR, so I just need to wait for the RELEASE, right?

[2022-06-18 15:25] stefee commented on #4032
Issue isn’t fixed yet - the broken link in the description is. Fix incoming.

[2022-06-18 15:33] joshuaavalon commented on #4031
I am not asking to remove it from the repository but remove it from the published package.

 The [`files`](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#files) in `package.json` can define what is actually include in the package when you run `npm publish`.

It is a common to only include necessary files in the publish package, for example, not including `.github`.

Because it take eff

[2022-06-18 15:38] jcbbb commented on #4035
@climba03003 Thank you!

[2022-06-18 16:09] mcollina commented on #4031
Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-06-18 23:38] phasetr commented on #4036
I send a pull request and it is merged.

[2022-06-18 23:38] #4036 closed

[2022-06-19 06:26] TommyDew42 commented on #3942
Hi, is @budarin working on this issue? If we need someone to work on it, I’m happy to help!!

[2022-06-19 06:27] TommyDew42 commented on #4027
Hi! I’ll take this one!

[2022-06-19 10:12] #4032 closed

[2022-06-19 10:48] mcollina commented on #3942
@TommyDew42 I think you can take it!

[2022-06-19 11:40] stefee commented on #4032
@keysking The fix should come in the next release.

[2022-06-19 12:08] budarin commented on #3942
@TommyDew42

Unfortunately I don't know enough about the internal implementation of fastify to solve this problem (

[2022-06-19 12:12] #3994 closed

[2022-06-19 12:19] mcollina commented on #4025
This is working as expected / designed, we should update the docs. Here is the relevant code: https://github.com/fastify/fastify/blob/44589bedd478252965d4924c628b0ccd11b4bb47/lib/reply.js#L684-L691.

`callNotFound()` design goal is to allow to call the common not found route. If you want to return a per-route customised 404 response, you can just do it in the response itself.

[2022-06-19 12:22] mcollina commented on #4033
This is normal and expected. Fastify logger is pino, and pino does not support the self-concatenation and variadic arguments behavior.

if you want you can use:

[code]

or

[code]

[2022-06-19 12:23] #4033 closed

[2022-06-19 12:41] #4002 closed

[2022-06-19 13:02] Eomm opened #4044 "onRoute hook executed for endpoint declared before registering it"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.3

### Plugin version

_No response_

### Node.js version

18

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

latest

### Description

When the `onRoute` hook is registered after a GET ha

[2022-06-19 13:31] mcollina commented on #4044
Agreed! Good spot!

[2022-06-19 13:31] avin-kavish opened #4045 "Fastify ValidationResult type and AJV v8 ErrorObject mismatch"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4

### Plugin version

_No response_

### Node.js version

16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20

### Description

AJV error object is like this,

[code]

Fastify type is like

[2022-06-19 13:41] Eomm opened #4046 "wrong log output when using inject and console.log"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

3.x

### Stopped working in version

4.x

### Node.js version

18

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

latest

### 💥 Regression Report

Opening (and closing) this issue

[2022-06-19 17:12] climba03003 commented on #4046
I think it is expected the log do not follow the order.
`pino@7` prints the log in async and do not flush immediately as you expect.
`console.log` will fall between because it is in sync.

[2022-06-19 17:30] mcollina commented on #4046
What @climba03003 said. I would also note that console.log is a really poor logging mechanism to be used only when debugging things.

Note that you can flip this configuration by creating a `pino.destination({ sync: true })`.

However if pretty printing is enabled logging would always be async.

[2022-06-19 17:31] mcollina commented on #4045
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-06-19 18:05] avin-kavish commented on #4045
Adding more info for whoever picks this up, in `lib/context.js` it looks like `defaultSchemaErrorFormatter` is using `instancePath` so it's the type defs that are outdated.

[2022-06-20 02:27] joshuaavalon commented on #4031
@Fdawgs I have checked  #4038 does not fix #4031.

I created [sample repository](https://github.com/joshuaavalon/eslint-fastify-test).
Everytime you use `Go To Type Definition`, you can cause the error pop up.

#4038 does not fix it because the ESLint plugin check config from the directory of the file you are currently viewing.

I do not think there other solutions either using `files` in `package

[2022-06-20 05:08] avin-kavish opened #4050 "request.routerPath returns `undefined` in v4"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4

### Plugin version

_No response_

### Node.js version

16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20

### Description

`request.routerPath` property is undefined in fastify v4.

#

[2022-06-20 05:45] climba03003 commented on #4050
Please provide the minimal repro that can run directly.
In your example, there is no route declared.

[2022-06-20 07:48] avin-kavish commented on #4050
Actually, I found out that it only happens when the requested path doesn't match any of the router paths. I.e. a `404`. So that behaviour might be okay, imo.

[2022-06-20 07:48] #4050 closed

[2022-06-20 07:50] climba03003 commented on #4050
Duplicate of https://github.com/fastify/fastify/issues/4025

[2022-06-20 09:13] climba03003 commented on #4044
The head route added by `fastify` is register in the `next` cycle.

The expected behavior mentioned in here require the `HEAD` route register parallel to `GET`. Which would cause
1. Cold start time increase.
2. Register and de-register route frequently.

I don't know if there are better option to do it.
I would whether not fire the `onRoute` hook if the route is not added by user.

[2022-06-20 11:29] pikokr opened #4053 "Fastify v4 does not handle 'request' handler on FastifyInstance.server"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.3

### Plugin version

_No response_

### Node.js version

v16.15.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### Description

Adding the 'request' listener on FastifyInstance

[2022-06-20 11:40] climba03003 commented on #4053
The problem related to when you are not specify the `host`.
`fastify@4` will initialize two server, so when you using `localhost` for connection.
It will connect to `::1` in Windows which didn't attached by `socket.io`.

[2022-06-20 11:48] pikokr commented on #4053
It works! Thank you :D

[2022-06-20 11:48] #4053 closed

[2022-06-20 16:57] avin-kavish commented on #3841
yeah, honestly, I came for the performance, but stayed for the plugin, hooks, validation and other features of the framework. Express doesn't have any of that.

[2022-06-20 17:17] #3841 closed

[2022-06-21 03:02] naknode opened #4057 "connection.send behaves differently on Fastify v4"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

3.29.0

#### Other packages

 '@fastify/websocket': 6.0.1
'@fastify/cors': 8.0.0

### Stopped working in version

4.0.0

### Node.js version

18.3.0

### Operating system

Linux

### Operating system version (i.e.

[2022-06-21 03:08] climba03003 commented on #4057
Please explicitly specify the `host` to either `127.0.0.1` or `::1` to see if it is duplicate of https://github.com/fastify/fastify-websocket/issues/207

[2022-06-21 04:25] naknode commented on #4057
@climba03003 OK, I update it to this line: `fastify.listen({ port: 9000, host: "127.0.0.1" }, (err, address) => {` and now I get: `Server listening at: http://127.0.0.1:9000` while the server sees my connection "Someone connected.", it doesn't work 100% because it immediately closes right after connection. Postman is the same way.

![image](https://user-images.githubusercontent.com/616320/17471547

[2022-06-21 05:29] climba03003 commented on #4057
I see the problem now.
You must `await` the `fastify.register(require("@fastify/websocket"))`.

[2022-06-21 05:29] #4057 closed

[2022-06-21 09:24] mcollina commented on #4031
@Eomm @Fdawgs @simoneb could any of you check this out? I'm not a VSCode user.
I think the fix in https://github.com/fastify/fastify/pull/4038 would do the trick.

[2022-06-21 09:34] mcollina commented on #4031
TBH, I don't think we should.

[2022-06-21 09:40] simoneb commented on #4031
I don't have a strong opinion either, but keeping it doesn't bring any value I suppose (standard won't be installed when you installed the package, since it's a dev dependency). So opening the source code will necessarily cause some form of error. Although there aren't strong reasons to keep it or remove it, I would vote for removing it since it's causing troubles to some people.

[2022-06-21 09:41] mcollina commented on #4031
Removing it would cause `npm test` to fail once all devDependencies are installed.

[2022-06-21 09:47] Mxnuuel opened #4059 "octet-stream returns unsupported mime-type on first reply attempt"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

3.29.0

### Stopped working in version

4.0.3

### Node.js version

16.13.2

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 22.04 or Windows 10 (Multi-plattform based appli

[2022-06-21 09:48] simoneb commented on #4031
Yes it would if you ran npm test in the fastify package's folder after you have npm installed it into another package. Is it something we want to cover? Because honestly I don't think I've ever done that myself

[2022-06-21 09:49] mcollina commented on #4059
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-06-21 09:49] mcollina commented on #4059
Thanks for reporting!

Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-06-21 09:51] mcollina commented on #4031
That's essentially the reason why we ship `test` and other artifacts. A user could reconstruct a working copy of fastify from the package.

[2022-06-21 09:56] simoneb commented on #4031
Interesting, I genuinely didn't know this was something we would intentionally cover. In fact, I pretty much thought that generally the opposite was true. Meaning, ship only the minimum necessary for production use, in order to keep the package as small as possible. Maybe this is especially a concern for frontend packages, but that's also the reason why sites like https://bundlephobia.com/ exist I

[2022-06-21 10:00] Fdawgs commented on #4031
Raised this last year: https://github.com/orgs/fastify/teams/plugins/discussions/5

[2022-06-21 10:03] goriunov opened #4060 "Migration guide is missing fastify listener change step"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

As descrived in the title migration guide 3 to 4 is missing  fastify listener change step from

[code]

to

[code]

[2022-06-21 10:13] Mxnuuel commented on #4059
this should do it:
https://github.com/Mxnuuel/fasitfy-issue

please note that you need to change the path inside the code to your own root path.

[2022-06-21 10:17] climba03003 commented on #4059
Didn't `download` actually return `undefined`?

https://github.com/Mxnuuel/fasitfy-issue/blob/ad1b56eefe1df9debdee4fd9092f6ceb8fe5ef13/index.js#L28
https://github.com/Mxnuuel/fasitfy-issue/blob/ad1b56eefe1df9debdee4fd9092f6ceb8fe5ef13/index.js#L37

It is return `undefined` in `async` handler.
https://github.com/Mxnuuel/fasitfy-issue/blob/ad1b56eefe1df9debdee4fd9092f6ceb8fe5ef13/index.js#L97-L108

[2022-06-21 10:19] Fdawgs commented on #4060
Dupe of https://github.com/fastify/fastify/issues/3988

[2022-06-21 10:19] #4060 closed

[2022-06-21 11:19] Mxnuuel commented on #4059
download is a void method executing the callback that triggers the console.log
https://github.com/Mxnuuel/fasitfy-issue/blob/ad1b56eefe1df9debdee4fd9092f6ceb8fe5ef13/index.js#L106
https://github.com/Mxnuuel/fasitfy-issue/blob/ad1b56eefe1df9debdee4fd9092f6ceb8fe5ef13/index.js#L89

on every attempt it triggers the check that returns true.
await download and return reply wouldn't work because it *has

[2022-06-21 11:23] Mxnuuel commented on #4059
oh i understand, that's my logic just having it's flaws again. It works now thank you very very much!!

[2022-06-21 11:23] #4059 closed

[2022-06-21 13:09] Uzlopak commented on #4031
Tbh. I think you should not lint node_modules folder. So this is imho more an issue of the vscode extension than of fastify and other packages itself.

[2022-06-21 15:07] svsool opened #4063 "TypeScript reports errors when union type passed as Body to RouteGeneric since Fastify 4"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.1.0

### Plugin version

_No response_

### Node.js version

18.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3

### Description

Hi, I came across the following problem after updati

[2022-06-21 15:23] vasilianeugen commented on #4017
My first schema is

[code]

And when I looked into code it seems that if the first schema validates, it dose and retunrs `{}`
**MFALoginResponse** dose not have required fields so I guess it validates and returns `{}` because of that.

[code]
It would be good that for `oneOf` we would not have` if ... else` but instead check the next schema in case the first one returns empty json` {}` and so on

[2022-06-21 17:52] #4048 closed

[2022-06-21 22:59] alex-laz commented on #4045
#4066

[2022-06-21 23:07] A5rocks commented on #4063
I ran into this and investigated a bit (didn't realize someone else had made an issue). Here's what I found:

Firstly, [`body`](https://github.com/fastify/fastify/blob/4361770a1278cc518ddff683c5944dfb1db470c1/types/request.d.ts#L36) is governed by `ResolveFastifyRequestType<TypeProvider, SchemaCompiler, RouteGeneric>["body"]`. In my case, `TypeProvider` is `FastifyTypeProviderDefault`, `SchemaComp

[2022-06-22 01:44] joshuaavalon commented on #4031
I think shipping tests may be useful in some rare cases. However, is shipping linting configuration really necessary? People may want to run tests on the published code but I cannot think why people would like to lint on published package.

[2022-06-22 07:51] vjau opened #4068 "functions is undefined in preParsingHookRunner"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.1.0

### Plugin version

_No response_

### Node.js version

14.19.3

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04

### Description

After my project was upgraded to v4, each

[2022-06-22 08:03] simoneb commented on #4031
I would agree, but `npm test` in this repo runs linting as well, I guess that's the main reason

[2022-06-22 08:10] Uzlopak commented on #4031
I can not reproduce the issue.

[2022-06-22 08:52] mcollina commented on #4068
Thanks for reporting!

Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-06-22 10:19] Uzlopak commented on #4031
@simoneb
i guess this is related to https://github.com/fastify/workflows/issues/9

[2022-06-22 10:25] vjau commented on #4068
I'm trying to build a repro.
The problem appears when the routes using a TypeBox schema are enabled.
I have tried to write a minimal repro, but then i encounter another bug which also seems TypeBox related.
[code]

What is strange, is that when copying and pasting this repro code in my main project, the typebox error seems swallowed and become the initially reported bug.

Here is my attempt at a r

[2022-06-22 10:41] mcollina commented on #4068
Please use https://github.com/fastify/fastify-type-provider-typebox to integrate typebox with Fastify v4.

[2022-06-22 10:53] dauletbaev opened #4071 "Why dont exclude docs, examples"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

<img width="360" alt="Screen Shot 2022-06-22 at 3 47 22 pm" src="https://user-images.githubusercontent.com/83906251/175011591-54f5714e-91d1-4b95-acb7-7612181a0b86.png">

When I install fastify it includes **docs**, **examples** and **te

[2022-06-22 10:59] #4031 closed

[2022-06-22 11:06] mcollina commented on #4063
Thanks for reporting! Would you like to work on a PR with a fix? I'm not sure if your proposed solution is ok, however it mostly depends if it breaks any other tests.

[2022-06-22 11:35] jsumners commented on #4071
Duplicate of several past issues. Use the search feature.

[2022-06-22 11:35] #4071 closed

[2022-06-22 11:42] vjau commented on #4068
Yes, that fixes the problem.
Perhaps this should be mentionned in v4 migration guide since this is a breaking change.
Also the Typebox part in https://www.fastify.io/docs/latest/Reference/TypeScript/ is not up to date. If you do it like mentioned, it won't work.

[2022-06-22 11:44] vjau commented on #4068
The error in the repro happens during the startup phase of the server. The server doesn't start and can't accept requests.
For some reason, in my main project, something is causing the problem to not trigger an error during the startup phase.
The error reported in this issue then happens during a request, even if the request doesn't use a schema.

[2022-06-22 12:56] mcollina opened #4073 "Update TypeScript docs regarding typebox"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

In https://github.com/fastify/fastify/blob/main/docs/Reference/TypeScript.md?plain=1#L199, we mention to use typebox directly. The guide should be updated to use the new type provider.

### Motivation

_No response_

#

[2022-06-22 12:56] mcollina commented on #4068
Going back to this issue, could you upload a reproduction script?

[2022-06-22 13:01] vjau commented on #4068
I cannot, since i don't understand why the error is swallowed in my project, and using fastify-type-provider-typebox and the ajv plugin fixes the problem.

[2022-06-22 13:56] #4068 closed

[2022-06-22 15:19] noamokman opened #4074 "Schema refs being mutated by controllers causing the swagger to load without refs"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.x.x & 4.x.x

### Plugin version

_No response_

### Node.js version

18

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

Hey,
I encountered an issue with `fastify` + `

[2022-06-22 15:22] noamokman commented on #4074
I can also submit a PR with the suggested fix.
I'm not sure what part in fastify mutates the data but maybe it's a good practice to prevent other libraries from mutating the saved schemas

[2022-06-22 15:30] mcollina commented on #4074
Could you try the main branch? This _might_ be solved already.

[2022-06-23 02:08] A5rocks commented on #4063
I believe I fix this in https://github.com/fastify/fastify/pull/4076

[2022-06-23 09:16] climba03003 opened #4081 "Investigation on TypeScript structure"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Currently, the typing system of `fastify` is just good to use.
However, it restricted the usage on certain way and may not be good enough.
I open a new issue here for investigating how can we improve the typing system

[2022-06-23 10:30] noamokman commented on #4074
OK awesome, running this on the main branch works 🎉 🎉
When are you planning on releasing a new version?

[2022-06-23 10:47] mcollina commented on #4074
next monday

[2022-06-23 10:47] #4074 closed

[2022-06-23 11:14] qqilihq commented on #4028
First: Thank you all for your efforts!

Unfortunately, it still doesn't work for me. I have updated the [repro repo](https://github.com/qqilihq/fastify-issue-4028) above, and I still get:

[code]

[2022-06-23 11:53] noamokman opened #4083 "Entity with 2 references to the same schema throws an error inside a nested route"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.x.x & version on main

### Plugin version

_No response_

### Node.js version

18

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

Hey,
I'm getting a duplicate schema

[2022-06-23 11:54] noamokman commented on #4083
I tested this snippet on the latest commit from main

[2022-06-23 12:48] climba03003 commented on #4083
cc @ivan-tymoshenko Do you have time to take a look on it?

It maybe related to `fastify` itself but not `fast-json-stringify`.

[2022-06-23 12:57] ivan-tymoshenko commented on #4083
@noamokman Did you update dependencies before testing on the main branch?

[2022-06-23 12:58] noamokman commented on #4083
Yeah that's the example that works, the first one doesn't, just moving the endpoint

[2022-06-23 13:03] ivan-tymoshenko commented on #4083
This one is also working.
[code]

[2022-06-23 13:05] qqilihq commented on #4028
@mcollina Thanks for the reply. Actually (knowingly) I define it only once end then use $ref to refer to it, e.g. here:

https://github.com/qqilihq/fastify-issue-4028/blob/main/src/schemas/file.schema.ts#L6

If there's something I'm misunderstanding fundamentally, I'll be happy for any hint :-)

[2022-06-23 13:07] ivan-tymoshenko commented on #4083
This one is also working.
[code]

[2022-06-23 13:22] qqilihq commented on #4028
[code]

[2022-06-23 13:26] noamokman commented on #4083
@ivan-tymoshenko I recreated the test and in order to see the error you need to change the last line
[code]
this fails with the error I mentioned

[2022-06-23 14:00] mcollina commented on #4028
The problem is caused by `exposeHeadRoutes: true`, I think we are not resetting something correctly.

[2022-06-23 15:39] #4083 closed

[2022-06-23 17:03] mcollina commented on #4028
https://github.com/fastify/fast-json-stringify/pull/470 solves the problem. Update your deps, it work for me now!

[2022-06-23 17:11] noamokman commented on #4083
It works 🎉 thanks very much!

[2022-06-23 17:25] #4044 closed

[2022-06-23 18:56] #4028 closed

[2022-06-23 20:55] tinchoz49 commented on #2746
Hey @delvedor, I was playing with the excellent idea of `aws-lambda-fastify` and trying to simplify the process to inject the request from serverless. In my branch the result was very good, it increases the performance of fastify for serverless by 3x.

https://github.com/tinchoz49/aws-lambda-fastify/tree/tinchoz49/major-refactor-faster

I think having a  `fastify.request` method could allow us not

[2022-06-24 11:33] corsicanec82 opened #4085 "Hook onRoute doesn't work correct inside registered plugin"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.1.0

### Plugin version

_No response_

### Node.js version

16.15.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 22.04 LTS

### Description

If the onRoute hook is in the main ap

[2022-06-24 13:38] corsicanec82 commented on #4085
Thanks for your reply!
Using the await with register helped to get the desired behavior.
I'm afraid that my knowledge of English will not be enough to send a PR to the migration guide.

[2022-06-24 18:05] #4006 closed

[2022-06-24 18:21] #4063 closed

[2022-06-25 03:05] jm61 commented on #4027
yes a bit like the logs in morgan logger very concise and readable!

[2022-06-25 09:15] Eomm commented on #2746
Your results are great!

Could you list the optimization you found? Or, is the custom router the only bottleneck?
I think that facing all your findings one by one will improve the module for sure!

[2022-06-25 14:38] #4045 closed

[2022-06-25 17:02] A5rocks opened #4088 "Return type not correctly set with type providers"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.1.0

### Plugin version

_No response_

### Node.js version

16.14.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### Description

Return types aren't being checked correctly when

[2022-06-25 17:05] tinchoz49 commented on #2746
Hey @Eomm, how are you?

A few things that I found:

1. **routing**: I think the router as it is does an amazing job in performance. The only problem (my personal opinion) with the router is that is closely tied to the Request/Response interface of the `http` module, something that we don't have in serverless and most of the routing and parsing are solved by the serverless architecture.
But I don'

[2022-06-25 17:06] A5rocks commented on #4088
cc @sinclairzx81 as you did #3524

It appears that if you inline `ReturnType` in either `RouteHandlerMethod` or `RouteShorthandMethod`, then it errors as expected. For example:
[code]

[2022-06-25 19:21] RafaelGSS commented on #4088
This is the same as https://github.com/fastify/fastify-type-provider-json-schema-to-ts/issues/12, right?

[2022-06-25 20:37] A5rocks commented on #4088
I don't think so. The minimum reproduction I provided does not use json schema (nor the type provider in the issue), the original codebase I found this in uses a home-made zod type provider, the issue is only about return type (`res.send` works), and the fixes that I have found are type changes in fastify types.

[2022-06-26 05:29] sinclairzx81 commented on #4088
@A5rocks Hi! Just had a quick look into this. As you mentioned, inlining the `ReturnType` generic parameter should resolve this issue, but you're right that the inference behavior here is quite puzzling. I note that if the `ReturnType` is used as an argument to the callback, then TypeScript will infer the appropriate return type in advance.  So by doing this you can actually coax TS to infer for t

[2022-06-26 06:38] A5rocks commented on #4088
This might be fixed in #4089.

@sinclairzx81 Could you check that out? (Along with #4076 which is already merged, but also changes type-provider linked things).

[2022-06-26 07:00] sinclairzx81 commented on #4088
@A5rocks #4089 looks good to me :) As for #4076, this also looks good too. Note: The `keyof` was mostly left as a stub for status code narrowing in future (currently the types take a union of all possible status codes). But ultimately the plan there was to look at enabling the following in later revisions.

[code]
There is a little bit of crossover between the status codes, return types and respon

[2022-06-26 22:19] #4088 closed

[2022-06-27 16:13] denes-fekeshazy commented on #4085
I have created a small PR to update the migration documents based on @mcollina's comment and the article about the v4 release: https://medium.com/@fastifyjs/fastify-v4-ga-59f2103b5f0e.
PR: #4091

[2022-06-28 10:08] #4085 closed

[2022-06-28 17:04] a88zach opened #4092 "Serialization issues after the recent fast-json-stringify update"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

_No response_

### Node.js version

16.15.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

After the release of version 4.2.0, we are seeing

[2022-06-28 17:41] mcollina commented on #4092
@ivan-tymoshenko could you take a look?

[2022-06-29 11:53] zedeus opened #4093 "`schemaErrorFormatter` uses an insufficient validation type"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

_No response_

### Node.js version

16.15.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Irrelevant

### Description

The `FastifySchemaValidationError` type use

[2022-06-29 14:04] mcollina commented on #4093
This is somewhat expected as the validation library is configurable. It would be good to implement generics for this.

[2022-06-29 14:58] #4092 closed

[2022-06-29 17:10] PierBover commented on #4015
I'm having the exact same issue using Ubuntu and Node 18.

This is my Docker file:

[code]

Error:

[code]

[2022-06-30 02:25] climba03003 commented on #4015
@PierBover
Nullish Operator is supported by `node@18` and `nodesource` is not a official image for `node`.
Please report to `nodesource` why there `node@18` is not supporting nullish operator.

You should really log which version of `node` is using inside the `container`.
In the previous issue, the user believe they are using `node@18` but they actually NOT.

[2022-06-30 02:34] PierBover commented on #4015
Thanks @climba03003 I wasn't aware of that.

Unfortunately I can't use any of the official images based on Alpine since I need to install an apt package which is only available for Ubuntu.

When doing `apt install nodejs` you get v12. All the sources to install more modern versions on Ubuntu point to `nodesource`.

Thank again for the clarification. I will figure out a better way to install Node o

[2022-06-30 08:40] corevo opened #4098 "Since fastify 4, fastify no longer waits for existing requests to finish when calling fastify.close()"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

3.29.0

### Stopped working in version

4.0.0

### Node.js version

18.4.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### 💥 Regression Report

As of fastify 4, fastify

[2022-06-30 08:43] corevo commented on #4098
I've realized what the issue was, I needed to set `forceCloseConnections: false`

[2022-06-30 09:53] mcollina commented on #4098
@ShogunPanda could you take a look? There should not be a visible change of behavior.

[2022-07-01 07:19] #4093 closed

[2022-07-01 12:06] katreniak opened #4101 "Connection closed on bad request in reused connection"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.1.0

### Plugin version

_No response_

### Node.js version

v16.15.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Fedora release 34 (Thirty Four)

### Description

When fastify server r

[2022-07-01 13:39] mcollina commented on #4101
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-07-02 05:07] TommyDew42 commented on #4027
For this, we will have a pino transport that format message as `<time> - <level> - <message>` and change the logging message (e.g. [this one](https://github.com/fastify/fastify/blob/4139133f66d979d1c1bf73d3f30031998f8bfcc4/lib/route.js#L418)) to:
[code]

Does it make sense to you? @mcollina

[2022-07-02 06:55] Eomm commented on #2746
1. let me try something about it
2. This is not clear to me: you need to call the `await app.ready()` should help the cold start as the lambda should not recreate the `app` instance. Is it working like this?
3. Interesting: but you can already to it by using the standard inject:

[code]

(we should add the same feature for `Response`. Could you try if your `req-res.js` class work?

4. need to chec

[2022-07-02 07:28] mcollina commented on #4027
It's probably better to leave that line unchanged and do:

[code]

[2022-07-02 07:33] mcollina commented on #4101
Something that would be really helpful is to have a reproducible example that just uses Node.js.

[2022-07-02 07:51] TommyDew42 commented on #4027
OK! So I assume how we obtain `"GET /my/route/"` will be done in the pino transport, from `options.req`.

But I am still a bit confused the feature requirement. Do we only want this new one-line log format when `transport.target` is set to `"pino-pretty"`?

[2022-07-02 08:10] mcollina commented on #4027
This should either be some config for pino-pretty or a new module altogether

[2022-07-02 08:14] avin-kavish commented on #4027
Can we just have the option to customize the log format fully? Like in [morgan](https://github.com/expressjs/morgan#using-format-string-of-predefined-tokens)

[2022-07-03 07:49] AnwerAR opened #4107 "`only` method is not working as expected"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

3.1.0

### Node.js version

17.8.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.1

### Description

Creating multiple schemas out of existing one using the `o

[2022-07-03 15:16] UltimateLobster opened #4108 ""No schema with key or ref" when using a reference to a"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

_No response_

### Node.js version

16.15.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

The following error occurs when sending a request

[2022-07-04 08:35] #4107 closed

[2022-07-04 09:44] denes-fekeshazy commented on #3942
Looks like there is a merged PR for this. Should this issue be closed or is there more work to do on this?

[2022-07-04 09:47] #3942 closed

[2022-07-04 10:21] wyozi opened #4110 "Figure out what to do with typed decorators"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

When [this PR](https://github.com/fastify/fastify/pull/3203) was merged to main in [this commit](https://github.com/fastify/fastify/commit/d37d8997dd22f4ace29a29320ac50a43ec98731f#diff-f86d0644c15a00c507413e99f283c1f856275409929539a74b8

[2022-07-04 10:24] mcollina commented on #4110
Would you like to send a PR for restoring the functionality that was added in 2981 and I later removed by mistake? I would prefer to not wait for v5... and also that was slotted in to be released in v4.

[2022-07-04 10:29] mcollina commented on #4108
@Eomm @sinclairzx81 @ivan-tymoshenko is this fixed by the latest changes?

[2022-07-04 10:45] ivan-tymoshenko commented on #4108
@mcollina No, it's another one. I will take a look.

[2022-07-04 11:51] wyozi commented on #4110
Made https://github.com/fastify/fastify/pull/4111 with something that could at least be a starting point

[2022-07-04 12:17] imjuni opened #4112 "Different json-schema generate method suggestion"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hi,

Thank you for good framework!

I create simple tool for generate json-schema. [simple-tjscli](https://www.npmjs.com/package/simple-tjscli).

Can I add this tool on ecosystem document? (like [fast-maker](https://github.com/imjuni/fa

[2022-07-04 18:00] mcollina commented on #4112
sure go ahead

[2022-07-05 06:35] #4108 closed

[2022-07-05 08:22] mcollina commented on #4101
@ShogunPanda could you take a look?

[2022-07-05 08:38] ShogunPanda commented on #4101
@mcollina Sure, will take a look soon!

[2022-07-05 09:28] katreniak commented on #4101
Thank you for looking at this.

This minimal fastify example with `/ping` endpoint that makes it reproducible: https://github.com/katreniak/fastify-4101

When it is running, just
[code]

And  `Connection died, retrying a fresh connect(retry count: 1)` is visible in the curl log.

[2022-07-05 14:45] imjuni commented on #4112
I write user guide like [fluent-schema](https://www.fastify.io/docs/latest/Guides/Fluent-Schema/).

How about this content?

[Schema-Conversion.md](https://github.com/fastify/fastify/files/9047281/Schema-Conversion.md)

[2022-07-05 16:09] TommyDew42 commented on #4027
@mcollina I have been looking at pinojs documentation these days and want more guidelines on this. 😃

Does it mean we wanna have a separate pino-transport file where we pre-config the pino-pretty's [options](https://github.com/pinojs/pino-pretty#options) to format the log?

----

And I assume this just mean we write a pino-transport from scratch?

[2022-07-05 17:19] jsumners commented on #4027
I would rather this be a new module than adding more complexity into pino-pretty. What _I_ assume the original requestor wants is https://en.m.wikipedia.org/wiki/Common_Log_Format

[2022-07-06 01:17] #4112 closed

[2022-07-06 03:34] xtx1130 commented on #4098
I think this question can be closed, I can't reproduce it in fastify 4.2.0

[2022-07-06 05:18] climba03003 commented on #4098
I didn't see any commit that would potentially fix the issue. Will it be related to `node` itself?

https://github.com/fastify/fastify/compare/v4.0.0...v4.2.0

[2022-07-06 05:22] climba03003 commented on #4027
I think we need some discussion on what and how to show the log.
We can achieve the above mentioned log format for `combine request and response` display.
But we lack of information for the custom log, for example "how to display extra attributes", "how to display user custom log"?

[2022-07-07 15:56] thomaschaaf opened #4119 "fastify closes connection on heavy load (ECONNRESET)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

_No response_

### Node.js version

18.4.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3.1

### Description

During high load we noticed that our load balanc

[2022-07-07 16:34] mcollina commented on #4119
Could you reproduce this with using just Node.js?

[2022-07-07 16:54] jsumners commented on #4119
Are you tweaking the keep alive timeouts? This is typically seen when a reverse proxy is opening a connection with a longer keep alive time than the backend server is configured to allow.

I recommend setting:

[code]

[2022-07-07 17:19] thomaschaaf commented on #4119
@mcollina yes I am able to reproduce it with

[code]

[2022-07-07 20:28] mcollina commented on #4119
It's not a problem in Fastify then.

Does it still happen if you disable logging? Or if you redirect the logs to a file?

[2022-07-08 13:56] qqilihq opened #4120 "Typescript: Type Provider information gets lost with onRequest"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

_No response_

### Node.js version

16.13.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

n/a

### Description

I've added the new type providers from Fastify 4 t

[2022-07-08 14:06] mcollina commented on #4120
@fastify/typescript could you take a look?

[2022-07-08 15:43] mcollina commented on #4119
My guess is that logging is saturating the terminal that fills the CPU bandwidth, causing the node process to stall.

[2022-07-08 16:06] sinclairzx81 commented on #4120
@qqilihq Hi! Does the following help? [TypeScript Link Here](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAMQIYGcbAGYE8A0cDeiq62ASgKYCOAruWnsmplhWADZZwC+cGUEIOAHIMxZkICwAKFCRYBOABUsYcgCEIAD2WqACvwBuwACbko3Xv0FCAAqKbYA9DBXkAtGEMmzbl6oBGWpIy4NDwhDrkFnwCwjYowAB2AMZsSMBQzq6BmsHSqFgpvNQp6BCJcEjUMAAW5InoyUgw5AASEBAA1gA8inDkmi2JxihEDixUtPRwAKr9g-UjYyQT7FgAfAAUUJN0MABcSng7a4czAJQE0nBwjo5wiRAthyg

[2022-07-08 18:07] mikicho opened #4122 "Wrong type definitions for FastifySchema"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.1

### Plugin version

6.1.0

### Node.js version

16.15.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Debian 11.3

### Description

typescript throw error when trying to add descrip

[2022-07-08 19:25] climba03003 commented on #4122
It is the problem of `TypeScript` it self.
Doing `server.register(require('@fastify/swagger'))` will not import the types augmentation properly.

Please import the package on top.
[code]

[2022-07-08 20:00] qqilihq commented on #4120
Hi @sinclairzx81  -- great, that indeed does the trick. Thank you very much!

[2022-07-08 22:53] mcollina commented on #4120
I think we should document that, would you like to send a PR?

[2022-07-08 23:06] RafaelGSS commented on #4120
Isn't it a bug? @sinclairzx81 It seems that the type should be inferred even in a `bind`. I'm missing something?

[2022-07-09 00:42] sinclairzx81 commented on #4120
@RafaelGSS Hi! Yeah, it's clearly a bug. Had a quick look into it last night, but did not find the cause (so suggested the workaround in the interim). I may do a bit more investigation into this over the next few days.

[2022-07-09 05:37] sinclairzx81 commented on #4120
@RafaelGSS See PR for potential fix

[2022-07-09 07:31] mcollina commented on #4122
@climba03003 have we documented that on our docs?

[2022-07-09 08:30] #4110 closed

[2022-07-09 08:34] mikicho commented on #4122
I can't find it even now. When I know what I'm looking for

[2022-07-09 08:39] mcollina commented on #4122
This would be a great addition to our docs! Would you like to send a PR?

[2022-07-09 08:47] mikicho commented on #4122
@mcollina sure. Do you think it should be in this repo or in fastify/swagger repo?

[2022-07-09 10:05] mcollina commented on #4122
this repo, in the typescript docs

[2022-07-09 11:38] mkhoussid opened #4124 "Multiple requests are sent, when using an array of `onRequest` hooks and Postgres"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.28.0

### Plugin version

_No response_

### Node.js version

v16.12.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3.1

### Description

Every time I attempt to access the `/api/admi

[2022-07-09 11:48] mcollina commented on #4124
Either call done or use an async function. Don't use them both at the same time.

[2022-07-09 11:59] climba03003 commented on #4122
Yes, we do not have document anything on it.
And think it is not even in TypeScript. But, it is how TypeScript works currently and the behavior will be vary on config or even after certain updates.

Are we necessary to document how TypeScript behave?

[2022-07-09 12:11] marwanpro opened #4125 "Fastify didn't await register of the first plugin before register a second"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

"@fastify/env": "^4.0.0"

### Node.js version

16.13

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

Windows 11 Education

### Description

In an async function,

[2022-07-09 12:16] mkhoussid commented on #4124
I'm sorry, what do you mean? I have an array of middleware functions, which all call `done`/`next`.

[2022-07-09 12:16] mkhoussid commented on #4124
I'm sorry, what do you mean? I have an array of middleware functions, which all call `done`/`next`.

[2022-07-09 15:22] mikicho commented on #4122
@climba03003 I agree, but the docs should tackle also pitfalls.  we of course don't need to elaborate on the matters but may at least put a reference or link to the relevant information.

[2022-07-09 17:39] mcollina commented on #4124
https://github.com/mkhoussid/multi_requests_bug/blob/master/middleware/verifyAdminSessionId.js

this doesn't work the way you think it works. Either use callbacks or promises, don't mix them.

[2022-07-09 20:07] RafaelGSS commented on #4120
Thank you! I'm planning to look at it tomorrow

[2022-07-09 20:41] #4124 closed

[2022-07-10 06:47] TommyDew42 commented on #4027
@climba03003

If `<time> - <log level> - <method> <route>` is what we want, I think we can just change the default log message to it.

If we want to implement the [common log format](https://en.m.wikipedia.org/wiki/Common_Log_Format), maybe we can do the following?
[code]

Users can always implement their own pino transport if they want to display more attributes.

[2022-07-10 11:21] FlameWolf opened #4127 "JSON schema validation doesn't work with `multipart/form-data`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

`fastify-multer` 2.0.3
`@fastify/swagger` 7.4.1

### Node.js version

18.2.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

I have a route t

[2022-07-11 08:40] mcollina commented on #4027
Let's not do that. This new transport should:

1. require no modification to Fastify
2. be on another module that's part of this org

[2022-07-11 08:54] mcollina commented on #4127
Have you enabled the logs? Have you got a stacktrace for us? It looks like a bug that's somewhere either in fastify-swagger or fastify-multer.

cc @fox1t

[2022-07-11 09:19] fox1t commented on #4127
This must be a compatibility issue with v4 of Fastify. I need to check it out. Thanks for repro repository @FlameWolf.

[2022-07-11 09:36] mcollina commented on #4125
You have a race condition in your code that we are not handling correctly on our side.

Essentially you are running in parallel:

- `await register(Env)`
- `fastify.listen()`

Those should be linearized but they seems are they are not and `fastify.listen()` is resolving the `await register(Env)` promise instead of waiting for the plugin load to complete. this will be a _hard_ bug to fix.

In the m

[2022-07-11 09:44] FlameWolf commented on #4127
Stack trace:

[code]

[2022-07-11 09:50] FlameWolf commented on #4127
I got the same issue when I used `@fastify/multipart` instead of `fastify-multer` too. I will try to add a code sample for that also in the repo.

[2022-07-11 09:56] mcollina commented on #4125
Here is a minimal repro:

[code]

[2022-07-11 10:07] FlameWolf commented on #4127
Stack trace for `@fastify/multipart`:

[code]

[2022-07-11 10:59] #4125 closed

[2022-07-11 13:43] FlameWolf commented on #4127
I was able to fix the issue by switching to `@fastify/multipart` and updating the schema like this:

[code]

[2022-07-11 13:43] #4127 closed

[2022-07-11 17:31] TommyDew42 commented on #4027
Ah I see. Just like what you said: pino-colada but maintained by us.

Do you have a greater picture/plan on the new module except the things we wanna achieve in this issue? It seems to me the things we wanna achieve in this issue isn't worth creating a standalone module. But ofc if we will extend the functionalities in the future then yes it's definitely worth it!

[2022-07-11 17:54] jsumners commented on #4027
Make `@fastify/common-log-transport` and the issue is solved.

[2022-07-11 18:19] avin-kavish commented on #4027
I think common log format is specific to http request logging, not sure how it would handle when a user logs a custom message.

[2022-07-12 16:27] #4101 closed

[2022-07-13 03:11] TommyDew42 commented on #4027
@jsumners @mcollina
How should we start the work? Do we create a new module first then I can fork and work on it?

[2022-07-13 15:46] fox1t commented on #3471
The promise constructor is executed "synchronously", not the promise itself!
An async function will always be executed asynchronously, regardless of the code inside it!

[2022-07-13 16:20] #4046 closed

[2022-07-13 17:59] nazarhussain opened #4138 "Cannot destructure property 'serializersSym' of 'pino.symbols' as it is undefined"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.15.1

### Plugin version

_No response_

### Node.js version

16.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

Mac

### Description

I tried to write some `e2e` test for an app I am wor

[2022-07-14 10:34] #3897 closed

[2022-07-14 17:26] TommyDew42 commented on #4027
@mcollina @climba03003 @jsumners
Would like to make sure we are aligned before starting any work.

The [one-line-logger](https://github.com/fastify/one-line-logger) will be a module on top of [pino-pretty](https://github.com/pinojs/pino-pretty), similar to [pino-colada](https://github.com/lrlna/pino-colada).
Let's start with sth simple before we making it follow the [common log format](https://en.

[2022-07-14 20:53] #4138 closed

[2022-07-15 05:39] climba03003 commented on #4027
@TommyDew42

The format is

[code]

The message is comes from `pino.log(<message>)`

[2022-07-15 12:19] jsumners commented on #4027
I'm retreating from this issue. I already maintain too many prettifiers.

[2022-07-15 16:30] yusuf-khamis commented on #511
Hi, its now 2022 and I came across  this issue, I noticed for the async validation, it actually resolves later during route execution, this would be a helpful feature, for instance, in my case, I am validating an image to certain restricted formats and sizes, all require async, can we reopen this conversation?

[2022-07-15 18:44] gusparr28 opened #4140 "hasDecorator return true for my decorator but I can't access to it and use it as a 'middleware' in a protected route"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.1.0

### Plugin version

4.0.0

### Node.js version

16.10.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

I'm creating an authenticate decorate to verify if an en

[2022-07-15 21:08] Uzlopak commented on #2557
This is so counter intuitive. I ran into the same issue, when I wanted to add the on Route options for the response-validation plugin. Installed node typings and now tsd does not throw "All declarations of RouteShorthandOptions must have identical type parameters."

[2022-07-16 17:20] Eomm commented on #511
How do you do that by using `ajv` and JSON schema?

[2022-07-16 22:51] Suraj-Tiwari opened #4141 "statusCode is ignored when returning FastifyError (defaults to 200)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.1

### Plugin version

3.0.0

### Node.js version

16.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

when using `@fastify/error@3.0.0` and `@fastify/swagger@^7.4

[2022-07-16 22:55] Suraj-Tiwari commented on #4141
Here is a temporary fix which i'm using, i've written that as a comment to issue for easy visibility.

[code]

[code]

[2022-07-17 06:23] climba03003 commented on #4141
I cannot reproduce your issue with

[code]

I assume you already replaced the internal error handler globally.
That's means you should handle the `statusCode` inside that error handler.

[2022-07-17 06:53] Suraj-Tiwari commented on #4141
@climba03003 this issue is from 4.x release assuming as old one was 3.x, in earlier version i had same implementation, in that i did placed an error handler overriding body only, handling status code does solve that problem in new version, but looks like intended behaviour is changed possibly or old version had an anti bug 🤣.

[code]

i doubt that could be due to '@fastify/swagger', anyway we can

[2022-07-17 12:26] climba03003 commented on #4141
Duplicate of #3959

Yes, it is intended behavior.

[2022-07-17 12:26] #4141 closed

[2022-07-17 13:12] TommyDew42 commented on #4027
How do we change the logger of a fastify instance after it is created?

[code]

[2022-07-17 15:18] SebastianZimmer opened #4142 "Is HTTP/2 still experimental?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

In [this PR](https://github.com/fastify/fastify/pull/1522), experimental status has been removed from the [HTTP/2 section in Server.md](https://github.com/fastify/fastify/blob/main/docs/Reference/Server.md#http2). However, [HTTP2.md](ht

[2022-07-17 20:16] mcollina commented on #4027
You don't.

[2022-07-17 20:20] mcollina commented on #4142
Yeah, the docs needs updating ;). Would you like to send a PR?

[2022-07-17 22:26] gusparr28 commented on #4140
I think this issue could be closed since I found a way of how to solve it in here:

https://github.com/fastify/help/issues/63

that's exaclty what I was asking for, maybe with a different approach

[2022-07-18 03:47] SebastianZimmer commented on #4142
Thanks for the feedback. Yes, I shall send a PR shortly.

[2022-07-18 05:56] #4140 closed

[2022-07-18 09:50] imjuni opened #4145 "JSONSchema keyword collectionFormat not working"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.1.2

### Plugin version

7.4.1

### Node.js version

16

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.10

### Description

Hi,

I want to apply "collectionFormat" option. But fastify v

[2022-07-18 10:16] mcollina commented on #4145
Have you tried making your schema work with only Ajv? I think you'd need to add support for collectionFormat like https://github.com/ajv-validator/ajv/blob/99e884dc4bbb828cf47771b7bbdb14f23193b0b1/spec/keyword.spec.ts#L1294-L1323.

[2022-07-18 10:33] SebastianZimmer commented on #4142
Done with https://github.com/fastify/fastify/pull/4144

[2022-07-18 10:33] #4142 closed

[2022-07-18 12:21] Fdawgs opened #4146 "ci: cache node_modules?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

@mcollina, can you share anything you've done in https://twitter.com/matteocollina/status/1544259116453007360?s=20&t=Kn2qBy7knbQ5sWhYpa5Fjg please? Would it be of any benefit to the Fastify repos?

[2022-07-18 12:26] mcollina commented on #4146
Caching node_modules comes with a tradeoff: the use of a lock file.
In that specific case that was a really good compromise. I'm not really convinced it is for this module. PTAL:

[code]

[2022-07-18 12:31] #4146 closed

[2022-07-18 12:42] imjuni commented on #4145
@mcollina Thank you your flash feedback!

But I found another problem.

[code]

caseOfProblem is 0: not work `collectionFormat`.
[code]

caseOfProblem is 1: not found THEME_SCHEMA on schema repo.
[code]
also not work `theme: { $ref: '#THEME_SCHEMA'}` and `theme: { $ref: '#/definitions/THEME_SCHEMA'}`

caseOfProblem is 2: same result caseOfProblem 0

How can I fix this?

Thank you!

[2022-07-18 20:09] jdmarshall opened #4147 "decorate* dependencies argument is not documented"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

The Decorators section of the docs delegates definition of the dependency argument to `decorate()` which then only shows that an array is a legal third argument, but never utilizes those variables for anything.

It is completely opaque

[2022-07-19 01:15] imjuni commented on #4145
@mcollina Hi,

I found solution like that,

[code]

I have to add custom keyword via ajv plugin. Because custom plugin interface keep schema bucket in fastify intance.

But I think that this content important because collectionFormat mention about [@fastify/swagger](https://github.com/fastify/fastify-swagger#openapi-parameter-options). So need enhance document like that,

[ajv](https://www.fastify

[2022-07-19 02:52] climba03003 commented on #4145
I do not get why it is needed. All the information already there and here is the example of how to add `keywords` in `@fastify/swagger`.

https://github.com/fastify/fastify-swagger/blob/858d398d8d2b8cd3c67e074afe3f499489b3b14a/README.md?plain=1#L813-L826

`Plugin` is the terms provided by `ajv` and people should follow the document of `ajv` to create the `plugin`.

https://ajv.js.org/packages/

[2022-07-19 06:28] imjuni commented on #4145
I agree that I don't found addKeyword description in @fastify/swagger. But I think that @fastify/swagger explain collectionFormat in [openapi-parameter-options](https://github.com/fastify/fastify-swagger#openapi-parameter-options) but collectionFormat setting raise error because don't add keyword in fastify schema. I hope add content like that,

[@fastify/swagger](https://github.com/fastify/fastif

[2022-07-19 07:59] mcollina commented on #4147
Would you like to help documenting this?

[2022-07-20 07:09] sgrigorev opened #4148 "Unable to use logger other than pino"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I tried to update the fastify 3.28.0 to the version 4.2.1 and noticed that now it makes me to use pino logger. I used in previous version own logger class that fits fastify's interface.

Type of logger in fastify v4.2.1:
[code]
where pi

[2022-07-20 07:28] mcollina commented on #4148
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests (we use `tsd` for TypeScript).

[2022-07-20 08:40] Fdawgs commented on #3988
So i've almost completed a migration of one API from v3 to v4.

I think what is already in the migration guide, as well as what is in the Medium post, covers the majority of changes.

The documentation around the changes to the error handler need to be expanded though, as I ran into the same issue as https://github.com/fastify/fastify/issues/3959 with checking `res.statusCode`.

[2022-07-21 06:39] Eomm commented on #2123
Closing due https://github.com/fastify/fastify/pull/2023

The "replace-way" schema composition has been removed, so now the `onRoute` hook receives the same JSON schema set by the user

[2022-07-21 06:39] #2123 closed

[2022-07-21 06:42] #2049 closed

[2022-07-21 07:00] Eomm commented on #4027
Users must set the pino instance by themself:

eg:
[code]

[2022-07-21 07:14] mirzagirl commented on #1784
const onSubmit=async (data)=>{
      var formData = new FormData();
      formData.append('file',data.file[0]);
    //worked fine for me in post man add  "Content-Type": "multipart/form-data" and in form data key-> file

      const res = await axios.post("http://localhost:4000/uploadFile",
         formData,
         {
           headers: {
                 'Accept': 'application/json',

[2022-07-21 08:11] ShogunPanda commented on #4098
Confirmed, the bug is in Node.js and the PR above fixed it. The fix should come out in 18.7.0.

@mcollina Shall we close this?

[2022-07-21 08:26] #4098 closed

[2022-07-21 08:27] mcollina commented on #4027
That's not the expected API, what should be done is:

[code]

or similar

[2022-07-21 16:35] #4120 closed

[2022-07-21 17:30] qqilihq commented on #4120
Thank you all!

[2022-07-22 06:42] FlameWolf opened #4149 "Expose schema in `request` object"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

It would be great if we can access the schema from the request object so that a content parser can use it to correctly populate the request body instead of relying on hacks like you see in line 58 [here](https://github

[2022-07-22 09:02] Eomm commented on #4149
Since yesterday you can: https://www.fastify.io/docs/latest/Reference/Request/#getvalidationfunction

[2022-07-22 09:33] climba03003 commented on #4149
It is not the same request.

The request here is retrieve the `route options`, more particular `schema` for custom usage.

[2022-07-22 09:44] mcollina commented on #4149
The schema is part of the route context: https://github.com/fastify/fastify/blob/95f9fa5abc105397a715fc376c3a6e704181d2e1/lib/context.js#L21

[2022-07-22 09:48] climba03003 commented on #4149
Yes, it is. However, the document stated that `context` is for `fastify` internal usage.
Users should not use or modify it directly.

We need a properly to deprecate the `context` and expose some useful inside `context` in `public` API.

[2022-07-22 09:50] metcoder95 commented on #4149
Not so sure if deprecate it will be the best approach, but at least expose some public API where the users can take use to understand the route settings

[2022-07-22 09:53] climba03003 commented on #4149
If deprecation or removal is not possible.
I would
1. refactor to a `symbol` property.
2. expose the same `context` with `Proxy` to provide `readonly` usage.

In this case, user is safe to use `context`.

[2022-07-22 10:13] mcollina commented on #4149
Allowing unvetted access to context enables quite a few plugins (even in our orgs). This was an escape-hatch to enable quick evolution of the framework for with flexibility.

I think we can design a new API to a address those cases. I would probably consider it semver-major and be done with it.

[2022-07-22 10:17] Eomm commented on #4149
Meanwhile, the user can write:

[code]

[2022-07-23 09:02] metcoder95 commented on #4149
To recap, the agreed solution will be:

1. Hide the context object through a `symbol`
2. Create a new API that exposes such route internals that can be used by implementation and plugins
	- Here will be worth it to decide what we want to expose and what not

I think we can safely land the new API as a minor by exposing it but not hiding the `context` object through a symbol yet, just marking any n

[2022-07-23 09:39] mcollina commented on #4149
Based on past experiences, I'd restrain in landing this change in a minor. This can have unpredictable consequences and unexpected performance drops.

There is no hurry to implement this so we can safely do it for the next major.

The PR can land in a next branch.

[2022-07-23 11:55] metcoder95 commented on #4149
Perfect, sounds good. Then everything remains the same but with the exception of aiming for next `major` 👍

[2022-07-23 23:45] WNemencha opened #4153 "Add fastify-stream-react-views / React SSR + Islands in TypeScript"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Hello there! 🖖

I'm the author and maintainer of this small plugin I made for internal usage in side-projects originally and as it's getting stabler I'd like some review/tests/bugs reports if any (surely) from anyone w

[2022-07-24 05:49] MujahidAli954 commented on #4147
I want to work on this

[2022-07-24 19:39] yusuf-khamis commented on #511
See code below @Eomm

[code]

[2022-07-25 06:32] MujahidAli954 commented on #4147
Dependency argument is documented I readed  documentation.

[2022-07-25 16:08] TommyDew42 commented on #4027
An update on the work. Some problems I ran into:
1. The log are always printed with the object passed in. Not sure if it is from pino or pino-pretty. Looking at their source code.
    ![Screenshot 2022-07-26 at 12 00 54 AM](https://user-images.githubusercontent.com/46992350/180823304-d99aafd5-3a75-43aa-91db-4b9d12e1c1fa.png)
2. Trying to write unit test with getting output from a stream but someho

[2022-07-25 19:17] MujahidAli954 commented on #4147
kindly explain more about which actual part you are talking about because I readed  documentation and dependency argument is defined with example

[2022-07-25 23:40] jdmarshall commented on #4147
What's it do? What's it for? How does it work? Does it pass variables to the current function? Does it modify execution order?

None of these are explained. The only thing that _is_ explained is that if you have a dependency that is not met, it results in an error. None of the examples actually utilize the dependency.

[2022-07-25 23:56] jdmarshall commented on #4147
[code]

This is the only example in https://www.fastify.io/docs/latest/Reference/Decorators/ where the argument is undefined, and the other sections that talk about decorators point back to this example, so one might count that as 3 or 1 depending on perspective.

[2022-07-26 04:01] xtx1130 commented on #4147
In fact, I did not find any other use for `[dependencies]`

[2022-07-27 06:19] Liam-Tait commented on #3636
A workaround to this problem is to write a type which is compatible with `FastifyPluginAsync`

[code]

I think a good place for a type like this to be available from `@fastify/type-provider-typebox`

This would mean an async plugin could go from
[code]

to
[code]

[2022-07-27 06:32] Eomm commented on #4153
thank for improving the Fastify plugin ecosystem
Would you like to send a Pull Request to add it to the ecosystem?

[2022-07-27 08:54] #4148 closed

[2022-07-27 09:03] mcollina commented on #3636
@Liam-Tait do you think you could open a PR to improve this?

[2022-07-27 14:27] IanVS commented on #2110
I'm getting started with fastify in a typescript repo currently.  Is https://github.com/fastify/fastify/issues/1417#issuecomment-458601746 still the current best practice to deal with fastify plugins adding configuration options to the fastify instance?

[2022-07-27 23:58] AlexAnimateMp4 opened #4159 "Uncaught Error: EBADF: bad file descriptor, write"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.3.0

### Plugin version

_No response_

### Node.js version

18.6.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

WIN 11 21H2 22000.795

### Description

The error indicated in the titl

[2022-07-28 10:13] AlexAnimateMp4 commented on #4159
With Electron, you can reproduce the error with this example:
https://github.com/electron/electron-quick-start#to-use
You can integrate Fastify with simple this code:
[code]

[2022-07-28 10:38] mcollina commented on #4159
I think `pino` would need some special configuration to handle the logger as I don't think there is a stdout to log to in Electron.

[2022-07-28 10:42] AlexAnimateMp4 commented on #4159
I offer a production version of the given example:
https://drive.google.com/uc?export=download&id=1i2PEgAPvWPrh4rRZzpfylLuqURgk2kWa
To make sure this file is safe, here is a scan on VirusTotal:
https://www.virustotal.com/gui/file/67a22aaeebf13a00eafc245a7aff87d67834a1fd01ba301701feb60bcbbc8b6f

[2022-07-28 12:32] Eomm commented on #4017
It was a bug, actually 😄 the old v2 (included in fastify v3) returns all the properties regardless of the schema

Here an example:
https://runkit.com/embed/dotem4i1p7gl

Yes, indeed

Not sure about it. What if a user would like an empty object instead?
I think you need to define your schemas to don't overlap them, or you should arrange your `oneOf` array to keep the schema with fewer constraints i

[2022-07-28 15:14] RafaelGSS commented on #3636
Exporting this type in the `@fastify/type-provider-typebox` seems ok to me. What do you think @sinclairzx81 ?

[2022-07-28 22:38] Liam-Tait commented on #3636
@mcollina happy to help

[2022-07-29 04:13] sinclairzx81 commented on #3636
@RafaelGSS Hi! I think exporting `FastifyPluginAsyncTypebox` on the `@fastify/type-provider-typebox` package would be ok.

I am wondering though if it would be beneficial to have Fastify export a few core utility types to make it easier to construct various types at various call sites. It's previously been mentioned that there are some considerations to having the current generic argument lists ex

[2022-07-29 09:07] TheSinding opened #4160 "Potential issue with validation"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.3.0

### Plugin version

_No response_

### Node.js version

16.15.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

newest

### Description

This is not a direct bug of fastify, but more a

[2022-07-29 09:15] climba03003 commented on #4160
I think it is why the options `ajv.customOptions` exists.
Default options may not be good enough or satisfy all the people needs.

[2022-07-29 10:26] TheSinding commented on #4160
Yes, I just found that.

Now I would argue that it should off by default then, due to the fact it creates unexpected behaviors compared to what you would expect out the JSON schema you put in.

[2022-07-29 10:33] climba03003 commented on #4160
So far, it is the first complain I see on this unexpected behavior.
My application actually heavily rely on the `removeAdditional` options.
From my point of view, I want to accept more request as possible (even through user data may not be correct as first place, e.g. extra properties or wrong types.)

[2022-07-29 10:36] TheSinding commented on #4160
Then your application is a good example on why the `ajv.customOptions` exists.

I would still argue that the validation should by **default** adhere to what the actual specification of the JSON schemas, and not have unexpected behaviors which deviates from the official specifications

[2022-07-29 10:45] climba03003 commented on #4160
I would just ask for others opinion on this. cc @fastify/core

I have no personal preference on it. I only think that it is useful by default, but I am also fine to use custom option and enable the behavior.

[2022-07-29 10:49] TheSinding commented on #4160
Yes, it's not that I don't see it as useful by default - I can understand why it was on in the first place.
And I'm not trying to say you the in the wrong :)

I just think that when it essentially makes `anyOf`, `allOf` and `oneOf` unusable in common cases where you would expect it to work, because it's in the documentation of JSON Schemas, then it shouldn't be on by default.

[2022-07-29 10:51] climba03003 commented on #4160
It is something that can be documented, if we plan to continue make it by default.
I believe `JSON Schema` is dynamic enough to write workaround schema in this area.

[2022-07-29 11:47] mcollina commented on #4160
Unfortunately `removeAdditional` is an important safety measure to protect against malicious inserts of data inside databases, as well as unexpected query params and similar problems. We won't change the default.

[2022-07-29 12:11] RafaelGSS commented on #3636
That's a good approach too. However, I'd go by:

* Export `FastifyPluginAsyncTypebox` on `@fastiy/type-provider-typebox`
* List all the efforts needed to refactor our types (this issue + https://github.com/fastify/fastify/issues/4081)
* In case it would need too much work, I'd go on your approach and then in the future a smooth change to the refactored version

[2022-07-29 15:37] ciffelia opened #4161 "IPC server support"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Add `.listenIPC(path[, backlog])` method to listen on a named pipe or an UNIX domain socket.

### Motivation

In fasitfy@4 it is possible to create an [IPC server](https://nodejs.org/docs/latest-v16.x/api/net.html#ipc-

[2022-07-29 16:11] Eomm commented on #4161
I think `fastify.listen({ path: '/path/to/socket.sock' })` should work

[2022-07-29 16:45] #4161 closed

[2022-07-29 16:45] ciffelia commented on #4161
I didn't notice that, thanks!

[2022-07-30 12:56] jsumners commented on #4161
The docs state that the `.listen` method accepts the same configuration object as Node core -- https://www.fastify.io/docs/latest/Reference/Server/#listen

(looks like we have a bug to fix in those specific docs, too)

[2022-07-30 12:58] jsumners opened #4162 "Fix doc link"
https://github.com/fastify/fastify/blob/5a785ee49b2119d66cc08597d4f8d2f9cb506ab1/docs/Reference/Server.md?plain=1#L892-L893

The Markdown for an inline link is `[]()` not `[][]`.

[2022-07-30 14:06] developerHet commented on #4162
@jsumners  please assign this is issue to me.

[2022-07-30 17:37] #4162 closed

[2022-07-30 20:31] TheLegendarySpark commented on #3752
If you use docker, make sure the host is the service name.

[2022-08-01 03:45] adarshmadrecha opened #4166 "Move docs to vitepress"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I am proposing that the docs be moved to [VitePress](https://vitepress.vuejs.org/).

Me and my colleagues can take this up. If required, can also create a mockup/sample page.

### Motivation

The current docs does not

[2022-08-01 10:18] adilfaayiz opened #4168 "FastifyError: fastify-plugin: fastify-accepts - expected '3.x' fastify version, '4.2.0' is installed"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

_No response_

### Node.js version

18.7.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

13 Ventura

### Description

I'm using NestJS with GraphQL I've installed

[2022-08-01 11:14] climba03003 commented on #4168
Please reach `apollo-server-fastify` for the support of `fastify@4`.

[2022-08-01 11:14] #4168 closed

[2022-08-01 11:20] araujo-luis commented on #2411
Why isn't it possible to reopen a closed server? any good reason?

[2022-08-01 13:21] #4160 closed

[2022-08-01 14:15] araujo-luis commented on #431
What do you mean by wrapping my app in a plugin? I'm having this issue

[2022-08-02 16:45] wtchangdm opened #4171 "setErrorHandler's typing definition seems different than the signature fastify accepts"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.3.0

### Plugin version

N/A

### Node.js version

16.16.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.5

### Description

Hi, I was setting a custom error handler and noticed that t

[2022-08-02 17:21] climba03003 commented on #4171
The current typings is correct.
`this` is a special function argument in TypeScript, it used to indicate the `this` binding and do not actually accept as a actual argument.

[2022-08-02 17:21] #4171 closed

[2022-08-02 17:30] wtchangdm commented on #4171
Thank for explaining, @climba03003! I didn't know that.

This issue was created because I saw the following prompt:

![img](https://i.imgur.com/NSSyapP.png)

Not sure is there any way to make it more clear?

[2022-08-03 06:05] climba03003 commented on #4171
Yes, but require a quite a lot of works.
It should be parts of https://github.com/fastify/fastify/issues/4081

[2022-08-03 13:52] parasurv opened #4172 "Issue created incorrectly - please ignore"
Please ignore

[2022-08-03 15:06] #4172 closed

[2022-08-03 15:10] paganwinter opened #4173 "How to handle errors thrown in onResponse hook when disableRequestLogging is true"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I have `disableRequestLogging` set to `true` and do my own logging.
However I very recently noticed that when there's an error thrown within the `onResponse` hook, it is not caught by the error handler set using `setErrorHandler`.
If `d

[2022-08-04 16:46] TommyDew42 commented on #4027
I have struggled with writing unit tests. I would like to use our one-line-logger in a fastify instance and inject a request to it.

How can I capture the log of the server? I tried to use `sonic-boom` but it doesn't have a `"data"` listener which allow us to read the data.

[2022-08-05 00:27] joenoon commented on #946
FWIW, body.body still works as of today, even though body is IncomingMessage, and the types say there is no body.body.  I'm using `done(null, (body as any).body)` and have verified with console.log that `(body as any).body` does return the parsed object.  Not sure why its not in the types.

[2022-08-05 00:37] climba03003 commented on #946
The typings is correct since the `body.body` is added by `firebase functions` or `goolgle cloud functions`.
It is not a official property.

[2022-08-05 00:47] climba03003 commented on #4173
I am not sure if `setErrorHandler` is the right place for it since `error handler` needs `request` and `reply`.
When the request reached `onResponse`, it means the user can no longer do anything about the `request`.

https://github.com/fastify/fastify/blob/abab5882d13555616c81cd88c9541ade28698fe0/lib/reply.js#L677-L728

[2022-08-05 05:41] Calemy opened #4175 "reply gets sent by finishing writing a file"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.3.0

### Plugin version

_No response_

### Node.js version

16.13.2

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

after the filestream.on('finish') callback it rep

[2022-08-05 05:46] climba03003 commented on #4175
The current behavior is expected.

[code]

[2022-08-05 05:51] Calemy commented on #4175
how do i prevent that behaviour, i want to wait until the file has finished downloading and send the file to the end user after. I'm working with callbacks and it seemed to have worked before on my old version of a project but with the rewrite it does not work anymore. what can i do?

[2022-08-05 05:54] climba03003 commented on #4175
You should read the [migration guide](https://github.com/fastify/fastify/blob/main/docs/Guides/Migration-Guide-V4.md#need-to-return-reply-to-signal-a-fork-of-the-promise-chain)

[code]

[2022-08-05 05:56] Calemy commented on #4175
i'm gonna try this right now and give updates on it, thank you for the fast response :)

[2022-08-05 05:58] Calemy commented on #4175
okay wow i don't know how my old code works then but well now it does. Thank you again for your time and the precise explanation!

Have a great day 👍

[2022-08-05 05:58] #4175 closed

[2022-08-05 21:50] mcollina commented on #4173
An error handler purpose is to send a response to the user. onResponse is fired after a response is sent, so it seems correct to me to not route the error there.

Given the request to disable request logging, it also seems correct to not log anything in case of errors.

Maybe we should just improve our docs?

[2022-08-06 05:16] paganwinter commented on #4173
I think the docs could call this out maybe.
I just noticed this after 1.5 years of working with Fastify :)

I am logging the response inside the hook, but using a custom logger function attached to req. I wanted to ensure that user code does not alter the logger in any way causing the logging to fail.

I suppose I'll use try..catch in my onResponse hook.

[2022-08-06 08:20] avanelli commented on #4173
Hello, I would like to help improve the docs about this.
Is it reasonable to add a Note here https://www.fastify.io/docs/latest/Reference/Hooks/#onresponse ?

[2022-08-06 11:05] mcollina commented on #4173
Go for it!

[2022-08-06 13:25] avanelli commented on #4173
Created PR #4178
In addition, I added a note on the `setErrorHandler` docs to clarify that it is not catching any error from the `onResponse` hook.

[2022-08-06 14:16] TommyDew42 commented on #4027
Found we can use `Writable` to capture the log! Will follow the [pattern](https://github.com/pinojs/pino-pretty/blob/68f22d4548297dcb83b7d675dd56c5f2cd5df7ac/test/basic.test.js#L54-L65) in `pino-pretty` to write unit tests.

[2022-08-07 09:30] Fdawgs commented on #4073
Closed by #4077

[2022-08-07 09:30] #4073 closed

[2022-08-07 10:14] DanieleFedeli opened #4179 "Worse performance with response schema when 'const' keyword is used"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.3.0

### Plugin version

_No response_

### Node.js version

16.13.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

13.0

### Description

When specifying the response schema with 'const'

[2022-08-07 12:46] mcollina commented on #4179
Very interesting! This looks like a bug in fast-json-stringify. I'll move the bug there.

[2022-08-07 21:45] unreleased opened #4181 "How to detect the HTTP protocol version? (I.e HTTP/1.1, HTTP/2.0)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hello,

I'm trying to find a way to detect the HTTP version of the request being made, I've checked the documentation but cannot see anything for the `request` object. I noticed another issue (https://github.com/fastify/fastify/issues/3

[2022-08-08 00:00] pschaub opened #4184 "Documentation: adjust logging configuration with TypeScript"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Currently there is a documentation how to adjust the logging configuration to use `pino-pretty`:
https://www.fastify.io/docs/latest/Reference/Logging/

If you use TypeScript and try to use the code from the documentation you will run in

[2022-08-08 06:50] #4173 closed

[2022-08-08 07:05] Fdawgs commented on #4181
Hi @unreleased, you can find this in `request.raw.httpVersion`.

[2022-08-08 07:47] mcollina commented on #4181
note that transfer-encoding is managed by Node.js, so you should not set it.

[2022-08-08 08:36] mcollina commented on #4184
You should not use `@types/pino`, pino typings are not shipped within Pino itself.

[2022-08-08 11:49] pschaub commented on #4184
@mcollina You're right, `@types/pino` is a stub types definition and should not be used. Thanks!

But why did you close this issue? I think the documentation should contain an example to use the correct generics to solve the IDE errors.

[2022-08-08 13:07] mcollina commented on #4184
Would you like to send such a PR?

[2022-08-09 16:37] TommyDew42 commented on #4027
Say we have this now:
[code]

What unit tests should we include?
Here are what I can think of/get from searching the codebase:
* log when server started
* the log when requests of different methods come in and response are sent
* log from a child logger
* 404 error
* error log
* url rewrite log
* log when double response.send()
* wrapThenable error log: 'Promise errored, but reply.sent = true was

[2022-08-10 03:27] Uzlopak commented on #4181
Closing as answered.

[2022-08-10 03:27] #4181 closed

[2022-08-10 17:50] philippviereck opened #4192 "Option to disable 'request-id' header"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Add a option to disable `requestIdHeader` overwriting `genReqId`

### Motivation

As far as I understand, fastify will by default use the value of the `requestIdHeader`,if such a header is present in the request, over

[2022-08-10 17:58] Eomm commented on #4192
It is already doable (not straight forward tbh)

[code]

What I understood is that you don't want to log the `reqId` field

[2022-08-10 18:05] philippviereck commented on #4192
@Eomm Thank you for the quick reply.
What I meant was to disable `requestIdHeader` overwriting `genReqId()`, so untrusted requests can not overwrite my `reqId`.

This is the internal code:
  `const id = req.headers[requestIdHeader] || genReqId(req)`

The only way is to (like you did) change the `requestIdHeader` to a bogus value. Which is honestly secure enough. Just not very clean in my opinion.

[2022-08-10 18:08] Eomm commented on #4192
Oh, I got it! The issue here is to choose the priority of the genId option over the header 👍🏼

Yeah, I agree!

Would you like to submit a pr?

[2022-08-10 19:19] mcollina commented on #4192
I think a better implementation is to move that `||` switch inside `genReqId` itself: https://github.com/fastify/fastify/blob/main/lib/reqIdGenFactory.js.

Would you like to send a PR?

[2022-08-10 20:03] philippviereck commented on #4192
@mcollina Sorry, I don't think I understand how/what you mean.

Simply `req.headers[requestIdHeader] || genReqId(req)` inside `genReqId` would obviously get overwritten by any custom `genRegId`, therefore removing the `requestIdHeader` functionality. So, I don't think you mean it this way.

[2022-08-10 20:48] mcollina commented on #4192
Just move the check inside `genReqId(req)`.

[2022-08-10 22:41] philippviereck commented on #4192
Okey, I have a PR, it's my first one ever. It does not use the `reqIdGenFactory` because I could not get it to work using the factory just yet. Sorry. Have a look at it maybe, it's to hackish...

Maybe in 2 weeks I have time to dig deeper...

[2022-08-11 12:51] #4192 closed

[2022-08-13 14:40] gurumaxi commented on #3178
If you are using typescript, to have an automatic `json-schema-to-ts` integration in your handler you can simply override the FastifyTypeProviderDefault interface in your `global.d.ts` file like this:

[code]

[2022-08-13 21:07] RafaelGSS commented on #3178
Actually, you can just use the `@fastify/type-provider-json-schema-to-ts`. I don't see `fastify` incorporating `json-schema-to-ts` by default. Instead, one can use the _Type Providers_ to achieve the same goal. I'm closing this issue, feel free to re-open it if you have a stronger opinion.

[2022-08-13 21:07] #3178 closed

[2022-08-14 06:11] mannyistypingonacomputer commented on #3863
Hey there all 👋🏽
Long time user, first time contributor.

May I take this "good first issue" on?

My plan would be to put in a PR to update [plugins.md#asyncawait](https://github.com/fastify/fastify/blob/main/docs/Reference/Plugins.md#asyncawait) with the guidance that @climba03003 shared above.

[2022-08-14 08:18] mcollina commented on #3863
go for it!

[2022-08-14 10:00] hs-dev-web opened #4199 "nullable schema like this {type: ["string", "null"], nullable: true, format: "url"} doesn't work for multipart form"
### Prerequisites

- [x] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

_No response_

### Node.js version

16

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

the data being sent was a multipart form.

I don't put

[2022-08-14 10:26] mcollina commented on #4199
Thanks for reporting!

Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-08-17 13:17] #4027 closed

[2022-08-18 07:15] qlaffont opened #4204 "setErrorHandler is not called on plugin error"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.0

### Plugin version

4.2.0

### Node.js version

16.17.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

22.04

### Description

Hi,
When I try to return an error from fastify plugin, I

[2022-08-18 07:44] climba03003 commented on #4204
I don't see how it will trigger the `error handler`.
There is not route inside your example.

All yours request should go through `not found handler`.

[2022-08-18 07:49] qlaffont commented on #4204
My plugin will return an error for any route if it is not wrote in config. So for any route it will return an unauthorized error.

(if route exist or not).

[2022-08-18 08:23] climba03003 commented on #4204
Just one through, it is reproducible when using `npm`?

[2022-08-18 08:24] qlaffont commented on #4204
I don't think it's due to package manager because package is loaded without any error.

[2022-08-18 08:27] climba03003 commented on #4204
It could cause by how package resolve since, `unify-errors` exists in two package as `dependency` and you are using `constructor` to check.

It depends on how `require.cache` to treats that two links and how the installed dependency structure.

[2022-08-18 08:53] qlaffont commented on #4204
I have done the same thing with npm.

[code]

Same issue, so i can confirm that currently is not working.

As I see on your example, your preValidation is not in a fastify plugin so It not works.

A working example will be :

[code]

[2022-08-18 09:07] climba03003 commented on #4204
I have tried both using `fastify-plugin` with or without it.
It doesn't affect the result, since it does not have encapsulation.

[code]

[2022-08-18 09:11] climba03003 commented on #4204
I see the problem now.
It still something related to the `not found` handler. The only different is that I have added a custom `not found` handler and it works.

Without it, it doesn't.

[2022-08-18 09:20] qlaffont commented on #4204
Okay i will push an update on unify-fastify to add it, but it seems anyway that there is a bug on fastify

[2022-08-18 09:30] mcollina commented on #4204
Can you include a reproduction without external modules? Thanks

[2022-08-18 09:39] qlaffont commented on #4204
[code]

[code]

"error handler is called" will never be displayed

[2022-08-18 10:54] climba03003 commented on #4204
I believe the problem is more complicated than I though.
Here are the multiple way trigger the same problem.

1. `await plugin registration`

[code]

2. Set `error handler` within the `plugin`

[code]

[2022-08-18 11:39] derhuerst commented on #2683
FYI: [On 2022-06-21, Chrome 103 became stable](https://chromereleases.googleblog.com/2022/06/stable-channel-update-for-desktop_21.html), which [supports `103`](https://developer.chrome.com/blog/new-in-chrome-103/#http103)

[2022-08-18 12:28] budarin commented on #4204
have the same problem - throw an error in plugin and get `unhadledRejection` error instead processed it in setErrorHandler

[2022-08-18 12:36] mcollina commented on #2683
Support for early hints landed in Node.js core: https://github.com/nodejs/node/pull/44180.
This will likely be in Node.js v18.8.0 and likely backported to Node.js v16.
I'm not sure we should do _anything_ to support it (possibly we should forward the call to Node core).

Something that would be interesting is to build a plugin that automatically inspect responses and automatically collect metadata

[2022-08-18 12:58] mcollina commented on #4204
It's a different problem. Open a new issue with a minimum reproducible example.

[2022-08-18 13:12] mcollina commented on #4204
@climba03003 I have a fix coming for this.

[2022-08-18 13:27] mcollina commented on #4204
@qlaffont please check if https://github.com/fastify/fastify/pull/4205 solves this for you.

[2022-08-18 14:18] #4204 closed

[2022-08-18 15:47] DanieleFedeli opened #4206 "Headers type are not coherent with schema specified"
### Prerequisites

- [X] I have written a descriptive issue title
- [x] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.2

### Plugin version

2.1.1

### Node.js version

18.5.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

13.0

### Description

When specifying a schema for headers, the type is not cohe

[2022-08-18 16:24] guizordan opened #4207 ""inject" doesn't respond when route doesn't have a return statement"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.2

### Plugin version

_No response_

### Node.js version

16.16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

5.15.60-1-MANJARO

### Description

We've captured this issue while testin

[2022-08-18 16:24] guizordan commented on #4207
I'll be taking a look at this issue.

[2022-08-18 16:40] Eomm commented on #4207
what is the expected result?

Could you elaborate?

[2022-08-18 17:28] DanieleFedeli commented on #4206
I investigated a bit and seems like the error come from here:
<img width="888" alt="Screenshot 2022-08-18 alle 19 24 12" src="https://user-images.githubusercontent.com/37077048/185457023-5780185b-8464-41a9-b337-f3d90e50a28d.png">

Inside my repository node_modules
<img width="418" alt="Screenshot 2022-08-18 alle 19 26 06" src="https://user-images.githubusercontent.com/37077048/185457322-6164665b-2

[2022-08-18 17:29] Uzlopak commented on #4206
did you install @types/node?

[2022-08-18 17:30] DanieleFedeli commented on #4206
This was the issue

[2022-08-18 17:31] #4206 closed

[2022-08-18 17:34] sinclairzx81 commented on #4120
@ryanstaniforth Hi. I'm not currently looking into this issue. But see examples below if they are helpful.

## Shared Handlers

The following sets up a shared external handler. Note that because an external handler may be shared across multiple routes, we will want to treat any route parameters as unknown. The following achieves this.

[TypeScript Link Here](https://www.typescriptlang.org/play?#co

[2022-08-18 17:54] guizordan commented on #4207
**The expected result is for jest or node-tap to not hang when testing routes without return statements**

**Ideally, inject should return a response after it receives an undefined body from a route handler**

[2022-08-18 17:57] mikicho opened #4208 "Error thrown from a hook is not propagating to custom error handler"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.2

### Plugin version

_No response_

### Node.js version

18.6

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Debian 11

### Description

Reopen #1680, as requested by @Fdawgs
If you th

[2022-08-18 18:04] mikicho commented on #4208
My mistake

[2022-08-18 18:04] #4208 closed

[2022-08-18 21:36] metcoder95 commented on #4149
Is there a new `next` branch prepared for pointing the PR?

[2022-08-18 22:37] semoal opened #4210 "FastifyRequest with typebox fails the type"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.2

### Plugin version

_No response_

### Node.js version

16.x.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.3

### Description

Since this pull request https://github.com/fastify

[2022-08-18 22:38] semoal commented on #4210
I'm sure the senpai @sinclairzx81 will know a reason about this error and I'll seem stupid haha

[2022-08-19 03:04] sinclairzx81 commented on #4210
@semoal Hi, If you add the following type to `src/utils/typeBox.ts`.

[code]
Then update the `userRoutes` function in `src/routes/v1/users.routes.ts` to read

[code]
This should solve the issue.
[code]
Hope this helps!
S

[2022-08-19 09:56] mcollina commented on #4207
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-19 10:01] #4210 closed

[2022-08-19 10:03] mcollina commented on #4149
There is a next branch

[2022-08-19 21:27] Fdawgs commented on #4207
Handlers need to return, see https://www.fastify.io/docs/latest/Guides/Migration-Guide-V4/#need-to-return-reply-to-signal-a-fork-of-the-promise-chain

[2022-08-20 08:52] mcollina commented on #4207
That's technically not true, if they return nothing it's an empty http response.

[2022-08-20 09:51] Fdawgs commented on #4207
But I mean, don't they still have to return an empty response? I.e.:

[code]

[2022-08-20 11:25] simoneb commented on #4207
I must say that the docs are a little confusing in this regard, but in any case, what we noticed (which is what's described in the issue) is that it works in the browser, whereas fastify.inject hangs. So, I assume there must be something that fastify.inject does that doesn't match what a real HTTP client does

[2022-08-20 12:30] simoneb commented on #4207
I can confirm this is indeed a problem with inject. There is an [existing test](https://github.com/simoneb/fastify/blob/ba45196eb4c442ae911b28deeca1905e676a726e/test/async-await.test.js#L386) confirming that this scenario works with a plain HTTP client in the codebase.

I added a test which is doing the same thing with .inject and it fails. I don't have a solution atm, but at least there's a repro

[2022-08-21 19:04] simoneb commented on #4207
I tracked down the issue to an `aborted` property not being set in the request object created by light-my-request. Opened issue https://github.com/fastify/light-my-request/issues/217 there

[2022-08-22 06:52] thegoliathgeek opened #4213 "The decorator 'awsLambda' has been added after start!. Code: FST_ERR_DEC_AFTER_START"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hey,
Am trying to deploy NestJs with amplify. Am using Fastify adapter.
Here's the code `main.ts`
[code]

Build is happening properly but am see this error logs in the AWS console

[code]

What am i doing wrong here ??

[2022-08-22 06:58] climba03003 commented on #4213
I assume the problematic statement is `await app.init()`.
It start the `fastify` instance, so `@fastify/aws-lambda` cannot be decorating `fastify` anymore.

[2022-08-22 09:01] simoneb commented on #4207
@mcollina with light-my-request's new release you did a few minutes ago, bumping that package's version here will fix the issue. Do we bump it explicitly in https://github.com/fastify/fastify/pull/4211 by changing the light-my-request version or do we just leave npm to do its job and bump it on the next npm install? Asking because I see the semver specifier is quite loose (^5.0.0 although light-my

[2022-08-22 09:09] simoneb commented on #4207
Meanwhile, I bumped the light-my-request version and opened the PR for review https://github.com/fastify/fastify/pull/4211

[2022-08-23 07:22] matthyk opened #4215 "feature to check if route already exists"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

It would be very useful if the Fastify instance exposes a method to check if a route is already registered in the current context just like it is implemented for content type parsers and constraints.

### Motivation

T

[2022-08-23 07:25] mcollina commented on #4215
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-23 07:30] matthyk commented on #4215
Absolutely! I will try to get the PR ready the next few days

[2022-08-23 08:07] bacloud22 commented on #844
I am facing the same error with the exact code in documentation:

[code]

It does send a 404 error, but the default one. I also tried to put this prior or after I register routes, or any other plugin but with no results. To confirm this is a bug still, removing the `prefix` option, it catches well 404 errors but then on all routes.

Thanks

[2022-08-23 08:08] mcollina commented on #844
The whole error handling logic has been completely refactored since this issue was open. Please open a fresh one.

[2022-08-26 04:44] suhaotian opened #4219 "@fastify/static with @fastify/compress, @fastify/basic-auth not work together"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.2

### Plugin version

_No response_

### Node.js version

16.15.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

Here is the reproduce repo:

https://github.com/s

[2022-08-26 06:15] Uzlopak opened #4220 "priorities for hooks"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I would like to have an priority-Option for in addHook.

To implement this, I would modify addHook to not push the hook into the hook-Array, but push them into a HookSet. If no priority is given, it will default to 1.

[2022-08-26 09:07] SimenB opened #4221 "Does not work with TypeScript 4.8"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.2

### Plugin version

_No response_

### Node.js version

16.17.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.15.1

### Description

The fresh TypeScript 4.8 release is not compat

[2022-08-26 09:27] mcollina commented on #4220
I think three positional arguments are one too many.

Maybe do:

[code]

I'm ok with the feature, however, I'm a bit worried if its extensive usage would result in harder-to-debug applications.

[2022-08-26 09:34] SimenB commented on #4221
I opened #4222 which fixes this

[2022-08-26 10:20] #4221 closed

[2022-08-26 11:23] metcoder95 commented on #4220
Is there any specific usage that wants to be covered with the feature?
AFAIK, the hooks are being appended in the order they're being attached ([ref](https://github.com/fastify/fastify/blob/0824881947ca7ccf9a947ced2dc539630aba47d5/lib/hooks.js#L58-L61)).

In encapsulated context, it still has more sense that upper levels have higher priority than ones in child instances.
Not so sure if this is in

[2022-08-26 11:53] jacknkandy opened #4223 "Add support for named pipes (for ports) in new .listen method"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I would like to make a request / suggestion for the new `.listen` method to be updated to work with named pipes for ports.

I was attempting to deploy a Node.js app using fastify within a Microsoft Azure App Service, a

[2022-08-26 12:02] Uzlopak commented on #4220
I want to implement authentication plugins for my solution. For that I want that the plugins add two hooks. One for handling the authentication and one to handle the case if not authenticated. The latter i would only add, if it was not already added.

So the first registered plugin adds a onRequest hook to handle the authorization and another hook for for the unauthorized-case. It also decorates t

[2022-08-26 12:42] mcollina commented on #4223
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-26 13:04] avanelli commented on #4220
Although it seems an exciting feature, I believe that the complications it could lead to are more significant than the advantages. Adding hooks with **arbitrary** priority numbers will quickly lead to unpredictable order execution in complex apps.

[2022-08-26 13:11] Uzlopak commented on #4220
Basically: I need more lifecycle stages. :D

[2022-08-26 13:12] mcollina commented on #4220
@Uzlopak the behavior you are describing in https://github.com/fastify/fastify/issues/4220#issuecomment-1228405761 is exactly why this feature is problematic. I would recommend to avoid plugins add those hooks and let your users install those hooks directly. https://github.com/fastify/fastify-auth was born to implement that fallback use case.

[2022-08-26 13:44] mcollina commented on #4219
You have a bug in your code: you are mixing promises and callbacks. This fixes it:

[code]

[2022-08-26 13:45] #4219 closed

[2022-08-26 15:03] Eomm commented on #4220
I think this should be solved by using the `onRoute` hook. You will get the hook array, and you can inject a new hook in any position at that stage.
_It seems like the `fastify-redis` route's configuration if I understood the case_

If this feature will be implemented, I think that the `onRoute` hook must get the hook array already sorted

[2022-08-26 15:22] suhaotian commented on #4219
@mcollina It works! Thanks bro!!

[2022-08-26 18:43] mcollina commented on #4220
I think this would make things more problematic instead of improving them.

[2022-08-27 20:12] init-database opened #4228 "[schema validation] Why array is valid if its inside an array, otherwise "body/attribute must be array""
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.3

### Plugin version

_No response_

### Node.js version

16

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

body
[code]

schema

[code]

I have tested the data an

[2022-08-28 08:28] akshg05 opened #4229 "Fastify latest version not running on Node 16"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.3

### Plugin version

_No response_

### Node.js version

16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 18.0.4

### Description

When trying running my app, I'm getting error

[2022-08-28 08:35] Uzlopak commented on #4229
Looks like you are running node12 or older or latest node 16 has broken optional chaining.

[2022-08-28 08:57] akshg05 commented on #4229
Thanks for responding. Yes seems like somehow my vs code terminal was picking up node 12.

[2022-08-28 08:57] #4229 closed

[2022-08-28 15:07] jacknkandy commented on #4223
Not knowing much about named pipes, I first had a closer look at what was happening in the fastify code to see how it was working with the variadic method.

https://github.com/fastify/fastify/blob/a3433a238df8cf5c07cc881a691c6518058dbf14/lib/server.js#L316-L320

I realise that its treating the string as a path instead of a port. So I am able to overcome my issue using the newer method which takes

[2022-08-28 15:07] #4223 closed

[2022-08-28 18:39] jsumners commented on #4223
The listen method accepts a standard `http.createServer` options object. If core supports named pipes on Windows, so does Fastify.

[2022-08-29 11:26] thegoliathgeek commented on #4213
@climba03003
So what changed is required ?

[2022-08-29 16:34] climba03003 commented on #4213
I think comment out `await app.init()` or move it under `const proxy = awsLambdaFastify(cachedNestApp.instance)`.

I do not use `nestjs` and I believe most of the member here are same as me.
If the question is related to `nestjs`, it would be better to ask in `nestjs` community.

[2022-08-30 12:55] jsumners commented on #4220
Closing as it seems the consensus is this would add too much complexity. As for the original problem, one solution is to use a single hook that inspects the request and decides between two functions: authorized and unauthorized. Such functions may decorate the request for later request processors to inspect.

[2022-08-30 12:55] #4220 closed

[2022-08-30 19:14] ChrisCrewdson opened #4235 "RouteGenericInterface needs to be exported for implementations of RouteHandlerMethod"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

4.5.2

### Stopped working in version

4.5.3

### Node.js version

16.x.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

22.04

### 💥 Regression Report

When attempting to extend

[2022-08-30 23:29] multiwebinc opened #4237 "Update v4 migration guide to use querystring instead of query"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5

### Plugin version

_No response_

### Node.js version

16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 22.04

### Description

In [Fastify v3](https://www.fastify.io/docs/v3.2

[2022-08-30 23:38] multiwebinc commented on #4237
Wait, on second thought, I was confused about two parts of the docs. Maybe it is still supposed to work with `query` because it is mentioned [here](https://www.fastify.io/docs/master/Reference/Validation-and-Serialization/#validation), but this is actually a bug in the code. For example, this creates the error `FastifyError: Schema with 'querystring' already present!`:

[code]

Changing `query` to

[2022-08-31 04:17] climba03003 commented on #4237
`query` should works as usual,  maybe somewhere inside your code mess it up.
For example, `onRoute` hooks modify the schema.

I do not use `yup`, but it should not make any different.
[code]

[2022-08-31 17:25] a-a-GiTHuB-a-a opened #4239 "`querystring` is deprecated"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

The Node.js documentation states that `querystring` is legacy.

[2022-08-31 17:33] Fdawgs commented on #4239
Legacy != Deprecated.

See https://github.com/fastify/fastify/issues/3645

[2022-08-31 17:33] #4239 closed

[2022-08-31 17:55] mortifia opened #4241 "typescript doc bug change "import fastify from 'fastify'" to "import { fastify } from 'fastify'""
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.3

### Plugin version

x.x.x

### Node.js version

16.16.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

win 11 ( insider )

### Description

ts(2349) with current importl in doc when

[2022-08-31 21:13] mcollina commented on #4241
cc @fastify/typescript

[2022-08-31 23:15] multiwebinc commented on #4237
@climba03003 The problem arises when I use Yup. I just did a fresh install of Fastify (`npm init fastify` then `npm i yup`) and get the same error. Here is my `routes/root.js`:

[code]

But if I swap out `query` for what you have, or rename it as `querystring` using Yup, then it works.

[2022-09-01 01:55] climba03003 commented on #4237
Yes, I can confirm it is the problem with custom `class` object.

The problem caused by we mutated the `schema` but return early when `schema` is not a raw object.
https://github.com/fastify/fastify/blob/6f6f7aa2d069a506b69ca42fbecef170ee667d4b/lib/schemas.js#L63-L67

Then, when it comes to auto `HEAD` route, the schema `cloned` do not contain [`kSchemaVisited`](https://github.com/fastify/fastify/

[2022-09-01 07:11] multiwebinc commented on #4237
@climba03003 I would make a PR, but I am really totally unfamiliar with the codebase. Even with your description I have no idea what would need to be changed.

[2022-09-01 08:29] Uzlopak commented on #4237
I think @climba03003 meant that you provide a PR not the other way round.

[2022-09-01 08:39] climba03003 commented on #4237
Oh, I click the wrong button.
I plan to reply, but clicked edit.

[2022-09-01 09:07] Uzlopak commented on #4241
Typescript itself says, that you should then set moduleResolution to "node" or "nodeNext". Setting it to "node" or "nodeNext" fixes that issue.

Also see
https://stackoverflow.com/a/57383664/3619994

[2022-09-01 09:11] mortifia commented on #4241
should add it in the doc of fastify on typescript

by following the documentation as it is, there will be this problem

[2022-09-01 09:26] Uzlopak commented on #4241
Imho this is a common typescript issue. Also on the documentation of tsconfig

https://www.typescriptlang.org/tsconfig#target

So we would be forced to keep our documentation up to date with the typescript versions and tbh I dont think we are responsible to set up the tsconfig properly. It is the responsibility of the programmer to set tsconfig correct and to know what he/she is doing by setting t

[2022-09-01 09:29] mortifia commented on #4241
I said that it will be necessary to specify it due to the note on the target

after yes I am talking about it because as it is there will be this error

[2022-09-01 09:52] Uzlopak commented on #4241
The strange thing is, that I dont get ts 2349 but ts 2792 if moduleResolution is set to "classic". If I use typescript 3.9.2 I get ts 2307. Using typescript version 4.0.2 up to next (4.9.0-dev.20220901) throws 2792.

And 2792 clearly states to change the moduleResolution to "node".

Other than that, I think an average developer will be able to fix that typescript issue without additional documenta

[2022-09-01 09:52] mortifia commented on #4241
ps: Setting it to "node" or "nodeNext" in tsconfig dont fix error

node version : v16.16.0

package.json (currently migrate of express to fastify)
[code]
tsconfig
[code]

src/index.ts
[code]
ts generate error on "fastify()" ts(2349)

[2022-09-01 09:55] climba03003 commented on #4241
It is expected to have error when you use `NodeNext` with `module`.
The current typings do not allow this combination.
See: https://github.com/fastify/fastify-cookie/pull/184 and https://github.com/fastify/fastify-static/pull/311

It require heavy refactor to support it.

[2022-09-01 10:01] mortifia commented on #4241
thanks to your respond @climba03003 with : ```"moduleResolution": "Node"``` it's ok

[2022-09-01 10:12] Uzlopak commented on #4241
Can you provide a PR?

[2022-09-01 10:53] #3988 closed

[2022-09-01 18:51] rburgst opened #4246 "Eslint warns about floating promises for `reply.header()`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.3

### Plugin version

_No response_

### Node.js version

16.13.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.5.1

### Description

When using eslint (with `@typescript-eslint/no-

[2022-09-01 19:25] mcollina commented on #4246
TLDR the floating promises rule is incorrect. reply.header() does not return a promise but a Thenable, i.e. the reply object. This object can be awaited or not and unfortunately there is no way for us to tell tslint this rule does not apply to this object.

[2022-09-01 19:26] mcollina commented on #4246
cc @fastify/typescript

[2022-09-01 21:35] Uzlopak commented on #4246
https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/src/rules/no-floating-promises.ts

Its isPromiseLike does check if the returned object is a thenable. So it is not fixable...

[2022-09-01 21:52] #4246 closed

[2022-09-02 04:14] rburgst commented on #4246
FYI: using `await reply.header()` did not block the server in jest in fastify 3

[2022-09-02 06:43] Fdawgs commented on #1919
How are you getting on @BarryRufer?

[2022-09-02 06:44] Fdawgs commented on #1197
How are you getting on @zhangwinning?

[2022-09-02 06:57] Fdawgs commented on #4153
@WNemencha would you like to add this to the ecosystem?

[2022-09-03 09:08] Eomm opened #4250 "How to import fastify error codes?"
### Discussed in https://github.com/fastify/fastify/discussions/3842

<div type='discussions-op-text'>

<sup>Originally posted by **teemupiiroinenwirepas** April 20, 2022</sup>
We would like to map fastify error codes from https://github.com/fastify/fastify/blob/main/lib/errors.js to our own error codes, but we cannot find a way how to import the codes. How the importing should be done, or how the

[2022-09-03 09:16] Uzlopak commented on #4250
Also dont forget that fastify plugins have their own errors. Maybe we should register those errors also?

[2022-09-03 10:37] #4237 closed

[2022-09-03 11:43] WNemencha commented on #4153
@Fdawgs @Eomm Hey, sorry for the late reply, been busy a lot these days ^^

I have been working on documenting/testing the whole thing before its officially submitted in a PR, so that its really useful and usable. Some progress has been made already but a lot still needs to be documented before it can really be made public.

Is it ok for you if we keep this issue open and i get back to it once doc

[2022-09-04 05:41] fitiskin commented on #4250
I'd like to do this. Assign it to me please, if @teemupiiroinenwirepas don't mind.

[2022-09-04 06:40] Eomm commented on #4250
This integration would be nice, but it should be transparent for the `@fastify/errors` users

[2022-09-04 06:51] mcollina commented on #4250
Let's not include plugins.

[2022-09-04 13:21] #4215 closed

[2022-09-04 13:56] noamokman opened #4251 "Wrong serialization with anyOf schema"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.3

### Plugin version

_No response_

### Node.js version

18

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

There seems to be a bug where if the schema is anyOf

[2022-09-04 13:59] jsumners commented on #4251
See https://ajv.js.org/coercion.html. It `anyOf` will match the first valid type.

[2022-09-04 13:59] #4251 closed

[2022-09-04 14:00] noamokman commented on #4251
oh wow, thanks!

[2022-09-05 15:00] anonrig opened #4252 "Replace querystring with fast-querystring package"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Since `node:querystring` is deprecated, with the help of @mcollina, I developed a package as fast as (in certain cases faster than) `node:querystring` and released it under MIT license.

I believe we can replace the deprecated module, a

[2022-09-05 15:05] mcollina commented on #4252
Note that `node:querystring` is not deprecated but legacy.

[2022-09-06 06:27] mcollina opened #4254 "Website build failure"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Check out https://app.circleci.com/jobs/github/fastify/website/3103?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification, this seems caused by

#4230.

[2022-09-06 06:28] mcollina commented on #4254
cc @gzileni

[2022-09-06 06:40] #4254 closed

[2022-09-06 06:45] Eomm opened #4256 "Improve ecosystem script check"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

-

### Plugin version

-

### Node.js version

-

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

-

### Description

The script in: https://github.com/fastify/fastify/blob/main/.github/script

[2022-09-07 05:48] fitiskin commented on #4250
I can't understand how [this](https://www.fastify.io/docs/latest/Reference/Server/#frameworkerrors) is supposed to be working while we can't import `FST_ERR_BAD_URL` directly.

[2022-09-07 06:05] fitiskin commented on #4250
Should we export only error codes (string names) or the errors produced by `createError`?

Error codes:
[code]

Errors:
[code]

As I guess we shouldn't export the `appendStackTrace` utility function.

[2022-09-07 21:45] #4256 closed

[2022-09-08 03:15] kevinforrestconnors opened #4259 "Body validation scheme for ${method}:${path} route is not supported!"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.3

### Plugin version

_No response_

### Node.js version

16.12.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

Windows 10 Home

### Description

throw new Error(`Body validation sch

[2022-09-09 07:40] Eomm commented on #4250
The latter 👍🏽

Yes, there is not value for the user getting it

[2022-09-10 01:04] ballantyne opened #4262 "Unexpected token '?'"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.2

### Plugin version

_No response_

### Node.js version

18.8

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

11.2

### Description

It seems like it happens when I try to use the proce

[2022-09-10 01:24] iifawzi commented on #3902
Hi, I have an interest in working on this, and I've walked through the code to get myself more familiar with how things work.

Here's how I'm thinking of fixing this:

I would change how this piece of code is behaving to have multiple schemas for the same status code
https://github.com/fastify/fastify/blob/224dc104260ad26f9baa0e46962f917963d41fe5/lib/validation.js#L19-L26

So maybe the final `acc[

[2022-09-10 01:35] jsumners commented on #4262
Double check the version of Node your system is using to start the Fastify based application. It should be at least version 14.

[2022-09-10 02:05] ballantyne commented on #4262
$ node -v
v18.8.0

The version of fastify I have installed is actually 4.5.3, but I also
noticed the problem with 4.4.0

On Fri, Sep 9, 2022 at 8:35 PM James Sumners ***@***.***>
wrote:

[2022-09-10 02:22] jsumners commented on #4262
That's certainly not the version that is launching your application according to the error you have posted. The coalescing operator has been supported since Node 14.5.0. See https://node.green/#ES2020-features--nullish-coalescing-operator-----

[2022-09-10 02:48] ballantyne commented on #4262
I just did a console.log(process.execPath) and it prints "/usr/local/bin/node"

and when I ask for the version I get this:
[code]

I downloaded the source of node from:
https://nodejs.org/dist/v18.8.0/node-v18.8.0.tar.gz

[2022-09-10 07:41] mcollina commented on #4262
Try this:

1. copy the example in the readme, save it as `example.js`
2. run it with `node example.js`

We expect this to work.

---

What James is saying is that for some reason in your chain of scripts/npm/etc, you are picking up an old node version to run Fastify.

What operating system are you in?

[2022-09-10 07:49] #4259 closed

[2022-09-10 08:49] ballantyne commented on #4262
I put the console.log(process.execPath) in both of the files that get
called.  Both showed the same result.  The npm user agent also indicated
18.8.0 as the node version.  I use debian.

if you are not interested in this issue i am not going to hassle you.  Just
thought i would let you know.  I wasn’t sure what your fancy ‘??’ did so i
thought i would inquire.

On Sat, Sep 10, 2022 at 2:41 AM Matt

[2022-09-10 09:16] Eomm commented on #4262
I would check the whole `process` object.

[`spawn`](https://nodejs.org/api/child_process.html#child_processspawncommand-args-options) has a `env` option: you can force it. I think that the new spawn process is not running the same `node` installation as when you run `node example.js`

[2022-09-10 10:03] Uzlopak commented on #4262
what does `console.log(process.version)` say?

[2022-09-10 18:05] ballantyne commented on #4262
When I pass the env variable, process.env just becomes {PORT: 5555} and it
doesn't have any other variables and it fails the way I was saying:
[code]

If I don't pass the env to the spawn command it inherits the parents env
which has
[code]

On Sat, Sep 10, 2022 at 4:16 AM Manuel Spigolon ***@***.***>
wrote:

[2022-09-10 18:40] ballantyne commented on #4262
I sent this as an email but it didn't show up:

When I try console.log(process.version) "v18.8.0" shows in the script that calls spawn and "v18.8.0" shows in the script that has the code that is from the readme.

[2022-09-11 01:48] ballantyne commented on #4262
I think that I figured out sort of what was happening.  When the only env variable is {PORT: 5555} it is finding the node that was installed by apt at /usr/bin/node rather than the node that was installed from source at /usr/local/bin/node.

So it was version 12.22.12.  James was correct about the version being old.  Strange that it showed the newer version inside both scripts when I printed it to

[2022-09-11 04:40] ballantyne commented on #4262
I did recompile from the source last night.  Maybe that is the reason I have a different result?  Probably not.  I ran a script that I wrote to install node so I downloaded the code from the same place.  Not really sure why there would be a different between yesterday and today.  Today, the 12.22.12 version is showing up in the console.log(process.version) script that is spawned if I don't specifi

[2022-09-11 07:54] climba03003 commented on #4262
I am closing this issue because it is not related to `fastify`.
I am glad to figure it out why it happened and solved your issue. If you have further query on the reason behind, I suggest to open an issue on `node` repo.

[2022-09-11 07:54] #4262 closed

[2022-09-11 08:06] Eomm opened #4265 "Ecosystem lint check post comment"
It would be nice if the ecosystem lint post e message on the PR to explain the error.

I think it should be doable by running the code inside a action-script:
https://github.com/actions/github-script

ref https://github.com/fastify/fastify/pull/4263

[2022-09-11 18:45] xr0master commented on #4252
**question**: why not use `URLSearchParams` as the official replacement for legacy querystring? I don't want to underestimate the great work of the author, but there is a big difference between the built-in official module and the third-party library. At least in matters of further support.

[2022-09-11 20:04] Uzlopak commented on #4252
URLSearchParams is slow. We will not degrade the performance just for the sake of a module which is just marked as legacy and is not deprecated.

[2022-09-12 07:23] xr0master commented on #4252
I think that in real use the difference will be zero. But the chance that this library will stop receiving updates in a few months is quite high. On the other hand, reverting changes and reverting back to an obsolete module is also not difficult. IMO

In any case, thanks for your work, a wonderful project that I enjoy using in projects. Especially after the dead express.js

[2022-09-12 09:55] simoneb opened #4267 "Variadic listen signature is not working anymore"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

3.x

### Stopped working in version

4.x

### Node.js version

16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

-

### 💥 Regression Report

As per the [blog post](https://medium

[2022-09-12 10:04] Fdawgs commented on #4267
https://www.fastify.io/docs/master/Guides/Migration-Guide-V4/#deprecation-of-variadic-listen-signature, only in master atm but it's there. 😁

[2022-09-12 13:47] mcollina commented on #4267
Even if it's deprecated, this should be fixed.

[2022-09-12 13:49] simoneb commented on #4267
@marco-ippolito is planning to look into this

[2022-09-12 14:52] marco-ippolito commented on #4267
The problem seems to appear only when the port is passed as string, I'm working on a fix

[2022-09-12 15:36] jsumners commented on #4267
Yep. Bug. Will be so glad when we can remove all of this code.

[2022-09-12 16:40] #4267 closed

[2022-09-13 15:54] #4241 closed

[2022-09-14 05:43] #4235 closed

[2022-09-14 06:54] Fdawgs commented on #1919
I think it's worth closing this, it's been 3 years and no one else has requested/pushed for this plugin.

[2022-09-14 06:58] Fdawgs commented on #1197
I think it's worth closing this, it's been 4 years and no one else has requested/pushed for this plugin.

[2022-09-14 07:07] #1197 closed

[2022-09-14 07:10] #1919 closed

[2022-09-14 12:43] Uzlopak opened #4271 "exposeHeadRoute and manually generated head routes not really distingiushable"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

The automatically generated Head route (exposeHeadRoute: true) gets in fastify-rate-limit the routelimit hook twice.

I can patch it as you can see https://github.com/fastify/fastify-rate-limit/pull/267 by checking if the exposeHeadRout

[2022-09-14 12:54] climba03003 commented on #4271
`isFastify` is the property means to be the `route` added by `fastify`.
I create this property for this purpose, but something also need to be fixed inside the core.

[2022-09-14 13:01] climba03003 commented on #4271
Nope, we are re-using the mutated option which cause the problem.

[2022-09-14 15:41] #4271 closed

[2022-09-14 17:16] esatterwhite opened #4276 "addSchema prevents reuse of fluent-json-schema objects"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.3

### Plugin version

_No response_

### Node.js version

16.14

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Linux 5.10.136-1-MANJARO  x86_64 GNU/Linux

### Description

Using `addSch

[2022-09-14 17:33] adampolczynski commented on #4213
hey, error clearly states you have registered a plugin after initiating a fastify instance, so to fix the problem register plugin before app.init()

[2022-09-14 17:41] Uzlopak commented on #4213
Closing as the is stale and there was no feedback since the response from climba

[2022-09-14 17:41] #4213 closed

[2022-09-14 18:42] mcollina commented on #4276
What error are you getting?

@Eomm @climba could you take a look?

[2022-09-14 18:58] esatterwhite commented on #4276
A validation error for `bang` being required
[code]
[code]

In the gist linked, the post route will expect both the `whiz` and `bang` properties to be sent in the body as the registered schema has both a `required`.

But the body schema is a modification for only whiz. If I don't call `addSchemas`, the route works as expected

[2022-09-14 19:11] esatterwhite commented on #4276
I gather its because the schema controller caches by id so route validator is pulling the original validator instead of the one defined on the route

[2022-09-15 00:14] climba03003 commented on #4276
You cannot have the same `$id` throughout the same `application`. The `$id` should be globally unique.

[2022-09-15 00:33] esatterwhite commented on #4276
How would one go about making fluent-json-schema and the swagger plug in work together with out having to redefine the same schema multiple times?

[2022-09-15 00:42] esatterwhite commented on #4276
I don't want to use the ID more than once necessarily. Is there a way to keep out the I'd? Or have the route validators not reference the global cache if they are given a fluent instance.

[2022-09-15 06:06] Eomm commented on #4276
I wonder if:

- should the `$id` be removed from the route's schema?
- OR should we throw an error if the same **root** `$id` is found in the schema bucket?

I think the latter is easy to add

----

Generally, I think the user should be able to customize the $id when using `fluent.only()/without()`

[2022-09-15 11:43] quantumwebco opened #4278 "Phusion Passenger error: listen EADDRINUSE: address already in use passenger"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

When attempting to run a simple server with Phusion Passenger (in Plesk) I get the error ```listen EADDRINUSE: address already in use passenger```. I have followed any docs/fixes I can find, this stackoverflow https://stackoverflow.com/

[2022-09-15 12:26] nooreldeensalah commented on #3618
I think https://github.com/fastify/pacchetto has the ecosystem plugins categorized, visit https://fastify.github.io/pacchetto/ if you would view the categories

[2022-09-15 13:45] esatterwhite commented on #4276
I feel like the routes validation schemas should only reference the shared schemas if the schema is a `ref`
Having to manually set a dummy id, and by all accounts, a globally unique dummy id, for every route validation schema feels a little ham-fisted.

[2022-09-15 13:52] mcollina commented on #4278
I would recommend you open a ticket in PhusionPassenger.
I don't know why it's not working, however, I'm not a PhusionPassenger user, so I don't really know where to start.

[2022-09-15 20:12] budarin opened #4281 "Is it possible for the request.validateInput (and other such funcs) add the errors property by analogy as ajv does?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I suggest adding to `request.ValidateInput`, as well as the functions returned by `compilerValidationSchema ` and `getValidationFunction`, the `errors` property after performing the validation, as does `ajv`:

[code]

[2022-09-15 20:36] JVBorges commented on #4228
So I took a look at this issue, and I found a difference between fastify ajv config with the valid demonstration, which makes the validation fails.

https://github.com/fastify/ajv-compiler/blob/5af89d3ee9751739580fd58b1de03e40131f6dfe/index.js#L9-L18

fastify set the coerceTypes [(Coercing data types)](https://ajv.js.org/guide/modifying-data.html#coercing-data-types) option with 'arrays' value, if

[2022-09-15 20:36] Eomm commented on #4278
It should be this the answer
https://stackoverflow.com/questions/73563025/how-to-reverse-port-biding-phusion-passenger-and-fastify

[2022-09-15 21:38] #4278 closed

[2022-09-15 22:17] quantumwebco commented on #4278
I've tried that but I still get the same issue

[2022-09-16 06:58] philsch opened #4282 "Plugin guide missing onRoute example"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Thanks for the extensive [Plugin Guide](https://www.fastify.io/docs/latest/Guides/Plugins-Guide/) in your documentation.

I'm new to the Fastify ecosystem so please correct wrong assumptions. Imho a typical usecase for plugins is to ext

[2022-09-16 07:06] Eomm commented on #4278
Not joking: turn it off and on passengers
It could be a zombie instance: the error message is clear

[2022-09-16 07:33] metcoder95 commented on #4281
Hey! That should be already possible as the new APIs don't mess with the Ajv or any other validation function compiled, meaning that you can still access such errors and result properties.

Here's an example:
[code]

and then prints:
<img width="1413" alt="image" src="https://user-images.githubusercontent.com/10200776/190582723-afed5a51-1ae7-4464-97a8-9eaa90263a69.png">

[2022-09-16 09:43] mcollina commented on #4282
I think extending the guide to cover `onRoute` will be appreciated by everybody. It's a very powerful technique that we added _after_ the guide was written.

Unfortunately this will really be bad for performance because you'd need to match all incoming request and see if a hook applies.

This is the approach I recommend and it's used throughout the plugins in this organization.

[2022-09-16 11:20] dornfeder commented on #4223
Thanks for the solution @jacknkandy, that helped a lot!

Unfortunately, the listen method throws an error if you put *actual* Port numbers as `path` property, so for my case, having to run the code both on Azure with Named Pipes as well as locally with a real port number, this was the solution I came up with:

[code]

It's not sexy, but it works.

[2022-09-16 11:36] budarin commented on #4281
To be honest, I haven't tried with `compilerValidationSchema` and `getValidationFunction` - I checked with `request.ValidateInput` and in this case there are definitely no `errors`, which is why I assumed that other methods have the same situation

[2022-09-16 11:42] budarin commented on #4281
the description of the types of these functions also reflects the fact that functions have this property

[code]

[2022-09-16 11:59] climba03003 commented on #4281
`validateInput` shouldn't have the `errors` property. It will mess up with multiple usage of same function.

If the problem is only incorrect typings. Would you like to send a PR to address the issue?

[2022-09-16 12:24] budarin commented on #4281
I'll try

[2022-09-16 15:32] quantumwebco commented on #4278
Tried that, rebooted the server etc. If I use ```fastify.listen("127.0.0.1")``` I get the error "type":"Error","message":"listen EADDRINUSE: address already in use 127.0.0.1","stack":"Error: listen EADDRINUSE: address already in use 127.0.0.1\n at Server.setupListenHandle

I think I just give up with Fastify. It seems like a good idea but every other framework just works out the box so I'll move t

[2022-09-16 15:58] Eomm commented on #4278
Your words are very tough I hope you understand them.
Moreover, your code does not show me that you read the documentation as your syntax uses the `host` option instead of `path` parameter as written in the SO answer.
Checkout the [Node.js core doc](https://nodejs.org/api/net.html#serverlistenoptions-callback) to more details.

Here your copy-paste fix: `fastify.listen({ path: 'passenger', host: '

[2022-09-17 04:21] jacknkandy commented on #4223
No problem. Yeah this is pretty much the same way I handled it,

[2022-09-18 07:28] rmi111 opened #4287 "CORS error while trying to run in Localhost"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hello,
I have been trying GraphQL tutorial from the official documentation. I built the backend using the typescript-helix version, it uses fastily. It runs at http://localhost:4000/graphql routes. All the queries works well when I am u

[2022-09-18 07:33] climba03003 commented on #4287
I didn't read any code. But you should use [`fastify-cors`](https://github.com/fastify/fastify-cors).
Please check the readme and allow the `origin` of the `request` you have.

Another way is use `proxy` in the frontend project, so the `frontend` and `backend` are under the same domain.

[2022-09-18 07:43] climba03003 commented on #4287
After reading the code, I suspect you are actually mutating the `.raw` stream directly.
In this case, non of the `fastify` hook and `plugin` will works. Their data is actually stored inside the `requset` object and should be handled by `fastify`.

If you plan to directly interact with `.raw`, you need to do all the thing yourself including `.setHeader`.

[2022-09-18 07:43] #4287 closed

[2022-09-18 08:07] rmi111 commented on #4287
Ok that explains a lot. How can I avoid without mutating the raw, or if I go in that approach, how can I write header,
I tried the setHeader approach, but it gives me another error, cannot set header after being sent.

[2022-09-18 08:35] climba03003 commented on #4287
I suggest to reach `graphql-helix` for supporting `fastify`.
It use `.writeHead` directly, that means you can either make an wrapper of it. or `.raw.setHeader` before hand for the `CORS`.

Maybe that would works?

[code]

[2022-09-18 09:00] rmi111 commented on #4287
That worked. Thanks for your help.

[2022-09-18 09:40] #4252 closed

[2022-09-18 09:41] #4184 closed

[2022-09-19 00:47] zrosenbauer commented on #4276
@Eomm IMO throw the error. Removing it from the bucket is an unexpected side effect that would be buried (cause a debugging nightmare IMO).

Also dumb question here... is this a fastify issue or fluent-json-schema issue...?

Isn't this line here: [https://github.com/fastify/fluent-json-schema/blob/664f052223ec67da9c1f300c0baddabcbbee2c7f/src/ObjectSchema.js#L344](https://github.com/fastify/fluent-

[2022-09-19 04:04] esatterwhite commented on #4276
In the case of route validators, the id doesn't seem to have much usefulness or significance unless you are using a ref. The ids are not being registered twice, so I do not think this is an error case.

1 to 1 with what? I think a generates ID would be more confusing. As an end user, I won't know what it is and will be unable to reference it.

Only and without could at least remove the id, it is a

[2022-09-19 20:21] zrosenbauer commented on #4276
Again if we omit the ID wouldn't that be on the fluent side? I don't know the return value of `.only`.

I just used your gist and this was output:
[code]

Aka this needs to be fixed on the fluent side (https://github.com/fastify/fluent-json-schema/issues/193).

Moving convo there...

[2022-09-20 07:12] #4276 closed

[2022-09-20 10:25] #4281 closed

[2022-09-20 12:23] #4265 closed

[2022-09-22 10:50] CristiTeo opened #4296 "Docs: Testing - request package has been deprecated"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

The `request` package has been deprecated.
Inside the documentation for Testing guide exists an example that is using it.
https://www.fastify.io/docs/latest/Guides/Testing/#example
<img width="1216" alt="Screenshot 2022-09-22 at 13 48 4

[2022-09-22 12:30] mcollina commented on #4296
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-09-22 14:49] CristiTeo commented on #4296
Sure, I am working on this.

[2022-09-22 14:53] simoneb commented on #4296
@mcollina any thoughts about which library we should recommend. The only thing we settled on so far is Node 18's new global fetch, but we thought it best to also include something else which is usable from Node < 18

[2022-09-22 17:12] jsumners commented on #4296
Use the basic `Client` from Undici https://gist.github.com/jsumners/0e5b3b929e692757364f545f97b6273f#file-index-mjs-L93-L99

[2022-09-22 19:08] zrosenbauer commented on #2748
@Eomm is this still on map / radar? I've built Github Apps + Loads of experience with Github Actions and happy to help. 😄

[2022-09-22 19:12] jsumners commented on #2748
There are complications with protected branches and automatic version bumping. In my view, ideally, we'd be able to add labels to PRs to tag as to their semantic relation. Then, when the PR is merged, the automation would bump the version, tag it, and publish it.

We have an internal team discussion on this topic and some testing I did with https://github.com/stupid-org/auto-release-test. @simoneb

[2022-09-23 02:50] zrosenbauer commented on #2748
I've used this to actually handle do that with our internal apps https://github.com/release-drafter/release-drafter

You add label (patch, minor, major) -> automatically resolves the version in the release draft.

[2022-09-23 05:26] climba03003 commented on #2748
There are plenty of solution outside.
But what it requires are automation not only in Github release and version bump, but also NPM with 2FA enabled.

[2022-09-23 07:11] Eomm commented on #2748
I must say that I am fun and I believe in the `optic` app: https://github.com/nearform/optic-expo/
Soon, it will be released as native Android/IOS app and it will be more solid to use.

Anyway feel free to describe to us your solution considering that:

- who bumps the release must input their npm OTP
- we would like to reduce the configuration burden (right now it is the only blocker to adopt the

[2022-09-23 07:52] simoneb commented on #2748
I think I posted this elsewhere before. At NearForm for automating the release of the npm packages, apps and GH actions we have built internally we use https://github.com/nearform/optic-release-automation-action. You can also see it in action in our latest creation [Lyra](https://github.com/LyraSearch/lyra/blob/main/.github/workflows/release.yml). It's not the most perfect solution but it works pr

[2022-09-23 08:07] simoneb commented on #2748
Oh and just to clarify, "Optic" is an ecosystem made of:

- the github action  https://github.com/nearform/optic-release-automation-action
- an underlying API https://github.com/nearform/optic-release-automation-app
- an optional mobile app (as mentioned by @Eomm ) that you can use to automate the generation of 2FA password for npm publishing https://github.com/nearform/optic-expo/

[2022-09-23 09:25] nicolaturcato opened #4299 "TypeError: currentNode.createStaticChild is not a function"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.6.0

### Plugin version

4.2.1

### Node.js version

18.7

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.6

### Description

I'm trying to upgrade to Fastify v4.x but since first releas

[2022-09-23 09:36] climba03003 commented on #4299
Can you provide a reproducible code?

[2022-09-23 09:41] #4299 closed

[2022-09-23 09:42] climba03003 commented on #4299
`Wildcard` follow by `Static` path is no longer supported.
Please change the `path` to `RegExp` path as mention in the `find-my-way` issue.

If you think it is not a duplicate issue. Feel free to re-open.

[2022-09-23 16:47] zrosenbauer commented on #4081
@climba03003 I saw this yesterday on Mongoose repo (everything is in JS) -> https://github.com/SamVerschueren/tsd

Might be good idea to help us prevent regressions in the future of types etc. (no idea if its came up before)

[2022-09-23 17:26] Uzlopak commented on #4081
@zrosenbauer
https://github.com/fastify/fastify/blob/2c97c4c7ad084c228026575eda3a14abbf2876eb/package.json#L167

[2022-09-24 16:18] quantumwebco commented on #4278
I apologise for any misunderstanding. I simply meant that Phusion and Plesk etc. have docs for and support other frameworks and the other frameworks I tried worked without issue. I had already tried your "copy-paste" suggestion and everything from SO questions and github issues etc. but to no avail. Fastify looks like a really good framework, it's a great idea, but unfortunately I ran out of time

[2022-09-24 16:42] Eomm commented on #2683
There is this plugin https://github.com/zekth/fastify-early-hints from @zekth we could start from.

The first step, migrating to fastify v4?

[2022-09-24 17:22] zekth commented on #2683
@Eomm I'm +1. I can transfer ownership

[2022-09-25 07:44] Eomm commented on #2683
Go for it, then we will update it 👍🏽
Easy GitHub activity 🟩🟩🟩🟩🟩🟩 😄

[2022-09-25 09:20] zekth commented on #2683
Done

[2022-09-25 23:17] #4153 closed

[2022-09-26 08:01] mcollina commented on #2683
@zekth can you add me to npm so I can add it to the org?

[2022-09-26 08:27] mcollina commented on #4081
@climba03003 something that might be worth looking is supporting TypeScript `nodenext` module resulution.

[2022-09-26 19:58] sarneeh commented on #4068
@mcollina Can we please reopen this? I just encountered this issue while trying to write tests using `supertest`.

The error is exactly the same as the initial report:

[code]

It happens in pure JS with a minimal setup. Here's a reproduction repo: https://github.com/sarneeh/fastify-fastify-issues-4068.

[2022-09-27 06:04] sarneeh commented on #4068
Sorry, false alarm. I just forgot to call `fastify.ready()`. Perhaps OP had the same issue 🤔

[2022-09-27 13:03] hitmands opened #4306 "Regsiter Route / can no longer use question marks"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.6.0

### Plugin version

_No response_

### Node.js version

16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

-

### Description

Using _question marks_ in router definition now throws th

[2022-09-27 13:24] mcollina commented on #4306
What's the last version this worked?

@ivan-tymoshenko could you take a look? This might be due to some of the refactorings you did in find-my-way.

[2022-09-27 13:29] ivan-tymoshenko commented on #4306
@hitmands What do you want to do? As I understand, you want to create a route that would match all urls. You can try `*` instead of `/*?`.

[2022-09-27 22:04] #4149 closed

[2022-09-28 04:21] wcarugatti commented on #4012
could you please share the solution @SweetDam ?

[2022-09-28 13:33] xtianus79 commented on #1877
@mcollina My issue, is that with fastify it is very direct but a very "promise" way of doing things. When using an event stream such as SSE this abstraction takes the ability to know exactly what you would do "normally" and then how you are going to do it through a plugin such as the v2 one listed above. Natural/normal closeness is preferred on abstractions like these and I can't determine what is

[2022-09-28 21:00] flleeppyy opened #4308 "Cannot read properties of undefined (reading 'bind')"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

^4.6.0

### Plugin version

_No response_

### Node.js version

16.15.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

22.04

### Description

After running Fastify, I get this error. I don'

[2022-09-28 21:08] Uzlopak commented on #4308
Arrow Functions do not have this-Reference.

[2022-09-28 21:34] flleeppyy commented on #4308
I've replaced every single function on fastity routes or decorators to regular functions, I'm still getting errors

[2022-09-28 21:37] flleeppyy commented on #4308
So commenting out this ping route for testing, I believe this is what is causing the error.

[code]

[2022-09-29 06:20] Eomm commented on #4308
Did you `console.log(fastify.authenticate)`?
I think it will be `undefined`, so the debug process should start from there

[2022-09-29 09:49] mcollina commented on #4308
Thanks for reporting!

Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different files, create a new repository on GitHub and add a link to that.

[2022-09-29 15:41] flleeppyy commented on #4308
So I'm using Typescript, and the authentication decoration I have (which is supposed to be an onRequest hook) wasn't working currently with types, so I overrided the decorate function as a post route method, but after trying to figure out what was wrong, I realized didn't have `done` in the function params, but I couldnt add it because of the funky typing, and then after trying to fix it, the reas

[2022-09-29 16:23] Eomm commented on #1877
Please, take a moment to read ["Why you should not say _«I will use X»_ to a Fastify maintainer"](https://gist.github.com/Eomm/4b72531ed9e2bdaefccf144ff9d7ce9a).

Thank you

[2022-09-29 16:27] flleeppyy commented on #4308
If you're using decorators and you have routes that use those decorators in the same context,  **await** your decorators before you use those routes, otherwise it will throw that error.

I believe this is the solution.

[2022-09-29 16:39] climba03003 commented on #4308
`decorator` is sync function, it doesn't need to `await`.
`plugin` is `async`, it does need to `await`.

[2022-10-01 08:13] mcollina opened #4313 "Make sure fastify-cli and Fastify docs offer the same structure"
Some folks have been letting me know that we offer some different opinions on how to structure an application between the core Fastify docs, our `fastify-cli`, and how we would do it in practice.

As an example, our docs do not cover fastify-autoload.

https://twitter.com/next2you/status/1572713374781419520?s=20&t=A9cDBoz8vpsHJ_UO_W5dyw

[2022-10-01 13:08] jsumners commented on #4313
I'd argue that `fastify-cli` shouldn't bootstrap a complicated setup, which is what using `fastify-autoload` is.

[2022-10-01 14:05] seia-soto opened #4314 "docs: add the note that request.params is always Record<string, string> when using TypeBoxValidatorCompiler"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Describe the type of request.params is always `Record<string, string>` when using TypeBoxValidatorCompiler to the one of following section:
- https://www.fastify.io/docs/latest/Reference/TypeScript/#typebox
- https://w

[2022-10-01 14:23] seia-soto commented on #4314
Note that this can be recognized as useless. I agree with that 😄.

[2022-10-01 17:48] climba03003 commented on #4314
You example do not show you are using `TypeBoxValidatorCompiler` and any `schema`.
The current behavior is correct when you don't have `schema`.

[2022-10-01 17:48] #4314 closed

[2022-10-01 20:29] rluvaton opened #4316 "Adding shared schema in current encapsulated context"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

What if we could write inside an encapsulated context shared schema

let's say I have a typical REST server and these are my routes (I use the GitHub routes as an example)

[code]

Currently for each route group here I

[2022-10-02 04:04] seia-soto commented on #4314
Oh, I understand. However, still there is no magic required.

[code]

[2022-10-02 07:23] Eomm commented on #4316
This can be done by a plugin. The scope of the fastify core is providing the minimal tool set to build things like the one you proposed.

The plugin needs to define a Decorator and a onroute hook.. And it is done! Would you like to build such a community plugin?

[2022-10-02 09:36] mcollina commented on #4313
This is a good discussion to have!

[2022-10-02 10:11] luisorbaiceta commented on #4313
In my opinion, fastify-cli should bootstrap the bare minimum and any extras like autoload could be added with a flag like `--with-autoload`. This would need to be documented too

[2022-10-02 18:08] budarin opened #4317 "Performance: spread is faster than the Object. assign especially on small objects"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue
Node v18.10.0

## Big object

[code]
Benchmark:
[code]

## Small object
[code]
Benchmark:
[code]

[2022-10-02 20:00] Uzlopak commented on #4317
So?

[2022-10-02 21:45] budarin commented on #4317
do you think it's useless? then I can close the issue

[2022-10-02 23:41] budarin commented on #4317
I understand you meant to write a PR, but unfortunately I don't have a stand where I could test and measure the difference in performance with guarantee - on my laptop, my services give floating performance during each testing - for this you need a dedicated machine on which performance tests would give reproducible results

[2022-10-03 06:12] raviroshanmehta commented on #2955
I am looking for some references to use fastify with gRPC.  Any reference would be appreciated. Please suggest if anyone did it.

[2022-10-03 11:48] jsumners commented on #4317
They are not equivalent -- http://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax#spread_in_object_literals

[2022-10-03 12:42] budarin commented on #4317
I meant only this variant of `Object.assign({}, ...obj)`

[2022-10-03 14:17] #4317 closed

[2022-10-03 16:30] Eomm commented on #4317
That's fair to optimize if your tests show a benefit.

@RafaelGSS could be interested in it, he runs a repo to find these little performance differences across node.js versions

[2022-10-03 16:53] richtera opened #4318 "Trying to move from express to fastify using h2c on cloudrun... still hang or crash"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.7.0

### Plugin version

2.0.2 (@fastify/express) with express@4.18.1

### Node.js version

v14.20.1 v16.17.1 and v18.10.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

WLS2 Ubuntu 22.04.

[2022-10-03 16:54] budarin commented on #4317
@Eomm
We also collect such optimizations on the project - we have a collection

I suggest the guys at Babel to write present performance.environment, but they don't show much desire (
https://github.com/babel/babel/issues/15002

We will have to write optimized code instead of the usual one when it hurts everywhere in our hands (

[2022-10-03 16:56] richtera commented on #4318
Basically what I need to find out is whether this is specifically a problem with `@fastify/epxress`/`express` or just generally `fastify` before rewriting all my middle tier code.

[2022-10-03 17:20] Eomm commented on #4318
It could be the first issue [as written in the docs](https://github.com/fastify/fastify-express#fastifyexpress)

<img width="866" alt="image" src="https://user-images.githubusercontent.com/11404065/193639133-182e04c4-f671-4aa3-83b8-55860bca6b78.png">

If removing the http2 config does not solve, I think the issue is that some middleware "does something" that is not supported by `@fastify/express`.

[2022-10-03 17:22] richtera commented on #4318
Everything works fine without http2 enabled. Ok but still rewriting the middlewares should be wirth it then?

[2022-10-03 17:41] richtera commented on #4318
@Eomm It makes sense. I was thinking of doing that as the second step, thinking I can prove fastly will work with node http2. Maybe I can mock up something smaller just to make sure it's all working.

[2022-10-03 18:33] iifawzi commented on #4316
Hi, I think I have an interest in working on this, I'm just wondering, how far this should support. Should it only support sharing high-level schema keys? (without handling nested schemas) or the plugin should manage to merge the schemas together if keys already exist.

I mean, if we have such an API:
[code]

and  shared schema :

[code]

Should this even be supported? should the plugin manage to

[2022-10-03 21:03] matthyk opened #4319 "hasRoute causes infinite loop"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.7

### Plugin version

_No response_

### Node.js version

16.14.2

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.13.1

### Description

If you want to add a route in an `onRoute` hook

[2022-10-03 23:15] Uzlopak commented on #4319
I implemented hasRoute. hasRoute uses find-my-way and does not call any fancy stuff from fastify.

Imho this infinite loop is not because hasRoute but the call to this.route(). route() adds a new route thus invoking the onRoute hook. onRoute-hook is called before adding the route to the router, as the onRoute-Hook can be used to modify the routeOptions before adding the route to the router.

Thus

[2022-10-04 05:16] anhlevfx opened #4320 "Route onRequest hook use plugin issue cannot read properties of undefined (reading 'length')"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.6.0

### Plugin version

_No response_

### Node.js version

16.17.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.6

### Description

Hello, I'm facing a weird issue when develop an a

[2022-10-04 06:04] Eomm commented on #4320
Try to avoid mixing async/await and callback style:

[code]

[2022-10-04 07:21] mcollina commented on #4319
This behavior seems correct. I'm not 100% sure we can prevent this somehow: @Uzlopak could you take a look?

[2022-10-04 08:11] Uzlopak commented on #4319
@mcollina

The only idea I have is to add a "shadowRouter" which gets initialized next to the real router and gets the routes added before calling the onRoute-hook. And use the "shadowRouter" instead of the real router to determine if the route has been added or not. Because the routeOptions can be manipulated by the onRoute-hook we need to keep the original routeOptions before the onRoute-hook-ca

[2022-10-04 08:18] anhlevfx commented on #4320
Thanks @Eomm I tried this but the error still happen.

[2022-10-04 08:18] #4318 closed

[2022-10-04 09:34] rluvaton commented on #4316
Thanks, we can work on it together! I think that it should merge for the following reason to be able to apply common schemas for example if I have multiple search routes and they all include page number and size query params but each one can contain different filters...

[2022-10-04 09:39] iifawzi commented on #4316
That's cool, go for it, you've already proposed the solution, and I will get into it with you when needed.

My thoughts are that this will require a bunch of checks if we're going to merge properties and schemas, like what if keys are present in both the shared schema and the route schema, and so on.

[2022-10-04 15:24] Eomm commented on #4320
New test, add the `await` while registering the plugin:

[code]

[2022-10-06 08:24] anhlevfx commented on #4320
@Eomm add await before register worked. Do you have any idea why we need to do that?
Thank you!.

[2022-10-06 09:40] mcollina commented on #4320
I think we should fix this and throw a good error.

[2022-10-06 09:40] #4296 closed

[2022-10-06 15:50] #4319 closed

[2022-10-06 17:34] climba03003 commented on #4320
The problem related to the user do not know the execution order.
From the above example, people plan to use the decoration inside plugin immediately which is never be possible.

[code]

[2022-10-06 17:37] mcollina commented on #4320
I think `fastify.<method>` should validate the hooks functions during startup.

[2022-10-06 18:17] anhlevfx commented on #4320
@mcollina Great! It will be easier to debug.

[2022-10-06 18:45] Eomm commented on #4320
First step: we should not accept an `undefined` hook

[2022-10-06 19:16] budarin commented on #4317
@RafaelGSS

Number('10)    x 843,837,928 ops/sec ±1.53% (92 runs sampled)
parseInt('10') x 201,513,260 ops/sec ±0.65% (94 runs sampled)
'10'-0         x 857,157,978 ops/sec ±0.19% (94 runs sampled)

Number('10.1)      x 856,941,926 ops/sec ±0.18% (94 runs sampled)
parseFloat('10.1') x 19,568,197 ops/sec ±0.55% (94 runs sampled)
'10.1'-0.0         x 848,217,817 ops/sec ±1.02% (94 runs sampled)

[2022-10-07 10:52] D10f opened #4336 "Missing content-type header when replying with stream data"
Hello, I'm trying to send a stream back as a response using the code below. [According to the documentation](https://www.fastify.io/docs/latest/Reference/Reply/#streams), the header 'content-type' should be handled automatically if not explicitly set. However I'm getting an error in one of my test cases regarding this as the header is missing.

The obvious solution is to set it manually, which I'v

[2022-10-07 13:22] yilmazhasan opened #4325 "anyOf does not work as expected"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.7.0

### Plugin version

_No response_

### Node.js version

16.14.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.5

### Description

Regarding to migration guide:
https://www.fastify

[2022-10-07 14:42] yilmazhasan commented on #4325
@mcollina I see the point that shows order of the types provided matters. That makes sense. Thanks.

[2022-10-07 21:02] #4250 closed

[2022-10-09 23:39] jhhom commented on #4320
Hi, I'm interested in taking on this "good first issue", shall I opened a pull request?

My idea is to:
1. throw an error from `fastify.post` and other route registration functions (i.e `fastify.get`, `fastify.route`, ...) if the hook functions passed in the options are `undefined`
2. throw an error from `fastify.addHook` if the function passed is undefined

This can be done from the [`prepareRout

[2022-10-10 06:40] Eomm commented on #4320
The best position is after the `onRoute` hook execution because that function could add hooks to the route itself.

I think this is already covered, but I would split the steps into separate PRs

[2022-10-10 07:53] eladchen opened #4327 "Uncaught exception in error handler"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.6.0

### Plugin version

_No response_

### Node.js version

16.6.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

20

### Description

I was working on a plugin, one that creates a db tra

[2022-10-10 08:17] climba03003 commented on #4327
You should check whether the `onSend` hook is sending `string` or `Buffer`.

See the last line about `onSend` hook in document
https://github.com/fastify/fastify/blob/main/docs/Reference/Hooks.md#onsend

If you didn't plan to modify the `payload`. Don't return anything.

[2022-10-10 08:20] eladchen commented on #4327
This is wrong.. the error handler has no idea what the original content type is.

Fastify itself is not adhering to your suggestion, you can test that by taking my example and removing the custom error handler. You'll see fastify returning a json body instead of a plain text.

[2022-10-10 08:22] mcollina commented on #4327
Thanks for reporting.
I agree that we should not crash the process in this case.

---

Thanks for the lecture on Error handling. The current implementation was reasoned about for months and it works quite well.

Note that this level of passive-aggression is not well tolerated in this community. All of this is provided for free and... you are free to not use it.

[2022-10-10 08:24] eladchen commented on #4327
Wasn't trying to be "passive-aggressive". Sorry if sounded like that.

[2022-10-10 08:52] climba03003 commented on #4327
I just modify a bit of the example to show the run order.

[code]

We should probably reset the `content-type` before enter `error handler`.

[2022-10-10 09:00] xxRockOnxx opened #4328 "Vercel serverless code does not work. Fastify can't be initialized properly."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.7.0

### Plugin version

_No response_

### Node.js version

16.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

unknown

### Description

Following the docs: https://www.fastify.io/docs/l

[2022-10-10 09:27] climba03003 commented on #4327
As a workaround or good behavior. I highly recommend you to explicitly add `content-type` header for each `reply.send`.

[2022-10-10 09:45] climba03003 commented on #4328
Inside the document, the `server` is never be `started`.
I assume the current behavior is correct.

You probably need to move the `registration of plugin` outside the serverless function.
So, it wouldn't register in every request.

[2022-10-10 10:04] xxRockOnxx commented on #4328
Sorry I don't follow. If it never got started, that means we are running new code? Unless for some reason the state is maintained but the server is just not started?

I'm trying to register plugin/routes depending on URL instead of registering all routes so that I can minimize what's being loaded. Is this not good to do it this way?

[2022-10-10 10:09] climba03003 commented on #4328
No. It is not `started` means the `http` server never listen to a port. And it is correct that `app.server.listening` will always be `false`.

It is never be possible to dynamic add route in `fastify`. You need to create a whole new instance each time.

[2022-10-10 10:12] climba03003 commented on #4328
I am closing this issue as dynamic add route is not going to be happen.

Once called `await fastify.ready`, `route`, `hooks` can not be changed. You should do it outside the `serverless` function as the document stated.

[2022-10-10 10:12] #4328 closed

[2022-10-10 10:15] xxRockOnxx commented on #4328
Got that.

So that does mean Vercel is saving state of Fastify instead of making new instance each request?

I thought serverless meant no long-running server and so has to start from 0 each time.

I see. That's why initializing fastify inside the handler in my example made it work.

[2022-10-10 10:19] climba03003 commented on #4328
code outside `serverless` function will be cached for a few request determine by how frequent the requests are.
code inside `serverless` function will be executed for each request.

From what it means from your code, the `fastify` instance maybe the same for consecutive request.
You may be `route`, `hooks` for a instance that called `fastify.ready`

[2022-10-10 10:37] #4327 closed

[2022-10-10 16:37] varunkamra commented on #419
https://github.com/fastify/fastify/blob/main/docs/Reference/ContentTypeParser.md is the correct URL to content parser readme if anyone gets a 404.

[2022-10-11 00:21] jhhom commented on #4320
@cesarvspr Yes I'm working on it, will open a PR soon.

[2022-10-11 08:08] #3856 closed

[2022-10-11 08:08] mcollina opened #4333 "Add midnight-smoker to do some basic integration testing"
Check out https://www.npmjs.com/package/midnight-smoker.

The goal is to catch configuration and dependency errors, e.g. a needed dependency wrongly classified as a devDepedency.

[2022-10-11 08:51] ballantyne commented on #4262
v18.8.0 in the script that calls spawn and v18.8.0 in the script that has
the code that is from the readme.

On Sat, Sep 10, 2022 at 5:03 AM Uzlopak ***@***.***> wrote:

[2022-10-11 11:37] jsumners commented on #4333
That's what https://github.com/fastify/fastify/blob/acba25acc3e97e3598daf79537a39a5272dba7b8/.github/workflows/integration.yml does.

[2022-10-11 11:43] richtera commented on #4318
@Eomm You were correct it was directly related to the express plugin. Without it I was able to get our app running with node 16 on cloudrun. Previously with anything >= 15 it would just hang due to spdy. Thank you!

[2022-10-11 15:43] #4333 closed

[2022-10-12 16:55] #4306 closed

[2022-10-13 08:54] #4199 closed

[2022-10-13 11:01] james-gardner opened #4335 "Exceeding Maximum Header Size Causes Connection Reset"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.8.1

### Plugin version

_No response_

### Node.js version

16.13.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

Hi,

This is the first time I've ever logged an i

[2022-10-13 11:33] RafaelGSS commented on #4335
Could you share a reproducible code?

[2022-10-13 12:40] climba03003 commented on #4335
When `max http header` reached, it will fall into `client error`. It cannot be run by a normal route cycle.
You should pass `clientErrorHandler` for handling those error.

[2022-10-13 12:40] #4335 closed

[2022-10-13 16:31] climba03003 commented on #4335
For `Postman` it probably throwing `431` because of it's underlying `node`.
I would believe `cURL` result more than `Postman`.

[2022-10-13 20:15] metcoder95 commented on #4336
@D10f would you like to send the PR with the change? 🙂

[2022-10-15 01:25] D10f commented on #4336
I've created the PR, hopefully everything is correct (please bear with me on this...) [#4337 ](https://github.com/fastify/fastify/pull/4337)

I wasn't really sure how to phrase it so, following the guidelines, I tried to be as brief and concise as possible about it.

[2022-10-15 09:55] Eomm opened #4341 "Serialize the response payload based on the content-type"
Starting from this PR https://github.com/fastify/fastify/pull/4264

Right now, if the user wants to serialize a response has too many options based on the needs.

### Case 1: serialize a non JSON payload

The dev must provide a [reply serializer](https://www.fastify.io/docs/latest/Reference/Reply/#serializerfunc) or an [encapsulated reply serializer](https://www.fastify.io/docs/latest/Reference/Se

[2022-10-15 12:55] Uzlopak commented on #4341
Imho:
While serialization check if reply header has set content-type, if so check if serializer is available and serialize or throw.
If no content-type is set, use request accept header to determine serializer, if possible serialize. If not either fallback to json or by a configurable strictReplyContentTypeWhatever flag return a 406 Not Acceptable Error

[2022-10-15 14:24] leandroandrade commented on #4147
Hi, here is an example of how use decorators dependencies.  Maybe we can improve docs with this example. What are you think?

[code]

[2022-10-15 14:47] iifawzi commented on #4341
I think the serializer determination process needs to be 100% controlled from the backend, determining the serializer based on something coming from the requests (`accept` header) in any case, might leed to unexpected and unwanted behavior

[2022-10-15 15:14] Uzlopak commented on #4341
But this is how HTTP content negotation works.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation

[2022-10-16 08:35] mcollina commented on #4341
I feel we might want to bring all aspects of content-negotiation in.

[2022-10-16 08:36] mcollina commented on #4147
Sure, would you like to send a PR?

[2022-10-16 13:28] driimus opened #4342 "Instances with type-providers are not assignable to `FastifyInstance`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.7.0

### Plugin version

_No response_

### Node.js version

18.1.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04.5 LTS

### Description

Fastify instances with an enabled ty

[2022-10-16 14:19] leandroandrade commented on #4147
Great! I'll send it.

[2022-10-16 17:16] mcollina commented on #4342
cc @sinclairzx81 @fastify/typescript

[2022-10-16 21:07] metcoder95 commented on #4341
Agree with @Uzlopak, that will fit better. If there's no serializer set for content type our best effort is to assess the `Accept` header for content negotiation. Tho, we should be careful and maybe just support a handful of content types (the most common ones) as trying to support all of them might be a gigantic task.

Just a bunch and fallback to HTTP 406 sounds reasonable and a good starting po

[2022-10-17 02:34] silenceisgolden opened #4344 "setBindings is no longer available on the typing of FastifyBaseLogger"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

4.3.0

### Stopped working in version

4.8.1

### Node.js version

18.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### 💥 Regression Report

FastifyLoggerInstance had a

[2022-10-17 06:39] Eomm commented on #4341
Does this flow recap all the cases?

<img width="907" alt="image" src="https://user-images.githubusercontent.com/11404065/196106128-1de5a252-61c6-4bf0-b7cb-83dbd9d587aa.png">

[2022-10-17 06:40] #4308 closed

[2022-10-17 06:40] #4320 closed

[2022-10-17 07:29] iifawzi commented on #4341
I think yes it recaps all cases.

when it comes to the `is the serializer function set`, wdyt about this?

wouldn't it be better if the JSON schema win only for that route? and other routes use the generally defined serializer? i don't know how applicable it's since `content` config will use the same `setReplySerializer` but we can find a solution for that if agreed.

[2022-10-17 08:38] Uzlopak commented on #4341
[code]

[2022-10-17 09:25] climba03003 commented on #4341
The function here is complicated and may not meet the user expectation in certain case.
For example, when you send a file `stream` with proper `content-type`, the user wouldn't expect to have a serializer for it. I don't expect someone need to specify all the `seriallizer` for each `content-type`.

When the `default serializer` is `*/*` with `noop`. Then, there is no much sense to provide such fea

[2022-10-17 09:48] kibertoad opened #4347 "missing types for request.routeConfig"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.9.0

### Plugin version

_No response_

### Node.js version

any

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### Description

Even though fastify reports `request.context.config`

[2022-10-17 09:48] kibertoad commented on #4347
@fastify/typescript

[2022-10-17 11:11] climba03003 opened #4349 "Migration of `the infamous triplet` to next level"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

### Issue

Currently, we aim to support different way of `import` and `TypeScript` environment which is great for developer experience.
However, the tech is growing and the current architect of `the infamous triplet` facing some limitat

[2022-10-17 11:26] mcollina commented on #4349
Is the new system backward compatible?

@fox1t you had an old testbed repo for these. Should we update it for the new testcase/problem?

[2022-10-17 11:28] Uzlopak commented on #4341
As I wrote already as second suggestion: For avoiding such issue we could utilize the `reply.type()` method.

[2022-10-17 11:43] climba03003 commented on #4349
Yes, it support all the previous use case.

[2022-10-17 11:52] Uzlopak commented on #4349
What do we do with fastify-plugin?

[2022-10-17 12:03] climba03003 commented on #4349
It's becomes a tools to provide metadata and exclude encapsulation.

[2022-10-17 12:58] fox1t commented on #4349
@mcollina yes, this was the playground that allowed us to discover that triplet https://github.com/fox1t/modules-playground
I am updating it with the new information, replacing the part that says to use `export default` with `export = ` namespace crafted as above. I want to check that all of the other rules still applies.

[2022-10-17 16:07] kibertoad commented on #4347
@climba03003 Thanks, I'll create a PR shortly then

[2022-10-17 16:18] silenceisgolden commented on #4344
👏🏻 to @BlackHole1, @climba03003 and @mcollina. Thanks for addressing this so quickly.

[2022-10-17 17:03] D10f commented on #4336
Hi, sorry I've been out this weekend and couldn't get access to my computer. But it looks like everything is sorted out, thank you very much for the help!

[2022-10-17 17:03] #4336 closed

[2022-10-17 19:43] Eduwardo opened #4353 "FastifyRequest Query return null prototype"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.x.x

### Plugin version

_No response_

### Node.js version

16.x.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.6

### Description

FastifyRequest return a correct object with expect

[2022-10-17 19:55] Eomm commented on #4353
Is it changed overtime?
I checked #4252 and the behaviour is always the same.

Note that you can get the prototype with:

[code]

I was wondering if we should evict the prototype from all the object that manages user input data. It could be a security strengthening

[2022-10-17 20:41] sinclairzx81 commented on #4342
@driimus @mcollina Hi. This is a good find!

I think it would be ok to update the existing providers to have them infer as `unknown` (instead of `never`) if it means contravariant assignment becomes possible (which would be super desirable). I wouldn't anticipate there being any issues doing this. Just a quick script below to test with, [TypeScript Link Here](https://www.typescriptlang.org/play?#c

[2022-10-17 22:50] driimus commented on #4342
@sinclairzx81 happy to prepare PRs for those soon.

I presume the convention is to update type-provider packages, then manually sync changes to type tests in this repo. Is that right?
https://github.com/fastify/fastify/compare/77b7582...driimus:fastify:test/type-provider-contravariance

[2022-10-17 23:33] rdzidziguri opened #4354 "TypeScript issue while running Fastify TS code after upgrading to 4.9.1"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

4.9.0

### Stopped working in version

4.9.1

### Node.js version

16

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### 💥 Regression Report

[code]
Got the compilation err