[2017-10-16 07:30] krircc commented on #354
ok, i find this one. but not try.

[2017-10-16 07:31] krircc commented on #354
ok, i find this one. but not try.

[2017-10-16 07:31] #354 closed

[2017-10-16 08:40] BigMurry commented on #341
Also there is another problem here.
The `extendServerError` decorator will have no use here, cause the `extendServerError` decorator is behind `store.Reply.prototype._extendServerError`.
And this would fix both the customized error handler and extendServerError decorator issue.
[code]

Good news, already addressed in #330.

[2017-10-16 14:59] astesio opened #355 "Support HTTPS"
Hi guys,

I tested your framework and it is awesome :)

I have a question,  how I use https using fastify? -> Can I use https with [spdy](https://goo.gl/WRE9V8) or use other library?

Cheers!

[2017-10-16 15:06] delvedor commented on #355
Hi! Thank you for checking out the project!
Turns out that we forgot to document it :P

It's very easy:
[code]

In any case I suggest you to handle the ssl termination with NGINX or similar, handle it inside Node is very expensive in terms of performances :)

[2017-10-16 15:22] mcollina commented on #355
@astesio spdy is not supported, but we plan to add support for HTTP2 #181 using the new node core module.

[2017-10-16 15:24] astesio commented on #355
Thanks so much. It is perfect :).

[2017-10-16 15:56] ryexley opened #356 "Optional URL parameters?"
I've looked through all of the docs, including those for find-my-way, and I can't seem to find anything that indicates that defining an optional URL parameter is possible. Am I missing something? Would love to be able to do something like:

`fastify.get( "some/:optional?/parameter", ( req, res ) => { ... } );`

Is there a way to do that?

[2017-10-16 16:01] delvedor commented on #356
Hi! Thank you for checking out the project!
No, there is no way to do that at the moment, if you want you can fire a pr in [`find-my-way`](https://github.com/delvedor/find-my-way) :)
But I don't think there is an easy solution, and the performances could be affected as well.

At the moment an "hacky" solution could be:
[code]

[2017-10-16 16:11] ryexley commented on #356
OK, thanks for clarifying.

[2017-10-16 16:11] #356 closed

[2017-10-17 04:33] codepunkt commented on #181
Yes, please! Having http2 would make me try this instead of express for my next API :-)

[2017-10-17 09:42] delvedor commented on #247
Once https://github.com/fastify/fastify/issues/291 land I'll work on this :)

[2017-10-17 09:44] delvedor commented on #121
This can be closed, further discussion could be done in [fastify/fastify-caching](https://github.com/fastify/fastify-caching) :)

[2017-10-17 09:44] #121 closed

[2017-10-17 14:13] paolochiodi opened #360 "Feature request: make payload for 4xx and 5xx responses configurable"
Would be useful to customise the payload in the response for the default "error" response for any status code returned by fastify.

In my situation, I'd like to respond with something like `{code, message}` instead of `{error, message, statusCode}`

If I understand correctly one can use:
- `fastify.setErrorHandler(handler(error, reply))` (as implicitly proposed in this issue #341) but that is bypa

[2017-10-17 14:26] allevo commented on #360
Have you tried to setup a custom serializer ?
https://github.com/fastify/fastify/blob/master/docs/Validation-And-Serialize.md#serialize

[2017-10-17 14:45] paolochiodi commented on #360
Interesting, thank you for the insight.
I may use combination of the serialiser to strip out the property I don't need and `fastify.extendServerError` to add the ones I need (are those invoked by internal fastify errors as well?)

To be honest though, it sounds a bit confusing and an explicit way would be easier to understand

[2017-10-17 14:53] jsumners commented on #360
I agree.

[2017-10-17 14:57] allevo commented on #360
Sorry, I gave you a wrong information.
Actually the current `fastify` implementation handles the error (not the boom error) in this way:
https://github.com/fastify/fastify/blob/master/lib/reply.js#L57
[Here](https://github.com/fastify/fastify/blob/master/lib/reply.js#L158) the `errorHandler` is used to serialize the error and write the response directly.

Have you tried it?

[2017-10-17 15:07] paolochiodi commented on #360
Yes, I did.
I set up the error handler with `fastify.setErrorHandler`, but the error handler is not called for fastify internal "errors" which include status codes 400 (for validations), 404, 415 etc.
On this topic see also #341

[2017-10-17 18:35] greenkeeper[bot] opened #362 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.0.43** of [@types/node](https://www.npmjs.com/package/@types/node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2F%40types%2Fnode-8.0.43">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>
    <th

[2017-10-17 20:33] gj commented on #296
I'm fixing up grammar and spelling issues as I come across them, but I agree with the sentiment that a general rethinking is in order.

Fastify's an outstanding framework, and I love its performance-first priorities. However, I've had to consult the source code a few times to debug misunderstandings that should ideally be covered in the docs.

Love the idea of a split between a set of introductory

[2017-10-17 21:36] delvedor commented on #296
@gj thank you! :)
If I may, what misunderstandings you had to debug by digging inside the code?

[2017-10-17 21:49] gj commented on #296
@delvedor Getting WebSockets working is the main thing that springs to mind. The `fastify-websocket` package is... slightly under-documented, haha. I was migrating from Express, where I'd been using the basic `ws` library. I eventually got the same implementation hooked up with Fastify, but it just took me a little while to realize that Fastify's HTTP server lives in the `fastify.server` property.

[2017-10-17 21:59] delvedor commented on #296
Thank you! We should definitely document better that part, you are not the first one that need an easy socket support. Maybe we could add a plugin also for `ws`.

[2017-10-17 22:51] gj commented on #296
@delvedor Forgive my ignorance, but what's the need for a plugin? `ws` integrated seamlessly with Fastify (after I figured out the `.server` location, haha), and I'm not sure fallbacks are worth the additional dependencies / performance hit when >94% of browsers support web sockets.

Maybe we should take this discussion to [`fastify-websocket`](https://github.com/fastify/fastify-websocket). 🙂

[2017-10-18 02:13] gj commented on #326
This looks like it does the trick: https://github.com/fastify/middie#restrict-middleware-execution-to-a-certain-paths

[2017-10-18 12:07] delvedor commented on #296
@gj potentially you can do everything without a plugin, Fastify is very flexible.
The idea of releasing it as a plugin is that you will not need to redo that work in the future, or help newcomers that have not a deep knowledge of the framework apis :)

[2017-10-18 18:52] alexhultman opened #365 "uws.http experimentation?"
If you don't mind goofing around a bit I would be interested in getting some results from testing uws.http with fastify.

So the idea is that you replace Node.js's http server with the one in uws. I don't have any time for this myself and it doesn't seem supported by fastify currently to swap the underlying http server used. If anyone wants to experiment that would be interesting. I know Express.j

[2017-10-18 20:40] gj commented on #296
@delvedor Let me know what you think: https://github.com/gj/fastify-ws

[2017-10-18 20:58] mcollina commented on #365
Yes it would be of interest! Adding support for this should be simple enough, sure you don't want to try?

[2017-10-19 10:53] mcollina commented on #326
closing as it should be solved.

[2017-10-19 10:53] #355 closed

[2017-10-19 10:54] mcollina commented on #327
It is going to get accepted, but it will take a while before we can use that everywhere. We should have a ponyfill situation.

[2017-10-19 18:28] jsumners commented on #362
It seems like every new version of this library breaks the build. Can we move the Typescript support out into its own module?

[2017-10-19 20:05] keuller opened #368 "How can I enable Gzip in Fastify ?"
Hi guys,

Anyone knows which plugin/middleware that can I use to enable gzip compression in routes ?

Thanks.

[2017-10-19 20:22] jsumners commented on #368
https://github.com/expressjs/compression ?

[2017-10-19 20:34] StarpTech commented on #368
@keuller https://expressjs.com/en/advanced/best-practice-performance.html If you want to build a high-performance application you should use a reverse proxy (Nginx, Apache, IIS) otherwise you can use the middleware mentioned above.

[2017-10-20 04:52] baadc0de opened #371 "streaming response + client closed connection is treated as an error"
Server side code:
[code]

Client side is the `ffprobe` program from FFMpeg

[code]

It seems to crash fastify because `ffprobe` closes connection once it knows enough about the file.

Fastify versions:
[code]

Console output:
[code]

[2017-10-20 09:03] BigMurry opened #372 "Delayed `preHandler` hook setup will make the `preHandler` hook get lost"
For the following test code:
[code]
The delayed `preHandler` will missing (not exist in the router handler store), but the delayed `onRequest` will not.

I debug this a little find that:
https://github.com/fastify/fastify/blob/07f7e9bfebac52439114f9931f3915ee82048d4e/fastify.js#L386-L406
In this section, it can be found that the `onRequest` and `onResponse` hooks in `store` will hold the correspon

[2017-10-20 10:32] mcollina commented on #371
Can you please upload an example to demonstrate your problem? (ideally without ffmpeg).

[2017-10-20 15:00] delvedor commented on #372
Why do you need to delay the hooks registration?
The behaviour for the `preHandler` is correct, because we must attach to it the `beforeHandler`([docs](https://github.com/fastify/fastify/blob/master/docs/Hooks.md#beforehandler)).

`addHook` is a synchronous api, if you need to perform some async work before add a hook, you must use a plugin, that will handle all the async-related problems for you.

[2017-10-20 15:00] #372 closed

[2017-10-20 15:02] delvedor commented on #362
@jsumners I'm not a typescript expert, is it possible?
cc @evanshortiss

[2017-10-20 15:04] delvedor commented on #360
This should be addressed in https://github.com/fastify/fastify/pull/330.
Can you try with [this](https://github.com/letzdoit/fastify/tree/onSend) branch?

[2017-10-20 17:49] BigMurry commented on #372
Yes, it should be a synchronous api and should not delay the registration. But, if we don't do it carefully, we may have trouble to write the test.

For example, in `hooks.test.js` file, if we move the `onRequest hook should support encapsulation / 1` test above the `hooks - add preHandler` test, the test will fail. And this gives me some hard times to figure out why. :D

[2017-10-22 20:09] delvedor commented on #372
Yeah, it's an old file that has been modified different times, it definitely needs a little refactor :P

[2017-10-22 20:34] StarpTech opened #375 "Response has unexptected output"
Root issue https://github.com/fastify/fastify-static/issues/13

I already removed `point-of-view`, `send` (fastify-static) package to escape the issue but it still exists. The rest is routing.

For me, it looks like that we have an issue in the response pipeline. The responded file in `marko-fastify` has the content of a different file.

[2017-10-22 22:10] allevo commented on #375
Could you provide an simple example? A test is even better...

[2017-10-22 23:32] StarpTech commented on #375
No, but you can checkout the marko-fastify example and test it.

[2017-10-23 06:58] allevo commented on #375
Could you provide a simple "todo" list in order to reproduce the error?
Like:
- clone repo <>
- checkout the branch <>
- npm i
- npm start
- navigate to here <>
- the url <> is not downloaded as aspected

[2017-10-23 08:52] StarpTech commented on #375
- Clone https://github.com/marko-js-samples/marko-fastify
- npm i
- node ./server.js
- open localhost:8080
- open devTools and look in the console, you will see an error. If you compare the source code of the js files with the files in the static folder you will recognize that many files are responded with incorrect content. If you refresh the page other files will be affected.

[2017-10-23 09:53] StarpTech commented on #229
Http-Caching is done? https://github.com/fastify/fastify/issues/121

[2017-10-23 10:55] jsumners commented on #229
No. It just has its own repository.

[2017-10-23 11:07] StarpTech commented on #229
But what's the milestone in caching?

[2017-10-23 11:51] jsumners commented on #229
There is discussion about it in the issue tracker on that repo. But the short of it is that I am currently running for office in my city and don't have free time to work on it. Thankfully, the final Election Day is November 7.

[2017-10-23 20:26] allevo commented on #375
Really, could you provide a "curl" command that return a different content?

I don't want to navigate among js errors. Please provide a simplest example in a smaller context.

[2017-10-23 22:03] StarpTech commented on #375
This issue is not reproducible with a fixed js ressource. It's not that hard to checkout that simple repository and check the responses.

[2017-10-23 22:21] jberry93 commented on #161
@mcollina I made a simple plugin that may need some additions if you are interested. Could I make a PR on fastify's repo or is there a fastify-webpack repo I can open a PR on? Thanks!

[2017-10-24 00:24] BigMurry commented on #375
This issue is related with `find-my-way` I guess. In `find-my-way` with version `1.7.0` we may face many routes finding problems. Background see  https://github.com/delvedor/find-my-way/pull/29
So in `fastify` if we upgrade `find-my-way` to version `1.7.1`, the problem should disappear :). I've tested on my computer.

[2017-10-24 07:12] shuaqq2004 opened #378 "How do I use Https through typescript?"
https://github.com/fastify/fastify/issues/355

const opt: fastify.ServerOptions = {
    https: false  --> boolean
};

const server: fastify.FastifyInstance = fastify(opt);

js:
const fastify = require('fastify')({
    https: {
      key: fs.readFileSync(path.join(__dirname, 'file.key')),
      cert: fs.readFileSync(path.join(__dirname, 'file.cert'))
    }
  })

[2017-10-24 07:20] delvedor commented on #378
cc @evanshortiss

[2017-10-24 07:22] themre commented on #375
Probably this is related. I create redirects for leaflet image tiles and responses are created randomly.

[2017-10-24 07:40] themre commented on #375
Just bumped find-my-way, tested and it works! when can we expect new version of fastify?

[2017-10-24 07:51] delvedor commented on #375
There is no need to release a new version of fastify since `find-my-way` has been released as patch. If you reinstall fastify you will have the latest version of `find-my-way`.
That's how semver works ;)

Can you confirm me that the latest version of `find-my-way` fixes also this issue?

[2017-10-24 07:52] themre commented on #375
yes, my version with latest find-my-way works expect. there are at least 50+ tiles provided at once and they are all correctly displayed. previously they were randomly displayed.

[2017-10-24 07:56] delvedor commented on #368
Closing this, if you have more questions feel free to reopen :)

[2017-10-24 07:56] #368 closed

[2017-10-24 07:57] delvedor commented on #324
Closing for inactivity :)

[2017-10-24 07:57] #324 closed

[2017-10-24 09:03] delvedor commented on #214
Closing this, if you want to continue the discussion feel free to reopen :)

[2017-10-24 09:05] delvedor commented on #151
Closing this, if you want to continue the discussion feel free to reopen :)

[2017-10-24 09:06] #100 closed

[2017-10-24 09:07] delvedor commented on #297
Closing this, if you have more questions feel free to reopen :)

[2017-10-24 09:07] #297 closed

[2017-10-25 01:57] bhanuc opened #380 "Not handling Chinese characters correctly"
Replicate issue:
[code]
It returns -> {"hello":"èœé¸Ÿé©¿ç«™"}, I tried to debug the issue in the core, but seems string is fine even till the call of wrapReplyEnd fn, but could not follow the flow afterwards.

[2017-10-25 04:13] evanshortiss commented on #362
Looks like it's related to a node install issue on the CI box?

[code]

It is possible to host them in the DefinitelyTyped/DefinitelyTyped repository instead. Then just need to weigh pros/cons of them being decoupled from the main repo.

[2017-10-25 04:37] evanshortiss commented on #380
@bhanuc look like setting the charset in the `content-type` header will do it. Had a similar issue recently, but not with fastify.

Here's a quick fix:

[code]

Looks like [this line](https://github.com/fastify/fastify/blob/master/lib/reply.js#L74) could be updated to include the charset?

[2017-10-25 06:38] delvedor commented on #380
@evanshortiss nice catch!
Since we are refactoring the `send` code I'll add your suggestion in https://github.com/fastify/fastify/pull/330 :)

[2017-10-25 06:38] delvedor commented on #375
cc @StarpTech @allevo

[2017-10-25 08:14] StarpTech commented on #375
After a reinstall, I cant reproduce it +1

[2017-10-25 08:14] #375 closed

[2017-10-25 08:55] StarpTech opened #382 "Can't use serve-static middleware"
Hi, I just want to test `serve-static` package which exports an express middleware to serve static files but I don't get it to work. Do we have incompatibilities with the express middlewares?

[code]

- `http://localhost:8080/static` returns 404
- `http://localhost:8080/static/test.js` returns 404

[2017-10-25 14:41] SerayaEryn commented on #382
I had the same problem. Passing the absolute path of the "/static" folder to `serveStatic()` solves the problem:
[code]

[2017-10-25 20:07] allevo commented on #382
Hi!
thanks for checking out `fastify`!

[`serve-static`](https://www.npmjs.com/package/serve-static#servestaticroot-options) accepts the directory you want to serve.

`/static` means that there's a folder on your root `/` that you want to serve. Instead `path.join(__dirname, "/static")` means that the folder you want to serve is located near your file.

[2017-10-25 23:44] evanshortiss commented on #378
@shuaqq2004 @delvedor PR #383 should solve this with the updated typings

[2017-10-26 14:11] loretoparisi opened #386 "Examples how to user a Express Router"
Supposed to have a pre-existing `express` app with `express-router`, how to port to `fastify`:

[code]

[2017-10-26 14:45] delvedor commented on #386
I highly recommend to use our router, since is way faster and performant :)

[2017-10-26 15:05] #378 closed

[2017-10-26 15:13] allevo commented on #268
Closed by https://github.com/fastify/fastify/pull/373

[2017-10-26 15:13] #268 closed

[2017-10-26 15:15] allevo opened #387 "Add path url to Request object"
as titled, I'd like to have `path` in the fastify Request object
[code]

[2017-10-26 15:18] mcollina commented on #387
👍  PR?

[2017-10-26 15:20] allevo commented on #387
I'll do it :+1:

[2017-10-26 17:19] jsumners opened #389 "onResponse doesn't have access to the server instance?"
It looks to me like functions registered to the `onResponse` hook do not have access to the Fastify instance, e.g.:

[code]

Is there a reason for this? The documentation doesn't make any mention of this and I would expect `this` to be bound like it is in other hooks.

[2017-10-26 17:28] delvedor commented on #389
The hooks does not bind the server context at the moment.
Related: https://github.com/fastify/fastify/issues/120

[2017-10-26 17:31] jsumners commented on #389
Oops, I forgot about that issue.

[2017-10-26 17:31] #389 closed

[2017-10-26 17:33] jsumners commented on #120
I claim there is definitely a need for this. As a concrete example, I am attempting to use it `fastify-caching` to access `this.cache` so I can store an indicator that the resource can be served from the user's cache:

[code]

[2017-10-26 17:37] mcollina commented on #120
definitely 👍 . I think we should work on a PR after #330 lands.

[2017-10-26 20:11] StarpTech opened #391 "Error propagation issue"
I found a strange behaviour @mcollina @allevo
It's a bug https://github.com/mcollina/avvio/issues/32 or limitation in avvio but I also open an issue here. The reason is that only the next `after` or `ready` callback get the error and [here](https://github.com/fastify/fastify/blob/master/fastify.js#L378) is a `after` callback registered that's why example 3 doesn't work.

We have 3 different states

[2017-10-26 20:16] delvedor commented on #391
If you see this from the point of view of `avvio` is not an error, is the correct behaviour. If you want that the error gets propagated you must pass the error to the next callback of `after`.

If you see this from the point of view of Fastify, yes, it's a bug.
Because we register the routes inside an `after` callback and we do not propagate that error.

I've fixed that 3 hours ago https://github.

[2017-10-26 20:17] StarpTech commented on #391
Nice 👍

[2017-10-26 20:18] #391 closed

[2017-10-26 22:12] leecade opened #392 "How to get an fastify instance in the route handler?"
[code]

[2017-10-26 22:20] delvedor commented on #392
Hi! thank you for checking out Fastify!
You can't, we highly recommend to use the plugin system and not put the route handlers in different files.
Have a look [here](https://github.com/fastify/fastify-mongodb/issues/9) :)

[2017-10-27 10:03] wong2 opened #393 "How to get raw query string?"

[2017-10-27 10:44] BigMurry commented on #393
You can get the full url from `request.req.url`, and the raw query string can be retrieved from there.

[2017-10-27 10:45] wong2 commented on #393
@BigMurry thanks! hope there is something like `request.querystring`

[2017-10-27 10:48] BigMurry commented on #393
@wong2 Already have a JSON format one from `request.query`

[2017-10-27 12:27] delvedor commented on #393
Agree with @BigMurry!
Closing this, if you have more questions feel free to reopen :)

[2017-10-27 12:27] #393 closed

[2017-10-27 12:32] wong2 commented on #393
my api accept query like: `/:uid/avatar?imageView2/0/w/300/h/300/q/80`, and I need to redirect to a new url, while preserve the query string, currently it's hard to do actually.

[2017-10-27 12:38] jsumners commented on #387
I think the path and all such components (query string, anchor) should be available as properties of the object. See #393 for an example of why.

[2017-10-27 12:40] wong2 commented on #387
agreed

[2017-10-27 14:06] delvedor commented on #387
I think that this would fit nicely in a plugin, a decorator that adds to the request `url`, `querystrinng` and `anchor` and an hook to get that data.

Fastify is built to be super lightweight and extensible via its plugin system, in core we should support all the basic functionalities and the apis for the plugin system.

[2017-10-27 14:25] jsumners commented on #387
But these are core pieces of information that a plugin would want to use.

[2017-10-27 14:36] delvedor commented on #387
If a plugin needs this data, it can register the `fastify-url-data` plugin itself ;)
Again, I don't think this should be a core provided thing.

But since there are different opinions, we can vote!
Put a 👍  if you want this feature in core, put a 👎  if you want this feature as external plugin *(in this comment)*.

cc @mcollina @allevo

[2017-10-27 14:40] delvedor commented on #387
Let's not forget that add this feature in core would mean run some code to extract the "clean" `url`, the `anchor` and the `querystring` and add them to the `request` object for every request, even if you do not need that data.

IMHO everything that is not mandatory should be supported as plugin.

[2017-10-27 14:55] jsumners commented on #387
https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L14

At least part of this information is already being parsed on every request. The suggestion is to go ahead and cache that data upon the first parsing of it. By shifting it into a plugin, this information will be parsed _multiple_ times per request.

[2017-10-27 14:57] mcollina commented on #387
I think we are already doing most of this for every request anyway (url in find-my-way). Parsing the anchor or the querystring can be done via accessors on first use.
We might have to refactor find-my-way to expose that data and avoid doing this twice.

[2017-10-27 15:13] allevo commented on #387
I'm not convinced at all.

If the developers have not had that feature until now maybe it is not needed to keep this feature in the core

And a "communication/protocol" between `find-my-way` and `fastify` is dangerous.

[2017-10-27 15:42] mcollina commented on #387
So, `path` as another problem: plugin prefixes. Express does a lot of work in rewrite those for each prefixes.
Maybe we should not do them at all.

[2017-10-27 17:16] jsumners commented on #387
I would say provide the path as it is configured for the handler. For example,

[code]

[2017-10-27 17:25] mcollina commented on #387
@jsumners that is a very expensive thing to do, I would avoid doing it for every request, bur rather do it on-demand with an accessor.

[2017-10-27 23:59] astesio opened #395 "Hooks reply"
I have a doubt.
Following the documentation you can see [here](https://www.fastify.io/docs/latest/Hooks/#scope) says that
_If you get an error during the execution of you hook, just pass it to next() and Fastify will automatically close the request and send the appropriate error code to the user.

If you want to pass a custom error code to the user, just use reply.code():_

`fastify.addHook('onReq

[2017-10-28 00:43] jsumners commented on #395
Interesting, fastify.io seems to be out-of-sync with the master on that page (ping: @lmammino). The example should be:

However, you state you are working with the `onRequest` hook. That being the case, you really want to do:

[code]

[2017-10-28 02:03] astesio commented on #395
@jsumners thanks for answer my question, well I need validation if an uri created by my first user in my application it is already using, if it is true, I will reply an error, otherwise I will let pass. See the [image](https://www.fastify.io/docs/latest/Lifecycle/) diagram I think it is the better location for validation for this situation.
What do you think ?

[2017-10-28 02:08] jsumners commented on #395
I'm sorry, I don't follow your question.

[2017-10-28 02:12] astesio commented on #395
I did not understand, but I no problem. ;)

[2017-10-28 16:24] delvedor commented on #392
Closing this, if you have more questions feel free to reopen :)

[2017-10-28 16:24] #392 closed

[2017-10-28 16:53] delvedor commented on #395
Closing this, if you have more questions feel free to reopen :)

[2017-10-28 16:53] #395 closed

[2017-10-28 16:53] delvedor commented on #386
Closing this, if you have more questions feel free to reopen :)

[2017-10-28 16:53] #386 closed

[2017-10-28 19:11] allevo commented on #387
From `fastify` point of view, we don't need that feature: `fastify` engine (`avvio`, `find-my-way`, etc...) doesn't need this feature in order to work. So there's no reason to add it here.

I'm 👍  to add this feature on-demand and in a plugin.

I'd like to keep `fastify` as light as possible without features that aren't needed for the engine.

[2017-10-29 09:22] StarpTech commented on #382
thanks, now clear for me but I will create a PR to update the docs.
https://github.com/fastify/fastify/blob/master/docs/Middlewares.md

[2017-10-29 09:22] #382 closed

[2017-10-29 09:54] StarpTech commented on #380
After some research, I found out that this is not a bug. The default encoding of JSON is UTF8. If you view the response directly in the browser and you don't set the correct page charset the browser will misinterpret it. Try to request your API with CURL or Postman you will see the correct output. We shouldn't add:

https://github.com/request/request/issues/383

- The standard does not define a ch

[2017-10-29 11:06] mcollina commented on #380
Thanks for chiming in @StarpTech! I think we should not add the charset and close this issue.

[2017-10-29 11:06] #380 closed

[2017-10-29 12:48] StarpTech commented on #304
What's the status here? Should we go with a plugin name ?

[2017-10-29 13:47] jsumners commented on #304
To be clear: I don't really like the `attributes` function property in Hapi. I just showed it as an example of what others do. I much prefer https://github.com/fastify/fastify/issues/304#issuecomment-332503403.

That would also allow for more flexibility in the future with how plugins are registered.

[2017-10-29 14:00] StarpTech commented on #304
@jsumners but you can register multiple plugins with `register` what's your solution for this?

[2017-10-29 14:09] jsumners commented on #304
Hmm, good point. I'd say that is already an odd API. What if the plugins you want to register have conflicting options? How do you specify the correct options to multiple plugins if that is case?

Solution:

[code]

[2017-10-29 14:35] StarpTech commented on #304
This could be one solution but I don't like it.

Easy, use `register` with one plugin if you don't want to share options

- With your solution, it's not possible to set the plugin name inside a plugin.
- It would be also nice if we could set default options  inside a plugin

What do you think about that solution? `fastify.pluginName` is a public symbol.

[code]

[2017-10-29 18:57] allevo opened #399 "Fastify as light as possible or as a minimum framework?"
I'd like to start talking about this question.

I have to explain myself (the list is only for the clarification, not carved in stone):
- routing is needed
- start up process is needed
- encapsulation is needed
- validation is not needed
- serialization is needed
- parsing URL and query string is not needed
- logging is not needed
- others...

Actually we are able to split to project into two part

[2017-10-29 19:25] StarpTech commented on #399
Everything should be clear.

[2017-10-30 00:37] jsumners opened #400 "Allow payload to be modified in `onSend` hook"
https://github.com/fastify/fastify/pull/330#issuecomment-340032197

Blocker for #229.

[2017-10-30 00:40] jsumners commented on #291
Closed by #330

[2017-10-30 00:40] #291 closed

[2017-10-30 00:45] jsumners commented on #229
Blockers list updated with closing of `onSend` and addition of two new items.

[2017-10-30 04:20] sebdeckers opened #401 "Custom error statusCode"
(Apologies for the simple question. I'm completely new to Fastify and could not yet find the answer in the docs/examples/issues/source.)

## Question

Can a thrown Error instance set the outgoing HTTP status code?

## Use Cases

- Output specific status codes with convenient error throwing from async functions.
- https://www.npmjs.com/package/http-errors

## Example

[code]

## Actual Output

[cod

[2017-10-30 06:45] mcollina commented on #229
Thanks!

[2017-10-30 07:45] delvedor commented on #400
Just a nit, the payload **can** be modified, it cannot be replaced.

[2017-10-30 07:58] delvedor commented on #401
Hi! Thank you for checking out Fastify!
You can do that in three ways:
[code]

[2017-10-30 08:01] wong2 opened #402 "How to throw 404 error in router?"
I've setup a 404 handler with `setNotFoundHandler`

[code]

Now my question is, how can I throw a 404 error in router to use this handler?

[code]

[2017-10-30 08:01] mcollina commented on #401
I thought that was supported.
IMHO we should change this block (https://github.com/fastify/fastify/blob/master/lib/reply.js#L176-L203) so that it checks if an error has a `statusCode`  property, and use that instead of 500.
Would you mind opening up a PR?

[2017-10-30 08:03] mcollina commented on #402
The not found handler is triggered when no route matches, you need to return a 404 manually inside your route if a user cannot be found.

[2017-10-30 08:06] delvedor commented on #402
In addition to what @mcollina said, if you have the exact same code for all your 404s, you can do something like the following:
[code]

[2017-10-30 09:23] StarpTech commented on #400
@delvedor @jsumners could we write down your analysis? Why do you think that we can't replace/modify the payload? It's much easier to write down our thoughts.

https://github.com/fastify/fastify/blob/master/lib/reply.js#L212

[code]

[2017-10-30 09:30] mcollina commented on #400
[code]

does not work atm

the best API would be:

[code]

Or with async/await

[code]

This probably needs quite a rework.

[2017-10-30 10:36] mcollina commented on #387
Closing this for now, but we should re-evaluate it in the future.

[2017-10-30 11:08] relvao commented on #362
@jsumners You can move the definition out of the module and into @types (https://www.npmjs.com/~types) but you would be transferring this frustration to the end user.

Unless they are always using the latest Typescript version, users have to manually map the version of the typings to a release of the modules. There is no easy way to do this. By having them bundled together you save end users a lot

[2017-10-30 11:35] mcollina commented on #399
IMHO we should add as much features as possible without creating:

a) a too complex API
b) any slowdown

This is definitely ok to ask. Regarding `req.path`  and other things, those are __very complicated__, and it might be that they are not in our roadmap for 1.0.0.

BTW, logging is __standardized__ but disabled by default. In this way we can log things internally without having to create another

[2017-10-30 11:52] sebdeckers commented on #402
Using #404 and [`npm:http-errors`](https://www.npmjs.com/package/http-errors) you'd be able to do:

[code]

[2017-10-30 12:15] jsumners commented on #120
Is there anyone familiar with how this works that is willing to start the PR now that #330 is merged? cc: @fastify/fastify

[2017-10-30 12:17] jsumners commented on #362
Ugh, this Typescript stuff is so annoying.

[2017-10-30 13:08] StarpTech commented on #120
Should be easy, here a start:

- onSend: https://github.com/fastify/fastify/blob/6d596ab5f7acfc4070d7e4f7e5be22c5132cf331/lib/reply.js#L143
- https://github.com/fastify/fastify/blob/6d596ab5f7acfc4070d7e4f7e5be22c5132cf331/fastify.js#L252

[2017-10-30 13:53] jsumners commented on #387
Does this solve the issue (and issue #388)? https://github.com/fastify/fastify-url-data

[2017-10-30 15:18] #401 closed

[2017-10-30 16:09] nbrady-techempower opened #407 "Techempower Framework Benchmarks"
Hey Guys!

I just stumbled upon this while looking at another JS framework (There are multiple JS frameworks? Who knew?) Selfishly, I'd love to see how this stacks up against the JS frameworks in our [Framework Benchmarks Tests](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/JavaScript)

I may take a shot at it in the next couple of weekends, but if one of the core contr

[2017-10-30 16:24] jsumners commented on #407
See https://github.com/fastify/benchmarks

[2017-10-30 16:28] mcollina commented on #407
Feel free to ping myself or @delvedor, we will help!

[2017-10-30 16:55] Cameron-C-Chapman commented on #299
Is this issue ok to close or is there an idea that the categorization of the plugins should go a little further than just core and community?

I see @mcollina had a question out on #384 about a possible issue with the website but I don't see an issue with the website unless I'm missing something.

[2017-10-30 16:56] mcollina commented on #299
the website was not building correctly, it’s fixed now

[2017-10-30 23:11] StarpTech commented on #120
I created a PR https://github.com/fastify/fastify/pull/408

[2017-10-30 23:42] marcbachmann commented on #147
FYI https://github.com/marcbachmann/passport-light

[2017-10-31 00:21] BigMurry opened #409 "throws in `onSend` hook never come back"
`onSend` hook may has a cycle execution issue when calling `next(new Error('some error'))`. For example:

[code]
if we start a `GET /` request, it'll timeout
As the current execution sequence is:
 `onSend next(some error)` -> `wrapOnSendEnd` -> `onSendEnd` -> `handleError` -> `onSend hook`
If `onSend` throws error again, the upper execution will start again.

Create a PR #410

[2017-10-31 02:28] wong2 commented on #402
@sebdeckers nice!

[2017-10-31 02:28] wong2 commented on #387
@jsumners looks nice, please release it

[2017-10-31 09:09] #181 closed

[2017-10-31 10:07] #409 closed

[2017-10-31 12:24] jsumners commented on #387
It is now published under my npm profile. It'll get moved to the org when possible.

[2017-10-31 12:24] #387 closed

[2017-10-31 14:35] StarpTech commented on #120
I created a new one https://github.com/fastify/fastify/pull/414

[2017-10-31 14:45] jsumners commented on #120
It'd be really great if you simply pulled in upstream changes to an existing PR to resolve conflicts in the future.

[2017-10-31 14:47] StarpTech commented on #120
For me it was easier to create a new one instead to merge the changes. I can take care about this in future.

[2017-10-31 15:41] allevo opened #415 "Document how to execute a benchmarks"
On new merge request we should check if there's a regression or not.
It's needed a "TODO" list in order to provide a guide for making the benchmark

Like:
- check master branch out
- execute this script
- check your branch out
- execute this script
- compare the results

where "execute this script" is TBD.

[2017-10-31 15:42] StarpTech commented on #415
- Print Platform information for better understanding https://github.com/hemerajs/hemera/blob/master/benchmark/platform.js

[2017-10-31 16:09] delvedor commented on #360
This should be addressed in the latest release, can you try it?

[2017-10-31 17:57] mcollina opened #417 "plugin to return 503s if the server is under too much pressure"
These are the equivalent for hapi `load.maxHeapUsedBytes`, `load.maxRssBytes` and `load. maxEventLoopDelay`. For the latter, the plugin should use https://github.com/mcollina/loopbench.

[2017-10-31 20:40] delvedor commented on #417
I'm working on it [here](https://github.com/fastify/under-pressure) :)

[2017-10-31 23:36] StarpTech commented on #415
I've implemented a handy tool to checkout multiple repositories, run commands and print them in the console for copy & paste https://github.com/StarpTech/branch-comparer

[2017-11-01 05:46] #402 closed

[2017-11-01 06:39] BigMurry commented on #341
close this as fixed in #330.

[2017-11-01 06:39] #341 closed

[2017-11-01 08:02] avilang opened #419 "How can I Send out a request in Postman?"
I start-up a HTTP Service through fastify and create a post request.
Then,is run well in Browser.But is bad in Postman.
error message:
`  "error": "Unprocessable Entity",
    "message": "",
    "statusCode": 422`

[2017-11-01 08:30] delvedor commented on #419
Hi! Thank you for checking out Fastify!
By default Fastify supports only `application/json` as content type. Are you setting it in your headers of your post request?

[2017-11-01 08:42] avilang commented on #419
Yes,I have set it.
Content-Type: application/json;charset=UTF-8

[2017-11-01 08:45] delvedor commented on #419
Can you paste your body?

[2017-11-01 09:46] avilang commented on #419
[code]
index.html
[code]

[2017-11-01 09:47] avilang commented on #419
that is run well in Browser.But is bad in Postman

[2017-11-01 11:10] #417 closed

[2017-11-01 11:32] StarpTech commented on #419
@avilang What's your postman command? Click on "Code" at the right corner and paste the Curl or HTTP command in the issue.

[2017-11-01 11:51] avilang commented on #419
[code]
@StarpTech

[2017-11-01 12:21] StarpTech commented on #419
@avilang this is the same issue https://github.com/fastify/fastify/issues/297
fastify is responsible to parse `application/json` but your body contains no valid json.

Use an empty object as body
[code]
or specify a [custom content-type parser](https://github.com/fastify/fastify/blob/master/docs/ContentTypeParser.md) which can handle empty strings

[2017-11-01 13:34] avilang commented on #399
Hi guys , What think about schedule task? like [egg schedule](https://github.com/eggjs/examples/tree/master/schedule)

[2017-11-01 15:23] StarpTech commented on #120
Fixed in https://github.com/fastify/fastify/pull/414

[2017-11-01 15:23] #120 closed

[2017-11-01 15:24] StarpTech commented on #419
Feel free to open another issue I think it's done.

[2017-11-01 15:24] #419 closed

[2017-11-02 05:32] evanshortiss commented on #362
@relvao has summed it up pretty well, it's definitely still stabilising and imperfect, but even moving it outside of here won't prevent folks from opening issues AFAICT.

In any case it looks like the build issue in this case (last I checked) was unrelated to TS and was simply a setup issue in getting node versions installed on the CI host.

[2017-11-02 08:28] paolochiodi commented on #360
Hi, thanks for the update. I'll be able to test it in the weekend

[2017-11-02 18:28] mcollina commented on #399
@avilang what do you mean?

[2017-11-02 21:28] mikemfleming opened #426 "How to format error message in Fastify response?"
I want to send back a more human readable error message when a request fails validation because the one that is sent back by default is a bit mangled. What is the best way to go about doing this?

Server response to a bad request:
[code]

[2017-11-02 22:46] mikemfleming commented on #426
In the event that I'm using a regex pattern in my schema validation it returns that pattern to the client which seems a bit unsafe. Thoughts?

[2017-11-03 01:17] avilang commented on #399
@mcollina
The HTTP Server we have developed through frameworks is a request/response model.but there are still lots of scenes that require it to execute some timed tasks.such as:
1. Report application state at regular time
2. Update local caches at regular time from a remote interface
3. Split files and delete temporary files at regular time
It would be better if Fastify can provide a set of mecha

[2017-11-03 01:25] jsumners commented on #399
I don't understand how any of that is the responsibility of an HTTP framework.

[2017-11-03 02:42] BigMurry commented on #426
Perhaps you can try this
https://github.com/epoberezkin/ajv-errors

But first you need to get  the raw schema validation errors, can use `extendServerError`:
[code]

[2017-11-03 05:47] wjtGitHub opened #428 "How to solve under TS？"
In official document

The Fastify instance is an Iterable object with all the registered routes.
[code]
how to print route under typescript

[2017-11-03 08:20] mcollina commented on #428
cc @evanshortiss

[2017-11-03 08:22] mcollina commented on #426
@mikemfleming you should really customize these. There is a `fastify.setNotFoundHandler()` and  `fastify.setErrorHandler()`.

[2017-11-03 08:22] mcollina commented on #426
I'm also happy with a better default, if you want to send a PR.

[2017-11-03 08:50] delvedor commented on #399
@avilang thank you for the proposal. I don't think this should be something that the http framework should do. But luckily Fastify has a powerful plugin system, you can build a plugin that does exactly what you need :)

Regarding the overall discussion I think Fastify should keep its mission to provide a extremely low overhead framework, with a set of powerful api to extend it. In this way the dev

[2017-11-03 10:07] greenkeeper[bot] opened #429 "An in-range update of fast-json-stringify is breaking the build 🚨"
## Version **0.15.1** of [fast-json-stringify](https://github.com/mcollina/fast-json-stringify) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Ffast-json-stringify-0.15.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      fast-json-stringify
    </t

[2017-11-03 10:09] allevo commented on #429
From travis
[code]

[2017-11-03 10:21] delvedor commented on #429
I ran the test locally and everything was good.
Probably was an error related to Travis.

[2017-11-03 10:21] #429 closed

[2017-11-03 15:08] mikemfleming commented on #426
Thanks for the quick responses!

I looked through the source code but haven't found where to alter this just yet. I'll continue to look at it, but in the meantime this is what solved my issue:
[code]
It's fine for internal use although it could be improved. I'm also not sure if/how it affects optimizations from fast-json-stringify.

[2017-11-03 20:49] mikemfleming opened #431 "Running tests produces: "Error: root plugin has already booted""
[code]

I'm trying to write my tests in such a way that they spin up a new server, but I can't find my way around this error. It seems to be coming from `avvio`. Am I missing something in my configuration?

run tests
`mocha --recursive`

test.js
[code]

server.js
[code]

Thanks!

[2017-11-03 21:42] mcollina commented on #431
Exporting your server is an antipattern, it leads to fragile applications that are hard to test (because of shared state).

Fastify boots once, you can boot it twice. Wrap your application in a plugin, then boot a new instance of fastify and register that plugin.

[2017-11-03 21:42] mcollina commented on #431
Or use a factory to build your fastify instance.

[2017-11-03 22:06] mikemfleming commented on #431
Thanks!

[2017-11-03 22:10] #431 closed

[2017-11-03 22:45] StarpTech commented on #415
This PR will fix this issue https://github.com/fastify/fastify/pull/421 💪

[2017-11-04 11:45] StarpTech commented on #415
@allevo can we close it? The user only has to do `npm run bench` to compare master with the current branch and paste the results in the PR.

[2017-11-04 11:48] mcollina commented on #415
This can be closed now.

[2017-11-04 11:48] #415 closed

[2017-11-05 19:09] jsumners commented on #121
Fixed by https://github.com/fastify/fastify-caching/releases/tag/v1.0.0

[2017-11-05 19:10] jsumners commented on #229
@fastify/fastify please re-review the blockers list. There is only one open at this time. Make sure there are not any others that should be there.

[2017-11-06 15:23] paolochiodi commented on #360
Tested latest release and can confirm that `setErrorHandler` is called for internal 4xx errors (I've tested 400 and 404).

This solves my problem, so for me it's ok to close the issue.
However, I'd suggest to better define the meaning and the behaviour of `setErrorHandler` (i.e. customising core 4xx error vs intercepting and wrapping application errors)

[2017-11-06 15:26] delvedor commented on #360
@paolochiodi thank you for trying! :)
Regarding the documentation I agree.

[2017-11-06 15:26] #360 closed

[2017-11-06 21:17] allevo commented on #229
I'd like to finish the discussion https://github.com/fastify/fastify/issues/169

[2017-11-06 21:24] jsumners commented on #229
Accidental close. Reopened.

[2017-11-06 22:35] allevo commented on #399
I'm thinking the same thing. I'd like to keep the framework as light as possible. Only the features needed in order that `fastify` works.

Anyway, is there some feature that is not essential?

[2017-11-07 01:07] wedgwood opened #439 "mysql plugin for fastify"
Hi @mcollina, @delvedor, could you add repo `fastify/fastify-mysql`, then I could create PR to fill it.
I think mysql is so popular that fastify should support it officially :)

[2017-11-07 09:27] delvedor commented on #439
Hi!
The repo is [here](https://github.com/fastify/fastify-mysql) :)
Thanks!

[2017-11-07 09:27] #439 closed

[2017-11-07 14:54] evanshortiss commented on #428
@wjtGitHub sounds like the typings need to be updated. I think we'd need `FastifyInstance` to have an entry like so:

[code]

Would you be interested in making a PR or rather I do it?

[2017-11-07 14:54] wedgwood commented on #439
@delvedor I have a commit. Please review it. Thanks! :)

[2017-11-08 16:23] develar commented on #181
If someone will use Fastify and Server Push — it really works. Pitfall is that `:path` must starts with `/` otherwise `stream` event will be not fired on client (and it is not Fastify issue, the same if use http2 module directly).

[2017-11-08 16:49] delvedor commented on #181
@develar thanks for sharing!

[2017-11-08 17:38] delvedor commented on #229
[`fastify-swagger`](https://github.com/fastify/fastify-swagger) has been finished.
It probably needs some work, but the initial release is ready :)

[2017-11-08 19:35] SerayaEryn opened #445 "request is undefined in onSend Hook on post request without body"
When you send a post request without body, in the `onSend` Hook `undefined` is being passed as `request`.
I think the request should be defined in this case (Or if that is not possible documented that the `request` may be `undefined`).

I didn't find the reason for this, but I wrote a test that reproduces the problem. I hope it helps:

[code]

[2017-11-09 07:12] delvedor commented on #445
This happens because your are sending an empty body and since the content type parser expects a json by default it will not work.
You should send `{}` or use a [custom content type parser](https://github.com/fastify/fastify/blob/master/docs/ContentTypeParser.md).

Related: https://github.com/fastify/fastify/issues/419 https://github.com/fastify/fastify/issues/297

[2017-11-09 08:48] israeleriston opened #446 "Erro while auto loaded routes"
/Users/tiagomarcos/Documents/projects/fastify-demo/node_modules/fastify/fastify.js:398
        opts.handler.bind(_fastify),
                     ^

TypeError: opts.handler.bind is not a function

 server this context is fastify instance, and others options is extracted using object destructuring,
  server[method](path, options, handler)

how to proceed with this problem, while using automatic load

[2017-11-09 09:39] delvedor commented on #446
Hi! Thank you for checking out Fastify!
Can you paste here your code or put it in a gist?

[2017-11-09 09:41] delvedor commented on #445
Closing this, if you have more questions feel free to reopen :)

[2017-11-09 09:41] delvedor commented on #160
Closing this, if you have more questions feel free to reopen :)

[2017-11-09 09:41] #160 closed

[2017-11-09 14:58] wjtGitHub commented on #428
Thank you, but I'm just a junior programmer. I can't take on this task. I think it's better for you to finish.@evanshortiss

[2017-11-09 15:34] jsumners commented on #229
@fastify/fastify please give this comment a 👍 or 👎 to vote for 1) *accepting* #169 and 2) requiring #169 as a blocker for v1.0.0.

👍 => Accept #169 and implement it before issuing v1.0.0
👎 => Reject #169, at least for v1.0.0

Please complete this vote by 10 November 2017 @ 17:00 UTC.

[2017-11-09 17:14] SerayaEryn commented on #445
@delvedor I think I am unable to reopen. ;)

I don't want to send an empty body by myself. But since the hooks documentation doesn't mention this case, where the `request` is undefined, other people using the `request` in the `onSend` hook might run into this problem. If the `request` is used in the `onSend` hook without checking if it is present a `TypeError` will be thrown.
At least I expected t

[2017-11-09 18:18] mcollina opened #448 "remove support `reply.send(promise)`"
I think the more natural way to handle promises would be by returning a promise. So, I think we should remove `reply.send(promise)` before 1.0.0. I think it's just a source of confusion and complexity.

What do you think?

[2017-11-09 18:21] delvedor commented on #448
👍

[2017-11-09 18:59] jsumners commented on #448
Would the replacement recommendation be?:

[code]

[2017-11-09 19:07] allevo commented on #448
Good point! 👍

[2017-11-09 20:12] israeleriston commented on #446
Fastify is amaiziing!! i'm much happy

follow gist, i'm sorry, is order files, so inverted
https://gist.github.com/israeleriston/53e46c3bf5132b70c333e38ae7489f63
const registerRoutes = (server, route) => {
  const { method, url } = route
  let options = pick(route, ['name', 'version'])
  const handler = getHandlers(route)

  server[method](url, options, handler)
}

[2017-11-09 20:14] jsumners commented on #446
Can we see a route that is causing the problem?

[2017-11-09 20:17] israeleriston commented on #446
yeeeah!

const opts = {
  schema: {
    response: {
      200: {
        type: 'object',
        properties: {
          ok: { type: 'string' }
        }
      }
    }
  }
}

module.exports = {
  method: 'get',
  url: '/some-route',
  name: 'some-route',
  version: 'v1.0.0',
  handler: (req, reply) => {
    return reply.send({ ok: true })
  },
 opts
}

[2017-11-09 20:19] israeleriston commented on #446
yeaah!

https://gist.github.com/israeleriston/e3e3451e0eda51b3c3add553e4c4492b

[2017-11-09 20:23] israeleriston commented on #336
great !! this is good path, i am always have problem with choice of the best architecture and good practice

[2017-11-09 20:28] israeleriston commented on #446
my idea is create auto loaded the routes using fastify, i no know the best form e best practices to doing this, all options welcome

[2017-11-09 20:44] israeleriston commented on #446
in which part does the arrow function?

[2017-11-09 20:48] jsumners commented on #446
Your handler is an arrow function.

[2017-11-09 20:56] israeleriston commented on #446
const opts = {
  schema: {
    response: {
      200: {
        type: 'object',
        properties: {
          ok: { type: 'string' }
        }
      }
    }
  }
}

const handler = (req, reply) => {
  return reply.send({ ok: true })
}

module.exports = {
  method: 'get',
  url: '/some-route',
  name: 'some-route',
  //   useWrap: true,
  version: 'v1.0.0',
  handler
}

[2017-11-09 20:57] israeleriston commented on #446
erro

/Users/tiagomarcos/Documents/projects/fastify-demo/node_modules/fastify/fastify.js:398
        opts.handler.bind(_fastify),
                     ^

TypeError: opts.handler.bind is not a function

[2017-11-09 20:58] israeleriston commented on #446
if you can tell me another way to load routes, I would change without problems, the problem is loading route by route

[2017-11-09 20:59] jsumners commented on #446
[code]

The `handler` in that code is an arrow function. Does it work if it is not an arrow function?

[code]

[2017-11-09 21:03] israeleriston commented on #446
/Users/tiagomarcos/Documents/projects/fastify-demo/node_modules/fastify/fastify.js:398
        opts.handler.bind(_fastify),
                     ^

TypeError: opts.handler.bind is not a function

sorry, after I went to understand, yes ... even exchanging presents the same error

[2017-11-09 21:06] israeleriston commented on #446
is there any other way, so I can do this self loading of the routes? Please, if you have, tell me, what do I change?

[2017-11-09 21:22] jsumners commented on #446
I think you need to set a breakpoint at the `server[method](url, options, handler)` line in your `registerRoutes.js` file and then inspect all of the objects. Make sure they are what they should be.

I was attempting to do it myself, but I am not able to completely re-create your environment from your provided gists.

[2017-11-09 21:24] jsumners commented on #336
Well https://github.com/fastify/example exists, it just doesn't have anything in it.

[2017-11-09 22:06] israeleriston commented on #446
I'm going to submit this project to github, maybe it's easier for you to take a look and thus recreate the environment

[2017-11-09 23:53] mcollina commented on #229
I've added https://github.com/fastify/fastify/issues/448 to the blockers.

[2017-11-10 02:14] israeleriston commented on #446
I'am solved, follow

const registerRoutes = (server, route) => {
  const { method, path } = route
  const opts = pick(route, ['name', 'version'])
  const handlers = getHandlers(route)

  server[method](path, opts, ...handlers)
}

thank you to everyone involved!!
and continuous play in pursuit of assembling a healthy architecture with fastify and testing all its power!!!

[2017-11-10 12:32] incubus8 opened #450 "POST returning error Unsupported Media Type 415"
Environment:
1. MacOS Sierra 10.12.6
2. NodeJS 8.9.1

Step to reproduce:
1. Pull and clone latest version or this repo
2. Run `node examples/example.js`
3. Open new terminal and try to hit POST endpoint
[code]

<img width="438" alt="screen shot 2017-11-10 at 7 32 26 pm" src="https://user-images.githubusercontent.com/5300674/32658718-ee4a9020-c64d-11e7-8cd0-c299a4bc2c74.png">

Any MIME type `Accept

[2017-11-10 12:39] ugin commented on #450
Did you try with the capitalized word `Accept`?

[2017-11-10 12:43] incubus8 commented on #450
@ugin yes of course, the same. I also make simple script to hit the endpoint

[code]

Don't forget to install deps
[code]

[2017-11-10 13:00] delvedor commented on #450
Hi!
The problem is that your are not sending a body, and since we expect a json you got an error.
You can add a custom content type parser so fix the problem.

We should update the docs. cc @fastify/fastify

Related: https://github.com/fastify/fastify/issues/445

[2017-11-10 13:11] incubus8 commented on #450
@delvedor thanks for the explanation. Since I can't override `application/json`, it is impossible to handle cases POST with unspecified data / body. Though, it will be unlikely to happen in real world cases.

[2017-11-10 13:17] delvedor commented on #450
You can't override `application/json` because we have an extremely optimized case for that.
Checkout the content type parser [docs](https://github.com/fastify/fastify/blob/master/docs/ContentTypeParser.md):

You can use the catch all content type and you will get everything that we cannot parse.
Regarding the json an empty body is not a valid json.

[2017-11-10 17:33] jsumners commented on #229
With 1 vote for and 3 votes against, we will not be blocking on #169. The context issue can be re-addressed for a v2.0.0.

![fastify](https://user-images.githubusercontent.com/321201/32670911-4c554c22-c613-11e7-929b-44a1e3b1df8a.png)

[2017-11-10 18:35] tmorell opened #451 "setNotFoundHandler is suppressing duplicated routes checking"
When enabling setNotFoundHandler handler, Fastify is not performing a check for duplicated routes. This is an example:

[code]

With setNotFoundHandler enabled I get "Fastify app listening on port 3000!", and I get "1" in the console.
It setNotFoundHandler is removed, I get "GET already set for /"

Thanks!

[2017-11-10 18:49] delvedor commented on #451
Uh, nice spot.

Thanks!

[2017-11-10 18:50] delvedor commented on #229
Added #451 to the blockers.

[2017-11-11 09:10] mcollina commented on #445
go ahead and open a PR!

[2017-11-11 12:18] #451 closed

[2017-11-11 22:48] jsumners opened #456 "Registering multiple plugins means ambiguous options"
This is alluded to in the discussion on #304. Consider the following:

[code]

The output of running that will be:

[code]

Let's assume `plugin1` and `plugin2` solve completely different problems. Let's also assume that we are writing a plugin that depends on `plugin1` and `plugin2` being registered, ad that our new plugin provides configuration options to pass configuration to each of the two re

[2017-11-12 02:23] wedgwood opened #457 "cache plugin for fastify"
What about a cache for fastify(default memory based, and could be extended using other backend suck as memcached, redis, leveldb and so on). It may be like,

[code]

[2017-11-12 08:02] delvedor commented on #457
Hi! Checkout [`fastify-caching`](https://github.com/fastify/fastify-caching) :)

[2017-11-12 08:02] #457 closed

[2017-11-12 08:39] delvedor commented on #456
Probably the best solution in this case is to register the plugins separately.
[code]
Because is not that easy understand which key are common options (such as `prefix`) or which are plugins name (then we'll have the problem of private names).
I think that we should support one and clear way to to this, even if that means that you must write few characters more.

Regarding the plugin name for stuf

[2017-11-12 13:35] jsumners commented on #456
Okay, so if we modify my original example to:

[code]

The `console.error` is not hit. Instead, the error gets trapped by the `if (err) throw err` within the `fastify.listen` callback. But if we revert to the original example, and add the `Error` in `plugin1`, then the error gets thrown in the `register` callback. Which is to say, the proposed solution means extra error handling; one handler per p

[2017-11-12 13:48] jsumners commented on #456
Another thing that `fastifyMeta` could provide is a way to declare plugin dependencies:

[code]

Thus, Fastify would be able to track the plugins that have been registered in the current scope, check that the required plugins have been registered to the current scope, and refuse to register the requested plugin if the requirements are not met.

See `dependencies` in https://hapijs.com/api#plugins

[2017-11-12 22:52] allevo commented on #399
Closed for inactivity

[2017-11-12 22:52] #399 closed

[2017-11-12 23:02] mcollina commented on #456
I'm actually thinking that we should remove multiple plugin registration. The register chainable api is very easy to use, and an array can be easily iterated on top.

[2017-11-12 23:04] mcollina opened #460 "remove callback from register, and remove error from .after()"
Currently the only way to handle specific error handling and keep booting is by specifying `.after()`. However, this is very subtle and it can lead to complex side effects. I think we should remove this feature: if a plugin errors, the whole loading errors and there is no way to handle that plugin specifics.

[2017-11-12 23:08] allevo commented on #460
I'm 👍  for this. Maybe `avvio` could wrap the original error in order to track which plugin fails.

[2017-11-13 03:01] makeco opened #461 "docs/Testing.md: it should be `res.payload.length` in fastify.inject test demo."
[code]

[2017-11-13 07:31] mcollina commented on #461
This is not clear, would you mind clarifying or sending a small PR? It seems it might be a small change.

[2017-11-13 09:57] delvedor commented on #460
I agree that the current method is not easy to use.
But in the case that you need to load a plugin (or perform an operation) if another one fails, how can you do that without the `after` api?

[2017-11-13 10:00] mcollina commented on #460
That will not be possible with this change.

[2017-11-13 10:01] delvedor commented on #456
@jsumners the callback after the register is not supported anymore. At the moment you should use an after callback.

[code]

Related: https://github.com/fastify/fastify/issues/460
___
I think we should handle all this work around plugin names, options and dependencies with `fastify-plugin`. We are already using it in every plugin, and it can provide us an easy way to handle breaking changes in the

[2017-11-13 10:03] delvedor commented on #460
I know. Do we really want to drop that use case? (in any case, we should document it better)

[2017-11-13 10:07] mcollina commented on #460
There is an alternative option which is just remove the callback from `register`.

[2017-11-13 10:09] delvedor commented on #460
Yes, in my opinion the best thing to do is:
- remove the callback from register and use `after`
- if `after` does not handle the error, that error should reach the next error handling

[2017-11-13 10:32] delvedor commented on #448
Closed in https://github.com/fastify/fastify/pull/458.

[2017-11-13 10:32] #448 closed

[2017-11-13 10:33] delvedor commented on #446
Closing this, if you have more questions feel free to reopen :)

[2017-11-13 10:33] #446 closed

[2017-11-13 12:33] delvedor commented on #460
From avvio `v3.2.0` we can passthrough error in the `after` and `ready` apis, checkout https://github.com/mcollina/avvio/pull/35.

[2017-11-13 13:14] jsumners commented on #456
@delvedor how will `fastify-plugin` know anything about the state of the destination scope of Fastify?

[2017-11-13 13:20] delvedor commented on #456
@jsumners can you rephrase? Maybe with an example :D

[2017-11-13 13:35] jsumners commented on #456
@delvedor look at https://www.npmjs.com/package/fastify-session . Notice that it requires `fastify-cookie` to be installed *and* registered prior to registering `fastify-session`. Also notice that it doesn't make `fastify-cookie` a hard dependency; it's left up to the user of the plugin to meet the requirement. This is not an uncommon thing to do for such plugins. And it's what I'm doing with my v

[2017-11-13 13:46] delvedor commented on #456
In the same way we are passing the `skip-override` property, we can pass different options.
[code]

If the problem is "I don't see how fastify-plugin can satisfy that requirement." the answer is easy.
It can't, because it cannot access the fastify instance.

But since `fastify-plugin` is under our control we can coordinate core and `fastify-plugin`, in the same way that we are handling the overrid

[2017-11-13 13:48] jsumners commented on #456
Okay.

[2017-11-13 16:28] iunfire opened #463 "Can you build a generator, similar to express-generator, that can quickly build simple packages?"
Can you build a generator, similar to express-generator, that can quickly build simple packages?

[2017-11-13 16:42] StarpTech commented on #463
What do you mean with "packages" ?

This is everything you need to create a plugin.

[code]

Do you mean to bootstrap a plugin as an npm package ? e.g

- package.json
- test directory
- CI configs
- .gitignore
- index.js (plugin)
- ...

[2017-11-13 20:33] jsumners commented on #229
Added #456 and #460 to the blockers.

[2017-11-14 01:28] makeco commented on #461
#465

[2017-11-14 10:07] #461 closed

[2017-11-14 22:09] rand0me commented on #463
Hello @StarpTech !
If I understood correctly, @iunfire wants some package like `express-generator` to bootstrap a project, and probably a project components using some CLI API. Formerly I was familiar with `feathers-cli` package, which can generate project with tests onboard, connections and services, all of which with tests too, and that experience was nice :wink:

[2017-11-14 22:14] rand0me commented on #463
Also, this tools can be opinionated and use some conventions (or maybe best practices) to structure a project which will be generated

[2017-11-15 00:58] zairl23 opened #469 "fastify.log is undefined"
I just follow the doc:  https://github.com/fastify/fastify/blob/master/docs/Getting-Started.md

start a server.js:

[code]

but throw the error: **TypeError: Cannot read property 'info' of undefined**

Then add the option : {logger: true}

[code]

the error still happen, i read the other docs, find the server.js below is work!

[code]

Is there something else i missed or there is something wrong w

[2017-11-15 02:12] jsumners commented on #469
The issue is that the documentation is tied to the latest on the master branch. The docs are referring to a breaking change merged by #436 that hasn't been published as a release yet. So you will need to reference `fastify.logger` for now.

cc: @delvedor @mcollina

[2017-11-15 11:47] #445 closed

[2017-11-15 11:48] mcollina commented on #469
we need to do a release.

[2017-11-15 11:48] #469 closed

[2017-11-15 13:18] linonetwo opened #470 "root plugin has already booted when trying register a route"
I set up fastify server, letting it listen on 3000. After a while, I register a route when some event happened:

[code]

This throws that

[code]

Can I dynamically set up a route when using fastify?

[2017-11-15 13:24] mcollina commented on #470
No, you can't set up a route after fastify is started.

[2017-11-15 13:25] #470 closed

[2017-11-15 14:14] corporatepiyush opened #471 "License Restriction"
am creating a open source NodeJS project with Apache 2.0 license and further want to commercialize it.
Can i use this library for it, does it clash with license terms of this library ?

[2017-11-15 14:15] jsumners commented on #471
I think that's a question for your lawyers. But you can start your research at https://opensource.org/licenses/category

[2017-11-15 14:15] #471 closed

[2017-11-15 14:42] zairl23 commented on #469
3ks, i know @jsumners, @mcollina

[2017-11-16 05:34] brwnll opened #472 "Loading multiple routes is broken: Error: rootplugin has already booted"
Just upgraded from 0.23 to 0.34 and my existing API broke. I'm trying to see if there is a new structure I should be using.

The error I'm getting is:
`Error: rootplugin has already booted`

The application structure is a directory with many JSON files with my route schemas.

[code]

[2017-11-16 06:47] israeleriston commented on #472
I have commited an architecture that I am doing, there is an example of separation of responsibility from routes and middlewares.

https://github.com/israeleriston/architecture-node/blob/master/src/server.js
line 15, see if you can enjoy anything

[2017-11-16 07:21] avilang opened #473 "How can I transfer data to routing in hook?"
[code]
I'm not sure if I'm doing the right way

[2017-11-16 08:45] delvedor commented on #473
Hi!
I'm not sure about what you need, but if you need to add some custom data to the request object inside the `preHandler` hook and then use it inside the handler, the most performant option is:
[code]

By using the `decorateRequest` api, you will add that key to the request prototype instead of creating it every time at runtime (and altering the shape of the object), which is very performant.

[2017-11-16 10:05] avilang commented on #473
I'm so sorry
this is the same issue #303
I mean that

[2017-11-16 10:14] delvedor commented on #473
OK, so you have already the answer :D
If you have more questions feel free to reopen! :)

[2017-11-16 10:14] #473 closed

[2017-11-16 10:22] mcollina commented on #472
I would recommend not to do that kind of dynamic loading: just call `fastify.register(module)` without special magic. You can nest plugins as many times you want without significant performance overhead: wrap both middlewares and routes in plugins. They are fast and safe.
Keep the definition of your routes together and do not split it in multiple files, it will make it harder to debug and use.

[2017-11-16 15:16] iunfire commented on #463
yech, I mean is this, thinks

[2017-11-16 16:56] brwnll commented on #472
I disagree that desperating routes based on function makes things more complicated. I've always experienced single monolith files to be much harder to control through project growth, but if that's the only way fastify can register routes, that's fine. I merged all routes into a single file, but am still getting there error. Here's the entire index.js file

I don't understand why this error is bein

[2017-11-16 18:25] mcollina commented on #472
some notes:

1. fastify has its own logger, there is no need to use winston, check out https://github.com/fastify/fastify/blob/master/docs/Logging.md
2. your project is also crashing, because `fastify.listen` does not return a promise. Use https://github.com/mcollina/make-promises-safe to actually find out where your are missing a catch.
3. I _recommend_ not loading things dynamically because I pr

[2017-11-16 18:57] israeleriston commented on #472
@mcollina  is my way for registration is bad? why?

[2017-11-16 19:08] brwnll commented on #472
Thanks for your feedback @mcollina. Does the project take donations/tips I can contribute to for your time?

[2017-11-16 21:29] delvedor commented on #472
In addition to the perfect explanation of @mcollina, we update few days ago our getting started guide, it also contains advices about this.
I suggest you to read [this](https://github.com/fastify/fastify/blob/master/docs/Getting-Started.md#your-first-plugin) paragraph :)

[2017-11-16 23:02] rand0me commented on #463
There is already a CLI tool [here](https://github.com/fastify/fastify-cli), so maybe, you could create a feature request for `init` command (or something like that) in that project.

[2017-11-17 00:19] #472 closed

[2017-11-17 11:28] delvedor commented on #400
Closed by https://github.com/fastify/fastify/pull/474

[2017-11-17 11:28] #400 closed

[2017-11-17 13:29] delvedor commented on #299
Closed by https://github.com/fastify/fastify/pull/384.

[2017-11-17 13:29] #299 closed

[2017-11-17 14:04] greenkeeper[bot] opened #477 "An in-range update of pino is breaking the build 🚨"
## Version **4.10.2** of [pino](https://github.com/pinojs/pino) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Fpino-4.10.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      pino
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-11-17 14:11] jsumners commented on #229
We need to have a cutoff date for new issues to be added to this list. When the date is reached, the API shall be considered shippable for 1.0.0 and no new issues may be added that can alter it. @fastify/fastify (and community at large) please vote on this comment by 19 November 2017, 12:00 UTC.

🎉 => cutoff date of 01 December 2017, 00:00 UTC
👍 => cutoff date of 16 December 2017, 00:00 UTC

These

[2017-11-17 14:14] delvedor commented on #229
Basically one month from today, that's fine to me.

[2017-11-17 14:14] mcollina commented on #229
👍 with the cutoff, I'll be traveling for most of the period so I'm actually abstaining. To me it's like it's next week :).

[2017-11-17 14:18] jsumners commented on #229
Note: I also abstain from the polls I create.

[2017-11-17 16:11] delvedor commented on #477
Was CI error.

[2017-11-17 16:11] #477 closed

[2017-11-19 20:48] jsumners commented on #229
With a tie, I couldn't think of a fairer way to decide it, so I rolled a die -- https://youtu.be/wwGRnAwnsNI

Result: cutoff date is 16 December 2017, 00:00 UTC.

[2017-11-21 23:46] trivikr opened #480 "About reducing Code Smells and duplicate code"
Hi,

First of all, thanks for building this fast and low overhead framework for Node.js!
We're evaluating it for using it in our next project 😊

I use [CodeClimate](https://codeclimate.com/) to do code quality check for the node packages my projects depend on. Looking at [fastify's CodeClimate results](https://codeclimate.com/github/trivikr/fastify) there appears to be some code smells and duplica

[2017-11-21 23:57] jsumners commented on #480
You are certainly welcome to submit a PR. Keep in mind, though, that the code is written the way it is to eek out all the performance it can. This sort of thing typically runs afoul of such tools. So a lot of what that tool found it is probably not alterable. Though, I suspect there is some legitimate results as well.

[2017-11-22 00:16] trivikr commented on #480
Thanks @jsumners
Is there a way to check if a code change affects performance?

Most of the [code smells](https://codeclimate.com/github/trivikr/fastify/issues?engine_name%5B%5D=structure) in fastify are because of large files/functions/Cognitive Complexity/arguments

[2017-11-22 00:21] jsumners commented on #480
Yes: `npm run benchmark` on `master` and your branch.

[2017-11-22 00:53] mcollina commented on #480
The long argument lists are done to avoid an object allocation. Tiny gain, but over time it’s meaningful. In V8 6.3 (as far as I remember), the escape analysis would be in, and we could use objects.

It would be good to put some comments before those functions, so that it is known why we are doing it.

[2017-11-22 12:00] yamalight opened #481 "Better async/await support"
I've been trying to use fastify for one of the projects I'm working on and there's one thing that annoys me to no end - fastify supports async functions in route callback, yet you cannot `await` anything else and have to use callbacks (e.g. `.listen`, `.ready`, `.register().after()`, etc).

One example would be using auth plugin. You cannot just do (which is literally the example of fastify-auth a

[2017-11-22 13:19] allevo commented on #481
Your proposal is nice.

Currently the `register`  method returns the fastify instance in order to allow the developer chaining the registration

But:
[code]
seems to be possible.

`asPromise` returns the promise waiting the `after`  event.
@fastify/fastify thoughts?

[2017-11-22 13:21] zenflow commented on #481
Makes sense. Seems like the proposal would add some flexibility to our control-flow for configuring/initializing fastify.

Only problem I see is that `fastify.register()` currently returns `fastify` (the fastify instance) for chaining more method calls, e.g. `fastify.register(somePlugin).route(someRouteDefinition)`, so changing it to return a Promise would be a breaking change.

[2017-11-22 13:24] zenflow commented on #481
@allevo's `.asPromise()` idea sounds fantastic!

[2017-11-22 13:28] jsumners commented on #481
This sounds like a bug to me. `fastify-auth` doesn't do anything asynchronous during registration. It just decorates the instance -- https://github.com/fastify/fastify-auth/blob/c79107a493ce8e346a7381a731048ac1c097f7c0/fastify-auth.js#L7

Are you using Fastify 0.33.0 or later?

[2017-11-22 13:37] allevo commented on #481
@jsumners if I remember correctly the decoration is made async [here](https://github.com/mcollina/avvio/blob/master/boot.js#L192)

[2017-11-22 13:40] jsumners commented on #481
@allevo but look at https://github.com/fastify/fastify/blob/80132c96b0655a3c81ccc878a502f4da21ec3747/test/handler-context.test.js#L18-L26

That's how it should be working. Registration of one plugin is supposed to be available to subsequently registered plugins(routes).

[2017-11-22 13:47] yamalight commented on #481
@jsumners tried with latest versions from npm. fastify 0.35.1 and fastify-auth 0.1.0

[2017-11-22 14:00] allevo commented on #481
@jsumners  the example and the code are different: the example use the decoration *in* a route that is called after the `after` avvio event (async); the code above uses the decoration *after* the registration when the `after` event is not triggered yet (sync).

[2017-11-22 14:13] jsumners commented on #481
@allevo ah, so it's the `beforeHandler` that is causing the discrepancy.

[2017-11-22 14:39] delvedor commented on #481
This behaviour arrives from [`avvio`](https://github.com/mcollina/avvio). Me and @mcollina are discussing how to support your proposal, but is not that easy.

As said by @allevo `register` and `after` return the Fastify instance, if your return a promise we will break a lot of stuff.

`asPromise` could be a solution, but I don't like it so much, it's something that we should figure out inside `avv

[2017-11-22 14:51] mcollina commented on #481
Returning a Promise from register will break encapsulation. I would love to do it, but I don’t think it will be possible.

Another solution is to define the routes in a subsequent plugin.

[2017-11-22 15:00] yamalight commented on #481
If the final conclusion is not to implement awaitable registration then I feel like the current flow should be documented better. And fastify-auth example needs to be fixed as well.

[2017-11-22 15:03] delvedor commented on #481
@yamalight the readme contains a very light example, if you look at the [example file](https://github.com/fastify/fastify-auth/blob/master/example.js) you will see the correct implementation.
If you want to send a PR, go ahead! :)

[2017-11-22 15:22] yamalight commented on #481
@delvedor PR sent!
Also, either I'm blind or `.after()` doesn't have any docs for it currently 🤔

[2017-11-22 15:57] delvedor commented on #481
Uhm.. looks like your are right!

[2017-11-23 14:21] yamalight commented on #481
What are you thoughts about promisification of `.listen()`, `.ready()`, etc?
As far as I understand, they do not don't have same encapsulation stopper.

[2017-11-23 17:50] yamalight opened #485 "DELETE request doesn't decode payload"
Currently if you try to send DELETE request that has payload, fastify won't pass the decoded payload to handler. E.g.:
[code]

Is that intended or a bug?

[2017-11-23 18:49] StarpTech commented on #485
Hi @yamalight this intentional. DELETE, GET and HEAD don't include payload. For more information look at https://tools.ietf.org/html/rfc7231#section-4.3.5

[2017-11-23 18:54] jsumners commented on #485
From your link @StarpTech :

   sending a payload body on a DELETE request might cause some existing
   implementations to reject the request.

Thus, it isn't **prohibited** but it also isn't defined what should happen. This means some clients won't bother sending a body even if you specify one. But that's not what is happening. @yamalight is using all Fastify internals to demonstrate the behavior

[2017-11-23 19:02] yamalight commented on #485
It's definitely not prohibited by spec. Other frameworks support this behavior (e.g. hapi, express w/ body-parser)

[2017-11-23 19:54] StarpTech commented on #485
So it's a framework decision. When most of the Node.js framework support payload in DELETE requests, we should support it too.

[2017-11-23 19:57] StarpTech commented on #485
@yamalight could you prepare a PR ?

[2017-11-23 20:13] StarpTech commented on #485
Hapi supports it https://github.com/hapijs/hapi/blob/3b9ec87249845e4ebab0f4769fb446d82a20c608/lib/route.js#L158
Express https://github.com/expressjs/body-parser/blob/3cb380b1e4b3cabdfb7db265dd7a0dd637b7687a/test/body-parser.js#L75
Koa support it too but provide a `strict` option https://github.com/dlau/koa-body#options

[2017-11-23 20:25] yamalight commented on #485
@StarpTech sure, I can try to :)

[2017-11-23 20:53] yamalight commented on #485
@StarpTech OK, so I've built a simple version here: https://github.com/yamalight/fastify/commit/5e079cea18f4000b65e6a31e20c637070de88536
But there's a small problem that I cannot solve - the object sent back from that new `.delete` handler is never valid JSON, so my new test fails. Any ideas why that might happen? Have I missed something?

[2017-11-23 20:55] delvedor commented on #485
@yamalight add the `DELETE` check [here](https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L31).

Can you open the pr? In that way we can see the actual error.

[2017-11-23 21:09] yamalight commented on #485
@delvedor PR created here: https://github.com/fastify/fastify/pull/486
Have I understood you / moved the check correctly?

[2017-11-24 08:41] delvedor commented on #485
Closed by #486

[2017-11-24 08:41] #485 closed

[2017-11-24 13:31] yamalight opened #487 "Is there a way to disable hooks on specific route?"
I'm trying to setup auth as per example from `fastify-auth`:

[code]

But I need to have a couple of routes that shouldn't trigger the auth `preHandler` on them.
Is there a way to disable this preHook for specific routes? Or maybe there's a different way of defining routes so that hook won't get executed?

[2017-11-24 13:38] magichim commented on #262
I imitated a example on Readme.md. but I had a this error
[code]

still exist bug.

[2017-11-24 13:42] jsumners commented on #487
Just register those routes in a different context:

[code]

[2017-11-24 13:44] delvedor commented on #262
Can you paste your code and the command you are using to execute It?

[2017-11-24 13:55] magichim commented on #262
I just copy code on Readme.md example.

##server.js
[code]

##our-first-route.js

[code]

[2017-11-24 14:01] delvedor commented on #262
You should use the [fastify-cli](https://github.com/fastify/fastify-cli) only if you are running a plugin.
Your `server.js` file is not a plugin, but the entry point of the application.
Checkout the [fastify-cli](https://github.com/fastify/fastify-cli) documentation :)

[2017-11-24 14:06] magichim commented on #262
It's my fault. I got the code from [ https://www.fastify.io/docs/latest/Getting-Started/#your-first-plugin].

When I type 'npm start' on command, I got the this error message.

[2017-11-24 14:09] delvedor commented on #262
I understood you problem.
You can run the server in two ways:
[code]
With
[code]

**OR**
[code]
With
[code]

At the [end of the getting started](https://github.com/fastify/fastify/blob/master/docs/Getting-Started.md#run-your-server-from-cli) guide you can see how the CLI works.

[2017-11-24 14:20] magichim commented on #262
Thanks! I understand.
But I have another question about fastify-cli.

After fastify-cli installed as --save in local folder, I try to type 'fastify server.js', but not found fastify command. and then I installed globally fastify-cli, but also I got the error message
[code]
Otherwise, like npm start or test, It is good working!

To use fastify-cli, I have to write on package.json script?

[2017-11-24 14:26] jsumners commented on #262
You have to configure your `PATH` to include `./node_modules/.bin/`. Or you can use npm's new `npx` tool https://www.npmjs.com/package/npx

[2017-11-24 14:55] yamalight commented on #487
@jsumners thanks!
would you be open to a docs PR that clarifies that in hooks section? currently that's only mentioned way below closer to the end, I think it'd be useful to mention the fact that hooks are scoped in the very beginning.

[2017-11-24 15:07] jsumners commented on #487
We are always receptive to PRs that improve documentation.

[2017-11-24 15:30] yamalight commented on #487
@jsumners PR open: https://github.com/fastify/fastify/pull/488
Does that looks OK?

[2017-11-24 18:32] yamalight commented on #487
Closing this.

[2017-11-24 18:32] #487 closed

[2017-11-24 18:39] yamalight opened #489 "Are decorators scoped?"
I'm setting up my auth as a plugin, i.e.:
[code]

Then in other place I register a bunch of routes that should be protected by auth, so I follow the example, i.e.:
[code]

The code above throws errors. Am I correct in my assumption that decorators are scoped (along with hooks)? If yes - this should be mentioned in the docs.

[2017-11-24 18:41] yamalight commented on #489
Additional question: if they are scoped, is there a way to define global decorator from scope?

[2017-11-24 18:58] mattbrunetti commented on #489
@yamalight

Yes, that's correct. It's not mentioned in `Decorators.md` (yet), but it is mentioned elsewhere (I don't recall where exactly)

Wrap your plugin with this: https://www.npmjs.com/package/fastify-plugin

[2017-11-24 18:58] jsumners commented on #489
It depends on where you apply the decoration.

This is global:

[code]

This is scoped:

[code]

[2017-11-24 19:02] mattbrunetti commented on #489
@jsumners Global scope is a scope :wink:

[2017-11-24 19:46] delvedor commented on #489
@yamalight I highly recommend you to read [the hitchhiker's guide to plugins](https://github.com/fastify/fastify/blob/master/docs/Plugins-Guide.md) :)

[2017-11-24 20:11] yamalight commented on #489
@delvedor that guide actually explained most of the things i was confused about!

I feel like some of those things should be mentioned directly in decorators doc. Or at least, that guide should be linked from there saying you can find more in-depth info on decorators there (because I'd never though you explain decorators in plugins guide 🤷‍♂️)

[2017-11-24 20:38] jsumners commented on #489
@yamalight if you'd like to help with https://github.com/fastify/fastify/issues/296, that'd be fantastic.

[2017-11-24 23:42] yamalight commented on #489
@jsumners I'll take a look!

[2017-11-26 17:56] jsumners opened #491 "avvio says it's already booted before `fastify.listen` is invoked"
[code]

If you run that, you'll get:

[code]

My guess is this is due to:
https://github.com/mcollina/avvio/blob/6d7554cfe4113985609b33e531f60ba72d36edf3/plugin.js#L83-L99

I most assuredly think that Fastify should allow registrations up until the point `.listen()` is invoked.

[2017-11-26 18:05] allevo commented on #491
Could you add a test for this?

Another thing: if the `done` call in plugin3 is postponed with a `setTimeout`, does the bug persist?

[2017-11-26 18:41] delvedor commented on #491
The Fastify plugin system provides a method to handle all the async operations you could have, use a mixed approach can lead to this problem.

What you should do is:
[code]

In https://github.com/mcollina/avvio/pull/36 you can find a proposal to give a better support for *async-await* without breaking the encapsulation model.

[2017-11-26 19:08] jsumners commented on #491
Don't focus on the `async` keyword. It's just a simplification for illustration. The issue is registering plugins on next tick. If you modify the example to:

[code]

You can see the same behavior.

[2017-11-26 19:49] delvedor commented on #491
The issue is to leave *generic* asynchronous operations outside registers.
Every operation that will do something asynchronously should be wrapped inside a register.
That's the deal, we handle the asynchronicity, not some weird timeout/promise/sleep/wait/nextTick logic :)

[2017-11-26 23:02] jsumners commented on #491
Not everything in certain applications need to be a Fastify plugin. Sure, refactoring things into Fastify plugins, and simply never dealing with the passed in `instance`, works. But it's not right to force people to wrap their things with `(fastify, options, next) => {}` when those things don't need to touch the Fastify instance.

[2017-11-27 02:13] mcollina commented on #491
This issue asks if we should start booting the fastify instance before .listen (or .ready, or .inject) are called. I’m not 100% sure that the current behavior of autostart provides the best possible API.

Adding a start method in avvio and an autostart oprion might solve a lot of issues. Then we will not start loading until the last possible minute.

.listen is currently handled through avvio. We

[2017-11-27 02:17] jsumners commented on #491
You understand it correctly @mcollina.

[2017-11-27 06:22] mcollina commented on #491
Would you mind to fire a PR on avvio to add an autostart option and a start method? Or maybe launch and autolaunch.

[2017-11-27 13:15] jsumners commented on #491
I will at least look into it soon.

[2017-11-27 13:28] delvedor commented on #489
Closing this, if you have more questions feel free to reopen :)

[2017-11-27 13:28] #489 closed

[2017-11-27 14:08] yamalight commented on #489
Whoops, should've done this myself. Thanks!

[2017-11-27 15:26] yamalight commented on #296
Just my two cents: I think the current docs are fine for the most part (with exception of some missing API bits that need to be filled out as we found out in the other tickets, e.g. `.after()`).
I'd say they need one things to be great - general guide to fastify. You currently have an amazing guide for plugins, but something similar for fastify is missing. So if I want to find out how to do X, I m

[2017-11-27 15:27] jsumners commented on #296
Can you clarify with some examples?

[2017-11-27 15:36] yamalight commented on #296
@jsumners I was thinking about something similar to [hapi's tutorials](https://hapijs.com/tutorials). And now that I'm looking at getting started - I think it should be enough to just extend it with a few small things  🤔

[2017-11-27 16:00] yamalight opened #492 "Accepting file streams"
I am trying to accept a file stream using fastify and I only get `HTTPError: Response code 415 (Unsupported Media Type)` in response.
Here's simple code to reproduce this:
[code]

The code above works perfectly fine with e.g. hapi.js.
I see a ton of examples (and tests) of sending a stream back to client, but none for accepting one - is that even possible with fastify?

I've also tried adding cont

[2017-11-27 16:05] jsumners commented on #492
What is the content type being sent by your `POST` request?

[2017-11-27 16:57] yamalight commented on #492
@jsumners headers sent by got are as follows:
[code]

[2017-11-27 21:22] zenflow opened #493 "Support use of Ajv configuration methods"
Currently it is not possible to configure the Ajv instance using instance methods like [`ajv.addFormat`](https://github.com/epoberezkin/ajv#addformatstring-name-stringregexpfunctionobject-format---ajv) or [`ajv.addKeyword`](https://github.com/epoberezkin/ajv#addkeywordstring-keyword-object-definition---ajv), or using extensions like [`ajv-keywords`](https://github.com/epoberezkin/ajv-keywords) or

[2017-11-27 23:02] delvedor commented on #493
Hi, thank you for checking out Fastify!
You can pass some custom option to the Ajv instance just by passing `ajv` as option to the Fastify constructor:
[code]
Checkout the [docs](https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md#schema-compiler)!

If you want to customize even more the validation library you can use the `setSchemaCompiler` api, which accepts a cus

[2017-11-28 17:23] yamalight commented on #492
This behaviour is also reproducible with the following test:
[code]

[2017-11-29 14:51] JbIPS opened #497 "Error in body validation"
Hi,

I'm defining the following schema in my route:
[code]
and try to send:
[code]
and it worked like a charm. I looked at ajv (v5.5.0) in a separate project but the validation throw an error (`should be string`). Looks like Fastify is using the same version so I don't understand why it do not reject the request.

BTW, other validations (no `services` or not an `Array`) works fine.

[2017-11-29 15:16] allevo commented on #497
Hi!
 thanks for using `fastify`!
Currently fastify uses an internal ajv instance. Building that instance, we're using `coerceTypes` options described [here](https://www.npmjs.com/package/ajv#coercing-data-types)

[2017-11-29 15:28] JbIPS commented on #497
I'm sorry, I didn't see this line 😅 :

Thank you!

[2017-11-29 15:28] #497 closed

[2017-11-29 16:56] coreyfarrell commented on #229
Could these issues be tagged with a label or milestone?  That is how I would normally find such tickets.

In addition would new labels `semver-minor` / `semver-major` be considered?  Once the `semver-major` label is applied it would be easier to know that a patch is forbidden from v1.x and control how a patch is merged.  It would also be useful in the release notes, see node.js (breaking changes a

[2017-11-29 17:00] delvedor commented on #229
@coreyfarrell hi! Thank you for the suggestions!
I agree for the `semver-*` label, I'll create them, and once the `v1.0.0` is done we will start using them :)

[2017-11-29 21:10] allevo commented on #492
Hi,
  sorry for the delay.
Truly, the above test has the same behaviour of [this](https://github.com/fastify/fastify/blob/master/test/custom-parser.test.js#L240) where the `Content-type` is not defined.

The stream does not have anything to do with this behaviour: the `Content-type` header is relative to the type of the body content.
`Content-type` header should always be set even if you are using

[2017-11-29 21:19] yamalight commented on #492
@allevo as I mentioned in the original post - adding "catch all" parser doesn't help - you'll still get 415 😞
Also, AFAIK `Content-type` header is not mandatory and should default to `application/octet-stream` as defined [per spec](https://tools.ietf.org/html/rfc1945#section-7.2.1)

[2017-11-29 21:33] jsumners commented on #492
A little more recent than 1.0:

https://tools.ietf.org/html/rfc2616#section-7.2.1

   Content-Type header field defining the media type of that body. If
   and only if the media type is not given by a Content-Type field, the
   recipient MAY attempt to guess the media type via inspection of its
   content and/or the name extension(s) of the URI used to identify the
   resource. If the media type r

[2017-11-29 21:37] yamalight commented on #492
So, the field _is_ mandatory, but content sent without it should still be treated as `application/octet-stream` which doesn't seem to be the case for fastify currently

[2017-11-29 22:27] allevo commented on #492
@yamalight  Sorry my bad. I'll investigating... and thank you for the report!

[2017-11-29 22:29] yamalight commented on #492
@allevo let me know if there's any way I can help - will be happy to!

[2017-11-29 22:35] allevo commented on #492
@yamalight oh, yeah!
If you are ok, please open a PR! But... consider that `fastify` team has already discussed the `application/octet-stream` fallback or add the "catch all" by default and has already choosen not to include in `fastify`.

Anyway, with your "catch all" contentTypeParser, the test should pass.

[2017-11-29 22:39] yamalight commented on #492
@allevo sounds like you already have a different approach in mind - so I'll leave that to you as it feels like it's probably going to take longer to explain it to me :)

I've just tried adding catch-all parser to tests and they still fail. So there's either a bug in the docs (and the code for catch-all parser I've posted above) or in the code related to that bit of code.

[2017-11-30 06:46] kristianmandrup opened #499 "Error when trying to use fastify-ws"
[code]

What the ???

[code]

[2017-11-30 07:10] kristianmandrup opened #500 "Using REST with Socket - already listening!?"
I guess would require two separate instances of `fastify` then?

[code]

[2017-11-30 09:38] delvedor commented on #500
You can't call two times `listen`.
Your websocket server will listen in the same port of your REST routes. *(same port but different protocol, `http` and `ws`)*
For example:
[code]
Now open you browser and navigate to `http://localhost:3000/hello` and you will get `{ hello: 'world' }` as response. In the same page, open the developers tools and type the following:
[code]
As you can see, everything

[2017-11-30 09:38] #500 closed

[2017-11-30 09:40] delvedor commented on #499
Can you paste the entire code? I've answered you in https://github.com/fastify/fastify/issues/500 and I haven't any kind of problem.

[2017-11-30 10:04] kristianmandrup commented on #500
Thanks :) I will try your demo/example shortly

[2017-11-30 10:33] yamalight commented on #492
@allevo @jsumners I've made a simple test case in glitch (web playground) that you can try out for yourself:
http://glitch.com/edit/#!/fastify-stream-bug

[2017-11-30 11:25] yamalight commented on #492
Just tried adding `'Content-Type': 'application/octet-stream'` header - still getting same `HTTPError: Response code 415 (Unsupported Media Type)` response 😞

[2017-11-30 15:52] ansarizafar commented on #365
Its a great idea. Any update?

[2017-11-30 16:10] coreyfarrell opened #501 "fastify.listen handles null cb inconsistently."
fastify.listen has two ways to call cb, directly from fastify.ready or through the `wrap` function called by server.listen.  We should just always use the `wrap` so we consistently support fastify.listen(0) - without an address or callback.

The wrap function removes itself from the `error` event listener, this is harmless in the path where the callback to fastify.ready has not yet added the `erro

[2017-11-30 16:14] jsumners commented on #501
Actually, `fastify.ready` is not strictly equivalent to `fastify(0, cb)`. As an example from a project I am working on:

[code]

The difference is that `ready` is fired once all plugin registrations have occurred. In my situation, I need to know that has happened _before_ I fire up the listener.

[2017-11-30 16:20] coreyfarrell commented on #501
The goal of this report is for the following two lines of code to effectively do the same thing:
fastify.listen(8080, err => { if (err) throw err; });
fastify.listen(8080);

[2017-12-01 17:30] heskew opened #505 "PROPFIND and PROPPATCH requests log 'likely a fastify bug' and crash"
Saw this in logs on a test deployment that's open to external traffic. Nice testing ground for random requests.

Simple repro:
[code]

Expected: don't crash

Actual: logs the following and crashes
[code]

[2017-12-01 18:29] allevo commented on #505
Hi and thank you for this report!

Nice catch!

For the time being, PROFIND and PROPATCH http methods are not supported. That produces an "internal" error. During the handling of that error, fastify crashes.

Anyway, the only supported http methods are listed in the above output

So, this is a fastify bug definitely! But, I suggest you to don't inject custom http methods!

[2017-12-01 18:37] heskew commented on #505
No problem! This repro is overly simplified, I originally noticed it in a deployed service where I don’t always have control over who could poke at it. :)

[2017-12-01 19:23] delvedor commented on #505
Hi @heskew thank you for the bug report!
Can you check if the issue is solved with [fastify#fix-505](https://github.com/fastify/fastify/tree/fix-505) branch?

[2017-12-01 19:30] heskew commented on #505
Looks good @delvedor. Returns a 404 and doesn't crash. :1st_place_medal:

[2017-12-01 22:02] #505 closed

[2017-12-01 22:08] delvedor commented on #499
Closing this, if you have more questions feel free to reopen :)

[2017-12-01 22:08] #499 closed

[2017-12-02 18:58] gj commented on #500
Hey @kristianmandrup, did you get it working?

[2017-12-03 06:24] rabbitmeow opened #508 "Static url and parametric url"
url: '/s'
url: '/:filename'

Then both urls cannot match all urls beginning with 's'
Such as '/styles.css'

[2017-12-03 06:25] rabbitmeow commented on #508
Well, except '/s'.

[2017-12-03 17:16] mcollina commented on #362
Closing.

[2017-12-03 17:16] #362 closed

[2017-12-03 22:35] dsun9 opened #510 "question: why beforeHandler is not called?"
Hi, please help, thanks

const fastify = require('fastify')();
fastify.register(require('./routes/jwtRoutes'));
fastify.listen(process.env.PORT || 80, function (err) {
  if (err) throw err
  fastify.log.info(`server listening on ${fastify.server.address().port}`)
})

...jwtRoutes...

const opts = {
	beforeHandler: function (request, reply, done) {
		var token = request.headers.authorization
		var

[2017-12-03 22:38] delvedor commented on #510
Hi!
You are not passing the `opts` object to the route declaration.
[code]
I suggest you to have a look at our [routes documentation](https://github.com/fastify/fastify/blob/master/docs/Routes.md) :)

Feel free to reopen if you have more questions :)

[2017-12-03 22:38] #510 closed

[2017-12-03 23:02] dsun9 commented on #510
per your suggestion, I added opts like below, but still debugger does not stop and console did not log

fastify.get('/users/:userId', opts, getData)

[2017-12-03 23:05] delvedor commented on #510
My bad, you should change the name of the `opts` object, otherwise the one of the plugin function will overwrite the top level `opts`.
[code]

[2017-12-03 23:18] delvedor commented on #510
You are using the wrong name as option object:
[code]

[2017-12-03 23:22] dsun9 commented on #510
Thanks very much! my bad

[2017-12-03 23:29] delvedor commented on #508
Hi! Thank you for contributing!
It's an error in our router, I'm working on it :)

[2017-12-04 14:18] avaragado opened #511 "Support for asynchronous validation"
Looks to me as though fastify doesn't currently support async validation. Is this right? I haven't been able to make it work, at least, and a pass through the code hasn't found anything to suggest it should. The doc says nothing about async validation.

It would be great if fastify handled this, as the validation libraries mentioned in the doc, ajv and joi, both support async validation.

[2017-12-04 15:30] zenflow commented on #511
Related discussion: https://github.com/fastify/fastify/pull/167#issuecomment-329304812

+1 for this feature request!

[2017-12-04 15:44] mcollina commented on #511
I'm a bit lost on the _need_ for async validation. What operation do you plan to do asynchronously?  Validating a JSON seems a straight synchronous operation to me.
Allowing user to send bad-input to schedule async executions might open up some DoS possibilities.

[2017-12-04 15:50] avaragado commented on #511
A very common async validation requirement is to check the availability of a username.

[2017-12-04 17:26] zenflow commented on #511
I wouldn't say there is a *need* for this, since extra validation can be done in the handler, but it would be **very** convenient.

I could think of tons of examples where it would be useful: (1) @avaragado's example above, (2) checking the existence of a referenced model, (3) checking details of a referenced model (e.g. for a call to `POST /invoices/pay?invoiceId=321`, invoice 321 must be unpaid)

[2017-12-04 17:53] BastienAr opened #512 "Get original error instance in errorHandler"
When setting a custom error handler through `fastify.setErrorHandler(handler(error, reply))` the error is always an instance of [`Error`](https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Error)

Is there a way to get the real instance of the error, especially when this is an `Ajv.ValidationError`, to be able to format the error, without JSON parsing the error message ?

[2017-12-04 18:33] delvedor commented on #511
Can the [`preHandler` hook](https://github.com/fastify/fastify/blob/master/docs/Hooks.md) solve this need for you?

[2017-12-04 19:08] avaragado commented on #511
I'm trying to avoid having to write validation code twice in different ways. Being able to use the same validation schema client-side and server-side is a big win. Right now I can do that as long as the validation is synchronous. As soon as I need some form of asynchronous validation, I'm forced to write two chunks of code, with all the obvious problems.

[2017-12-04 19:27] BastienAr commented on #450
The catch all content type will not catch an empty (not set) content-type, maybe this is a bug, not sure of that.

I've done a dirty trick to set an empty content-type and catch it :

[code]

Not really proud of that, but at least it works.

[2017-12-04 19:44] dolphin278 opened #513 "Getting started tutorial problem"
I am following "Getting started" tutorial (Section ["Your first plugin"](https://www.fastify.io/docs/v0.35.x/Getting-Started/#your-first-plugin)) and it got me really puzzled - I can not access my database connection from `routes` plugin.

Here the code:

[code]

[code]

[code]

Why `mysql` is `undefined` on `fastify` in `our-first-route.js`?

I've found similar issue considering scoping of genera

[2017-12-04 19:57] jsumners commented on #513
You are missing the `next()` call in your `our-db-connector` plugin. The plugin signature is `function plugin (fastify, options, next) {}`. The `next` function must be invoked to properly register the plugin.

[2017-12-04 20:05] jsumners commented on #513
@dolphin278 I think so. The `.register` method is really just `middie` under the hood. And I don't see where `middie` accommodates promises at all:

https://github.com/fastify/middie/blob/2ac769a0a64e396de5d2d08990e82863a154f3cd/middie.js#L81-L91

@delvedor @mcollina am I wrong?

[2017-12-04 20:07] allevo commented on #511
I'm 👎

Truly the `jsonschema` doesn't validate the content but the shape.

the `400` status code should be used *only* when the data is malformed. See [here](https://httpstatuses.com/400) or [here](https://tools.ietf.org/html/rfc7231#section-6.5.1)

@zenflow  in your example you are not validating the shape of the body:
1. In the registration form (for example) you need to return a [409 Conflict](

[2017-12-05 02:53] BigMurry commented on #512
You can try
[code]

[2017-12-05 06:41] coreyfarrell opened #514 "Consider removal of fastify-cli from main package dependencies"
From latest git revision of fastify `npm install --prod` installs 124 packages (15 out of date), 7.2mb.  If I remove fastify-cli from package.json, and `npm prune --prod` I'm left with 47 packages (4 out of date), 5.0MB.

I'm less concerned about the install size, more concerned with the ability to identify important dependencies.  Issues with the 47 packages are far more important than security i

[2017-12-05 09:07] StarpTech commented on #514
Hi @coreyfarrell fastify-cli is only used in cli mode. It has zero impact of a running server instance. Outdated does not implicit a security risk. We @fastify/fastify will ensure that fastify is secure, fast as possible. E.g https://snyk.io is a better source of truth to measure security.

[2017-12-05 09:15] valentinvichnal commented on #161
@jberry93 Is there a public repo for this? I can help you with the plugin.

[2017-12-05 09:15] delvedor commented on #514
At the beginning of this project, `fastify-cli` was a separated package. Then we decided to ship it directly with Fastify itself as utility to help users automate their services and improve the overall experience.

Thank you for the proposal and the analysis, but for now I'd say that `fastify-cli` will remain where it is :)

[2017-12-05 09:24] delvedor commented on #513
@jsumners yes, if you use an *async* plugin there is no need to call `next` :)
And `register` uses `avvio`, which supports promises.

The reason why the code is not working is because the getting started guide has an error, the database connector plugin should be wrapped with [`fastify-plugin`](https://github.com/fastify/fastify-plugin).

I'll update that document very soon, thank your for the rep

[2017-12-05 09:41] dolphin278 commented on #513
I've got this code working by wrapping plugin in `fastify-plugin` **AND** using explicit `done()` call in my async plugin function. Using `fastify-plugin` alone was not enough.

[2017-12-05 10:09] delvedor commented on #513
@dolphin278 Can you paste a gist with your code?

[2017-12-05 10:16] mcollina commented on #514
BTW, we might want to reassess this, as the decision was made long ago. What other thinks?

@delvedor do we have snyk enabled in this org?

[2017-12-05 10:19] delvedor commented on #514
Nope.

[2017-12-05 10:30] mcollina commented on #514
I think we should.

[2017-12-05 10:36] nagendra-devireddy opened #517 "health check or status-monitor for fastify"
I am struggling to find health check or status-monitor something like [express-status-monitor](https://www.npmjs.com/package/express-status-monitor).  How can I achieve the same in fastify.

[2017-12-05 11:52] ansarizafar commented on #161
@mcollina  We can also use backpack-core https://github.com/jaredpalmer/backpack

Backpack is a minimalistic build system for Node.js projects.

[2017-12-05 13:23] jsumners commented on #513
@delvedor https://github.com/fastify/fastify/blob/0c5b2ec4d0292f3e26e1ae04b41462390f1f7f1e/fastify.js#L519-L527

https://github.com/fastify/fastify/blob/0c5b2ec4d0292f3e26e1ae04b41462390f1f7f1e/fastify.js#L121

https://github.com/fastify/fastify/blob/0c5b2ec4d0292f3e26e1ae04b41462390f1f7f1e/fastify.js#L136

That doesn't reference `avvio` at all.

[2017-12-05 13:27] delvedor commented on #513
@jsumners checkout avvio's docs, avvio will add some methods to your server instance, such as `use`, `after`, `ready` and so on.
Internally in Fastify we reassign the avvio's `use` to `register`, then `use` to the middie's one.

[2017-12-05 13:37] jsumners commented on #513
Ah,  I see https://github.com/fastify/fastify/blob/27c184db707c1edaa451600af38af9ba34e79d31/fastify.js#L56

[2017-12-05 15:11] dolphin278 commented on #513
@delvedor I've remade everything from scratch again and it's worked just fine (`async function` + `fp` without calling `done()`) – somehow I messed things up yesterday. Thanks everyone!

[2017-12-05 15:11] #513 closed

[2017-12-05 15:57] rabbitmeow commented on #508
Thank you for your work.😋

[2017-12-05 15:58] #508 closed

[2017-12-05 17:15] dougrich opened #520 "Deeper access to internal AJV?"
Looking at #493 it seems there's a precedent for running into this.

Some specific scenarios that I can't accomplish without deeper access today are:

- shared reference schemas
  - i.e., [this gist](https://gist.github.com/dougrich/d104baa418b88582c85a8b02f49bb6c6) shows a schema with shared references and how we can use both AJV and fast-json-stringify with it
  - I can achieve this today by man

[2017-12-05 20:14] coreyfarrell commented on #514
Thank you for pointing me to snyk.io, I'm considering using it for some of my projects.  I shouldn't have mentioned 'security' as regular bugs are just as much of a concern but more work to track down.  Unlike security issues there is no tool that will scan for known bugs.  Please don't misunderstand, the fastify team does a great job but time is finite.

@mcollina you said a decision was made lon

[2017-12-05 20:21] mcollina commented on #514
I’m not really sure, can’t find it either. Anyway, what do @fastify thinks? I’m open to remove it as a direct dependency if everybody agrees. BTW, most of the dependencies come from update-notifier, so we can definitely slim it by removing that.

[2017-12-05 20:24] jsumners commented on #514
1. We definitely should be validating against at least Snyk
1. I really don't even know what `fastify-cli` does. I have never used it. I think it would be better as a separate entity.

[2017-12-05 20:29] allevo commented on #514
[optionalDependencies](https://docs.npmjs.com/files/package.json#optionaldependencies) ?

[2017-12-05 20:35] jsumners commented on #514
@allevo optional deps still install by default.

[2017-12-05 20:44] ansarizafar commented on #514
Separate package for fastify-cli is a good idea.

[2017-12-05 21:48] allevo commented on #514
Could we invert the dependency?

[2017-12-05 21:56] coreyfarrell commented on #514
@allevo if you mean make fastify-cli depend on fastify, yes.  Actualy fastify-cli should depend on fastify, I suspect the only reason it doesn't already is because that would create a circular dependency.

[2017-12-05 21:58] #501 closed

[2017-12-05 22:10] allevo commented on #514
`fastify-cli` hasn't `fastify` as depedendy

https://github.com/fastify/fastify-cli/blob/708af9185d86bab55618e363cf87d9b54a230cb7/package.json#L35-L39

But is required here:

https://github.com/fastify/fastify-cli/blob/708af9185d86bab55618e363cf87d9b54a230cb7/cli.js#L50

And `fastify` requires `fastify-cli` is required here

https://github.com/fastify/fastify/blob/d3518f04430156d03d48f9c07b38f7ed6

[2017-12-05 22:39] coreyfarrell commented on #514
@allevo if we proceed with my proposal lib/bin.js would be deleted.

Just to be explicit for the record, I'm proposing the following changes to fastify:
* Delete lib/bin.js
* Remove "bin" setting from package.json
* Remove fastify-cli dependency from package.json
* Document that fastify should be installed locally to be used as a library, binary can be installed to path with `npm install -g fastif

[2017-12-05 22:46] delvedor commented on #514
If I may, why do you need to remove `fastify-cli`, just to save space on disk?
The idea of having it shipped with Fastify is to solve the issue of `fastify-cli` that depends on an older/wrong version of Fastify.
If we ship it within the framework, you can be sure that will always work.

The idea of `fastify-cli` is that you can run a Fastify service in your server just by typing some cli parameter

[2017-12-05 22:49] delvedor commented on #428
Closing due to inactivity, feel free to reopen if you like to discuss about this more.

[2017-12-05 22:49] #428 closed

[2017-12-05 22:51] delvedor commented on #337
Closing due to inactivity, feel free to reopen if you like to discuss about this more.

[2017-12-05 22:51] #337 closed

[2017-12-05 22:52] #247 closed

[2017-12-05 23:34] StarpTech commented on #514
I like the idea to strip fastify to a minimum. @delvedor do you use the fastify-cli feature? Personally, I'd never run a single fastify plugin with the cli. I always instantiate a server in code. That's no reason for me to have it on board.

[2017-12-05 23:49] coreyfarrell commented on #514
The space is trivial, I'm more interested in controlling the count of dependent modules.  Having a limited number of dependencies makes it more likely we (the fastify community) can manually review them all.

About dealing with different versions, would that be a v1.x issue or is it just because of how frequently breaking changes are made to v0.x releases?  Once we hit v1.0.0 we should not have co

[2017-12-06 07:23] delvedor commented on #514
@StarpTech if I have to run very small services, yes I use it. It comes very handy.

@coreyfarrell if the problem is the dependencies I agree that we should control them. As suggested by @mcollina we can remove the `update-notifier` module (even if is made by Sindre Sorhus, which is an amazing developer and respected member of the community).

[2017-12-06 07:51] mcollina commented on #481
.listen() now returns a promise if there is no callback. Would you or someone else send a PR for .ready()?

[2017-12-06 07:54] aa403210842 opened #523 "can i use qs parse"
[code]
![image](https://user-images.githubusercontent.com/2841561/33650570-88670d92-da9d-11e7-880b-a676528711ae.png)

BUT schema  querystring Validate not work

[2017-12-06 08:53] #492 closed

[2017-12-06 10:07] yamalight commented on #481
@mcollina sure, I'll send a PR for it in the next few days

[2017-12-06 10:08] allevo commented on #450
https://github.com/fastify/fastify/pull/522 should fix this without work around

[2017-12-06 10:15] mcollina opened #525 "ContentType parser API"
I think the API for the ContentType Parser is wrong.

https://github.com/fastify/fastify/blob/64f03922f49ef4f045b84bbb3832c90b3c1d8cd2/test/custom-parser.test.js#L87-L92

As an example:

[code]

I think this should be:

[code]

And we should also support async/await (maybe in the future, dealing with streams with promises is currently very bad):

[code]

[2017-12-06 10:16] allevo commented on #525
Absolutely :+1:

[2017-12-06 10:18] mcollina commented on #365
No, not really, would you like to send a PR?

[2017-12-06 12:01] mcollina commented on #520
I think we need a better story on how to reuse schemas across the library.
Would you like to send a PR?

[2017-12-06 12:10] mcollina commented on #511
Does AJV fail early if the rest of the JSON is not valid, or does it always perform the async validation?
I'm very conflicted by this request, as it seems that validations are not something that should be async to me. Specifically because when validating if something exists, we would typically want to load that thing because we need some other property. Doing an async validation followed by a look

[2017-12-06 13:25] jsumners commented on #514
@delvedor I completely agree with @coreyfarrell in regard to being able to audit the library. It is my opinion that the functionality of `fastify-cli` is not essential to the core library; it is merely making it more difficult for people to determine the potential attack vectors of Fastify and how it can fit into their project.

[2017-12-06 13:31] jsumners commented on #523
Have you looked at https://github.com/fastify/fastify-url-data?

[2017-12-06 14:49] delvedor commented on #520
If you want to have different serialization schemas you can also use [`any-schema-you-like`](https://github.com/fastify/any-schema-you-like) :)

[2017-12-06 17:42] ansarizafar commented on #365
I have just started playing with Fastify and loving it. I am not familiar with Fastify internals.

As the name suggests Fastify is all about performance and integration with uws can be a big performance boost. UWS integration should be a priority before 1.0 release.

[2017-12-06 19:07] coreyfarrell commented on #481
FYI `.listen()` returns a Promise if used without a callback (PR #502).
I have a patch that adds Promise capability to `.ready()` if used without a callback.  This one is not posted yet, hopefully soon.

[2017-12-06 19:07] yamalight commented on #481
@mcollina I've tried finding where `.ready` is defined, but couldn't quite figure it out.
As far as I can see, all functions are defined here: https://github.com/fastify/fastify/blob/master/fastify.js#L92
But `.ready` is not there. I can only see it being called, but not defined. And as far as I know it's not part of HTTP Node API.
Help? What am I missing? 🤔

[2017-12-06 19:18] zenflow commented on #511
Not necessarily. I would use something like [dataloader](https://github.com/facebook/dataloader), or even just [p-memoize](https://www.npmjs.com/package/p-memoize) to make sure my two validations (e.g. invoice exists and invoice is unpaid) result in only 1 database request

[2017-12-06 20:59] zenflow commented on #511
`jsonschema` is not restricted to validating just the shape/structure/format. That is just what it is good at doing out-of-the-box. Surely some developers are using it to validate content.. This is why Ajv supports [custom async keywords](https://github.com/epoberezkin/ajv#addkeywordstring-keyword-object-definition---ajv). And I don't see any fundamental reason why jsonschema shouldn't be used thi

[2017-12-06 21:17] mcollina commented on #481
https://github.com/mcollina/avvio#ready here it is!

[2017-12-06 21:19] zenflow commented on #520
Yes, there is some power and features of Ajv that we can't use, without adding `ajv` to our package dependencies and using `fastify.setSchemaCompiler` and doing some things ourselves, which isn't the end of the world, but it would be nice if we could avoid it.

Besides `addSchema` functionality, I think the [`addKeyword` functionality](https://github.com/epoberezkin/ajv#addkeywordstring-keyword-ob

[2017-12-06 21:31] yamalight commented on #481
Ah, it was part of support lib. Thanks for the explanation! 👍

[2017-12-06 21:46] coreyfarrell commented on #481
PR at mcollina/avvio#37

[2017-12-06 22:04] dougrich commented on #520
PR #528 is open with the API interface + behavior I proposed above.

I mentioned two open discussion points that need to be resolved before merging in: @zenflow's ask for the `addKeyword` functionality and an open question on if the public API should expose `addSchema` or if all schemas should be passed in through `options.ajv.schemas`.

I'm personally preferential to `addSchema` as that means it'

[2017-12-06 22:32] mcollina commented on #514
@coreyfarrell would you mind checking if removing `update-notifier` reduce the amount of deps to a more manageable state?

In any case, I'm ok in removing if the rest are ok with it.

[2017-12-06 22:48] mcollina commented on #512
What do you mean by "real instance"?

[2017-12-06 23:15] avaragado commented on #511
One other data point: the express middleware [express-validator](https://www.npmjs.com/package/express-validator), ~190K downloads in the last month, supports async validation.

[2017-12-06 23:21] mcollina commented on #511
More or less this indicates why it is a bad idea to do this, and why I won't recommend this to anyone: it adds a completely new layer of complexity for some convenience. However, I'm not stopping anyone to work on this: if supporting async validations __does not cause any performance regressions__ with sync validations / without validations, then I'm ok with landing such PR.

[2017-12-07 00:33] StarpTech commented on #525
+1 This should be a blocker for 1.0 and can be fixed quick.

[2017-12-07 00:38] activestylus commented on #407
I would like to see how this stacks up against Mitol, which gets a pretty good score on Techempower

https://github.com/Helidium/Mitol

[2017-12-07 02:48] coreyfarrell commented on #514
Current numbers for `npm i --prod`:
* master: 125
* without update-notifier: 61
* without cli: 47

14 extra packages is better than 78 extra packages but my vote is still to stop bundling fastify-cli.  I'll never use fastify-cli so I would feel wrong giving :+1: to removal of a feature from it.  I also think update-notifier is a very reasonable feature for fastify-cli to have.

[2017-12-07 09:32] delvedor commented on #511
Our validation system is built to validate just the request object.
I think that if you want to make a more complex validation you should use the `preHandler` hook or the `beforeHandler` hook, which fully supports async operations and does not add any overhead to the framework itself.
Checkout our [docs](https://github.com/fastify/fastify/blob/master/docs/Hooks.md) about hooks :)

[2017-12-07 12:48] manzonif opened #529 "type for onSend hook"
There is no type for onSend hook in fastify.d.ts

[2017-12-07 12:52] mcollina commented on #529
Would you like to send a PR for it?

cc @evanshortiss

[2017-12-07 12:54] mcollina commented on #517
I think the best way to do this would be to extend https://github.com/fastify/under-pressure to report those stats, and then hook it into a websocket for easy delivery.
I think it would be a nice plugin to do!

[2017-12-07 13:29] manzonif commented on #529
something like this could work?

`addHook(name: 'onSend', hook: (req: FastifyRequest<HttpRequest>, reply: FastifyReply<HttpResponse>, payload: any, done: (err?: Error) => void) => void): FastifyInstance<HttpServer, HttpRequest, HttpResponse>`

[2017-12-08 01:07] Ethan-Arrowood commented on #525
Can i give this a shot?

[2017-12-08 12:26] yamalight opened #530 "fastify.inject fails to execute when passing file stream as payload"
I'm trying to test method that accepts file streams (see https://github.com/fastify/fastify/issues/492 for initial discussion) and I'm using fastify.inject for it.
I've adapted the catch-all test from `custom-parser.test.js` to use inject. The test fails due to timeout (it seems like it just hangs indefinitely):

[code]

Any ideas why that might happen?

[2017-12-08 12:28] yamalight commented on #530
I've openend a PR with a failing test here: https://github.com/fastify/fastify/pull/531

[2017-12-08 12:37] StarpTech commented on #530
@yamalight https://github.com/fastify/fastify/blob/master/lib/reply.js#L69 you can only send a stream if you don't set the content-type. Try `res.send(req.body)`

[2017-12-08 12:39] StarpTech commented on #530
@yamalight refer to https://github.com/fastify/fastify/blob/master/lib/reply.js#L70 did you try `res.send(req.body)` ?

[2017-12-08 12:40] yamalight commented on #530
@StarpTech the issue is in receiving stream, not sending it. Test never even goes to body handling.
Send in this case would dispatch aggregated data from `"*"` content parser (at least as far as I understand it).

[2017-12-08 12:41] StarpTech commented on #530
@yamalight perhaps fastify.inject fallback to `application/json` ?

[2017-12-08 13:20] jsumners commented on #525
@Ethan-Arrowood most certainly.

[2017-12-08 13:21] yamalight commented on #530
@StarpTech seems like it does indeed adds `application/json` content header, but it is still not clear why the test never finishes - IMO in that case it should throw an error (e.g. cannot parse JSON)

[2017-12-08 13:50] yamalight commented on #530
Just tried adding:
[code]

The result is the same - timeout.

[2017-12-08 14:04] dsun9 opened #532 "fastify specify a route for register"
Hi, I'd like to know if we can specify a route for register.

I have a route that I don't want the following, which slows it down. but other routes need them
fastify.register(fastifyCookie)
fastify.register(require('fastify-static')
fastify.register(require('fastify-multipart'))
fastify.register(require('fastify-formbody')

[2017-12-08 14:16] mcollina commented on #532
I don’t understand what you want to achieve, can you rephrase?

[2017-12-08 14:16] jsumners commented on #532
[code]

[2017-12-08 14:25] dsun9 commented on #532
Thanks jsumners, let me try that.
Thanks mcollina, jsumners' post is what I want to achieve

[2017-12-08 14:47] dsun9 commented on #532
I got this error
app.js:12
    .regiser(require('fastify-cookie'))
     ^

TypeError: instance.regiser is not a function

[2017-12-08 14:48] jsumners commented on #532
@dsun9 it is very clearly a typo. Don't copy and paste an example from someone who has no idea what your actual code looks like.

[2017-12-08 15:15] Ethan-Arrowood commented on #525
Yay! If you guys have any other pointers for me that would be much appreciated

[2017-12-08 15:16] dsun9 commented on #532
Thanks very much

[2017-12-08 15:16] #532 closed

[2017-12-08 16:54] mcollina commented on #530
Interesting bug! :)

[2017-12-08 19:46] StarpTech commented on #530
@yamalight I tried your code outside of the tests and it works. You run into a timeout because you expect 4 asserts but `t.teardown` does not count :D

[2017-12-08 19:46] #530 closed

[2017-12-08 20:04] yamalight commented on #530
Ah, dammit. So that _was_ my stupid mistake.
It does indeed work now, thanks for help!

[2017-12-11 02:34] Ethan-Arrowood commented on #525
@mcollina can you expand on what changes you'd like to see in the ContentTypeParser api?

[2017-12-11 08:33] mcollina commented on #525
@Ethan-Arrowood the `done()` function currently receives both errors and data as the first argument. That is a bug, error first, and data second.

Plus, we need `Promise` support for this change.

[2017-12-11 08:36] mcollina commented on #529
I'm a bit lost here. Can you send a PR with the best change for you?

[2017-12-11 08:41] mcollina commented on #229
Ping, cutoff data is 16th of December.

[2017-12-11 09:53] manzonif commented on #529
I tried to explain myself better here #533

[2017-12-11 11:55] yamalight opened #534 "Is piping request streams possible?"
As I've figured it out with your help (thank you again for bearing with me 😄 ) in https://github.com/fastify/fastify/issues/492, one can accept streams using content type parser, i.e.:
[code]

My question is - is it possible to pipe request stream into something? E.g. in express/hapi/micro/etc one can do something like this:
[code]

And when sending POST request to `/` you'll get your body as a re

[2017-12-11 12:09] mcollina commented on #534
I think you can do:

[code]

and then access the core HTTP request directly, and pipe it where you want:

[code]

[2017-12-11 12:39] yamalight commented on #534
@mcollina well, that was easy. Thanks! 👍
Gonna close this :)

[2017-12-11 15:10] Ethan-Arrowood commented on #525
Alright thank you! I'll see what I can come up with

[2017-12-11 17:32] nasplachkov commented on #512
I am in exactly the same place as the OP and after looking into the code I saw where you handle it.

[https://github.com/fastify/fastify/blob/ed65c02c9fa5084603646c99405a65e55763f40a/lib/validation.js#L66](https://github.com/fastify/fastify/blob/ed65c02c9fa5084603646c99405a65e55763f40a/lib/validation.js#L66)

You are using **fastJsonStringify** and later have to parse the data back to an object in

[2017-12-11 17:54] miguelAliaga opened #536 "Before Handler Question"
Hi team, in the code above I am using a beforeHandler, but it never ends. In the handler I use a res.send('ok'). Can u help me ?
[code]
___
*edit by @delvedor: updated code formatting*

[2017-12-11 20:53] delvedor commented on #536
Can you paste the full example?
You should pass the error as `new Error` and not as plain string :)

[2017-12-11 22:23] yamalight opened #537 "POST with empty body fails"
Fastify fails when handling POST requests with empty body (be it none specified or `content-length: 0`) - `HTTP/1.1 415 Unsupported Media Type`.
Is that intended? Or are there any additional steps needed to make it work?

[2017-12-11 22:26] delvedor commented on #537
Hi!
Have a look at #297, #419 and #450 :)

*Closing this and marking as duplicate.*

[2017-12-11 22:26] #537 closed

[2017-12-11 22:29] yamalight commented on #537
Ah, should've searched first. Thanks!

[2017-12-12 11:30] mcollina commented on #512
Would you mind to send a PR? It’s not clear what you want to achieve, and code is easier to discuss.

[2017-12-12 23:23] thupi opened #538 "Strings should not be wrapped in quotes"
Hi,

First of all i love the simplicity and clean approch with the framework.

However, i am woriking with at SqlServer that returns json as a string.

I would like to output the  string while keeping the content-type as json.

As far as i know fastify automaticly wraps the content ind quotes if reply.send is passed a string.

How would one achive this :-) ?

My current workarround is the followin

[2017-12-12 23:45] jsumners commented on #538
If the result is `"foo"`, that is valid JSON per RFC.

[2017-12-13 00:16] jsumners commented on #229
@fastify/fastify reminder: you have 3 days to submit new API changes that will block the release of v1.0.0.

[2017-12-13 10:56] stephen-last opened #539 "Serve both home page and static assets from /"
I'm using `fastify-static` to serve static assets (`js`, `css`):

[code]

This works, and I can use `/public/js/main.js` etc. However, I'd like to serve the static assets from `/js/main.js`. Changing `prefix: '/public/'` to `prefix: '/'` seems to add a conflict and I get:

I already have a route which is used to stream my server rendered React HTML:

[code]

Serving both the HTML and static assets

[2017-12-13 11:03] mcollina opened #540 "do not JSON.stringify strings by default"
Currently we are converting strings to JSON by default, but possibly we should render them as text-plain, without kicking in the serializer.

[2017-12-13 11:10] mcollina commented on #540
This is slightly related to https://github.com/fastify/fastify/issues/538, but a different use case.

I propose that:

[code]

Renders `hello world` instead of `"hello world"`.

[2017-12-13 11:33] delvedor commented on #540
Agree, I'll do this.

[2017-12-13 13:16] delvedor opened #542 "Drop Boom support"
In the same way that we are not supporting out of the box [Joi](https://www.npmjs.com/package/joi), I think we should not support out of the box [Boom](https://www.npmjs.com/package/boom).
If a user wants to use Joi, it can do it by using the [setSchemaCompiler](https://github.com/fastify/fastify/blob/master/docs/Server-Methods.md#setschemacompiler) api.
I think that in the same way if a user want

[2017-12-13 13:21] jsumners commented on #542
Works for me.

[2017-12-13 13:28] allevo commented on #540
Why?

This can be achieved with
[code]

[2017-12-13 13:39] allevo commented on #542
I like the error handling in `fastify`: it simplifies a lot the development. Moving the `Boom` support to outside could be a not good thing for the new users. We have to write a plugin that implement the same `Boom` interface.

On the other side, I'd like to keep `fastify` as light as possible.

So I'm :+1:  with a nit

[2017-12-13 14:01] mcollina commented on #542
I think we should provide a plugin to do that, it will be a good example.

[2017-12-13 14:02] mcollina opened #543 "Use http-errors"
As titled: http://npm.im/http-errors

[2017-12-13 14:08] allevo commented on #543
Internally or using `setErrorHandler` in a plugin?

[2017-12-13 14:40] mcollina commented on #543
internally and advertise it as our supported solution.

[2017-12-13 17:37] nasplachkov commented on #512
This is what I am thinking about: [https://github.com/fastify/fastify/pull/544](https://github.com/fastify/fastify/pull/544)
Having an additional property makes it easy to modify the response inside the **extendServerError**

[2017-12-14 14:30] jsumners commented on #543
Are we putting this on the v1.0.0 list?

[2017-12-14 15:00] mcollina commented on #543
I propose so.

[2017-12-15 13:28] #525 closed

[2017-12-15 14:11] mcollina commented on #540
Because that's not what user will expect.

[2017-12-15 14:53] rabbitmeow opened #546 "Promise instead of callback"
### Current
[code]

### My design
[code]

[2017-12-15 15:04] rabbitmeow commented on #546
Further more, I hope RxJS can be supported in fastify without complex code.
### just like that
`
Rx.fromPromise(server.route({method: 'POST', url: '/signin'}))
`

[2017-12-15 15:15] rabbitmeow commented on #546
Oops. Conflict to the current design. server.router will return FastifyInstance. Well, Can fastify support a new function that server.routePromise ?

[2017-12-15 15:20] mcollina commented on #546
@rabbitmeow that is not possible. A promise resolves only once, and your design conflicts with that basic approach.

The current design is this:

[code]

or

[code]

which is very similar

[2017-12-15 15:25] rabbitmeow commented on #546
oh. I forgot async function. sorry.

[2017-12-15 15:25] #546 closed

[2017-12-15 15:28] mcollina commented on #229
Cutoff is happening tomorrow. Does anybody has anything more to add?

[2017-12-15 15:58] jsumners commented on #229
To be clear: the is 00:00 UTC. That is 8 hours from the time of this comment.

[2017-12-15 16:26] allevo commented on #229
https://github.com/mcollina/avvio/pull/36 and https://github.com/mcollina/avvio/pull/37 could impact the release.

[2017-12-15 17:28] jsumners commented on #229
Please create an issue to track the end result.

[2017-12-15 17:29] mcollina commented on #229
@allevo those two issues are already tracked in this list.

[2017-12-16 00:03] mcollina commented on #539
This is currently not possible with fastify. I don’t think this would be a good idea, as it would definitely slow things down: currently our router match one handler and one handler only.

I’m not sure what the others think.

[2017-12-16 02:56] coreyfarrell commented on #514
Has a decision been made which route to take?  I can prepare PR's for fastify and fastify-cli.

If we go with my proposal should fastify-cli use `dependencies` or `peerDependencies` to require fastify?  Using `peerDependencies` would require that users `npm i -g fastify fastify-cli` (npm will warn if they don't install fastify).  This might be desirable as users could control which version of each

[2017-12-16 10:26] mcollina commented on #514
Here is a poll:

[![](https://api.gh-polls.com/poll/01C1FDPT2FQWG6ARBCTSWK32B4/remove%20fastify-cli%20from%20fastify%20dependencies)](https://api.gh-polls.com/poll/01C1FDPT2FQWG6ARBCTSWK32B4/remove%20fastify-cli%20from%20fastify%20dependencies/vote)
[![](https://api.gh-polls.com/poll/01C1FDPT2FQWG6ARBCTSWK32B4/keep%20fastify-cli%20as%20a%20fastify%20dependency)](https://api.gh-polls.com/poll/01C1F

[2017-12-16 14:14] jsumners commented on #539
I can understand the desire, but I really don't see a problem with having routes for resources. Plus, this could be solved in your proxy. Here's an HAProxy example:

[code]

[2017-12-16 14:22] jsumners commented on #539
If you have an application that you're trying to port over, and don't want to update all of your templates to reference new resource locations, one solution would be to have a different server specifically for your static resources. Then you would configure your proxy to reference that server:

static server:
[code]

HAProxy example:
[code]

[2017-12-17 05:13] nwoltman opened #548 "Question about async handlers that call reply.send()"
Why is the check implemented [this way](https://github.com/fastify/fastify/blob/67e111e8bc4e5f47d4aa93468a71bccdb8664037/lib/handleRequest.js#L124-L126)?

[code]

I would have expected it to be:

[code]

I'm mainly concerned because I have a reply decorator that does this:

[code]

and if I use that inside an `async` handler, `reply.send()` gets called twice.

Plus I feel like it would be a better

[2017-12-17 10:18] allevo commented on #548
Hi!
  and thank you for trying fastify!

That behaviour was introduced to handle the `return undefined` in async function.

Truly in async function I used to use the return statement instead of calling `send` method.

[code]

Which is the behaviour you aspect?

[2017-12-17 17:09] nwoltman commented on #548
I expect that `state.reply.send(payload)` **won't** be called when this handler resolves:

[code]

That code causes [this line](https://github.com/fastify/fastify/blob/67e111e8bc4e5f47d4aa93468a71bccdb8664037/lib/reply.js#L25) to be run which logs the warning: `Reply already sent`.

---

I also expect that `state.reply.send(payload)` **will** be called when this handler resolves:

[code]

Right no

[2017-12-17 17:50] mcollina commented on #548
As I do a lot of times, I’d recommend you to issue a pull request. It’s
better to discuss in front of working code.
Il giorno dom 17 dic 2017 alle 18:09 Nathan Woltman <
notifications@github.com> ha scritto:

[2017-12-17 18:05] nwoltman commented on #548
Sure. I'll have one open soon :)

[2017-12-17 23:28] nwoltman opened #550 "Certain errors result in request being null"
If an error occurs before the Validation part of the lifecycle, `request` is `null` in:

+ The `onSend` hook

[code]

+ Any custom error handler

[code]

This is very much unexpected in the `onSend` hook and this also makes it more difficult to access the `req` object in the error handler.

See PR #551 for a potential fix.

[2017-12-18 09:00] stephen-last commented on #539
The main reason for this question relates to when third-parties ask for, or even require something be accessible from the root.

In my experience it's mainly been round providing proof of domain ownership from services ranging from webmaster tools to SSL certs. Because of these, I've always tried to serve static assets from the root to avoid problems down the road.

They might say "create a file c

[2017-12-18 09:30] #548 closed

[2017-12-18 09:32] #550 closed

[2017-12-18 10:11] #540 closed

[2017-12-18 13:51] jsumners commented on #539
Well, in all of those situations I would turn to HAProxy 😆

There's a couple solutions I can think of:

1. Use whatever proxy you (probably?) have in front of your application to direct such requests to the right place
2. Implement a parameterized `/` handler, e.g. `fastify.get('/:item', ...)`
3. Use a custom 404 handler to serve out the content

You should really consider the security ramificatio

[2017-12-18 14:15] #539 closed

[2017-12-18 15:41] andrew-snytko opened #554 "Router scheme required parameters"
Hi!
How can I set parameter as "required" in route scheme ? It can be "querystring" or "body" or "params" parameter.

[2017-12-18 15:48] mcollina commented on #554
I don't understand your question, can you rephrase, making an example?

[2017-12-18 16:00] andrew-snytko commented on #554
Ok.
For example route scheme.
{
        schema: {
            querystring: {
                id: {
                    type: 'integer',
                    required: ['id']
                }
            }
    }
Does in this scheme "id" will validate as required ?
Or i have to use another syntax to validate required parameters ?

[2017-12-18 16:03] delvedor commented on #554
Hi @andrew-snytko, I suggest you to read [this](https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md#resources) resources! :)

Below what you are trying to accomplish:
[code]

[2017-12-18 16:11] andrew-snytko commented on #554
Thank you for the explanation :)

[2017-12-18 16:11] #554 closed

[2017-12-19 10:01] ookangzheng opened #557 "Getting an crash on Heroku"
<img width="859" alt="screen shot 2017-12-19 at 5 56 40 pm" src="https://user-images.githubusercontent.com/6301735/34151542-869b5bd2-e4e6-11e7-8f16-6f1315a61714.png">
I facing this crash on Heroku
I using Node 8.9.3

[2017-12-19 10:04] mcollina commented on #557
Can you upload more of your logs? it seems the stacktrace is cut.

[2017-12-20 12:19] nasplachkov opened #564 "No error on invalid schema"
Creating an endpoint with an invalid schema will stop the whole application without any error.

I've created a PR for this: [https://github.com/fastify/fastify/pull/563](https://github.com/fastify/fastify/pull/563)

[2017-12-20 17:49] #456 closed

[2017-12-20 17:51] jsumners commented on #460
Is this solved?

[2017-12-20 17:51] mcollina commented on #460
This is not solved. It has to be done in avvio (likely v5), but I would not have the time until the new year.

[2017-12-21 08:27] #514 closed

[2017-12-21 08:42] mcollina commented on #557
Closing for no activity, let us know if you still see the same issue!

[2017-12-21 08:42] #557 closed

[2017-12-21 13:49] mcollina commented on #523
Closing for no activity.

[2017-12-21 13:49] #523 closed

[2017-12-21 13:49] #529 closed

[2017-12-21 14:02] mcollina commented on #543
I don’t think we are there just yet.

[2017-12-21 14:02] jsumners opened #569 "plugin: Support using Boom for errors"
Previously, Fastify included built-in support for [Boom errors](https://github.com/hapijs/boom). Issue #542 and PR #558 removed that support in an effort to simplify error handling within the core library. Thus, it would be nice to have a plugin within the ecosystem that provides this functionality.

This should be a very easy plugin to create. It merely has to replicate the following code:

https

[2017-12-21 14:03] jsumners commented on #542
Closing since the actual issue is resolved. I created #569 to deal with the plugin idea.

[2017-12-21 14:03] #542 closed

[2017-12-21 14:14] jsumners commented on #538
Closing because PR #540 should resolve this. Re-open if you determine otherwise.

[2017-12-21 14:14] #538 closed

[2017-12-21 14:16] jsumners commented on #450
Closing because of inactivity and #522 should fix this. If that is not the case, please re-open.

[2017-12-21 14:16] #450 closed

[2017-12-21 14:20] jsumners commented on #407
Closing due to OP inactivity. Please open additional benchmark requests on the https://github.com/fastify/benchmarks repository.

[2017-12-21 14:20] #407 closed

[2017-12-21 14:26] jsumners commented on #207
@andreyunugro does #540 solve this problem?

[2017-12-21 14:28] jsumners commented on #426
@mikemfleming can you try current master (which should become v0.37.0) to see if this issue is solved for you?

[2017-12-21 14:32] jsumners commented on #536
ping: @miguelAliaga

[2017-12-21 14:33] jsumners commented on #480
Closing due to inactivity. Please re-open if you would like to continue this discussion.

[2017-12-21 14:33] #480 closed

[2017-12-21 15:32] #257 closed

[2017-12-21 19:00] miguelAliaga commented on #536
`'use strict'
const _Query = require('../../database')
const {promisify} = require('util')
const Query = promisify(_Query.query)
const jwt = require('jsonwebtoken')
const decode = promisify(jwt.decode)
module.exports = (Fastify, opts, next) => {
  Fastify.route({
    method: 'GET',
    url: '/:id',
    beforeHandler: (req, res, done) => {
      let Bearer = req.headers.authorization || req.headers

[2017-12-21 19:03] miguelAliaga commented on #536
i am sending a request with a header:
[code]

[2017-12-21 19:46] jsumners commented on #536
I recommend using `req.log.debug` liberally to see where your error is occurring. Other than fixing your error creations, they should be like `var anError = Error('ooop it failed')`, I don't see anything wrong.

[2017-12-22 09:35] ccbikai opened #573 "route match problem"
[code]

![image](https://user-images.githubusercontent.com/2959393/34293136-84047f66-e73e-11e7-9520-adcf38fd9d6b.png)

when i `curl "http://localhost:3333/a/"`, it got 'wrong'.

I think should be 'right'

[2017-12-22 09:41] mcollina commented on #536
The problem is in `const decode = promisify(jwt.decode)`.

You are using a function that returns a Promise, but you are passing in a callback. Just replace that with `decode = jwt.decode`. And fix your errors.

[2017-12-22 13:48] jsumners commented on #536
I believe your question has been answered so I am closing this issue. If you have further questions, feel free to re-open.

[2017-12-22 13:48] #536 closed

[2017-12-22 14:18] mcollina opened #574 "stop using double spaces in docs"
I find them extremely hard to maintain.

[2017-12-22 14:40] jsumners commented on #543
Fixed in #571

[2017-12-22 14:40] #543 closed

[2017-12-22 14:44] jsumners commented on #574
Agreed. Any time a double space is desired for indicating a line break in documentation, an explicit `<br>` should be used instead.

[2017-12-22 15:24] mcollina commented on #574
Fixed in #575

[2017-12-22 15:24] #574 closed

[2017-12-22 15:24] #491 closed

[2017-12-22 15:51] jsumners commented on #229
Just one more item on the list 😄

[2017-12-22 16:03] delvedor commented on #229
Should https://github.com/fastify/fastify/issues/296 be a blocker?

[2017-12-22 16:04] jsumners commented on #229
@delvedor No. Documentation is easily revised as semver minor/patch. Updating the documentation doesn't actually change the API.

[2017-12-22 16:07] delvedor commented on #573
Hi!
If I'm not wrong, `/` means a new level of url nesting, so declare a route as `/test/` does not have sense, and the wildcard will correctly catch all the not matching routes.
@mcollina thoughts?

[2017-12-22 16:09] delvedor commented on #512
This can be closed, `extendServerError ` is no more a supported API and thank to https://github.com/fastify/fastify/pull/544 you will get the original validation error.

[2017-12-22 16:09] #512 closed

[2017-12-22 16:09] delvedor commented on #564
Closed by #563.

[2017-12-22 16:09] #564 closed

[2017-12-22 16:10] delvedor commented on #481
@mcollina can we close this?

[2017-12-22 16:13] delvedor commented on #229
@jsumners you are right, but I'm proposing to make it so because it is our first major release, I think that have everything well done and documented is important.

[2017-12-22 16:28] ccbikai commented on #573
but i `curl "http://localhost:3333/b/"`, it got 'right'

![image](https://user-images.githubusercontent.com/2959393/34305242-176e5ff4-e778-11e7-8ae5-711b901a0738.png)

[2017-12-22 16:32] ccbikai commented on #573
When i use express, it's all 'right'

[code]
![image](https://user-images.githubusercontent.com/2959393/34305353-b75b0c24-e778-11e7-9c87-0a634e2fd51f.png)

[2017-12-22 16:34] delvedor commented on #573
Oks, thank you for reporting, I'll investigate on this :)

[2017-12-22 16:49] mcollina commented on #481
👍

[2017-12-22 16:49] #481 closed

[2017-12-22 16:53] Ethan-Arrowood commented on #229
If there is one thing I've learned from being in the Node.JS & React.JS space is documentation is a big ticket item. I'd be happy to help write, proofread, and review 👍

[2017-12-22 16:55] Ethan-Arrowood commented on #296
One thing I came across recently is serving static files with Fastify. Took me too long to find `fastify-static`. For at least this topic there should be something on the getting started or API documentation page so when users search for "serve static files with Fastify" they get a good detailed guide how to.

[2017-12-22 17:36] mcollina commented on #229
@Ethan-Arrowood I agree with that statement! If you would like to do a big PR it would be fantastic.

0.37 is feature complete for 1.0, we just need to a) remove stuff and b) write better docs (optionally).

If anyone wants to give a stab at #460, it needs to be done in avvio. It's going to be tricky. I'm going to be away from a laptop until Jan 2nd.

[2017-12-22 17:41] jsumners commented on #229
@delvedor I understand. But I believe earlier in this thread we came to the consensus that the documentation is serviceable for v1.0.0.

That being said, I have the next week off work. If @Ethan-Arrowood doesn't tackle the problem, I will dig into it some time next week.

[2017-12-22 17:43] jsumners commented on #296
Hapi does have some excellent tutorials. But their actual documentation is not a format I would recommend (or support).

[2017-12-22 18:02] mcollina commented on #229
I think it’s workable. There are also a couple more things I would like to do for 1.0 on our website, and maybe have a launch blog post.

Also, we’d have to update our benchmarks as well.

A lot of these are blocked by me, so feel free to take any.

[2017-12-22 18:47] yamalight commented on #296
@jsumners I do like fastify docs better, but hapi tutorials part is something that I'd love to see in fastify (that'd also eliminate quite a lot of common questions IMO)

[2017-12-22 19:58] Ethan-Arrowood commented on #229
@mcollina @jsumners I'll organize a nice issue post for the documentation later this evening and then start working on it as I can!

[2017-12-22 20:41] Ethan-Arrowood opened #577 "Refactor Documentation"
## Fastify Documentation Refactor
Ref #229 #296

### Goal
This issue should accurately describe and track all upcoming changes for Fastify documentation in preparation for the v1.0.0 release (this will not block the 1.0.0 release).

### Comments

@allevo: https://github.com/fastify/fastify/issues/296#issue-260047107

@jsumners: https://github.com/fastify/fastify/issues/296#issuecomment-331678707

[2017-12-22 21:24] Ethan-Arrowood commented on #577
## API Documentation Mockup
![documentation section](https://user-images.githubusercontent.com/16144158/34312616-6f4ffe52-e733-11e7-9853-77230f1a84e8.png)
I'm a huge fan of Node.js [documentation](https://nodejs.org/dist/latest-v8.x/docs/api/http.html#http_event_connect) as well as Mozilla's [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/prototype). Th

[2017-12-22 21:27] jsumners commented on #577
Wow! I am already very impressed. I look forward to seeing what you come up with.

[2017-12-22 23:39] mcollina commented on #577
I’m very impressed :). Let us know if you need any help!

[2017-12-23 03:48] Ethan-Arrowood commented on #577
I think I'll need some help with the API Spec, but I'll make sure to post specific questsions/issues when I come accros them

[2017-12-23 08:07] Ethan-Arrowood commented on #577
@mcollina I think I'm going to need some help with the website. I tried making a tutorial page but I'm having some trouble understanding handlebars as well as the build scripts. Do you have any recommendations on how to proceed?

[2017-12-23 09:30] delvedor commented on #577
@Ethan-Arrowood you should speak with @lmammino :)

[2017-12-23 09:31] delvedor commented on #577
I'm working on a Fastify workshop, I'm going to finish it during the holidays :)

[2017-12-23 11:32] mcollina commented on #577
@Ethan-Arrowood It would be better to file a PR with the non-working code and print an error. Or if you have some more specific questions, open issues!

[2017-12-23 14:27] jsumners commented on #577
I would focus first on the documentation within this repository. The website can be updated afterward.

[2017-12-23 14:35] jsumners commented on #577
I'd really rather see something like https://getpino.io/#/docs/API?id=childbindings or https://github.com/jscas/cas-server/blob/128a8d4def29c9a1a5092312c15dec3e70e8c930/docs/Plugins.md#serviceregistry-plugins . I find the TS stuff too difficult to read (I can't express my level of frustration when I try to navigate to a module's source code in VSCode and get taken to a TS definition).

[2017-12-23 14:40] jsumners commented on #577
Regarding tutorials, Choo has some good stuff:

+ https://choo.io/
+ https://handbook.choo.io/
+ https://avocado.choo.io/01-choo

[2017-12-23 22:29] ugenderr opened #581 "ajv schema validation fastify"
I am trying to validate a request parameter ('hccid') here but my validation is not working. What am I missing? Any help would be greatly appreciated.

[code]

[2017-12-23 22:33] StarpTech commented on #581
Hi @ugenderr you have to declare as `required`. Look in the sample [here](https://github.com/fastify/fastify/blob/b2d9885c1850953de875c46014e38688f014b1f4/docs/Validation-and-Serialization.md#validation)

[2017-12-23 22:34] StarpTech commented on #581
e.g
[code]

[2017-12-23 22:40] ugenderr commented on #581
That worked. thanks for the help.

[2017-12-23 22:41] #581 closed

[2017-12-24 23:52] StarpTech opened #582 "Graceful shutdown after synchronous error"
When a synchronous error is thrown (err-first-callback) fastify should gracefully shutdown. As a user I expect that the  `onClose` hook is called and fastify will exit with the error. When using Promises or Async / Await the error is handled automatically and the user is responsible for that.

[2017-12-25 01:18] mcollina commented on #582
Can you make a code example?

We handle promises and errbacks with the same codebase, so the behavior will likey be identical.

[2017-12-25 04:59] p2pweb-me opened #583 "preHandler set reply.header has effect in 0.35 , buy not effect in 0.36, 0.37"
![image](https://user-images.githubusercontent.com/34009818/34333262-dfbce77e-e975-11e7-82d6-1ff5f604b195.png)

[code]

preHandler set reply.header has effect in 0.35 , buy not effect in 0.36, 0.37 #

[2017-12-25 11:54] StarpTech commented on #582
This code will lead to an uncaught error and the user is not able to gracefully shutdown fastify (close connection etc..)

[code]

My proposal is to catch synchronous errors and call `close()`

[2017-12-25 13:05] StarpTech opened #584 "Terminated slash in route prefixes lead to not found"
Request to `http://localhost:3000/test/foo` will return 404 because of the terminated slash `/test/`. The correct URL is `localhost:3000/test//foo`. In my opinion, for the best dev experience, we should unify this and don't allow a terminated `/` in prefix as well as no `/` in routes.

Correct:
[code]

Wrong:
[code]

[code]

[2017-12-25 13:11] StarpTech commented on #583
Hi @p2pweb-me your url is `http://127.0.0.1:3000/test/` and is not covered by your router definitions and produce a `404`.

You have to use the `setNotFoundHandler` helper

[code]

[2017-12-25 14:41] mcollina commented on #582
Unfortunately, this is not easy to do reliably and with decent performance. Plus, it completely prevent you to use post-mortem debugging.

What you want in your code is:

process.on(‘uncaughtException’, () => { server.close() }.

I’m +1 in having that into a plugin in the main org, and mention this in the docs.

Supportig bounce-like logic is actually a very good idea for promisified code. I’m -1

[2017-12-25 14:45] StarpTech commented on #582
Hi, @mcollina I don't mean to catch any uncaught error. I'm talking primarily about a solution to gracefully shutdown fastify in any scenario. Fastify can still exit but in combination with `onClose` -> `throw err`

[2017-12-25 14:48] mcollina commented on #582
why process.on(‘uncaughrException’) is not enough?

[2017-12-25 14:56] StarpTech commented on #582
Because `close` can not be called since the interface of `uncaughtException` is synchronous..

Source: https://nodejs.org/api/process.html#process_event_uncaughtexception

[2017-12-26 00:39] mcollina commented on #582
Indeed it is. However this is the exact same that you want to achieve.

[2017-12-26 01:32] StarpTech commented on #582
No, I just want to catch synchronous errors because fastify support callback style and the user is not possible to react on it. We can also highly recommend async or promise style in the docs and mark callback style as deprecated. When this is not our goal we should provide at least the same safety which other styles (promise..)  provide and with callback style we have to use try/catch.

[2017-12-26 08:21] ookangzheng commented on #557
<img width="1002" alt="screen shot 2017-12-26 at 4 19 43 pm" src="https://user-images.githubusercontent.com/6301735/34351596-aab0a03c-ea58-11e7-8c09-152c8ef821ad.png">
Ya, same issue
----My package.json and Procfile props----
<img width="1021" alt="screen shot 2017-12-26 at 4 21 01 pm" src="https://user-images.githubusercontent.com/6301735/34351616-d532509e-ea58-11e7-9d9b-77884528042e.png">

[2017-12-26 09:53] delvedor commented on #557
Looks like that `/lib/pluginUtils` does not exist.
Is not a problem related to Fastify itself, it's `require` that is throwing an error.

[2017-12-26 10:28] StarpTech commented on #583
@p2pweb-me feel free to reopen when you have still a problem.

[2017-12-26 10:28] #583 closed

[2017-12-26 11:40] ookangzheng commented on #557
I tried with version 0.35.7 currently working,
but with latest version, it's not working and I also tried remove whole project & heroku project, re-depoly again, the problem still the same lo

[2017-12-26 14:08] jsumners commented on #557
@delvedor line 24 from `fastify.js`:

https://github.com/fastify/fastify/blob/0d8de7e8ec5a45721360a87c1b0d6c42fceb07b4/fastify.js#L24

[2017-12-26 17:08] gillesdemey commented on #371
Currently having the same issue, I've figured out a repro:

[code]

Curl the stream
[code]
Hitting `Ctrl+C` to cancel the client request will crash the server:

[code]

I'll dig around in the code to see if I can take a stab at this myself :)

[2017-12-26 17:58] jsumners commented on #371
I vaguely remember a mention around the time of the release of the current LTS a note about client hang-ups being handled in core differently. But I can't find the release note I'm thinking of to research it. My suspicion is that this is something in core, not Fastify (or emission from core that Fastify needs to handle).

[2017-12-26 23:41] Ethan-Arrowood commented on #577
I started working on the API spec this evening. I got a basic set up started and will continue to make edits on this file. I'll open a PR when I get this further developed and I believe it's ready for feedback. https://github.com/Ethan-Arrowood/fastify/blob/improve-documentation/docs/Fastify.md

[2017-12-27 14:58] jsumners commented on #577
Personally, I like that format and think it's looking great.

I suggest adding a `<a id="#foo"></a>` before each heading. This will allow you to add a table of contents, as well as easily link to specific sections throughout the documentation.

[2017-12-27 15:13] jsumners commented on #577
diff --git a/docs/Fastify.md b/docs/Fastify.md
    index da11bb7..e9f9d70 100644
    --- a/docs/Fastify.md
    +++ b/docs/Fastify.md
    @@ -2,13 +2,16 @@

     ## module.exports

    +<a id="fastifyFactory"></a>
     ## .build([options])

    +Returns a new *Fastify* [server](#server) instance.
    +
     ### Parameters
     - options (object):
       - logger (boolean): Toggles `Logger` utility.

[2017-12-27 16:40] Ethan-Arrowood commented on #577
Awesome sounds good. I'll keep working on this and add the a tags.

[2017-12-27 16:51] delvedor commented on #584
There are different solution for this "problem", spoiler alert: "doing nothing" is my solution.

1. Check every prefix and if there is a final `/` remove it
 👍  solve the probem
 👎  if a user declares a route as `foo` it will not work (and the router will throw an error because the first char **must** be `/`
2. write some unnecessarily complicated logic internally to handle the problem.
3. doing n

[2017-12-27 17:20] nwoltman commented on #582
What if Fastify [called the handler](https://github.com/fastify/fastify/blob/0d8de7e8ec5a45721360a87c1b0d6c42fceb07b4/lib/handleRequest.js#L122) inside a `try-catch` block?

[2017-12-27 17:57] shkumbin opened #587 "`Error: write after end` using websockets"
Hi there,

I wanted to use [websockets](https://github.com/websockets/ws) in fastify but I get an error in the second request. I'm not sure if this is fastify-related or not so I just wanted to make sure.

### Reproducable in
Node version(s): 8.9.3

### Steps to reproduce

1. Setup fastify
[code]

2. Open `http://localhost:3000`

3. Server should be down after second refresh in browser.

Here's th

[2017-12-27 18:45] StarpTech commented on #582
Yes, this is my intention but it has significant performance impact on older node versions (before turbo fan)

[2017-12-27 18:58] mcollina commented on #582
I’m -1 with adding a try/catch block. That creates a difference between synchronous and asynchronous code when using callbacks. Relying on that pattern will cause unexpected behavior.

[2017-12-27 19:03] StarpTech commented on #582
A mixture is in general bad practice and I'm talking about users who follow callback convention strictly.

[2017-12-27 19:16] mcollina commented on #582
Then I’m not understanding what you want to achieve, your last comment seems in contradiction with wrapping the handler in a try/catch.

[2017-12-27 21:13] StarpTech commented on #582
Ok I'm trying to explain it again. If you decide to use callback style it will happen that you can't catch the error and the server will exit. I want go give users the same safety as with async / await. In my opinion it's very convenient to catch synchronous errors when using callback style. This should be no problem because any other error is handled by promises or async / await and is evaluated

[2017-12-28 09:54] allevo opened #589 "`beforeHandler` binded on fastify instance"
Currently the `beforeHandler` is binded to the `Context`. Is there any reason for that?
Could we change the `this` to `fastify` instance?

[code]

Thoughts?

[2017-12-28 10:36] StarpTech commented on #584
mmh then I found a bug. Registering a route inside a plugin without a `/` don't lead to an error. This inconsistency is what I mean.

[code]

[2017-12-28 11:27] smartiniOnGitHub opened #590 "default encoding in views"
Hi all,
I just see that if I dont' set in explitic way reply encoding, Firefox will complaint on missing encoding.
So for reply.view I need to do (anytime) something like:
  reply.type('text/html; charset=utf-8').view('index', data)

What do you think on adding that encoding as default for views (could be a good default) ?
Or check the encoding of related view (file) ... but this could be too much

[2017-12-28 12:18] StarpTech commented on #582
[code]
NB: Rethrow on System errors https://github.com/hapijs/bounce/blob/master/lib/index.js#L13

[2017-12-28 12:27] mcollina commented on #582
Bounce is not ok as a dependency becuase it supports 8+. I would also like to check what the performance look like.

I’m very -1 with this change to happen on the callback side for the consistency reason we discussed above, it just covers the synchronous part. For async/await and promises, yes absolutely but we need an alternative to Bounce.

[2017-12-28 12:35] StarpTech commented on #582
Could you go in detail if you talking about "consistency" ? The `try / catch` only prevents from crashing the server immediately everything else is the same.

[2017-12-28 12:39] mcollina commented on #582
Inside a handler, synchronous and asynchronous errors should be treated the same. Adding a try/catch on the synchronous side makes this logic inconsistent.

[2017-12-28 13:52] StarpTech commented on #582
I looked some other implementations. They all tend to exit the server immediately (restify) or using async / await (Koa2). Hapi is exceptional it catches any sync error as well as uing async / await. For me it's ok to say that if you need more flexibility you should use a different way but @mcollina what when we exit on system errors in promises or async / await, should the error be logged, should

[2017-12-28 14:14] jsumners commented on #582
You have already opened this issue once and it got resolved there -- https://github.com/fastify/fastify/issues/260

[2017-12-28 14:14] mcollina commented on #582
I think we should discuss about what to do with promises. My instinct would be to rethrow and have the error land in 'unhandledRejection'. There, we can have a plugin that listen for that event and do the graceful shutdown.

@jsumners I think we should rethrow on system errors when handling promises. This is novel.

[2017-12-28 14:33] StarpTech commented on #582
@jsumners this was a different issue. Here we are talking about a graceful shutdown of synchronous errors in the handler.

[2017-12-28 14:48] jsumners commented on #584
This is complicated. Essentially, you have the following situations to resolve:

1. `http://example.com/foo/bar` -- this should be an absolute URI to a resource
1. `http://example.com/foo/bar/` -- this should be an absolute URI to a collection of resources
1. `http://example.com/foo//bar/` -- this should be invalid because _each `/` matters_
1. `http://example.ccom//foo/bar/` -- invalid because it

[2017-12-28 14:49] jsumners commented on #584
Also, while trying to find a definitive answer on trailing slashes I ran across this ancient article that may or may not still apply -- https://cdivilly.wordpress.com/2014/03/11/why-trailing-slashes-on-uris-are-important/

[2017-12-28 14:49] StarpTech commented on #584
From my experience, I would say that any kind of route has to be prefixed with a `/` everything should throw an error. @jsumners do you see an error in this?

[2017-12-28 14:50] jsumners commented on #584
@StarpTech I do not understand your statement. It seems to be missing a word or two.

[2017-12-28 14:52] StarpTech commented on #584
@jsumners try it again :D

[2017-12-28 14:54] jsumners commented on #584
Notice that I specifically called out that scenario. It's _impossible_ to make that assumption. It _must_ be left up to the application author to make that determination.

[2017-12-28 16:17] delvedor commented on #584
@StarpTech if yuou declare a route and the first char is not `/` or `*` [`find-my-way`](https://github.com/delvedor/find-my-way) will throw an error.
We add the `/`at the beginning of the prefixes (if it is missing) because of https://github.com/fastify/fastify/pull/132.

[2017-12-28 16:20] StarpTech commented on #584
@delvedor the issue was about to support prefixes without to type a `/` but why it's the same for declared routes?

[2017-12-28 16:39] delvedor commented on #590
Hi!
Can you reopen this issue in [`point-of-view`](https://github.com/fastify/point-of-view)?

Thanks!

[2017-12-28 16:39] #590 closed

[2017-12-28 16:53] delvedor commented on #584
The route declaration is handled by find-my-way.
Checkout https://github.com/fastify/fastify/issues/130 to understand why that was needed.

[2017-12-28 17:04] smartiniOnGitHub commented on #590
ok, thanks (wasn't sure if the right place for it was here ...) I'll reopen there.

[2017-12-28 23:56] mcollina commented on #587
Have you tried reproducing this without fastify? I think you are not listening to the events of WebSocketServer. The websocket is received there.

[2017-12-29 07:01] shkumbin commented on #587
The issue was caused by the lack of error listener:
[code]

Closing the issue.

[2017-12-29 07:01] #587 closed

[2017-12-29 13:29] StarpTech opened #594 "Throw error when manipulating fastify after server was started"
As titled. We have to check which interface can be used to modify fastify after start. E.g `setErrorHandler` has no effect after `.listen()` it's novel to inform the developer about that.

[2017-12-29 13:38] mcollina commented on #594
Mostly none. Feel free to send PRs to add throw statements.

[2017-12-29 13:43] rabbitmeow opened #595 ""fastify": "^0.35.7","
[code]

no response and no error

[2017-12-29 17:19] StarpTech commented on #595
Hi @rabbitmeow it depends on the content-type. You can't pass json and send it as `text/html`. You also should see an `UnhandledPromiseRejectionWarning:` in the console.

[code]

[2017-12-29 17:24] StarpTech commented on #584
@delvedor  It's fine for prefixes

[code]
but why here
[code]

[2017-12-30 02:01] rabbitmeow commented on #595
I know that. But the previous version would throw an error.

[2017-12-30 11:29] delvedor commented on #584
Because we chain the prefix and the route path before save the route in `find-my-way`.
https://github.com/fastify/fastify/blob/5ac50d37550ee0e5218e47d19fa724299da0ed71/fastify.js#L407-L409

[2017-12-30 11:34] StarpTech commented on #584
You don't think it's consistent to throw this `f.get('foo')` but don't this `f.get('foo')` inside a prefix context? In my opinion, it would be clearer that any route has start with `/` doesn't matter where you define it.

[2017-12-30 13:04] StarpTech commented on #595
Please always write this on the issue. I could reproduce it.

[2017-12-30 17:57] rabbitmeow commented on #595
thanks for your work.

[2017-12-30 17:57] #595 closed

[2017-12-30 18:09] StarpTech commented on #595
@rabbitmeow thanks for reporting.

[2017-12-30 18:57] HappyZombies opened #598 "Getting 'undefined' for reply.redirect when using middleware (fastify.use())"
I am trying to create a simple middleware that will redirect any url ending in "/" to one without the "/" trailing "/". Here is what I wrote.

[code]

Hitting my url "/api/test" works and gets me my data. But when I hit /api/test/ I get that .redirect is not a method. reply.redirect returns undefined.

When I create a route, for example:

[code]

I get that 'redirect' is indeed a function.

Am I d

[2017-12-30 19:06] StarpTech commented on #598
@HappyZombies on the first view I would say you have to call `next()` you are still in a middleware cycle.

[code]

[2017-12-30 19:07] jsumners commented on #598
I recommend writing a [fastify-plugin](https://github.com/fastify/fastify-plugin) that adds an `onRequest` hook. The hook would:

[code]

[2017-12-30 19:33] HappyZombies commented on #598
@StarpTech , @jsumners , I added a hook instead of a middleware. The hook looks like this

[code]

However I feel like this is not right. I wonder if this is okay and if it could cause any problems down the line. I still feel as though that this should be a middleware, not a hook.

[2017-12-30 19:53] StarpTech commented on #598
@HappyZombies you just using the wrong middleware signature. https://github.com/fastify/fastify/blob/master/docs/Middlewares.md

[2017-12-30 19:54] StarpTech commented on #598
But also with this I get `Error: Can't set headers after they are sent.`
[code]

[2017-12-30 20:11] StarpTech commented on #598
That's a bug because `.send()` method internally does not check the raw response state. (finished, headersSent)

[2017-12-30 20:12] StarpTech commented on #598
@HappyZombies the use of hook is correct look in the https://github.com/fastify/fastify/blob/master/docs/Lifecycle.md

[2017-12-30 20:27] StarpTech commented on #598
@delvedor due to the fact that the 404 is [set](https://github.com/fastify/fastify/blob/master/fastify.js#L589) via the `reply` interface the user can't override it in a middleware. I still get 404.

[code]

[2017-12-30 20:35] StarpTech opened #599 "Middlware is not compatible with fastify reply"
Look at issue https://github.com/fastify/fastify/issues/598

- ~~`reply` interface does not respect the raw `response` state. It also tries to change the response object even when the request was already finished inside a middlware e.g we can't calling `.writeHead()` or `.end()` inside a middleware.~~
- `reply` interface [overrides](https://github.com/fastify/fastify/blob/master/lib/reply.js#L159)

[2017-12-30 23:39] mcollina commented on #599
I’m a bit lost. Can you specify one or more examples that are broken right now?

[2017-12-31 02:29] StarpTech commented on #599
**Example 1**: When a route could not be found we can not change the status code inside a middleware because the `reply` does not respect it.
**Reason**: The default notfound handler set the status code to 404 and reply with an error. In `reply` implementation the status code from the raw `response` is not accepted when an error was set [code](https://github.com/fastify/fastify/blob/master/lib/rep

[2017-12-31 13:48] StarpTech commented on #582
I close this issue the result is https://github.com/fastify/fastify/pull/591

[2017-12-31 13:48] #582 closed

[2017-12-31 13:48] jsumners commented on #598
@HappyZombies my opinion is that the "middleware" support is there merely to support the ones already written for other frameworks. I think Fastify plugin's are the better way of writing modules for Fastify.

Take a look at https://github.com/fastify/fastify/blob/master/docs/Lifecycle.md . Notice that the `onRequest` hook comes _before_ the middleware execution. I suggested `onRequest` specificall

[2017-12-31 13:52] StarpTech commented on #598
@jsumners `onRequest` has the same interface as a middleware. Unless we fixed the middleware issues it's still not safe to work with raw resp.

[2017-12-31 14:27] jsumners commented on #598
No, that's not really the problem. As I suspected, but didn't mention, the real issue is that you can't override the router in this manner. The following doesn't work because a request to `/foo/` will return a 404, while a request to `/foo` works as expected:

[code]

[2017-12-31 14:40] HappyZombies commented on #598
@jsumners, what you are saying is exactly why I tried to make the middleware / hook to go around this issue of "/foo" working and "/foo/" returning 404. I kinda figured that it "worked" by design.

[2017-12-31 14:48] jsumners commented on #584
Issue #598 would be solved by:

[2017-12-31 20:18] nwoltman commented on #599
Middleware and hooks shouldn't call `res.write()`, `res.writeHead()`, or `res.end()` and continue with the lifecycle because that breaks Fastify's lifecycle expectations (handlers and `onSend` hooks expect to be able to set headers and set/change the payload). If a user does want to use those methods, they should call `res.end()` and **not** `next()` to escape from Fastify's lifecycle (which is wh

[2017-12-31 20:30] StarpTech commented on #599
Correct If I'm wrong but the whole idea behind supporting standard middlewares like in express is that you can do everything what you want doesn't matter which framework you will use.

Make changes to the request and the response objects.
End the request-response cycle.
Call the next middleware in the stack.
If the current middleware function does not end the request-response cycle, it must call n

[2017-12-31 20:34] StarpTech commented on #599
Is it possible to call `.end()` inside middleware without calling `.next()`? I think this will lead to an error too.

[2017-12-31 21:00] nwoltman commented on #599
Yes, this is perfectly okay. This is how middleware like [`serve-favicon`](https://github.com/expressjs/serve-favicon) work (I used to use this middleware with Fastify and it works just fine).

[2017-12-31 21:15] nwoltman commented on #599
I think the correct solution would be to set a custom 404 handler with `fastify.setNotFoundHandler()` to handle the request instead of using a middleware.

Example:

[code]

[2017-12-31 21:31] StarpTech commented on #599
When it works then it was an issue by myself. We should also able to write to the response (write, writeHeas) . I can't test it right now.

I think ignoring status codes smaller than 400 when an error is set is also wrong this place should be refactored.

[2018-01-01 00:53] StarpTech commented on #598
@HappyZombies,  @nwoltman has a good workaround

[code]

[2018-01-01 00:55] StarpTech commented on #599
@nwoltman your workaround is a great but it would be more powerful when we don't need such special handlers because it's not obvious if you work with middlewares.

[2018-01-01 01:31] StarpTech commented on #599
@nwoltman I misuse the middleware :S That's all valid examples.

[code]

[2018-01-01 05:44] proyb6 opened #602 "Serve static contents in compressed gzipped and brotli?"
How do you serve compressed contents over fastify?

[2018-01-01 05:56] nwoltman commented on #602
Two questions:

1. Are you looking to compress contents as they are served or serve pre-compressed static files?
2. Are you currently using [`fastify-static`](https://github.com/fastify/fastify-static) to serve static files?

[2018-01-01 14:00] proyb6 commented on #602
1. Serve pre-compressed static files as in index.html.br and index.html.gz
2. I have not use Fastify yet.

[2018-01-01 14:01] delvedor commented on #602
You can use the [`fastify-compress`](https://github.com/fastify/fastify-compress) plugin :)

[2018-01-01 14:04] jsumners commented on #602
I believe @nwoltman has answered your question. You serve pre-compressed files the same way you would serve any other static file.

Feel free to re-open if you think your question is not sufficiently answered.

[2018-01-01 14:04] #602 closed

[2018-01-01 15:34] proyb6 commented on #602
@jsumners I think the Readme in Fastify-static could include more example of serving **example.html.gz**, **example.html.br** and blobs.

[2018-01-01 15:46] jsumners commented on #602
@proyb6 that would be an issue for the `fastify-static` repository. But I don't see how adding a specific example with a '.gz' ending would be any different than the current example.

[2018-01-01 16:08] nwoltman commented on #602
@proyb6 @jsumners When using `fastify-static` to serve compressed files, you need to use the [`setHeaders`](https://github.com/fastify/fastify-static#setheaders) option to set the right `Content-Type` and `Content-Encoding` headers.

Here's an example:

[code]

[2018-01-02 13:58] #589 closed

[2018-01-03 08:50] mcollina commented on #599
@StarpTech I'm still lost. What is happening in that example that you expect to happen?

[2018-01-03 08:51] StarpTech commented on #599
This issue can be closed. I misuse the middleware that's the problem. The clean up is implemented in #601

[2018-01-03 08:52] #599 closed

[2018-01-03 15:14] StarpTech opened #605 "Proposal - Add 'onRoute' extension to configure routes at startup time"
This issue result from https://github.com/fastify/fastify-auth/issues/8#issuecomment-355022588

### Introduction
Right now, there is no way to customize a route after it was defined. We encourage the user in [fastify-auth](https://github.com/fastify/fastify-auth) to configure the auth mechanism at definition `.route()`. This has the drawback that the implementation details are bound to the route d

[2018-01-03 16:07] allevo commented on #605
Nice! but how to handle the encapsulation?

[2018-01-03 16:17] StarpTech commented on #605
What do you mean in detail? Where do you see the need? Plugin is already encapsulated.

[2018-01-03 18:03] mafintosh opened #607 "Do not JSON.stringify buffers when calling reply.send(buf)"
Right now when passing a buffer to `reply.send` the buffer is JSON serialized.

This was confusing behavor to me, as I would expect to by bypass serialization when passing a string/buffer, in fact this already happens when passing a string.

If you want, then I'm happy to send a PR that adds this :)

[2018-01-03 18:13] mcollina commented on #607
👍  for a PR, very good spot.

[2018-01-03 19:29] delvedor commented on #607
Thanks!!

[2018-01-03 21:15] StarpTech commented on #598
Due to inactivity, I close it. Feel free to reopen.

[2018-01-03 21:15] #598 closed

[2018-01-03 21:19] tnguyen14 opened #609 "Declare an empty response for 204 with fastify-swagger"
I'm using `fastify-swagger`, which I think adds some rules for validation. For 204 response (empty response), Swagger allows for its description by not specifying a `content` https://swagger.io/docs/specification/describing-responses/.

However, for `fastify-swagger`, I haven't found a way to do that yet. If I do:
[code]

I get the following stack trace:
[code]

I first opened this issue at fastif

[2018-01-03 21:28] delvedor commented on #584
IMHO ´/test/´ **is not** equal to `/test`, since every `/` means a new nested route.
If you use express, `/test/` and `/test` are treated as equals, while if you use hapi they are not.

@fastify/fastify thoughts?

[2018-01-03 21:29] jsumners commented on #584
I think it should be configurable.

[2018-01-03 21:30] delvedor commented on #584
@jsumners that could be nice, but I'm pretty sure it will compromise the performances.

[2018-01-03 21:31] jsumners commented on #584
I think that would depend on when the configuration is applied. Routes are established at bootup. So applying the configuration at bootup should be equal.

[2018-01-03 21:36] delvedor commented on #584
Yes and no, you will pass the configuration at initialization time, but do not forget that the routing algorithm is handled by [`find-my-way`](https://github.com/delvedor/find-my-way) which is a radix tree.
Add this kind of configuration means change the search algorithm, and checking at every loop that configuration.

[2018-01-03 21:38] jsumners commented on #584
[code]

[2018-01-03 21:42] greenkeeper[bot] opened #610 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.5.5** of [@types/node](https://www.npmjs.com/package/@types/node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2F%40types%2Fnode-8.5.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>
    <th al

[2018-01-03 21:44] delvedor commented on #584
Nice catch @jsumners! :)
@fastify/fastify what's your thoughts about this?

[2018-01-03 21:47] StarpTech commented on #584
LGTM, but what's with the circumstance above? Why throws route `foo` an error but `foo` inside a prefix not? Is it wrong to say that all paths have to start with `/` but ending `/` is configurable?

[2018-01-03 22:50] nevercast commented on #610
Internet connection failed on Travis? Intermittent issue? Can greenkeeper do a retest?

[2018-01-04 14:25] StarpTech commented on #605
@fastify/fastify  WDYT? I would start to implement it. @allevo ping.

[2018-01-04 14:33] allevo commented on #605
[code]

Is `onRoute` hook fired for both of `fastify` instances?

NB: the `beforeHandler` is only one for route and for the time being is treated as preHandler. https://github.com/fastify/fastify/blob/dfd54dbf52d927e094246344e405c96f3f9bc8ba/fastify.js#L434

[2018-01-04 14:38] jsumners commented on #605
Why is this needed over registering routes within a plugin?

[2018-01-04 14:46] delvedor commented on #607
Closed in https://github.com/fastify/fastify/pull/613.

[2018-01-04 14:46] #607 closed

[2018-01-04 14:55] StarpTech commented on #605
@allevo yes, it's fired for each registered hook handler.
@jsumners did you read the issue description?

[2018-01-04 14:59] jsumners commented on #605
@StarpTech no, I just randomly wrote some words.

[2018-01-04 15:09] mcollina commented on #605
It is an interesting question to answer.

[2018-01-04 15:18] StarpTech commented on #605
@jsumners keep calm, it would help if you could refer to my points and make a reasonable approach.

Where do you see the difference between registering inside a plugin or on root level? The `onRoute` allows us:

- Configure the route from other plugins "event-based".
- Log which route was added.
- ...

[2018-01-04 15:21] jsumners commented on #605
[code]

Why isn't that sufficient? What would `onRoute` provide that that pattern does not? Proper Fastify plugins support encapsulation and can be registered as many times as needed.

[2018-01-04 15:32] StarpTech commented on #605
`beforeHandler` are specific to a single route how do you use the encapsulation feature for this?

The other question:
- How do you react to specific route options with the existing hooks?

[2018-01-04 15:34] allevo commented on #605
Manipulating the previous route definition can bring up to nightmare.

[code]

[2018-01-04 15:38] StarpTech commented on #605
This is a deal with dynamically typed language. Your use case can be adapted to any case.
Therefore we haven't defined the `route` interface it doesn't have to provide the full API.

[2018-01-04 15:50] StarpTech commented on #605
@jsumners I think you mixed up `preHandler` with `beforeHandler`

[2018-01-04 15:51] allevo commented on #605
Now `fastify` doesn't allow you to change the previous route definition. And this is a good thing.

I'd like to keep this approach. I don't like "event-based" management.

[2018-01-04 15:54] jsumners commented on #605
@StarpTech what are you talking about?

[2018-01-04 15:57] StarpTech commented on #605
@jsumners

[2018-01-04 16:17] jsumners commented on #605
Just as I showed in my example above.

[2018-01-04 16:37] StarpTech commented on #605
This does not work. I'm talking about `beforeHandler` NOT `preHandler`. In your example, you can't specify a route without the `bearer-auth` handler. You have to create a plugin for any particular case. This is a solution but it doesn't solve the problem that you have to pass the complete route definition at creation time `instance.route()`. What if you have plugins which provide different `auth`

[2018-01-04 16:43] nwoltman commented on #605
What if the plugins created decorators instead?

[code]

[2018-01-04 16:55] StarpTech commented on #605
If you match them by configuration pattern the solution is decoupled from their concrete implementations.

[2018-01-05 01:52] scriptjs commented on #609
Running into the same issue. It is possible to eliminate this with an object but swagger/openapi does not normally require it. ie:

[code]

[2018-01-05 08:08] mcollina commented on #609
Would any of you send a PR to the relative projects (it can either be here or https://github.com/fastify/fast-json-stringify)?

[2018-01-05 11:43] valentinvichnal opened #618 "setCookie doesn't work in Microsoft Edge"
Hey, I have a simple route to set a http only cookie:
[code]

This is working in Chrome and Firefox, but in Edge the cookie list stays empty.

I don't know why because on Edge I get the same response header, and I checked the settings and cookies are enabled:
`Set-Cookie: someField=someValue; Max-Age=604800; Domain=localhost; Path=/; HttpOnly`

[2018-01-05 12:05] jsumners commented on #618
This is most certainly a browser issue. You'll just have to try different
settings, e.g. change the domain to ".127.0.0.1".

On Fri, Jan 5, 2018 at 06:43 Valentin Vichnal <notifications@github.com>
wrote:

--
James Sumners
http://james.sumners.info/ (technical profile)
http://jrfom.com/ (personal site)
http://haplo.bandcamp.com/ (music)

[2018-01-05 12:32] StarpTech opened #620 "How handling error generated in async hooks with the error classification?"
Due to comment in https://github.com/fastify/fastify/pull/591#issuecomment-355331995

[2018-01-05 12:53] delvedor commented on #620
https://github.com/fastify/fastify/pull/591#issuecomment-355547096

[2018-01-05 12:53] #620 closed

[2018-01-05 13:12] valentinvichnal commented on #618
Thanks, I tried to use 127.0.0.1 instead of localhost, different paths and make it non-http only cookie but none of that helps.

[2018-01-05 13:18] jsumners commented on #618
What do you want me to do? You have said that the appropriate header is being sent. That clearly points to the browser not doing its job.

When you're working with "localhost" deployments, cookies behave weirdly. Notice these cookie settings:

https://github.com/jscas/cas-server/blob/26cf0f76648b8e536ae1c4abadfc6f1e456530cc/docker/jscas.json#L11-L18

They *are not* good values for a production sys

[2018-01-05 13:50] jsumners opened #623 "Governance model"
## Proposal

According to the [Contributing](https://github.com/fastify/fastify/blob/aaa892ed8a39c78616801d2bc81d8696f0031549/CONTRIBUTING.md) document, Fastify uses an open governance model. Specifically it states:

Given recent events, my opinion is that this does not work; at least not as it is currently structured. I attempted to make it feasible with [PR 422](https://github.com/fastify/fastif

[2018-01-05 14:05] valentinvichnal commented on #618
You were right, thanks!
When I removed the domain key from the cookie settings it worked.

[2018-01-05 14:05] #618 closed

[2018-01-05 14:10] scriptjs commented on #609
@mcollina I don't believe this is an issue with fast-json-stringify. Its is impedance between fastify-swagger and swagger 2. The following would produce valid JSON but is not a valid JSON Schema.

[code]

When a valid JSON Schema is provided there is nothing to fix but works against the grain for swagger for the UI with description only. Thus, it requires some discussion as to how to resolve this

[2018-01-05 17:27] mcollina commented on #609
I'm lost: you showed a stacktrace at the beginning. If we are throwing an exception and we shouldn't, then it's likely we have a bug.

[2018-01-05 17:40] scriptjs commented on #609
Its a bug for fastify-swagger that it should not allow the description on its own that is the only required property for a response object. Currently it appears to be expecting a valid JSON Schema object to validate. Got it ? :) I am making fixes to fastify-swagger currently. I'll see whether I can fix this as well.

[2018-01-05 18:23] mcollina commented on #609
That is passed down to fastify to validate, so it might be a bug here.

[2018-01-05 18:26] scriptjs commented on #609
No problem. I'll find and fix. Got the security definitions and security on routes thing fixed now so this one is next.

[2018-01-06 11:13] StarpTech commented on #605
@mcollina @delvedor what's your opinion?

[2018-01-07 03:55] scriptjs commented on #609
Pull request https://github.com/fastify/fastify-swagger/pull/19 fixes this with an explicit `type: null` for empty responses.

[2018-01-07 07:15] thupi commented on #538
@jsumners How would i be able to apply type('application/json') without fastify automaticly json.stringify the content :-) ?

As far as i know i still have to do the trick i mentioned before :-) ?

[2018-01-07 07:32] nwoltman commented on #538
@thupi In the next version of Fastify, you could also send your payload as a buffer:

[code]

[2018-01-07 10:54] mcollina opened #629 "Support 'onClose' without the instance object"
if `onClose(func)` is called with a function with 1 parameter, pass the callback and not the instance as the first one. Or the user might find some very hard to debug bugs like:

[code]

[2018-01-07 11:01] mcollina opened #630 "Support HTTP/1.1 trailers"
as titled, I think `reply` might needs some facility to set trailers. It might also be a bad idea, as the actual response is always accessible and they could be set in that way if we want to.

[2018-01-07 11:55] mcollina commented on #605
I think we need more time to reason this about.

I think being able to 'intercept' route definitions and alter them could be very powerful, and simplify some of the current issues with auth.

Specifically:

[code]

As you note, our current model requires the route definition to be placed within `after()`, otherwise all the required plugin will not be correctly loaded.
Adding a __route definition i

[2018-01-07 12:15] allevo commented on #605
@mcollina if `auth` is inside `config` property the route definition keep it for you

For example in the repo `fastify-example-twitter` I have use it:

https://github.com/fastify/fastify-example-twitter/blob/9fce27882f90778a7f0078c84c3d95d518a60660/tweet/index.js#L54-L61

[2018-01-07 15:49] StarpTech commented on #605
@mcollina your last approach is definitely better. We can reuse a lot of our existing api to provide a practical solution without to introduce a whole new concept.

- Use `config` property as @allevo previously mentioned.
- Use decorator to expose handlers. @nwoltman
- Support string in `beforeHandler` for better decoupling. I like the idea: We can extend fastify by decorators and other components

[2018-01-07 15:56] StarpTech commented on #605
Correct me if I'm wrong but the `onRoute` would behave like the `onClose` which is not part of the request cycle.

[code]

This was just for demo purpose. The handler could be provided by a decorator or can be passed as plugin option.

[2018-01-07 17:30] lmammino commented on #577
A bit late to the party here, but this looks like an awesome idea :) let me know if you need any help from the perspective of the website 😉

[2018-01-07 19:40] thupi commented on #538
@nwoltman Thats the exact use case i need that behavior for :-) ! Thanks for letting me know :-) !

[2018-01-08 10:06] StarpTech commented on #630
@mcollina How common is it to use `trailing headers` ? Is it worth to pull it up to fastify? After some research, I found out that even Hapi, Koa2 has no support for this.

[2018-01-08 10:17] mcollina commented on #630
I don’t think they are common, so maybe we can avoid them altogether. But it’s a discussion that’s worth having.

[2018-01-08 10:32] mcollina commented on #460
I'm currently thinking of dropping this for 1.0.0.
I will not have time in the coming weeks, and I do not want 1.0.0 to be blocked on me.

What do you all think?

[2018-01-08 14:42] jsumners commented on #630
I can confidently say that I have never used them. And I can _almost_ as confidently say I have never seen them used.

[2018-01-08 16:08] Ethan-Arrowood commented on #577
I've just been working on making a API spec markdown file. Trying to make my way through the current docs and then compare with the source code to make sure all parameters are properly articulated in the documentation.

[2018-01-08 21:41] allevo opened #636 "Log level at plugin level"
Hi folks!

## The context

In my applications some routes are defined by plugins that are not under my control. Only to make some example:
- [point-of-view](https://github.com/fastify/point-of-view)
- [fastify-static](https://github.com/fastify/fastify-static)

Assuming I'm building a website like [fastify-example-twitter](https://github.com/fastify/fastify-example-twitter). The pages are served u

[2018-01-08 21:50] delvedor commented on #636
This could be a nice thing to have.
With Pino you can change the log level at [any time](https://github.com/pinojs/pino/blob/master/docs/API.md#level). We can try to find a way to use this feature.

[2018-01-08 22:02] jsumners commented on #636
I'm afraid I don't understand the problem. Are you saying the plugins are creating their own instance of the logger? They should be using `fastify.log` or `req.log`; this means logging only has to be configured once.

[2018-01-08 22:06] jsumners commented on #636
I think this goes back to issue #304.

[2018-01-08 22:16] allevo commented on #636
@jsumners the plugins don't create the own logger. The logger instance is always created by `fastify` [here](https://github.com/fastify/fastify/blob/629c16c9c9d09109a264f8868f7f0844907bb5a3/fastify.js#L172). Anyway in some circumstance you are interested to change the log level only for a sub path.

Just for example, in `fastify-example-static` I'd like to turn the incoming request and the respons

[2018-01-08 22:37] mcollina commented on #636
I don’t think this will be possible, or possible with a decent level of performance.

[2018-01-08 22:43] mcollina commented on #605
Can you make a full example on how that will look like?

[2018-01-08 22:46] allevo commented on #636
@mcollina why are you concerned about a drop of performance ?

The second possibility suggests this change:

`req.log = res.log = log.child({ reqId: req.id })` => `req.log = res.log = createLogger(log, req)`

with
[code]
on the top of `fastify.js` file

If you are ok, I try to make a PR with some benchmark

[2018-01-08 22:49] mcollina commented on #636
That’s one of the worst hot paths in fastify, and I would prefer it to be left alone. Moreover, adding a regexp check in there is only causing more problems in the future: it is not the same logic that we are using for routing.

[2018-01-08 22:50] mcollina commented on #636
I’m -1 withe the change

[2018-01-08 22:55] allevo commented on #636
Understood.

But the problem is real. The health check url is another example.

Am I the only one that has this problem?  How can I avoid this kind of issue?

[2018-01-08 23:18] mcollina commented on #636
I truly do not see this annoying to see the log lines.  In production you should serve those via nginx or something similar.

[2018-01-08 23:22] jsumners commented on #636
I'm also having a difficult time seeing the issue. The referenced "incoming request" log line is useful information to determine when a request was started, and provides the identifier for examining the rest of the request.

[2018-01-09 10:28] mcollina commented on #623
Thanks for taking this on your shoulders. This type of community work is __very hard__.

I think we should move to something resembling https://github.com/nodejs/node/blob/master/GOVERNANCE.md#collaborators. The language is more clear.

I would stress the fact that only breaking changes should be subjected to the "core team" approval. I would say that it requires 2 LGTMs from the core team, in cas

[2018-01-09 11:55] delvedor commented on #636
I've implemented this feature to see how the performances changes.
Unfortunately we lose 10% req/sec if we try to set dynamically the log level. (around 2-3k)
Which is too much.

If you come up with *at least same performances*method I'm all hears! :)

[2018-01-09 11:55] #636 closed

[2018-01-09 13:14] jsumners commented on #623
@mcollina or @delvedor please create a new team labeled "core" with at least yourselves in it. That way we can continue this discussion with an accurate concept of privilege separations.

[2018-01-09 13:46] mcollina commented on #623
Done.

[2018-01-09 13:48] delvedor commented on #636
Me and @mcollina had an idea, I'll open a pr very soon ;)

[2018-01-10 21:48] allevo opened #644 "Split `addHook` method"
Hi folks!
  I don't like to mix the "request handling" hooks with fastify instance ones: I like to have two different method on fastify for splitting logically the hooks too.

### Proposal:

with `addHook`:
- onRequest
- preHandler
- onResponse
- onSend

with `addFastifyLifecycleHook`:
- onRoute
- onClose

thoughts @fastify/fastify ?

*NB:* I'm good at choosing names