[2022-01-23 10:52] mcollina commented on #3649
does this work when using Ajv@6 directly?

[2022-01-23 11:44] mikicho commented on #3649
@mcollina I think not:
https://codesandbox.io/s/ajv-playground-forked-1qib7?file=/src/index.js

[2022-01-23 11:54] mcollina commented on #3649
can you check if works in the latest version? If not you might want to open an issue there.

[2022-01-23 12:06] mikicho commented on #3649
This is indeed [a limitation of Ajv](https://github.com/ajv-validator/ajv/issues/337#issuecomment-258769266).
Thanks.

[2022-01-23 12:06] #3649 closed

[2022-01-23 13:10] jsumners commented on #3648
I think it's a semver-patch. It currently does not work, but does so without any warning.

[2022-01-24 07:49] then3rdman opened #3650 "Internal references inside a single imported schema file not found"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I am not sure that this is a bug as much as it is design.

In our API we are adding a single schema file with `$id: Global` which contains all the definitions, a considerable few of those definitions are referencing other definitions as

[2022-01-24 08:53] mcollina commented on #3650
Can you provide steps to reproduce? We often need a reproducible example, e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-01-24 09:46] then3rdman commented on #3650
Can be easily reproduced here

https://github.com/then3rdman/fastify-issue

[2022-01-24 11:01] bchoii commented on #2634
Document location moved to https://www.fastify.io/docs/latest/Reference/TypeScript/

[2022-01-24 14:21] jsumners opened #3652 "Deprecate variadic `.listen` signature"
The Fastify code is quite difficult to follow and maintain in a lot of places. We should be taking every opportunity we can to simplify the code, and to make the public interfaces less confusing. We emulated Node core's `.listen` method in an effort to retain as much familiarity as possible. I am quite certain I made the argument to do such. But at this point I think:

1. Variadic interfaces are c

[2022-01-24 17:51] Eomm commented on #3652
I would keep two interfaces:

- `listen(port[, callback])`
- `listen(options[, callback])`

the first one is too much handy

[2022-01-25 07:16] mcollina commented on #3652
What would be the effects of such confusion? What mistakes users would make?

[2022-01-25 12:27] gunwd commented on #2955
Just wanted to say I agree 100%. This is such a great example of a community-driven project that I've been spending the last few weeks learning the inner workings of Fastify so that I can start contributing ASAP. Thank you!

[2022-01-25 13:51] jsumners commented on #3652
I think that people don't even realize more parameters are available for the `.listen` method. I think that is the biggest cause of people asking things like https://discord.com/channels/725613461949906985/725613462373269567/934671135482708139:

![image](https://user-images.githubusercontent.com/321201/150988865-e65692fc-5e17-4dce-b667-2dd754551b7b.png)

Even though we specifically call out the re

[2022-01-25 14:33] fox1t commented on #3652
I agree with @Eomm: passing just a port is so handy I would leave it as an option.

[2022-01-25 14:49] jsumners commented on #3652
I think this completely negates the suggestion. Writing `.listen({ port: 8000 })` is not very difficult.

[2022-01-25 21:39] MetCoder95 commented on #3652
If I can add my two cents in here, I do agree with @jsumners that variadic interfaces can make everything more complicated, even more in an era where IntelliSense and auto-suggestions on Text Editors and IDEs are a thing where developers rely the most, meaning fewer visits to documentation and heavily relying on TS types for that (which is also quite bad but it is what it is).

Having a single arg

[2022-01-26 09:20] Allain55 opened #3660 "Calling reply.callNotFound inside frameworkErrors can result in an uncaught exception"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.0

### Plugin version

4.5.0

### Node.js version

17.4.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

Following the example below it'll instantly log an error

[2022-01-26 09:33] mcollina commented on #3660
I transferred this to Fastify proper, it's a bug there.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

For some reason there is no `context` defined in:
https://github.com/fastify/fastify/blob/25147feda161e0f51e5b32e88bec87793188a8d4/lib/reply.js#L707

Likely we are not instatiating something correctly in https://github.com/fastify/fastify/blob/main/fast

[2022-01-26 10:10] VigneshMurugan commented on #3660
@mcollina

Problems lies in https://github.com/fastify/fastify/blob/25147feda161e0f51e5b32e88bec87793188a8d4/lib/reply.js#L698

We are using string null checker here which is causing https://github.com/fastify/fastify/blob/25147feda161e0f51e5b32e88bec87793188a8d4/lib/reply.js#L706 to set context to null.

I am raising the PR for the same

[2022-01-26 12:20] mcollina commented on #3660
Where is that assigned to undefined? I think we should not be in that position.

[2022-01-26 13:06] VigneshMurugan commented on #3660
`reply.context[kFourOhFourContext] ` is coming in as undefined

![image](https://user-images.githubusercontent.com/9670465/151168204-b84f9cb8-a548-4bfc-b695-f947ee3745c5.png)

![image](https://user-images.githubusercontent.com/9670465/151168230-ba08ea9f-7076-45d7-b9f0-c00546ec3ccf.png)

[2022-01-26 13:44] mcollina commented on #3660
As I said in the text above, We are not initializing Reply and the context correctly in

https://github.com/fastify/fastify/blob/main/fastify.js#L611-L612

[2022-01-26 14:18] VigneshMurugan commented on #3660
Sorry I think I got confused here. This is what I analysed. Kindly correct me and point me to the place where I am going wrong.

In line number https://github.com/fastify/fastify/blob/20f934307c29ab97988222a165c84f16b7146ce6/fastify.js#L611 we are initialising the onBadUrl Context with https://github.com/fastify/fastify/blob/20f934307c29ab97988222a165c84f16b7146ce6/fastify.js#L57-L62 where we don'

[2022-01-26 14:36] VigneshMurugan commented on #3660
https://github.com/fastify/fastify/pull/3661

[2022-01-26 17:08] mcollina commented on #3650
I'm sorry but I do not understand how to reproduce the problem with your code. Please provide _clear instructions_ on how to reproduce the problem.

[2022-01-26 22:23] then3rdman commented on #3650
simply running the server will produce the problem
`yarn dev`

[2022-01-26 22:27] then3rdman commented on #3650
Apologies, was a mistake in the schema names. Simply run the server and you get get the error.

`yarn dev`

[2022-01-26 22:33] michael-melodyarc opened #3663 "Optional route parameter throws error on root path"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.0

### Plugin version

_No response_

### Node.js version

16.13.2

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

21.10

### Description

Marking a parameter as optional throws an error

[2022-01-26 23:10] mcollina commented on #3663
what error does it throw?

[2022-01-27 09:04] mcollina commented on #3650
This will fix your problem:

[code]

[2022-01-27 09:12] then3rdman commented on #3650
I know that will fix it. That's already in code under the working endpoint
schema.

Thats not a solution as that is invalid JSON schema. The internal
references should work with just #, as is the spec

On Thu, 27 Jan 2022, 8:04 pm Matteo Collina, ***@***.***>
wrote:

[2022-01-27 09:19] mcollina commented on #3650
The error generates in Ajv and there is nothing that Fastify can do here:

[code]

[2022-01-27 09:19] #3650 closed

[2022-01-27 09:36] then3rdman commented on #3650
OK thanks, didn't realise it was completely isolated to the AJV code. Thanks for the help

[2022-01-27 09:37] mcollina commented on #3650
No worries, it's often hard to diagnose these

[2022-01-27 10:24] Fdawgs commented on #3610
Snyk gives a nice interactive lesson on prototype poisoning/pollution [here](https://learn.snyk.io/lessons/prototype-pollution/javascript/), I don't know if we could cut the story out and point to that instead, with a section highlighting how Fastify can be used to mitigate it?

[2022-01-27 10:32] simoneb commented on #2748
I think there are ways this can be done, it mainly requires a little bit of brainstorming and planning to come up with an approach which is robust and secure. There are several ideas in this discussion thread already, we need to put together a proposal which addresses all challenges and then work on it.

[2022-01-27 12:59] jsumners commented on #3610
I am not interested in relying on another third party article again. The Fastify article can reference the Snyk piece, but the Fastify article will not be replaced by it.

[2022-01-27 19:07] Eomm opened #3664 "Open missing TS issue automation"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

It would be nice to add automation that opens a new issue when a PR is labelled as `missing-types`.

### Motivation

Adding TS to a PR is not mandatory, but we should track the things that are missing.

In this way, th

[2022-01-27 19:27] jsumners commented on #3652
I'm not sure how to make a decision here. Going on comment votes, I'd say the resolution passes. But actual comments puts it at 2 - 2.

[2022-01-27 21:25] Dzelix commented on #709
When I use both nodemon as local server and Heroku for production the following works for me:
`await fastify.listen(process.env.PORT, process.env.HOST || '0.0.0.0');`

and in package.json

`"dev": "PORT=${PORT:=3000} HOST=${HOST:=localhost} nodemon"`

[2022-01-28 05:39] climba03003 commented on #3652
I will go for a single object option. It just better for code maintenance.

[2022-01-28 08:12] mcollina commented on #3652
Let me propose a slightly different take: we shift the examples everywhere to use the option object instead of the variadic arguments, and mark that our preferred way to call listen().

[2022-01-28 09:08] michael-melodyarc commented on #3663
It throws with an error of `Error: The path could not be empty`.

[2022-01-28 10:38] mcollina commented on #3663
Can you include the stacktrace?

[2022-01-28 11:07] KiraPC commented on #3664
Hello @Eomm

I've started to work on this but I have some question:

- is it ok to reuse already existing action?
- What the title and body of the issue should contains?

I did something like "Missing Typescript for PR ${{ github.event.pull_request.title }}", but no idea about the body.

[2022-01-28 12:03] jsumners commented on #3652
@mcollina That doesn't solve the maintenance part of the issue.

[2022-01-28 14:22] vip30 opened #3665 "pluginTimeout not able to set 0 (disable)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.0

### Plugin version

_No response_

### Node.js version

16.10.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.1

### Description

According to https://github.com/fastify/fastify/

[2022-01-28 15:39] mcollina commented on #3665
Why would you want to disable the timeout?

[2022-01-28 17:37] michael-melodyarc commented on #3663
Yeah, sorry, I'm not intentionally trying to be obtuse, haha.  The stack trace is pretty bare, so I didn't think it was super valuable, but it does point to it being in `find-my-way` instead of `fastify`.

[code]

[2022-01-28 17:43] Eomm commented on #3664
Which one?

Maybe:

title: `ts: add missing types to [${{ github.event.pull_request.title }}]`
body:

[code]

[2022-01-28 17:52] Eomm commented on #3663
Could you open an issue to https://github.com/delvedor/find-my-way/ ?

This recreates the error:

[code]

[2022-01-28 17:52] #3663 closed

[2022-01-28 17:58] Eomm commented on #3328
Closing: we will use the `node-tap` coverage info

Ref https://github.com/fastify/fastify-autoload/pull/216

[2022-01-28 17:58] #3328 closed

[2022-01-28 18:00] Eomm commented on #3005
Closing

The discussion continues on https://github.com/fastify/fastify/issues/3562

[2022-01-28 18:00] #3005 closed

[2022-01-28 18:02] Eomm commented on #2071
@luisorbaiceta Do you think we can close here?

[2022-01-28 18:04] Eomm commented on #1712
Done in https://github.com/fastify/fastify/pull/1966

[2022-01-28 18:04] #1712 closed

[2022-01-28 18:05] climba03003 commented on #3328
Not sure what it means. We use `node-tap` from the first day I think.
`coveralls` just used to provide to badge on `readme` that the user can see it clearly (not `node-tap`).

Since it plan to remove all `coveralls` from the CI. This issue is just not valid anymore.

[2022-01-28 18:09] jsumners commented on #2071
I think we have only just gotten started with this. The addition of guides support and the reorganization of docs laid the groundwork for being able to add the guides suggested in the original post.

[2022-01-28 18:10] #2680 closed

[2022-01-28 18:14] michael-melodyarc commented on #3663
Will do - thanks.

[2022-01-28 18:16] Eomm commented on #2899
Done in https://github.com/fastify/fastify/pull/3261

It will be released in fastify v4

[2022-01-28 18:16] #2899 closed

[2022-01-28 18:18] Eomm commented on #3104
Done in https://github.com/fastify/fastify/pull/3290

[2022-01-28 18:18] #3104 closed

[2022-01-28 18:26] VigneshMurugan commented on #3665
I agree with the point that the logic in https://github.com/fastify/fastify/blob/b15c7c566888c7953715c031a8b3bfe13c3d1960/fastify.js#L364 will not allow you to set it to 0.

But my question is why would you want to disable a timeout ?

[2022-01-28 18:50] luisorbaiceta commented on #2071
Agree with @jsumners. Now that we can nest content, comes the interesting part of the issue, the content itself. It terms of the website, the next thing would be: fastify/website#273

[2022-01-28 19:14] KiraPC commented on #3664
@Eomm Ok for title and body, can be done.

I tested [this](https://github.com/marketplace/actions/actions-ecosystem-action-create-issue) on my forked repo and worked well.

Or [this](https://github.com/marketplace/actions/create-an-issue) could be another option, but I don't know if in the template markdown I can use github events as placeholder.

[2022-01-29 02:52] vip30 commented on #3665
Actually, I am following this issue https://github.com/fastify/help/issues/188#issuecomment-628824762 to set the plugin timeout to zero, but yes I know we can wrap the register in an async function and await the long operation before register the plugin

[2022-01-29 06:00] mcollina commented on #3665
I guess I was wrong. Thanks for reporting, I'm closing this.

[2022-01-29 06:00] #3665 closed

[2022-01-29 10:27] Eomm commented on #3384
Does https://github.com/fastify/fastify/pull/3088/files solve this issue?

[2022-01-29 10:36] Eomm commented on #3664
I would go for: https://github.com/octokit/request-action
It is more flexible

[2022-01-29 11:41] KiraPC commented on #3664
I tried this right now, make different tests, but this action has some problems.

First of all, the string parsing when you use colon fails, because returns [object object], there is an issue opened [[HERE](https://github.com/octokit/request-action/issues/118)

Second, I was not able to figure out how to pass a list for the labels parameter, if I use a list in yaml github workflows validate the st

[2022-01-29 17:57] Eomm commented on #3664
They did not try to encode it:

[code]

Or, to use the `format` utility: https://docs.github.com/en/actions/learn-github-actions/expressions#format

It might work

[2022-01-29 21:39] KiraPC commented on #3664
I tried both, but neither using the encoded neither the format worked, you can check on my forked repo issues the title results.

We can change the title, maybe.

[2022-01-30 07:56] Eomm commented on #3664
Let's go for this as the first step.
Note that we need to remove the `github.event.pull_request.title` as well

[2022-01-31 07:45] bacloud22 opened #3667 "`reply.setHeader` hangs the process without errors"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.3

### Plugin version

_No response_

### Node.js version

16.13.2

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

2019

### Description

I think many people could assume [this works](

[2022-01-31 07:51] bacloud22 commented on #3667
I'm sorry I had an errorHandler and this way I couldn't see

`{"statusCode":500,"error":"Internal Server Error","message":"reply.setHeader is not a function"}`

[2022-01-31 07:51] #3667 closed

[2022-01-31 13:26] jsumners commented on #3074
This would target `next`.

[2022-01-31 13:27] meehawk commented on #3074
@jhonrocha I'd been working on this in the past. Got super busy with school and other stuff. This seems to be super nice feature to have. Would love to update you with what I'd done so far in case you want to refer it as a starting point ✨

[2022-01-31 14:03] jhonrocha commented on #3074
Thanks, @meehawk ! I am checking your PR and I will take it as a reference for this work.

[2022-01-31 14:17] jsumners commented on #3074
Please retain the original work if it is still applicable -- https://gist.github.com/jsumners/461ef7a64545108635cc437fde112721

[2022-01-31 19:24] bclehmann opened #3673 "Fastify schema allows omission of the type attribute for objects"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.0

### Plugin version

_No response_

### Node.js version

16.13.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11 21H2 Build 22000.434

### Description

Routes with schemas like th

[2022-01-31 21:22] mcollina commented on #3673
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-02-01 01:12] jhonrocha commented on #3074
Sorry guys, I will not proceed with this. I will focus on something else for the next days.

[2022-02-01 04:43] bclehmann commented on #3673
I'm interested but I can't guarantee I'll be able to work on it anytime soon.

[2022-02-01 11:14] mcollina commented on #3074
I don't think we would ever do this, it's too complex with too big of a possible breakage. I'm going to close for now, we can always revisit.

[2022-02-01 11:14] #3074 closed

[2022-02-01 14:48] kurtextrem opened #3675 "Async errors aren't caught by `setErrorHandler`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.0

### Plugin version

_No response_

### Node.js version

17.1.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### Description

Errors thrown in async functions of async routes

[2022-02-01 21:41] MetCoder95 commented on #3675
Hi! I'm not sure I'm totally following your problem. From your code, I don't see anything wrong happening.
Recent Node versions exit the process on unhandled exceptions, which is the reason why the `/async` endpoint is exiting the process when being hit.

The `/async` endpoint is successfully fulfilling the request as you're just surrounding the function with the `async` keyword, transforming it i

[2022-02-02 08:23] Arimanecro opened #3678 "custom-errors-message doesn't work?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.3

### Plugin version

_No response_

### Node.js version

17

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

Hi.
Is this bug or I'm doing wrong?
I got examples of

[2022-02-02 12:01] mcollina commented on #3678
What version of ajv-errors are you using?

[2022-02-02 12:03] #3675 closed

[2022-02-02 12:04] Arimanecro commented on #3678
"ajv-errors": "^1.0.1"

[2022-02-02 12:04] mcollina commented on #3675
This is how Node.js work, there is nothing specific about fastify.

[2022-02-02 12:36] kurtextrem commented on #3675
Ah thank you!

[2022-02-02 18:29] Eomm commented on #3678
Ajv is used as a validator for the input.

You are using the schema as a serializer for the output so it won't work.
[code]

Take a look here: https://github.com/fastify/fastify-response-validation

[2022-02-02 19:31] #3678 closed

[2022-02-04 04:41] Hornwitser opened #3680 "jsonShorthand is missing in TypeScript type declaration for Fastify"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.1

### Plugin version

_No response_

### Node.js version

17.3.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Arch Linux

### Description

When trying to use the [`jsonShorthand`](ht

[2022-02-04 07:27] mcollina commented on #3680
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-02-04 07:29] Hornwitser commented on #3680
No, not really. If anyone wants to do it, just go ahead and do it.

[2022-02-04 07:46] DanieleFedeli commented on #3680
I can pick this up.

[2022-02-05 09:41] #3680 closed

[2022-02-06 09:43] #3660 closed

[2022-02-07 13:35] zekth commented on #3607
landed in : https://github.com/fastify/fastify/pull/3687

[2022-02-07 13:47] #3607 closed

[2022-02-08 01:23] andyburke opened #3690 "Valid JSON Schema not working for null-able response"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.1

### Plugin version

_No response_

### Node.js version

14.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

When trying to define a GET request that can retur

[2022-02-08 11:33] Divlo opened #3691 "`package-manager-ci` is currently failing"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Since this PR #3682, `package-manager-ci` GitHub Action is failing.
It fails because ESLint v8 requires Node.js >= 12.22.0, and it is running on Node.js v10 (so that would naturally be fixed by #3482).
This is a tracking issue so we can

[2022-02-08 11:41] zekth commented on #3691
This issue has been tackled in : https://github.com/fastify/fastify/pull/3623

In `package-manager-ci` we should use `test:ci` and not `test`

Would you create a PR to fix this?

[2022-02-08 11:46] Divlo commented on #3691
Oh great!
Sure, here is the PR: #3692 :smile:

[2022-02-08 12:05] VigneshMurugan commented on #3690
Let me work on this

[2022-02-08 13:23] matthyk commented on #3690
If you need a quick fix

[code]

does the trick.

[2022-02-08 16:58] #3691 closed

[2022-02-08 17:37] andyburke commented on #3690
Yeah, we are currently doing something like:

[code]

Although there is a workaround, this still feels out of place because it's only necessary at this top level (at least as I currently understand the issue).

[2022-02-12 16:12] Yakumwamba commented on #805
Is anybody having an issue with this in 2022?

[2022-02-15 00:40] markwainwright opened #3702 "Not found handler not called when request HTTP method is not supported"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.1

### Plugin version

_No response_

### Node.js version

16.13.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6.3

### Description

When handling a request that uses an HTTP meth

[2022-02-15 07:23] mcollina commented on #3702
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-02-15 07:48] sameer-coder commented on #3366
Looks like this issue can be closed.

[2022-02-15 08:06] #3366 closed

[2022-02-16 23:28] mcollina commented on #3482
I have successfully merged main into next. I will soon create a v3.x branch and move next to main.

[2022-02-17 01:08] markwainwright commented on #3702
Hi @mcollina, please see #3705, thanks!

[2022-02-17 08:13] bacloud22 commented on #2955
Your average web developer 👨‍🔧😏 presents: [A Classified-ads web-app](https://github.com/bacloud22/classified-ads) based on Fastify 🙏

[2022-02-17 10:05] Arimanecro opened #3707 "fastify.injection permanently returns 404"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hey everyone.
fastify.injection permanently returns 404
Of course in the browser routing works well.

NodeJs ver. 17.5.0
[code]

[2022-02-17 12:46] mcollina commented on #3707
What's in your app.js?

[2022-02-17 12:50] Arimanecro commented on #3707
[code]

[2022-02-17 13:31] RafaelGSS commented on #3707
It is still hard to replicate locally.

I have tried with:
[code]

and works fine.

[2022-02-17 13:53] Arimanecro commented on #3707
Try the short version of the code

app.js

[code]
server.js
[code]
test.js
[code]

[2022-02-17 14:00] RafaelGSS commented on #3707
You are creating two instances of `fastify`, the instance containing the `/` route is not the same as initialized in `test.js`.

Try changing your `test.js` to:

[code]

[2022-02-17 14:08] Arimanecro commented on #3707
It works! Thx a lot [RafaelGSS](https://github.com/RafaelGSS) 👍

[2022-02-17 14:31] #3707 closed

[2022-02-17 21:59] #3702 closed

[2022-02-17 23:28] jsumners commented on #3482
We leverage the GitHub releases feature to publish release notes.

[2022-02-18 06:59] luisorbaiceta commented on #3482
I'm aware. But I feel like there's people that miss those and instead just rely on our website documentation.

The section wouldn't be something too extense, just the news about a new major version and a short description of the new features (and fixes?).

I see that there was a blog post planned too. We could also link it from the site.

[2022-02-18 07:58] Fdawgs commented on #3482
Like the [V3 migration guide](https://github.com/fastify/fastify/blob/main/docs/Guides/Migration-Guide-V3.md) but for V4?

[2022-02-18 08:36] luisorbaiceta commented on #3482
That could be added too!

So apart from the github releases feature to publish release notes we could:

* Make a short banner/section in our homepage to announce the release (this could include a link to the above mentioned blog post). This would be a short list with the key new improvements with a short description.
* Migration guide doc page (Under a new migrations section maybe?)

[2022-02-18 15:59] mcollina opened #3709 "pnpm tests broken for v4"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

mian branch / v4

### Plugin version

_No response_

### Node.js version

v16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

gituhb actions

### Description

Our pnpm tests are failing https

[2022-02-18 16:10] Eomm commented on #3709
I think the issue is hidden here:

https://github.com/fastify/fastify/blob/65479ae199b92b6c527925d7a033e364967c16e9/package.json#L124-L125

There is some clean to-do

I will take a look later this weekend 👍🏽

[2022-02-19 04:22] sinclairzx81 opened #3713 "JTD Type Provider package"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

This is a suggestion for possibly including an additional `JDT` Type Provider package to enable auto type inference for JTD schemas. This is in consideration to https://github.com/fastify/fastify/issues/3482#issuecomme

[2022-02-19 18:29] Eomm commented on #3709
Reopening due to this new error during the `ts` check:

[2022-02-19 20:56] #3709 closed

[2022-02-19 22:30] stefanocapitanio commented on #1316
Hi guys, I tried this, but i'm not logging body payload (neither for request nor response).
Now I'm using preHandler and preSerialization hooks.

[2022-02-20 11:07] Eomm commented on #1316
@stefanocapitanio this is an old issue, please open a new one describing your use case adding a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)

[2022-02-20 17:36] rubenferreira97 commented on #3636
@sinclairzx81 Sorry for the late response. Your last approach is what I want to accomplish but unfortunately does not infer types (`Foo: any` even if is declared as a `Type.String`).

A quick question is this a `ResolveFastifyReplyType` bug or a limitation?

[code]

[2022-02-20 22:30] stefanocapitanio opened #3718 "Payload in default pino logger request and response"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.2

### Plugin version

_No response_

### Node.js version

16.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.1

### Description

I'm trying to log request and response payload from

[2022-02-20 23:51] jsumners commented on #3482
Are we going to deprecate the `fastify-*` modules and replace them with `@fastify/*` versions? If so, I have some ideas on how to automate more of https://github.com/fastify/deprecate-modules

[2022-02-21 00:00] jsumners opened #3720 "Drop Coveralls?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I don't think Coveralls is checking things correctly. When we look at the CI results for commit https://github.com/fastify/fastify/pull/3712/commits/5a77a6b9a93d0b1e1c830a8c9bce997b2bcc7646 we can see that Coveralls is suggesting covera

[2022-02-21 01:29] sinclairzx81 commented on #3636
@rubenferreira97 Hi, Type Providers are written to infer types from JS values (as opposed to explicit generics). Internally the resolver infrastructure checks the value of the user supplied object schema then tries to determine the correct types from that. While it is technically possible to provide a `interface` or `type` (in your example `FooSchema`) the recommend approach is to pass a JS object

[2022-02-21 06:59] Eomm commented on #3720
Does coverall merge the coverage report into one?

I think tap is not working on win because of this test

https://github.com/fastify/fastify/blob/77680ff3de42902718313c404946fe16f8b5e8ff/test/listen.test.js#L215

[2022-02-21 07:10] mcollina commented on #3720
I'm always in for removing coveralls.

[2022-02-21 08:23] mcollina commented on #3482
I've been thinking about the renaming and I'm conflicted.

I see three options:

1. move them to Fastify v4 and rename, bumping major only once. Deprecate all the previous one.

2. rename all of them to `@fastify/*` and bump major. Then, upgrade to Fastify v4 and bump major again.

3. move them to Fastify v4 and rename, bumping major. Deprecate the previous ones only after v3 goes out of LTS.

The

[2022-02-21 08:27] mcollina commented on #3718
This is expected but likely not documented. We store `req` as part of a child logger that is instantiated at the beginning of the request. If you really want to have the request body, you should add a `preHandler` hook and log it directly.

__I think we should document why logging the request body should not be done as it is a security risk and illegal in quite a few countries__.

[2022-02-21 10:31] stefanocapitanio commented on #3718
Thank you @mcollina

Yes, we implemented in this way:
[code]

And we added some redact paths like email fields and other personal data:
[code]

I'm not a GDPR expert or the equivalent out of eu, but I think that if I redact personal data, my logs are compliant. I know github isn't the right place to talk about GDPR and logging....

[2022-02-21 11:54] aimansaeedsh commented on #2055
Ok, so this is checked if the fastify's "addHook" function is used directly. But is this warning/error also shown when a custom hook is passed in for instance as a "preHandler" at route declaration ?

i.e.
[code]

[2022-02-21 11:57] aimansaeedsh commented on #2055
we experienced unusual behavior (seemingly identical multiple requests) due to the above. Please to hear your thoughts on this. @mcollina

[2022-02-21 12:07] jsumners commented on #3720
I have no idea. I never look at it.

[2022-02-21 12:53] Fdawgs commented on #3720
Yeah, because we're using the parallel option it amalgamates them into a single report:
https://github.com/fastify/fastify/blob/39661e6ea6ce83c835e383ff2f0531680461d27d/.github/workflows/ci.yml#L82

[2022-02-21 14:07] jsumners commented on #3482
This is what I was thinking would be done. Basically, the current majors of all of the `fastify-*` would be deprecated, even on `fastify@3`. The new `@fastify/*` modules would be the current modules for `fastify@3`. This would be done _prior_ to the final push for `fasitfy@4`.

[2022-02-21 14:08] mcollina commented on #3482
We are in agreement, so let's get it going. You said you had some script?

[2022-02-21 14:11] jsumners commented on #3482
https://github.com/fastify/deprecate-modules is the proof of concept that needs to be completed. We should be able to write a script to iterate the org's repos and build the input data file. I _might_ be able to get to it this weekend, but I am having oral surgery on 2022-02-24 and will be rather out of commission.

[2022-02-21 14:15] mcollina commented on #3482
There is no hurry.

[2022-02-21 20:05] #3720 closed

[2022-02-22 07:57] Taha-Firoz commented on #946
this fix in no longer valid since body is now an incoming message and there is no `body` property on body. If the `parseAs: 'string'` parameter is passed into `addContentTypeParser` then the body can be parsed.

[2022-02-22 08:30] Fdawgs commented on #3664
@Eomm Would you say this is closed by https://github.com/fastify/fastify/pull/3668 now?

[2022-02-22 09:18] #3664 closed

[2022-02-23 08:00] Eomm commented on #3718
This is happening because the request payload has not been parsed yet.

[2022-02-23 15:42] RafaelGSS opened #3725 "Add JSDoc for plugins in Getting Started"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### Documentation update

I was talking with @mcollina and looks good to add JSDocs to our guides in the getting started section. It will enable autocompletion in their code editor and make things more beginner-friendly.

File: https://github

[2022-02-23 16:19] RafaelGSS commented on #3725
Example:

[code]

[2022-02-23 18:51] chrskrchr opened #3726 "Promise returned by `FastifyInstance.register()` is resolved before plugin's async registration promise has resolved"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.2

### Plugin version

N/A

### Node.js version

14.18.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.2.1

### Description

I suspect this may actually be a bug in `avvio`, but log

[2022-02-23 19:32] climba03003 commented on #3726
I think it is the problem of `console.log` as it is a async task for writing stdout.
If you should it inside an array then output as once. The sequence is in correct order.

[code]

[2022-02-23 19:44] mcollina commented on #3726
Looks like a bug in avvio :(. Fixing this is going to be complex  and I will prefer to focus on shipping Fastify v4 instead.

I think you can work around this by removing most of the awaits and wrapping in-between awaits in plugins.

Of course, a PR that fixes it would be amazing.

[2022-02-23 20:12] chrskrchr commented on #3726
Yep - this is exactly how we're working around it in our apps.

I've started poking through the output produced by `DEBUG=avvio node index.js` and will see if anything obvious jumps out.

[2022-02-24 01:34] chrskrchr commented on #3726
@mcollina - do you think this bug will no longer exist in Fastify v4?  Or are you just saying you'd prefer to prioritize getting v4 out the door over fixing this bug that has a handful of workarounds? (which I'd completely understand)

I'm asking because I have a WIP `avvio` branch that appears to fix the issue, but it's somewhat hacky and I don't know if it's something we'd want to live on in fut

[2022-02-24 01:52] skimmilk6877 commented on #3482
Is there any plan rewrite by TS?

[2022-02-24 09:08] mcollina commented on #3726
This bug exists in Fastify v4. I'm only focusing on Fastify v4 launch now.

Go ahead and open that PR. I know it's a hacky fix - the whole `await` for plugin is very hacky and well hidden.

[2022-02-24 10:50] karansapolia commented on #3725
I'd like to work on this. I haven't added JSDocs to projects before and feel like this could be a good way to get up to speed with it and also make a good first contribution to Fastify. With a little guidance, I think I can get this done :)

[2022-02-24 10:59] Fdawgs commented on #3725
How detailed are we wanting it to be @RafaelGSS?

As an example, I use JSDoc tags everywhere in my plugins/APIs:
https://github.com/Fdawgs/ydh-community-contacts-api/blob/src/plugins/db/index.js#L7-L15

[2022-02-24 13:23] Lev488 opened #3728 "ec2 with Fastify "SyntaxError: Unexpected token ...""
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.2

### Plugin version

1.0.0

### Node.js version

14.16.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6.2

### Description

I have a problem with Fastify when running my server o

[2022-02-24 13:57] mcollina commented on #3728
What version of Node.js are you using?

[code]

[2022-02-24 14:00] Lev488 commented on #3728
v14.16.0

[2022-02-24 14:35] RafaelGSS commented on #3725
Actually, I meant `type doc` https://jsdoc.app/tags-type.html. It will enable autocompletion.

Go ahead! If you are stuck, create a DRAFT PR so we can help you.

[2022-02-24 15:01] mcollina commented on #3728
That syntax is supported on Node v14, you are likely using a different version of Node.js on your EC2 server on AWS.

[code]

[2022-02-24 15:01] #3728 closed

[2022-02-24 15:11] Lev488 commented on #3728
In AWS I wrote your example it returned as expected { foo: 42 }

[2022-02-24 19:38] chrskrchr commented on #3726
PR submitted here: https://github.com/fastify/avvio/pull/173

The "hack" I referred to in my previous comment was actually addressing an issue that's subtly different from the one described in this issue.  It appears that different race conditions can occur depending on whether `autostart` is `true` vs. `false`, and the PR I ultimately submitted above deals with the `autostart: false` case, which

[2022-02-24 19:43] rhscjohn-dev opened #3729 "Startup error using fastify and Apollo server upgrading to 3.27.2 from 3.20.2"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

3.21.0

### Stopped working in version

3.22.0

### Node.js version

16x

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### 💥 Regression Report

I tried upgrading from fast

[2022-02-24 20:13] jsumners commented on #3729
Can you show this problem with standard Fastify?

[2022-02-24 21:29] rhscjohn-dev commented on #3729
I do not understand what you mean by "standard Fastify".  Would you please elaborate.

I did come across this [issue](https://github.com/nestjs/nest/issues/8280) which has a very similar error to mine. But I did not see anything the release notes for version 3.22.0 that would involve the usage of fastify-cors.

I can comment out the following code in my server.js and the error goes away when runni

[2022-02-24 23:34] jsumners commented on #3729
[code]

We do not write, nor support, `apollo-server-fastify`.

[2022-02-25 09:51] zekth commented on #3729
@rhscjohn-dev this problem comes from `apollo-server-fastify`, it embdeds `fastify-cors` and include it underneath. Please raise an issue in this project instead of fastify.

[2022-02-25 14:59] #3729 closed

[2022-02-25 15:04] chrskrchr commented on #3726
I pulled `avvio@7.2.3` into some of our Fastify applications and verified that the fix addresses our issue.  Marking this issue as closed.  🙌

[2022-02-25 15:30] mcollina commented on #3726
Unfortunately https://github.com/fastify/avvio/pull/173 broke Fastify, I'll revert the fix on both lines.
See https://github.com/fastify/fastify-cors/issues/189#issuecomment-1050950864 for more details.

[2022-02-25 15:41] chrskrchr commented on #3726
Dang! :(

I'll take a closer look at the `fastify-cors` issue and see if I can find a way to fix.

[2022-02-25 17:15] chrskrchr commented on #3726
Good news, bad news.

Bad news first - @mcollina was right that [the change in behavior observed in this unit test](https://github.com/fastify/avvio/pull/173#discussion_r814204143) was a symptom of a change (a bug, really) in how avvio was queueing and executing plugin callbacks.  It appears to be a symptom of [the same underlying bug that broke route registration](https://github.com/fastify/fasti

[2022-02-26 15:09] jsumners opened #3733 "Deprecating `fastify-*` modules"
2022-05-07 remaining work:

The following list is hoisted from comment https://github.com/fastify/fastify/issues/3733#issuecomment-1114252976

- [x] [aws-lambda-fastify](https://github.com/fastify/aws-lambda-fastify)
  - Rename package (https://github.com/fastify/aws-lambda-fastify/pull/110)
- [x] [fastify-auth](https://github.com/fastify/fastify-auth)
  - Update dependencies (https://github.com/f

[2022-02-26 15:19] zekth commented on #3733
Could we make a checklist for each package like:

**fastify-cors:**
- [ ] Fastify 4 compliant
- [ ] Upgrade version OK
- [ ] Template compliant. (doc / typescript )

[2022-02-26 16:10] zekth commented on #3733
Project has been created: https://github.com/fastify/deprecate-modules/projects/1

[2022-02-27 12:55] mcollina commented on #3733
@zekth we will be changing name and bumping major and then migrate to fastify v4 and bump major again.

[2022-02-27 13:18] zekth commented on #3733
Right now we're doing straight deprecation and work with the compatibility and compliancy afterward so?

[2022-02-27 13:34] mcollina commented on #3733
yes exactly

[2022-02-27 16:43] jsumners commented on #3733
As [currently written](https://github.com/fastify/deprecate-modules/blob/a7a87b05d129e04d7e36bd4f0eb07d479e2d7b6f/lib/modules.json#L119-L127):

[code]

The following would happen:

1. A new `fastify-cookie` package would be published at version 5.7.0 (up from 5.6.0). This package will wrap the exports of 5.6.0 with a deprecation notice.
2. A new `@fastify/cookie` package would be published at vers

[2022-02-27 19:12] mcollina commented on #3733
amazing!

[2022-03-01 17:57] chrskrchr commented on #3726
Here's a second attempt at fixing this issue:

https://github.com/fastify/avvio/pull/177

[2022-03-02 05:48] AnthonyLzq opened #3738 "Support for keys instead of properties in schema definition"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Currently the options for the body schema allows you to define an object using `keys` instead `properties` in the schema declaration, but why not in the request? I consider that the behavior must be homologous in both

[2022-03-02 06:00] AnthonyLzq commented on #3738
So, if I am not mistaking, this is syntax is required for the response and it is going to be impossible to change, right?

[2022-03-02 13:43] antoniogamizbadger opened #3739 "Fastify inject gets stuck when using jest"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.1

### Plugin version

_No response_

### Node.js version

14.17.3

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.5.2 (20G95)

### Description

I'm trying to create a test with fasti

[2022-03-02 13:45] Fdawgs commented on #3482
Next major release of shared workflows will drop support for node 10 and 12 as part of this: https://github.com/fastify/workflows/pull/15

[2022-03-02 13:45] #3739 closed

[2022-03-02 14:23] antoniogamizbadger commented on #3739
I have deleted fastity-express and the error it's still there.

[2022-03-02 17:52] #3738 closed

[2022-03-02 19:29] #3077 closed

[2022-03-02 21:03] Fdawgs commented on #3562
Closed by #3704

[2022-03-03 05:57] #3562 closed

[2022-03-03 10:34] luismiguelfeijoo opened #3742 "Add Azure Function Handler/Support"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Create a handler or dedicated library to make a fastify app me compatible with the input of an Azure Function

### Motivation

_No response_

### Example

_No response_

[2022-03-03 12:11] zekth opened #3743 "Add OSSF scorecard"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

[OSSF](https://openssf.org/) created a scorecard generated by checking the repository and its setup to give users more insights about the state of the current project. See: https://github.com/ossf/scorecard

I think this might be a good

[2022-03-03 12:49] jsumners commented on #3743
How is this different than the Snyk integration we already use?

[2022-03-03 13:24] zekth commented on #3743
Snyk only cares about dependency tree, ossf integration takes also in consideration the lifecycle / configuration of the github repository

[2022-03-03 19:53] chrskrchr commented on #3726
The fix above was released in `avvio@7.2.5` and `avvio@8.1.3`.  Marking this as closed.  (and hoping we don't have to re-open again 🤞 😬 )

[2022-03-03 19:53] #3726 closed

[2022-03-04 09:49] liyiming22 commented on #163
arrow function will break the binding of this to the Fastify Reply instance.

[2022-03-04 10:24] climba03003 commented on #3482
Issues that will potentially fixed by `v4`.
#3133 #3329

[2022-03-04 13:52] Jnig opened #3749 "Possible serialization bug with response schema"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.2, 4.0.0-alpha.1

### Node.js version

14.19

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Arch Linux

### Description

Hi,

I'm using fastify with a response schema. In the schema I'v

[2022-03-04 17:10] Eomm commented on #3749
`fast-json-stringify` does not support the `type: null` atm

you need to use this schema:

[code]

Closing as duplicates https://github.com/fastify/fast-json-stringify/issues/388

[2022-03-04 17:10] #3749 closed

[2022-03-04 17:45] Jnig commented on #3749
@Eomm thanks for pointing to the fast-json-stringify issue

[2022-03-05 14:44] #3652 closed

[2022-03-05 14:45] github-actions[bot] opened #3750 "add missing types to [Deprecate variadic listen method (closes"
PR [3712](https://github.com/fastify/fastify/pull/3712) has introduced a new feature that requires updating Fastify's typings and tests.

Learn how to [contribute](https://github.com/fastify/fastify/blob/main/CONTRIBUTING.md)
Get inspired by [this example PR](https://github.com/fastify/fastify/pull/3231)

[2022-03-05 19:22] #3750 closed

[2022-03-06 10:52] dnohr opened #3752 "502 Bad Gateway"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.2

### Plugin version

_No response_

### Node.js version

17.6.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04.4

### Description

Hi,

I have a server with node 16.4 wit

[2022-03-06 11:16] mcollina commented on #3752
Thanks for reporting! Node.js v16 is LTS, so it's the one recommended for production usage. You might want to stick to that.

Note that the inability to update Node.js in this system is a direct result of your choice of using pm2. You want each of your applications to ship their own version of Node.js and you can achieve that by using containers.

---

Going into the problem in detail.. it's very

[2022-03-06 21:11] dnohr commented on #3752
Hi Matteo,

First of all, thanks for working on Fastify, it's great!

You're right, everything worked fine on Node v16 and it's recommended for production.

After a bit of playing around I managed to make it work on Node v17.0.0+. I'm not sure why the old line didn't work, but I changed following line and then it was reachable:

`fastify.listen(3000)` to `fastify.listen({ port: 3000, host: '0.0.0.

[2022-03-06 21:26] #3752 closed

[2022-03-06 21:26] mcollina commented on #3752
I'm glad it's sorted out! I don't think there is anything to
do in Fastify for this

[2022-03-09 19:30] markrzen opened #3762 "Custom errorHandler is not invoked for async plugins"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.2

### Plugin version

_No response_

### Node.js version

16.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.2.1

### Description

When using async/await, setting a global error ha

[2022-03-09 19:59] markrzen commented on #3762
It appears that the reply.context is all defaults when we `await fastify.register(plugin);`

[2022-03-09 20:04] markrzen commented on #3762
I agree the awaiting of plugin registration is a bit odd, but I noticed it was partially (maybe unintentionally) documented herE:
https://www.fastify.io/docs/latest/Reference/Plugins/#asyncawait

[2022-03-09 21:27] mcollina commented on #3762
This does not surprise me. I would recommend you to move the errorHandler definition before the await. I would need to investigate why this is happening.

I'm not even sure the current behavior is wrong. By using await, you are making sure all plugin so far have been loaded. At that point the error handler is not defined yet, so no error handler in your routes.

I'm not really sure why you are act

[2022-03-09 21:48] markrzen commented on #3762
Yeah, I really didn't need await on the register, I just saw it in the documentation of ready/after and though "shoot this might be needed?". I suspect I got bit by an accidental `await`...

[2022-03-09 21:50] markrzen commented on #3762
Is there a reason the documentation for plugin async/await calls out await on the register?

[code]

[2022-03-09 22:19] markrzen commented on #3762
@mcollina You are 100% correct. Things are working correctly, I just misunderstood the code flow around the server context.

[2022-03-09 22:19] #3762 closed

[2022-03-10 12:33] SimenB commented on #3404
Will there be an integration with  `FastifyPluginCallback` & `FastifyPluginAsync`, plus `fastify-plugin` or some such? So that the injected `instance` in the callback also gets the inference

[2022-03-10 13:23] RafaelGSS commented on #3404
We are discussing it in https://github.com/fastify/fastify/issues/3636

[2022-03-11 20:12] YuriFontella opened #3763 "different ips results coming from the request fastify route and context mercurius"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I have a project using fastify, and the ip that comes from request.ip is the client's.

When migrating the project to mercurius, the context.reply.request.ip is no longer the ip of the client, but the ip of the server.

It is possible t

[2022-03-12 18:35] Eomm commented on #3763
I would try the https://www.fastify.io/docs/latest/Reference/Server/#trustproxy setting first

[2022-03-14 18:44] serdnam opened #3771 "When passing options to a plugin with a function, the prefix option returned from the function is not respected"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.4

### Plugin version

_No response_

### Node.js version

16.14.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Manjaro Linux 21.2.3

### Description

When registering a plugin with t

[2022-03-14 19:01] jsumners commented on #3771
Duplicate of https://github.com/fastify/help/issues/174

[2022-03-14 19:01] #3771 closed, assigned to nobody

[2022-03-15 15:51] flipperlite commented on #2557
I'm following [this tutorial](https://medium.com/sharenowtech/fastify-with-typescript-production-ready-integration-2303318ecd9e). This same error does not exist on his repo with fastify version `^1.13.4`. However, when I bump to fastify version `^3.27.4` (no other changes), I'm getting the same error as the OP. Was there a breaking change made along the way? I already ran `npm i -D @types/node`.

[2022-03-15 20:04] MarcoLeko opened #3775 "Inconsistent Typescript definition for FastifyRequest"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.2

### Plugin version

_No response_

### Node.js version

14.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

monterey 12.2.1

### Description

The actual `FastifyServerOptions` comes

[2022-03-15 20:10] MarcoLeko commented on #3775
Let me know, if I can provide any help by opening up a PR

[2022-03-15 21:06] mcollina commented on #3775
Can you check the main branch/v4.0.0-alpha.2? This should be fixed already there.

[2022-03-16 06:49] MarcoLeko commented on #3775
If Im not mistaken, I dont see the fix applied there yet. Checking: https://github.com/fastify/fastify/blob/v4.0.0-alpha.2/types/request.d.ts

[2022-03-16 11:35] mcollina commented on #3775
Would you like to send a PR there then? Thanks!

[2022-03-16 13:51] MarcoLeko commented on #3775
I wrote you a private mail, think might need access rights to create a remote bugfix branch and create a PR against the main branch :)

[2022-03-16 13:58] RafaelGSS commented on #2557
Try removing `FastifyInstance` parameters:

[code]

[2022-03-16 17:19] jsumners commented on #3775
See https://jrfom.com/posts/2017/03/08/a-primer-on-contributing-to-projects-with-git/

[2022-03-16 18:45] MarcoLeko commented on #3775
Thank you, will have a look

[2022-03-17 07:39] Eomm commented on #2748
I thought a bit about this and I think one setup-up could be:

- Create a `fastifybot` npm user
- Configure the `fastifybot` user in this way:
  - turn on `2FA` for the user and save locally the TOTP code
  - turn on `required 2FA` to release any fastify's package
  - provide access to the user to all the fastify's packages
- Share the TOTP code within every Fastify member that has the ownership t

[2022-03-17 09:24] mcollina commented on #2748
I think this is a no-go :(.

[2022-03-17 11:45] jsumners commented on #2748
2FA completely nullifies the idea of automated releases.

[2022-03-17 12:02] mcollina commented on #2748
That's not entirely correct. You can receive a notification on your phone and authorize the publish.

[2022-03-17 17:07] mcollina commented on #2748
I'm sorry but I missing a detail, how does it get around:

[2022-03-17 17:08] simoneb commented on #2748
@mcollina is this a question in reply to my comment above?

[2022-03-17 17:13] mcollina commented on #2748
It seems https://github.com/fastify/fastify/issues/2748#issuecomment-1070456365 described the usage of optic.

I'm happy to see if it would work for this org as long as we can keep avoid massive maintenance work on all the repos / something that could be streamlined with APIs.

[2022-03-17 17:26] Eomm commented on #2748
The scope here is that:
- every fastify maintainer does **not** know the `fastifybot` NPM token. The token is stored into a **single** GH organization secret
- every fastify maintainer can generate the OTP on behalf of `fastifybot` npm account (stored into the optic mobile app)
- every fastify maintainer has a single and personal OPTIC-TOKEN stored into the GH organization secret (in practice ever

[2022-03-17 17:28] mcollina commented on #2748
let's take this for a spin, maybe pilot it in a minor plugin first.

[2022-03-17 17:35] simoneb commented on #2748
Go for it @Eomm 👍

[2022-03-17 22:42] turkerdev opened #3783 "Cannot use promise when host is defined"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0-alpha.2

### Plugin version

_No response_

### Node.js version

16.14.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### Description

Using promise when `host` is defined othe

[2022-03-18 07:49] #3783 closed

[2022-03-19 08:47] ivanjeremic commented on #2379
Awesome, hope fastify will be first to use quic.

[2022-03-20 19:18] Eomm commented on #2748
I completed **successfully** the test here: https://github.com/fastify/fastify-accepts/pull/120

As a quick recap on how it works in practice:

1. by creating a [release.yml](https://github.com/fastify/fastify-accepts/blob/master/.github/workflows/release.yml) workflow file into a repository
2. it is possible [to run manually](https://github.com/fastify/fastify-accepts/actions/workflows/release.ym

[2022-03-21 06:46] ceytah commented on #3742
Aoc

[2022-03-21 09:09] simoneb commented on #2748
Good stuff @Eomm ! Yeah I do agree that the release automation action can benefit from some improvements along the lines of those you have mentioned! Thanks for tracking them, we can certainly do some work in that area.

[2022-03-21 09:16] yaneony commented on #3733
What about "point-of-view" plugin? Maybe it makes sense to rename it as **@fastify/views** ?

[2022-03-21 13:02] jsumners commented on #3733
This one _does_ get skipped by the automated tool. I don't really have an opinion about moving it under the org scope. It's already named independently, and thus does not cause confusion around whether or not it is a community plugin or an org plugin.

[2022-03-21 13:03] jsumners commented on #2748
I think #3733 needs to solved first.

[2022-03-21 13:16] yaneony commented on #3733
But isn't "point-of-view" one of org plugins?

[2022-03-21 13:22] jsumners commented on #3733
Yes.

[2022-03-21 13:25] yaneony commented on #3733
But then, it makes sense to move it to org plugins as well. As of mine sight of view. Right now this plugin looks "out of scope" and not fastify related. Moving it to @fastify/views or @fastify/pov will make it look more fastify related.

Just only my 2 cents :D

[2022-03-21 20:12] JakobJingleheimer opened #3788 "Reply's `content-type` header value suffix stripped when charset is omitted"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.4

### Plugin version

_No response_

### Node.js version

17.7.2

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.2

### Description

In the example here, fastify strips `; version=2`

[2022-03-22 03:10] xtx1130 commented on #3788
Seems like this pr https://github.com/fastify/fastify/pull/2315 has a problem, I will take a look

[2022-03-22 07:14] Eomm opened #3790 "Remove server.unref from tests"
It would be good to remove this monkey patch:

https://github.com/fastify/fastify/blob/2afc0d757eff238ae5ac0bd91033fe43a83d18d9/lib/server.js#L139-L147

To do this, we need to remove all the `fastify.server.unref()` calls from the `test/` folder and replace it within:

[code]

[2022-03-22 07:20] climba03003 commented on #3790
Even if we do not use it inside the `test`. This monkey patching is needed.
Because the user may call `.unref` themself and expect all the server should be `unref`.

[2022-03-22 07:25] Eomm commented on #3790
You are right, but I would clean the tests in any case (minus one for the coverage)

[2022-03-22 10:07] fox1t commented on #3620
I am not sure that this PR was a good one. :/

The issue was that `RawServerBase` is a union type. We should allow only passing one type as `RawServer`, the one that the user chooses to use. `RawServerBase` restricts the possible choices and should not be used as Generic. @anttti, you should use `RawServerDefault` as the first parameter of your definition, and we shouldn't remove that generics fro

[2022-03-22 13:49] #3788 closed

[2022-03-22 13:55] JakobJingleheimer commented on #3788
Wow! Thanks for the fast turnaround!

[2022-03-23 08:31] fox1t commented on #3733
I like this plan! 👏

Speaking of `point-of-view` I vote for `@fastify/point-of-view` and it can follow the same upgrade path as others.

[2022-03-23 09:45] mcollina commented on #3733
I would just move it to `@fastify/view`

[2022-03-23 10:35] turkerdev opened #3791 "having more than 2 response types breaks the TypeProvider"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0-alpha.2

### Plugin version

_No response_

### Node.js version

16

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### Description

Having more than 2 response types breaks type

[2022-03-23 12:16] RafaelGSS commented on #3791
I don't see any issue in the video. You are basically sending `"45"` (not the `reply` object) and when you remove the type `string` as response it should throw.

An important point here is that TypeProvider **is not capable** to define response types based on the status code, it means if you define a couple of responses to different status codes, it will behave like:

[code]
[code]

instead of

[c

[2022-03-23 13:09] turkerdev commented on #3791
Oh, I see. I thought it could infer according to statusCode. My bad.

[2022-03-23 13:09] #3791 closed

[2022-03-23 13:11] jsumners commented on #3733
Given that `point-of-view` does not conform to the other modules's naming style, it would be difficult to include in the automated tool. It should be done manually.

[2022-03-23 13:12] sinclairzx81 commented on #3791
@turkerdev Hi, just ran your code locally and everything seems in order. Just keep in mind that currently TypeProviders take a union of all possible status codes, but do not currently narrow based on the status code. (Although this may be enabled at some point in the future)

Also, just be mindful that you won't be able to directly assign Zod schemas to Fastify without first mapping them to JSON S

[2022-03-23 17:36] turkerdev commented on #3791
@sinclairzx81 I'm not familiar with creating packages and maintaining them ¯\_(ツ)_/¯, but here I did create it.
https://www.npmjs.com/package/fastify-type-provider-zod

[2022-03-23 18:47] gajus opened #3792 "Document fastify-webpack-hot"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

https://github.com/gajus/fastify-webpack-hot is a new Fastify plugin:

It replaces `webpack-dev-server` and `webpack-hot-middleware`:

[2022-03-23 20:27] YuriFontella commented on #3763
Regardless of this proxy configuration, I continue to receive the server's ip in the request.

Complicated, on the same server I have an api with fastify and the request returns the client's ip.

[2022-03-24 02:16] #3792 closed

[2022-03-24 09:39] sinclairzx81 commented on #3791
@turkerdev Hey, this is awesome! Excellent work!

@RafaelGSS Is there a process for adding remotely authored community plugins to Fastify? I think having a Zod Type Provider would be pretty nice option for a lot of existing users who do preference Zod. Could also potentially include additional type provider packages for `RunTypes` and `io-ts` as well if overriding the validation and serialization

[2022-03-24 11:44] RafaelGSS commented on #3791
You can create a PR to add this plugin to our community ecosystem, this is totally acceptable.

[2022-03-24 12:25] MarcoLeko commented on #3775
Since now we fixed the issue, what needs to be done in order to close this bug ticket?
Do we need to publish a new 3.x version in order to make these changes accessible to the user?

[2022-03-24 12:28] #3775 closed

[2022-03-24 12:58] mcollina commented on #3763
`context.reply.request` in mercurius and `request` within Fastify are exactly the same objects. You are calling the same methods and they would return the same results.

In order for this to work you need to set `trustProxy: true` when configuring Fastify.

[2022-03-24 14:09] MarcoLeko commented on #3775
Do we need to publish a new 3.x version in order to make these changes accessible to the user?

@mcollina @RafaelGSS would be really important to get your input on that question

[2022-03-24 14:35] mcollina commented on #3775
I'll ship a new release of v3 whenever I have the chance.

[2022-03-24 22:18] s9tpepper commented on #630
etags are the exact reason I ended up on this thread. I'm trying to send a file stream in reply.send() and I'm piping the stream to a hash so I can calculate an etag value that I want to send as a trailing header. @mattbishop did  you ever make any headway on this?

[2022-03-24 22:30] jsumners commented on #3790
I was going to say the same thing as @climba03003. We must expose a functioning `unref`.

[2022-03-24 22:32] climba03003 commented on #630
I think it is not hard to make it success using `onSend` hook.

Generally speaking,
1. If you pass `object`, `string` in `payload`. It will be `string` in `onSend` hook and we can embed the `trailers` easily.
2. If you pass `buffer` in `payload`. It will be `buffer` in `OnSend`, it should be almost the same case as `1.`.
3. If you pass `stream` in `payload`. It will be `stream` in `OnSend` and we

[2022-03-24 22:40] MetCoder95 commented on #630
Seems interesting, if ok I’ll give it a try during the weekend. I see this mostly in a form of a plugin. I’ll shake my head around it

[2022-03-24 22:45] s9tpepper commented on #630
#3 is what I was trying but I was implementing in a route handler, so I moved it to an on send hook.
[code]
But it throws an error, I assume its because as soon as the stream sends the `finish` event the framework is calling `end()` and then I can't send anymore headers by the time the `finish` callback executes that I added to the stream object.

[2022-03-24 22:48] climba03003 commented on #630
Some prototype here, not tested.
I have read the above issue deeply and see it can make use of `response.addTrailers`. However, it cannot dynamic calculate the header when the payload is `stream`.

[code]

[2022-03-24 22:49] s9tpepper commented on #630
Sorry, I spoke too soon. I left the old code in place and so the console output was wrong, you can see the output is actually missing the `>` character I have in the example code, my mistake.

After I fixed that, the RTE went away, but the headers aren't sent.

[code]

But the headers aren't there:
[code]
It's missing the `etag` header I'm trying to set.

[2022-03-24 22:56] s9tpepper commented on #630
@climba03003 If I turn the onSend hook to an async function and then await on the calculation of the header value before I return the payload, doesn't that effectively block the response until the header is computed? Cause if so I could simply just calculate the header before even sending the response and add it via normal means.

But I'm trying to do it without blocking the response which is why

[2022-03-24 23:05] climba03003 commented on #630
Since, we are using `response.end(payload)` or `payload.pipe(response)` in the code.
You cannot send any `trailer` afterward. That's why it am awaiting the `trailers` before sending any.

https://github.com/fastify/fastify/blob/802e3e8935dd8a84e08330faca83b7f7a108dad2/lib/reply.js#L394-L433

If the order need to be correct, it needs to update the core for this feature.

[2022-03-24 23:16] s9tpepper commented on #630
Yea it makes sense now. I was trying to do it in this order basically to try to incur as little cost to the response time by not awaiting a header value but still be able to calculate a deterministic etag header based on the file contents.

[2022-03-25 06:43] lovejlc2008 commented on #2404
If you use
import { Component } from 'vue-class-component'
There will give you a bug: Module '"vue-class-component"' has no exported member 'Component'.

But use
import { Options } from 'vue-class-component'
and
@Options({
  beforeRouteEnter (to: any, from: any, next: () => void) {
    console.log('beforeRouteEnter ')
    next()
  }
})
Oh, it's working

[2022-03-25 06:45] lovejlc2008 commented on #2404
If you use
`import { Component } from 'vue-class-component'`
There will give you a bug:
Module '"vue-class-component"' has no exported member 'Component'.

But use
`import { Options } from 'vue-class-component'`
and
[code]
Oh, it's working

[2022-03-25 06:46] lovejlc2008 commented on #2404
If you use
`import { Component } from 'vue-class-component'`
There will give you a bug:
Module '"vue-class-component"' has no exported member 'Component'.

But use
`import { Options } from 'vue-class-component'`
and
[code]
Oh, it's working

[2022-03-26 13:09] delvedor commented on #3733
I would keep the same name to avoid too much confusion, so `@fastify/point-of-view`.
Otherwise, `@fastify/view` works as well.

[2022-03-27 14:41] #630 closed

[2022-03-27 20:44] vitoladev opened #3797 "docs: guide with a list of open source projects that use fastify"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

it would be great to have a guide on the documentation with a list of open source projects that use fastify as their web framework, such as the ecosystem guide has a list of plugins maintained by the community and the fastify team.

ope

[2022-03-28 05:55] Eomm commented on #3797
We have such a list here:
https://github.com/fastify/website/blob/master/src/website/data/organisations.yml

But it is up to the organization to send a PR

[2022-03-28 21:19] vitoladev commented on #3797
In this case, I thought about open source projects themselves, not organizations or enterprise users, I think it would be a good showcase of projects that rely on fastify.
an example of this kind of section is the [docusaurus showcase](https://docusaurus.io/showcase) with open source projects that rely on their project to build documentation, such as jest, react native, ionic, etc.

[2022-03-29 07:19] michael-melodyarc opened #3800 "[v4] Clarifcation on correct way to call listen"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I know v4 is still prerelease, so if you don't want v4-related issues in the main tracker, just let me know where is the best place to put them.

It looks like some of the docs are still in the process of being updated, but I was trying

[2022-03-29 07:21] mcollina commented on #3800
Thanks for catching this! Keep reporting v4 bugs!

[2022-03-29 07:21] mcollina commented on #3800
@jsumners could you take a look?

[2022-03-29 08:28] xtx1130 commented on #3800
The same question as https://github.com/fastify/fastify/issues/3783. I have tried master branch, and it is okay for this case. I think we can publish a new alpha version to resolve this problem

[2022-03-29 08:42] #3800 closed

[2022-03-29 11:25] jsumners commented on #3800
Right. This was fixed but not published as a new alpha until today.

[2022-03-29 19:19] michael-melodyarc commented on #3800
Ah, awesome, I searched but didn't have that exact magical incantation of words, so I never found that previous issue.  On a side note before this gets closed.  Is the recommended / best practice way using the options bag and callback? Or does callback/promise not matter / doesn't have a recommended way?

[2022-03-29 21:10] climba03003 commented on #3790
AFAIK, no one is working on this now. You can send a draft Pull Request for advise.

[2022-03-30 02:13] xtx1130 commented on #3790
You can follow https://github.com/fastify/fastify/blob/main/docs/Guides/Contributing.md this contribution guide to send a pr

[2022-03-31 08:40] bacloud22 opened #3801 "Bloom filters plugin"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Hi,
Knowing that Fastify seeks better performance, I've been using basic [Bloom Filter](https://en.wikipedia.org/wiki/Bloom_filter) in my code for a while.

So this can be a nice plugin addition. I am not a Fastify exp

[2022-03-31 10:09] mcollina commented on #3801
Thanks for opening this issue! How would a generic plugin for Bloom Filters would work? What problems would it solve?

[2022-03-31 11:33] bacloud22 commented on #3801
Hello @mcollina thank you for your consideration.
Just like the example, a user could register the plugin somewhere (app level, or routed...) And specify keys ( and how to get values with a callback) to add to the bloom filter, and again, to get the filters all over the app.
This is how I think of it. But if you feel like this is not a "generic" thing, I can understand as well.

[2022-03-31 11:52] zekth opened #3802 "Fastify project example"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Write an example project to be included in the docs with explanations on the different choices. From dev environment to deployment.

### Motivation

Lot of people seem to request some guidance on how to architecture /

[2022-03-31 12:13] zekth opened #3803 "TypeScript: route Handler signature"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.4

### Plugin version

_No response_

### Node.js version

16.14.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10, WSL ubuntu

### Description

While working on route handlers with

[2022-03-31 12:15] bacloud22 commented on #3801
I thought of it again, and yes I think this is not really a generic thing, because we can think of any form of transformation of any value circulating, even mining data or any other algorithm. Up to the user to deal with his use-case.

[2022-03-31 13:06] mcollina commented on #3803
Could you or @climba03003 make the change? Should we just land these on v4 or also in v3?

[2022-03-31 13:22] bacloud22 commented on #3801
I will try thanks 🤞

[2022-03-31 13:22] zekth commented on #3803
I think we should land those on v4 and v3 personnally. I can try to write something yes.

[2022-03-31 13:25] simoneb commented on #3802
Listing a couple of resources that I'm aware of, in case we want to consider reusing or extending those instead of coming up with something new altogether:

- https://github.com/fastify/fastify-cli/ has a boilerplate to start from
- https://github.com/nearform/mrm-preset-nearform/tree/master/fastify-app - at NearForm we have built our own (very slim) boilerplate to kickstart Fastify apps, inspirin

[2022-03-31 13:36] mcollina commented on #3802
We should also document them on the website.

[2022-03-31 14:22] mcollina commented on #3803
target v4 and then we'll backport

[2022-03-31 15:19] lance opened #3804 "Default 404 handler does not catch failure on bad characters in URL path"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.20.1

### Plugin version

_No response_

### Node.js version

16.14.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3

### Description

When a fastify server receives an incoming reque

[2022-03-31 16:04] climba03003 commented on #3804
Bad Url is handled by [`frameworkErrors`](https://www.fastify.io/docs/latest/Reference/Server/#frameworkerrors)

[2022-03-31 16:10] #3804 closed

[2022-03-31 16:13] climba03003 commented on #3804
I think your issue is duplicate of https://github.com/fastify/fastify/issues/3127 which is fixed by https://github.com/fastify/fastify/pull/3128
It is shipped as `v4` as it may potential change the routing behavior `v3` and break someone else.

[2022-03-31 16:32] lance commented on #3804
My apologies! I did search for similar errors, but apparently did not see this one. Thanks for all of the engagement here.

[2022-03-31 20:12] BCsabaEngine opened #3805 "Allow find-my-way allowUnsafeRegex option within fastify option"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I would like to use allowUnsafeRegex in the internal router (drill down to findmyway). I understand the slow down effect when use it. But it is a developer choose. I think.

### Motivation

I cannot setup internal rout

[2022-04-01 11:00] AlttiRi opened #3808 "Can't correctly set `ByteString` headers with non-ASCII chars"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.4

### Plugin version

_No response_

### Node.js version

17.5.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

I can't correctly set `ByteString` (`BinaryString

[2022-04-01 11:04] AlttiRi commented on #3808
The live example of the header like that I want to do with `fastify`:
https://xenforo.com/community/attachments/_圖片_🖼_image_100-loading-perf-png.266674/?hash=b66fd2461d70a0c017941f3bcf7b5e4a

The related issues:
https://github.com/nodejs/undici/issues/1317
https://github.com/jshttp/content-disposition/issues/43

[2022-04-01 12:28] jsumners commented on #3805
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-04-01 12:33] jsumners opened #3809 "Move router options to own key"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

From #3805, we can see that people want to pass options to `find-my-way` unhindered. We already have a couple options passed along in `caseSensitive` and `ignoreTrailingSlash` (possibly others). We should deprecate these top-level serve

[2022-04-01 13:37] AlttiRi commented on #3808
Yeah, it looks that fastify writes the header string as is in [`response.writeHead`](https://nodejs.org/api/http.html#responsewriteheadstatuscode-statusmessage-headers).

The reason is `Transfer-Encoding: chunked`.

`http` adds it, `fastify` does not.

Well, that was unexpectedly for me, that it will add the less count of headers that `http` module which it uses.

Hm, however [it](https://xenforo.

[2022-04-01 14:16] mcollina commented on #3809
We'll need to keep the old options for a release cycle and deprecate them.

[2022-04-01 14:19] jsumners commented on #3809
Correct.

[2022-04-01 14:26] jsumners commented on #3809
Are you saying you think there is enough time in v3 for the deprecation notices? That's not the approach we took with the `.listen` configuration.

[2022-04-01 14:40] #3808 closed

[2022-04-01 15:31] BCsabaEngine commented on #3805
Should I work on https://github.com/fastify/fastify/tree/v3.x branch? I see your mention, but I think the bigger options refactor will be in v4.x.

[2022-04-01 15:40] BCsabaEngine commented on #3805
And don't forget Server.md + examples too :)

[2022-04-01 16:33] jsumners commented on #3805
To start with, a simple implementation of this specific feature should be added to the current `main` branch. That feature should be backported automatically to the `v3.x` branch. The deprecation issue would be separate work.

[2022-04-02 02:01] xtx1130 commented on #3809
for v3? or both v3 & v4? I think in v4 we can just leave `routingOptions ` along

[2022-04-02 06:19] xtx1130 commented on #3808
@AlttiRi Did you submit a issue to nodejs?

[2022-04-02 06:24] AlttiRi commented on #3808
I will do today.

[2022-04-02 06:47] xtx1130 commented on #3808
@AlttiRi Thanks for you report, and I hope you can link nodejs issue to this one. I'm interested in this too.

[2022-04-02 18:29] AlttiRi commented on #3808
https://github.com/nodejs/node/issues/42579

[2022-04-02 22:40] BCsabaEngine commented on #3805
https://github.com/fastify/fastify/pull/3817

[2022-04-02 22:46] BCsabaEngine commented on #3809
Simple developer do not want to know this is a router option. They want to configure the whole fastify instance. The separated routingOptions can play if want to configure it in router level: .get|post(routingOptions), but it is overkill.

Should anybody use this? (I think no)
- /ui/* : caseSensitive = false
- /api/*: caseSensitive = true

[2022-04-03 09:41] #3790 closed

[2022-04-04 03:44] soulsam480 commented on #2955
I also love fastify, can anybody tell me how it's so fast ?

[2022-04-04 05:45] LANCENET opened #3818 "Issues"
## 👮 [Responsible Disclosure](https://github.com/nodejs/security-wg/blob/master/processes/responsible_disclosure_template.md)

Do not open issues that might have security implications. It is critical that security related issues
are reported privately so we have time to address them before they become public knowledge.

Individuals who find potential vulnerabilities in a package are invited
to com

[2022-04-04 07:14] bacloud22 commented on #2955
@soulsam480  I think it is a combination of things, it is built performance "in mind". I think for the simplest API level, it avoids `JSON.stringify` which most other frameworks find themselves doing to deliver a response. It does Stringify objects somehow (I don't know how, based on keys and types ?),
Plus, logging is taking care of, plugins could be registered at app level, route level but also

[2022-04-04 07:41] #3818 closed

[2022-04-04 07:50] climba03003 commented on #3818
I think the template should be updated or removed.
https://github.com/fastify/.github/issues/16

[2022-04-05 10:07] kurtextrem commented on #630
short question: how would you generate an etag trailer for a stream using the "native" supported trailers now?
This might become more relevant in the ecosystem, since react now supports streaming.

However, I'm not sure if it even makes sense, since the stream is getting streamed to the client before the etag can be generated, so everything is already at the client when the client finds out the et

[2022-04-05 10:35] mcollina commented on #630
No this is a good analysis. Streaming with React SSR can only be cached with a TTL, no etags.

As I said elsewhere, trailers are of limited utility.

[2022-04-06 09:52] ShogunPanda commented on #3808
Please see my comment on the issue above, it explain why it happens and how to solve it.

[2022-04-06 12:03] wilkmaia commented on #3498
I'm looking into this issue. I'll update with some notes and a PR asap

[2022-04-06 14:16] n370 commented on #3742
I can help!

The type annotations fort the context parameter https://github.com/Azure/azure-functions-nodejs-worker/blob/1b517a73117a99b0d58f050dcccb9f89709adac4/types/index.d.ts#L40-L94 and the req parameter https://github.com/Azure/azure-functions-nodejs-worker/blob/1b517a73117a99b0d58f050dcccb9f89709adac4/types/index.d.ts#L151-L192 are very superficial. I'd need to do more debugging to really i

[2022-04-06 18:29] wilkmaia commented on #3498
I've submitted #402 and added extensive notes on what I've found on the PR's description. I'm out of ideas of what else we could do to improve it, specially without compromising on the spec validation.

I've proposed a mixed solution, which would give the user the ability to pick a specific mechanism to handle such edge cases. **Right now** the idea of allowing the user to submit their own array h

[2022-04-13 13:23] masthanplumb5 opened #3829 "FastifyDeprecation: You are accessing the deprecated "request.connection" property. Use "request.socket" instead."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.4

### Plugin version

_No response_

### Node.js version

16.14.2

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

Hi Team
I am getting this below error while retr

[2022-04-13 13:29] climba03003 commented on #3829
Please provide a minimal runnable repro otherwise we cannot help with this limited of information.
A minimal runnable repro means the code that I can copy and run directly.

By looking at the deprecation warning, the fastest way is check where of your code is using `.connection` and replace it with `.socket`.

[2022-04-13 13:51] masthanplumb5 commented on #3829
thank you for the information.

[2022-04-13 20:28] jcollum-nutrien opened #3834 "Allow setting of log level for metrics like "request completed""
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

https://github.com/fastify/fastify/blob/edbb82035c6e121cc835d6e654a4e88434296af0/lib/reply.js#L645

This is hardcoded at "info" level. Personally I think those kind of things belong at the trace level since I will only

[2022-04-13 21:53] mcollina commented on #3834
There is already an option to disable them all. You can do [`disableRequestLogging`](https://www.fastify.io/docs/latest/Reference/Server/#disablerequestlogging)

[2022-04-13 21:53] #3834 closed

[2022-04-14 06:13] hungtcs commented on #9
Please support WebDAV http methods. WebDAV extension http methods are very useful, sometimes I need to process WebDAV requests especially some files related applications.

[2022-04-14 07:01] mcollina commented on #9
@hungtcs would you like to work on it? There https://github.com/fastify/fastify/pull/3635 which is not complete but a good starting point for two.

[2022-04-14 07:11] hungtcs commented on #9
@mcollina  Sure, how should I start working?

[2022-04-14 09:39] marinambur commented on #303
@mcollina Hello! Can I use this code in the module ( or in the middleware) of my nextJs app? As I see now,  it should be exactly in the main file, right before declaring a bootstrap function?

[2022-04-14 10:15] mcollina commented on #303
what code? Are you using Fastify-next?

[2022-04-14 10:18] marinambur commented on #303
@mcollina this piece of code which you've mentioned in this thread
[code]
I'm using fastify with nestJs

[2022-04-14 12:27] mcollina commented on #303
I have no clue, I'm not a user of Nest.

[2022-04-14 12:51] jsumners commented on #9
See https://gist.github.com/jsumners/461ef7a64545108635cc437fde112721

[2022-04-15 12:59] wilkmaia commented on #2500
From the comments above I believe the current expectation is to simply document this specific use-case, correct? I'll start working on this issue. Please let me know if I misunderstood things, @mcollina @jsumners.

[2022-04-15 13:06] jsumners commented on #2500
Yes, documentation is the "answer" here. I think it would be best to create a "guide" for it under our guides documentation.

[2022-04-16 14:43] #3133 closed

[2022-04-16 15:06] #3329 closed

[2022-04-16 15:26] mcollina commented on #3733
@jsumners is on it, hopefully shipping this in the next two weeks!

[2022-04-16 18:57] RafaelGSS commented on #3529
I gave it a shot 5 months ago, however, I haven't found a good way to do that. @fastify/typescript @sinclairzx81 do you have any thoughts on that? Otherwise, I'll close it.

[2022-04-16 21:32] mcollina commented on #3482
I plan to release v4 in May.

[2022-04-17 06:30] sinclairzx81 commented on #3529
@RafaelGSS Hi

Unfortunately, I don't see a easy way to enable this without changing the signature of `register()` and forcing either method chaining (as below to allow the context to propagate) or providing generic hints on the `scopeX(..)` and `scopeY(..)` functions (as per reference example for this issue). Something like the following.

[code]
One thought might be to drop the `done()` function

[2022-04-17 09:15] #2823 closed

[2022-04-17 11:51] sazzer opened #3839 "Using setErrorHandler from a plugin doesn't work"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.28.0

### Plugin version

N/A

### Node.js version

17.9.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3

### Description

I'm attempting to write a plugin to be able to throw errors

[2022-04-17 11:54] sazzer commented on #3839
Note that the following things don't seem to make any difference:
* Whether the route handler is sync or async
* Whether the plugin registration function is sync or async
* Whether the error handler itself is sync or async

The only thing I've found that makes a difference is whether the call to `setErrorHandler` is directly on the server or within a call to `register()`.

[2022-04-17 12:16] mcollina commented on #3839
Read up on https://www.fastify.io/docs/latest/Reference/Encapsulation/#encapsulation.

[2022-04-17 12:16] #3839 closed

[2022-04-17 12:54] #3498 closed

[2022-04-17 13:02] RafaelGSS commented on #3529
Thank you!

[2022-04-17 13:02] #3529 closed

[2022-04-17 15:21] franciscolourenco commented on #3802
I was just browsing https://codebase.show/projects/realworld and realized there is no fastify example. Afaik it is the most popular "TodoMVC" version at the moment?

[2022-04-18 10:29] tanvirraj commented on #3802
this project [covid-green-backend-api](https://github.com/covidgreen/covid-green-backend-api)
also very good to be an example written by nearform team members

[2022-04-19 05:32] srikanthpoojarytechphysic opened #3840 "Error: Cannot add route when fastify instance is already started! while starting npm run start"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

while starting the npm server in mac os iam getting this strange below error, we have used fastly for our routes

`Error: Cannot add route when fastify instance is already started!
    at throwIfAlreadyStarted (/Users/demouser/Documents

[2022-04-19 05:34] climba03003 commented on #3840
I don't know what is `fastly`, but you can not add routes after the server start.

[2022-04-19 05:34] #3840 closed

[2022-04-19 06:55] sanzhardanybayev opened #3841 "Performance comparison: Fastify vs express"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hi everyone!

Recently I had a hard choice picking up the Node.JS framework for a small backend app that issues JWT tokens and sends fetch requests to Google Cloud Platform.

Initially I chose express.js. But later on I decided to refac

[2022-04-19 07:22] zekth commented on #3841
Without any description of the code nor your testing script we can't answer your question.

[2022-04-19 07:33] sanzhardanybayev commented on #3841
@zekth yeah, sure. I'll setup some time to provide it.

[2022-04-19 12:44] RafaelGSS commented on #3841
For reference, see https://github.com/fastify/benchmarks

[2022-04-19 16:36] PazzaVlad commented on #3841
If you use a database or even somehow small business logic, you won't notice any difference in performance between node.js frameworks. In a real-world app, framework itself will use like 0.1% of execution time.
Check out maybe you use some sort of caching in the express version etc.

[2022-04-19 22:23] #3805 closed

[2022-04-20 14:49] jsumners commented on #3733
My next step is to do a live test with `fastify-bearer-auth` -- https://github.com/fastify/deprecate-modules/commit/c9676b0413829f5c4d182e8b539d15e9cb918120

I'll probably do that tomorrow. If that is successful, we will need to coordinate a freeze time wherein I can issue all of the deprecations and generate the PRs. I am aiming for this to be early next week (last week of April 2022).

**To be c

[2022-04-21 10:38] Sarfraz-droid commented on #3725
Hi! can i work on this?

[2022-04-21 12:50] mcollina commented on #3725
go for it!

[2022-04-21 13:52] jsumners commented on #3733
The deprecation test is working with commit https://github.com/fastify/deprecate-modules/commit/73f6805c0681e849c250cde4f6e5b701d58d2086. The below test shows the result of the test.

Unfortunately, I'm blocked on testing the new scoped package due to https://twitter.com/jsumners79/status/1517138149817815040

That thread also shows that we are blocked by the configuration on all of the npm package

[2022-04-21 21:22] jsumners commented on #3733
The non-deprecation test works as desired.

## Non-deprecation Test

<details>
  <summary>package.json</summary>

[code]

</details>

<details>
  <summary>index.js</summary>

[code]
</details>

<details>
  <summary>Output</summary>

[code]
</details>

[2022-04-22 03:40] climba03003 commented on #3733
Good to know that everything is working. I have left a comment in https://github.com/fastify/deprecate-modules/issues/1

[2022-04-22 08:57] sher opened #3845 "Can not register a wildcard (catch-all) route handler"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.28.0

### Plugin version

_No response_

### Node.js version

16.13.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.2.1

### Description

[code]
When registering a wildcard (catch-all)

[2022-04-22 09:06] mcollina commented on #3845
I'm pretty confident this is heavily tested in our suite, so maybe are you specifying some config or other routes? Anyway, could you include an example we can run?

[2022-04-22 09:24] sher commented on #3845
[code]

@mcollina I just realised, after submitting an issue, that `fastify-static` declaration `prefix` was causing the assertion error.

[2022-04-22 10:02] climba03003 commented on #3845
Yes, the problem is [`fastify-static`](https://github.com/fastify/fastify-static#wildcard) register `${prefix}*` by default. Which also means that the below code is registering `/*`.
[code]

[2022-04-22 10:02] #3845 closed

[2022-04-22 13:49] #2500 closed

[2022-04-22 19:09] francisdb commented on #2319
@fredmaggiowski have you used a workaround to still somewhere report these `onResponse` errors when `disableRequestLogging` is enabled?

[2022-04-23 07:28] #3331 closed

[2022-04-25 12:11] jsumners commented on #3733
Before I can continue, we need to solve access to several modules (https://github.com/fastify/deprecate-modules/blob/5190b2a8df25dff4e7fd3e69bef555b708a9bcc7/build-data.mjs#L19-L35):

[code]

Some of those should not be included in the process, but many should be. Basically, the following modules need to be added to the npm org or at least @mcollina and I need to sort out what the permissions shou

[2022-04-25 13:06] RafaelGSS commented on #3733
I'll move the `fastify-diagnostics-channel` to Fastify npm org

[2022-04-25 20:01] mcollina commented on #3733
I'll do my best to move them.

[2022-04-25 21:32] mcollina commented on #3733
I've fixed all the permissions for the modules I have rights to.

Unfortunately we have https://github.com/fastify/csrf that is published to `@fastify/csrf`, so we need a different target for `fastify-csrf` (or possibly manually handle it).

[2022-04-25 22:05] budarin opened #3851 "Fastify uses two different ajv versions in dependencies"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.28.0

### Plugin version

_No response_

### Node.js version

18.0.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10.‎06.‎2020

### Description

Fastify contains two different versions

[2022-04-25 22:12] #3851 closed

[2022-04-26 06:48] budarin opened #3852 "forceCloseConnections is not force close connections"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.28.0

### Plugin version

_No response_

### Node.js version

18.0.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10.‎06.‎2020

### Description

`forceCloseConnections` doesn't force c

[2022-04-26 12:10] jsumners commented on #3852
I am confused. You seem to be saying that `forceCloseConnections: true` is not forcibly closing connections, but then you say:

So which is it? Are connections being terminated immediately or not?

The docs are clear that connections should be terminated immediately, not after any sort of timeout:

https://www.fastify.io/docs/latest/Reference/Server/#forcecloseconnections

[2022-04-26 12:49] jsumners commented on #3733
The only modules left are those started by @kibertoad and the `fastify-api` module by @galvez. If they are unable to assist by the morning (EDT) of 2022-04-27 then I'll proceed and those modules can be handled later.

[2022-04-26 19:33] budarin commented on #3852
Not

I suggest not closing the connection immediately, but giving the connections time to complete the execution of the request and then forcibly terminate those connections that did not have time to complete after this time

[2022-04-26 21:25] jsumners commented on #3852
Can you show how the test for the feature is lacking? https://github.com/fastify/fastify/blob/da8fafdc2132cde357230fa5b43344058fdd3586/test/close.test.js#L295-L331

[2022-04-27 14:33] Fdawgs commented on #3733
I'll spin up a script to open PRs to re-point things like readme npm badges once this process is complete.

[2022-04-27 15:03] jsumners commented on #3733
Please allow me to write up a summary after the fact. It will be posted here when I have reached completion.

[2022-04-27 16:15] jsumners commented on #3733
For reference, this is the build log.

<details>
  <summary>build.log.json</summary>

[code]
</details>

[2022-04-27 16:32] climba03003 commented on #3733
Follow Up PR
[`fastify-http-proxy`](https://github.com/fastify/fastify-http-proxy/pull/241) - fix the typescript error
[`fastify-passport`](https://github.com/fastify/fastify-passport/pull/534) - update some of the packages and docs

[2022-04-27 17:30] budarin commented on #3852
test passes but does not work in the browser

[2022-04-27 17:48] jsumners commented on #3852
We need a failing test that is automated.

[2022-04-27 17:54] budarin commented on #3852
Testing the `undici` client does not give full confidence in the correct operation of the code in the browser.

Perhaps it's worth moving testing to `Playwright` - this will give real confidence in the work of the code in browsers

[2022-04-27 17:57] yaneony commented on #3733
2 questions

1. When will it be available on npmjs.
2. Will we need to reinstall modules or it will go with npm upgrade?

[2022-04-27 17:59] jsumners commented on #3733
Now. The names a different.

[2022-04-27 18:01] jsumners commented on #3852
Undici is a spec compliant http client. Its whole purpose is to implement keep alive connections.

[2022-04-27 18:02] budarin commented on #3852
I didn't find in the code where open connections would be added to the fastify[kKeepAliveConnections] collection

[2022-04-27 18:21] budarin commented on #3852
I found that if I set the `requestTimeout ` - `factory.close()` does not close all connections, but if I do not set the `requestTimeout ` - `fastify.close()` works as expected

[2022-04-27 19:06] budarin commented on #3852
A strange situation generally turns out:
if you build an application in production mode and run it with process.env.NODE_ENV="production", then pressing Ctrl+C closes the application normally, but if you run the built application without process.env.NODE_ENV="production" - we see that the application processed the SIGINT event and caused fastify.close() but the application does not close until the

[2022-04-27 21:41] jsumners commented on #3852
No Fastify code _ever_ looks at the `NODE_ENV` environment variable. Relying upon `NODE_ENV` is an antipattern for exactly the reason you outline. I highly recommend setting `NODE_ENV=production` in _all_ environments. If your application _really_ needs to know what environment it is running under, use a different environment variable for detection, e.g. `APP_ENV`. There are far too many modules i

[2022-04-28 00:29] #2659 closed

[2022-04-28 00:29] #2815 closed

[2022-04-28 00:29] #3441 closed

[2022-04-28 00:29] #3457 closed

[2022-04-28 00:29] #3645 closed

[2022-04-28 00:29] #3633 closed

[2022-04-28 00:29] #3384 closed

[2022-04-28 00:29] #3718 closed

[2022-04-28 00:29] #3713 closed

[2022-04-28 00:29] #3797 closed

[2022-04-28 00:29] #3763 closed

[2022-04-28 00:29] #3803 closed

[2022-04-28 01:27] jessekrubin commented on #3733
will `fastify` stay `fastify` or become something like `@fastify/fastify` / `@fastify/core`?

[2022-04-28 01:49] jsumners commented on #3733
Please read above.

[2022-04-28 02:12] jessekrubin commented on #3733
So no.

[2022-04-28 07:11] mil7 opened #3854 "Empty fastify plugin versions released?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hi there,
yesterday evening Renovate proposed few minor version updates on some fastify plugins. From Github's view these versions do not exist. For example version [3.13.0 of fastify-autoload](https://github.com/fastify/fastify-autoloa

[2022-04-28 07:15] climba03003 commented on #3854
I think `renovate` is trying to point to `v3.13.0`, but the deprecated version is not inside the git history.
So, there is no tag for that version.

I recommend to change the package name.

[2022-04-28 07:17] Fdawgs commented on #3733
I think there may need to be a note stating that the plugin names have not changed, i.e. https://github.com/fastify/fastify-accepts/blob/master/index.js#L61

[2022-04-28 07:21] yaneony commented on #3733
Will they be changed? Because README file still has old names, see: https://github.com/fastify/fastify-accepts/blob/master/README.md#install

[2022-04-28 07:24] Fdawgs commented on #3733
See the Work To Be Done section in https://github.com/fastify/fastify/issues/3733#issuecomment-1111188683

[2022-04-28 08:07] fredmaggiowski commented on #2319
Hi @francisdb we were fine with it being disabled so we didn't take any action

[2022-04-28 12:23] jsumners commented on #3733
I think they should be updated to reference `pkg.name` from `package.json`. This work can target the next major version that will coincide with `fastify@4`.

[2022-04-28 12:31] jsumners opened #3856 "Core Modules Renamed"
We have renamed all of the core Fastify plugins that were prefixed with `fastify-`. We renamed them to be listed under the `@fastify` scope. For example, `fastify-cookie` is now `@fastify/cookie`. When you try to use latest version of the old package, you will get a runtime deprecation notice (as shown below). This notice informs you to use the new package, but will otherwise work exactly the same

[2022-04-28 12:53] jsumners commented on #3854
This is an artifact of the module renaming. It is detailed in the issue you linked. It is also outlined in https://github.com/fastify/fastify-autoload/pull/233

[2022-04-28 12:53] #3854 closed

[2022-04-29 11:43] LironEr opened #3861 "unexpected behavior when using anyOf/oneOf in schema"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

_No response_

### Node.js version

16.13.2

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6.4

### Description

Hello (:

I have a route with query params, th

[2022-04-29 13:12] sanzhardanybayev commented on #3841
@PazzaVlad I see. Yeah, there's just and HTTP call.  The logic is identical for both **express.js** and **fastify**.   I'm also inclined towards not having enough business logic to make full comparison.  But still, the performance difference is pretty significant even for such a small business logic.

I'll try to setup some time and provide example code.

[2022-04-29 15:09] Fdawgs commented on #3733
I've tackled 1, 2, and the `package.json` part of 3.

[2022-04-29 20:44] mcollina commented on #3861
What version of Ajv have you tested this with? This looks like a bug somewhere in our code.

Could you test this against v4.0.0-rc.1?

Would you like to work on a fix?

[2022-04-29 21:03] LironEr commented on #3861
it works on `v4.0.0-rc.1` 👍

[2022-04-29 21:05] jsumners commented on #3733
Good work @Fdawgs. As for the `package.json` updates I was referring to: I meant the repository and homepage URLs. Those will need to change _if_ we decide to rename the repositories.

[2022-04-29 21:31] omothm opened #3863 "Error handler settings fails when preceded by an awaited register"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

_No response_

### Node.js version

16.15.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3.1

### Description

When I set an error handler on a Fastify insta

[2022-04-30 07:35] mcollina commented on #3861
I think that we won't fix it in v3 and focus on shipping v4.

[2022-04-30 07:35] #3861 closed

[2022-04-30 08:20] mcollina commented on #3863
This is... expected given some of the intricacies in the code. However I _think_ this is solved in v4.0.0-rc.1. Can you check?

[2022-04-30 12:30] Fdawgs commented on #3733
Ah, okay, I thought you meant dependencies, I retract my confirmation of completing step 3. 😄

[2022-04-30 13:20] ekoeryanto opened #3865 "Plugin Registration Complained to Version"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.x

### Plugin version

_No response_

### Node.js version

16.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3.1

### Description

[code]

### Steps to Reproduce
[code]
### Expected B

[2022-04-30 15:16] mccare opened #3866 "Schema validation is skipped for POST request if no body is present"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

_No response_

### Node.js version

16.15.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3.1

### Description

My schema validation is requiring a body with

[2022-04-30 15:25] climba03003 commented on #3866
I see the problem now .

You should either use a `shorten` form of schema or `full` schema. Not a `partial` schema.

[code]

[2022-04-30 15:28] climba03003 commented on #3865
It is expected behavior.

Check [`semver`](https://github.com/npm/node-semver#prerelease-tags)

[2022-04-30 15:28] #3865 closed

[2022-04-30 16:09] ekoeryanto commented on #3865
Ah, i meant when we are in RC, mmm... it is better to accept RC version when plugin is defined with >=3. and revert back when it stable so we can test it with the plugins

[2022-04-30 16:09] mccare commented on #3866
Perfect, thanks for the clarification! Works with the full schema, shorten schema does not make the property required.

[2022-04-30 16:09] #3866 closed

[2022-04-30 17:28] climba03003 commented on #3865
`semver` comparison is complicated and we rely on `semver` libaray. From what you means, we need either clone `semver` and do the mutation or just completely disable the version check.

If you need to test with the `pre-release`, you may alter the `meta` fields.
[code]

[2022-04-30 19:30] ivan-tymoshenko opened #3867 "Add option to encode URL before inserting"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

A new boolean option for the `fastify.route` method that allows encoding URL with encodeURI function before inserting. Default: false.

### Motivation

The find-my-way library has a path decoding error. In short, find-

[2022-04-30 21:04] jsumners commented on #3733
@Fdawgs have you published new versions of the modules where you updated dependencies?

[2022-04-30 21:09] Fdawgs commented on #3733
Not something I have permissions for afaik, I can generate provide a list for them all if someone else would be so kind as to do it?

[2022-04-30 21:53] jsumners commented on #3733
Provide the list. Plugins team should be able to publish plugins if I'm not mistaken. We can sort that out.

[2022-04-30 23:58] omothm commented on #3863
I've checked and, unfortunately, the behavior is the same in v4.0.0-rc.1.

This bug has cost me 2 days to figure out. I know it's on me, not the framework. But I thought pointing out this issue might help other developers.

I can't think of robust workarounds to make this unexpected behavior clear to the user. Perhaps the framework typing should remove the `PromiseLike` return value of `instance.r

[2022-05-01 04:32] climba03003 commented on #3867
I would leave it as a global option only.
Although it is more flexible for the developer to customize the application behavior.
It allows mis-use of option or lead to any consistence behavior if they can opt-in / opt-out for each route.

[2022-05-01 05:00] climba03003 commented on #3863
The `await` for `.register` is very useful. It can reduce the code like.
[code]

The problem of your issue is that, when you `await` the `plugin`. It will finalize the `encapsulation` process, so all the mutation on the parent instance will not be inherited.

[2022-05-01 08:26] Fdawgs commented on #3733
Dev dependency updates:
- [fastify-autoload](https://github.com/fastify/fastify-autoload)
- [fastify-hotwire](https://github.com/fastify/fastify-hotwire)
- [fastify-jwt](https://github.com/fastify/fastify-jwt)
- [fastify-reply-from](https://github.com/fastify/fastify-reply-from)
- [fastify-static](https://github.com/fastify/fastify-static)
- [fastify-bearer-auth](https://github.com/fastify/fastify

[2022-05-01 10:33] NOT-HAL9000 commented on #3865
The release candidate should be included imo. Why not just enable the prerelease option?

[code]
https://runkit.com/embed/a4kbuscwfrgy

I just changed this,

https://github.com/fastify/fastify/blob/62a8fc9fa34711d78c7aaa53c7128e880b7016f8/lib/pluginUtils.js#L100-L109

to this. It works as expected.

[code]
Is this something that can be reopened and changed asap? I would like to continue testing v4

[2022-05-01 11:53] jsumners commented on #3865
We will be starting the RC phase soon. At that point, we will this out.

[2022-05-01 12:46] NOT-HAL9000 commented on #3865
Great news. Do you have an ETA for the update to RC?

[2022-05-01 13:36] climba03003 commented on #3865
Good, I missed this flag from reading the document.

[2022-05-01 14:27] RafaelGSS commented on #3733
Just checked all the plugins in our ecossystem and those ones is missing updates:

- [ ] [aws-lambda-fastify](https://github.com/fastify/aws-lambda-fastify)
  - Rename package
- [ ] [fastify-auth](https://github.com/fastify/fastify-auth)
  - Update dependencies
- [ ] [fastify-awilix](https://github.com/fastify/fastify-awilix)
  - Rename package
- [ ] [fastify-csrf](https://github.com/fastify/fasti

[2022-05-01 17:39] greebowarrior opened #3869 "Docs contain app.use example"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue / Observation

If I’m understanding it correctly, `app.use()` is being removed in v4.
If so, the docs on main branch still contain an example with `app.use()` on the Middleware page. Presumably that page may need rewriting as well?

[2022-05-01 18:05] climba03003 commented on #3869
The document is correct. The example is the use-case when you install either `@fastify/express` or `middie`.

[2022-05-01 18:12] jsumners commented on #3733
@RafaelGSS those will need to be handled manually by someone with time. I am out of it.

[2022-05-01 19:24] jsumners commented on #3733
Here's another that needs attention: https://github.com/fastify/any-schema-you-like

[2022-05-01 22:03] RafaelGSS commented on #3733
Fair enough. I have added to this issue just to keep it tracking, I'll probably work on some of them.

[2022-05-01 22:23] budarin opened #3870 "Fastify close method should postpone closing keep-alive connections"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

`Fastify` closes `keep-alive` connections forcibly immediately after calling `server.close`, although at this time these connections may not have time to complete their requests yet.
It is necessary to forcibly close i

[2022-05-01 23:53] greebowarrior commented on #3869
Ahhh, okay, so I wasn't understanding it correctly 😂

[2022-05-01 23:53] #3869 closed

[2022-05-02 01:17] skimhugo opened #3871 "[first-class-vite support]"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Fastify is great, but the dev tool chains is not that good.
I found https://github.com/axe-me/vite-plugin-node
and I use it for my project, it is so great. Fastify can easily use it realize modern JS toolchain.

- dev

[2022-05-02 03:14] zekth commented on #3871
Your issue is unclear. Seems like the problem is just due to imports inside `fastify-autoload` rather than `fastify` itself.

Please make a more descriptive issue.

[2022-05-02 05:22] jaschaio commented on #2901
I actually solved this by changing the order of the schema definitions, see https://github.com/fastify/fastify/issues/1043

[2022-05-02 06:21] climba03003 commented on #3870
I would wait until https://github.com/nodejs/node/pull/42812 lands.
We should not add more monkey patching when the core already implementing the feature we needs.

[2022-05-02 07:42] NOT-HAL9000 opened #3872 "Errors within genReqId crash the entire server on request"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

_No response_

### Node.js version

16.15

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

-

### Description

I'm not sure if this is the expected behaviour, but i

[2022-05-02 07:45] Fdawgs commented on #3871
Like [fastify-vite](https://github.com/fastify/fastify-vite)?

[2022-05-02 08:29] budarin commented on #3870
ok, will wait for it in node

[2022-05-02 08:29] #3870 closed

[2022-05-02 10:31] climba03003 commented on #3482
Not stale, it is in progress.

[2022-05-02 10:45] Fdawgs commented on #3482
Stalebot getting inpatient 😆

[2022-05-02 11:46] skimhugo commented on #3871
@Fdawgs I didn‘t find this project, I will do some work on it. thanks.  you guys are amazing.

[2022-05-02 11:46] #3871 closed

[2022-05-02 12:40] mcollina commented on #3872
It seems about right. This method should not error, we should update the docs.

[2022-05-03 07:06] budarin opened #3874 "Inconsistent behavior of the same hook when it is added using `addHoook` and when it is described in the route"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

_No response_

### Node.js version

18.0.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

Monterey 12.3.1 (21E258)

### Description

[Here](https://www.fastify.io

[2022-05-03 07:31] climba03003 commented on #3874
How can we improve the document? Change the syntax to `onRequest(request, reply[, done])`?

[2022-05-03 09:01] budarin commented on #3874
`onRequest` in route options  is exclusively synchronous - says this, but for for compatibility it should have two versions of the interface: synchronous and asynchronous.

By the way, if I describe the handler as synchronous, typescript swears that it can't use the handler:

Somwhere in a plugin
[code]

Somwhere in route description
[code]

[2022-05-03 09:09] climba03003 commented on #3874
I think it should be `TypeScript` problem only.
Can you try it in `JavaScript`?

[2022-05-03 09:11] budarin commented on #3874
I can and even am sure that everything will work, but unfortunately our project is written entirely in typescript :(

[2022-05-03 09:22] budarin commented on #3841
with perhaps even equal speed of both frameworks, fastify benefits from a more correct code architecture

piling up middleware turns the Express code into spaghetti and it becomes unpredictable

[2022-05-03 12:33] omothm commented on #3863
@climba03003 Thank you for your elaboration. How can we make it clear to the developer that awaiting a plugin finalizes encapsulation (and the consequences thereof)?

Perhaps adding a sentence or two [here](https://github.com/fastify/fastify/blob/main/docs/Reference/Plugins.md#asyncawait) could prove useful. Do you have any recommended wording for the behavior that could be added there?

[2022-05-03 22:40] budarin commented on #3874
PS: 'onRequest' in route config is exceptionally synchronous (

[2022-05-04 05:17] climba03003 commented on #3874
Not sure what it means.

[2022-05-04 06:46] mcollina commented on #3874
I don't think it's even a doc issue. `onRequest` can be `async`, there are no problems with it.

[2022-05-04 06:47] mcollina commented on #3874
Can you provide steps to reproduce? We often need a reproducible example, e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-05-04 08:38] Fdawgs commented on #3027
Closed by #3606

[2022-05-04 08:45] #3027 closed

[2022-05-04 16:28] #3403 closed

[2022-05-04 20:34] budarin commented on #3874
Try to [demo](https://github.com/budarin/fastify-problem)

[2022-05-04 21:44] climba03003 commented on #3874
`plugin` registration is `async`. At the stage of your route registration, `.checkSid` is `undefined`.

[2022-05-05 01:28] budarin commented on #3874
Have fixed plugin registration to callback variant, but the plugin still async - it doesn't work!

[2022-05-05 01:45] jessekrubin commented on #3733
Will the plugin names as they are given to `fastify-plugin` also change?

Here is the newly renamed `@fastify/static` which gives fastify-plugin the name `fastify-static`: https://github.com/fastify/fastify-static/blob/dee5d8014c0831dc4721f3b09062a75d7348eead/index.js#L511

Should all of those names be changed? or no? (no where on this issue thread to I see a mention of this...)

[2022-05-05 01:47] climba03003 commented on #3874
You cannot control how plugin is registration in `sync` or `async`.
`plugin` registration can only be `async`, it is by design.

[2022-05-05 01:54] RafaelGSS commented on #3733
See https://github.com/fastify/fastify/issues/3856 @jessekrubin

[2022-05-05 01:59] jessekrubin commented on #3733
@RafaelGSS the issue/thread you pointed at does not (at least to me) address what I am talking about. When you make a fastify plugin you give a plugin name (which probably know); will the names that are given when calling fp/FastifyPlugin be changed? Am I missing something?

[2022-05-05 02:02] climba03003 commented on #3733
I suppose it should change in next major, following with `fastify@4` release.

[2022-05-05 02:02] RafaelGSS commented on #3733
oh, yeah. I assume it should be changed as well.

[2022-05-05 02:29] jsumners commented on #3733
Please read the comments above.

[2022-05-05 02:35] budarin commented on #3874
I mean not registration order but the plugin function
[code]
ws
[code]

[2022-05-05 02:38] climba03003 commented on #3874
In your updated demo, the `.checkSid` is still `undefined` when it pass to the `route`.
That's why I am explaining why it happen.

[2022-05-05 03:01] budarin commented on #3874
Thank you, I realized that at the time of registration of the rout, the `checkSid` of the hedgehog was not declared in the request

[2022-05-05 03:13] budarin commented on #3874
there were only problems with typing
if you add an asynchronous function

[code]
I get an error even though the code works correctly
![image](https://user-images.githubusercontent.com/8055157/166858651-34e059b0-fb38-47b0-ae2d-7cedd3f2f8fa.png)

[2022-05-05 11:04] jsumners commented on #3482
These will be new major versions. Do not forget to update the name in the module metadata.

[2022-05-05 13:38] mcollina opened #3882 "Improve semver check for plugins"
Replace the semver check in https://github.com/fastify/fastify/blob/de5c95ee1945ec780a672d580b9e775727b27cc1/lib/pluginUtils.js#L106 with:

[code]

https://github.com/npm/node-semver/tree/c56a701f45653940ee8536eafe43b3e46c11d6cc#functions

_Originally posted by @jsumners in https://github.com/fastify/fastify/pull/3879#discussion_r865520807_

[2022-05-05 17:47] CynoidIT commented on #3882
Would love to help out. What do I need to do to start contributing?

[2022-05-05 18:36] CynoidIT commented on #3882
Was looking at the code and am not sure why "&& !semver" was changed to "&& semver" in the suggested replacement. Is that intentional or typo?

[2022-05-05 23:20] mcollina commented on #3882
If all test pass it's ok!

[2022-05-05 23:35] jsumners commented on #3882
The conditional was made explicit instead of a coercive check.

[2022-05-06 09:20] Fdawgs opened #3883 "Replace Snyk webhook with GitHub's own dependency review action"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

When opening a PR in Fastify repos a Snyk webhook is triggered, which checks if the PR has added any vulnerable dependencies:

![image](https://user-images.githubusercontent.com/43814140/167102430-dc1f936a-0702-4210-9dd8-924b46f4868f.pn

[2022-05-06 09:35] climba03003 commented on #3883
I agree to remove `snyk`.
It cause problem on `First-time Contributor` and signal a false positive CI success to us.

[2022-05-06 09:53] mcollina commented on #3883
Go for it!

[2022-05-06 09:53] xtx1130 commented on #3883
+1 for this suggestion.
And we can change fastify docs introductions from snyk to Github dependency-review-action:
https://github.com/fastify/fastify/blob/main/docs/Guides/Write-Plugin.md?plain=1#L83-L85

And remove this badge:
https://github.com/fastify/fastify/blob/main/README.md?plain=1#L11

[2022-05-06 13:18] Fdawgs commented on #3482
https://github.com/fastify/fastify-bankai is archived, so can be removed from the list.

[2022-05-06 16:20] CynoidIT commented on #3882
I see. Thanks. PR is up.

[2022-05-07 02:22] ItzDerock opened #3888 "Fastify (more specifically avvio) crashes if chartjs-node-canvas is imported."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

_No response_

### Node.js version

16.11.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### Description

This issue originates in the avvio module, but I

[2022-05-07 05:10] climba03003 commented on #3888
The problem related to `chartjs-node-canvas` itself.
It is mutating the `require.cache` that shouldn't be expected.

https://github.com/SeanSobey/ChartjsNodeCanvas/blob/59174b04f1c89735e303c3ed6829a1799b10780c/src/freshRequire.ts#L3-L11
https://github.com/SeanSobey/ChartjsNodeCanvas/blob/a0ae665e4c98cc53bbd8b3f20ca33d635289ef3e/src/index.ts#L235-L240

[2022-05-07 07:39] BlackGlory commented on #3733
Question: Why not use [npm deprecated](https://docs.npmjs.com/cli/v8/commands/npm-deprecate)?
Also, as far as I can tell, TypeScript types for deprecated packages are broken.

[2022-05-07 08:48] #3888 closed

[2022-05-07 12:01] jsumners commented on #3733
npm depreciation notices are effectively useless. We may eventually add said notice to all of the packages as a polishing off detail, but it isn't a priority. Those notices are routinely ignored. The way depreciations were done here means they are much more difficult to ignore.

In regard to TS stuff. If you read this full thread, you will see that I asked the community at large to help me determi

[2022-05-07 13:58] jsumners commented on #3733
I have updated the original post with @RafaelGSS's list of remaining work.

[2022-05-08 06:38] #3883 closed

[2022-05-08 18:11] Fdawgs commented on #3882
Closed by #3886

[2022-05-08 18:20] #3882 closed

[2022-05-09 21:09] cmawhorter opened #3893 "http2 request to a http1 fastify server hits "default handler for 404 did not catch this, this is likely a fastify bug""
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

_No response_

### Node.js version

14.19.2

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3

### Description

This issue has dogged me for as long as I've use

[2022-05-10 06:41] mcollina commented on #3893
Good spot! This was totally an unplanned use case.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-10 06:50] mcollina commented on #3874
The fundamental problem is that folks use both async and done at the same time: **this should not be done**. The goal of those split definitions is to avoid that.

[2022-05-10 09:12] aboqasem commented on #3874
That means that the current implementation & types are not correct, because it is passed even if the function is `async`. And types do not correctly behave the way you just explained they should.

[2022-05-10 09:30] mcollina commented on #3874
It's not possible to know before calling the function if it will return a promise or not, so `done` is passed in both cases. Either return a promise or call `done()`. The current setup has removed most of the bug reports caused by misuses of callbacks, so it's working as intended even if it's not strictly correct.

[2022-05-10 23:04] ZiiMakc opened #3894 "Incorrect types for response methods (code, headers) - await is required"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

3.0.1

### Node.js version

16.15.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### Description

I get eslint error  [no-floating-promises](https://githu

[2022-05-11 02:10] climba03003 commented on #3894
`.code` and `.headers` itself return `reply` which can be `await`.
There is nothing wrong with the `fastify` type or `eslint` and It is how `eslint` interpret `.then` method as `Promise`.

[2022-05-11 02:10] #3894 closed

[2022-05-11 09:23] orov-io opened #3895 "Child log level in bindings is deprecated"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

_No response_

### Node.js version

16.14.2

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

22.04

### Description

Hi all!

I'm trying to change the logger level

[2022-05-11 09:44] climba03003 commented on #3895
Would you like to send a PR to update the corresponding type?

There is type error in this file https://github.com/fastify/fastify/blob/v3.x/types/logger.d.ts

[2022-05-11 10:05] climba03003 commented on #3895
Then you should use
[code]
in your file.

[2022-05-11 10:29] orov-io commented on #3895
ok, i have the code working on my project, I'm trying to figure out about how to send the PR

[2022-05-11 10:30] orov-io commented on #3895
I think is forking the project, checking out the v3.x branch, commit, push and finally send the PR, it's correct?

[2022-05-11 10:35] climba03003 commented on #3895
Yes

[2022-05-11 10:47] orov-io commented on #3895
I'm having some problems commiting:

![image](https://user-images.githubusercontent.com/48791471/167830824-840beed0-643a-4b68-9b8d-15362b7560cd.png)

Any help? I just added this to types file:

[code]

[2022-05-11 10:52] orov-io commented on #3895
Also I think that the coverage issue it's not my fault:
![image](https://user-images.githubusercontent.com/48791471/167833029-b75c8501-a4bb-4a10-a429-358f185f7ca5.png)

[2022-05-11 10:53] climba03003 commented on #3895
If the test is unrelated to `TypeScript`, you can safely ignore it.
It sometimes fail per environment, for example `WSL` always fail for some test.
`git push --no-verify` can skip the test hook running.

[2022-05-11 11:15] orov-io commented on #3895
I just made the PR: https://github.com/fastify/fastify/pull/3896

I think its ok, but tell me if not.

[2022-05-11 12:11] ZiiMakc commented on #3894
@climba03003 but then I'm forced to make function async and add everywhere await, even if not needed, or allow `void` to silence eslint. Maybe something like `PromiseLike` can work as a solution?

[2022-05-11 12:20] climba03003 commented on #3894
I don't understand what you means by `foreced to make function async`.
`PromiseLike` is not a solution, it is `PromiseLike` currently.

[2022-05-11 12:44] ZiiMakc commented on #3894
If I try to use it like this there will be eslint error `no-floating-promises`:
[code]

So I'm forced to do it like this:
[code]

Is the second example correct?

[2022-05-11 12:53] climba03003 commented on #3894
No, you should not await on `code` or `headers` unless you know what you are doing.

As I said before, the type is correct. This is a false positive error from eslint. And this is a known issue that currently do not have fix for it.

You need `void Promise` to suppress the false positive error

[2022-05-11 16:07] budarin opened #3897 "Make available the data validation method with the specified schema and the data serialization method with the specified schema"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I suggest making 2 methods available (it doesn't matter for which object  fastifyInstance or FastifyRequest)

- `vadidate(customSchema, data)`
- `serialize(customSchema, data))`

or simply expose/reexport  `Ajv` and `f

[2022-05-11 17:50] ZiiMakc commented on #3894
Reported issue at [eslint](https://github.com/typescript-eslint/typescript-eslint/issues/4961). I hope there can be another solution, because if some method on `PromiseLike` object will need actually need await you will never know using `void` workaround.

[2022-05-12 04:33] RafaelGSS commented on #3733
@kibertoad can you move `fastify-schedule` to the fastify npm org? So we can bump a deprecated version

[2022-05-12 06:18] AmitGazal opened #3900 "@fastify/helmet-9.0.0 requires fastify-4.0.0, but the latest npm published version is 3.29.0"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

3.0.1

### Node.js version

16.13.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.3.1

### Description

@fastify/helmet-9.0.0 requires fastify-4.0.0, but the

[2022-05-12 06:24] climba03003 commented on #3900
It is correct, the latest plugin is start targeting the `fastify@4`.
If you face this case in new installation, please install the previous version of that plugin.

[2022-05-12 06:24] #3900 closed

[2022-05-12 06:59] climba03003 commented on #3897
@zekth I think it is what you need in `fastify-websocket`.
I agree to expose the compiler, it is useful for anyone who want to compile there custom validating function.

[2022-05-12 07:25] mcollina commented on #3897
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-12 09:25] zekth commented on #3897
Indeed this is what we need 👍

[2022-05-14 20:53] GiovanniCardamone opened #3902 "Add support for different content-type response"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

it was already proposed in fastify/fastify-swagger#117

Add support for different content-type responses dynamically

### Motivation

With OAS3 is possible to answer with multiple content types with the same status cod

[2022-05-14 22:53] mcollina commented on #3482
Hey folks, I've covered most of the plugins in the list. I plan to have Fastify v4 released between now and OpenJS World in Austin.

[2022-05-14 22:53] mcollina commented on #3482
Feel free to take a stab at the remaining ones.

[2022-05-15 07:16] mcollina commented on #3902
I think this could be implemented in Fastify using constraints when defining routes, however I don't think fastify-swagger understand any of that.

Would you like to work in implementing this feature?

[2022-05-15 07:28] GiovanniCardamone commented on #3902
Yes, sure, I'm already looking at the code.

for the fastify-swagger question, the plugin also must implement this new feature to understand what is going on. And in case of combination of "swagger2" + "array of response", should throw an error pointing that is non possible in swagger2

[2022-05-15 08:43] #3867 closed

[2022-05-15 11:55] jsumners commented on #3482
Amazing work. I know how tedious that must've been.

[2022-05-15 12:01] jsumners commented on #3867
@ivan-tymoshenko why did you close the issue?

[2022-05-15 12:11] ivan-tymoshenko commented on #3867
@jsumners The https://github.com/delvedor/find-my-way/pull/253 was closed in favor of https://github.com/delvedor/find-my-way/pull/282, which fix https://github.com/delvedor/find-my-way/issues/234 without the need to add the `encode` option.

[2022-05-15 15:19] aradwann commented on #3893
**Node.js version**
16.14.0

**Operating system**
Linux (Fedora)

**Operating system version (i.e. 20.04, 11.3, 10)**
36

**steps to reproduce the bug above**
I have done the same request against a pure HTTP 1.1 node server as shown below

[code]

with:
[code]
and the response is
[code]
so I think it's not about fastify, may be NodeJS or the spec itself !

[2022-05-15 16:49] mcollina commented on #3893
The _unplanned_ use case is to provide some info on how to use http1, https and http2 with Node.js.

You can never send a http/2 request to a http/1.1 server (no https).

[2022-05-15 17:06] cmawhorter commented on #3893
just to reiterate -- this is not my use case and is not something i want. this is bots/scanners hitting my servers and flooding my logs because [fastify emits two warning-level log entries](https://github.com/fastify/fastify/blob/39dbc80c58ac81d4d7a65a680a74514870e57905/lib/fourOhFour.js#L177-L178) every time it happens.

i do not want http2 and i have http2 turned off.  fastify is still respondin

[2022-05-15 17:21] mcollina commented on #3893
The fix is to change fastify so it does not log in this case.

[2022-05-15 17:34] cmawhorter commented on #3893
i opened an issue at node but i'd be willing to bet they're going to document and push to userland. FWIW, node http `GET / NOTHTTP/1.1` responds with 400 bad request.

[2022-05-15 19:16] mcollina commented on #3893
which is correct behavior from my point of view.

[2022-05-16 05:39] climba03003 commented on #3725
Closed in favor of #3850

[2022-05-16 05:39] #3725 closed

[2022-05-16 09:31] budarin opened #3911 "What is the defaultRoute?"
## 💬  Question here

I met the [getDefaultRoute](https://www.fastify.io/docs/latest/Reference/Server/#getdefaultroute) and [setDefaultRoute](https://www.fastify.io/docs/latest/Reference/Server/#setdefaultroute) methods in the documentation, but I didn't find a description of what it is anywhere.

Could you explain what it is?

[2022-05-16 14:28] Retro64 commented on #3482
Really looking forward for the 4.x release. Great work! @mcollina  One question: Is `fastify-plugin` intentionally missing in the list "modules to update"?

[2022-05-16 17:07] mcollina commented on #3482
It does not need an update.

[2022-05-16 20:03] kibertoad commented on #3733
@RafaelGSS Will do! Btw, I tried to rename `fastify-awilix` to `@fastify/awilix`, but repo is refusing my push commits for some reason. Could you please check if I am still in the correct team?

[2022-05-16 20:07] kibertoad commented on #3733
@RafaelGSS I don't see an option on npmjs to transfer to org, and googling up npm command for that is not helping either. How can I transfer to org?

[2022-05-16 20:44] jsumners commented on #3733
You are in the `plugins` group and that group has "maintain" rights to that repo. You shouldn't be encountering any issues pushing. Have you tried re-cloning?

You have to give an org admin access (https://docs.npmjs.com/managing-team-access-to-organization-packages#adding-package-access-to-a-team-using-the-cli). I see that @mcollina is added as such, but if you add me then I'll get it done (`jsum

[2022-05-17 12:22] p16 commented on #3893
Hi there,
I was looking at the 2 issues raised in this ticket.

**Warnings in log**

- using node 14/15: I see 2 warnings and 1 error in the log
- using node > 16: I see 1 error in the log (no warnings)

The error I'm seeing is
[code]

**Not supported http version**

For the http version that returns a 404 instead of a 505 I'm looking into this and I should be able to open a PR.

/cc @mcollina @cm

[2022-05-17 15:10] kibertoad commented on #3733
@jsumners Invited you to both fastify-schedule and fastify-awilix

[2022-05-17 22:21] mcollina commented on #3893
Awesome news!

[2022-05-17 23:32] jsumners commented on #3733
I'll see about it tomorrow after work. Had a frustrating day today and will not be doing stuff tonight.

[2022-05-17 23:32] jsumners commented on #3733
Take it over to a team discussion. Post any error messages you are seeing.

[2022-05-18 08:01] metcoder95 commented on #3482
Hi! Made a couple of PRs for [@fastify/caching](https://github.com/fastify/fastify-caching/pull/102) and [@fastify/elasticsearch](https://github.com/fastify/fastify-elasticsearch/pull/77), I'll try to open more during the day/week 🙂

[2022-05-18 09:21] mcollina commented on #3911
If anybody could look into this and improve the docs it would be amazing.

[2022-05-18 10:24] climba03003 commented on #3911
`defaultRoute` is actually representing what it means.
By setting this handler, whenever a request do not match any url specified of your application. You will fall into this handler.
More elaborate on https://github.com/delvedor/find-my-way#findmywayoptions

Important Note: If you override the `default route`, it means that the `404 router` will never triggered. That also means `setNotFoundHandle

[2022-05-18 10:28] budarin commented on #3911
does this mean that this route will respond to all requests with all possible methods?

[2022-05-18 10:29] climba03003 commented on #3911
I think the answer is yes. But use it with caution.

[2022-05-18 10:32] climba03003 commented on #3911
Re-open it, it need the update on document.
You can unwatch your issue if you do not want notification spam.

[2022-05-18 10:33] budarin commented on #3911
Ok

[2022-05-18 22:24] jsumners commented on #3733
@fastify/plugins the `fastify-awilix` and `fastify-schedule` modules have been added to the npm org and you should have access to publish deprecation versions of them. You should also be able to publish the `@fastify/` versions of them, but reach out if not.

[2022-05-19 09:08] p16 commented on #3893
The best place to fix this seems to be nodejs itself (as mention by @cmawhorter and discussed in #3909 ). @climba03003 has also propose another approach that seems to reduce the impact of an http version check #3912

[2022-05-19 11:49] edrichhans opened #3913 "Failed building the validation schema for POST: /my-endpoint, due to error can't resolve reference commonSchema# from id #"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

3.0.1

### Node.js version

16.14.2

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3.1

### Description

Using `$ref` as root reference throws the error `Faile

[2022-05-19 11:54] climba03003 commented on #3913
I cannot reproduce your error using the below code.
Can you provide a code that I can run and reproduce the error you face.
[code]

[2022-05-20 07:22] michael-melodyarc opened #3916 "Referencing `this` inside plugin"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I'm not sure if this is intentional or an unintended side effect of the implementation so posting quick example.  I have a couple shared base classes that represent different resources / data structures, and one option I was looking at

[2022-05-20 07:33] michael-melodyarc commented on #3916
Ahhhhhh, ignore this, that's what I get for staring at a screen for 16 hours.  Passing the plugin reference directly has it lose it's binding :(  Has nothing to do with Fastify :+1:

[2022-05-20 07:33] #3916 closed

[2022-05-21 18:09] #3893 closed

[2022-05-21 19:11] lbfalvy opened #3919 "Incorrect typings for getDefaultRoute"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.1

### Plugin version

_No response_

### Node.js version

16.9

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Arch with kernel 5.17.9

### Description

`FastifyInstance.getDefaultRoute

[2022-05-21 21:45] mcollina commented on #3919
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-22 06:17] #3911 closed

[2022-05-22 07:10] Fdawgs commented on #3872
Closed by #3898

[2022-05-22 07:23] #3872 closed

[2022-05-22 16:03] #3919 closed

[2022-05-23 08:04] SimenB opened #3923 "[TypeScript] Allow returning `Reply` from handlers"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Currently, a handler is allowed to return `void | Promise<RouteGeneric['Reply'] | void> `, see https://github.com/fastify/fastify/blob/8a2b226d99c4a7d54a538bdbbb905a4fbbada6fa/types/route.d.ts#L66

This means that in a

[2022-05-23 08:57] m0dch3n opened #3924 "Help on keep-alive connections"
## 💬  Question here

I have implemented a graceful shutdown, which is waiting for fastify.close() to be executed gracefully.

Because `close()` does not terminate before a certain timeout when keep-alive connections were made before, my graceful shutdown is not working.

So I added `forceCloseConnections: true` to the config. Now `close()` does no longer wait and everything is fine.

HOWEVER my oA

[2022-05-23 09:46] ShogunPanda commented on #3924
@mcollina It will a pleasure. I'll get back to this soon! :)

[2022-05-23 10:36] mcollina commented on #3923
@fastify/typescript

[2022-05-23 10:37] mcollina commented on #3923
Would you like to send a PR?

[2022-05-23 11:47] jsumners commented on #3924
Use a reverse proxy https://www.fastify.io/docs/latest/Guides/Recommendations/#use-a-reverse-proxy

When using `forceCloseConnections` behind a reverse proxy it will be the _proxy's_ connection that is forcefully terminated. The proxy should then establish a new connection to a new node that is ready to serve new connections.

[2022-05-23 14:11] mcollina commented on #3482
I think we are almost ready to ship. I plan to issue a release after or during the Collaborator Summit in Austin.

[2022-05-23 16:33] jsumners commented on #3482
The modules issue still has a few things that need to be resolved.

[2022-05-23 17:26] mcollina commented on #3482
I'm happy to ship without those for now

[2022-05-23 17:55] josh-hemphill commented on #3482
I commented a while back about changing defaults and doc examples to JTD by default instead of JSON Schema. Some of that lies with ajv-compiler, but the jsonShorthand default currently has to be disabled by the user to use JTD schemas with the ajv-compier, which isn't a great experience for new users who want to use JTD.
I saw there was mention of putting off some changes so that v4 can land with

[2022-05-23 18:41] jsumners commented on #3482
I do not think JTD is a sufficiently widely adopted standard across languages to make it the default. JSON Schema enables interoperability among many different ecosystems.

[2022-05-24 13:45] christian-bromann commented on #3894
I am running into the same issue and would also like to see a resolution here. I don't know why `FastifyReply` needs to have a promise like `then` method but I would suggest maybe something like this:

[code]

To avoid conflicts with Eslint.

[2022-05-24 15:56] saingsocheat opened #3931 "Old security issue template"
## 👮 [Responsible Disclosure](https://github.com/nodejs/security-wg/blob/master/processes/responsible_disclosure_template.md)

Do not open issues that might have security implications. It is critical that security related issues
are reported privately so we have time to address them before they become public knowledge.

Individuals who find potential vulnerabilities in a package are invited
to com

[2022-05-24 17:50] #3931 closed

[2022-05-24 20:11] mweberxyz commented on #3482
Regarding "check if anything needs to be done to support pino transports & pino pretty deprecation" -- in my recent testing my application started throwing deprecation warnings like:

`(node:56488) [PINODEP008] PinoWarning: prettyPrint is deprecated, look at https://github.com/pinojs/pino-pretty for alternatives.`

As suggested [here](https://github.com/pinojs/pino-pretty#integration) the deprecat

[2022-05-24 21:04] mcollina commented on #3482
Go for it! Thanks!

[2022-05-24 21:31] evanshortiss opened #3932 "schema.response without a status code throws a cryptic error message"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29

### Plugin version

_No response_

### Node.js version

16.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3.1

### Description

The current response schema definition is:

[code]

[2022-05-25 09:07] mcollina commented on #3932
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-25 15:10] evanshortiss commented on #3932
@mcollina sure, I can look into it 👍

[2022-05-26 20:13] #3932 closed

[2022-05-27 03:33] imjuni opened #3938 "fastify.js utility but not plugin, can add ecosystem?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I create tool called by [fast-maker](https://github.com/imjuni/fast-maker).

fast-maker not a plugin but create route system using by directory structure(like next.js and PHP codeigniter).

I want to add this tool in Fastify Ecosystem d

[2022-05-27 05:11] climba03003 commented on #3938
I would say yes.

[2022-05-27 10:45] metcoder95 commented on #3897
I was doing a quick assessment to start working on this and it seems to be doable but will require a few changes here and there, mostly due to the fact that the Serialization and Validator compilers are made with an abstraction on top. This is to bring power to set up granular validators/serializators based on HTTP parts of a request (like `method` and `path`).

And this is even abstracted within

[2022-05-27 10:58] mcollina commented on #3897
Looks like a good idea

[2022-05-27 11:05] climba03003 commented on #3897
Not really follow what it means by `pre-request only`.
I think both the validate and serialize function should be cached once it passed to the function.
If it is `pre-request only` that means the function will be dropped once the request end.

I don't think someone would not share the same schema in this case. But an option to determine if the function is `one-off` seems interesting.

[2022-05-27 15:45] metcoder95 commented on #3897
Sure, I mostly referred to attaching the function to the request object instead of the fastify instance, like the first suggestion: `req.serialize` and/or `req.validate`. In that way, we expose whatever serializer/validator is exposed in that context (if none, it is linked to the parent one). Thanks to this, the implementation can take advantage of whatever customization was made to the route (or

[2022-05-27 19:11] budarin commented on #3897
May be it is necessary to provide a compiler so that the schema is not compiled every call over and over again?

[code]

[2022-05-27 19:32] climba03003 commented on #3897
Good.

[2022-05-28 03:02] imjuni commented on #3938
This change already add via https://github.com/fastify/fastify/pull/3939

Thank you!

[2022-05-28 03:02] #3938 closed

[2022-05-29 00:45] budarin opened #3942 "There are no type descriptions for server properties"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0-rc.3

### Description

There are no type descriptions for server properties:
- pluginName
   https://www.fastify.io/docs/latest/Reference/Server/#pluginname

- validatorCompiler
   https://www.fastify.io/docs/latest/Refe

[2022-05-29 06:57] mcollina commented on #3942
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-29 07:49] #3923 closed

[2022-05-29 15:26] budarin commented on #3942
By the way, they are not present at all in the instance of fastify

[code]
here are the log entries

[code]

[2022-05-30 10:30] mcollina commented on #3942
`pluginName` is expected to be undefined for the root object. I'm going to change it to `'fastify'` so that's it's clearer.

As for `validatorCompiler` and `serializerCompiler` I'm unsure. I tried to play around and I got a few undefined too. @Eomm wdyt?

[2022-05-30 15:51] metcoder95 commented on #3897
@budarin

Can also be a way to go, but that will require quite a number of changes to the way the schemas are handled and stored within Fastify because the way this is abstracted creates the dependency of always providing the different parts of an HTTP request (e.g. Headers, Path, Method).
As for the default implementation of fastify, this is not a problem, but for custom implementations that heav

[2022-05-30 17:05] mweberxyz opened #3950 "Logger configuration options vs pino `transport`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Something hasn't quite been sitting with me right since my pino-pretty PR https://github.com/fastify/fastify/pull/3933 was merged.

Pino allows transport/destination configuration via either a call to `pino.destination` after pino is in

[2022-05-30 17:40] kevinmarrec opened #3951 "Makes `FastifyTypeProviderDefault` output extendable globally"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

From my TypeScript knowledge, if there was a way to override the `output` property type of `FastifyProviderDefault` (
https://github.com/fastify/fastify/blob/main/types/type-provider.d.ts#L15), we would be able to define our default Typ

[2022-05-30 17:59] kevinmarrec commented on #3951
For example, if I do this (changing `node_modules/fastify/types/type-provider.d.ts` from the inside):
![image](https://user-images.githubusercontent.com/25272043/171041638-65943a9b-db2a-47a4-9c8c-f06734d65a16.png)

Then, Typebox provider works out of the box without `withTypeProvider` :
![image](https://user-images.githubusercontent.com/25272043/171041773-40a25f05-e80e-4272-9b41-188378c52a62.png)

[2022-05-30 20:12] ocadoret opened #3953 "Function decorators on request undefined in encapsulated context with other function decorators"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

3.29.0

### Stopped working in version

4.0.0-rc3

### Node.js version

16

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3.1

### 💥 Regression Report

When using `decorateReq

[2022-05-31 05:38] climba03003 commented on #3953
I can reproduce the problem with plain JavaScript

[code]

[2022-05-31 05:48] climba03003 commented on #3953
This PR is causing the unexpected behavior.
https://github.com/fastify/fastify/pull/3479

[2022-05-31 05:59] mcollina commented on #3953
I'll work on a fix.

[2022-05-31 06:09] climba03003 commented on #3953
It also affect the `getter / setter` decorator.

[code]

Information of `prototype` is losing.

[2022-05-31 06:57] mcollina commented on #3953
found the bug, PR incoming.

[2022-05-31 07:59] #3953 closed

[2022-05-31 15:57] mcollina commented on #3950
What error are you seeing? I'd like to understand what's the actual problem you are facing.

[2022-05-31 16:38] mweberxyz commented on #3950
I'm not having any problems currently; I am digging into lib/logger.js and the logging documentation to see if there's any improvements to be made.

One such improvement would be to allow the user to specify both a stream and a file output for pino -- which is now possible with pino but is not allowed per the current fastify implementation.

[2022-05-31 16:53] #3951 closed

[2022-05-31 16:53] mcollina commented on #3950
I don't think that's possible with pino.

[2022-05-31 17:14] Eomm commented on #3942
Yes, those types are missing and only the input is mapped actually

[2022-05-31 20:48] semoal opened #3957 "404 OPTIONS error only on one request"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0-rc.3 and 4.0.0-rc.4

### Plugin version

Fastify-cors, 8.0.0

### Node.js version

16.14.2

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.3

### Description

Upgraded an API of my c

[2022-06-01 05:44] climba03003 commented on #3957
I cannot reproduce the issue using `chrome` and `firefox`.

Can you provide which browser and the clear step of "From a browser".

[2022-06-01 07:41] semoal commented on #3957
Just checked with Yarn and doesn't throw that error :o I'm going to clean up the main virtual store. Will post the fix when I resolve it!

[2022-06-01 08:05] Javarome commented on #1680
I still have this problem while using fastify 3.29.0:
[code]
When the `Error` is raised, `errorHandler` is *not* called. Instead it ends up as a 500.

[2022-06-01 08:09] metcoder95 commented on #3897
That will work for the defaults but not when the route has custom `validatorCompiler`/`serializerCompiler`, as `ajv-compiler` is not aware of such customization, isn't it? Unless I'm missing something, an abstraction on fastify still will be needed to handle such cases.

That would be super nice to add the docs for awareness. That being said, I also think that adding the schema to the ajv instance

[2022-06-01 08:12] Fdawgs commented on #1680
Can you please open a new Issue, with a reproduction?

[2022-06-01 08:15] climba03003 commented on #3957
From the sentence you post, I expect the `@fastify/cors` and `@fastify/jwt` is working properly.
The problem exist on the checking method for `preValidation` hooks.

[2022-06-01 08:16] semoal commented on #3957
Not exactly, just commented out the prevalidation hook, and still fails. I don't want to lose your time guys, I'll modify the reproduction repository and will ping you back. Tricky problem ^^

[2022-06-01 08:44] Fdawgs opened #3958 "ci: lock-threads workflow inactive?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

The [lock-threads workflow](https://github.com/fastify/fastify/blob/main/.github/workflows/lock-threads.yml) was added with https://github.com/fastify/fastify/pull/3679 and it did a mass of locking after it was first implemented, howeve

[2022-06-01 09:58] climba03003 commented on #3957
I see where is the problem.

[2022-06-01 11:56] climba03003 commented on #3913
Yes, because `common-schema` is not added to your `ajv` instance.

[2022-06-01 12:39] gunwd opened #3959 "http error does not return the proper status code"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4-rc.4

### Plugin version
    "@fastify/secure-session": "^5.1.0",
    "@fastify/sensible": "^5.0.0",

### Node.js version

16

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.5

### Descr

[2022-06-01 13:38] climba03003 commented on #3959
Can you post the code that we can copy and paste.

[2022-06-01 13:40] mweberxyz commented on #3950
I am going to keep poking around at it; if I land on any proposed improvements, I'll create a PR. Thx.

[2022-06-01 13:40] #3950 closed

[2022-06-01 14:13] StanleySathler opened #3960 "Export `LightMyRequest.InjectOptions` from `fastify` so we stick to the same version used by our current Fastify version"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I've been writing some utility functions for my project.

They accept a few params like `headers` and `payload`, so they're forwarded straight to a `FastifyInstance.inject()` call.

The problem is: we can't export `Lig

[2022-06-01 14:23] mcollina commented on #3960
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-06-01 15:19] gunwd commented on #3959
Of course! Here's a demo where Fastify v3 would return "Unauthorized!" but v4 returns "Boom!".

index.js:
[code]
Then, server.mjs:

[code]

[2022-06-01 15:32] mcollina commented on #3959
That's a documented breaking change. The error handler will _not_ have the status code set up for you, this is now up to you to do.

The following code would do the trick:

[code]

[2022-06-01 15:48] #3959 closed

[2022-06-01 17:30] StanleySathler commented on #3960
Sure thing! Will raise a PR in a bit 🚀

[2022-06-01 19:24] #3958 closed

[2022-06-01 20:19] StanleySathler commented on #3960
Well... seems it is actually exported. 😂 🚀
https://github.com/fastify/fastify/blob/main/fastify.d.ts#L193

Problem solved! ✔️

[2022-06-01 20:47] #3960 closed

[2022-06-02 05:48] mrbrianevans commented on #1877
This is still something I think would be useful, and is not adequately addressed by current solutions. `fastify-sse` appears to be unmaintained, and `fastify-sse-v2` also hasn't received any substantive update in the last year (other than dependabot updating deps). Its API is very limited (only allows async iterables, but this isn't well suited to some use cases). `fastify-sse` had a much easier A

[2022-06-02 06:11] climba03003 commented on #1877
I think you can consider to create the community package your own.
Both package seems incomplete for me, `SSE` need to be an event emitter. And it require a central management so the other route or action can send the appropriate event to the user.
The currently implementation for both packages is limited to the single route.

I think the plugin should be similar to `websocket` but it leaks of rec

[2022-06-02 08:05] mpetrunic commented on #1877
What kind of API would you like to see? I would consider implementing it if you open an issue on fastify-sse-v2. Only reason why it isn't receiving updates is because it works for us.
Also, Fastify-sse-v2 can be used with eventEmitter: https://github.com/NodeFactoryIo/fastify-sse-v2#sending-events-from-eventemmiters

[2022-06-03 05:49] jcbbb commented on #805
@Yakumwamba Yes, I cannot get it to work on safari, and it doesn't work on Firefox if you don't add `charset=utf-8` with `Content-Type`. Chrome works just fine.

[2022-06-03 13:55] RafaelGSS commented on #3733
I think we can update the plugin docs explaining the latest version of each module is required Fastify v4

[2022-06-03 16:44] jsumners commented on #3733
Not sure I understand.

However, great job taking on the remaining modules.

[2022-06-03 16:48] Fdawgs commented on #3733
I think what @RafaelGSS is saying is that the documentation for the plugins needs updating to state what plugin versions work with what Fastify versions, as we've had a few issues raised regarding it:

- https://github.com/fastify/point-of-view/issues/320
- https://github.com/fastify/fastify-formbody/issues/114

[2022-06-03 17:14] #3924 closed

[2022-06-05 06:58] Fdawgs commented on #3895
closed by https://github.com/fastify/fastify/pull/3896

[2022-06-05 06:58] #3895 closed

[2022-06-05 12:57] jsumners commented on #3733
I have added https://github.com/fastify/any-schema-you-like to the list.

[2022-06-05 13:41] mcollina commented on #3733
What names should we pick for those non-fastify-branded packages?

[2022-06-05 14:00] jsumners commented on #3733
I don't have much of an opinion on that. I'd just prefix them with the org scope and move on.

[2022-06-05 19:23] RafaelGSS commented on #3733
I suggest:

- middie -> `@fastify/middie`

- point-of-view -> `@fastify/view`

- under-pressure -> `@fastify/under-pressure`

- any-schema-you-like -> `@fastify/any-schema-you-like`

[2022-06-05 19:45] Fdawgs commented on #3733
Maybe cut down any-schema-you-like to any-schema?

[2022-06-06 18:04] mpetrunic commented on #1877
Here you go: https://github.com/NodeFactoryIo/fastify-sse-v2/releases/tag/v2.2.0 fastify-sse style API in addition to current API.

I really don't wanna handle serialization and add dependency as this can be handled differently between each developer.

Afaik, according to sse spec, order of fields is irrelevant. In my test case I have changed order and it still works with eventsource. Maybe it's y

[2022-06-06 20:02] mcollina opened #3971 "Inside the url building doc, show how to access the params"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

all

### Plugin version

_No response_

### Node.js version

all

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

all

### Description

see title

### Steps to Reproduce

see title

### Expect

[2022-06-06 21:59] mrbrianevans commented on #1877
Thank you so much for adding that API! I really appreciate it. @mpetrunic

I will have to do more testing wrt. the order of fields.

[2022-06-07 15:26] mcollina commented on #3971
Yes. I opened it quickly from mobile and there is an actual bug in the app.

[2022-06-07 18:33] Fdawgs commented on #3971
What page?

[2022-06-07 19:08] mcollina commented on #3971
https://www.fastify.io/docs/latest/Reference/Routes/#url-building

[2022-06-07 20:00] #3733 closed

[2022-06-08 02:27] armada45-pixel opened #3974 "Type Schema Body for Fastest-validator npm"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Make fastify-fv plugin work full function for typescript.

[github fastify-fv](https://github.com/erfanium/fastify-fv "github fastify-fv")
[github fastest-validator](https://github.com/icebob/fastest-validator "github

[2022-06-08 05:28] climba03003 commented on #3974
The error is correct. You are not passing `fastify` plugin in the `.register` function.

`unknown` cannot be merged to any type which is `TypeScript` limitation.
I think this area can be improved and welcome a PR for improvement.

[2022-06-08 10:35] armada45-pixel commented on #3974
I sorry for not involved info about register. I will delete that point.
Main point of question is wan't to overriding declared module FastifySchema->Body

[2022-06-08 16:38] GeoffreyBooth opened #3977 "`setDefaultRoute` should have the same signature as `setNotFoundHandler`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

The `setDefaultRoute` method takes a function of the signature `(RawRequest, RawReply) =>`. This is unlike all the other handlers, such as `setNotFoundHandler`, which expects a function like `(FastifyRequest, FastifyReply) =>`. This can

[2022-06-09 02:12] willx12123 opened #3978 "I can`t use different version fastify to register plugins in monorepo different packages with typescript."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0 & 3.27.4

### Plugin version

_No response_

### Node.js version

16.15.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Fedora Linux Version 5.17.12-300.fc36.x86_64

### Description

[2022-06-09 03:39] climba03003 commented on #3978
1. That is `plugin`, not `middleware`.

2. High possibility, you are missing `@types/node`. Since, missing it will cause type mismatch.

[2022-06-09 03:46] willx12123 commented on #3978
I tried add @types/node, but not working either.

By the way, if @types/node caused this problem, pkg-a should be failed when exec `pnpm build` too.

[2022-06-09 04:10] willx12123 commented on #3978
pkg-b error message.

It seems like pkg-b fastify version is 3.29, but @fastify/cors use fastify@3.27.4.

[code]

[2022-06-09 04:16] climba03003 commented on #3978
It likes `pnpm` package resolution is breaking thing.
I don't know if it can be fixed inside here.

[2022-06-09 05:59] sarunluitel opened #3979 "Server Sent Events not working on fastify v 4"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4

### Plugin version

_No response_

### Node.js version

18

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.5

### Description

Updated the fastify version to v4. An endpoint that sends

[2022-06-09 06:11] sarunluitel commented on #3979
Found a solution to this.
With v4 the function exit automatically sends a response and cannot send further events and gives the error.  need to explicitly specify reply.hijack() before using any raw values

[code]
I'm leaving the issue open for the maintainers to see and add this to the migration guide.

[2022-06-09 07:57] climba03003 commented on #3979
You should use `.hijack` before actually touching the `.raw` stream.
I would say the previous (`fastify@3`) behavior is not good enough.

[2022-06-09 10:14] kibertoad opened #3980 "App-level version prefixing"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Support defining endpoint prefix globally for the whole app.

I'm not sure whether per-route prefix should override or append the global one, open to opinions.

If this is approved, I'll send a PR.

### Motivation

Som

[2022-06-09 10:44] climba03003 commented on #3980
I am not sure if it is a good feature. If it should be added, I will use `prefix` as the option name.

The reason behind why I think it is not good.
Since the route is currently added synchronous and how the `onRoute` hooks changed.
I think it's not a good idea to register route in top-level.
Instead, all operation should be inside a plugin.
Which means you should
[code]

[2022-06-09 10:49] kibertoad commented on #3980
@climba03003 This works, but it relies on forcing to use plugins, which can be an overkill, depending on how the rest of the app is structured and whether there is need for strongly encapsulated app modules.

[2022-06-09 10:58] climba03003 commented on #3980
The structure in above is used to reduce user error. Just imagine people do not `await` the `plugin` but they use `onRoute` hooks.

[code]

Or some people is using `await` but they do understand how encapsulation works

[code]

[2022-06-09 12:27] jsumners commented on #3980
I agree, this is already achievable by registering the routes within a plugin.

[2022-06-09 13:59] markrzen opened #3982 "`pinoInstance` server logger option vestigial?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I believe I may have discovered a vestigial setting in the server options for the logger `pinoInstance`. I can't find any references to this outside of the documents, in either `pino` or `fastify`. Am I just missing where this is handle

[2022-06-09 14:50] markrzen commented on #3982
I am referencing the docs here:
https://www.fastify.io/docs/v4.0.x/Reference/Server/#logger

[2022-06-09 14:57] #3982 closed

[2022-06-09 15:16] 112RG opened #3984 "strict mode: use allowUnionTypes to allow union type keyword at "#/properties/image" (strictTypes) during Jest tests"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

[code]

route
After upgrading to Fastify@V4 I have started to encounter this warning during the running of my Jest test. Now I know I should be using tap, I just haven't had to to migrate over to it yet. To my knowledge this warning onl

[2022-06-09 18:59] mcollina commented on #3984
Fixing this is documented in https://ajv.js.org/strict-mode.html#strict-types. You'd need to use `anyOf` for one of your schemas.

Would you like to send a PR to https://github.com/fastify/fastify/blob/main/docs/Migration-Guide-V4.md? Thx

[2022-06-09 19:02] mcollina commented on #3980
I agree with @climba03003, this is not needed and could be easily achieved with the current plugin system.

[2022-06-09 19:20] #3979 closed

[2022-06-09 20:14] mcollina opened #3988 "Fill Migration-Guide-V4.md"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

As titled, it's currently missing all the content of the release blog post https://medium.com/@fastifyjs/fastify-v4-ga-59f2103b5f0e

### Motivation

_No response_

### Example

_No response_

[2022-06-10 02:12] jsumners commented on #3733
Thank you for finishing the list @RafaelGSS. I feel bad that I got this thing started and then couldn't finish it.

@fastify/plugins I have _removed_ all of the non-scoped packages from the `plugins` team on `npmjs.com`. They should not be getting any further updates, so the permissions should reflect that. Please raise an issue if you determine one needs a new version for some reason. We will coo

[2022-06-10 02:23] #3482 closed

[2022-06-10 03:10] #3874 closed

[2022-06-10 03:27] jsumners commented on #3977
`setDefaultRoute` was added specifically to provide a way for someone to interact with the underlying "raw" requests. https://github.com/fastify/fastify/pull/2733

[2022-06-10 03:30] jsumners commented on #3897
Why is it not acceptable to supply your own schema container? The feature was added specifically to make it easy to work with schemas in whatever way the developer wants while utilizing them within Fastify.

[2022-06-10 03:31] jsumners commented on #3971
Resolved by #3989.

[2022-06-10 03:31] #3971 closed

[2022-06-10 04:30] GeoffreyBooth commented on #3977
This was not clear to me from the [documentation](https://www.fastify.io/docs/latest/Reference/Server/#getdefaultroute):

These sections don’t mention anything about underlying raw requests. They’re also listed high on the page, before `routing` or `route`. I don’t get the sense from this presentation that these are low-level APIs. The docs describe them as handlers, which made me assume they shou

[2022-06-10 07:06] Fdawgs commented on #3988
Will have a go at this next week as I plan on moving some of the hospital's minor Fastify-based APIs over to v4, so will probably stumble on things not covered in the blog post.

Few questions related to the breaking changes:

-   **Making it mandatory to `return reply`**
    -	Is there any reason a user should/would use `reply.send('hello')` now that returns are mandatory? In v3 you would either

[2022-06-10 07:26] 112RG commented on #3988
I too am confused about ``return reply`` being mandatory.

Since routes like this still function?

[code]

[2022-06-10 07:35] climba03003 commented on #3988
Yes, and you can also do the following.
[code]

[2022-06-10 11:21] jsumners commented on #3977
Would you like to send a Pull Request to address this issue?

[2022-06-10 12:59] screendriver opened #3994 "[ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

3.29.0

### Stopped working in version

4.0.0

### Node.js version

18.2.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Node.js running in Docker in an continuous integration e

[2022-06-10 13:08] #3980 closed

[2022-06-10 13:12] willx12123 commented on #3978
I can use yarn workpsace nohoist config to fix it.

[2022-06-10 13:12] #3978 closed

[2022-06-10 13:22] mcollina commented on #3994
Thanks for reporting. Unfortunately we cannot help without a reproduction.

For this to trigger the behavior you are describing you would need to have something like:

[code]

Note that there is an `async` function that return undefined. Depending on how fast `somefunction()` is, the above code would fail or pass.

To avoid this problem, refactor your code to:

[code]

[2022-06-10 13:39] screendriver commented on #3994
I try to create something reproducible.

We don't have this. All of our `handler()` functions returning what `reply` returns.

[code]

[code]

and so on. We also don't use any callbacks and no `.then` on Promises. Everything is `async` and `await`ed.

Is there any difference between `return reply.status(200).send();` and

[code]

?

[2022-06-10 13:43] mcollina commented on #3988
There are advanced cases for which it's still needed, but the majority of users should not use it.

only `register`

You can just await the last one

All other options are still there

[2022-06-10 16:17] GeoffreyBooth commented on #3977
I can, but I don’t know what it should say. I think the docs should clarify what these APIs are _for:_ why do they exist and when should they be used? I’m reading https://github.com/fastify/fastify/pull/2733 and I don’t see an answer. If these APIs have no utility for end users, perhaps they shouldn’t be documented at all?

[2022-06-10 19:25] lalexdotcom opened #3995 "SyntaxError: Illegal return statement"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0

### Plugin version

_No response_

### Node.js version

16.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

It seems that the generated file `error-serializer.j

[2022-06-10 19:32] climba03003 commented on #3995
It is a shame no one catch it when it land.

[2022-06-10 21:46] mcollina commented on #3995
This should be fixed. @lalexdotcom could you please update your dependencies and check if everything is working as expected?

[2022-06-10 21:49] climba03003 commented on #3995
@mcollina it require `fastify` update and use the new `standalone` mode of `fast-json-stringify`

[2022-06-10 22:01] #3995 closed

[2022-06-11 06:17] DRoet opened #3998 "[4.0.1] Cannot find module fast-json-stringify/serializer"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

4.0.0

### Stopped working in version

4.0.1

### Node.js version

18.3.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Docker

### 💥 Regression Report

following error when sta

[2022-06-11 06:21] DRoet commented on #3998
Hmm I am using yarn v3.2.1 and it seems as if it is not pulling version 4.1.0 of `fast-json-stringify` after upgrading my dependencies using `yarn upgrade-interactive`

[code]

[2022-06-11 06:24] zedeus commented on #3998
https://github.com/fastify/fast-json-stringify-compiler/issues/12

[2022-06-11 06:27] DRoet commented on #3998
Yup deleting the lock file does work, but like you said in the linked issue it's not a great solution.

[2022-06-11 06:30] zedeus commented on #3998
It's an unacceptable workaround imo, there's no reason to not bump the dependency.

[2022-06-11 06:42] climba03003 commented on #3998
Even if it is bumped in `package.json`. There will likely be a version dedicated to just dependency bump.
That means your problem still exist.

If it is a `production` environment. I don't see a reason why you install one new update but not the others.
`4.0.0` error serializer actually work just fine, but syntax error actually do not affect the code run.

[2022-06-11 06:44] climba03003 commented on #3998
If it is a actual problem, I see https://github.com/fastify/fast-json-stringify/pull/461 is a better option.
It remove `fast-json-stringify` from the generated code.

[2022-06-11 09:01] lalexdotcom commented on #3995
@mcollina The `error-serializer.js` seem fine now, but I get a `Error: Cannot find module 'fast-json-stringify/serializer'` error now... I didn't change anythin to my ts-node / webpack config, I will investigate on module resolve... (I'm on a npm workspace and not very familiar with it)

[2022-06-11 09:08] lalexdotcom commented on #3995
Aaaaand we're good! NPM workspace update handling is a bit weird, but with all dependencies up-to-date  it works...

Awesome work @mcollina & @climba03003 , you're as good and fast as fastify! 😁
(sorry for the joke, I know it's terrible 😅)

[2022-06-11 09:11] mcollina commented on #3998
Update all your dependencies and it will resolved.

[2022-06-12 09:26] woss commented on #3998
![image](https://user-images.githubusercontent.com/80440/173226781-fc380641-83ac-4a6d-8f39-a4dc0bd4beaf.png)
not working on `4.0.1`

[2022-06-12 10:07] mcollina commented on #3998
As I said, running `npm update` will fix this. Unless there is something else I'm missing, in which case could you upload a repo where it is not working? thanks!

[2022-06-12 11:14] woss commented on #3998
@mcollina what `npm update` should update? all the packages? this is never a recommended solution and can lead to many issues. as you can see i have the versions fixed so nothing to update. the `4.0.1` is the latest version, shouldn't be fixed in that version?

Repro code is exactly as i showed. deps and the code, there is no need for the repo.

[2022-06-12 11:50] Eomm commented on #3998
This issue is solved in `fastify@4.0.1`, which includes the `fast-json-stringify@4.1.0`
Ref PR: https://github.com/fastify/fastify/pull/3996

What is the `npm ls fast-json-stringify` output?

[2022-06-12 12:01] Eomm commented on #3984
Fixed in https://github.com/fastify/fastify/pull/3986

[2022-06-12 12:01] #3984 closed

[2022-06-12 12:25] woss commented on #3998
@Eomm thanks for the answer, i don't use npm, i use pnpm + rushstack. You are correct, the `fastify@4.0.1` indeed includes the
`fast-json-stringify@4.1.0` via `@fastify/fast-json-stringify-compiler 3.0.0`

I've updated the fastify in one micro-service, the rest are on 3.x.

Please check the screenshot, this shouldn't be an issue since pnpm already solves the duplicates issues by correctly creating

[2022-06-12 13:43] mcollina commented on #3998
I sincerely do not understand what the problem is. Please upload a repository that is failing with the latest version of all dependencies. We'll be happy to take a look.

I also do not understand the issue with "update all dependencies" and why you do not want to do this.

[2022-06-12 14:16] zedeus commented on #3998
That is not correct: https://github.com/fastify/fast-json-stringify-compiler/blob/main/package.json#L31
While Fastify itself has a dependency on fast-json-stringify, it's only a devDependency: https://github.com/fastify/fastify/blob/main/package.json#L149

This means we have a dependcy tree that, in production, goes: fastify 4.0.1 -> fast-json-stringify-compiler 3.0.0 -> fast-json-stringify 4.0.0

[2022-06-12 14:25] woss commented on #3998
@mcollina  because it is not deterministic and most of the time `npm update` breaks things. if you do this that's fine but please don't promote that since it really is not `the best solution`.

[2022-06-12 14:32] jsumners commented on #3998
It's not "a workaround". It is the whole purpose of [semver ranges](https://docs.npmjs.com/cli/v6/using-npm/semver#ranges). We will not be updating all modules everywhere every time a transitive dependency bumps a minor or patch version that is included in the qualifying semver range.

[2022-06-12 14:35] jsumners commented on #3998
https://github.com/fastify/fast-json-stringify-compiler/blob/864956aede405c9408392945972fd985fa6e440d/package.json#L31 clearly shows that it will pull in `fast-json-stringify@4.1.0` due to the `^` range qualifier.

Update your dependencies.

[2022-06-12 14:56] Eomm commented on #3998
I agree with the analysis but it is not necessary to publish a new release.

Did you try the [`pnpm update fast-json-stringify`](https://pnpm.io/pt/cli/update) command?

[2022-06-12 15:00] zedeus commented on #3998
`npm update fast-json-stringify` works nicle without affecting all other packages, thanks!

[2022-06-12 18:13] avin-kavish opened #4002 "Documentation and type defs mismatch schemaController bucket factory implementation"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

https://www.fastify.io/docs/latest/Reference/Server/#schemacontroller

In the above docs `addSchema` is mentioned as a method of the bucket. According to the latest version of `schema-controller.js`, it is `add`.

In addition, line 147

[2022-06-13 01:15] koanplaned opened #4048 "Additional error logging when using setErrorHandler"
Hi all,

I recently upgraded from fastify version 3.26.0 to 4.0.1 and now have an issue with the setErrorHandler method.

My setErrorHandler is implemented like this

[code]
In the previous version 3.26.0, the application did just my custom-defined logging and then returned a well-formed json like this:
[code]

Since the 4.0.1 version, there is now an additional error logging done by fastify, whic

[2022-06-13 09:30] climba03003 commented on #3998
I would see https://github.com/fastify/fast-json-stringify/pull/461 to be merged and publish.
And we update the `error-serializer.js` again.

[2022-06-13 09:51] mcollina commented on #3998
This is correct. Sorry for the issue and the great write up @zedeus and @simoneb!

--

And we update the error-serializer.js again.

Let's fix it first.

[2022-06-13 09:53] #3998 closed

[2022-06-13 11:56] jsumners commented on #3998
Thank you for linking to the actual code. We _**definitely**_ want to add direct dependencies to the dependencies list.

I think we really need a CI step that does:

1. `pnpm install --production` or `npm install --legacy-deps --legacy-peer-deps`
2. `node some_basic_server.js`
3. `curl /several_endpoints`

That should catch these cases in the future as neither of the options in step one will insta

[2022-06-13 11:56] jsumners opened #4006 "Add integration CI step"
Thank you for linking to the actual code. We _**definitely**_ want to add direct dependencies to the dependencies list.

I think we really need a CI step that does:

1. `pnpm install --production` or `npm install --legacy-deps --legacy-peer-deps`
2. `node some_basic_server.js`
3. `curl /several_endpoints`

That should catch these cases in the future as neither of the options in step one will insta

[2022-06-13 12:40] segevfiner opened #4007 "Server will also listen on a random port when calling app.listen({path: 'foo.sock'})"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.2

### Plugin version

_No response_

### Node.js version

16.15.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

If I pass to `listen` only a `path` to listen on,

[2022-06-13 12:45] mcollina commented on #4007
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-06-13 12:50] segevfiner commented on #4007
Why not? Just need to figure out how to correctly fix this without introducing a bug in another case first. 😛

[2022-06-13 12:55] amachadogarcia opened #4008 "Server RequestTimeout not working"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

_No response_

### Node.js version

16.10.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

18.04.6

### Description

I'm trying to use the parameter requestTimeou

[2022-06-13 13:13] segevfiner commented on #4007
Hmm. Debugging it a bit, it seems to happen from this code: https://github.com/fastify/fastify/blob/78adc9cc76f26ad2461d15103452f64487d806df/lib/server.js#L44-L47

If I set `host` to an empty string, then it seems to only listen on `path`. I wonder what's the right condition here. I'm not entirely sure what is all that `hasOwnProperty` stuff about?

[2022-06-13 13:30] jsumners commented on #4007
There's a lot of hackery in there to retain the deprecated variadic signature variations. It's not fun and is a big reason for this deprecation: settle on a simple interface. The linked snippet in particular is: "pull `host` from the passed in `listenOptions` _if that object has the property_, but if `listenOptions` _does not_ have the `host` property, add it."

It's likely the fix here is as easy

[2022-06-13 22:00] heathprovost commented on #3874
I believe this should be looked at again before closing it... We recently upgraded to es-lint 8 and they added more sophisticated type checking and the manner in which fastify is declaring the hook types no longer passes the linter rules.

If you write something like this and assign it as a preValidation route handler (for example):

[code]

...

[code]

The linter will complain now:
[code]

This

[2022-06-13 22:18] mcollina commented on #3874
Why the following is not correct?

[code]

[2022-06-13 22:22] SKrind0 opened #4012 "Property 'user' does not exist on type FastifyRequest"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.1

### Plugin version

_No response_

### Node.js version

17.8.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

21H2

### Description

I want to give a value to the request property u

[2022-06-13 22:24] mcollina commented on #4012
@fastify/typescript could you take a look?

[2022-06-13 22:28] SKrind0 commented on #4012
if it refers to the node_modules folder then the `@fastify/typescript` folder does not exist

[2022-06-13 22:32] mcollina commented on #4008
The check is performed every 30 seconds, see https://nodejs.org/api/http.html#httpcreateserveroptions-requestlistener.

[2022-06-13 22:32] mcollina commented on #4008
cc @ShogunPanda

[2022-06-13 22:33] mcollina commented on #4012
@fastify/typescript is a team of people maintaining the Fastify types.

[2022-06-13 22:35] SKrind0 commented on #4012
![image](https://user-images.githubusercontent.com/68449193/173458797-d0f2e634-e186-4ba0-bc6e-c528444e42de.png)

[2022-06-13 22:41] mcollina commented on #4012
Only members can see the team

[2022-06-13 22:42] SKrind0 commented on #4012
I'm not a member so what can I do?

[2022-06-13 22:44] mcollina commented on #4012
Nothing, just wait for somebody with more TS skills than me can take a look.

[2022-06-13 22:46] SKrind0 commented on #4012
Ok thank you very much I will be waiting for someone's answer

[2022-06-13 23:21] SKrind0 commented on #4012
They already helped me to solve it, I also appreciate your response and quick attention that you gave me

[2022-06-14 07:02] mcollina commented on #4002
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-06-14 07:11] ShogunPanda commented on #4008
Actually it's reported on Node 16, so no `connectionsCheckingInterval` is in place.

@amachadogarcia do you have a way to reproduce it consistently? Is you route doing anything special?

[2022-06-14 07:24] amachadogarcia commented on #4008
Not really, my route has 5 hooks of fastify, onRequest, preParsing, preHandler, handler and preSerialization, and it works like a proxy, receives a request, processes it and through the handler send a request to another service. To reproduce it, I set the requestTimeout to 5 seconds when I initialize the fastify instance as I put in the in issue description, and then I put a promise to wait this 5

[2022-06-14 08:07] amachadogarcia commented on #4008
Update: If I set the await promise in the onRequest I get a status code 400, I understand that the cause is because we don't have the body yet, but if for example I set the await promise on preHandler, the request timeout never works.

[2022-06-14 08:12] mcollina commented on #4008
Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-06-14 08:21] SudoDios opened #4014 "reply send empty"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

hello developers.
i update fastify to version 4.0.2.
And after the update, this problem arose for me :
[code]
in this code res.send() is empty without error.

[2022-06-14 08:25] kyranet commented on #4014
Yes - you need `return res;` at the end, you can see the changes in the [Medium post](https://medium.com/@fastifyjs/fastify-v4-ga-59f2103b5f0e) :)

[2022-06-14 08:34] #4014 closed

[2022-06-14 08:42] SudoDios commented on #4014
Very nice.
Thanks.

[2022-06-14 08:54] amachadogarcia commented on #4008
You have an example in this repository to reproduce it [reproducible example](https://github.com/amachadogarcia/Typescript-fastify-example). You only need compile it, start the service and make a request with any body and you will see that the option requestTimeout is not working.

[2022-06-14 09:10] climba03003 commented on #4008
I think our behavior is the same as `node` core.
[code]

You can see that it will log `request: 10.001s` or something similar.

[2022-06-14 09:11] FrancescoMasaia opened #4015 "Syntax Error On Fastify 4 and node docker latest (18 version)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.2

### Plugin version

3.0.1

### Node.js version

18

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

19.10

### Description

When I'm starting the server via docker it says that a syntax

[2022-06-14 09:30] climba03003 commented on #4008
AFAIK, `requestTimeout` require your request to be large enough that it transfer the payload more than `30s (default)`.
When the request meet the `onRequest` hook, it means the request transfer is finished. And the behavior should be expected.
@mcollina I think my understanding of `requestTimeout` is not wrong.

[2022-06-14 09:42] ShogunPanda commented on #4008
@climba03003 No, it is correct as you said.

@amachadogarcia I'm afraid there is a misunderstanding of what `requestTimeout` is about. It is not a timeout on how much it takes for a request to be processed by fastify, but how much it takes for the underlying HTTP server to receive the request from the body. After it has been received and forwarded to fastify, there's no constraint (at least enforc

[2022-06-14 09:45] mcollina commented on #4015
Thanks for reporting!

Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-06-14 09:53] amachadogarcia commented on #4008
Yes, you are correct, I misunderstanded about how work requestTimeout so far, sorry, I was trying to close the connection in the middle of a hook, because eventually we get high wait times and I though that fastify had a way to do that.

Thanks again for your time.

[2022-06-14 10:02] ShogunPanda commented on #4008
Unfortunately fastify has no way. What you can do is something like this:

[code]

Note that with this approach the expensive function will not be stopped but the client will receive a response within 5 seconds.

[2022-06-14 10:06] climba03003 commented on #4008
I think someone created a plugin for this usage. It terminate the request if it wait too long.
https://github.com/metcoder95/fastify-racing

[2022-06-14 10:32] amachadogarcia commented on #4008
Ok, perfect, thanks for the info, I'll check it out.

[2022-06-14 10:57] FrancescoMasaia commented on #4015
This code is needed to reproduce the problem, I've tried NodeJS 13.9.0 too and it gives the same error again version 14 doesn't

[code]

[2022-06-14 10:58] FrancescoMasaia commented on #4015
This is the generic error without extra console logs
const hostPath = listenOptions.path ? [listenOptions.path] : [listenOptions.port ?? 0, listenOptions.host ?? 'localhost']
                                                                                        ^

SyntaxError: Unexpected token '?'
    at wrapSafe (internal/modules/cjs/loader.js:1067:16)
    at Module._compile (internal/modules/cj

[2022-06-14 11:10] climba03003 commented on #4015
`node@13` is expected to be fail since `nullish operator` is added in `node@14`.
And cannot reproduce it use `node@18` installed on `WSL`.

[2022-06-14 11:18] FrancescoMasaia commented on #4015
in this [repo](https://github.com/FrancescoMasaia/Fastify-error-example) there is an example code with latest docker container for node that i was using on my server and got the error

[2022-06-14 11:29] climba03003 commented on #4015
No, I cannot reproduce with your repo. Note that your repo cannot be startup since no `server` variables is declared.
I added `const server = fastify({ logger: true })`

[code]

[2022-06-14 13:24] climba03003 commented on #4015
I will close it since it should not be the problem of `fastify@4`.

[2022-06-14 13:24] #4015 closed

[2022-06-14 13:29] heathprovost commented on #3874
That is correct. The part where it goes wrong is this part:
[code]

because here the type that is acceptable for the preValidation property on a route is `preValidationHookHandler`, which is the non-async version. So the linter screams because the protect() function returns `preValidationAsyncHookHandler` instead. The older versions of es-lint were not smart enough to detect this mismatch, so it w