[2016-10-10 14:56] mcollina opened #7 "README"
as titled :dancing_men: 👯

[2016-10-10 14:56] mcollina opened #8 "logger support"
pino of course!

[2016-10-10 14:56] mcollina opened #9 "support all http methods"

[2016-10-10 14:57] mcollina opened #10 "Authentication"
We need to figure our how authentication would work in fastify.

[2016-10-11 06:30] mcollina opened #11 "Support for middlewares"
This would be a really nice one, I'm not even sure if we want this in the first place. This is a placeholder issue to discuss.

cc @davidmarkclements

[2016-10-11 12:04] delvedor opened #12 "Input validation"
Input validation via *json-schema* using [ajv](https://github.com/epoberezkin/ajv) for perf reasons.

Ajv bench:
- [json-schema-benchmark](https://github.com/ebdrup/json-schema-benchmark)
- [jsck](https://github.com/pandastrike/jsck#benchmarks)
- [z-schema](https://rawgit.com/zaggino/z-schema/master/benchmark/results.html)
- [themis](https://cdn.rawgit.com/playlyfe/themis/master/benchmark/results.

[2016-10-11 12:44] delvedor commented on #12
If the input validation fails, how we want to handle it?
Add an `err` field to request or add an `err` object into the callback?
- Req obj:
[code]
- Err in callback:
[code]

Ideas?

[2016-10-11 12:47] mcollina commented on #12
I would not let it reach our handlers, silently drop it.

[2016-10-11 12:50] delvedor commented on #12
You mean as it works in Hapi?

[2016-10-11 12:50] mcollina commented on #12
Yes

[2016-10-11 12:50] delvedor commented on #12
For me is ok, but in the future I would like give the user a choice about this.

[2016-10-11 12:55] mcollina commented on #12
having an `err` as the first argument is a nice way to opt in this behavior.
Making this type of "opt-in" fast is very complicated.

If you want to give it a stab, feel free to :).

We should start to document things as well!

[2016-10-12 06:12] lucamaraschi commented on #12
I would personally go for @mcollina's option, returning to the client a http status code [400](https://tools.ietf.org/html/rfc7231#section-6.5.1) error. In this way it would conform to the standard and to what most of API developers are used to.

[2016-10-12 07:31] delvedor commented on #12
If you both guys say that is the best option I'm fine with that :)
Soon the pr.

[2016-10-12 15:27] delvedor commented on #12
Another PR will come for `querystring` validation, keeping this open.

[2016-10-17 10:13] #12 closed

[2016-10-17 13:53] delvedor commented on #7
#17

[2016-10-17 13:53] #7 closed

[2016-10-25 14:15] delvedor commented on #8
I'm finishing the splitting of the tier-node logic, then I'll add the pino-http logger :)

[2016-10-26 08:25] delvedor commented on #9
Should we implement `TRACE`and `CONNECT`as well?

[2016-11-03 09:21] mcollina opened #23 "support streams"
We should be able to call `reply(null, stream)`.

[2016-11-11 08:33] GavinDmello opened #24 "url wildcard support"
Are you guys planning on url wildcard support in the routes ?   I'm not sure if it's possible with the current setup .  Also, I'm not sure if it should be handled on the frame work or inside wayfarer.

[2016-11-12 10:33] mcollina commented on #24
This project is a very good experiment! We are open to PRs :D, if you want to help and contribute.
Probably it's on wayfarer, but I think it would be welcome there as well!

[2016-11-12 10:40] delvedor commented on #24
I think it wayfarer related, do it here means add logic that should be handled by the router :)

[2016-11-24 12:20] GavinDmello commented on #24
Will get sorted when wayfarer solves it .

[2016-11-24 12:20] #24 closed

[2016-12-01 15:05] marcbachmann commented on #23
Oh, nice. I just landed on this issue by accident. I also need something like that in my setup.
I guess fastify responds with `Content-Type: application/json` by default, right?
So would you only support utf8 encoded streams and the stream is responsible to support proper json?

Or would you allow a custom content type by passing it somewhere?
And then we can also support line delimited json.

e.g

[2016-12-01 15:58] mcollina commented on #23
I think we should do something with `reply`, rather than setting properties on the stream object.

[2016-12-01 19:01] delvedor commented on #23
I'm working on stream support at the moment, the in the next days will land a pr :)
https://github.com/mcollina/fastify/tree/stream-support

[2016-12-01 19:26] #8 closed

[2016-12-15 17:07] mcollina opened #29 "organization"
We should probably do a fastify organization :)

[2016-12-15 17:08] mcollina opened #30 "support templates"
Something like http://npm.im/vision, that provides plugin-specific views.

[2016-12-16 08:40] delvedor commented on #30
Good idea!
Maybe we can use the same syntax of Hapi and expose `reply.view` :)

[2016-12-16 08:42] delvedor commented on #29
Yeah! Love the idea :)
Which other repos we should include?

Probably
https://github.com/delvedor/fastify-cli
https://github.com/mcollina/fast-json-stringify

And we need a logo 😄

[2016-12-22 00:42] brwnll opened #31 "querystring validation/parsing"
First off, thanks for creating this, I'm very excited to see where this goes, and it has been great to work with thus far.

Question about `querystring` in the schema, it doesn't appear to be doing anything. I'm hoping you could point out what I'm missing:

Here's an example:
[code]

`req.query` outputs:

Hopefully you can tell me what I'm doing incorrectly, thanks.

[2016-12-22 09:51] mcollina commented on #31
The syntax is slightly different. See https://github.com/mcollina/fastify/blob/master/test/get.test.js#L19-L28.

However, I like _your_ syntax more.
Would you like to send a PR to add the support for either better reporting or key/value type of validation.

Maybe this can help http://json-schema.org/documentation.html (we can use the meta-schema to validate that the schema is valid JSON-schema).

[2016-12-22 17:31] brwnll commented on #31
Thanks @mcollina, worked like a charm. I'll see if I can get a PR in. I'm working off the `reply-refactor` branch, so I may wait until that PR is completed.

[2016-12-22 17:31] #31 closed

[2016-12-22 17:36] mcollina commented on #31
@brwnll that might be a good idea :)

[2016-12-22 18:18] brwnll opened #32 "Multiple response types"
Is there a way to define multiple response types? For example a route response my have a different structure for a success/error response.

I have a route that returns an array of objects on success, but an error object on failure.

[2016-12-22 18:25] #32 closed

[2016-12-22 19:08] delvedor commented on #32
Hi! In the `reply-refactor` branch the error wiil be stringified with *fast-safe-stringify* :)

@mcollina shuould we add an error schema as well?

[2016-12-22 20:12] mcollina commented on #32
I don't think so. It's easy to add _optional_ properties to the output schema.

[2016-12-23 10:11] delvedor commented on #32
Yeah, but at the moment the *serialize* function is not called in case of an Error object, as said above is stringified with *fast-safe-stringify*.

[2016-12-23 10:20] mcollina commented on #32
Let's defer this discussion to the future. The current approach is simple.

[2017-01-04 20:17] delvedor commented on #23
Stream support added in #27.

[2017-01-04 20:17] #23 closed

[2017-01-05 12:07] delvedor opened #33 "Graphics"
I've designed this graphic, what do you think?
![full logo](https://cloud.githubusercontent.com/assets/4865608/21680096/d01de970-d347-11e6-9792-3d6dcbdd4c4d.png)

[2017-01-05 12:12] mcollina opened #34 "Update benchmarks"
Due to using pino-http, we are losing 2k req/s on my laptop.
_maybe_ we can improve pino-http, but we should update our benchmark.

[2017-01-05 12:13] mcollina commented on #33
That's nice, I like that. 👍

[2017-01-07 09:33] delvedor commented on #34
In my local copy I've updated to `fast-json-stringify@0.10.3` and I'm serving *19.8k req/sec*, while with `fast-json-stringify@0.10.2` I was serving around *18.9k req/sec*.

Could you do some bench on your machine and check if the issue has been fixed?

[2017-01-07 10:15] mcollina commented on #34
The issue has been fixed!

[2017-01-07 10:15] #34 closed

[2017-01-10 13:52] delvedor opened #37 "Travis and Coveralls"
After moving the repo to the organization both travis and coveralls not behave as before, probably they need to be reconfigured.

[2017-01-10 14:04] jsumners commented on #30
I'm an avid user of Hapi. I do not care for Hapi's template implementation. It's too rigid and does not promote streaming; even when set to `async`. I usually skip Hapi's template support completely and directly use [Marko](http://github.com/marko-js/marko):

[code]

[2017-01-10 15:46] delvedor commented on #37
Fixed

[2017-01-10 15:46] #37 closed

[2017-01-11 10:50] delvedor opened #39 "Plugin support"
Before starting to implement the template (#30) and authentication (#10) support we must figure out how expose some APIs to build plugins for fastify without changing the core.

This issue is a placeholder for discussion.
cc @mcollina @davidmarkclements @lucamaraschi @marcbachmann

[2017-01-25 17:37] brwnll opened #41 "Response stream?"
Is there a way for me to stream a response via fastify (essentially access `res.write`)?

[2017-01-25 17:40] mcollina commented on #41
Just pass a stream to `reply.send()`. It would be forwarded: https://github.com/fastify/fastify#reply.

[2017-01-25 17:44] brwnll commented on #41
Is the `schema.out` property still respected? Should it be removed if I'm returning via stream?

[2017-01-25 17:50] mcollina commented on #41
No it is not, that is used only when a JSON is returned.

[2017-01-25 17:56] brwnll commented on #41
Thanks

[2017-01-25 18:25] brwnll commented on #41
When passing a stream, it doesn't appear to write out as the buffer fills?

I'm testing using a large MongoDB collection, and pass the query stream to `fastify.send`. Instead of getting a stream of continues response from the API when I curl the URL, the connection hangs while I watch the memory consumption of the API grow and grow.

Am I missing something?

[2017-01-25 18:35] brwnll commented on #41
Sorry, that issue was incorrect, I wasn't returning the stream I thought I was. But I have run into something that seems to be an issue:

[code]

[2017-01-26 06:05] mcollina commented on #41
if you need to call JSON.stringify on your objects, you can use https://www.npmjs.com/package/ndjson

[2017-01-26 06:05] #41 closed

[2017-02-11 01:08] #11 closed

[2017-02-28 20:55] delvedor opened #44 "Hooks"
Another feature that I think we need to implement are *Hooks*.

I'm developing in my local copy the `onRequest` hook to make some experiments and I'm very happy with the result. A decision that I must take at the moment is: where call the `onRequestHook` inside the lifecycle of fastify.

These are the two options:
1) *after* the middleware execution but *before* the routing function:
[code]

2) *a

[2017-03-02 22:36] mcollina commented on #44
I'm in for the 2nd approach, but maybe we should have both.

[2017-03-03 18:23] delvedor commented on #44
I'm for the second approach as well, since the user can update the Request from fastify and request from core node (and the body!).

Why?

[2017-03-03 18:47] mcollina commented on #44
because I can see the value of executing things before and after validation happen.

[2017-03-04 01:59] davidmarkclements commented on #44
How about the following hooks:

preMiddleware
postMiddleware
preValidation
postValidation
preReply

[code]

[2017-03-04 03:03] mcollina commented on #44
If we can have all of those wihout perf it, I'm in.

[2017-03-04 10:06] delvedor commented on #44
@davidmarkclements just to understand, since *postValidation* and *preReply* are almost consecutive, where do you want to call *postValidation*?

I guess here, between the two highlighted lines.
https://github.com/fastify/fastify/blob/hooks-support/lib/tier-node.js#L83-L84

[2017-03-04 15:55] davidmarkclements commented on #44
I think if they all default to the same noop function it shouldn't much overhead to have the option of 2 hooks or 10 hooks - obv. the overhead will increase per hook added - possibly the best way is to compile a single function (e.g. new Function) instead of calling the user hooks individually

I think I've got the wrong name for preReply - perhaps it should be afterReplyWrapper? not sure on inter

[2017-03-04 16:20] delvedor commented on #44
@davidmarkclements check #45.

At the moment we are executing the user code directly, do you think that compile it will increase the performances sensibly?

[2017-03-04 16:50] davidmarkclements commented on #44
possibly - but it's premature optimization I think - see what perf is like and then we could look at options

[2017-03-04 17:00] delvedor commented on #44
I've tried to run the benchmarks with just this hooks:
[code]
and the result is almost unchanged.
If I add the above hook three times, there is a ~7% perf decrease.

[2017-03-04 17:11] davidmarkclements commented on #44
so it's looping through an array of three functions on each request?

I think it's something we'd have to very careful with, once you compile the func you've lost closure scope

but the idea would be something like:

[code]

Also once you have too many inlined funcs in compiled hooks, it'll probably hurt perf,
so you'd need to split it up - another way is to compile a function that simply calls th

[2017-03-04 17:20] delvedor commented on #44
Yes, [this](https://github.com/fastify/fastify/blob/daeab27b4c3f5f57d50a89923f25ef4d0b15ee2c/fastify.js#L86-L91) is how the hooks are executed.
`onRequestRaw()` returns the array of the *onRequestRaw* hooks.
___
I agree with you, compile could be risky.

Maybe add a flag `{ compile: true }`, so the user is aware of what is happening (same for the function that calls all the hooks without the loop)

[2017-03-04 17:22] davidmarkclements commented on #44
yeah possibly - I'd say make a first pass at implementation and then see what we can do from there

[2017-03-04 17:22] davidmarkclements commented on #44
(we could also have an explicit compile option where they can pass in a context object made up things they want to access)

[2017-03-04 19:56] lucamaraschi commented on #44
I like the compilation idea... @davidmarkclements don't u think this might become hard to debug tho?Looking again at the developer experience and ease of use.

[2017-03-05 09:39] delvedor commented on #44
I agree with @lucamaraschi, the compilation can be very hard to debug, I think the flag `compile: true` is the best choice.

The next feature we will support are plugins, and can happen that a plugin registers a hook, and if the compilation won't cause issues for the user, maybe can cause issues to the plugin.

[2017-03-06 17:36] davidmarkclements commented on #44
yah compile is an advanced optimization - not necessary for first pass

[2017-03-06 18:31] #44 closed

[2017-03-11 17:41] delvedor commented on #24
Now wayfarer supports [wildcards](https://github.com/yoshuawuyts/wayfarer/pull/55), so us as well :)

[2017-03-11 17:46] GavinDmello commented on #24
Yep. Just saw the release :)

[2017-03-16 10:25] delvedor opened #48 "Content type with charset"
When using `'Content-Type': 'application/json'` some http client append the charset to the header, so the content type becomes `'application/json;charset=utf-8'`.
When this happens, Fastify returns a *415*, because of our check
[code]
An easy fix is use `.indexOf` or `.split(;)[0]`
[code]

I ran the benchmarks and there wasn't any sensible changes.
Any other idea to solve this?

cc @mcollina @luca

[2017-03-16 10:26] mcollina commented on #48
No, go ahead and fire a PR.

[2017-03-16 12:02] jsumners commented on #10
I looked this last night. You will definitely need to work out #39 first if what you want is per-route authentication like Hapi supports. `_routeHandler` will need to have some sort of "authentication" API to query. I don't think the hook API will work for the situation; but I could be wrong about that.

[2017-03-16 15:04] delvedor commented on #10
@jsumners behind the scene we are working it on :)

[2017-03-16 15:19] jsumners opened #50 "Supplying a logger removes the stream of the logger"
[code]

[2017-03-16 15:27] #48 closed

[2017-03-16 15:37] delvedor commented on #50
The logger option purpose is not intended for setting a custom logger, but for pass some options to the internal `pino-http` instance.
Have a look [here](https://github.com/fastify/fastify/blob/master/fastify.js#L24-L26) and [here](https://github.com/fastify/fastify/blob/v0.11.1/docs/Logging.md) :)

[2017-03-16 15:40] delvedor commented on #50
Probably you can try with:
[code]
[pino-http options](https://github.com/pinojs/pino-http#api)

[2017-03-16 15:40] jsumners commented on #50
Then I think it should support passing in a custom logger. I didn't include it in the example, but I would further use `req.log` in request handlers. This means I only have to configure one logger to use it in both manners: regular logs and request logs.

[2017-03-16 15:41] jsumners commented on #50
The `{logger: {logger: log}}` is ugly, but it works.

[2017-03-16 15:43] delvedor commented on #50
Yeah, I agree.
I would like to ask to the *'pino guy'* @mcollina: any idea on how design a nicer api?

[2017-03-16 15:49] delvedor commented on #50
Ops! Sorry :P

Anyway, PR are welcome!

[2017-03-16 16:02] mcollina commented on #50
thanks @jsumners!!

[2017-03-16 19:33] jsumners commented on #10
I think this goes with this issue. Let's say you have the following

[code]

The client will never get a `401` because the only way to not send multiple responses is to pass an error into `next()`.

[2017-03-16 19:40] fibo opened #51 "'use string' typo"
See here https://github.com/fastify/fastify/blob/master/benchmarks/koa.js#L1

[2017-03-16 20:11] delvedor commented on #51
It's the next gen `'use strict'`, thanks :P

[2017-03-16 20:20] delvedor commented on #10
Maybe I'm missing the point here, why you are not doing:
[code]
?

[2017-03-16 20:30] jsumners commented on #10
Because I was under the impression that you must invoke `next()`.

[2017-03-16 20:33] delvedor commented on #10
Well, it depends :)
`next()` is needed to continue the fastify [lifecycle](https://github.com/fastify/fastify/blob/master/docs/Lifecycle.md), but you can "interrupt" the lifecycle at any point by closing the request and adding a return if needed :)

Maybe we can be more clear about this in the documentation.

[2017-03-16 20:37] jsumners commented on #10
I think that may be true. Anyway, the only reason I posted it to this thread is because, since I though `next()` was required, I thought there would have to be some extra work done to support ending requests with error codes other than 500 (i.e. 401 - not authorized).

[2017-03-17 10:50] delvedor commented on #50
#52

[2017-03-17 10:50] #50 closed

[2017-03-17 15:40] #51 closed

[2017-03-21 16:20] cedmax opened #55 "Serving static files"
I haven't found any documentation about serving static files, then @mcollina put me on the right path suggesting to try a middleware for it.

[Express serve-static](https://github.com/expressjs/serve-static) works like a charm to map a folder to `/`:

[code]
[code]

but I couldn't find a way to map a path to the public folder.
If I wanted to do the same on Express I would have something on the lin

[2017-03-21 16:21] marcbachmann commented on #39
Was there a discussion about that topic already?

I don't see any reason why not to do api changes changes.
Most times it's possible to do it backwards compatible.

First, what's the responsibility of plugins? There might be several kinds of plugins.
I guess we can differentiate between services (e.g. template engine) and request lifecycle plugins (e.g. authorization) for now.

IMO the services ca

[2017-03-22 08:37] delvedor commented on #39
Hi @marcbachmann, yes, we did have some discussion and we are working on the plugin implementation here #53. I just wrote some explanation, if you have some kind of doubt please let me know!

[2017-03-22 08:58] delvedor commented on #55
Hi, currently we are working on the plugins and soon on the `Reply`/`Request` decorators, I think we can achieve what you need just with a `Reply` decorator :)

@mcollina any other idea?

Thanks for the interest!

[2017-03-22 09:04] mcollina commented on #55
Those are two things, one is a `Reply` decorator, and another one is to limit the middlewares or plugins to a certain prefix.

[2017-03-22 09:23] delvedor commented on #55
The plugins are already limited to a certain prefix if you are using the encapsulation, middlewares are not. Maybe we can think to add this feature to [`middie`](https://github.com/fastify/middie).

[2017-03-26 10:14] delvedor commented on #55
Done in https://github.com/fastify/middie/pull/2, with the next Fastify release we'll update the dependency here :)

[2017-03-29 07:55] delvedor commented on #39
Addressed in #53 and #56.

[2017-03-29 07:55] #39 closed

[2017-03-29 08:40] delvedor commented on #55
Released in [v0.13.0](https://github.com/fastify/fastify/releases/tag/v0.13.0) :)

[2017-03-29 21:22] AutoSponge opened #58 "How do you execute the benchmark tests?"
I looked through the docs and the tests but don't see what you're using to execute the X/rps.

[2017-03-29 21:29] delvedor commented on #58
Hi, we updated the docs recently and we forgot to add the benchmark runner test, I'll update them asap.

By the way, all benchmarks where average taken over 5 seconds, on the second run of:
[code]

[2017-03-29 21:31] #58 closed

[2017-03-30 16:27] delvedor opened #59 "Register - unhandled error"
While working at https://github.com/fastify/point-of-view/pull/1 I found that if I pass and error to the `next` callback of `register`, even if I handle it, fastify will throw and error.
This because of [this](https://github.com/mcollina/avvio/blob/master/boot.js#L96) specific line of avvio.
Internally we have not a listener for that error event, and node will throw the following error:
[code]
Thi

[2017-03-30 19:38] mcollina commented on #59
I think we should give this error to the user, as the first error of the listen callback, or it should throw when that happens.

[2017-03-30 19:54] delvedor commented on #59
I like use the listen callback, but my concern is that even if the user has a callback in the register that will throw, this error will arrive in any case to the emitter.

Example:
[code]
I don't think this is a good behavior, as said above is pretty counterintuitive.

[2017-03-30 19:57] mcollina commented on #59
That's fine. Listen cannot go through if the first one is skipped. All the plugins needs to initialize correctly.

[2017-03-31 14:58] delvedor commented on #59
Closed by #61

[2017-03-31 14:58] #59 closed

[2017-04-01 11:59] GavinDmello opened #63 "Support for multi part requests"

[2017-04-01 14:30] mcollina commented on #63
Definitely. Should this be a plugin, or something in core?

[2017-04-02 19:03] GavinDmello commented on #63
I'm not quite sure what's the standard approach people follow. I usually prefer the framework giving the request stream to me and I handle the multi part myself using whatever I want e.g Formidable.
But something out of box would be fine too

[2017-04-03 07:21] mcollina commented on #9
I think we can close this :).

[2017-04-03 13:34] delvedor commented on #30
https://github.com/fastify/point-of-view

[2017-04-03 13:34] #30 closed

[2017-04-05 06:50] mcollina opened #64 "browserify + sheetify plugin"
We can base ourselves on https://github.com/yoshuawuyts/bankai, or we can get inspired and write our own thing.

[2017-04-05 07:11] delvedor commented on #64
@yoshuawuyts already did an awesome job on bankai, I use it basically every day. I think that a plugin for use fastify and bankai together is definitely enough.
Maybe in the future we can think something different, but for the moment I don't see the need to reinvent the wheel :)

[2017-04-06 13:17] mcollina commented on #63
We should bundle https://www.npmjs.com/package/multipart-read-stream in to help with this.

[2017-04-06 16:22] mcollina opened #66 "accept headers parsing"
as titled

[2017-04-07 10:01] mcollina opened #68 "support for custom content types in POST/.."
we need a generic support for content types

[2017-04-07 10:03] delvedor commented on #68
We want this in core or as a plugin?
Same question for #66.

[2017-04-07 10:06] mcollina commented on #68
Some work needs to happen in core for this: https://github.com/fastify/fastify/blob/master/lib/tier-node.js#L38-L59.

#66 might be a plugin.

[2017-04-07 10:33] mcollina opened #69 "adopt boom?"
https://www.npmjs.com/package/boom

[2017-04-07 11:44] delvedor commented on #68
If we want this as plugin I guess we must expose the parsing part.

[2017-04-09 09:35] delvedor commented on #68
Done in #72

[2017-04-09 09:35] #68 closed

[2017-04-10 07:47] delvedor commented on #63
Done in https://github.com/fastify/fastify-multipart

[2017-04-10 07:47] #63 closed

[2017-04-10 07:48] GavinDmello commented on #63
Thanks @mcollina  @delvedor

[2017-04-10 07:52] delvedor commented on #63
Thank you too for the suggestion!
Please, if you have more we'd love to hear them :)

[2017-04-14 12:53] jsumners opened #76 "Confusing payload/body API"
[code]

Notice that the validation schema for the `POST` body is labeled `payload`, whereas within the handler method it is referenced as `body`. This mix of terminology is confusing, particularly for someone used to using Hapi. Either the validation config should change "payload" to "body", or the handler should be passed `req.payload`.

[2017-04-14 13:13] delvedor commented on #76
You are right, *body* is more intuitive.
In addition, I'm developing the [swagger plugin](https://github.com/fastify/fastify-swagger), and in the yaml file the *payload* is referenced as *body*.
I'm +1 on rename it, or at least make an alias.

@mcollina thoughts?

[2017-04-14 13:20] mcollina commented on #76
I'm 👍 on fixing the inconsistency. I'm fine both ways.

[2017-04-14 13:30] delvedor commented on #76
The problem with the "remove completely" is that we are not warning the user that we have changed the api. So probably use an alias until the v1.0 is the best way :)

[2017-04-14 13:35] jsumners commented on #76
<1.0.0 is volatile. So if you wanted to change it completely I don't see why you'd need to keep an alias around.

[2017-04-14 13:36] mcollina commented on #76
I'm 👍  in removing it completely right now.

[2017-04-14 13:39] delvedor commented on #76
Ahahaha, we are in democracy, 2 vs 1 :P
Let's go with the direct change then!
@jsumners do you want to make a pr?

[2017-04-14 13:53] jsumners commented on #76
I am unclear on the decided resolution (payload or body). I am fine with you implementing what you see as the solution @delvedor .

[2017-04-14 14:28] delvedor commented on #76
Body :)

Ok, I'll do it, thanks for the suggestion!

[2017-04-14 19:24] jsumners opened #77 "Expose logger instance?"
The configured logger is exposed during requests, but it may be useful to expose it as a property. For example:

[code]

Thoughts?

[2017-04-14 19:32] mcollina commented on #77
Good Idea. Also, we should accept a Pino logger as an option.

[2017-04-14 19:33] jsumners commented on #77
@mcollina that part is done -- https://github.com/fastify/fastify/pull/52 ;)

[2017-04-15 08:36] delvedor commented on #77
I'm 👍  with this, I'll do that in the `payload => body` pr :)

[2017-04-18 07:55] delvedor commented on #77
Done in #78

[2017-04-18 07:55] #77 closed

[2017-04-18 07:56] #76 closed

[2017-04-29 07:18] leesiongchan opened #81 "Allow to use '*' (wildcard) in path to accept all routes"
Why isn't this been implemented? Are there any catches that I might have been missed out?

[code]

[2017-04-29 08:19] delvedor commented on #81
Wildcards are implemented, but looks like that in your case we must improve usability.
This solves your issue for the moment:
[code]
*The above wildcard will catch everything except `/`.*

[2017-05-02 17:50] jsumners commented on #10
So what is the vision for this feature @mcollina @delvedor ?

[2017-05-02 17:52] mcollina commented on #10
I do not have time to write it at this moment, and I think @delvedor would need some guidance and help. Would you like to contribute (even if it's just flashing out an initial prototype, or giving @delvedor some reviews/directions).

[2017-05-02 17:54] jsumners commented on #10
I'm willing to at least investigate if I am capable. But I need to know what the vision for the feature is. How is it supposed to work? Does it work differently than `fastify-bearer-auth`?

[2017-05-02 19:24] mcollina commented on #10
the key concept are: strategies and schemas, similar to Hapi. However, the system should be fully encapsulated with plugins, while in Hapi schemas and strategies are global. I'm not sure if it's even possible :).

[2017-05-02 19:42] jsumners commented on #10
That's what I suspected. I don't think it's even necessary if it even is possible. With the current encapsulation and plugin mechanisms it is very easy to register routes under authentication and non-authentication at the same time.

[2017-05-09 14:29] AutoSponge commented on #41
I was able to respect the schema by switching to a generator/iterable approach. Each "pump" to the stream passes through a reusable serializer. The laziness may not be faster in the long run, but on slow connections or when the client may `abort()` early, it's perfect. It also uses less memory.

My client is using oboe.js so the output is different from ndjson, but I'll probably implement that as

[2017-05-12 17:02] allevo opened #84 "Out schema for non 2xx response"
Currently the out schema is applied to every response.
Is there a way to set a "global" out schema for all non 2xx request?
Or apply the out schema only to the 2xx response?
Any suggestions?

[2017-05-12 17:14] delvedor commented on #84
Hi, thank you for the interest!
The `out` schema is not applied to all the routes, but only in the routes where you pass it as parameter.
Example:
[code]
The out schema is applied in every case, not matter of the status code and there is no way to set it for all the routes. However, you could save it in a variable and pass it to all the routes.
[code]
If you want to use an out schema for the "corr

[2017-05-12 17:32] allevo commented on #84
Maybe a replacement for default serializer is enough.

I'd like to be sure to have all my 5xx and 4xx response bodies with the same structure.

[2017-05-13 08:26] mcollina commented on #84
@delvedor I'm +1 on the idea.

[2017-05-14 13:52] delvedor opened #85 "Error responses are not stringified correctly"
Use case:
[code]
If the error case is triggered, the client will receive `{}`, because `JSON.stringify` does not stringify the error properties.
This can be easily fixed by doing the following:
[code]

The `reply` [implementation](https://github.com/fastify/fastify/blob/master/lib/reply.js#L39-L47) of the error handling uses [fast-json-stringify](https://github.com/davidmarkclements/fast-safe-stri

[2017-05-14 14:07] delvedor commented on #85
cc @mcollina @davidmarkclements

[2017-05-14 16:30] delvedor commented on #85
We found that this can be easily fixed by adopting [Boom](https://www.npmjs.com/package/boom), as said in https://github.com/fastify/fastify/issues/69.

[2017-05-16 12:10] simon-p-r opened #87 "Proxy feature"
Hi

Just wondering whether you are looking at supporting proxies a bit like [H2o2](https://github.com/hapijs/h2o2)?

Thanks
Simon

[2017-05-16 12:17] mcollina commented on #87
Hey @simon-p-r I don't think that is in our roadmap, but it should be possible with a plugin. Would you like to write one?

[2017-05-16 12:21] simon-p-r commented on #87
Sure I will get it a try

[2017-05-17 09:50] delvedor commented on #85
Closed by #86

[2017-05-17 09:50] #85 closed

[2017-05-17 09:51] delvedor commented on #69
Closed by #86

[2017-05-17 09:51] #69 closed

[2017-05-19 21:02] billouboq opened #92 "body schema minLength not working"
Just found that minLength in json schema isn't working as expected.
The required works, but not the minLength, am I missing something ?

my code with node js 7.10.0 :

[code]

and the response with postman :

<img width="981" alt="screen shot 2017-05-19 at 10 58 49 pm" src="https://cloud.githubusercontent.com/assets/7765196/26266735/06c74562-3ce7-11e7-9e47-78da95f2b0fc.png">

[2017-05-19 21:15] delvedor commented on #92
For validate `query`, `params` and `body` we are directly using [Ajv](https://github.com/epoberezkin/ajv).
Can you try Ajv alone and check if you have the same issue?

[2017-05-19 21:17] delvedor commented on #92
You did not write the schema correctly, try this:
[code]

[2017-05-19 21:19] billouboq commented on #92
@delvedor my bad, sorry about that, thanks !

[2017-05-19 21:19] #92 closed

[2017-05-19 21:19] delvedor commented on #92
You can check our [docs](https://github.com/fastify/fastify/blob/master/docs/Validation-And-Serialize.md) on data validation, at the end of the page you will find some useful resources on how write a correct json schema :)

[2017-05-24 15:47] allevo commented on #84
Can we declare a specification for this issue ?

Maybe the `out` key could be used only for 200 and, if specified, the `out500` or `out5xx` could be used for 5xx responses.

In that way, the back compatibility is kept.

Let me know if this approach is fine for you

[2017-05-24 18:50] mcollina commented on #84
@allevo the approach is fine for me.. @delvedor what do you think?

[2017-05-25 08:53] delvedor commented on #84
Since we must support also [swagger](https://github.com/fastify/fastify-swagger), i think the best (and more elegant) solution will be something like:
[code]
And so on.
Maybe we can rename `out` in `response`.
Since we are building the schema at compilation time we can check if the user is passing directly the schema or the different status codes, and create the function(s) accordingly.
An even be

[2017-05-25 08:55] mcollina commented on #84
I'm 👍  with the change, the only things I do not like is that we need `'`?

[2017-05-25 09:27] delvedor commented on #84
My bad, I thought that use numbers as key in objects was incorrect, but I was wrong :D

[2017-05-26 08:39] mcollina commented on #84
@allevo, would you like to fire up a PR?

[2017-05-26 08:58] allevo commented on #84
@mcollina I'll start as soon as possible

[2017-06-02 08:36] delvedor commented on #84
Closed in https://github.com/fastify/fastify/pull/96.

[2017-06-02 08:36] #84 closed

[2017-06-05 14:17] delvedor opened #100 "Error code shorthand in hooks handling does not work correctly"
Use case:
[code]
The expected response must have a `statusCode` equal to `400`, instead we got `500`, because of [this](https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L112).
Since the hooks that returns an error is the second, the error status code will be in `code[1]`.

@mcollina suggestions?

[2017-06-05 14:23] mcollina commented on #100
Why are we checking if the code is in the first position of an array? Why do we even support this? A user should be able to use boom or attach a statusCode property to the Error.

[2017-06-05 14:28] delvedor commented on #100
That behaviour has been added in https://github.com/fastify/fastify/pull/86.

The user can also do:
[code]
And he will get the expected result, the `done(Error, code)` is just a shorthand.

[2017-06-05 14:35] mcollina commented on #100
ok, I don't think we should do this. If you want to return a `400`, you call  `reply()`, and then `done()`. We just need to check if you replied or not within `done()` before advancing to the next hook. And we should support `boom`-style errors, i.e. `err.statusCode`.

[2017-06-05 17:45] delvedor commented on #64
https://github.com/fastify/fastify-pigeon

[2017-06-05 17:45] #64 closed

[2017-06-09 13:07] mcollina opened #102 "Handle clientError event"
https://nodejs.org/api/http.html#http_event_clienterror

[2017-06-11 14:36] phra opened #103 "query string is not being parsed in middleware handlers"
hi,

while implementing the fastify integration for [graphql-server](https://github.com/apollographql/graphql-server) i have noticed that in the middleware handler you have to manually parse the query string if you need access to while in the route handler it comes already parsed.

is this the expected behaviour? (in express it comes parsed in middlewares too)

you can see the difference between e

[2017-06-11 15:15] delvedor commented on #103
Hi! Yes it's the expected behavior as you can see [here](https://github.com/fastify/fastify/blob/master/docs/Lifecycle.md).
The parsing is done after the routing. If you want you can use the `preHandler` hook, that gives you everything you need :)

[2017-06-11 15:37] mcollina commented on #103
I think you should not use middlewares for integrating with Apollo, but rather develop a full blown plugin for Fastify.

[2017-06-11 16:10] phra commented on #103
i can investigate also that way, for now i just followed the structure of other integrations.
can you please give me additional infos on the solution you are thinking about?

as i can see the requirements to make apollo works are:
- ability to intercept only certain paths (`/graphql` and `/graphiql`)
- ability to access to the `req.body` for POST or `req.query` for GET
- ability to write raw data

[2017-06-11 16:30] mcollina commented on #103
You should use the plugin interface, not the middleware one. There is plenty of docs in the repo, so there should be all that you need.
All the requirements you are listing can be implemented using the normal fastify API.

Have a look and let us know if you need any specifics details.

[2017-06-11 16:35] phra commented on #103
ok, i'll let you know guys. thanks for the suggestion.

[2017-06-15 22:51] greenkeeper[bot] opened #104 "An in-range update of ajv is breaking the build 🚨"
## Version **5.1.6** of [ajv](https://github.com/epoberezkin/ajv) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Fajv-5.1.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ajv
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-06-16 08:59] delvedor commented on #104
Was a npm error, CI now is green.
https://travis-ci.org/fastify/fastify/builds/243460172

[2017-06-16 11:31] #104 closed

[2017-06-19 22:31] delvedor commented on #102
Closed by https://github.com/fastify/fastify/pull/105

[2017-06-19 22:31] #102 closed

[2017-06-20 09:11] delvedor commented on #103
Closing this, feel free to reopen if you have some issues :)

[2017-06-20 09:11] #103 closed

[2017-06-20 18:26] cyberwombat opened #106 "Clarification on middleware wildcards"
In the docs:

_Note that this does not support routes with parameters, (eg: /user/:id/comments) and wildcard is not supported in multiple paths._

Does this mean that `/user/*` will not match `/user/:id/comments`?

[2017-06-21 09:36] mcollina commented on #106
It means you cannot use:

[code]

However,

[code]

will capture everything.

Does this solves your issue?

[2017-06-21 16:07] cyberwombat commented on #106
Yes. Thanks for the clarification.

[2017-06-21 20:26] cyberwombat opened #107 "Renaming fields on response schema"
I've browed the schema specs but was not able to find this. I wonder if you have encountered this issue and how you might suggest dealign with it besides just pre parsing my db output which sort of defeats the purpose a bit.

For example if I wished to pull mongo data and expose it through the schema I might want to rename my `_id` field to `id`.  This seems like a useful option (also along those

[2017-06-21 20:44] mcollina commented on #107
I think the best way to restructure the response is to do it manually. Having a fast, generic tool that does restructuring is _very_ tricky.

[2017-06-21 21:08] cyberwombat commented on #107
I agree though perhaps a simple added field like "rename": "foo" might be efficient enough?

[2017-06-23 20:41] cyberwombat commented on #106
I've come across a bit of an impasse due to this restrictions. I need to selectively apply middleware to certain routes and they all contain :params. I can repeat the `use(foo)` call repeatedly which is messy but still encounter routes I cannot match with wildcard.  Per route middleware would be nice to see.

[2017-06-24 09:23] mcollina commented on #106
Can you make an example of per-route middleware you would like to use? We are probably not understanding your use case.

[2017-06-24 14:46] cyberwombat commented on #106
Sure. I am currently trying to convert an existing API and some of my routes require authentication.

Here's an example of some of the routes that cause challenges:
[code]
And so on. My setup has a variety of routes that require auth and the wildcard scenario is too limiting. I use auth in this example as it my more common case and I saw in on thread that you were possibly considering a per route

[2017-06-24 16:07] mcollina commented on #106
What you seek to achieve might be possible right now, but definitely not in a nixe way

I do not think the middleware approach works well in that regard, even with express. I really like the Hapi way of dealing auth, with schemas and strategies.

[2017-06-27 09:49] delvedor commented on #81
Closed by #114

[2017-06-27 09:49] #81 closed

[2017-07-03 15:06] mcollina commented on #10
Do you think this is fixed by #115? It might.

[2017-07-03 15:09] delvedor commented on #10
I think it is, I'm working on a jwt based plugin that uses the `beforeHandler` function.
I'll show you something in the next days.

[2017-07-04 08:13] gajus opened #118 "Add more benchmarks"
The current benchmarks are a bit boring and don't say the full story:

Some information that people would like to know:

* Time to first byte
* Response time
* Scalability

If you Google "nginx vs express.js benchmark" and similar, there will be quite a few benchmarks/ graphs that would be nice to have.

This is your main selling point. I'd focus on that. Good luck.

[2017-07-04 08:34] mcollina commented on #118
As this is OSS, you are definitely welcome to maintain an independent benchmark. We will be happy o optimize _fastify_ according to that. However, we would not be objective in developing one. If youa re interested, there is plenty of data to scavenge in what https://github.com/mcollina/autocannon can provide, and I even wrote my own tool for more easy comparison https://www.npmjs.com/autocannon-co

[2017-07-04 08:34] #118 closed

[2017-07-06 10:00] delvedor commented on #66
How do we want to implement this?
Having the field `headers` directly into the `request` object instead of `request.req` could be useful?

[2017-07-06 10:03] mcollina commented on #66
I think we need to add a bunch of methods to `Request`, maybe based on https://www.npmjs.com/package/accepts.

Should we do this on a plugin?

[2017-07-06 10:11] delvedor opened #120 "Hooks context"
If you use `decorate` to add a new function to Fastify, that function will have Fastify as context, for example:
[code]
While if you add a hook the context is `undefined`. Could be useful bind it by default?
[code]

[2017-07-06 10:14] delvedor commented on #66
That would be perfect. I think a plugin is better, so if a user do not need it, will not pay that cost.

[2017-07-06 14:11] mcollina opened #121 "http caching headers"
we should provide some support for etag, last-modified and the others.

[2017-07-06 14:28] mcollina commented on #120
Let's leave it as it is and this issue open, and maybe we'll do that if there is a need.

[2017-07-07 10:40] gajus opened #122 "Using regex when capturing the parameters"
The following route definition works in Express.js, but does not work in Fastify, `/cinema-logos/:cinemaId(\\d+)-:cinemaName.svg`.

In Fastify, it produces `params: { 'cinemaId(\d+)-:cinemaName.svg': '1000146-vue.svg' },`, whereas I expect to get `cinemaId` and `cinemaName` as separate parameters.

`:cinemaId-:cinemaName` is not working either, because the matching expression appears to be greedy:

[2017-07-07 10:53] gajus commented on #122
https://github.com/delvedor/find-my-way/issues/15

[2017-07-07 14:16] delvedor commented on #122
We will work in [find-my-way](https://github.com/delvedor/find-my-way) to support this, but inside Fastify you could just use the validations methods, that will handle for you also the error (as you can see [here](https://github.com/fastify/fastify/blob/master/docs/Lifecycle.md)).

For example:
[code]

I recommend you to read the [documentation](https://github.com/fastify/fastify/blob/master/docs/

[2017-07-07 14:35] gajus commented on #122
That does not solve an issue in any way...

[code]

will be parsed as `:cinemaId-:foo` parameter.

[2017-07-08 10:51] delvedor commented on #10
I've added a proof of concept [here](https://github.com/fastify/fastify-auth).

[2017-07-09 15:59] delvedor opened #123 "Close: Not running error"
If you call the `close` api without an active server, you will get the `Error: Not running` error.
This is very inconvenient if you are using the `inject` api in your test.

Example:
[code]
Use the close api is very useful if you must close some db connection, but this error is tricky and annoying.
An user-side solution could be:
[code]
Maybe we can directly handle that error in our [internals](ht

[2017-07-09 17:22] mcollina commented on #123
If the server has not been startes, we shouldn't close it in the shutdown phase.

[2017-07-09 17:31] allevo commented on #123
This could hide some kind of errors.

Consider:
[code]
It may close the server once or more hiding an error handling problem.

[2017-07-09 17:40] delvedor commented on #123
Maybe using [server.listening](https://nodejs.org/api/http.html#http_server_listening)?

I don't like this solution, I think is too generic :S

[2017-07-09 17:49] allevo commented on #123
@delvedor it was just an example.

In that case the error "Not running" will hide.

Maybe a new method can be implemented with a safety guard?

[2017-07-10 07:05] mcollina commented on #123
`server.listening`  is ok.

BTW, I think we should move part of the close orchestration to avvio, as it would be balanced and shared between multiple things.

[2017-07-10 07:52] delvedor commented on #123
@mcollina yes, we can do that, it will improve *avvio* as utility.
I'll fire a pr asap :)

[2017-07-13 10:41] mcollina opened #129 "Prefix should support / routes"
[code]

[2017-07-13 11:53] mcollina opened #130 "Prefix in plugins only works if prefixed by a /"
It should not be needed

[2017-07-13 12:28] #129 closed

[2017-07-13 13:06] #123 closed

[2017-07-13 13:29] #130 closed

[2017-07-13 15:57] greenkeeper[bot] opened #133 "An in-range update of find-my-way is breaking the build 🚨"
## Version **1.3.1** of [find-my-way](https://github.com/delvedor/find-my-way) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Ffind-my-way-1.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      find-my-way
    </td>
  </tr>
  <tr>
    <th align=le

[2017-07-13 17:15] #133 closed

[2017-07-13 17:55] greenkeeper[bot] opened #134 "An in-range update of avvio is breaking the build 🚨"
## Version **2.0.3** of [avvio](https://github.com/mcollina/avvio) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Favvio-2.0.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      avvio
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versio

[2017-07-13 18:02] delvedor commented on #134
Closed by https://github.com/fastify/fastify/commit/9c20a644978dedacba05b28b19c600b44e1e0965.

[2017-07-13 18:02] #134 closed

[2017-07-14 17:08] gajus commented on #122
Can we keep this issue open until it is resolved (including https://github.com/delvedor/find-my-way/issues/15)?

[2017-07-14 17:22] mcollina commented on #122
done!

[2017-07-14 17:23] gajus commented on #122
Thank you

[2017-07-17 06:53] mcollina opened #135 "Custom routes for 404 and 500"
As titled, we should be able to make these customizable, ideally supporting the plugin encapsulation.

[2017-07-17 06:56] mcollina opened #136 "accept headers parsing"
As titled.

[2017-07-17 06:58] mcollina commented on #107
@cyberwombat yes, but it would require adding the support for it in https://github.com/fastify/fast-json-stringify. The code there is highly complicated, so I would not like to complicate it further. However, you should do a new library for this! It would be pretty handy.

I'm closing this now, as we would not implement this feature, but feel free to keep discussing if you need help in implementin

[2017-07-17 06:58] #107 closed

[2017-07-17 14:55] delvedor commented on #135
Currently you can use the [extendServerError](https://github.com/fastify/fastify/blob/master/docs/Decorators.md#extend-server-error) api, which is encapsulated, but is only for json responses.

Were you thinking about something more general purpose? (for example, html page)

[2017-07-17 15:47] mcollina commented on #135
Yes exactly.

[2017-07-18 10:17] allevo commented on #66
Maybe a getter on Request object can be an help

[2017-07-18 10:22] mcollina commented on #66
yes. Do you want to create the plugin @allevo?

[2017-07-18 10:37] allevo commented on #66
yea, but the nightmare is on the serialization.

The another solution could be to implement it in fastify to be described in routes definition.
Like:
[code]

[2017-07-18 10:42] mcollina commented on #66
No, I prefer this to be handled all in code. You'll need code there anyway.

why the nightmare is on the serialization? what do you mean?

[2017-07-18 15:38] allevo commented on #66
For example:

[code]
can be tricky (or not?)
For example the 406 response can be forgotten.

Another approach can be:
[code]
where the reply decoration is made into a plugin.

The second way allows us to split the request handler from the response serialization.

[2017-07-18 16:02] mcollina commented on #66
That approach would not work in practice, because you would have to customize both the HTML and other types. So, maybe we can build a general mechanism on top of this to provide that functionality, but let's start simple and add the `accept()` part to the `Request`.

[2017-07-18 16:12] delvedor commented on #66
Let's consider that swagger uses the `accepts` field, so could be nice find a way to set it in a way that another plugin can see that rule.

@allevo if you need a good example on how decorate the `Request` object check out [fastify-multipart](https://github.com/fastify/fastify-multipart).

[2017-07-19 13:50] lmammino opened #139 "Create website with documentation"
This should be fairly simple by using GitHub Pages (example [here](https://lmammino.github.io/fastify/Routes) from my fork).

The needed steps I see to make this happen are the following:

- [x] Create an `index.md` in the *docs* folder with everything we want to display in the homepage and links to the rest of the documentation
- [x] Create links between sections (previous / next style)
- [ ] Con

[2017-07-19 14:15] mcollina commented on #139
I would prefer something a bit more custom than the standard jekyll template, but hey it's a stard. We can generate the template from the `readme.md` as well. Anyway, if you want to shot for a custom `index.md`  page, I'll get the jekyll thing enabled via gh-pages.

I think we can do a bit better, maybe something built on top of https://www.npmjs.com/package/marky-markdown and http://www.metalsmit

[2017-07-19 15:33] lmammino commented on #139
As much as I love static website generators like metalsmith and hexo, the only reason why I would go with gh-pages is because when it's configured and enabled it becomes a zero-maintenance process (a.k.a. no need for a separate doc build pipeline or separate PRs)

Anyway, if you are concerned about the look n' feel of the website, there should be [a way to use custom Jekyll templates in gh-pages](

[2017-07-19 15:35] mcollina commented on #139
👍

[2017-07-19 15:48] delvedor commented on #139
Sounds amazing :)

[2017-07-20 08:46] greenkeeper[bot] opened #140 "An in-range update of hapi is breaking the build 🚨"
## Version **16.5.0** of [hapi](https://github.com/hapijs/hapi) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Fhapi-16.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      hapi
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-07-20 13:23] delvedor commented on #140
Node v8.2.0 is causing this issue.

[2017-07-20 13:23] #140 closed

[2017-07-20 13:42] allevo commented on #66
`fastify/fastify-accepts` or `allevo/fastify-accepts` ????

[2017-07-20 13:45] mcollina commented on #66
I would recommend fastify/fastify-accepts.

[2017-07-20 16:36] coopnd commented on #103
I'd seen this start over at Apollo (apollographql/apollo-server#402, apollographql/apollo-server#421).  I assume they'll include it eventually since they have an option for micro.

But I wanted to port a project from work that runs with Apollo and express over to fastify.  I like the possibilities with hooks for some use cases better than clunky express (authn, authz, graphql context, etc.).  mcol

[2017-07-20 17:26] mcollina commented on #103
@coopnd this is amazing work! Would you like to send us a PR to the README https://github.com/fastify/fastify#ecosystem

Let us know if you get any bugs in fastify, open them or send PRs.

[2017-07-20 18:16] delvedor commented on #103
Awesome, thanks! :)

[2017-07-20 19:00] phra commented on #103
@coopnd good work! 🚀

[2017-07-21 20:13] allevo commented on #66
https://github.com/fastify/fastify-accepts

[2017-07-23 08:58] lmammino commented on #139
Sneak preview 😛

![screen shot 2017-07-23 at 09 57 13](https://user-images.githubusercontent.com/205629/28498048-6335acb6-6f8d-11e7-8249-49893e428e06.png)

[2017-07-23 09:20] mcollina commented on #139
Nice Job!

[2017-07-23 09:31] mcollina commented on #139
We might integrate https://docsify.js.org for the docs part, it should provide navigable docs.

[2017-07-23 18:20] allevo opened #146 "Response type based on `accept` header"
I'd like to split the http handle logic from its representation over http.

[code]

`getYamlFromJson`and `getXmlFromJson`can be optimized like [fast-json-stringify](https://github.com/fastify/fast-json-stringify) is.

I'm expecting the body passes the ajv validation.

[2017-07-23 18:22] allevo opened #147 "Add passport support"
Add [passport](https://github.com/jaredhanson/passport) support

[2017-07-23 18:28] mcollina commented on #146
I don't think this is a feature that should live in the framework, but rather in a plugin. However, we should definitely provide all the hooks/decorators/* that is needed to implement this.

[2017-07-23 18:42] delvedor commented on #147
I'd like to implement this, but before we should be sure about the compatibility.
Fastify [wraps](https://github.com/fastify/fastify/blob/master/docs/Request.md) the standard request object, so we must be sure that this is not causing any problem on how passport works. If we can make it work with [fastify-auth](https://github.com/fastify/fastify-auth) would be awesome.

Furthermore I'd like to avo

[2017-07-23 18:55] delvedor commented on #146
I'm not getting the need of this change, furthermore it seems over engineered.
Why not work with the `reply.serializer` api?

[2017-07-23 19:17] allevo commented on #146
Definitely!

The only thing the framework should support, is the access to `store` object through the `Request`  or `Reply` object.

The plugin adds a new `Reply` method like
[code]

[2017-07-23 19:18] allevo commented on #146
In this way the route configuration is described in the same place (thinking to swagger integration)

[2017-07-23 19:19] allevo commented on #147
of course!

[2017-07-23 21:26] coopnd opened #148 "Route chaining does not keep route prefix"
I don't this is the expected behavior because of the [`// chainable api`](https://github.com/fastify/fastify/blob/master/fastify.js#L328) comment.

[code]
Chaining is putting the `/second` route  like so:
[code]

[2017-07-24 07:48] #148 closed

[2017-07-24 14:52] nfishe opened #151 "Use multiple routes as args"
Would this be a useful feature?  IMO args are prettier than chaining for certain use cases....
[code]

Maybe with a method like so?
[code]

I am loving this project and its hackability.

[2017-07-24 18:57] delvedor commented on #151
We can definitely do that, I love semantic code.
But I don't know if it is better update the actual api and make it work like `register` (that accepts both a single function and an array of functions) instead of adding a new one.
@mcollina thoughts?

Thank you :)

[2017-07-24 19:03] delvedor commented on #146
Expose the `store` object inside`Reply` and `Request` is very easy, but since `Reply` and `Request` are stored inside `store` we will have also `Reply` and `Request` inside `Reply` and `Request` :P

I don't think we want that. We must figure out a way to remove them.
In any case we should not have a circular dependency.

[2017-07-24 19:05] delvedor commented on #10
I think this can be closed, [fastify-auth](https://github.com/fastify/fastify-auth) offers an utility to handle authorization and there are few examples, furthermore we are working on a Passport plugin.

Please reopen it if you think we should discuss more :)

[2017-07-24 19:05] #10 closed

[2017-07-24 19:06] delvedor commented on #136
#66

[2017-07-24 19:06] #136 closed

[2017-07-24 19:07] delvedor commented on #106
Closing due to inactivity, please reopen it if you need help :)

[2017-07-24 19:07] #106 closed

[2017-07-24 20:22] allevo commented on #146
Store contains only the `Request` and `Reply` constructor, not the instance. So the circular dependency doesn't exist.

For the time being, all plugins cannot interact with the route of a request/reply. Maybe can be useful for building plugin to store some custom/plugin dependent information in route definition.

[2017-07-24 23:01] lmammino commented on #139
Other sneaky preview, just completed the home page and basic style. Everything else should be slightly faster. Hopefully, by tomorrow I'll have a complete first preview :)

![localhost-4000- 1](https://user-images.githubusercontent.com/205629/28548552-69e9efa0-70cc-11e7-92ac-9cbc054c14c5.png)

[2017-07-24 23:40] coopnd commented on #151
Potentially dissect the `route` manager function and let the opts param be an array? I'm guessing only for the route method, leaving the shorthand methods alone....

[2017-07-25 18:03] delvedor commented on #151
I didn't get you, can you rephrase?

Yes, only the `route` method :)

[2017-07-25 18:08] delvedor commented on #147
Passportjs is built to work with Express, even if we support `connect` middlewares.
Seen this I don't think support Passport is a good idea, it monkey patch the core `request` object and it uses some Express related functions.

We should probably develop something line [hapijs/bell](https://github.com/hapijs/bell).
@mcollina thoughts?

[2017-07-25 18:52] lmammino commented on #139
Sneaky preview 3 (a sample of the documentation page). Now benchmarks and ecosystem left and we should be able to preview a first version on which we can iterate on 😉

![localhost-4000-docs-getting-started-](https://user-images.githubusercontent.com/205629/28588541-d06e2646-7172-11e7-8c30-1deafe481f3e.png)

[2017-07-25 18:55] mcollina commented on #147
I tend to agree.

[2017-07-25 19:42] allevo commented on #147
@delvedor [yea](https://github.com/jaredhanson/passport/blob/master/lib/framework/connect.js#L33)

bell cannot be integrated because of [this](https://github.com/hapijs/bell/blob/master/package.json#L51)
I think the installation fails on npm >=3

[2017-07-25 19:46] delvedor commented on #147
@allevo I didn't explain myself, I don't want to *use* bell, I want to create something *like* bell :)

[2017-07-25 19:49] delvedor commented on #139
I think that we should use the UI @lmammino is developing for the docs as well, to have a consistent aspect of the website.

@lmammino you are doing an awesome job! :)

[2017-07-25 19:57] allevo commented on #147
@delvedor sorry, I wrongly read.

I'm agree with this solution.

With this solution we "break" a *de facto standard* like passport or bell to reimplement the wheel better

[2017-07-25 20:05] delvedor commented on #147
Security is hard, I don't think we should reimplement the wheel, bell is an amazing piece of software, probably a port for Fastify would be the best idea.

@mcollina @allevo what do you think about this?

[2017-07-25 21:14] lmammino commented on #139
Thanks @delvedor, glad you like what i have done so far.

Here a real preview from my fork master branch: https://lmammino.github.io/fastify/

I will try to align my fork with the latest changes in the official repo , then I'll need to revisit all the links in the doc and finally I should be ok to submit a PR.

[2017-07-25 21:15] lmammino commented on #139
Of course, meanwhile, feel free to provide feedback or report anything that you don't like. I took some freedom in some paragraphs, so I expect you to review everything also in terms of copywriting.

[2017-07-26 20:30] allevo commented on #146
Another proposal
[code]

Maybe a `fastify.setDefaultSerializer` method should be implemented too.

[2017-07-26 20:34] allevo commented on #66
The PR was already merged https://github.com/fastify/fastify/pull/144

If there are other things, I'd prefer move the conversation to [fastify-accepts](https://github.com/fastify/fastify-accepts)

[2017-07-26 20:37] allevo commented on #147
@delvedor are you thinking to fork bell and adapt it to fastify?

[2017-07-26 21:10] #66 closed

[2017-07-26 21:11] delvedor commented on #147
@allevo not a fork, just clone the repo and adapt it to fastify, obviously maintaining the original license and copyright to the original authors.

[2017-08-10 19:24] allevo opened #158 "Allow remove route"
Maybe an unregister method should be implemented.
Thoughts?

[2017-08-10 20:00] mcollina commented on #158
I'm -1 on this. What would be the use case?

[2017-08-10 20:19] allevo commented on #158
Thinking at a webserver that exposes the API depending from a configuration file. And the configuration file changes after a while. Maybe you want that the changes are reflected to the API without restarting the whole server (it could be time consumer)

Netflix for example does (or did) this thing (https://www.infoq.com/news/2014/12/expressjs-burned-netflix)

[2017-08-10 20:29] mcollina commented on #158
Just restart the server. It's cheap and quick. I'm not exactly sure what Netflix was doing at that point, but they are not even talking about removing routes there. Removing routes and plugins would be extremely complex, and I don't think it's worth for the majority of users, and I prefer for us to focus on other features (serializations, 404 and 5xx etc).

[2017-08-10 20:29] #158 closed

[2017-08-10 20:32] delvedor commented on #158
I agree with @mcollina.

The only thing that would be nice to have (but at the moment is definitely not needed), is a *reboot* functionality in `avvio`.

[2017-08-10 20:46] allevo opened #159 "Serve static file (dev only)"
In dev environment, I'd like not to have nginx (for example) for serving static files.
Can we thinking to create a plugin that integrates [serve-static](https://www.npmjs.com/package/serve-static) ?

Other integration suggestions are welcomed!

[2017-08-10 20:48] delvedor commented on #159
You can easily do it by using `serve-static` as a middleware, like shown [here](https://github.com/fastify/fastify/blob/master/docs/Middlewares.md#restrict-middleware-execution-to-a-certain-paths) :)

[2017-08-10 21:13] mcollina commented on #159
I would really prefer to have a fastify-static option, or something very similar so we can encapsulate it with prefix

[2017-08-11 03:23] bompus opened #160 "Add automatic response time header?"
I'd like to see maybe another hook that gets executed after User Handler or after Reply, just prior to sending off the headers, which would allow me to setHeader X-Response-Time or whatever I'd like.

Perhaps this is already possible, but the only way I could see is to hijack res.writeHead, etc to inject my header. It'd be much easier if there were simply a hook where I could add this.

If this is

[2017-08-11 08:04] delvedor commented on #160
Hi, thank you for trying Fastify!
We are currently working on a `'onResponse'` hook that will run just after the user handler (in other word, after the `reply.send` call).

[2017-08-11 13:56] bompus commented on #160
That would work perfectly. I'll wait for that to arrive, and thank you!

[2017-08-11 19:37] allevo commented on #146
See https://github.com/fastify/fastify-accepts-serializer

[2017-08-11 19:37] #146 closed

[2017-08-12 12:50] mcollina commented on #159
We can't wrap serve-static, because it is a middleware, and we need a plugin and something specific to fastify.
We could lift some code anyway.

[2017-08-12 14:36] delvedor commented on #159
Something like [point-of-view](https://github.com/fastify/point-of-view) could do the job, probably we just need to adapt its logic.

[2017-08-14 03:38] leesiongchan opened #161 "Usage with webpack hmr?"
Is there a chance to integrate with `webpack-dev-middleware` and `webpack-hot-middleware`?

[2017-08-16 14:48] mcollina commented on #161
@leesiongchan thanks for reaching out! We never tried, but I think it should be doable. Let us know if you try :). It would actually be a nice plugin if it could be pluginified?

[2017-08-17 12:31] extremety1989 opened #163 "Response static file Help please"
here is code for express
app.get('/',function(req,res){
res.sendFile(__dirname+'/client/index.html')
 })

how can i do with fastify ?

[2017-08-17 13:12] #163 closed

[2017-08-17 13:17] delvedor commented on #163
Hi!
At the moment we do no have an api like `sendFile`, but you can do it as in the following example:
[code]
You can also develop a decorator:
[code]
In this way you can reuse it as many times as you need! :)

[2017-08-17 15:09] allevo commented on #159
[Initial implementation](https://github.com/fastify/fastify-static/tree/init) on branch "init"

[2017-08-17 15:23] mcollina commented on #159
I think we should use https://github.com/pillarjs/send to support conditional headers, etc.

[2017-08-17 16:38] allevo commented on #159
No cache is available there.
Should we use it?

[2017-08-17 17:42] mcollina commented on #159
We should support HTTP caching, but do no cache of content.

[2017-08-18 21:07] allevo commented on #159
Code update for using `send` package
Move this discussion to [that repo](https://github.com/fastify/fastify-static)

[2017-08-18 21:07] #159 closed

[2017-08-19 21:00] allevo opened #165 "Timeout if no routes are registered"
As titled if no routes are registered, the `listen` method doesn't call the callback.

Example:
[code]

Maybe this issue can depend on `avvio` bug.

[2017-08-20 07:44] delvedor commented on #165
I've just tried with [`examples/simple.js`](https://github.com/fastify/fastify/blob/master/examples/simple.js) (without the route) but I didn't have the problem.

Regarding `avvio`, if you don't call `register` but just `ready` it will work anyway.

[2017-08-22 17:16] #165 closed

[2017-08-22 19:39] delvedor opened #169 "Proposal: remove request/reply and expose just context"
We always had two objects in the handler callback code, `request` and `reply`.
This because at the beginning of the project, `request` was the request object (as it is today) and `reply` was just a single function to send data back to the user (see https://github.com/fastify/fastify/pull/27).

During the time we created some coupling between the two objects (see the `request` object [inside](https

[2017-08-22 20:21] jsumners commented on #169
I understand what you're saying, but I'm not sure about it. One of the nice things about the current signature is it follows the standard `http` module. But more than that, I think the signature is easier to read/work with:

[code]

[2017-08-22 20:37] delvedor commented on #169
Actually your example should be rewritten like this:
[code]
Because the actual Fastify request object does not contain the headers of the request.

In this way we can also fix the tricky way to access the plain request object that at the monent is accessible via `request.req`, which is not very handy.
The `ctx` object will have all the methods and properties of the actual `request` and `reply` obj

[2017-08-22 20:46] allevo commented on #169
It's seem that only [koajs](http://koajs.com/) implements an api like that.

Are `ctx.req` and `ctx.req` instance of [IncomingMessage](https://nodejs.org/docs/latest/api/http.html#http_class_http_incomingmessage) and [ServerResponse](https://nodejs.org/docs/latest/api/http.html#http_class_http_serverresponse)?

[2017-08-22 20:48] jsumners commented on #169
Familiarity is definitely a big selling point to newcomers.

[2017-08-22 20:53] davidmarkclements commented on #169
Personally, I very much like the single `ctx`, also destructuring:

[code]

However, I remember having a discussion early on with @mcollina around this,
he was particularly interested in req, reply (with reply as a function) to keep
tap familiarity with Hapi API

In either case we have a lot of chances here with the current API to be *like*
but not *the same as* Express and Hapi - this would also

[2017-08-22 20:54] allevo commented on #169
Yes, but performance and maintainability is more important IMHO.

I am not against it but we should have a list of the impacts

[2017-08-22 21:13] lmammino commented on #169
I am not very familiar with the internals of fastify, so I can only bring an opinion based on the API aesthetic.

Anyway, I am currently working on a [little web framework for AWS Lambda](https://github.com/Plnt9/middy) and in this project we took a very similar decision from the get go.

We decided to have the following signature in every middleware function:

[code]

Where `handler` is an object

[2017-08-22 21:21] delvedor commented on #169
@allevo

Yeah, [merry](https://github.com/shipharbor/merry) as well, but in a slightly different way.

Yep

@jsumners

That's true, we should decide which one has more "weight", familiarity, or maintainability and easiness? (don't forget that this change will completely solve probpems like the one @allevo encountered when building [fastify-accepts](https://github.com/fastify/fastify-accepts) or in

[2017-08-23 09:21] delvedor commented on #169
Obviously we can think about change some function signature in the api, for example `.send` could become `.reply`:
[code]

What I mean is, if we want to do a change of this size, we can think about update some api that during the time became odd.

[2017-08-23 09:38] mcollina commented on #169
I am kind of 👎  (and my opinion took some time to mature) to this proposal for two reasons:

1. we are encouraging to keep a reference to `ctx`. Very likely, this holds a reference to the parsed body. This reference prevents the body to be collected, if it is not needed elsewhere. Currently this is not happening (but please check).

2. There is a number of attached method to `Reply` (see https://g

[2017-08-23 10:57] eljefedelrodeodeljefe commented on #169
I think Koa proves that adoption is kinda hard when you have too different APIs. Similarly `lambda` doesn't serve as good example, because (1) lamdba feels very awkward, feels almost like a god object, but least makes normal Node.js practices incompatible, (2) and also you can see the other 50% of the cloud functions providers use `req`.

I learned to be conservative on things like that and am str

[2017-08-23 10:59] mcollina commented on #169
Thanks for your opinion @eljefedelrodeodeljefe!

[2017-08-23 11:11] delvedor commented on #169
I had a conversation with @mcollina, following the idea we come up with:

Here the issue is that objects like `body`, `query`, `req`and `params`, will remain in context until `send`has been called. This can drive to an higher memory usage in high stressed contexts, but it can be easily solved by cleaning manually the references, `ctx.body = null` for example.
@mcollina came up with a proposal to a

[2017-08-23 11:13] mcollina commented on #169
I'm still not convinced this is a good idea BTW, and it will be a shaping moment for the project.
Let's take some time before coming up to a decision.

[2017-08-23 11:23] delvedor commented on #169
Agree, it's a big change and we should think carefully about it.

I'll update the first comment with a pros cons list :)

[2017-08-23 12:13] eljefedelrodeodeljefe commented on #169
Agree, take your time. Btw frankly and am not intending to push this in any direction or be rude here, but I would very likely refactor my projects back to `express` in the `ctx` case. Would be a loss tho.

[2017-08-23 12:21] jsumners commented on #169
Correct me if I'm wrong, but isn't the `request` object here the raw non-Fastify request object from core? It seems to me this reference would only be a problem if it were the Fastify specific request object.

[2017-08-27 11:50] mcollina commented on #169
Request and Reply are custom to fastify:
https://github.com/fastify/fastify/blob/master/docs/Request.md
https://github.com/fastify/fastify/blob/master/docs/Reply.md

[2017-08-28 12:49] jsumners commented on #169
@mcollina yes, the `request` and `reply` passed into a handler are the Fastify wrapped objects. But the `request` attached internally to the Fastify `reply` is the original `http.request`:

1. https://github.com/fastify/fastify/blob/master/fastify.js#L130
2. https://github.com/fastify/fastify/blob/master/fastify.js#L177
3. https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L14
4.

[2017-08-29 03:07] coopnd commented on #169
IMO with the excitement around serverless and functional programming this is a step in the right direction.  KISS for the win.

In light of plugins, a simple destructing, as mentioned by @mcollina,  could take a lot pain from refactoring if `ctx` is shaped the way I'm imagining it right now...or even aliases on the object to ease the transition...I don't think it will be as terrifying as it sounds

[2017-08-29 16:46] allevo commented on #169
Good point

I'm :-1::  in the plugin chain this could be evil breaking the encapsulation.

For the `context`: I'm not convinced that this is a good thing. This is a breaking change and it should be followed by some improvement as justification (and not only UX improvement if there're any)

Which performance improvement will we have using `ctx` instead of `req` and `res` (without using `clearRef`)?

[2017-09-01 15:23] mahmed8003 opened #173 "Joi validation library"
Can we have [Joi](https://github.com/hapijs/joi) validation library instead of JSON Schema validation? Joi syntax is more concise than JSON schema.
And secondly this can be helpful for Hapi users to convert their Hapi projects to fastify.

[2017-09-01 18:51] mcollina commented on #173
Considering the fact that JSON schema is a standard, I prefer Joi more concise API.

I think we should consider adding support for Joi as a schema validator (maybe via a plugin).

[2017-09-01 19:01] mahmed8003 commented on #173
Another reason

[code]

Joi also provides conditional validation, I am not sure if JSON schema validation provides(I am searching) this.

[2017-09-01 19:08] allevo commented on #173
@mcollina can this help https://github.com/fastify/fastify/pull/167 ?

[2017-09-01 19:10] mcollina commented on #173
@allevo ideally #167 should solve this as well.

[2017-09-01 20:40] allevo commented on #173
@mcollina maybe we should study an interface to be able to switch among different validation types

[2017-09-04 13:47] 19majkel94 opened #174 "Feature request: Typescript definitions"
In node.js world type-safe is far more important than in browsers world.

It would be really nice if you provide types definition (*d.ts) for this great framework, as it is done for express or koa 😉

[2017-09-04 13:49] mcollina commented on #174
Would you like to contribute those? There is no typescript user in this organization.

[2017-09-04 13:55] 19majkel94 commented on #174
Oh, what a pity 😞 I was planing to develop a fastify driver for [routing-controllers](https://github.com/pleerock/routing-controllers) and the typings would be really helpful.

BTW, it is weird that in 2017 we build type-safe frontend apps with Angular/Typescript and React/Flow but backend it's still so ES5 that we have to jump through the docs to find "what is the replacement for express's res.js

[2017-09-04 13:59] mcollina commented on #174
Send a PR!

[2017-09-05 19:06] knksmith57 opened #176 "discuss: plugin ownership, package scope, evolution of project"
hey y'all!

first, thank you. love this project and the value statement; I started using fastify for small side projects a few releases back and believe it has potential to be _the_ goto JSON API framework.

I'd like to spark a conversation around evolution of the project; specifically, I'm looking for feedback from maintainers regarding ownership and control of plugins and moving to a [scope](htt

[2017-09-05 19:45] delvedor commented on #176
Hi!
First of all thank you for the interest and the super interesting point of discussion, very much appreciated.

Honestly I didn't thought about your examples for the `fastify-*` names, and the npm scope seems a good solution to solve the issue, we already have the [organization](https://www.npmjs.com/org/fastify) also in npm.

Regarding the internal apis I think we should redact a document or u

[2017-09-05 19:53] StarpTech commented on #174
@19majkel94 Your statement about the present is complete nonsense. Javascript is by nature a dynamically typed language and that's fine. Frontend development and backend development are still two pairs of shoes and have in mind that

Send a PR and everybody is happy.

[2017-09-05 20:19] 19majkel94 commented on #174
But it prevent plenty of bugs like typos or missassumptions about runtime types (comparing string to number) as you get instant red alert in IDE/terminal, give great and safe refactoring possibility, improve dev experience on everyday codding with autocomplete or jump to declaration/definition/etc and also serve as a documentation with intellisense and JSDoc.

Types in TypeScript is not like Java

[2017-09-05 20:44] mcollina commented on #174
I would prefer to have the type definitions on this repo. However, considering the current plugin model, I'm not sure that having plugins adding methods to the prototype of Request and Reply could be mapped by TS.

[2017-09-05 21:02] 19majkel94 commented on #174
No problem - this works very well thanks to declarations merging. The plugin modules has to declare the enhanced properties or methods which they added, just like e.g. express-session:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/express-session/index.d.ts

[2017-09-05 21:16] mcollina commented on #174
If you would like to send a PR and help maintaining this, I'm more than happy to merge.

[2017-09-06 11:34] mcollina commented on #176
@knksmith57 Thanks so much for checking out Fastify and for your report!!

The problem with publishing things under the fastify organization is discoverability. Scoped modules are not easily found by NPM searches. A bad actor could do the same for every major framework or module.

I think we should do that. If we are not, we definitely should at least for the packages in the github org.
@allevo ca

[2017-09-06 15:55] delvedor commented on #169
I've added a pros/cons list, fell free to suggest other points.

As you can see there are a lot of pros, but the *unfamiliar api* cons is is rather heavy.

[2017-09-06 16:06] knksmith57 commented on #176
Hey @mcollina! Thanks for chiming in. Already super pleased that y'all have given some thought to the conversation.

I'll admit that using scoped packages isn't exactly mainstream. Keeping the concepts of authority and control top-of-mind was the main intent of this thread, and I think we've accomplished that; moving `fastify-accepts` and `fastify-static` to the npm org is a great start and the [p

[2017-09-06 16:50] jsumners commented on #169
Simply alias it to `request.raw`.

[2017-09-06 21:06] allevo commented on #176
@mcollina `fastify-static`, `fastify-accepts`, `fastify-accepts-serializer` moved under `@fastify` org.

[2017-09-06 21:51] allevo commented on #169
**cons**: The garbage collector will wait the response ends

[2017-09-07 07:40] delvedor commented on #169
@allevo it should not influence the performance so much, and if you need that kind of optimization checkout this [comment](https://github.com/fastify/fastify/issues/169#issuecomment-324297441) :)

[2017-09-07 12:57] jsumners commented on #176
I disagree with using the `@fastify/` mechanism for the same reason as @mcollina: discoverability. Also, they are more cumbersome to use in projects. It may seem trivial, but typing `require('fastify-bearer-auth')` is easier than typing `require('@fastify/fastify-bearer-auth')`.

Over in Pino land we simply advertise that we are willing to add plugins to the organization if the author desires it.

[2017-09-07 13:03] jsumners commented on #174
@19majkel94 there aren't any TypeScript people in the project because the project was started by people who care about performance. Transpiling is antithetical to performance.

Personal opinion: I wish people would stop transpiling at all.

[2017-09-07 15:32] NoNameProvided commented on #176
You can use `require('@fastify/bearer-auth')`.

[2017-09-07 16:29] 19majkel94 commented on #174
Oh, interesting. Could you describe the problem in more details? Paste some links to researches and benchmarks?

In TypeScript you can write in ES3, ES5, ES2016 or whatever you want. And TypeScript is not like a CofeeScript with his own syntax which needs to be transpiled. All you need to do with TypeScript transpilation is stripping off types annotation, so:
[code]
would become:
[code]
which woul

[2017-09-07 16:33] mcollina commented on #174
I do not want this to become a discussion about TypeScript. Each one of us has its own preference.

I am not a TypeScript user, and I share @jsumners concerns about performance. However, I think we should do our best to support TypeScript users! None of us is using TypeScript, so it's probably better if someone else join the team and help maintaining the typescript definition.

[2017-09-07 16:52] jsumners commented on #174
I wasn't disagreeing that they should be added by someone who wishes to maintain them. Just clarifying why since https://github.com/fastify/fastify/issues/174#issuecomment-327291373 was basically a "convert to TS and be enlightened" pitch.

[2017-09-07 16:53] jsumners commented on #176
@NoNameProvided it's still more cumbersome.

[2017-09-07 20:07] abenhamdine opened #178 "Fail to reproduce benchmark results with a bigger payload"
Hi, and congrats for this new project,

however, I fail to see any significant performance gain of this module over Express :

#### express 4.15.4

[code]

####  fastify 0.26.2

[code]

Pc : Intel(R) Core i7-6500U CPU@2.50GHZ 2.59GHZ 8;00Go RAM
OS : Windows 10

My sample code is minimalist and exactly the same as https://github.com/fastify/fastify/blob/master/benchmarks/express.js
**and only diffe

[2017-09-07 21:11] allevo commented on #178
Hi!
thank you for trying fastify!

I'm trying to run the suggested benchmarks but I've some problem to reproduce them.

ExpressJs code: [see here](https://github.com/fastify/fastify/blob/master/benchmarks/express.js)

Fastify code:
[code]

ExpressJs result
[code]
Fastify result
[code]

NodeJS 6.9.4
Npm 3.10.10
Fastify commit ae092f9

Can you share the exactly code you're benchmarking?
Particularly

[2017-09-08 06:54] abenhamdine commented on #178
Thx for you quick response !
I've created a repo with the code and more details about used versions : https://github.com/abenhamdine/frameworks-benchmark

[2017-09-08 07:17] mcollina commented on #178
Confirmed, the bottleneck in the big case is `JSON.stringify`, and how we treat the content before sending it. The problem relies on the fact that `fastify` sanitizes to avoid circular dependencies before sending with https://github.com/davidmarkclements/fast-safe-stringify.

IMHO this should not happen, and we should also disable it in fast-json-stringify when used with this library. We should th

[2017-09-08 08:21] allevo commented on #178
See reference [here](https://github.com/fastify/fastify/blob/master/docs/Validation-And-Serialize.md#serialize)

[2017-09-08 08:22] abenhamdine commented on #178
Thx for having investigated it !

Indeed, specifying a schema for the 'big' test, I see an increase of 25% performance vs without schema, and thus to match express performance :

**fastify**

[code]

**express**

[code]

[2017-09-08 08:40] abenhamdine commented on #178
Good idea, circular dependencies are not common cases.

Another caveout is to define the schema and pass it to the route.
In our application, the responses to the routes are generated dynamically, based on data models definition stored in the server. So it's not possible to know the schema  before the route is called (the same route could use different schemas).
It would be possible for us to gene

[2017-09-08 09:23] dananichev opened #179 "Will it listen on socket, not port?"
Something similar to
[code]

I mean, node's ``http`` and ``https`` are able to work with sockets. But is ``fastify`` handle routing and other functionality over socket correctly?

[2017-09-08 09:46] allevo commented on #179
Hi!
yes it works!

NB: The `server` property is the http/https instance server that inherits from net server which has [`address` method](https://nodejs.org/docs/latest/api/net.html#net_server_address).
Unfortunately the documentation doesn't explain which object is returned by `address` method if the server is binded to a sock file.
So keep attention here `fastify.server.address().port` !

[2017-09-08 13:35] g-div opened #180 "Remove hapi, express, koa, restify... from devDependencies"
It would be a great to move hapi, express, koa and restify to the `package.json` of a new repository called something like `fastify-benchmarks`.

`npm install` would otherwise take much longer as expected, if you are not aware that you are going to install pretty much all node.js web frameworks.

[2017-09-08 14:31] delvedor commented on #180
Hi! Thank you for the interest!
You are right we should do that, this is an old legacy of the project.
I'll do that as soon as I've the time :)

[2017-09-08 14:33] delvedor commented on #139
This can be closed :)

https://github.com/fastify/website
http://www.fastify.io/

[2017-09-08 14:33] #139 closed

[2017-09-08 14:47] IwHy4XnXCM opened #181 "HTTP/2 support"
First of all, congratulations, this library looks fantastic.

I've looked through the documentation and can't find any mention of HTTP/2 support. Is there anything in the works? Would it be easy or difficult to implement?

Thanks!

[2017-09-08 14:49] delvedor commented on #181
Hi, thank you for the interest!
At the moment HTTP/2 is not supported, but we are working on it ;)

[2017-09-08 15:01] UNST4BL3 commented on #181
@delvedor Thanks! I'll also ask this here - I believe the library could be sped up by eliminating a function call. Fastify responds using something like `reply.send({ hello: 'world' })`. Koa responds simply by `ctx.body = 'world'`. Thoughts on this?

[2017-09-08 15:14] delvedor commented on #181
I don't know Koa really well, but somewhere a function call must be done to send the data back to you clients, as far as I know they use a lot `async/await`, probably they are doing something there.
But again, I'm not a koa user.

Regarding the `.send` api is needed, because we perform different operation once you call it, such as hooks and logging.

If you want you can also use `async/await` and

[2017-09-08 15:59] evanshortiss commented on #174
@mcollina @19majkel94  I playing with fastify to test it and wanted some definitions. I just opened a PR with what I have as a start. It is missing some options and maybe other pieces but makes a nice starting point I believe. PR is #182

[2017-09-08 22:08] cagataycali commented on #180
I'm working on it!

[2017-09-09 00:49] cagataycali commented on #180
That's just finished. [fastify-benchmarks](https://github.com/cagataycali/fastify-benchmarks)
Any idea, improvement or enhancement about the package?

King regards,
Cagatay.

[2017-09-09 08:24] mcollina commented on #179
Would you like to send a PR for this behavior?

[2017-09-09 09:50] allevo opened #185 "Microservice explaination/example"
Quote from [`Plugins Guide`](https://github.com/fastify/fastify/blob/master/docs/Plugins-Guide.md)

Fastify helps you a lot in this direction, because thanks to the encapsulation model it will completely avoid cross dependencies, and will help you structure your code in cohesive blocks.

Maybe we have to provide a little example how a developer can use `fastify` for building some microservice arch

[2017-09-09 09:52] delvedor commented on #185
Maybe we can create a repository here with a comprehensive example, entry point, directory structure, plugins, decorators and so on...
@mcollina thoughts?

[2017-09-09 09:59] allevo commented on #185
I'd like to creare a complete but not complex example where put some plugins into.

- `fastify-static`: serving static file
- `fastify-swagger`: documentation
- `fastify-react`: for rendering react app on server side (yes, I'm a React fun, sorry!)
- `fastify-multipart`: for file uploading
- `fastify-accepts-serializer`: for accepting different response types

Maybe the classic TodoList is a bit bo

[2017-09-09 11:36] mcollina commented on #185
A twitter clone is also very nice!

[2017-09-09 14:26] allevo commented on #185
@mcollina good example!

So, let's start to rewrite twitter 😂

Can we start to think how structure the project and how the different pieces can communicate?
I'd like to keep the discussion as public as possible in order to show how a project and a microservices infrastructure can be imagined from zero with `fastify`.

Where will we start the discussion? Here or in a new project?

[2017-09-09 16:08] StarpTech opened #186 "Possibility to change Ajv settings"
Ajv provides a huge list of properties to get the right configuration https://github.com/epoberezkin/ajv#options

e.g

- `removeAdditional` [filtering data](https://github.com/epoberezkin/ajv#filtering-data)
- `useDefaults`  [filtering data](https://github.com/epoberezkin/ajv#assigning-defaults)

At the moment the parameters are fixed
https://github.com/fastify/fastify/blob/master/lib/validation.j

[2017-09-09 16:10] allevo commented on #186
Hi!
thanks for the report!
Currently there's a PR https://github.com/fastify/fastify/pull/167 opened by me for this issue.

Please feel free to contribute!

[2017-09-09 16:55] StarpTech commented on #186
We could create the ajv instance in index.js and pass it to the [build](https://github.com/fastify/fastify/blob/master/fastify.js#L313) function so that we can pass default options?

[2017-09-09 17:53] StarpTech commented on #186
I created a PR https://github.com/fastify/fastify/pull/187

[2017-09-09 20:13] delvedor commented on #185
I think we can do everything (discussion an so on) in a new repository, I'll create that tomorrow :)

[2017-09-10 04:08] betomoretti opened #188 "Getting started example is wrong"
In the registers section, you have an schema variable in the route.js example that is getting an reference error.

[2017-09-10 09:44] delvedor commented on #188
Hi! Thank you for contributing, I've opened a pr to fix that issue.
#189

[2017-09-10 09:48] abenhamdine opened #190 "Set route options dynamically inside the route"
***Issue originated from discussion in https://github.com/fastify/fastify/issues/178#issuecomment-328041354, created here to ease tracking.***

Options object allows notably  to specify a schema, which brings validation feature and speeds up serialisation of the response (I noticed 25% perf increase for a big json response whith schema specified).

In our application, the responses to the routes a

[2017-09-10 10:12] allevo commented on #190
Hi,
  currently `fastify` doesn't support this feature because the schema is stored in `Store` object. See [here](https://github.com/fastify/fastify/blob/master/fastify.js#L303).

But... if you want to do this, you can right now!
Seeing [`send` method](https://github.com/fastify/fastify/blob/master/lib/reply.js#L29) of `Reply`, it could be possible to send a string directly.
So the serialization c

[2017-09-10 10:17] StarpTech opened #191 "Add headers to validation schema"
Hi, it would be great if we could validate headers too.

[2017-09-10 11:43] allevo commented on #191
Hi!
This issue should be implemented in `fastify`, absolutely!
If you want contributing please submit a PR!

[Here](https://github.com/fastify/fastify/blob/master/lib/validation.js#L58) there's the validation stage and [here](https://github.com/fastify/fastify/blob/master/lib/validation.js#L28) `fastify` builds the schema.

[2017-09-10 12:25] mcollina commented on #190
If you need multiple schemas, you can just use https://github.com/fastify/fast-json-stringify and send it down as a string and setting the correct content-type header.

[2017-09-10 12:31] jhabdas opened #193 "[Benchmarks] Comparison with not Node?"
Benchmarks look impressive. It would be helpful to see some comparisons, even if 🍎 to 🍊 on Fastify compared to Caddy and Nginx so individuals can understand how more recent JS tools are stacking up with compiled code.

[2017-09-10 12:38] #188 closed

[2017-09-10 12:57] mcollina commented on #193
It's not part of the goal here. The benchmarks are part of a very simplicistic case, that might not respect your usecase. I would prefer to see an independent analysis for this.

[2017-09-10 12:57] #193 closed

[2017-09-10 13:07] abenhamdine commented on #193
For this purpose, it could be more appropriate to add fastify to techempower bench, eg see https://www.techempower.com/benchmarks/#section=data-r14&hw=ph&test=json&b=2&l=8vn01r&a=2
to contribute : https://github.com/TechEmpower/FrameworkBenchmarks

[2017-09-10 13:10] allevo opened #194 "Add fastify.io to somewhere"
Landing https://github.com/fastify/fastify, I'd like to see the link to website

[2017-09-10 13:21] mcollina commented on #194
Definitely! Also, we could set it as the website of the repo.
PR?

[2017-09-10 16:34] StarpTech commented on #191
@allevo thanks for pointing out. I will create a PR.

[2017-09-10 16:39] delvedor commented on #191
Hi! A pr would be awesome, could you just wait https://github.com/fastify/fastify/pull/167 to land?
We are working on that and the current code will change :)

[2017-09-10 16:45] delvedor commented on #176
How about keep a list of *trusted* plugins inside our repository?
Then a plugin creator just need to open a pr or tweet to us and we'll update the list.

[2017-09-10 16:50] StarpTech commented on #191
yes, I just want to ask about it. Stealth mode on :D

[2017-09-10 20:50] #178 closed

[2017-09-10 21:38] cagataycali commented on #121
Fastify can have a cache solution as a plugin? [like these](https://github.com/kwhitley/apicache) but internal one.🤔

[2017-09-10 21:38] delvedor commented on #194
I've added http://fastify.io to the repo description :)

[2017-09-10 21:53] #194 closed

[2017-09-11 03:04] cagataycali opened #197 "One click deploy"
I created a small repository that shows the deploy in one click.

[Repository](https://github.com/cagataycali/fastify-one-click-deploy)

Can we add into /fastify community?

[2017-09-11 04:34] jsumners commented on #160
Actually, unless I followed the flow incorrectly, `onResponse` isn't going to work. This new hook is run via the standard library's `onResFinshed` event. That means the headers have already been finalized.

What we really need is a `postHandler` hook that has the signature `postHandler(fastifyRequest, fastifyReply, next)`.

[2017-09-11 05:34] agauniyal opened #199 "Reasons for increased performance?"
Would you mind telling major points how you increased the performance of fastify when compared to already lightweight framework like express or restify? ~2.5x is very good benchmark and I'm already looking forward to using fastify as soon as it adds auth strategies :)

[2017-09-11 07:28] delvedor commented on #160
@jsumners `onResponse` will run once the response has finished, checkout the [lifecycle](https://github.com/fastify/fastify/blob/master/docs/Lifecycle.md).

What you need is the `onSend` or `postHandler` hook, @lucamaraschi is working on it :)

[2017-09-11 11:13] StarpTech commented on #199
Have an eye on the deps they are highly optimized for performance.

[code]

[2017-09-11 11:21] StarpTech opened #200 "Add `request.headers` helper to avoid `request.req.headers`"

[2017-09-11 13:35] delvedor commented on #199
Hi! Thank you for checking out Fastify! :)

Our dependencies are very important, but they are not the main reason of our performances.
We worked a lot on internal optimization, we studied how V8 optimizes our code and written a very straightforward logic, as you can see from our internal [lifecycle](https://github.com/fastify/fastify/blob/master/docs/Lifecycle.md).

I recommend you to checkout:
-

[2017-09-11 19:25] allevo commented on #200
Hi,
you can directly access to `headers`through `req` property of `Request` fastify instance. See [here](https://github.com/fastify/fastify/blob/master/lib/request.js#L5).

Seeing the fastify `Request` constructor the `headers` miss.
But you can do it easily using `decorateRequest` right now!
[code]

In the code:
[code]

See [here](https://github.com/fastify/fastify/blob/master/docs/Decorators.md)

[2017-09-11 19:31] StarpTech commented on #200
Hi @allevo thanks for the snippet but I would like to know why don't provide a shortcut like `req.params`, `req.body` ?

[code]
is much more cleaner and intuitive

[2017-09-11 19:46] mcollina commented on #200
Definitely +1 for having a shortcut! How about a PR?

[2017-09-11 20:00] allevo commented on #200
@StarpTech absolutely!

[2017-09-11 20:02] StarpTech commented on #200
I will create PR

[2017-09-12 02:24] Pitu opened #202 "415: Unsupported media type"
I've been toying with fastify around and came across an issue when trying to POST to a url from a XMLHttpRequest directly from a html form. It seems the data is sent using `content-type:application/x-www-form-urlencoded; charset=UTF-8` so I went to the documentation to try and figure out how to solve it but I'm still unsure.
Also tried with `fastify.register(require('fastify-accepts'))` but doesn'

[2017-09-12 07:05] mcollina commented on #197
I am a bit lost on what is the script content. What does that repo do?

Also, it seems it's using Node 7, we should use Node 8.

[2017-09-12 07:42] mcollina commented on #202
We have @jsumners https://www.npmjs.com/package/fastify-formbody!

We need to add it to the README, and maybe mention it in the docs. Would you (or someone else!) like to send a PR?

[2017-09-12 07:42] mcollina commented on #121
IMHO we have two layers of this.

1) methods to detect and process those headers in `Request`
2) a plugin that uses those, and actually do caching

Would you like to start a plugin?

[2017-09-12 08:07] Pitu commented on #202
Thanks for pointing it out! You can find the PR here 7f02eed

[2017-09-12 08:07] #202 closed

[2017-09-12 09:06] mcollina commented on #176
@delvedor and myelf have just divided the packages on the fastify team on npm in

1. ecosystem modules, maintained by the **developers** team (everybody in the npm org)
2. fastify itself and dependants modules, mainteind by the **core** team (currently @delvedor and myself)

[2017-09-12 09:07] mcollina commented on #176
I think this should be closed.

[2017-09-12 09:07] #176 closed

[2017-09-12 12:12] jsumners commented on #202
Sorry for being so slow about this. Thank you for the PR.

[2017-09-12 13:34] #199 closed

[2017-09-12 14:08] ohenepee opened #206 "Add Spirit to Benchmarks"
How does fastify fare against [Spirit](https://github.com/spirit-js/spirit) which happens to also occupy the same performance region in the NodeJS ecosystem as fastify?

[2017-09-12 14:15] andreyunugro opened #207 "Reply Header Example in Docs: Response without Double Quoted"
Hi,
Maybe this example in the docs will help other noobs like me. :)

There is a note in [Reply Header](http://www.fastify.io/docs/v0.27.x/Reply/#header) documentation:
_Note that if you are using a custom serializer that does not serialize to JSON, you must set a custom 'Content-Type' header._

It is better if the documentation include an additional example to that note.
For example this simple c

[2017-09-12 14:23] mcollina commented on #206
I don't know. How about you send a PR to https://github.com/fastify/benchmarks?

[2017-09-12 14:27] motss opened #208 "elasticsearch plugin for fastify"
Is the fastify team working on a plugin to use Elasticsearch?

[2017-09-12 14:31] mcollina commented on #207
Thanks for opening the issue @andreyunugro! Would you like to send a PR?

[2017-09-12 14:50] mcollina commented on #208
No, but you can!

[2017-09-12 16:49] nacimgoura opened #210 "fastify.Router() is possible ?"
Hello,
thanks for your project :smiley:
Is it possible to do as with express:
`router = express.Router(),`
I have a problem, I did this in my index.js :
`app.register(require('./routes/route.js'), { prefix: '/api/indexation' });`
In my route.js, I did this :
[code]
But in my file indexWebsite I'm forced to put one more time `module.exports = (req, res)`
I would like to be able to import the route

[2017-09-12 17:06] delvedor commented on #210
Hi! Can you show us your `indexWebsite` file?

[2017-09-12 17:11] nileshmali opened #211 "logger option genReqId not working after lifecycle refactor."

[2017-09-12 17:28] delvedor commented on #211
You are right, I'll fix that :)

[2017-09-12 17:30] nacimgoura commented on #210
[code]
But I would like do this (like with expressjs) :
[code]

[2017-09-12 17:35] nileshmali commented on #211
Just a suggestion:
[code]
This could be:
[code]

[2017-09-12 17:43] gillesdemey opened #212 "HTTP server errors not surfaced"
Errors emitted by the HTTP server aren't passed to the listen callback, I understand that you can access the `server` property but surely we can do better here? :)

[code]

[2017-09-12 18:34] mcollina commented on #210
Fastify uses a different model than express. You can define a plugin, and those plugins will define their routes, according to the fastify API. You can use plain express as you said, but you will have little benefit: if that is your goal, you should keep using express.

[2017-09-12 18:34] #210 closed

[2017-09-12 18:47] nacimgoura commented on #210
Thank you for your respons :smiley:

[2017-09-12 20:06] StarpTech commented on #208
I don't understand the debate about "if you have plugin for X" fastify provides a plugin system you can implement anything. Pick the Node.js driver and do it!

[2017-09-12 20:19] delvedor commented on #208
Hi!
Thank you for checking out the project :)

As suggested by @mcollina you can easily write a plugin to support it, it's very easy!
Have a look at our [plugins guide](https://github.com/fastify/fastify/blob/master/docs/Plugins-Guide.md) and our [mongodb plugins](https://github.com/fastify/fastify-mongodb) as reference :)

[2017-09-12 20:28] jsumners commented on #207
The content type documentation is more explicit -- https://github.com/fastify/fastify/blob/master/docs/ContentTypeParser.md

[2017-09-12 20:52] jsumners commented on #208
@StarpTech there wasn't a debate. He simply asked a question and it has been answered. Please provide constructive feedback in the future.

[2017-09-12 21:08] jsumners commented on #180
I think this can be closed.

cc @delvedor @mcollina

[2017-09-12 21:12] #180 closed

[2017-09-12 21:13] StarpTech commented on #208
@jsumners I'm talking about this in general. That was not a nice answer but I just want to point it out. 🙏

[2017-09-12 21:26] allevo opened #214 ""http-method-override" header"
Because of https://github.com/fastify/fastify/pull/170, no hooks are fired before routing.

Unfortunately an API that allows the `http-method-ovveride` header to override the http method should replace the `method` request property with the header value. See [method-override](https://github.com/expressjs/method-override) for an example

How we can handle this?
Maybe a `prepareRequest` method can b

[2017-09-12 21:42] mcollina commented on #214
first of all, is that needed in 2017?

is there another case where we need to run something before routing? or we just need to support this as a core feature?

[2017-09-12 22:12] mcollina commented on #212
Surely you can send a pull request, this is OSS.

Joke aside, https://github.com/fastify/fastify/pull/215 fixes it.

[2017-09-12 22:22] #212 closed

[2017-09-12 22:23] allevo commented on #214
LOL 👍

Image that we have to create a CRUD on DB in REST API. The `GET` method is used to retrieve the data. We can use the querystring or filtering the data but in some case, the query reaches the max limit allowed from webserver and the backend receives a truncated querystring or a 414 error code.
Maybe you would use the body for defining your query. But... some clients don't allow this feature

[2017-09-12 22:26] mcollina commented on #214
@allevo it should be disabled by default, it might be a security risk.

Something like `'allowMethodOverride'` at route-level.

[2017-09-13 06:56] andreyunugro commented on #207
Hi @jsumners
The thing that I want is: fastify gives response as plain string without default JSON serialization and without other parser just for this 1 route api endpoint resource.
I am having doubt now, which is the correct way without sacrifice the speed. :)

Let me read the whole documenation again.
Thanks.

[2017-09-13 07:54] #211 closed

[2017-09-13 07:58] nileshmali commented on #211
Thanks Awesome!!!
That was quick.

[2017-09-13 08:57] nileshmali opened #216 "Feature: Add support for 'all' method in route definition"
I am trying to create proxy plugin for fastify where I need to intercept all http methods but I am not able to do that.
find-my-way router has support for `route.all` but fastify may not be supporting it yet.
Is it possible to add it?

If there is any other way to achieve this please let me know.

[2017-09-13 09:05] gillesdemey commented on #212
Sorry, I thought I'd open a ticket first as a courtesy :) I'll be sure to send in a PR next time! 🙏

[2017-09-13 09:06] delvedor commented on #216
Hi!
At the moment there is no way to do it in Fastify, but since is already supported in [find-my-way](https://github.com/delvedor/find-my-way) it should not be hard to implement.
I'll work on it :)

[2017-09-13 09:11] delvedor commented on #212
I think @mcollina was not saying that you should fire a pr instead of an issue, he was just pointing out the *tone* of your issue :)

I know it is not intended, but it sounds like an order ;)
Have a nice day!

[2017-09-13 09:31] andreyunugro commented on #207
Hi @jsumners,

I have read the document and try to code. :D
`addContentTypeParser` API does not automatically set header Content-Type for Reply.

Sample:
[code]
If there is a post request with header Content-Type text/plain to /post, the Reply output still default to JSON string (with double quote), not automatically change to text/plain.

Note: When I play around with addContentTypeParser, the va

[2017-09-14 08:09] delvedor commented on #191
Hi! Since https://github.com/fastify/fastify/pull/167 has just landed now is the right moment to work on this and https://github.com/fastify/fastify/issues/200 before release the next version :)

[2017-09-14 08:11] mcollina commented on #206
Closing it now, feel free to send a PR there.

[2017-09-14 08:11] #206 closed

[2017-09-14 08:12] StarpTech commented on #191
Nice. I will start asap.

[2017-09-14 08:29] allevo commented on #191
NB: you can fix https://github.com/fastify/fastify/issues/200 too

[2017-09-14 08:52] dcworldwide opened #219 "[Reqeust] Please add to techempower.com benchmark suite"
Would be interesting to see how you guys stack up.

E.g. https://www.techempower.com/benchmarks/#section=data-r14&hw=ph&test=fortune&c=5

[2017-09-14 10:33] mcollina commented on #219
Definitely, I will be interested too! Those benchmarks are independently developed, and I think it should not be our goal to help maintaining those. You should probably open an issue or send a PR there.

[2017-09-14 10:33] #219 closed

[2017-09-14 11:53] dcworldwide commented on #219
OK cool!

[2017-09-14 12:40] mahmed8003 opened #220 "Fastify OrientDB plugin"
https://www.npmjs.com/package/fastify-orientdb

OrientDB plugin for fastify.

[2017-09-14 12:45] delvedor commented on #220
Amazing, thank you! :)

[2017-09-14 14:43] delvedor commented on #220
Closed in #221

[2017-09-14 14:43] #220 closed

[2017-09-14 16:57] delvedor commented on #216
Done in #224

[2017-09-14 16:57] #216 closed

[2017-09-14 20:56] delvedor commented on #174
Closed by https://github.com/fastify/fastify/pull/182.

[2017-09-14 20:56] #174 closed

[2017-09-14 20:58] delvedor commented on #173
Closed by https://github.com/fastify/fastify/pull/167.

[2017-09-14 20:58] #173 closed

[2017-09-15 03:23] tundrax opened #225 "Separate plugin registration options from options passed to plugin instance"
As you know Hapi uses two types of options while registering plugins, which I find very useful.

1) `registrationOptions`: used by the framework while registering the plugin
2) `pluginOptions`: passed to the plugin instance while initializing

At first, this separation didn't make sense and was confusing to some point. After adopting `everything in plugins` approach in developing applications with

[2017-09-15 04:03] nileshmali commented on #216
Thats Awesome!!! 👍
Thanks

[2017-09-15 08:00] mcollina commented on #225
Thanks for reporting and kickstarting a discussion about this.

Fastify has a very different plugin system compared to Hapi, even if the API looks very similar. Plugins in Fastify are fully encapsulated, and there are multiple means to control scope in Fastify that simply are not possible in Hapi. A plugin in fastify can embed all its dependencies and be certain that those will not collide with ot

[2017-09-15 08:37] cagataycali commented on #208
A pull request for that would be good!

[2017-09-15 08:39] cagataycali commented on #197
For newcomers, easy to deploy their first fastify apps how to section,
I'll be upgrade version

[2017-09-15 08:40] muhammadfaizan opened #227 "bootstrapping fastify server"
is there any standard way of bootstrapping fastify application?
fastify-cli is an option though. but its not a full structure like express generator.

[2017-09-15 08:40] cagataycali commented on #185
Is there any news / updates?

[2017-09-15 09:13] tundrax commented on #225
@mcollina Thank you for clarifying your stance. I have to read fastify plugin system more thoroughly.

What about the `vhost` option for plugins, then devs can choose either `prefix` or `vhost` or both to scope the routes?

[2017-09-15 09:14] mcollina commented on #225
vhost is not supported yet, if you want to send a PR, it would be a nice feature to have. However we recommend to so the same using a web server in front.

[2017-09-15 11:44] delvedor commented on #185
I've created the repository, further discussions will be done there :)

https://github.com/fastify/example

[2017-09-15 11:44] #185 closed

[2017-09-15 12:18] jsumners opened #229 "v1.0.0 needs to be issued"
With the GitHub project fast approaching 2,500 stars, people need to be able to have confidence that the library they are using is stable. Looking at the roadmap today (https://github.com/fastify/fastify/projects/1) I can see that a couple new issues were added (#135 and #121), but I think the authentication issue has been solved (https://github.com/fastify/fastify-auth and https://github.com/fast

[2017-09-15 17:15] robinvdvleuten opened #231 "Logging errors to external service"
I've read the documentation a couple of times, but I can't figure out how to properly handle any error monitoring in your application. I would like to send them to [Sentry](https://docs.sentry.io/clients/javascript/) for example. Do you maybe have any starting point to look at?

[2017-09-15 19:15] lolo32 commented on #160
I just impemented onHeaders from express that you could use to do it. Just read the exemple.js file in the package: fastify-onheader.
I'm waiting for pull request to be accepted.

[2017-09-15 19:31] delvedor commented on #229
Features that we must implement before 1.0.0:
- 404/500 routes (https://github.com/fastify/fastify/issues/135)
- http caching headers (#121)
- Add headers to validation schema (#191)
- Add headers to `request` object (https://github.com/fastify/fastify/issues/200)
- Finish the implementation of [`fastify-swagger`](https://github.com/fastify/fastify-swagger)
- Take a final decision in https://githu

[2017-09-15 19:34] delvedor commented on #227
Hi! Thank you for checking out the project!
No, there is not a standard way to bootstrap the project, but we are building an example repository where we'll show our opinions about that :)

https://github.com/fastify/example

[2017-09-15 20:13] lolo32 commented on #160
I just impemented onHeaders from express that you could use to do it. Just read the exemple.js file in the package: fastify-onheader.
I'm waiting for pull request to be accepted.
I will make a package that match your needs

[2017-09-15 20:44] jsumners commented on #229
@delvedor you should have permissions to be able to edit the post. I am completely fine with that.

[2017-09-15 20:46] delvedor commented on #229
Done :)

[2017-09-15 20:49] cagataycali commented on #229
For first stable version, this proposals looks good for me! 🎉

[2017-09-15 23:01] jsumners commented on #160
This should be more generic than just for headers.

[2017-09-15 23:07] jsumners commented on #231
Well, the easiest way would be to use a Pino transport (http://getpino.io/#/?id=transports). But if that is unacceptable then I would pass in a preconfigured Pino instance, via the `logger` option, to Fastify. That logger instance would be configured with a custom stream that does whatever you would like. It could also be an instance of `pino-multi-stream` (https://www.npmjs.com/package/pino-multi

[2017-09-16 12:30] delvedor commented on #160
@jsumners the `onSend` hook will provide support for this and more :)

[2017-09-16 17:06] jsumners commented on #160
@delvedor right. I was responding to @lolo32.

[2017-09-16 19:04] jsumners commented on #229
I disagree with #169 being a blocker for 1.0.0. That is clearly a divisive proposal and unlikely to be settled any time soon.

[2017-09-17 10:14] StarpTech opened #235 "Customize error message"
Hi, I'm looking for a solution to customize the error message in fastify. It looks like it's not possible with the `onResponse` hook because I only have access to the raw `ServerResponse` object. I also found `extendServerError` but I have no access to the response context and I also can't use my own format without to extend it.

Another good reason is that I don't always want that the error messa

[2017-09-17 12:56] delvedor commented on #235
You can't customize the error message inside the `onResponse` hook, because the response has already been sent.
Check out [this](https://github.com/fastify/fastify/blob/master/fastify.js#L148-L164) lines.

Regarding the `extendeServerError` utility, it is used [here](https://github.com/fastify/fastify/blob/master/lib/reply.js#L71). At the moment you cannot know who has caused that error (hook, mid

[2017-09-17 13:02] StarpTech commented on #235
@delvedor Is there any reason that speaks against to pass the full error payload to `extendeServerError` ? We can decide based on the error.

[2017-09-17 13:31] motss commented on #235
I also agree that it'd be nice if we could further customize the error message before sending it out.

[2017-09-17 13:40] delvedor commented on #235
No, there is not :D
Fire a pr!

[2017-09-17 14:02] StarpTech commented on #235
Fastify checks for boom errors so it's possible to define a custom error response https://github.com/hapijs/hapi/blob/master/API.md#error-transformation we should add this to the documentation.

`_extendServerError` is not called when we use `Boom` whats the reason for this? This should be separated.

[2017-09-17 16:48] delvedor commented on #235
Currently we are providing a basic support for boom, I don't know if is a good idea use a Fastify api to modify the Boom object. @mcollina thoughts on this?

[2017-09-17 18:59] StarpTech commented on #235
I mean this is already possible and should be documented in the [error section](https://github.com/fastify/fastify/blob/master/docs/Reply.md#errors)

[code]

[2017-09-17 19:36] delvedor commented on #229
Yes, and since it is a *divisive proposal* I think we should take a final decision on that.
If we keep `req, reply` we should provide a better way to help user interact with both `request` and `reply` at the same time when creating a plugin.

[2017-09-17 21:51] allevo opened #237 "Problem encapsulation during close"
Hi,
  I have encountered a bug in encapsulation during the [fastify-example-twitter](https://github.com/fastify/fastify-example-twitter) development. My code is like this:

[code]

`fastify-mongodb` plugin [registers an `onClose` hook](https://github.com/fastify/fastify-mongodb/blob/master/index.js#L25)
When `fastify` is going to shut down, the plugin refers to the decorators that has set for the

[2017-09-17 22:00] allevo opened #238 "async + reply.send"
Hi,
  this handle responses always empty body with 200 status code
[code]

Maybe we need to figure out how to report (or throw an exception)
I lost 30minutes last time... 😢

[2017-09-18 07:24] mcollina commented on #238
Why it shouldn't?

[2017-09-18 07:30] delvedor commented on #238
In JavaScript if not specified every function return `undefined` at the end of its execution.
Since you are using `async/await`, [this](https://github.com/fastify/fastify/blob/master/lib/reply.js#L76-L78) will be triggered and that's why you get an empty body.

I'm wondering why we are not throwing an exception in that case, since you are calling `send` two times (one with the implicit return and

[2017-09-18 07:48] delvedor commented on #237
Ouch, this is a bug.
The `onClose` is not encapsulated because we are [using avvio](https://github.com/fastify/fastify/blob/master/lib/hooks.js#L25) to handle the closing phase.

I'll think about this.

[2017-09-18 07:55] mcollina commented on #238
In this block https://github.com/fastify/fastify/blob/master/lib/reply.js#L29-L31, `reply.sent` is set to true after a `setImmediate` ends.

When returning a Promise, the promise is passed in https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L120. In https://github.com/fastify/fastify/blob/master/lib/reply.js#L76-L78 we handle that promise. As you can see in https://github.com/fa

[2017-09-18 09:12] delvedor commented on #237
`ready` is affected by the same problem.

[2017-09-18 09:55] StarpTech opened #239 "Throw error when plugin callback is not called after certain amount of time"
This can be easy implemented with setTimeout e.g with a timeout of 5000. It's useful because when you have lots of plugins it's hard to find the root issue.

[code]

@mcollina

[2017-09-18 09:57] mcollina commented on #239
I have been bitten by this some times. I tend to agree that it is hard to debug if it happens.

[2017-09-18 10:00] mcollina commented on #239
I don't know if we can extract the plugin stacktrace externally when the timeout expires. It might get tricky.

Let me know if you have a solution. The plugin system is provided by https://github.com/mcollina/avvio.

[2017-09-18 10:02] StarpTech commented on #239
I think it would be enough to throw an error like "Callback from plugin `test` was not fired" ?

[2017-09-18 10:27] mcollina commented on #239
@StarpTech if the plugin is not a named function, we do not have any meta-info to populate that.

[2017-09-18 11:49] eljefedelrodeodeljefe commented on #55
Can you clarify in the docs specifically how to do stuff like `index.html` serving. I believe something was a breaking a change during 0.13. and now, since I cannot reproduce the old behaviour with the new version anymore.

Adding a test would be helpful to avoid regressions.

[2017-09-18 12:56] mcollina commented on #55
what do you mean the "old behavior"?

In 0.27.0 (and middie 2), we changed how `.use()`  works to better match how express works.
The old behavior was not necessarily correct.

On a side note, every release has tagged release notes on github (https://github.com/fastify/fastify/releases/tag/v0.27.0)

[2017-09-18 13:00] eljefedelrodeodeljefe commented on #55
tbh, I don't know. I can't seem to run any of the patterns `serve-static` would give me as `express` examples. But I was able before. So I thought I'd make this a request for docs :flushed:

[2017-09-18 13:03] mcollina commented on #55
Can you open up a new issue with a code example? Sorry for the inconvenience. I've added some integration checks in https://github.com/fastify/middie/blob/master/test.js#L219-L238, we need to something similar for fastify too.

[2017-09-18 13:24] delvedor commented on #239
I know that is not easy to spot the *"forgot to call `next`"* error, but I don't like the timer idea, if you have a functions that takes a lot of time to boot (for some reason) the timeout will throw every time.
Maybe we can be more specific about this inside the docs.

[2017-09-18 13:28] StarpTech commented on #239
This is bad practice and produces cascading errors and it's in no great implementaiton in an  event driven  environment. A flag could cover both cases.

[2017-09-18 16:31] mcollina commented on #169
I propose we close this. This ship as sailed and we cannot change such a fundamental API while we are trying to build an ecosystem.

[2017-09-18 16:32] jsumners commented on #169
I agree.

[2017-09-18 18:02] allevo opened #240 "Querystring schema as real json schema"
As title.

I'd like to remove extra query parameters using the `additionalProperties: false` ajv configuration set using the custom schemaCompiler.
Currently it is not possible.

[2017-09-18 19:50] DouglasHennrich opened #242 "Support for Socket.io ?"
There's a way to support socket.io? O saw that there's an websockets module, but I guess it doesn't work with `Socket.io`

Thanks and awesome project 👏

[2017-09-18 20:14] greenkeeper[bot] opened #243 "An in-range update of avvio is breaking the build 🚨"
## Version **2.1.0** of [avvio](https://github.com/mcollina/avvio) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Favvio-2.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      avvio
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versio

[2017-09-18 20:15] delvedor commented on #243
I'm working on this.

[2017-09-18 20:37] chymz commented on #242
Maybe, you can try this :

[code]

[2017-09-18 20:47] mcollina commented on #242
I'm not very conformtable with socket.io as a technology. Most browsers now supports websockets, why socket.io?

[2017-09-18 21:06] delvedor commented on #243
Fixed in https://github.com/mcollina/avvio/pull/26.

[2017-09-18 21:06] #243 closed

[2017-09-18 22:36] DouglasHennrich commented on #242
@mcollina My current server it's based on socket.io instead of websockets... that's why I'm asking for it so I can move my backend to `Fastify`.

@chymz I guess this works! Thanks 🙌

[2017-09-18 22:36] #242 closed

[2017-09-18 22:58] #237 closed

[2017-09-19 06:00] mcollina commented on #240
Would this be solved by https://github.com/fastify/fastify/pull/187?

cc @StarpTech

[2017-09-19 06:02] mcollina commented on #200
This was done in #234.

[2017-09-19 06:02] #200 closed

[2017-09-19 07:21] allevo commented on #240
I mean
[code]

[2017-09-19 08:59] JbIPS opened #245 "Unable to send a boolean"
Hi,

I'm playing around with this great lib but I went into a bit of trouble while migrating: I can't send correctly a boolean.
[code]

This returns an empty payload (surely because of https://github.com/fastify/fastify/blob/master/lib/reply.js#L33).

Is this an accepted behavior? If so, what's the recommendations for this use case? Thank you

[2017-09-19 09:12] delvedor commented on #245
Hi, thank you for checking out the project!
The correct way to use ´async/await´ in your case is to return `isEverythingGreat `.
[code]
You also have encountered a problem that we are fixing in https://github.com/fastify/fastify/pull/241, we'll also update the documentation to explain better how use correctly `async/await` functions.
Regarding the `false` payload value I'll make a pr :)

[2017-09-19 09:18] JbIPS commented on #245
Thank you @delvedor

I suppose I could do
[code]
too?

I'll wait for the merge to try it again 😄

[2017-09-19 09:20] delvedor commented on #245
Yes if `getFeelings ` returns a promise!
In the meantime you can checkout our [docs](https://github.com/fastify/fastify/blob/master/docs/Reply.md#promises) :D

[2017-09-19 11:06] #245 closed

[2017-09-19 12:52] StarpTech commented on #240
@allevo I also don't get your point. Do you mean we should add `removeAdditional: true` to the default configuration of Ajv?

[2017-09-19 13:14] JbIPS commented on #245
Tried master, it works perfectly! The code is not the only one to be incredibly fast on this project 😉

[2017-09-19 13:16] delvedor commented on #245
Ahaha, thanks!! :)

[2017-09-19 14:05] delvedor commented on #169
Agree, in the future we should figure out a way to make a better interaction between `req` and `reply`.

Thanks everyone for contributing!

[2017-09-19 14:16] #238 closed

[2017-09-19 14:37] mcollina opened #247 "Support async functions as hooks."
As titled.

[2017-09-19 14:40] delvedor opened #248 "schemaCompiler api"
At the moment the only way to change the `schemaCompiler` function is to assign a new function with
[code]
Since all our apis are functions based, we should create an api for this as well to be consistent with our system.

related: https://github.com/fastify/fastify/pull/187
cc @allevo

[2017-09-19 14:54] JbIPS opened #249 "Returned rejected Promise are not catchable"
I know the docs says
[code]
but I tried
[code]
because who needs variables?

The downside is that if the promise is rejected, even a `try/catch` won't catch it before fastify sends a 500
[code]
will return a 500.

I figured out adding `await` makes things OK but I think something's wrong elsewhere. Or is it a tweak for perf?

[2017-09-19 15:04] mcollina commented on #249
await is transparent.

Can you try with the master branch? We have just landed #241, which should improve things significantly in this area.

[2017-09-19 15:13] mcollina opened #250 "remove pino-http from docs"
https://github.com/fastify/fastify/blob/master/docs/Logging.md still mentions pino-http

[2017-09-19 15:15] mcollina opened #251 "document logging options"
https://github.com/fastify/fastify/blob/b29a9e3f2e9f564fb6e4198676c062be7b1ca0bf/fastify.js#L43 is not documented anywhere.

[2017-09-19 15:50] JbIPS commented on #249
Same thing on master:
`return await new Promise()` is caught, `return new Promise()` is not

[2017-09-19 16:21] mcollina commented on #249
can you please upload a full example, so that I understand what you are trying to do? We might have a bug in the promise error handling.

If you are using async-await, you should be using http://npm.im/make-promises-safe to avoid unhandled rejections.

[2017-09-19 16:31] motss commented on #249
@JbIPS Will your code cause any SyntaxError or UncaughtException?

[2017-09-19 17:18] mcollina commented on #249
In #252 I've added a test for the case, and it's passing. So maybe I'm not really understanding what's happening here.

[2017-09-19 17:26] allevo commented on #240
Sorry my bad, the fibers raise... Closed

[2017-09-19 17:26] #240 closed

[2017-09-19 19:25] delvedor commented on #247
Just to give an example:

[code]

[2017-09-19 20:01] StarpTech opened #256 "Add Windows CI"
e.g AppVeyor

[2017-09-19 20:35] chymz opened #257 "Get route options inside handler or inside preHandler hook"
Hi,
First of all : great job on this !

Maybe a little feature request : can we have an access to route options inside an handler or inside the preHandler hook ?

Here is a sample code :

[code]

It can be useful to add some metadatas on routes and read them in hooks, no ?

Thanks !

[2017-09-19 21:21] StarpTech opened #258 "Print stack trace of errors in handlers"
Hi, it's funny but during testing, I could the see error logs but couldn't discovering where the error comes from. As far I know only the `name` and `message` is logged and there is no option. We should add the stack trace to the error log. This is relevant if you use `async/await` or Promises.

Relevant parts:
https://github.com/fastify/fastify/blob/18b5992e371c910d2989c1574b61bc03a84f370b/lib/ha

[2017-09-19 22:26] allevo commented on #257
Hi,
  thanks for trying fastify out!

The route definition is stored into [`Store` object](https://github.com/fastify/fastify/blob/master/fastify.js#L419). In particular, if you define the route in this way:
[code]
the store has the `config` property set to the right value.

You can find the `Store` instance as the [`Reply` instance property](https://github.com/fastify/fastify/blob/master/lib/repl

[2017-09-19 22:32] allevo commented on #258
Can we use [this](https://github.com/fastify/fastify/blob/master/lib/logger.js#L40) strategy for the error serialization?

[2017-09-19 22:41] StarpTech commented on #229
I would add this to the list https://github.com/fastify/fastify/issues/258

[2017-09-19 22:44] allevo commented on #247
I'm not convinced this can be a good thing. Maintaining multiple interfaces are hard!

[2017-09-19 22:57] StarpTech commented on #257
@allevo we should add this to the docs

[2017-09-19 23:05] StarpTech commented on #258
We could use this https://github.com/pinojs/pino/blob/master/lib/serializers.js#L32

[2017-09-19 23:18] StarpTech opened #260 "Gracefully shutdown"
The server should shutdown gracefully that implicit

- Handle SIGINT, SIGTERM

[code]

[2017-09-19 23:30] jsumners commented on #258
I'd rather see an extra log line: `req._log.debug(err.stack)`

[2017-09-20 02:40] greenkeeper[bot] opened #261 "An in-range update of request is breaking the build 🚨"
## Version **2.82.0** of [request](https://github.com/request/request) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Frequest-2.82.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      request
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2017-09-20 03:13] cethap opened #262 "Error: plugin must be a function"
Hi,

When I try to run npm start with suggested configuration in package.json
[code]
and
[code]
the execution show me this:
[code]
But I don't understand the bug, because the contain of my file app.js is a basic example

[2017-09-20 04:11] wooliet opened #263 "Reply `send` Method Does Not Set 204 Status"
Documentation for `Reply` states that not sending any content results in `204` status response.

https://github.com/fastify/fastify/blob/master/docs/Reply.md#code

I don't think this is the case, but I might be missing something.

[_reply.js #37_](https://github.com/fastify/fastify/blob/master/lib/reply.js#L37)
[code]

From what I can tell, `res.statusCode` will already be set to `200` (its defaul

[2017-09-20 05:43] mcollina commented on #260
I’m really -1 to have them as default features. They seems very good ideas on the application side, but they cause loads of interactions with other modules, as process is a global.
I have aready been there.

IMHO it’s perfect content for a plugin.

[2017-09-20 06:42] mcollina commented on #257
@StarpTech PR?

[2017-09-20 07:12] robinvdvleuten commented on #231
Thanks for your explanation! So if I understand correctly; I create an additional stream which listens for any logged errors and the rest of the logging can be piped to pino as normal?

[2017-09-20 07:13] mcollina commented on #263
Good spot! I tend to say the code is assuming too much and it should not attach a status code. Would you mind sending a PR?

[2017-09-20 08:30] mcollina commented on #256
I would love to. I don't seem to be able to add appveyor to this organization.

[2017-09-20 08:34] StarpTech commented on #256
Why not?

[2017-09-20 08:40] mcollina commented on #256
I get this error on their side:

<img width="1034" alt="schermata 2017-09-20 alle 10 38 46" src="https://user-images.githubusercontent.com/52195/30634599-eed91d80-9def-11e7-9e1f-1c82b657aebe.png">

If you can find a guide or something similar to add it to a github org, I would be extremely happy to add them.

[2017-09-20 08:43] StarpTech commented on #256
1. Open an issue https://github.com/appveyor/ci :D
2. Sign up manually and then link

[2017-09-20 08:47] mcollina commented on #256
@StarpTech I've tried both ways and it did not work.

https://github.com/appveyor/ci/issues/1803

[2017-09-20 08:49] StarpTech commented on #256
crazy, this is a temporary issue my other project works great.

[2017-09-20 08:59] allevo commented on #262
Hi,
  your issue is not linked to the example complexity.
I image you are using [`fastify-cli`](https://github.com/fastify/fastify-cli). If so your file should export a function as described [here](https://github.com/fastify/fastify-cli#usage)
[code]

If your problem persist, please write your example down in order to be helped better

[2017-09-20 09:01] StarpTech commented on #258
I agree with that but with level error I created PR https://github.com/fastify/fastify/pull/264

[2017-09-20 09:15] mcollina commented on #229
@StarpTech done.

[2017-09-20 09:34] StarpTech commented on #260
Do you mean a plugin should emit the `onClose` hook and gracefully shutdown fastify?

[2017-09-20 09:35] mcollina commented on #260
You just need to add the logic to gracefully shutdown in the plugin, and call `close`  when `'SIGTERM'` is called.

[2017-09-20 09:36] StarpTech commented on #260
Add label "Plugin suggestion" ? :D

[2017-09-20 09:38] #251 closed

[2017-09-20 09:39] #258 closed

[2017-09-20 09:39] #250 closed

[2017-09-20 09:51] #227 closed

[2017-09-20 09:52] mcollina commented on #191
This has landed on master.

[2017-09-20 09:52] #191 closed

[2017-09-20 09:54] mcollina commented on #261
I think this was fixed, closing.

[2017-09-20 09:54] #261 closed

[2017-09-20 09:57] mcollina commented on #239
IMHO a `unref()` timer would solve this problem easily. How to implement it might be tricky, I'm attaching the "help wanted" label because I do not think we have time to work on this right now.

[2017-09-20 10:17] JbIPS commented on #249
I was adding a failing test case in your branch when it hit me that the problem must be that without `await`, the rejected won't be caught by `try/catch`.

So it has nothing to do with fastify ! Thank you for your time

[2017-09-20 10:17] #249 closed

[2017-09-20 10:56] nileshmali commented on #263
@mcollina You mean we should remove below block and update docs?
[code]

[2017-09-20 11:47] mcollina commented on #263
Yes.

[2017-09-20 12:55] jsumners commented on #231
@robinvdvleuten please read http://getpino.io/#/docs/transports .

Logs are written to `stdout` by default. So your process's `stdout` can be piped into some other process that will deal with the logs in whatever way you desire. There are already several transports that process logs in various ways, e.g. `pino-syslog` to transform the JSON logs into traditional syslog lines.

The other method, sup

[2017-09-20 14:06] Piezoid commented on #55
Since 0.27.0, routing is done before running any middlewares. This might explain why middlewares can't answer queries on undeclared routes.

[2017-09-20 15:10] mcollina commented on #181
I think we should implement HTTP/2 support using the `--expose-http2` flag in Node 8.

[2017-09-20 15:13] #179 closed

[2017-09-20 18:04] #263 closed

[2017-09-20 21:44] iCyberon opened #267 "Weird behavior with `fastify.register`, `async/await` and `point-of-view`"
Hey, during my initial tests I've encountered a weird issue related to `fastify.register` and `async/await`. Below is a simplified version of what I'm doing.

`app.js`
[code]

`plugins.js` is a wrapper to register plugins

[code]

`/plugins/views.js` is loaded by `plugins.js`
[code]

This doesn't work and I get an exception
[code]

But if I replace `const plugins = await readdir(path.join(__dirnam

[2017-09-20 22:08] iCyberon commented on #267
Here's a smaller code to replicate the issue.

[code]

[2017-09-20 22:12] mcollina commented on #267
What you are doing is clearly unsupported. I am a bit lost on why you would like to load fastify using async/await, maybe if you give us a little bit more context we can help.

We also accept PRs on all our modules. In fact, I think that the next version of avvio (I’ll release that tomirrow), might fix this.

[2017-09-20 22:18] mcollina opened #268 "remove request from our dependency tree"
Unfortunately, the request module do not follow semver and they have dropped support of a node.js major releases in one of their minor.

What alternatives do we have? Should we write a new one?

[2017-09-20 22:22] delvedor commented on #268
We could use [`simple-get`](https://github.com/feross/simple-get) or [`got`](https://github.com/sindresorhus/got).

[2017-09-20 22:23] iCyberon commented on #267
It's not about loading fastify in async, it's a consequence of trying to make the code cleaner.
Let's assume I have functions like
- `async loadPlugins()`
- `async loadMiddlewares()`
- `async loadUtilities()`

They are async because they need to scan directories, get info from db, etc... Basically I have three options - doing everything synchronously, using promises w/ chaining, using async/await.

[2017-09-20 22:29] delvedor commented on #267
Hi!
I suggest you to checkout our [plugins guide](https://github.com/fastify/fastify/blob/master/docs/Plugins-Guide.md) and our [plugin](https://github.com/fastify/fastify/blob/master/docs/Plugins.md) documentation.
There is no need to use `async/await` as your are doing, you could easily use the `register` api, which is designed to handle the asynchronous bootstrapping of an application :)
If you

[2017-09-20 23:04] iCyberon commented on #267
@delvedor, I might have been missing something. Just to clarify, my use-case is something like this.
App needs to connect to db and fetch some configs (not just once), those configs are used to instantiate plugins (list of plugins I need to load) and add some decorators like config (again, the content is fetched from db). So my options are:
- load everything at once from database first then instan

[2017-09-20 23:42] cagataycali commented on #197
I'm closing this issue for inactivity.

[2017-09-20 23:42] #197 closed

[2017-09-20 23:43] iCyberon opened #269 "reply.send doesn't work with async"
According to [Routes Documentation](https://github.com/fastify/fastify/blob/master/docs/Routes.md#async-await) `reply.send()` is a valid function inside `async`. This doesn't seem to work actually.

[code]

`async-return` works perfectly
[code]

`async-reply` does not return payload
[code]

[2017-09-20 23:51] cagataycali commented on #260
I think this should be done by the developer. How much do you need to plug in for this? What kind of usage do you think

[2017-09-21 00:01] cagataycali commented on #269
I've tried the example and you're right, I'm looking at

[2017-09-21 04:33] mcollina commented on #269
This is already fixed on master, it will be published in the next few days.

[2017-09-21 04:33] #269 closed

[2017-09-21 05:41] mcollina commented on #267
@iCyberon a problem in your code snippet is that register as a callback, which you are currently ignoring, and it ends up with two competing system (fastify/avvio and async/await) to asynchronously control the startup of the application. This is exercising some code path that we have not tested, and it probably has a bug.

If you would like to send a PR to help supporting your use case, we would b

[2017-09-21 05:52] mcollina commented on #268
I'd say https://www.npmjs.com/package/simple-get fits our need perfectly, but got is also beautiful.

[2017-09-21 06:43] mcollina commented on #55
@eljefedelrodeodeljefe @Piezoid I found it. This will be solved by #266.

[2017-09-21 06:47] #248 closed

[2017-09-21 08:02] allevo commented on #55
Anyway there'a a plugin: https://github.com/fastify/fastify-static :smiley:

[2017-09-21 08:09] iCyberon opened #271 "reply.view() throws inside async function"
Basically you can't use reply.view ([point-of-view](https://github.com/fastify/point-of-view) plugin) inside async function.
[code]

throws error
[code]

[2017-09-21 08:10] mcollina commented on #271
are you using 0.28?

[2017-09-21 08:12] iCyberon commented on #271
Yes, just updated fastify to 0.28 5 minutes ago to verify.

[2017-09-21 08:31] mcollina commented on #256
we have AppVeyor installed.
I'll send a PR later with the configs.

[2017-09-21 08:32] iCyberon opened #272 "fastify.listen crashes if callback not provided"
In v0.28 if no callback function is provided to `fastify.listen` it throws error

[code]
https://github.com/fastify/fastify/commit/4d6baea011dbb6e6852e2523fac7cad71bb3360d changed the behavior (wrap always requires _cb to be provided). I was handling server error differently, so I'm not sure if it's the best solution to require callback.

---
Here's what I was doing:
[code]

[2017-09-21 08:32] StarpTech commented on #256
Cool +1

[2017-09-21 08:36] StarpTech commented on #229
Hi, why is swagger a blocker for a major release?

[2017-09-21 08:46] #271 closed

[2017-09-21 08:46] #272 closed

[2017-09-21 08:49] mcollina commented on #271
Should be good in 0.28.1.

[2017-09-21 08:49] mcollina commented on #272
Should be good in 0.28.1.

[2017-09-21 10:16] #256 closed

[2017-09-21 12:19] jsumners commented on #229
@StarpTech for me, it's not. But I understand why it is. Fastify's goal is for writing RESTful API servers. Thus, it would be good to be able to support documenting those APIs. I think things like Swagger are way more trouble than their worth (the code for Swagger to read ends up being more than the actual method), but there's a lot of people that like it.

[2017-09-21 13:08] lfurzewaddock opened #277 "Question: routes and route schema best practice?"
Do you have any guidance for best practice to setting up routes, specifically;

1. _Route project/folder architecture:_ how to organise routes grouped by resource type under a 'routes' folder and best way to asynchronously load these into the app?

2. _Route schema:_ should a single generic schema be shared across routes of the same resource type, with properties which are only relevant to some of

[2017-09-21 16:19] mcollina commented on #277
1. organize your application by logical plugins, your unit of distributions between files are plugins, and those can be nested indefinitely. having a specific folder for "routes" does not scale well for complexity, you should follow the features of your application more. I tend to have a folder/plugin for users, carts, products, etc... We will be providing an example for this structure.

2. your s

[2017-09-21 16:27] StarpTech commented on #229
Ok, I understand it but it's still a plugin and not part of the core. Is anybody working on it? Should we discuss some proposals about the integration with fastify e.g configuration approach vs comments?

[2017-09-21 16:27] lfurzewaddock commented on #277
@mcollina, point 1 sounds sensible - do you have an ETA for your example app and perhaps link to watch?

[2017-09-21 16:40] mcollina commented on #229
The actual problem for 1.0.0 is that we had semver-major changes in the last 5 minor releases. I think our API has not settled yet.

[2017-09-21 17:24] mcollina commented on #277
We are working on things at https://github.com/fastify/fastify-example-twitter

[2017-09-21 20:05] StarpTech commented on #268
I also like https://github.com/mzabriskie/axios with automatic JSON support just as fastify.

[2017-09-22 04:45] rstacruz opened #278 "Question: keeping context between beforeHandlers"
Is it possible for one `beforeHandler` to hand off data to a handler?

Example: if you have an auth handler, it'd be nice to pass the current user to the primary handler. eg:

[code]

Polluting `req` seems like a weird thing to do.

[2017-09-22 04:46] rstacruz commented on #278
Also, the docs don't seem to mention `beforeHandlers` supporting async/await. does it?

[2017-09-22 08:45] mcollina commented on #278
@rstacruz have you checked out https://github.com/fastify/fastify-auth? It should do what you want.

As for `beforeHandlers`, would you like to send a PR to add support for async/await there?

[2017-09-22 17:23] alexhultman opened #280 "Credits are confusing & inaccurate"
Looking at the Git history of this repo, it is obvious that **Tomas Della Vedova** have committed **by far** the most from the very beginning to the end. It is also clear that he wrote the main component, the router. But if I then look at the LICENSE file I only see this line:

Copyright (c) 2016-2017 **Matteo Collina** and the Fastify team

The only name mentioned is Matteo Collina, which by the

[2017-09-22 21:31] allevo commented on #239
@StarpTech if you want: https://www.npmjs.com/package/fastify-register-timeout

[2017-09-22 22:41] delvedor commented on #280
Hi! Thank you for checking out the project!

In my opinion Open Source is not about who has written more code, but it is contributing to something, make it cool, learning new stuff, meet new people and help other people that might have your same problems.
I don't care who has written more code, I don't care about that at all.

The original idea of this framework was of @mcollina, and since we work

[2017-09-22 22:41] #280 closed

[2017-09-22 23:03] StarpTech commented on #239
@allevo nice thank you!

[2017-09-23 01:15] alexhultman commented on #280
Well from a legal point of view you already have copyright on what you have written, automatically, and since you have produced more copyrighted code you also own more copyright. I would argue you *should* be mentioned in the license and in fact stand as the main author since that is your legal right. Sugar in candy is the main ingredient and that's why it is listed first. This project contains mo

[2017-09-23 06:24] mcollina commented on #280
The problem in what you said @alexhultman are the words: “shady”, “taking advantage of”, and stuff like that. Like I am a monster that is exploiting @delvedor. I would argue that what Tomas and I do is our own business.

If ever we need to be grateful to some and put credits where they are due, we would have to put the names of LetzDoIt and nearForm, those companies sponsored most of the work here

[2017-09-23 08:56] mcollina commented on #229
I propose we drop fastify-swagger from the list. We can ship it later. 404 and 500 have already a PR open.. is there anyone that wants to add support for the http caching headers in Request and Reply, similar to what Hapi does?

[2017-09-23 11:03] alexhultman commented on #280
Yeah I guess Matteo Collina does what Matteo Collina does and Matteo Collina does not bother with proper credit disclosure. Have a nice weekend Matteo Collina, Matteo Collina deserved it. Bye Matteo Collina.

[2017-09-23 11:08] mcollina commented on #280
I've locked this conversation, as it is moving into a personal assault on me. Sorry.

[2017-09-23 12:34] #277 closed

[2017-09-23 12:36] mcollina opened #288 "Add support for async/await and Promises in hooks"
As titled.

[2017-09-23 12:36] mcollina commented on #239
This can be closed now.

[2017-09-23 12:36] #239 closed

[2017-09-23 12:37] mcollina commented on #231
C

[2017-09-23 12:37] #231 closed

[2017-09-23 12:37] mcollina commented on #186
This was fixed.

[2017-09-23 12:37] #186 closed

[2017-09-23 12:39] #190 closed

[2017-09-23 12:39] #288 closed

[2017-09-23 12:40] mcollina commented on #247
@allevo yes, but async/await would be big, and we need to fully support it.

[2017-09-23 12:41] mcollina commented on #262
This is a bug on `fastify-cli`, it really needs to print a better error message. Specifically, the function  **must** supply three parameters.

[2017-09-23 12:42] #225 closed

[2017-09-23 13:25] delvedor commented on #268
@StarpTech axios is definitely too big, at the moment we are using `request` which suffers the same problem. I prefer something more easy a lightweight.

[2017-09-23 13:29] mcollina opened #289 "Take code coverage to 99%"
As titled.

[2017-09-23 13:32] mcollina commented on #235
I think this can be closed, feel free to reopen if it's not the case.

[2017-09-23 13:32] #235 closed

[2017-09-23 14:03] StarpTech opened #290 "Generate TODO FIXME summary"
Should we add a script to summarize `TODO` and `FIXME` comments? I know almost any IDE has support for this but I think it would be useful to see the state with a simple command in the CLI.

e.g https://github.com/pgilad/leasot

[code]

[2017-09-23 14:20] jsumners commented on #229
+1 to Swagger not being a blocker.

I'm not entirely sure what needs to be done to tackle #121.

[2017-09-23 14:24] jsumners commented on #268
**simple-get**:

1. No extra dependencies: 👍
2. Old issue and, currently, month old PR with no response: 👎

**got**:

1. Many extra dependencies: 👎
2. Many open issues: 👎

I would vote `simple-get`.

[2017-09-23 14:26] jsumners commented on #289
Do you consider this a 1.0.0 blocker?

[2017-09-23 14:29] mcollina commented on #289
no.

[2017-09-23 14:40] jsumners commented on #290
Is this in response to #266 having TODOs in it? I'm quite sure they are there because @mcollina is still working on the PR. Or have you seen other TODOs in the codebase?

[2017-09-23 14:47] mcollina commented on #290
I don’t think there are plenty. I don’t think it’s worth automating a check right now, but feel free to open issues if there are.

I might ship #266 with some TODOs, because they are pretty harmless, and removing them might cause a big refactoring of find-my-way.

[2017-09-23 15:11] jsumners commented on #278
I brought this exact issue up in the original PR -- https://github.com/fastify/fastify/pull/115#issuecomment-312728729 . @delvedor's suggestion was to add them to the request as you are doing. And really that's all Hapi does; it just adds them to a consistent key.

[2017-09-23 15:14] jsumners opened #291 "onSend hook"
@lucamaraschi do you have code written for `onSend`? If so, is it public? I'd like to see if I can get this feature added. It is a critical blocker for 1.0.0, as well as something I want to develop. So I'd like to help in any way that I can.

[2017-09-23 15:35] StarpTech commented on #290
@jsumners yes
@mcollina ok that's fine for me then we should create an issue for any TODO / FIXME.

[2017-09-23 15:42] mcollina commented on #291
I don't think @lucamaraschi will have time to work on this in the coming week.
If you want to start something, please do - I do not think there is any code written yet.

[2017-09-23 16:08] jsumners commented on #291
I have already looked at it and I don't see how it is possible without some significant refactoring.

https://github.com/fastify/fastify/blob/master/lib/reply.js#L161 gets invoked without any context of the registered hooks (that I can see).

[2017-09-23 16:11] allevo commented on #289
I'll make a PR asap.

[2017-09-23 17:41] mcollina commented on #291
I reached out to @lucamaraschi and he said he has some code done ans he will send a PR asap.

[2017-09-23 18:39] jsumners commented on #291
Excellent.

[2017-09-23 18:45] StarpTech opened #294 "Ensure consistent fastify plugin quality"
We should provide a standard in quality.

- Travis (CI)
 - AppVeyor (Windows)
-  Code linter (standard)
- Pre-commit hook
- Documentation in readme
- License
- Code coverage report (__Lots of packages missing this__)

CI is missing here:
- [ ] https://github.com/fastify/fastify-cookie
  -  Add CI
- [ ] https://github.com/fastify/fastify-formbody
  -  Add CI
- [ ] https://github.com/fastify/fastify

[2017-09-23 18:49] jsumners commented on #294
Can you provide a reason to implement CI other than to say it's implemented on those plugins?

[2017-09-23 19:00] StarpTech commented on #294
For a meaningful signal to all visitors that this plugin

- works on Windows
- works on Linux
- that the functionality is checked continuously
- provide a isolated test environment

[2017-09-23 21:49] jsumners commented on #294
How does adding show something works on Windows?

I'm not diametrically opposed to the idea. I just don't think it is worth the time and effort on such small projects. `fastify-cookie` and `fastify-formbody` are single functions, and `fastify-bearer-auth` is a single function with an enclosed function (i.e. two functions). These are not complicated projects.

[2017-09-23 21:56] StarpTech commented on #294
AppVeyor is a CI which runs on windows. In my opinion it doesn't matter how big a project is. Continues Integration is always a big friend and travis is very easy to setup.

[2017-09-23 22:16] mcollina commented on #294
Setting up and maintaining AppVeyor integration takes time. I agree with @jsumners that if the module is small, there is no need. If by any chance somebody reports a bug that is Windows-specific, we can add them as needed.

[2017-09-23 22:21] StarpTech commented on #294
I think that's your first impression @mcollina. When the template is created it's a job of 5 minutes. When an issue occurs it's too late :) especially when the most people are using a unix system.

[2017-09-24 00:03] mcollina commented on #294
I do not think it should be a requirement. However, let’s put it as a nice to have. Same as for code coverage tracking. It’s a nice to have.

I want to be as lax as possible, while still providing good quality. Mysef or @delvedor have been reviewing all modules in the Readme.

I would argue that most of the production deployment are Linux-based, and bugs in development are less critical.

Travis i

[2017-09-24 00:09] StarpTech commented on #294
ok, let's define this as a reference for a great setup without to enforce something.

[2017-09-24 00:10] allevo opened #296 "Rethinking for docs"
I'm bit worried about our documentation.
The documentation is the second thing the developers look at: we need to be clear!

From my point of view, we have mixed the classic "Getting started" documentation with the classic "API Reference": some piece of documentation is written for learning `fastify` (like Middleware); other to list the options (like Server Method); other a mixin (like Reply).
Thi

[2017-09-24 00:12] allevo commented on #229
I'd like to add https://github.com/fastify/fastify/issues/296 to this list

[2017-09-24 00:26] jsumners commented on #294
Over in Pino land we have a (incomplete) template repository for transports -- https://github.com/pinojs/pino-sapling

Feel free to create one for Fastify.

[2017-09-24 00:27] jsumners commented on #296
I totally agree. I started working on at least fixing up grammar a few days ago, but I am super busy lately and haven't had time to complete it. Hopefully I can find some time this week.

[2017-09-24 00:28] jsumners commented on #229
@allevo done.

[2017-09-24 00:29] allevo commented on #296
@jsumners  Me too, I've no time for this.
But can we plan how to structure the docs?

[2017-09-24 00:40] jsumners commented on #296
One method would be how I refactored Pino's documentation -- https://github.com/pinojs/pino

I see Readme documents as introductions. They should not be the reference documentation for a large project. So I broke it up into parts, but made one big "jsdoc style" API document -- https://github.com/pinojs/pino/blob/master/docs/API.md . This gave us several documents, all linked from the Readme, that

[2017-09-24 02:55] dreamzoner opened #297 "HTTP POST/PUT without request body"
I would like to send a HTTP POST/PUT **without** request body to fastify server however I keep getting "415 Unsupported Media Type". The only workaround I have discovered is to put an empty json object in the request body. Can anyone shed some light on this?

[2017-09-24 03:11] jsumners commented on #297
Did you register a content type handler? https://github.com/fastify/fastify/blob/master/docs/ContentTypeParser.md

[2017-09-24 08:57] mcollina commented on #296
Our current docs are working, even if they are far from ideal!

I’m +1 on waiting for this to be solved. What we did for pino worked well.

[2017-09-24 10:58] StarpTech commented on #297
Hi @dreamzoner in general, you would need parser for `application/x-www-form-urlencoded` or `multipart/form-data` but if your call is `Idempotent` you can use `DELETE`  it does not expect a payload.

[2017-09-24 11:37] #290 closed

[2017-09-24 11:57] allevo commented on #297
This *may* be a bug. Which behaiour should be kept if I make a request without `Content-type` and with `Content-length: 0` headers?

The [RFC](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) is filled with *SHOULD*. So it depends if we want to be full compliant to the RFC or not.

[2017-09-24 12:30] StarpTech commented on #297
Since fastify only understand JSON by default it's correct behavior because empty body is invalid json payload.

[2017-09-24 12:54] jsumners commented on #121
Reference for people wishing to tackle this issue: https://tools.ietf.org/html/rfc2616#section-14.9

[2017-09-24 13:31] allevo commented on #121
But why should this be in fastify?
Cannot this be a plugin that installs some kind of middleware?

[2017-09-24 14:34] mcollina commented on #121
@allevo I mean we need to support what is written in https://hapijs.com/tutorials/caching?lang=en_US as "client side caching" _within_ fastify itself, and maybe server-side caching with plugin.

[2017-09-24 14:37] jsumners commented on #121
Oooh, okay. That gives me ideas....

[2017-09-24 16:18] allevo commented on #121
@mcollina `fastify` can simply parsing the header if we want (but again, why not in a middleware?) or provide a simple shorthand to set the cache header (but again, why not in a decorator?)

[2017-09-24 16:25] evanshortiss commented on #121
ETag support out of the box is great since it can save clients significant bandwidth, e.g for mobile devices consuming an API. Similar for other cache headers @jsumners linked.

I think things like `apicache` or my own `express-expeditious` fall into a different category.

[2017-09-24 16:38] evanshortiss commented on #121
Of course, performance-wise it might be best as a plugin - just sharing thoughts on general use case.

[2017-09-24 17:07] StarpTech commented on #260
Hi, could you check it out https://github.com/hemerajs/fastify-graceful-shutdown

[2017-09-24 18:24] mcollina commented on #121
Etag support out of the box destroys performance :/. After we have spent time generating a response, our cost has already been paid, and bandwidth is mostly cheap. 304s are better sent from a web server (nginx) or a CDN.

IMHO we should just provide some utilities to implement all of that if someone needs to. It’s a bunch of methods/accessors on Request and Reply.

[2017-09-24 18:24] jsumners commented on #121
Here's my initial implementation. I intend to look at `catbox` style support before an actual release. https://github.com/fastify/fastify-caching

[2017-09-24 18:26] mcollina commented on #121
good job! we need the accessor on Request as well!

[2017-09-24 18:32] jsumners commented on #260
You _really_ don't want to listen to `SIGTERM` and `SIGINT` from a library. You'll end up with code like:

+ https://github.com/pinojs/pino/blob/master/lib/events.js
+ https://github.com/pinojs/pino/blob/master/pino.js#L318-L339

And having to make _very clear_ to users that you have registered for those events. Once something is registered on those events Node does not perform its normal shutdown

[2017-09-24 18:33] jsumners commented on #121
@mcollina file bugs over on that repo so they can be a TODO list.

[2017-09-24 21:02] StarpTech commented on #260
What is the alternative to gracefully shutdown the application? You have to listen on events outside of your environment e.g in container environment or through a simple ctrl+c.

[2017-09-24 21:34] StarpTech commented on #260
I agree with you it can complicate things but at first, this functionality is provided as a plugin and if you know that you have one interface to release your resources, it's legitimate.

[2017-09-24 21:35] StarpTech commented on #260
Pino is always a part of a bigger application that's why you have to care about your environment. Fastify is the core of your application and if you want to release something use `fastify.graceful`

[2017-09-24 22:27] mcollina commented on #260
IMHO listening to those events in a library is always going to cause problems, as it is assuming that a framework is going to “control” the process. There are a lot of scenarios where that causes very hard to debug scenarios. IMHO it is not a functionality I’m ok to maintain, however if you want to release it as a plugin, it should contain a big warning that it should not be registered twice, or t

[2017-09-24 22:29] mcollina opened #299 "Review plugin list and move it to the docs"
The plugin list is becoming more crowded, and I think we should refactor it. I’ll like to divide it into two parts: core plugins (that we maintain), and ecosystem plugins (that are not part of the org).

Maybe we can divide them by functionality instead, and use another differentiator for the ones that we maintain directly.

[2017-09-24 22:37] jsumners commented on #299
As I mentioned before, I think categorizing the list is the way to go. I just couldn't think of catergories for many of them.

[2017-09-25 07:35] mcollina commented on #297
The problem lies in https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L28.
If there is no content-type, we return (correctly)  a 415, because we do not know how to parse that stuff. We might want to change this, it's pretty opinionated but it is correct: the application do not know what to do with that payload.

If there is no content-type and no content-length, _then_ we have a

[2017-09-25 08:06] mcollina commented on #299
👍  for categorizing them.

[2017-09-25 12:40] jsumners commented on #260
I just don't see the point. All of this is stuff I would put in a `processManagement.js` of my application, e.g. https://github.com/jscas/cas-server/blob/master/lib/processManagement.js. Applications should be managing the resources they use and libraries should be invisible.

[2017-09-25 12:53] #55 closed

[2017-09-25 12:53] #135 closed

[2017-09-25 12:57] StarpTech commented on #260
@jsumners I'm on your side but this plugin should just support it and centralize the functionality. If you create a plugin which has to clean up resources you can register it with `fastify.gracefulShutdown` I don't see the issue in this. You would create the same functionality in your plugin more than one time. This way is much simpler and maintainable.

The main difference is that we are talking

[2017-09-25 13:03] mcollina commented on #260
I don't see this discussing going anywhere. The functionality is already done inside a plugin and we can close this.

[2017-09-25 13:03] #260 closed

[2017-09-25 15:41] greenkeeper[bot] opened #301 "An in-range update of joi is breaking the build 🚨"
## Version **11.1.1** of [joi](https://github.com/hapijs/joi) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Fjoi-11.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      joi
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version
    </

[2017-09-25 16:22] delvedor commented on #299
👍 for categorizing them, then we can just add `community` or `core` tag.

[2017-09-25 16:24] delvedor commented on #297
Agree.

[2017-09-25 16:24] motss opened #303 "Express-like res.locals equivalent?"
Any Express-like `res.locals` equivalent?

[2017-09-25 18:50] StarpTech opened #304 "Document to use child logger per plugin"
[code]

[2017-09-25 20:05] miguelAliaga opened #305 "support to import"
hi, it is not an issue, is a question instead. How I use import syntax  and how to use
**--experimental-modules** used in node v8.5.0.

Thank for give us an amazing fw ;)

[2017-09-25 20:22] StarpTech commented on #305
Hi @miguelAliaga this question has nothing to do with fastify. Please ask questions about nodejs here https://github.com/nodejs but I try to answer your question.

There is also support for commonjs modules. You would require fastifiy like:  `import fastify from 'fastify'`

Here is a link to a turorial http://2ality.com/2017/09/native-esm-node.html if you don't know ES6 Modules.
BTW: I just want t

[2017-09-25 20:22] #305 closed

[2017-09-25 20:56] benderTheCrime opened #306 "express-style fastify app inheritance"
Is there any way I can not pass a function with several routes (fastify.register) and instead do something of the following nature:

[code]

similar to how express would do extensions for routes?

[2017-09-25 21:01] mcollina commented on #306
You can wrap each fastify app in a plugin, and specify a prefix in the option. It would be “mounted” under that prefix.

[2017-09-25 21:03] StarpTech commented on #306
Example:
[code]

[2017-09-25 21:18] StarpTech commented on #303
I see no problem to extend the `req` with a property like

res.locals
[code]

[2017-09-25 21:21] jsumners commented on #303
For the "problem" see https://twitter.com/matteocollina/status/912241856146280448

But it is currently the only method of doing this.

[2017-09-25 21:45] StarpTech commented on #303
Even with this performance lose `~5-10%` you are still faster than the others.

[2017-09-25 22:25] benderTheCrime commented on #306
Oh cool, so this is not such an edge case as I thought it was?

When you say:

How would I do that exactly?

In the plugin documentation, I see that the API for a plugin is:

[code]

so would I do something like:

[code]

or

[code]

making the whole example:

[code]

[2017-09-25 22:28] mcollina commented on #306
@StarpTech example is what you want. Basically you treat the `fastify`  instance in the plugin as the "main" fastify instance and you are done.

Fastify is built to support this use case really, without any performance loss.

[2017-09-25 23:56] benderTheCrime commented on #306
Ok, thanks for getting back to me! So I'm having a little difficulty with this.

I'm using fastify@0.29.0.

Here's the code I'm using based on your recommendations:

[code]

And here's the error I'm getting:

[code]

I've also tried replacing the nested `fastify.register` with `this.register`, but it doesn't appear as though the context there is defined/a fastify app.

Could you please let me know

[2017-09-25 23:59] benderTheCrime commented on #306
Oh, wait, hold on, you're saying:

[code]

Let me try that.

[2017-09-26 00:07] benderTheCrime commented on #306
@mcollina I think I finally understand where the disconnect was, I'm sorry for not being more explicit earlier.

Let's say I cannot describe my routes inside of a plugin as described in the examples you and @StarpTech provided and I already have Fastify apps A and B and I want to include all of the content in app B inside of app A as disclosed above:

[code]

For all intents and purposes, `exposed

[2017-09-26 00:51] jsumners commented on #306
[code]

[2017-09-26 01:02] benderTheCrime commented on #306
@jsumners I'm afraid that doesn't really take care of what I'm looking for either.

In any case, it sounds like there's not a way to do what I'm looking for: just using an existing app inside of another app. A full example of this with express would be:

[code]

only, I would like to do it with fastify. In my case, I can't just restructure because I don't know what "someOtherExpressApp" contains.

[2017-09-26 01:02] #306 closed

[2017-09-26 01:22] jsumners commented on #306
I think you might benefit from watching @mcollina's presentation on Fastify -- http://www.nodesummit.com/videos/?the-video=34

He directly addresses the pattern of composing many instances of Express.

[2017-09-26 06:53] mcollina commented on #306
Every application in fastify should be exposed as a plugin, _not_ tweaking the main instance. Then, you can register multiple applications/plugins on top of it. **Your use case is totally supported, but with a different API**.

[2017-09-26 10:06] mcollina opened #308 "fork boom and shot"
The Hapi community is moving to support only Node 8+.
I do not think this is a message that we can stand behind, as I believe we should support all the maintained versions of Node, and remove them when it is not feasible to support the old ones anymore.

If we want to provide boom-like capabilities, we should fork it and maintain it ourselves.
The same reasoning holds for shot.

[2017-09-26 10:40] lmammino commented on #308
for what concerns boom, what about replacing it with [http-errors](https://www.npmjs.com/package/http-errors) so that we don't have to maintain a fork ourselves?

[2017-09-26 10:59] StarpTech commented on #308
@lmammino boom is very well-known and I like the API. We also have boom integrated into Fastify.  I see no problem in to maintain a fork because the API and the functionality are settled. I only see the problem in versioning for the users (an example shot@3) . What's the option to create new projects based on the forks ? (foom, inject)

[2017-09-26 11:07] benderTheCrime commented on #306
@jsumners thanks for sharing, I'll do that!

[2017-09-26 11:14] benderTheCrime commented on #306
@mcollina I plan to look over the docs again and watch the video @jsumners shared, but I don't think that I'm splitting hairs when I say:

I'm not opposed to structuring my API differently, however, my use case is derived from multiple developer defining their own routes on an application to be used by the main application instance. In essence, the very use case I'm describing is that I can't chan

[2017-09-26 11:19] mcollina commented on #306
The same patterns hold with register. Each sub application (when not using fastify-plugin), would be completely encapsulated from the others via prototypical inheritance. This allow us to have zero-cost sub applications (instead of what you do with Express). It’s a different model designed for better performance: let us know how you progress!

[2017-09-26 12:12] jsumners commented on #308
The only async I see in Boom is in the tests -- https://github.com/hapijs/boom/search?utf8=%E2%9C%93&q=async&type=

[2017-09-26 12:15] StarpTech commented on #308
@jsumners stale index loot at https://github.com/hapijs/boom/blob/master/test/index.js

[2017-09-26 13:02] delvedor commented on #303
That is true, but we want that Fastify is "fast", not "still fast".
Every change, even if very little has a cost. We were able to make fastify so fast and support different features because we worked hard on all the small and "still faster" things :)

If you want to make this very fast this could be a way:
[code]

In this way you are decorating the prototype of the `Reply`instance and V8 will be s

[2017-09-26 13:04] delvedor commented on #278
Closing this, if you have more questions feel free to reopen :)

[2017-09-26 13:04] #278 closed

[2017-09-26 13:06] delvedor commented on #304
We could do this automatically inside Fastify when the user passes us an option like `name`. @mcollina thoughts?

[2017-09-26 13:07] jsumners commented on #303
Ah, yes, nice solution. 👍

[2017-09-26 13:07] delvedor commented on #267
Closing this, if you have more questions feel free to reopen :)

[2017-09-26 13:07] #267 closed

[2017-09-26 13:10] delvedor commented on #305
Hi @miguelAliaga, thank you for checking out the project!
`import` is just syntax, it is supported :)

Obviously you can't do something like:
[code]
Because `import` works in a different way compared to `require`, since `require` is synchronous and works at runtime, while `import` works before your code starts.
Checkout the [import documentation](https://developer.mozilla.org/en-US/docs/Web/JavaSc

[2017-09-26 13:11] StarpTech commented on #303
but `reply.locals` is not accessible in middlewares.

[2017-09-26 13:13] StarpTech commented on #304
I already thought about the same but I also like the convention approach.

[2017-09-26 13:14] delvedor commented on #303
Right, it depends where do you need it.
If you want very performant code, I would avoid middlewares :stuck_out_tongue_winking_eye:

[2017-09-26 13:17] StarpTech commented on #303
That wasn't the question 😜 He wants to have express like `locals` .

[2017-09-26 13:23] mujtabazaidi commented on #55
It's Fixed! thanks.

[2017-09-26 16:05] mcollina commented on #304
We don’t have the data (the name of the plugin) to do this, and all the
requests have their own with the reqId.

I would prefer a convention approach.
Il giorno mar 26 set 2017 alle 14:13 Dustin Deus <notifications@github.com>
ha scritto:

[2017-09-26 23:52] greenkeeper[bot] opened #309 "An in-range update of typescript is breaking the build 🚨"
## Version **2.5.3** of [typescript](https://github.com/Microsoft/TypeScript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Ftypescript-2.5.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      typescript
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-09-27 07:08] delvedor commented on #304
Yes, my idea was to create a child logger **if** the user passes a `name` option.
[code]

[2017-09-27 11:36] mcollina commented on #308
I think we should support https://www.npmjs.com/package/http-errors and mention it in the docs, maybe we can keep a light support for that version of `Boom` and add a note on Boom supported  versions in the README.

[2017-09-27 12:23] jsumners commented on #304
If that were going to be supported then I suggest a breaking change to the way options are passed to plugins:

[code]

[2017-09-27 13:11] delvedor commented on #304
@jsumners this could be an interesting discussion.

Related: https://github.com/fastify/fastify/issues/225

[2017-09-27 13:16] jsumners commented on #304
@delvedor sort of. Hapi actually solves this particular problem in a different way than the discussion in #225. Hapi requires plugins export an `attributes` property on the exported object, e.g.:

[code]

[2017-09-27 14:08] StarpTech commented on #304
I like the export of an `attribute` property because of separation of concern `metadata` and `plugin`

[code]

[2017-09-27 17:12] delvedor commented on #122
Closed in https://github.com/delvedor/find-my-way/issues/17.

[2017-09-27 17:12] #122 closed

[2017-09-27 17:27] mcollina commented on #304
I am 👎  on making that mandatory, I'm 👍  on supporting it.

[2017-09-27 17:29] delvedor commented on #304
I like the `attribute` idea.
If we choose to use it, we should also update how the `prefix`option works at the moment.

[2017-09-27 17:45] StarpTech commented on #304
@mcollina nothing is mandatory. If you use `attributes.name` or named the function it will be used as plugin. If you use `attributes.api` fastify will wrap it with `fastify-plugin`.

[2017-09-27 19:04] allevo commented on #308
`http-errors` has no method for rendering the error and doesn't support all `boom` features.

We need to figure out if we want to keep the boom features and how

[2017-09-27 19:14] StarpTech commented on #308
I try it against. Why not create new projects based on boom (BSD-3 license) and shot (BSD-3license) ?

[2017-09-27 19:52] delvedor commented on #308
I'm working on a library like `shot` that should fix the problem.
Regarding Boom, I'm open to other solutions, I'm not a Boom user, but it seems that a lot of people are. So we should try to support it as well as we can.

[2017-09-27 20:02] allevo commented on #308
@delvedor why not a `fastify` plugin?

[code]

If that plugin supports a `Boom` like interface, all thing should work correctly!

[2017-09-27 21:10] rodrigogs commented on #267
I'm having the same issue, I think...

Here's my sippet:
[code]

Inside the callback app.Router is undefined, but if I execute is outside of a Promise it behaves normally... any idea why?

[2017-09-28 08:16] delvedor commented on #297
Hi @futurist! You have just found a bug :P
If you do:
[code]
The content type `application/jsoff` will work, but if you declare the `application/jsoff` after the empty string, `application/jsoff` will not work anymore.

I agree that we should not allow the use of an *empty string* content type parser.
I'll fix this soon.

[2017-09-28 08:26] futurist commented on #297
I really want fastify can handle empty content type, that just return raw body string AS IS, I just use fastify hours ago, but found the content-type problem is a big confuse to me.

Is it possible to handle `empty string` just like `text/plain`? Think in browser, if a server don't know what's the `mime-type`, just return raw text. For upload data, if lost content-type, can we handle a similar way

[2017-09-28 08:34] delvedor commented on #297
We could add a *catch all* content type parser, that should fix what you are proposing, something like:
[code]
That would work like the router, if there is a content type parser it will use that, otherwise the *catch all* will get that request. What do you think?
cc @mcollina

[2017-09-28 08:40] futurist commented on #297
That way the content-type can extended with [glob](https://github.com/isaacs/node-glob) like? not just empty content-type, but also strings like `application/*`, `*/json`, `*/*` etc? Or just using RegExp as first argument? Like `express route` does.

[2017-09-28 10:01] lmammino opened #314 "Update URL in the repo description"
new url is `https://www.fastify.io` 😉

[2017-09-28 12:16] delvedor commented on #308
We have forked `shot`, the project is under the Fastify organization.
[`fastify/light-my-request`](https://github.com/fastify/light-my-request).

[2017-09-28 13:46] delvedor commented on #314
Done, thanks!!

[2017-09-28 13:46] #314 closed

[2017-09-29 10:13] delvedor commented on #303
Closing this, if you have more questions feel free to reopen :)

[2017-09-29 10:13] #303 closed

[2017-09-29 10:13] mcollina commented on #308
I am closing this, as in the end there is no reason to fork boom, as we don’t depend on it directly.

[2017-09-29 10:13] #308 closed

[2017-09-29 10:35] delvedor commented on #267
@rodrigogs can you paste also the `router` code?
I don't understand the need of the promise.

Inside the callback you can't access `app.Router` because the register calls are encapsulated, checkout our [plugins guide](https://github.com/fastify/fastify/blob/master/docs/Plugins-Guide.md), it might help :)

[2017-09-29 17:56] allevo commented on #291
I'm seeing there're no issues that link this one. Any updates?

[2017-09-29 21:45] benderTheCrime opened #319 "`reply.send` is not available from inside of middlewares"
Hey All,

I'm having a strange issue with middlewares. AFAIK I'm using the most recent version of fastify.

It says [here](https://github.com/fastify/fastify/blob/master/docs/Middlewares.md):

I have put together some sample code:

[code]

In the above example, if I hit "http://localhost:8080/ping," I get an error because `res.send` does not exist.

Is this hook not exposed until all of the middle

[2017-09-29 22:12] allevo commented on #319
Hi!
 and thank for checking `fastify` out!

Probably the documentation lacks to mention that the `req` and `res` are [`IncomingRequest`](https://nodejs.org/docs/v6.9.4/api/http.html#http_class_http_incomingmessage) and [`ServerResponse`](https://nodejs.org/docs/v6.9.4/api/http.html#http_class_http_serverresponse) instance respectively. So, you should call only methods defined in the nodejs documen

[2017-09-29 22:15] rodrigogs commented on #267
How not?

[code]

This example works perfectly. It just doesn't work when executed inside a promise... wich makes no sense to me.

Router code is here: https://github.com/rodrigogs/fastify-router

[2017-09-29 22:17] rodrigogs commented on #267
I already came with a solution, sinse the promise I was using were useless. But I still wonder why the same code wont work inside a promise. :/

[2017-09-29 22:38] benderTheCrime commented on #319
Thanks for getting back to me.

I feel like it somewhat violates the spirit of having an Express-compliant middleware engine if I can't take a middleware I was using with Express and plug it into Fastify.

Follow up question: wouldn't wrapping req/res with Request/Reply be _just as fast_ if you wrapped it before as opposed to after the middlewares phase? What would the side effects/implications ac

[2017-09-30 19:34] bhanuc opened #321 "Lastest Joi breaks for querystring validation"
Fastify version: 0.29.0,
Joi Version: 11.1.1
Sample Code to replicate issue:
[code]
Err thrown on console -> TypeError: Cannot read property 'bind' of undefined  on line -`return schema.validate.bind(schema)` in schemaCompiler function.
Error originates from - https://github.com/fastify/fastify/blob/master/lib/validation.js#L53 where opts.schema.querystring.type is actually a function, but shouldn

[2017-10-01 08:59] delvedor commented on #321
Hi! Thank you for checking out the project!
Have a look at our [documentation](https://github.com/fastify/fastify/blob/master/docs/Validation-And-Serialize.md#schema-compiler), `Joi` should be handled in a slightly different way :)

[2017-10-01 09:14] greenkeeper[bot] opened #322 "An in-range update of find-my-way is breaking the build 🚨"
## Version **1.6.2** of [find-my-way](https://github.com/delvedor/find-my-way) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify/compare/greenkeeper%2Ffind-my-way-1.6.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      find-my-way
    </td>
  </tr>
  <tr>
    <th align=le

[2017-10-01 09:16] delvedor commented on #322
Fixed in https://github.com/fastify/fastify/pull/318.

[2017-10-01 09:16] #322 closed

[2017-10-01 18:21] AVVS opened #324 "find-my-way update, 404 handler issue"
Original description - https://github.com/delvedor/find-my-way/issues/32

I assume that either find-my-way should allow `/*` routes, or it should simply be a `*` route and for cases where we want to add prefix (do we?), should just do `(prefix ? prefix + '/' + star : star)`

[2017-10-01 20:04] bhanuc commented on #321
@delvedor Thanks for prompt reply. Had followed the documentation on the website which was displaying the old method, seems it has also gotten updated since then. Loved the integration with joi, was starting a new project and fastify seemed to fit the bill. Would love to get involved with the project.

[2017-10-01 20:04] #321 closed

[2017-10-01 20:20] bhanuc commented on #268
Have you guys checked out [needle](https://github.com/tomas/needle) and [superagent](https://github.com/visionmedia/superagent)

[2017-10-02 03:06] benderTheCrime opened #325 "Cannot recycle an existing app: "listening" prevents restarting an existing web application"
Seen here: https://github.com/fastify/fastify/blob/master/fastify.js#L76

I'm unable to start a fastify instance that has been closed as a result of the listening on close. This should be easily fixable, so I'll make a quick attempt!

[2017-10-02 07:49] delvedor commented on #325
Hi!
You can't recycle an instance, because [avvio](https://github.com/mcollina/avvio), our plugin manager does not allow that.
The recommended method is to have a builder function that bootstraps a new Fastify instance every time you need it.

[code]
In this way if you call `close` you will shoutdown the current instance, and if you need a new one just use again the build function.

We guarantee t

[2017-10-02 12:46] benderTheCrime commented on #325
Thanks for getting back to me! Truth be told I tried to do this last night and was met with some pain.

I see what you're saying, but exporting a single instance of a service and scaffolding a new one each time I would like to restart are two different things fundamentally. They are not really interchangeable.

[2017-10-02 12:52] delvedor commented on #325
Maybe I'm missing the point, what you want to do?

Remember that use the `close` api will trigger all the `onClose` hooks, for example if you are using a database connector (such as [`fastify-mongodb`](https://github.com/fastify/fastify-mongodb)), the connection to the database will be closed.
The only way to reopen it is to rebuild a new instance of fastify :)

[2017-10-02 12:59] benderTheCrime commented on #325
Right, I don't think you missed the point. I want to close and then restart an existing fastify instance. I trust you're right that it's not possible, but a factory is not the same as stopping and restarting an instance!

[2017-10-02 13:03] benderTheCrime commented on #325
Couldn't I just start/stop the underlying `fastify.server` independent of the fastify `listen` method?

[2017-10-02 13:04] delvedor commented on #325
Ah ok!
Yeah, is not the same thing, but at the moment is the way to do it :D
Why do you need to restart the same exact instance?

[2017-10-02 13:05] wuchuwei opened #326 "Does fastify contain cors ?"
Does fastify contain cors
thx

[2017-10-02 13:06] delvedor commented on #325
You can, fastify exposes the raw server instance of the http server, you can access it via `fastify.server`.

[2017-10-02 13:08] StarpTech commented on #325
@benderTheCrime It's uncommon to restart a server. In terms of fault tolerance, it's much safer and best practice to come back in a clear state and this is only possible with a new and fresh restart.

[2017-10-02 13:08] benderTheCrime commented on #325
It's a pretty wonky use case, but the short answer is: the actual fastify instance is an export.

I've tested starting and stopping with the `fastify.server` and this works quite well, thanks!

[2017-10-02 13:08] #325 closed

[2017-10-02 13:09] benderTheCrime commented on #325
@StarpTech you're probably right about this being a minimal use case, but truth be told, I'd rather have the capability of doing so than not!

[2017-10-02 13:14] StarpTech commented on #326
Good question. We should definitely support this as a plugin. @delvedor WDYT.

[2017-10-02 13:15] StarpTech commented on #326
We could take [this](https://github.com/hapijs/hapi/blob/master/lib/cors.js) as a template.

[2017-10-02 13:18] delvedor commented on #326
It is not supported in core, but it could be a perfect plugin!

[2017-10-02 13:21] mcollina commented on #326
you can use the http://npm.im/cors module through our middleware support.

[2017-10-02 13:27] StarpTech commented on #326
Example
[code]

@mcollina but we don't provide a way to attach specific middleware to a route correct?

[2017-10-02 20:27] mcollina commented on #326
@StarpTech it should be `fastify.use(cors())`.

[2017-10-02 23:23] benderTheCrime commented on #319
Also, any recommendations you might have for workarounds to use a middleware with a `res.send` call with fastify would also greatly be appreciated! Would it be possible to perhaps wrap the InternalResponse in a Reply that would then be wrapped in a Reply?

[2017-10-03 08:11] allevo commented on #319
Hi, sorry for the delay.
In fastify the middlewares has not the fastify wrappers as argument. So, the `send` method is not defined.

Anyway, you always use the nodejs code methods like [`end`](https://nodejs.org/docs/latest/api/http.html#http_response_end_data_encoding_callback) and [`setHeader`](https://nodejs.org/docs/latest/api/http.html#http_response_setheader_name_value)

Express works differ

[2017-10-03 12:19] jsumners opened #327 "Possible custom Request and Reply objects?"
There's a PR to Node under review that would add the ability to create an instance of `http.Server` with custom Request and Reply objects -- https://github.com/nodejs/node/pull/15752. If this gets accepted, I think it will be a powerful feature that Fastify could leverage. I'm opening this issue to start the discussion about such a possibility.

[2017-10-03 12:34] allevo commented on #327
Wow! thanks for sharing the link!

Anyway that PR don't completely cover the fastify encapsulation feature. But if the context is the global maybe we can use it! We need to figure out how to support it with different node versions.

[2017-10-03 13:17] benderTheCrime commented on #319
Would you mind if I opened a PR to issue an update to the documentation to reflect this?

[2017-10-03 13:43] allevo commented on #319
Yes, if you find documentation not so clean, please fire a PR!
We'll discuss the changes in that issue

[2017-10-03 14:18] benderTheCrime commented on #319
https://github.com/fastify/fastify/pull/328

[2017-10-03 14:18] #319 closed

[2017-10-03 14:57] LiljebergXYZ opened #329 "Issue while using register inside a register function"
I'm sorry if this is a duplicate, I've been trying to see if this was a known issue or not but did not find any information.

Basically the issue that I have noticed is that if you use the `register` function to create a /parent route and then use `register` again inside that parent route, only the first route will actually be registered.

Is this the intended behaviour, or am I just missing somet

[2017-10-03 15:27] StarpTech commented on #329
Hi @LiljebergXYZ add new routes in a seperate plugin. This is important because any plugin is encapsulated.

[code]

[2017-10-03 15:32] StarpTech commented on #329
I tried but it doesn't work. It look like a limitation or bug

[code]

- Call to `/child1` returns `I am child 1`
- Call to `/child2` returns `404`

[2017-10-03 15:44] delvedor commented on #329
Hi! Thank you for checking out the project!
I confirm you have just spotted a bug in our prefix system :D

I'll fix that asap :)

ps, `next` should be called when you have finished your work inside your plugin, if inside a plugin you call one or more nested register you should call next once all the others have finished:
[code]
Or:
[code]

[2017-10-03 15:53] mcollina commented on #329
@delvedor that should not be necessary, it's definitely a bug.

[2017-10-03 20:16] LiljebergXYZ commented on #329
@delvedor Glad to hear I wasn't just being crazy. I sat for a long while trying to debug and see what happened, so I figured I'd submit a bug report instead.
Thanks for the info on `next()` I'll keep that in mind, cheers!

[2017-10-04 08:18] delvedor commented on #309
@evanshortiss can you check this please?

[2017-10-04 08:21] delvedor commented on #301
This was an error inside Travis, closing.

[2017-10-04 08:21] #301 closed

[2017-10-04 16:06] kojilab opened #331 "array type in response schema"
Hi,

I am playing with the framework to know if I should keep using it and this crashes the server when I npm server. Not sure why and I couldn't find anything in the docs. Thanks for your insight!

[code]

[code]

[2017-10-04 20:00] allevo commented on #331
This seems to be a `fast-json-stringify` issue: [here](https://github.com/fastify/fast-json-stringify/blob/master/index.js#L401) the code accesses to `items['$refs']` directly without checking if `items` exists.

Please report this as `fast-json-stringify` bug [here](https://github.com/fastify/fast-json-stringify/issues)

[2017-10-04 20:04] evanshortiss commented on #309
@delvedor will take a look later US eastern time  👍

[2017-10-04 20:18] kojilab commented on #331
Done. Thanks!

[2017-10-04 20:18] #331 closed

[2017-10-04 20:22] delvedor commented on #309
Thanks!

[2017-10-05 13:21] evanshortiss commented on #309
@delvedor attempted to replicate the build locally using npm@2.15.11 and node@4.8.4. No issues to report locally. Wondering is it a one off error from the build machine/npm since it seems npm returned a 400 response during `npm install`:

[code]

Possible to run it again?

[2017-10-05 20:05] LiljebergXYZ commented on #329
While looking into and trying to fix this, I noticed that the url that is working instead is `/parent/child1/child2`

[2017-10-05 21:56] mcollina commented on #329
I am working on a fix, it will be out next week

[2017-10-07 23:27] Ethan-Arrowood commented on #262
@mcollina I got this one 😉

[2017-10-08 09:02] #262 closed

[2017-10-09 07:08] #329 closed

[2017-10-09 10:30] StarpTech opened #336 "Make architectural recommendation"
For some of the dev, those principles are standard refer to testability and modularity but we should definitely document this. We can adapt this for fastify and prepare some nice slides.

I like the picture.
https://github.com/kimmobrunfeldt/express-example

[2017-10-09 20:55] Ethan-Arrowood commented on #289
If you have a specific part of the code that hasn't been covered I'd be interested in writing some unit tests for it.

[2017-10-09 21:13] delvedor commented on #289
@Ethan-Arrowood  thanks you for checking out the project!
You can find [here](https://coveralls.io/github/fastify/fastify?branch=master) the coverage status of the master branch, it will also tell you which part of the code that are not covered by some tests :)

[2017-10-09 21:16] Ethan-Arrowood commented on #289
Awesome, I'll see what I can come up with!

[2017-10-09 22:27] aaronshaf opened #337 "OpenAPI integration"
Would be cool to declare routes, schemas, etc. with OpenAPI 3.0 (AKA the new Swagger).

[2017-10-10 05:31] mcollina commented on #337
Of course! What is different from what we currently have? What we should change? Have you checked out fastify-swagger (there is an active PR in there)?

Would you like to help?

[2017-10-10 07:18] mcollina commented on #297
I would like to restrain in adding regexp-matching capabilities here. Those are very costly in term of performance. I think supporting a _catch all_ content type parser should provide the capability to implement regexp support in a module.

[2017-10-10 12:35] delvedor commented on #324
Hi! Sorry for the delay.
I didn't understand the issue, can you rephrase?

Thanks!

[2017-10-11 06:26] BigMurry opened #341 "Schema validation errors can not be captured by customized error handler"
I've setup an error handler by using `setErrorHandler` method. But the schema validation errors can not be captured by my customized error handler.  Does it meant to act this way?

https://github.com/fastify/fastify/blob/1512439e45a08dbe4ed3854dacf4c06c733d7017/lib/handleRequest.js#L132-L140

From this code snippet, the `store` object for `Reply` constructor is `null`.

[2017-10-11 06:37] mcollina commented on #341
Can you please provide an example to reproduce? What is the current output vs what would you expect?

[2017-10-11 07:29] BigMurry commented on #341
First register the errorHandler:
[code]

Then when I `POST /test` with body `{a: 'C'}`, I get:
[code]
but the `console.log('aaaa')` never get called.

[2017-10-11 13:17] Ethan-Arrowood commented on #289
Based on the [code coverage](https://coveralls.io/github/fastify/fastify?branch=master) site we have reached 99% coverage! 🎉

[2017-10-11 13:41] mcollina commented on #289
I think we can close this :D.

[2017-10-11 13:41] #289 closed

[2017-10-11 13:42] mcollina commented on #341
Do you know or other people know how Hapi handle this situation?

[2017-10-11 16:57] paolochiodi opened #343 "feature request: inherit request id from header"
In a multi services environment request id can be helpful to track the flow of a request through different services.
In order to do this the request id must be shared adding it to the headers of requests and responses.

This can be accomplished in fastify here https://github.com/fastify/fastify/blob/master/fastify.js#L150 in one of two ways:
- checking for the `request-id` header by default with s

[2017-10-11 18:32] allevo commented on #343
Hi and thank you for checking out `fastify`!

Currently, as you pointed out, this cannot be done.
The solution may be not so simple. Anyway, please feel free to send PR!

[2017-10-11 18:45] mcollina commented on #343
This was already done within pino-http. It should be as simple as point 1.

[2017-10-11 20:12] Ethan-Arrowood commented on #100
@mcollina whats the status of this? Anything I can try to help out with?

[2017-10-11 20:28] delvedor commented on #100
Seen how it works [`fastseries`](https://github.com/mcollina/fastseries) which is our hooks runner, I don't think we can fix this easily without degrade the performances.

I think we can close this, the [docs](https://github.com/fastify/fastify/blob/master/docs/Hooks.md) have already been updated with the correct usage.

[2017-10-13 07:57] delvedor commented on #309
Ok, probably was an issue on the travis side, closing :)

[2017-10-13 07:57] #309 closed

[2017-10-13 12:55] paolochiodi commented on #343
@mcollina I checked how pino-http works in uses solution 2: https://github.com/pinojs/pino-http/blob/master/logger.js#L53

However, the implementation of the id generator just relay the id already present on the request: https://github.com/pinojs/pino-http/blob/master/logger.js#L102.
I'm afraid this won't work on fastify because as far as I know node.js doesn't automatically create it.

If you're

[2017-10-13 12:56] paolochiodi commented on #343
OT: there's a specific reason why you're not using uuids for request ids?

[2017-10-13 13:02] mcollina commented on #343
generating uuid is extremely slow.

[2017-10-13 13:02] mcollina commented on #343
I'm ok with what you propose in https://github.com/fastify/fastify/issues/343#issuecomment-336444686.

[2017-10-13 13:56] mcollina commented on #343
Landed in #349

[2017-10-13 13:56] #343 closed

[2017-10-13 21:52] StarpTech commented on #341
@mcollina in hapi you can define a `onPreResponse`

[code]

[2017-10-13 22:52] StarpTech commented on #341
@mcollina the store is `null` [here](https://github.com/fastify/fastify/blob/master/lib/reply.js#L166) because [here](https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L133)

the custom error handler is behind `reply.res._context.errorHandler`

this would fix it but I don't know about all consequences

[code]

[2017-10-13 22:55] mcollina commented on #341
Go ahead and fire a PR. Let’s discuss it there.

[2017-10-14 07:42] StarpTech commented on #341
Already addressed in #330

[2017-10-16 05:11] krircc opened #354 "Graphql story ?"
now there is express-graphql server, and some framework base on it. but it has PATENTS. I think a fastify-graphql server is more cool. also this is cool Attractive for node web Ecosystem?

[2017-10-16 06:28] mcollina commented on #354
Have you tried https://www.npmjs.com/package/fastify-apollo?