[2022-10-18 00:35] sinclairzx81 commented on #4342
@driimus Hey, awesome :)

Not too sure the best convention for updating across multiple Fastify packages (it's probably better to get some inputs from @fastify/typescript contributors on matters of logistics; noting I'm just an external contributor this side). But I think given the nature of the update, the important thing will likely be to ensure all implementations are consistent across projects

[2022-10-18 03:08] climba03003 commented on #4354
Interesting, the types do not pass down correctly.

[2022-10-18 06:13] climba03003 commented on #4354
@BlackHole1 I am sorry, can you take a look on it?
If the it cannot be solves in a short time, I think we may revert https://github.com/fastify/fastify/pull/4346.

I can comes up a non-perfect solution, but is that OK for you?
[code]

You may need to add `?` before calling `setBindings?({})`

[2022-10-18 06:31] BlackHole1 commented on #4354
@climba03003 I think we should revert #4346. Until we come up with a better solution, we should not make the code look as if it is normal.

[2022-10-18 06:35] climba03003 commented on #4354
I believe if there would be a better solution, it will be inside next major.
You can use a workaround for declaration merging.

[2022-10-18 07:12] #4354 closed

[2022-10-18 07:43] mcollina opened #4356 "Improve error message for hooks check"
`instead got object` is weird - better to check for `null` and print that? or `util.inspect` perhaps

_Originally posted by @SimenB in https://github.com/fastify/fastify/pull/4351#discussion_r997819390_

[2022-10-18 08:53] mcollina commented on #4353
As a generic note, it's better to have these objects be null-prototype based to protect against possible prototype pollution attacks.

We should likely apply a null prototype there too.

---

@anonrig might this be an unwanted breakage with fast-querystring?

[2022-10-18 08:54] mcollina opened #4357 "Make request.params null prototype based to protect against prototype pollution attacks"
There are no known attacks using params & prototype pollution. However, it seems a good practice to use a null prototype there. Wdyt?

[2022-10-18 09:01] climba03003 commented on #4353
It should be by design using `null` prototype.

[2022-10-18 09:07] anonrig commented on #4353
This is a desired/expected outcome. Previous implementation was also using null prototype base, as well as fast-querystring.

Null prototypes are important for prototype pollution attacks.

[2022-10-18 09:46] #4353 closed

[2022-10-18 12:05] jsumners commented on #4357
I think `Object.create(null)` objects are surprising and cause unexpected errors.

[2022-10-18 15:07] Lz-01 commented on #4356
please assign this issue to me

[2022-10-18 15:13] Uzlopak commented on #4356
I assigned you. Godspeed.

[2022-10-19 01:01] SephReed commented on #930
Is there any other way?  I'm making a plugin and don't expect users to do thing in the order I'd like all the time.

[2022-10-19 21:35] SiarheiFedartsou commented on #2841
Hi👋
Is it currently possible to support validation for `ids=1,2,3` use case?

[2022-10-20 04:17] climba03003 commented on #2841
Provide a custom `querystring` parser to parse the format of `1,2,3`. Then the validation would be possible.

[2022-10-20 06:19] SiarheiFedartsou commented on #2841
@climba03003 thanks for the answer! May be you have any examples/docs on how exactly it can be done? Tbh I have problems with googling it :)

[2022-10-20 06:21] climba03003 commented on #2841
@SiarheiFedartsou
https://www.fastify.io/docs/latest/Reference/Server/#querystringparser

I will lock this issue, or you can create an discussion or use `fastify/help` repo for your question.

[2022-10-20 12:14] serkan-ozal opened #4362 "A CI/CD Observability Solution Suggestion"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Hi **fastify** community,

This is Serkan, Co-Founder & CTO at [Thundra](https://www.thundra.io/), the company behind [Foresight](https://www.runforesight.com).

Foresight brings visibility into CI workflows and test r

[2022-10-20 13:06] #4362 closed

[2022-10-21 08:59] fox1t commented on #4349
@mcollina and @climba03003 I've updated the playground https://github.com/fox1t/modules-playground

We have the winner, the "infamous triplet with namespace types".
[code]
[code]

This combination is usable in every possible context, without any issues. It is also the most compatible one (even better than TS compiled to CJS that lacks of namespace callable import O_o)

[2022-10-22 17:57] mcollina commented on #4349
Are we rolling this out across all org?

[2022-10-22 19:56] cesarvspr commented on #4147
I see that https://github.com/fastify/fastify/pull/4343 merged. Is there any activity pending on this issue?

[2022-10-22 20:46] cesarvspr commented on #4025
I have a PR for this, can someone please assign this to me so I can publish my branch?

[2022-10-22 21:14] climba03003 commented on #4025
Fork the repository and do the work in fork.
Open PR after the fix is commit in your fork.

Assignment do not make any difference.

[2022-10-22 22:24] cesarvspr commented on #4025
please review my first OSS PR https://github.com/fastify/fastify/pull/4368

[2022-10-23 02:11] mmarti opened #4369 "Support `application/x-www-form-urlencoded` content type in core"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

From the [ContentTypeParser reference docs](https://www.fastify.io/docs/latest/Reference/ContentTypeParser/):

My proposal is to add support for one additional content type: `'application/x-www-form-urlencoded'` using

[2022-10-23 08:33] #4147 closed

[2022-10-23 09:11] mcollina commented on #4369
Should we add https://github.com/fastify/fastify-formbody/blob/master/formbody.js as part of core? cc @delvedor @jsumners

[2022-10-23 14:04] #4025 closed

[2022-10-24 05:47] climba03003 commented on #4369
I am not really convince to add this code.
From my use-case, I really didn't use `application/x-www-form-urlencoded` and if it added in core. I need to do the reverse way to remove the support of `application/x-www-form-urlencoded`.

Another issue is maintenance.
`QueryString` has no standard on `object` and `array`. There are way many difference standard or common practice outside the world. I ca

[2022-10-24 05:53] climba03003 commented on #4369
I believe most of the developer or company will eventually comes up with a set of default plugin. Which means from each start of the project, they will copy and paste the some set of plugin.

I suggest you to create a dedicated plugin with contain all those `plugin` and you only need to registered once.
For example, I made [one](https://github.com/kaka-repo/fastify-packed) for my own usage.

[2022-10-24 06:04] climba03003 commented on #4349
Certainly YES, it also be a good chance for the contribution.

[2022-10-24 07:12] delvedor commented on #4369
Is there any data on how formbody is used in the wild?
One of the reasons we didn't add it, is that normally API servers don't use it unless you are building a pure frontend API (and even in that case, it is not guaranteed that you will need it).

Given how easy is to add it via a plugin, I don't see a strong reason to add it in core directly.

[2022-10-24 08:36] climba03003 commented on #4369
`querystring` in `body` expected to be fairly more complex usage compare to `query`. Once it is added, people always expect to work out-of-the-box (e.g. Even with `query` itself, I can see some issue on the `validation` with `ajv`).

Since there is no `standard`, I can only see maintenance burden.

[2022-10-24 10:00] cesarvspr commented on #4349
do we have this issue in the respective repos that require this change?

[2022-10-24 10:05] climba03003 commented on #4349
It's a hard work. There are too many repo and creating issue one by one use more time than just sending the fix.
I would be glad, if someone would be volunteering. 😆

[2022-10-24 10:22] cesarvspr commented on #4349
I think I will just pick a repo and work on it 😄

Could you say briefly looking at https://github.com/fastify/fastify-multipart/issues if it need this export update?

[2022-10-24 11:03] climba03003 commented on #4349
![Screenshot 2022-10-24 at 18-56-00 fastify-multipart_index d ts at master · fastify_fastify-multipart](https://user-images.githubusercontent.com/23028015/197511457-1d556505-be0f-47a4-9997-9ad278bc84b6.png)

Orange - Internal Types
Green - Exported Types
Blue - Declaration Migration

1. `Internal Types` remains the same
2. `Exported Types` wrap inside a `namespace`
3. `Declaration Migration` move

[2022-10-24 11:59] wandersonwhcr opened #4370 "Close method is not executing Callback"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.9.2

### Plugin version

_No response_

### Node.js version

16.18

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Debian 11.5 Docker 20.10.20 Node Image 16.18

### Description

If I initia

[2022-10-24 12:26] climba03003 commented on #4370
I cannot reproduce your issue. The `.then` method is called without any problem.
![image](https://user-images.githubusercontent.com/23028015/197525244-76e5b17b-0f35-42ac-864e-a98c04504424.png)

[2022-10-24 13:21] cesarvspr commented on #4349
please review https://github.com/fastify/fastify-multipart/pull/396

[2022-10-24 17:05] cesarvspr commented on #3615
Are we sure that we need a new plugin for this? So this means new repo right?
How can we move forward with this? I am willing to help
@climba03003

[2022-10-24 18:15] wandersonwhcr commented on #4370
TY @climba03003 , I will check again what is happening here.

[2022-10-24 18:52] climba03003 commented on #3615
Yes

Yes, most likely this would be a community plugin.

Create the plugin, submit PR for adding it as community plugin.

[2022-10-25 06:54] mcollina commented on #4369
Unless somebody else from the maintainers feel strong about this one, I think we can leave formbody where it is. Closing for now, I'm happy to reconsider if someone else of the team feels otherwise.

[2022-10-25 06:54] #4369 closed

[2022-10-25 11:17] jsumners commented on #4369
I agree. I do not see a need to support this out of the box. Fastify is designed for writing API services first. We have `text/plain` because people send JSON with that content type.

As said before, it is a good idea to establish a set of preferred plugins and bootstrap projects with a template.

[2022-10-25 11:18] cesarvspr commented on #4349
https://github.com/fastify/fastify-helmet/blob/master/types/index.d.ts also needs the same kind of update, right? @climba03003

[2022-10-25 22:47] thomas-obernberger opened #4374 "unexpected behaviour when using `reply.send()` in `onRequest`-hook"
### Prerequisites

- [x] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.9.2

### Plugin version

_No response_

### Node.js version

16.17

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.6

### Description

When you try to use `reply.send()` in the `onReques

[2022-10-26 06:36] Eomm opened #4375 "Request bodyLimit"
Right now, you can set the `bodyLimit` in two ways:

[code]

A custom `ContentTypeParser` or a `preParsing` hook function:

- can access the `serverLimit` via `app.initialConfig.bodyLimit`
- can't access the `routeLimit` unless a private API `request.context._parserOptions.limit`

I think we should add a getter `request.routeBodyLimit` that returns the custom `routeLimit || serverLimit`

WDYT?

Re

[2022-10-26 06:48] mcollina commented on #4375
Sure thing!

[2022-10-26 07:09] brettwillis opened #4376 "Wrong typings for hooks on route options"
The in the snippet below, the hook types are a union of two identical types like `onRequestHookHandler<...> | onRequestHookHandler<...>` etc, and this excludes the async hook type, which should be valid to use here, right?

Are these supposed to be <code>onRequestHookHandler<...> | onRequest<em><b>Async</b></em>HookHandler<...></code>, etc?

https://github.com/fastify/fastify/blob/5c75f4993255a7e3

[2022-10-26 07:25] nicolaturcato commented on #4299
@climba03003 forgot to answer back... Thanks a lot that was the issue!

[2022-10-26 08:26] climba03003 commented on #4375
Shouldn't the `bodyLimit` be the part of `argument` for `addContentTypeParser`?
It is essential the provider should handle the `bodyLimit`.

[2022-10-26 08:33] mcollina commented on #4374
Unfortunately, you are forking the promise chain.
This works as expected:

[code]

I think we have a bug here as we can detect some of this and throw a _big exception_ out to let people know they made a mistake.

[2022-10-26 08:34] mcollina commented on #4374
The __expected behavior__ for that code should be a "big error" being logged out: "reply already sent, did you forget to await?".

@fastify/core wdyt?

[2022-10-26 08:41] climba03003 commented on #4375
After some investigation, the issue in `fastify-raw-body` shouldn't be an issue.

You are using `parseAs` option which means that `fastify` will check the `bodyLimit` for you.
The error should be throw to the client, or something is wrong couple with `raw-body`.
For example, `fastify` terminate the `request` but `raw-body` didn't know it.

[2022-10-26 08:50] climba03003 commented on #4374
It would be bunch of `if` placing everywhere for checking this behavior. Would it cause any performance regression.

[2022-10-26 08:50] arinashilyaeva opened #4377 "Bump `find-my-way` to v7.3.1"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Update `find-my-way` package to the latest version in the next Fastify release, resolves https://github.com/fastify/fastify/discussions/4324

### Motivation

There is a [fix](https://github.com/delvedor/find-my-way/pul

[2022-10-26 08:53] mcollina commented on #4377
There is no need for us to ship a new release. This is already covered by our semver range, you should just update your dependency to get the new version.

[2022-10-26 08:53] #4377 closed

[2022-10-26 08:53] climba03003 commented on #4377
You can re-install the package or use `npm update find-my-way`.
`fastify` do not lock particular version of `find-my-way`.

[2022-10-26 08:54] arinashilyaeva commented on #4377
Ok, got it, thank you

[2022-10-26 09:45] Eomm commented on #4375
No, as it may change per single route, meanwhile the parser function is a single one.

No, the contentTypeParser is added in some cases.

I think this should not exist as it would be confusing for a user.
A developer that implements a `contentTypeParser` or a `preParsing` hook (latter my case) should be able to access the `bodyLimit` the user sets in the fastify "native" API - the parses may add a

[2022-10-26 09:47] mcollina commented on #4374
We are already checking it in https://github.com/fastify/fastify/blob/1ae1ec2a64333a3f0b191f8ceb87e23dcd3352a5/lib/reply.js#L126-L129 and in https://github.com/fastify/fastify/blob/main/lib/hooks.js#L245. I think we are missing a couple more cases in `hooks.js`.

The fact that `preParsing` gets called for GET requests while it shouldn't smell like a bug.

[2022-10-26 09:59] climba03003 commented on #4375
I means we (fastify) already know which `bodyLimit` should be used. Why don't we pass it to the `custom parser`?
`function parser(reply, payload, options, done) { payload.bodyLimit }` which is much more flexible.

It always the battle and we can provide a single object for all the route option. Certainly not adding it one by one.

[code]

[2022-10-26 11:16] jsumners commented on #4375
Ship it.
![giphy](https://user-images.githubusercontent.com/321201/83882820-a3582680-a710-11ea-93ee-0f63c7b70a7e.gif)

[2022-10-26 16:40] Eomm commented on #4375
Yeah, I agree on this.

Right now we were listing them all one by one.

Are you suggesting something like: `request.routeConfig.bodyLimit`?
It can be the first step before a refactor

[2022-10-26 18:15] #4342 closed

[2022-10-26 18:20] aradwann commented on #4376
It's a union between a onRequestHookHandler<...> (single value ) and a onRequestHookHandler<..>[] (array of values )

[2022-10-26 18:43] brettwillis commented on #4376
Ah yes you're right. @mcollina @aradwann do you still want a PR to include the async version in those types?

While we're at it, are there any thoughts about the non-standard camel-case naming of those types?

[2022-10-26 22:06] kibertoad opened #4381 "Official fastify plugin for Prometheus"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I suggest creating a lightweight plugin that would decorate app and request with a prom-client instance, and expose metrics endpoint.

There is an existing community plugin, but it is much more heavyweight and opiniona

[2022-10-26 22:16] Uzlopak commented on #4381
Huh?

I only know prometheus in combination with graphana, where you expose an endpoint so that prometheus/graphana can consume the latest metrics.

How would a prometheus attribute to the request be beneficial?

[2022-10-27 04:27] climba03003 commented on #4375
`routeConfig` is mapped to `fastify.get('/', { config: {} }, () => {})`

I means `routeOption` which is `ReadOnly` and should contain all the property inside the option.
Maybe we can remove part of them like `config`, `hooks`, etc.

[2022-10-27 06:25] climba03003 commented on #4381
Didn't there are tons of those plugin?
https://github.com/SkeLLLa/fastify-metrics
https://github.com/immobiliare/fastify-metrics

Why would it beneficial as a `official` plugin instead of using the `community` one.

[2022-10-27 07:03] Eomm commented on #4381
I think we should support opentelemetry out of the box, otherwise those who don't use prometheus would be excluded.

I already testes https://github.com/open-telemetry/opentelemetry-js and was a pain to add 😅
So I agree we could work on that direction

[2022-10-27 07:05] Eomm commented on #4375
Great! I like your proposal!
I will work on it in the following weeks if some new contributor doesn't beat me!

[2022-10-27 07:14] climba03003 commented on #4381
https://www.npmjs.com/package/@opentelemetry/instrumentation-fastify

Didn't `open-telemetry` provide an official integration in their side?
If we implementing in our side, I feel the same pain as `fastify-nextjs` and `nextjs`.

[2022-10-27 09:30] piranna opened #4382 "Fastify adds incorrect `content-length` and `transfer-encoding: chunked` headers by default"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.9.2

### Plugin version

_No response_

### Node.js version

v18.11.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 22.10

### Description

These are in fact two errors that seems

[2022-10-27 09:40] mcollina commented on #4382
Thanks for reporting! Unfortunately, I cannot reproduce your reporting issues with `curl -v` and this server:

[code]

Please include a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on Gi

[2022-10-27 09:48] piranna commented on #4382
ok, I'll try to arrange something in the next days. Thank you for reviewing @mcollina :-)

[2022-10-27 10:36] mcollina commented on #4381
The question is that one of those modules has been either neglected or kept out-of-date. I'm an happy user of https://github.com/SkeLLLa/fastify-metrics without problems.

I don't think we should be competing with community modules that are doing well.

[2022-10-27 10:58] mcollina commented on #4376
Given my understanding, yes, we should update this. Would you like to send a PR?

We probably didn't know there was a standard. Could you link?
I would not change any types name right now - maybe open a separate issue? We might consider it for the next major.

[2022-10-28 07:00] piranna commented on #4382
I've researched a little bit more, the error is happening me on tests with Jest (I haven't tested on production). Light-my-request library accept a `OutgoingHttpHeaders`, so whoever is setting it, it doing it with a string instead a number, but I'm not sure where could I take a look...

[2022-10-28 07:57] climba03003 commented on #4382
`Transfer-Encoding: chunked` is added when you use `Trailers`. It is a **HARD** requirement for using `Trailers`.
Can you double check are you using `Trailers` in that case?

`Content-Length: <num>` doesn't matter if it set as `string` or `number`. `node` will handle it properly.

[code]

[code]

[2022-10-28 08:04] piranna commented on #4382
No, I'm not using them, or at least not in a conscious way. In fact, I didn't know what trailers were until facing this issue, and still don't have clear what's the use case... so no, I think I'm not using them.

It was working fine, just found that issue when doing some clean-ups on my fixtures, since the ones generated automatically by Fastify were having quotes. I think it's not a huge problem,

[2022-10-28 08:09] climba03003 commented on #4382
Better to have a minimal repro. Or at least the plugin list.

NodeJS will not `unquote` it. It render what's the user pass.
If `fastify` add `quotes`, it render with `quotes`. I didn't see `fastify` explicit adding the `quotes` either.
Maybe something wrong with `test suite` or `plugin`?

[2022-10-29 19:33] aradwann commented on #4376
@mcollina according to https://google.github.io/styleguide/tsguide.html#identifiers class / interface / type / enum / decorator / type parameters should use UpperCamelCase
I see that most types/interfaces are written in UpperCamelCase here so I think `onSendHookHandler` should be `OnSendHookHandler` for consistency

[2022-10-30 11:44] kibertoad commented on #4381
Good point. I'll proceed with building a lightweight plugin as a community module to target our specific use-case, with the general idea that community-driven fastify-metrics is a semi-officially endorsed one.

[2022-10-30 11:44] #4381 closed

[2022-10-30 13:30] delvedor commented on #2683
Can we close this one?

[2022-10-31 08:27] Uzlopak commented on #2683
@mcollina
We never released the plugin.

[2022-10-31 09:53] Eomm commented on #2683
For reference https://github.com/fastify/fastify-early-hints

[2022-10-31 16:52] mcollina commented on #2683
why?

[2022-10-31 17:34] #4356 closed

[2022-10-31 18:45] Uzlopak commented on #2683
I dont know. Maybe because @climba03003 suggested to implement node native api call when it is released. It is released with node 18.11.0.

[2022-10-31 18:50] climba03003 commented on #2683
It can be released, but it can improve to use the native one when possible.
Not sure if it should be released as `1.0.0`?

[2022-10-31 19:33] Danny2462 opened #4390 "Runtime "MissingRefError", with a specific kind of schema, from 4.2.0 onwards"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

_No response_

### Node.js version

16.3.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

Windows 11 22H2

### Description

A schema definition that uses both ty

[2022-10-31 19:36] Danny2462 commented on #4390
Also would like to grab this chance to say that, otherwise, the TypeScript support is stellar, it's such a comfortable change of pace coming from Express, cheers!

[2022-11-01 06:27] climba03003 commented on #4390
@ivan-tymoshenko Do you have time to take a look on this issue?

[2022-11-01 06:30] debadutta98 commented on #4375
Hi, I am interested to take up this issue but I need more clarity on the issue's description

- what are `serverLimit` and `routeLimit` here? what is the type of it?
- is there any different meaning of defining `bodylimit` in two different way

Thank you!

[2022-11-01 06:39] climba03003 commented on #4375
The original issue is about `bodyLimit` only, but I want to take a step further.
The solution is to include all the `route option` and expose to the user with a single object.

Some of the field can be calculated (e.g. `bodyLimit`) and removed (e.g. `config`, `hooks`, etc.)

`Server Limit` is the global config on `Fastify(options)`
`Route Limit` is per route config on `fastify.route(options)`

Sho

[2022-11-01 06:39] Eomm commented on #4375
These two were just 2 variable names to differentiate the server's `bodyLimit` option (`const app = Fastify({ bodyLimit: 42 })`) and the route's `bodyLimit` option (`app.post('/route-limit', { bodyLimit: 42 } })`)

- The server's `bodyLimit` is the default value for every route
- The route's `bodyLimit` overwrites the server's bodyLimit only for the single route

[2022-11-01 08:16] debadutta98 commented on #4375
make sense 👍

@Eomm
is the `routeBodyLimit` should append to the req body which is accepted through the handler passed as an option to a HTTP method or route method

[2022-11-01 14:07] #4370 closed

[2022-11-02 02:55] Shyam-Chen commented on #3802
I created a TodoMVC-like example [here](https://github.com/Shyam-Chen/Fastify-Starter/tree/main/src/modules/todos).

[2022-11-03 11:06] climba03003 commented on #2683
I choose to release in a major to imply it is migrated to organization and a stable release.
https://www.npmjs.com/package/@fastify/early-hints

[2022-11-03 11:06] #2683 closed

[2022-11-03 15:24] alsoscotland opened #4399 "fastify PromiseLike intersection type triggers @typescript-eslint/no-floating-promises rule when using reply.send"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.9.2

### Plugin version

_No response_

### Node.js version

16.14.2

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.5.1

### Description

fastify is declaring a typescript intersection

[2022-11-03 15:57] climba03003 commented on #4399
`void reply.send()` or `(request, reply) => reply.send()`

[2022-11-03 16:03] jsumners commented on #4399
Duplicate. Please search the issues.

[2022-11-03 16:26] alsoscotland commented on #4399
I searched issue originally but did not find the duplicate.  I found after your answer @climba03003 (thank you)
[3894](https://github.com/fastify/fastify/issues/3894#issuecomment-1123722799)

For what it's worth
I suppose the only solution proposed is `void reply.send()` above but
the issue ticket filed for the false positive in eslint was also closed as `working-as-expected`

[eslint-4961](https:

[2022-11-03 18:29] Uzlopak commented on #4399
First of all it is not an error, but is classified as such by eslint. Second of all the typings are correct and represent the shape of reply at runtime.
Should we remove the .then() method from reply because eslint claims it needs to be awaited? No.

So we have to conclude that everything is correct and eslint reports a false positive. For false positive cases eslint has the eslint-disable-next-li

[2022-11-03 18:38] #4399 closed

[2022-11-03 22:15] mcollina commented on #4374
The logic is essentially the same.

[2022-11-04 16:46] Alex-Yakubovsky opened #4400 "waiting for async `onResponse` hook to complete during testing"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Apologies if this is something already solved, I did try to go through the documentation thoroughly and existing test files.

It would be helpful if either:

a) `app.inject` would resolve once `onResponse` hooks have b

[2022-11-04 16:54] Uzlopak commented on #4400
Is callToSomeLibrary async or why does it race?

[2022-11-04 16:58] Alex-Yakubovsky commented on #4400
no, but `saveRequestDataToDatabase` is async, so `callToSomeLibrary` is only called after `saveRequestDataToDatabase` resolves

[2022-11-04 20:53] mcollina commented on #4400
I don't think this is feasible to add without impacting the runtime performance.

[2022-11-04 21:14] Uzlopak commented on #4400
At my previous employer we had something like that for tracking "auditing data". We treated it as fire and forget and did not give the guarantee that the data is stored 100%. I mean you already processed the data in a different microservice and there is no way to roll back  those stateful changes. I mean, why would you roll back stuff, because some logging failed.

You should also consider to not

[2022-11-05 10:24] Eomm commented on #4400
Does this work?

[code]

[2022-11-05 13:59] Alex-Yakubovsky commented on #4400
responding to @mcollina

Damn, any ideas on how to approach testing the above? I could just export the `onResponse` function and test it standalone, but I think I'd feel most confident my route works correctly if I made a request to the route itself.

responding to @Uzlopak
I see what you're saying and it makes a lot of sense, but our use case is slightly different than the example I gave. I just

[2022-11-05 14:09] climba03003 commented on #4400
If it is a important business logic, please do it inside `handler` which ensure everything work properly before sent.
Putting your business logic inside `onResponse` is prone to race-condition.

[2022-11-05 14:55] Alex-Yakubovsky commented on #4400
Putting your business logic inside onResponse is prone to race-condition.

That's a direction I was considering as well. Totally subjective, it just _felt_ like the logic belonged within the `onResponse`. Can you elaborate on/link to the documentation on your point about:

This is something I couldn't find more info about from a quick google search.

[2022-11-05 15:35] climba03003 commented on #4400
`onResponse` hook is fired **after** the response sent to client. Anything done in here cannot guarantee the working order between request and success.

Let's say,
1. What if `onResponse` hook throw an error? How can you rescue the calls?
2. While running `onResponse` hook, the client fire multiple calls. The counts is behind the actually calls.

When you know the when the `onResponse` hook is fir

[2022-11-05 15:53] ivan-tymoshenko commented on #4390
@Danny2462 I found the bug. There is an [issue](https://github.com/fastify/fast-json-stringify/issues/555) in the fast-json-stringify that has a failed test for your case. Unfortunately, it might take time for me to fix it.

[2022-11-05 17:54] grreeenn commented on #2120
as Google leads here as a first link to `fastify logger exclude`, I'll leave the solution here, jus so you'd save your time.

First of all, the docs section @mcollina talked about can be found [here](https://www.fastify.io/docs/latest/Reference/Routes/#custom-log-level). This section doesn't specify how to disable logs though; in order to make it work, you need to explore a bit of Pino (the defaul

[2022-11-05 20:56] #4390 closed

[2022-11-05 21:02] #4375 closed

[2022-11-06 09:43] gowy222 opened #4402 "v4.9.2 route BUG => method allowed never filter validation"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

v4.9.2

### Plugin version

nop

### Node.js version

16+

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

win11

### Description

app.js => `fastify.route(require('./routes/api'))`

./route

[2022-11-06 09:50] #4402 closed

[2022-11-06 12:10] edosrecki opened #4403 "Cannot compile empty response schema"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.9.2

### Plugin version

_No response_

### Node.js version

16.18.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6

### Description

Fastify does not support specifying an empty resp

[2022-11-06 12:44] Uzlopak commented on #4403
Hmm. Seems like it does not work because it thinks that it is a content-type "description".

For more info:
https://github.com/fastify/fastify/pull/4264

[2022-11-06 15:18] climba03003 commented on #4403
[code]

is identical to

[code]

You should disable `jsonShorthand`.
https://www.fastify.io/docs/latest/Reference/Server/#jsonshorthand

[2022-11-06 15:18] #4403 closed

[2022-11-07 04:16] climba03003 commented on #4400
I am closing it as `Not Planned`.

`onResponse` hook is **fired** after the response sent which means when you can **wait** for it. It collided with `onSend` hook.
`onSend` hook is a stage that can do anything, not only mutating the `response`. You can do job here if you need to wait before response.

[2022-11-07 04:16] #4400 closed

[2022-11-07 10:06] asafkotzer opened #4404 "Can't resolve reference when schema includes both ref and anyOf"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.9.2 (main)

### Plugin version

_No response_

### Node.js version

18.6.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

Hi fastify team!

Found this issue where if

[2022-11-07 10:10] climba03003 commented on #4404
Duplicate of https://github.com/fastify/fastify/issues/4390, https://github.com/fastify/fast-json-stringify/issues/555

[2022-11-07 10:10] #4404 closed

[2022-11-07 10:16] climba03003 commented on #4404
It is current pending for release. Please be patient.

[2022-11-07 11:48] wandersonwhcr commented on #4370
If someone is facing this problem, please upgrade Node.js version.

I was using `node:16.18-alpine` docker image and `http` server was not calling `done` callback at this line:

https://github.com/fastify/fastify/blob/675b00d6ca7a7eeaad073e6469c70b50fcd532eb/fastify.js#L409

I upgraded to the current LTS version `node:18.12-alpine` and it works like a charm.

[2022-11-07 14:50] smallandsimple opened #4405 "Please add route shorthand declarations for the remaining supported http methods."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

(Similar but not identical to issue #9)

### 🚀 Feature Proposal

Currently, the Fastify shorthand declarations are limited to:
`fastify.get(path, [options], handler)`
`fastify.head(path, [options], handler)`
`fastify.post(path, [options], han

[2022-11-07 15:48] Uzlopak commented on #4405
I think this can be done in under an hour to be implemented.

Add the missing shorthand methods here:
https://github.com/fastify/fastify/blob/675b00d6ca7a7eeaad073e6469c70b50fcd532eb/fastify.js#L244

Add a new test file, testing all shorthand methods and checking in the handler, that the method is set correct on the request-object.

[2022-11-07 20:40] Alex-Yakubovsky commented on #4400
Appreciate the guidance 🙏 .

In my use case, we don't want to wait for usage to be recorded prior to returning a response to the client, so rescuing from calls is not a requirement. We want the response to be sent first, then record usage, which was the motivation behind reaching for `onResponse`.

But from a more high level, what is the recommended approach to testing `onResponse` hooks? Just to

[2022-11-08 02:06] meeraj257 commented on #4405
@Uzlopak - can this issue be assigned to me? I like to work on this

[2022-11-08 02:46] climba03003 commented on #4400
Mocking if you need to know if it is called by application lifecycle.

It can be done.

Add an extra `onResponse` hook to check for the result. If the function is encapsulation, use `onRoute` hook to append the checking function in the end.

[2022-11-08 02:53] climba03003 commented on #4405
I am not really convinced to add those function in minor.
`search`, `trace`, `copy`, `move`, `lock` and `unlock` is a generic wording that easy to mess with a people decorator.

The extension for those method as a plugin also easy enough.

[2022-11-08 13:14] Alex-Yakubovsky commented on #4400
Ah okay, this is really helpful. I didn't consider using the `onRoute` hook to append the checking function. Thank you for the help!

[2022-11-09 09:42] Uzlopak commented on #4405
I created a PR. We can decide to reject or approve it based on code.

[2022-11-09 13:35] Uzlopak commented on #4405
Will be part of v5.x

[2022-11-09 13:35] #4405 closed

[2022-11-10 13:11] yamalight opened #4411 "Fastify no longer replies with a stream when using async handler function"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.9.2

### Plugin version

_No response_

### Node.js version

16.x / 18.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 22.04.1 LTS

### Description

Fastify seem to be failing to r

[2022-11-10 13:37] jsumners commented on #4411
`return reply.send(stream)`

[2022-11-10 13:40] yamalight commented on #4411
@jsumners that does indeed fix the issue! was that an intended change at some point? 🤔

[2022-11-10 13:41] jsumners commented on #4411
Yes. It is a v4 change. I updated my original response.

[2022-11-10 13:45] yamalight commented on #4411
@jsumners got it, thanks for clarification!
still not sure why it worked with fastify@4.2.0 before, but that fixed it 🤔
closing this, thanks for the help!

[2022-11-10 13:45] #4411 closed

[2022-11-11 01:14] radiorz opened #4412 "reply 0 size with no error when using reply.send(stream) or reply.send(buffer)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0

### Plugin version

4.0.0

### Node.js version

16.17.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### Description

reply stream and buffer get 0 size from route.

### Steps

[2022-11-11 03:55] climba03003 commented on #4412
When using `async-await`, please return the `reply` object to signal `fastify` wait for your further response.
[code]

[2022-11-11 03:55] #4412 closed

[2022-11-11 16:01] p-fedyukovich opened #4413 "Support pino logger customAttributeKeys to replace existing req res reqId log record fields"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

It would be good to support `customAttributeKeys` as [pino-http](https://github.com/pinojs/pino-http) does. Currently there is no elegant way to change for example `req` key to `httpRequest`

### Motivation

Google clo

[2022-11-11 16:46] mcollina commented on #4413
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-11-11 17:14] p-fedyukovich commented on #4413
Thanks for your reply. Yea, sure

[2022-11-13 09:01] Eomm commented on #1771
To share my issue: if you have an application that adds dynamic routes after the `ready` phase, you need to think of a strategy to manage multiple server instances (+ load balancer).

[2022-11-13 11:11] sceccotti89 opened #4414 "Reorder Generic Types of FastifyReply"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Change handler's **reply** type definition to accept RouteGeneric type as first parameter, to be uniformed with that of the **request** object.

### Motivation

Fastify offers a way to define a schema and generate a ty

[2022-11-13 11:57] ismailmmd opened #4416 "Remove stale and duplicate github issue label `good-first-issue`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue AC

<s>There is a duplicate and unused label `good-first-issue`. </s>
- remove the spaces on behalf of dash -
- remove the deprecated/old labels
- add a comprehensive description to each label
- add a 🤖 into the description, if the label

[2022-11-14 05:59] cesarvspr commented on #4414
do maintainers agree with this? Willing to work on this PR

@mcollina @sceccotti89 @climba03003

[2022-11-14 06:02] climba03003 commented on #4414
Check #4415, it already has PR.

[2022-11-14 07:38] Eomm commented on #4416
I like these kinds of project maintenance.

When I wrote a query to get the GFI, I had to add all these format:

[code]

I would define this set of rules:

- remove the spaces on behalf of dash `-`
- remove the deprecated/old labels
- add a comprehensive description to each label
- add a 🤖 into the description, if the label is read/processed by a bot (there a few cases)
- check plugin repos

I nee

[2022-11-14 13:21] ismailmmd commented on #4416
@Eomm Updated Issue AC

[2022-11-15 07:38] ismailmmd commented on #4376
Hey, I have created a PR for above issue. 🙏 please review

[2022-11-15 19:33] iliakostichenko opened #4423 "Do not know how to serialize a BigInt while working with Prisma"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.9.2

### Plugin version

"@nestjs/platform-fastify": "^9.2.0"

### Node.js version

18.12.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

13.0 (22A380)

### Description

After upgrading t

[2022-11-15 19:38] ivan-tymoshenko opened #4424 "routerPath returns url with a trailing slash"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Originally this error comes from [fastify-metrics](https://github.com/SkeLLLa/fastify-metrics) plugin. It relies on two things:
 - `onRoute` hook to set up a metric for the route;
 - request `routerPath` property to find the route metri

[2022-11-15 20:11] jsumners commented on #4423
We will not be patching `JSON.stringify`. If you need to work with `BigInt`, create your own object with a `toJSON` method that handles the conversion.

http://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#tojson_behavior

[2022-11-15 20:11] #4423 closed

[2022-11-15 20:49] driimus opened #4425 "CI workflow is failing for `node 14` on `windows-latest`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Only raising the issue for visibility. Feel free to close if there's already a planned resolution.
https://github.com/fastify/fastify/blob/5c8039c40e11be4a9c3617c145cd2667e0c68f24/.github/workflows/ci.yml#L1

This workflow (or any other

[2022-11-15 20:53] jsumners commented on #4425
In each instance where that workflow uses a specific Node.js version it is `lts/*`, except for line:

https://github.com/fastify/fastify/blob/5c8039c40e11be4a9c3617c145cd2667e0c68f24/.github/workflows/ci.yml#L75

None of those versions ship with `npm@9`.

[2022-11-16 05:54] climba03003 commented on #4425
More like an upstream issue.
`fastify > tap > @babel/generator > @jridgewell/gen-mapping`

[2022-11-16 06:37] climba03003 commented on #4424
Refs https://github.com/fastify/fastify/pull/2782

[2022-11-16 06:41] climba03003 commented on #4424
Maybe we should clone the options like https://github.com/fastify/fastify/pull/4273 for the `/foo/` route.

[2022-11-16 10:01] Uzlopak commented on #4425
I actually dont understand why this really happens because @isaacs puts all the dependencies also in the final tar file which gets pushed to npm.

[2022-11-16 10:21] climba03003 commented on #4425
Is it possible to push the `node_modules` to `npm.js`?
This folder should be ignored in any configuration.

[2022-11-16 10:33] Ceres6 commented on #3615
Hi!

I'm currently working on  creating the mentioned plugin and will submit a PR to add it to community plugins as soon as it's working

[2022-11-16 10:58] Uzlopak commented on #4425
Maybe the bundled dependencies need to be part of devDependencies to avoid issues, when npm tries to overwrite them in the installation phase of the dependencies?

[2022-11-16 13:07] markrzen opened #4426 "Supporting logging formatters for child loggers, such as request.log"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

How do folks feel about supporting logging formatters for child loggers, such as request.log? Similar to how log serializers are copied down to the child log.

### Motivation

The immediate goal for is to allow me to c

[2022-11-16 13:54] markrzen commented on #4426
@mcollina Absolutely, I just wanted to make sure you didn't see any obvious flaw to the idea. It could be potentially breaking, which is unfortunate, but it does follow the existing pattern for serializers. I will submit a PR.

[2022-11-16 14:05] mcollina commented on #4426
I'd be -1 to make a breaking change. I'm +1 to making developer configure their stuff. I'd personally do it via pino formatters. It might even be just docs.

[2022-11-16 14:10] markrzen commented on #4426
I am recommending we allow folks to use pino formatters, the hard part is passing them into the request/route child logger creation. I was following the pattern that was used for serializers. I could add a new pattern to make it backwards compatible, but it would be a new logging configuration "requestLoggerFormatters" or some maddness.

[2022-11-16 14:18] mcollina commented on #4426
What different way would you recommend?

[2022-11-16 15:11] markrzen commented on #4426
Going to punt on this for now. Found a way to move quicker using a different mechanism.

[2022-11-16 15:11] #4426 closed

[2022-11-16 19:07] Uzlopak commented on #4425
Isaacs released new tap version..we have to trigger the workflows again

[2022-11-17 03:21] #4425 closed

[2022-11-17 04:14] syuilo commented on #2994
Some clients may send requests without content-type (JavaScript fetch also creates requests without explicit content-type by default, even if JSON is included in the body).
Other libraries such as express, koa, etc. can fall back and handle such requests.
Is this not possible with fastify?

[2022-11-17 05:42] climba03003 commented on #2994
I don't understand what you means by `JavaScript fetch`. However, it should contain types if you pass a proper `string` or `object`. For example, `string` would be `text/plain;charset=UTF-8`, `FormData` would be `multipart/form-data; boundary=`, `URLSearchParams` would be `application/x-www-form-urlencoded;charset=UTF-8`.

https://fetch.spec.whatwg.org/#bodyinit-unions

[2022-11-17 08:47] simoneb commented on #3615
@Eomm @climba03003 you may want to take a look at the implementation we're putting together here https://github.com/nearform/fastify-constraints/pull/1

[2022-11-18 10:41] Ceres6 commented on #3615
Hi! We have released v1.0.0 of nearform/fastify-constraints. Maybe you can check it to decide if it resolves this issue.

[2022-11-18 10:44] climba03003 commented on #3615
@Ceres6
Next step should be send a PR here and update https://github.com/fastify/fastify/blob/main/docs/Guides/Ecosystem.md

[2022-11-18 10:51] Ceres6 commented on #3615
@climba03003
Done!

[2022-11-18 11:15] #3615 closed

[2022-11-19 15:52] agjs opened #4431 "Is it possible enforce having schema on Fastify controllers?"
Hey folks. I'm wondering if it's possible to somehow make Fastify fail if you define a controller without e.g. a response schema? Is there some option already that could make this happen?

Thanks a lot in advance!
Cheers

[2022-11-19 17:30] jonathan-roy opened #4459 "Hooks payload type"
#### What are you trying to achieve, or the steps to reproduce?

I'm trying to define a hook with a payload of type `Array<unknown>` rather than the default `unknown` type:

[code]

#### What was the result you received?

I get the following error saying that `unknown` is not assignable to type `Array<unknown>`:

  Types of parameters 'payload' and 'payload' are incompatible.
    Type 'unknown' is

[2022-11-20 21:03] grreeenn opened #4430 "Typescript: logLevel type definition in RouteShorthandOptions does not include 'silent' option"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.9.2

### Plugin version

_No response_

### Node.js version

16.15.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.6

### Description

Pino documentation states that in order to turn o

[2022-11-20 21:39] mcollina commented on #4430
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-11-21 09:58] srijanmukherjee commented on #4430
Hi can I take up this issue?

[2022-11-21 10:03] climba03003 commented on #4430
Yes. You can always send a PR directly for `good first issue`.
The issue should be a easy one with this label.

If you have any problem, you can guide you inside the PR instead of a word occupying the issue.

[2022-11-21 10:07] Uzlopak commented on #4430
I created a PR regarding this Issue.

[2022-11-21 10:24] Igorgro opened #4433 "Awaiting rep.code() hangs"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.10.0

### Plugin version

_No response_

### Node.js version

16.x, 18.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Arch Linux

### Description

When calling `await rep.code(...)` the

[2022-11-21 10:33] mcollina commented on #4433
Sure thing it hangs, the promise will be resolved when the response is sent.
Take a look at:
https://www.fastify.io/docs/latest/Reference/Routes/#async-await

[2022-11-21 10:33] #4433 closed

[2022-11-21 10:38] Uzlopak commented on #4431
TBH

I am thinking, that we should start to write a eslint plugin. I mean we constantly get issues regarding async await misuse. Maybe thats something we should start with.

[2022-11-21 10:40] Uzlopak opened #4434 "eslint plugin for fastify?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

How about we provide a eslint plugin for fastify?

We could try to cover the async-await issues we constantly get.
We could add checks for schemas.
We could try to cover disallowing .register and co after fastify.ready is called

[2022-11-21 13:55] grreeenn commented on #4430
wow, that was quick! Thanks @Uzlopak  :)

[2022-11-21 13:57] marcoreni opened #4435 "Wrong types for FastifyRegister with custom logger"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.10.0

### Plugin version

_No response_

### Node.js version

18.12.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.6.1

### Description

We're using a custom logger (based on Pino) in

[2022-11-21 14:16] Uzlopak commented on #4349
Is the triplet correct?

[code]

shouldnt it be

[code]

Or something similar?

Because fastify-plugin can also check for decorators and stuff. By not wrapping plugin with fp, we just export the pure function, which will not check for decorators and stuff.

[2022-11-21 14:19] RafaelGSS commented on #4435
Good catch! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-11-21 14:34] mcollina commented on #4431
I tend to agree.

[2022-11-21 14:34] mcollina commented on #4434
+1

[2022-11-21 14:40] agjs commented on #4431
If you guys need a hand with this, I could get myself familiar with the plugin API and maybe create one. I do whatsoever think that having this as some sort of an option would make it a lot simpler, cause my sentiment here is that you should never really have an endpoint without validating your input (and often output), therefore, it feels like something that could *implicitly* make Fastify better

[2022-11-21 18:06] Eomm commented on #4434
I have some blog posts in my todo-list about AST to deal with eslint plugins and graphql documents.

I didn't think about this useful use case, I may start a POC in a couple of weeks if you did not start yet 😄

[2022-11-21 18:10] Eomm commented on #4431
We tend to keep the core as dry as possible, so if something can be a plugin, it should be a plugin

[2022-11-21 18:43] agad opened #4437 "Replace SEARCH method with QUERY method"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

It appears the SEARCH method is now being called the QUERY method by the IETF.  Please see: https://datatracker.ietf.org/doc/draft-ietf-httpbis-safe-method-w-body/.    Looks like the new method name will become the sta

[2022-11-21 18:45] jsumners commented on #4437
A draft is not an RFC. I wouldn't recommend implementing anything until it has at least reached a full RFC state.

[2022-11-21 18:53] agad commented on #4437
Good point, I thought it had reached past draft stage.  However, wasn't the search method also a draft, or did that approach RFC state and this draft suggests to amend the RFC?  Trying to figure out what to support for an API where I really want to offer something that is not the usual GET query string mess.

[2022-11-21 19:31] jsumners commented on #4437
`SEARCH` is part of the webdav spec https://www.rfc-editor.org/info/rfc5323

[2022-11-21 19:33] agjs commented on #4431
Fair enough, I can't argue that. Thanks for your responses. I'll either just solve this for the current project I'm working on, or make a plugin. Let's see where I end up.

Cheers

[2022-11-21 20:38] agad commented on #4437
Ohhhhhhhhhhh, so its actually separate from the new query method and that is likely why they changes the method name.  Got it.  OK, my confusion.  Closing the request.

[2022-11-21 20:38] #4437 closed

[2022-11-21 23:03] agjs commented on #4431
Alright, I've turned this into a plugin and I will most likely push it for review tomorrow, or in a day or two. @Eomm @mcollina

I also followed the structure and the guidelines from another plugin (fastify/cors) and right now I just have to write some unit tests.

I'm having an issue with onRoute actually being executed in the unit test, so hopefully I'll figure that one out in a day or two. Stil

[2022-11-22 07:10] Eomm commented on #4431
I have few comments:

- there is a `next();` call in the `onRoute` hook that is a misprint
- you can't publish the module name `@fastify/enforce-schema` as `@fastify` is an "official" namespace for the fastify org
- your users [must `await fastify.register()`](https://www.fastify.io/docs/latest/Guides/Migration-Guide-V4/#synchronous-route-definitions-2954) your plugin to let it works correctly

[2022-11-22 08:46] agjs commented on #4431
Thanks for the comments, @Eomm. I tried following some of the existing core libraries from Fastify, mainly to ensure that I do things according to your guidelines. I "namespaced" the package with @fastify/ as I had an impression that I'd transfer the plugin ownership to you, hence, why I did it. I will remove it.

And thanks a lot for the `await` comment, that's probably by the hook didn't work in

[2022-11-22 13:12] jsumners commented on #4431
@fastify/core we should open a discussion and determine some qualifications for this going forward. In my opinion, there should be some data showing necessity of the plugin in the ecosystem prior to accepting new packages to maintain.

[2022-11-22 13:16] agjs commented on #4431
You by no means have to accept this in any way, as indeed, I have built this for my own project. And indeed, if anyone else ever is going to need this or not, remains a question. Either way, I'll publish it, in case someone does. Will you "accept" it or not, that's completely up to you folks, it changes nothing for me personally.

Cheers

[2022-11-22 13:23] Uzlopak commented on #4349
The minimal approach to make the typings nodenext compatible is I think done with #4438

If we want to improve chaining and other stuff, then we need to invest more time.

[2022-11-22 13:37] Uzlopak commented on #4081
Is there even a solution for mutating objects without reassigning them?

Currently our typings get extended by requiring the corresponding package. When we mutate the fastify-instance by registering a plugin, i dont know a way to keep the mutated instance in sync with typescript

E.g.
[code]

vs.
[code]

Again:
Is it possible to mutate an object without reassigning it?

[2022-11-22 13:39] mcollina commented on #4081
I don't think this would work across encapsulation boundaries.

[2022-11-22 17:12] sinclairzx81 commented on #4435
@marcoreni Hi.

The issue may be related to `server.register()` as it's possible to replicate the issue without configuring a TypeProvider.

[TypeScript Link Here](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgMwIYGcbGQTzgXxSghDgCI1NscyBuAWAChRJZE4xgA7CAok8px50mTAMYQumOOgCmUAG7y4AXhQYsuABRIANhADmB+QC4O3CFoCUBGwHo7cADwBaF3B5wJXZMAMBXKFQsSVFGb2lifxhZdFU4DBwuMTgtbkxUZNkzGBwwWQhkGXklKCszA

[2022-11-22 17:16] marcoreni commented on #4435
@jagu-sayan , I think what you're encountering is a different bug. If I'm right, it's discussed here: https://github.com/fastify/fastify/issues/4241 .

@sinclairzx81 you're right, it's not related to TypeProvider per se. If I use your workaround I'll lose the TypeBox Provider type enhancements, since `instance` will be treated as the default FastifyInstance. Anyway, I opened a PR to fix the proble

[2022-11-22 22:37] L2jLiga commented on #4081
Is it possible to mutate an object without reassigning it?

Yes, but does not worst a cost =)

[Example on TS Playground](https://www.typescriptlang.org/play?#code/KYDwDg9gTgLgBAYwDYEMDOa4EE4G8BQccA5gJYBuwAssAHLADuAClBGMLAJ4A8AKnKBjAAdgBNMWADRwWbASCFjMaGFFLDicALxwA5LoB8AChgALUmgBccXtLCsw12WACU19Gg4xMZi3D-8AGQypAgA1twASsAI0KLcKmoa0gBGEBBIwCjCBtLOBniERHAA9ABUcGgQALbAcEgQZAhwphx1ZSVFAL74PfixwipwKNY4O

[2022-11-22 22:45] Uzlopak commented on #4081
Looks not thaaat complicated.

[2022-11-22 22:58] L2jLiga commented on #4081
Well yes, but no 😅

It does not mutate original class but mutates type of `a`, as well it doesn't work if type of `a` is not set explicitly

Within one file I think everything is totally fine, but how I can tell other files about actual type of `a`?

[2022-11-22 23:08] L2jLiga commented on #4081
Ok, I have an answer:

<details>
<summary>Example</summary>

*app.ts*:
[code]

*job.ts*:
[code]
</details>

[2022-11-23 08:21] jagu-sayan commented on #4435
Thanks @marcoreni
I do an `import { fastify } from "fastify";`, but I  have `"moduleResolution": "NodeNext"` in my  `tsconfig.json`, if I put `"moduleResolution": "Node"`, my problem is reolved.

[2022-11-23 09:07] Uzlopak commented on #4349
@kibertoad

I checked your claim on twitter regarding esModuleInterop. It seems to work without issues.

[2022-11-23 09:12] Uzlopak commented on #4435
We are currently fixing nodenext issues.

[2022-11-23 10:04] fox1t commented on #4349
@Uzlopak, which claim?

[2022-11-23 10:25] climba03003 commented on #4349
Only claiming `esModuleInterop: false` would break without knowing the `TypeScript` and `Node` module system deeper.

The types works because we do something on the `module.exports` exportation.
When `esModuleInterop: false`,
[code]

[2022-11-23 16:14] Uzlopak commented on #4349
So there are now about 10 PRs regarding various plugins. It takes about 10 minutes to convert typings for nodenext. Sometimes it takes more, because some packages can optimized in a "drive-by".

I guess we can first process the open PRs and then I can provide another batch.

[2022-11-24 20:23] L2jLiga commented on #4081
btw it's also possible to build generic type on the fly, order does not make sense, [TS playground example](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgSQHYGMImKg5gWQFMBnYgQ10IBo4B5AVxlwhwJPMrgF84AzKLHADkACxgwwQgNwAoGQHp5cAOKFUhKMHRwcMDbzLpCM3fsOE4AJUIBHeiRir1m9AB5rdh3EIAPPagATYhQMLFYiUgpqK0IwABsAT28-NSC6RmZw9iiaACEIAKSAXjh6VABrVAgAd1QAPkQZODgoW3tiGAAuGM8O2WbW+ITu6yH+uAAjAuG4fMLZLjl

[2022-11-25 08:55] SimenB opened #4439 "Access handler name"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Open Telemetry accesses the (now deprecated via #4216) `request.context` property so it can try to get the name of the handler function. See https://github.com/open-telemetry/opentelemetry-js-contrib/blob/4cafe6becc19c

[2022-11-25 09:09] climba03003 commented on #4439
Would you like to send a PR to expose the handler in `request.routeOptions`?
It is a separate object that should not mutate the `#context`, `routes`. And should not have side-effect at all.

I should be good enough to replace the original usage.

Note: I though `function` is not useful for exposing, it clearly not.

[2022-11-25 14:04] avanelli commented on #3802
I created this RealWorld implementation using Fastify: [Fastify + Knex.js - Realworld Example App](https://github.com/avanelli/fastify-realworld-example-app)

The project has been submitted today for approval.
Any review, comment or contribution will be more than welcome!
(Raising test coverage is in progress)

[2022-11-25 23:04] mikevercoelen opened #4440 "Cannot find reference (array schema)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.10.2

### Plugin version

_No response_

### Node.js version

16.18.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.7

### Description

If using an array of ref schema's, an error is t

[2022-11-26 00:22] L2jLiga commented on #4440
Hi @mikevercoelen,
in order to use schema references this schemas should be added to fastify instance - [reference](https://www.fastify.io/docs/latest/Reference/Server/#addschema)

*example*:
[code]

[2022-11-26 07:31] mikevercoelen commented on #4440
Hi thanks for the quick reply!

Yup, that's what I've done already, it's still crashing. Try it.

[2022-11-26 08:04] mikevercoelen commented on #4440
I found the issues, due to the order of when things are imported

[2022-11-26 08:04] #4440 closed

[2022-11-26 09:20] Eomm commented on #4439
As we have an `instance.pluginName` we could add a `request.routeOptions.routeName`

[2022-11-26 09:58] ccarcaci opened #4443 ""Content-Length required" status code response 400 instead of 411"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.10.0

### Plugin version

_No response_

### Node.js version

16.18.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 22.04

### Description

I have specified this json schema valida

[2022-11-26 10:41] Uzlopak commented on #4443
Please provide a minimal viable code example. A repository which we can clone etc..

[2022-11-26 12:07] metcoder95 commented on #4443
Though the main point is in fact true by spec, the behavior is completely expected and I'm not sure if something should be changed/fixed at the Fastify level.

Here what is happening is that the request is reaching the proper `JSON Schema` defined and doing a proper validation by returning `HTTP 400` as the validation failed (the property is missed).
As `fastify` doesn't have a way to treat the `s

[2022-11-26 12:12] ccarcaci commented on #4443
Here a repository: https://github.com/ccarcaci/fastify-no-411
Usage:
[code]

[2022-11-26 12:17] ccarcaci commented on #4443
Understood.
Is it viable to have embedded into fastify framework specific handlers for `Content-*` that catches if in JSON Schema they are defined and generate errors compliant with the spec?

[2022-11-26 13:06] climba03003 commented on #4443
No, since `JSON Schema` may not contain only the `JSON Schema`. It can be a custom validator, for example `Joi`, `Yup`, etc.
Supporting this application logic would be too heavy.

Note that `400` is a valid status code in this case. It is not as specific as `411`, but it is not a wrong status code.

[2022-11-26 14:43] Uzlopak commented on #4443
If you use fastify-multipart for uploads we could theoretically handle the error in there...

[2022-11-26 14:55] ccarcaci commented on #4443
Fair enough.
Thank you for your answers.

[2022-11-26 20:07] #4435 closed

[2022-11-28 09:51] Uzlopak commented on #4349
I think these are repos we have to make nodenext compatible:

- [ ] accept-negotiator
- [ ] ajv-compiler
- [ ] any-schema-you-like
- [ ] avvio
- [ ] aws-lambda-fastify
- [ ] busboy
- [ ] compile-schemas-to-typescript
- [ ] create-fastify
- [ ] csrf
- [ ] csrf-protection
- [ ] deepmerge
- [ ] deprecate-modules
- [ ] env-schema
- [ ] fast-formdata-stringify
- [ ] fastify
- [ ] fastify-accepts
- [ ]

[2022-11-28 13:38] Uzlopak commented on #4349
Made the next batch of 10:

https://github.com/fastify/fastify-error/pull/88
https://github.com/fastify/fastify-leveldb/pull/107
https://github.com/fastify/fastify-bearer-auth/pull/148
https://github.com/fastify/fastify-basic-auth/pull/110
https://github.com/fastify/fastify-hotwire/pull/87
https://github.com/fastify/fastify-circuit-breaker/pull/106
https://github.com/fastify/fastify-etag/pull/94
h

[2022-11-28 14:41] #4443 closed

[2022-11-28 14:44] jsumners commented on #4439
The name of the route isn't really an "option" though, is it? It's entirely possible that it should have been:

[code]

Which would give `route.info.handler.name`.

[2022-11-28 16:57] jasonrberk commented on #1628
straight from your quickstart:

![Screen Shot 2022-11-28 at 11 57 03 AM](https://user-images.githubusercontent.com/31823413/204336650-d6592039-8336-46ca-99af-617691f194bd.png)

[2022-11-29 09:06] migolovanov opened #4445 "Content-Type parsing issue"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

3.29.3

### Stopped working in version

3.29.4

### Node.js version

16.18.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

22.04

### 💥 Regression Report

The following code
`fa

[2022-11-29 09:09] climba03003 commented on #4445
I don't think it is a valid `content-type`.
`application/msgpack; charset=utf-8` would be a valid one.

[2022-11-29 09:21] migolovanov commented on #4445
Yes, I know. That's probably is the client issue, but it was working fine in 3.29.3 and not working in 3.29.4.

[2022-11-29 09:27] migolovanov commented on #4445
Sure, no problem. I created this issue just in case someone will meet similar errors after upgrade.

[2022-11-29 09:28] climba03003 commented on #4445
As a workaround, you may use RegExp `/^application\/msgpack(.*);?/` which will do a full text comparison.

[2022-11-29 09:36] climba03003 commented on #4445
cc @fastify/core
Maybe we need switch from `strict parsing` to `.indexOf() === 0` in `v3` and `v4` instead of `v5`.

Better step to minimize impact for RegExp.

1. Remove `content-type` parsing.
2. Switch `text` comparison to `.indexOf() === 0`
3. Inspect `regexp` and warn if they start with proper `^` or check with `;?`. Since it will expose to the same attack.
4. Add `Security Notice` in documen

[2022-11-29 12:52] jsumners commented on #4445
Incorrect. These two content types are equivalent: `application/msgpack` and `application/msgpack; charset=utf-8`.

https://www.rfc-editor.org/rfc/rfc2046.html#section-4.1.2

(emphasis added)

The spec path is https://www.rfc-editor.org/rfc/rfc9110.html#name-content-type => https://www.rfc-editor.org/rfc/rfc9110.html#name-media-type => https://www.rfc-editor.org/rfc/rfc2046.html#section-4.1.2

[2022-11-29 12:57] climba03003 commented on #4445
Please read the comment carefully.
The issue mention `application/msgpack, charset=utf-8` which is an invalid one.

I mention `application/msgpack; charset=utf-8` in later for clarify, the client should send with `;` as separator instead of `,`

[2022-11-29 13:16] jsumners commented on #4445
Ah, yes, in that case this is unsupported and not an error we should handle. If a service needs to handle such invalid cases then they can pass their own content type parser:

https://www.fastify.io/docs/latest/Reference/Server/#addcontenttypeparser
[code]

[2022-11-29 13:20] jsumners opened #4446 "Incorrect example in default text parser docs"
https://github.com/fastify/fastify/blob/df5d94f541c50f690e8beebd143fdb3d861d991b/docs/Reference/Server.md?plain=1#L1673

This is incorrect. It should be `fastify.defaultTextParser` not `fastify.defaultTextParser()`.

[2022-11-29 15:19] cloi37 opened #4447 "ERROR: lru is not a function"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

^4.9.2

### Plugin version

^4.3.0

### Node.js version

18.4

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

node:18.4-bullseye

### Description

ERROR: lru is not a function
[App]     err:

[2022-11-29 15:29] Uzlopak commented on #4447
This happens when the tiny-lru package is not updated.

[2022-11-29 15:51] SaumyaBhushan commented on #4446
Hi @climba03003 I would like to work on this.

[2022-11-29 17:07] #4446 closed

[2022-11-30 06:52] mcollina commented on #4445
@climba03003 would you mind opening the PR for strict parsing? Then we can decide if we ship in now or laterz

[2022-11-30 08:08] climba03003 commented on #4445
@mcollina Here it is. #4450