[2018-12-19 00:56] arniu commented on #1321
As `abstract-logging` is used as the fallback logger, errors will occur when pino methods applied on the fallback logger. The fastify types should export exact, minimum interfaces.

[2018-12-19 08:35] mcollina opened #1334 "Missing two error codes"
* [ ] https://github.com/fastify/fastify/blob/1ad553df56f6833048a7e105fb500ac6db60ce2f/lib/reply.js#L65
* [ ] https://github.com/fastify/fastify/blob/1ad553df56f6833048a7e105fb500ac6db60ce2f/lib/wrapThenable.js#L19

I propose we fix those before 2.0.0 is out.

[2018-12-19 08:43] mcollina opened #1335 "Increase code coverage to 99% or 100%"
I think we have slipped from our 99% target (since @allevo did https://github.com/fastify/fastify/pull/295 and @Ethan-Arrowood did https://github.com/fastify/fastify/pull/340).

We have a bit of prior history on on this: https://github.com/fastify/fastify/issues/289.

[2018-12-19 08:48] mcollina commented on #1330
I changed my mind, and in fact we can enable setting `reply.sent = true` in a more controlled manner.

See https://github.com/fastify/fastify/pull/1336 for more details.

[2018-12-19 10:38] delvedor commented on #1335
If someone wants to work on this, the npm command `npm run coverage` should be helpful. It will run the test and then open a browser window with the code coverage results, which is a perfect starting point! :)

[2018-12-19 14:12] Ethan-Arrowood commented on #1335
I should have some time today to look into this. I’m excited to dive into the new untested parts of Fastify v2

[2018-12-19 15:35] evanshortiss commented on #1321
@arniu, I see what you mean about `abstract-logging` can you provide an example of the issues this causes?

I tested using TS and don't see any issue. `abstract-logging` is a noop, so it has no effect if you call it regardless of args. Tested it like so:

[code]

[2018-12-20 01:12] arniu commented on #1321
`abstract-logging` only has `fatal`, `error`, `warn`, `info`, `debug` and `trace`, which is only a subset of `pino.Logger`'s. According to the type definition, users may use exclusive methods:

[code]

[2018-12-20 04:53] evanshortiss commented on #1321
@arniu I see what you mean now. This is actually a bigger issue beyond TypeScript.

@fastify/fastify, what are your thoughts on this? If logging is not enabled then `server.log` has a different set of methods. Should this be addressed?

If not we can potentially update the `fastify.d.ts` to provide correct typings if `options.logger` is "falsey"?

[2018-12-20 05:35] jsumners commented on #1321
I really don’t understand what the problem is.

[2018-12-20 05:58] nwoltman commented on #1321
If it's possible to provide the correct typings for the logger when it's not a pino instance, that would probably be the best approach.

[2018-12-20 07:08] arniu commented on #1321
So, the fastify types should not reexport `pino.Logger`. As a result, `@types/pino` can be moved out of `dependencies `.

[2018-12-20 08:48] kromol opened #1338 "Root route with prefix does not work"
Root route with prefix does not work.
It works in fastify2 so maybe it would be possible to re-use the fix.

## To Reproduce

Create the root route / and register it with prefix:

[code]

## Expected behavior

`GET /abc/` should work and return `{ result: 1 }`

## Actual behavior
It returns 404

## Your Environment

- *node version*: 10
- *fastify version*: 1.13.2
- *os*: Mac

[2018-12-20 09:03] mcollina commented on #1338
Thanks for reporting. This is a known issue in Fastify v1, which was fixed in Fastify v2 in https://github.com/fastify/fastify/pull/1228. We deemed the change semver-major, because it would be exposing one more route.

You can try `npm install fastify@next` while we finish the RC phase.

[2018-12-20 09:03] #1338 closed

[2018-12-20 09:03] #1330 closed

[2018-12-20 09:10] delvedor commented on #1321
I understand the problem, but it will also happen in js if the logger is disabled.
This is not a TypeScript issue, but a wider one, that can be fixed in various ways, starting from a note in the documentation, to extending the API surface of `abstract-logger`.

I don't see this one as a critical issue since there is no point to interact with the logger so heavily (`log.addListener`) and then disab

[2018-12-20 09:16] mcollina commented on #1321
I think we have two routes:

1. bundle a subset of the types of `@types/pino` in fastify. This has the added benefit of removing a dependency that we do not maintain, which is not bad.
2. make `abstract-logging` inherit from `EventEmitter`

In theory a user could pass in any logger that matches that abstract-logging interface, so 1 is definitely feasible.

[2018-12-20 09:17] #1278 closed

[2018-12-20 09:20] kromol commented on #1338
It might be useful for other people.

One possible workaround would be to create wildcard route like this:
[code]
However it will not work if there is regex route (it would work with other static routes and with routes with params):
[code]

[2018-12-20 09:52] 0xsuid commented on #1334
@mcollina can you elaborate those issues?

[2018-12-20 10:55] 0xsuid commented on #1334
Thanks, If you can help me to **reproduce** both errors it will be great.

[2018-12-20 10:57] mcollina commented on #1334
They are already covered in our tests:

* https://github.com/fastify/fastify/blob/347957c77e384d44b90adc9ad9347a0974ada922/test/async-await.js#L360
* https://github.com/fastify/fastify/blob/c4eb1d96c0febcd2e52e665c68bd85fab55c0787/test/hooks.test.js#L2018

[2018-12-20 11:01] 0xsuid commented on #1334
This seems to a simple - add code in error.js like below right?
[code]

[2018-12-20 11:04] mcollina commented on #1334
Yes, that's it!

[2018-12-20 16:39] MaxVinogradov commented on #1316
@mcollina okay, tanks. I will add it to docs after NY

[2018-12-20 17:47] evanshortiss commented on #1321
I was thinking of this, essentially extending how we detect http2 and https, but it's becomes incredibly messy:

[code]

That doesn't seem scalable either, but maybe there's a solution I'm not aware of.

@delvedor, I agree it doesn't make sense to interact so heavily. You can just use a global/environment variable to avoid the issue.

@mcollina, for #1 are you suggesting we just expose a simple in

[2018-12-20 18:23] 0xsuid commented on #1334
@mcollina I've changed reply.js(locally). Can you help me to create new test in hooks.test.js according to it?

[2018-12-20 18:23] mcollina commented on #1334
I think you should just add two more assertions in the test I linked, verifying the error code.

[2018-12-20 18:37] 0xsuid commented on #1334
@mcollina Can you give me one example - error code located in lib/errors.js and related test :(

[2018-12-20 19:00] 0xsuid commented on #1334
@mcollina

fastify/test/hooks.test.js
[code]
IMO this line supposed to have variable **send** and **onError** OR this line contains ``` ` ``` sign for other purposes??

because I've tried to log that line in test and got same in message : 'You cannot use `send` inside the `onError` hook'

[2018-12-20 19:30] mcollina commented on #1334
Changing those would be ok.

[2018-12-20 19:32] mcollina commented on #1321
child is part of abstract-logger I think, addEventListener is not.

Typescript users that might want to access the full pino type could always cast it, right?

[2018-12-20 23:41] mcollina commented on #1314
Good word @cemremengu! I think that would be a nice addition to the org.

What do you think @fastify/fastify ?

[2018-12-21 01:07] evanshortiss commented on #1321
@jsumners thanks for the confirmation.

`Typescript` users that might want to access the full pino type could always cast it, right?

@mcollina yep, not ideal, but works. I'd argue it's odd to expose a different set of methods in each scenario, so I lean towards your first proposed option of having `server.log` simply expose a subset of methods. If they need the full range then use a cast.

If we

[2018-12-21 01:08] mannyluvstacos commented on #1335
Hi @Ethan-Arrowood!

I see that within `/lib` the following files are below 100% coverage:

- logger.js
- reply.js
- contentTypeParser.js
- validation.js
- schemas.js

Should we divide and conquer this?
What files may I work on?

[2018-12-21 01:35] mannyluvstacos commented on #1335
:+1: Understood!

I will make a PR to your fork and branch `Ethan-Arrowood:Fix/improve-coverage`

If I run into any issues or have questions, I'll be sure to send them your way.
:metal:

[2018-12-21 06:04] 0xsuid commented on #1334
So I am going to change :
'You cannot use ``` `send` ``` inside the ``` `onError` ``` hook'
To
'You cannot use ``` send ``` inside the ``` onError ``` hook' (without ``` ` ```)

@mcollina

[2018-12-21 08:39] delvedor opened #1344 "Automated daily test for v1"
Currently, greenkeeper will test only the dependencies declared in the master branch. This means that we will not know if something is failing in our v1 release line.

I'm not sure Greenkeeper supports that (https://github.com/greenkeeperio/greenkeeper/issues/848), in the meantime, we should implement an automated daily build *(both in Travis and Azure pipelines)* to ensure that v1 dependencies ar

[2018-12-21 10:36] mcollina commented on #1344
I tried but i was not able to set it up on azure.

[2018-12-21 10:38] SkeLLLa opened #1345 "Core plugins list with breaking changes for Fastify v2"
## 💬 Questions and Help

It would be very helpful if some table like in example below will be created for Fastify and it's core plugins. It will help devs of 3rd party plugins to be prepared for upcoming release of Fastify.

So it will contain core plugins (and may be some 3rd party) with links to repo, version that supports Fastify v1 and v2 and info about availability of "next" version that's al

[2018-12-21 10:40] delvedor commented on #1345
Every plugin that already supports Fastify v2 states it in its README.
Regarding the list of which plugin still need to be updated maybe we can use [github projects](https://help.github.com/articles/about-project-boards/)?

[2018-12-21 10:59] cemremengu commented on #1344
Is it possible to run citgm as a cron job as well? I had the idea to host it on heroku as a separate tool for quickly verifying if something is broken but didnt have time

[2018-12-21 11:01] cemremengu commented on #1345
As far as I know only `bankai` and `oauth2` plugins are remaining

[2018-12-21 11:01] mcollina commented on #1344
It's possible to run it in Travis, yes.

[2018-12-21 11:43] mcollina commented on #1321
I think we should go into that direction and drop the dependency. I like it. Should we include this in 2.0.0, or should we backport in 1.x as well? Seems a major change.

[2018-12-21 12:03] #1312 closed

[2018-12-21 12:46] flickz commented on #1335
Can I still join the effort over the weekend?

[2018-12-21 12:54] mcollina commented on #1335
Go for it!

Il giorno ven 21 dic 2018 alle 13:46 Oluwaseun Omoyajowo <
notifications@github.com> ha scritto:

[2018-12-21 16:03] Ethan-Arrowood commented on #1335
@mcollina @delvedor I'm looking into testing the else clause of the http2 conditional:
https://github.com/fastify/fastify/blob/10cd7a46bd0ed5b6a4fbc54a7320c5bb76966c9e/fastify.js#L988-L994

The only way I can think of doing so is mocking console.error and verifying that it receives that string literal. Should I implement the test like that?

Alternatively:
- should I not test this at all (currentl

[2018-12-21 16:17] mcollina commented on #1335
I think it's better to have this error bubble up, we should not be starting up if http2 is required and we are on an older Node.js version where this is not available.

[2018-12-21 16:17] mcollina commented on #1335
You can use `proxyquire` to mock the condition where http2 is not available.

[2018-12-21 18:13] Ethan-Arrowood commented on #1335
Should I submit the bubble up error part as a separate pr or is it okay to include it within this coverage one?

[2018-12-21 20:34] allevo commented on #1314
@mcollina  Absolutely 👍

[2018-12-22 11:48] SkeLLLa commented on #1345
The main idea is to have a list in one place where all modules that need to be updated will be present. So I as an author of couple 3rd party plugins can look through it and through my package deps and understand will I need some updates for Fastify v2 support.

For example fastify-oas plugin uses fastify-static https://github.com/SkeLLLa/fastify-oas/blob/master/package.json#L54.
And fastify-stati

[2018-12-22 15:22] galuh1300d opened #1347 "Fastify Can't Post, no Reply"
Hello, is there anyone here that face no reply from fastify post method?
i tried everything, but same result

[here's my github](https://github.com/galuh1300d/fastify)

here's my index.js
[code]

here's my routes
[code]

[2018-12-22 15:49] cemremengu commented on #1347
[code]

You never send/return the response. There is also no `.json` function for response.

You can read more at https://github.com/fastify/fastify/blob/master/docs/Reply.md

[2018-12-22 19:31] #1325 closed

[2018-12-22 19:32] cemremengu commented on #1325
Landed in `2.0.0-rc.3` and `1.13.3`

[2018-12-22 19:35] cemremengu commented on #1300
Closing due to inactivity, feel free to reopen if needed

[2018-12-22 19:35] #1300 closed

[2018-12-22 19:45] goliatone commented on #1129
@mcollina I understand the reasoning for not handling errors is partially due to performance and because, well, it is hard. I find this take valuable during production but makes the development process very unfriendly.
One of the things I really enjoyed about Sails was how friendly their errors are- they catch errors and provide suggestions/fixes for the most common ones.

Is there a way to overri

[2018-12-22 20:43] 0xsuid commented on #1334
Created PR #1348 to fix this issue

[2018-12-23 03:55] galuh1300d commented on #1347
Thank you for your response, i tried to change it to the fastify suggest me to do
but, it still doesn't give me a reply, it stuck in "incoming request",
also i try to get rid of all of it and give it console.log(), and it stuck too

`const mongoose = require('mongoose')
const Saran = mongoose.model('saran')

module.exports = (fastify) => {

  fastify.post('/api/saran', (request, reply) => {
    co

[2018-12-23 06:20] Ethan-Arrowood opened #1349 "Typescript cannot invoke an expression whose type lacks a call signature."
## 🐛 Bug Report

Setting up a typescript project using TypeScript 2.0 and Fastify 2.0 if you have the following `tsconfig` properties toggled a TypeScript error is thrown.

`tsconfig.json`
[code]
`index.ts`
[code]
`index.ts error`
[code]

Disabling those tsconfig options removes this error.

## Expected

I'm still new to TypeScript so I don't fully understand what is going on here. I just thought

[2018-12-23 07:37] galuh1300d opened #1350 "Can i use passport in fastify, like i use it in express?"
Can i use passport in fastify, like i use it in express?
Because i get error that said Options for GET:/ route must be an object
or any other solution for me?
thanks in advance

[2018-12-23 07:38] #1347 closed

[2018-12-23 10:02] mcollina commented on #1129
Development and production environments should be as close as possible. Such a huge difference will likely cause many production issues.

The best approach is to let the process crash on error, but use nodemon or similar in development to automatically restart the process

[2018-12-23 10:12] Eomm commented on #1329
Hi,
I would like to work on it.
Do you have already something in mind?

I was thinking that I should edit the [Validation-and-Serialization.md](https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md) adding the missing information. For this could you link me some questions that you received? (I have searched `JSON Schema` in the issues but there are too many confusing

[2018-12-23 10:15] mcollina commented on #1329
required property, null property, multiple types for a property, etc..

[2018-12-23 10:37] delvedor commented on #1349
cc @evanshortiss

[2018-12-23 11:44] mcollina commented on #1345
Done in https://github.com/orgs/fastify/projects/1.

[2018-12-23 11:44] mcollina commented on #1345
(fastify-swagger has been updated already)

[2018-12-23 12:51] cemremengu commented on #1332
@goliatone any updates here? I am curious to see if we could reproduce this

[2018-12-23 16:30] delvedor opened #1351 "Encapsulate JSON schemas"
## 🚀 Feature Proposal

As briefly discussed in https://github.com/fastify/fastify/issues/1058, we can think about support encapsulated JSON schemas, since currently, we are storing them globally.
If we decide to support this we should land it while we are still in the RC phase of v2, since I would consider it as a breaking change.

## Motivation

Most of our API is encapsulated, so having the sche

[2018-12-23 16:31] delvedor commented on #1058
https://github.com/fastify/fastify/issues/1351

[2018-12-23 16:31] #1058 closed

[2018-12-23 17:59] mcollina commented on #1351
I think it would be pretty hard to do in practice, because ajv has its own global registry, which we don’t control.

However, I’m happy to review a PR in that sense. I would try to avoid landing it in v2, as it has been delayed enough.

[2018-12-23 19:02] SkeLLLa commented on #1345
@mcollina looks like that project is private or something. Via link I receive 404 error.

![screenshot_2018-12-23 build software better together](https://user-images.githubusercontent.com/2273103/50386759-74edb380-06f5-11e9-891a-a6ab0c8256b0.png)

PS: I've also updated couple of my plugins including openapi plugin, however I not yet pushed it to npm. I don't want to push them manually so I have to

[2018-12-23 22:48] mcollina commented on #1345
That project is now public

[2018-12-23 22:50] yooouuri commented on #1349
Typescript 3 over here, same error

`"typescript": "^3.2.2"`

[2018-12-23 22:53] mcollina commented on #1349
I have no idea how to fix this. Would somebody like to send a PR?

[2018-12-24 00:08] ayZagen commented on #804
This issue should be reopened.
serverFactory option doesn't work. I am trying to use socketcluster as @goriunov

[code]

[2018-12-24 09:07] fox1t commented on #1349
Hi to all. First of all if you set `esModuleInterop` to true, it also enables `allowSyntheticDefaultImports`, so there is no need to specify both.
I just reproduced your issue with success. You are using `esModuleInterop` that "converts" commonjs modules to es6 ones. You have to write:
[code]
in order to get rid of that error. Also, if you remove both `esModuleInterop` and `allowSyntheticDefaultIm

[2018-12-24 09:52] mcollina commented on #804
Can you please upload a full example?

[2018-12-24 10:05] #1334 closed

[2018-12-24 13:25] Zaseth opened #1352 "Know when client disconnects"
Hello!

Does Fastify have something to detect if a client has disconnected? It's very important for my project. I know that Express (With HTTP) has it and it works as so:

Express:
[code]

HTTP:
[code]

I checked the Fastify documentation but I couldn't find anything related to the type of event system that is used in the code above here. If Fastify doesn't have this, it'd be great to see this sor

[2018-12-24 13:35] cemremengu commented on #1352
Have you tried [hooks](https://github.com/fastify/fastify/blob/master/docs/Hooks.md) for this? I think you can use `onError` and `onResponse`

[2018-12-24 13:39] Zaseth commented on #1352
I've tried to add onError but I get the following exception:

[code]

[2018-12-24 13:46] mcollina commented on #1352
Can you please clarify your intent?

[2018-12-24 13:47] Zaseth commented on #1352
I have to know when a client disconnects (exits the page) so I can perform a certain function. I just don't know if this is possible in Fastify and if so, how?

[2018-12-24 14:50] mcollina commented on #1352
I'm sorry, but you can't know when a client exits the page on a server. The content is served from the web application, rendered on the browser. When `'close'` is emitted on the express request object, it signifies that the current HTTP request has completed and all the data that the user wanted to send has been received. This is completely unrelated to the user exits the page.

[2018-12-24 14:50] mcollina commented on #1352
`'onError'` is available using Fastify v2.0.0-rc.3, you can install it with `npm i fastify@next`.

[2018-12-24 15:01] Zaseth commented on #1352
Well HTTP seems to do the trick!

[code]

When you go to `localhost/` and close the page, it'll print `Client disconnected` on the console.

[2018-12-24 15:20] #1352 closed

[2018-12-24 15:30] jsumners commented on #1352
That's because the connection is totally contained on your system and your browser is terminating the [persistent connection](https://en.wikipedia.org/wiki/HTTP_persistent_connection) when you close the window. This is in turn closing the socket open on your local system that connects to the local server on your system. Things don't work out so conveniently in the real world. There are many more l

[2018-12-24 21:01] Eomm opened #1353 "JSON Schema Error: missing id schema when set $schema"
## 🐛 Bug Report

I'm working on [issue 1329](https://github.com/fastify/fastify/issues/1329) and so I'm trying the docs I'm writing, but I got this error when using the following schema:

[code]

## To Reproduce

[code]

## Expected behavior

I don't expect the thrown's error. The `$schema` is raccomended by the [standard](https://json-schema.org/understanding-json-schema/reference/schema.html) so

[2018-12-25 09:45] mcollina commented on #1353
I've moved this issue from `fastify/help`  to `fastify/fastify`  as it's actually a bug.

[2018-12-26 10:00] #1353 closed

[2018-12-26 21:04] SkeLLLa commented on #1345
BTW, probably it will be also good idea after all core plugins will be ready for v2, to reformat or add similar page with table like in the 1st post where developers of community plugins could also add information about compatibility and/or readiness of the module for Fastify v2.

[2018-12-27 08:36] mcollina commented on #1345
In the meantime.. would you like to get a stab at https://github.com/fastify/website/issues/39? IMHO we should improve the way this info is presented significantly.

[2018-12-27 12:13] allevo opened #1356 "Add license checker somewhere"
## 🚀 Feature Proposal

Why not add a license checker?

## Motivation

## Example

[Like there](https://github.com/confluentinc/kafka-connect-jdbc#license)

[2018-12-27 13:35] mcollina commented on #1356
How about we add https://www.npmjs.com/package/license-checker to our ci run? This is something worthwhile checking on every CI run (so we can things before releases).

I don’t know if this is worthy of a badge, we have already too many.

[2018-12-27 13:39] delvedor commented on #1356
I like the idea to add it to our CI.
Regarding the badges, I agree that we have too many already, probably a note in the README is enough.

[2018-12-27 13:40] allevo commented on #1356
Yeah! It's ok for me.

[2018-12-27 17:07] SkeLLLa commented on #1345
@mcollina as far as I understood website takes data from ecosystem.md where there's only name, link and description. May be it will look better if we add some badges based on plugin name in npm like version, license, vulnerabilities count and some mark if it's a core plugin (as suggested in issue you've mentioned).

[2018-12-29 01:00] digrich opened #1358 "Response cookies are not being parsed correctly on browser."
## 🐛 Bug Report

In my case, the browser is not able to parse response cookies correctly.  When I set multiple cookies, following line of 'Reply.header' function is combining the cookies into one header ('set-cookie') with comma separated cookies.

[code]
Chrome browser is not able to parse all cookies except the first one.

## To Reproduce

I am using fastify-http-proxy and in beforeHandler, tryi

[2018-12-29 03:54] mcollina commented on #1358
Would you like to send a PR to address this issue? It seems you have investigated it quite well. If not, can you please include an example to replicate this issue on Node.js only? It would be helpful to create a unit test.

[2018-12-29 04:18] jsumners commented on #1358
https://tools.ietf.org/html/rfc2109#section-4.2.2

   Cookie:, followed by a comma-separated list of one or more cookies.

RFC 2965 supersedes RFC 2109. It says:

https://tools.ietf.org/html/rfc2965

   Cookie2:, followed by a comma-separated list of one or more cookies.

In turn, RFC 6265 supersedes RFC 2109. However, it does not make the same statement in https://tools.ietf.org/html/rfc6265#sect

[2018-12-30 02:11] digrich commented on #1358
Thanks, @mcollina, @jsumners. I have created a PR for your review.

[2018-12-30 23:40] goliatone commented on #1332
Not really, I basically started the project over and fixed some dependencies in order to use node 10. Thanks!

[2018-12-30 23:40] #1332 closed

[2018-12-31 17:17] xyz-mtl commented on #1314
May Be include this example in the list 👍 ( https://github.com/siegfriedgrimbeek/fastify-api)

[2018-12-31 22:41] #1314 closed

[2019-01-01 08:36] galuh1300d commented on #1350
Can you write tutorial about this in youtube or medium?

[2019-01-01 10:53] delvedor commented on #1350
@galuh1300d you can find an example in:
- https://github.com/fastify/fastify-jwt if you want JWT
- https://github.com/fastify/fastify-auth if you need to handle multiple authentication strategies
- https://github.com/delvedor/monoliths-always-pay-their-debts/tree/master/code/monolith if you want to see a more complete example that has basic authentication as well.

[2019-01-02 17:52] mcollina commented on #1345
I think so. A better alternative is to move the ecosystem page to the website and remove it from this repo and render it from a YAML file.

cc @lmammino

[2019-01-02 18:42] #1358 closed

[2019-01-02 19:32] #1356 closed

[2019-01-02 21:43] Vandell63 commented on #942
Maybe late, but helpful for some later ->

[2019-01-03 11:50] rtvv opened #1361 "TLS / socket hang up / ECONNRESET"
After every request from client i got a server error after a minute (TLS / socket hang up / ECONNRESET), here is the pino logs:
[code]

Simple server configuration ("fastify": "^2.0.0-rc.3", node v11.2.0)
[code]

What does this error mean? Is there something wrong with my configuration?

[2019-01-03 11:55] mcollina commented on #1361
Can you please include instructions on how to get the above error? Which client are you using?

[2019-01-03 11:58] BofEmptiness commented on #1361
It's fastify "^2.0.0-rc.3" and node v11.2.0
You just need to make a GET at any url and wait for one minute @mcollina

[2019-01-03 12:11] cemremengu commented on #1361
Looks like your client closes the connection (timeout) before Fastify can send the response

[2019-01-03 12:17] BofEmptiness commented on #1361
Hm, i think without http2 i've got no errors. Will tell you after 5 min to be sure.

[2019-01-03 12:21] BofEmptiness commented on #1361
I've deleted http2 and have same error.

[2019-01-03 12:30] cemremengu commented on #1361
@BofEmptiness what about https?

[2019-01-03 12:33] BofEmptiness commented on #1361
Ok, i will try just http, give me a minute. Here is the curl something if it will help:

[code]

[2019-01-03 12:54] BofEmptiness commented on #1361
With only http i have no errors =>
If delete this:
`
  https: {
    key: fs.readFileSync('./tls/cert.key'),
    cert: fs.readFileSync('./tls/cert.pem')
  }`
@cemremengu

[2019-01-03 13:04] jsumners commented on #1361
This looks like expected behavior to me.

1.

2.

So the client is keeping the TLS connection alive to avoid redoing the handshake on the next connection. But since you are not sending another request, that connection is timing out. By default, the server will [timeout the connection after 2 minutes](https://nodejs.org/api/http.html#http_server_settimeout_msecs_callback).

[2019-01-03 13:05] BofEmptiness commented on #1361
This line looks strange for me to, but how do i change this behavior? It's some https setting or tls keys problem?

[2019-01-03 14:45] mcollina commented on #1361
The error comes from here: https://github.com/fastify/fastify/blob/master/fastify.js#L823-L831.

I think we could: move that error to log level debug, as it's a very low level condition. I think it's likely better than ignoring ECONNRESETs, as those might be needed for other stuff as well.

@BofEmptiness would you like to send a PR?

[2019-01-03 15:10] BofEmptiness commented on #1361
I will. Will be my first PR on github :) @mcollina

[2019-01-03 15:35] cemremengu commented on #1361
@BofEmptiness let's keep this open until the PR lands :) Please reference this issue from the PR.

[2019-01-04 06:01] Ethan-Arrowood opened #1365 "Reply.sent is not assignable"
While reviewing code not covered by unit tests I discovered the following lines are completely skipped:
https://github.com/fastify/fastify/blob/adfa0c32b818af0f6f477dce5680bc871a5e2669/lib/reply.js#L73-L84

The `set` method is never being executed even though throughout this file and others `reply[kReplySent]` is being assigned, for example:
https://github.com/fastify/fastify/blob/adfa0c32b818af0f

[2019-01-04 06:10] Ethan-Arrowood commented on #1365
Reading into the code some more it seems like this was the intended behavior and that you are using the symbol intentionally to allow the user to safely set this property. I guess I'm closing this and will go back to figuring out why the coverage reporter is not picking up on this code being executed.

[2019-01-04 06:21] Ethan-Arrowood commented on #1365
Okay this is **actually** a bug.

Changing line 21 in skip-reply-send.js to `reply.sent = false` neither fails the test nor throws an error like specified in the setter method.

[2019-01-04 07:12] mcollina commented on #1365
Good spot! Would you like to send a PR to fix it?

[2019-01-04 11:43] mcollina opened #1367 "document how to write good tests for a fastify app."
## 🚀 Feature Proposal

I think we should document how to write good unit and integration tests for a fastify app within this repository. I think we should include some examples with tap, mocha and jest.

## Motivation

We should really avoid cases of people losing a lot of time because they are not calling  `app.close()` for example, see https://github.com/fastify/fastify-mongodb/issues/65#issueco

[2019-01-04 22:37] Eomm commented on #1351
Hi,
if you agree I would like to work on this task in order to support the json-schema [`definitions`](http://json-schema.org/latest/json-schema-validation.html#rfc.section.9).

I didn't read the code yet, but the main functions to support at the beginning could be:
1. (standard) each route schema can use the `definitions` tag to define reusable json-schema only in that route schema (example below

[2019-01-04 22:49] mcollina commented on #1351
Go for it!! I would not add `shareddefinitions` at this point.

[2019-01-05 11:36] #1361 closed

[2019-01-05 17:31] delvedor commented on #1344
@vagisha-nidhi is this possible with Azure pipelines?

[2019-01-06 06:06] realYondercode opened #1369 "Add preSerialization hooks as a route-level hooks"
## 🚀 Feature Proposal

Add preSerialization hooks as a route-level hook, called when reply.send() is called (just before response serialization is started)

## Motivation

Useful for altering response just before the response serialization (and validation) happens. The response schema is awesome as a response filter, but a response transformer (or anything, since this is an user-defined function)

[2019-01-06 07:16] mcollina commented on #1369
Good idea! Would you like to send a PR?

[2019-01-06 22:04] mohammad-khooie opened #1372 "TypeError: undefined is not a function in registering custom plugin"
hello I want to use uws (u web sockets) in fastify so I download it and compile it and write a plugin with name setupSocketServer.js to register uws object in fastify.
this is my plugin
[code]
and this is my index file that register this plugin
[code]
but when I start my server I get strange error that I never seen it before
**undefined:0

[2019-01-06 22:15] jsumners commented on #1372
You didn't pass a `next` function to the plugin and you didn't invoke that `next` function to indicate your plugin has finished its setup.

[2019-01-06 22:34] mohammad-khooie commented on #1372
All of my Plugins are async function and I don't know why I forget async keyword but after use async functions or use next function the problem is still there

[2019-01-06 22:49] Ethan-Arrowood commented on #1365
Of course!

[2019-01-07 00:57] Ethan-Arrowood commented on #1365
#1342 fixed in this PR

[2019-01-07 03:13] sebdeckers opened #1374 "the default handler for 404 did not catch this"
## 🐛 Bug Report

I have a server that is exposed to quote a bit of bot traffic, scanning for some known vulnerabilities in common web apps. Just saw this message from Fastify requesting me to report the error. HTH.

[code]

## To Reproduce

This was not intentionally produced so I sadly have no reproduce steps.

## Expected behavior

Error message implies that the default 404 handler should deal w

[2019-01-07 05:47] vagisha-nidhi commented on #1344
Hi @delvedor
You can schedule your build in Azure Pipelines as well.
You can to edit build pipeline and you will find this option in the Triggers tab.
Here is a screenshot for the same.
![image](https://user-images.githubusercontent.com/13175100/50751017-cbb6c980-126d-11e9-8142-92eec681980a.png)

[2019-01-07 08:05] mcollina commented on #1344
Done.

Do you know if this shows up only in the visual designer? Where is the docs for this? I couldn't find it.

[2019-01-07 08:05] #1344 closed

[2019-01-07 08:19] vagisha-nidhi commented on #1344
@mcollina You can visit [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=vsts&tabs=yaml) for more details on scheduling builds. As quoted on the link `Scheduled builds are not yet supported in YAML syntax. After your create your YAML build pipeline, you can use the designer to specify a scheduled trigger.`

[2019-01-07 08:32] mcollina commented on #1374
I've debugged this a bit. It happens when somebody is sending a malformed HTTP/1.1 request.

[code]

Can you confirm `5.188.210.50` is the IP address your server is hosted on?

Normally it should be something like:

[code]

find-my-way assumes that all URLs starts with `/`.

---

In https://tools.ietf.org/html/rfc2616#section-5.1.2:

   versions of HTTP, all HTTP/1.1 servers MUST accept the absolu

[2019-01-07 08:35] mcollina commented on #1344
Thanks! I would recommend to add some notes when editing the yaml that some configurations are not available there, and check in the designer.

[2019-01-07 08:40] mcollina opened #1375 "Configure azure pipelines to send an email when there is a failure on master or 1.x"
As titled :). I couldn't find it in the docs.

[2019-01-07 09:55] mcollina commented on #1372
Can you please upload the full stacktrace, and maybe an example to reproduce?

[2019-01-08 03:38] sebdeckers commented on #1374
So I don't know if this is intended behaviour but Express does in fact route to handlers of `/echo.php` when using an absolute URL in the request. And the `request.url` property contains the entire string.

[code]

[code]

Node shows:

[code]

[2019-01-08 09:38] kromol opened #1376 "Dynamic schema for route"
## 🚀 Feature Proposal

Ability to set schema for route dynamically ( for example in `preValidation`)

## Example

I see at least two use cases for this feature:

1. When one URL serves several versions of the resource (expected version passed in header) then it would be great to have ability to inject correct schema.
2. Sharing one schema for request and response with `readOnly` and `writeOnly` at

[2019-01-08 09:39] delvedor commented on #1374
We'll fix this in [`find-my-way`](https://github.com/delvedor/find-my-way) :)

[2019-01-08 09:53] delvedor commented on #1376
I think this can be easily implemented in a plugin.
Do you want to try?

[2019-01-08 10:03] flickz commented on #1335
@Ethan-Arrowood How can I trigger an error here https://github.com/fastify/fastify/blob/9f9c88fed17c99675074ef095bd324515bd6c9b9/lib/schemas.js#L46-L56 that wouldn't match `/FST_ERR_SCH_*/` condition and instead returns `swapSchema`? Like to test the case.

[2019-01-08 11:44] kromol commented on #1376
Yes, I'd like to give it a try. I will think what would be the best way to do it in `fastify` way and come with my suggestions soon so you can let me know if it's good direction.

[2019-01-08 19:11] flickz commented on #1335
Yeah, make sense, I looked through also. I don't think there's any error outside of `FST_ERR_SCH_*` that could occur.

[2019-01-08 19:57] flickz commented on #1335
@Ethan-Arrowood Thinking about creating a `wrapThenable.test.js` for [wrapThenable.js](https://github.com/fastify/fastify/blob/9f9c88fed17c99675074ef095bd324515bd6c9b9/lib/wrapThenable.js) What do you think?

[2019-01-08 20:01] Ethan-Arrowood commented on #1335
Yes good idea! I think this time you should open a PR from your fork directly to Fastify too.

[2019-01-08 20:51] mohammad-khooie commented on #1372
the problem is solved
and its not for fastify
thank for helping

[2019-01-08 20:51] #1372 closed

[2019-01-08 20:52] flickz commented on #1335
Okay great!

[2019-01-09 22:14] amer8 commented on #1374
Same Fastify warning when the path contains a `%`.

[2019-01-10 10:16] #1374 closed

[2019-01-10 10:55] delvedor commented on #1374
We have just released a new version of our router, can you update your dependencies and try again? Thanks!

[2019-01-10 11:30] #1321 closed

[2019-01-10 12:45] reposandermets opened #1378 "Fastify Typescript RouteSchema missing headers?: JSONSchema"
Hello

Thank you for the great Fastify project. We're moving from Express to Fastify, because of async/await support and schema driven approach.

While using fastify v2 with typescript the following code:

[code]

produces ts error:

[code]

fix seems simple:
instead of https://github.com/fastify/fastify/blob/master/fastify.d.ts#L185
[code]

it should be

[code]

If that is correct I'd be happy to

[2019-01-10 17:22] delvedor commented on #1365
Can we close this?

[2019-01-10 18:37] flickz commented on #1367
Totally different from the current? https://www.fastify.io/docs/latest/Testing/#testing-with-a-running-server

[2019-01-10 18:42] mcollina commented on #1367
That does not include techniques for shutting down the connection/cleaning up the database, etc. As an example:

[code]

[2019-01-10 18:42] mcollina commented on #1367
Note that it reuses the database connection and shut it down appropriately.

[2019-01-10 20:14] Ethan-Arrowood commented on #1365
Yes!

[2019-01-10 20:14] #1365 closed

[2019-01-10 20:15] Ethan-Arrowood commented on #1335
We can close this issue now with the pr merge

[2019-01-10 20:22] #1335 closed

[2019-01-10 20:24] cemremengu commented on #1335
@Ethan-Arrowood @flickz Thank you guys great work!

[2019-01-11 10:07] PacoDu opened #1383 "package-lock.json missing"
## 💬 Questions and Help

I'm wondering why you do not use `package-lock.json` ? Which is against npm recommendation.

Also if you don't want to commit this file, why is it not filtered in the `.gitignore`. This would avoid PRs that add this file (I saw some comments about this in the code reviews).

[2019-01-11 10:13] mcollina commented on #1383
https://github.com/sindresorhus/ama/issues/479#issuecomment-310661514 sum up my point of view.
I don't know what other members of this community thinks, so we might want to re-evaluate our decision in this regard.

We also support both yarn and npm, and it means that the respective lockfiles would likely conflict. Overall it's probably a good idea not to commit one.

Note that https://github.com/f

[2019-01-11 10:20] PacoDu commented on #1383
Thanks ! I see your point know based on sindresorhus' comment.

Didn't noticed this one >.< https://github.com/fastify/fastify/blob/master/.gitignore#L62, I originally wrote this in [fastify-gql](https://github.com/mcollina/fastify-gql) and decided to move this issue here.

[2019-01-11 10:22] mcollina commented on #1383
Feel free to send a PR to ignore it in any of my modules.

[2019-01-11 10:22] #1383 closed

[2019-01-11 13:23] reposandermets commented on #1378
Hi, yes going to open PR.

[2019-01-11 21:05] Vandell63 opened #1384 "Param Validation not fire from schema validation"
Thx for this awesome framework !

## 🐛 Bug Report

Params validation with pattern do not fire !

## To Reproduce
[code]
Paste your code here:

[code]

## Expected behavior
I expect to get in my fastify route request from `/users/4abc2` a `request.param.id` to be `{}` instead of `{id: '4abc2'}`

Paste the results here:

[code]

## Your Environment
[code]
Thx in advance

[2019-01-11 21:21] cemremengu commented on #1384
it should be `request.params` (note the `s` at the end). Is that a typo in your example?

[2019-01-11 21:44] cemremengu commented on #1384
@Vandell63 works for me:

[code]

[code]

[2019-01-11 22:00] Vandell63 commented on #1384
Thx for your response.
Can you try it with
[code]
Ok i just found -> the issue gone when i remove the ` attachValidation : true ` to false
i create my route with the `attachValidation` set to true, is it a normal side effect ?

[2019-01-11 22:03] Vandell63 commented on #1384
Ok my bad -> ` If you want to handle errors inside the route, you can specify the attachValidation option for your route`. Thanks you for your reactivity.

[2019-01-11 22:07] cemremengu commented on #1384
Yes, there can be situations where you dont want Fastify to automatically send back an error on validation failure. In such such cases you can use `attachValidation` which will put validation result to `request.validation` and let you handle it however you want.

[2019-01-11 22:08] #1384 closed

[2019-01-12 08:20] mandaputtra commented on #1378
@reposandermets would you like to write test on the [PR](https://github.com/fastify/fastify/pull/1380) @reposandermets I'm like 2 weeks afk.

[2019-01-12 10:04] reposandermets commented on #1378
@mandaputtra going to give it a try :)

[2019-01-14 18:27] rtvv opened #1387 "Ajv validation in fastify for integer works strange"
Only in fastify i get null after integer validation on Send. Incoming requests with integer check works fine.

This works fine (manual validation):
[code]

But this return null in registered object:
[code]

If i change
 `return res.send({ registered: 1 })`
to
 `return res.send({ registered: true })`
It's works and i get true

If i change
 `type: ['integer', 'boolean']`
to
` type: ['number', 'boole

[2019-01-14 20:05] xzanlo commented on #1387
Fastify uses Ajv to only validate input data. Response serialization is performed by [fast-json-stringify](https://github.com/fastify/fast-json-stringify). Check this out: https://github.com/fastify/fast-json-stringify/issues/133.

[2019-01-14 21:43] rtvv commented on #1387
@xzanlo oh, thanks!

[2019-01-14 21:43] #1387 closed

[2019-01-15 01:57] shwei commented on #946
@delvedor @mcollina would love to have some pointers to actually use fastify in Cloud Functions. The typical call for http triggered functions is done by calling Functions' built-in onRequest method:
`
const functions = require('firebase-functions');
...
exports.greetFromFastify = functions.https.onRequest(fastify);
`

The full code example is at https://gist.github.com/shwei/d34c7383a117451c07dc7

[2019-01-15 04:42] mcollina commented on #946
@shwei you might want to use https://www.fastify.io/docs/v1.13.x/Server/#serverfactory and pass the given handler to https://gist.github.com/shwei/d34c7383a117451c07dc701ad12482f1#file-fastify-in-firebase-function-js-L9 instead of the fastify instance.

[2019-01-15 14:55] Ethan-Arrowood commented on #1375
I'll look into this one today. I think this might be a good starting resource: https://docs.microsoft.com/en-us/azure/devops/notifications/howto-manage-team-notifications?view=vsts&tabs=new-nav

[2019-01-15 15:16] kokujin opened #1390 "Avoiding bottlenecks"
I am not sure if this is the right place to ask. Please accept my apologies if it's the wrong place.

We intend to use Fastify for our applications. These applications request data from REST API applications built using [Feathers](https://github.com/feathersjs/feathers).

What would be the best way to keep our Fastify applications fast even if they request data from slower API servers? Thanks.

[2019-01-15 15:36] mcollina commented on #1390
Feathers provides a REST API layer. Why would you need to wrap a Fastify application on top?

You should add some in-process or shared caching for these APIs. As an example, you can store these results in Redis or use fastify-caching.

[2019-01-15 16:20] mcollina commented on #1390
Then I do not understand your question. Can you make an example?

[2019-01-15 19:54] shwei commented on #946
@mcollina thanks, but  I don't know how to pass the given handler from serverFactory out to onRequest. Here is what I've so far https://gist.github.com/shwei/d34c7383a117451c07dc701ad12482f1#file-fastify-in-firebase-function-js-L14

I know this is not what you're asking. But at this point I don't know what the concept I'm missing to understand it better. If you know, please let me know! Thanks aga

[2019-01-16 07:32] kokujin commented on #1390
An example would involve to much to show here. The idea is simple though. Let me try to explain again.

We have applications based on ExpressJS that rendered data based on what they received from an API server. The API server is based on Feathers.

We thought we can achieve better performance values by using Fastify instead of ExpressJS for the client applications I mentioned above.

[2019-01-16 07:35] delvedor commented on #1390
@kokujin if I understood correctly you are using a [backend for frontend](https://samnewman.io/patterns/architectural/bff/) architecture?

[2019-01-16 08:37] kokujin commented on #1390
not quite @delvedor, based on the link you posted( thanks by the way, I will place an order for the book). We have an API gateway pattern and not a BFF pattern wich tends to different types of clients.

[2019-01-16 10:52] #1378 closed

[2019-01-16 13:35] FishOrBear opened #1394 "use console.log"
I wrote to try this code, but it seems to have no effect.
[code]

[2019-01-16 13:41] mcollina commented on #1394
It seems pretty adeguate that it is not working. Why are you expecting this to work? What are you trying to do?

[2019-01-16 13:53] galuh1300d opened #1395 "How can i get my image that saved in server?"
Hello, can i get my image that saved in my server?
so i saved my image at public in root folder, can i get it and show it in my frontend app?
Thank you

[2019-01-16 13:56] cemremengu commented on #1395
See https://github.com/fastify/fastify-static

[2019-01-16 14:00] FishOrBear commented on #1394
I am using vscode for debugging and I want it to be displayed in the debug console.

This library may be helpful, but I have not used it.
Https://github.com/pinojs/pino-inspector

[2019-01-16 14:01] mcollina commented on #1394
That’s what you need to use

[2019-01-16 14:02] jsumners commented on #1394
Use `outputCapture` in your launch configuration. https://code.visualstudio.com/updates/v1_17#_viewing-output-from-direct-stdoutstderr-writes

[2019-01-16 14:04] mcollina commented on #1394
I didn’t know about that!

[2019-01-16 14:11] FishOrBear commented on #1394
@jsumners
[code]

I added this setting and it seems to have no effect.

[2019-01-16 14:12] FishOrBear commented on #1394
@mcollina
The combination of pinoInspector and fastify seems to have no effect.

[2019-01-16 14:20] FishOrBear commented on #1394
When I use Fastify.log = console, I can't capture the following log.

[code]

[2019-01-16 14:30] cemremengu commented on #1395
Duplicate of https://github.com/fastify/fastify-static/issues/88

[2019-01-16 14:30] #1395 closed

[2019-01-16 20:41] Eomm commented on #1394
Hi,
I have tried to replicate the problem but I wasn't able, ether with or not reassigning `fastify.log`

With this example code:

[code]

[code]

and runned with: `node --inspect-brk test.js` and then start the debugger on VSCODE v1.30.2, fastify `v2.0.0-rc.4` on node `10.14.2`

![image](https://user-images.githubusercontent.com/11404065/51277125-04297680-19d7-11e9-85aa-3678844cc275.png)

Could y

[2019-01-17 01:22] FishOrBear commented on #1394
Sorry I didn't update nodejs, my version is 10.7, I updated nodejs and solved this problem.

[2019-01-17 01:22] #1394 closed

[2019-01-17 04:53] ekoeryanto opened #1396 "Header Key Not LowerCase"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-01-17 05:07] mcollina commented on #1396
Does this have any net effect on real-world applications?

[2019-01-17 05:15] cemremengu commented on #1396
AFAIK headers are case insensitive according to [RFC](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2)

[2019-01-17 08:02] cemremengu opened #1397 "Set allErrors: true in default AJV instance"
## 🚀 Feature Proposal

Set `allErrors: true` in default AJV instance

## Motivation

Validation should return all errors by default (I believe this is the preferred case most of the time)

This will degrade performance though but not sure how much

[2019-01-17 08:18] cemremengu commented on #1397
Strange, even with setting `allErrors: true`, I still get only one validation error for the request body. Maybe I am getting this wrong.

[2019-01-17 11:51] #1273 closed

[2019-01-17 11:51] cemremengu commented on #1273
Landed in #1274

[2019-01-17 12:36] mcollina commented on #1397
Can you make an example of the new output?

[2019-01-17 12:37] jsumners commented on #1396
Yes, header names are case insensitive. Thus it is best to have a consistent case within the framework and that is lowercase.

[2019-01-17 12:43] cemremengu commented on #1397
It will basically trigger this line

https://github.com/fastify/fastify/blob/3faaa2cbfd0a158c5480473bf7e97d70ae192b48/lib/validation.js#L147

producing and error message

`body should have required property 'username', body should have required property 'username'`

instead of only

`body should have required property 'username'`

when both `username` and `password` fields are required but not pro

[2019-01-17 12:47] mcollina commented on #1397
I think it’ll be good to have as a default, would you mind firing a PR?

[2019-01-17 14:25] delvedor commented on #1333
Closing due to inactivity, feel free to reopen!

[2019-01-17 14:25] #1333 closed

[2019-01-17 18:49] evanshortiss commented on #1349
Yeah it's slightly confusing and seems to be based around ECMA compatibility? Could this occur with Babel too?

[2019-01-22 05:31] galuh1300d opened #1401 "Worker Threads support?"
Can i use worker threads within fastify?

[2019-01-22 06:07] rwlaschin commented on #1131
I'm still seeing the issue.  It seems to be calling the handler functions multiple times.  It could be a setup problem on my end so I'm including what I'm doing.  However I do print out when the routes are registered and this seems to happen only once.  Please note, **the middleware is only called once.**

    "fastify": "^1.13.4",
    "fastify-cookie": "^2.1.5",
    "fastify-formbody": "^2.0.3",

[2019-01-22 06:44] delvedor commented on #1401
You can since you are using Node.js.
What do you want to do with them?

[2019-01-22 06:46] galuh1300d commented on #1401
I planned to build finance application like treasury app.
I want to take benefit of the worker threads, but don't know how to implemented it in fastify.
i will make a research for it.

[2019-01-22 06:49] delvedor commented on #1401
You can definitely use workers to handle CPU heavy operations but **not** for handling every single request (1 worker = 1 request).

[2019-01-22 07:15] delvedor commented on #1401
It depends by what you need to do, the only thing that is important is that you **should not** use a worker for every request, but instead use a pool such as https://www.npmjs.com/package/worker-threads-pool.

[2019-01-22 07:49] galuh1300d commented on #1401
Thank you for your suggestion. i'll check it out

[2019-01-23 08:00] greenkeeper[bot] opened #1402 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `12.2.0` to `12.2.1`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Ftap-12.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not break yo

[2019-01-23 09:46] mcollina commented on #1131
I think you have something not correct in your `/api/practitioner/24366,24372/articles?headingOnly=false` route. I'm very confident in the current implementation (after this PR).

[2019-01-24 05:57] txchen opened #1405 "Shrink the npm package size by excluding test and docs"
## 🐛 Bug Report

Currently the fastify package on npm is including `test`, `docs`, `examples`, `tools`, `.github`. These files are not needed by a package consumer, is it okay to exclude them from npm publish?

## To Reproduce

Steps to reproduce the behavior:

Paste your code here:

[code]

## Expected behavior

npm package only contains the files to support runtime and development time (like *.d

[2019-01-24 06:49] cemremengu commented on #1405
I think we can add an `.npmignore` file for those

[2019-01-24 06:51] delvedor commented on #1405
@mcollina and I are convinced that shipping docs, test, and examples, improve the developer experience. You have in your local machine everything you need to debug an error, see an example or read the documentation. This especially useful if you are having connection issues or you are traveling and working.

Until we see a critical case that would be fixed by the removal of those files, I don't th

[2019-01-24 06:52] #1401 closed

[2019-01-24 07:02] #1402 closed

[2019-01-24 08:01] rwlaschin commented on #1131
You may be right.  I'd prefer the issue to be on my side.

The problem goes away when I remove the beforeHandler.

// error
fastify.get('/api/practitioner/:ids',{
    beforeHandler: fastify.session
}, practitionerById);

// no error
fastify.get('/api/practitioner/:ids',{}, practitionerById);

In the before Handler, I need to call next(), that is correct?

// This is what the middleware looks like

[2019-01-24 08:12] mcollina commented on #1131
You should just remove the call to next. Either use an async function or call next.

[2019-01-24 09:46] mcollina commented on #1131
https://www.fastify.io/docs/latest/Hooks/ contains:

[2019-01-24 11:47] popeindustries opened #1406 "Change log level to `warn` on stream error when "premature close""
## 🚀 Feature Proposal

Change log method to `res.log.warn` if client hang-up error when streaming a response (when error message is "premature close"). The change would be needed at [line 294](https://github.com/fastify/fastify/blob/7e963aa1a2a545e312de1006c510c655a38134ea/lib/reply.js#L294) and [line 306](https://github.com/fastify/fastify/blob/7e963aa1a2a545e312de1006c510c655a38134ea/lib/reply.j

[2019-01-24 11:52] mcollina commented on #1406
Can you send us a PR for this change?

[2019-01-24 12:32] jsumners commented on #1405
I agree. But I think we can skip packing the `.github` directory.

[2019-01-24 15:47] mcollina commented on #1405
I think we should skip both `.github`  and `tools`. Tools are needed only ti generate the website which lives on a separate repo.

[2019-01-24 16:18] ShogunPanda commented on #1369
@mcollina @realYondercode I've written the PR. I also had the same requirement. Enjoy!

PR: #1408

[2019-01-24 16:38] kromol commented on #1376
I checked `fastify` source code and as far as I understand schemas for each route are processed when the application starts and then are internally cached. So it's still not clear how to inject it via plugin in runtime. It does not seem feasible with current setup...
But I could be wrong here. @delvedor can you advise please?

[2019-01-24 17:55] txchen commented on #1405
@delvedor Fair point for offline mode. However before you told me this, I never expect I can find examples and docs in my node_modules. My guess is most users don't know that, too. Maybe it is not as useful as you think :)

[2019-01-24 17:58] jsumners commented on #1405
It's useful to a majority of the maintainers of the project.

[2019-01-24 23:10] txchen commented on #1405
@jsumners For project maintainers, you should have your repo on your local machine. Why would you need to dig your node_modules to find examples and docs?

[2019-01-25 00:10] jsumners commented on #1405
Because I don’t need to shift focus to other projects/windows. I simply open `node_modules` and explore to the information I need via my editor’s file sidebar. I also don’t have every project on every system I use.

[2019-01-25 10:05] Khatana23 opened #1409 "Asyn function 2 times run and one is empty"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-01-25 10:32] #1409 closed

[2019-01-25 12:42] MichielDeMey opened #1410 "Serialization references not resolved"
## 🐛 Bug Report

References for validation can be added using the `addSchema` method, so in our JSON schemas we can safely use `$ref` to reference them.

However, when trying to do the same for the serialization using `fast-json-stringify` I get the following error:

[code]

Reading up on the documentation (https://github.com/fastify/fast-json-stringify#ref) it seems that external definitions need

[2019-01-25 14:02] mcollina commented on #1410
That's currently not supported, but I think it would be a good feature to have.

See https://www.fastify.io/docs/latest/Validation-and-Serialization/ for what is currently supported.

[2019-01-25 15:22] MichielDeMey commented on #1410
Would it be possible to extend the `addSchema` call to also register the schema to `fast-json-stringify` instead of just `ajv`? Not sure if it's possible though.

[2019-01-25 18:59] mcollina commented on #1410
fast-json-stringify has no such feature at the moment. I think it would be
a good addition.

Il giorno ven 25 gen 2019 alle 15:22 Michiel De Mey <
notifications@github.com> ha scritto:

[2019-01-28 17:49] cemremengu opened #1413 "eos is not a function in tests"
My **local** test runs are failing with `eos is not a function` for `test/internals/reply.test.js` which seems to be originating from line

https://github.com/fastify/fastify/blob/42567bfc9ee4e667d4455d8f651784fc3af5f992/lib/reply.js#L3

I am using node 10.13.0 on windows. Any ideas?

Sample stack trace:

[code]

[2019-01-28 18:14] mcollina commented on #1413
You’ll need to update your deps, it should point to readable-stream@3

[2019-01-28 18:17] cemremengu commented on #1413
Right, that worked apologies for spamming

[2019-01-28 18:17] #1413 closed

[2019-01-28 20:15] #1406 closed

[2019-01-28 20:17] cemremengu commented on #1396
Given the discussion, I think this has been concluded. Closing.

[2019-01-28 20:17] #1396 closed

[2019-01-28 21:40] delvedor commented on #1405
This does not mean that it is not useful, it is part of the dev experience, even if you are not using it.

[2019-01-29 11:55] Jegannathan opened #1417 "How to call a decorate methods in typescript"

[2019-01-29 12:24] cemremengu commented on #1417
I think you should be able to call them like you do in JavaScript. Could you please elaborate a little?

[2019-01-29 12:33] Jegannathan commented on #1417
fastify.decorate('config',{
port:4000
})

in js fastify.config.port is possible

But in typescript fastify.config.port throw an error like property config is not present in Fastify instance

[2019-01-30 02:59] #1417 closed

[2019-01-30 04:17] cwhiteley opened #1418 "Am I missing a step to trigger a preHandler wi"
## 💬 Questions and Help
I created a simple fastify route similar to the documentation and it seem that the preValidation and preHandler are not triggering.  Am I missing a step?

const fastify = require('fastify')({
    logger: true
  })

fastify.decorateRequest('user', 'decorate')

fastify.route({
    method: 'GET',
    url: '/',
    preValidation: function (request, reply, done) {
        consol

[2019-01-30 05:14] cemremengu commented on #1418
They are part of Fastify v2. Try the `next` version on npm.

[2019-01-30 13:52] Extarys commented on #1418
Does this is in v2 also? If not I'll open a new issue. It doesn't seem to be working on my end.

[code]

[2019-01-30 14:37] mcollina commented on #1418
the `preHandler`  hook is also in v1: https://www.fastify.io/docs/v1.13.x/Lifecycle/.

We should really update point-of-view.

[2019-01-30 16:42] #1405 closed

[2019-01-30 18:54] cwhiteley commented on #1418
Thank you - I have verified that these do work within v2.   Thank you.

[2019-01-30 18:54] #1418 closed

[2019-01-30 20:36] Eomm opened #1419 "Json schema $ref id"
## 🐛 Bug Report

Hi, testing the (fluent) json-schema I found that the [id-with-ref](https://json-schema.org/understanding-json-schema/structuring.html#using-id-with-ref) function is broken and return on start:

  message: 'can\'t resolve reference #address from id #',
  missingRef: '#address',
  missingSchema: '' }

## To Reproduce

[code]

## Expected behavior

The JSON schema is a valid one and

[2019-01-30 22:15] mcollina commented on #1419
Go for it! I think we removed that property for some reason, can you investigate?

[2019-01-31 16:00] #1369 closed

[2019-01-31 16:03] #1397 closed

[2019-01-31 23:38] Eomm commented on #1419
I fixed the problem, PR is coming.

I'll try to explain the problem as best as I can, because I think could be the start of a discussion:

1. the `schemas.js#traverse` is executed and all the field with the value that ends with `#` are changed to the shared-schema corresponding
1. all the fields now are pointing to the same object with the `$id` set
1. that `$id` is a fake one, is not regarding th

[2019-02-01 08:00] mcollina commented on #1419
@Eomm do we support "plain name fragments"?

[2019-02-01 21:23] Eomm commented on #1419
Sorry, false alarm 😅

I would like to explain for the future: reading the json-schema draft 07 the `$id` MUST be a string, and MUST represent a valid URI-reference.
This value defines a URI for the json-schema itself.

So, either the `$id` and the `$ref` field must have a URI value.

An URI could be like:

| Format | Regexp | Example | Note
|---|---|---|---|
| Plain name fragment | `^#[A-Za-z]{1}[

[2019-02-01 21:36] mcollina commented on #1419
Open an issue on the website, I think they should be fixing it.
I don't understand what would be the solution for us.

[2019-02-01 23:01] hueniverse opened #1426 "Protect against prototype poisoning"
See: https://hueniverse.com/a-tale-of-prototype-poisoning-2610fa170061

[2019-02-02 15:40] #1419 closed

[2019-02-02 16:41] ReTWi opened #1428 "Simple fastify server doesn't react to routes when hosting on jelastic"
I'm trying whole day to make simple fastify server work on jelastic hosting.
It's starts without problems, no errors, it's just doesn't react to routes for some reason :/ At the same time **simple node or express servers works fine**.

I've tryed everything that come to my mind. Different fastify versions 1/2, async/await, pm2/node manual server start, but no luck so far.

If someone can give me h

[2019-02-02 16:44] mcollina commented on #1428
I think you are exposing this server directly to the world, without a web server in front. If that's the case, you need to enable this with:

[code]

This is documented in a lot of places, including https://github.com/fastify/fastify#note.

[2019-02-02 16:44] #1428 closed

[2019-02-03 02:33] handrews commented on #1419
@mcollina @Eomm JSON Relative Pointer is a proposed standard maintained by the JSON Schema project (and it will be re-submitted when we re-submit the others- they are all temporarily expired for reasons not worth going into here).

In particular, JSON Relative Pointer is used by JSON Hyper-Schema.  It is not used in the URI Fragment syntax for the `application/schema+json` or `application/schema-i

[2019-02-03 08:38] mcollina commented on #1419
Thanks for joining the discussion @handrews and for the explanation!

[2019-02-03 11:38] delvedor commented on #1426
Closed in https://github.com/fastify/fastify/pull/1427.
Thanks!

[2019-02-03 11:38] #1426 closed

[2019-02-04 05:31] wh1tecat-nya opened #1429 "attachValidation document is wrong?"
https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md

i see "ErrorHandling" section of this document and i'm test by my local environment.
in document, write this

and attached this code.
[code]

but run this code(scheme is customized) in my environment, "req.validation" is every time undefined.
so I would like to confirm there, "req.validation" is typo "req.validati

[2019-02-04 06:20] mcollina commented on #1429
Which version of fastify are you using? That document references to v2 (currently at v2.0.0-rc.4).
The one fore v1 is at https://www.fastify.io/docs/v1.13.x/Validation-and-Serialization/

[2019-02-04 06:44] wh1tecat-nya commented on #1429
@mcollina
thanks reply.
i'm checked v2.0.0-rc4 and v1.13.4 but which is has same issue.

What i can think from here, is that it has become like this for one of the two reasons.

1.validation logic has bug. "req.validation" is need some value.
2.document is wrong. "req.validation" is typo "req.validationError"

Is there any other possible cause?

[2019-02-04 07:07] wh1tecat-nya commented on #1429
i've read fastify source code.
and found this. https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L83-L88

looks like document is wrong.
because "req" is not have "validation" property.

[2019-02-04 07:12] mcollina commented on #1429
Definitely. Would you like to send a PR?

[2019-02-04 07:40] wh1tecat-nya commented on #1429
sorry, this is first time send PR in my life.
if something wrong, please teach me.

and i have 1 question.
need PR for v1.x branch?

[2019-02-04 07:49] mcollina commented on #1429
@wh1tecat-nya that would be helpful, thanks! Your PR is ok, we'll wait for more reviews!

[2019-02-04 08:04] #1429 closed

[2019-02-05 21:53] Eomm commented on #1410
Hi, I would like to work on this issue ✌

The solution I have seen is:
- all the schema added with `addSchema` could be pass to `fast-json-stringify` as externals schemas with the keys equals to `$id` field of added schemas
- put a stronger validation in `Schemas.traverse` (because it modifies the `$ref` field instead of leaving it as is.. this cause the `Error: schema is invalid: data.items.$ref

[2019-02-06 16:31] mtermoul commented on #946
is this fixed yet? I tried to use the serverFactory as pointed out by @shwei but it's not working! Can you please provide me with a code example?
This is my code:

[code]

I am getting `Timed out waiting for function to respond.` error

[2019-02-06 17:09] nwoltman commented on #946
@mtermoul Something like this should work:

[code]

This is more efficient as well since it doesn't create a new Fastify instance on every request.

[2019-02-06 17:46] Roms1383 opened #1436 "Error handler composition"
## 🚀 Feature Proposal

Implementing error handling methods composition.
This way, different plugins and user developer can combine multiple error handling.

## Motivation

Avoid having to re-code error handling by using already existing plugins, while still being able to provide additional custom error handling cases.

## Example

I was playing around with `fastify`, and came to use [`boom`](https

[2019-02-07 18:37] Eomm opened #1441 "Shared schema referenced by validator"
## 🐛 Bug Report

Now if I set a JSON Schema for validating the input of a route, defining a `$ref` relative to a shared schema, the fastify server doesn't start returning an error:

  message:
   'can\'t resolve reference http://example.com/ref-to-external-validator.json# from id #',
  missingRef: 'http://example.com/ref-to-external-validator.json',
  missingSchema: 'http://example.com/ref-to-exte

[2019-02-07 19:06] Eomm commented on #1441
Yes, I'm trying the two different solutions ✌

[2019-02-07 19:37] shwei commented on #946
Thanks @nwoltman! This is very helpful. I had to put in the line before fastify.ready() call:
[code]

Without that hacky line, I would get the error:

[code]

Is there a way to avoid this error?

[full code](https://gist.github.com/shwei/d34c7383a117451c07dc701ad12482f1#file-fastify-js-L35)

@mtermoul: thanks for following up with this man.

[2019-02-08 01:21] mcollina commented on #1436
I think fastify-sensible should not provide a custom error handler. I think that's an application-specific concern that should not be in utility plugins.

[2019-02-08 11:06] #1390 closed

[2019-02-08 15:22] Ch-Valentine commented on #740
[code]

[2019-02-08 21:24] #1410 closed

[2019-02-09 09:43] delvedor commented on #1436
@mcollina `fastify-sensible` does offer an [option](https://github.com/fastify/fastify-sensible#custom-error-handler) to disable it, and in any case, you can easily override it.

I think this proposal is sweet, but not sure it should live inside Fastify.
Could it be built inside a plugin?

[2019-02-09 16:20] coreyfarrell opened #1444 "Expose fastify options to plugins"
## 🚀 Feature Proposal

Expose the options used to create the fastify server in a way that is accessible to plugins.

## Motivation

In some cases it might be necessary to register routes differently, for example if `ignoreTrailingSlash` is enabled it is impossible to register separate routes for `/dir` vs `/dir/`.

## Example

fastify/fastify-static#93 adds an option to send a 301 redirect when a

[2019-02-09 16:35] standfv opened #1445 "Axios POST with data, router POST log "msg":"incoming request"."
## 💬 Questions and Help

Axios POST with data, router POST log "msg":"incoming request".

### Please note that this issue tracker is not a help forum and this issue may be closed.

Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've ha

[2019-02-09 16:38] cemremengu commented on #1445
What's the problem? Can you give some details?

[2019-02-09 16:50] standfv commented on #1445
1. https://www.upnhanh.com/image/pJYGH - My method POST "http://localhost:1997/api/v1/auth/login" with data params { username: "standfv", password: "abc" }
2. I click POST my log command show "incoming request" and not reply.send on router /login  -> https://www.upnhanh.com/image/pJ88I
3. And client error -> https://www.upnhanh.com/image/pJWwJ
If my action method POST widthout data reply success,

[2019-02-09 21:13] mtermoul commented on #946
Thank you guys @nwoltman 🙌 👍 🏆  and @shwei  🌟 🎉 🎆   for the code sample. Fastify is finally working with cloud functions. And now going back to implement the real features and see how would Fastify hold.

[2019-02-09 21:17] Eomm commented on #1376
Hi, @kromol , I worked these weeks on that piece of code.

Could you show me an example use case to understand better?
So I could try to help you with what I know 🙌

[2019-02-09 22:08] nwoltman commented on #946
@shwei It looks like that [error](https://github.com/fastify/fastify/issues/946#issuecomment-461566975) happens because `firebase-functions` passes Express's prototype-extended `req` and `res` objects to the handler function, but Fastify expects to receive Node's native `req` and `res` objects.

@fastify/fastify What do you think is the right thing to do here? Is this a problem that should be fixe

[2019-02-10 01:07] #1445 closed

[2019-02-10 08:32] mcollina commented on #1444
Yes, I think this would be useful.

[2019-02-10 15:08] sarneeh opened #1448 "Plugins best practices"
So I'm working with `fastify` some time already and I truly love it! :smile: After some time I came to a reflection about plugins and I'm not sure if I get it right.

Let me explain my case in an example:

My app needs some posts and tags API. These two could be easily separate microservices so I'd like to split them into plugins:

**users.js**
[code]

**tags.js**
[code]

Alright! Everything is co

[2019-02-10 19:36] mcollina commented on #1448
First, you should likely await for getting a database instance:

[code]

The plugin/decorator system makes it clear what are the dependencies.

That logic is actually as part of fastify, not fastify-plugin. I think we should just expose it. Would you like to propose some API for this?

Note that they all works via https://github.com/fastify/fastify-plugin/blob/master/index.js#L37.

[2019-02-10 19:45] sarneeh commented on #1448
Yeah, that was just an example, I didn't want to make it proper code.

I don't understand how it makes it clear what are the dependencies? If I'm using `fastify-mongodb` on the app-level and `fastify.mongo` (or whatever else) on my internal plugin-level then how do I know what kind of dependency does my plugin need?

The `dependencies` meta key would make it much more clear.

I'm sorry but I can't

[2019-02-10 20:22] shwei commented on #946
Thanks for looking into this @nwoltman . If this can be accommodated without too much sacrifice on performance, it would allow greater compatibility with one of very popular serverless infrastructures.

Or maybe if we could pass an option to skip setting req.ip?

[2019-02-11 03:19] nwoltman commented on #946
Another solution would be to set `ip` on the Fastify `request` object instead of Node's `req` object. @delvedor originally [suggested this](https://github.com/fastify/fastify/pull/1086/files#r211718687) in #1086.

[2019-02-11 17:55] shwei commented on #946
@nwoltman when you said, "set ip on the Fastify request object", can you elaborate it a little more? Did you mean set trustProxy?

[code]

Thanks!

[2019-02-11 18:53] panbhatt opened #1449 "POST Request returns Http Status 504"
Hi Team,
I am Still using Fastify 1.0RC2 and falls into a weird problem. I am trying to make a HTTP POST Request (having JSON body of 1.5MB) from Angular (via using PROXY CONFIG JSON) to fastify server. However seems like the server is never processing the request. In the Logs i can see ÏNCOMING REQUEST but nothing happens after that.
I tried it on multiple systems same problem is ouccring on spec

[2019-02-12 03:01] nwoltman commented on #946
@shwei Yes, it's related to the `trustProxy` option. I'm suggesting that a solution would be to pass `ip` to Fastify's Request constructor here:
https://github.com/fastify/fastify/blob/356cf6f078a9f93b009ddb6384deaffe549d1032/fastify.js#L307
rather than setting it on Node's `req` object here:
https://github.com/fastify/fastify/blob/356cf6f078a9f93b009ddb6384deaffe549d1032/fastify.js#L273-L283

Of

[2019-02-12 05:41] shwei commented on #946
@nwoltman Interesting with passing ip in the context.Request call! It sounds like `handleTrustProxy(req)` may need to be tweaked. What are the steps we need to incorporate your proposed change? Anything I can do to help?

Another idea: if req.ip has a value and if there is an option we can pass into fastify to indicate that we want to skip calling the method `handleTrustProxy(req)`, we can just ke

[2019-02-12 08:10] kromol commented on #1376
The use case is pretty simple - ability to choose (define) schema in the request lifecycle. Right now I can do it only for route and there is no way to access it for example in `preValidation` hook.

It can be very useful if one route serves different versions of the resource and you don't know in advance which version will be requested. For example like this:
[code]

So I want to be able to selec

[2019-02-12 08:24] mcollina commented on #1376
Fastify currently support API versioning via https://github.com/fastify/fastify/blob/master/docs/Routes.md#version.

It would be good to support multiple validations (and maybe serializers) per content type. Would you like to send a PR for that feature? It's a complex one, and I would like not to break compatibility with fastify-swagger. We should aim to retain performance/throughput as well.

[2019-02-12 09:02] sloops77 commented on #1436
i currently hack around composability using this pattern.

[code]

[2019-02-12 12:54] Eomm commented on #1376
@kromol , except the writeOnly and readOnly cases, this example fit for yours needed?
Because it works with fastify v2.RC6

[code]

[2019-02-12 13:34] kromol commented on #1376
@Eomm unfortunately that's not what I'm looking for. Actually I want to avoid defining the same routes just to inject different schema. As a workaround I can use `beforeHandler, define some logic there and validate incoming request with `Ajv`, but I believe much better option would be to use the built-in functionality if it's possible.

@mcollina I would give it a try.

[2019-02-12 16:03] mcollina commented on #1449
We would need an isolated example to be able to reproduce the problem. Can you upload that?

[2019-02-13 03:03] nwoltman commented on #946
@shwei Having an option that is only used to avoid setting a particular property does seem pretty hacky, especially when there's a non-hacky solution. I'd suggesting submitting a PR to move `ip` to Fastify's `Request` object. You can probably figure out how to do that by looking at #1086. If not, you can open a new issue for the bug so it can be addressed properly (our conversation doesn't really

[2019-02-13 14:10] sjorsjes opened #1450 "Passing to data with a redirect to another route"
## 💬 Questions and Help

I'm building an user registration flow. After an user login (normal form post). I'd like to redirect to user to another page but I want to pass along some data (like notifications). Are querystrings or adding to the `req.session` the best solution here?

[code]

Ideal situation?
[code]

[2019-02-13 14:56] mcollina commented on #1450
You'll need to build such a system using cookies. Those two routes are completely independent and stateless, so there is no shared way to do this.

You can use https://github.com/fastify/fastify-cookie or https://github.com/mcollina/fastify-secure-session for this purpose.

[2019-02-13 14:56] #1450 closed

[2019-02-17 16:29] open-source-explorer commented on #1316
I'm new here :clap: Adding the above mentioned content to the docs works fine :thinking:

[2019-02-19 08:14] SkeLLLa opened #1456 "Schema already declared on first addSchema within decorated function"
## 🐛 Bug Report

If `.addSchema` is called within decorated function (using `fastify.decorate`) it throws an error that such schema already exists, however it is called only once

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

App starts without errors.

## Your Environment

- *node version*: 11.10.0
- *fastify version*: >1.13.4 & <2.0.0
- *os*: Mac, Linux

NOTE:

[2019-02-19 08:22] mcollina commented on #1456
That’s a new feature of Fastify v2. We decided not to backport it, because it could change the behavior of users.

V2 is going out soon, the likely solution is to upgrade.

[2019-02-19 17:35] Ethan-Arrowood opened #1457 "Request forwarding"
## 🚀 Feature Proposal

Based on fastify/help issue https://github.com/fastify/help/issues/60.

This feature would allow users to redirect HTTP requests from one route to another without using HTTP 3xx replys. This would be based on Hapi's request.setUrl() method to reroute requests.

Proposed by @mcollina, this functionality could be achieved through the fastify.inject() method from within the req

[2019-02-19 18:33] nwoltman commented on #1457
This seems like it's already possible by rewriting `req.url` in a [`serverFactory`](https://www.fastify.io/docs/latest/Server/#serverfactory) handler. Maybe a `preRouting` hook would make this sort of thing easier? @mcollina and @delvedor already started discussing this kind of feature in fastify/help#55.

[2019-02-19 18:45] Ethan-Arrowood commented on #1457
`preRouting` hook could be a cool solution. Maybe a fastify-plugin using the `addHook` method could accomplish this.

IMO I think this is an HTTP anti-pattern because if a system is making a request to a route and that route no longer exists, the HTTP server should reply with the proper 300 response code. HTTP Clients should (by spec) execute another request to the correct url.

[2019-02-20 05:24] faustbrian commented on #1457
@nwoltman that works but feels rather hacky compared to a simple `request.setUrl()` call within a plugin/middleware like it's possible with hapi. Routing internally might differ depending on what version of module was requested so that would be a lot of logic inside the server factoru.

A `preRouting` hook sounds like a good solution, as a note on that, are there any plans to move to https://nodej

[2019-02-20 08:58] mcollina commented on #1457
There are not, mainly because instantiating a `new URL()` is significantly more costly than what we are currently doing.

[2019-02-20 09:20] SkeLLLa commented on #1456
@mcollina I've made some investigation. It appears that code above works fine in fastify `1.13.4`. So it seems that it was broken in `1.14`.

[2019-02-20 09:49] mcollina commented on #1456
cc @Eomm can you take a look? This is likely caused by one of your latest changes.

[2019-02-20 10:32] SkeLLLa commented on #1456
One more clarification: version 1.14.0 already has this bug, so bug is hiding somewhere between 1.13.4 and 1.14.0.

[2019-02-20 12:10] Eomm commented on #1456
The error is caused by:

https://github.com/fastify/fastify/blob/772bfbe012426d4bdffcf743859bb692656cb713/fastify.js#L752

**What is happening?**

That code produces a tree of encapsulated context

[code]

So, when you run the `myAddSchema` function, you add the schema to "fastify decorated" and all the tree, but since the "fastify decorated" instance is the "app instance" itself, it tries to add

[2019-02-20 16:43] SkeLLLa commented on #1456
@Eomm there are several cases. One of them - adding global schemes that will be used in all routes, services, etc., so `whereAddTheSchema` should be "root" fastify instance.

[2019-02-20 17:47] nwoltman commented on #1457
@faustbrian Fastify supports [versioned routes](https://www.fastify.io/docs/latest/Routes/#version). Is that feature not sufficient for your use case?

[2019-02-20 18:06] faustbrian commented on #1457
Thanks, must have overlooked that. Might be able to do it with a custom strategy for point-in-time versioning, though there still might be some hacks needed as the versioning in my application applies to modules _(domain specific routes)_ and routes.

Will have to see how that plays together with the server factory and versioned routes.

[2019-02-20 22:00] Eomm commented on #1456
Understood, I'm checking how it could be solved.

Only as memo, the change comes from this PR https://github.com/fastify/fastify/pull/1370

[2019-02-21 07:38] SkeLLLa commented on #1456
Just as a workaround probably `addSchema` could generate some hash of schema object and compare it with existing schema or use `deepEqual` to skip adding duplicate schemas. But I think there should be more elegant solution.

[2019-02-21 07:44] mcollina commented on #1456
@Eomm one option could be to revert #1370 in v1. In fact, it was a breaking change.

[2019-02-21 08:24] Eomm commented on #1456
@mcollina I just opened a PR with the fix, could you have a look?
For sure if you think is better to revert the old PR I can arrange a PR for this.

[2019-02-21 08:25] cemremengu commented on #296
Closing this one since I think docs are much better at the moment. Feel free to reopen or start a new discussion for further improvement ideas.

[2019-02-21 08:25] #296 closed

[2019-02-21 08:26] cemremengu commented on #623
Is this discussion settled? Should we close it?

[2019-02-21 12:39] darkgl0w commented on #1444
Hi, wouldn't it be more relevant to have something like `fastify.initialConf` rather than `opt.initialConf` given that this is the initial configuration options object passed to the fastify instance that is shared between plugins.

If you want I can submit a PR to clone the options in a freezed `fastify.initalConf` object (Since `Object.freeze()` is supported since Node.js v.4.9.1, it doesn't brea

[2019-02-21 13:34] mcollina commented on #1444
I like the fastify.initialConfig approach, +1.

[2019-02-21 21:17] jsumners commented on #1444
I like this proposal as well. Particularly the freeze part.

[2019-02-23 08:36] #1441 closed

[2019-02-23 11:39] wen911119 commented on #1136
How about [simdjson](https://github.com/lemire/simdjson)?

[2019-02-23 12:17] smartiniOnGitHub commented on #623
Hi all, I tink the current status of the project and the community is good, and related documentation for contributing etc is clear; I'd expect more people involved in this but I know it's a not-so-easy discussion.
So unless objections I think it's good to close for now and maybe restart later ... but that's just my opinion. Bye

[2019-02-23 14:23] delvedor commented on #1136
@wen911119 I would love to see some benchmarks, but usually, we prefer to avoid native dependencies unless really necessary.
Furthermore, usually the JSONs are not that big, and the price you pay for jumping between JS and C code is quite high.

[2019-02-23 20:25] shwei commented on #946
Thank you, @nwoltman. Finally got around to work on this. I'm fairly new to fastify, so would you please take a look at my changes? shwei/fastify@88f4c8a  Your comments are greatly appreciated.

[2019-02-23 20:53] Eomm commented on #1376
Hi @kromol
to be sure, the behaviour you are looking for is this:

![image](https://user-images.githubusercontent.com/11404065/53291481-4a32e080-37b4-11e9-85af-e7731b39f7cc.png)

right?

Because I was thinking that this could be automatized with a plugin that adds many routes for you.

Here you are a pseudo-code:

[code]

This is the first draft, I should think better the method signature.

[2019-02-24 01:23] bompus opened #1473 "async preHandler hangs unless error is thrown or reply.send is called"
## 🐛 Bug Report

I don't seem to have an issue with other async handlers, just preHandler. It seems to function fine if I call reply.send('abc') or throw new Error('abc'), but if I simply return 'abc', do not return at all, or return undefined, the request just hangs. The request never makes it beyond preHandler from what I can tell.

## To Reproduce

( I used only one preHandler hook, but showing

[2019-02-24 01:40] bompus commented on #1473
Closing this issue. Pretty sure this was my fault for not refactoring some code.

I had this:
[code]

// ^ should have been **async function** pre1. I converted the global preHandler to async, but not this individual route preHandler, so I was using **return**ing in a non-async function, expecting it to reply.send, which we all know is incorrect. My bad.

I believe the async hook unit tests could

[2019-02-24 01:40] #1473 closed

[2019-02-24 18:44] mcollina opened #1475 "Split up fastify.js"
Currently the `fastify.js`  file is very big, and it contains several concerns, all mixed together. Maybe it's time we split it up into tinier files that are easier to read and contribute to.

[2019-02-24 18:50] mcollina commented on #623
I'm closing this. I think we should give some more thoughts to this, but we are currently very busy and the current system is working.

[2019-02-24 18:50] #623 closed

[2019-02-24 20:58] jsumners commented on #1475
Yes.

[2019-02-25 07:24] delvedor commented on #1475
I'll take care of this :)

[2019-02-25 08:59] khpatel4991 commented on #1317
A working example would be good

[2019-02-25 14:41] greenkeeper[bot] opened #1478 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `1.4.1` to `1.4.2`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2F%40typescript-eslint%2Fparser-1.4.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**

[2019-02-25 14:46] ketrujillo08 opened #1479 "How to use a .CER and .PFX files to Https?"
Hi everyone I'm starting using your amazing framework, but now I'm trying to install a private cetificate, but I'm researching that fastify use a cer and key files to enable HTTPS, How I could enable HTTPS on my API with a cer and pfx files?

[2019-02-25 14:46] greenkeeper[bot] opened #1480 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `1.4.1` to `1.4.2`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-1.4.2).

This version is **covered** by your **current version range** and after updating it in your project **the

[2019-02-25 15:13] lfurzewaddock opened #1481 "[Fastify v2] fastify-plugin checkVersion fn throws error"
## 🐛 Bug Report

## To Reproduce

Steps to reproduce the behavior:

install fastify v2 and start server.

To work around the error further below it was necessary to comment out error thrown in checkVersion function, './node_modules/fastify-plugin/index.js'.

## Expected behavior

A clear and concise description of what you expected to happen.

Should start without error.

Paste the results here:

[2019-02-25 15:18] mcollina commented on #1481
you’ll need to update your fastify-formbody dependency.

[2019-02-25 15:22] lfurzewaddock commented on #1481
fastify-formbody is at v2.1.0

Bug is still present when fastify-formbody is not in use too.

[2019-02-25 15:23] lmammino opened #1482 "NPM failure on `npm install --save fastify` (Unexpected token in parsing near find-my-way-0.2.4.tgz)"
## 🐛 Bug Report

There seems to be an issue with the current package setup for 2.0.0 (and the other RC).

When trying to install with `npm i --save fastify`

I get the following error:

[code]

Same happens with the following sequence of commands:

[code]

## Your Environment

- *node version*: v11.8.0 (npm 6.8.0)
- *fastify version*: >=2.0.0
- *os*: Mac
- Also tested on another laptop with node 1

[2019-02-25 15:23] mcollina commented on #1481
You need to use v3 of fastify-formbody https://github.com/fastify/fastify-formbody/blob/master/package.json#L3.

[2019-02-25 15:26] mcollina commented on #1482
It seems it's a bug on npm :(.

[2019-02-25 15:28] delvedor opened #1483 "meta/ci: integration of Azure permissions with Fastify org and teams"
This is a meta issue to track how we can have better integration between Fastify and Azure. @martinwoodward has kindly offered his help, thanks!!

Currently, the account members and teams need to be added manually: there is no integration between Github and Azure. We would expect that every member of the org can add new projects in Azure, create and run builds.

It would be even more helpful that

[2019-02-25 15:30] delvedor commented on #1482
Yup, we are seeing a lot of failing builds on Windows as well.
I've pinged npm on twitter, but I didn't get an answer yet.

[2019-02-25 15:31] lfurzewaddock commented on #1481
Ok, cheers - that's fixed it.

[2019-02-25 15:31] #1481 closed

[2019-02-25 15:32] lmammino commented on #1482
Thanks for the quick reply @mcollina and @delvedor

Fingers crossed then 🤞

[2019-02-25 17:02] lagmanzaza opened #1484 "How to use `pattern` option in the schema ?"
## 💬 Questions and Help
How to use `pattern` option in the schema?
<img width="593" alt="screen shot 2562-02-26 at 00 01 19" src="https://user-images.githubusercontent.com/5283709/53354606-b6027e00-3959-11e9-8b8c-b050b3abbc29.png">

I try to do this but it doesn't work
### Please note that this issue tracker is not a help forum and this issue may be closed.

Before you submit an issue we recommend

[2019-02-25 17:25] gunnartorfis commented on #1482
I'm seeing this error as well. Not on my local machine though (macOS), but only on Elastic Beanstalk. Both using npm and yarn.

This is stopping our whole deployment cycle - I will be monitoring this thread for updates. 👀

[2019-02-25 17:48] mcollina commented on #1482
Can somebody fetch one of those npm log files? Maybe there is some info there that we can help diagnose.

Is this happening only on Fastify v2?

[2019-02-25 18:46] martinwoodward commented on #1483
Thanks folks.  Which of the repos in the fastly org need a corresponding CI build (and who should be an admin for it?)

|  repo     |  Needs CI (X)  | Admin(s) |
| -------- | --------------- | --------- |
| fast-json-stringify |       |               |
| fastify | | |
| fastify-cli | | |
| graphics | | |
| middie | | |
| fastify-plugin | | |
| point-of-view | | |
| fastify-swagger | | |
| fastify-

[2019-02-25 18:52] delvedor commented on #1483
@martinwoodward currently we are testing [fastify](https://github.com/fastify/fastify), and I wanted to add [fast-json-stringify](https://github.com/fastify/fast-json-stringify) since we are still in the "trying phase" with Azure.

What does it mean "be an admin"?

[2019-02-25 18:57] mcollina commented on #1483
We would like any member of the Github org to be able to set up CI, more or less how they can create git repos.

[2019-02-25 19:19] Eomm commented on #1484
Hi,
the problem is that you set the type of the property as `number` and the pattern keyword works only for type `string`.

This is a working example:
[code]

For more details, you can find further information [here](https://json-schema.org/understanding-json-schema/reference/string.html#pattern)

[2019-02-25 19:22] lmammino commented on #1482
Back home and everything seems to install fine (both fastify v2 and v1)

<img width="1072" alt="screenshot 2019-02-25 at 19 21 18" src="https://user-images.githubusercontent.com/205629/53362647-9310a380-3932-11e9-879c-8af30541e68a.png">

I'll double check tomorrow again at work and get you the npm logs if still failing

[2019-02-25 19:30] martinwoodward commented on #1483
Got it - so everyone here should have admin rights? https://github.com/orgs/fastify/people

[2019-02-25 19:33] mcollina commented on #1483
That's the idea. However, they should not be able to do billing-related things.

[2019-02-25 19:44] lagmanzaza commented on #1484
Thank you, sir.

I will remember that pattern must use with type String ^_^

[2019-02-25 19:44] #1484 closed

[2019-02-25 20:29] martinwoodward commented on #1483
Speaking with the team, the issues we're having here are because this account got created as backed by Azure Active Directory. I want to switch this to be backed by a Microsoft account (MSA) so that you'll have a better experience.  DM'd you @mcollina - can you create a Microsoft Account using the same email address that you have as your default for GitHub and then let me know what it is?  If you

[2019-02-25 20:31] jsumners commented on #1483
This is a barrier to entry I just don't want to deal with.

[2019-02-25 20:47] martinwoodward commented on #1483
Understood - I'm working on that part also.

[2019-02-26 07:25] delvedor commented on #1482
Apparently, also CI has started working again. I'll continue to monitor this.

[2019-02-26 08:02] darkgl0w commented on #1479
Hi,

As it is stated in the documentation (https://www.fastify.io/docs/latest/Server/), `https` options must be an object that accept the same entries that Node.js core `createServer` method.
Here you can find all options that are accepted to create a secure context: [Node.js 10.15.1 LTS docs](https://nodejs.org/dist/latest-v10.x/docs/api/tls.html#tls_tls_createsecurecontext_options) in your case

[2019-02-26 11:05] lmammino commented on #1482
All back to normal even at the office... I'd say definitely an NPM glitch!

[2019-02-26 11:12] mcollina commented on #1482
CI seems to still be failing.

[2019-02-26 11:12] lmammino commented on #1482
Is there any option to trigger a build without cache in the CI?

[2019-02-26 11:13] mcollina commented on #1482
I don't think we have any caching on Azure, but I might be wrong.

[2019-02-26 15:02] Ethan-Arrowood commented on #1478
I'll take a look into updating this dependency

[2019-02-26 15:02] Ethan-Arrowood commented on #1480
I'll take a look into updating this dependency similar to #1478

[2019-02-26 15:13] mcollina commented on #1482
Unfortunately it's an NPM bug. I would recommend to contact NPM directly, there is literally _nothing_ we can do. Feel free to reopen if you got something that we can do to fix this.

(One solution might be to deploy Verdaccio instance in between.)

[2019-02-26 15:13] #1482 closed

[2019-02-26 15:13] mcollina commented on #1482
The link this bug is being discussed is https://npm.community/t/error-unexpected-token-in-json-at-position/5671.

[2019-02-27 08:53] wen911119 opened #1489 "Add support for a function in place of an Object in plugin options"
## 🚀 Feature Proposal
now
[code]
expected
[code]

## Motivation
./plugins/fastify-config-loader.js
[code]

index.js
[code]
:sob: fastify.config is undefined at this moment :sob:
## Example

Please provide an example for how this feature would be used.
index.js
[code]
:smile:

[2019-02-27 19:16] cemremengu commented on #1479
@ketrujillo08 Closing this, feel free to reopen if needed

@darkgl0w thanks for the help!

[2019-02-27 19:16] #1479 closed

[2019-02-27 19:46] mcollina commented on #1489
Why don't you use `.after()`? That'd work as expected.

[2019-02-27 19:47] mcollina commented on #1489
That's a cool  one! Yes, I think it would be valuable!

[2019-02-27 19:50] alex-ppg commented on #1489
I propose you change the title to "*Add support for a function in plugin opts*".

This issue was not with fastify ***directly*** but rather the [avvio](https://github.com/mcollina/avvio) plugin handler dependency which offered no support for this feature. I have created the pull request [#82](https://github.com/mcollina/avvio/pull/82) which solves this issue by introducing variable checking and de

[2019-02-28 11:16] SkeLLLa opened #1491 "Using named schema in items field breaks schema validation"
## 🐛 Bug Report

Using some named schema as `items` in other schema cause exception when using first schema

## To Reproduce

Steps to reproduce the behavior:

Add schema with simple item. Then add schema for items array and use first schema `$id` in `items`.
Then use the first schema in some route.

Paste your code here:

[code]

[code]

## Expected behavior

No exception thrown.

## Your Environ

[2019-02-28 11:20] mcollina commented on #1491
@SkeLLLa thanks for reporting! Would you like to send a PR to fix it?

Also @Eomm might now more.

[2019-02-28 12:29] SkeLLLa commented on #1491
@mcollina I don't know exactly where exactly this should be. Probably even in `fast-json-stringify`, so may be it will be better if someone who is more familiar with both `fastify` and `fast-json-stringify` libs.

[2019-02-28 13:04] Eomm commented on #1491
I will check this evening 👍
The problem seems in the cross-shared-schema references

[2019-02-28 17:22] greenkeeper[bot] opened #1492 "An in-range update of fast-json-stringify is breaking the build 🚨"
## The dependency [fast-json-stringify](https://github.com/fastify/fast-json-stringify) was updated from `1.11.0` to `1.11.1`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Ffast-json-stringify-1.11.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

fast-json-stringify i

[2019-02-28 18:06] ReTWi opened #1494 "The stream has been destroyed - ERR_HTTP2_INVALID_STREAM"
If you will push F5 in browser few times fast, you will get this error:
[code]

## Expected behavior
There should be no logged errors.

## Your Environment
- *node version*: 11.9.0
- *fastify version*: >=2.0.0
- *os*: Windows

Is there a way to skip this error?

[2019-02-28 18:07] mcollina commented on #1494
This looks like a bug in Node.js core.

[2019-02-28 18:11] mcollina commented on #1494
Confirmed, in http1: https://github.com/nodejs/node/blob/9edce1e12a7b69e7986dd15fce18d6e46590161a/lib/_http_outgoing.js#L245-L250

in http2:
https://github.com/nodejs/node/blob/9edce1e12a7b69e7986dd15fce18d6e46590161a/lib/internal/http2/compat.js#L564-L567

I'll issue a PR there.

[2019-02-28 18:12] mcollina commented on #1494
As a temporary measure we should add an if on that error code, and if that's the case ignore that error.

[2019-02-28 18:44] greenkeeper[bot] opened #1495 "An in-range update of avvio is breaking the build 🚨"
## The dependency [avvio](https://github.com/mcollina/avvio) was updated from `6.0.1` to `6.1.0`.

🚨 [View failing branch](https://github.com/fastify/fastify/compare/master...fastify:greenkeeper%2Favvio-6.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

avvio is a direct dependency of this project, and **it is very li

[2019-02-28 19:26] Eomm commented on #1491
This bug occurs only if you don't use a shared schema.

If you add the shared schema in a body, for example, all works.

[code]

The "replace-way" shared schemas are objects that are modified: the `key: <id>#` part is replaced with a JSON resulting `key: {<JSON>}`.
This update of the reference is triggered only when Fastify start the loading.

But, if you have a shared schema that references a not

[2019-02-28 19:33] #1480 closed

[2019-02-28 19:33] #1478 closed

[2019-03-01 08:06] alex-ppg commented on #1495
It appears on Travis the test file [handler-context.test.js](https://github.com/fastify/fastify/blob/master/test/handler-context.test.js) fails, perhaps it has to do with how we are binding `null` instead of something else on the `opts` argument in the latest `avvio` release?

[2019-03-01 08:52] SkeLLLa commented on #1491
@Eomm I've tested it with code from the first post. And it worked in v1.
And unfortunately workaround will not work well in my case, because I need `POST` request as well :).

[2019-03-01 09:41] martinwoodward commented on #1483
Ok, moved the account out from a AAD backed account to one that is just backed by MSA's and owned by @mcollina using his gmail account.  I recommend that we keep all the build definitions for the Fastify org in the same project in Azure DevOps just to have less navigation etc. If we find that we want more fine-grained security control in the future we can move stuff out into seperate projects but

[2019-03-01 10:21] martinwoodward commented on #1483
OK - have it set up so that anyone in the fastify team can create and edit builds in the fastify project.  Note that at the moment only @mcollina, @delvedor, @StarpTech and me can invite people into the fastify team by pressing the Invite button on https://dev.azure.com/fastify/fastify

![image](https://user-images.githubusercontent.com/856858/53631996-c0e43980-3c0b-11e9-8898-866bffd3aaad.png)

If

[2019-03-01 15:17] panbhatt commented on #1449
This issue is resolved after changing the server timeout ( by increasing it).  So closing the issue.

[2019-03-01 15:17] #1449 closed

[2019-03-01 16:13] jakewhelan commented on #214
I'd like to revive this discussion because I'm having the exact problem proposed in the OP.

Due to some corporate politics I only have the `GET` and `POST` methods available to me, but on the server I want to build the API using others such as `PATCH` and `DELETE`.

The `X-HTTP-Override-Method` header is actually _suggested_ at my company and considered the solution as far as they're concerned: t

[2019-03-01 16:33] mcollina commented on #214
Would you like to send a PR/work on an implementation?

[2019-03-01 16:34] jakewhelan commented on #214
I'd love to if you can point me in the right direction.

My efforts so far to monkey patch this haven't been fruitful.

[2019-03-01 16:37] mcollina commented on #214
I think this should be supported in a way similar to how we support route versioning (via headers). A PR to find-my-way to add support might be the right spot.

[2019-03-01 17:01] Sn00z3r opened #1499 "Route and addContentTypeParser"
From what I can gather the addContentTypeParser totally ignores routes you have defined. So if the content type matches your parser it'll just run the function you defined in the addContentTypeParser.

Is there any way to get this working with fastify.route() or do I need to create my own route selector code for this specific content type?

Best regards!

[2019-03-01 17:24] delvedor commented on #1499
Hello! I'm sorry, I'm not sure I've understood the issue.
Can you rephrase it? A code example would help as well!
Thanks!

[2019-03-01 21:17] mcollina commented on #1495
Not needed really, we fixed it in the tests

[2019-03-01 21:17] #1495 closed

[2019-03-01 21:17] #1492 closed

[2019-03-01 21:17] mcollina commented on #1345
I’m closing this.

[2019-03-01 21:17] #1345 closed

[2019-03-02 17:10] #1491 closed

[2019-03-02 20:04] Eomm commented on #917
@addityasingh I build a [plugin](https://github.com/Eomm/fastify-405) for this scope. I hope it could be helpful 👍

[2019-03-02 22:02] mcollina commented on #1483
I should have invited all of @fastify/fastify. Can you please check if you can restart a build in https://dev.azure.com/fastify/fastify/_build?

[2019-03-03 14:49] delvedor commented on #917
Closed in #1501 🎉

[2019-03-03 14:49] #917 closed

[2019-03-04 10:49] Sn00z3r commented on #1499
Hey,

Well, I have a post route in my application:

`    fastify.route({
        method: 'POST',
        url: '/voice/Error.xml',
        handler: async function (request, reply) {
            console.info("lalalla")
            reply.code(400)
            .send();
        }
      });`

Now when I send a post to this route with a text/plain content type I get unsupported content-type as a return c

[2019-03-04 10:55] Sn00z3r commented on #1499
Alright,

Ik was not on fastify 2.x, my apologies, all is well now :p

[2019-03-04 10:56] #1499 closed

[2019-03-04 10:56] Sn00z3r commented on #1499
Alright,

Ik was not on fastify 2.x, my apologies, all is well now :p

[2019-03-04 13:56] delvedor opened #1503 "Express compatibility"
## 🚀 Feature Proposal

From the next version of Fastify, I would love to decouple even more Express middlewares from the core framework.
The current solution is to integrate [Middie](https://github.com/fastify/middie) with Fastify and expose it via the `use` API.
I think we should design a new plugin that offers this functionality *(and at the same time remove the `use` API from core)*; technicall

[2019-03-04 14:02] jsumners commented on #1503
Direct Express compatibility has never been a selling point for me. I see it as a detriment, really. I'm on board with removal.

[2019-03-04 14:05] delvedor commented on #1503
Same for me, but it has helped a lot of people having a fast transition from Express to Fastify. This is still a great feature for us.
But if we want to improve it, we should extract it from core and build a more complete plugin.

[2019-03-04 14:16] mcollina commented on #1503
I’m on board with the move. I’m not convinced we will gain much in term of speed, but I think it would make things more flexible.

[2019-03-04 15:12] Murbal opened #1504 "Fastify uses different method than expected"
Hello I have a problem. When I make a GET request everything is fine. But when I make a POST request afterwards and then make a GET again, it uses the POST handler instead of the GET one.
How can I solve this?
I am using the project structure given by fastify cli
The code:
[code]

[2019-03-04 15:16] mcollina commented on #1504
Can you please provide a full example?

[2019-03-04 15:29] Murbal commented on #1504
Ok it was related to knex. I only initialized knex once and used that for all db actions. Solved it by initializing knex everytime a db action was needed.

[2019-03-04 15:29] #1504 closed

[2019-03-04 21:22] #1448 closed

[2019-03-05 05:09] nwoltman commented on #946
@shwei I found another way to avoid the error that's less likely to introduce other bugs.

Instead of

[code]

do

[code]

This just modifies the `ip` property instead of creating a new object that doesn't share the same prototype as the `req` object.

[2019-03-05 09:04] #1329 closed

[2019-03-05 10:09] mcollina commented on #946
Can you please explain to me what is the problem? I don’t understand.

[2019-03-05 16:09] nwoltman commented on #946
The problem is that people who use Fastify with Google Cloud's Firebase Functions will run into this error on every request:

[code]

This happens because Fastify is trying to set the `req.ip` property ([here](https://github.com/fastify/fastify/blob/29a77b9a98a12c2378cac6de306a6c9235a8511d/fastify.js#L280-L282)), but it fails because Firebase functions use the same `req` and `res` objects that Exp

[2019-03-05 16:18] mcollina commented on #946
I’m happy to add an option to disable that. I think it should work.

[2019-03-05 17:53] delvedor commented on #1503
I think we can start working on this even in Fastify v2.
The plan is to work on the `fastify-express` plugin and make it a dependency of Fastify v2, then in Fastify v3 we will remove it from core.
In this way we can road test it and be sure that is working as expected :)

[2019-03-05 17:58] mcollina commented on #1503
I think the best approach is to keep the module within this repo for v2, and move it to its own repo on v3.

[2019-03-05 18:57] shwei commented on #946
By all means, please do if that makes most sense. Hope the new option will be available for 1.x. Let me know how I can help. Thanks!

[2019-03-05 20:27] BridgeAR opened #1508 "Fastify v2.0.0 fails on citgm"
Fastify v2.0.0 constantly fails on CITGM (at least in Node.js 11 and 12-pre). The tests pass locally, so I am a bit surprised about the failures. It would be great if you could have a look: https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/1758/nodes=ppcle-ubuntu1404/testReport/junit/(root)/citgm/fastify_v2_0_0/

[2019-03-05 21:26] planschmuh opened #1509 "remoteAddress is undefined in request handler"
## 🐛 Bug Report

The remoteAddress is undefined if you try to access it with ``request.ip`` in a request handler.

## To Reproduce

Steps to reproduce the behavior:

Run the example code and make a get request to http://localhost:8080

[code]

## Expected behavior

The response should contain the remoteAddress. But it is empty.

## Your Environment

- *node version*: v11.10.1
- *fastify version*:

[2019-03-05 21:34] Eomm commented on #1509
Hi,
in fastify v2.0.0 there is not the field `request.ip`.
You can get that info by `reply.send({ remoteAddress: request.raw.connection.remoteAddress })`

Anyway, there is a working PR https://github.com/fastify/fastify/pull/1476 that will add that information exactly in `request.ip`.. so stay in touch for the next version of fastify v2 😃

[2019-03-05 23:51] mcollina commented on #1508
That was solved in https://github.com/fastify/fastify/pull/1493. We will issue a new release tomorrow to address it, good catch!

[2019-03-06 01:51] Extarys commented on #163
sorry to bump this, I have the same question.

Does using `type()` will detect and send the proper mime type?

[2019-03-06 07:07] planschmuh commented on #1509
Ah shame on me, I've only tried r`equest.raw.headers/rawHeaders` but not `request.raw.connection.` Thank you!

[2019-03-06 07:07] #1509 closed

[2019-03-06 09:18] mcollina commented on #946
@shwei can you update your PR in that direction? I'm happy to have the change backported.

[2019-03-06 09:23] mcollina commented on #163
No, `type` is not going to autodetect the type. A plugin that does that would be awesome.

[2019-03-06 09:57] delvedor opened #1510 "Process for dismissing a collaborator"
Hello everyone!
We do have a [policy](https://github.com/fastify/fastify/blob/master/CONTRIBUTING.md) for inviting members to join the team, but we do not have one for dismissing members and make them emeritus.

Do you have any proposal, or do you know a method that is already working well in other organizations?
Any feedback is more than welcome!

[2019-03-06 09:58] delvedor commented on #1510
@bnb I remember we have discussed a little about this during a conference, you probably have some good suggestion to share :)

[2019-03-06 12:32] jakewhelan commented on #214
Here's a solution using `fastify-reply-from`

[code]

[2019-03-06 13:33] rijx opened #1511 "When using an async preValidation hook the handler will be called multiple times"
## 🐛 Bug Report

When using an async preValidation hook the handler will be called multiple times.

## To Reproduce

Run this code with fastify 2.0.0 installed:

[code]

Then run (or use a browser):

[code]

## Expected behavior

The console should output:

[code]

What happens instead:

[code]

## Your Environment

- *node version*: v8.14.0
- *fastify version*: 2.0.0
- *os*: macOS

[2019-03-06 13:36] jsumners commented on #1511
You should not be passing in a `next` callback or invoking said callback.

[2019-03-06 14:00] delvedor commented on #1508
[`v2.0.1`](https://github.com/fastify/fastify/releases/tag/v2.0.1) has just been released :)
Thank, you for letting us know!!

[2019-03-06 14:02] rijx commented on #1511
You're right. I overlooked that...

It may have been better for it to be called `callback` instead of `next` if it's called implicitly for async functions.

I personally thought it functioned like Koa's next, hence the confusion.

[2019-03-06 14:35] jsumners commented on #1511
The docs provide examples for both styles. Is it not clear? https://github.com/fastify/fastify/blob/b4560139a74d5a40c58d30d1bd7dd2dc21a1b153/docs/Hooks.md#requestresponse-hooks

[2019-03-06 14:44] #1508 closed

[2019-03-06 14:50] rijx commented on #1511
What I think what went wrong:

I first had a sync preValidation and now made it async/await. It didn’t occur to me that I needed to change the control flow to not call next anymore (do I need to call it for sync functions anyway?)

When I hit this strange issue I overlooked the differences between the sync and async examples in the docs.

I personally would check for next being called multiple tim

[2019-03-06 15:26] jsumners opened #1512 "Schema errors text can have `undefined` in the output"
https://github.com/fastify/fastify/blob/f5d1027f385df693c74a51833b51cfebe25e2241/lib/validation.js#L154

`errors` as JSON:
[code]

`options` as JSON:
[code]

The resulting string from this function with that given input:

[code]

[2019-03-06 15:34] #1511 closed

[2019-03-06 15:43] mcollina commented on #1512
cc @Eomm

[2019-03-06 17:29] dbauszus-glx commented on #331
I just ran into the same issue and found the solution in this [issue](https://github.com/fastify/fast-json-stringify/issues/51).

Just want to put this here for somebody else who might be asking this question...

`type : 'array'` requires items in a similar fashion as the type object requires properties.

[code]

[2019-03-06 17:44] nwoltman commented on #946
@mcollina Just wondering, is the plan you're thinking of to:

1. Add the option to @shwei's PR (#1476) while still keeping his work to add the properties to Fastify's `Request` object
2. Remove the option and remove the properties from the Node core `req` object in v3?

[2019-03-06 18:39] mcollina commented on #946
That’s the plan.

[2019-03-06 18:41] nwoltman commented on #946
OK, that sounds good to me 🙂

[2019-03-06 18:50] shwei commented on #946
@mcollina @nwoltman how does `skipAssignIpInNodeReq` in options sound? Any better names?

[2019-03-06 18:54] mcollina commented on #946
@shwei I would go one step further and do: `addPropertiesToNodeReq`, and avoid adding the logger as well while we are at it.

[2019-03-06 19:03] Eomm commented on #1456
Fix released in [v1.14.2](https://github.com/fastify/fastify/releases/tag/v1.14.2)
Thank you for reporting ✌

Closing

[2019-03-06 19:03] #1456 closed

[2019-03-06 19:04] shwei commented on #946
@mcollina would this option apply to `res.log` also?
`  req.log = res.log = log.child({ reqId: req.id, level: context.logLevel })`
https://github.com/shwei/fastify/blob/pass-ip-to-request-constructor/fastify.js#L307

[2019-03-06 19:05] mcollina commented on #946
@shwei yes, I would actually go that far.

[2019-03-06 19:06] Eomm commented on #1351
This feature should be released in [v2.0.0](https://github.com/fastify/fastify/releases/tag/v2.0.0)

@delvedor can I close it or there is something still missing?

[2019-03-06 19:10] Eomm commented on #1491
Fix released in [v2.0.1](https://github.com/fastify/fastify/releases/tag/v2.0.1)
Thank you for reporting ✌

[2019-03-06 20:22] Eomm commented on #1512
Ok, I recreated the error, @jsumners did you tried some new version of AJV or another lib?

[code]

[2019-03-06 20:23] jsumners commented on #1512
That's a Joi style error.

[2019-03-06 21:40] Eomm commented on #1510
I read that, for example, npm remove from collaborators team after 3 months of inactivity

[2019-03-06 23:59] ahimanta commented on #1256
regards

First of all, tell to you  that I am following your project, waiting for the promises of it to be fulfilled, so I encourage and good luck.

I take this comment to give my opinion: on the page and documentation appears that "fastify" has the option of preValidation but the code does not, be careful with these things since from what I have seen only you answer the questions that they are do

[2019-03-07 07:12] Eomm commented on #1256
Hi @ahimanta ,
any feedback is always appreciated!
Let me understand better your point in order to improve our docs ✌

`preValidation` hook is documented [here](https://github.com/fastify/fastify/blob/master/docs/Hooks.md#route-level-hooks) and [here](https://github.com/fastify/fastify/blob/master/docs) and you can find a deeper detail of "how fastify works".
Could you kindly tell us what document

[2019-03-07 07:29] delvedor commented on #1510
@Eomm the problem with that approach is how you define "inactivity"?
Not open any pr/issue? Not responding to messages?

For example, if an individual does not contribute for two months and 29 days, then drops a message, then two months and 29 days of 0 contributions, then a new message and so on. Would that be identified as inactivity?

[2019-03-07 07:56] StarpTech commented on #1510
IMHO, we don't need such a rule. With a healthy team it will be managed by itself. We should just start to have regular meetings with a agenda. People who never participate without a reason can be automatically marked as inactive.

[2019-03-07 11:23] #1512 closed

[2019-03-07 13:50] yamalight opened #1514 "Error handler doesn't get triggered when using non-async routes"
## 🐛 Bug Report

`throw`ing an error from non-async route handler crashes the whole app.

## To Reproduce

Steps to reproduce the behavior:

[code]

Opening `/throwAsync` will correctly show the error handler.
Opening `/throw` will crash the app.

## Expected behavior

I've expected throwing is `async` and normal functions to work the same way - i.e. passing the error to `setErrorHandler` function

[2019-03-07 13:52] jsumners commented on #1514
https://github.com/fastify/fastify/issues/1078
https://github.com/fastify/fastify/issues/850

[2019-03-07 13:59] yamalight commented on #1514
@jsumners that makes sense. I feel like this should be better explained in the docs.
Currently [it says](https://github.com/fastify/fastify/blob/master/docs/Errors.md):

I don't think that's clear enough - at least for me it wasn't and I assumed errors in sync routes are handled in the same fashion 🤔
Changing it to something like this would make it more apparent:

Thoughts?

[2019-03-07 14:09] jsumners commented on #1514
If routes are declared as async though - the error will safely be caught by the promise and routed to the default error handler of Fastify for a generic Internal Server Error response. For customizing this behaviour, you should use setErrorHandler.

^ PR with that if you're able.

[2019-03-07 14:30] yamalight commented on #1514
@jsumners will send in a minute! 👍

[2019-03-07 19:34] Eomm commented on #1510
@delvedor You have right doubts about that pattern: it doesn't fit for us.

@StarpTech I agree that "With a healthy team it will be managed by itself" and if someone is inactive (based on the sensibility of teammates) we could just ping him/her via email to ask "are you ok? are you in or out?" and start a discussion if he/she doesn't reply?
I think that "manage people" is more difficult than writi

[2019-03-07 20:02] Extarys commented on #163
Thanks @mcollina. It seems the api changed in v2 and `this` is no longer recognized though.
In the mean time I created 2 basic functions for sending html files and js files which seems to do the trick right now but it's dirty.

[2019-03-07 23:22] mcollina commented on #163
Can you open a new issue describing the problem you are facing with a way to reproduce?

[2019-03-08 08:36] kokujin opened #1518 "Missing information on 'version' attribute in route declarations"
Can some explain the use of the 'version' attribute on route declarations? The link to the documentation is invalid. Thanks.

`https://github.com/fastify/fastify/blob/versioned-routes/docs/Routes.md#version`

[2019-03-08 08:40] Eomm commented on #1518
Hi, you can find that info [here](https://github.com/fastify/fastify/blob/master/docs/Routes.md#version)

Where did you find that link?
If it is on the site we need to fix it 👍

[2019-03-08 08:41] #1518 closed

[2019-03-08 08:41] delvedor commented on #1518
Hello! Thank you for reporting!
Fixed in https://github.com/fastify/fastify/commit/124522f74e6152da53e54641c2d7019d5d3bf4a4 :)

[2019-03-08 11:17] dbauszus-glx opened #1519 "http2 support for lambda"
We are using fastify for AWS Lambda, Google App Engine, Zeit Now v1, cloud applications. All of these are secured via https.

However, there are no certificates. The fastify documentation states that plain text http2 is not supported by browsers.

Is it not possible to enable http2 without the https settings where it is assumed that all traffic is http2?

Is it possible to have a feature for http2

[2019-03-08 11:23] mcollina commented on #1519
AWS Lambda, Google App Engine, Zeit Now do not support HTTP2. You cannot use it there.

[2019-03-08 11:23] #1519 closed

[2019-03-08 22:26] alex-ppg commented on #1489
I believe this issue is now resolved thanks to the merged [PR#1498](https://github.com/fastify/fastify/pull/1498)

[2019-03-09 08:08] Eomm commented on #1489
You have right!
Feature description [here](https://github.com/fastify/fastify/blob/master/docs/Plugins-Guide.md#how-to-handle-encapsulation-and-distribution)

Closing

[2019-03-09 08:08] #1489 closed

[2019-03-09 13:20] delvedor opened #1521 "Labels, labels , labels"
Hello team!
As you probably have imagined, we heavily use labels in our issues and prs, not only because they are useful for searching for issues and let people know what to expect from a issue, but also because it makes way easier for me or @mcollina create a new release.

Since we are supporting two versions of the framework at the same time, and it the future it may be even 3, I would like to p

[2019-03-09 13:21] delvedor commented on #1521
/cc @fastify/fastify

[2019-03-09 13:50] jsumners commented on #1521
👍

[2019-03-09 14:46] mcollina commented on #1521
I think we should have a “backport-requested-1.x” label, which is removed once the backport is done. Wdyt?

[2019-03-09 14:49] delvedor commented on #1521
I like the idea, but labels with long names are more difficult to read, probably `backport-1.x` is enough.

[2019-03-09 16:05] Eomm commented on #1521
👍🏼 For the labels

Could we add also a little description for all the labels?
Because "missing discussion" and "wontfix" are not clear for me 😅 (because there is the discussion and invalid labels that are quite similar to me)

[2019-03-09 16:52] delvedor commented on #1521
👍

[2019-03-09 17:10] delvedor commented on #1521
Oks, I've updated the labels, let me know what you think.
https://github.com/fastify/fastify/labels

I've also added a brief description to the not obvious ones.

[2019-03-09 17:17] delvedor commented on #1514
Closed in #1515.

[2019-03-09 17:17] #1514 closed

[2019-03-09 17:20] delvedor commented on #1351
👍

[2019-03-09 17:20] #1351 closed

[2019-03-09 23:06] Ethan-Arrowood commented on #1510
I like @StarpTech idea of regular meetings with agendas.

Per @Eomm list of things, I'd be happy to write up a formal process on our [CONTRIBUTING.md](https://github.com/fastify/fastify/blob/master/CONTRIBUTING.md) file about the steps we will take to remove a collaborator as well as what responsibilities collaborators have to remain `active`

[2019-03-09 23:07] Ethan-Arrowood commented on #1503
I like this idea a lot! Whomever starts making the changes I can help out with any TypeScript updates that need to be made

[2019-03-09 23:15] Ethan-Arrowood opened #1523 "TypeScript refactor"
With the in progress fastify core refactor (#1475) I'd like to work on our overall TypeScript support. I'm going to assign this task to myself and see what I can come up with. A lot of what I'll be doing is currently just ideas I have. I don't know what will stick and what wont so I'll see where it goes as I work on it!

Some ideas I have at the moment include:
- better TypeScript testing
- improv

[2019-03-10 03:36] Ethan-Arrowood commented on #1523
I want to provide some more info on my idea regarding 'Improving internal type coverage':

So I essentially want backwards compatible types. We work very hard to maintain our `fastify.d.ts` typings so I wanted to see if those types could be referenced within `fastify.js` itself. VSCode automatically infers types for .js code (if you have it enabled) but it is limited to how that .js code is being

[2019-03-10 03:44] Ethan-Arrowood commented on #1523
Awesome repository I just found for testing our types: https://github.com/Microsoft/dtslint
Going to play around with this soon. If it looks like a suitable tool I will make an individual issue and open a pull request.

[2019-03-10 08:27] mcollina commented on #1523
My experience with this approach is zero. If it improves user experience and it does not break our user flow, I’m ok.

[2019-03-10 09:04] Eomm commented on #1523
My general opinion is that would be awesome have types definitions in a separated file! 💪🏻

[2019-03-10 09:39] #1316 closed

[2019-03-10 13:41] delvedor commented on #1523
I'm all ears!

With all of the types jammed into one file it can be hard to maintain. As most of fastify is being refactored into individual things I'd like to investigate a similar structure with the typings.

I'm using this approach in [elastic/elasticsearch-js#next](https://github.com/elastic/elasticsearch-js/tree/next) and is working quite well. I have to admit that maintaining a nicely ordere

[2019-03-10 14:15] StarpTech commented on #1523
What's with the approach to maintain types in jsdoc comments? Described here:

“Type Safe JavaScript with JSDoc” by TruckJS https://link.medium.com/zoVWrOFEWU

[2019-03-10 21:27] Ethan-Arrowood commented on #1523
@delvedor I love how you are doing your types in elasticsearch. I was thinking either like that or having a `types` directory with each thing.d.ts file in it.

In regards to internal typing, its not going to be useful unless we actually use typescript (write .ts files), or we use JSDoc comments in the .js files. My goal will be to provide types for all external apis.

@StarpTech I'm going to do mo

[2019-03-11 00:08] Ethan-Arrowood opened #1525 "Improve typings for http objects such as Headers"
Ref: https://twitter.com/garybernhardt/status/1104893610468601856?s=20

Some of our types are currently relying on an `any` default when they should be explicitly typed. An easy fix will be to use the `http.IncomingHttpHeaders` and `http.OutgoingHttpHeaders` interfaces from `@types/node` in place of our `DefaultHeaders` interface. More can be done for the other `Default` types.

[2019-03-11 08:55] mcollina commented on #1525
I think providing a workflow that uses https://www.npmjs.com/package/json-schema-to-typescript would be fantastic.

[2019-03-11 15:59] Ethan-Arrowood commented on #1525
Could you share with me what you believe this workflow would be like?

[2019-03-11 16:04] Ethan-Arrowood commented on #1525
What I have in my mind right now is this:
- User rights schemas in JSON files
- They have `json-schema-to-typescript` auto-compiling their `.json` into `.d.ts` files
- Their `.ts` server code imports the `.json` schema to be used in the `schema` property of our `route` methods. It also imports the type declarations from the generated `.d.ts` files so that the user can pass the schema to the `Fasti

[2019-03-11 16:40] mcollina commented on #1525
+1 with the approach. Best bonus points would be to use something like https://github.com/fastify/fluent-schema and have it automatic spitting out types information.

[2019-03-11 16:53] Ethan-Arrowood commented on #1525
Sharing this article: https://lorefnon.tech/2018/03/25/typescript-and-validations-at-runtime-boundaries/

[2019-03-11 16:55] Eomm commented on #1376
I have thinked how we could apply a conditional validation. So I would like propose this API change,
maintaining the backword compatibility. This in order to be a semver-minor change.
The `schema.<fields>` will accept:

+ a JSON: all remain as is
+ an array of JSON

If it is an array of JSON, each element must be like this one:

[code]

When a request arrives the `applyOn` function is executed and

[2019-03-11 16:56] Ethan-Arrowood commented on #1523
Current type declarations are filled with generics, many resulting in `any`. I think the start for this refactor will be to have a lot of our types extend from `@types/node` core typings, from there anything that makes our types unique should extend those `@types/node` base interfaces and classes.

For example, FastifyRequest currently:
[code]
First change:
[code]

By adding `http.IncomingMessage`

[2019-03-11 17:00] mcollina commented on #1376
I'm not super comfortable with that change, because that would break fastify-swagger and the `onRoute` hook.

[2019-03-11 17:17] mcollina commented on #1525
This is also very relevant: https://github.com/gcanti/io-ts/issues/197.

[2019-03-11 18:11] Eomm commented on #1376
Good point, for sure I should check if swagger standard supports this kind of mechanism and update that plugin, but `onRoute` shouldn't be affected: this change impact that part of the code, but the API should remain the same (there shall be a change in the `Context` object in order to track the different compiled schemas).

Anyway I will try to think a better approach ✌

[2019-03-11 20:59] evanshortiss commented on #1523
Nice work @Ethan-Arrowood, I'm happy to cast my eyes on stuff if necessary to give feedback (I'm not an authority at all so take opinions with a grain of salt 😄 )

In terms of the change above I think we went with generics since we needed to support http, http2, and potential for people extending those. I might be missing some more recent context on this since I haven't been good at keeping up wit

[2019-03-11 21:10] delvedor commented on #1523
@Ethan-Arrowood is this a new feature or just a refactor of the internals?
`internals` and `semver-minor` labels are mutually exclusive IMHO :)

[2019-03-11 21:11] #1521 closed

[2019-03-11 21:12] delvedor commented on #1475
Next pieces that will need refactoring:
- 404 handling
- route declaration

[2019-03-11 21:13] delvedor commented on #793
Closed in #1471.

[2019-03-11 21:13] #793 closed

[2019-03-11 21:14] delvedor commented on #1444
Closed in #1471.

[2019-03-11 21:14] #1444 closed

[2019-03-11 21:19] evanshortiss commented on #1525
Also, some generics are currently supported for this, but it's a long list, so not an ideal experience - https://github.com/fastify/fastify/blob/master/fastify.d.ts#L102

[2019-03-12 00:12] Ethan-Arrowood commented on #1523
@delvedor not a new feature as it is purely updating existing types (whether that be in structure, more declarative, etc). If I do make things more declarative (which its looking like we are in #1525) then I believe this would be semver-minor as it could break existing TypeScript Fastify apps. Let me know what you think is best!

[2019-03-12 07:10] delvedor commented on #1523
If we could break existing apps then this should be a `semver-major`, while if we do not break anything, so is just a refactor of the internals, then it should be a patch release.

[2019-03-12 07:34] delvedor opened #1529 "basePath deprecation"
In v1 we had the `basePath` key in the Fastify object, that has been changed to `prefix` in https://github.com/fastify/fastify/pull/1183.
Back then we added a deprecation warning, but we didn't remove it in v2.
Do you all agree that we can remove the following snippet in a patch release for v2?
https://github.com/fastify/fastify/blob/ed4af597f3a98065781f2d429c7a853fa5596711/fastify.js#L193-L198

[2019-03-12 07:40] mcollina commented on #1529
It does not hurt anybody. Let’s cut a next branch and do it there.

[2019-03-12 08:03] delvedor commented on #1529
I've added it to the v3 milestone ;)

[2019-03-12 12:52] Ethan-Arrowood commented on #1523
Hmm okay well let’s see what changes I make. I do not want to break
anything existing so maybe some changes will be v3 and some will remain on
2.

On Tue, Mar 12, 2019 at 03:11 Tomas Della Vedova <notifications@github.com>
wrote:

--

Ethan Arrowood

Computer Science & Applied Mathematics

Accelerate  |  HackWITus  |  ΦΣΠ
<https://github.com/Ethan-Arrowood> <https://twitter.com/ArrowoodTech> [imag

[2019-03-12 16:59] Ethan-Arrowood commented on #1483
I can successfully restart a build 👍

[2019-03-12 17:27] Eomm commented on #1376
**New proposal**:

We could incentivize the use of [`oneOf`](https://json-schema.org/understanding-json-schema/reference/combining.html#oneof) property.
In fact the feature request is: "I want that my request will be validated against one of these schemas based on <xyz> condition"

The integration with the codebase, instead, it could be done with a plugin `fastify-schema-constraint` like this:

[c

[2019-03-13 00:11] thejones commented on #1523
Is this issue related to making the experience better for TypeScript users or is Fastify being refactored to use TypeScript?

[2019-03-13 00:13] Ethan-Arrowood commented on #1523
Making the experience better for TypeScript users. We are not porting Fastify to typescript.

[2019-03-13 09:02] SarasArya commented on #326
But you have write it in every file if you are using prefix

[2019-03-13 17:24] Ethan-Arrowood commented on #327
Fwiw I believe that having defined, custom Request and Reply objects will make the type declarations simpler.

[2019-03-14 12:48] sarneeh opened #1535 "Using shared schema with anyOf"
## 🐛 Bug Report

The docs state about `replace-way` shared schemas that: `You can use the shared schema everywhere`. So I wanted to use a shared schema in an `anyOf` property, but unfortunately it does not work.

## To Reproduce

[code]

## Expected behavior

I expected the `shared#` schema to be replaced with the actual schema.

## Your Environment

- *node version*: 10.15.1
- *fastify version*:

[2019-03-14 13:07] academici opened #1536 "[help] Usage with nginx unit"
Hi! Not so long ago, [nginx unit](http://unit.nginx.org) had the opportunity to run nodejs applications. The official documentation has an example of [use with express](http://unit.nginx.org/howto/express/).
I rewrote the script under fastify.
[code]
Unit configure
[code]

At startup get an error:
[code]
Can i get fastify function for unit server?

Thanks.

[2019-03-14 13:08] Eomm commented on #1535
Hi,
the problem is the `null` string in the [anyOf](https://json-schema.org/understanding-json-schema/reference/combining.html?highlight=anyof#anyof) array.

You should put a `{type: 'null'}`

This is a working example:

[code]

[2019-03-14 14:13] Eomm commented on #1475
I'll work on the 404 refactoring ✌

[2019-03-14 15:50] BridgeAR opened #1537 "Test failures on CITGM"
Currently a few fastify tests fail on CITGM. They do not seem to be related to the latest changes in Node.js core, so I guess they might be flaky tests in fastify? It would be great if that could be verified right quick as I am planning on releasing v11.12.0 in a few hours.

See https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/1766/nodes=osx1011/testReport/junit/(root)/citgm/fastify_v2_0_

[2019-03-14 15:51] BridgeAR commented on #1537
Using version v2.0.1

[2019-03-14 15:55] delvedor commented on #1537
Thank you for reporting!
We are checking :)

[2019-03-14 16:09] delvedor commented on #1536
Hello!
You can accomplish this by using the [`serverFactory`](https://www.fastify.io/docs/latest/Server/#serverfactory) option :)

[2019-03-14 16:46] sarneeh commented on #1535
@Eomm I'm sorry, it was an error in my example. I tried it with proper `anyOf` and it doesn't work there. Try to `reply.send({ hello: 'world' })` in your example.

[2019-03-14 16:48] mcollina commented on #1537
It’s either flaky on our side (but I can’t reproduce), or there is something flaky on how we use http in node core. Some order/event timing might be different under certain conditions.

You can release (you are not breaking us).

[2019-03-14 16:50] BridgeAR commented on #1537
@mcollina thanks a lot for looking into it!

[2019-03-14 17:03] Eomm commented on #1535
The replay payload isn't involved, anyway, it is still working for me.
I have tried the version you write `git checkout tags/v1.12.1`, it is the correct version?
Because maybe you need only to update. We follow the semver so it is safe to update your fastify lib to `1.14.3`.

Could you provide a complete example via gist that reproduces the problem and the complete stacktrace?

[2019-03-14 17:05] sarneeh commented on #1535
@Eomm Yeah, gimme a minute, I found out that in this fast example it works properly but in my app it doesn't, need to find out what is the difference there. Sorry for that.

[2019-03-14 17:10] mcollina commented on #1537
Reopen, we still need to make that test less flaky.

[2019-03-14 17:11] delvedor commented on #1537
That test is quite old, probably is flaky in v1 as well.

[2019-03-14 17:16] sarneeh commented on #1535
@Eomm Nevermind, I've just found that I had a `{type: 'number'}`, was passing a `"450.00"` string, and had type coercion turned off. Sorry for taking your time and thanks for trying to help! :sweat_smile:

[2019-03-14 17:16] #1535 closed

[2019-03-15 02:54] fuafa opened #1538 "`this` is not typed in RequestHandler"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-03-15 04:38] Ethan-Arrowood opened #1541 "Reply object methods missing from documentation"
The Fastify Reply documentation page is misleading. The list of methods at the start of the page does not contain `.removeHeader` but that method is referenced in the body of the page. Similarly the order of the methods in the header are not in order while the rest of the page is. For readability sake everything should be in order and all implemented methods should be documented correctly.

[2019-03-15 06:00] Ethan-Arrowood opened #1542 "Update Server#logger to discuss custom logger option"
The [Server#logger](https://www.fastify.io/docs/latest/Server/#logger) doc section lists 3 options for the logger server option. I believe the `pinoInstance` option should be expanded (or a new, 4th option should be added) to tell the user they can define or use their own custom logger as long as it follows the rules set forth by our code (I believe it needs a certain list of methods and an option

[2019-03-15 06:03] Ethan-Arrowood commented on #1523
I'm on a roll tonight with a bit of a type refactor. Using the conditional operator I'm able to make our types much easier to understand as well as correctly infer based on certain configurations. This has also allowed me to pick apart our documentation and find which doc pages are missing content, have old content, or have conflicting content. Hopefully I have something to share in a couple days

[2019-03-15 06:56] Ethan-Arrowood commented on #1523
If you'd like to follow along I'll be pushing my (incomplete) progress to this file on my `tsc-refactor` branch on my personal fork: https://github.com/Ethan-Arrowood/fastify/blob/tsc-refactor/fastify2.d.ts

I believe I have simplified the entirety of the initial `declare function` lines into a single declaration. It is also conditional based off of the `RawServer` generic (which is still defaulte

[2019-03-15 07:46] mcollina commented on #1542
docs are managed in the main repo, moving.

[2019-03-15 07:46] academici commented on #1536
@delvedor, thanks, is my server.js
[code]
All requests return 400 code:
[code]
This is request console log:
[code]
What could be the problem?

[2019-03-15 13:02] dbauszus-glx opened #1544 "Dead link on lmammino.github.io/fastify page"
I really like the documentation you put on github pages. While trying to find out which template you use I noticed that the link to the layout home.html is actually dead.

Unfortunately; It's the one in the footer which asks for PR to improve the page itself.

![image](https://user-images.githubusercontent.com/22201617/54432712-dd12cb00-4721-11e9-9858-ca8955a284d3.png)

The link in question is: ht

[2019-03-15 13:45] cemremengu commented on #1544
Would you like to send a PR to fix?

[2019-03-15 13:54] dbauszus-glx commented on #1544
I would, but I didn't find the page in the repo.

[2019-03-15 14:13] mcollina commented on #1523
Good work! Can you please show some example of that in action? How would that change plugins and apps for example?

[2019-03-15 14:19] mcollina commented on #1536
I _think_ you should call the `ready()` method.

[2019-03-15 15:42] Ethan-Arrowood commented on #1523
I have to work out more of the declaration still, but I don't think it will change anything. This conditional design prohibits the user from defining something like so:
[code]
Which is currently allowed by our type system.

Furthermore, the reworking of the `interface FastifyRequest`:
[code]
should allow it to be used much more efficiently and correctly. It now is a combination of the `RawRequest`

[2019-03-15 18:13] academici commented on #1536
@mcollina did not understand how use ready, wrap fastify.get - did not work?

[2019-03-15 18:23] delvedor commented on #1536
@academici you should also call `fastify.listen`.
`fastify.ready` loads all the plugins, and you should use it only if the server that you have passed is already listening.

[2019-03-15 18:53] academici commented on #1536
@delvedor , nginx unit listen port from unit json config and starts the server.js itself
[code]
If add fastify.listen
[code]
get an error
[code]
if use unit server listen from official example with express js get an error:
[code]
[code]

[2019-03-15 19:21] Ethan-Arrowood commented on #1523
I've renamed my declaration file to `fastify.d.ts` so if you clone my branch you can start playing with the types in a `.ts` file. I'm really happy with the current declaration of the factory function. It only has one generic, `RawServer` that is then used to conditional set the `RawRequest` and `RawReply` generics in the rest of the interfaces and types.

I've implemented constraints and defaults

[2019-03-15 19:32] mcollina commented on #1523
Amazing. Do the current test pass? Can you send a PR over so we can start properly reviewing?

[2019-03-15 19:34] mcollina commented on #1536
Try:

[code]

[2019-03-15 19:45] academici commented on #1536
@mcollina, not work:
[code]

[2019-03-15 19:48] mcollina commented on #1536
It's an issue with `unit-http`: they need to add  [`req.connection`](https://nodejs.org/api/http.html#http_request_connection) property, as it's defined in Node.js core and used in https://github.com/fastify/fastify/blob/9c3f03f1aebd68bdd4500c0d413f72dbde5ee579/fastify.js#L262.

You should open it there.

[2019-03-15 19:48] #1536 closed

[2019-03-15 22:53] Ethan-Arrowood commented on #1523
I'll do that soon, I have to copy over the remainder of the existing types and then I'll be ready for proper PR

[2019-03-16 10:39] lmammino commented on #1544
Hello @dbauszus-glx, thanks for noticing this. In which documentation page do you have the broken link in the footer?

[2019-03-16 11:34] #1537 closed

[2019-03-18 15:52] Zaseth opened #1546 "Missing POST data using onRequest hook"
Hello.

I'm having an issue regarding POST data using onRequest hook. I expected the onRequest hook to also return the POST data, but there's no POST data. This may be an issue with `fastify-formbody`, because `req.body` returns "null".

This is my code:

[code]

[2019-03-18 16:25] jsumners commented on #1546
`onRequest` happens before body parsing. See https://www.fastify.io/docs/latest/Lifecycle/

[2019-03-18 17:00] Zaseth commented on #1546
Oh well that makes sense. Is there anything I can do to parse the POST data?

[2019-03-18 17:12] Zaseth commented on #1546
![image](https://user-images.githubusercontent.com/24899039/54548949-45bfa900-49a9-11e9-9707-b5795c3b4b02.png)

Adding the above code and commenting `app.register(require("fastify-formbody"))` seems to do the trick, but this defeats the use of fastify-formbody...

[2019-03-18 18:07] jsumners commented on #1546
That's basically the code for the plugin -- https://github.com/fastify/fastify-formbody/blob/caba6c3c6a35daa30797dece0dc3083d1f981cc8/formbody.js#L13-L17

[2019-03-18 18:18] Zaseth commented on #1546
Well how can I make the parser return the data to the hook?

[2019-03-18 18:21] jsumners commented on #1546
I do not have time to dig into `addContentTypeParser` to determine when it really runs in the lifecycle. If you are unable to trace it down, maybe another @fastify/fastify maintainer will chime in when they are able.

[2019-03-18 18:57] Zaseth commented on #1546
I can really use some help with this as this is just really unpractical..

[2019-03-18 19:03] mcollina commented on #1546
It’s not really clear what you are trying to accomplish. Have you tried using a preHandler hook?

[2019-03-18 19:25] Ethan-Arrowood commented on #1523
Sorry I haven't made any updates! I have to catch up on some uni work then I'll be back to making something out of this

[2019-03-18 19:58] Zaseth commented on #1546
I just want to be able to capture the POST data in the onRequest hook, but I don't know how.

[2019-03-18 20:01] mcollina commented on #1546
The way we recommend to do this is to use an hook that happens after parsing the body: preHandler. Why does that not work for you?

[2019-03-18 20:57] Zaseth commented on #1546
I haven't tried that yet, but that should work then! I'll take a look at it tomorrow and if it worked for me then I'll close this issue. I was just confused about it not parsing body data.

[2019-03-19 11:01] dbauszus-glx commented on #1544
I finally found it with the advanced search. It's in the footer partial.

https://github.com/fastify/website/blob/master/src/website/layouts/partials/footer.html

However, the broken link is supplied as the github_url attribute.

[code]

[2019-03-19 11:02] dbauszus-glx commented on #1544
Can you move the issue to the [/website repo](https://github.com/fastify/website)? This shouldn't be here.

[2019-03-19 14:33] Zaseth commented on #1546
Using `preHandler` fixed my issue!

[2019-03-19 14:33] #1546 closed

[2019-03-19 22:22] limeandcoconut commented on #1338
I'm getting a similar issue in v2.0.0-rc6 and v2.1.0. Any movement on this?

[2019-03-19 23:06] mcollina commented on #1338
@limeandcoconut I would recommend to open a new issue. This was definitely fixed in Fastify v2, so it’s something else.

[2019-03-20 00:48] fuafa commented on #1525
I think it would be great if this feature is provided by type inference rather than creating another type definition file, as the json schema already has all the type information.

[2019-03-20 15:22] Ethan-Arrowood commented on #1523
https://github.com/SamVerschueren/tsd-check

I have a really good feeling about this definition tester!

[2019-03-20 18:51] #1538 closed

[2019-03-21 11:30] lynxtaa opened #1548 "Can't access req.raw in logger serializer function"
Can't access req.raw in logger serializer function

## To Reproduce

Steps to reproduce the behavior:

Paste your code here:

[code]
I assume it's because logging happens before running middleware? Is there a way to use serializer for logging  fields decorated in middleware?

## Your Environment

- *node version*: 11.12.0
- *fastify version*: >=2.1.0
- *os*: Windows, Linux

[2019-03-21 16:03] dnlup commented on #1136
@mcollina I tried to put together something very basic:
  https://github.com/dnlup/fastify-jitson
does it come close to what you had in mind?

[2019-03-22 23:15] liveevil commented on #1548
Request body and parameters are also not accessible. Serializer options only able to return headers, url and method from the request.

[2019-03-23 10:44] mcollina commented on #1548
The request passed to the serializer is node.js core, it is _already_ `req.raw`.

You might want to create another child logger within a hook with your properties.

Logging the request body is _extremely expensive_ and it exposes you to a DoS attack. As such, log it manually if you need so.

---

@fastify/fastify  I think we should change our serializers in v3 and pass down our objects and not the

[2019-03-23 10:52] mcollina commented on #1136
Yes! You should add:

* [ ] docs
* [ ] benchmark results

[2019-03-23 10:58] lynxtaa commented on #1548
Child logger approach sounds fine. Thank you.

[2019-03-23 13:18] delvedor commented on #1548
100% agree! I'll open an issue just for this.

[2019-03-23 13:23] delvedor opened #1551 "Logger: serialize Fastify objects instead of Node.js"
Since Fastify v2 we can access our `Request` and `Reply` objects anywhere, it could be a useful enhancement *(unfortunately it is a breaking change)* update our logger serializers to handle our objects instead of Node.js core ones.

Thoughts?

Related: https://github.com/fastify/fastify/issues/1548
/cc @fastify/fastify

[2019-03-23 13:25] #1548 closed

[2019-03-23 13:28] delvedor commented on #1136
@dnlup there is already an open (but possibly dead) pr in https://github.com/fastify/fastify-jitson.
Would you like to open a pr with your implementation there? :)

[2019-03-23 14:11] dnlup commented on #1136
@delvedor will do!

[2019-03-23 19:20] Ethan-Arrowood commented on #1551
How will this work with our idea of defining custom Request and Reply objects?

[2019-03-24 23:15] sarneeh opened #1553 "Server.close() mutates used shared schemas"
## 🐛 Bug Report

I've encountered this super weird bug. It seems that if you use a shared schema in an endpoint schema, then shut down the server, the shared schema will get mutated somehow :man_shrugging:

## To Reproduce

[code]

I need to admit that it took a while to find out what causes the issue. This is a complete mystery to me. Why does this happen?

## Expected behavior

I expected the sc

[2019-03-24 23:27] Eomm commented on #1553
Hi,

Because the schema passed is not cloned and, in the startup phase (ready, listen or close), we manage that object:

https://github.com/fastify/fastify/blob/91d25ad1e901df1b33c3d4728c6e21a83f6914bb/lib/schemas.js#L92

Cloning the input object here:

https://github.com/fastify/fastify/blob/91d25ad1e901df1b33c3d4728c6e21a83f6914bb/lib/schemas.js#L9

Shouldn't break anything (there aren't stream

[2019-03-25 09:58] delvedor commented on #1551
I don't know what is the status of that in Node.js core, maybe @mcollina knows more.
In our case, it does not change much, since you can pass a custom serializer in the options object.
Here we are talking about this line:
https://github.com/fastify/fastify/blob/9b2a54cc11e23277a098feaa595a071e7f515fa8/fastify.js#L295

Since we have standardized the use of our Request/Reply object everywhere in our

[2019-03-26 13:25] dbauszus-glx opened #1554 "Required properties in querystring schema validation."
Using a schema to validate querystring properties works well on the type like so.

[code]

Which returns a 400 with the correct message when a string instead of an integer is provided.

{"statusCode":400,"error":"Bad Request","message":"querystring.table should be integer"}

I would like to propose a feature where an error is returned if a property is defined in the schema but not provided with th

[2019-03-26 13:39] dbauszus-glx opened #1555 "Passing params from preHandler to handler"
I would like to run some logical checks in a preHandler function which may be shared by many routes.

[code]

Alternatively, is it valid to attach custom params or use the params object itself to pass params to the handler like so?

[code]

[2019-03-26 13:59] dbauszus-glx commented on #1554
I found an answer in [this medium article](https://mikulskibartosz.name/query-string-validation-in-fastify-80c643043732) which recommends to define the querystring as an object like so:

[code]

[2019-03-26 13:59] #1554 closed

[2019-03-26 17:47] delvedor commented on #1555
Yes, and it's the recommended way to do it!
Plus, I suggest you use [`decorateRequest`](https://www.fastify.io/docs/latest/Decorators/) to improve the performances! :)
[code]

[2019-03-26 18:01] Eomm commented on #1554
Hi, I would add also this resource: https://www.jsonschemavalidator.net/
that is really helpful in these cases if there are some JSON Schema validation problems.

If you put there your schemas, you can see in real time if a `body` (or a `querystring` transformed in a json object) is valid or have a list of errors.

[2019-03-26 18:03] dbauszus-glx commented on #1555
I have just done this and it works great. Thanks for confirming that this is the recommended way.

During fastify initialization:

[code]

And then in my route declarations:

[code]

Works great.

[2019-03-26 18:03] #1555 closed

[2019-03-27 07:34] borodadada opened #1556 "Redirect http to https"
Hello, how create redirect http to https? My site use https only.

[2019-03-27 15:02] Ethan-Arrowood commented on #1556
When you create your Fastify server instance you can enable `https` with the `https` option. See our [documentation](https://www.fastify.io/docs/latest/Server/#https) for more details.

[2019-03-27 15:31] borodadada commented on #1556
This my server
`
const fastify = require('fastify')({
    logger: false,
    http2: true,
    https: {
        key: fs.readFileSync(path.join(serverDirectory, '/certificate/', 'key.pem')),
        cert: fs.readFileSync(path.join(serverDirectory, '/certificate/', 'cert.pem'))
    }
});
`
Chrome Audit said - Does not redirect HTTP traffic to HTTPS
Whats my problem?

[2019-03-27 16:20] jsumners commented on #1556
There is no way we can answer your question because we do not know what your infrastructure looks like. I can tell you what I would have done in my days as a system admin: perform the redirect at the proxy server; specifically via HAProxy.

[2019-03-27 16:24] mcollina commented on #1556
I think we can do a fastify plugin that intercepts all http requests and redirect them to https. It should be simple to write.

[2019-03-27 19:14] jsumners commented on #1556
I don't see how. You'd have to listen on two ports at once: one for HTTP and one for HTTPS. You can't receive a normal HTTP request on an HTTPS enabled server because the TLS handshake must occur before you would ever get to any code that could inspect headers. And if you _do_ start up a separate HTTP server to do the forwarding, well, you'd still have to have some proxy server in place to manage

[2019-03-27 19:33] mcollina commented on #1556
You have to listen to both ports, and check if `req.connection` is a TLS socket. If that's the case you issue a redirect adding an `https` to the domain in the `Host` header.

Now, fastify can only listen to a single port.

---

However I don't think this is the case. Specifically because the server in https://github.com/fastify/fastify/issues/1556#issuecomment-477211048 should only listen to http

[2019-03-28 15:40] mcollina commented on #1136
Closing, this is worked on and probably not a good idea - jitson is not performing as expected.

[2019-03-28 15:40] #1136 closed

[2019-03-29 08:00] Eomm opened #1560 "Azure Pipeline Failing"
## 💥 Regression Report

Branch master

Azure says:

Error: should be equal
    at Test.t (test/internals/initialConfig.test.js:154:7)
    at loop (node_modules/function-loop/index.js:46:15)

Travis agree but says more:

  Return an error if options do not match the validation schema
  not ok should be equal
    --- wanted
    +++ found
    -FST_ERR_INIT_OPTS_INVALID: Invalid initialization options

[2019-03-29 09:34] #1560 closed

[2019-03-29 18:54] zbjornson opened #1562 "Replacement for express.json's "verify" functionality"
## 🚀 Feature Proposal

I'm moving an app from Express, where I have this code that uses a shared secret to verify the integrity of the request body (coming from GitHub web hooks):

[code]

The only way I've figured out how to do it with Fastify is to replace the default json parser:

[code]

and then in my `fastify.route` handler, compare the header with the digest.

It'd be really nice if I could

[2019-03-29 20:06] Eomm commented on #1475
Merged 404

Next pieces that will need refactoring:
+ route declaration

[2019-03-29 20:14] Eomm commented on #1562
Did you explore the [fastify hooks](https://github.com/fastify/fastify/blob/master/docs/Hooks.md)?

I think that `preParsing` or `preHandler` could fit for your needs

[2019-03-31 00:55] zbjornson commented on #1562
Yeah, it doesn't seem quite perfect though.

[code]

* Both this hook and the contentTypeParser are concatenating the stream (extra work and memory)
* There's no declarative way to apply it to a single route; need to use an `if (req.url.matches...)` guard in the hook.
* Need to manually check the request body size is less than the size limit.

Replacing the default "application/json" parser allevi

[2019-03-31 14:41] mcollina commented on #1562
I don't understand this. Plugins are made so you can easily reuse functionality across your codebase.

The source stream is always consumed only once. As you are parsing JSON, you need the full content anyway. Minus overhead and "more code", there is no extra work and memory being consumed.

---

Unfortunately I do not see how a `verify`  option can fit our model of content type parsers and hooks.

[2019-03-31 15:35] Ezeon commented on #1556
@borodadada

I do something similar in my app my running two fastify instances, one on port 80 and one on port 443. You could dedicate the fastify instance on port 80 to just redirect to https.

Code would look like this:
`const fastify = require('fastify')({
    logger: false,
    http2: true,
    https: {
        key: fs.readFileSync('/path/key.pem'),
        cert: fs.readFileSync('/path/cert.pe

[2019-03-31 16:10] borodadada commented on #1556
i understand need server 2 + redirect? thanks

[2019-04-01 09:40] adrai commented on #1317
fyi: https://gist.github.com/adrai/ca6237c013f5a746cdfd043bb6e02185

[2019-04-02 11:08] borodadada opened #1563 "http2 upload file from server"
hello, its possible create dynamic links for download file?

this is my server

[code]

i need next, pseudo example

[code]

i did not found example...

on express i found example:

Express has a helper for this to make life easier.
[code]

[2019-04-02 13:37] jsumners commented on #1551
Sounds fine to me. But I recommend looking at `pino-std-serializers` to learn about edge cases in logging these sort of things. A lot of data can unintentionally be logged.

[2019-04-02 21:14] Eomm commented on #1563
Hi, I checked on our [Ecosystem](https://github.com/fastify/fastify/blob/master/docs/Ecosystem.md) but it seems that there isn't a utility already in place for this use case.

I think that this is a good idea to build a plugin that adds a [`decorateReply`](https://github.com/fastify/fastify/blob/master/docs/Plugins-Guide.md)!

[2019-04-03 10:47] mcollina commented on #1349
Any updates on this?

[2019-04-03 10:48] mcollina commented on #1239
I think we can close this as development in turbo-http seems to have stopped.

[2019-04-03 10:48] #1239 closed

[2019-04-03 12:33] BridgeAR opened #1567 "New version"
The v2.1.0 release contained tests that where broken. Due to that reason `fastify` always shows up in CITGM as failed. Thus, it would be great if you could release a patch release to release the already fixed tests.

[2019-04-03 19:20] Eomm commented on #1553
Reopen until the backport will be done ✌

[2019-04-03 20:01] zbjornson commented on #1562
(Sorry for the delay, was out sick.)

Sorry I was unclear on all that.

I meant that the `try/catch` block in my OP is copied from here: https://github.com/fastify/fastify/blob/5de74406dbff5cba90516f6c9f499ea9d5e70e1b/lib/contentTypeParser.js#L200-L206

and here I meant that all `application/json` requests will use that parser; I can't have it only run on specific routes.

I retract this; my hook

[2019-04-04 06:41] sarneeh commented on #1553
@Eomm I'm sorry that I didn't reply but I'm very hard on time right now :cry: Thank you very much for taking this!

[2019-04-04 12:42] mcollina commented on #1562
Overall yes. You’d probably need to call .pause() as well - but it might not be needed in the basic case.

Would you like to send the relevant PRAs?

[2019-04-04 18:05] Ethan-Arrowood commented on #1523
For those subscribed to notifs from this thread... I have finally opened a draft PR! https://github.com/fastify/fastify/pull/1569

[2019-04-05 16:01] gendronb commented on #360
@paolochiodi @delvedor

I'm reading all this before opening a new issue, but I still cannot figure out how to setup a custom error serializer.

My use case is similar to yours (removing the statusCode property), but I also want to add a new `errorCode` property (ideally, I'd like to add my own `code` property). But looking at the source, anything added seems to get swallowed by the default seriali

[2019-04-05 16:11] mcollina commented on #360
@gendronb feel free to open a new issue on https://github.com/fastify/help.

[2019-04-05 19:30] delvedor commented on #1567
`v1.14.5` and `v2.2.0` are live! :)

[2019-04-05 19:30] #1567 closed

[2019-04-05 19:41] Eomm commented on #1376
Released the plugin [fastify-schema-constraint](https://github.com/Eomm/fastify-schema-constraint#readme)

Note: it needs the last fastify versione ^2.2.0

[2019-04-05 19:41] #1376 closed

[2019-04-06 08:24] #1553 closed

[2019-04-06 08:44] Eomm commented on #703
I created a branch to try this [feature](https://github.com/Eomm/fastify/commit/7d69c22f029a825a0e53c0e6f2753b76f4572ccd)

The output of the example is the plugins tree:

[code]

But hooks, decorator, and routes are not traced, we should try with all the hooks and the new `onRegister`.

[2019-04-06 09:11] mcollina commented on #703
I think this would be way better than our current situation. Adding the routes would be even better.

[2019-04-06 11:01] mcollina commented on #1510
@Ethan-Arrowood @Eomm please, send a PR! It'd be very very welcome. I didn't realize this issue has been sitting idle for almost a month. Ouch.

[2019-04-06 23:09] AlexZeitler opened #1578 "Correlation handling"
I'm looking far a way to handle correlation in fastify by means of e.g. a wrapper around https://www.npmjs.com/package/correlation-id. Is this available as a built in mechanism or as a plugin already?

Happy to help here if not...

[2019-04-07 09:08] StarpTech commented on #1578
We provide the `req.id` property which can be used as correlation id but it isn't tracked automatically as with async hooks.

[2019-04-07 09:45] AlexZeitler commented on #1578
I want to use correlation for e.g. Elastic Logging, whose details would be to specific for OpenTracing.
I'll create a `fastify` plugin for that.

[2019-04-07 10:04] StarpTech commented on #1578
Great, have a look [Write-Plugin](https://github.com/fastify/fastify/blob/master/docs/Write-Plugin.md) it provides some useful tips.

[2019-04-07 10:30] AlexZeitler opened #1580 "Custom request id"
Is it possible to have a random `req.id` (like `uuid`) instead of sequential numbers?

[2019-04-07 10:54] StarpTech commented on #1580
Yes, you can pass a custom ID generator function with `options.genReqId`.

[2019-04-07 11:14] AlexZeitler commented on #1580
Thanks

[2019-04-07 11:14] #1580 closed

[2019-04-07 11:49] anonimusprogramus opened #1581 "printRoutes showing inaccurate result"
## To Reproduce

[code]

## Environment

- *node version*: 10.15.1
- *fastify version*: 2.2.0
- *os*: Linux

## Result
![Screenshot_20190407_184252](https://user-images.githubusercontent.com/7464749/55683073-c13bc700-5965-11e9-8f64-35303ae5126c.png)

[2019-04-07 12:34] jsumners commented on #1581
Alternative solution:

[code]

[2019-04-07 21:25] Eomm commented on #1581
Really nice bug! Also v1 is affected.

It seems that if there is an endpoint that start with the same first letter of previous one, the output string is broken.
[code]

[2019-04-07 21:35] mcollina commented on #1581
This is working exactly as expected. It shows the prefix trie as it is. We can change that, but that’s currently correct.

[2019-04-08 00:57] matth-c3 opened #1583 "feature : centralize connectors in fastify / enhancement for plugin"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-04-08 01:06] jsumners commented on #1583
The decorators feature should cover this.

[2019-04-08 05:56] zbjornson commented on #1562
Sure, I'll give it a try (probably a week or two away from getting to it).

[2019-04-08 07:01] Eomm commented on #1581
Ok, so this issue is releated to #703

We will work on it soon 👍

[2019-04-08 08:48] delvedor commented on #1581
Hello! This is definitely not a bug ;)
It shows the internal radix tree that [`find-my-way`](https://github.com/delvedor/find-my-way) creates in memory :)

[2019-04-08 08:48] #1581 closed

[2019-04-08 14:07] jsumners opened #1584 "genReqId takes precedence over requestIdHeader"
The documentation states:

https://github.com/fastify/fastify/blob/68241662e2328127cf571d46194b63da20ea55bc/docs/Logging.md#logging-request-id

But the `genReqId` docs state:

https://github.com/fastify/fastify/blob/68241662e2328127cf571d46194b63da20ea55bc/docs/Server.md#genreqid

I think this is a conflict. It is reasonable to think that when one supplies _both_ `requestIdHeader` and `genReqId` t

[2019-04-08 14:53] delvedor commented on #1583
I agree with @jsumners you can do that already :)

[code]

[2019-04-08 14:58] #1583 closed

[2019-04-08 15:13] mcollina commented on #1584
I thought https://github.com/fastify/fastify/pull/1566 was solving this in the docs.

However we can also change the implementation, as you can see in  https://github.com/fastify/fastify/blob/68241662e2328127cf571d46194b63da20ea55bc/lib/reqIdGenFactory.js#L6-L8 essentially `requestIdHeader` is useless if `genReqId` is specified.

[2019-04-08 15:23] jsumners commented on #1584
I think the implementation should be changed. If `requestIdHeader` is specified the Fastify itself should decide if `genReqId` should be invoked instead of leaving that up to the `genReqId` implementation.

[2019-04-08 15:24] mcollina commented on #1584
I'm ok with that. PR?

[2019-04-08 15:34] jsumners commented on #1584
I’ll try to get to it soonish.

[2019-04-09 06:40] watson commented on #1578
If you're already using Elastic for logging, I recommend that you take a look at Elastic APM if you want to trace requests. Elastic APM already has built-in support for Fastify, so it should be super easy to implement: https://www.elastic.co/guide/en/apm/agent/nodejs/current/fastify.html

I'll be happy to help if you have any questions regarding Elastic APM :)

[2019-04-09 07:12] AlexZeitler commented on #1578
@watson Thanks for your suggestion but most of the time we're using `fluentd` to forward logs to Elastic.

[2019-04-09 07:51] mcollina commented on #1578
Let us know how you are doing with your plugin. There are a bunch of different places that you’d need to touch, including the genReqId option. I’m starting to think that is suboptimal, as we cannot really set that via plugins, but only through a constructor option.

[2019-04-09 07:58] AlexZeitler commented on #1578
In general things seem to work as expected but [this](https://github.com/pinojs/pino/issues/640) `pino` question is currently blocking me to get the PoC done.

[2019-04-09 07:59] mcollina commented on #1578
you have to use the genReqId option here in Fastify. That’s already taken care of here. req.log would have the id correctly set then.

[2019-04-09 08:01] AlexZeitler commented on #1578
I'll describe later on what I'm exactly trying to achieve.

[2019-04-10 11:23] dalisoft opened #1586 "[Schema]: Custom validation error message (maybe code too)"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-04-10 11:38] mcollina opened #1587 "Enable to set all hooks (including .use middlewares) in route()"
## 🚀 Feature Proposal

Currently we do not expose an API to add `onRequest` and route specific middlewares, however our codebase can definitely support them. Adding them would ensure an higher level of flexibility combined with the new `onRoute`  hook.

Missing things:

* [x] `onRequest` - done in https://github.com/fastify/fastify/pull/1594
* [ ] `onSend`
* [ ] `onError`
* [x] `onResponse`
* [ ]

[2019-04-10 12:04] jsumners commented on #1587
Would they be called middlewares? That’s a term we use to reference Express modules that we support.

[2019-04-10 12:04] mcollina commented on #1587
No I mean... connect middlewares.

[2019-04-10 12:14] mcollina commented on #1587
I've updated the example

[2019-04-10 12:29] taibahayean commented on #1587
I've updated the example

[2019-04-10 12:45] jsumners commented on #1587
Do they get invoked before the handler? Are they before the `preHandler` or after?

[2019-04-10 12:47] mcollina commented on #1587
after `onRequest`, before `preParsing`, like https://www.fastify.io/docs/latest/Lifecycle/.

[2019-04-10 12:48] mcollina commented on #1587
They are the _same_ thing, it's just converting:

[code]

to

[code]

[2019-04-10 14:49] nwoltman commented on #1587
Sounds like a good idea to me 👍

[2019-04-10 15:13] taibahayean commented on #1587
বুধ, ১০ এপ্রিল, ২০১৯ ৮:৪৯ pm তারিখে Nathan Woltman <notifications@github.com>
লিখেছেন:

[2019-04-10 16:06] mcollina commented on #1586
I think we would need to integrate with https://github.com/epoberezkin/ajv-i18n.

[2019-04-10 16:08] dalisoft commented on #1586
Yes, you are right, but, sometimes i need my own message, not only i18n converted

[2019-04-10 16:10] mcollina commented on #1586
https://github.com/epoberezkin/ajv-errors would get the trick done?

[2019-04-10 16:14] dalisoft commented on #1586
Thanks a lot, it is really that what i looking.

We need make documentation these. I see fastify has all utility, but it's ecosystem and/or documentation not enough to reach express community. I worked with express more than 4 years and i am switched to fastify because of async/await + speed.

Thanks again.
You can close this issue or keep open. I solve my issue by using ajv-errors

[2019-04-10 16:18] mcollina commented on #1586
Would you like to add some docs on this? I think it would be really handy.

[2019-04-10 17:45] Eomm commented on #1586
I agree with this, and we need your (and all the community) help to fix this 💪

[2019-04-10 19:52] jsumners commented on #1584
I have also determined that we need the ability to specify what the property name is when logging. For example, currently we log `"reqId":"<output of genReqId>"`. We should have the ability to indicate that the log should be `"<some other name>":"<output of genReqId>"`. Are we opposed to both things happening in the same PR?

[2019-04-10 20:06] mcollina commented on #1584
go for it!

Il giorno mer 10 apr 2019 alle 21:52 James Sumners <notifications@github.com>
ha scritto:

[2019-04-10 22:03] jsumners commented on #1584
I see that @Eomm considers the resolution to the original topic as an "enhancement". I see it as a bug fix because it is the generally expected behavior given the options. What say you all?

[2019-04-10 22:25] mcollina commented on #1584
It's a bug. We can fix it both ways, either by making the doc comply, or by making the code comply.

[2019-04-11 01:54] #1525 closed

[2019-04-11 23:57] #1584 closed

[2019-04-12 20:35] #1542 closed

[2019-04-12 20:40] Eomm opened #1591 "Add custom logger with bunyan"
## 🚀 Doc improvement

From this PR #1577
Add a custom logger example with [`bunyan `](https://github.com/trentm/node-bunyan)

## Motivation

Be open to customization that the user can do

[2019-04-13 01:38] ToonvanStrijp opened #1592 "set status code to 302 on res.redirect by default."
## 🚀 Feature Proposal

Right now fastify `redirect` method set the status code only to `302` when it's not set before. I would like to have this changed and make it act like `express` does. What express does is: set the status code to `302` when `redirect` is called. You can still sent an other code by providing it in the redirect like so: `res.redirect(404, '/login')`.

## Motivation

Right now I

[2019-04-13 07:42] mcollina commented on #1592
This seems a good idea and an oversight from our part. Would you like to send a PR?

[2019-04-13 07:49] ToonvanStrijp commented on #1592
@mcollina sure no problem. Will do it today or tomorrow ;)

[2019-04-13 08:43] mcollina opened #1593 "Document the use of async functions in hooks."
## 🐛 Bug Report

The current documentation is incorrect on how hooks works, as we state:

We need to document that `async preValidation(request, reply)` is also correct, but `async preValidation(request, reply, done)` is **not**.

[2019-04-13 14:39] mcollina commented on #1592
I may have misunderstood this feature request, it might not land, or maybe make it into Fastify@3.

[2019-04-13 15:34] borodadada opened #1596 "send multipart/form-data"
Hello, how i can send file + json data, i need multipart/form-data? Now i use application/octet-stream, but its only file data.

[2019-04-13 19:17] nahtnam opened #1598 "Improving Start-Up Times"
## 🚀 Feature Proposal

I decided to benchmark fastify and a few other frameworks to see which would be good for a framework I'm building. As expected, fastify blew everything else out of the water in all categories except startup time where it was 2-6x slower than other options. I think it's important that fastify tries to improve this.

## Motivation

The startup times don't really affect people

[2019-04-13 19:35] jsumners commented on #1598
Wouldn’t it be better to measure time with `process.hrtime` instead of `Date.now`?

[2019-04-13 20:06] mcollina commented on #1598
I measured with the unix time utility, coming to similar conclusions.

The vast majority of this cost is caused by Ajv initialization cost. We create a lot of Ajv instances in Fastify, and we can avoid most of them.

[2019-04-13 20:11] dalisoft opened #1599 "Error: "Request/Auth/Register" schema with key or id "Request/Auth/Register" already exists"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-04-13 20:15] dalisoft commented on #1598
My comments maybe useless, but spending bit more on startup rather than on request.
If can avoid most of them and frameworks performant as now, then ok or we should not.

Just my 2 cents :)

[2019-04-13 20:19] dalisoft commented on #1596
Hello @borodadada!
I'm using [this plugin](https://github.com/fastify/fastify-multipart#usage) and works good.

[2019-04-13 20:37] dalisoft commented on #1599
I got why it's happened, it's happening when using `same schema with ID and/or $ref` using more than 2 times

[2019-04-13 21:14] nahtnam commented on #1598
@dalisoft I agree that fastify should focus on request speeds but I think also think developer happiness is important. If we could reduce the server startup speed while still keeping the request speeds the same, then I think it's worth it.

If needed I can redo the tests with process.hrtime!

[2019-04-13 21:17] dalisoft commented on #1598
Yes, i also think this, but when it costs reducing requests performance, then not worth

[2019-04-13 22:13] mcollina commented on #1598
Reducing startup time is important in a wide range of scenarios, and I think we can track and remove places where there are inefficiencies and/or we are doing repeated work.

[2019-04-14 05:28] borodadada commented on #1596
hmmm i try add in project
`
D:\js\mongodb\node_modules\fastify\lib\contentTypeParser.js:40
    throw new FST_ERR_CTP_ALREADY_PRESENT(contentType)
    ^
FastifyError [FST_ERR_CTP_ALREADY_PRESENT]: FST_ERR_CTP_ALREADY_PRESENT: Content type parser 'multipart' already present.
`

not work...

[2019-04-14 05:59] borodadada commented on #1596
Then i intall plug and use
`
const multipart = require('fastify-multipart')
fastify.register(multipart)
`
error
'
D:\js\mongodb\node_modules\fastify\lib\contentTypeParser.js:40
    throw new FST_ERR_CTP_ALREADY_PRESENT(contentType)
    ^
FastifyError [FST_ERR_CTP_ALREADY_PRESENT]: FST_ERR_CTP_ALREADY_PRESENT: Content type parser 'multipart' already present.
    at ContentTypeParser.add (D:\js\mong

[2019-04-14 08:39] Eomm commented on #1596
Hi,
I think you are trying to use plugin `fastify-file-upload` and `fastify-multipart` in the same fastify instance. This is not possible since both the plugins add a content parser. (you can use both in different encapsulated context)

So, in your example, you should use only one of the two.

With `fastify-multipart` you can receive `multipart/form-data` so you will be able to receive:
+ input ty

[2019-04-14 09:13] Eomm commented on #1599
Hi @dalisoft
I think your code should work with some adjustment on $id (This part could be optimized in docs.. my fault 😅)

+ if you write an $id that is only chars (`[A-Za-z0-9]`) `example` this schema is a shared schema so you can call it from your route-schema with a final hash, like `example#`
+ if the $id is a [valid URI](https://tools.ietf.org/html/rfc3986) you can call it from $ref in very

[2019-04-14 09:16] dalisoft commented on #1599
Hi @Eomm and thanks for reply.

I calling like this
[code]

Also, i got wrong error, the log has been incorrect (because missed one reference) + this issue still active, because i can't use one $id on more than 2 schemas.

[2019-04-14 09:24] Eomm commented on #1599
Clear, but I can't reproduce the error right now. Look [my gist](https://gist.github.com/Eomm/9f7e2dcdc8c7e14a8f101ecb32540f3d) this is running, so if you provide me a failing gist I can check why it is failing and how can I solve it ✌

[2019-04-14 09:27] dalisoft commented on #1599
Thanks for help, but i now use some workaround, using like this in my code base

[code]
instead of

[code]

it's works and now i can't share all schemas (sorry, just privacy, nothing more)

[2019-04-14 09:32] borodadada commented on #1596
fastify-file-upload - i use for receive file on server side from client side. On client i create multipart/form-data ( Axios ) ( file + other json data ), and all work good.
Now i need send file from server side to client side. From client side i send download file command, on server side i need create reply file data + file info (json). Whats i need for this?
Ohhh.....

[2019-04-14 09:32] Eomm commented on #1599
Yup, I understand.
Of course, if you have the time to build a failing case removing the sensible information (masking the fields etc..) it would be great.

Consider checking the tests here [shared-schemas.test.js](https://github.com/fastify/fastify/blob/master/test/shared-schemas.test.js), there are a lot of similar use cases

[2019-04-14 12:00] anonimusprogramus opened #1601 "Different color for links"
Open https://www.fastify.io/docs/latest/Plugins/#route-prefixing-option

Look at the **red-colored** texts, it's not easy to spot which one is **link** or **code**, because both looks the same.

User on phone may have hard time, doing click-and-hold just know if it's a link.

Please use different color for links, just like the other links on the whole docs (caribbean green?).

![Screenshot_2019041

[2019-04-14 13:45] mcollina commented on #1601
A PR that improves things would be highly welcomed.

Il giorno dom 14 apr 2019 alle 14:00 Anonimus Programus <
notifications@github.com> ha scritto:

[2019-04-14 14:11] anonimusprogramus commented on #1601
Oh thank you.
I've never made PR, don't know how yet.

Will learn, soon.

[2019-04-14 19:48] nahtnam commented on #1598
To add onto that, one perfect use case where start-up speed matters is serverless. For example, platforms like Zeit's Now and Apex's Up boot up your server when they receive a request. So in reality, when it comes to serverless architectures, frameworks like micro and koa will return requests 2-6 times faster than fastify. Considering how popular serverless is becoming, I think it is important for

[2019-04-14 20:32] jsumners commented on #1598
Fastify does not target those environments.

[2019-04-15 12:06] borodadada opened #1602 "https rapidSSL"
Hello, can i use RapidSSL on Fastyfy server? I use https with key.pem cert.pem, but RapidSSL  is 3 files:

    key: privateKey,
    cert: certificate,
    ca: [ intermediateCertificate ]

Its possible?
My current server

[code]

[2019-04-15 12:24] mcollina commented on #1602
you should be able to pass the same `ca` property to `https` as well.

[2019-04-15 12:27] borodadada commented on #1602
mcollina thanks man, i will try

[2019-04-16 07:15] nahtnam commented on #1598
Can I ask why not? Fastify is impressively fast... Wouldn't it be great to support other paradigms when possible?

Regardless it's still useful for development speeds

[2019-04-16 13:59] jsumners commented on #1598
Fastify is a framework that facilitates building a long running HTTP server. Apex Up looks compatible with this, but the others that are designed to communicate with a simple function are not.

[2019-04-16 17:46] nahtnam commented on #1598
Apologies, that is what I meant. Zeit's now, Apex up, and Google cloud run, all let you run full fledged apps (unlike lambda) in a serverless style. I was saying that for these situations, boot up times also matter

[2019-04-17 00:57] nahtnam commented on #1598
@mcollina I did some more testing

[code]

Doing this takes 160ms. The rest of the program takes 50ish ms. So I think its the initial import of the library that takes up most of the time, not actually calling `fastify()`.

[2019-04-17 07:42] mcollina commented on #1598
Most of that cost it is due to Ajv initiatilizing its validators. You might want to check master and update the dependencies as we just landed some improvements.

[2019-04-17 08:29] mcollina commented on #1598
Actually, the cost of start up time is even deeper. Essentially the issue it is on how Ajv generates the resolves URIs with https://www.npmjs.com/package/uri-js in https://github.com/epoberezkin/ajv/blob/bc993deceada5cc152ba0fd3b2e300012b2330a0/lib/compile/resolve.js#L235 and https://github.com/epoberezkin/ajv/blob/bc993deceada5cc152ba0fd3b2e300012b2330a0/lib/compile/resolve.js#L207-L216.

[![](ht

[2019-04-17 09:01] StarpTech commented on #1598
@mcollina awesome tool :smile: Is it posible to see the absolute time?

I see two solutions in order to get rid of it:

- Ajv use `uri-js` only in few [places](https://github.com/epoberezkin/ajv/blob/0fdb5052b1318c95ccfdd39b6e2e37f829f63a6c/lib/compile/resolve.js) we could try to replace it with a ligthweight solution but that could be quite hard.
- We use a server only ajv validation library

[2019-04-17 10:27] mcollina commented on #1598
I think the next step is to open an issue on Ajv itself, and see what the author recommends. I will open one later on today.

[2019-04-17 12:45] sinitsyn-alex opened #1604 "Validation route schema (required)"
Hi. I have a schema:
[code]
How do I choose one of the required?
`['login|email|phone', 'password']` not work.

[2019-04-17 12:51] mcollina commented on #1604
I think you should oneOf. Check this article out: http://queirozf.com/entries/json-schema-examples.

We use JSON schema as a format, there are a ton of docs on that on the Web.

[2019-04-17 12:51] #1604 closed

[2019-04-17 20:30] Eomm commented on #1596
I think you can use `form-data` lib in your server, so you can pump your "server-form" to the `reply` object.

[Here](https://github.com/fastify/fastify-multipart/blob/master/test/multipart.test.js) you can find some example (from client-to-server) but it should work on both the ways.

For sure Axios should parse the multipart data: I don't know if it has this feature

[2019-04-18 10:36] borodadada commented on #1596
Eomm thanks, i wiil try

[2019-04-18 10:37] borodadada commented on #1602
all work!

[2019-04-18 12:47] mcollina commented on #1602
Awsome!

[2019-04-18 12:47] #1602 closed

[2019-04-19 00:53] vcanales commented on #1601
I've created a PR for this on https://github.com/fastify/website -- I assume underlining anchored code snippets should suffice, but if you have anything else in mind don't hesitate to comment and I'll apply the changes :)

[2019-04-19 01:32] vcanales commented on #1593
Wouldn't the following paragraph in Hooks.md address this issue?

[2019-04-19 07:33] mcollina commented on #1593
Would you like to send a PR?

[2019-04-19 12:45] vcanales commented on #1593
Sorry for not being clearer: what I mean is that paragraph is already in the docs.

[2019-04-19 13:33] lmammino commented on #1601
Closed by https://github.com/fastify/website/pull/125

@mcollina || @delvedor can you close this one please (i don't see the close button in this repo unfortunately)

[2019-04-19 13:38] #1601 closed

[2019-04-19 19:29] Eomm commented on #1593
He is referring to [Routes.md](https://github.com/fastify/fastify/blob/master/docs/Routes.md)

[2019-04-19 20:22] mcollina commented on #1593
That is not sufficient as quite a few people have asked/made this mistake recently between gitter and help.

[2019-04-19 20:37] delvedor commented on #1593
Wild idea: check at startup if is an async function and the arity, and if it is an async function with 3 arguments, throw an error.

[2019-04-19 20:55] jsumners commented on #1593
FYI: I make this mistake myself routinely.

[2019-04-19 22:28] Ethan-Arrowood commented on #1523
Sill stale bot! Sorry for lack of updates I'm currently in the middle of finals 😅

[2019-04-20 00:32] dhiegohenrique opened #1607 "Emit socket.io"
I am importing socket.io with:
`const io = require ('socket.io') ()`

and registering it with:
`io.listen (fastify.server)`

but I wanted to know the best option to give a
`io.emit ('myEvent', 'my notification')`

The idea is to issue when a new record is inserted into the database. Currently, this insertion is done in the controller.

I've never done this, can anyone help me?

[2019-04-20 14:03] ericrglass commented on #1350
I have created the Fastify plugin [fastify-normalize-request-reply](https://github.com/ericrglass/fastify-normalize-request-reply) that has been updated to support being used with Passport. I have also put together a simple example project [fastify-passport-example](https://github.com/ericrglass/fastify-passport-example) showing it being used.

[2019-04-20 14:07] ericrglass commented on #1503
If anyone is interested, I have created the Fastify plugin [fastify-normalize-request-reply](https://github.com/ericrglass/fastify-normalize-request-reply) that has recently been updated to support Express middleware and prehandlers like Passport. I have also used this plugin with the [swagger-stats](http://swaggerstats.io/) and several other Express middleware. I have also put together a simple e

[2019-04-23 16:23] Ethan-Arrowood opened #1609 "Include Node.js v12"
Node.js v12 was just released 🎉

I'm opening the discussion on how we will include it here in Fastify. One of the first things I can think of is updating our CI pipeline to also test on v12 as well as trying out the benchmarks if there would be any speed increase from the new update (cc @fastify/benchmarks)

[2019-04-23 16:24] mcollina commented on #1609
Go ahead and send a PR!

[2019-04-23 20:34] Eomm commented on #1596
Feel free to share if you succeed or reopen if you have any trouble 👍

[2019-04-23 20:34] #1596 closed

[2019-04-23 20:35] Eomm commented on #1475
Starting route declaration

[2019-04-24 02:24] zuohuadong commented on #1609
+1

[2019-04-24 03:01] jamilservicos commented on #1607
I think the best way to do this with socket.io is to create a room, and send the event to it. And all members online will receive the notification.

[2019-04-24 06:46] delvedor commented on #1609
Closed in #1610 and #1611.

[2019-04-24 06:46] #1609 closed

[2019-04-24 07:53] yuchi opened #1612 "Confusing docs on host/port binding"
:warning: There’s no «Documentation Problem» issue template, so I built my own. Feel free to point me to the correct templates/channels.

## 📝 Documentation Problem

In the [Getting Started][gs] section of the documentation there’s a “Note” section about host binding [(source)][gsn]. That section concludes with (emphasis mine):

Since in the section there are 2 different approaches exposed (`127.0

[2019-04-24 18:24] delvedor commented on #1612
Hello!
There is not the "Documentation Problem" issue template, because we think that a problem with the doc is a bug! :wink:

I'm pinging @jsumners since he wrote that part of the doc and raised the issue at the beginning.

Related: https://github.com/fastify/fastify/pull/667 https://github.com/fastify/fastify/pull/728

[2019-04-24 18:28] jsumners commented on #1612
The solution may be as simple as making the sentence part of the previous paragraph.

[2019-04-24 19:05] yuchi commented on #1612
@delvedor good to know! I’m just happy to see that my concerns are shared. (BTW we met in Rome few weeks ago — I told you I would look at fastify!)

@jsumners that same paragraphs covers both `::1` and `::` so if (1) you are actually saying that `::` is preferred in containers and (2) you don’t make it a different sentence altogether and separate the parts by, say, an em dash “—“, then yes it does

[2019-04-24 19:47] jsumners commented on #1612
Submit a PR with your proposed change.

[2019-04-24 19:54] yuchi commented on #1612
Will gladly do so, can you please confirm that `0.0.0.0` and `::` are the preferred options on containers? I really know nothing of containers and networking, I just happen to know how to bind ports and that’s it…

[2019-04-25 10:24] mcollina commented on #1612
Yes! 0.0.0.0 is actually _needed_ in containerized environments.

[2019-04-25 19:11] #1586 closed

[2019-04-26 12:59] #1612 closed

[2019-04-27 16:48] smartiniOnGitHub commented on #1510
Hi all, at Apache any Project has a Project Management Committee (PMC) and general rules, for it are [here](https://www.apache.org/dev/pmc.html); in that page you can find some general resignation rules, and even to be put in emeritus status (but that is more related to members status in the Foundation). Hope this helps; anyway tell me if you need some more info. Bye

[2019-04-29 13:19] dalisoft commented on #1599
This issue can be closed as issue locally fixed by using reference via constants.

[2019-04-29 13:19] #1599 closed

[2019-04-30 04:59] treykaws commented on #1593
I am experiencing this right now. What is the suggested way to implemented multiple preHandlers or any lifecycle hook asynchronously?

[2019-04-30 07:10] #1562 closed

[2019-04-30 08:07] rabbitooops opened #1620 "Cannot access with ip"
`localhost:8080` can work but `[ipv4]:8080`.
Express.js can work properly.

[2019-04-30 08:11] mcollina commented on #1620
Which operating system are you working with? We bind ourself to whatever localhost is for security reasons. On Windows it’s your ipv6 address. If you want to bind on all ipv4 addresses, use 0.0.0.0.

[2019-04-30 08:17] mcollina commented on #1593
Can you paste some code that is not working for you? Have you tried using an array?

[2019-04-30 08:17] rabbitooops commented on #1620
macos 10.14.4
This is my solution.
[code]

[2019-04-30 13:47] xM8WVqaG opened #1621 "Update bourne dependency to use new hapi/bourne namespace"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2019-04-30 13:56] treykaws commented on #1593
[code]
This is essentially what my endpoint looks like. This could very well be an anti-pattern as I am new to how the handlers work in fastify. I am open to any suggestions on a proper way of handling this.

[2019-04-30 15:28] mcollina commented on #1593
You can call addHook twice, it should all work fine.

[2019-04-30 15:44] treykaws commented on #1593
Okay cool. I would ideally like to clean up the route though and extract that addHook logic. Where would you suggest I put and how could I have the right scope necessary to keep the functionality?

[2019-04-30 15:50] mcollina commented on #1593
Just pass an option object with a “preHandler” property with an array and your two functions. Let me know if it works!

[2019-04-30 17:12] treykaws commented on #1593
Awesome, it's working as expected and much more elegant than having the addHook block directly in the handler. Appreciate all the help!

[2019-04-30 18:43] Eomm commented on #1621
Thank you for the issue, we have already a PR #1619 about it

We will land this change in the next release 👍

[2019-04-30 18:43] #1621 closed

[2019-04-30 18:50] Eomm commented on #1620
Did you add some route to the fastify instance?

[code]

[2019-04-30 19:09] jsumners commented on #1620
What is the problem? Does this documentation not answer the question? https://github.com/fastify/fastify/blob/aea4100062353cf4da1cfcb4fe8167ac0092117c/docs/Server.md#listen

[2019-05-01 00:43] mcollina commented on #1593
This doc needs to be improved ;).

[2019-05-01 16:56] rajatjindal opened #1623 "consider installing goodfirstissue app on project/org"
Hi Fastify Team

As its evident from the list of issues this project, that 'goodfirstissue' are available for new contributors, I thought it will be great check if there will be interest to install goodfirstissue app on fastify org/project.

Its a github app which tweets 'good first issues' via twitter handle @goodfirstissue in the realtime.

the targeted audience for twitter account are first tim

[2019-05-01 18:08] Ethan-Arrowood commented on #1623
This looks like a cool Twitter Bot! If I could recommend something it would be to include the issue title in the tweet as not all users have link preview enabled for tweets.

[2019-05-01 18:42] rajatjindal commented on #1623
thats a great suggestion. i didn't knew you can disable link preview.

only issue i see with that is the length of tweet. we do not want it to exceed into 2 tweets. I will report a feature request for this and evaluate what can be done for this.

meanwhile looking forward for feedback from fastify leads.

[2019-05-01 19:31] Ethan-Arrowood commented on #1623
Tweets have a 280 character capacity (i think). Most issue titles shouldn't be that long and you could slice it if it exceeds some character maximum. I'm imagining something like:

[code]

Or if it was a really long issue title:
[code]

[2019-05-02 11:38] #1620 closed

[2019-05-02 12:43] jsumners opened #1624 "Log requestes URI in response log"
We log the incoming request when it happens. This gives us access to the incoming URI in the initial log message. Upon completion of the request, we log a `"request completed"` message that includes the time it took to process the response but not what URI that response is for. This makes it very difficult to tie response times to the URI processed. The only way to do it would be to backtrace up t

[2019-05-02 13:15] mcollina commented on #1624
Ok, would you like to send a PR?

Il giorno gio 2 mag 2019 alle 19:43 James Sumners <notifications@github.com>
ha scritto:

[2019-05-02 13:18] jsumners commented on #1624
When I can. Unless someone gets to it first.

[2019-05-03 06:00] galuh1300d opened #1626 "Can you provide ES6 module in your library?"
Please provide es6 module support in your library
so we can just import using curly braces to get faster result

in example import { something } from 'fastify'
to replace const fastify = require('fastify')()
Thanks

[2019-05-03 06:49] mcollina commented on #1626
Are you using babel or the esm module? There is no difference between these and normal require.

[2019-05-04 01:08] jsumners commented on #1624
Leave this to me. I have a different idea than what I have outlined here that will be more robust.

[2019-05-04 14:05] dulesgar opened #1628 "Difference between `return` and `reply.send` in handler"
They both seem to do same thing, except return did not work on preHandler.

[2019-05-04 14:09] galuh1300d commented on #1626
I'm using esm module
But, i want to simplify import
how can i simplify this import
const fastify = require('fastify')()
as
import fastify from 'fastify'() ?

maybe in the future we can just
import fastify from 'fastify'
or
import { get, post, put, etc } from 'fastify'

i don't know
maybe this is the future
lol

[2019-05-04 14:43] VeegaP commented on #242
@DouglasHennrich do you have a working sample using the snippet @chymz shared?

[2019-05-04 15:45] jsumners commented on #1626
It’s a completely different paradigm. I don’t see any reason to support it just to conform to a different syntax. ESM loading behaves totally different from the common module pattern.