[2021-02-10 14:20] jsumners commented on #2847
I'm not sure how that qualifies as "minor". It radically changes the structure of the code to account for the asynchronous nature of ESM.

I think that is fine.

[2021-02-10 14:51] jsumners commented on #2847
For reference, this is Sindre's announcement https://blog.sindresorhus.com/get-ready-for-esm-aa53530b3f77

[2021-02-11 11:16] ognjenjevremovic commented on #2736
I might be a month late, but is this already implemented?
If not and if it is up for grabs, may I have a chance to provide a MR for this issue?

I agree that using base64 representation of the request _id_ (number) as `req-<base64_number_representation>` would make it less verbose.

[2021-02-11 11:28] mcollina commented on #2736
I would actually recommend to use `.toString(36)` instead. It's less compact than `base64`, but it would significantly faster to generate. Anyway, it's up for grabs.

[2021-02-11 13:51] jsumners commented on #2842
100% on board with this happening. It's very inline with https://github.com/fastify/fastify/issues/2760

[2021-02-11 18:27] mgcrea commented on #2847
I do think it would be great to push forward to ESM modules. I personally would rather see a switch to TypeScript but I know this is not aligned with your current vision.

In my (anecdotal) case, I haven't written commonjs for at least 4 to 5 years now (thanks to babel, then ts), and I think the community is ready for the switch. Moreover, there is always the option to have dual support thanks to

[2021-02-11 18:29] delvedor commented on #2847
Thank you for raising this issue!
Unfortunately, this will be a big problem that eventually we will need to solve.

From my understanding, this is the situation:
- If you are working with native ESM and import a CJS package, everything works out of the box.
- If you are working with CJS and import an ESM package, require won't work, you will need to use `import`, which is async.

This means that i

[2021-02-11 18:37] mcollina commented on #2847
I'm sorry to interject, but you have written commonjs with a different syntax. You have not written ESM - the same holds true for most JS developers out there.

[2021-02-11 18:39] mcollina commented on #2847
At this time it's impossible/extremely hard to build an APM agent that supports native ESM. I know a few smart people that are working on the problem, so it might well happen in the future. I'm ok in calling that a prerequisite of moving Fastify to ESM.

[2021-02-11 19:00] jsumners commented on #2847
Is it? The answer I have been given is that _both_ are the future -- https://github.com/nodejs/node/issues/33954#issuecomment-776792555. I will agree that "ESM is the future" when core says they are deprecating CJS.

[2021-02-11 19:18] trentm commented on #2847
Yes. On the APM instrumentation side, I'm not aware of a way to *automatically* handle ESM `import ...`s and `import(...)`s.

As long as those ESM modules are also `require()`able **and** result in loading the same source files -- as the node core modules currently support -- then one can manually pre-`require` those modules for the APM instrumentation to get its monkey-patching done before the ap

[2021-02-11 19:41] astorm commented on #2847
Hey all -- here's some more color on the existential problem that node-native ESM modules present for APM vendors.

Most APM vendors with a Node.js agent rely on module hooking/monkey-patching for their  instrumentation.  At a high level this means [using something like require-in-the-middle](https://www.npmjs.com/package/require-in-the-middle) to listen for the first time Node loads a module via

[2021-02-11 21:40] mcollina commented on #2847
@astorm I would really like to see APM vendors more engaged with Node core, specifically on the parts that matters to them. Put in other words, if "your" product needs some functionality in Node core, you should help in implementing it. Node.js has no "BigCo" behind as it is a community effort as much as Fastify is. APMs should be part of the solution.

[2021-02-11 22:48] astorm commented on #2847
You and me both @mcollina -- I'll pass that message on the product/engineering managers here and see if helps.

Two questions regarding that -- one specific and one vague (maybe this isn't the right place for this?)

1. Specifically: If you had the ear of an APM vendor what's the best first/next step they could take to become more engaged with Node/the OpenJS Foundation in the ways you'd like to s

[2021-02-12 07:45] delvedor commented on #2847
I agree with @mcollina that APM support is essential, which means that v4 will continue to ship CJS.
There is still the problem about what to do when a dependency will move to ESM.

[2021-02-12 08:10] delvedor commented on #2829
Can we close this?

[2021-02-12 08:20] simoneb commented on #2829
The second point of the last comment is planned to be worked on.

[2021-02-12 08:50] mcollina commented on #2847
The best way would be to partecipate in the https://github.com/nodejs/diagnostics working group, and allocate time to work on problems in Node.js core. I recommend to open an issue there.

Regarding the issue at hand, consider digging into https://github.com/nodejs/node/issues/36954 https://github.com/nodejs/node/issues/36396 and https://github.com/nodejs/modules (for historical reasons). The curr

[2021-02-12 09:18] zekth commented on #2847
Regarding typescript there is an issue openned at the moment : https://github.com/microsoft/TypeScript/issues/27957

[2021-02-12 14:27] RafaelGSS commented on #2841
Hey everyone! Sorry for the late, I've found this behavior 2 years ago:

ref: https://github.com/fastify/fastify/issues/1693.

And my solution was something like:

[code]

Results:

[code]

May it can help you @bluenote10. The magic is on: `coerceTypes: 'array'` parameters on Ajv instance.

It's also worth discussing regarding allowing additional parameters to `ajv` instance under fastify initiali

[2021-02-12 14:47] mcollina commented on #2841
this is supported, see https://www.fastify.io/docs/latest/Server/#ajv

[2021-02-12 14:51] RafaelGSS commented on #2841
So you just need to send the `coerceTypes` to them, @bluenote10 :smile:

[2021-02-12 14:57] mcollina commented on #2841
I have a feeling we should document this https://github.com/fastify/fastify/issues/2841#issuecomment-778238445 https://github.com/fastify/fastify/issues/2841#issuecomment-778240710

[2021-02-12 17:08] bluenote10 commented on #2841
Can this be set for certain routes / properties only? The specific use case I had in mind would require mixing array with non-array properties within one schema. My understanding was that setting `coerceTypes: 'array'` in `fastify.setValidatorCompiler` will result in converting all properties in all routes to arrays, which would be quite a radical change.

[2021-02-12 17:10] mcollina commented on #2841
@bluenote10 setting `coerceTypes: 'array'`  would coerce only the properties that are set as type `array`.

[2021-02-12 17:24] bluenote10 commented on #2841
I see, so this should fully solve the problem!

Any reason not to enable this by default? In cases that don't use `type: 'array'` in the schema there shouldn't be an impact on performance, because nothing gets coerced as array. As soon as arrays are involved, users probably would want to have it enabled to make it actually do what is intuitively expected. Even for body validation there shouldn't b

[2021-02-12 18:32] mcollina commented on #2841
Changing those default settings are semver-major changes. Would you like to open a separate issue for that where we can discuss it?

[2021-02-13 09:18] #2761 closed

[2021-02-13 11:12] bluenote10 opened #2852 "Should array support in validation be enabled by default?"
## 🚀 Feature Proposal

In #2841 the question came up whether supporting array validation should be enabled by default, and I was asked to open a new issue to discuss the breaking change.

My naive reasoning was:
- In cases that don't use `type: 'array'` in the schema there shouldn't be an impact on either behavior or performance, because nothing gets coerced as array anyway.
- As soon as arrays ar

[2021-02-13 11:37] mcollina commented on #2852
I'm positive to ship this in fastify v4. Does anybody object?

[2021-02-13 12:00] bluenote10 commented on #2841
FYI I noticed that the example only works for the array length >= 1 case. To support the empty array case as well the schema definition can be adjusted to have a default, see my comment to the PR as well.

[2021-02-13 13:06] jsumners commented on #2852
My org has been making the configuration change as needed on our internal schema container for a long time. I think that "as needed" is key. I genuinely can't think of any case where it would have broken us until we determined we need it, but I also don't know every scenario. However, I do think it is a narrower case than the proposed change. So I am 👍  for v4.

[2021-02-13 22:09] matthyk commented on #2811
@airhorns sorry for the late reply. I will work on it. I need it for my work anyway. Will send a PR, when I'm done.

[2021-02-14 18:40] voxpelli commented on #2829
The following would be a better approach. I write 100% strictly typed Fastify in my current JavaScript project and this is the one I use:

[code]

Benefits of it: One ensures that the syntax complies with the expected syntax of an async Fastify plugin both on the outside and on the inside.

If one also adds a `tsconfig.json` and either sets `checkJs: true` in it or adds a `// @ts-check` comment at

[2021-02-15 11:37] #1563 closed

[2021-02-15 12:57] inigo-garcia opened #2855 "Unsupported request doesn't include rate-limit headers"
## 🐛 Bug Report

Fastify with rate-limit plugin installed doesn't limit 404 requests neither inject any plugin header into the response.

## To Reproduce

I've created this test to reproduce this behaviour:

[code]

And I run the server with this code:

[code]

You can pull the full test from this [branch](https://github.com/inigo-garcia/fastify-rate-limit/tree/ft-404-request-sends-headers).

I've

[2021-02-15 16:01] #2855 closed

[2021-02-15 16:22] penx commented on #2829
Regarding a VS Code extension:

As far as I can see, we can't use an extension to decorate a function with a particular type/signature, as VSCode passes all responsibility for autocompletion, 'Go To Declaration', 'Go To Implementation' etc. down to the TypeScript server. i.e. every time you hover over a function or trigger a list of completions, VSCode is calling the TypeScript server, and the Typ

[2021-02-15 21:01] simoneb commented on #2829
It may we worth having the example shown [here](https://github.com/fastify/fastify/issues/2829#issuecomment-778821727) in the docs too

[2021-02-16 02:34] #2841 closed

[2021-02-16 11:15] sergiz commented on #2653
I thought that the purpose of error handler was to handle errors? I believe that I should have the control of what should happen when an errors occurs. Now fastify decides for me that everything is fine and it should go on (which is not, that's how I even came across the thing that made me open this issue).

In my opinion error handler should be called in every case when there is an error, even if

[2021-02-16 11:21] #2653 closed

[2021-02-16 11:21] mcollina commented on #2653
(This issue should have been closed long ago, nothing is related to your comment)

[2021-02-16 11:30] mcollina commented on #2653
From a request/reply and web-framework centric view of the world, if an error happens after a response has already been sent there is _nothing_ Fastify can do. The purpose of the error handler is to return something out to the user to let them know that an application error happened.

Can you make an example of the error you are encountering where you'd need to crash your application?

[2021-02-16 12:00] sergiz commented on #2653
That's correct, there's nothing fastify can do, but the creator of the application that uses fastify can. However, fastify prevents that by swallowing errors instead of throwing them.

A request is received to delete a resource. Fastify receives the request, deletes the resource locally, but then there's a bug and error happens. Fastify replies to the request indicating that error happened and the

[2021-02-16 13:44] Fdawgs commented on #2752
Just an FYI, Dependabot will need to be configured in `.github/dependabot.yml` to ignore Husky updates if you plan on using v4 and not proceeding with v5:

[code]

Dependabot completely ignored me pinning the major version in `package.json` in my own repos to v4, and bumped them to v5. 😠

[2021-02-16 21:53] simoneb commented on #2829
@delvedor I think this can be closed. We investigated the VS code extension route but it's much effort for little benefit, the same benefit that can be achieved with JSDoc annotations.

[2021-02-16 22:24] #2829 closed

[2021-02-17 11:27] sergiz commented on #2653
I agree. I didn't necessary mean that fastify's error handler should be invoked, but still if a fastify has a problem with what I am (or it is) doing it should clearly tell me that by throwing an error, not sometimes 1) throwing it, sometimes 2) logging it and sometimes simply 3) swallowing it without an indication.

1) Most of the errors from errors.js are thrown which is perfect.
2) Errors like

[2021-02-17 12:16] mcollina commented on #2653
Those two problems arises from the fact that we support both `reply.send(value)` and `return value` inside handlers. We have decided to be lenient on those cases because developers make significant mistakes when using promises. They are essentially "code smells" and bad programming practices.

You are essentially asking for https://github.com/vichle/fastify/blob/2b4b1ee4c61b34d0edf3183f6dbd0525144

[2021-02-17 21:32] RafaelGSS opened #2859 "Calling `reply.send` twice on validation error"
Guys https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md#schemaerrorformatter

This section recommends:

[code]
But in this case, we'll call the `reply.send` twice, it's not a bug/bad pattern?

The first call is under https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L90 when a validation error happens.

cc: @fastify/core

[2021-02-18 08:26] mcollina commented on #2859
I'm not sure I understand the problem. Calling `reply.send(error)` will trigger the error handler.

[2021-02-18 09:50] inigo-garcia commented on #2742
@Eomm has you done any progress on it? I will try to help with the migration

[2021-02-18 09:56] mcollina commented on #2742
@inigo-garcia go ahead, @Eomm is taking some time off.

[2021-02-18 10:54] Eomm commented on #2742
Could you please wait a couple of days?

I will open a draft pr since the last feature schema controller feature has been done for this purpose, then we could work together on it 👍🏼

[2021-02-18 11:33] inigo-garcia commented on #2742
Okey, I'm happy to help once it's ready.

[2021-02-18 13:26] sergiz opened #2860 "Inconsistencies with error handling"
## 🐛 Bug Report

I noticed that errors are handled very inconsitently.

## To Reproduce

Steps to reproduce the behavior:

1. Reply with "{error: true}" is sent.
[code]
2. Serialized "error 2" is sent.
[code]

3. Reply with "{error: true}" is sent. Error 2 is swallowed without notice.
[code]
4. Reply with "{error: true}" is sent. "Promise errored, but reply.sent = true was set" is logged.
[code]

[2021-02-18 13:33] RafaelGSS commented on #2859
But, actually, it's called twice, the first one in the link above and the second inside `errorHandler`.

I mean, when a validation error happens the `replySent` is flagged to `true` ([here](https://github.com/fastify/fastify/blob/95bb21371c6db8df8e7ee568c3f073bb33cb08e4/lib/reply.js#L499)) and inside `setErrorHandler` callback we are calling the `reply.send` again. It shouldn't throw a `FST_ERR_RE

[2021-02-18 19:23] Coobaha commented on #1668
Hi! please also check https://github.com/Coobaha/typed-fastify  - very alpha release but works nicely :)

**It requires TS ^4.2** and provides strongly typed handlers against defined schema and runtime validations by using generated json schema from types. It enforces developer to respond with status, headers and payload that are matching schema.

Small demo:

https://user-images.githubusercontent

[2021-02-18 21:07] Ethan-Arrowood commented on #1668
This looks really cool! You should send a PR to the website so we can include it in our ecosystem list!

[2021-02-19 05:38] harveyconnor commented on #1043
Still getting this in the latest version

[2021-02-19 07:55] Coobaha commented on #1668
@Ethan-Arrowood Nice to hear :) PR is here https://github.com/fastify/fastify/pull/2861

[2021-02-19 08:28] Eomm commented on #1043
Could you add a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)?

Without it, we are unable to help you.

[2021-02-19 09:17] sergiz commented on #2859
kReplySent is then again set to false before error handler is invoked.
https://github.com/fastify/fastify/blob/95bb21371c6db8df8e7ee568c3f073bb33cb08e4/lib/reply.js#L534-L544

[2021-02-19 12:59] RafaelGSS commented on #2859
Yes, you right! @sergiz.

cc: @zekth

[2021-02-19 12:59] #2859 closed

[2021-02-20 14:57] mcollina commented on #2860
From my read of this bug, it seems that throwing inside the error handler is not working as expected. I have a rough feeling we have not even designed things for this use case, and this is the result of several other fixes.

It seems the clear example of something that we have not covered is the following:

[code]

In the issue you write:

What do you mean by propagating up the stack? Could you se

[2021-02-21 23:31] GeoffreyBooth commented on #2847
Hi @astorm, I found this thread because it was linked from my thread at https://github.com/nodejs/node/issues/36396. I’m looking for help to get Node’s ESM loaders built out enough to support all important use cases, top of which is instrumentation. I wrote much of the existing loaders code, and I’m happy to coordinate efforts for working on it further; but I have two young children at home now so

[2021-02-22 13:02] #2446 closed

[2021-02-22 21:25] astorm commented on #2847
Thanks @GeoffreyBooth -- that's useful context and exactly the sort of "next steps" prompt that folks could use.  I've [raised the issue](https://github.com/open-telemetry/opentelemetry-js/issues/1946) with the OpenTelementry project (CNCF foundation project with multiple APM vendors contributing) to see if there's any interest in working on this stuff. Cheers.

[2021-02-23 08:42] #2736 closed

[2021-02-23 12:23] MetCoder95 opened #2874 "Deep nested schemas are not getting resolved"
## 🐛 Bug Report

Hi! When referencing Schemas that were defined one level up, I noticed that suddenly the deep nested Schemas were not able at all to lookup for the reference of the one level up ones. Throwing the following error:

`Failed building the validation schema for GET: /api/v1/bar/:id, due to error can't resolve reference someNestedSchema#/properties/state from id #`

The curious thing i

[2021-02-23 13:26] weiliddat commented on #2110
Hey @Ethan-Arrowood and @fox1t I'm back after being bogged down with work last year. Will just add in some more findings/ideas in addition to those discussed in https://github.com/fastify/fastify/pull/2502, since this is still open and is more general to decoration.
I didn't find any elegant solutions for fastify type decoration yet, but I think it's still worth discussing.

1. Just a minimal exam

[2021-02-23 13:33] weiliddat commented on #2516
Wanted to solve this but looks like it's been fixed.

[2021-02-23 13:41] RafaelGSS commented on #2516
Fixed in https://github.com/fastify/fastify/pull/2615

[2021-02-23 13:41] #2516 closed

[2021-02-23 15:27] mcollina commented on #2874
Would you mind creating a runnable example?

[2021-02-23 15:49] Mikaleb opened #2876 "Integration with Nuxt ?"
## 🚀 Feature Proposal

Does Fastify got an integration module with Nuxt ?

## Motivation

Having a faster server instead of express

[2021-02-23 15:50] kibertoad commented on #2876
Yes, see https://github.com/fastify/fastify/blob/master/docs/Ecosystem.md -> "fastify-nuxtjs"

[2021-02-23 15:50] #2876 closed

[2021-02-23 15:57] MetCoder95 commented on #2874
I'm trying to replicate my scenario using this example:

[code]

But being honest, I'm not able to do it. In my situation, the schemas are way bigger and with more properties. The main issue is that in this case, `FooModule` routes are not able to refer to an upper-level schema (e.g. from `V1` instance in this example).

So I assume there's some other thing happening

[2021-02-23 16:07] mcollina commented on #2874
That's often the case. It might also be a complex Fastify bug.. and recreating the problem is 80% of the work.

[2021-02-23 16:58] MetCoder95 commented on #2874
And, to make it even weirder, the issue is gone after I upgraded to `v3.12.0` 😓

I also notice that the issue was only happening when compiling the validation schema for the `body` property of the route's schema. Header, Params, and even responses were working correctly when referencing upper-level schemas.

Thanks for the support and feel free to close it as it seems it's solved. If I ever face t

[2021-02-23 17:14] #2874 closed

[2021-02-23 17:15] mcollina commented on #2874
This whole area was refactored in v3.12.0 to avoid some odd behaviors.

I think @Eomm would be very glad it fixed your problem!

[2021-02-23 17:18] MetCoder95 commented on #2874
Oh, I didn't know that went out recently! That explains a lot! I was following PR really close, amazing work @Eomm 🙌

[2021-02-25 12:24] muuvmuuv commented on #1401
I still think this is a great idea. JavaScript is single threaded so if you have an API application in fastify that is not a microservice and not in a cluster you have a single core fastify server. Having workers to load balance incoming requests would be super efficient.

Imagine this:

- 10_000 requests coming in
- fastify knows server has 16 cores, but you limited it to 10 + 4 which you can man

[2021-02-25 12:37] fox1t commented on #1401
Actually Node.js handles async code using its own “thread pool” internally. What is single threaded, is the main loop and “how you write” your code. We already have non blocking requests and using workers will actually be worst for the specific use case, because of their overhead they adds. On the other hand if you have some CPU heavy code to execute during the request-response phase you should of

[2021-02-25 20:20] evanshortiss opened #2880 "Incorrect schema type passed to FastifySchemaCompiler"
## 🐛 Bug Report

When using a custom validation library (e.g Joi) it is necessary to pass `validatorCompiler` to the route definition. This function has the signature `(routeSchema: FastifyRouteSchemaDef) => FastifyValidationResult`. Because it uses a fixed `FastifyRouteSchemaDef` the typings are not correct when trying to run the validation.

## To Reproduce

Steps to reproduce the behavior:

[co

[2021-02-26 07:02] #2498 closed

[2021-02-26 08:01] mcollina commented on #2880
cc @fastify/typescript

[2021-02-26 13:31] RafaelGSS commented on #2880
Yes, `generic` sounds the solution here. Would you mind adding a PR to fix that?

[2021-02-26 16:53] evanshortiss commented on #2880
@RafaelGSS I'm happy to help with this too. LMK if you'd like a PR 👍

[2021-02-26 19:44] airhorns commented on #1795
Could we consider this closed after https://github.com/fastify/fastify-websocket/pull/95 ?

[2021-02-26 20:31] RafaelGSS commented on #2880
Sure thing!

[2021-02-26 21:23] #1795 closed

[2021-02-26 21:23] mcollina commented on #1795
yes!

[2021-02-27 07:30] pizzafox opened #2883 "Error `code` property is not included when reply serializer function is defined"
https://github.com/fastify/fastify/blob/4a22bb0b4e296ee78e2e4a466d94f360e3a3025b/lib/reply.js#L547-L558

After a lot of debugging I discovered that when a serializer function is defined in `reply.js` error handling the error code is **not passed** (see line 550 for `code` passed, and lines 555-557 for `code` not passed). When using response validation that expects a `code` this throws an error. Fo

[2021-02-28 10:37] matthyk opened #2885 "Support RegExp for the addContentTypeParser API"
## 🚀 Feature Proposal

Support `RegExp` for the `addContentTypeParser` API.

## Motivation

Currently, you need to add a new content type parser for each new content type you use. So you have to add 2 parsers if you use the content types `application/vnd.user+json` and `application/vnd.book+json`, even though both are valid JSON objects and could use the same content type parser. This could be pos

[2021-02-28 11:07] mcollina commented on #2885
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-02-28 11:28] matthyk commented on #2885
Yes, I will send a PR as soon as I am done.

[2021-03-01 14:07] tobb422 opened #2887 "Docs: Sample code is invalid in fastify.RequestGenericInterface (TypeScript Docs)"
## 🐛 Bug Report
The following sample code did not work.
https://github.com/fastify/fastify/blob/4a22bb0b4e296ee78e2e4a466d94f360e3a3025b/docs/TypeScript.md#L720

I think it is probably one of the followings?
[code]

[code]

[2021-03-01 15:41] Ethan-Arrowood commented on #2110
Welcome back and these investigations are looking good. Feel free to ping me or the rest of the typescript crew (fastify/typescript) if you'd like to dig into things again. We also have Discussions enabled on the repo now so that might be a better place to hash this out!

[2021-03-01 23:41] tobb422 commented on #2887
OK!
Is it better to use `type` or `interface`?

[2021-03-01 23:58] Ethan-Arrowood commented on #2887
Interface

[2021-03-02 00:41] tobb422 commented on #2887
I've sent the following PR.
https://github.com/fastify/fastify/pull/2888

[2021-03-02 09:12] matthyk commented on #2885
@mcollina
During the development of the feature, I noticed a strange behaviour, but I don't know if this is intentional or a bug.
Currently if you add the content type `application/jso`, it will be executed even though the content type `application/json` is set in the request. This is due to the use of the method `indexOf` in the [contentTypeParser](https://github.com/fastify/fastify/blob/4a22bb0b

[2021-03-02 10:50] mcollina commented on #2885
`application/jso` looks like a typo? Where does this happen?

[2021-03-02 11:56] matthyk commented on #2885
It was just an example to show the current behaviour of the contentTypeParser.
Another and more understandable example:

[code]
In this example the first contentTypeParser function will never be called, because the second one also matches the first content type. To achieve the desired behaviour the user have to make the `addContentTypeParser` calls in the right order.
Like this:

[code]

So my que

[2021-03-02 15:29] mcollina commented on #2885
I think the responsibility is on the user.

[2021-03-02 16:15] fox1t commented on #2885
Is this behavior pointed out somewhere in the docs?

[2021-03-02 16:42] matthyk commented on #2885
Currently not. I will update the documentation accordingly since I need to change it anyway to add the regex support.

[2021-03-02 17:05] pizzafox commented on #2883
This is because of a different package (in this case `tslog`) modifying the global `Error` prototype.

[2021-03-02 17:05] #2883 closed

[2021-03-02 17:52] mcollina opened #2889 "Remove warnings"
## 🐛 Bug Report

the newer constrained routes implementation emits some warnings:

[code]

Those warnings should be _tested_ and should not be printing anything to the terminal.

## Your Environment

- *node version*: all
- *fastify version*: master

[2021-03-02 17:52] mcollina commented on #2889
cc @airhorns

[2021-03-03 08:47] Adityapanther commented on #262
I am getting same error after installing and running with `fastify-cli` command `npm start` .  without `fastify-cli command` `server.js` running well with `node server.js`

[2021-03-03 12:37] jsumners commented on #262
This issue is three years old. Please open a new issue if you are encountering a problem with the latest versions of the modules.

[2021-03-05 08:44] thomasthiebaud opened #2897 "Add fastify-schema-to-typescript to ecosystem"
Hi team,

I've been working on this tool to generate typescript types from a json schema. It allows to have types that match the validation schema.

Would it be possible to add it to the ecosystem? If no would it be possible to have some feedback to make it better

Here's the repo https://github.com/thomasthiebaud/fastify-schema-to-typescript

[2021-03-05 09:07] mcollina commented on #2897
Sure, go for it!

[2021-03-05 09:19] #2885 closed

[2021-03-05 13:34] matthyk opened #2899 "Custom Unsupported Media Type Error"
## 🚀 Feature Proposal

Currently, if no matching content type parser is available, a predefined `Unsupported Media Type` error is thrown. There should be the possibility that the user can define this error object himself.

## Motivation

This would have 2 advantages:
1. If users have a default format for errors that looks different from Fastify's current one, then they could use that format on the

[2021-03-05 14:31] matthyk commented on #2899
Are you open for a PR?

[2021-03-05 14:42] simoneb opened #2900 "Add support for Fastify to Google Cloud Trace"
## 🚀 Feature Proposal

Google Cloud Trace is Google's service for tracing similar to APM and NewRelic.

It currently [does not support Fastify](https://github.com/googleapis/cloud-trace-nodejs#what-gets-traced) but it [provides plugins for several Node modules already](https://github.com/googleapis/cloud-trace-nodejs/tree/master/src/plugins).

There is an [existing fastify plugin implementation](h

[2021-03-05 14:54] RafaelGSS commented on #2900
I'm +1 on it.

[2021-03-05 14:56] RafaelGSS commented on #2899
Nowadays, you can't check it in the `errorHandler`?

[2021-03-05 15:43] boyander opened #2901 "Schema with key or id "<$id>" already exists"
## 🐛 Bug Report

When using [`oneOf`](https://json-schema.org/understanding-json-schema/reference/combining.html#oneof) fastify fails with `FST_ERR_SCH_VALIDATION_BUILD` when a request is injected.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

I'm expecting an error before request is handled. Maybe schema resolvers are not well referencing the used schemas? Not

[2021-03-05 15:46] MetCoder95 commented on #2900
I would like to help on this, on my current org we had to do some workarounds to make it work with Fastify, would be really nice to bring some help here.

The plan should be to add a new plugin, isn't it?

[2021-03-05 15:48] simoneb commented on #2900
The first thing to do would be to check if any of the existing implementations can be used. There's a fastify plugin and an open telemetry integration linked in the issue description. If we figure out that those are good enough, there may be nothing to do here :)

[2021-03-05 15:53] mcollina commented on #2901
cc @eomm

[2021-03-05 15:54] httpete opened #2902 "Breaking change in typing for error"
In upgrading to the latest fastify, we see a change in the parameter type for err

From an object to a string. Was this intentional?

## 🐛 Bug Report

![image](https://user-images.githubusercontent.com/1200635/110139385-f561d180-7da0-11eb-842b-b8cbd56d9d6f.png)

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

```    server.log.error(err); ```

[2021-03-05 16:12] mcollina commented on #2902
cc @fastify/typescript.

I would also note that the quickst way to fix this is for you to send a PR.

Which version of Fastify were you using before this change?

[2021-03-05 21:59] Ethan-Arrowood commented on #2902
I'd have to look back at the commit history but I believe you might need to pass in the pino logger types in order to have complete typescript support for the logger

[2021-03-05 23:33] #2897 closed

[2021-03-06 00:52] RafaelGSS commented on #2880
We can follow the approach as @evanshortiss mentioned (generics) or you can just use the module augmentation for it. Any thoughts regarding it?

Module augmentation example

[code]

Generics:

[code]

cc: @fastify/typescript

I'm +1 in Generics

[2021-03-06 09:09] Eomm commented on #2901
Looking at it 👍

[2021-03-06 09:13] zekth commented on #2902
Pino and fastify types differs:

https://github.com/fastify/fastify/blob/efa77faeac506c0339c28a6708d42a0876d8e2d5/types/logger.d.ts#L28-L31

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/pino/index.d.ts

Do you have https://www.npmjs.com/package/@types/pino in your project?

[2021-03-06 09:43] Eomm commented on #2901
An issue on `fast-json-stringify` causes this one:

- the route `a` is processed, ajv acts first then fjs replace `$ref: example1`
- the route `b` is processed and ajv trigger a misleading error

Here what happen under the hood on ajv:

[code]

[2021-03-06 10:34] boyander commented on #2901
Cool, thanks for your quick answer. 👍🏻

[2021-03-06 10:58] matthyk commented on #2899
Yes it is possible to check in the errorHandler but I think that is not that clean. And you do not have the possibility to define different error shapes in different plugins.

[2021-03-06 11:22] Eomm opened #2906 "Auto label PR"
## 🚀 Feature Proposal

Add a GH Action that adds:

- the `documentation` label when an issue or PR has the `docs` string on the title or only the `docs/` folder has been edit
- the `typescript` label only when a PR changes the `type/` folder or `fastify.d.ts` file (should be possible with `paths-ignore`)

## Motivation

Better search tags/filter

[2021-03-06 12:41] zekth commented on #2906
+1 on this.
Also would be interesting to check for prefixes of issues / PRs ?

[2021-03-06 21:23] mcollina commented on #2899
Instead of focusing on making this customizable, we should focus on allowing the error handler to call the one of the plugin above it. In this way we could even have route-specific error handlers.

[2021-03-07 07:07] makuzaverite commented on #2799
May I go for this one

[2021-03-07 08:26] Eomm commented on #2799
Yes, of course

I would suggest this roadmap:

- [ ] update docs to `HEAD` (example https://github.com/pkgjs/support/pull/41/files )
- [ ] one core maintainer should rename to the `main` branch*
- [ ] check the [fastify/website](https://github.com/fastify/website/) still works
- [ ] update the workflows

This worked well

*to update the local references:

[code]

[2021-03-07 09:32] mcollina commented on #2799
The website integration would need to be fixed.

[2021-03-07 09:33] madx commented on #2901
I think I encountered the same bug using the following code:

[code]

It yields the following error:

[code]

While trying to trace it down I noticed that indeed the `$ref`-ed schemas were expanded instead of kept in place. I tried downgrading fastify as my code was working before and I narrowed it down to 3.12.0, which is a release that had a lot of changes regarding schema handling as it is the

[2021-03-07 10:23] Eomm commented on #2901
Tried on fastify 3.11.0 and 3.10.0 and the issue is there: https://runkit.com/embed/k9oir9mrss7m

Please, providing an [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example) would help much more than an assumption that demotivates me to help.

[2021-03-07 10:33] madx commented on #2901
Sorry if my investigation was misleading. My app was running fine in 3.9.2 and stopped working after upgrading to 3.13 so I tried every previous version and 3.12.0 was the one that started raising the issue so it seems I incorrectly figured it was the faulty version.

[code]

[2021-03-07 10:43] madx commented on #2901
@Eomm I found a way for this code to work in 3.11.0, and it's actually closer to my actual code:

[code]

[2021-03-07 12:05] evanshortiss commented on #2880
@RafaelGSS 👍  to Generic approach since it does not modify global interfaces. Apologies for my delay engaging here - busy  work week!

I had another idea after thinking about this. Maybe there's no need to add a generic to the Route?

WDYT about this sample code? I've tested it and it works with minor changes to types that you can [see in this commit](https://github.com/evanshortiss/fastify/commit

[2021-03-07 12:08] evanshortiss commented on #2880
I assume there'd need to be some default, e.g `T = SomeDefault`?

[2021-03-07 12:18] evanshortiss commented on #2880
Just looked at your PR. Seems ideal @RafaelGSS. Ignore my thoughts about not adding the generic to the overall Route!

[2021-03-07 16:57] Eomm commented on #2901
This is useful, thanks!
I will test your use case in the upcoming PR 👍

[2021-03-07 18:09] Eomm commented on #2906
Yeah, I did not search if there is already an action for it

[2021-03-07 22:51] madx opened #2914 "Schema with key or id already exists error after upgrading to 3.12.0"
## 💥 Regression Report

After having installed 3.12.0 my app stopped booting and this error popped up:

[code]

My schemas use arrays with `$ref` to reference other schemas and it seems they are fully expanded instead of only referenced, copying the `$id` field and causing this duplicate key or id error.

As per @Eomm request I am opening a new issue as this seems to be different from the error en

[2021-03-08 08:09] mcollina commented on #2914
Looks like a bug in the new schema handling layer. cc @Eomm @jsumners

[2021-03-08 08:49] sharukhsharu opened #2919 "Introducing Primordials to fastify"
## 🚀 Feature Proposal

Polluting the global Object has always been an issue for every http  frameworks i thought of  Introducing Primordials to solve the issue.

## Motivation

The implementation of Primordials in nodejs for the STL has made it more stable , i thought of implementing that to fastify
i wish to  hear your thoughts  on this @mcollina @jsumners since this is  a major change , and the

[2021-03-08 09:08] zekth commented on #2919
We currently support Node 10 12 and 14. Primordials are still in dev release, adding a conditional statement on versions might unfortunately complexify the codebase and slows it down.

[2021-03-08 09:14] sharukhsharu commented on #2919
I guess it's a bit risky to introduce this now.

[2021-03-08 09:24] mcollina commented on #2919
Implementing primordials will remove the compatibility with Jest (because https://github.com/facebook/jest/issues/2549 and many others like it). I don't think this is a viable change right now.

I'm inclined to close this for now, waiting for to Jest stop replacing all the globals.

[2021-03-08 09:27] sharukhsharu commented on #2919
Sure

[2021-03-08 09:28] #2919 closed

[2021-03-08 12:51] jsumners commented on #2919
I am not clear what this would solve.

[2021-03-08 13:16] jsumners commented on #2914
Simplified a bit:

[code]

What seems to be happening is that the route validation schema is hitting the following path:

1. https://github.com/fastify/fastify/blob/180be34f266e9f38d0fe0456fc6c84b87f7fe898/lib/schema-controller.js#L88
2. https://github.com/fastify/fastify/blob/180be34f266e9f38d0fe0456fc6c84b87f7fe898/lib/schema-compilers.js#L20
3. https://github.com/fastify/fastify/blob/180be34f26

[2021-03-08 17:35] #2906 closed

[2021-03-08 18:07] httpete commented on #2902
No I don't have pino. Sounds like I do?

[2021-03-08 18:12] httpete commented on #2902
"fastify": "3.7.0" => "3.13.0"

[2021-03-08 18:26] climba03003 commented on #2902
I think it break from #2626.
Which change the obj type from `object` to `Record<string, unknown>`.
`object` and `Record<string, unknown>` is not compatible from each another. `object` can receive nearly any types to pass in.

It should be valid for passing `Error` in `FastifyLogFn`.

[2021-03-08 21:27] zekth commented on #2902
typing should be `Record<string,unknown> | Error` as `Object` is prohibited. Thoughts @Ethan-Arrowood ?

[2021-03-08 21:55] Eomm commented on #2889
Closing due merged PR

[2021-03-08 21:55] #2889 closed

[2021-03-08 21:58] Eomm commented on #2860
As side note: I'm not sure this path has been tested in the lifecycle error flow: https://www.fastify.io/docs/latest/Lifecycle/

[2021-03-08 22:01] Eomm commented on #2914
Yes, since there are not new schemas added in the child context (`app.register`) I would expect that the AJV instance is just the root one

I'm investigating

[2021-03-08 22:10] #2901 closed

[2021-03-09 03:05] Ethan-Arrowood commented on #2902
Ahh i see. Yes I'd prefer `Record<string, unknown>` since its meant to be a proper key/value object and not just a thing that implements object

[2021-03-09 03:31] climba03003 commented on #2902
Shouldn't it better for using `unknown` for it? I think we should not restrict the user to pass in anything inside the logger and we actually do not block anything to passed inside it (no error, warning, docs, etc). If it strictly narrow the type for TypeScript user, it can have a lot of side-effect or issue about this.
e.g. Should we allow custom `class` to pass in?

[2021-03-09 03:58] Ethan-Arrowood commented on #2902
good point as well. I'm +1 for `unknown` or maybe something that enforces it at least implements toString if thats a thing possible with TS

[2021-03-09 13:51] #2902 closed

[2021-03-09 23:47] HW13 commented on #2900
There's a [GCP OpenTelemetry Cloud Trace Exporter](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/tree/master/packages/opentelemetry-cloud-trace-exporter) and that can be used in conjunction with [@autotelic/fastify-opentelemetry](https://github.com/autotelic/fastify-opentelemetry) to provide automated route tracing - with all resulting traces visible on Google Cloud Trace.

[c

[2021-03-10 07:40] simoneb commented on #2900
That's great @HW13, thanks for that. Considering that there's a lot of setup involved, I wonder if it would be worth providing a higher level plugin for fastify, e.g. fastify-google-cloud-trace. Meanwhile I came across another plugin for fastify and Open Telemetry from the same author as fastify-gcloud-trace: https://github.com/mkinoshi/fastify-opentelemetry

[2021-03-10 13:51] httpete commented on #2902
Thank you - what release will this be in?

[2021-03-10 13:59] matthyk commented on #2899
After looking into the code again, I realized that I made a mistake. it is NOT possible to catch the error in the `errorHandler`. The content type parser runs [`reply.send(new FST_ERR_CTP_INVALID_MEDIA_TYPE(contentType))`](https://github.com/fastify/fastify/blob/a25e8363b6539cc866801849e444e926b320a90d/lib/contentTypeParser.js#L121) directly. As I understand it, @mcollina proposal could not solve

[2021-03-10 17:01] mcollina commented on #2899
`reply.send(new FST_ERR_CTP_INVALID_MEDIA_TYPE(contentType)) `  will call the error handler.

[2021-03-10 18:30] HW13 commented on #2900
OpenTelemetry will inevitably involve a bit of a setup (but it's totally worth it! 😄).

Wrapping that setup in a higher level Fastify plugin wouldn't be ideal, as the OpenTelemetry SDK needs to be initialized before all other modules are loaded ([explained here](https://open-telemetry.github.io/opentelemetry-js/#initialize-the-sdk)). So there could be some inconsistent behaviour depending on when

[2021-03-10 18:48] jsumners commented on #2900
https://github.com/fastify/fastify/issues/2097

[2021-03-10 21:46] MetCoder95 commented on #2900
Thanks for the help @HW13 didn't know about that 🙏

Then, the best would be to leave it as it is?

Just out of curiosity, this is documented somewhere? I think would be nice to have a place to point that out when somebody faces a similar situation

[2021-03-11 12:50] RafaelGSS commented on #2902
https://github.com/fastify/fastify/releases/tag/v3.14.0

[2021-03-11 13:30] matthyk opened #2930 "Missing types for getDefaultJsonParser and defaultTextParser"
## 🐛 Bug Report

When trying to access the default json parser oder default text parser via the `getDefaultJsonParser()` and `defaultTextParser()` methods the TypeScript compiler throws an error.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

There should be typings for the two methods.

## Your Environment

- *node version*: 14
- *fastify version*: >=3.13.0
- *o

[2021-03-11 13:44] httpete commented on #2902
verified - works perfectly after updating. Thank you.

[2021-03-11 14:37] mcollina commented on #2930
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-03-11 14:44] boyander commented on #2901
Thanks @Eomm for working on this :)

[2021-03-11 14:51] matthyk commented on #2930
Yes, I will send a PR!

[2021-03-11 15:42] evanshortiss commented on #2880
Closing since the PR was merged 🥳

[2021-03-11 15:42] #2880 closed

[2021-03-12 17:36] Prinzhorn opened #2932 "When throwing something that is not instanceof Error it is returned to the client with status 200"
## 🐛 Bug Report

Throwing anything that is not an `Error` will be consider a successful response.

## To Reproduce

`node index.js`

[code]

`curl --include http://localhost:3000`

[code]

## Expected behavior

I expect status 500 and treat it like any error. Maybe wrap thrown thing in an `Error`. Even if throwing non-errors is an anti-pattern, treating it as success is worse.

## Your Environment

[2021-03-12 17:41] Prinzhorn commented on #2932
Well, this seems just like a special case of #2860

[2021-03-12 17:41] #2932 closed

[2021-03-12 19:59] jsumners commented on #2932
You shouldn't throw anything that isn't an `Error`.

[2021-03-13 08:46] Prinzhorn commented on #2860
Since I've closed #2932 I'll reply here, since this is basically what @jsumners [said](https://github.com/fastify/fastify/issues/2932#issuecomment-797720923) as well:

I absolutely agree that this is an antipattern. But sometimes there are things not in your control and it's something that the language unfortunately allows. I personally think silently treating `throw x` as `return x` is the wrong

[2021-03-13 10:36] mcollina commented on #2860
I'll think through this and work on it for the next major. This is something we should resolve before we cut v4.

[2021-03-13 17:31] epoberezkin commented on #2742
Btw, if you didn't migrate to v7 yet, you could wait 1-2 weeks and migrate to v8 - beta is released already.

[2021-03-13 17:34] mcollina commented on #2742
The current eta is with Fastify v4, it's still months to come.. it would definitely be v8!

[2021-03-14 01:12] JakeGinnivan commented on #1668
I have just been looking into switching a few projects to Fastify and actually quite like the idea of using JSON Schema then generating the types. The main reason is that I've been using a number of libraries which heavily infer/map types and they do impact how quick TypeScript type checks quite a bit.

The code gen approach is really missing how to interop between the codegen approach and the Typ

[2021-03-14 01:50] Coobaha commented on #1668
@JakeGinnivan have you checked my repo? https://github.com/Coobaha/typed-fastify

You can just use bare types, and code gen is optional, but usually you want it, as it adds validations and runtime safety.

[2021-03-14 01:57] JakeGinnivan commented on #1043
I just hit this. My problem was a setup like this:

[code]

My guess, somehow when adding `two` when it's already been referred to in an earlier `addSchema` it gets added twice.

The fix was to switch the adding of the schemas around

[code]

Hope this helps someone

[2021-03-14 08:18] Eomm commented on #1043
That code works actually: https://runkit.com/embed/u0jziy02t8lu

Please open a new issue with a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example) in order to improve our test suite with your use case and avoid regressions

[2021-03-14 08:50] mcollina commented on #1668
@Ethan-Arrowood can this issue be closed?

[2021-03-14 09:43] #2914 closed

[2021-03-14 15:07] Ethan-Arrowood commented on #1668
Let's make this into a discussion. I feel like a lot of folks are benefiting from continuously discussing different ts/json solutions and I'd love to have all of them documented for their different pros/cons.

[2021-03-14 18:55] xxRockOnxx commented on #2815
Coming from koa, koa doesnt mutate the raw `req`/`res` object like how express does and instead return another object that can be created via public api called `createContext`.

im not sure about fastify's internals but is this idea have been considered?

[2021-03-14 20:46] madx commented on #2914
Thanks a lot :pray: :shipit:

[2021-03-14 22:32] harveyconnor commented on #1043
@JakeGinnivan yep that works for a simple scenario. In my case we have multiple files depending on each other in such a circular dependency, so it does not work.

[2021-03-15 12:33] jsumners commented on #2815
@xxRockOnxx I believe you are asking about https://github.com/fastify/fastify/issues/169

[2021-03-15 15:13] #1668 closed

[2021-03-15 15:29] simoneb commented on #2900
Looks like there are quite a few resources and tools to do this and there's no need to write a new plugin. Closing

[2021-03-15 15:29] #2900 closed

[2021-03-15 16:30] xxRockOnxx commented on #2815
@jsumners i read the whole thread but i think my suggestion just happened to be coincide with it.
the reason i was asking for that kind of api is simply bc just to get an access to whatever decorators the fastify already has.

in certain cases where you use fastify but on some code you just get a raw node-core `req`, stuff like getting cookies, session, body, or whatever an installed decorator alr

[2021-03-16 09:37] mariusa commented on #976
Any ideas on how to run this with foreman?  (to load env vars: https://github.com/strongloop/node-foreman)
[code]

[2021-03-16 17:23] Kinrany opened #2936 "Basic auth never replies"
## 🐛 Bug Report

Hello world with `fastify` and `fastify-basic-auth` fails to respond with 200, 500, or even close connection.

## To Reproduce

Clean reproduction: https://github.com/Kinrany/fastify-basic-auth-bug-repro

Main part:

[code]

## Expected behavior

App should reply with 200.

If there's a critical error in the basicAuth module, it should reply with 500.

## Your Environment

- *node

[2021-03-16 17:24] Kinrany commented on #2936
This is actually two bugs: one in `fastify-basic-auth` that makes it ignore the request, and another in `fastify` itself that allows this behavior. Not sure it makes sense to have two issues.

[2021-03-16 17:34] mcollina commented on #2936
You forgot `async` (or callback) in the hook.

[code]

[2021-03-16 17:34] #2936 closed

[2021-03-16 17:50] Kinrany commented on #2936
I see, thank you!

[2021-03-16 23:17] MetCoder95 commented on #2842
Hi! I'm looking forward to addressing this issue, based on your comments and digging deeper into the code, I just want to summarise my findings and see if I'm correctly understanding how this can be possible in the first instance.

**For duplicated routes**
Basically, the registering of routes happens after either the Promise is resolved or the `done` callback is called when registering a plugin,

[2021-03-17 10:14] mcollina commented on #2842
I do not think this is the correct solution as it will break encapsulation. We need to move https://github.com/fastify/fastify/blob/c5d950d208bda6268832cff4f8301162ea0a9c5f/lib/route.js#L252 to happen during the sync call to `route()`, but set all the values inside `Context` asynchronously (these: https://github.com/fastify/fastify/blob/c5d950d208bda6268832cff4f8301162ea0a9c5f/lib/route.js#L240-L2

[2021-03-17 21:28] initplatform opened #2938 "Route Methods are showing as `undefined` with `printRoutes()` for fastify > 3.12.0"
## 🐛 Bug Report

Route Methods are showing as `undefined` with `printRoutes()` for fastify > 3.12.0 and node v14.15.4

## To Reproduce

Steps to reproduce the behavior:

I've created a sample repo to illustrate the issue -> https://github.com/initplatform/fastify-route-method-undefined

You can follow the readme there, but when building and running with fastify@3.12.0 the routes look like:

[code]

[2021-03-17 22:43] Eomm commented on #2938
Good catch! https://runkit.com/embed/7anf0n77d5z9

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-03-17 22:51] mcollina commented on #2938
Good spot! I think it's a bug in find-my-way. Would you like to send a PR there?

cc @delvedor

[2021-03-18 19:53] bluenote10 opened #2941 "Inconsistency between validation/errorHandler and serializer causes request timeout"
## 🐛 Bug Report

The following example causes a request timeout although it shouldn't. In general, the semantics of a response serializer are a but unclear in combination with the (default) error handler.

## To Reproduce

Steps to reproduce the behavior:

[code]

Testing the three routes via curls results in:

[code]

## Expected behavior

I assume the timeout shouldn't occur.

In general it is t

[2021-03-18 22:11] MetCoder95 commented on #2842
Hmm, got it. I see now. Just to be sure I understood correctly (first time working with the route registration module), the `Context` values should be set once `avvio` is emitting the `preReady` event to avoid breaking the encapsulation.

Sounds good, I'll take a look into `avvio` as well 👍

What about the `FastifyError`, should be considered or just use a plain `Error` object?

[2021-03-18 22:47] Eomm commented on #2941
I think this issue could be related to a new design approach for errors here https://github.com/fastify/fastify/issues/2860
We should definitely define a more clear lifecycle for errors

[2021-03-19 11:51] mcollina commented on #2941
This issue description is not representative of the bug. The actual bug is that in the 3rd case there is a developer error of a missing property in the response: the serializer throws an error that is being swallowed.

I think this is a bug that we should be able to handle before https://github.com/fastify/fastify/issues/2860.

[2021-03-20 13:59] #2941 closed

[2021-03-20 23:49] galvez commented on #356
I miss this feature very much.

@delvedor check out https://github.com/lukeed/matchit -- maybe it's fast enough for Fastify? Check its benchmarks.

[2021-03-20 23:55] SamuelBartik opened #2943 "The prefixTrailingSlash option "both" doesn't work."
## 🐛 Bug Report

According to the [docs](https://www.fastify.io/docs/latest/Routes/#routes-option), setting` prefixTrailingSlash` option to `"both"` on a route should register two routes - one with and another without trailing slash. However this isn't the behaviour I have experienced. It literally matches the path specified in the first argument to `fastify.get` method. In my case, the route with

[2021-03-21 07:35] delvedor commented on #356
@galvez fastify uses find-my-way as other than extremely good performances, it offers a feature that Fastify uses to build the encapsulation system.
You can take a look at https://github.com/delvedor/find-my-way/pull/167, which introduced a similar feature, but unfortunately the pr is on hold.

[2021-03-21 13:25] AyoubElk commented on #2943
My understanding is that the option `prefixTrailingSlash` is used for route prefixing.

You should read the following section: https://www.fastify.io/docs/latest/Routes/#route-prefixing

You can accomplish the behavior you want by using `ignoreTrailingSlash` option when instanciating Fastify:

[code]

[2021-03-21 17:47] SamuelBartik commented on #2943
Thank you very much for your response! I've misunderstood the docs. Closing the issue.

[2021-03-21 17:47] #2943 closed

[2021-03-23 06:58] Fdawgs opened #2949 "Docs(contributing): clarification on sort order"
## 🐛 Bug Report

Under [onboarding-collaborators](https://github.com/fastify/fastify/blob/master/CONTRIBUTING.md#onboarding-collaborators) in `CONTRIBUTING.md` it states:

Should they be sorted alphabetically ascending or descending, and on first name or surname?

[2021-03-23 08:59] mcollina commented on #2949
Surname, descending.

[2021-03-23 09:59] #2949 closed

[2021-03-23 14:23] #2930 closed

[2021-03-23 14:27] jsumners commented on #2949
It follows the traditional manner of alphabetical order when writing names in English. https://blogs.transparent.com/english/english-alphabetizing-rules/

[2021-03-25 08:00] jessekrubin opened #2955 "Fastify is excellent"
No bug to report. Just wanted to say fastify is excellent.

I know fastify is super performant, but even if it were not it would still be exceptional.

[2021-03-25 18:31] whoiswentz commented on #2955
This issue should stay open forever

[2021-03-26 16:08] ankitverma2211 commented on #2938
hey I would like to take this issue up and see if this can be my first contribution to open source .  Would need some help though .

 @mcollina

[2021-03-26 16:18] RafaelGSS commented on #2938
hey @ankitverma2211. This issue is being resolved in https://github.com/delvedor/find-my-way/pull/184. But, feel free to take another issue if you want!

If you need some help, open a draft PR with what you have done and let us help you. See: https://www.fastify.io/contribute/

[2021-03-27 08:10] bervol opened #2962 "In "Getting Started" documentation broken link to https://www.fastify.io/docs/latest/Ecosystem"
Hi.

On the page https://www.fastify.io/docs/latest/Getting-Started/#extend-your-server the link to the page https://www.fastify.io/docs/latest/Ecosystem is not working.
It is found in this sentence:

Greetings
Bernhard

[2021-03-27 11:58] mcollina commented on #2962
Thanks for reporting Bernard! Would you like to send a PR to amend the docs?

[2021-03-27 11:59] makuzaverite commented on #2962
Let me take on this one

[2021-03-28 14:12] makuzaverite commented on #2955
The love I have for this framework made me start committing to  contributing to it every single day!

[2021-03-29 15:05] gustavosanchezgalarza commented on #2173
Hi: Do you think this announcement could change the current position?
https://deno.com/blog/the-deno-company

[2021-03-29 15:48] zekth commented on #2173
Still does not change the fact that nodeJs Apis differs a lot from Deno.

[2021-03-29 20:22] mattbishop opened #2967 "Fastify 3.14.1 breaks fastify-websocket Typescript definitions"
## 💥 Regression Report

With fastify 3.14.0 and fastify-websocket 3.1.0, one is able to write the following Typescript code to set up a web socket endpoint.

## Last working version

Worked up to version: 3.14.0

Stopped working in version: 3.14.1

## To Reproduce

Steps to reproduce the behavior:

[code]

When tsc is run, this error is presented:

[code]

## Expected behavior

tsc should omit no

[2021-03-29 20:24] mcollina commented on #2967
cc @fastify/typescript

[2021-03-29 21:45] valentinradu commented on #1746
@delvedor Sorry to bring this back up. But one thing that's not clear at the moment (I think) is how would one handle a successful response in an `async` context. Is `await` everything then call `reply.code(201)` the way to go?

[2021-03-30 01:15] RafaelGSS commented on #2967
Can you send your `tsconfig.json`? The `fastify-websocket` already has module augmentation for this interface. See: https://github.com/fastify/fastify-websocket/blob/master/index.d.ts#L16

[2021-03-30 02:45] mattbishop commented on #2967
Please note this is a Regression report; my code compiles just fine with fastify 3.14.0. I have been using fastify and fastify-websocket in the project for about 1.5 years and upgrade dependencies every week, if that helps.

Before filing this report, I deleted node_modules, yarn.lock and re-installed all dependencies.

Here is the contents of my tsconfig as GitHub won't allow .json attachments:

[2021-03-30 08:15] #2799 closed

[2021-03-30 08:15] mcollina commented on #2799
This was done

[2021-03-30 08:16] mcollina commented on #2334
@jsumners @Eomm can we close this?

[2021-03-30 08:17] #1812 closed

[2021-03-30 08:17] mcollina commented on #1720
This was implemented in New Relic

[2021-03-30 08:17] #1720 closed

[2021-03-30 11:20] #2334 closed

[2021-03-30 16:33] mattbishop commented on #2967
Thanks for the suggestion @zekth

[code]

[2021-03-30 16:56] #2967 closed

[2021-03-30 18:58] multiwebinc opened #2970 "Failed validation with Yup does not prevent the controller"
I have the following in my routes file:

[code]

I get the `ValidationError` logged to the console, however `reservationsController.addReservation` is also executed, and the response is sent with 200 status code and no errors.

## Environment

- *node version*: 14.16.0
- *fastify version*: 3.14.1
- *os*: Linux

[2021-03-31 08:21] Prinzhorn commented on #2860
To reiterate on that: I'm using [piscina](https://github.com/piscinajs/piscina) inside a request handler and when the worker throws something that is a sublcass of `Error` it ends up as a plain object thanks to the structured clone algorithm (https://github.com/nodejs/node/issues/37988) So "You shouldn't throw anything that isn't an Error." doesn't help in that case.

[2021-04-02 10:54] mcollina commented on #2938
This shipped in find-my-way, update your dependencies.

[2021-04-02 10:54] #2938 closed

[2021-04-08 01:58] JaosnHsieh commented on #487
this will invoke multiple hook functions instead skipping it.

[2021-04-09 14:25] jsumners opened #2990 "Response schema causes 500"
## 🐛 Bug Report

A response schema with a certain level of nesting causes requests to the route to generate a `500`. The issue is due to the schema hitting https://github.com/fastify/fast-json-stringify/blob/master/index.js#L151-L154 and returning `false`. In this case, the generated code will not pass in the AJV instance. You can see the error on line 228 of the generated code; it expects `ajv` w

[2021-04-09 14:42] mcollina commented on #2990
@Eomm could you take a look?

[2021-04-09 21:27] jsumners commented on #2990
When it gets to the `dependsOnAjv` check, the items reference is still present in the schema:

![image](https://user-images.githubusercontent.com/321201/114242442-e26e8e00-9958-11eb-98ca-5b15aa0cff2b.png)

[2021-04-10 04:15] climba03003 commented on #2962
Resolved by https://github.com/fastify/website/pull/250
@mcollina Can you help me to close this issue when you have time? Thanks.

[2021-04-10 08:15] #2962 closed

[2021-04-10 09:27] CodingXD opened #2991 "plugin must be a function or a promise"
## 🐛 Bug Report

Running the project in local development is causing the following error
[code]
The project was created using `fastify-cli`.

## To Reproduce

Steps to reproduce the behavior:
Create project using `fastify-cli` with command `fastify generate --lang=ts news`
`npm i fastify-mongodb node-schedule firebase-admin`
Create 3 files in plugins folder - `mongo.ts`, `schedule.ts`, `firebase.t

[2021-04-10 09:48] mcollina commented on #2991
cc @fastify/typescript can you take a look?

[2021-04-10 09:48] mcollina commented on #2991
(we should probably move this to fastify-cli, there is likely something broken in the tsconfig).

[2021-04-10 10:00] CodingXD commented on #2991
Here the `tsconfig`
[code]

[2021-04-10 12:40] #2990 closed

[2021-04-10 15:37] RafaelGSS commented on #2991
I've tested the routine:

- `fastify generate --lang=ts news`
- `cd news && npm i`
- `npm run dev`
- `curl localhost:3000`

And worked fine, it seems a bad plugin registration. Can you put everything in a repository easy to reproduce?

[2021-04-10 21:27] Eomm opened #2993 "Inspect route's hooks"
## 🚀 Feature Proposal

Get read-only access to the hooks of a route on the `onRoute` hook.

## Motivation

When a codebase grows over time and it is maintained by different people in different time frames -adding plugins-, it becomes difficult to understand the status of a route:

- how many hooks is the route running?
- do I need this hook for all the routes?

Analyzing this information can ease

[2021-04-11 00:46] cmawhorter opened #2994 "catch-all addContentTypeParser doesn't fire if no content-type header in request"
## 🐛 Bug Report

Docs state `addContentTypeParser('*', ...` is a catch all to "catch all requests regardless of their content type" but the handler is not called if the request does not have a content-type header.

Additionally, the catch-all does not fire for application/json because of the built-in parser. That makes sense, but I don't see a `removeContentTypeParser` or way to clear all existing

[2021-04-11 00:50] cmawhorter commented on #707
I've never been able to get the plugin to work.  Not sure why, but it's probably me.

However, this works without a plugin:

[code]

[2021-04-11 08:04] mcollina commented on #707
@cmawhorter please open a fresh issue on the help repo or inside the plugin itself, it's unlikely you'll get some help in a closed issue. Moreover include a reproducible example.

[2021-04-11 08:39] matthyk commented on #2994
The behavior that the catch all content type parser is not executed if no request payload is sent should be correct. Nothing can be parsed that does not exist.

[2021-04-11 08:56] matthyk commented on #2994
The behaviour that the catch all content type parser is not executed if no request payload is sent should be correct. Nothing can be parsed that does not exist.

The third case with the content type `application/json` is weird and in my opinion is actually unwanted behavior that is due to the current implementation of the content type parser. I have also tested this case with Fastify version 3.13.

[2021-04-11 10:17] mcollina commented on #2993
Yes indeed! This would be a nice feature to add.

[2021-04-11 12:13] CodingXD commented on #2991
Sure @RafaelGSS I have done it and reproduced the error. It's in this repo https://github.com/CodingXD/news.

[2021-04-11 16:16] cmawhorter commented on #2994
You're right about 1. Curl user error.  I changed to `curl -X POST -H 'content-type:' -d '{}' http://...` and it's working as expected, so no bug report is invalid.

@mcollina FWIW, I posted in 707 for two reasons -- because that is the top result and linked by everything when googling "fastify raw body", and second because I thought it was closed premature and wanted to trigger a discussion.  I'm

[2021-04-11 17:40] RafaelGSS commented on #2991
The repository is not easy to reproduce yet. Some plugins require a setup before. Can you remove all the dependencies?

[2021-04-11 18:00] CodingXD commented on #2991
I have removed the dependencies, removed some unrelated code

[2021-04-11 23:03] RafaelGSS commented on #2991
Your repository still is expecting a setup before the run (MongoDB instance). I removed the mongodb plugin (`src/plugins/mongo.ts`) and works fine. You might be missing some settings in plugin registration, take a deep look at each plugin.

[2021-04-12 02:12] polymathca commented on #2993
I put together a PR with a first stab at this. I borrowed the `prettyPrint` modifications I made to `find-my-way` but removed the radix display, as it felt very noisy with the hooks (and constraints) added to the mix.

Here's an output sample:

[code]

It is triggered by `printRoutes({includeHooks: true}) and accepts an array of hooks to explicitly display, e.g. `{ showHooks: ['onRequest', 'onSend

[2021-04-12 07:04] CodingXD commented on #2991
It was working for a whole month straight. All of a sudden this issue popped up

[2021-04-12 08:43] climba03003 opened #2998 "test: auto generate test certificate"
## 🚀 Feature Proposal

Move the current static test certification to auto generate before the test start.
https://github.com/fastify/fastify/blob/main/test/https/fastify.cert
https://github.com/fastify/fastify/blob/main/test/https/fastify.key

## Motivation

It can reduce the `false-positive` warning from security scanner.

[2021-04-12 09:00] makuzaverite commented on #2998
How to go about this one?

[2021-04-12 09:52] franciscolourenco commented on #1426
This link is in the [docs](https://www.fastify.io/docs/latest/Server/#onprotopoisoning), but it seems to be dead  https://hueniverse.com/a-tale-of-prototype-poisoning-2610fa170061

[2021-04-12 10:08] climba03003 commented on #2998
@makuzaverite
Read More:
https://node-tap.org/docs/api/test-lifecycle-events/#tbeforefn
You can use the life-cycle of `tap` to generate the `keypair` before the test.

https://nodejs.org/api/crypto.html#crypto_crypto_generatekeypair_type_options_callback
Generate `keypair` by `crypto`.

[2021-04-12 10:58] mcollina commented on #1426
@franciscolourenco would you like to send a PR to update it using the webarchive link.

[2021-04-12 11:34] franciscolourenco commented on #1426
Seems like it was only saved once and without anything useful: http://web.archive.org/web/20201203225852/sideway.com/a-tale-of-prototype-poisoning-2610fa170061

[2021-04-12 11:53] jsumners commented on #2998
FWIW, this is one of the simplest ways I've managed to create compatible certificates -- https://github.com/jsumners/self-cert

[2021-04-12 12:37] mcollina commented on #1426
Sigh. Then let's remove.

[2021-04-12 15:06] rupamking1 opened #3001 "Route middleware not working"
app.post('/login_group', function (err, req, reply, next) {
  console.log('req.query');
  console.log('req.params');
  next();
}, async function (req, reply) {

});

error

I know about global middleware using app.register but I want separate middleware for each post route

[2021-04-12 15:11] mcollina commented on #3001
You can implement this using https://www.fastify.io/docs/latest/Hooks/#onrequest and the `onRequest` hook on the route definition: https://www.fastify.io/docs/latest/Routes/#routes-option.

Something like:

[code]

[2021-04-12 15:11] #3001 closed

[2021-04-12 16:38] hueniverse commented on #1426
In case you want the post... I no longer maintain any public presence online other than here.
[post.zip](https://github.com/fastify/fastify/files/6298368/post.zip)

[2021-04-12 17:24] jsumners commented on #1426
@hueniverse thank you. Are you opposed to us hosting it within https://fastify.io with proper attribution?

[2021-04-12 22:05] jonasdevzero commented on #303
@RafaelGSS does this package cause loss of performance?

[2021-04-12 22:34] RafaelGSS commented on #303
No, it shouldn't.

[2021-04-13 00:19] hueniverse commented on #1426
You can do whatever you want with it. Consider it MIT licensed.

[2021-04-13 08:32] StarpTech commented on #303
fastify.decorateReply('locals', null)

A pattern we should document.

[2021-04-13 12:12] jsumners opened #3003 "Add prototype poisoning doc to documentation"
https://github.com/fastify/fastify/issues/1426#issuecomment-817957913

[2021-04-13 15:05] ruheni opened #3005 "Docs: Database integration concepts"
## 🚀 Feature Proposal

Hello friends 👋🏾
I think it would be valuable to have a section on the docs covering database integration.
This would cover tools and libraries such as knexjs, Sequelize, TypeORM, Mikro-orm, Prisma etc.

## Inspiration

[Nest Docs](https://docs.nestjs.com/techniques/database)

[2021-04-13 17:33] mcollina commented on #3005
I think this would be really handy. I would recommend focusing on the barebone adapters we support inside the org first.

My only question is if it is worthwhile having this content here or inside https://github.com/fastify/website.

I guess having a "guides" folder would be amazing (see https://github.com/fastify/fastify/pull/2610).

Anyway, would you be up to update https://github.com/fastify/we

[2021-04-14 06:54] ruheni opened #3562 "Docs: Database integration concepts"
## 🚀 Feature Proposal

Hello friends 👋🏾

I think it would be valuable to have a section on the docs covering database integration. This would cover tools and libraries such as knexjs, Sequelize, TypeORM, Mikro-orm, Prisma, etc.

## Inspiration

[Nest Docs](https://docs.nestjs.com/techniques/database)

[2021-04-14 06:58] ruheni commented on #3005
"Guides" seem like a better fit for this. This would be a great section for featuring tutorials, videos, and other community content. 🙂

Created an issue on the website repo as requested: [https://github.com/fastify/website/issues/251](https://github.com/fastify/website/issues/251)

[2021-04-15 07:05] Retro64 opened #3007 "Feature request: Support configuration for (reply) serializer/fast-json-stringify"
## 🚀 Feature Proposal

Extend configuration in order to pass configuration values for `fast-json-stringify` for serialisation.

## Motivation

When adding a schema for reply to my routes I used the `nullable` property. When writign tests, I was puzzled, not-nullable values were serialized without an error. I checked the `Validation and Serialisation` and follows the link to the `fast-json-stringif

[2021-04-15 07:08] mcollina commented on #3007
cc @Eomm @jsumners I think we made this customizable recently, or maybe I was mistaken?

[2021-04-15 08:14] Retro64 commented on #3007
Wow - that was a fast reply (the main reason to write this comment). At least I did not find any opportunity in the main branch were the options might be assigned

https://github.com/fastify/fastify/blob/7efd2540f1ca169f128c1dd4318512347583b293/lib/reply.js#L6
https://github.com/fastify/fastify/blob/7efd2540f1ca169f128c1dd4318512347583b293/lib/reply.js#L29

nor in the documentation

https://www.fa

[2021-04-15 08:31] mcollina commented on #3007
https://www.fastify.io/docs/latest/Validation-and-Serialization/#schema-serializer should do the trick.

[2021-04-15 10:15] Eomm commented on #3007
This use case can be covered as follow-up PR after https://github.com/fastify/fastify/pull/2862 lands

See `serializerOpts`

I must push that PR forward in the next few days 👍🏽

[2021-04-15 12:43] jsumners commented on #3007
Yes. Setting your own serializer should solve this as things are currently implemented.

[2021-04-15 20:17] nato-re commented on #709
this solved to me:
[code]

[2021-04-17 22:05] Eomm opened #3010 "docs: table of content on Server.md"
## 🚀 Feature Proposal

Add a table of content on the https://github.com/fastify/fastify/blob/main/docs/Server.md page

## Motivation

Ease the navigation and understand how it is organized the page

## Example

On the site, it is difficult to understand what are the server methods and the server options:

![image](https://user-images.githubusercontent.com/11404065/115127806-cebacb80-9fd9-11eb-9066

[2021-04-18 08:00] mcollina commented on #3010
Go for it!

[2021-04-19 13:47] matthyk commented on #2811
I created a WIP PR to address this issue. [delvedor/find-my-way#188](https://github.com/delvedor/find-my-way/pull/188)

[2021-04-20 11:32] Adityapanther opened #3014 "issue with bcrypt in fasitify"
## 🐛 Bug Report

while using bcrypt in fastify. it is taking too much time to encrypt password in `async`. if i am not using async await then  it's throw err and error is written below

[2021-04-20 11:36] jsumners commented on #3014
Please provide a reproducible example.

[2021-04-20 12:16] Adityapanther commented on #3014
[code]

[2021-04-20 12:23] climba03003 commented on #3014
You example do not return anything after the decryption process which lead to the `async` handler function never been fulfilled after the decryption process.

It is not issue with `bcrypt` and `fastify`.

[2021-04-20 12:26] Adityapanther commented on #3014
it must show log of encrypted password but it's not showing.

[2021-04-20 12:37] climba03003 commented on #3014
Please add a return after the `bcrypt.hash` or `console.log`. It should works fine.

[2021-04-20 12:40] Adityapanther commented on #3014
it's working fine, thanks guys.

[2021-04-20 12:40] #3014 closed

[2021-04-20 21:06] mcollina opened #3017 "Broken typescript test"
## 🐛 Bug Report

`npm test` fails because:

[code]

[2021-04-20 21:06] mcollina commented on #3017
can somebody from @fastify/typescript take a look

[2021-04-20 22:24] A7med-Ragheb commented on #1720
@mcollina I still can't see it in the supported list
https://docs.newrelic.com/docs/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent/#supported-frameworks

Can you please share where newrelic announce that and which version, I installed 7.3.1 and I still see my transactions as normalized uri's *?

[2021-04-21 08:30] #3017 closed

[2021-04-21 16:22] l198881 opened #3024 "037cc5f9f1da20ac0d60e83989729a204a33cc2d8e80438969fadf35c1c5f1233b@165.227.103.83:9735"
## 🚀 Feature Proposal

A clear and concise description of what the feature is.

## Motivation

Please outline the motivation for the proposal.

## Example

Please provide an example for how this feature would be used.

[2021-04-21 16:24] #3024 closed

[2021-04-22 03:31] barenko commented on #2955
I discovered the fastify yesterday and I really liked the way that it handle errors. I always have to rebuild the default error handler of the frameworks that I use (java-spring, node-express, and others). This is the first time I read the doc, tested some exceptions and flows and I did have no adjust to do. The plugin concept, testing strategy and benchmark tools are also so interesting! Congratu

[2021-04-22 10:12] J3573R opened #3025 "Typescript types for `setValidatorCompiler` mismatches with Ajv version > 8.0.0"
## 🐛 Bug Report

With latest Ajv version typescript typing is no longer working when setting ajv instance as schema validator. Tested with code samples from the README.

## To Reproduce

Steps to reproduce the behavior:

[code]
Typescript compiler gives following error:
[code]

## Expected behavior

Typescript compilation would succeed with README examples.

## Your Environment

- *node version*:

[2021-04-22 11:14] mcollina commented on #3025
We don't support Ajv 8 yet.

[2021-04-22 11:41] sayem314 opened #3026 "[types] serializers"
## 🐛 Bug Report

serializers is missing type `ip`

## To Reproduce

[code]

## Expected behavior

Should have valid IP type.

## Your Environment

- *node version*: 14
- *fastify version*: 3.15.0
- *os*: Linux

[2021-04-22 13:14] RafaelGSS commented on #3026
Good catch! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-04-22 14:44] dmitri-gb opened #3027 "Subpar developer experience on Windows due to only binding to 127.0.0.1 by default"
_This issue is in fact a reiteration [of an older one](https://github.com/fastify/fastify/issues/1022). The previous issue was thought to be fixed, but turns out that's not the case._

## 🐛 Bug Report

Fastify binds its server socket to the `127.0.0.1` address by default. However, on a Windows system, `localhost` resolves to at least two addresses - `::1` and `127.0.0.1`, in that order. It seems t

[2021-04-22 15:09] simoneb commented on #3027
I've been using Fastify on Windows for a long time and I never came across this issue. I would like to understand if there's anything specific to your setup that would cause this. Any thoughts?

[2021-04-22 15:26] zekth commented on #3027
I personnaly observe 2ms on `127.0.0.1` and 230ms on `localhost` which is expected as we skip the DNS resolution. Using curl here are the results:
[code]

[2021-04-22 15:31] simoneb commented on #3027
@zekth is that the first request or any request? Can you share the code for that so we're using the same baseline for comparison?

[2021-04-22 15:48] #2998 closed

[2021-04-22 15:56] zekth commented on #3027
I got overall the same time between first and any request.
Here is the code:
[code]
node v14.15.1
fastify 3.15.0

[2021-04-22 16:23] simoneb commented on #3027
Here's what I have:

[code]

Node v14.15.4
Fastify 3.15.0

[2021-04-22 16:28] mcollina opened #3029 "Move the execution of test/before-test.js from .taprc to the actual test files that needs certs"
See https://github.com/fastify/fastify/pull/3000#issuecomment-824976561 for more details.

[2021-04-22 16:48] dnikolayev opened #3030 "hasHeader returns false for existing response header"
## 🐛 Bug Report

There is an issue with hasHeader method of Reply. (https://www.fastify.io/docs/latest/Reply/#hasheaderkey)
It returns false in the case of getHeader returning a value, however reply.raw.hasHeader returns true in the same case.

## To Reproduce

Steps to reproduce the behavior:

Try to add a header directly to reply via .raw anywhere in the code. (Found the place that does it in ou

[2021-04-22 17:10] zekth commented on #3030
To me `hasHeader` should rely on `getHeaders`. see: https://github.com/fastify/fastify/blob/ba43b314b156b39732dc614826806d4ef61700b8/lib/reply.js#L212

I don't see any drawback on that but @mcollina could you confirm?

[2021-04-22 17:40] Divlo commented on #2847
from @jsumners in https://github.com/fastify/fastify/issues/2847#issuecomment-777716242

In what way do you see CommonJS in the future ? Don't you think it is bad to maintain 2 things to do the same thing ?
I really think migrating gradually all `npm` packages to ESM is the right thing to do.
I will reverse your ask in this comment https://github.com/fastify/fastify/issues/2847#issuecomment-776713

[2021-04-22 17:46] jsumners commented on #2847
At least several. A couple are ESM doesn't allow for intercepting dependencies to mock for testing and ESM has zero support for APM.

[2021-04-22 17:56] Divlo commented on #2847
Valid points.

I don't know what test framework are you using for `fastify` but `jest` has currently an open issue about mocking with ESM: https://github.com/facebook/jest/issues/10025 and I think most of the tests framework will provide a way to mock dependencies for testing.

[2021-04-22 20:11] #3029 closed

[2021-04-22 20:17] mcollina commented on #3030
confirmed!

[2021-04-22 20:17] mcollina commented on #3030
Well, it should be based on the same logic. We can avoid generating the wrapper object.

[2021-04-23 07:32] zekth commented on #3030
I'll work on it.

[2021-04-23 10:54] dmitri-gb commented on #3027
Yes, those extra 200 ms that you both observe are in fact the manifestation of this very issue. If you modify your server to bind to the IPv6 loopback address instead (`::1`), then you'll see that making a request to `localhost` will be down to just a few ms.

The severity of this clearly depends on the client, and with curl it is less of an issue (not even noticable to many). But other clients ma

[2021-04-23 11:14] laSinteZ opened #3036 "Setting logLevel per route isn't working as expected"
## 🐛 Bug Report

I wanted to disable logging to the `/health` calls.  I've found this part of doc and did as it says: https://github.com/fastify/help/issues/140
https://www.fastify.io/docs/latest/Routes/#custom-log-level

So I've set my `/health` route's `logLevel` as `trace`. But logging still logs all requests as `30`. And, for some reason, if I set `logLevel` to `warn`, `error` or `fatal` for a

[2021-04-23 11:16] laSinteZ commented on #3036
Also, I've found this discussion in Discord but it doesn't answer my question tbh:
https://discord.com/channels/725613461949906985/725613462373269567/832654662754369536

[2021-04-23 11:25] zekth commented on #3036
There is a misunderstand in here, let me show you:
[code]
The logs you're seeing are the one from the instance, the request logging. See : https://www.fastify.io/docs/latest/Server/#disablerequestlogging

[2021-04-23 11:27] laSinteZ commented on #3036
@zekth ah, I understand now. That's why nothing is logged if I set "warn"+ level for this, because original logs are of "info" level. I guess we should clarify documentation a little bit, since I am not alone in this misunderstanding.

[2021-04-23 12:05] simoneb commented on #3027
@dmitri-gb actually this is indeed an interesting issue that working on Windows I never noticed and it may indeed in fact be the (main?) reason why ci is [considerably slower](https://github.com/fastify/fastify/runs/2413966841?check_suite_focus=true) on Windows than it is [on Linux](https://github.com/fastify/fastify/runs/2413966816?check_suite_focus=true).

Apart from acknowledging that this issu

[2021-04-23 12:24] jsumners commented on #3027
I really don't know what to do here. `server.listen` does not allow for passing of options through to `dns.lookup`. It also does not allow for an array of bind paths to be specified. The only way to make this work as desired is to use https://github.com/nodejs/node/pull/38099 once it lands. But that only covers some release of v16 and forward.

As I originally noted, https://github.com/fastify/fas

[2021-04-23 12:28] jsumners commented on #3027
It's certainly a contributing factor, but the the slowness of Windows CI is really just down to it being Windows. It's more expensive to spin up a Windows container than a native Linux container.

[2021-04-23 12:54] laSinteZ commented on #2779
@simoneb this attempt isn't successful (probably) because you've set github dark theme in the settings as "dark", but your system's theme is not "dark". I believe "prefers-color-scheme" query is set through system settings or user-agent settings. I've experimented with svg using this query, but it will break logo for users who have system "dark" theme, but "light" theme in github, so I don't want

[2021-04-23 13:27] #3030 closed

[2021-04-23 14:42] simoneb commented on #2779
Ha! that would explain it, thanks for figuring this out! Well, I guess we can close it there is a working solution then.

[2021-04-23 14:44] laSinteZ commented on #2779
@simoneb well, I guess it could be open since we don't have the solution implemented yet (since it's in my fork for demo purposes and I am not sure if this solution should be implemented). There's a discussion https://github.community/t/support-theme-context-for-images-in-light-vs-dark-mode/147981 about finding a better solution for this.

[2021-04-23 15:21] dmitri-gb commented on #3027
If you wanted to go the route of binding to `::1` on Windows, then Fastify could perform the lookup itself by invoking `dns.lookup` directly.

[2021-04-24 07:08] mcollina commented on #2779
Would you like to send a Pull Request to address this issue?

[2021-04-24 07:30] laSinteZ commented on #2779
@mcollina sure, if my solution is good enough.

[2021-04-24 07:40] mcollina commented on #2779
I have a feeling this won't work well in npm :(

[2021-04-24 07:42] laSinteZ commented on #2779
@mcollina most probably yes, npm won't look nice. I guess there is no solution for now then :(

[2021-04-24 07:43] laSinteZ commented on #2779
<img width="1560" alt="Screenshot 2021-04-24 at 10 43 41" src="https://user-images.githubusercontent.com/10958990/115951540-f0d8b000-a4e9-11eb-867d-dd8e8150cd7d.png">
I've tried something like that (I am not a designer)

[2021-04-24 12:13] mcollina commented on #3027
Could you send a PR? I'm not exactly sure how that would work.

[2021-04-24 15:14] mcollina commented on #2994
If you want to override the default JSON parser, you can add another JSON content type parser.

An API to remove existing content type parser would be good. Currently the JSON parser is hardcoded but I think it can be refactored without losing much throughput.

Would you like to work on this?

[2021-04-25 09:47] climba03003 commented on #3036
@laSinteZ I think you should have a basic concept about log level for all logging tools. The log level means current or above.
For example,
`info` level will be `info`, `warn`,`error` and `fatal`.
`fatel` level will be only `fatel`.

Currently, I didn't see any logging tools setting the log level is only logging that level. If you can found one, I would like to know.

[2021-04-25 09:55] climba03003 commented on #3036
@laSinteZ I think you should have a basic concept for the log level. Logger will log all the things on or above the configured log level.
For example,
`info` will be `info`, `warn`, `error` and `fatel`.
`fatel` will be only `fatel`.

In order to disable some log, you will need to change the log level to above the logging level. Which means disable `info` need to set it as `warn` or above.

[2021-04-25 11:57] laSinteZ commented on #3036
@climba03003
Thank you for the explanation. Though, I am aware of this concept. My misconception was about what "logLevel" per route actually means. I had a (wrong) idea that setting a logLevel for a route will __magically__ turn all logs for this route into __selected level__. So, if I set logLevel __trace__ for a route, everything will be logged as trace. Now I understand that my idea was incorr

[2021-04-26 13:16] J3573R commented on #3025
Fair enough. Got a little bit confused because there weren't any specifications in docs about Ajv versions but taking account that version 8 was published only a month ago, I should have expected that it might not yet be supported.

I think issue can be closed for the moment, Ajv 7 is enough for my current usecase.

[2021-04-26 13:59] #3025 closed

[2021-04-26 21:01] dmitri-gb commented on #3027
@mcollina, something like this: https://github.com/dmitri-gb/fastify/commit/34b095090e7400e76607445cfc587335b8d6ad1d

I can submit the change as a PR if you wish, but many tests are failing on Windows due to the fact that `simple-get` still tries to connect to `127.0.0.1`. I'm afraid I don't have time to flesh out the PR completely though.

[2021-04-27 05:15] rhadamez commented on #3027
Well, I'm testing fastify for 2 days, and I just faced this problem, thanks to someone that show me this issue, I was frustrated by the performance of 250ms to make a simple post. Changing the request origin to 127.0.0.1 solved the problem.

[2021-04-27 05:26] climba03003 commented on #3027
If it will break the test, it is creating problem instead of fixing the issue. Because not all the people is using `localhost` to connect the server when they are dev. Some of them will be using `127.0.0.1`, that means if we land your fix, it will be breaking the ppl using `127.0.0.1` in Windows.

[2021-04-27 06:49] dmitri-gb commented on #3027
Exactly. I already pointed this out in the original post and said that none of the three potential improvements stands out as being particularly good.

Binding to multiple non-wildcard addresses requires creating multiple sockets. You would have to do `http.createServer(...)` twice with the same handler, however it also requires housekeeping and error handling of both sockets and that is simply a

[2021-04-27 09:26] mcollina commented on #3027
Would this be possible at the lower levels, i.e. C, or it is a unix restriction?

[2021-04-27 09:27] mcollina commented on #3027
Would you like to send a PR to fix the docs and comment?

[2021-04-27 09:35] delvedor commented on #2779
The white border might be a good solution to the issue.

[2021-04-27 12:33] mcollina commented on #2779
Go ahead and send a PR @laSinteZ!

[2021-04-28 06:42] simone-sanfratello commented on #2381
working on that - in my spare time

[2021-04-28 22:19] artur-ma opened #3045 "ECONNRESET on close inside a container"
Hey, not sure this issue is related to fastify itself, but I will try my luck

I'm investigating socket hang up errors in our k8s cluster,
We are using fastify-reply-from a proxy and fastify on another side

We are subscribed to SIGINT/SIGTERM with a call for `await fastify.close()` on that signals, but we still see a lot of ECONNRESET errors

So I ran some stupid test on my local machine (Mac)
1.

[2021-04-29 02:32] RafaelGSS commented on #3045
Hey! I've tried you reproduction code, but something is wrong in the process:

- The docker container to `target.js` can't redirect `localhost:3010` since is a different network. It would be better with a `docker-compose` to reproduce.
- At least for me, I don't get the same behavior as you. It has worked as expected.
- In your example:

[code]

the `app.js` mustn't provide a `got FIN`, should be

[2021-04-29 06:39] artur-ma commented on #3045
@RafaelGSS Thanks for testing, actually it should work since u forward localhost port 3010 to container port 3010 by using
`-p 3010:3010`

Can I ask u please on which OS u are testing it, please?

[2021-04-29 07:16] mcollina commented on #3045
Given that the difference is _just_ in containers, I'm feeling this might be a Node core bug instead, or something else related to networking.

Did you see if the target server finish properly or is it abruptly closed? As you can see we do not destroy the socket: https://github.com/fastify/fastify/blob/2356c1672c3a042744d8951adfcf8ff20937302b/lib/route.js#L340.

Have you tried:

1. use undici inst

[2021-04-29 07:17] mcollina commented on #3045
cc @ronag - he might have seen thisas well!

[2021-04-29 07:41] ronag commented on #3045
I'm not that familiar with fastify. But. There is a keep alive race in node core that can cause spurious ECONNRESET errors if you are unlucky with timing. I would recommend you try undici which does not suffer from this and see if you still encounter the problem.

I agree with @mcollina's suggestions. You can also try to disable keepAlive on the node core client and see if that makes any differenc

[2021-04-29 07:55] artur-ma commented on #3045
@mcollina I really want to see if someone else has this issue, and its not related if it some mac specific issue
so maybe on our k8s cluster is something else

I see "Service unavailable" I also tried server timeout to 0
the interesting part is I do see FIN packets on tcpdump
![image](https://user-images.githubusercontent.com/57314588/116518748-54435300-a8d9-11eb-9bac-d67986eee7d6.png)

[2021-04-29 08:37] mcollina commented on #3045
I really recommend using undici and see if it helps.

[2021-04-29 09:55] artur-ma commented on #3045
Too the settings from undici example
[code]

 looks good, no errors

  the only problem is that we use Newrelic but they do not have undici  instrumentation, so we will be blind on production :\

[2021-04-29 11:05] mcollina commented on #3045
I would recommend to open an issue on New Relic, and potentially look into how to manually instrument Undici. I think it might just be needed to pass down the headers to the next service.

[2021-04-29 11:25] artur-ma commented on #3045
Thanks, closing!

Yeah, did it two weeks ago https://github.com/newrelic/node-newrelic/issues/730
I will check about custom but AFAIK HTTP is something internal that can not be instrumented (web frameworks and datastores can have custom instrumentation)

[2021-04-29 11:25] #3045 closed

[2021-04-29 17:27] m-ronchi opened #3047 "declaring route with empty url crashes node"
## 🐛 Bug Report

if you declare a route with an empty url, fastify raises uncatchable exception that:
- crashes node if you run it directly
- causes a timeout if you run it with mocha

## To Reproduce

Steps to reproduce the behavior:

[code]

output:
[code]
## Expected behavior

error results in rejected promise

## Your Environment

- *node version*: 12
- *fastify version*: 3.15.0
- *os*: Mac

[2021-04-29 18:58] RafaelGSS commented on #3047
Good catch. It does not happen when calling the shorthand method, right? Example:

[code]

[2021-04-29 19:43] amitgilad3 commented on #3047
on it 👍

[2021-04-29 19:45] amitgilad3 commented on #3047
@RafaelGSS  - it does not happen when calling the shorthand method,

[2021-04-30 09:28] simone-sanfratello commented on #2381
I'm close to the end https://github.com/fastify/fastify/pull/3046

I need some help with windows and mac

[2021-04-30 13:23] JakeGinnivan opened #3050 "oneOf schema validation incorrectly failing"
## 🐛 Bug Report

There appears to be an odd validation issue when using oneOf (anyOf also fails with the same error).

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The above body should pass validation, the string, number and boolean types match.

## Your Environment

- *node version*: 14
- *fastify version*: 3.15.0
- *os*: Mac

[2021-04-30 13:36] mcollina commented on #3050
Those are just JSON schema definitions. Please provide an _executable_ example that demonstrate the problem.

We use Ajv for validations, so if it's a problem with body validation, I would recommend trying to reproduce with Ajv and in case open a bug report there.

[2021-04-30 13:41] JakeGinnivan commented on #3050
Thanks for the quick response @mcollina

I've been doing some more reading. It seems it's a combination problem with oneOf and additionalProperties.

https://ajv.js.org/faq.html#why-the-keyword-additionalproperties-false-fails-validation-when-some-properties-are-declared-inside-a-subschema-in-anyof-etc

Sorry for the false report

[2021-04-30 13:41] #3050 closed

[2021-05-01 08:39] zekth commented on #3047
Fixed in https://github.com/fastify/fastify/commit/eff4e38c76fda54c8f50c86dcb9312b4c4db9bc1

[2021-05-01 08:39] #3047 closed

[2021-05-01 12:12] wa1618i opened #3052 "SendBeacon doesn't work"
Does fastify works for sending request with navigator.sendBeacon? I tried:

[code]

But fastify.post is not responding the request?

[2021-05-01 18:51] Eomm commented on #3052
Yes, it works:

[code]

[2021-05-01 20:02] #3052 closed

[2021-05-03 07:32] simone-sanfratello commented on #2381
done! :rocket:

[2021-05-03 08:27] #2381 closed

[2021-05-03 16:14] insaneazka opened #3054 "can't Host to heroku.com"
![Screenshot (66)](https://user-images.githubusercontent.com/82513502/116902171-03c74f00-ac65-11eb-9d69-a7952acedc6f.png)

## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

A clear and concise description of what you expected to happen.

[code]

## Your Environment

- *node version*: 16
- *fastify

[2021-05-03 16:15] jsumners commented on #3054
https://github.com/fastify/fastify/blob/25fed20a2ad5010d8a01d3ecafa01f1cc3329466/docs/Server.md#listen

[2021-05-03 16:15] #3054 closed

[2021-05-04 22:03] lance commented on #2164
I see that this issue has been closed as stale. Does that mean that the work for this will not be completed?

[2021-05-05 12:23] ChristianElijah opened #3056 "Autocomplete for CommonJS (const, require) does not exist"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.15.1

### Node.js version

14.16.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.2.3

### Description

Hello everyone, my name is Christian

I have been having this common problem where int

[2021-05-05 12:44] RafaelGSS commented on #3056
If you import using: `require('fastify').default` works, right?

[2021-05-05 13:20] ChristianElijah commented on #3056
Yes it does but is there a way for app wide?

[2021-05-05 15:17] RafaelGSS commented on #3056
Not sure what you mean with _app-wide_. The example that _"not work"_ using commonjs is not requiring `fastify` in any place, so the IntelliSense doesn't know what is the type of this parameter.

To fix it using javascript, you can use js notation
[code]

Further details: https://github.com/fastify/fastify/blob/main/docs/TypeScript.md#code-completion-in-vanilla-javascript

[2021-05-06 19:18] RafaelGSS commented on #3056
We had several discussions with that in some issues. @fox1t Do you know if we have some document or issue to explain this behavior?

[2021-05-06 19:57] MetCoder95 commented on #2842
The first PR is merged for the improvement of the error experience. I'll open the next PR in the upcoming days into `avvio`

[2021-05-06 20:21] btmorex opened #3057 "After changing payload in onSend hook, Content-Length is not updated"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.15.1

### Node.js version

14.16.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

I'm minifying payloads in onSend. Without explicitly setting Content-Length, the old Co

[2021-05-06 20:59] mcollina commented on #3057
Good spot! I think we should just set it once after we run onSend.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-05-06 22:13] btmorex commented on #3057
It's probably a little complicated for what I have time for right now especially since I can work around it. I tried the following, which solves my problem, but causes a test failure.

[code]

[2021-05-07 09:03] #3057 closed

[2021-05-07 15:09] AlexanderTserkovniy opened #3059 "Schema array contains does not validate"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.7.0

### Node.js version

16.1.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

Catalina 10.15.7

### Description

I have a schema:
[code]

I expect it to validate `events` prop to contain at l

[2021-05-08 05:06] rupamking1 opened #3060 "Fastify Typescript"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

v3.15.1

### Node.js version

14.16.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10.0.19042.964

### Description

Error- Typescript error req.body
<img width="243" alt="Screenshot_1" src="h

[2021-05-08 08:24] mcollina commented on #3060
This is covered in https://www.fastify.io/docs/latest/TypeScript/. Remember to add validation ad well for your body.

[2021-05-08 08:24] #3060 closed

[2021-05-08 21:37] sergiz commented on #2860
I meant that if anything happens that is not supposed to (for example error thrown in error handler after the reply was already sent), the error should be let go its own way (eventually reaching unhandled exception/rejection) and not being swallowed by fastify.

I already tried to investigate why this happens, but I find it very hard to navigate around without any comments and with so many propert

[2021-05-09 06:33] sergiz commented on #2860
I meant that if anything happens that is not supposed to (for example error thrown in error handler after the reply was already sent), the error should be let go its own way (eventually reaching unhandled exception/rejection) and not being swallowed by fastify.

I already tried to investigate why this happens, but I find it a bit hard to navigate around without any comments and with that many diff

[2021-05-09 14:39] jsumners commented on #3059
See https://ajv.js.org/coercion.html

[2021-05-09 17:25] StarpTech opened #3061 "Custom ajv instance is hard to integrate"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.15.1

### Node.js version

14.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

Currently, it's not possible to access the validator as API. For example, I'd like to vali

[2021-05-10 04:30] giltayar opened #3062 "`fastify({clientErrorHandler})` shows type error"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.15.1

### Node.js version

16.1.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.3.1

### Description

According to the [docs](https://www.fastify.io/docs/latest/Server/#clienterrorhandler)

[2021-05-10 08:13] Eomm commented on #3061
Did you try the [`fastify.validatorCompiler`](https://www.fastify.io/docs/latest/Server/#validatorcompiler)?

This should works (fast meta code):

[code]

[2021-05-10 10:23] mcollina commented on #3062
Would you like to add this type? Remember to add unit tests for it!

[2021-05-10 10:23] mcollina commented on #3062
cc @fastify/typescript

[2021-05-10 10:42] kibertoad commented on #3061
If this works, we probably should document it and cover with tests :D

[2021-05-10 10:57] StarpTech commented on #3061
Hi @Eomm thanks. Does it allow to compile schema inside a plugin or is it necessary to compile it after `onReady`?

[code]

IMO this feels more like a workaround rather than a generalization.

[2021-05-10 12:47] imajkumar commented on #1620
same with me

[2021-05-11 00:09] tswaters commented on #1367
@mcollina in your [ example above](https://github.com/fastify/fastify/issues/1367#issuecomment-453206962), the definition of `App` is left to the reader.  Using an `app.js` as defined here: https://www.fastify.io/docs/latest/Testing/#separating-concerns-makes-testing-easy - I noticed opts weren't coming through.

If app is loaded through fastify-plugin, the first param is the fastify instance, and

[2021-05-11 17:17] seriousme commented on #3061
Fastify-openapi-glue is a plugin that also uses its own AJV instance.
It does not use onReady and works like a charm ;-)

[code]

https://github.com/seriousme/fastify-openapi-glue/blob/master/index.js#L47

[2021-05-11 21:15] MetCoder95 commented on #2842
After taking a look again into the stated issue and the implementation in `avvio` and `fastify`, I'm not 100% what we're looking to achieve by changing the way `avvio` throws an error?

As `avvio` is made for general use and not only for `fastify`, might be a good idea to let it have its own error codes, pretty similar to how `fastify` handles it. On `fastify` we can just check for the error on th

[2021-05-11 21:18] jsumners commented on #2842
I think that is a fair assessment.

[2021-05-12 18:43] StarpTech commented on #3061
I will close it for now. Creating a custom instance is the way to go.

[2021-05-12 18:43] #3061 closed

[2021-05-13 10:45] KiraPC commented on #3062
This issue should be solved due to https://github.com/fastify/fastify/pull/3069 merge.

@giltayar could you check?

[2021-05-13 12:05] Gameghostify commented on #3025
Using `setValidatorCompiler` should let you use any validator though, right? Similarly to how you can use joi, yup, ...

Why is ajv not technically considered as "just a different library" here? Since any library can be used, one would expect that, even if fastify doesn't support `ajv >= 8.0.0`, the unsupported version should be considered as just another library without baked-in support like joi/

[2021-05-13 12:33] matthyk commented on #2994
I will work on this 👍

[2021-05-13 13:28] #3062 closed

[2021-05-14 04:53] giltayar commented on #3062
@KiraPC type errors are gone. LGTM.

Thanks!

[2021-05-15 03:12] climba03003 commented on #3056
We need to support typing for.
[code]
Your example will be works for some of them, but breaking most of them.

[2021-05-15 07:09] Eomm opened #3074 "Grouping server options"
## 🚀 Feature Proposal

Update the server configuration input to provide a clearer categorization of the options

## Motivation

Increase the focus of some properties; maybe a doc revision could be enough?

## Example

[code]

[2021-05-15 08:55] mcollina commented on #3074
I think this is worthwhile doing. However we would need to deprecate the other options one-by-one.

[2021-05-15 15:12] RafaelGSS opened #3075 "Fix type definition for latest @types/node version"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.15.1/latest

### Node.js version

14.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

Looks like a release in `@types/node` minor broke our CI. More specifically in `Htt

[2021-05-15 16:31] #3075 closed

[2021-05-16 10:43] rubiin opened #3077 "Feat: Integration with adminbro"
## 🚀 Feature Proposal

Admin bro is An Auto-generated Admin Panel for your Node.js Application. Currently express ,koa and hapijs framework plugins are supported for admin bro. Since fastify also needs an admin panel of some sort, I was thinking of having a plugin for fastify .

## Motivation

Please outline the motivation for the proposal.

Reference for the adminbro intregration for hapijs can b

[2021-05-16 10:59] mcollina commented on #3077
That's a great idea! Let us know how you proceed, we can review things along the way.

[2021-05-16 11:48] rubiin commented on #3077
Glad you liked the idea. I was thinking of using [hapijs plugin's code](https://github.com/SoftwareBrothers/admin-bro-hapijs/blob/master/plugin.js) as fastify has similar hapi like route declaration

[2021-05-16 16:31] Eomm opened #3078 "Multiple close callback execution"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.15.1

### Node.js version

14

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

Calling multiple time the `fastify.close(callback)` function will run only one the close hook

[2021-05-16 17:49] mcollina commented on #3078
I disagree. callbacks MUST always be called as you do not know if it's still processing or not.

I'm ok in calling the callback with an error if called multiple times.

FYI: check out https://github.com/mcollina/close-with-grace. It's an implementation of what you are trying to achieve.

[2021-05-17 07:21] Eomm commented on #3078
I understand your point: it could lead to infinite waiting.
Not sure if calling the callback with the error could lead the user to run `process.exit(1)` before the first close has completed

[code]

in this case we should guarantee that the second callback will not be executed before the first one.

I'm closing this since it can be implemented with a simple pattern and because ignoring a provided

[2021-05-17 07:21] #3078 closed

[2021-05-17 07:41] mcollina commented on #3078
This is something that we should definitely fix.

[2021-05-18 13:17] meehawk commented on #3074
Hi @mcollina I am new here and would love to work on this. Any directions would be awesome

[2021-05-18 16:34] mcollina commented on #3074
Look at the current options and propose a complete mapping to a new grouped structure.

Change the code internally to the new structure, then add normalization layer that converts the old to the new. It should emit deprecation warnings for all the previous options

[2021-05-18 16:53] meehawk commented on #3074
@mcollina got it. Thank you so much for  this. I will try working on a PR

[2021-05-18 18:20] meehawk commented on #3074
@mcollina I can think of a very cumbersome logic like so:

[code]

I am not sure if this is going to be the prettiest approach. Do you have any suggestions on this

[2021-05-18 20:13] mcollina commented on #3074
Unfortunately that's the only one I know.

[2021-05-18 20:18] jsumners commented on #3074
A helper function may be useful here.

[2021-05-18 20:30] meehawk commented on #3074
@jsumners @mcollina this is the logic I eventually was able to come up with. Not sure if this is the most efficient way to do this though:

[code]

[2021-05-19 05:58] meehawk commented on #3074
@mcollina I've made a draft PR. Feel free to leave any comments. Also, it looks like a lot of small details need to be taken care of if we make this change. Do you recommend doing something like

```Grouped params -> flatten it to the old version```

this provides user with a cleaner interface to provide inputs and less overheads on our part

[2021-05-21 04:45] josh-hemphill opened #3083 "Feature Request: AJV JTD Schemas support"
## 🚀 Feature Proposal

Being able to use JTD schemas instead of JSON Schema schemas, makes maintaining large interfaces much easier and provides native type inference for typescript users.

## Motivation

Using JTD in AJV itself was a much better experience than JSON Schema in AJV.
Though I realize that mean upgrading the AJV dependency by major versions.

## Example

[code]
Or since AJV can provi

[2021-05-21 06:45] mcollina commented on #3083
Would you be willing to work on this feature? There will definitely be sone work needed.

@Eomm as you have been working to improve the APIs for swapping the validator/serializer combo, what's the roadmap to be able to swap fast-json-stringify with Ajv JTD serializer?

After it's possible in JS we can look on how to type this.

[2021-05-21 09:51] zekth commented on #3083
For the schema handling this need to be changed to detect schema format for the validation: https://github.com/fastify/fastify/blob/74867a64c9c5fdbba7bfe9b8ee98a3dc44adafbe/lib/schemas.js#L113-L122

As i read this was done for some short hand definitions but add issues in a sense. A flag for `jsonSchema | JTD` would be easier but too verbose for the definition don't you think? Like eg:
[code]

[2021-05-21 10:03] Eomm commented on #3083
I think it is already doable with some edge cases to manage. I will arrange some tests

As @zekth spotted we should disable the shorthand declaration. I would avoid adding a property in the schema, I would add a serverOptions instead like:

[code]

[2021-05-21 10:58] #2742 closed

[2021-05-21 12:56] luke88jones opened #3085 "Invalid content type default for streams"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.15.1

### Node.js version

14.17

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.2.3

### Description

Follow on from https://github.com/fastify/fastify-reply-from/issues/174

When receiving

[2021-05-21 16:04] josh-hemphill commented on #3083
So would a PR for this first require Ajv JTD serializer support to be merged? I'm not quite clear on what's dependent on what.

[2021-05-21 21:25] aakshaye commented on #331
Can this handle errors when required properties are missing in response? I'm tryin to use it like :
`{
    type: 'array',
    items: {
          type: 'object',
          required:  ["name", "age"],
          properties : {
               name: { type: 'string' },
               nickname: { type: 'string' },
               age: { type: 'integer' }
          }
   }
}`

[2021-05-23 20:38] ihadabs commented on #935
For those who use fastify-cli, for me it didn't work until I did set the `FASTIFY_ADDRESS = 0.0.0.0` in the environment variables.

[2021-05-24 12:45] zekth commented on #3083
Like @Eomm pointed, we need to add the `jsonShorthand` property to the fastify instance to disable the snippet : https://github.com/fastify/fastify/blob/74867a64c9c5fdbba7bfe9b8ee98a3dc44adafbe/lib/schemas.js#L114-L115

I tried implementing it on dev environment and seem to work properly. eg:
[code]

With those body:
[code]
[code]

One thing i noticed is the error feedback in case of bad validatio

[2021-05-24 15:16] #3085 closed

[2021-05-25 13:53] jsumners opened #3094 "Add a means to access the server object from request/response decorator functions"
## 🚀 Feature Proposal

Functions decorated on the request and response do not have a means for accessing the server object. I propose adding a means to do so.

I think the easiest method to do this would be:

1. Only provide the feature for non-arrow function decorator functions
2. Add a new property to the function when it is decorated, e.g. `Symbol.for('fastify.instance')`
[code]

## Motivation

[2021-05-25 16:38] josh-hemphill commented on #3083
I created a rough WIP PR, I ran into some issues as soon as I went to cover the addition of the `jsonShorthand` option in the tests.
Any invalid JSON Schemas that are missing their root properties are accepted by AJV as catchalls, allowing any input...
It seemed like it would be a footgun to try and reimplement AJV 7+ strict mode behavior just for this, so I tried upgrading the AJV dependency to s

[2021-05-25 16:42] josh-hemphill commented on #3083
Though I should mention, that without the dependency upgrade, JTD did seem to work fine; for invalid responses I got:
[code]
It would just be dangerous for those still using JSON Schema if they accidentally had this enabled without knowing what it did.

[2021-05-25 19:35] MetCoder95 commented on #2842
The PR for `avvio` is done, thanks @mcollina for the help! 🙏

The feature is waiting for the next major release, should we wait till the new release of `avvio` or start working on it in `fastify` by using an `rc` from `avvio`?

[2021-05-25 20:21] Eomm commented on #3083
To use ajv8 check here

https://github.com/fastify/fastify/blob/0c39ac9ed322aed7672f28d35cedc41de69afc78/test/schema-special-usage.test.js#L12

As basic roadmap:

- [ ] new `jsonShorthand` parameter
- [ ] ajv-compiler v2 with ajv8 ( https://github.com/fastify/ajv-compiler/pull/7 I need to rebase and add more test like strict mode support)

Then, in fastify you should:
- set jsonShorthand=false`
-

[2021-05-25 22:19] mcollina commented on #2842
You can start preparing a PR targeting the next branch in avvio.

[2021-05-25 22:24] mcollina commented on #3094
I'm +1 with this.. but I would not using a Symbol, just a regular property.

[2021-05-25 22:31] jsumners commented on #3094
But we don't technically own the function. I think the symbol allows us to decorate the function and avoid and conflicts with the owner. No?

[2021-05-25 22:42] mcollina commented on #3094
I'm lost :/

[2021-05-25 23:13] MSE99 commented on #3094
Property names are pretty simple and easy to write, but they could also conflict with user decorators on the other hand symbols are a safer alternative but they also are a bit verbose, i think we should go with a regular property name symbols should be kept private and they shouldn't be exposed to users as part of the public API, the implementation is pretty simple either way.

[2021-05-25 23:54] jsumners commented on #3094
When `fastify.decorateRequest` mutates the function passed by adding a new property to it, we _could_ be conflicting with properties the developer has attached. A symbol reduces that chance dramatically I think.

I'm okay with not using the symbol. I just want to make sure we agree that using a standard string named property can cause this conflict.

What name should we decorate as? `fastifyInstan

[2021-05-26 05:32] climba03003 opened #3099 "reply handling"
## 💥 Regression Report

I think it should be related to the reply simplification.
https://github.com/fastify/fastify-nextjs/pull/260

Not sure if it is only test case related only or production related. I am not using this plugin but it is worth knowing the test is currently failed.

## Last working version

Worked up to version: 3.15.1

Stopped working in version: 3.16.1

[2021-05-26 06:27] mcollina commented on #3099
Sigh. I'll issue a revert asap.

[2021-05-26 07:29] mcollina commented on #3099
Confirmed, the change is semver-major.

[2021-05-26 07:31] climba03003 commented on #3099
One more to revert https://github.com/fastify/fastify/commit/212fdb7e720b1879f5201678c5fef71f0eacf457

[2021-05-26 07:51] mcollina commented on #3099
check out #3099

[2021-05-26 07:57] mcollina commented on #3094
I was thinking of skipping `decorateRequest` altogether and setting it in the prototype when a plugin is encapsulated.

[2021-05-26 08:02] #3099 closed

[2021-05-26 11:07] jsumners commented on #3094
The request and reply prototypes?

[2021-05-26 12:30] mcollina commented on #3094
Yes exactly.

[2021-05-26 13:07] mcollina opened #3101 "Update to pino@7 when it is available"
Update to pino@7 when it is available.

This issue is a requirement for v4.

[2021-05-26 13:15] jsumners commented on #3094
What about the example I included in the original post? Notice that it does not use a plugin for the failing case. So the following isn't true:

[2021-05-26 13:49] MSE99 commented on #3094
Each request has a context associated with it, would it be okay to include a reference to the current instance there when the context is created, we could then define a getter on the Request/Reply prototype which will then fetch the instance from the context.

[2021-05-26 14:05] mcollina commented on #3094
I think we should do it in https://github.com/fastify/fastify/blob/0e55fce93fc40a8713a8664258854e5b73fb11cb/lib/pluginOverride.js#L40-L41, so that the instance is retained.

[2021-05-26 15:07] jsumners commented on #3094
Works for me.

[2021-05-26 17:23] MSE99 commented on #3094
@mcollina won't doing it that way will mean that the property will only be available for plugins that make use of encapsulation it also means that the property will only be available inside the scope of a plugin, which is going to confuse some users and won't be used much by plugin authors.

[code]

[2021-05-26 18:40] mcollina commented on #3094
It will work for both, it's quite simple to generalize to the root plugin.

[2021-05-27 11:13] mcollina commented on #3074
I had that new/old config split in the past it was a significant pain to maintain. Everything should be updated to use the grouped options and the previous properties deprecated.

[2021-05-27 11:17] meehawk commented on #3074
@mcollina that seems better. I've pushed a PR that uses the new grouped version. I still need to add the method that displays the deprecation warning but rest of it seems to work fine with tests. Can you have a look?

[2021-05-27 13:37] Fdawgs commented on #2779
Issue can be closed, resolved by https://github.com/fastify/graphics/pull/8, looks good!

[2021-05-27 17:02] rustyconover opened #3104 "Missing reference for how to override the schema types"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.x.x

### Plugin version

_No response_

### Node.js version

14.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

latest

### Description

There is a missing reference in the comment that docume

[2021-05-27 20:42] mcollina commented on #3104
cc @Eomm

[2021-05-27 20:44] #3094 closed

[2021-05-27 21:52] cianx opened #3105 "Unclear warning when `version` appears in the route declaration"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.13

### Plugin version

_No response_

### Node.js version

14.16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

if a route definition passed to `fastify.route` contains

[2021-05-28 06:32] climba03003 commented on #3105
It is a bug which use the wrong error message. The correct message should be `FSTDEP008`.

[2021-05-28 12:02] DRoet opened #3107 "Strange promises behaviour in v3.16.x"
## 💥 Regression Report

Sorry for the long reproduction, took me a long time to dumb it down and I don't fully understand what is happening under the hood.

for some reason Fastify started throwing reply-errors after upgrading to 3.16.2:
`FastifyError: Promise may not be fulfilled with 'undefined' when statusCode is not 204`

When I change the `reply.code(200).send('OK')` to `await reply.code(200)

[2021-05-28 12:12] DRoet commented on #3107
Maybe I misunderstand. am I required to **always** add return/await to `reply.send()` inside of async functions?

[2021-05-28 12:23] jsumners commented on #3107
I think this is solved by https://github.com/fastify/fastify/pull/2702 in `fastify@4` when it releases.

[2021-05-28 18:49] mattbishop commented on #3107
I am encountering this error with 3.16 as well, but in my case I am sending a Stream:

[code]
I debugged through the code and the problem seems to be wrapThenable's payload value is undefined, even though it is the correct type in reply.js' send() function.

With 3.15 and earlier, I never had to set the `reply.sent` property.

[2021-05-29 08:39] #3107 closed

[2021-05-29 08:46] mcollina commented on #3107
The revert shipped in v3.17.0, the new behavior will land in v4.0.0.

@mattbishop FWIW in your code you had to add a `return reply` at the end to fix, however we should not have broken your code in the v3 series.

[2021-05-29 11:29] zekth commented on #3107
@mcollina might be worth to write (at least try) a migration helper like we did for `tap 14` to `tap 15`, to find the `send()` instructions without `return` statements.

[2021-05-29 13:05] mcollina commented on #3107
I think that is going to be harder :(, as it would require some AST parsing.

[2021-05-30 01:03] mattbishop commented on #3107
@mcollina maybe It would be easier to return the Stream instead of the reply? I agree with the concept of not returning undefined Promises, and it shouldn't be too much effort to support returning a Stream to indicate a successful request this way.

[2021-05-30 06:01] mcollina commented on #3107
Returning the stream already works as expected.

[2021-05-30 16:40] mattbishop commented on #3107
I didn’t know I could return the stream, that works. Thanks!

—
Matt Bishop

[2021-05-31 05:00] jesec opened #3110 "Get version via hardcode/`require('package.json')`/other method instead of `fs.readFileSync`"
## 🚀 Feature Proposal

Currently fastify loads its version via `JSON.parse(fs.readFileSync(pkgPath))`:

https://github.com/fastify/fastify/blob/6278e7bc2102d57b54d88e9f47d6661a2e0a7624/fastify.js#L663-L666

## Motivation

I use webpack. webpack recognize `package.json` as an asset when it is used that way, and, as a result, fastify's `package.json` appears in the `dist/` output of my application.

[2021-05-31 10:46] mcollina commented on #3110
I'm -1 in hardcoding the version number, it should be picked up from the relevant metadata. Let's do the `require('package.json')` change.

Would you like to send a PR?

[2021-05-31 10:57] zekth commented on #3110
@mcollina i'll do it

[2021-05-31 13:02] #3105 closed

[2021-05-31 14:25] #3110 closed

[2021-06-01 11:31] VottusCode opened #3114 "Fastify Error Handler will always send an error 500"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.15.1

### Plugin version

_No response_

### Node.js version

14.17.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04

### Description

The following code is taken from my errorHand

[2021-06-01 12:02] mcollina commented on #3114
Can you please include a full example that we can run to reproduce your problem? This is supported and covered by tests, so it's something you are doing on your end.

[2021-06-01 12:12] VottusCode commented on #3114
Sure, the code is located here: https://github.com/VottusCode/asv/blob/admin/admin/src

The snippet comes from here:
https://github.com/VottusCode/asv/blob/admin/admin/src/http/lifecycle/exception.ts#L9-L26

[2021-06-01 13:00] mcollina commented on #3114
It seems all of this is using another library/framework called Fasteerjs. Could you provide a simple, self-contained snippet to reproduce?

[2021-06-01 17:09] josh-hemphill commented on #3083
@eomm I'm not sure how the @fastify/ajv-compiler will effect JTD support. If we're aiming for out-of-the-box support for JTD, it currently has to be explicitly imported. e.g. `require('ajv/dist/jtd')`

Would there need to be a separate version of @fastify/ajv-compiler that replaces JSON Schema for JTD?

[2021-06-02 09:07] VottusCode commented on #3114
I will, unfortunetely I won't be home till tomorrow. Also, I just looked, the code the repo is a bit outdated (misses the res.code call), seems like I didn't commit latest changes.

Also, all the `fasteerExceptions` function is doing is decorating some things, nothing else. In addition to that, the errorHandler does actually get executed, so the issue shouldn't be in the library..

[2021-06-02 18:47] VottusCode commented on #3114
I haven't been able to reproduce this issue with this minimal setup, even with Fasteer.
(see https://github.com/VottusCode/fastify-err-demo - if you run src/index, it will try standalone fastify, then also 2 ways of using @fasteerjs/exceptions, see src/servers for exact setup)

I'm gonna look into my code again though and sorry if I was just overseeing something stupid :sweat_smile:

[2021-06-02 20:18] VottusCode commented on #3114
![image](https://user-images.githubusercontent.com/53915302/120546571-50cb4c00-c3f0-11eb-9d9f-b6c09ebfe466.png)
Fixed. Issue was in how @fasteerjs/exceptions was handling exceptions, sorry.

[2021-06-02 20:18] #3114 closed

[2021-06-02 21:59] mcollina commented on #3114
No worries! I'm glad it all worked out.

[2021-06-03 08:21] luisorbaiceta opened #3120 ""onRequest" hook not triggering when route is not found"
## 💬  Why is the `onRequest` hook not triggering when the application doesn´t find a registered matching route?

When running the `npm init fastify` command and registering a plugin that adds a `onRequest` hook to be available for all the application, if the route is not found, the hook is not triggered and instead fastify passes control to the default error handler, which then throws the 404 not

[2021-06-03 15:52] StarpTech opened #3116 "Export light-my-request types"
## 🚀 Feature Proposal

Export light-my-request types

## Motivation

When I write fastify tests with `.inject` in some circumstances I need access to the `InjectOptions` type. Currently, I need to install the package separately.

[2021-06-04 00:26] 6e5 opened #3117 "We want a feature where u can pass multiple request handlers that run one after another with a next parameter"
## 🚀 Feature Proposal

Express has a feature where u can pass any number of route handlers or middleware. Please make the same feature so we can switch to fastify.

[2021-06-04 00:46] jsumners commented on #3117
Please the documentation on encapsulation. The pattern you are describing is an inefficient pattern and not one Fastify will adopt.

[2021-06-04 00:47] #3117 closed

[2021-06-04 15:30] #3116 closed

[2021-06-05 01:16] albertoantunes opened #3121 "Option to customize Ajv type coercion behavior based on httpPart"
## 🚀 Feature Proposal

Hello! Fastify by default comes with AJV with coerceTypes enabled.
Me and some coworkers found that is a pretty good behavior for both querystring and pathParams as they all come as strings

However, for body validation as JSON, we actually required to have it turned off, as there are some edge cases that we need to validate that are simply wrong with coercion enabled. ex: {

[2021-06-05 07:25] mcollina commented on #3120
It will be a while before I have time to take this on. If anybody else would like to give this a shot, please go! I'm not marking it "good first issue" as it's likely not.

From my point of view there is not much urgency either, as most applications would add a not found and error handler in production.

[2021-06-05 07:28] weiliddat commented on #3120
I wanted to help with this but I couldn't reproduce this.
I tested with fastify-autoload as @luisorbaiceta's example, and in a plain `fastify.register(require("./plugin/deny"))` style.
With and without setNotFoundHandler, they all fired the onRequest hook when a request comes in.
Will dig around and see.

### Environment
node version: 14.17.0 and 16
fastify version: main
os: Windows WSL2

[2021-06-05 07:53] luisorbaiceta commented on #3120
I will give it a shot and try to search where the race condition occurs. I'll send a PR as soon as I find something @mcollina

[2021-06-05 08:03] weiliddat commented on #3120
I can reproduce it now. I was just testing with found routes. 🤦‍♂️
So this also happens without fastify-autoload, and running it plain without fastify-cli.

[2021-06-05 08:41] weiliddat commented on #3120
So what I found so far, after a bit of logging on fastify and avvio.

### without calling setNotFoundHandler
[code]

### call setNotFoundHandler after plugins
[code]

`setNotFoundHandler` is initially called during [fastify startup](https://github.com/fastify/fastify/blob/caf108942b9009d17d638a1f4a581b37e4999465/fastify.js#L367) to [set default 404 handlers with a catch-all route](https://github.c

[2021-06-05 09:34] mcollina commented on #3120
The safest option is to document this behavior in v3, and possibly improve it in v4.

[2021-06-05 13:04] weiliddat commented on #3120
I added a short paragraph on the default behavior of `setNotFoundHandler`, and if you want to add hooks via plugins you can do so via calling it again in the right context.

[2021-06-05 13:10] weiliddat commented on #3121
Does this option not work when initializing the fastify server instance with options?

https://www.fastify.io/docs/latest/Server/#ajv

[2021-06-05 14:01] Eomm commented on #3121
I love how you have used the validator compiler to cover this use case!

I think this feature can be implemented in a plugin (that should configure the [schemaController.bucket](https://www.fastify.io/docs/latest/Server/#schemacontroller) to work smoothly with the `fastify.addSchema()` method)

[2021-06-05 14:08] Eomm commented on #3083
Otherwise, the user should write its own ajv8 code, and it could be hard. But you are right: only the `jsonShorthand` flag is mandatory to let users use JTD

I don't understand what you mean by "separate version". For sure we need to bump a major version

[2021-06-05 16:02] #3120 closed

[2021-06-06 10:04] tnishimura opened #3123 "Response Schema is not enforced when sending plain text reply with reply.send(string)"
### Prerequisites

- [x] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.17.0

### Plugin version

_No response_

### Node.js version

10.24.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

The response schema seems to be enforced only when t

[2021-06-06 10:49] StarpTech commented on #3123
Hi, intuitively I'd also expect an error. The problem here is that the serialization library can't compare strings with objects and it will pass it as it is.

I also found another issue:

This will succeed:

[code]

[2021-06-06 11:40] StarpTech commented on #3123
According to https://github.com/fastify/fastify/blob/5dfec548f890277cfc2b2f4653e4dd3889af2b3c/lib/reply.js#L684 the serialization step is skipped entirely for strings.

This can be seen here https://github.com/fastify/fastify/blob/main/lib/reply.js#L156

From the developer's perspective, it feels odd that numbers are handled but strings are skipped. The decision should be made if a schema was pass

[2021-06-06 12:20] tnishimura commented on #3123
Perhaps the behavior should be that if a response schema is specified, the response is always treated as `application/json` and serialized? However, this may cause confusion because if you specify `{type : "string"}` as the output and do `reply.send("hello")`, the value returned will not be `hello` but instead be `"hello"` with double quotes, since that's what JSON strings look like...

[2021-06-06 13:06] StarpTech commented on #3123
Yes, I have the same in mind but you already found out that the current behavior is a solution to cover all the edge cases.

I think we should throw an error when a schema is specified and a string is sent. For all other cases, the user can overwrite the serialization function.

[2021-06-06 17:22] mcollina commented on #3123
I'm not convinced, I think we should be more nuanced. I think we should _always_ pass through the serializer if one is set. Currently we do not support `{ type: "string" }` (a top-level JSON string) as a response schema.

[2021-06-06 17:53] StarpTech commented on #3123
I agree, that's consistent. So in the case of a primitive response value (int, string) + schema, we assume that the user expects the raw value instead JSON values `"value"`?

[2021-06-06 22:16] mcollina commented on #3123
Yes, exactly.

[2021-06-07 21:35] MetCoder95 commented on #2842
Thanks for all the help! The last PR is merged! 🎉
Just waiting for the next release of `avvio` for updating the dependency within `fastify`!

[2021-06-07 23:47] jsumners commented on #2842
Great work.

[2021-06-08 05:58] #2842 closed

[2021-06-08 09:00] jason-wihardja opened #3126 "Calling `fastify.close()` promise after hitting a route doesn't resolve"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.17.0

### Plugin version

_No response_

### Node.js version

14.17.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.4

### Description

The `fastify.close()` promise being called after hitt

[2021-06-08 09:17] mcollina commented on #3126
The above code works perfectly here by calling the route with `curl`.

[2021-06-08 09:59] jason-wihardja commented on #3126
Did the `fastify.close()` resolves? I was expecting the logs to be
[code]

But on my machine what happens after I curl `/ping` once is
[code]

[2021-06-08 10:27] mcollina commented on #3126
Yes it resolves. Note that you should not mix callbacks and promises.

[2021-06-08 10:38] jason-wihardja commented on #3126
Yes, I'm aware of that. But I purposefully mix them here to demonstrate the issue. Do you have any idea as to what else could be causing this issue on my side? Because for some reason it doesn't resolve on my machine. It only resolves after I made a second or a couple more curl to the route

[2021-06-08 10:58] mcollina commented on #3126
That's not supported, essentially those two syntaxes are mutually exclusive.

[2021-06-08 11:05] jason-wihardja commented on #3126
Ok, so I tried converting them all to callback style, which results in the following code
[code]

But apparently the same issue still happens.

[2021-06-08 11:16] rburgst commented on #1884
I am still getting error log this with fastify 3.14.2 for the following request

[code]

[2021-06-08 11:27] #3126 closed

[2021-06-08 12:35] rburgst commented on #1884
updated to fastify 3.17.0, same result

[2021-06-08 15:26] Eomm commented on #2841
Note that this works with plain fastify config too:

[code]

[2021-06-08 15:35] cusxio commented on #2815
I was wondering if there is an interim solution to this problem? Can't really start a production app without access to `req.session`.

i.e. When using `fastify-session` and  `fastify-nextjs`, the session cookie is not sent by `fastify-nextjs`, because it uses [`req.raw`](https://github.com/fastify/fastify-nextjs/blob/72115af354acb57ba1b446d2239e0700abacf8e0/index.js#L77) instead.

[2021-06-08 15:43] mcollina commented on #2815
Check out https://github.com/fastify/fastify-request-context

[2021-06-08 20:47] MetCoder95 commented on #2746
Does this still on the radar?

[2021-06-08 20:58] zekth commented on #2746
I think we'll have to wait for this to be done : https://github.com/nodejs/node/issues/35711

At least regarding the v8 snapshots

[2021-06-08 21:01] Eomm commented on #1884
This is quite old issue, please open a new one with a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)?

Without it, we are unable to help you.

[2021-06-08 21:10] MetCoder95 commented on #2746
I knew it was wip for the v8 snapshots but didn't know about the issue. Thanks, we should wait then 🙂

[2021-06-09 08:37] rburgst opened #3127 "404 error for requests with invalid uri encoding"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.17.0

### Plugin version

_No response_

### Node.js version

14.16

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.4

### Description

when receiving a http request that contains invalid url

[2021-06-09 08:37] rburgst commented on #1884
@Eomm done, see #3127

[2021-06-09 13:09] mcollina commented on #3127
This might be a bug in find-my-way

[2021-06-09 18:19] mcollina commented on #3107
reply.send() effectively forks the promise chain.

[2021-06-10 05:48] climba03003 commented on #3127
I cannot reproduce the same behavior as yours.

Here is the snippets I used.
[code]

Response.
[code]

If your project is empty and not registered any route. Throwing `404` is the correct behavior because it do not have a matching route for the parsing. So, I will not consider it as a bug.
@mcollina @Eomm WDYT?

[2021-06-10 06:02] mcollina commented on #3127
The bug is that the request is apparently caught by the not found handler of the not found handler. This should not be possible.

[2021-06-10 06:08] Eomm commented on #3127
@climba03003 the issue is that we reach this statement:

https://github.com/fastify/fastify/blob/506009f6198e5ce0d0c16ecb61dbf62902d9aa5b/lib/fourOhFour.js#L167

and we should not

Moreover the custom 404 handler is not executed:

[code]

[2021-06-10 06:18] climba03003 commented on #3127
To clarify, throwing `404` is the expected result, but we should not fire the `fourOhFourFallBack` and it should be properly handled by `fastify`. Is that right?

[2021-06-10 07:02] Eomm commented on #3127
Yes, it is 👍🏽

[2021-06-10 07:18] climba03003 commented on #3127
Symptom
1. Not registered any route will trigger this behavior
2. Regitered only `/` route will trigger this behavior

Problem Breakdown
1 . `fastify` build route in https://github.com/fastify/fastify/blob/main/fastify.js#L166
2 . it register default route in https://github.com/fastify/fastify/blob/main/fastify.js#L563-L568
3 . which will look up the `fourOhFour` route in https://github.com/fastif

[2021-06-10 07:42] climba03003 commented on #3127
Flow
When invalid route reached `fastify`
1. it will reach normal router
2. it will reach `fourOhFour` router
3. It is calling `Router.prototype.lookup`
4. It go to `wildcard route` handling
5. it break in https://github.com/delvedor/find-my-way/blob/59a954db3c1487309d45753a17dce40b71d198a1/index.js#L481-L485

Reason behind
`fourOhFour` router do not have `onBadUrl` handler passed in and `find-my-

[2021-06-10 08:21] mcollina commented on #3127
Thanks for the analysis, this is correct! Good job. Would you send a PR?

We might ship this as a semver-major change.

[2021-06-10 16:02] #3127 closed

[2021-06-11 08:05] happypoulp opened #3129 "Missing param when mixing parametric and wildcard routes"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.16.2

### Plugin version

_No response_

### Node.js version

14.17.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7

### Description

Hello,

When defining 2 routes (one parametric and

[2021-06-11 08:31] mcollina commented on #3129
This is likely an issue in [find-my-way](https://www.npmjs.com/package/find-my-way), our router. It's probably a simple thing to fix, if somebody would like to take a stab at it.

[2021-06-11 08:31] mcollina commented on #3129
cc @delvedor wdyt?

[2021-06-11 09:08] delvedor commented on #3129
Yes, it looks like an issue in the router.

[2021-06-11 13:19] AyoubElk commented on #3129
This is probably because you are declaring a route: `/:lang/item/:id`, and hitting `/fr/item/1234/edit` which has a suffix `/edit`
My understanding is that having `/edit` would make the router match the wildcard route, which would be the expected behavior

[2021-06-11 14:01] climba03003 commented on #3129
@delvedor
Tracing Log
[code]

I think the problem is, when the route contain `*`. It may fall into `_getWildcardNode` and which only set `*` for the params.
https://github.com/delvedor/find-my-way/blob/59a954db3c1487309d45753a17dce40b71d198a1/index.js#L554

[2021-06-11 14:25] mcollina commented on #3129
looks like a good bug indeed :/. Could you attempt a fix @climba03003 ?

[2021-06-11 14:59] climba03003 commented on #3129
@mcollina
https://github.com/delvedor/find-my-way/pull/194
Here it is.

[2021-06-12 18:01] StarpTech opened #3131 "Parse Error: Expected HTTP/ when HTTP2 is enabled"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.17.0

### Plugin version

_No response_

### Node.js version

16.3.0 and 14.17.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04

### Description

I can't make a http2 request with

[2021-06-12 19:07] StarpTech commented on #3131
This seems not related to fastify. I can reproduce it with:

[code]

[2021-06-12 21:13] szmarczak commented on #3131
You're running an insecure HTTP/2 server. Got doesn't support insecure HTTP/2 servers.

[2021-06-12 21:48] #3131 closed

[2021-06-13 07:07] #2664 closed

[2021-06-13 17:54] mattbishop opened #3133 "304 Not Modified should not require a return value"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.17.0

### Plugin version

_No response_

### Node.js version

14.17.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.4

### Description

GET handlers that support conditional GETs will retur

[2021-06-13 19:02] zekth commented on #3133
Technically i'd say your not sending anything from your route.
[code]
would be the thing to do. Moreover you should write
[code]

[2021-06-13 20:10] mattbishop commented on #3133
Fair enough, but this is different behaviour to `204` status codes. I would think they should be consistent as neither returns a body.

[2021-06-13 21:08] mcollina commented on #3133
Could you please you try installing the next branch? I think the behavior there would match your expectations.

[2021-06-13 21:11] zekth commented on #3133
Indeed. So i assume refering to the spec we should add 304 also to the statuscode check in this statement : https://github.com/fastify/fastify/blob/d904fce65f0a173e900461412c3905aa30388918/lib/wrapThenable.js#L19

@mcollina do you agree?

[2021-06-13 22:10] mcollina commented on #3133
We have removed all special behavior for 204s in next

[2021-06-14 08:27] seia-soto opened #3135 "Returning payload didn't send to client when hooking in route-level with async function"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.17.0

### Plugin version

_No response_

### Node.js version

14.16.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.4

### Description

The expected result is Fastify should send payload(bo

[2021-06-14 19:55] mcollina commented on #3135
Do you consider this a bug or a feature request? I don't think this was ever implemented or documented, but maybe I may be wrong.

I think we should target v4 / the `next` branch for this change.

[2021-06-14 20:17] mattbishop commented on #3133
I'll have to make a clean project to test fastify/fastify#next as it breaks other plugins I have in my project right now (websockets, compress) due to version errors.

[2021-06-15 00:57] seia-soto commented on #3135
I cannot fully understand how Fastify works right now (reading source code), but at this time, I think this issue is one of patch or feature request as I found documentation about this. However, I think it can be more clear if patch available. At this time, I think it's better to update documentation to reference route-level-hook section of Hooks docs from route options section of Routes docs to f

[2021-06-15 07:01] mcollina commented on #3135
Let's aim for a doc fix then.
Where did we write that returning a value from a hook will send a response?

[2021-06-15 08:42] #3129 closed

[2021-06-15 09:04] happypoulp commented on #3129
Is there a `fastify` release planned soon that will update `find-my-way` to `v4.3.0` ?

[2021-06-15 09:10] mcollina commented on #3129
You can just update your dependencies, it will be picked up automatically.

[2021-06-15 11:37] jsumners commented on #3135
The linked documentation is rather clear that you must send the response with `reply.send` and then `return reply` in asynchronous functions.

[2021-06-16 00:15] seia-soto commented on #3135
Yes, it's really clear that I need to write both `send` and `return`. However, adding a reference in another page which I refed in previous comment would be nice. How do you think?

[2021-06-16 06:25] srigar opened #3137 "Logger calls result in multiple log entries where a single entry is expected"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.16.0

### Plugin version

_No response_

### Node.js version

12.18.4

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

Using default fastify logger and it is working well

[2021-06-16 07:39] zekth commented on #3137
This is because you're using `prettyPrint`. In production environment you should not use it. Use something like:
[code]

[2021-06-16 07:54] climba03003 commented on #3137
It is the expected result for `prettyPrint` enabled. If you need single line JSON, disable `prettyPrint` or follow the suggestion of zekth.

Read more about `pino` can help you understand it. https://github.com/pinojs/pino

If you need all the thing to be single line and preserve some of the feature for `prettyPrint`. You need to create your custom transport for `pino`. Read more on https://github

[2021-06-16 08:12] #3137 closed

[2021-06-16 11:31] jsumners commented on #3135
According to the original issue post, you expected the opposite to be true. I am stating that I am not clear how that is expected given that you have linked the documentation clearly stating what the requirements are.

Any pull request to improve the documentation is most welcome.

[2021-06-16 18:14] seia-soto commented on #3135
My idea was simple. I thought that I can stop Fastify keep processing the request by sending the response from hook. Then to make response, I need to return stringify-able object or string in async handler. So I expected that Fastify will send response if I return stringify-able thing in async hooks. However, the behavior was different and I thought this was an issue or unexpected behavior, so ope

[2021-06-16 18:33] seia-soto commented on #3135
I made a simple pull request to resolve this. But one thing, I want to hear feedback as the start of this was just my suggestion and didn't come up before.

[2021-06-16 23:17] mattbishop commented on #630
It would be nice to offer semantic support for trailers. The handler has to specify the trailer keys in headers, then stream the response, then set the trailer header. Maybe something like this:

[code]

After the body stream is complete, the trailer callbacks would be executed and they would return their value to be stored in Node's http.response.addTrailers().

This may be better served as a plu

[2021-06-16 23:19] mcollina commented on #630
I have a feeling this might only be served by implementing it in the framework. Anyway, would you like to work on this?

[2021-06-16 23:28] mattbishop commented on #630
Maybe so. I can imagine the `Server-Timing` plugin would be interested in using it.

I'll hack at a plugin first to see how much effort it is.

[2021-06-18 02:38] #3135 closed

[2021-06-18 06:22] heroboy commented on #1436
I want the `setErrorHandler` to be not global, not `skip-override`, but can aware the `prefix` in options.
For example, I want different format validation error response for `/v1` and `/v2` api.

[2021-06-18 16:58] #2497 closed

[2021-06-18 16:59] #1931 closed

[2021-06-22 00:45] dopry opened #3146 "Request.url is misnamed"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.x.x

### Plugin version

_No response_

### Node.js version

14.x

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

latest

### Description

Request.url is misnamed.

A url contains a scheme at

[2021-06-22 04:49] climba03003 commented on #3146
It is a getter which return the `node` request url. `fastify` should behave the same as the `node` core.
https://github.com/fastify/fastify/blob/main/lib/request.js#L111

[2021-06-22 05:56] #3146 closed

[2021-06-23 15:36] mattyod opened #3153 "enum values not enforced by response schemas"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.18.0

### Plugin version

_No response_

### Node.js version

14.16.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7

### Description

Specified enum values for strings are not enforced

[2021-06-24 09:31] climba03003 commented on #3153
I think the issue should go to https://github.com/fastify/fast-json-stringify. `fastify` use `fast-json-stringify` for response serialization.

[2021-06-24 13:04] Eomm commented on #3153
The stringify process doesn't **validate** your output
You must use this plugin https://github.com/fastify/fastify-response-validation#fastify-response-validation

[2021-06-24 22:14] IsmaeelAkram opened #3157 "Emojis not showing up correctly in Fastify, but works in Express"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.18.0

### Plugin version

_No response_

### Node.js version

14.16.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.4

### Description

Emojis are getting corrupted and not showing up corre

[2021-06-24 23:35] jsumners commented on #3157
Send the text as UTF-8.

[2021-06-25 06:46] Eomm commented on #3157
[code]
will solve

Maybe could it worth add the charset if the user doesn't set it?

[2021-06-25 07:14] mcollina commented on #3157
I think the only thing we might want to change is adding some docs about this. I don't think we should change anything here.

[2021-06-25 07:17] mcollina opened #3158 "Test webpack bundling"
## 🚀 Feature Proposal

A few users are bundling Fastify with Webpack. While I discourage the practice, adding some regression tests (and necessary fixes) would help a lot in avoiding a lot of issue traffic.

[2021-06-25 12:02] Eomm commented on #3158
For reference

#3155
https://github.com/fastify/fast-json-stringify/pull/339

[2021-06-25 13:00] IsmaeelAkram commented on #3157
Agreed. I thought it was some sort of bug. It didn't cross my mind to use UTF-8. 😅

[2021-06-25 13:05] Eomm commented on #3157
Would you like to send a Pull Request to address this issue?

[2021-06-25 13:08] IsmaeelAkram commented on #3157
Sure, which doc would I put it in though?

[2021-06-25 14:57] josh-hemphill commented on #3083
In order to use JTD, you have to import it from `require('ajv/dist/jtd')`, and from a cursory glance through the code of `@fastify/ajv-compiler` it does not import that, so it does not have any capability to handle JTD, I'm wondering if it would make sense to maintain a branch of `@fastify/ajv-compiler` specific to JTD as a substitution for JSON Schema, e.g. `@fastify/ajv-compiler-8-jtd` or someth

[2021-06-25 16:37] IsmaeelAkram commented on #3157
I made a pull request to change the docs. #3159

[2021-06-25 16:39] #3157 closed

[2021-06-25 22:48] Eomm opened #3160 "Wrong status code throwing an object"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.18.0

### Plugin version

_No response_

### Node.js version

16

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

In https://github.com/fastify/fastify/pull/2134 we introdu

[2021-06-26 08:06] meehawk commented on #3160
@Eomm just resuming work on #3081. Can I take this up next? A brief on what needs to be done would be nice

[2021-06-26 12:29] Eomm commented on #3160
You can go for it! I think that PR may take a while to be released because it impacts the external interface

The issue should be here:
https://github.com/fastify/fastify/blob/a791bf83c6555f02294d66021982059eea9b5a46/lib/handleRequest.js#L125-L128

I would just start with a set of failing tests:
- one that checks the response error and status code via fastify.inject
- one that checks that a custom

[2021-06-26 21:22] #3160 closed

[2021-06-28 16:57] sergiz opened #3163 "Tests are failing for the lowest supported Nodejs version"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

main

### Plugin version

_No response_

### Node.js version

10.16.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

If you checkout the master branch and run the test sui

[2021-06-28 17:00] jsumners commented on #3163
According to our CI configuration, we support `Node 10` -- https://github.com/fastify/fastify/blob/7c1bcd176c6a1aaeef3d07f5c079c2d503013f08/.github/workflows/ci.yml#L19

That means we support the _most recent_ version of Node 10. As of this date, that is 10.24 -- https://nodejs.org/dist/latest-v10.x/

[2021-06-28 17:04] sergiz commented on #3163
According to the package.json which is an authority here you support v10.16.0 or higher ;)
https://github.com/fastify/fastify/blob/7c1bcd176c6a1aaeef3d07f5c079c2d503013f08/package.json#L117-L119

[2021-06-28 17:04] sergiz commented on #3163
@jsumners, according to the package.json, which is an authority here, you support v10.16.0 or higher ;)
https://github.com/fastify/fastify/blob/7c1bcd176c6a1aaeef3d07f5c079c2d503013f08/package.json#L117-L119

[2021-06-28 17:08] jsumners commented on #3163
The `package.json` should be updated. Personally, I would remove the whole `engines` block. But @mcollina or @delvedor may have a reason for it to be there.

[2021-06-28 17:31] zekth commented on #3163
Meanwhile i agree with @jsumners as people tend to be using and staying tied to LTS versions; some corporate cases might lead you to slower upgrades. In this case it would be nice to be noticed by the warning of npm in case of incompatibility like explained above (which is a 2 years old version).

By this way we need to ensure we support versions from the `package.json` and we need to do it for al

[2021-06-28 21:41] mcollina commented on #3163
We only support the last version of any Node.js LTS line. Giving any stronger guarantees is unfeasible (due to CI limit). Unfortunately we cannot really specify this in the `engine` field... so I guess the only solution is to remove it.

[2021-06-28 21:52] zekth commented on #3163
Unfortunately npm does not support LTS https://github.com/npm/npm/issues/11113

So +1 on dropping it.

[2021-06-29 09:16] #3163 closed

[2021-06-29 10:42] mattyod commented on #3153
Thanks, I guess we'll check the enums ourselves rather than turn on full response validation. It's a bit confusing though because it seems that partial checking and coercion does occur which i guess led me to believe validation was being carried out.

**Given a schema such as:**
[code]
**and a reply of:**
[code]
**The received response is:**
[code]

The properties `foo` and `bar` have been coerced

[2021-06-29 10:42] #3153 closed

[2021-06-29 13:25] sergiz commented on #3163
Doesn't LTS apply to major version only? So you are saying that fastify supports only the very latest of every LTS version (meaning latest patch version)? That's kinda weird requirement since new minor and patch versions of the LTS release are released every few weeks.

By the way, the readme still very clearly states the following:

[2021-06-30 10:15] mcollina commented on #2752
Are we still planning to do this, or maybe we move to https://github.com/fastify/pre-commit?

[2021-06-30 10:27] climba03003 commented on #2752
I think we are waiting for fixing those issue before releasing. I can change the title for `fastify/pre-commit`

[2021-06-30 11:02] mcollina commented on #2752
let's do it, +1.

[2021-06-30 11:35] jsumners commented on #2752
No. I need to get back into fixing up our fork for release.

[2021-07-01 06:30] Eomm commented on #3153
The type coercion is fine, you have set the schema and you are saying that you want a string instead of a number.
But what should we do if the value is not in the set?
If the serializer trigger an error, the user should catch it somehow
Should we omit the property then? it seems wrong if the user set it with a value

This lead to a lot of configuration and burden to setup up the project if we supp

[2021-07-01 16:26] josh-hemphill commented on #3083
Added a really rough [list of TODOs](https://github.com/fastify/fastify/issues/3083#user-content-todos) to start outlining next steps. Anyone have any input on them or more steps/tasks that should be added?

[2021-07-02 06:52] Eomm commented on #3083
Could you join this PR?
https://github.com/fastify/ajv-compiler/pull/7#issuecomment-857134612

I was thinking the user experience for the standalone feature, so we could add how to import JTD

Right now I was wondering if a:

[code]

is a good solution (considering encapsulation and so on)

[2021-07-02 08:03] zekth commented on #3083
@Eomm to me having something like `ajv/dist/jtd` is not user friendly. I'd use an enum for it like `jsonSchema` `jtd` or similar. The underlying reference for the require is on our side not the user. What if the path changes in a further update?

[2021-07-02 10:32] gclb opened #3174 "2.x application/json put message body FST_ERR_CTP_INVALID_CONTENT_LENGTH"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

2.8.0

### Plugin version

_No response_

### Node.js version

8

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.14.3 (18D42)

### Description

FastifyError [FST_ERR_CTP_INVALID_CONTENT_LENGTH]

[2021-07-02 11:17] jsumners commented on #3174
Please see our long term support document -- https://www.fastify.io/docs/latest/LTS/

Support for the 2.x line ended months ago.

[2021-07-02 11:17] #3174 closed

[2021-07-02 17:12] #2752 closed

[2021-07-02 17:13] jsumners commented on #2752
Our fork of `pre-commit` is now published. We can switch to it. https://www.npmjs.com/package/@fastify/pre-commit

[2021-07-03 10:04] StarpTech commented on #1022
Hi, awesome to land here 😄 I research for hours. I can reproduce it with Node.js 14.17.2 and the latest 16. I use WSL2.

Listen to `::1` fix it but `127.0.0.1` or `localhost` produce a delay for more than 200ms in our servers.
As @jsumners mentioned always request `127.0.0.1` and it works.

[2021-07-04 14:31] actraiser opened #3177 "Upgrading from 3.18.0 to 3.18.1 triggers Typescript errors when registering plugins"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.18.1

### Plugin version

_No response_

### Node.js version

14.17

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7

### Description

When upgrading from Fastify 3.18.0 to 3.18.1 plugins

[2021-07-04 15:13] climba03003 commented on #3177
I can't reproduce the error you have. I use the following snippets for the reproduce the problem.
[code]

You can see no warning or error from the IDE. Please ensure it is not the problem of IDE. Try to restart it to see if it help.
![image](https://user-images.githubusercontent.com/23028015/124390273-57195480-dd1d-11eb-9f7f-e027f97ff81a.png)

[2021-07-04 15:41] actraiser commented on #3177
Thank you for the quick response. Restarting the IDE did not resolve the issue. But thanks for confirming that importing and registering plugins should still work as usual. I will go check what else in my setup might cause the problem when going from 3.18.0 to 3.18.1.

-act

[2021-07-04 16:47] rattrayalex opened #3178 "Suggestion: Incorporate json-schema-to-ts by default"
## 🚀 Feature Proposal

Use the `schema` prop of the the `opts` param to infer the type parameters `Body`, `QueryString`, `Response`, etc, for automagical TS types for request params/responses/bodies with no explicit typing.

## Motivation

Unify and simplify the story of having amazing TS types for requests and responses.
Make the json schemas more useful and easier to verify as correct.

## Examp

[2021-07-04 18:19] mcollina commented on #3178
@fastify/typescript my knowledge of this is not deep enough to check if it's even possible.

[2021-07-04 19:51] zekth commented on #3178
I really like the idea as it will definitely simplifies the code and developer experience of typescript developers without impacting the JS codebase itself.

I have 2 things that comes to my mind:
- We need to ensure that this won't break anything in the current state of the typings. Or it would be only available on next fastify version.
- This uses complete schemas with `additionalProperties`, `t

[2021-07-04 20:15] rdsedmundo commented on #2955
I'll have to play the Devil's advocate a bit here. Tried to use `fastify` and almost gave up at the end but was able to make it work so I'll stick with it for now. It's certainly a good library but its API is nowhere near Express's simplicity.

A few examples:
1) Had to write this to use an in-house logger instead of Pino, because Pino writes directly to `process.stdout` and Jest transformers rely

[2021-07-04 22:03] mcollina commented on #2955
Thanks for your feedback @rdsedmundo - all those points you mentions have fundamental reason on _why_ they are done in that way. They are a few of the key reason Fastify exists.

I would recommend you to open issues in the help repo in case you need help or you would like to debate those further: we should certainly improve the docs and knowing more about your use case is important. Anyway, I'm go

[2021-07-04 22:04] mcollina commented on #3178
I'm +1 if things needs to be added in v4.

[2021-07-05 07:02] gclb commented on #3174
This problem can only be fixed by patch package. There is a disadvantage in this way, and the fastifly version must be fixed, otherwise the patch will automatically fail.

The specific steps are as follows：

1、Install patch
[code]

2、update node_moudle/fastifly/lib/contentTypeParser.js source code
First, locate the row of the `rawbody` function [ reference: v2.8.0 line 120 ]

[code]

3、Run Patch p

[2021-07-05 09:04] climba03003 commented on #3178
I don't know if it is worth doing. From my understanding it only works if you specify the schema with variables.

Following use case is not available.
- `$ref` and `addSchema`
- 3-party json-schema creation tools. e.g. `fluent-json-schema`, `typebox`, etc.
- Response cannot be restricted as it need to compare with `status code`

[2021-07-05 10:28] crispinkoech commented on #3120
Hey @weiliddat, just following up from this issue; so my `onRequest` Hook is triggered when the route does not exist, this is the default behaviour, right? (I haven't attached a `setNotFoundHandler()`)

I'm using this hook to handle some authorization. How would I go around disabling this default behaviour? I'd prefer the application to respond with a 404 for unregistered routes, and a 401 (with i

[2021-07-05 17:43] delvedor commented on #3178
I like the idea of improving the dev experience, especially in pain points like this one.
But what happens if a user wants to change the schema-to-ts library? Is it possible?
Keeping it swappable should be required, like we are doing for the json schema validation.

[2021-07-06 09:32] actraiser commented on #3177
It turned out that the underlying problem was a faulty yarn workspaces setup. Thanks again.

[2021-07-06 09:32] #3177 closed

[2021-07-07 08:50] MoJo2600 opened #3181 "querystring json schema $ref causes an error in the log"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.18.1

### Plugin version

_No response_

### Node.js version

14.16.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

Using `$ref` to reference a shared schema in a reque

[2021-07-07 09:13] climba03003 commented on #3181
I think it is just typo?
You are referring `common.json#/definitions/RequestListQueryParams` and I can only see `RequestListQuerystring` in `common.json`.

[2021-07-07 09:43] MoJo2600 commented on #3181
@climba03003 Thanks for the hint, I double checked and updated the issue above. If I reference a non existing schema fastify will fail with an exception `Failed building the validation schema for XXX due to error can't resolve reference #/definitions/XXX from ...` which makes sense. With the correct schema, the error is as described. So it seems to me like it resolves the reference but the schema

[2021-07-07 09:49] climba03003 commented on #3181
I cannot reproduce the same behavior like yours.
Here is my snippets.
[code]

[2021-07-07 13:18] MoJo2600 commented on #3181
You are right. It seems to be a side effect on my side somewhere. Thank you for your time. I will try to figure out why it is not working in my project.

[2021-07-07 13:18] #3181 closed

[2021-07-07 13:57] dbuccella opened #3182 "reply.server is not defined"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.15.1

### Plugin version

3.0.0

### Node.js version

15.2.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7

### Description

The docs state that reply.sender stores:
The Fastify server

[2021-07-07 14:05] RafaelGSS commented on #3182
Can you create a minimal reproducible example?

[2021-07-07 14:19] dbuccella commented on #3182
The above should be enough. The reply object passed to the handler does not have a .server property.

[2021-07-07 14:35] RafaelGSS commented on #3182
No, the above is not enough. I can't reproduce your issue. Likely you just not decorated the `reply.server`

[2021-07-07 14:39] climba03003 commented on #3182
I have try different method for the handler registration and I cannot reproduce the bug.
`reply.server` works as expected.
Repo Link: https://replit.com/@climba03003/fastify-issue-3182

[2021-07-07 14:40] Eomm commented on #3182
The feature you are talking about has been released in v3.17
https://github.com/fastify/fastify/releases/tag/v3.17.0

[2021-07-07 14:41] climba03003 commented on #3182
Oh, I see. He is on `3.15.1` and need to update for the feature.

[2021-07-07 15:08] dbuccella commented on #3182
That was it. Updated to 3.17.0 and now reply.server is pointing to the instance.
Thanks!

[2021-07-07 15:08] #3182 closed

[2021-07-08 20:20] josh-hemphill commented on #3083
That seems like it would be a good place to put such an option.
Though I still haven't been able to figure out where the lines are between what Fastify natively provides (and what exactly Fastify's AJV dependency is responsible for), what is/should be provided by additional packages like `fastify/ajv-compiler`, and what is/should be on the user to implement.
Another question might be whether we're

[2021-07-09 09:09] jorrit opened #3185 "Package.json not loaded properly since 3.19.0"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.0

### Plugin version

_No response_

### Node.js version

14.17.3

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

19042.1052

### Description

Since fastify 3.19.0 (more specifically, PR #

[2021-07-09 10:08] climba03003 commented on #3185
I have no knowledge on webpack for server-side at all.
@jesec Can you help us to debug this issue?

[2021-07-09 11:15] jorrit commented on #3185
Maybe it's wrong or useless to do that, but #3155 mentioned 'Well. I have no idea about internals of Webpack. This "just happens".', so I thought this scenario was supported.

[2021-07-09 11:28] jesec commented on #3185
I use vercel/ncc, which in turn uses vercel/webpack-asset-relocator-loader. `webpack-asset-relocator-loader` provides a bunch of compatibility enhancements for server-side webpack.

As for the issue, apparently, vanilla webpack is not able to interpret `require` with `path.join(...)`.

Unfortunately, at the moment, I do not think there is a solution that makes everyone's webpack setup happy. The u

[2021-07-09 11:56] arkerone opened #3186 "`fastify.close()` promise is not resolved"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.0

### Plugin version

_No response_

### Node.js version

14.17.3

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.10

### Description

When I catch the SIGINT signal to graceful sh

[2021-07-09 12:01] Eomm commented on #3186
Could you check the network in the browser console if there are pending connections?
Moreover, could you add the logger at debug level and add the tracing?

[2021-07-09 12:10] jsumners commented on #3186
Sounds to me like the browser is using an HTTP keepalive connection whereas `curl` does not.

[2021-07-09 12:27] arkerone commented on #3186
Yes the browser is using an HTTP keepalive connection but with a 5sec timeout, after this delay the socket should be destroyed.

[2021-07-09 12:36] zekth commented on #3186
It's the expected behaviour as i read tests: https://github.com/fastify/fastify/blob/493d2531740152c806aa197bbca592cf395d504b/test/close.test.js#L204-L239

[2021-07-09 13:03] jorrit commented on #3185
Perhaps a release script can replace something along `const VERSION = '$version$';` in a `prepack` script or something like that.

[2021-07-09 16:15] #3185 closed

[2021-07-09 16:15] mcollina commented on #3185
Reverted

[2021-07-09 16:21] jesec commented on #3185
Note that the revert makes my issue appear again. 😕

[2021-07-09 16:23] climba03003 commented on #3185
I think we need a better solution for your use-case. A solution which will not break the existing user.

[2021-07-09 16:30] jesec commented on #3185
This issue is not really break-or-fix, or even there is any existing user for that matter.

I reported the issue #3110 back in May, when clearly webpack bundling does not work (either sticks with an erroneous `package.json` in your `dist/` or leave `version` field to undefined, potentially breaks version detection and codes rely on it).

#3113 was applied, which does not entirely fix the issue, as

[2021-07-09 20:48] mcollina commented on #3185
as said previously, we need tests. Without them it's hard to cover for one use case or the other.

[2021-07-09 20:50] mcollina commented on #3185
I'm totally ok with something that disable the version check if package.json is not available.

[2021-07-09 22:45] nme077 commented on #3026
I will take a look at the issue and create a PR.

[2021-07-10 07:36] mcollina commented on #3186
I would recommend you to use https://github.com/mcollina/close-with-grace for graceful shutdown.

There are almost infinite reasons why your process might not shut down gracefully in a real-world example.

In this case I think it's just the socket is being kept open for some reason. You might want to change the keepalive timeout.

[2021-07-10 07:44] VottusCode opened #3188 "Route Metadata"
## 🚀 Feature Proposal

Introduce something like "metadata" for route definitions. This would allow hooks to know more about the route, eg. if it needs authorization, etc..

## Motivation

During the transition from middleware-based Express to Fastify, I've many times faced this issue. I have some decorators in place, for ex. `req.user`, and it would be nice if that same hook could also send an err

[2021-07-10 08:39] Eomm commented on #3188
You can already do it in the Fastify way.
It means that you can run the `onRequest` hook only when needed, not for every route that doesn't need the hook: it would be a performance pitfall

[code]

[2021-07-10 08:57] VottusCode commented on #3188
Alright, thanks a lot!

[2021-07-10 08:58] #3188 closed

[2021-07-10 13:08] RafaelGSS commented on #3026
Are you still having this error? Looks like it was solved by #3034. And released in https://github.com/fastify/fastify/releases/tag/v3.16.0

[2021-07-11 05:36] jesec commented on #3185
To do that, simply revert #3113.

pre-#3113:

https://github.com/fastify/fastify/blob/06d9a5bfa366f0da6d3343235016d821817ef49a/test/internals/version.test.js#L21

I still recommend `const VERSION` in `fastify.js` approach. That's the most correct and deterministic way (albeit slightly more work for release manager).

[2021-07-12 08:09] jorrit commented on #3185
3.91.1 does not seem to be published to NPM.

Second: might this Stack Overflow comment (I know, I know) be a solution?
https://stackoverflow.com/a/49901658/261747

[2021-07-12 12:16] arkerone commented on #3186
Thanks ! I wanted to make sure this was the normal behavior. I close this issue.

[2021-07-12 12:16] #3186 closed

[2021-07-12 15:56] weiliddat commented on #3120
Hi @crispinkoech. It depends on the plugin context at whatever is handling the route. It could be handlers registered for not found, or error handlers, or some kind of catch-all handler for unregistered routes. If you use another plugin, they could also run fastify.setNotFoundHandler for you (like how fastify-sensible sets setErrorHandler for you).

It might help if you printRoutes and printPlugin

[2021-07-12 16:20] klaustinw opened #3190 "App Error Caching"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.0

### Plugin version

3.0.0

### Node.js version

12.22.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

Windows Subsystem Linux; WSL Debian 10 (Buster)

### Description

Hello, I have en

[2021-07-12 16:36] klaustinw commented on #3190
oh, it seems that I have fixed the problem. I just needed to delete the dist folder and re-run `npm run dev`. Is there any way for fastify to delete the dist folder everytime it refreshes? Thank you

[2021-07-12 17:04] MSE99 commented on #3190
I think this issue should be best moved to `fastify-cli` as a feature request since `fastify` is just an application server and it does not come with a built in CLI.

[2021-07-15 08:15] Fdawgs opened #3193 "Links pointing at v8.x node documentation"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.1

### Plugin version

_No response_

### Node.js version

14.17.3

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

Documentation that have links to the node documentati

[2021-07-15 09:16] climba03003 commented on #3193
I will always prefer latest document.

[2021-07-15 11:09] jsumners commented on #3193
If the linked docs are equivalent in the latest docs then updating the reference is acceptable. Otherwise, we need to determine if our docs are still correct.

[2021-07-15 14:03] dannydulai opened #3194 "typescript binding for printRoutes() doesn't take options"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

Latest

### Plugin version

n/a

### Node.js version

n/a

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

n/a

### Description

the offending code is here:

https://github.com/fastify/fastify/blob

[2021-07-15 14:31] mcollina commented on #3194
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-07-16 08:18] matthyk commented on #3194
Can be closed due to #3196

[2021-07-16 08:29] #3194 closed

[2021-07-17 11:55] zbinlin opened #3202 "[Typescript]: request and reply missing `server` property type define"
In https://github.com/fastify/fastify/pull/3102 add `server` property to req/res properties, but it seems not defining a typescript type for that.

[2021-07-17 12:36] Eomm commented on #3202
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-07-18 07:48] Eomm commented on #3083
I had the chance today to add the jtdintegration here:
https://github.com/fastify/ajv-compiler/pull/7

I have one doubt if someone can help me to dig it: are the ajv/jtd options the same as plain ajv?

The pr is not ready yet because I'm trying to support the standalone mode too
Ideas are appreciated to push forward the PR and speed it up 😄

[2021-07-19 13:11] #3202 closed

[2021-07-21 08:42] mcollina commented on #3101
@kibertoad would you like to take this on as it would require some fundamental rework of the typescript types?

[2021-07-21 08:42] mcollina commented on #3101
Pino v7.0.0-rc.1 just shipped, release notes in https://github.com/pinojs/pino/releases/tag/v7.0.0-rc.1

[2021-07-21 08:56] kibertoad commented on #3101
@mcollina With pleasure. Should I target next?

[2021-07-21 08:58] mcollina commented on #3101
yes exactly!

[2021-07-21 17:39] chrismeyers opened #3207 "Logger warning: "[PINODEP007] Warning: bindings.level is deprecated, use options.level option instead""
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.1

### Plugin version

_No response_

### Node.js version

14.17.3

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

macOS Big Sur 11.4

### Description

The following warning occurs when loggi

[2021-07-21 19:33] #3207 closed

[2021-07-22 10:58] amis-shokoohi opened #3209 "Request hangs when returning in `setErrorHandler`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

v3.19.2

### Plugin version

_No response_

### Node.js version

v16.2.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

This type of code works in route handlers and `setNo

[2021-07-22 11:11] MSE99 commented on #3209
You're using a synchronous error handler (it doesn't return a promise) you need to call `reply.send` or use an async function that returns whatever you wanted to be included in the reply body.

[2021-07-22 12:36] mcollina commented on #3209
Given we support synchronous route handler, we should support synchronous not found handlers. This should be quite simple to add, I've tagged it as good first issue.

[2021-07-23 20:34] ilias-t commented on #3178
Yeah love this idea—I would also be pretty great to do a similar thing with a type definition file generated from an [oas](https://swagger.io/specification/) file using a tool like [openapi-typescript](https://www.npmjs.com/package/openapi-typescript). In theory that could alleviate the need to type each route specifically and fastify would know all the types for each route.

The oas file could be

[2021-07-24 08:14] weiliddat commented on #3209
I'll be working on this in my fork https://github.com/weiliddat/fastify/tree/3209.
Anyone else is welcome to work in parallel/together, and I'll be glad to guide anyone who's new to it and wants to learn :)

[2021-07-24 10:10] amis-shokoohi commented on #3209
@weiliddat I would really like to help out, but I'm a newbie. I don't know where to start. 🤷‍♂️

[2021-07-24 11:04] MSE99 commented on #3209
@amis-shokoohi a good way to start is by writing a failing test that will pass once you finish implementing the feature, you need to locate where in fastify's source code the error handler is invoked (take a look at `lib/reply.js` ).

[2021-07-24 12:47] leoplaw commented on #742
There is also `http-graceful-shutdown` which might fulfil the requirement.
Gracefully shuts down a node.js http server.
can be used with express, koa, fastify, native node http, http2 ... see examples
https://github.com/sebhildebrandt/http-graceful-shutdown

[2021-07-24 15:16] #3209 closed

[2021-07-26 15:40] mcollina commented on #2860
We are missing the 2nd point: error handler of the parent plugin should catch errors throw by the children plugins.

[2021-07-26 17:48] gnarea opened #3215 "Request and response bodies are now included in the logs when unit testing"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.2

### Plugin version

_No response_

### Node.js version

12

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

When using `fastify.inject()` in a test suite, the logs t

[2021-07-26 18:04] climba03003 commented on #3215
Can you provide the `pino` version installed?

[2021-07-26 18:06] gnarea commented on #3215
@climba03003, 6.12.0.

Thanks for looking into this!

[2021-07-26 18:10] climba03003 commented on #3215
Is it possible for you to update `pino` to `6.13.0`? I can only reproduce it for `6.12.0` but not `6.13.0`.

It is because `fastify@3.19.1` move the child options two second parameters. And `6.12.0` do not support second parameter for child options.

[2021-07-26 18:27] gnarea commented on #3215
Thanks @climba03003! That fixed it for me.

[2021-07-26 23:49] sergiz commented on #2860
Not really. That PR addresses only the third section of this issue, I will open PRs that address other parts after 1st of August.

[2021-07-27 03:15] VVGR opened #3216 "Why the latest Fastify reply object cannot be Promise.resolve？"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.2

### Plugin version

latest

### Node.js version

14.17.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7

### Description

This problem has been bothering me for a few days. I can

[2021-07-27 03:50] climba03003 commented on #3216
`reply` object implemented `.then` in `fastify@2.9.0` which will resolve and consume the `stream` right away when `Promise.resolve`.

I assume this syntax is not supported for latest `fastify@2`.

[2021-07-27 06:56] VVGR commented on #3216
@climba03003 Thank you for your answer. My problem should be the reason. Thanks again

[2021-07-27 06:56] #3216 closed

[2021-07-27 15:30] alainrk commented on #2899
@mcollina Doesn't it work like that right now already?
I'm new to using fastify, but isn't it enough to just don't call the `setErrorHandler()` to have the error propagated to the closest above plugin calling the `setErrorHandler()`.

I tried to write a test for it, that passes, but maybe I'm missing something.

[code]

[2021-07-28 13:46] Nazeeh21 commented on #2644
If this issue still persists can I work on this?

[2021-07-28 14:55] NerdtureUs opened #3217 "Invalid character in header content ["location"] error when redirecting to url with unicode encoded character in query parameters"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.2

### Plugin version

_No response_

### Node.js version

14.15.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.4

### Description

The following error is thrown when redirecting to a u

[2021-07-28 15:41] mcollina commented on #2644
go for it!

[2021-07-28 19:09] Nazeeh21 commented on #2644
I checked the [contributing guidelines](https://github.com/fastify/fastify/blob/main/CONTRIBUTING.md), I have a little doubt. Do I need to fork this repo or I will get contributing access to this repo?

[2021-07-28 19:11] jsumners commented on #2644
Please follow the traditional GitHub workflow of:

1. Forking
2. Creating a feature branch with your changes
3. Issuing a pull request back upstream from your feature branch

[2021-07-28 19:50] #2994 closed

[2021-07-29 10:22] gugu commented on #3217
I've migrated my project from Koa to fastify and had the same issue. I've checked koa source code and they use encodeurl module before setting `Location` header, so I've updated my code from `reply.redirect(url)` to

[code]

It would be nice for fastify to use encodeurl module internally

[2021-07-29 11:02] mcollina commented on #3217
It would be a great idea! Would you like to send a PR against the `next` branch?

[2021-07-29 12:45] gugu commented on #3217
#3220

[2021-07-29 13:07] Nazeeh21 commented on #2644
I have added the code for handling *caseInsensitive* in `queryStrings`.
While running the tests, I am passing all the tests but getting `exit code 1`  as below.

![image](https://user-images.githubusercontent.com/56908732/127497255-6676fd49-a1ae-4375-aba1-9cae863eeea0.png)
Will you please help me with this error.

[2021-07-29 13:33] jsumners commented on #2644
@Nazeeh21 what is unclear about the error? The coverage requirements are not met.

Also, the desired "fix" for this issue is a documentation change, not a code change:

https://github.com/fastify/fastify/issues/2644#issuecomment-756778461

[2021-07-29 13:48] Nazeeh21 commented on #2644
There is a misunderstanding on my side. Sorry for that. I'll soon submit a PR with the required fix in the documentation.

[2021-07-29 17:04] gugu commented on #3217
@NerdtureUs
[code]

[2021-07-29 17:30] NerdtureUs commented on #3217
@mcollina & @gugu thanks both for jumping on this to both get a long term fix, but also provide a short term workaround!

[2021-07-30 09:49] #2993 closed

[2021-08-02 03:00] Shinyaigeek commented on #3193
I will also prefer fastify's docs linked to the latest node.js’s docs from the point of view of one library user’s position. (saving the time and effort of updating docs is also important!)

If it is ok, Shall I work on this updating docs?

[2021-08-02 06:35] mcollina commented on #3193
I'm to update all references to v14.x. I don't think it should be without version.

Go ahead and make the change!

[2021-08-03 09:35] #3193 closed

[2021-08-06 11:21] stfullstack opened #3236 "Async validation"
Hi. Really enjoying working with this framework.

I am unable to run async validations. This seems quite fundamental to a framework (i.e registration checking if email is unique for eg.)

[2021-08-06 12:09] zekth commented on #3236
Can you share a reproductible example of what you re trying to do?

[2021-08-06 12:53] mcollina commented on #3236
Asynchronous data validation is an anti-pattern: don't do it.

Synchronous data validation is needed to check if the format of the data is correct. Asynchronous data validation perform some logic around said data to validate that the user could perform a certain action.
This is normally done inside Fastify Hooks, not data validation.

[2021-08-06 13:48] stfullstack commented on #3236
I wish to check if a) empty email, invalid email or if the email already exists in an account. The response must be returned as an array of errors for the frontend. Could you please provide an example of how this would work without using async validation and using hooks?

Thanks

[2021-08-06 14:24] zekth commented on #3236
To do this you can use a proper json schema check for empty email / invalid email see: https://json-schema.org/understanding-json-schema/reference/string.html#email-addresses

Regarding the check if the email already exists you can do it in your handler.

[2021-08-06 14:33] stfullstack commented on #3236
Thanks. Unfortunately this won't return all the errors in an array, instead I will get the errors from the schema validation and then a separate error from inside the handler for any async errors.

This would also mean that if multiple fields have to do async validation in the handler the error messages on the response are going to be unpredictable.

Consider the following example:

A user creates

[2021-08-06 14:43] climba03003 commented on #3236
You can enable `ajv` to return all errors.
https://ajv.js.org/options.html#allerrors

[2021-08-06 15:00] stfullstack commented on #3236
@climba03003 this won't return the async errors though

[2021-08-06 15:19] climba03003 commented on #3236
Then, I suggest you to use `preValidation` hooks, for checking all the `async validation` if field exist then store it in `request.<name it yourself>`
Afterward, implement `customErrorHandler` to collection `err` and `request.<name it yourself>` merge it together then return it.

[2021-08-06 15:58] stfullstack commented on #3236
Surely patching things together in a separate handler isn't the best practice approach is it?

What I'm asking for here is very common place I think?

[2021-08-06 16:04] climba03003 commented on #3236
As the `validation` stage is internal process and you cannot customize it with sync or async. You can only seperate it into two stage if you want the internal validation stage process.

If you can do it all your own, pass a custom validator compiler which always return `true`. Do all your works in any other hooks after `preParsing`.

[2021-08-06 16:19] climba03003 commented on #3236
For your approach, `ajv` already check if data structure is correct or not. And it seems to me you will process the data no matter is data structure is correct or not which means you will need to check the data twice. This is strange to me.

For example,
when `ajv` already check the email is wrong. Your own function have no idea which field is invalid. You need to either analysis the `ajv` error o

[2021-08-06 17:34] stfullstack commented on #3236
Thanks for assisting. I think I have something here that can work for me. Small side note: I'm using a custom validation library called `fastest-validator` instead of the standard `ajv`. Can you see any flaws in this approach I have thrown together for this message:

[code]

[2021-08-08 03:00] trey-m commented on #3077
Great idea. Are you currently working on this?

[2021-08-08 08:34] zekth commented on #3036
Can we close this?

[2021-08-08 08:48] #3036 closed

[2021-08-08 09:18] rubiin commented on #3077
not working but would like some help though. The above repo has plugin for hapijs and since fastify shares some common hapi sytle syntax as well, i was wondering if we could translate the plugin for fastify @mcollina

[2021-08-08 17:54] zekth commented on #2991
Closing the issue has the cause seems to have been found.

[2021-08-08 17:54] #2991 closed

[2021-08-09 13:34] mcollina commented on #3101
@kibertoad any updates on this?

[2021-08-09 13:35] mcollina commented on #3083
@Eomm any updates on this issue? We should start working on the v4 release.

[2021-08-09 13:36] mcollina commented on #1019
Closing for no activity. In case you think this is still relevant feel free to reopen.

[2021-08-09 13:36] #1019 closed

[2021-08-09 13:37] kibertoad commented on #3101
@mcollina yeah, will work on it this week, it was a pre-vacation crunch before. Sorry for the delay.

[2021-08-09 13:41] mcollina commented on #3101
No worries, just a status check

[2021-08-09 17:41] Eomm commented on #3083
I have marked as ready for reviewing the PR https://github.com/fastify/ajv-compiler/pull/7

It would be really helpful if someone (@josh-hemphill ?) would like to send some real use cases to test

[2021-08-09 17:48] velopert opened #3244 "Fastify instance is any when imported using require() in VS Code"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.20.1

### Plugin version

_No response_

### Node.js version

14.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.3

### Description

I am planning to write a Fastify tutorial for beginners.

[2021-08-09 19:17] ilias-t opened #3245 "Server hangs with POST req that include `Content-Length` header greater than actual content length"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.1

### Plugin version

_No response_

### Node.js version

v14.15.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.4

### Description

Fastify hangs for incoming POST requests that includ

[2021-08-09 19:18] #2813 closed

[2021-08-09 19:56] ilias-t commented on #3245
Seems that setting `connectionTimeout` mostly solves this issue as the server doesn't hang indefinitely—closing

[2021-08-09 19:56] #3245 closed

[2021-08-10 02:05] climba03003 commented on #3244
Unless TypeScript provide a better exportation system. The following will conflict with each another.

[code]

We can not fulfill all the 3 aspect of user as it is the known limitation of TypeScript exportation.

[2021-08-10 04:36] velopert commented on #3244
Cool!
Thanks for reply.

[2021-08-10 04:36] #3244 closed

[2021-08-10 05:26] Nazeeh21 commented on #3010
Can I work on this issue?

[2021-08-10 09:16] mcollina commented on #3010
Sure, use https://github.com/fastify/fastify/pull/3055 as the basis and solve the review comment.

[2021-08-11 11:00] gugu opened #3251 "Socket leakage on tls handshake timeout in https protocol"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.2

### Plugin version

3.0.0

### Node.js version

16.6.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

alpine-3.13.5

### Description

I've switched my code from koa to fastify on a single

[2021-08-11 13:16] mcollina commented on #3251
You will need to set the `keepAliveTimeout` as something higher than 0 - that will definitely close the sockets.

[2021-08-11 15:01] gugu commented on #3251
Yes, I agree it is incorrect and I've changed it to default 5000, but it did not help - I add Connection: close to every response and there is general timeout of 10000

[2021-08-11 20:28] mcollina commented on #3251
I don't think Fastify or Node.js are doing anything with the `Connection: close` header.

Could you upload a set of scripts to completely reproduce the problem.

[2021-08-12 08:11] deni5n opened #3252 "The res parameter in the fastify 'onRequest' hook is not an class methods of Node.js ServerResponse"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.2

### Plugin version

_No response_

### Node.js version

16.6.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

The documentation at the link "https://www.fastify.io

[2021-08-12 08:16] zekth commented on #3252
You're checking the documentation of the version `1.13` and using version `3.19.2`

[2021-08-12 08:18] #3252 closed

[2021-08-12 11:11] gugu commented on #3251
Found the source of the leakage. For some reason https server does not close client connections when timeout is reached, just emits clientError event.

Here is an example:

[code]
then:

`nc 127.0.0.1 12121` and `nc 127.0.0.1 12122` in different shells and do nothing

`lsof`:
[code]

`lsof` in 10 seconds:
[code]